[2018-04-01 20:29] calvinfroedge commented on #1320
I agree that no conclusion has been reached. Need @wmbutler and @svk31 to confirm final approach.

@smokenetwork I have been working on the UI since last summer and we have always added time to estimates to adjust for overage. This has not been a problem up to now so that's simply what I'm accustomed to. My point was just that if there was no consensus on what the end result should be this issue s

[2018-04-01 20:37] startailcoon commented on #1275
I plan on having this done for 180415. Sorry for the delay and missed target.

[2018-04-01 20:41] startailcoon commented on #1207
I'm sorry for the missed target. I still intend to do this and will notify if I can't complete this in a few days as I agree on the necessity of this to make testing easier.

[2018-04-01 20:42] startailcoon commented on #1119
Do we have a UI proposal?

[2018-04-01 20:57] abitmore commented on #1276
I'll help contact GDEX.

[2018-04-01 21:33] startailcoon commented on #1244
As discussed in the chat, I will work towards the following for #1275

We should have a standard way of allowing gateways in, while they themselves maintain them. What we do now is put the current ones in a way that we decided to move to, but could be risky for us since we work with outside APIs. I will continue working towards finding a unison way of adding new ones.

As long as they all use roug

[2018-04-01 22:57] happyconcepts commented on #1367
might help ....
https://github.com/electron-userland/electron-builder/issues/2269#issuecomment-342168989

[2018-04-01 23:37] landry314 opened #1378 "Error When Trying to Use Max Collateral in 20180401"
Trying to use the "Use Max Collateral" feature for bitCNY in the newest version 20180401 causes a debt change of -0.0001 bitCNY which isn't payable if it is locked up in an open order or there is no balance of bitCNY remaining.

Manual adjustment of -0.0001 bitCNY is necessary to fix the error and make the debt change go through.

I am having trouble reproducing this now because I would have to ch

[2018-04-02 00:15] wmbutler opened #1379 "[4][6]Market Picker"
@ahdigital we have an opportunity to create a market picker that's more direct than the existing method. I find that the most intuitive place for me to go is to the upper left corner on the exchange.

<img width="201" alt="screen shot 2018-04-01 at 2 56 53 pm" src="https://user-images.githubusercontent.com/1254810/38176963-3b2466b6-35be-11e8-98f0-4730950b4768.png">

Seems to me it would make sense

[2018-04-02 00:25] wmbutler commented on #1376
@svk31 ?

[2018-04-02 00:25] wmbutler commented on #1190
Still has nothing to do with this issue.

[2018-04-02 00:28] calvinfroedge commented on #1320
Ok, so...

1) No assets shown initially

2) Helper text

3) Show all assets on search

[2018-04-02 00:30] wmbutler commented on #1320
Show top 20 assets matching search regex on search. I think this will work to keep the list from being sluggish. Debounce of maybe 200ms?

[2018-04-02 00:33] wmbutler opened #1380 "[1] Messages after socket disconnect"
- [ ] Either stop checking the get_ticker Array or reconnect to the socket.

[code]

[2018-04-02 02:18] gibbsfromncis commented on #1292
It looks like not so easy task. But if somebody want to take it I'm OK - just let me know. If not - I'll find some free time to work on it

[2018-04-02 02:20] gibbsfromncis commented on #1375
It would be nice to fix field's "jumping" when user clicks on it too 😃

[2018-04-02 03:03] litepresence commented on #1223
Lay users shouldn't even be presented with node connectivity issue.   There is no need for the common trader to have access and it simply complicates connectivity and ads undue burden and mental overhead for noobs.    The solution needn't be to make changing nodes more accessible; the nodes issue should  should be handled as a background process by the UI as an stochastic AI function.   Further, t

[2018-04-02 04:41] kenneth opened #1381 "why logo disappear?"
please check

[2018-04-02 06:46] svk31 commented on #1381
Duplicate of #1374

[2018-04-02 06:46] #1381 closed

[2018-04-02 06:50] #1373 closed

[2018-04-02 07:09] #1374 closed

[2018-04-02 07:09] #1376 closed

[2018-04-02 07:24] svk31 commented on #1320
Like I mentioned in another comment the asset search API is very limited, unless we have all assets cached locally which is unlikely. It's a very literal search, no regex capability, so searching `TC` will not give you `BTC`, nor will searching `BTC` give you `OPEN.BTC` or `RUDEX.BTC`. That's another reason why I originally decided to load the OPEN.X assets by default, since searching BTC in that

[2018-04-02 11:01] startailcoon commented on #1119
@wmbutler you've assigned me and ahdigital. Is your intention that we work on this?

I need a UI proposal first, and there have been a few questions previously that I need sorted before this is worked on. It will require some information so we don't display something wrong.

[2018-04-02 12:04] startailcoon commented on #1276
As a follow-up on what GDEX is doing today.

Today GDEX handles returned data from their APIs with the following code, that transforms it into an array like the following. This does not comply with how we handle gateway assets otherwise.

https://github.com/bitshares/bitshares-ui/blob/7a2420f858ed83a1e26bee734f0f7dee0b25af49/app/components/DepositWithdraw/gdex/GdexGateway.jsx#L76

[code]

[2018-04-02 12:08] startailcoon commented on #1379
Love this proposal, will make it much easier to switch markets.

[2018-04-02 12:14] startailcoon commented on #1372
This was not happening when I created this. It needs some debugging from a socket point of view.

Agreed

Not sure I understand your statement. You activate a node by clicking the arrows, as detailed in the UI work I was acting upon in #1223

[2018-04-02 19:20] startailcoon commented on #1244
This issue is now completed as GatewayAction calls are now made in App.jsx on start. The rest of the application now uses the cache from `GatewayStore.getState().backedCoins`

To update the gateway status you should now call `updateGatewayBackers()`
https://github.com/bitshares/bitshares-ui/blob/05378b219bd0cf957f2c4b43ab4b392869b02c9e/app/lib/common/gatewayUtils.js#L53

[2018-04-02 19:20] #1244 closed

[2018-04-02 19:22] startailcoon commented on #1275
PR Submitted to include Winex Support in Deposit/Withdraw Modal.

[2018-04-02 19:32] startailcoon opened #1384 "[5][startailcoon] Make adding new Gateways possible with simple configuration file"
As we now have the new Deposit/Withdraw Modal in place, working as expected, just smaller UI kinks left, we should start making adding new gateways easier and supply a how-to for doing so.

I've initialized the work in PR #1383, with the addition of gateways.js
https://github.com/bitshares/bitshares-ui/blob/05378b219bd0cf957f2c4b43ab4b392869b02c9e/app/lib/common/gateways.js#L8

This issue should b

[2018-04-02 19:35] startailcoon opened #1385 "Add typeahead to Buy Modal"
The Buy Modal should include a way to search for assets to buy. Today you can only access it in your dashboard for assets you already own, or buy the market that have an asset that can be bought.

It could also be possible to access it trough the menu, like the other modals.

[2018-04-02 19:36] #1275 closed

[2018-04-02 19:37] sschiessl-bcp commented on #1372
The hide button also is a text button. I would suggest either having both text buttons, of both icon buttons.

I would prefer both text buttons, but if it should be an icon: is there a symbol that looks like the one for the connected node just with a broken chain?

[2018-04-02 19:39] sschiessl-bcp opened #1386 "Personal node appears on top"
I get this strange behavior that a personal node appears on top of everything, can anyone reproduce?

![grafik](https://user-images.githubusercontent.com/33128181/38212524-4e960dac-36be-11e8-9029-fda2c6f1152b.png)

[2018-04-02 19:43] sschiessl-bcp commented on #1386
Probably a caching issue ... the above was Firefox.

This is in chrome
![grafik](https://user-images.githubusercontent.com/33128181/38212651-cf9fec92-36be-11e8-8127-c663ec50e224.png)

[2018-04-02 21:06] startailcoon commented on #1375
I'll take this. I agree that the typeahead shouldn't view your last searched input. I'll if I can fix that jumping as well.

[2018-04-02 21:32] startailcoon commented on #1320
When I did some work on the Asset page on the Explorer section I came across the very same issue.

I then opened an issue on the core section addressing it.

https://github.com/bitshares/bitshares-core/issues/688

[2018-04-02 23:24] #1386 closed

[2018-04-02 23:26] wmbutler commented on #1372
Yes, my bad. I guess I think that the switcher icon is not obvious enough.

[2018-04-02 23:27] wmbutler commented on #1385
Low priority. Let's hold off on grooming this one.

[2018-04-02 23:27] dot5enko commented on #1363
think its quite impossible without hardcoding a global list of such full names for each asset

[2018-04-02 23:28] wmbutler commented on #1363
It's kinda crazy that the URI scheme doesn't just use the abbreviation for the coin.

[2018-04-02 23:33] wmbutler commented on #1119
Agreed. I was hoping @ahdigital would pick it up when he has some time and you would work off his ideation.

[2018-04-03 02:18] landry314 opened #1387 "Buying Margin Calls NOT Also Buying Lower Asks First"
If there is a yellow margin call and asks lower than the price of the margin call then clicking on the margin call and buying it will not buy the lower asks first and then use the rest of the capital to buy the margin call. It just buys the margin call and ignores lower asks.

This is not what is intended, is it? When you click on the order book to choose the price it is suppose to buy the lowest

[2018-04-03 05:21] sschiessl-bcp commented on #1074
Can also fix #1353

I'd like to pick this up if you deem it worthwile @wmbutler .

My suggestion:
Display initial loading screen until its actually ready, and then a loading overlay for the target page until connection is established / background work is done. I could see something like ConnectionActions that centralize the logic and displays connection information via a LoadingIndicator overlay t

[2018-04-03 05:24] sschiessl-bcp commented on #905
Would it be possible to enforce this @wmbutler ? Not everything should be on a volunteer pick what you like basis.

[2018-04-03 05:32] clockworkgr commented on #905
Is the UDF server a requirement? or does it simply make things "easier" in terms of calls and packaging the data for the TV library?

[2018-04-03 05:34] clockworkgr commented on #905
I also second stefan's suggestion to somehow force-assign this if possible. It's been on hold too long.

[2018-04-03 06:34] svk31 commented on #1380
Isn't this a duplicate of #1346 ?

[2018-04-03 06:45] sschiessl-bcp opened #1388 "Automatic switching bug"
When I toggle automatic switching on or off
![image](https://user-images.githubusercontent.com/33128181/38233586-4d05b372-371b-11e8-8bfa-e713fb9254f7.png)
 I often get the following error
![image](https://user-images.githubusercontent.com/33128181/38233546-2aa8f640-371b-11e8-83a4-8bbe9700a0ec.png)

Anyone else getting that?

[2018-04-03 06:52] sschiessl-bcp commented on #1388
I have no account created yet, so AccountStore.getState().currentAccount in BrowserNotificationsContainer is null.

[2018-04-03 07:02] svk31 opened #1389 "[1] Unify and cleanup deposit address caches"
We have multiple files and use different storage keys in different contexts, these should me merged and harmonized.

[2018-04-03 07:07] ahdigital commented on #1372
The broken chain icon should be used for 'reconnect' as shown in #1223.

It's a shame about the switch icons in the pop up. I think they're cleaner in style than having a button with text, especially since the colors denote the connection strength.

If we have to use buttons, I'd suggest using the smallest size and the button text be 'Use'.  On the node list page the 'Hide' text could be placed in

[2018-04-03 07:07] svk31 commented on #1388
I saw this a few times too but thought I already fixed it. Would be helpful if you could click where it says BrowserNotifications.jsx:62 and show me the line where that takes you.

[2018-04-03 07:29] sschiessl-bcp commented on #1372
I will make a suggestion on the icons

[2018-04-03 07:50] sschiessl-bcp commented on #1372
Here are two, but the arrow is probably not necessary (but it was my first draft so I wanted to show)
![image](https://user-images.githubusercontent.com/33128181/38236374-3ecc7e5e-3724-11e8-81bb-e29081665fb7.png)

Here without
![image](https://user-images.githubusercontent.com/33128181/38236407-57bf1908-3724-11e8-9b08-a950c6a28fc4.png)

Creating new icons was very straightforward, I like that they

[2018-04-03 07:51] abitmore commented on #1363
Please be aware that QR codes showing in deposit page are meant to be consumed by 3rd-party software, but not our own. That said, we need to be compatible with wallet software of other coins e.g. BTC/ETH when showing QR codes, otherwise the QR codes are useless. That means full URI's don't always work, at least, it's not our job to define/invent URI schema for other coins. What we need to do, is t

[2018-04-03 08:09] clockworkgr commented on #1363
I think this issue possibly ties into this: https://github.com/bitshares/bitshares-ui/issues/775

Offering a QR code that works with ALL possible mobile clients will only be possible if we set up a unified deep-linking scheme for the wallet that BOTH the web wallet and a possible future mobile SDK support. So that mobile app providers can include the SDK libs into their apps and handle those deepl

[2018-04-03 08:17] svk31 commented on #1367
That was less complicated than it seemed: the icon.png image was being placed in a 0x0 icon folder which is not indexed by linux, so the icon was not found. And since there was an icon.png included, electron-builder did not auto-generate the proper icons from the Mac icon.icns file.

Simply deleting the icon.png file fixed the issue in the end after lots of digging..

[2018-04-03 08:18] #1367 closed

[2018-04-03 08:40] clockworkgr commented on #1263
Don't think it needs a separate control to select.

Assuming you have some sort of gauge/number picker with up/down controls, if you start at current price, whether you want above or below is decided by the direction in which you place the alert.

Assume BTC price is at 10000USD...if you move the alert threshold to 11000, it's obviously an above alert (below would trigger immediately).

Same goes

[2018-04-03 08:58] svk31 commented on #905
The UDF server is a requirement. I'll try to get started on this today or tomorrow.

[2018-04-03 08:58] clockworkgr commented on #1074
Not sure how much work it would involve, but possibly implement a "Status" mechanism (similar to a logging engine) where a singleton-type status message would be updated when certain promises are created and displayed whenever the loading (or 3 dot) modal is visible?

So you get "Loading" along with "Connecting to node xxx" -> "Getting account data" -> "Subscribing to markets" -> "Preparing interf

[2018-04-03 09:02] sschiessl-bcp commented on #1372
Here with Icon replacement for Hide / Show
![image](https://user-images.githubusercontent.com/33128181/38239927-72aba47a-372e-11e8-9e52-9ad2819ebe1e.png)

![image](https://user-images.githubusercontent.com/33128181/38239948-7cb3fe9a-372e-11e8-9df9-199f7a838bf3.png)

Question:
Connect button with or without arrow?
Are the eyes striked on hidden or available page?

[2018-04-03 09:03] clockworkgr commented on #1385
Should probably optimize the asset searching calls before tackling this one. As it stands , typeahead in assets (for example here: https://wallet.bitshares.org/#/explorer/assets) becomes very unresponsive.

[2018-04-03 09:12] clockworkgr commented on #895
One of the main issues I have with unifying the 2 types is the fact that a "cloud" login is not recoverable via brain key.

The "proper" way to handle this in my humble opinion (which is a lot of work unfortunately) is to basically have Active authority keys generated via password (similar to the cloud mechanism) and Owner authority keys  via brain-key.

That way, local wallet works as before (sin

[2018-04-03 09:12] sschiessl-bcp commented on #1388
Its in line 42, I added that it also checks if props.account exists

[2018-04-03 09:13] sschiessl-bcp commented on #1372
@startailcoon I hope it was ok I jumped in here

[2018-04-03 09:41] startailcoon commented on #1119
Cool, all good

[2018-04-03 09:53] abitmore opened #1390 "[.5] Test and add apasia.tech API nodes"
As pinned in https://t.me/Bitshares_Traders:

wss://new-york.bitshares.apasia.tech/ws
wss://us-la.bitshares.apasia.tech/ws
wss://atlanta.bitshares.apasia.tech/ws
wss://dallas.bitshares.apasia.tech/ws
wss://miami.bitshares.apasia.tech/ws

[2018-04-03 09:56] abitmore opened #1391 "[.5] Test and add API nodes provided by witnesses"
According to https://bitsharestalk.org/index.php?topic=23737.msg317500#msg317500, the new ones include:

witness.yao：wss://kimziv.com/ws .   Singapore
xn-delegate:  wss://api.btsgo.net/ws Singapore
magicwallet.witness:  wss://bts.open.icowallet.net/ws Hangzhou China
delegate-zhaomu: wss://blockzms.xyz/ws USA
crazybit:  wss://crazybit.online China
witness.hiblockchain: wss://api.bts.ai Beijing Chin

[2018-04-03 10:18] ahdigital commented on #1372
My original iconography choice was intended to compliment the terminology 'switch nodes'. Also, we use the same icon on the exchange, to *switch* paired assets.

I'm not convinced the connect / disconnect icons (without arrow) to switch nodes will make complete sense to users. In the popup for example, it looks like the buttons will cause a disconnect.. ranging in severity.

Rather than stacking t

[2018-04-03 10:25] sschiessl-bcp commented on #1372
Ah I see, I just saw the reconnect icon there.

My idea was to have a consistent look and feel for "connect to" and "connected" node. I see the current icon more as flipping which I personally found not appropriate.  But I am happy to put any icons there or leave the current one, I can also do the svg if you point me in the right direction or with a mockup

[2018-04-03 10:32] svk31 commented on #1074
Loading appears until the React app itself is loaded, which is the time it takes to load app.js and then initialize the app. That means there's no way to remove it with anything related to the connection status or anything at all that's part of the GUI.

It's a simple CSS loading indicator included directly in index.html here: https://github.com/bitshares/bitshares-ui/blob/staging/app/assets/index

[2018-04-03 10:35] svk31 commented on #1388
Oh of course, I didn't notice that it's also doing `this.props.account.get`, not just `nextProps.account.get`

[2018-04-03 10:36] #1388 closed

[2018-04-03 10:38] clockworkgr commented on #1074
Ok. I was not referring simply to the Loading indicator but also the 3 dots and the black screen between loading disappearing and everything fully ready for use. i.e. have a Loading indicator post-react loading until everything is set-up...

In the example above it could be Loading - Initialising App as a first step prior to the localised status changes mentioned above.

Just throwing some ideas o

[2018-04-03 11:02] svk31 commented on #1074
Just to be clear I was referring to the "Loading..." that shows up first thing when you open the website.

[2018-04-03 12:24] abitmore commented on #1390
More nodes: https://steemit.com/bitshares/@apasia.tech/update-bitshares-massive-infrastructure-upgrade-public-demo-available-now

[2018-04-03 12:32] grctest opened #1392 "[2] Failed transaction prompt after successful send modal tx?"
![image](https://user-images.githubusercontent.com/15861527/38249246-ed932ac8-3742-11e8-94ac-031aa53874bc.png)

Sent tokens from account A to account B using the new send modal, tokens moved successfully, switched to account B (within the same browser tab, using the account drop down menu) then shortly there after the above prompt shows.

Proof tx worked:
![image](https://user-images.githubusercon

[2018-04-03 12:42] grctest commented on #1379
How would this work for smartcoins? They have a static issuer and there generally aren't duplicate smartcoins (unlike UIA), however perhaps in the future we may see bitCNY and a competitor CNY smartcoin without fees perhaps?

[2018-04-03 13:51] sschiessl-bcp commented on #1372
I am almost done, just need feedback on the icons.

I have also found a bugs: hidden personal nodes have disappeared. are now still displayed in personal, but as hidden

[2018-04-03 14:08] ryanRfox commented on #1391
PR #1393 for fox: wss://api.bts.network East Cost, USA

[2018-04-03 14:24] wmbutler commented on #895
I think this is the correct path forward.

[2018-04-03 14:40] abitmore commented on #1387
https://github.com/bitshares/bsips/blob/master/bsip-0033.md

[2018-04-03 14:41] #1387 closed

[2018-04-03 14:47] sschiessl-bcp commented on #1391
Is there a standard testing method for nodes?

Latency checks, stability checks, https checks, ... ?

[2018-04-03 14:48] ahdigital commented on #1360
The idea for a dummy account makes sense to me. I don't see why not, but would it play nice with the proposal to consolodate login, #895? which I've summarized in my most recent post.

[2018-04-03 14:58] sschiessl-bcp commented on #1390
Do they want to be added to the reference wallet?

[2018-04-03 15:01] clockworkgr commented on #895
And true, @ahdigital is right...my comments are mostly about initial registration and were mostly in response to the original issue post rather than the login path discussed later (which is fine regardless of exact registration mechanism)

Apologies for the confusion

[2018-04-03 15:09] jademont commented on #1391
Update:

witness : location : API

in.abit :USA：wss://api.bts.mobi/ws

witness.yao : Singapore://kimziv.com/ws

xn-delegate Singapore：wss://api.btsgo.net/ws

crazybit : China : wss://crazybit.online

winex.witness : China: wss://ws.winex.pro

delegate.freedom :China： wss://freedom.bts123.cc:15138

witness.hiblockchain：China: wss://api.bts.ai

witness.still : Hongkong: wss://bitshares.cyberit.io

a

[2018-04-03 16:45] svk31 commented on #895
I like the latest summary from @ahdigital .

About the backups, the way we check whether a backup is needed is we store a timestamp of the last backup, if there isn't such a timestamp or the timestamp is old we say a backup is required.

[2018-04-03 18:48] sschiessl-bcp opened #1395 "[1] Issue asset is broken"
Didn't work for someone, see here

https://bitsharestalk.org/index.php?topic=26240.msg317552;topicseen#msg317552

[2018-04-03 19:12] mattbeckman opened #1396 "[1] Display date and time rather than relative time in the activity Tab"
The timestamp isn't displayed via tooltip when hovering over the simplified "Time" field in account Activity. The markup includes a data-tip attribute with the timestamp, but it is not displayed.

![bts-20180403](https://user-images.githubusercontent.com/928380/38270384-1cace2d2-3738-11e8-98d0-dfa054a02f43.gif)

[2018-04-03 19:38] wmbutler commented on #1396
Can we alter this issue to change the time to an actual date and time rather than a relative time?

[2018-04-03 19:43] wmbutler commented on #1395
Agreed. It appears to be broken.

![issue](https://user-images.githubusercontent.com/1254810/38271899-4f373166-374d-11e8-9449-71bbf79dff90.gif)

[2018-04-03 19:44] wmbutler commented on #895
@svk31 Should we define 'old' as > 60 days?

[2018-04-03 19:45] wmbutler commented on #895
I think this is groomed and ready for work. Assigned 10 hours.

[2018-04-03 20:10] wmbutler commented on #1391
I think @litepresence has an interesting test script.

[2018-04-03 20:35] wmbutler commented on #1360
What if we push this to 180501?

[2018-04-03 20:37] wmbutler commented on #1379
The issuer is still the issuer. I don't see anything that wold prevent this working with all coins.

[2018-04-03 20:40] wmbutler commented on #1392
This will be hard to reproduce but I will allocate time for testing per your description.

[2018-04-03 21:03] abitmore commented on #1396
@wmbutler I agree.

[2018-04-03 21:57] ahdigital commented on #1379
Happy to be added to this.

[2018-04-03 22:07] TBAPI-0KA commented on #984
@gibbsfromncis asked me to leave my Bitshares account here. It's absolutely the same as my Github nickname - TBAPI-0KA

[2018-04-03 23:43] wmbutler commented on #1363
We could ask gateway providers to include `fullAssetName` on the `coin` api. This would allow us to build the URI in a responsible manner. We are currently displaying:

![screen shot 2018-04-03 at 6 41 27 pm](https://user-images.githubusercontent.com/1254810/38281124-af42dda0-376e-11e8-863f-bdf29d420d2a.png)

In this case, the full URI only allows us to include the amount. Scratching my head tryin

[2018-04-03 23:55] wmbutler commented on #1363
Maybe we should limit the scope on this to a subset of common assets so we can have forward progress without causing undue harm. We can support the following for the time being and ease into a more comprehensive list in the future.

- BTC `bitcoin:<address>[?amount=<amount>][?label=<label>][?message=<message>]`
- LTC https://electrum-ltc.org/litecoin_URIs.html
- ETH `ethereum:<address>[?from=<send

[2018-04-03 23:56] wmbutler commented on #1380
It's similar but these are different error messages.

[2018-04-04 00:24] wmbutler opened #1397 "[3][happyconcepts] Order Expiration Date bug"
OSX, latest, Chrome Browser

## Problem

It appears that the order expiration is off by the timezone difference. In This case, it is 7:18 pm. I chose a 12 hour expiration. The confirmation modal displays 12:18 AM CDT.

![houra](https://user-images.githubusercontent.com/1254810/38282202-8372d0c6-3774-11e8-93f4-1e306864a4f9.gif)

## Expected Behavior

My current time + offset chosen = Time displayed

[2018-04-04 04:08] startailcoon commented on #1392
I can confirm this. When issuing market orders with one of my accounts I get this a few seconds after the market views my buy order in the list. 3 out of 3 buy orders did this. I was on the same account during this time.

[2018-04-04 07:46] MarkoPaasila opened #1398 "AGRS address not valid in withdraw modal"
Trying to withdraw OPEN.AGRS from the current GUI (2.0.180402), the modal doesn't accept a correct BTC address. AGRS is an Omnilayer asset, which use BTC addresses on the BTC blockchain. Openledger.io interface accepts a correct address.

[2018-04-04 08:00] elmato commented on #1391
PR https://github.com/bitshares/bitshares-ui/pull/1399 for **elmato**
[wss://api.btsxchng.com](url)
_Global (Asia Pacific (Singapore) / US East (N. Virginia) / EU (London))_

[2018-04-04 09:35] svk31 commented on #1395
Can you please just describe the issue and copy paste or take a screenshot of the console log error messages? These gifs are more frustrating to watch than helpful.

[2018-04-04 09:50] svk31 commented on #1395
@startailcoon It seems to be caused by recent changes in AccountSelector, can you take it?

[2018-04-04 09:58] svk31 commented on #1392
@sschiessl-bcp I'm guessing this is related to the WalletUnlockModal changes you made

[2018-04-04 11:11] gibbsfromncis commented on #1397
@wmbutler what is your timezone?

[2018-04-04 14:41] landry314 commented on #1387
not clear if this means wontfix or that it is under discussion for the core or that is in the process of being changed.

[2018-04-04 14:56] arminnaderi opened #1401 "Squeeze price sometimes displaying slightly higher than expected"
**Environment**

BTS/CNY Trading Pair
Feed Price = 0.875392
MSSR = 1.1

[bitasset-data.txt](https://github.com/bitshares/bitshares-ui/files/1876301/bitasset-data.txt)

**Problem**

If you calculate the price listed in the `current_feed ` key of `bitasset-data.json`, you will get a feed price of `20380 / 23281` which is equal to `0.8753919505`.

Dividing this number by an MSSR of 1.1, we get a sque

[2018-04-04 15:31] CryptoKong opened #1402 "Remove Dust Balances"
Hi, I know we have the option to hide assets but would it be possible to implement a setting or button to hide dust balances below say 1 BTS value. This would allow users to never have to see any of these UIA's which are airdropped on everyone, of which the majority are scams, or for them to have to continually hide assets everyday. It would keep the dash looking much tidier and perhaps prevent no

[2018-04-04 16:13] MarkoPaasila opened #1403 "[1] Wierd appearance of account "jesus-coin" in completely new wallet"
I created a new wallet with a new passphrase, registered a new account, sent it some BTS and upgraded it to LTM, all using the openledger.io. I backed up the new wallet with one account in it, and opened it up in the light client (2.0.180404) Using Win7. The wallet opened up not using the account I created but into this "jesus-coin" -account. I was able to read memo's and view supposed private key

[2018-04-04 16:48] dot5enko commented on #1363
sounds good. can i take this?

[2018-04-04 18:35] sschiessl-bcp commented on #1392
I ll be happy to look into it, but probably wont be able before monday (enjoying some holiday right now)

[2018-04-04 18:43] abitmore commented on #1387
It can be seen as a core issue.

[2018-04-04 19:04] abitmore commented on #1403
I've heard of this for several times, but nobody was able to stably reproduce it. I guess active key of that account is special.

[2018-04-04 19:11] startailcoon commented on #1396
If we display relative time, we could remove the tooltip altogether I suppose

[2018-04-04 19:32] startailcoon commented on #1398
This issue is due to an error in the Withdraw Address checker that is called from the Withdraw Modal. It sends the wrong parameters to the checker URL on the gateway system, making it always fail.

This has been fixed in PR #1383.

[2018-04-04 19:32] #1398 closed

[2018-04-04 19:50] startailcoon commented on #1396
Using locale specific date format, as on the Exchange Tab.
Is this satisfactory?

![image](https://user-images.githubusercontent.com/12114550/38330902-17958842-3852-11e8-9314-beca74f137a5.png)

[2018-04-04 20:07] startailcoon commented on #1395
@svk31 I'll take a look at this.

[2018-04-05 01:44] wmbutler commented on #1396
Not to overcomplicate this but:

- [ ] ISO Date format

The ISO date format
The international format defined by ISO (ISO 8601) tries to address all these problems by defining a numerical date system as follows:  YYYY-MM-DD where

YYYY is the year [all the digits, i.e. 2012]
MM is the month [01 (January) to 12 (December)]
DD is the day [01 to 31]
For example, "3rd of April 2002", in this internatio

[2018-04-05 01:46] wmbutler commented on #1363
Yes, take great care with this and test test test.

[2018-04-05 01:48] wmbutler commented on #1397
CDT as displayed.

[2018-04-05 03:04] happyconcepts commented on #1403
Is jesus-coin your account or someone else's? Also, what is brainkey position?

[2018-04-05 07:17] MarkoPaasila commented on #1403
@happyconcepts jesus-coin is not my account. Brainkey position indicates the sequence of deriving new keys deterministically from a brain key.

[2018-04-05 08:28] abitmore opened #1405 "Light wallet margin position issue"
Forwarded from https://github.com/bitshares/bitshares-core/issues/815, I'm unable to reproduce.
By @akledirs:

![](https://user-images.githubusercontent.com/6587277/38336922-2dc93f36-386c-11e8-9f1d-065a9eb9d670.png)

[2018-04-05 08:41] abitmore commented on #1396
For more convenience, perhaps better show time in the user's timezone rather than UTC.

[2018-04-05 08:48] abitmore commented on #1403
Other reports is here (in Chinese): https://bitsharestalk.org/index.php?topic=25623.0

@MarkoPaasila if you can't show the private key of that account any more, I don't think the brain key would help. Actually I have never looked into the brain key stuff yet, so don't give it to me. Wish someone else can help.

[2018-04-05 12:35] arminnaderi commented on #1401
Figured it out. Its doing `base / (quote * MSSR)` instead of `(base / quote) / MSSR`.

[2018-04-05 12:35] #1401 closed

[2018-04-05 12:37] happyconcepts commented on #1396
Better show the year.

[2018-04-05 12:46] wmbutler commented on #1405
it would appear that the 1.94 ratio is the real one, correct?

[2018-04-05 13:00] akledirs commented on #1405
I think that this asset was previously rebuilt after blackswan and something went wrong. That's why I originally posted this issue in the bitshares-core. But I'm not sure about this - it's only an assumption

[2018-04-05 13:26] startailcoon commented on #1396
So, after all we should display it like `2018-02-01 22:12:12` with appended timezone name, like 'UTC', 'GMT', 'EST' etc as time is displayed in local time rather then UTC+/-X

[2018-04-05 15:44] abitmore commented on #1405
I guess it's related to #1338: UI didn't refresh automatically after the short position is closed. It was mentioned by @svk31 a year ago: https://github.com/bitshares/bitshares-core/issues/231#issuecomment-278302358

[2018-04-05 16:18] abitmore opened #1406 "[1][svk] Accuracy issue about getSqueezePrice() function"
[Code](https://github.com/bitshares/bitshares-ui/blob/a5ddd816ae60db50fca5aa4a2dae0164dcf8b6dd/app/lib/common/MarketClasses.js#L405):
[code]
The two `Math.floor` calls led to loss of precision.

To be accurate, the final price should be:
* `base.amount = base * 1000`
* `quote.amount = quote * (sqr*1000)`
But be careful about integer overflow issue (the back end temporarily uses 128-bit integers to

[2018-04-05 16:32] arminnaderi commented on #1406
To solve overflow issue maybe we can use BigInteger class?

[2018-04-06 00:29] iscrawler commented on #951
@robrigo Thank you so much for your help! After almost 6 months of my unsuccessful efforts you made it finally. I'm really appreciate it! Thank you!

[2018-04-06 02:32] wmbutler commented on #1396
Sounds like a plan.

[2018-04-06 12:14] abitmore commented on #1406
@wmbutler it's not a serious issue IMHO, so no need to be labeled as high priority.

[2018-04-06 12:36] ahdigital commented on #1379
# Proposal

I'd propose making the text 'Trading pair' a link that on click opens a modal where the user can replace either asset using the new market picker. E.g.

![image](https://user-images.githubusercontent.com/3088454/38421261-73925baa-399e-11e8-9385-b14248b6bc93.png)

The market picker would firstly allow the user to select which asset from the pair they want to replace. Then, using the fin

[2018-04-06 13:27] ahdigital commented on #1119
I don't think I understand this well enough to be able to make a useful contribution I'm afraid.

[2018-04-06 13:40] startailcoon commented on #1119
Well, I'm not sure we need a specific UI work here? As long as we put these data in good tables to look good and make sense to the user I think we would be fine.

I can tackle this myself, just need to dig in to the data we can display as it's not always very documented.

[2018-04-06 13:43] startailcoon commented on #1379
I like this. I'm willing to work on it as well.

My suggestion to the right table would be to make it use the new starred markets list, like what we have on the first entry page. Just an example. It should be possible to quickly change market with just one click.

[2018-04-06 14:51] abitmore opened #1407 "[5.5][sschiessl-bcp] Node Latency and reconnect strategy"
Quoted from Telegram channel:

In the absence of statistical approaches, I think it would be helpful in the very least, for the reference UI to update the latency number in the lower right, upon each orderbook update, with the time it took to make that orderbook call.  It would also be of use to have a "last update" live ascending second counter, for time since last successful ping.  Also, a block

[2018-04-06 16:08] abitmore commented on #1119
@startailcoon any question about data please feel free to ask.

[2018-04-06 16:11] abitmore commented on #1379
This issue is about removing or to replace the market list on the right? If yes, go ahead. If not, why do we need duplicate features?

[2018-04-06 16:27] abitmore commented on #1379
@wmbutler is this new feature a priority? We already have lots of issues with a 'UX' label but not done and devs are waiting.

[2018-04-07 02:28] wmbutler commented on #1407
When in disconnected state, we should know this and should run a function capable of reconnecting to the socket.

I have another piece of software that can lose the socket. When it does, and the widow is hidden in a tab, the socket does not attempt to reconnect, but when the user makes the browser tab active, it triggers a reconnect function. This is a pretty nice feature for relieving sockets and

[2018-04-07 08:33] #1395 closed

[2018-04-07 08:33] #1375 closed

[2018-04-07 08:43] startailcoon commented on #1396
### Fixed

- Now displaying the full date with timezone included. Equal to `%F %T %Z`

![image](https://user-images.githubusercontent.com/12114550/38453093-573cd50e-3a50-11e8-9669-d7ae1345d23d.png)

[2018-04-07 08:47] #1396 closed

[2018-04-07 09:03] startailcoon commented on #1292
I've been fiddling with this as well. We can coordinate some efforts together on this.
I will let you know if/when I take a look at this @gibbsfromncis

[2018-04-07 09:48] gibbsfromncis commented on #1292
@startailcoon I've already done part of scroll. I only need to add "id=transaction_id" to block with operation.

[2018-04-07 09:57] startailcoon commented on #1292
If you have a fork that I can use, let me know.

[2018-04-07 10:15] gibbsfromncis commented on #1292
@startailcoon I'll create branch and do push today/tomorrow

[2018-04-07 10:44] startailcoon commented on #1292
No rush.

[2018-04-07 16:03] startailcoon commented on #1207
@btsfav what more do you need other than selecting the testnet node?

So far I've done this, let me know what more you need and I will add some IDs to the items you're having issues with selecting.
[code]

[2018-04-07 18:42] wmbutler opened #1411 "[8] Deposit/Withdraw Modal - Add BRIDGE.* Support"
## Withdraw

Since their coins api is conforming, I can't see why this would be any more difficult to implement than the existing RUDEX and OPENLEDGER items. Some initial discovery: it appears that the memo for cryptobridge uses the entire asset name rather than the generic asset name:

Unsure as to whether we should use

- cointype
- symbol
- walletSymbol

TO: cryptobridge
MEMO: `bridge.ltc:<addr

[2018-04-07 21:56] startailcoon commented on #1411
I can handle this

[2018-04-08 05:35] happyconcepts commented on #1369
Walk me through the transaction?

1. I want to buy a "fat-fee" coin spending 1,000 bitshares to do so...

2. The UI checks my balances and warns me if I don't have enough BTS for the transaction fee. This is to avoid the "could not broadcast transaction" error.

3. Assume I now buy the coin and it has an embedded fee of 150%.

4. What happens? Now that I spent 1,000 BTS... Are all of the coins I j

[2018-04-08 08:38] apiekarczyk opened #1412 "The possibility of blocking some BTS amount"
The problem is:
When one want to sell all balance of BTS it is highly recommended to leave some amount of BTS to have possibility to do someting more on bitshares wallet. So, when I click 'balance' on 'sell bts' I have to edit the 'quantity' to not sell everything of my BTS. When market is 'on fire' it's very easy to make a mistake. It's time consuming also, not to mention about irritation. It wou

[2018-04-08 09:10] startailcoon commented on #1412
What about if we add a setting to the account with something like this?
These are just suggestions, we need to find a few good options.

#### Minimum BTS reserved for fees
- 10%
- 5%
- 1%
- 10 BTS (Default)
- Disabled (not recommended)

[2018-04-08 12:30] startailcoon commented on #1411
For the record, this Issue will depend on the successful merge of PR #1383 as it's going to be using the new way of adding gateways.

It will be worked on side-by-side with Issue #1384

[2018-04-08 18:12] #692 closed

[2018-04-08 18:25] wmbutler commented on #1412
I don't think we even need to make it a preference. We can just maintain 10bts in the account under these circumstances. This should be for trades only. If users wants to send/withdraw all of their BTS they should be allowed to do that.

[2018-04-08 18:35] wmbutler commented on #1369
I think the warning should appear here on the Market Fee line as a percentage:

- 2% high

I think any fees 2% or over should be considered high and we should state it. If we set 10% it will just encourage people to game the system at 9.99%. I'm also not a fan of having multiple levels. It's either a high trading fee or it's not and I think anyone would agree that when trading an asset, a 2% surch

[2018-04-08 18:38] wmbutler commented on #1407
Let me see if I can capture the output from a session on reconnect. It's zube.io if you can get a trial account. You can create a few issues on a sprint and then leave the tab for a few hours. Come back and observe the behavior. It's very consistent in it's sleep and reconnect.

[2018-04-08 18:45] wmbutler commented on #1407
Interesting. It's not actually a websocket so I guess that doesn't apply. So the approach will need to be different.

[2018-04-08 19:05] abitmore commented on #1369
There is a "Market fee" label in the panel, we can add the percentage after it, e.g.
[code]

and use different colors e.g. green - yellow - red for low to high fee rates. Except this, do we have other methods to notify the user?

[2018-04-08 19:24] wmbutler commented on #1369
I suggested adding the word "high" as well.

[2018-04-08 19:45] sschiessl-bcp commented on #1320
Since ES does not need to be enabled in the connected node,  should there be a two fold way of searching?
One using asset api with adore dumb search (like current one), one that replaces said logic with ES if present with proper indication.?

Or, should there be an option to configure separate ES connection?

[2018-04-08 20:58] happyconcepts commented on #1369
I think we leave it alone. We must not arbitrarily limit or label it. Calling it a "fee" is bad enough, actually, from this perspective.

Based on the info from @abitmore about the 100% maximum, the concept is safe. A user cannot potentially "spend" more than they think they are spending when they place an order.

If 150%, 200% eg more than the amount knowingly "spent" were possible then it would

[2018-04-09 08:27] sschiessl-bcp commented on #1372
I added now three new icons: connect, connected, disconnected.

My design of those icons is as follows:

disconnected (visible for all not connected nodes)
![image](https://user-images.githubusercontent.com/33128181/38487373-314ab9a6-3be0-11e8-9c7d-f1cc0a704c9b.png)

connect (visible on hover)
![image](https://user-images.githubusercontent.com/33128181/38487435-67597b40-3be0-11e8-8c45-d9184e3b92f1

[2018-04-09 08:29] sschiessl-bcp commented on #1372
The behavior of the footer connection overview is still onHover.

@wmbutler What exactly do you mean with
" The description of the node and the switcher icon could use a few more px of breathing room"

[2018-04-09 15:31] startailcoon commented on #1411
BRIDGE does present partial issue to implement because they aren't setup as the others.

OpenLedger and Winex has one wallet for their own coin, like OPEN.BTC, and one for the backed coin. Bridge does not have it that way. It will require some logic requirements for their specific case at the moment.

[2018-04-09 16:10] hubba1 opened #1414 "Cryptofresh not updating"
Cryptofresh isn't updating an account...not since Jan 9th

[2018-04-09 17:06] arminnaderi opened #1415 "[.1] "Help" Document Typo"
<img width="1220" alt="screen shot 2018-04-09 at 12 05 07 pm" src="https://user-images.githubusercontent.com/16402451/38511631-5b503d4e-3bee-11e8-9cbb-e3b9b611806b.png">

The circled word "user" should be "use", right?

[2018-04-10 00:39] wmbutler commented on #1369
As usual, we disagree. Adding clarity and a subtle warning is consumer friendly and does no harm.

[2018-04-10 00:50] wmbutler commented on #1320
I think a fallback position is the smartest way to do it. Check for ES, if non responsive, use traditional method.

[2018-04-10 02:31] tianyekuo commented on #1276
We will look into it. I notice there are 3 APIs: coins, trading-paires, active-wallet. Are they all necessery?
@startailcoon

[2018-04-10 03:35] landry314 opened #1416 "Small Dust Orders at the Spread Cause Incorrect Lowest Bid and Highest Ask Prices"
When a "fractional dust order" is sitting a the edge of the spread and you click on it to auto-fill its price into your order, it places another price in there, supposedly the actual price that dust order came from.

This can cause mistake trades to be executed which can fill large orders down the order book and lose someone a lot of money.

This might be a core issue and not possible to fix in th

[2018-04-10 04:01] wmbutler commented on #1276
I think all we are missing is intermediateAccount. It's possible this could be hardcoded to whatever value crypto-bridge uses.

[2018-04-10 04:04] tianyekuo commented on #1276
intermediateAccount is crypto in anthor API.
Just add intermediateAccount in the asset list(coins) api for show , is that ok?

[2018-04-10 06:05] startailcoon commented on #1276
There are a few different ways we do the connections for backed coins. Let me compile a list for you what we need for each.

[2018-04-10 06:22] startailcoon opened #1417 "[5] Gateway Wiki Details Page"
Creating a Wikipage for the different ways a Gateway can be implemented in the UI.

Today we have a few different ways that require different levels of data.

As we have an ongoing process of making it easier to adding new gateways, it's important that the process is well documented and explained.

Expecting roughly 5 hours for this.

[2018-04-10 06:54] roelandp commented on #1391
roelandp: Canada: wss://btsws.roelandp.nl/ws

[2018-04-10 07:56] startailcoon commented on #1391
Already in the list, but I'll add myself in this thread for information.

sc-ol : Europe, Germany, Munich : wss://bitshares.crypto.fans

[2018-04-10 08:29] abitmore commented on #1414
@hubba1 here is not the correct place to report cryptofresh issues. Please contact the site owner.

[2018-04-10 12:32] svk31 commented on #905
So after gaining access to the Tradingview private repo docs I've learnt that the UDF server is not a requirement at all, in fact it's not recommended for use cases requiring real-time updates of data which is exactly our use case.

The Tradingview library offers a JS API that can be used to interface with any data input, so that's what we need to use. The documentation is not great but I intend t

[2018-04-10 15:08] #1415 closed

[2018-04-10 15:15] startailcoon commented on #1412
This sounds like a good plan. I do think we should explain this somewhere, like on the help page of for example https://github.com/bitshares/bitshares-ui/blob/staging/app/help/en/dex/trading.md

[2018-04-10 19:15] abitmore commented on #1106
Update: I've got a guy to work on this issue. Will provide more info later.

[2018-04-10 19:52] startailcoon commented on #832
I will have to push this for the next milestone due to the Gateway integration. If anyone wish to claim it, do tell me and I'll hand it over.

[2018-04-10 22:32] calvinfroedge commented on #1317
I have updated my PR as per SVK feedback in the last sprint. You can view screencast and updated comments here:

https://github.com/bitshares/bitshares-ui/pull/1362/

This issue has grown a bit in implementation time due to feedback and I imagine it may grow a bit more to deal with edge cases.

[2018-04-11 04:53] blahbax opened #1419 "Issue Asset button unresponsive on web wallet"
Trying to issue a UIA on wallet.bitshares.org and Issue Asset button does nada. Often get issues like this when when having node problems, but can see the blockcount ticking up in the bottom corner so doesn't appear to be network related.

To clarify, the first instance of "Issue Asset" brings up the dialogue successfully, but the button in the dialogue does nothing.

[2018-04-11 05:10] sschiessl-bcp commented on #1320
There is an ES endpoint already provided for the GUI that you can use, I ll send you the URL later.

[2018-04-11 05:13] blahbax opened #1420 "[1] Preferred Market Pairing Resets to null When Updating UIA"
Preferred market pairing resets to null when updating UIA. Occurred on wallet.bitshares.org and openledger.io so not sure if UI or core issue.

[2018-04-11 05:39] startailcoon commented on #1420
Same as #1395, which has been fixed for next release.

[2018-04-11 06:09] startailcoon commented on #1419
Same as #1395, which is fixed for next release.

[2018-04-11 06:10] #1419 closed

[2018-04-11 06:11] startailcoon commented on #1420
Closed the wrong issue.

[2018-04-11 07:10] rngl4b commented on #703
It seems to me that this issue is already escalating as expected. Where;s the difference between external and -BitShares based-  private exchanges using their user's stake to vote without approval,  without them even being aware about voting at all?

There may be arguments in favor of the benefits about free competition to obtain users/voters, but if we shadow everyone's possibility to influence d

[2018-04-11 07:43] StaflunD commented on #703
i have the openledger.exchange domain if someone what create a issue

[2018-04-11 08:38] abitmore commented on #703
@rngl4b it's not as easy as "disable proxy in registration stage". If a registrar wants to set proxy for a new account, it can register the account with it's own key, then set proxy with another operation, then change the keys to the user requested.

[2018-04-11 08:40] abitmore commented on #703
@rngl4b https://github.com/bitshares/bsips/issues/68

[2018-04-11 11:40] MarkoPaasila opened #1422 "Let the Markets tab be hidden"
I would like to be able to hide the MY MARKETS/FIND MARKETS tab in the EXCHANGE view. On a small screen or on a 1920x1080 display working with a spreadsheet sharing the screen the MARKETS tab forces essential information to be crammed - itself being non-essential. I usually don't even use it as I navigate to markets from my account's recent activity.

This is exaggerated but highlights how the mar

[2018-04-11 14:27] gibbsfromncis commented on #832
@startailcoon @wmbutler please specify the following options:
- What is the format of URL which user should be able to scan?
- Should this feature be duplicated on [transfer](https://wallet.bitshares.org/#/transfer) page?

[2018-04-11 19:17] startailcoon commented on #1276
I've looked through the function of GDEX today, and it's quite different approach from what the other gateways uses. Both in fetching assets and linking the backing wallet and asset.

It's not impossible to make this work together with the new modal, together with the other gateways.

- Either we build a new function that handles the GDEX way but will require some additional code.
- Or GDEX applie

[2018-04-11 21:00] abitmore commented on #1106
Update: sample data at the bottom of the page: http://open-explorer.io/#/markets/BTS/USD

[2018-04-12 01:30] happyconcepts commented on #1369
The system was designed to handle many different types of coins. People do not label a $1,000 face value bond as "high-priced" when they compare it to a $50 stock. They call it a bond instead.

You are making an inaccurate assumption to say that all coins are the same and must in all cases carry less than ___ % fee in order to avoid being labelled "high fee".

Also, it simply isn't the role of the

[2018-04-12 05:35] diogogomes commented on #1263
Hi @clockworkgr, Nice to see your opinion. I appreciate it, thanks.

#

@wmbutler,

Given the previous opinions and after I have detected that there are two distinct types of needs in relation to alerts, I decided to create a version for multi alerts.

Thus, we can meet the needs of users like @gibbsfromncis who want more than one price alert and maintaining the simplicity to not confuse the less

[2018-04-12 08:32] abitmore commented on #1390
Just some info here:

I meant to add the nodes in PR #1423 (actually had once added already), but in last check found too many nodes were down. Since I don't know when they will be ready, I removed them afterwards.

It's been 10 days after the announcement, and status of most nodes are "OK" in the announcement, I didn't realize that they're still under deployment.

@apasia-tech Please leave a comm

[2018-04-12 13:39] wmbutler commented on #1369
Nope. But you can't alter my opinion that a 2% fee for a one time transaction is close to usury. So, we can just let this die I suppose. Well done.

[2018-04-12 13:40] wmbutler commented on #1276
Maybe we just close this and don't include GDEX on the reference wallet since they aren't expressing interest in being part of the discsussion.

[2018-04-12 13:44] wmbutler commented on #832
@gibbsfromncis this is definitely an unknown with several opinions. Before we can have a send function, I suppose we need a receive QR code to scan. And we really don't have a "receive" function in bitshares other than "deposit" which doesn't quote apply to this situation.

[2018-04-12 13:46] wmbutler commented on #1422
Would you want to hide the Market depth in the bottom right as well? Seems like the answer is yes, but wanted to clarify.

[2018-04-12 13:51] wmbutler commented on #1412
Wait, it just occurred to me. What if the user has exactly 10BTS in their account and they try to trade 8 BTS? Will it tell them they don't have enough? Need to clarify this edge case.

[2018-04-12 13:52] wmbutler commented on #905
@svk31 I think that's better because we won't have to rely on another level of abstraction.

[2018-04-12 14:06] wmbutler commented on #1417
What if you describe a single way to do it with a standard recommended data feed.

[2018-04-12 14:09] startailcoon commented on #1417
That is my intention. We have a few ways today that is used, but we can condense it to two different types pretty much.

I'm still documenting all the ways, but we will have a simple, clean and easy way for new gateways to configure their systems for the UI.

[2018-04-12 14:46] gibbsfromncis commented on #1334
@wmbutler as we have a separate task for UX ([this one](https://github.com/bitshares/bitshares-ui/issues/1336)) I suppose you can remove [10] from this issue's title to prevent misunderstanding on the future.

[2018-04-12 18:39] abitmore commented on #1369
Just closed? IMHO it still makes sense to at least show the number.

[2018-04-12 19:43] wmbutler commented on #1369
I agree @abitmore.

- [ ] Display % of transaction

[2018-04-12 19:46] wmbutler commented on #1412
@apiekarczyk I think you will need to clarify your statement because I am unclear on how this would work.

[2018-04-12 21:42] grctest commented on #1392
Several users have been complaining about this on Telegram recently

[2018-04-12 23:26] neo-thematrix opened #1424 ""Issue Asset" and "cancel" buttons are dead"
Failed on three different browsers on both linux ubuntu and windows 10 and also fresh install of the light client.
![screenshot from 2018-04-12 16-40-58](https://user-images.githubusercontent.com/7365837/38709128-8e114432-3e76-11e8-967f-92e4a9af13d9.png)

I was able to issue UIA with openledger's site with no issue.

[2018-04-13 04:06] startailcoon commented on #1424
Fixed for next release.
Duplicate of Issue #1395

[2018-04-13 04:06] #1424 closed

[2018-04-13 07:17] apiekarczyk commented on #1412
Something like this:

![block-bts](https://user-images.githubusercontent.com/35542307/38721657-531a6ee6-3efb-11e8-9fe7-8f640679cf14.JPG)

[2018-04-13 07:31] landry314 commented on #1412
I wouldn't call it "block", reminds me of blocking a phone number or blocking a player in sports.

I would call it "preserve" or "save".

[2018-04-13 08:28] tianyekuo commented on #1276
Sorry for late response, since the APIs do not work with other gateways, we will make a new set of APIs.

Implement the 3 APIs coins, trading-paires, active-wallet is all we need? @startailcoon @wmbutler

[2018-04-13 08:36] tianyekuo commented on #1276
If gdex want to catch up the milestone [21](https://github.com/bitshares/bitshares-ui/milestone/21), could you give some help, thanks!

[2018-04-13 10:58] sschiessl-bcp commented on #1392
I can't reproduce the error, any further intructions on how to?

[2018-04-13 11:09] sschiessl-bcp commented on #1407
I will do a PR for this when #1394 is merged

[2018-04-13 13:32] ahdigital commented on #1284
## Summary

The main updates to this page are _(screenshot reference at the end)_:

- A proposal can be made up of one or more operatons (E.g. 1.10.8626)
- We now display ID and expiration date once per proposal
- There is an approvers column to show who the approver of each operation is
- The list of multi sigs required in the status column are expandable/collapsable
- The status in the status co

[2018-04-13 14:53] wmbutler commented on #1284
I expect this will require > 3 hours of dev work as well.

[2018-04-13 21:08] abitmore commented on #1392
@clockworkgr I don't think that's related.

[2018-04-14 01:05] happyconcepts commented on #1369
I suggest a simple change, net coins is the best UX path here.

***Because also certain chain tokens like bitUSD now carry an embedded fee.***

If the expected net amount of coins from a successful transaction is clearly visible when the order is made, there is much less chance for surprised buyers.

Please include the net amount of coin the buyer will receive.

[2018-04-14 03:09] tianyekuo commented on #1276
Thanks you, I will wait for your good news.

[2018-04-14 16:24] startailcoon commented on #1411
![bitshares-bridge](https://user-images.githubusercontent.com/12114550/38770293-0b87a49c-4011-11e8-864f-0518ff3404a3.gif)

[2018-04-14 16:29] #1411 closed

[2018-04-14 16:49] startailcoon commented on #1384
## Step towards a unified gateway integration

As both Winex #1275 and Crypto Bridge #1411 is now integrated, many changes was made to the Gateway code.

Full documentation will be done in issue #1417, which will describe the gateway integration in full.

I've created the `gateways.js` file
https://github.com/bitshares/bitshares-ui/blob/52af6c51d4cd856105440dd1d6c189fd43f4e5e6/app/lib/common/gatew

[2018-04-14 16:49] #1384 closed

[2018-04-14 16:50] startailcoon commented on #1276
Moving this to the next milestone as it's quite a challenge to make sure this works.

[2018-04-14 17:48] abitmore commented on #1369
@happyconcepts good idea

[2018-04-14 21:14] startailcoon commented on #1417
## Full Gateway Integration Requirements

The documentation is now available on
https://github.com/bitshares/bitshares-ui/wiki/Gateway-Integration-Requirements

[2018-04-14 21:14] #1417 closed

[2018-04-15 15:26] snodnipper commented on #895
Hi Bill, the UX improvements seem great.  I don't want to go too off-topic and so I can create a separate issue as necessary.

Touching on what @tbone-bts mentioned earlier with hardware wallet support (e.g. Trezor)  it might be worth checking out what the [Kyber](https://kyber.network/) guys have done.  Folks accept the T&Cs and are then presented with various methods of importing their address.

[2018-04-16 01:25] wmbutler commented on #1276
We pushed the release to 4/18. Any chance you can get this in prior to release? @tianyekuo

[2018-04-16 01:36] wmbutler commented on #1379
Love this. Only other though...

- [ ] What if clicking on one of the actual asset pairs triggers this menu instead of going to the asset explorer? Seems that you could simplify the selection menu if the use could designate which symbol they were swapping out.

[2018-04-16 01:40] wmbutler commented on #1412
Understood, but what happens now when I try to sell 5 BTS?

[2018-04-16 04:29] startailcoon commented on #1276
I think it's to little time and I have yet no response from @tianyekuo as well as a very busy schedule at the moment.

I do not want to rush this, nor take a task I can't complete.

I'm happy to do the task though.

[2018-04-16 06:32] apiekarczyk commented on #1412
simply write 'zero' in the edit area

[2018-04-16 07:33] snodnipper opened #1426 "Feature Request: enhance "sign-in" to support external wallets (e.g. Meta Mask / Trezor / Ledger)."
Supporting external wallets should minimise the onboarding experience to (1) accept terms and conditions (2) type pin on external wallet (3) exchange.

External hardware wallets allow folks to maintain good levels of security even on potentially compromised computers, which increases confidence in using online systems.

The Kyber decentralised exchange is a great example:

<img width="1050" alt="3

[2018-04-16 08:37] apiekarczyk commented on #1412
And maybe one more thing... when somebody is doing many different actions may not pay attension that BTS amount for fees is going to very low level. Maybe there should be an "warning light" somwhere in the UI to warn about it.

[2018-04-16 13:08] tianyekuo commented on #1276
Our APIs will adjust as the document required, we try to finish it early next week.  The next milestone(5/1) is better. Would that be OK with you guys.

[2018-04-16 13:55] startailcoon commented on #1276
Great news 👍

[2018-04-16 15:07] startailcoon commented on #1392
Last week I had this almost every order I placed, while on mobile though and on the wallet Web page. This week I haven't been able to reproduce it again.

[2018-04-16 16:33] startailcoon commented on #1420
Do you mean that this field is always blank?
What I can see, changing market pairing works, just that the field isn't filled in with the current choice.
Please elaborate if this is not the issue you're having.

![image](https://user-images.githubusercontent.com/12114550/38822683-790697fa-41a4-11e8-867a-758a36939387.png)

[2018-04-16 18:14] #1420 closed

[2018-04-16 18:28] startailcoon opened #1428 "Handle long reponses for external address queries"
While working on the Withdraw/Deposit modals I came across a slight issue where the gateway may be very slow at returning an address or to validate an address for the user.

## Current workings
Today the app will simply wait until it receives the data. During this time there is a "loading" sign, but it can go on indefinitely if nothing is returned.

## Proposed workings
I propose that after certai

[2018-04-17 01:50] litepresence commented on #1407
I am currently using this to reconnect:

https://pastebin.com/MtcDE6nR

I test ping, blocktime, chain id, and zero price to confirm good handshake

[2018-04-17 04:32] litepresence commented on #1391
I show 64 responding to east coast US with good data:

https://pastebin.com/GQit1h1E

full test

[2018-04-17 06:37] ahdigital commented on #1379
You could indeed simplify the selection but where do we relocate the links to the asset explorer for the active pair?

[2018-04-17 06:53] smogm opened #1429 "Round the prices and values of new orders to 8 digits."
The Bitshares protocol is working with 12 digits floating point values.
The Bitshares UI instead only displays the typical 8 digits.

This leads to some confusing orderbook display, as it is possible to have multiple orders with different price (behind the 8th digit), which will be displayed in the orderbook as same 8 digit price number.

To solve this, the order form should round the entered numb

[2018-04-17 18:16] startailcoon commented on #1372
@sschiessl-bcp Please address this issue on the personal node section

![image](https://user-images.githubusercontent.com/12114550/38888519-28c9a9de-427c-11e8-932e-390a32961f79.png)

[2018-04-17 21:54] abitmore commented on #1390
@apasia-tech any update please? We're about to make the new release. May I ask, add your nodes in this release, or not? Thanks.

[2018-04-18 01:25] happyconcepts commented on #1369
What precision should this be? This is much longer than eight places:
![round-market-fee](https://user-images.githubusercontent.com/14145836/38906591-71c96dfa-426c-11e8-9f8c-22fb19cadf75.png)

[2018-04-18 04:51] chouheiwa opened #1432 "[1][svk] Importing private key fails due to CSP policy"
Key import error: SecurityError: Failed to construct 'Worker': Access to the script at 'http://localhost:8080/6b5e2a102b2987f40495.worker.js' is denied by the document's Content Security Policy.

[2018-04-18 05:51] startailcoon commented on #1395
Please post a lice cap. This issue should be fixed.

[2018-04-18 06:27] sschiessl-bcp commented on #1397
@gibbsfromncis Is this fixed?

[2018-04-18 06:28] sschiessl-bcp commented on #1392
I tried again to have this popup appear, but I can't ...

@grctest does this still happen for you?

[2018-04-18 06:29] sschiessl-bcp commented on #1259
@svk31 did the update go through?

[2018-04-18 06:31] sschiessl-bcp commented on #1346
@calvinfroedge what is the status here?

[2018-04-18 06:40] osoese commented on #1395
I think the issue was fixed but not released - I had to go back to an earlier version to issue an asset. Will do a screen capture gif tomorrow

[2018-04-18 06:41] osoese commented on #1395
![image](https://user-images.githubusercontent.com/31746846/38915514-fa37c85e-42b1-11e8-8128-9cfaaad78ac1.png)

[2018-04-18 07:34] #1372 closed

[2018-04-18 13:58] oflyhigh opened #1435 "[5][ahdigital][10][gibbsfromncis]Develop Paging Module for Wallet"
In Bitshares UI (2.0.180402) and older version, when I go to "explore->Assets", it will load all SmartCoins assets by default, the same situation will occur for "User Issued Assets".

As we know, there are already a lot of SmartCoins and UIAs in Bitshares system, so to load and display all of them will take a long time and take up a lot of resources of computer.

So I think it should be a better w

[2018-04-18 14:16] oflyhigh opened #1436 "[UX:3][ahdigital] Improved Witness Information Page"
In Bitshares UI (2.0.180402), When I go to "Explore->Witnesses" and click any witness (such as "in.abit") in the witness list, I was brought to the portfolio page of the witness.

I think It should be a better way to show witness details information instead of portfolio.

[2018-04-18 15:56] grctest commented on #1392
Not able to replicate, but it was frequent last week. Perhaps it was an API node issue? 😕

[2018-04-18 16:01] grctest commented on #1436
What witness information though? The only missing info is their witness URL & some don't provide one.

[2018-04-18 16:47] wmbutler commented on #1436
We don't really have a "witness details" page.

[2018-04-18 16:52] wmbutler commented on #1435
As discussed above, we need a paging module. Let's make sure it's ANT compatible. Features must include:

- [ ] 25, 50, 100 groups (default 25)
- [ ] Typeahead in header
- [ ] Next and previous groups (arrows)

We need UX followed by execution.

[2018-04-18 17:00] wmbutler commented on #1379
What we added a control to the menu that lets a user navigate to the asset explorer? So clicking on the asset would bring up the menu but a second click would be required to take the user to the asset detail.

[2018-04-18 17:03] wmbutler commented on #1428
Looks like we would need a wrapper with a default timeout value linked to the notifications.

[2018-04-18 17:05] wmbutler commented on #1412
I really don't think we are solving a problem here. Feels like we are creating one.

[2018-04-18 17:07] #895 closed

[2018-04-18 17:08] wmbutler opened #1437 "[12][kapeer42][1][svk] Consolidate Wallet Login Types"
UX and previous discussion here: #895

[2018-04-18 18:07] startailcoon commented on #1392
I had this happening to me again yesterday, using wallet.bitshares.org on mobile.

Today, not an issue.

Seems very irregular. We need to narrow it down to some details to track the cause of it.

I've yet to see this on a desktop.

[2018-04-18 18:52] startailcoon commented on #1395
I don't doubt that you have an issue, but I do doubt that you use the latest version of the UI as the buttons aren't looking as they should. They where changed in the latest release.

![image](https://user-images.githubusercontent.com/12114550/38951940-61234028-434a-11e8-9edb-a814c4966c27.png)

[2018-04-18 20:57] gibbsfromncis commented on #1263
@wmbutler please comment this. This one blocks my #422

[2018-04-18 20:58] gibbsfromncis commented on #1397
@sschiessl-bcp it want you can take a look this one. I have no idea why it happens ... It looks like bug not on my side

[2018-04-18 22:00] happyconcepts commented on #1263
Heading of Alert confuses me if this is the screen where I set the alerts. From that heading I expect to see a list of my alerts?

Alerts must be stored locally. Why is there a confirm button...or am I confused that setting an alert requires me to pay gas?

[2018-04-18 23:20] GerryCallan opened #1439 "Incorrect Password"
Hi there,

I've seen others ask this question in forums and chat rooms, regarding an 'Incorrect Password' error when logging into a cloud account (in my case from https://compumatrix.co). Is there any known fix for this issue? I know my password is correct - I have multiple backups all with the same password. I used the account on a daily basis up to December 2017 when I transferred assets to a di

[2018-04-19 01:12] happyconcepts commented on #1397
I can take it. 😀

[2018-04-19 01:12] blahbax commented on #1420
Yeah so what was happening was I could change pairing, but as the pairing
didn't persist as a placeholder; the next time I updated some other aspect
of the UIA, the pairing would reset to BTS.

Cheers.

On 17 April 2018 at 04:15, startailcoon <notifications@github.com> wrote:

[2018-04-19 01:12] gibbsfromncis commented on #1397
@happyconcepts I'm sorry but @sschiessl-bcp messaged me on telegram he will work on it

[2018-04-19 04:29] mattbeckman commented on #1319
I'll look into this one, unless svk already solved it locally.

[2018-04-19 04:34] happyconcepts commented on #1397
Ok thank you for telling me.

[2018-04-19 06:03] mattbeckman opened #1440 "Should we include useful browser titles for web wallet users?"
Sometimes while navigating I've found it would be really helpful to have titles within the back button history on my browser. Currently, it's just a long list of "Bitshares". I don't think there's any reason not to, but putting it to the vote.

<img width="466" alt="screen shot 2018-04-18 at 11 02 28 pm" src="https://user-images.githubusercontent.com/928380/38973874-a831e49e-435c-11e8-85ee-2c54f1e

[2018-04-19 06:29] startailcoon commented on #1440
I agree that adding titles would be a good thing.

[2018-04-19 08:29] abitmore commented on #1436
@grctest witness info includes:
* signing key (we can even add a feature for witnesses to changing signing key from UI, although not useful as Steem where some witnesses use UI to disable block producing)
* URL
* last confirmed block number
* votes
* number of blocks missed
* price feeds  (no direct API to fetch so far)

In regards to the links, please be aware that they aren't validated and won't

[2018-04-19 08:31] abitmore commented on #1435
Please make sure the back end provides required APIs. If not, please submit an feature request issue to bitshares-core.

[2018-04-19 08:58] abitmore commented on #1106
Update: we've made good progress, will submit PR asap.

@wmbutler according to the work we've done and foreseen, I think it's OK to update hours of this issue to 20.

[2018-04-19 09:08] ahdigital commented on #1379
In this next revision the user would be able to click on either asset in the pair to open the market switcher menu. I added a line of copy below the 'Market picker' heading which reinforces what the user must do, shows the active asset and has a link to it's explorer page.

In the mockup below the steps are:

1. User clicked 'OCT' to open the market picker menu
2. User clicked 'BTS' to switch the

[2018-04-19 09:41] abitmore commented on #1439
Backups? Of what? Make sure your password was for cloud wallet mode. Is it possible that your password has been changed by someone else? Afaik compumatrix used to have full control over some of their users' accounts via multi-sig settings, so was able to change passwords for them.

[2018-04-19 09:54] GerryCallan commented on #1439
Thanks for the response abitmore. The backups are of saved and stored passwords. I have several backups over the last year and I checked each of them to confirm that I was using the correct password, which I was. I just hadn't accessed the account since December past. No one else had access to it nor were permissions set for anyone to have multi-sig control either. All I really can say for certain

[2018-04-19 10:02] abitmore commented on #1439
Perhaps you need to provide your account name (and maybe password) to a developer so he can help identify what's wrong. How to contact you?

[2018-04-19 10:13] GerryCallan commented on #1439
Thanks abitmore - if anyone can help I'm contactable at gerrycallan@gmail.com.

[2018-04-19 12:27] gibbsfromncis commented on #1435
@wmbutler I've assigned myself and Dominic to this issue. Can you tell me please who's responsible of backend side so I can ask this guy about assets server-side pagination/filtering?

Also I suppose it should take less time than estimate for development. If It takes less time than estimate I'll let you know when finish this task.

I want to ask @ahdigital about full page redesign as we already ha

[2018-04-19 13:28] gibbsfromncis commented on #1435
@abitmore How can I get more than 100 assets? I'll take a look front-end part, maybe sb already done logic which can help me to get assets using limit & offset like to get assets from X to Y position.

Thanks for your help

[2018-04-19 13:38] abitmore commented on #1435
@gibbsfromncis you specify a start point and get next 100.

[2018-04-19 13:39] gibbsfromncis commented on #1435
@abitmore sorry I didn't get what is lower_bound_symbol. Does it mean I should put the name of any asset and I'll fetch assets beginning from this asset and next 100?

[2018-04-19 13:50] clockworkgr commented on #1439
Are you getting a prompt to enter both account-name and password?

[2018-04-19 13:52] GerryCallan commented on #1439
Hi clockworkgr, yes I'm getting the prompt. The account name is correct as it shows the member number which is correct (and has numerous transactions recorded in 2017), but the password is now 'Incorrect'. :(

[2018-04-19 14:36] GerryCallan commented on #1439
Hi clockworkgr. Unfortunately there is no backup (.bin) file for this account. All I have are multiple saved copies of the password, dating back to various backups I made over the last year. I would have logged into the account hundreds of times with the password which now no longer works.

[2018-04-19 14:44] ahdigital commented on #1329
Does anyone have anything else to add to this?

[2018-04-19 14:44] clockworkgr commented on #1439
I'm afraid you're out of luck then...

Your password only worked while the browser had the wallet file (what you'd backup as a bin file normally) cached in local storage so the password could decrypt it.

Your cached wallet is now gone (clear cache in browser? reinstall? some reason anyway) so you're getting the cloud login prompt instead. The wallet local password obviously doesn't work there.

[2018-04-19 14:52] GerryCallan commented on #1439
Hi clockworkgr. There never was a .bin file. It was only ever saved, used or accessed using an Account Name and Password combination. It was opened on multiple browsers over the course of the year so I thought that having the username and password was all that was required. Apparently not. :(

[2018-04-19 15:07] ahdigital commented on #1200
@wmbutler Following your last comment on #697 are you happy to close that task along with this one?

[2018-04-19 15:32] ahdigital commented on #998
@wmbutler Did I see on telegram that @gibbsfromncis already worked on this?

If not, is this not a simple case of adding a scan button to the address field demonstrated below using the new upcoming design guidelines:

![image](https://user-images.githubusercontent.com/3088454/39001733-db26503c-43ee-11e8-9e78-f81826c21a93.png)

Whilst there is both a specific scan and QR code icon I opted for the c

[2018-04-19 16:01] mattbeckman commented on #1319
Located the issue last night. Looks like a greedy regex. Will fix shortly.

[2018-04-19 18:35] clockworkgr commented on #1439
in that case, it was a cloud account...no idea what the issue could be...

on the off chance there has been an incompatibility created  by ui updates, try downloading a release from when you could last access it

[2018-04-19 18:50] HarukaMa opened #1443 "Measure real latency of nodes"
Currently the latency of nodes are measured from connection initiation to first frame received, thus it reflects at least 3 times of network RTT. On nodes with higher network latencies this number could be unnecessary high.

Should we change it to real network latency?

[2018-04-19 19:16] kapeer42 commented on #1437
can I claim this?

[2018-04-19 19:26] kapeer42 commented on #1428
can I claim this?

[2018-04-19 19:29] kapeer42 commented on #1333
can I claim this?

[2018-04-19 19:30] GerryCallan commented on #1439
Thanks clockworkgr - I'll try that. Anything is worth an attempt at this stage! :)

[2018-04-19 20:13] abitmore commented on #1435
@gibbsfromncis yes. But I noticed it's a bit stupid that the core has 100 as limit, which means the client can only get 99 items when query for the 2nd page. I'll submit an issue to the core to change it to 101.

[2018-04-19 20:16] wmbutler commented on #1439
@GerryCallan tell me what your password started with. This is a telltale as to whether it was a cloud or local account. Second question: Did you choose your password or was it assigned to you?

[2018-04-19 20:20] wmbutler commented on #1435
We could limit pagination to 50 for now until the 101 limit is addressed.

[2018-04-19 20:26] wmbutler commented on #998
@ahdigital I think your UX needs to include the subsequent screen that houses the camera action as well. Feel free to increase as needed.

[2018-04-19 20:27] #697 closed

[2018-04-19 20:27] wmbutler commented on #1200
Yes, we have more pressing features for the wallet.

[2018-04-19 20:27] #1200 closed

[2018-04-19 20:29] wmbutler commented on #1329
I think you need to add back the references to the public and private keyfiles for this to be complete. Please add the necessary time to the issue.

[2018-04-19 20:32] wmbutler commented on #1379
I like this. I think it's useful, flexible for many circumstances, and intuitive.

[2018-04-19 20:38] wmbutler commented on #1436
@ahdigital need UX work here. This will require special thought because we don't really have a witness information page yet. Possible make it part of the explorer.

[2018-04-19 20:40] wmbutler commented on #1440
Same. No UX needed, but it's probably a 4 hour task to go through everything.

[2018-04-19 20:41] GerryCallan commented on #1439
​Hi Bill,

No it wasn't assigned. I used Keepass to generate the password:

065fa27d5fb60b20cee2f84c62c7536e28bc73e78e5758c1d3c9d17ea459c364

As you can see, I used a very long string for the password

Any help appreciated - I've downloaded an older version of the Bitshares
wallet to see if I can import it into it. :)​

Gerry Callan
Email: gerrycallan@gmail.com
Tel: +353 86 3884246
Skype: gerrycal

[2018-04-19 20:44] wmbutler commented on #1439
@GerryCallan if you chose your own password, this means you were definitely using what we call the local wallet. This means that when you logged in, the browser had a local database with your encrypted keys in it. Without some form of that local database, it's going to be impossible to restore your account.

[2018-04-19 20:47] abitmore commented on #1439
If it's a local wallet, how could he had logged in with another browser? Perhaps actually he hadn't?

[2018-04-19 20:50] abitmore commented on #1439
@wmbutler what's the limit of the password input box? more than 64?

[2018-04-19 20:53] GerryCallan commented on #1439
Thanks for the responses. It was a cloud account originally registered via Compumatrix .. at the time I registered, 18th April 2017, I was prompted to create a password, which I did and saved in a couple of locations, one of which was Keepass. That same password worked daily all through 2017 until I transferred most of what was in that account to a new account in December. However some open orders

[2018-04-19 21:01] GerryCallan commented on #1439
FWIW I tried deleting the last character in the password all the way down till there were none left. None worked.

[2018-04-19 22:03] landry314 opened #1445 "Second Order Placed Over a Blue Open Order In Order Book Takes Away Blue Color"
If you have an open order which shows up as blue in the order book and then another order from someone else is placed at the exact same price then the blue color disappears and the user only sees the cumulative price of both orders in the normal color.

This can be reproduced if you have two accounts. Place an order with one then another order with the other account at the same price.

[2018-04-19 22:05] mattbeckman commented on #1440
Ok, I'll pick it up next.

[2018-04-19 22:05] landry314 commented on #1445
This is related to the initial issue #618.

[2018-04-20 06:54] gibbsfromncis opened #1446 "[.5][TBAPI-0KA] Mouse over on the Help opens switch node menu"
<img width="318" alt="screenshot 2018-04-20 08 55 02" src="https://user-images.githubusercontent.com/35899973/39034940-88d555f0-4478-11e8-8333-af6f8ab35a66.png">

[2018-04-20 06:56] sschiessl-bcp opened #1447 "[8][TBAPI-0KA] Implement popup hint message for Icons all around the UI"
With the last update to the icon class we now have support to add hints, which would be really helpful to explain rookie what buttons do, see #1413

[code]

Shame to say but I also didn't know what the pin does
![image](https://user-images.githubusercontent.com/33128181/39034811-0ec4c0d4-4478-11e8-8177-6eb7a4ebc875.png)

Task for this issue:
- [ ] find all icons that need a hint (should be all ico

[2018-04-20 06:57] gibbsfromncis opened #1448 "[1][gibbsfromncis] Show walkthrough when user opens Exhchange for the first time"
I've never seen walkthrough before while Dominic didn't say we have this feature.
Also button "help" also should be renamed because it's associate with a ton of documents to read instead of walkthrough

@wmbutler one question. Should I select labels when creating an issue or is this your responsibility?

[2018-04-20 07:00] gibbsfromncis commented on #1447
I'll take this one

[2018-04-20 07:57] ahdigital commented on #1379
Nice idea, updated visual:

![search-mode-steps-v2](https://user-images.githubusercontent.com/3088454/39037577-cb9dadf6-4478-11e8-879b-71d6a480303a.png)

[2018-04-20 09:32] ahdigital commented on #1329
I added in the accounts / keys / addresses that the existing functionality has.

Where keys / addresses are used we'll have to truncate with an ellipsis at some point to save the UI at smaller resolutions - I suggest that when this happens a tooltip becomes available to view the entire key.

### Default table
The default view for the page when there are no permissions active. 'Weights' is the defa

[2018-04-20 10:25] ahdigital commented on #998
![image](https://user-images.githubusercontent.com/3088454/39046242-6a82b57e-448d-11e8-804e-97e34820fd08.png)

![qr-iphone](https://user-images.githubusercontent.com/3088454/39046249-70fc8524-448d-11e8-9544-dfabb019bf93.png)

[2018-04-20 10:43] gibbsfromncis opened #1449 "[10][ahdigital] TradingView styling"
This issue is an additional part of #905

@ahdigital is going to provide UX for 3 themes for TradingView.

I'll work on applying @ahdigital UX to TradingView.

The issue is it's not an open source and chart placed on an iframe so I'm not sure if it is possible to easily implement styling.

@wmbutler please put estimate for UX but regarding development estimate I need spend some time to investigate

[2018-04-20 11:04] landry314 commented on #1117
Yeah, I am having serious trouble with this. If i have all my BTS locked up in an order I can't cancel the order.

[2018-04-20 11:05] landry314 commented on #1009
This has become a serious issue recently. The bitCNY fee pool seems to be not working correctly and I run out of BTS and I am having order that can't cancel.

[2018-04-20 11:07] landry314 commented on #1412
This is a serious issue. It appears the bitCNY fee pool is malfunctioning. I have had many errors not being able to cancel an order if all my BTS is locked up in it.

[2018-04-20 11:17] landry314 opened #1450 "Canceling Order When All BTS Locked In The Order Is Not Using bitCNY Fee Pool Properly"
I have been having serious issues when I have all my BTS in a sell order and then I try to cancel it without having any available BTS to pay for the cancel fee.

Even though it says the fee is being paid in bitCNY and I DO have bitCNY it will not take the bitCNY to pay the fee. Something is wrong with the bitCNY fee pool. It tries to pay in some other asset that I do not have enough of to pay the

[2018-04-20 11:19] svk31 commented on #1443
The latency is measured as the time to open a successful connection, which includes the time to perform a "login" api call. The reason for that is that the login may fail if the server is incorrectly configured. It's probably also a reasonable indicator for the performance of the API node.

[2018-04-20 11:25] svk31 commented on #1439
@abitmore There's no limit on the password, you can use a string 1000s of characters long if you want.

[2018-04-20 11:27] GerryCallan commented on #1439
Thanks svk31 - the account name is gerryc2017

[2018-04-20 15:48] clockworkgr commented on #1439
I did actually run through the private key derivation process step by step, including visiting UI codebase from when the account was created as well as bitsharesjs at the time (PrivateKey class) ...

Couldn't find any reason why it wouldn't work apart from the password being wrong.

It's always been sha256(account+role+password) everywhere.

Using the password provided I get to active authority:

[2018-04-20 16:40] abitmore commented on #1009
@landry314 CNY fee pool seems fine: `Pool Balance | 25,603 BTS`

[2018-04-20 16:46] abitmore commented on #1443
I think another possibility for the high latency, is the client is too busy when trying to connect to and measure latency for too many servers at same time.

[2018-04-20 16:55] abitmore commented on #1450
Where did you see "bitCNY" as fee for cancellation? There is no such a thing in UI. I guess
* it's either the market fee when your order is filled, or
* it's for creating a new order.

I think this is duplicate of #1117. @wmbutler ?

[2018-04-20 17:25] wmbutler commented on #1450
I really don't know how to solve your problem @landry314. I think the solution to #1412 is not a very good one. Maybe you can help offer some input on that issue.

Regarding the display of bitCNY if/when the FORDCOM pool is empty, please post a screencast so a dev can see it in action and pick up this bug.

[2018-04-20 17:33] svk31 commented on #1443
I don't think that's the case, when checking latencies I get similar results whether I check 40 at a time or only two. My suspicion is that it's poorly configured servers,  running with low RAM and/or mechanical HDDs. I suspect the servers are also running into issues with file descriptors due to each websocket connection requiring a new one, forcing them to refuse new connections or close existin

[2018-04-20 17:35] wmbutler commented on #1412
So then the user can't make trades when they are down to 5 BTS. Exact same problem. The user will either have to locate some obscure setting to free up the 5BTS or sell an asset to get > 5BTS.

[2018-04-20 17:35] #1412 closed

[2018-04-20 17:38] wmbutler commented on #998
UX Complete. It's on to you @gibbsfromncis

[2018-04-20 17:42] wmbutler commented on #1329
The keys and the viewing of the public/private versions of them need to be shown but not incorporated into the Multisig UX. Sorry if I'm not being clear. My point here is that people still need to be able to:

- view public key
- view private key
- trigger barcode

Just want to see this displayed so the implementor knows where it goes (no need to UX that part but it does need an overhaul eventuall

[2018-04-20 17:43] wmbutler commented on #1379
Easy. This is groomed and ready for development.

[2018-04-20 17:45] wmbutler commented on #1446
I think it should be `onClick` instead of `mouseOver`

[2018-04-20 17:51] abitmore commented on #1450
@wmbutler please read my comments above.

[2018-04-20 18:08] GerryCallan commented on #1439
OK, pardon my ignorance here, but what does that mean? Does it mean that somehow the password is incorrect, even though I never changed it an no one else has ever had access to my accounts or to the password?

[2018-04-20 18:33] landry314 commented on #1450
yes, i have bought 1BTS at market to be able to pay cancellation fees... a few times.

if it happens again, yes, i will screenshot. i should have. i was rushing at the time to cancel my order. it tried to use FORDCOM to pay the cancellation fee, that i am sure of.

[2018-04-20 18:36] landry314 commented on #1412
i see that problem... but this is a bigger one. i had my funds all locked in an order and had to transfer less than 1BTS i happened to have in another account. i would have been screwed otherwise.

just have a condition if BTS is less than a certain amount then ignore the locked BTS setting, no?

[2018-04-20 18:56] gibbsfromncis commented on #1334
@wmbutler @svk31

There is repo and last build - https://github.com/bitshares/bitshares-ui-style-guide

Could you please validate it and close this task if you do not have any comments

[2018-04-20 18:56] gibbsfromncis commented on #1333
@wmbutler @svk31

There is repo and last build - https://github.com/bitshares/bitshares-ui-style-guide

Could you please validate it and close this task if you do not have any comments

[2018-04-20 19:08] clockworkgr commented on #1439
Pretty much...any chance it was a different password? or the pass was for a different account?

all you can do is doublecheck carefully. Your account doesn't seem to have been updated (possible key change) since you used it in december so pass has definately not been changed.

[2018-04-20 19:11] ahdigital commented on #1449
First draft of re-skinning TradingView charts. Next week I will embed them on an exchange mock-up to see them in situe.

![charts](https://user-images.githubusercontent.com/3088454/39069176-dec4256e-44d6-11e8-93de-5c04fce26066.jpg)

[2018-04-20 19:13] GerryCallan commented on #1439
Thanks clockworkgr - I have checked every iteration of the backups I've kept and the password hasn't changed, at least not by me. In fact I never attempted to change the password on any of the accounts due to having what I considered was a pretty strong password to start with, which was then stored relatively securely. I had a separate encrypted text file with passwords too and have verified that

[2018-04-20 19:37] kapeer42 commented on #1428
I propose to add a timeout that calls notify.info directly in the gatewayMethods. It would be cleared when the address is correctly fetched/validated or an error happens.

Another solution if there is a place where the request/validate could be used without the notifications system available is like you said to wrap those methods and use the wrappers where needed.

For the length and message I pro

[2018-04-20 19:44] kapeer42 commented on #1328
Can I claim this?

[2018-04-20 19:46] kapeer42 commented on #1288
Can I claim this?

[2018-04-20 19:48] GerryCallan commented on #1439
I've tried every other password I've saved, just in case including passwords for other accounts. They're all incorrect, but I'd expect them to be. The one that should be right isn't though, for whatever reason.

[2018-04-20 19:54] kapeer42 commented on #1436
Can I claim this?
I could implement the page roughly and with feedback reach a good UX maybe.

[2018-04-20 21:07] happyconcepts commented on #1367
@wmbutler how much longer should I wait on this? Thanks.

[2018-04-20 22:44] diogogomes commented on #1263
@happyconcepts, the alerts are set in starred/featured markets alert icon and in exchange alert icon. The alerts can be viewed in the modal.

About been stored locally or cross platform and if is required pay fees, It's a good question and is better discuss this in the issue #422 (the implementation). Can you give your opinion there? Thank you

[2018-04-21 04:46] startailcoon commented on #1437
I'll keep it

[2018-04-21 04:53] startailcoon commented on #1437
@kapeer42, if you can handle it this sprint I can hand it over since I will  otherwise be able to complete this until next sprint as it looks now.

Go ahead and start working on it if you wish to do so.

[2018-04-21 04:58] startailcoon commented on #1379
@wmbutler I can take this if we feel happy about it.

[2018-04-21 15:39] wmbutler commented on #1379
It's yours.

[2018-04-21 15:39] wmbutler commented on #1437
@kapeer42 can you complete this by 180501?

[2018-04-21 15:43] wmbutler commented on #1436
I'd rather have @ahdigital work the UX first.

[2018-04-21 15:44] wmbutler commented on #1439
Please seek further help here: https://t.me/btsWalletHelp

[2018-04-21 15:44] #1439 closed

[2018-04-21 15:55] wmbutler commented on #1449
This is a good start. Some other considerations now that we have tradingview:

- When the order book is displayed vertically along the left edge, it, in combination with the list of assets on the right, forces tradingview to be really narrow. I'd really like to see a layout where the order book and starred markets are on the right side.
- We could take this opportunity to move away from the dual b

[2018-04-21 15:56] #1333 closed

[2018-04-21 15:58] wmbutler commented on #1334
I'm a little confused about the hours on this task. I removed the 10 as you requested before, but what is the 15 for?

[2018-04-21 18:15] smogm commented on #905
Just switched to the 905-tradingview branch and it is just great! **Very nice work!**
**It looks so much better than the previous charts!**
Nice to see that progress, now it's simply some UI finetuning (e.g. enable drawing tools and maybe extend the height of the widget).

[2018-04-21 18:35] HarukaMa commented on #1443
If `login` call is mandatory, should we measure this one call only? I don't think websocket connection establishment should be a part of node performance as all subsequent requests won't have that part of time spent again.

[2018-04-21 18:57] HarukaMa opened #1451 "[1][svk] Unable to add new public keys in permissions"
When you try to add a new public key to active or owner permissions, the UI will always show "Unknown account", thus unable to add keys. Memo key changing is good. "Key is already in the list" error message is also not displayed.

Tested on wallet.bitshares.org, head of staging branch and a arbitrary version dated Apr 9. Seems that this issue has been there for a while.

This is a rather important

[2018-04-21 19:30] HarukaMa opened #1452 "Unreachable servers show up as green icon in quick switch"
The node quick switch menu on bottom-right corner shows green icons for unreachable servers, instead of red.

[2018-04-21 19:34] HarukaMa opened #1453 "[.5] Unable to remove manually added nodes"
Nothing happens when clicking on the black `x` mark in Settings - Nodes - Personal.

[2018-04-21 21:07] diogogomes commented on #1263
Hello @wmbutler, I finished this issue at 12 April. Any reason why you changed the milestone? Thank you.

[2018-04-21 22:00] tbone-bts commented on #1106
I really like this idea.  I would just point out that it will only be partially helpful to display the total in terms of the base asset only.  In other words, it should also show the total in terms of the quoted asset.

Also, it is not helpful to show the total of each individual group.  Instead, each row should show the cumulative sum total of all rows/groups up to (and including) that one.

[2018-04-22 01:08] abitmore commented on #1106
@tbone-bts basic data is a thing, UX is another.

[2018-04-22 02:49] happyconcepts opened #1454 "Portfolio page bugs"
Portfolio page has some issues.
First, the `value` should never be shown in red. ?
Second, at smaller screen sizes you can see from the attached screenshot that it is unuseable. Columns are missing, etc.
What has happened to the Portfolio page?

![redportfolio](https://user-images.githubusercontent.com/14145836/39090795-046ff286-459d-11e8-9787-77466fb4c5f8.png)

![port2](https://user-images.github

[2018-04-22 02:58] happyconcepts commented on #1369
Is this one not claimable? I could have done it this weekend...

[2018-04-22 03:51] HarukaMa commented on #1449
Nodes can have different available periods so translating them needs to be completely dynamic. For instance, my node have the following periods in seconds:

`[3,60,300,900,1800,3600,14400,86400,604800,2592000]`

(3s, 1m, 5m, 15m, 30m, 1h, 4h, 1d, 1w, 1m)

It's possible that there will be valid 1 week and even a 1 month periods, so it should be considered.

[2018-04-22 07:05] apasia-tech commented on #1436
Since there is 3+5 hours in the issue, i would consider proper management by @wmbutler as following:

@kapeer42 - 3 hours claim and implement the page roughly with all the needed witness data.
@ahdigital - 5 hours claim and get UX ready/pack after @kapeer42

It would speed up the process of the issue being solved/developed and give Dominic more time to focus on other more important tasks. What are

[2018-04-22 09:31] startailcoon commented on #1379
@wmbutler @ahdigital I have a few questions regarding the design

In "filter" mode, you can use "find by issuer", and above you describe this with

My question is, what do we regard as an issuer?

**The following are assets in my understanding**
- bitXXX
- open.xxx
- rudex.xxx

**The following are issuers in my understanding**
- committee-account
- openledger-wallet
- rudex-steem

If we expect a u

[2018-04-22 09:45] #1451 closed

[2018-04-22 09:54] gibbsfromncis commented on #1334
@wmbutler it's pretty simple. I've posted the full report so you know what kind of work done and where I spent estimated time:

1) The [first part](https://github.com/bitshares/bitshares-ui/issues/1333) (#1333) was to:
- setup base skeleton and setup base architecture of project
- configure project to export only `bitshares-ui-style-guide` (when we have React v16 on bitshares-ui our developers wil

[2018-04-22 11:09] abitmore commented on #1379
@startailcoon : in regards to implementation,
* for better performance and UX, please consider caching popular assets (e.g. bitXXX, OPEN.XXX) in local storage to avoid always fetching from remote API server;
* bitXXX assets actually have no "bit" in the backend, so it's a bit tricky for you to implement the search feature;
* the back end is good at finding assets by name with same prefix, I'm not

[2018-04-22 13:52] kapeer42 commented on #1437
yes

[2018-04-22 14:37] grctest commented on #1392
Had this occur again in chrome, cancelled a buy order and this popped up. Shortly after completing a transfer it also occurred stating that the tx hadn't been successful. Here's a screenshot:

![image](https://user-images.githubusercontent.com/15861527/39096086-08d929fe-4643-11e8-978a-da3e80686064.png)

[2018-04-22 17:25] wmbutler commented on #1392
Thanks for the console log.

[2018-04-22 17:27] wmbutler commented on #1437
Awesome. Please try to get your changes up soon because we will want the group to test this thoroughly.

[2018-04-22 17:30] wmbutler commented on #1369
@happyconcepts I've assigned it to you, but agree on how this will be pursued before you begin work on it. My understanding is that we already show the market fee. The addition is to display a percentage of the overall transaction value to help people understand the magnitude of the transaction.

[2018-04-22 17:39] wmbutler commented on #1379
@startailcoon Yes, when I refer to the issuer of an asset, I'm referring to the literal issuer as it exists on the blockchain. We could map the issuers to a more common name to make it more understandable for people:

- committee-account: Bitshares Asset
- openledger-wallet: Openledger
- rudex-steem: Rudex

I tend to agree with your statement

Torn on this. In general, I think people want to searc

[2018-04-22 17:41] wmbutler commented on #1334
OK, so this is phase 1 part 3 and should be paid at 15 hours. Got it.

[2018-04-22 17:42] #1334 closed

[2018-04-22 17:45] wmbutler commented on #1436
It makes very little sense for @kapeer to do work prior to UX.

[2018-04-22 17:46] wmbutler commented on #1449
Agreed. My point is that we need to have logical intervals chosen based on a period.

[2018-04-22 17:50] wmbutler commented on #1454
We are going to move to ANT for the styling. This will incorporate responsive design for smaller screens.

Value is always white for me... which version of the wallet are you on?

![screen shot 2018-04-22 at 12 50 06 pm](https://user-images.githubusercontent.com/1254810/39098124-b58c9a5e-462b-11e8-9139-bc799af9ff7b.png)

[2018-04-22 17:52] wmbutler commented on #1263
Because the UX is just not good. I'm sorry to be so blunt but isn't it obvious?

[2018-04-22 17:54] wmbutler commented on #1453
True... And I don't think the one listed for me is even a personal node.

![screen shot 2018-04-22 at 12 53 37 pm](https://user-images.githubusercontent.com/1254810/39098161-40e2a01c-462c-11e8-8ba2-7c4b1f839edf.png)

[2018-04-22 17:56] wmbutler commented on #1452
Good point. Questions for devs:

- Does unreachable mean we never tried to ping it?
- Seems logical to assume that an unreachable node does not need an active select control.

[2018-04-22 17:58] wmbutler commented on #1449
Doubled the UX hours.

[2018-04-22 18:00] startailcoon commented on #1379
Your statement makes sense, so I'll let it be for now. If the user search for BTC, and they really need to filter by issuer they can choose from those that exists.

## Another Question

I'm not really sure what the difference of "filter" and "search" is for. As "find by asset" on the filter tab will search for all assets and present those that the user can choose from, including filter by issuer.

[2018-04-22 18:04] wmbutler opened #1455 "[2] Node out of Sync: Cannot read property 'substr' of undefined"
Once a node is out of sync, the UI remains on the same screen while clicking around, repeating this same console log. This error should be caught and should trigger a node reconnect instead.

![node](https://user-images.githubusercontent.com/1254810/39098265-95e29602-462d-11e8-985e-979942adc6e4.gif)

[2018-04-22 18:09] grctest commented on #1379
Regarding the term 'issuer' within the market picker's "asset owner" dropdown textbox, this could be confusing terminology for market pegged assets as there is no centralized issuer (MPA = decentralized issuance, UIA = centralized issuance). It's one of the major benefits that smartcoins offer.

[2018-04-22 18:26] diogogomes commented on #1263
Sorry and with all respect, it isn't obvious without any kind of feedback.

I'm just complying with the @ahdigital User Interface Style Guide.

I have other suggestions but it requires a big changes to the UI Style Guide and because you request to comply with this type of UI, I'm frozen with this type of suggestions and I can't take a more friendly User Interface path.

Bringing the private conver

[2018-04-22 18:32] abitmore commented on #1453
@wmbutler the one was on the list, but the url has changed in latest release.

[2018-04-22 19:25] startailcoon commented on #1379
## Preview

Supplying a **preview** of the Market Picker in action.

![bitshares-marketpicker](https://user-images.githubusercontent.com/12114550/39099022-74b782ee-4673-11e8-9074-c8abd6b11453.gif)

[2018-04-22 19:32] startailcoon commented on #1453
I'll handle this one

[2018-04-22 19:35] wmbutler commented on #1263
If I have to design the UX, why would we offer a bounty for it?

[2018-04-22 20:01] diogogomes commented on #1263
I'm sorry but I honestly do not think that this type of answers (like the one where you tell me to fork the project) are professional, productive and I do not believe they contribute to a good course in the development of Bitshares UI.
To this type of answer, I just have to say that no one suggested that you do the Design/User Interface, just ask for a more communicative leadership and a decision

[2018-04-22 20:08] startailcoon commented on #1453
Due to an issue in how the removal modal was triggered, the modal never showed after the change of Icons in the list. This is now fixed in the PR, as well as a few translation fixes.

The unknown node you have in your list is due to the change of URL, which you figured out.

If a node is not a known node, and the user has it in its list, it's regarded as a personal node.

[2018-04-22 20:08] #1453 closed

[2018-04-22 20:16] startailcoon commented on #1454
- Fixed the column where Total(prefAsset) was wrapped on small screen.
- Fixed the colum where the sum of prefAsset was hidden.

![image](https://user-images.githubusercontent.com/12114550/39099394-d42b12fc-467a-11e8-9280-6a748ea28ee9.png)

[2018-04-22 20:21] gibbsfromncis opened #1458 "[.25][gibbsfromncis] Reset sorting of orders book after unpin"
When user do `pin` and `unpin` of orders book (pin icon on BUY ORDERS header)
The orders on `Sell Orders` table sorted in wrong order.

ER:
<img width="1027" alt="screenshot 2018-04-22 22 21 31" src="https://user-images.githubusercontent.com/35899973/39099436-855190b0-467b-11e8-8cfd-e32af63bc28b.png">

AR:
<img width="1027" alt="screenshot 2018-04-22 22 19 34" src="https://user-images.githubuserco

[2018-04-22 20:25] startailcoon commented on #1445
I can't reproduce this.

I placed one buy order of 1 open.USD with two different accounts. Both now view the order line of 2 open.USD for 0.8 BTS as blue.

![image](https://user-images.githubusercontent.com/12114550/39099475-0170f640-467c-11e8-82fc-7c20f8a7b6a5.png)

[2018-04-22 22:09] gibbsfromncis commented on #1263
@wmbutler I'm sorry but I want to take a part of your discussion and put my thoughts there.

@diogogomes I suppose there are no reasons to continue this discussion. You just didn't deliver the UI/UX which make us say `Wooow`. Honestly, I agree with Bill for 100%. When we say we don't like it - you ask us for a direction you should go. We're there not to teach you or spend our time for non-profit d

[2018-04-22 22:25] happyconcepts opened #1459 "Explorer page is slow loading"
This is on a 10Mb/s connection; sneer if you want to but this isn't particularly slow for wifi here in the U.S.

Is the pageload slow due to the large number of coins being fetched? I want to search but I have to wait for all the coins a-z are belong to my browser.

[2018-04-22 22:29] diogogomes commented on #1263
@wmbutler, you removed my 4 hours when @ahdigital break the follow rule on issue #1030.

Now, you let the date expire without feedback to not pay me again breaking another rule.

I'll be paid, one way or another and I'm glad to see this situations on public domain.

Thank you for your time.

[2018-04-23 01:39] gibbsfromncis commented on #1459
@happyconcepts it's duplicate of #1435

[2018-04-23 01:55] #1459 closed

[2018-04-23 02:26] apasia-tech commented on #1436
UX - User Experience
UI - User Interface

Thx Bill, even though there is not UX work on this issue, It's just an info witness page. And on the other hand, I see that team has no much changes on the github for past 20 days, so this was a very PROFESSIONAL MANAGEMENT SUGGESTION how to speed up the process and help the blockchain. We wouldn't be happy for me to go there and research more, especially

[2018-04-23 04:07] happyconcepts commented on #1369
Ok, great. Let's establish a specification together:
1. UX ... where is the % displayed beyond being in the tooltip already. Also, where is net amount displayed.
2. Round down the amount by coin precision.
3. Display Net amount as estimated.
4. Display fee % prominently.

I believe we have established that we shouldn't arbitrarily set percentage thresholds, so as not to limit current and future us

[2018-04-23 06:16] mattbeckman commented on #1440
How it appears in Chrome history:

<img width="385" alt="screen shot 2018-04-22 at 9 47 14 pm" src="https://user-images.githubusercontent.com/928380/39107408-c2f08f66-4676-11e8-8a4b-f8e8f6d4b06b.png">

Electron shows the title (although not as useful as a browser history):

<img width="976" alt="screen shot 2018-04-22 at 9 48 24 pm" src="https://user-images.githubusercontent.com/928380/39107454-27

[2018-04-23 06:24] smogm commented on #1449
Maybe you can add buttons to size the widget like it is done on bitfinex:
![image](https://user-images.githubusercontent.com/2078175/39087553-0b4db0d8-45a3-11e8-8bce-6c366bd01bfb.png)

If you increase the size one time the drawing toolbar is displayed on the left:
![image](https://user-images.githubusercontent.com/2078175/39087544-d98d71a0-45a2-11e8-86f0-15e2ffbd8758.png)

[2018-04-23 08:14] abitmore commented on #1062
@calvinfroedge what's the progress so far? If you haven't started working on it, can you release it so I can ask @ety001 to work on it after finished #1106?

[2018-04-23 08:27] svk31 commented on #1106
The GUI already does this when parsing the orderbook, I realize you already implemented this in the backend now but tbh I don't see why that's even needed. It would be easy to extend the current grouping in the GUI to do what you want.

[2018-04-23 08:33] svk31 commented on #1346
I did merge the `bitsharesjs-ws` PR now if that's what you're referring, I've been waiting for a reply on my latest feedback but just made the changes myself in the end and merged it.

[2018-04-23 08:53] abitmore commented on #1106
@svk31
1. to fetch less data from backend but get more useful info;
2. to show deeper market depth.

For example, https://wallet.bitshares.org/#/market/BTS_CNY, even clicked "show all bids", the lowest bid is at `1.61 CNY/BTS` while the highest is at `1.69`, showing in total 600K CNY on the book but there are much more orders:

![image](https://user-images.githubusercontent.com/9946777/39116075-c7

[2018-04-23 10:04] svk31 commented on #1449
Intervals are already dynamic but I only implemented days and minutes so far, it's not a styling issue though. I've extended the logic for seconds and weeks now but don't have any nodes offering that to test with.

[2018-04-23 10:37] clockworkgr commented on #1439
awesome!

[2018-04-23 14:13] wmbutler commented on #920
Moved to 180601. Need someone else to estimate.

[2018-04-23 14:15] wmbutler commented on #1062
This needs to be worked on with @ahdigital as well. He is doing a full UX on the Exchange. #1449

[2018-04-23 14:16] wmbutler commented on #1369
Either submit a visual or work with @ahdigital

[2018-04-23 15:52] abitmore commented on #1062
@wmbutler I feel that @ahdigital is overloaded, in the meanwhile we have quite some developers that can code now. Please prioritize things.

[2018-04-23 15:58] svk31 commented on #1449
Most nodes include those buckets from what I've seen. Nodes are free to configure whichever buckets they like, they're defined in seconds in their config files. The GUI will simply display whichever buckets are available from your currently connected node. This is using eu.nodes.bitshares.ws for example:

![image](https://user-images.githubusercontent.com/6890015/39138252-d53c46d4-471f-11e8-971b-f

[2018-04-23 16:04] abitmore commented on #920
@wmbutler I'd rather label it "wont fix".

[2018-04-23 18:38] happyconcepts commented on #1412
I think removing the cancellation fee altogether for Dex orders should be considered.

Improved liquidity > spam potential

If cost is an issue, then increase the order fee to compensate.

Why not?

[2018-04-23 18:42] happyconcepts commented on #1412
Or could the chain allow cancellation without a fee for orders that will result in a zero balance of BTS?

[2018-04-23 19:05] startailcoon commented on #1422
I agree with the poster, we need to be able to hide the side panel.

I advise we make it collapsible and just adds a little arrow out on the right side when it is hidden that makes it view again.

Any other suggestions?

[2018-04-23 19:26] wmbutler commented on #1412
This has been debated, but as you suggest, it's a core debate. We would of course comply with whatever decision was made. Seems to me that 0 fees could create a spam issue whereby someone could spin up hundreds of thousands of spam bots to bring down the network with no repercussions.

[2018-04-23 19:27] #920 closed

[2018-04-23 19:39] wmbutler commented on #1449
Thoughts:

Period | Interval
-- | --
All | 2w
1y | 1w
6m | 4d
3m | 2d
1m | 1d
2w | 6h
1w | 3h
1d | 1h
6h | 5m

[2018-04-23 19:53] ahdigital commented on #1379
Those inputs aren't the new style yet. It's going to be addressed in an overides task to come.

[2018-04-23 20:07] startailcoon commented on #1379
@ahdigital it does, just not visually yet 👍

[2018-04-24 05:58] smogm commented on #1449
@wmbutler guess the greater the interval larger the distance between them can be.
E.g. I would remove 2d, 4d and 2w and simply add 1 month instead.

[2018-04-24 07:00] ahdigital commented on #1435
Here is an example of a paginated table combined with filters; asset type, results per row and typeahead search. It is set within a page which uses a tab component to display child pages under the parent of 'Explore'.

Below the main mock up is what it would look like against the existing header.

### Explore using updated header

![explore with new nav v4](https://user-images.githubusercontent.co

[2018-04-24 07:28] gibbsfromncis commented on #1435
@ahdigital can you please upload radio buttons solution too? I'm still sure it looks better 😃

[2018-04-24 07:29] gibbsfromncis commented on #1336
@wmbutler As ant redesign finished we can close task regarding UX too

[2018-04-24 08:05] ahdigital commented on #1435
The radio buttons solution @gibbsfromncis is referring to is below. Instead of simple radio buttons they're presented like a button bar. I don't think it's ideal because:

1) The buttons don't stack well on mobile when there are multiple, or when the button text is lengthy
2) Visually they appear like tabs, and we already have a tab component - we don't need multiple instances IMO

![explore with

[2018-04-24 08:10] svk31 commented on #1455
It's hard to diagnose without a copy paste of the first parts of the red errors, but I suspect it's caused by a closed connection not an out of sync error.

[2018-04-24 08:29] #1432 closed

[2018-04-24 08:32] svk31 commented on #1429
Rounding input prices is problematic and very hard to get right, since the actual prices are defined as integer ratios and can have arbitrary numbers of decimals. The rounding to 8 decimals only applies to the display values, the code works with integer ratios just like the backend.

[2018-04-24 08:39] svk31 commented on #1406
The reason I use Math.floor is that you regularly get decimals when multiplying the sqr by the base amount, but the new base amount should be an integer. Are you saying it should be rounded up instead of down?

[2018-04-24 08:46] svk31 commented on #1406
Ok I think I get your point @abitmore: multiply both by 1000 to keep the same ratio but remove the decimals. I still have to do a Math.floor because javascript floating point multiplication is shit, but it won't round down the way it did before.

[2018-04-24 10:02] #1406 closed

[2018-04-24 10:13] clockworkgr commented on #1406
I've been working with price multiplication/division in JS as part of porting xeroc's pricefeed script to JS.

The way I handle it/optimise it is do the multiplication, get the precision of the result, multiply both base and quote amounts by 10**precision to convert base back to integer, run a GCD calculation between base and quote and divide both by the GCD to get an "optimised" pair of base/quot

[2018-04-24 11:03] abitmore commented on #1406
Yes, dividing by GCD will improve a bit, lead to less possible to overflow in future calculation.

[2018-04-24 12:16] svk31 opened #1462 "[3] SettingsStore doesn't merge defaults with stored defaults properly"
See: https://github.com/bitshares/bitshares-ui/pull/1441#issuecomment-383882834

The merging of coded and stored settings and defaults is messy to say the least, and we should probably refactor the whole thing.

[2018-04-24 13:51] wmbutler commented on #1455
I'm almost positive this was the current state of my browser after I had been gone for a few hours. I happened to be on the node screen when I left. When I returned, clicking on any link yielded the console logs shown.

[2018-04-24 13:56] wmbutler commented on #1435
Looking great.

- [ ] Either left justify or center the pagination controls?
- [ ] How about a 25 / 50 / 100 item chooser with 25 as the default?

[2018-04-24 13:57] #1336 closed

[2018-04-24 14:01] wmbutler commented on #1449
@smogm I'm not sure I understand.

[2018-04-24 14:15] ahdigital commented on #1435
I think your second point has already been included.

[2018-04-24 14:18] wmbutler opened #1463 "[2][ahdigital][5] Properly handle non-existent markets"
If a market does not exist, for instance,  foo_foo,  handle it gracefully and quickly. In this case, the user attempted to navigate directly to market foo_foo and the browser connected tot he chainstore of the node and hung.

- [ ] UX the empty state (Market does not exist). Should we load all the elements of the Exchange but leave them empty with the chosen foo/foo in the upper left? This would a

[2018-04-24 14:29] wmbutler opened #1464 "[3] Issue with bridge.ltc price"
The title of this issue is very specific, but I suspect it's a symptom of a wider problem. The way we are calculating the price of bridge.ltc on the portfolio seems disconnected from reality. I'm hoping someone can evaluate that logic and see if there is something obvious going on.

## Exchange
![screen shot 2018-04-24 at 9 26 27 am](https://user-images.githubusercontent.com/1254810/39193772-e4c25

[2018-04-24 15:29] clockworkgr commented on #1464
Not entirely sure what you are referring to but my guess is that Dashboard prices are based on last trade price of ASSET/BTS pair...

In some cases , due to low liquidity these might be very old and with huge spreads.

E.g. Current spread of bridge.LTC/BTS market:
![image](https://user-images.githubusercontent.com/6826762/39197518-5bb18a1c-47ed-11e8-86f5-4e9d24384446.png)

[2018-04-24 15:30] svk31 commented on #1464
It's because the price is calculated via two markets: BRIDGE.LTC_BTS and USD_BTS. The BRIDGE.LTC_BTS market is very low volume and thus weird prices, which is the root cause of this. I'll try to do a pass on the equivalent price components since it's gotten pretty heavy for users like yourself with tons of assets.

[2018-04-24 15:48] wmbutler commented on #1464
@clockworkgr It's from 2 hours ago. That's not a very old spread. Seems to me like the calculation weighted heavily on the BTS market.

[2018-04-24 16:02] svk31 commented on #1464
It's not weighted in any way, it just doesn't use the direct route at all atm.

[2018-04-24 17:14] startailcoon commented on #1422
I agree with you Bill. I see it like this.

1. User can view/hide the whole rights panel with the components.

2. User can hide/view components horizontally like we have the depth chart.

At least one component on the right side is viewable and they can reordered by the user.

As we now also have the market picker going, hiding the markets on the right side isn't an impossible scenario for a user,

[2018-04-24 17:25] MarkoPaasila commented on #1422
That idea sounds really good. I don't really have any opinion about the depth chart at the bottom. I use depth-chart as my main view anyways.

[2018-04-24 17:33] startailcoon commented on #1422
@MarkoPaasila I do that as well, the small one at the bottom is usually not something I look at anyway. But since it's there some users may use it more than we do.

This will also make it easier to navigate the dex on a smaller screen or phone in landscape since before you where forced to have the right menu if your screen "fitted it", which isn't always the case as we can see.

[2018-04-24 18:17] gibbsfromncis commented on #1447
I've no time so reassigning this one to my friend @TBAPI-0KA

[2018-04-24 22:38] wmbutler commented on #1422
@ahdigital hopefully these conversation will help you in your design decisions.

[2018-04-25 09:27] svk31 commented on #1463
Here's a 30s solution:

![image](https://user-images.githubusercontent.com/6890015/39237354-933840d2-487b-11e8-9a09-14e054c5d624.png)

[2018-04-25 09:58] #1463 closed

[2018-04-25 16:13] wmbutler opened #1466 "[2][ahdigital] UX for Exchange when no market is found"
If a market does not exist, for instance,  foo_foo,  handle it gracefully and quickly. In this case, the user attempted to navigate directly to market foo_foo and the browser connected to the chainstore of the node and hung.

- [ ] UX the empty state (Market does not exist). Should we load all the elements of the Exchange but leave them empty with the chosen foo/foo in the upper left? This would a

[2018-04-25 20:02] startailcoon commented on #1449
@ahdigital Looking really nice. Do I assume correct that you've added a "hidden" arrow for the side menu, rendering issue #1422 obsolete? I've done nothing on it yet, so if this is the case we can close it.

[2018-04-25 20:06] gibbsfromncis commented on #1449
@wmbutler as @ahdigital presented cool redesign of entire Exchange I can work on this one

[2018-04-25 20:17] startailcoon commented on #1422
Is this issue obsolete due to the work done on #1449 and #905?

@wmbutler, do we want this fixed now or do we want to wait for the new layout to take effect. As I can see in the new UX of #1449 there will be a hidden arrow. But that's just the UX, so it may be related to this issue?

[2018-04-26 15:02] wmbutler commented on #1422
Duplicate #1449

[2018-04-26 15:09] wmbutler commented on #1449
## Notes
First of all I'd like to say that I think this is excellent work. I have a couple of points, but they are by no means criticisms.

- [ ] I'm hoping we can avoid the striped table rows. onHover colors can create an undesirable effect. Maybe very light divider lines or no lines at all will suffice.
- [ ] I believe it's important that the order entry screen be in view at all times. Possibly

[2018-04-26 15:15] wmbutler commented on #1276
@startailcoon great work. Really appreciate you going the extra mile on this.

[2018-04-26 18:21] Bluffet opened #1468 "Accounting -balance sheet proposal"
Hi guys. I'm not sure if this is the correct way to go about this, but I wish you would read this:

https://steemit.com/bitshares/@funkit/bitshares-improvement-proposal-the-missing-balance-sheet

[2018-04-26 19:02] startailcoon commented on #1445
@landry314 I can't do anything more on this unless I can get some details about your issue and why you have something other than what I have when I test this.

[2018-04-26 20:04] wmbutler commented on #1468
This might be an interesting issue to work on outside of the current activity feed. It could be build from the ground up as a separate endpoint.

[2018-04-27 02:51] tianyekuo commented on #1276
@startailcoon , thanks for your great work, the document makes the integration better.

[2018-04-27 10:27] ahdigital commented on #1466
Within the context of the new exchange UI and market picker we could:

- Show empty UI with messaging "Market not found"
- Automatically open the market picker with the asset that could not be found selected

![image](https://user-images.githubusercontent.com/3088454/39358335-a15916e4-4a0d-11e8-9af3-864d082c968d.png)

[2018-04-27 17:58] abitmore commented on #1449
IMHO "buy/sell toggle' is a bad design since it's too easy to place orders in wrong direction.

[2018-04-27 18:01] abitmore commented on #1449
Please also add the order-stacking feature in the view. More info: https://github.com/bitshares/bitshares-ui/pull/1467

[2018-04-27 18:49] wmbutler commented on #1449
@abitmore We need to save some space on the exchange. Any other thoughts? Unless you have a specific suggestion, I'm leaning towards the current UI. The button clearly says "Buy <asset>" or "Sell <asset>"

[2018-04-27 18:56] wmbutler commented on #1449
By the way, I'd use **Vertical Order Book B**

[2018-04-27 19:06] wmbutler commented on #1466
This UX is groomed and ready for work but should be completed as part of ANT Exchange rewrite.

[2018-04-27 19:06] #1466 closed

[2018-04-27 21:41] happyconcepts commented on #1369
Will post a screenshot this afternoon, added another row to display fee percent.

[2018-04-27 22:37] happyconcepts commented on #1402
Great idea.

Other exchanges provide a simple 'hide zero balances' feature.

It would be sensible to implement this feature. No need to re-create the wheel, just make it simple with one click please.

[2018-04-28 06:00] #1319 closed

[2018-04-28 10:30] abitmore commented on #1402
Bitshares-ui already got zero balance assets hidden. This issue is more than that, actually it's a bit hard to judge. For example, even 0.0001 WHALESHARE worths a lot.

[2018-04-28 15:47] startailcoon commented on #1276
Forked update for BitShares UI with GDEX Gateway support is now available at https://github.com/bitshares/bitshares-ui/tree/1276_GDEXGateway

### This should be checked and signed of by the GDEX team before merging.

![bitshares-gdex](https://user-images.githubusercontent.com/12114550/39398311-2953d1ca-4b0c-11e8-89f1-b913dbe1eba9.gif)

[2018-04-28 16:02] wmbutler commented on #1276
@tianyekuo

[2018-04-28 16:04] wmbutler commented on #1402
We added the ability to manually hide assets already. I'm not sure this can be automated.

[2018-04-28 16:06] wmbutler commented on #1369
I'm not sure you need another row, but awaiting your screenshot.

[2018-04-28 18:03] abitmore commented on #1402
An option is to change the feature to white listing rather than black listing.

[2018-04-28 18:55] startailcoon commented on #1449
@wmbutler @abitmore one idea is to make the background of buy and sell significant different so the user can see where she is.

Not just a header color.

[2018-04-29 01:14] happyconcepts commented on #1369
So here is what it looks like with a new row added. We are tight for space on that first column, so tight that the existing `Market Fee` display is already clipped when on a small screen.

![ux3](https://user-images.githubusercontent.com/14145836/39402284-ccc85a58-4b0f-11e8-9043-c2b8f659969f.png)

With the current UX layout for this buy/sell screen, neither `Market Fee Percent` nor `Market Fee %`

[2018-04-29 01:33] happyconcepts opened #1469 "[0.5][happyconcepts] Round Market Fee Display"
Second screenshot in #1369 shows the lack of precision rounding in 180402 release.

[2018-04-29 01:36] happyconcepts commented on #1469
I can deliver this for 0501 even if UX isn't decided. Done except for a few more tests actually.

[2018-04-29 07:34] #1207 closed

[2018-04-29 15:33] tianyekuo commented on #1276
That's great, please help to release it, thanks!

[2018-04-29 15:47] #1276 closed

[2018-04-29 18:02] wmbutler commented on #1369
I prefer the second option.

[2018-04-29 18:05] wmbutler commented on #1449
Green and Red would make good choices. Unambiguous. I don't see it as a problem since the acual buy button and header is labelled as such. If colors can be worked in without it looking like crap, I'd support it thought.

[2018-04-29 19:10] wmbutler commented on #1402
That's an interesting thought. That might backfire for intended transfers. This is a really unique problem to have. I don't imagine other exchanges have this issue.

[2018-04-29 19:47] startailcoon commented on #1379
@ahdigital where can I find resources for the icons you use in the UX?

[2018-04-29 20:15] happyconcepts commented on #1369
Great. Will you add 1 or 1.5 for the rounding bug too? I broke it out separately as #1469 and it needs some testing before PR.

[2018-04-29 22:10] startailcoon commented on #1379
There will be one issue with searching for asset, just like what we have on issue #1320.
As the function `getAssetList()` is designed to start from a defined asset (like `STEEM` for example) and run for x number of items to populate the list, it will not be able to find assets like `OPEN.STEEM`.

Either we have to redesign the `getAssetList()` function or we have to wait for the Elastic Search fea

[2018-04-30 06:38] ahdigital commented on #1379
Until icons from ANT are integrated you can use these ones: [icons.zip](https://github.com/bitshares/bitshares-ui/files/1959715/icons.zip)

[2018-04-30 07:05] ahdigital commented on #1369
Just an idea - would moving the market fee value (0.1%) into a tooltip help with the spacing issue.

[2018-04-30 07:17] ahdigital commented on #1449
Rather than change colour for the tab or it's background I did it on the action button itself. So, 'Buy [asset]' would be green and 'Sell [asset]' would be red.

I've updated the visuals in the above [post](#issuecomment-384915479).

[2018-04-30 11:15] abitmore commented on #1449
@wmbutler @ahdigital please add order-stacking feature introduced with #1467.

[2018-04-30 11:50] abitmore commented on #1369
@ahdigital this issue is here since people didn't notice the `x%` market fee even when there is a `(?)` sign on UI already, so I think it's better to show it on the screen directly rather than to show in a tool tip.

[2018-04-30 12:05] ahdigital commented on #1369
That'll teach me not to read the entire thread.. What about this to shorten the label:

![image](https://user-images.githubusercontent.com/3088454/39426252-0e236138-4c77-11e8-9f06-2a27b54b7879.png)

[2018-04-30 13:11] bangzi1001 opened #1472 "Suggestion: Keep at least 1 BTS in Account to Avoid Insufficient Funds"
There are number of Bitshares' users buy coins with all BTS and then withdraw the coins via gateway like openledger, Rudex & Gdex etc. Then only they notice Insufficient Funds for withdrawal because need some BTS.

This is common issue and we always see some users beg for 1 BTS in Telegram & Wechat groups. We can avoid this issue by alert users when they choose to use all their BTS to buy coins.

[2018-04-30 14:05] happyconcepts commented on #1369
@ahdigital welcome your feedback.

Both of your suggestions were actually attempted earlier.

But fee amounts are up to eight decimal places in length depending on the coin.

Also, long asset names such as  CADASTRAL are problematic with that design.

Also, parentheses are used for negative amounts in finance.

If the market fee percentage needs to be made even more apparent to the first time buye

[2018-04-30 14:36] ahdigital commented on #1369
No no, it's fine and good information to know. I'm going to use it as a test against the exchange UI I'm working on in another task to ensure the work here is transferable.

[2018-04-30 19:31] startailcoon commented on #1379
## Update

I've bypassed the issue with the filter not finding `XXX.xxx` assets (such as `OPEN.`, `RUDEX.` etc) by adding a flag to the `getAssetList` function.

This is a preview of the system at the moment. Only thing left is to make the different tabs of filter and search.

`Filter by issuer` will be the issuer name, as proposed from the beginning.

![bitshares-marketpicker_2](https://user-imag

[2018-04-30 21:08] startailcoon commented on #1379
## Final Result

![bitshares-marketpicker_4](https://user-images.githubusercontent.com/12114550/39450364-5579fc1e-4ccb-11e8-9ed6-a07222a2ca2d.gif)

[2018-04-30 22:26] #1472 closed

[2018-04-30 22:28] wmbutler commented on #1449
@ahdigital I didn't see the updated colors above but I think I understand what you are suggesting.

[2018-04-30 22:29] wmbutler commented on #1462
It's yours @kapeer42

[2018-05-01 05:06] ivanviso opened #1475 "Add a textbox to the slider in the collateral borrowing section to make entering your own ratio easier."
It is annoying in desktop. But it is definitively the most annoying when trying to use it on phone. It also looks like a relatively easy change to make.

[2018-05-01 05:44] startailcoon commented on #1475
I agree and think it would be an easy trick to just add a small input box displaying the percentage number.

I'll compose a proposal on this.

[2018-05-01 06:34] ahdigital commented on #1449
@wmbutler Updated.

[2018-05-01 06:52] ahdigital commented on #1329
Updated screenshots below showing the key viewer which when clicked will trigger the existing modal behaviour.

![active permissions default table v5](https://user-images.githubusercontent.com/3088454/39464232-ff0109c4-4d13-11e8-9ef3-85ea6ff4a6b0.png)

![active permissions v4](https://user-images.githubusercontent.com/3088454/39464189-d481b928-4d13-11e8-83b7-9d835037e3f2.png)

![active permissions

[2018-05-01 08:14] startailcoon commented on #1379
@wmbutler missed this on the last few changes. It's been updated in the PR

![image](https://user-images.githubusercontent.com/12114550/39466277-632bea0e-4d28-11e8-8883-8edd626320b9.png)

[2018-05-01 08:59] #1328 closed

[2018-05-01 09:01] svk31 commented on #1328
The PR was not fixing the issue, but while investigating I discovered an issue with the sorting that I fixed and the sorting is now stable.

[2018-05-01 18:54] happyconcepts commented on #1369
@abitmore well actually all users won't click to the asset page as there's no link to it!

[2018-05-01 19:33] startailcoon commented on #1369
@happyconcepts it's linked on the market header row, when you click on either asset pair name.

[2018-05-01 20:05] happyconcepts commented on #1369
@startailcoon thank you for pointing that out. Those links seem inconsistent :(

[2018-05-01 21:31] wmbutler commented on #1447
I'm not sure which languages you speak, but I'd suggest you set them all with the appropriate english language and allow others to fill in the gaps at their leisure. Tell me what your hours should be set to in order to justify your time.

[2018-05-01 21:50] wmbutler commented on #1449
This is groomed and ready for execution.

[2018-05-01 21:50] #1449 closed

[2018-05-01 21:51] wmbutler opened #1477 "[20] Exchange Redesign"
Please follow the UX shown on #1449

_(This issue includes redesign of entire Exchange except Trading View redesign & Market Depth chart. For Trading View & Market Depth we have [separate issue](https://github.com/bitshares/bitshares-ui/issues/1484), (c) gibbsfromncis)_

_Ready for testing and final comments -> https://github.com/bitshares/bitshares-ui/issues/1477#issuecomment-414146761 //startail

[2018-05-01 21:52] abitmore commented on #1477
@wmbutler where is the order-stacking feature?

[2018-05-01 21:57] wmbutler commented on #1477
@abitmore I don't think it is required in order to get the UI rewrite started.

[2018-05-01 21:59] wmbutler commented on #1475
I'd like to see UX on this. I love the idea too.

[2018-05-01 22:08] abitmore commented on #1477
There is already a PR for that feature: https://github.com/bitshares/bitshares-ui/pull/1467, to avoid duplicate or wasted efforts, we need to think about when to merge it and arrange work appropriately. After the UI rewrite is done, that feature will certainly need to adapt.

BTW the developer is looking for something really challenges to work on. Wish we can find some in this project for him.

[2018-05-01 23:02] TBAPI-0KA commented on #1447
English and Russian, from our localizations, but it doesn't matter. To set appropriate titles, I need to find them on UI, fill in those that I understand what they do, and ask for the rest. If you think that it worth to do, I'm more than happy to do that and report time then.

[2018-05-02 04:40] sschiessl-bcp commented on #1447
I wasn't aware it's that many, but good job! I would suggest for now fill in the prominent ones that you do understand and the rest is on the fly

[2018-05-02 06:50] ahdigital commented on #1329
No problem.

If somebody wanted to find their keys, would they really think first to go to 'permissions > active permissions'?

Do you have a practical reason why we shouldn't place this key viewing functionality either within the settings area or, on their own tab (E.g. Keys) as a child page of permissions. Memo key, for example has it's own tab so why not bring all these things together?

[2018-05-02 15:35] wmbutler commented on #1477
@abitmore If you have anything that interests you, I'd be happy to add it. We do have a challenging issue surrounding changing a user's keys, particularly the memo key since past memos rely on it having the old key.

Is your contact a backend or frontend resource?

[2018-05-02 16:59] wmbutler opened #1478 "[.25] Set version in lower left corner based on package.json version"
@svk31 we discussed this. If it's easy, I hope you will add this to the 180501 sprint.

[2018-05-02 17:26] wmbutler opened #1479 "[3][kapeer] UX for Send/Deposit/Withdraw beta -> legacy"
We are at a point where I think we can change the labels on Send/Deposit/Withdraw. I'd like to consolidate the choices on this and:

- Remove the beta label from the new way
- Add the legacy label to the old way

Ideally, we can move everything to the right menu and have a single row for each item with legacy as a less prominent option on that row:

- Send | legacy
- Deposit | legacy
- Withdraw |

[2018-05-02 17:29] wmbutler commented on #1437
Moving this to 180515 to accommodate testing.

[2018-05-02 18:04] startailcoon commented on #1479
For the record, Legacy is required for users using GDEX Gateway for specific functions, like their beta program etc. Things that we did not include in the new modals.

I think it's a good thing that we do the switch, and that the legacy still remain the background for now.

[2018-05-02 18:04] wmbutler commented on #1329
@ahdigital, thanks for your comments. This is a good conversation to have.

Permissions are exactly that. They represent the set of rules that allow a user to have controls over their funds. In this case, those permissions can be granted by a single private key, or a combination of keys (multisig). For this reason, I think it is appropriate to include private key management within the permissions

[2018-05-02 18:06] wmbutler commented on #1479
Agreed, I don't want to get rid of those screens, just want to start phasing them out.

[2018-05-03 08:46] ahdigital commented on #1477
@startailcoon

1. It is just an example of how we could access other options added in the future so you can remove for now.
2. Appending sounds fine to me. It should be possible to drop in after the fee field.
3. I forgot to factor this in, but this could be a use case for #1 if @wmbutler agrees (screenshot below*).
4. The settings menu is intended to allow the user to control the exchange only. I

[2018-05-03 09:27] gibbsfromncis commented on #1458
@wmbutler can you put estimate please?

[2018-05-03 09:35] gibbsfromncis commented on #998
@wmbutler what kind of data encrypted on QR codes? Only wallet address?

[2018-05-03 09:38] gibbsfromncis commented on #422
@wmbutler If I understand correct the UX is finished. I can implement Price Alerts but I have no idea how to notify users about these alerts. Bell UX was removed from diogo so we have only Price Setup UX

[2018-05-03 09:50] gibbsfromncis commented on #1435
@wmbutler If I understand correct we should wait for Trading View integration first before we continue with ant and this redesign.

@ahdigital if @wmbutler is OK we can create separate task for you about UX because implementation of this task may take some time and you will be paid not soon.

[2018-05-03 11:15] ahdigital commented on #1329
What I have in mind is this sequence:

### View public key
The user lands on the active permissions tab and can view the public key, which can be copied using the copy icon.

For consistency later on I think it makes sense to display the public key as a QR also.

![1](https://user-images.githubusercontent.com/3088454/39573152-ec61d354-4ec9-11e8-9e8b-5f44b3c69b03.png)

### View private key authenti

[2018-05-03 11:35] ahdigital commented on #1284
Bump - can anyone take on the development?

[2018-05-03 11:50] ahdigital commented on #1436
@wmbutler Further to the initial comment from @grctest there's only 'signing key' and 'URL' that are missing according to the @abitmore's data list.

I think we should integrate the missing data into the existing table/cards.

[2018-05-03 11:55] sschiessl-bcp opened #1481 "[3] Exchange not loading for new, zero-balance accounts"
When a new account is created via cloud login, the exchange tab doesnt load anymore for some markets.

prominent example:

does not load
https://wallet.bitshares.org/#/market/USD_BTS

does load
https://wallet.bitshares.org/#/market/BTS_USD

The issue is in https://github.com/bitshares/bitshares-ui/blob/c69f297ee1cea480b531f8f38542baf1b17a5736/app/components/Exchange/Exchange.jsx#L288 that the feeS

[2018-05-03 12:55] smogm commented on #905
This issue is resolved and can be closed?

[2018-05-03 13:04] sschiessl-bcp commented on #1481
So far I think it's due to the promise
https://github.com/bitshares/bitshares-ui/blob/c69f297ee1cea480b531f8f38542baf1b17a5736/app/lib/common/trxHelper.js#L150
not being resolved properly

[2018-05-03 13:56] sschiessl-bcp commented on #1481
So I probably was digging around for three hours now, learned quite some of the exchange mechanics, still no clue though.

Anyways, it seems that the issue was that there were multiple fee loading promises for BTS in the above case.

Adding this above https://github.com/bitshares/bitshares-ui/blob/c69f297ee1cea480b531f8f38542baf1b17a5736/app/components/Exchange/Exchange.jsx#L288 did resolve it for

[2018-05-03 14:57] wmbutler commented on #905
Yes, but it's not fully styled yet. Closing since we have another issue to complete the styling.

[2018-05-03 14:57] #905 closed

[2018-05-03 14:58] wmbutler commented on #1436
Fine with me. Please post a mockup so we can hand it to @kapeer42

[2018-05-03 15:00] wmbutler opened #1482 "[10][kapeer42] Account page, Proposed transactions"
UX in #1284

[2018-05-03 15:07] wmbutler commented on #1329
I think this looks great.

[2018-05-03 15:11] wmbutler commented on #1435
Groomed and ready.

[2018-05-03 15:12] wmbutler opened #1483 "[10][gibbsfromncis]Develop Paging Module for Wallet"
UX in #1435

[2018-05-03 15:14] wmbutler commented on #422
We need to determine if this is the screen for setting alerts or reporting those alerts. I think if your just work on setting price alerts, you can route those requests to Chrome. We can later built a price alert screen for dismissing them, etc.

[2018-05-03 15:27] wmbutler commented on #1477
This brings up the point that we are also missing

- Lowest Ask
- Expiration
- Market Fee

Maybe you can spend some more time with the trade widget. Keep in mind that you have already cut it in half by tabbing the control. Let's get everything in. Happy to extend UX time. @startailcoon can you work on other parts while we fine tune the trading buy/sell widget?

[2018-05-03 16:55] wmbutler commented on #1477
@startailcoon Looks like @gibbsfromncis was planning to work on this issue.

[2018-05-03 19:46] gibbsfromncis opened #1484 "[30] [gibbsfromncis] TradingView Redesign"
This issue is the part of [Exchange redesign](https://github.com/bitshares/bitshares-ui/issues/1477) which relates only to TradingView & Market Depth Charts redesign.

UX: #1449

[2018-05-03 19:47] gibbsfromncis commented on #1477
@wmbutler I've updated the estimate and name of the issue. Also I've created new one about TradingView & Market Depth Redesign - https://github.com/bitshares/bitshares-ui/issues/1484)

[2018-05-03 20:02] startailcoon commented on #1477
No problem, I will start working on the other parts and await updates for the buy/sell widget.

[2018-05-03 22:36] happyconcepts commented on #1447
Help me understand why this is needed?

[2018-05-04 02:42] sschiessl-bcp commented on #1447
I don't understand your question. What is this?

[2018-05-04 04:36] svk31 commented on #1481
That does fix the issue, I'm guessing the reason is that checkFeePoolAsync fails silently at some point because it tries to fetch and use balance objects, but the concerned accounts do not have any balances to fetch.

[2018-05-04 04:54] svk31 commented on #1481
Ok found it: https://github.com/bitshares/bitshares-ui/commit/c6cdd4a72ad743f6e0c4cdbe3b45d42be7d02249

[2018-05-04 07:58] ahdigital commented on #1329
Great - can you update to 12 hours please.

[2018-05-04 08:46] happyconcepts commented on #1447
Just because we can make hints, doesn't mean we should. Updating any of them in the future is a translation headache. So why is this needed please? Do you understand now?

[2018-05-04 08:53] sschiessl-bcp commented on #1447
That would have been something to discuss before the work starts :)

Anyways, I said in my initial post that
 -  find all icons that need a hint (should be all icons actually)
The sentence in the brackets was just my personal wish, of course common sense is needed when an icon itself is self-explanatory.

Translation headache we have anyways in such a big project.

To answer your question directly

[2018-05-04 09:42] ahdigital commented on #1436
I added the 'signing key' and 'URL' into the table but then felt I could make some additional tweaks here (within context of existing design).  In order to create more room in the table for additional columns I:

1. Combined 'last block' and 'last confirmed' columns
2. Renamed 'rank' to '#'
3. Moved the table of statistics to the top of the page

As the signing key is a long string it would be bet

[2018-05-04 12:57] abitmore commented on #1329
@ahdigital there would be not only one public key in the page. Every line in the `active permissions` list can be a key.

[2018-05-04 13:14] ahdigital commented on #1329
@abitmore

I understand what you're saying but:

I took this to mean that the keystore details shown would be for the active account (in top right) only.

@wmbutler What approach should we be taking?

[2018-05-04 13:17] abitmore commented on #1329
@wmbutler @ahdigital more questions / thoughts:
* since private key is sensitive info, it's better to NOT always show it on the page,
  * add a warning when about to show a private key;
  * show it in a modal so the user will more likely hide it later;
  * automatically hide it after a while, perhaps with a countdown timer showing on the page;
  * another option is to download a file rather than s

[2018-05-04 13:19] abitmore commented on #1329
@ahdigital I mean every entry in the "active permissions" can be a public key or another account:
![image](https://user-images.githubusercontent.com/9946777/39630062-7ffc01a4-4fae-11e8-82f7-a182925caef4.png)

[2018-05-04 13:26] ahdigital commented on #1329
@abitmore Like I said, I understand what you're saying but Bill said that the keys and the viewing of the public/private versions of them need to be shown and not incorporated into the multisig UX.

So with that in mind, that's why I've shown just the keys for the active account shown in the top right.

[2018-05-04 13:26] abitmore commented on #1329
@ahdigital OK I understood your point now. There would be multiple keys, so doesn't make much sense to show one on the page.

[2018-05-04 13:40] abitmore commented on #1436
Mostly looks good, except the URL can be very long, so sometimes need to hide some of it.

[2018-05-04 13:44] wmbutler commented on #1329
@abitmore I think we need to be careful about how difficult we make the process for the user. If we are going to show the private key as text, showing the QR code is no more dangerous. Id someone takes a picture of the text, it's the exact same risk as someone taking a picture of the QR code. For this reason, I have to disagree with making the QR code more difficult to access than the private key

[2018-05-04 13:47] wmbutler commented on #1436
What if, for the URL, you post an icon that indicates a link and embed the URL in that icon?

[2018-05-04 13:48] wmbutler commented on #1447
I agree with the intent of this issue. Hints are a pretty standard part of modern design and are helpful especially for new users to the platform.

[2018-05-04 13:53] ahdigital commented on #1436
Coming back to the point about the URL's potentially being malicious I think it makes sense to show them, or at least partially in the scenario where they are very long and an ellipsis has been applied.

[2018-05-04 13:55] wmbutler commented on #1436
@ahdigital are you implying that a user could identify a malcious URL visually?

[2018-05-04 14:00] wmbutler opened #1485 "[3][sschiessl-bcp] Reconnect to socket on failure"
**Describe the bug**
When the browser has been disconnected from the socket, but it is still open, the wallet ceases to work. It throws this message with every click:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open the wallet
2. Disconnect from the Internet
3. Wait a few minutes and reconnect to the Internet
4. Click around and monitor your console log

**Expected behavior**
Whe

[2018-05-04 15:36] abitmore commented on #1329
@wmbutler actually I don't like current design that shows private keys directly on UI, so I wrote the text above. I was trying to hide it as soon as possible, if can't hide it entirely.

It's true that moving key viewing to the top is wise for simple one-key accounts, although most users especially cloud wallet users won't use it anyway. One question is, how should developers deal with accounts wi

[2018-05-04 15:59] wmbutler commented on #1329
@abitmore, @ahdigital's reasoning was one of consistency. Adding to that, why would we ever display a public key for a user account. I'd maintain that anywhere we have long data that a user may need to copy and paste, it likely makes sense to display a QR code in that same area.

[2018-05-04 16:06] wmbutler commented on #1436
I don't know about that. I really don't think it's possible to visually recognize based on the URL whether a site is malicious or not.

[2018-05-04 18:52] happyconcepts commented on #1447
Indeed, this one seems a great way to waste development funds and should have been de-prioritized earlier in my opinion. If high priority bugs were fixed... and if the key features like sending bts and charts were working ... then I would acquiesce and lighten up here.

So if you are still wondering... @sschiessl-bcp what I still do not understand is:

Why are important bugs like #1397 Order Expir

[2018-05-04 19:00] happyconcepts commented on #1397
I would like to claim this @gibbsfromncis @wmbutler.

I fixed it 2 weeks ago only to be told that @sschiessl-bcp was assigned. Yes feels unloved.

[2018-05-04 19:26] sschiessl-bcp commented on #1397
If you already have a fix I think everyone would understand if you simply present it and inherently claim it the issue, even if you hear someone else gets assigned.
We don't want to do double effort.

Anyways, I apologize for not working on it even though being assigned, I will do better next time.

[2018-05-04 19:35] sschiessl-bcp commented on #1447
I only react on email notification which I get for my reported issues, or where I already have commented. That's why I didn't see the other one. I am not often browsing the issues page and look what is interesting, I leave that to Mr. Butler.

I don't think anyone prioritized this issue. Issues are still self assigned, though I agree that there should be force assigning (or in lack thereof denying

[2018-05-04 20:03] happyconcepts commented on #1367
@wmbutler can this be paid please or did you already pay @svk31?

[2018-05-04 21:02] startailcoon commented on #1475
This is my idea of how to apply this.
The input should be set either on the left or right of the slider. The value below the slider could be removed.

The user should be able to input a number with a precission of 2 decimals.

![bitshares-cr_input](https://user-images.githubusercontent.com/12114550/39652698-bb769588-4fee-11e8-8b9a-6406d675c379.gif)

[2018-05-04 21:29] startailcoon commented on #1301
I can take this

[2018-05-05 11:11] apiekarczyk opened #1486 "Green and red feed price."
I think it'll be nice to have an eye on feed and settlement price change directions.

![feedprice](https://user-images.githubusercontent.com/35542307/39662667-c4e7a63a-5065-11e8-9515-48149b5848a5.png)

Red when price go down from last publication and green when go up.

That's all :)
Thank you.

[2018-05-05 12:54] svk31 opened #1487 "Create unit tests for actions and stores"
None of the actions or stores currently have unit tests, these should be added.

[2018-05-05 14:02] kapeer42 opened #1488 "Drop alt (unmaintained for 2 years)"
**Is your feature request related to a problem? Please describe.**
The [alt](https://github.com/goatslacker/alt) project is unmaintained for 2 years now. The main problem for me is that there is no tools to easily track the state while developing (alt devtools does not work).

**Describe the solution you'd like**
I think we should upgrade to [mobx](https://github.com/mobxjs/mobx) or [redux](https:

[2018-05-05 14:05] kapeer42 commented on #1482
Can I claim this?

[2018-05-05 16:15] wmbutler commented on #1487
Maybe this issue can be the placeholder for other more granular issues surrounding unit tests.

[2018-05-05 16:29] wmbutler commented on #1447
@happyconcepts stop being such a dick. Issues "languish" until someone claims them. This is an open source project and neither I nor you can force anyone to work on something that doesn't interest them. All I have the ability to do is to make bugs more interesting to fix by increasing the bounty on them. If there is an issue you think is important, suggest a bounty increase to resolve it.

This is

[2018-05-05 16:32] wmbutler commented on #1397
Increased the issue by an hour to allow for some testing.

[2018-05-05 16:44] svk31 commented on #1488
What is about the dev tools that don't work?

Part of me agrees that replacing alt for something "better" or newer like redux would be nice, but it would be a pretty huge task to do so. Additionally, for our purposes it works just fine, and as they say "if it's not broke, don't fix it".

[2018-05-05 16:47] #1478 closed

[2018-05-05 20:44] happyconcepts commented on #1447
I am here with interest, to contribute, and I describe how difficult it is to do so...and this is your response @wmbutler as the project manager .. to openly call me a dick for trying to contribute ... instead of doing anything responsive or professional or courteous about a bug #1469 for example.

The unfortunate reality is that real Bitshares bug issues "languish" either because you ignore them

[2018-05-05 20:51] happyconcepts commented on #1397
Thank you, slate for sprint 0515 please.

[2018-05-06 10:25] mahfuj001 opened #1489 ":~/bitshares-ui# npm start: webpack: Failed to compile."
I am trying  to install bitshare-ui on ubuntu 16.04. Following the instruction: https://github.com/bitshares/bitshares-ui

Below the details log and error:

root@nyc1:~/bitshares-ui# npm start

Listening at http://localhost:8080/ or https://localhost:8085/
webpack built 114cd98037f8e7a95df4 in 13099ms
Hash: 114cd98037f8e7a95df4
Version: webpack 2.7.0
Time: 13099ms
                            Asset

[2018-05-06 16:34] wmbutler commented on #1489
Node Version?
NPM version?

Basic troubleshooting
[code]

[2018-05-06 16:34] #1489 closed

[2018-05-06 16:36] wmbutler commented on #1447
No, the WP is not paying me to call you a dick. That's just my personal opinion.

[2018-05-06 16:48] wmbutler commented on #1488
@kapeer42 what type of time commitment are we looking at?

[2018-05-06 17:49] wmbutler commented on #1484
Thought you might get some design inspiration from the GDAX market depth chart.

![market](https://user-images.githubusercontent.com/1254810/39676192-f9546036-512b-11e8-9788-d21020198ac2.gif)

[2018-05-06 18:15] kapeer42 commented on #1488
@svk31 I installed the devtools from the chrome store and opened the bitshares-ui. The devtools panel was empty of data. Maybe there is a configuration step I missed.

@wmbutler Below are the notes from my investigation so far.
To answer your question, I would say 10 to 30. It's a bit out the top of my head. It would require more investigation.

### We need to:
- Choose the new framework
- Refacto

[2018-05-07 01:57] mahfuj001 commented on #1489
Dear Butler,
Many thanks.. for addressing ..

Node Version: v6.14.2
NPM version: 3.10.10

rm -rf node_modules --Done
npm cache clean---Done

root@nyc1:~/bitshares-ui# npm i

module.js:478
    throw err;
    ^

Error: Cannot find module '/root/bitshares-ui/node_modules/husky/bin/install.js'
    at Function.Module._resolveFilename (module.js:476:15)
    at Function.Module._load (module.js:424:25)

[2018-05-07 11:50] sschiessl-bcp commented on #1284
Did you do anything in that matter already @startailcoon ?

[2018-05-07 11:56] sschiessl-bcp commented on #1228
I think this can be closed with the work on the backend with disabling the callback on everything and the refactoring which caught some of the bugs.

For reconnection robustness and stability there are already issues open out there which I am happy to address next.

Most of my work here was the refactoring and investigation, I am honestly not sure about the exact hours I spent on this but it helpe

[2018-05-07 11:59] sschiessl-bcp commented on #1481
@svk31

do you think my initial fix with

`assets[0] === assets[1]`

is also necessary (I think it could be, because I often hear "my exchange is not loading" in telegram")? The code removes double entries if they occur on index 0,2 or 1,2. Is there a reason double entries occuring on 0,1 should be kept?

[2018-05-07 12:00] sschiessl-bcp commented on #1320
@calvinfroedge

How is the status on this? Could you connect to the ES?

[2018-05-07 12:09] sschiessl-bcp commented on #1447
@wmbutler
The namecalling is unnecessary, please keep it professional

Without taking sides here I think it would be a shame to lose a contributor. We all want to push in the same direction. We are all different characters and need to learn to play alongside, honest and open communication is key.

Anyways, @happyconcepts would you be willing to finish this issue?

[2018-05-07 14:14] #1228 closed

[2018-05-07 14:15] #1284 closed

[2018-05-07 14:17] wmbutler commented on #1489
Possibly update node to 10.0.0 and npm 6.0?

[2018-05-08 08:19] svk31 commented on #1437
Added 1 hour to myself for the above commit which fixes some issues with wallet accounts remaining active when switching between modes.

[2018-05-08 08:59] #1369 closed

[2018-05-08 09:00] svk31 commented on #1488
Are you talking about the react dev tools?

[2018-05-08 09:12] svk31 commented on #1481
I seem to recall that the original reason for removing duplicate assets was simply to make sure the asset info was not fetched twice in parallel. With my recent changes to trxHelper adding request queueing and caching, that's no longer a concern so we can actually just remove that duplicate check in Exchange.jsx.

[2018-05-08 09:15] svk31 commented on #1481
@wmbutler Not sure how to handle hours on this issue, @sschiessl-bcp's investigations allowed me to find the root cause quite quickly, and it took me about 30 minutes to fix the issue. Stefan should also be assigned some time for his investigations imo.

[2018-05-08 09:15] #1481 closed

[2018-05-08 09:28] #1469 closed

[2018-05-08 09:29] #1446 closed

[2018-05-08 09:38] startailcoon commented on #1477
@smogm please define what whitespace your referring to.

[2018-05-08 10:20] smogm commented on #1477
@startailcoon Here as an example, the red marked spaces. Guess in CSS it is called "padding" or "margin".

![image](https://user-images.githubusercontent.com/2078175/39751898-0b0fa2f6-52ba-11e8-8327-6d15c54ce246.png)

[2018-05-08 13:01] kapeer42 commented on #1488
No the [alt-devtools](https://github.com/goatslacker/alt-devtool)

[2018-05-08 13:26] abitmore opened #1493 "UI changes for next bitshares-core hardfork release"
This is a place holder for all tasks related to next hardfork release. We have 2 months to get UI ready.

* New testnet release will be available in this week, and hard fork will occur in one or two weeks.
* Mainnet release will be available one month later, and hard fork time will be scheduled to another month later.

UI changes (ordered by workload/priority):
- [x] [BSIP38](https://github.com/bi

[2018-05-08 13:45] SimonzDiamondz opened #1494 "DEX margin features : base price"
Hi guys, (new here but BTS investor and active for a longgg time)

Would it be possible to add on the margin position dashboard the base price of the acquisition made with the loan

e.g.:
i borrow 100 bitusd to buy
-100 BTS at 0.35
-100 BTS at 0.30
-100 BTS at 0.25
base price = 0.3

It would be easier to manage or to see the p/l.

Thanks!

[2018-05-08 14:04] kapeer42 opened #1495 "Can't connect to a testnet"
**Describe the bug**
I can't connect to either of the two testnet nodes available.
The node.testnet.bitshares.eu one makes the app crash, logs [here](https://pastebin.com/KtdV1kij).
The bitshares infrastructure one is not responding.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on the connection icon for either of the two testnet nodes.
4. For the bitshares.eu no

[2018-05-08 15:48] abitmore commented on #1495
I think you can try to fix the UI crash? The node didn't crash.

[2018-05-08 18:45] abitmore opened #1496 "[1.5][startailcoon] UX about updating short position"
**Is your feature request related to a problem? Please describe.**
When updating a short position, when dragging the "ratio" bar, sometimes I want to change debt amount but not collateral amount.

**Describe the solution you'd like**
Maybe we can add a "lock" symbol to lock the collateral amount and let the debt amount be the changing party instead.

![](https://user-images.githubusercontent.com/1

[2018-05-08 20:17] startailcoon commented on #1496
I can take this

[2018-05-09 03:10] happyconcepts commented on #1447
@sschiessl-bcp @wmbutler Thank you for your communicative efforts and sensibility. I am working some bugfixes and the market fee issue so I am not able to help with this one #1447.

Yes let's please do our best to work together for the good of the bitshares chain amid the increasing competition.

[2018-05-09 05:46] svk31 commented on #1495
Unable to reproduce, `wss://node.testnet.bitshares.eu` works fine but `wss://testnet.nodes.bitshares.ws` does not have the orders api available so it doesn't initialize properly.

[2018-05-09 05:56] #1455 closed

[2018-05-09 07:38] roths opened #1497 "[3] AltStore&AltContainer has memory leak"
AltStore&AltContainer has memory leak

AltStore problem detail in here:
https://github.com/goatslacker/alt/pull/725

AltContainer problem detail in here:
https://github.com/altjs/container/pull/11

alt-react have same problem with AltContainer  but i dont pull request to it

[2018-05-09 08:16] abitmore commented on #1117
@wmbutler this is a serious feature. Please increase bounty amount to make this more interesting, I guess even 5/5 is not enough.

[2018-05-09 08:16] abitmore commented on #1117
Perhaps @ahdigital doesn't even know this needs UX?

[2018-05-09 08:32] abitmore commented on #1450
I think this is duplicate of #1117.

[2018-05-09 08:32] #1450 closed

[2018-05-09 08:58] abitmore commented on #1285
I'd suggest 10 hours for implementation. No clue how many hours for UX.

[2018-05-09 09:01] abitmore commented on #1285
Since we need to change buttons **everywhere**, it's best if someone can list affected pages first (this takes time as well), then we can adjust the hours accordingly after seen how many things need to be done, and perhaps create new issues for each page or group of pages.

[2018-05-09 09:03] abitmore opened #1498 "Fees are paid after action done"
The chain only deducts fee at the end of operation execution (if not, please open an issue in bitshares-core). That said, if any action that will cause an increase of balance, the user can use part of that to pay transaction fee.

For example,
* when cancelling an order, some funds will be returned which can be used to pay the cancellation fee.

If UI is smart enough, it should detect if there wou

[2018-05-09 09:25] MarkoPaasila commented on #1285
I can propose a transfer from any account using the legacy send dialog but not the new one

[2018-05-09 09:28] MarkoPaasila commented on #1498
Is this related to the current experience that I can't propose an action that requires funds if the respective account doesn't have enough? Specifically, I would like to propose market orders and "Withdraw Vesting" even though the account doesn't yet have enough funds, so that when withdraw vesting is approved first the account will have enough funds to create the proposed market orders (once appr

[2018-05-09 10:27] abitmore commented on #1285
Possible UX for this issue:
* Add an option "enable proposal proposing" in settings, disabled by default, and a note "this is an advanced feature, if enabled, the UI won't perform certain checking for you" or something similar;
  * when the option is enabled by the user, disable all database state checking on every action page (e.g. check balance before starting a transfer, and etc).

[2018-05-09 11:38] kapeer42 commented on #1495
@svk31 Thanks, I can connect to `wss://node.testnet.bitshares.eu` now. I should have captured the errors it gave me before. Closing.

[2018-05-09 11:38] #1495 closed

[2018-05-09 13:34] kapeer42 commented on #1482
@ahdigital Can you clarify what the `Approver(s)` column's data is?

[2018-05-09 19:13] gibbsfromncis opened #1500 "Cannot open wallet on last staging"
**Describe the bug**
Cannot open wallet on last staging:

I've opened Incognito on Chrome and tried to open wallet but no luck. I suppose the last error in console relates to this issue:
<img width="1398" alt="screenshot 2018-05-09 22 08 53" src="https://user-images.githubusercontent.com/35899973/39834434-95bda364-53d5-11e8-9604-730439dc7950.png">

**To Reproduce**
1. Pull last staging
2. Do `npm

[2018-05-09 20:32] svk31 commented on #1500
The orders api is missing on that API server, just pick another one. I haven't seen that particular error myself though.

[2018-05-10 00:44] SimonzDiamondz opened #1501 "Adding stop loss in DEX"
Hi guys,

In this post i will speak for others. I have some traders asking me to demand a stop loss feature on DEX. (they dont use to go ask on github so im doing them a favor).

Thanks !

[2018-05-10 06:47] ahdigital commented on #1117
I can take this.

[2018-05-10 07:12] ahdigital commented on #1482
@abitmore Quick question. This was approved in #1284 but I wanted to check, in the example below should the approver circled in red technically be there since the first operation in that group is in fact multisig? I'm thinking not.

![image](https://user-images.githubusercontent.com/3088454/39856831-3b9f423a-5429-11e8-9a80-dd1314ce69d1.png)

In terms of the tool tip, I think the only thing we can

[2018-05-10 07:52] svk31 opened #1502 "[16] Update packages and check vulnerabilities"
Check and resolve vulnerabilities using npm audit

Some major packages need to be updated.

[2018-05-10 07:57] svk31 commented on #1502
Seems most of these are coming from webpack v3

- [ ] Update webpack to v4

[2018-05-10 09:44] abitmore commented on #1482
Show here the data in "required_xxx_approvals".

[2018-05-10 09:49] abitmore commented on #1482
@kapeer42 please also check if the proposal has a `review_period_time`. If it has, don't show "failed to execute".

[2018-05-10 13:59] wmbutler commented on #1437
@svk31 I don't believe there was any intention to allow for a backup download for cloud wallets, but maybe OP will have an opinion on this. I do think it's important to make it clear to cloud wallet users that their 'backup' is just the password that was assigned to them at account creation.

[2018-05-10 14:04] wmbutler commented on #1477
@startailcoon as long as your padding and margin values are flexible, just focus on the content for now. I think @ahdigital said he was going to be pretty busy this week so don't worry about the minor css details until he can address those directly. You can see I brought up a few as well.

[2018-05-10 14:06] wmbutler commented on #1501
If I understand stop/loss correctly, this would be a core feature, not a ui feature.

[2018-05-10 14:11] wmbutler commented on #1285
"Enable proposal proposing". Surely we can do better than that. This will definitely require some planning hours.

[2018-05-10 14:20] wmbutler commented on #1488
Related #1497

[2018-05-10 14:34] fractalnode opened #1503 "[UX+UI:28][gibbsfromncis] Modal for Scaled Orders"
As a trader I would like to be able to add scaled orders in the similar way to bitfinex

![image](https://user-images.githubusercontent.com/20418259/39875085-dd546d9e-546f-11e8-8b5b-3040acaccb52.png)

![image](https://user-images.githubusercontent.com/20418259/39875404-de2dd6d2-5470-11e8-8f5e-eb11d67c614d.png)

[2018-05-10 17:53] btsfav opened #1504 "latest release, sending of assets does not work..."
trying to send BEYONDBIT, it dies after this window:

![image](https://user-images.githubusercontent.com/15261692/39885026-dd8480ee-548b-11e8-90b3-c38a0aa5d373.png)

Client: Desktop, win7

Edit: it worked after the wallet was unlocked, had to repeat the sending. something is off here still

[2018-05-10 20:05] abitmore commented on #1493
@wmbutler these are tasks, not proposed feature.

[2018-05-10 20:08] startailcoon commented on #1504
Fixed in PR #1499

[2018-05-10 20:08] #1504 closed

[2018-05-10 21:45] SimonzDiamondz commented on #1501
thanks brother. will transfert it to the right place.

[2018-05-10 21:45] #1501 closed

[2018-05-11 15:11] kapeer42 commented on #1482
@abitmore Thanks!

@ahdigital Here is a peak at the work in progress, tell me what to change.
### Only one active key
![bts_1482_singlesig_wip](https://user-images.githubusercontent.com/35779885/39930568-5e380c10-553b-11e8-8847-640b56e7504b.png)
### Multiple permissions
![bts_1482_multisig_wip](https://user-images.githubusercontent.com/35779885/39930598-7146f5c8-553b-11e8-83c1-95ba28e853e0.png)
##

[2018-05-11 22:33] wmbutler commented on #1504
#1437

[2018-05-11 22:35] wmbutler commented on #1482
Probably not. What is your preference? Would you prefer to expand scope and add hours or limit scope and keep hours the same and address the additional work in a separate issue?

@abitmore might be nice to get your thoughts here.

[2018-05-11 22:37] wmbutler commented on #1493
@abitmore my definition of a feature is something that was not present before but is to be added. A task refers to housekeeping.

[2018-05-12 06:50] svk31 opened #1508 "Actions have to be performed twice from unlocked state"
**Describe the bug**
When making a transaction from an unlocked state, the wallet first shows the password prompt, then when unlocked nothing more happens. If you try again, the transaction appears for confirmation.

[2018-05-12 06:51] #1508 closed

[2018-05-12 07:05] svk31 commented on #1504
https://github.com/bitshares/bitshares-ui/issues/1508

[2018-05-12 07:10] ahdigital commented on #1330
@wmbutler Can the UX for this be closed?

[2018-05-12 07:10] ahdigital commented on #998
@wmbutler Can the UX for this be closed?

[2018-05-12 07:12] ahdigital commented on #1329
@wmbutler

Is there any more work to do here or can this be closed?

[2018-05-12 18:01] svk31 commented on #1482
I kinda thought I'd taken the recursion depth into account but maybe not. I suppose it's a ui issue in the sense that the ui should inform the user that the proposed transaction cannot be confirmed due to the recursion depth being too great.

[2018-05-12 20:46] wmbutler commented on #1482
@kapeer42 so, would you like me to extend the hours allotted in this to accommodate the extended scope of work?

[2018-05-12 20:48] wmbutler commented on #1329
Yes, I think this is sufficiently groomed.

[2018-05-12 20:48] #1329 closed

[2018-05-12 20:50] wmbutler commented on #998
Yes, I closed it and made it part of 180501

[2018-05-12 20:50] #998 closed

[2018-05-12 20:52] wmbutler commented on #1330
@ahdigital mind if I leave this for a later sprint rather than breaking it out? I'll just let the issue get worked here as well.

[2018-05-13 17:12] kapeer42 commented on #1482
@svk31 I will implement your solution
@wmbutler yes please

[2018-05-14 03:25] wmbutler commented on #1482
Bumping to 10.

[2018-05-14 12:08] ihashfury opened #1510 "Nodes for public api list"
Please add api.bitsharesdex.com and api.fr.bitsharesdex.com to the Bitshares public api list.

[2018-05-14 12:38] litepresence commented on #1510
handshake response tested from east coast US; works without suffix and with /ws + /wss

https://pastebin.com/61CTUTKV

[2018-05-15 00:43] #1435 closed

[2018-05-15 00:51] wmbutler opened #1512 "[4][gibbsfromncis] Scan QR Code - Withdraw Modal"
Refer to UX: #998

[2018-05-15 01:46] TBAPI-0KA commented on #1447
While I agree that this issue isn't the most important, as I stated earlier, and isn't complicated, it's still required certain tidiness and was significantly time-consuming. My qualification allows me to work on tasks of almost any complexity, but I'm pretty new here on the project, so I'm just taking the issues which are clear to me and aren't assigned to somebody else. BTW, this particular one

[2018-05-15 04:09] TBAPI-0KA commented on #1447
I'm good with 8.

[2018-05-15 06:56] btsfav opened #1514 "Stretched and non-stretched view"
Stretched account etc view looks terrible on bigger screens to be honest, please add a "style" button, allowing you to select

fixed width | stretched

perhaps add other layout functions too, such as color settings/themes as selection.

thanks.

[2018-05-15 14:19] wmbutler commented on #1514
@btsfav It's getting a complete overhaul with ANT. Noted.

[2018-05-15 14:19] #1514 closed

[2018-05-15 22:26] lsosa3 commented on #1500
I have the same issue here
![issue-bitshares-ui-new](https://user-images.githubusercontent.com/14814335/40086647-4091e156-586d-11e8-8475-34c990aeec90.jpg)

[2018-05-16 06:52] svk31 commented on #1500
Your local node is also out of date and configured without using the orders_api. This is not a UI issue, just compile the latest version of bitshares-core.

[2018-05-16 06:52] #1500 closed

[2018-05-16 08:08] svk31 opened #1515 "[1.5][svk] Create a script to keep locale files in sync"
**Is your feature request related to a problem? Please describe.**
Adding new translations is messy since you need to manually add keys to all locale files. There are also lots of keys missing from past updates, and comparing locale files is difficult since the keys are not sorted.

**Describe the solution you'd like**
Create a script to keep locale files in sync using the `en` locale as a templat

[2018-05-16 08:10] #1515 closed

[2018-05-16 08:10] svk31 commented on #1515
To run the script, use `npm run fix-locale-files`.

[2018-05-16 17:18] abitmore opened #1516 "[.5] Same tool tip is showing for "feed price" and "settlement""
**Describe the bug**
https://bitsharestalk.org/index.php?topic=26476.msg318630#msg318630

Thanks in advance.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/#/market/BTS_CNY
2. Move mouse

[2018-05-17 07:35] clockworkgr opened #1517 "[1] Hardcoded Network Percentage Fee"
The network percentage fee (20%) is hardcoded into the UI.

See: https://github.com/bitshares/bitshares-ui/blame/staging/app/components/Blockchain/Fees.jsx?L72-L77

As this is a settable/customisable property in the blockchain, it should be read from global properties.

[2018-05-17 11:42] miraclestar opened #1518 "What is local wallet used for ???"
I have no idea of how to use the local wallet

The design of it is like rubish ...hope to delete the function !

这个本地钱包怎么用？？这个产品设计的太烂了 ，钱包可以备份，但是恢复了之后又不能交易，要他干嘛？

[2018-05-17 11:51] clockworkgr opened #1519 "Question: Less than 5min candlesticks."
According to this: https://github.com/bitshares/bitshares-ui/blob/bbc783368e0e46699970ba0de94f2e32a298070b/app/components/Exchange/PriceChartD3.jsx#L830-L833

Buckets less than 5 mins get filtered out. Is there a specific reason for this? My API nodes (as well as those of the infrastructure worker if I'm not mistaken, @xeroc ?) also provide 1 min buckets.

[2018-05-17 12:42] gibbsfromncis opened #1520 "[1] Cannot open Withdraw Modal (Withdraw beta) and any other items from hamburger (sometimes)"
**Describe the bug**
I cannot open Withdraw Modal by click on it on Hamburger menu. After that I cannot open any other item from hamburger (take a look screen. I have "News" opened on header tab but I see Home screen)

Also any click on hamburger fires some errors in console

**To Reproduce**
1. Open hamburger menu
2. Click on Withdraw (Beta)
3. Try to click after that on any another item

**Expec

[2018-05-17 12:48] gibbsfromncis commented on #1520
@startailcoon there is an error on `WithdrawModalNew.jsx`:

<img width="983" alt="screenshot 2018-05-17 14 48 17" src="https://user-images.githubusercontent.com/35899973/40178292-6566394e-59e1-11e8-9540-87e3f2a3efb4.png">
<img width="399" alt="screenshot 2018-05-17 14 48 13" src="https://user-images.githubusercontent.com/35899973/40178294-6588419c-59e1-11e8-9b83-9dd3437cfc1c.png">

[2018-05-17 12:57] wmbutler commented on #1330
@calvinfroedge I see you claimed this. UX is done.

[2018-05-17 13:03] startailcoon commented on #1520
Fixed in PR #1507

[2018-05-17 13:03] wmbutler commented on #1437
@kapeer42 sorry that this didn't get paid as part of the previous sprint. Closing it here so it will get paid.

[2018-05-17 13:03] #1437 closed

[2018-05-17 13:06] #1520 closed

[2018-05-17 15:56] startailcoon opened #1521 "[7.5][TBD] Better node management"
As we gain more and more nodes from both witnesses, businesses, regular joes and worker programs, the list has grown quite long. Nodes all around the globe is in one single list, and mixed with testnet nodes, just to make the matter worse.

I propose we make a UX for a better node management.
A user should be able to filter/find/sort nodes on flags like these, but not limited:

- Country (UK, Swed

[2018-05-17 16:29] #1516 closed

[2018-05-17 18:45] clockworkgr commented on #1521
Possibly amount of history & bucket sizes offered too? (although I have started a discussion in telegram to standardize bucket sizes offered for uniformity)

[2018-05-17 20:07] svk31 commented on #1519
Because no markets had meaningful data at those time frames, so the charts looked terrible. Perhaps some of the more active markets have sufficient data now, like Cny:bts, but most others won't.

[2018-05-18 07:38] happyconcepts commented on #1397
Yes, I was going to add it to the same PR tomorrow to make it easier for merge.

[2018-05-18 08:26] clockworkgr commented on #1517
Can I also claim this?

[2018-05-18 09:09] clockworkgr commented on #1517
Meh, it's a small thing, might as well get it over with.

Done in https://github.com/bitshares/bitshares-ui/pull/1524

[2018-05-18 12:31] #1517 closed

[2018-05-18 12:44] #1397 closed

[2018-05-18 12:54] abitmore opened #1525 "[1.5] How to clear voting proxy?"
**Describe the bug**
There was a "clear proxy" button in order versions e.g. 2.0.160420. But now we only have 2 buttons: "save" and "reset".  It seems the "proxy" text box doesn't accept empty name. Clicking "reset" doesn't clear it as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/#/account/chainsquad/voting
2. Click on the drop-down box with no lab

[2018-05-18 13:17] abitmore opened #1526 "[1]Explicitly expose market picker feature"
**Is your feature request related to a problem? Please describe.**
- Nobody knows the asset symbols are clickable.
- Nobody knows the "flip market" icon is clickable.

![image](https://user-images.githubusercontent.com/9946777/40236431-d2ce5152-5aad-11e8-89b5-bc5b78ad4d1f.png)

**Describe the solution you'd like**
For example, change the color of clickable text / icons to light blue, like the "bor

[2018-05-18 13:23] abitmore opened #1527 "[.5] Wrongly sorted sell orders"
**Describe the bug**
"SELL ORDERS" in market page sorted wrong after switched from vertical order book mode to horizon mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/#/market/BRIDGE.BTC_USD

2. Scroll down ![image](https://user-images.githubusercontent.com/9946777/40236935-52326784-5aaf-11e8-81fb-d9331129679d.png)

3. Click on  ![image](https://user-

[2018-05-18 14:28] #1482 closed

[2018-05-18 14:34] svk31 opened #1528 "[2] Proposed transactions not updating properly in the ChainStore"
**Describe the bug**
When a proposal has authorities added or removed, and when it is fully approved, the ChainStore does not properly merge the changes and does not remove completed proposal id's from the `account.proposals` array.

**To Reproduce**
Create a proposed transfer, add an approval then remove it, or completely approve it.  In the first case the approval does not get removed, in the se

[2018-05-18 14:40] abitmore commented on #1528
Perhaps related to https://github.com/bitshares/bitshares-core/issues/776 ? The back end doesn't notify the UI under certain circumstances.

[2018-05-18 14:41] #1528 closed

[2018-05-18 14:42] svk31 commented on #1528
https://github.com/bitshares/bitsharesjs/commit/9a088f1a69

[2018-05-18 14:43] svk31 commented on #1528
I'd already found and fixed the bug in bitsharesjs, just wanted to document it.

[2018-05-19 02:31] happyconcepts opened #1529 "[0.5][happyconcepts] Expiration Time display in Open Orders"
Order expiration time(s) shown via tooltip in Open Orders display on the Exchange page are not displayed in user's local time. Please refer to #1397 for expected behavior and screenshot.

Unlike the modal, multiple orders can be displayed on this page. I don't see it taking more than 1 hour, mostly testing. Since this was out of scope for that issue, I have started this new one.

I would like to c

[2018-05-19 08:28] startailcoon commented on #1525
Idd, we are missing a 'clear vote' button.

[2018-05-19 09:48] abitmore opened #1530 "[.5][gibbsfromncis][1][svk31] No error message shows when trying to issue a big amount of asset"
**Describe the bug**
No error message shows when trying to issue a big amount of asset

**To Reproduce**
Steps to reproduce the behavior:
1. Go to testnet.bitshares.eu
2. Click on hamburg menu -> assets
3. Click on "Issue asset"
4. Input an account name, a big amount e.g. 1000000000000000, click "issue asset"

**Expected behavior**
A message should appear to indicate the action succeeded or failed

[2018-05-19 10:10] abitmore opened #1531 "[testnet] Cannot open node configuration page"
**Describe the bug**
Blank screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to testnet.bitshares.eu
2. Click on hamburg menu -> settings
3. Click on "Nodes"
4. page doesn't load
5. https://testnet.bitshares.eu/settings/access doesn't load as well

**Expected behavior**
Page loads.

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/40267498-949600e6-5b5d-11e

[2018-05-19 10:16] abitmore opened #1532 "[1] Generated password doesn't show completely"
**Describe the bug**
Account creation page, the generated password is too long, or font is too big.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/#/create-account/password with a new incognito window

**Expected behavior**
The whole password will show on page

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/40267535-67b4787c-5b5

[2018-05-19 10:17] abitmore commented on #1532
Larger screenshot:
![image](https://user-images.githubusercontent.com/9946777/40267550-98f2452c-5b5e-11e8-9689-31d6a6968cf4.png)

[2018-05-19 10:49] abitmore opened #1533 "[0.5] Market page sometimes doesn't load"
**Describe the bug**
Market page sometimes doesn't load.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://testnet.bitshares.eu/market/ASDFASDF_TEST
2. blank screen

**Expected behavior**
Page loads.

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/40267763-e2e4bdd2-5b62-11e8-9c5d-b34ab3885492.png)

**Desktop (please complete the following information):

[2018-05-19 11:19] abitmore opened #1534 "[.5] Wrong digits for core exchange rate in asset update page"
**Describe the bug**
Unable to change core exchange rate of an asset to 1 Satoshi : 1 Satoshi.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://testnet.bitshares.eu/account/abit-test/update-asset/ASDFASDF
2. Click on QUOTE ASSET AMOUNT
3. Can only input 4 digits after decimal point, while the precision of TEST is 5
4. Click on BASE ASSET AMOUNT
5. Able to input 5 digits after de

[2018-05-19 11:59] abitmore opened #1535 "[.75] Account activities page issues"
**Describe the bug**
1. inconsistent asset symbols
2. some asset symbols aren't clickable
3. other asset symbols show a question mark when on mouse hover, but nothing will show after clicked

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/#/account/committee-account

**Expected behavior**
Consistent, easy to use UI.

**Screenshots**

![image](https://user-i

[2018-05-19 12:20] abitmore opened #1536 "[2][wmbutler][4][kapeer42] Integrate proposal into send modal even if user not logged in"
**Describe the bug**
Can't send fund if not logged in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/#/account/myaccount
2. Click on send
3. input recipient account
4. input amount
5. "send" button is still disabled

**Expected behavior**
Able to click "send" button, after clicked, if not logged in, show the login window (<del>perhaps fill in user name an

[2018-05-19 12:29] abitmore opened #1537 "[1][HarukaMa] Can't create a smartcoin which is backed by an UIA"
**Describe the bug**
Can't create a "smartcoin" which is backed by an UIA

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/
2. Click on hamburg button, click assets
3. Click "create asset"
4. In "Primary settings" tab, click "SmartCoin"
5. Click "smartcoin options" tab, scroll down, input "AAA" in "SHORT BACKING ASSET" box
6. Shows error "That asset may not

[2018-05-19 12:38] abitmore opened #1538 "[1][harukama] Error "That asset does not have the same precision""
**Describe the bug**
Should only show that error when creating a prediction market asset, but not every smart coin.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/
2. Click on hamburg button, click assets
3. Click "create asset"
4. In "Primary settings" tab, click "SmartCoin"
5. Click "smartcoin options" tab, scroll down
6. Shows error "That asset does not

[2018-05-19 12:47] abitmore opened #1539 "Unable to update a smart coin's backing asset"
**Describe the bug**
Should be able to update backing asset when supply is zero.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/
2. Click on hamburg button, click assets
3. Click "update asset" of an smart coin which has zero supply
4. Click "smartcoin options" tab, scroll down
5. After changed asset name in "short backing asset" box, the "update asset" bu

[2018-05-19 17:10] startailcoon commented on #1535
**Claimed hours: 0.5**

[2018-05-19 17:42] startailcoon opened #1541 "[1][swoopyy] Unable to hide certain nodes"
**Describe the bug**
Unable to hide certain nodes. I wish to hide all nodes not related to testnet, and 2 nodes are still present and unable to hide. Hiding nodes is also very slow at times and no responsive when clicking on the hide icon.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings->Nodes
2. Click on hide nodes

**Expected behavior**
Expected to hide the node

**Screensho

[2018-05-19 17:49] startailcoon commented on #1534
**Claimed hours: 0.5**

[2018-05-19 17:56] startailcoon commented on #1531
I do not have this issue in the latest client of Bitshares UI (180509).
What version of the UI is testnet.bitshares.eu running? It's not visible at the bottom of the page as it usually is.

[2018-05-19 20:35] startailcoon commented on #1525
This issue requires some tinkering with Typeahead and handling empty values or resets. I've been unable to find a good way to handle this.

[2018-05-19 20:59] happyconcepts commented on #1532
Probably due to the font size increase.

[2018-05-19 22:49] grctest commented on #1538
I see the same for the Hertz smartcoin settings, it doesn't explain what the consequences are & AFAIK you can't change the precision of a smartcoin. It doesn't seem to stop the operation of the Hertz ABA though.

![image](https://user-images.githubusercontent.com/15861527/40273789-206614c4-5bbf-11e8-985a-7936cdcd90d1.png)

[2018-05-19 22:54] grctest commented on #1537
Isn't it by intended design that you can only back a smartcoin with BTS or MPA (which are backed by either MPA or BTS)? If an UIA was used then perhaps fractional reserve could be a concern with such backing - you could manipulate a non-liquid market then back the MPA with the inflated UIA, no?

[2018-05-19 23:06] grctest commented on #1301
@wmbutler Should this calculator only apply to smartcoins? Since we know the fair price which is the median feed price, where as UIA would be subjective and perhaps difficult/unfair to impose a 'fair' price.

[2018-05-20 06:29] svk31 commented on #1521
Knowing bucket sizes requires us to make an api call to the node. The amount of history is not available AFAIK.

[2018-05-20 09:04] abitmore commented on #1531
@startailcoon more context about testnet:
* there is no "auto-selection" option
* domain name of the first node doesn't resolve

[2018-05-20 10:40] startailcoon commented on #1496
## Proposed UX

When a user enters the Borrow Modal you have a lock/unlocked symbol on the field of `Debt` and `Collateral`. These locks represents which field will be unchanged when you drag the ratio bar.

- By default, it's as it is today, collateral will change when you drag the ratio bar.
- Clicking each of the locks will toggle the fields to do oposite, and the lock symbols changes to reflet

[2018-05-20 12:09] abitmore commented on #1537
No.

[2018-05-20 12:14] abitmore commented on #1521
This is useful especially when a node is having issues. Easier to contact responsible people.

[2018-05-20 13:05] grctest commented on #1537
I disagree, IMO the reason why UIA cannot back MPA is because there's no
proven backing collateral value behind an UIA (effectively an IOU) thus
using it as backing collateral would be open for abuse.

What use case would this be necessary for? Why not use BTS or another MPA
as backing collateral?

On Sun, 20 May 2018, 13:09 Abit, <notifications@github.com> wrote:

[2018-05-20 13:09] abitmore commented on #1537
The logic is: asset issuers should be able to do whatever they want according to their business logic.

BTW if you don't trust or like an asset, don't use it.

[2018-05-20 13:14] abitmore commented on #1537
Scenario: I (as an asset issuer) issued my IOU USD backed by fiat in bank, now I want to create a prediction market to predict whether Trump will be next president of US, all my customers/clients can only participant in this market with my IOU USD. So the best approach for me is to create the new asset backed by my IOU USD. In this case BTS or other MPA are irrelevant.

[2018-05-20 18:54] startailcoon commented on #1520
Until this PR is released to the next release, a way around this issue is to

1. Navigate to dashboard
2. Click the withdraw icon on any of the assets in your wallet, then change it to whatever you wish if you wish to change

[2018-05-20 21:07] clockworkgr commented on #1537
@grctest Legitimacy, proven backing etc. doesn't come into it...if core & the chain allows it, the reference UI should not place any further constraints.

[2018-05-20 21:43] wmbutler commented on #1301
@grctest I think it would be helpful to have a calculator for IOU markets as well (OPEN, BRIDGE, GDEX, RUDEX). It's really confusing for users who are just looking for a reasonable starting place to post a trade in illiquid markets or markets with large spreads.

[2018-05-20 21:45] wmbutler commented on #1532
Let's reduce the font size to accommodate. I view this as a serious bug since some users will unwittingly copy and save only a portion of their password. Recommend a hotfix.

[2018-05-20 21:46] grctest commented on #1537
@clockworkgr As far as I was aware the only allowed backing collateral for MPA in the BTS DEX was BTS itself and other MPA, the [MPA docs](http://docs.bitshares.org/bitshares/user/mpa.html#collateralized-tokens) make no reference to UIA being used as backing collateral - only Bitshares.

"What makes MPAs unique is that they are free from counterparty risk even though they resemble a collateralized

[2018-05-20 22:37] wmbutler commented on #1525
I'm not convinced we need a typeahead for the proxy input field. Maybe we can keep this easy by eliminating the typeahead. what if we:

- remove the lock
- replace the lock with a "Clear Proxy" button
- When proxy is set, make input field locked / disabled with Clear Proxy button displayed

[2018-05-20 22:42] wmbutler commented on #1536
I gave this 7 hours to account for proposed transactions and testing.

[2018-05-20 22:43] wmbutler commented on #1530
We must define a "big amount" I assume. Discuss.

[2018-05-20 22:46] wmbutler commented on #1526
@ahdigital thoughts? It's a valid point. Maybe a hover state that makes it clear the symbols are clickable.

[2018-05-20 23:27] abitmore commented on #1119
Forgot some data fields:
* feed lifetime (`feed_lifetime_sec`): how long a price feed would be valid
* minimum feeds (`minimum_feeds`): how many price feeds are required to make median feed valid
* backing asset (`short_backing_asset`): what backs this asset, or say, put what as collateral
[code]

[2018-05-20 23:30] abitmore commented on #1537
@grctest PM's are special MPA's, thus need to specify collateral type (backing asset).

[2018-05-20 23:59] abitmore opened #1543 "[2.5][dot5enko] Market page, Collateral ratio and settlement price"
**Describe the bug**
* "Collateral ratio" should present when viewing "debt:collateral" trading pair. Currently it presents on "debt:CORE" trading pair.
* settlement price sometimes doesn't show

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://testnet.bitshares.eu/market/ASDFUSDA_TEST
2. "Collateral ratio" presents
3. Go to https://testnet.bitshares.eu/market/ASDFUSDA_ASDFB
4. "

[2018-05-21 00:07] abitmore commented on #1537
When it comes to marketing, if we're using "smartcoins" for BTS backed assets, perhaps better to invent another name for UIA backed MPA, E.G. `Privatized SmartCoins`. Anyway, **UI need to present the differences**.

[2018-05-21 00:16] abitmore commented on #1536
@wmbutler since the original design has been broken (see #1285), IMHO the "proposed transaction" feature need an overall redesign. The original design was: giving users the option to propose before broadcast the transaction (thus there is a "propose" radio button on confirmation modal, although it confuses new users, it works for advanced users). Better discuss / plan it in #1285, otherwise likely

[2018-05-21 00:31] abitmore commented on #1533
Key point to reproduce: my account has pending settle orders.

[2018-05-21 06:29] ahdigital commented on #1526
I think the asset pairs in the recent market picker mock ups had underlines to denote links. Hover state would be good to include also for both.

[2018-05-21 09:56] gibbsfromncis commented on #1512
Some screenshots:
<img width="497" alt="screenshot 2018-05-21 11 47 15" src="https://user-images.githubusercontent.com/35899973/40301972-fed36cfa-5ced-11e8-8603-557dc0efa819.png">
<img width="501" alt="screenshot 2018-05-21 11 53 02" src="https://user-images.githubusercontent.com/35899973/40301971-feab95f4-5ced-11e8-86a0-5dc6f5201997.png">

Pull request: #1545

[2018-05-21 11:07] gibbsfromncis commented on #422
@wmbutler based on UX please increase to 5 hours because it was put before we get UX.

[2018-05-21 19:48] swoopyy commented on #1541
can I claim this?

[2018-05-21 19:52] calvinfroedge commented on #1320
@sschiessl-bcp Unclaiming this, you are free to close it out

[2018-05-22 08:14] #1534 closed

[2018-05-22 08:53] #1535 closed

[2018-05-22 09:08] svk31 commented on #1533
I did find a bug in MyOpenOrders, could be what caused it but it's hard to tell from the minified debug output. Also added a missing operation key for asset_settle_cancel so it shows properly in your transaction history.

[2018-05-22 09:08] #1533 closed

[2018-05-22 09:15] #1527 closed

[2018-05-22 09:43] tianyekuo opened #1547 "[3] Support new operations in account activities and block explorer"
**Describe the bug**
[bsip-0027](https://github.com/bitshares/bsips/blob/master/bsip-0027.md) Asset Issuer Reclaim Fee Pool Funds: backend support the API in the next release, frontend should support the new operation.

**To Reproduce**
Steps to reproduce the behavior:
1. call the api by the latest cli_wallet: claim_asset_fee_pool GDEX123ABC0 100 true
2. Open the user activity page
3. Check the la

[2018-05-22 12:05] svk31 commented on #1493
https://github.com/bitshares/bitsharesjs/commit/743b4391955a95ae4d976bc6dd24cc8e4e0ec9be

[2018-05-22 18:30] wmbutler commented on #1526
- Add underlines for each symbol to denote link
- Add blue? hoverstate

[2018-05-22 18:34] wmbutler commented on #1536
This is probably due to my lack of understanding, but why would we require a user to explicitly propose a transactions. Why not treat it as a proposal if the user doesn't hold the keys?

[2018-05-23 04:51] happyconcepts commented on #1539
Related to #1537

[2018-05-23 05:20] happyconcepts commented on #1537
@abitmore the error message in graphene is this:

Do not make the mistake to think this error contains a duplicate typo.

I believe it is to the point made by @grctest, that *uncollateralized* "smart" coin is serious potential for fraud.

I believe the restriction to be a feature @dan thought to prevent making "smart" wrappers around uncollateralized coins.

[2018-05-23 09:27] abitmore commented on #1537
@happyconcepts as I mentioned above, there are use cases. The message you mentioned is not a typo, but is a restriction for better performance, actually I think we can be even looser (think bigger).

[2018-05-23 10:40] gibbsfromncis opened #1549 "No ability to scroll down on Exchange tab to see orders after TradingView integration"
@wmbutler @svk31 @ahdigital

I'm working on TradingView styling and I have one issue which makes me very angry.

This how Exchange looks like on my Macbook Pro 15':

<img width="1436" alt="1" src="https://user-images.githubusercontent.com/35899973/40419554-fe39cb24-5e85-11e8-9681-a2e791bdebf1.png">

1) Scroll on Macbook
2) Chart area

Trouble is that Chart handles ALL scroll events and zoom chart.

[2018-05-23 10:43] gibbsfromncis commented on #1549
Btw I know we have issue for Exchange new UX. But this one will be deployed at least in two weeks. During this 2 weeks we will make our users and ourself very unhappy