[2017-08-17 20:15] #66 closed

[2017-08-17 20:16] wmbutler commented on #49
Thanks for your comments but please open a separate ticket for specific changes.

[2017-08-17 21:01] ThomasFreedman commented on #49
Yeah, I am unclear where you want things. I was trying to comment on this specific UI change (better info to users for connections). This issue is for such changes is it not? How are my comments out of place?

Trying to contribute, not hinder you. What is a "ticket", is it not an "issue" here on github?  Is this very page I'm interacting with not a "ticket"? A separate item (ticket / issue whateve

[2017-08-17 21:33] calvinfroedge commented on #110
![issue-110](https://user-images.githubusercontent.com/632938/29434629-6b8d3682-8369-11e7-8c0a-2a14bdc19e26.gif)

This issue is being resolved as part of [issue 49](https://github.com/bitshares/bitshares-ui/issues/49).

[2017-08-17 21:38] calvinfroedge commented on #49
@wmbutler @svk31 The existing PR was extended to include showing the active node when the server is automatically selected.

[Issue 110](https://github.com/bitshares/bitshares-ui/issues/110) was updated as appropriate.

[2017-08-17 21:38] wmbutler commented on #110
@calvinfroedge I set this to 1 hour bounty.

[2017-08-17 22:09] calvinfroedge commented on #276
[PR 278](https://github.com/bitshares/bitshares-ui/pull/278) which handles related issues [49](https://github.com/bitshares/bitshares-ui/issues/49) and [110](https://github.com/bitshares/bitshares-ui/issues/110) has been updated to include changing the location of the faucet address. Please see attached screencast.

![issue-276](https://user-images.githubusercontent.com/632938/29435932-ca4dac1a-83

[2017-08-17 22:21] calvinfroedge commented on #210
@wmbutler @landry314 Cannot reproduce. Please see attached screencast. Perhaps the confusion is that you actually need to click the "change to" button?

![issue-210](https://user-images.githubusercontent.com/632938/29436288-6d2af964-8370-11e7-9a4d-7e4d1b516d22.gif)

[2017-08-17 22:43] ariesjia commented on #275
@wmbutler can i take this bug

[2017-08-17 22:49] wmbutler commented on #275
Yes. It's yours!

[2017-08-17 22:52] wmbutler commented on #210
Holding until we get further clarification.

[2017-08-17 22:58] wmbutler opened #281 "VOTE - Trollbox"
Just a sample of the riveting conversation, use the thumbs up / thumbs down reaction at the top of this comment.

![screen shot 2017-08-17 at 5 57 51 pm](https://user-images.githubusercontent.com/1254810/29437350-aa1aa2b6-8375-11e7-8bca-adcaaa1ade8a.png)

- Thumbs Up to Keep the Trollbox
- Thumbs Down to Ditch the Trollbox

[2017-08-17 23:03] flux627 commented on #281
This has always been a super embarrassing feature, however at least the name is accurate.

[2017-08-17 23:55] #88 closed

[2017-08-18 00:18] wmbutler commented on #53
Opening a discussion here. I think that all witnesses who have registered should be displayed on the witness page.

- [ ] Display in order of descending votes.
- [ ] Display in one common list whether the witness is active or not

## Single list
Currently, there is a top list identifying those I have voted for and a bottom list identifying those I haven't voted for. This creates a problem in the U

[2017-08-18 00:26] landry314 commented on #261
expand the .bin format to include a flag for the last active account and set that one as active
OR
upon restoring the wallet fetch balances and make the account with the highest balance the active one

that is two good ideas.

right now it CAN set as the active account a followed account which isnt even owned by the user of the wallet. that is not acceptable behavior.

[2017-08-18 00:56] calvinfroedge commented on #139
Issue is related to not updating state when props change on voting proxy component.

![issue-139](https://user-images.githubusercontent.com/632938/29439794-d02498ee-8385-11e7-9644-7e746a1c4bbf.gif)

Resolved by [PR 282](https://github.com/bitshares/bitshares-ui/pull/282).

[2017-08-18 01:05] landry314 commented on #210
No, that is not it, @calvinfroedge. After doing what you show in your screencast THEN clicking on the "change to NAME" button, the wallet does not change, at least for me: it is still the old wallet until I RELOAD. Reloading is the only way I get the wallet to actually switch after changing it.

Can anyone try this and confirm the same result happens for them?

Oh, I am using the Mac OS light clie

[2017-08-18 01:23] calvinfroedge commented on #160
Resolved by [PR 283](https://github.com/bitshares/bitshares-ui/pull/283). This issue was caused by component not triggering updates on account changes.

Vesting balances now update as expected.

![issue-160](https://user-images.githubusercontent.com/632938/29440368-c86d0362-8389-11e7-94ce-0e88dcafbac3.gif)

[2017-08-18 01:24] calvinfroedge commented on #210
@landry314 Screencast would be helpful. If you can reproduce the issue when creating accounts from a new wallet, even better. I know it sucks, but the only way I can resolve is if I can reproduce.

Thanks for your time in reporting this issue.

[2017-08-18 01:26] calvinfroedge commented on #281
High effort, low value

[2017-08-18 01:46] blahbax opened #284 "[1] Persistent application initialization issue"
Whenever I open the Bitshares desktop client it takes me at least 5 retries/node switches to actually get into the program. Would be great if this was automated so the program automatically retried the selected node and then moved on to the next node after a few retries.

I am on a satellite connection which is pretty fast, but like all satellite connections, the latency is shocking. I've heard of

[2017-08-18 01:47] ThomasFreedman commented on #281
There were  S O O O O  many people screaming to have a "trollbox" implemented. Go look at the forums. I've never been a fan of the concept. Very distracting, and I would say obsolete with all the social media apps available these days.

[2017-08-18 01:49] landry314 commented on #210
Ah, wait a second, it might just be taking a long time. I just tried it switching from the default to the empty test wallet and after 2 minutes each on 2 tests nothing ever happened but switching from the empty test wallet to the default wallet, it took over 20 seconds one time and about 10 seconds the other time to switch over. That is very weird.

Also, a very weird thing happened in the meantim

[2017-08-18 02:04] calvinfroedge commented on #210
@landry314 One thing at a time. Clear reproduction steps. Screencasts are best. Try the [licecap](https://www.cockos.com/licecap/) tool to create screencasts like the one I made above.

If there are issues let's work through them separately, one at a time.

[2017-08-18 02:10] crazybits opened #285 "issue of ChainStore.getObject()"
the ChainStore has been init, but ChainStore.getObject(balanceID) always return a undefined object in react native, any idea？

[2017-08-18 04:58] landry314 commented on #210
It can't be separated because it is all tied together. "Hiding an account while in the middle of switching between two wallets before the reload happens causes the account to duplicate into both wallets and become active on the second wallet"? It is just silly.

The wallet and account system is so poorly written it can not be fixed by focusing on one "bug" at a time. It needs an epic.

I am sorry

[2017-08-18 05:05] landry314 commented on #210
Oh, and you might want to even throw in issue #216 though it barely matters.

[2017-08-18 05:09] landry314 commented on #210
And I am using the latest build on bitshares.org/download, which is BitShares 2 (March 28th, 2016 / GUI May 22nd, 2017). I know there is a newer one but I haven't tried to build it myself. Issue #224 would solve this! haha.

[2017-08-18 05:17] btsfav commented on #281
just add links to our official channels (telegram/discord/forum)

[2017-08-18 06:48] #160 closed

[2017-08-18 06:49] #139 closed

[2017-08-18 08:19] testlump commented on #281
Ditch it entirely. It's cheap and tacky. Leave the collaboration/trolling to purpose built platforms like Telegram, Github and Bitsharestalk.

[2017-08-18 08:40] xeroc commented on #224
In `bitshares-core`, the `bitshares` branch represents "stable" releases which are tagged and thus would be what you consider `master`. It has it's separate branch because the repository also hosts `testnet` which is the testnet-specific branch. If we were to move the testnet frontend into github as well (which I would like to recommend anyways), then it makes sense to keep `bitshares` as master b

[2017-08-18 12:28] calvinfroedge commented on #276
@svk31 This is ready for review

[2017-08-18 12:31] #276 closed

[2017-08-18 12:31] #110 closed

[2017-08-18 13:25] wmbutler commented on #49
@thomasfreedman his ticket has already been claimed, worked and closed. Your suggestions were expanding scope on an item that has already been completed. Open a new issue if you require additional scope.

[2017-08-18 13:30] wmbutler commented on #224
The point of the staging branch is to allow for testing in a single consolidated branch before deploying.

[2017-08-18 13:37] wmbutler commented on #210
This appears to be related to latency to me. It's taking your client so long to talk to the node server that your client is attempting to perform actions prior to fully getting new account data. Please state how may wallets and how many accounts you have and your latency to your node server.

[2017-08-18 13:37] grctest commented on #281
Replacing the trollbox with links to telegram/slack/bitsharestalk/steemit/wechat/other would probably be better than the trollbox (IMO). Alternatively, we could bridge the trollbox to some of the external chat systems (though that could be a nightmare to moderate).

[2017-08-18 13:37] wmbutler commented on #285
@svk

[2017-08-18 13:40] wmbutler commented on #261
Suggestion 2 sounds like a reasonable way to proceed.

[2017-08-18 13:44] grctest opened #286 "Light client - very slight cosmetic glitch on overview page"
![image](https://user-images.githubusercontent.com/15861527/29461395-76aa3712-8423-11e7-9869-eed9d3394995.png)

When first loaded (or when the client view is refreshed) the overview page shows a very slight cosmetic glitch where the bottom left trading pair border is missing & the next trading pair (to the right) has a slightly off-centre border.

When you hover your mouse over the cell, it fixes

[2017-08-18 13:52] grctest opened #287 "[.5] Within 'send' tab's transfer details: Editing the middle of 'amount' field switches to append mode in light client (similar to #265)"
Similar closed/completed issue: https://github.com/bitshares/bitshares-ui/issues/265

On the 'send' page within the bitshares-light wallet, the 'amount' field similarly switches to append-mode when attempting to change the value in the middle.

5's added to middle of 1's:
![image](https://user-images.githubusercontent.com/15861527/29461762-cf7338f2-8424-11e7-9ae9-a9ab0a72babf.png)

This issue is n

[2017-08-18 14:00] wmbutler commented on #287
Confirmed from Send link (Transfer Details) Heading page as well. Another interesting difference is the label **Amount** in the screenshot above vs **Quantity** in my screenshot. I'm using 170522 client for my screenshot and I think Quantity is a better label.

![screen shot 2017-08-18 at 8 56 31 am](https://user-images.githubusercontent.com/1254810/29462052-9a881e9a-83f3-11e7-9052-fa2fb4da4552.pn

[2017-08-18 14:02] wmbutler commented on #286
Unable to reproduce. I'm envisioning Top markets will get a rewrite so probably best not to spend developer time on something that will be re-written.

[2017-08-18 14:02] #286 closed

[2017-08-18 14:04] xeroc commented on #224
I'd say, go for it .. since the deploy script for travis can obtain the branch name it is operating on, we can restrict deploys for `bitshares` branch ..

[2017-08-18 14:08] steempower commented on #188
Sorry for the delay Bill,

The 'Total (BTS)' column is a cumulative total of all prior orders BTS values. In some situation the calculation of the cumulative value is not calculated correctly.

For example: on the DEX right now on the WHALESHARES:BTS market - cumulative value is calculated correctly up until the 7th order (789.99353 | 5.10000 | 5 | 1.020) - after that the next order is for 1000 Wh

[2017-08-18 14:20] destenson opened #288 "Feature: User configurable alerts & extending concept of "following" an account to other types of objects"
As a cool and unique new feature, It might be nice to let a user choose which accounts & objects get subscribed to dynamically.. Like extending the "follow" concept to include accounts you do and don't have keys for, and assets and markets. Maybe even others' trades. It could be cool to be able to subscribe to the second-lowest ask in a market list and possibly be alerted when a price level is rea

[2017-08-18 14:29] wmbutler commented on #188
Thanks for the example.

[2017-08-18 14:37] wmbutler commented on #188
Whaleshare appears to add up properly, but BTS does not.

![screen shot 2017-08-18 at 9 36 24 am](https://user-images.githubusercontent.com/1254810/29463576-cafe6b10-83f8-11e7-91b8-7bfc0bb1f836.png)

![screen shot 2017-08-18 at 9 36 33 am](https://user-images.githubusercontent.com/1254810/29463583-d8e381e8-83f8-11e7-8189-a4c356f6fc63.png)

[2017-08-18 14:41] wmbutler commented on #224
This would allow us to create a staging server as well to make testing accessible to even non-technical types.... staging should also be a protected branch.

## Incremental fixes merge into staging
staging branch -> build -> deploy -> staging.bitshares.org

## Staging gets merged into bitshares at end of Sprint
bitshares branch -> build -> deploy -> bitshares.org/wallet | electon wallets

[2017-08-18 14:50] wmbutler opened #289 "[1.5][happyconcepts] Remove Trollbox"
Based upon votes on #281

[2017-08-18 14:52] wmbutler commented on #55
#289

[2017-08-18 14:52] wmbutler commented on #54
#289

[2017-08-18 15:29] svk31 commented on #287
Don't do anything with this yet, I have pending changes that touches the input here and will probably fix this.

[2017-08-18 15:34] btsfav opened #290 "Add an easy shapeshift-like currency conversion tool"
Here's a mockup of an instant exchange idea for BitShares.

![instadex.png](https://steemitimages.com/DQmWA4hbC4YzgtvxAZfAV7L8f3XRWkFB5zkLEAoHz12LJG5/instadex.png)
[Download](https://anonfile.com/34Z1i2cfbb/BTSmokup.psd) PST

Here's how I imagine it:

* Click `INSTANT dEXCHANGE`
* enter amount and asset you want to buy (ex. 10 BITUSD-Dropdown)
* select the payment asset (ex. BTS-Dropdown)
* select

[2017-08-18 16:18] grctest opened #291 "[1][fletchertyler914] Limit 'asset name' and 'filter' search field length?"
![image](https://user-images.githubusercontent.com/15861527/29467532-cd96083e-8438-11e7-8e95-1d632788e0c0.png)

The 'my market -> **filter**' and 'find market -> **asset name**' fields are not limited in length despite the possible search results being limited in length.

If you open the dev console then paste in a couple hundred thousand characters directly into these fields it increases the CPU

[2017-08-18 16:19] happyconcepts commented on #289
Please consider repurposing trollbox window functionality instead of
throwing it away.

That anchored window popup could be a useful way to deliver error messages
to users, for example.

Plus I liked seeing how many other people were online ...

Please!

On Aug 18, 2017 7:50 AM, "Bill Butler" <notifications@github.com> wrote:

Based upon votes on #281
<https://github.com/bitshares/bitshares-ui/iss

[2017-08-18 16:38] grctest opened #292 "[1] Find markets 'Base Currency' field doesn't always detect an invalid asset name immediately"
![image](https://user-images.githubusercontent.com/15861527/29468209-3f495ace-843b-11e7-80e0-3c30f8bd5348.png)

You can enter BTS (valid asset name) then append multiple special characters such as $£"' and it will show as still valid until say 8 special characters have been added, at which the client enforces asset name validity until all of the special characters are gone.

It only works with the

[2017-08-18 18:06] svk31 commented on #291
That begs the question of why you would ever do such a thing..

[2017-08-19 05:16] rrandom commented on #206
Hi, @landry314 , I don't understand where is ` the "b" tab on the left under "Followed accounts" ` with correct calculation.  Is there any screenshot?

[2017-08-19 14:09] robrigo opened #293 "Trying to proxy voting to your lifetime / affiliate referrer errors: "cannot proxy to yourself""
I noticed a strange bug when I was signing my friend for bitshares up the other day. He used my referral code to access OpenLedger (bitshares.openledger.info?r=robrigo), registered an account, and we saw that I was set to his Lifetime and Affiliate Referrer as expected:

![screen shot 2017-08-19 at 10 02 59 am](https://user-images.githubusercontent.com/590263/29487381-fc94d042-84c5-11e7-8606-9761c

[2017-08-19 14:14] robrigo commented on #293
Oh yeah, I am using the following build of the Bitshares light client: Version 2.0.170522

[2017-08-19 14:18] robrigo commented on #293
Actually I don't think this is even related to referrer system, as I was able to reproduce it on another account that does not have "robrigo" as referrer. IF that's the case, I would say this bug is more urgent than I originally thought; the code to set proxy seems to work only part of the time.

[2017-08-19 14:23] robrigo opened #294 "[1.5][happyconcepts] More intuitive vesting BTS stats"
The stats shown under the "Membership" tab are confusing to me. I would expect "Pending vested fees" to match the amount of BTS I have vesting from my referee's use of the system; instead it is 0.

![screen shot 2017-08-19 at 10 21 01 am](https://user-images.githubusercontent.com/590263/29487514-6e0f0fec-84c8-11e7-81ea-24801ff2328c.png)

On the "Vesting balances" page, there are more accurate stat

[2017-08-19 15:06] btsfav commented on #293
the user is actually watching robrigo's account point of view. so it's naturally not possible to vote there

[2017-08-19 15:47] robrigo commented on #293
@btsfav "the context changes from the logged in user's account view to robrigo's account view at the same time the error is thrown."

See:

![bitshares-proxy-bug](https://user-images.githubusercontent.com/590263/29488200-1eb439de-84d4-11e7-9636-9d6aac129001.gif)

[2017-08-19 16:14] btsfav commented on #293
@robrigo OpenLedger bug, unable to reproduce in the official webwallet / light client

[2017-08-19 21:38] abitmore commented on #293
@robrigo don't click "go to". Click "publish changes" directly.

[2017-08-20 14:45] btswolf opened #296 "BitShares Deposit/Withdraw Engine upgrade"
The BitShares user base is growing quickly and we have to prepare for many additional businesses and transfer providers that  will join the ecosystem.

If you are familiar with  the BitShares reference client you might get used on how to deposit, withdraw and send funds on- and off-chain, hereafter called the DW-Engine. But new users often struggle to understand how to use the DW-Engine and the re

[2017-08-20 15:40] happyconcepts commented on #181
bitshares-ui provides search results now. Enjoy!

[2017-08-20 15:44] happyconcepts commented on #289
So I would like to claim this, it is marked for the 170914 sprint. Thank you.

[2017-08-21 06:58] #181 closed

[2017-08-21 08:27] btsfav commented on #293
@wmbutler please close

[2017-08-21 09:10] #293 closed

[2017-08-21 12:22] svk31 commented on #284
That's exactly what the current behaviour is: retry the next node if it fails to connect to the first one. The websocket connection requires you to have a decent internet connection, not much we can do about this tbh.

[2017-08-21 12:24] svk31 commented on #285
In theory this is an issue for https://github.com/bitshares/bitshares-js and https://github.com/bitshares/bitsharesjs-ws. React-native is not currently supported by the websocket library which is probably the cause of your issue.

[2017-08-21 12:24] #285 closed

[2017-08-21 12:28] svk31 commented on #206
This isn't currently the case, I already fixed it a few weeks ago so that it says 0 BTS in this case. We used to have the open order values displayed in brackets just after or below the 0 BTS value, but it quickly got very messy which is why the values are now split into "Balances" and "Open Orders".

Unless someone comes up with a better way of displaying the values I don't think there's anything

[2017-08-21 12:49] oxarbitrage opened #299 "[.5] warn user on creating/following more than 100 accounts"
there is a problem with users having or following more than 100 accounts with the performance of the light client. details of it can be found here: https://github.com/bitshares/bitshares-core/issues/295

last commit will fix the performance problem for users with more than 100 accounts but only subscribe to the first 100. ui should alert or disallow if a user registers or follows are greater than

[2017-08-21 13:48] wmbutler commented on #206
Closing this as a wontfix.

[2017-08-21 13:48] #206 closed

[2017-08-21 13:59] wmbutler commented on #213
Merge #298  that fixed this and a number of other issues.

[2017-08-21 13:59] #213 closed

[2017-08-21 14:03] wmbutler commented on #293
@robrigo we fixed this silliness in the bts version. Doesn't look like openledger has pulled out fixes.

[2017-08-21 14:27] wmbutler commented on #289
@happyconcepts it's yours but the issue specifically states it's for removal only. A separate issue can be opened at a later date for a new feature. This PR will only be paid for removal.

[2017-08-21 14:31] wmbutler commented on #294
Setting this as a question until we have a bit more clarification from @svk31

[2017-08-21 14:39] wmbutler commented on #291
@calvin wondering if there is an easy solution here. @svk31 is there a max allowable number of characters for a reading symbol?

[2017-08-21 14:40] wmbutler commented on #291
Trading

[2017-08-21 14:42] wmbutler commented on #292
This is an easily fixable issue

[2017-08-21 14:48] wmbutler commented on #287
I assigned this to you to ensure it would t get claimed.

[2017-08-21 19:26] btswolf opened #301 "BitShares GUI Account and Wallet model proposal"
Since the introduction of the Account model we have to deal with two different models in the #BitShares reference Client GUI, Wallet and Account model.
This has raised numerous questions in the support channels and often it is not obvious which model the user has chosen.
Here are my suggestions to ease the user decision to choose a model and how each model is presented in the GUI.

------------

*

[2017-08-21 19:29] xanoxt opened #302 "[1.5] Order book UI: Highlight user's orders in Order Book."
There are two parts in this request, either colour or star highlight the orders in the order book, something like this:
![](https://camo.githubusercontent.com/bb03e17dec0682b7b17b4b0e3c02b5e59ae489eb/68747470733a2f2f7332392e706f7374696d672e6f72672f7363396533316d6f372f696d6167652e706e67)

Anorther nice feature would be if orders bigger than certain size would be bolded.

[2017-08-21 19:53] #275 closed

[2017-08-21 20:00] svk31 commented on #299
The GUI uses get_full_accounts anytime it needs data for an account, so it's not just limited to accounts you're actively following. The main reason for this is that it's generally the only way to get the data needed without making a lot more API calls.

[2017-08-21 20:15] btsfav commented on #301
See https://github.com/bitshares/bitshares-ui/issues/258

[2017-08-21 20:28] wmbutler commented on #299
So, the user should get a warning if accounts = 99 right?

[2017-08-21 20:31] wmbutler commented on #302
I think a user icon to the left or right of the row would be more intuitive.

[2017-08-21 20:59] iefken opened #303 "'Sell' book not showing in light client"
Hi,

When you change the trading pair in the lightclient, the 'sell' book doesn't show untill you scroll all the way up. BTSWolf encouraged me to report it here so here it is:
![afbeelding](https://user-images.githubusercontent.com/27020088/29538061-5adf6ae0-86c4-11e7-9f4f-e91eb124ec5b.png)

Greetings

[2017-08-21 21:07] wmbutler commented on #303
It's a scrolling issue that was already fixed and will be released 170901

[2017-08-21 21:07] #303 closed

[2017-08-21 21:13] wmbutler commented on #302
![screen shot 2017-08-21 at 4 13 27 pm](https://user-images.githubusercontent.com/1254810/29538488-b3c343cc-868b-11e7-8bd3-6c7c57f203d0.png)

[2017-08-21 21:20] wmbutler commented on #202
@svk31 @calvinfroedge Since this is a 10-hour issue and since we have just 1 more week in the Sprint, I need to know whether you are choosing to tackle this or not. If it's happening, please claim it and let's start discussing fixes.

[2017-08-21 21:38] wmbutler opened #304 "[1] ApiInstance, Crypto API Error"
I'm seeing this in my Chrome Browser console log when I load: https://bitshares.org/wallet. It happens when the wallet first loads prior to login.

![screen shot 2017-08-21 at 4 32 23 pm](https://user-images.githubusercontent.com/1254810/29539294-deebcc1a-868e-11e7-9c35-139cdaa71e6a.png)

[2017-08-21 21:40] wmbutler opened #305 "[.5][ariesjia] Content Security Policies delivered via a <meta> element"
I'm seeing this error in the console when first loading the bitshares.org/wallet.

![screen shot 2017-08-21 at 4 39 56 pm](https://user-images.githubusercontent.com/1254810/29539421-65fcbe94-868f-11e7-920e-c619c01900bf.png)

[2017-08-21 22:00] #254 closed

[2017-08-21 22:01] #85 closed

[2017-08-21 23:00] wmbutler commented on #49
- [ ] Sort order should be ascending latency
- [ ] Make sure down nodes are sorted to the bottom
- [ ] Remove Button is only visible on nodes the user **manually added**

@calvinfroedge you missed a few bullet points on this one... increase the estimate as you see fit.

[2017-08-21 23:10] ariesjia commented on #305
@wmbutler  can i take the bug

[2017-08-22 00:40] wmbutler commented on #305
Assigned to you @ariesjia Thanks.

[2017-08-22 01:29] ariesjia commented on #305
Yes , I will quick fix  the bug

[2017-08-22 01:47] abitmore commented on #202
@wmbutler: as @destenson mentioned above, please check https://github.com/bitshares/bitsharesjs/pull/3 . IMHO it's almost fixed already. Also recently we pushed a patch to the core: https://github.com/bitshares/bitshares-core/pull/364

[2017-08-22 03:38] wmbutler commented on #202
This is great news. Will we require any UI changes that our team might currently be unaware of in order to fix the problem in the front end, or will the js changes take effect without additional modifications?

Also, what is the anticipated delivery date for the fix. Will it be in place prior to Sept 1, 2017?

[2017-08-22 06:33] skenan commented on #215
Fix this one as the PR #297

[2017-08-22 07:45] lilianwen opened #306 "How to build bitshares-light wallet on windows?"
i find it is impossible to build on windows and the readme file did not say how to do it.

[2017-08-22 10:23] svk31 commented on #306
Exact same way you build it for Linux and osx. Install node then run the commands in a node console.

[2017-08-22 10:23] #306 closed

[2017-08-22 12:28] lilianwen opened #307 "no current-release.json"
I want to build a bitshares-light wallet. I follow the steps.
[code]

When it coms to the last step, error occurs.Like this:

 node ./tasks/write_digest

C:\Users\llw\Desktop\sfile\wsBitshareUI\bitshares-ui\electron\tasks\write_digest.js:14
var file = path.resolve('releases/', currentRelease[utils.os()]);
                                                          ^

TypeError: Cannot read property

[2017-08-22 14:05] wmbutler commented on #306
We plan to release new binaries for all 3 platforms at the end of every milestone. Expect new binaries on 170901.

[2017-08-22 18:14] btswolf opened #310 "show more details on Account page"
The current account page could be used to show more important high-level information that users are looking often for. I suggest to enhance the information that is displayed on the account page and put some links to the sub-pages with more in-depth information from there.

[![Wallet_account](https://i.imgsafe.org/c7/c738522264.png)](https://i.imgsafe.org/c7/c738522264.png)
**Show active account pa

[2017-08-22 18:16] btswolf commented on #301
I've moved the account page details to a separate issue since it is not required for this issue.
https://github.com/bitshares/bitshares-ui/issues/310

[2017-08-22 18:34] wmbutler commented on #307
@svk31 can you please address this one? It's a bit over my head.

[2017-08-22 20:40] svk31 commented on #307
current-release.json is generated by the build process. Make sure you have all the dependencies installed and that you're running node v7.

[2017-08-22 21:00] #307 closed

[2017-08-22 21:07] wmbutler opened #311 "[3] Ability to hide UIA's"
There are cases where a user might want to create an asset and then decide that they do not want to use it. A good example is WHALESHARES. This asset was created likely in an effort to deter a squatter from taking it and tricking users into purchasing it. Unfortunately, the asset is still searchable. As such, if I am interested in purchasing a WHALESHARE UIA, I perform a search for 'WHALE" and am

[2017-08-22 21:08] wmbutler commented on #311
IMHO we don't need to change the core. For example:

[code]

There are 3 fields encoded in description, it's done in GUI, so GUI already knows how to deal with the additional info. If we want the feature described in this issue, just add more fields there.

[2017-08-22 21:08] wmbutler commented on #311
Got it. So we could encode "visible":"false" upon asset modification in the GUI and have the search respect that flag...

[2017-08-22 21:10] #305 closed

[2017-08-22 21:14] wmbutler commented on #202
@svk31 will need for you to help determine whether or not any UI changes are necessary as part of the overall solution to this problem. This issue needs to be **claimed** and **estimated** if applicable, or **closed** and set to zero hours. It's one of the last ones for the 120901 Milestone. Thanks.

[2017-08-22 21:20] svk31 commented on #202
It will require GUI changes, and it's not quite as simple as abit and destenson think it is. The GUI is heavily dependent on get_full_accounts in order to have an up to date state of the blockchain, so in addition to changes proposed by destenson I will also need to make changes to the ChainStore, and make an audit of the GUI code to see where it will indeed be possible to *not* fetch data using g

[2017-08-22 21:23] svk31 commented on #291
Yes, it is 16 characters maximum.

[code]

[2017-08-22 21:51] abitmore commented on #202
@svk31 you mean have to use get_full_accounts with subscription or can call it without subscription?

[2017-08-22 22:15] svk31 commented on #202
I mean the GUI requires the subscription for any accounts you own and want to use reliably yes. There are other cases where subscribing is useful, like when you're following an account, or looking at an account. In others it's *not* very useful, like when you just need an account name for an id, but due to how Dan L wrote the ChainStore it defaults to get_full_accounts no matter what if you use it

[2017-08-23 01:04] flux627 commented on #232
I think long term there should be a new account type called "gateway" which has all this updatable metadata on-chain. Details need to be fleshed out, but maybe they would need to put down a relatively large deposit until they are verified (either by witnesses or committee or shareholder whitelisting) at which point they would be included in the UI and their deposit returned.

On a semi-related not

[2017-08-23 01:28] flux627 commented on #258
Maybe if the names were just a little more descriptive it wouldn't be as confusing. The wallet model could be called "Local Wallet", and the account model could be called "Cloud Account" or "Anywhere Account" or something else memorable. All with different contrasting icons. When someone is signed in using a "Cloud Account", it should show a cloud by their name.

Right now the differentiation betw

[2017-08-23 05:39] btsfav commented on #310
I'd like to see

* count of referrals
* income generated
  * ltm purchases

[2017-08-23 09:54] #202 closed

[2017-08-23 09:56] #215 closed

[2017-08-23 09:58] svk31 commented on #55
The trollbox is already disabled so we can close this imo.

[2017-08-23 09:58] #55 closed

[2017-08-23 09:59] svk31 commented on #55
![image](https://user-images.githubusercontent.com/6890015/29610452-778810e8-87fa-11e7-99c9-bc09a569cc8e.png)

[2017-08-23 13:19] svk31 opened #313 "[1] Head block is not updating correctly"

[2017-08-23 13:20] svk31 commented on #313
Investigated and fixed in bitsharesjs, was due to the new subscription model and how the ChainStore fetches the object before subscribe_callback is set.

[2017-08-23 13:22] #313 closed

[2017-08-23 13:24] svk31 commented on #304
I think this is from an API server that is incorrectly configured, wss://bitshares.crypto.fans/ws

[2017-08-23 15:11] o5j5vg55bv5hv5j5f8799f9 commented on #290
May I suggest summary including progress bar 0-100% or 0-n coins showing how much of your order has filled with a cancel button to keep it simple.

[2017-08-23 15:16] o5j5vg55bv5hv5j5f8799f9 commented on #289
Can the trollbox be done on chain to allow global platform communication with fee cost of course. and not random UI specific chat? Possibly reserved for important announcements that way. Fees can go towards development.

[2017-08-23 15:41] ThomasFreedman commented on #49
Thanks BB, noted for future issues.

[2017-08-23 16:00] btsfav commented on #289
please add a link to discord too: https://discord.gg/GsjQfAJ

[2017-08-23 16:31] svk31 commented on #96
In your video you have the 3m zoom selected, that means it will never show more than 3 months of data.

I see react-stockcharts has added an api that lets you fetch more data on pan, so we could hook i to that to fetch more points.

[2017-08-23 16:36] btsfav opened #314 "[6] Market order rounding - very confusing"
![](https://i.imgur.com/Vv8HmqX.png)

so when you're trying to buy for last price (via clicking), the order is actually rounded up, ending up in a new buy order instead of an execution.

super confusing

so either fix this and/or add a clickable

* last ask
* last bid

[2017-08-23 16:42] wmbutler commented on #314
Values should be the same in every screen.

[2017-08-23 16:43] wmbutler commented on #96
Should I open a separate ticket on this for the right justified zoom request?

[2017-08-23 16:44] wmbutler commented on #289
Added .25 to have this added to discord as well @happyconcepts

[2017-08-23 16:48] wmbutler commented on #290
I don't have any specific feedback here but I am leaving it open as a proposed feature.

[2017-08-23 16:49] wmbutler commented on #304
I think we should either remove misconfigured servers or throw a more meaningful message, like:

- wss://bitshares.crypto.fans/ws is inaccessible or misconfigured

[2017-08-23 16:53] wmbutler commented on #291
In that case, I think we can safely set maxes on those input fields to solve the pasting issue.

[2017-08-23 16:56] wmbutler commented on #96
I see @calvinfroedge claimed this bt it looks like @svk31 worked it. Can you guys make sure the correct person is getting credit here?

[2017-08-23 16:57] wmbutler opened #315 "[4][fletcher914] When zooming on the chart, fix the right side to the right edge"
It's currently ~~center justified~~ centered on the user's cursor and this makes no sense in the context of the chart.

https://v.usetapes.com/99mFY4AKDq

[2017-08-23 17:00] calvinfroedge commented on #96
@svk31 if you would like to claim the issue you can. I was assuming the estimate was for yet-to-be-completed work.

[2017-08-23 17:32] happyconcepts commented on #289
I have removed the trollbox locally and it tests fine; my plan is to submit the PR later today.
....but where exactly would you like the discord link? For now I just added it to the readme.

[2017-08-23 17:46] btsfav commented on #289
@happyconcepts check how its done @ bitshares.org/wallet

[2017-08-23 18:02] wmbutler commented on #289
I think it's fine. Disabling the trollbox from a security/stability standpoint was my biggest concern.

[2017-08-23 18:04] wmbutler commented on #96
FYI, when I begin to add up payments, I will go by:

- Milestone 170901
- Who claimed it || [name in brackets]
- [hours in brackets]

[2017-08-23 18:31] o5j5vg55bv5hv5j5f8799f9 commented on #267
This is my rough idea to make it generalized (just quick edit in paint, can be done better) :

![qbwqrf8](https://user-images.githubusercontent.com/22536095/29631922-3e2b70dc-880f-11e7-8808-83898bbd00f3.png)

No find markets tab - not necessary - the filter should be finding markets
- wild card assumed so typing btc should search anything containing bitBTC and open.BTC like *BTC* while typing. can

[2017-08-23 18:32] svk31 commented on #315
No, it centers on your cursor.

[2017-08-23 18:38] svk31 commented on #314
This is more complicated than it seems and a bit difficult to explain. The reason it happens is that BTS has a precision of 5, meaning 5 decimals maximum, as you see in the confirmation screen. Now, prices are defined **only** by the quantity of assets you are trying to sell and buy, they're not defined like we input them, and assets have max precisions.

If you want to buy 1 OBITS, you cannot do

[2017-08-23 18:42] svk31 commented on #289
So what exactly is this issue for? The trollbox is already disabled in the code and has been for a long time.

[2017-08-23 18:44] svk31 commented on #96
It's an old issue, I already increased the amount of data being fetched back in march, that's the commit you see.

[2017-08-23 18:53] svk31 commented on #267
As always the main issue here is the API: there is no way of getting active markets, top markets, markets with open orders etc from the current API. Also, since any asset can be paired with any other asset, the number of combinations are staggering, which is why there needs to be a search functionality.

[2017-08-23 18:55] o5j5vg55bv5hv5j5f8799f9 commented on #258
I, as a user, am mostly concerned about what I have to back up when I choose.

So I see choices as

- I have to save (1) account name (2) strong private key

or

- I have to save (1) account name (2) password (3) file

for me saving and keeping track of files is not an option. I cannot think of a way to do that securely, so I stick with account model which is closest to what I use for 99% of other

[2017-08-23 19:35] happyconcepts commented on #289
I took the further step, to remove dependencies for it and remove the react
component. It seemed the logical way to fulfill the requirement e.g.
"Remove trollbox"

So there is no place to put a discord link. But if you will keep it
bountied at 1.5 I think that is more realistic for the task. This can even
push with the Sept 1 release, as its ready.

On Aug 23, 2017 11:43 AM, "Sigve Kvalsvik" <noti

[2017-08-23 20:32] wmbutler commented on #267
It's conceivable that rather than display active markets, we could consider harnessing the coinmarketcap API and just list the top cryptos by market cap. For those assets that trade on the dex we might offer jumping off points to the dex

[2017-08-23 22:47] fletchertyler914 commented on #291
I will claim this one if no one else is working on it.

[2017-08-23 23:13] wmbutler commented on #291
It's yours.

[2017-08-23 23:44] fletchertyler914 commented on #291
PR Submitted:
https://github.com/bitshares/bitshares-ui/pull/317

[2017-08-24 00:00] wmbutler commented on #289
Updated to 1.5 and thanks for removal.

[2017-08-24 00:02] wmbutler commented on #96
If it's an old issue, is there a reason it's still open? Should I close it and set the bounty to zero? I need some guidance here.

[2017-08-24 00:08] wmbutler commented on #314
I think this may need more discussion of @abitmore or @oxarbitrage or @xeroc. It's these types of issues that can cause trust issues to end users. In this case, we are asking for an order confirmation, but the confirmation screen does not match the order screen. I'll throw an hour on this if someone cares to claim to research and then we can increase the time as the fix reveals itself.

[2017-08-24 00:10] wmbutler commented on #315
k, updated the issue to reflect that.

[2017-08-24 00:12] o5j5vg55bv5hv5j5f8799f9 commented on #267
That's fair. Ideally would be nice for each asset to have some that information within its parameters that can be continuously updated.

How about this: to reduce the number of combinations, fill the blank sorting list of length N by observing blocks as they appear every 3 seconds. Higher volume tends to have higher activity from bots and will make it trivial to fill. Replace contents of list when

[2017-08-24 02:41] recrypto commented on #314
It would probably be advisable to add a notice on the confirmation dialog about the final price being rounded up or down with the 5 decimal precision so users are aware for the fact that BTS has that nature.

Example:
"*Final payment is rounded to a 5 decimal precision."

It will be intuitive for the user who is buying or selling that there exist a rounding with 5 decimal precision. :)

[2017-08-24 06:52] svk31 opened #318 "[2.5] Blocktrades bridge withdrawal error due to missing fees"
Needs memo fee calculation.

![image](https://user-images.githubusercontent.com/6890015/29653306-8cb24a1a-88a9-11e7-8d49-e67e285dcf7e.png)

[2017-08-24 09:14] svk31 commented on #96
It's open because the suggestion of fetching more data on zoom/pan has not been implemented. I suggest we close this one and create a new one to implement data fetching on pan/zoom (not sure on zoom is possible).

[2017-08-24 09:16] svk31 commented on #315
I don't think this is worth changing, the current behaviour makes perfect sense to me. It's also defined by the plotting library used (react-stockcharts), so changing it would not be straightforward.

[2017-08-24 09:51] #318 closed

[2017-08-24 09:54] #291 closed

[2017-08-24 10:48] cxxcunow opened #319 "fail to create account"
I compile witness nodes with private network test,
my rpc-endpoint is 10.0.0.228:11011, and I set the api-access with 10.0.0.228:11011, faucet address as https://10.0.0.228,

it shows connected status. but when I create account it shows me with unknow error. do you know why?
[10.0.0.228-1503572342190.TXT](https://github.com/bitshares/bitshares-ui/files/1248580/10.0.0.228-1503572342190.TXT)

[2017-08-24 10:51] abitmore commented on #319
More info please.

[2017-08-24 11:12] cxxcunow commented on #319
I update with web log above

[2017-08-24 12:02] oxarbitrage commented on #314
i don't think there is much we can do from the bitshares-core as the price is calculated in the fly by the amounts as sigve described.
i think it will need to be rounded in the gui, before confirmation. **FINAL PRICE USED TO BUY: 7.03748**

[2017-08-24 12:05] oxarbitrage commented on #314
don't show 7.03747402 BTS or show it in smaller font. highlight the final price rounded, remain the long decimal if you want just as a proof but with less screen leadership than the final price.

[2017-08-24 14:31] technologicss opened #320 "This can make the dex platform/exchange more easy to use. Userfriendly. Suggestions."
Just trying to help. No offense.
![image](https://user-images.githubusercontent.com/31315400/29671063-d8214b60-88e8-11e7-9f00-a1ce504ad0cc.png)
too many possible pushbuttons on one buy/sell screen. 5 is too much.
![image](https://user-images.githubusercontent.com/31315400/29671137-029f8a82-88e9-11e7-9ef4-665b382ff871.png)
8 fields looks like you can fill them in, too much.  btfx only 2
![image](ht

[2017-08-24 16:11] technologicss commented on #320
Adition:
The only info needed for trading is something like this. All the information is available.
![image](https://user-images.githubusercontent.com/31315400/29676085-52625f50-88f7-11e7-8057-39be1182199c.png)
2 fields and 2 pushbuttons. Works perfect.
Only once is the crypto mentioned, and only once the other currency.
If you count them on the dex screen, i count 19!!! against 2.

[2017-08-24 16:28] wmbutler commented on #314
Can we have a js validator that rounds the value appropriately regardless of what the user enters?

[2017-08-24 16:33] wmbutler commented on #315
I'll leave it up as a bounty. The right axis of the chart should represent now. It doesn't make a lot of sense to display a future with no data when zooming out. Since you've indicated the issue may be more difficult due a charting limitation, I'm going to increase the bounty by 1 hour.

[2017-08-24 16:35] #96 closed

[2017-08-24 16:39] wmbutler opened #321 "[2] (Research time) Fetch additional data for chart as user pans left"
If a user wants to review historical data on the exchange, fetch it as the user pans to the left.

[2017-08-24 17:21] fletchertyler914 commented on #315
I'll claim this one. Doing a little research leads me to believe this is optional functionality in react-stockcharts.

[2017-08-25 00:49] cxxcunow opened #323 "about light web wallet"
whether the light wallet will download the block header from the witness node? where is the methods in the codes? thanks.

[2017-08-25 02:15] cxxcunow opened #324 "about light wallet"
my win10  run a virtual box with ubuntu with one private testnet witness node, it listen on 10.0.0.239:11011
I install one light wallet in win10, and try to create account but fail with
AddressIndex save 10
PrivateKeyStore.js:206 p: Promise {[[PromiseStatus]]: "pending", [[PromiseValue]]: undefined}
PrivateKeyStore.js:206 p: Promise {[[PromiseStatus]]: "pending", [[PromiseValue]]: undefined}
creat

[2017-08-25 05:56] landry314 commented on #206
@rrandom, the "b tab" is the bitshares logo on the far left, to the left of the "Accounts" tab. In there there WAS a section called "Followed accounts" but now it is just called "Accounts" further confusing the way accounts are managed. If you look at the "TOTAL VALUE" of the active account in the far right column, it DOES take into account the open orders when they say "Unknown value" as I descri

[2017-08-25 06:06] btsfav commented on #206
TOTAL VALUE should be deleted to be honest. that's confusing many

[2017-08-25 06:25] landry314 commented on #206
@btsfav, how is it confusing? it is the total value of your account at the present which is a sum of balances and open orders while subtracting any debt. that is quite straightforward.

[2017-08-25 07:03] btsfav commented on #206
@landry314 it's in BTS. this lead to many confused newbies, they sent in BTC for example, and thought it was converted to BTS. or people tried to send bitshares based on that number... the problems are endless

[2017-08-25 09:57] ppitonak opened #326 "Chart not rendered correctly when margin call order is in orderbook"
Buy side of order book is not displayed correctly in chart when there is a margin call order with feed price +10%.

![bts_call_not_in_chart](https://user-images.githubusercontent.com/445100/29709359-571ba886-898c-11e7-8a4f-a57a773d8977.png)

[2017-08-25 14:11] svk31 commented on #324
The browser won't let you use a local faucet, no way around it.

[2017-08-25 14:13] svk31 commented on #326
Please explain what's incorrect.

[2017-08-25 14:19] #324 closed

[2017-08-25 14:22] #323 closed

[2017-08-25 14:51] svk31 commented on #323
In many places,here for example: https://github.com/bitshares/bitshares-ui/blob/bitshares/web/app/components/Layout/Footer.jsx#L15-L22

[2017-08-25 14:53] svk31 commented on #319
Duplicate of #324

[2017-08-25 14:53] #319 closed

[2017-08-25 15:23] svk31 opened #327 "[1] Blocktrades/Openledger deposit addresses are not persisted for password model logins"
The storage depends on the wallet.

[2017-08-25 15:24] #327 closed

[2017-08-25 15:54] ppitonak commented on #326
I would expect that buy and sell orders in tables at the bottom would be represented in graphical form in chart.

If you look on screenshot, highest buy order is 82800x bigger than lowest sell order but in the chart they are similarly high. It seems that the order to buy 0.00000140 bitbtc at the price of 35714 bts/bitbtc is the one displayed in chart but the buy order for 27 bitbtc is not displaye

[2017-08-25 20:10] landry314 commented on #206
then change the unit in Settings -> General -> Preferred Unit of Account

I know, it is buried in there and would be nice if it were easier to change which is why I submitted issue #214.

[2017-08-25 20:12] landry314 commented on #206
Why not call it "ESTIMATED VALUE", that is more accurate anyway.

[2017-08-25 23:29] cxxcunow opened #328 "about#324"
I download the wallet source codes modify the chainid and compile it ,but it fail to creat account. for local witness node and faucet network, can we modify some wallet codes to compile and use it?or how to construct the local faucet?because I want to code my private wallet ang private chain.

[2017-08-26 06:19] svk31 commented on #326
The big buy order is a call order and is visible in the screenshot as the big yellow wall. Because it's so big it's hard to make out the highest bid and lowest ask on the chart but they're there.

Margin calls are a special order type with slightly different rules which is why they're plotted separately.

[2017-08-26 06:19] #326 closed

[2017-08-26 06:21] svk31 commented on #328
Just use a VPN for your faucet.

[2017-08-26 15:31] wmbutler commented on #328
Please post questions to: https://t.me/BitSharesDEX

[2017-08-26 15:31] #328 closed

[2017-08-26 16:18] calvinfroedge commented on #49
@wmbutler
![issue-49-ex](https://user-images.githubusercontent.com/632938/29743049-6ec7c9c4-8a4f-11e7-81fd-b6887049c9a5.gif)

Resolved by [PR 329](https://github.com/bitshares/bitshares-ui/pull/329)

[2017-08-26 21:45] landry314 commented on #210
2 wallets but only because I created one to test with.
27 accounts in my one main wallet.
416ms latency at the moment connected to Dallas dexnode.net but i've used different nodes depending on which is better.

[2017-08-27 19:12] happyconcepts commented on #315
Many traders (including myself) like to extend channel lines, fib time sequences etc into the future because the chart is used to try to predict future price.

So this change would shut off the use of the chart for me. Sure the right flush chart will always look pretty on the screen this way but sadly it will no longer be actually usable for me as a trader.

[2017-08-27 22:22] fletchertyler914 commented on #315
Why don’t we make it optional then? We could have a button/radio to “lock/unlock” the graph?

[2017-08-28 00:01] wmbutler commented on #315
Actually, I just checked out bitcoinwisdom.com and they seem to handle it in a pretty decent way. If you need to shift the graph left, you can click and drag to the left. If you zoom in an out, it re-locks the graph to the right edge and performs the zoom operation.

https://bitcoinwisdom.com/markets/bitstamp/btcusd

[2017-08-28 00:04] wmbutler commented on #210
Since neither @calvinfroedge nor I can reproduce this, I think we are going to need to see a screenshare. You may want to wait until after the 9/1 release date to see if we solved any of these issues. I know for a fact that we updated a few libraries that were causing excess traffic.

[2017-08-28 00:05] wmbutler commented on #49
Nice, @calvinfroedge thanks.

[2017-08-28 00:08] #54 closed

[2017-08-28 00:20] #281 closed

[2017-08-28 03:52] landry314 commented on #210
Yes, I will wait until after September 1 and see if it is fixed. Will the download be available on bitshares.org/download?

It is still happening for me, I just checked. And that account is definitely permanently duplicated to both wallets now.

[2017-08-28 04:28] happyconcepts commented on #314
Kraken just announced today: they are reducing the decimal precision for trading pairs. What if BTS were to do something similar? Dust could accrue to a house account and voted for what to do with it.

Those tiny cleanup prints are arguably noise instead of signal on the chart...I cannot think of another exchange where this happens.

[2017-08-28 06:21] #49 closed

[2017-08-28 06:26] #289 closed

[2017-08-28 06:32] svk31 commented on #299
Will most likely be a non-issue after the next release as the GUI now uses get_full_accounts with subscribe=false in most cases.

[2017-08-28 06:32] #299 closed

[2017-08-28 06:34] svk31 commented on #287
I've removed the ',' formatting which fixes this issue.

[2017-08-28 06:34] #287 closed

[2017-08-28 06:57] #188 closed

[2017-08-28 07:07] svk31 commented on #314
Yea I got that email too from Kraken. It's a decent idea and something I've already considered, but we can only prevent it on a GUI level, which means anyone using bots or trading through the CLI or other means will have an advantage over GUI users because they can use higher precision. If it could be enforced by the witness_node that would make it universal and more useful.

[2017-08-28 10:41] cxxcunow opened #331 "about faucet"
in the http://docs.bitshares.org/testnet/7-faucet.html#rails-api,  it says we should use this https://github.com/cryptonomex/faucet and it is two years ago. and when run mina deploy, it fails for
not a git repository:'tmp/deploy/.git'
change_dir "/faucet//tmp/deploy" no suche file : here you see it is //tmp but not /tmp
and resync error : some file not transferred

and installing gem dependencies

[2017-08-28 13:21] fletchertyler914 commented on #320
@technologicss How do you borrow with this setup above? You have completely removed a feature that a lot of people use in exchange for over-simplicity. I think this should depend on if the user is in"Advanced Mode" or not, very similar to openledger.io, but still being able to see the charts.

For instance: Person 'A' that is in "Basic Mode" will see the simple buy/sell screen like above, but pers

[2017-08-28 13:25] fletchertyler914 commented on #315
I like that functionality @wmbutler. I can check and see how much more work it would take for react-stockcharts to do that.

[2017-08-28 15:02] rrag commented on #315
Hello everyone, author of react-stockcharts here.

It is currently not possible to zoom by anchoring the right edge, it can certainly be changed and I can take a look at it to see how complex it might be.

Just out of curiosity, why do folks believe that is superior compared to the zoom with mouse as center? If you move the mouse over the last candle on the right and zoom in/out it anchors that ca

[2017-08-28 15:14] fletchertyler914 commented on #315
Hey @rrag! Isn't that what the clamp functionality is intended for? It seems to work like that when clamp was set to true (It locks the right edge and prevents future charts). Anyone correct me if i'm wrong, but I think what we are going after now is ability to set clamp to false on pan and true on zoom, as this would allow us to drag the charts to the left to expose the future but snap it back wh

[2017-08-28 15:23] rrag commented on #315
clamp locks the right and left extremes,

for e.g when clamp is true, the right candle will have to the right extreme point, meaning there cannot be empty space after the right most candle.

Additionally when you enable clamp, and zoom out, it would anchor the right most candle, but when you zoom in the candle closest to mouse position is the anchor. so if you zoom out twice and zoom in twice you

[2017-08-28 16:02] wmbutler commented on #315
With bitcoinwisdom, it's true that the right edge is clamped, however, the user can chose to click and drag to break the right edge free. Feels really intuitive.

[2017-08-28 16:04] wmbutler commented on #320
I've been absorbing this, primarily the idea of keeping a single set of fields with a dropdown to signify buy vs sell. No rush on this, but I would like to see a lot of discussion before any decisions are made.

[2017-08-28 16:06] wmbutler commented on #331
Please post issues related to documentation here: https://github.com/bitshares/bitshares.github.io/issues

[2017-08-28 16:06] #331 closed

[2017-08-28 16:11] wmbutler commented on #292
@rrandom Just wanted to let you know that this will need to be completed in 24 hours to qualify for bounty by 09/01/17

[2017-08-28 16:13] wmbutler commented on #210
Yes, the download for all light wallets will be released then. Regarding your second comment, yeah, since nothing has changed, it makes sense that you would witness the same behavior.

[2017-08-28 18:58] fletchertyler914 commented on #315
So what kind of functionality are we wanting then? Basically what bitcoinwisdom has?
If so will we need to use a new charting library?

[2017-08-28 20:02] wmbutler commented on #315
My hope was that the right edge of the chart would be fixed unless the user explicitly detached it and that the user would have a simple way to reattach it without having to carefully place it in the right spot. When I first suggested this issue, I didn't realize the user case for detaching to predict future trends but that's a perfectly reasonable use case.

What if we add a checkbox that is acti

[2017-08-29 02:45] rrag commented on #315
There are a 4 different ways to zoom from my research

1. Anchor with the mouse position as the center (Existing behavior)
User can mouse hover over say the last candle on a chart and zoom out, this would fix the last candle in its current position and move the left side in/out. The user can also hover the mouse over the first candle on the chart and zoom in/out - this anchors the first candle and

[2017-08-29 05:06] rrandom commented on #292
Sorry, I cant do that, I give up

发自我的小米手机
在 Bill Butler <notifications@github.com>，2017年8月29日 00:11写道：

@rrandom<https://github.com/rrandom> Just wanted to let you know that this will need to be completed in 24 hours to qualify for bounty by 09/01/17

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/bitshares/bitshares-ui/issu

[2017-08-29 12:45] crypto-1 opened #332 "[5][gn1github] Japanese Translation"
Hi,

I have someone who is willing to do a japanese client translation. Please let me know how proceed.

best regards
~mindphlux

[2017-08-29 12:47] wmbutler commented on #332
I'd probably estimate this at 2 hours. @svk31 is there any setup required to add a new translation?

[2017-08-29 13:14] abitmore commented on #314
There are deeper issues. See https://github.com/bitshares/bitshares-core/issues/342

[2017-08-29 15:08] wmbutler commented on #292
I'll leave this in the 170914 Sprint. Are you still planning to work it, or do you give up completely?

[2017-08-29 17:13] wmbutler commented on #315
@fletchertyler914 do you think you can implement the approach I suggested by adding a check box to the settings control so the user can decide whether they want it fixed in place or not? If so, can you finish it tonight? If not, I'll need to move this to 170914.

[2017-08-29 17:31] wmbutler opened #333 "BTS Payment Addresses"
For contributors:

- @happyconcepts
- @calvinfroedge
- @tylerflether914
- @skenan
- @hyper-bola
- @ariesjia
- @rrandom

Please provide me with an accurate bitshares account so I can pay your bounties. To confirm the amount you are owed, feel free to review this spreadsheet. Leave a comment below with your bts address.

https://docs.google.com/spreadsheets/d/1jKPNWp-dw-ku2ufd51Omje20yucsKb3F9gcQsON

[2017-08-29 17:44] hyper-bola commented on #333
Hi Bill, my BTS account is `para-shd`, thanks.

[2017-08-29 18:29] calvinfroedge commented on #333
`calvin-froedge`

[2017-08-29 20:01] skenan commented on #333
skenan-bitshares

[2017-08-29 22:34] landry314 commented on #125
I found this same issue in the CNY Margin window under Collateral on the May 22 release for Mac OS. I was about to create an issue for it but I am not sure if it has been fixed in the meantime.

[2017-08-29 23:22] landry314 opened #334 "[1][ariesjia] Available Collateral Becomes "NAN" When Borrowing BitAsset"
This might have been fixed since the May 22 release but in case not:

1) Try to borrow a bitAsset
2) Start typing any value in Collateral then delete all the digits (should become 0.0)
3) Start typing anything in Debt field

The available collateral should become "Available: NAN BTS".

This fixes if you start typing in the Collateral field again. I think the problem is that the value of "0.0" conf

[2017-08-29 23:39] landry314 opened #335 "Eliminate Leading Zeros in Borrowing BitAssets Window"
Leading zeros in digits look silly... they do. Also, it causes the placement of the commas to be off.

Steps to Reproduce:
1) Borrow a bitAsset of which you have no current debt.
2) Click after the default 0 in any value entry field.
3) Start typing digits.

You will see that that default zero stays in front of the number and after you type 3 digits then it places a comma before them allowing for

[2017-08-30 00:49] ariesjia commented on #333
`ares-chen`

[2017-08-30 04:53] rrandom commented on #292
@wmbutler , Thanks, But I think others are free to pick up this issue :)

[2017-08-30 04:54] rrandom commented on #333
emanon-h

[2017-08-30 08:51] abitmore opened #336 "v2.0.170829 settings issue."
After upgraded to v2.0.170829, click settings, then unable to click other menus.

![](https://image.ibb.co/dwBBe5/image.png)

Win10.

[2017-08-30 09:16] abitmore commented on #336
It worked after deleted everything under Local Storage -> file://

[2017-08-30 09:42] abitmore opened #337 "[1] v2.0.170829 unable to add nodes"
In settings->access, it jumps to main page when clicking "add node".

[2017-08-30 11:57] xeroc commented on #121
Can we have a refactoring of this Invoice page in the upcoming spring, please?

[2017-08-30 12:15] xanoxt opened #339 "Vertical order book glitches out after changing markets."
![](https://camo.githubusercontent.com/ba7ff0d9489f340dea0c8a6f53a19e21c65188a2/68747470733a2f2f7331372e706f7374696d672e6f72672f6b6c6d743778646b662f696d6167652e706e67)

The upwards bit disappears because of the scrolling. It is a known issue, although I can't seem to find it in this issue tracker. Also, sometimes the last price between the halves of the book dissapears.

https://github.com/blckchn

[2017-08-30 13:40] wmbutler commented on #336
I did not have this issue, but thanks for the report.

[2017-08-30 13:40] #336 closed

[2017-08-30 13:41] wmbutler commented on #337
Agreed. @calvinfroedge

[2017-08-30 13:43] #252 closed

[2017-08-30 13:43] #253 closed

[2017-08-30 13:45] wmbutler commented on #332
I've assigned this 2 hour bounty to you due 9/14.

[2017-08-30 13:50] wmbutler commented on #337
Calvin, I tested this at bitshares.org/wallet and the bug report is accurate. I've added it into a patch milestone because this should be a hotfix for release today.

[2017-08-30 13:53] wmbutler commented on #339
This was a bug in the reference client. We fixed it in the reference client during the last Sprint. Tell the creator of the Rudex Exchange that they can pull our latest code and it will fix it for their client as well.

[2017-08-30 13:53] #339 closed

[2017-08-30 14:04] wmbutler commented on #121
I'd be happy to take this on. I suppose we could use this mechanism to send the bitshares-ui invoice once it's working properly.

[2017-08-30 14:07] btsfav commented on #337
@wmbutler it's also bugged in the light wallet(windows). if you click access the main screen gets stuck

[2017-08-30 14:10] wmbutler commented on #337
@btsfav Yes, we saw that and it's being addressed.

[2017-08-30 14:13] wmbutler commented on #125
The latest light wallets are out. Can you check it and close this if it's fixed @landry314 ?

[2017-08-30 14:13] ariesjia commented on #335
@wmbutler  can i take this issue

[2017-08-30 14:15] wmbutler commented on #335
It's yours. Thanks!

[2017-08-30 14:17] ariesjia commented on #334
@wmbutler  can i take this issue

[2017-08-30 14:31] btsfav commented on #337
just tested in webwallet... the bugs seem slightly different?

see:
![](http://i.imgur.com/xtjcEBQ.gif)

@wmbutler @svk31

[2017-08-30 16:20] calvinfroedge commented on #337
@abitmore @btsfav

There seem to be a few different issues here...

1) Electron issue being able to add nodes was resolved...apparently electron handles links slightly differently than a browser does and I could not use an anchor tag for the link. PR: https://github.com/bitshares/bitshares-ui/pull/340

2) I cannot reproduce the error clicking the "Access" tab. However, I was not able to use the bi

[2017-08-30 16:25] abitmore commented on #337
@btsfav try delete everything under Local Storage -> file:// . #336

[2017-08-30 16:27] calvinfroedge commented on #337
Updated build:

https://drive.google.com/file/d/0BzvuEYutkmtdTHFYbWRuWkFxX2s/view?usp=sharing

sha1: 79e65edf1ef57f32768501031ca85bc6d565fcb2
sha256: f15892e3edd1328343f7f5a89a51b92a1ee41ef9653de5c0d3da7d1e244e5c96

[2017-08-30 16:29] btsfav commented on #337
@calvinfroedge

maybe this helps

![](https://i.imgur.com/8iQsmGq.png)

@abitmore

not sure what you want me to do

[2017-08-30 16:30] calvinfroedge commented on #337
@btsfav Open your console and type `localStorage.clear()`. I'm trying to support you on this, but did not create the issue you're experiencing.

[2017-08-30 16:31] btsfav commented on #337
@calvinfroedge
localStorage.clear()
undefined

[2017-08-30 16:37] calvinfroedge commented on #337
[code]

@btsfav I added that as 3rd point above. It does not seem to be related to the changes I made. This works in the electron version and in local builds. The ping logic was not changed, so I imagine this issue is environment specific and was pre-existing. We can address it as a separate issue but we will need to do some additional work to set up effective testing in every environment bitshare

[2017-08-30 16:37] abitmore commented on #337
@btsfav
![f7c2364c-ad6d-474e-ab9c-2f3f05b9d5b8](https://user-images.githubusercontent.com/9946777/29883982-3c7f38a6-8db2-11e7-8812-dc81e5be677f.jpg)

[2017-08-30 16:38] btsfav commented on #337
@calvinfroedge the nodes shown as DOWN because I used a non-listed NODE. after I selected "closest..." nodes are displayed correctly

@abitmore thanks, worked via the console cmd

[2017-08-30 16:43] calvinfroedge commented on #337
@btsfav Ok, good to know that selecting closest fixes, I will check to see if I can figure out why.

[2017-08-30 16:51] btsfav opened #341 "[.25][happyconcepts] Remove 3rd party java script Bitkapital"
We decided earlier this year to not add the telegram widget because it means side loading scripts, a potential security leak.

but looks like bitkapital is doing exactly the same with their transfer service form

`<script type="text/javascript" src="//cdn-main1.123contactform.com/modules/custom-components/js/custom-components.js.minified.js?398aa2b"></script>`

https://github.com/bitshares/bitshar

[2017-08-30 16:56] wmbutler commented on #341
I'm inclined to agree. @svk31 I'll place a small bounty on this but will retract it if you oppose. Seems to me that bitKapital should follow the same method as openledger for the time being. they can submit a PR for that.

[2017-08-30 17:00] btsfav commented on #341
if you decide to delete: keep the tab and add "Currently under Maintenance" or something please.

[2017-08-30 17:05] abitmore opened #342 "[1] Failed to broadcast the transaction: bitshares-crypto digest"
We used to be able to know the exact error message when failed to broadcast a transaction from the GUI. But now:

![e9077481-2e9b-4cd0-813c-f828d2c958cf](https://user-images.githubusercontent.com/9946777/29884421-ba74a894-8db3-11e7-903b-fbb602313cd8.jpg)

How to reproduce: try to place an order in ICOWT/BTS market pair, if you're not whitelisted.

In the console we can still see the error message:

[2017-08-30 17:06] wmbutler commented on #337
When a new version of the client is released, browser localstorage can hold onto information that causes unexpected behavior regarding node status and selection. The user can delete localstorage manually, but a better system would be for the code to compare it's version, possible a version in `package.json` to a value place in localstorage. If the versions match, leave localstorage untouched. If v

[2017-08-30 17:13] landry314 commented on #245
The sha256 for the recent Aug 29 release for Mac OS on https://bitshares.org/download/ is not correct.

If automatic build system is implemented it needs to also update the shasums along with the builds.

[2017-08-30 17:14] wmbutler commented on #342
Display an appropriate error message for this raw message:

"You are not approved to trade on this market"

I'm open to suggestions on the proper wording for this particular error.

[2017-08-30 17:15] calvinfroedge commented on #337
@wmbutler It would probably be a good idea to include the patch / PR I already issued for fixing the electron issue now rather than waiting till 9/14.

[2017-08-30 17:18] wmbutler commented on #245
We need to automate the builds for all three binaries and the web wallet:

- [ ] Web
- [ ] Windows
- [ ] Linux
- [ ] OS X

This task will be considered complete when the creation and posting of all wallets is handled by a single turn key operation. It has been placed into the 100914 Milestone.

[2017-08-30 17:19] landry314 commented on #224
The sha256 for the recent Aug 29 release for Mac OS on https://bitshares.org/download/ is not correct.

If an automatic build system is implemented it needs to also update the shasums along with the builds.

[2017-08-30 17:19] wmbutler opened #343 "SHA256 incorrect on Mac OS Wallet build"
The sha256 for the recent Aug 29 release for Mac OS on https://bitshares.org/download/ is not correct.

If an automatic build system is implemented it needs to also update the shasums along with the builds.

[2017-08-30 17:21] wmbutler commented on #245
Duplicate #224

[2017-08-30 17:21] #245 closed

[2017-08-30 17:23] wmbutler commented on #337
Agreed... @svk31

[2017-08-30 17:23] wmbutler commented on #341
Agreed.

[2017-08-30 17:25] wmbutler commented on #334
It's yours.

[2017-08-30 17:26] landry314 commented on #343
Ah, I see, you wanted to make it a new post, bill.

6319c9477a8e0d36b6ab0a7295f74b7f871e52f8b9f2936ec964046c328fab41

[2017-08-30 17:26] wmbutler commented on #343
Yeah, it's not a good idea to lump bugs onto a larger issue. It'll get lost.

[2017-08-30 17:28] landry314 commented on #224
Don't forget to update the shasums as referred to in issue #343.

[2017-08-30 17:38] landry314 opened #344 "Can Not Add Node Anymore in Settings"
With the Aug 29 release I can no longer add a node in settings.

1) Go to Settings -> Access
2) Click the blue link "Add Node" to the right

For me it redirects to the home "b" tab and does nothing else.

[2017-08-30 17:39] btsfav commented on #344
https://github.com/bitshares/bitshares-ui/issues/337 ...

[2017-08-30 17:41] #344 closed

[2017-08-30 17:41] wmbutler commented on #344
We have a PR in for this already, waiting to be released.

[2017-08-30 17:42] landry314 commented on #344
oops, sorry.

[2017-08-30 17:46] abitmore commented on #342
@wmbutler I'm not talking about a special case, but a common one. Some messages returned by the backend can be shown on UI directly, for example, insufficient balance. Sometimes there are detailed messages, sometimes with error codes. I admit that not all errors come with a message, but it can be fixed in backend.

[2017-08-30 17:49] wmbutler commented on #342
Each Message needs a clear plain text message that the end user can understand. Additionally, the user should be able to look at the console for the more technical message.

[2017-08-30 17:50] abitmore commented on #342
That's why there are error codes. We can have a table, no need to fix every single issue.

[2017-08-30 17:52] wmbutler commented on #342
So, you'd like this to be displayed in a location visible to the end user?

[code]

[2017-08-30 18:02] abitmore commented on #342
@wmbutler please check my messages in Telegram Dev Channel.

[2017-08-30 18:45] abitmore commented on #342
Error: Assert Exception: is_authorized_asset( d, *_seller, *_receive_asset ):
And we can leave the crypto-digest message in the console?

Yes, something like this.
Actually in the node(backend), there is usually a message after the last `:`, so usually GUI need to display that message and do NOT display the expression before the `:`; sometimes there is also an error code, which can be translated a

[2017-08-30 18:55] happyconcepts commented on #333
`sell-bitcoin`

[2017-08-30 19:04] svk31 commented on #337
Clearing local storage is a bad idea, lots of useful stuff is stored, like all the user's settings, possibly deposit addresses etc.

[2017-08-30 19:15] svk31 commented on #343
That's my bad, looks like I reused an old sha256 sum in the release here, which got copied to bitshares.github.io. I did verify the sha sum @calvinfroedge gave for the binary he generated though.

[2017-08-30 19:34] wmbutler commented on #337
But we do need a way to resolve this issue that doesn't require user intervention, So I'm keeping it open for discussion.

[2017-08-30 19:37] wmbutler commented on #337
I'll simplify this issue as adding a node and we can tackle localstorage issue elsewhere.

[2017-08-30 21:47] calvinfroedge commented on #343
[Newest build](https://drive.google.com/open?id=0BzvuEYutkmtdNkFaVUk1bGlNS2c)

[code]

[2017-08-30 23:35] happyconcepts commented on #341
Agreed @btsfav @wmbutler
I will claim if ok.
Do you expect bK to come back with a PR soon?

[2017-08-31 01:04] #343 closed

[2017-08-31 01:05] #337 closed

[2017-08-31 01:06] wmbutler commented on #210
@landry314 please let me know if this still happens for you. If not, please close. Be sure to DL the latest client.

[2017-08-31 01:09] grctest opened #345 "[.25][skenan] Asset page not using full screen width"
![image](https://user-images.githubusercontent.com/15861527/29901683-356b8576-8df1-11e7-9097-12d795789367.png)

When navigating to the 'Assets' page, there is a scrollbar mid way through the view on the right, and the full screen width is no longer used. This isn't the case with the rest of the client.

[2017-08-31 01:26] wmbutler commented on #341
bK?

[2017-08-31 01:30] wmbutler commented on #342
Bill to review various errors, error codes and plaintext messages and work out a place to display these errors.

[2017-08-31 07:10] svk31 commented on #315
Thanks for the input @rrag! I'll be updating to 0.7 as soon as it leaves beta, for now I think the simple solution outlined by Bill above is fine.

[2017-08-31 07:46] landry314 commented on #210
Yes, it still happens exactly the same when switching from my wallet with many accounts to my wallet with only one account, it partially switches but still shows all the accounts in the Settings -> Accounts section until I reload (or maybe it changes after 2 minutes, I haven't waited).

I am using the Aug 30 build of the light client for Mac OS.

[2017-08-31 07:49] landry314 commented on #210
Wouldn't an easy fix just be to add a reload at the end of the function?

[2017-08-31 08:22] svk31 opened #346 "[1] Api nodes are not always sorted correctly, and active node is not set properly"
![image](https://user-images.githubusercontent.com/6890015/29913719-4004feaa-8e36-11e7-81c3-81687bb70c4f.png)

![image](https://user-images.githubusercontent.com/6890015/29913731-4a8d435a-8e36-11e7-8d2b-8ba485d1f357.png)

[2017-08-31 08:36] #304 closed

[2017-08-31 08:37] #346 closed

[2017-08-31 11:10] svk31 opened #348 "Replace highcharts with d3"
Since react-stockcharts uses d3 we now include both highcharts and d3. Using only d3 would shave a significant amount off the total package size.

[2017-08-31 12:36] wmbutler commented on #348
Awesome. Added to current Sprint.

[2017-08-31 12:38] wmbutler opened #349 "[1.5] Web wallet is not connecting to Dallas Node"
There is nothing obviously wrong with the Dallas Node because the Light Wallet connects to it just fine.

Screencast for demonstration. Might be good to hotfix this if we find a solution.

![settings](https://user-images.githubusercontent.com/1254810/29924310-30c2ae7e-8e22-11e7-8ebf-c6a6fd86bb52.gif)

[2017-08-31 12:48] wmbutler commented on #349
It appears that when the web wallet attempts to connect to the Dallas Server, we get this message and it skips to the next server.

[code]

[2017-08-31 12:49] wmbutler commented on #349
I think this deserves a bounty because it's not a problem with @calvinfroedge recent code changes.

[2017-08-31 12:49] svk31 commented on #349
I did make some changes to bitsharesjs-ws today, are you using the latest code?

Btw can't see the screencast due to it requiring flash...

[2017-08-31 12:58] wmbutler commented on #349
@svk31 I changed out the screencast

[2017-08-31 13:02] wmbutler commented on #210
Please post a screenshare, ideally with your console visible. Thanks!

https://www.cockos.com/licecap/

[2017-08-31 13:03] wmbutler opened #350 "[3] Update react-stockcharts to latest version"

[2017-08-31 13:11] svk31 commented on #349
This is a duplicate of https://github.com/bitshares/bitshares-ui/issues/304, the crypto api of that dallas node has something wrong with it.

bitsharesjs-ws now swallows the error, I'll make it so gets propagated properly. This is the actual error for the dallas node:

[code]

[2017-08-31 13:12] #349 closed

[2017-08-31 13:14] wmbutler opened #351 "[2] Failed to Sync with API Server UI"
This page should have the same User Experience as the Settings page for server selection.

![screen shot 2017-08-31 at 8 10 59 am](https://user-images.githubusercontent.com/1254810/29924954-5ec9191e-8e24-11e7-83fe-61f950cab21e.png)

That means incorporating the list and selectors with the same view as shown below:

![screen shot 2017-08-31 at 8 13 31 am](https://user-images.githubusercontent.com/1

[2017-08-31 13:32] wmbutler commented on #294
@svk31 Need help understanding this so I can offer a solution.

[2017-08-31 13:33] wmbutler commented on #186
@svk31 @xeroc This warrants some discussion so the GUI is intuitive and guides the user appropriately.

[2017-08-31 13:40] VANCO-JP commented on #332
I will have the engineer and review the information and reply ASAP.. thank you

[2017-08-31 14:27] pureland commented on #351
check you local time

[2017-08-31 14:52] wmbutler commented on #351
@pureland You need to read the issue more carefully. This is a UI/UX issue, not a time issue.

[2017-08-31 14:56] happyconcepts commented on #315
@svk31 @fletchertyler914 @wmbutler
The progress toward a solid solution for this enhancement is very impressive.

And I thank you too @rrag for your timely input and the 0.7 upgrade.

[2017-08-31 14:59] happyconcepts commented on #341
bitKapital.

[2017-08-31 16:25] skenan commented on #345
Can I take this one?

[2017-08-31 18:53] wmbutler commented on #345
All yours.

[2017-08-31 18:53] wmbutler commented on #341
Ah, I don't know what they will do. I have no contact with them.

[2017-08-31 18:54] wmbutler commented on #315
@fletchertyler914 do you need more bounty on this or is it fair?

[2017-08-31 21:14] happyconcepts opened #352 "Charting Tools: Feature Request: Extend Tools to future"
Extension of the chart (and its trendlines) into future time is standard chart behavior on "pro" systems like Bloomberg, and I must admit some love for tradingview charts and how they do this:
![kraken-extension-ex](https://user-images.githubusercontent.com/14145836/29945323-94aa030a-8e55-11e7-925f-b36da9b5b3ed.png)

 and here is the link if you want to see for yourself: [TradingView:BTC:USD](http

[2017-08-31 21:18] wmbutler commented on #314
I'm upping the bounty on this by an hour.

[2017-08-31 21:27] wmbutler commented on #224
@svk31 I personally view this as our most valuable achievement for the 170914 Sprint. Getting automation established will improve our process and set a solid foundation for future efforts.

[2017-08-31 21:52] fletchertyler914 commented on #315
Sorry, got a little busy lately. I got to look at it a bit more and it seems like it should be fairly straightforward implementing the new item in the tools drop down, I will just need to read up a little on react to get everything together. I think 2 hours should be fine, but may need to increase it as I work on it.

[2017-08-31 23:03] happyconcepts commented on #200
This phenomenon actually occurs in real securities markets, but at what seems to be a far lower frequency than I have observed on the Dex.

When a stock trader finishes a large institutional order, for example, there is sometimes a "cleanup" print to the ticker tape for the last transaction(s) that is/are "away" from the market price. Usually market liquidity, meaning other buyers and sellers, are

[2017-09-01 07:11] btsfav commented on #341
it's up to bitkapital to react / follow github if they want to issue a workaround, in my opinion.

[2017-09-01 15:17] wmbutler commented on #200
I'm increasing the bounty to 4 hours.

[2017-09-01 15:18] wmbutler commented on #315
Keep me in the loop. Happy to increase it as needed.

[2017-09-01 15:30] wmbutler commented on #204
I think we need to adopt an icon for price inversion across the entire site. Ideally, clicking on an asset would take the user to the asset explorer page, while clicking on an inversion icon would invert the price and clicking on a a market/exchange icon would take them to the exchange. We are currently trying to pack too much functionality into the display of a trading pair.

[2017-09-01 15:35] calvinfroedge commented on #311
To hide permanently, an API call will need to be made to update the user preferences vs just putting something in local storage. Is there already a preferences API? @wmbutler @svk31

[2017-09-01 15:37] wmbutler commented on #204
Short term fix (before tables rewrite): Add text above "Update Position" titled "Invert Price"

![screen shot 2017-09-01 at 10 35 50 am](https://user-images.githubusercontent.com/1254810/29976942-61f3de3e-8f01-11e7-8266-1966fb0782cb.png)

[2017-09-01 17:08] wmbutler commented on #311
Let me clarify. This feature is not intended to allow the average user to hide random UIA's. This feature is intended to allow the **creator** for the UIA to specify a hidden flag that frontends could respect. It would also be important for the search indexing to respect the hidden flag.

[2017-09-01 17:40] calvinfroedge opened #353 "Show price quotes in preferred currency for every trading pair"
From Luke Stokes via Facebook:

[code]
This would mean that when buying / selling asset pairs, or even looking at the order book, we would be able to see things in terms of our preferred unit of account. Perhaps another column or a hover.

[2017-09-01 17:44] landry314 commented on #204
Maybe "Invert Pair" or "Flip Ratio" or "Invert Ratio" might work too. "Invert Price" to me feels like an action you might be doing to your position when next to two other position actions.

[2017-09-01 18:05] happyconcepts commented on #200
Thanks, I would like to work this with @svk31 -- can we push the delivery milestone out to Oct 1? I anticipate it is going to take some testing time especially.

[2017-09-01 23:57] grctest opened #354 "Within explore: Add support for searching TXID?"
You can search by transaction id on [cryptofresh](http://cryptofresh.com/tx/79d247dae31448309aff3b955763c63a59e39cac) and soon [bitshares-explorer](http://bitshares-explorer.io:9009/#/txs), but the functionality doesn't exist within the Bitshares internal explore portal.

Would it be possible to include the txid within the in-client block details page, and have txid search in the explore portal?

[2017-09-02 05:48] happyconcepts commented on #341
So just to be clear, removing the form will not provide a way for users to make a deposit, for the time being, right?

[2017-09-02 07:13] btsfav commented on #341
@happyconcepts exactly, that's why I'd like to see a "under maintenance" message appearing under the tab

[2017-09-02 14:45] happyconcepts commented on #341
"Onarım" in turkish - got it, thanks

[2017-09-02 19:08] brekyrself opened #356 "Pool collateral between shorts?"
Is it possible within the BitShares framework to automate collateral levels between different shorts?  This would help the casual shorter with a longer term interest that would not have to constantly check the collateral ratio with such a volatile market.

1.  Set a range to keep a short (ie between 2.15x and 2.5x). Once it goes below 2.15x it can draw from a pool or once it goes above the 2.5x it

[2017-09-03 00:57] happyconcepts commented on #294
Unless this is for @svk31 ...

I would be happy to scope this for clarification as I dive into graphene this weekend.

Looks like `cashback_vb`, or `pending_fees`, or `pending_vested_fees` I will dive deeper ....

[2017-09-03 00:58] happyconcepts commented on #294
![it-may-look-59ab51](https://user-images.githubusercontent.com/14145836/29999733-608bc270-9008-11e7-9bc6-00470491bba6.jpg)

[2017-09-03 10:36] btswolf opened #358 "[.5][happyconcepts] Display account name in lower case letters"
To avoid confusion with the account names I suggest to display the account name with lower case letters consistently in the whole GUI.
[![image](https://user-images.githubusercontent.com/11035520/30002228-4c3f270c-90a4-11e7-9952-0045da8b69aa.png)](https://user-images.githubusercontent.com/11035520/30002228-4c3f270c-90a4-11e7-9952-0045da8b69aa.png)

[2017-09-03 10:52] iPerky commented on #358
The standard reference throughout the GUI:

all "ASSETS" should be "UPPER CASE"
all "user names" should be "lower case"

[2017-09-03 11:14] btsfav commented on #358
merge with https://github.com/bitshares/bitshares-ui/issues/187 please @wmbutler

[2017-09-03 12:33] happyconcepts commented on #187
[https://www.npmjs.com/browse/keyword/clipboard](https://www.npmjs.com/browse/keyword/clipboard)

several node packages are available for react...any favorites?

[2017-09-03 12:53] happyconcepts commented on #358
@wmbutler @btsfav I can fix the account names for the current sprint if you like; however the relation to #187 eludes me.

Is my understanding correct that a recipient's Bitshares address (user input) is to be lowercase in the form field on the SEND page too?

[2017-09-03 14:35] btswolf opened #359 "Display BTS fuel prominently"
BTS is the fuel of all transactions and operations but many users do not know this fact and as long as the fee pools are properly maintained there is no need to have BTS.  But it will happen more often that fee pools are empty and people will need BTS as fuel to use the affected tokens.

Therefor I suggest to add an indicator in the GUI at a prominent place to show the BTS fuel status.
1. If each

[2017-09-03 22:43] malcolmjmr opened #360 "Draggable widgets in UI"
UI should be as customizable as possible. We shouldn't assume how a user wants their dashboard or trading interface formatted.

I think that Bitmex.com has one of the best UI's for trading. A huge part of its appeal are the draggable and resizable widgets which allow users to define their own trading interface and workflow.

I'd like to see the UI be even more modular and amendable. Users should b

[2017-09-03 23:04] malcolmjmr opened #361 "Tradingview for Charts"
- [x] [1.5] Research #774
- [x] [20] UDF Wrapper #773
- [ ] [10] Swap old charting for Tradingview #905

![screen shot 2017-10-07 at 12 49 56 pm](https://user-images.githubusercontent.com/1254810/31310445-0c202a34-ab5e-11e7-9d09-c21d12c54d72.png)

TradingView has probably the best charting functionality that I've used while trading crypto. It's really simple to use for novices and has all of the i

[2017-09-04 20:10] wmbutler commented on #361
That is pretty slick. We are updating to the latest react charts this month. Maybe you can re-evaluate after 9/14 and see if there are any improvements. #350

[2017-09-04 20:12] wmbutler commented on #360
Many steps to go through before this, but this is too general to generate an actionable user story.

[2017-09-04 20:15] wmbutler commented on #358
I like the consistency of all assets UC and all uernames LC. Does commit 6b65bb1 cover thi throughout the entire wallet?

[2017-09-04 20:18] wmbutler commented on #294
You've got it.

[2017-09-04 20:19] happyconcepts commented on #358
More testing is always welcomed as I don't have much experience writing unit tests. I'm learning Travis but not at production level yet.

[2017-09-04 20:19] wmbutler commented on #356
Wondering if this is more of a core proposal since the UI will have nothing to do with automating this, other than telling the backend what to do initially.

[2017-09-04 20:21] happyconcepts commented on #358
FWIW the uppercase transform was being applied to everything in the header; I don't see a use case for capitalizing the account names in any other place in the current GUI.

[2017-09-04 20:23] wmbutler commented on #200
I'm bumping this to 7 hours but leaving it in the 170914 Sprint. I'll assign it to you but you will need to work out @svk31 cut based upon time spent.

[2017-09-04 20:25] wmbutler commented on #358
It's not a matter of user case really, it's just a consistency thing.

[2017-09-04 20:26] wmbutler commented on #204
"Invert pair"

[2017-09-04 20:34] wmbutler commented on #353
This is a really important issue IMO. Every person I've introduced to BTS has to have coinmarketcap and a calculator by their side in order to be sure they are setting an order somewhat close to a fair market price. Let's take this example:

## Trade BTS for ETH on the DEX

The Market is trading at 2142 BTS / ETH. In order to determine if this is a fair price, I need to know the average price for

[2017-09-04 20:51] happyconcepts commented on #358
Well in the meantime, if we are sure that React's use of the variable declaration
  `account_display_name` is enforced throughout all the jsx files ... then I can search the codebase:

[https://github.com/bitshares/bitshares-ui/search?utf8=%E2%9C%93&q=account_display_name&type=](https://github.com/bitshares/bitshares-ui/search?utf8=%E2%9C%93&q=account_display_name&type=)

Is there a 2.0 or 2.x sty

[2017-09-04 22:12] wmbutler commented on #358
@svk31 may have an answer for you.

[2017-09-05 00:10] happyconcepts commented on #358
Sure, very happy to help with these smaller issues for 0914.

[2017-09-05 07:26] #345 closed

[2017-09-05 08:08] svk31 commented on #356
It is indeed a core proposal, it also is a huge change to how collateral is treated so it would be a massive change requiring a hardfork.

[2017-09-05 08:08] #356 closed

[2017-09-05 08:11] svk31 commented on #361
I like TradingView as well and have considered it on many occasions. I'm not sure we would get a license though, since we're not a traditional organization and the library will not be used on only one website but on any website running the BTS GUI. There's also an issue with respects to the documentation, which is only available to pre-approved users of their library.

[2017-09-05 08:14] svk31 commented on #353
Coinmarketcap does not have an API, but there are websites offering APIs based on their data. The problem then becomes that we rely on external services, which can go down, get abandoned/shut down etc.

I do think showing USD equivalents for example would be useful, similar to how Bittrex does it, but I think we could use the existing price conversion using only internal data. That would however m

[2017-09-05 08:31] svk31 commented on #314
I'm tempted to say "this is a feature, not a bug", since it's only confusing if you don't understand how Bitshares prices work in the first place. There really is nothing to fix here, since the final price depends on the amounts you use.

Taking the initial price of 7.03747402 BTS/OBITS (which is the lowest ask):
* If you want to buy 1 OBITS you will need to sell 7.03748 BTS, making the price __7.

[2017-09-05 08:31] #341 closed

[2017-09-05 08:33] svk31 commented on #348
This turned out to be far more work than expected, since react-stockcharts doesn't actually use d3 for plotting but instead uses canvas and svgs. I suggest we drop it until such time as react-stockcharts actually implements depth charts.

[2017-09-05 08:33] #334 closed

[2017-09-05 08:43] svk31 commented on #342
Are there error codes broadcast by bitshares-core? Can't remember seeing any.

I'm not sure what's changed here, as far as I can see the error coming from the API has been treated the same for ever, at least all of 2017, from TransactionConfirmActions.jsx:

[code]

I can change it to just use the first part of the error, which is the assert exception.

[2017-09-05 08:51] svk31 commented on #186
Similar to #314 , although non-divisible assets have some additional issues with respect to rounding in the orderbooks that I can look into.

It is obviously not possible to buy 1 beyondbit for 1.26315789  Whaleshare, since Whaleshare is a non-divisible asset, however that price is valid for the quantities defined in the existing order that you clicked on. To perform a partial match you then have

[2017-09-05 09:03] svk31 commented on #186
![image](https://user-images.githubusercontent.com/6890015/30053652-d338d5ba-9229-11e7-9b93-3b811685070d.png)

[2017-09-05 09:04] #186 closed

[2017-09-05 09:56] #292 closed

[2017-09-05 12:03] svk31 commented on #332
No additional setup needed, just translate all the keys in locale-en.json in a new file locale-jp.json and add jp as a language in the `defaults` of SettingsStore.js

[2017-09-05 12:18] svk31 commented on #200
I'm not convinced this is fixeable in the GUI. In all the testing I've done in my last iteration on this issue (there have been many) I never managed to create any new dust orders after implementing the new market classes. It's possible the GUI still causes it in some cases but if so we need actual reproducible test cases, without them this issue is impossible to fix.

And even though it may be fi

[2017-09-05 12:25] svk31 commented on #204
Or we could just revert it to the old behaviour which is like this:

![image](https://user-images.githubusercontent.com/6890015/30061029-01c27f46-9246-11e7-94fe-e5a1dfa5f8a3.png)

[2017-09-05 12:28] #204 closed

[2017-09-05 15:01] svk31 commented on #200
OK I decided to look at this after all, and was able to recreate the situation on the testnet. To reproduce:

1. create a sell order
2. click the sell order in the orderbook
3. modify the buy order quantity and execute the partial match
4. click the sell order again and try to execute a full match, it should leave a satoshi dust

Looking at how to fix it.

[2017-09-05 17:17] #358 closed

[2017-09-05 17:58] malcolmjmr commented on #360
I guess I'm really just wondering how much work it would take to render the app components as gridstack elements that can easily be added or deleted by the user, like [this](http://troolee.github.io/gridstack.js/demo/knockout2.html).

I'd like to be able to resize the price chart window and move elements that I don't need out of focus or delete them all together.

[2017-09-05 21:05] landry314 commented on #200
Wow, you figured out how to reproduce, @svk31! I am always clicking and reclicking, changing, playing with the orderbook, so it was happening a lot to me. This is a very high priority bug imho because if fixed it will solve the wick problem and start to make the chart usable. Also, the jumping account value calculation which takes in the last market order to calculate will be fixed too. Looking fo

[2017-09-06 12:23] wmbutler commented on #200
@happyconcepts leaving this assigned to @svk31 only, FYI.

[2017-09-06 12:26] wmbutler commented on #332
@VANCO-JP are you claiming this or not?

[2017-09-06 12:27] wmbutler commented on #342
@abitmore can you clarify for @svk31 ?

[2017-09-06 12:34] wmbutler commented on #348
OK, so are we still planning to bring react-stockcharts up to a current version?

[2017-09-06 13:49] o5j5vg55bv5hv5j5f8799f9 opened #364 "[2.5] Present an error message that disallows the use of Incognito with the BTS wallet"
This was brought to me by another user trying to create an account:

When creating new account here https://bitshares.org/wallet/#/create-account/password

![image](https://user-images.githubusercontent.com/22536095/30114893-2a0eefd8-92e7-11e7-8c8c-55e61fdcab4d.png)

he got stuck at the three dot animation screen after hitting the button. I replicated it as well immediately and took a screenshot.

[2017-09-06 13:59] o5j5vg55bv5hv5j5f8799f9 opened #365 "loading gray screen lacks info"
friend was at gray loading screen for long time without info on what it's doing or steps to fix it

This is screen shot of it happening before he gave up:

![image](https://user-images.githubusercontent.com/22536095/30115671-64b574f2-92e9-11e7-9832-71b7d6696a38.png)

It's likely a bad/slow node issue, but he didn't see API screen with node selection or what it's doing

1) Needs info on what it's d

[2017-09-06 15:42] svk31 commented on #348
Yes but it's already at the latest stable release, next version up is still in beta.

[2017-09-06 16:12] happyconcepts commented on #200
@wmbutler thanks for the heads-up...the issue is in good hands :)

[2017-09-07 03:20] o5j5vg55bv5hv5j5f8799f9 opened #366 "[0.5][svk] attempt to publish worker generates no reaction from publish button"
Hi, I was trying to see the cost of generating a worker on new form by making a dummy one and hitting publish to see the fee needed, but nothing happened or showed up.

Lifetime membership, full permissions including memos are available and tested.

I do have a proxy selected - not sure if this is important.

I hit voting>workers>create new worker>

to lead to

https://bitshares.org/wallet/#/creat

[2017-09-07 04:59] Ashaman- opened #367 "Add replace order feature"
The ability to replace an order in one click, instead of having to cancel open order and then wait to submit a new one. Similar to what is implemented in cryptowat.ch

[2017-09-07 05:01] Ashaman- opened #368 "Skip order confirmation feature"
And an option to disable the confirm order box (with configurable parameters, so it still asks to confirm when you're buying/selling significantly higher/lower than market rate)

[2017-09-07 05:24] Ashaman- opened #369 "Dynamically select API server."
We should be able to dynamically select which API to use based on ping / lowest latency etc, if "auto" select is provided, and manually to fixed server (as it is now) if not auto. Electrum does it, it isn't an overly complicated algorithm.

[2017-09-07 07:26] #366 closed

[2017-09-07 07:29] svk31 commented on #369
How does this differ from the current implementation? The current implementation works as follows:

1. If you choose auto, it will ping all nodes and sort them according to latency, and connect to the lowest latency node
2. If you choose a specific node, it will try to connect to that node but fallback to other nodes (again sorted by latency) if your selected node doesn't work

[2017-09-07 15:02] fractalnode commented on #367
something like edit, but in two steps, remove and place a new order

[2017-09-07 16:07] robrigo opened #370 "New orders forces the market view to scroll up"
The user is forced to the top of the "market view" when a new order is placed. This bug causes a bad UX if a user is trying to view information that requires scrolling down when new orders are being placed frequently.

Notice in the following gif how a new order flashing on the sell side of the books forces the scroll view back to the top:

![exchange-view-scrolls-up-when-order-placed](https://use

[2017-09-08 04:02] wmbutler commented on #370
I believe this bug was created when another user complained about the opposite problem when orders were presented in the pinned left view. Whoever claims this need to be sure that it works in both order views (below the market and to the left of the market). Allocating an hour since this may be tricky.

[2017-09-08 04:04] wmbutler commented on #369
I agree that this feature already exists.

[2017-09-08 04:04] #369 closed

[2017-09-08 04:07] wmbutler commented on #368
I think this is a bad idea.

[2017-09-08 04:09] wmbutler commented on #348
OK, closing this and the upgrade ticket.

[2017-09-08 04:09] #348 closed

[2017-09-08 04:09] wmbutler commented on #350
Already on latest stable version

[2017-09-08 04:09] #350 closed

[2017-09-08 04:19] wmbutler commented on #365
I would be nice to know what's going on. Curious to know what we have at our disposal.

- Connecting To Node: node.bitshares.org

[2017-09-08 04:22] wmbutler commented on #364
I think this write-up explains the problem pretty clearly. Do we have a way to immediately inform users that they cannot use incognito with the BTS wallet? This should be a priority bug IMO.

[2017-09-08 04:23] wmbutler commented on #364
The banner can be much like the one we use to display unsupported browsers, but users should not be able to bypass it.

[2017-09-08 04:26] wmbutler commented on #314
Why can't we perform this calculation change in the input field based upon the quantities entered below it? We do it on the confirmation screen.

[2017-09-08 04:55] wmbutler commented on #353
Rather than showing USD equivalents, we should show equivalents relative to their preferred currency in settings. coincap.io has a really nice sockets based api that might play well with bitshares.

https://github.com/CoinCapDev/CoinCap.io

[2017-09-08 04:56] wmbutler commented on #361
I'll talk to them.

[2017-09-08 04:57] wmbutler commented on #332
Removing from Milestone.

[2017-09-08 05:07] btsfav commented on #364
strange, recently used incognito to sign-up a test acc on OL, no problems.

[2017-09-08 09:02] Gil707 commented on #121
I make some fixes in this and add some functionality (default currency getting from invoice and fee asset changing) but have some problem, don't understand how correctly take fee for this opertaion (and convert it if need from BTS), there are the same functions in Transfer, but when do the same, I can not get the correct value anyway...
Here is my var - https://github.com/Gil707/GuronDEX-ui/commit

[2017-09-08 18:57] wmbutler commented on #364
Incognito won't keep localstorage. Huge problem that I don't believe can be overcome. @svk31 ?

[2017-09-08 19:48] wmbutler commented on #315
Upgraded to 4 hours based on unexpected difficulty.

[2017-09-08 20:30] landry314 opened #374 "[.5][ariesjia] Change Word and Calculation from "BALANCE" to "VALUE" on Top Bar"
Ok, here is my argument:

1) Word: Under the Account tab you have "Balances". Balances are just which assets you hold which exclude assets in open orders and debt. The calculation on the top bar called "BALANCE" DOES include open orders and debt in the calculation. Using the same word is confusing to many people. People might think that they are holding BTS if the Preferred Unit is BTS and it says

[2017-09-08 22:35] landry314 commented on #315
Not sure if this is part of this issue, but, for me, the rightmost candle starts half off the screen when switching timeframes... should i create a new issue? I can't tell if it is the same issue.

[2017-09-08 22:41] landry314 commented on #206
I honestly think this was closed as a wontfix due to confusion over what exactly this bug is. This could not possibly be an intentional action.

Anyway, I opened a new issue #374 to suggest a repurposing of this spot on the top bar to make it a value calculation instead of a balance calculation. This was really what it was intended to be anyway, it just got poorly implemented somewhere along the l

[2017-09-08 23:22] fletchertyler914 commented on #315
@landry314, it seems like that is happening on load as well, not just on timeframe switches. This wouldn't be part of this issue though. I think this may be an issue with react-stockcharts, but I will try and confirm that.

[2017-09-08 23:26] fletchertyler914 commented on #315
Just confirmed this is an issue with react-stockcharts as it is doing the same thing on the documentation page as well:
http://rrag.github.io/react-stockcharts/documentation.html#/zoom_and_pan

@rrag, is this suppose to be happening?

[2017-09-09 01:19] rrag commented on #315
The center of the first and last candle matches the edges of the chart. This is the intended behavior, there are a few ways to show the whole candle

Option 1
This does not guarantee the whole candle will be visible but this is good enough for most cases
[code]

Option 2
[code]

[2017-09-09 08:57] o5j5vg55bv5hv5j5f8799f9 commented on #311
Since issued assets have editable asset description pages, simply making it easier to read description of UIA in market or search would make it easy for creator to describe purpose of each.

Right now I see having mouse over SOME asset names gives hovertext of their description. Sometimes it doesn't work until I click on names. I think it should give full description for ANY asset/coin in market l

[2017-09-09 12:46] svk31 commented on #364
Right, it's the localstorage and database storage that make it not suitable. It still works fine with password model logins and to create new accounts, but nothing is stored for the next time you open the browser.

[2017-09-09 12:48] svk31 commented on #370
Unable to reproduce this, which os are you using?

[2017-09-09 12:51] robrigo commented on #370
@svk31 I'm on macOS Sierra (latest)

[2017-09-09 23:59] wmbutler commented on #370
Any chance you could post a screencast of it?

[2017-09-10 00:00] wmbutler commented on #364
Should I UX this?

[2017-09-10 00:01] wmbutler commented on #311
@o5j5vg55bv5hv5j5f8799f9 Your comment, while a good suggestion has nothing to do with this issue. If you wish to suggest a feature, please open a new GitHub issue.

[2017-09-10 00:08] wmbutler commented on #374
Let's use the label "ACCOUNT VALUE" in the top and under the Overview.

![screen shot 2017-09-09 at 7 06 56 pm](https://user-images.githubusercontent.com/1254810/30245020-2e437152-9592-11e7-97d0-1f95045630b4.png)

![screen shot 2017-09-09 at 7 07 59 pm](https://user-images.githubusercontent.com/1254810/30245023-38d0b724-9592-11e7-88ca-bdb6d347ea33.png)

[2017-09-10 07:22] happyconcepts commented on #311
Will this visible setting be dependent upon props like token ownership? What would stop a bad actor from issuing a UIA in exchange for BTC and then hiding it, for example.

[2017-09-10 14:49] robrigo commented on #370
@wmbutler I attempted to do so by creating the gif above using LICEcap. That gif is a recording of my screen scoped in on the relevant parts of the UI.

In order to reproduce this, I did the following:
1) Navigate to the bitUSD / BTS trading pair under the Exchange tab on the desktop wallet client.
2) Opened bitshares via OL on a spare laptop, separate account.
3) Scrolled down to the bottom of th

[2017-09-10 15:16] ariesjia commented on #335
This issue is already fixed ， This bug doesn't  appear  right now

[2017-09-10 15:16] ariesjia commented on #374
can i take this issue

[2017-09-10 17:54] btswolf opened #376 "[3] Node selection latency and up/down indicators are incorrect"
The node selection site does not work properly.
Nodes are often displayed as OFF even if they are obviously ON.
Latency values do not makes sense, should be the value of an ICMP, don't know what is measured here but latency of over 900 for most nodes cannot be correct.
[![image](https://user-images.githubusercontent.com/11035520/30251546-a159b276-9661-11e7-9397-9502fcee93ae.png)](https://user-imag

[2017-09-10 22:43] wmbutler commented on #376
I allocated a couple of hours to this because as I understand it, we are simply reporting the backend values that we receive. It may take some time to understand why this endpoint is reporting incorrect values. I do think this is an important bug to resolve. Once again, it speaks to confidence.

[2017-09-10 22:44] wmbutler commented on #374
Yes, did you change the label in both locations as specified?

[2017-09-10 22:45] wmbutler commented on #335
OK, it must have been resolved in the previous Sprint. Thanks.

[2017-09-10 22:45] #335 closed

[2017-09-10 22:46] wmbutler commented on #370
Can you post the LICEcap gif?

[2017-09-10 22:50] wmbutler commented on #311
It would be dependent on ownership. It wouldn't stop a bad actor at all. It's really intended for those who reserve similarly named coins so they can reduce confusion. For instance, if I have a UIA called WHALESHARE, I could also reserve WHALESHARES and hide it.

[2017-09-10 22:53] wmbutler opened #377 "[3] Automate Build Process for OS X"
https://docs.travis-ci.com/user/reference/osx/

[2017-09-10 23:18] wmbutler opened #378 "[24] Tables Rewrite - Dashboard"
The idea behind a tables rewrite is to change the look without worrying too much about functionality. This amounts to a facelift while establishing some best practices for the future. The wallet has a somewhat haphazard approach to accessing certain features. Some items are in a top menu and others are on a side menu. Side menus are notorious for wasting horizontal space. I think they should go aw

[2017-09-10 23:21] ariesjia commented on #374
yes ，i change the all the locations

[2017-09-11 05:49] landry314 commented on #374
What about the calculation? Did you find the formula used in _ b -> Accounts -> Total Value _ and copy it to the calculation used in the top bar? That formula works when the other fails. Test it out by creating an open order for every bit of an asset for every asset. You should see 0 or "Unknown Value" for every asset in _ Account -> Balances -> Equivalent Value and the calculation in the top bar

[2017-09-11 05:54] landry314 commented on #374
![balance 0](https://user-images.githubusercontent.com/6866501/30260225-138eb9ae-9694-11e7-9eb0-cab0c9f97fac.jpg)

[2017-09-11 08:18] svk31 commented on #377
Already implemented as part of #224

[2017-09-11 08:18] #377 closed

[2017-09-11 08:28] svk31 commented on #376
Latencies will definitely be different from simple pings, since they measure the time taken to negotiate a websocket connection with the witness_node API. The websocket may even be hosted on a different server than the domain name and just redirected using nginx for example. The fact that the domain is up also does not mean that the websocket is up, it could be down, or incorrectly configured. For

[2017-09-11 09:18] btswolf commented on #376
I understand that latency may be different from simple pings but the GUI should not indicate that most nodes are down or have bad latency if that is obviously not the case. If latency up to 250ms for example is good/average that should be green not yellow.
A full poll on each GUI start may not be required but a background poll every 15min could help to find a better node if the current connection

[2017-09-11 10:09] btsfav commented on #378
great!

[2017-09-11 12:48] fletchertyler914 commented on #315
@wmbutler, should this be included as well?

[2017-09-11 17:32] calvinfroedge commented on #279
Resolved by [PR #380](https://github.com/bitshares/bitshares-ui/pull/380).

[2017-09-11 17:33] wmbutler commented on #315
I'm not sure I follow your question.

[2017-09-11 18:09] robrigo commented on #370
The gif is attached inline in the O.P. @wmbutler. Can you see the market gif?

[2017-09-11 18:12] svk31 commented on #224
This took far longer than the original 8 hours due to requiring a refactor of the codebase, and lots of tweaking of Travis and AppVeyor settings to get it to work properly.

[2017-09-11 18:16] fletchertyler914 commented on #315
@wmbutler Sorry, I was trying to clarify if this was still within the scope of this issue or not. I'm thinking this should be a separate task, but then again it's default behavior for the charting library being used so I'm not sure if there is a real issue here or not.

[2017-09-11 18:49] wmbutler commented on #376
A factor of 4x off is pretty large. Definitely worth digging into this.

[2017-09-11 18:52] svk31 commented on #200
_Should_ be fixed with my latest commit but I've been wrong about this before, will close this issue but we should keep it in mind and reopen after the next release if it still happens.

[2017-09-11 18:52] #200 closed

[2017-09-11 18:52] #224 closed

[2017-09-11 18:52] wmbutler commented on #200
Winning!!

[2017-09-11 18:53] wmbutler commented on #224
Well worth it for the consistency and automation we gain. Did the OS X build properly too after Travis CI backlog?

[2017-09-11 18:54] svk31 commented on #314
I'll make it so the displayed price updates based on new amounts being entered so that it should always match the confirmation window price.

[2017-09-11 18:55] wmbutler commented on #315
@fletchertyler914 as long as you keep the right side of the chart pinned when the settings checkbox is checked, I'd call this complete.

[2017-09-11 18:55] wmbutler commented on #314
Perfect. I think this is better behavior.

[2017-09-11 18:58] svk31 commented on #376
You're comparing apples to oranges so there's no reason to say 4x difference is large. And no, light client or web client does not matter, it's always measured from your local computer.

I do agree there seems to be an issue with nodes being marked as down when they're not, that can probably be solved by my earlier suggestion.

[2017-09-11 19:01] wmbutler commented on #370
My screen is big enough that I can't reproduce this...not really sure how to proceed. What would you like to happen instead?

[2017-09-11 19:03] wmbutler commented on #376
Are you saying that ICMP vs socket latency has that much variation? That's not been my experience so I'm surprised to hear you say that. The difference between 40ms and 160ms is pretty large. So large that it makes me think it's being calculated incorrectly. Possibly roundtrip x 4 for some reason. I just think it's worth investigating.

[2017-09-11 19:05] wmbutler commented on #376
70ms vs 743 ms for dexnode.net

![screen shot 2017-09-11 at 2 04 43 pm](https://user-images.githubusercontent.com/1254810/30292029-3560093c-96fa-11e7-9003-c0d35f97b943.png)
![screen shot 2017-09-11 at 2 04 27 pm](https://user-images.githubusercontent.com/1254810/30292030-35620426-96fa-11e7-99c8-ee8033a5edbd.png)

[2017-09-11 19:06] robrigo commented on #370
@wmbutler I propose that moving the user's scroll position when an order is triggered be removed. It makes the lower half of the page unusable when there is a lot of market activity, because the screen keeps jumping to the top scroll position every few seconds. I'm not exactly sure what is triggering it but I will look into building a dev environment so I can dig into this bug myself later in the

[2017-09-11 19:06] calvinfroedge commented on #311
@wmbutler Can you provide a UX or at least a path that represents the area I need to cover for this? I.e. creating user issued asset and then marking the asset as hidden.

[2017-09-11 19:07] wmbutler commented on #370
Nobody has claimed it so I'll likely move it to the next Sprint since we are nearing the end of this one.

[2017-09-11 19:07] wmbutler commented on #370
lol, And @calvinfroedge just took it!

[2017-09-11 19:07] calvinfroedge commented on #370
I can handle this as I made the other change

[2017-09-11 19:11] robrigo commented on #370
@calvinfroedge MVP

[2017-09-11 19:50] calvinfroedge commented on #370
@robrigo Sorry man, but I am also having a hard time reproducing this issue. As I understand you have two instances of the app open at the same time and creating a buy / sell order in one of those instances causes jumpiness in the other. I am seeing the notifications, but I am not seeing the behavior you describe. If you can provide more detailed reproduction steps (perhaps show your two screens s

[2017-09-11 20:13] wmbutler commented on #43
If update is available display:

- cloud download icon
- update available text

If update is not available, just display the version number.

[2017-09-11 20:15] robrigo commented on #370
@calvinfroedge when the market is active, you don't need another computer / account to trigger it. I produced the following example in the BTS: bitUSD market.

![wonky-forced-scroll-positioning](https://user-images.githubusercontent.com/590263/30294776-43c4ff02-970c-11e7-8ae1-1fe1db001496.gif)

After a little more testing, it seems to only happen at a range of window widths that renders a specific

[2017-09-11 21:46] wmbutler commented on #364
![screen shot 2017-09-11 at 4 46 11 pm](https://user-images.githubusercontent.com/1254810/30298390-c304314e-9710-11e7-9567-26d762c43e6f.png)

[2017-09-11 22:13] wmbutler commented on #378
Open Orders

![screen shot 2017-09-11 at 5 12 58 pm](https://user-images.githubusercontent.com/1254810/30299257-861d5de2-9714-11e7-8337-d9caf443579e.png)

[2017-09-11 23:09] wmbutler commented on #378
Margin Positions

![screen shot 2017-09-11 at 6 08 54 pm](https://user-images.githubusercontent.com/1254810/30300808-54b16b2e-971c-11e7-9266-29444968fee2.png)

[2017-09-12 02:10] #333 closed

[2017-09-12 02:14] wmbutler commented on #284
@blahbax can you please report back on this?

[2017-09-12 02:16] #225 closed

[2017-09-12 02:21] #146 closed

[2017-09-12 04:25] landry314 opened #384 "[.5] Height Setting should apply to both Price Chart and Market Depth"
The user can adjust the chart height for the Price Chart but can not for the Market Depth. I am referring to when the Market Depth is displayed above the orders by clicking "MARKET DEPTH" just to the left of the word "My Market" and below the account value calculation on the top. This is a fixed height and so I can not adjust it to control my screen real estate properly.

I suggest having one heig

[2017-09-12 04:38] landry314 opened #385 "[.5][ariesjia] Conform Height of Data-Empty and Data-Full Trades Window"
When there is no data being displayed in the Trades window in a particular pair then the window is shorter than when it is full of data. When it is shorter (empty) it matches the height of Buy and Sell but when it is longer (full) it creates a gap.

Steps to Reproduce:

1) Find a pair in which you have made no trades
2) Click on My Trades which should make it empty
3) Click on Market Trades which

[2017-09-12 06:40] svk31 commented on #376
Like I tried to explain above; you are measuring two completely different things, so it's normal that the latencies differ.

[2017-09-12 08:02] 15963 opened #387 "tag 2.0.17.08.30 issue error code EBADPLATFORM"
hello!
reference address: https://github.com/bitshares/bitshares-ui/tree/2.0.170830
I build bitshares-ui in ubuntu16.04.1 ,
when i run : cd electron
                   npm install
there is a error:

`npm ERR! Linux 4.10.0-33-generic
npm ERR! argv "/home/fu/.nvm/versions/node/v6.11.3/bin/node" "/home/fu/.nvm/versions/node/v6.11.3/bin/npm" "install"
npm ERR! node v6.11.3
npm ERR! npm  v3.10.10
npm E

[2017-09-12 08:56] landry314 commented on #374
Actually, that photo is from an older version of the program. It seems that it no longer says "Unknown value" in the newest build, sorry about that, BUT it still says "Balance: 0" on top when all assets are completely in open orders and the Equivalent Value column says "0 BTS" for every asset.

[2017-09-12 09:01] landry314 commented on #374
This commit only fixes the name and not the calculation bug.

[2017-09-12 10:10] btsfav commented on #364
it does support incognito though. you can sign-up and login, I do it all the time

[2017-09-12 10:37] landry314 opened #388 "[1] Conform bitAsset Unit Names Throughout Program"
In _ Settings -> General -> Preferred Unit of Account _ you see the names of fiat currencies like CNY, USD, EUR but the calculations to this selected unit are actually using bitCNY, bitUSD, bitEUR.

The top bar calculation now says BITUSD, BITCNY, etc, but if you mouse over the calculation you see the components written below in USD, CNY, etc.

We need to conform the unit throughout the program. I

[2017-09-12 10:41] landry314 commented on #368
I agree, when moving money, a confirmation is always important.

[2017-09-12 10:49] landry314 commented on #388
Actually, due to recent events in China, I think it is very important to make it always say bitCNY to make it very clear there is no Chinese fiat currency involved but rather a coin tracking the value of CNY. As chinese people move to the DEX, this could help them be more comfortable trading it.

[2017-09-12 11:34] svk31 commented on #387
There is no electron folder anymore, if you want to build the latest version just use the `master` or `staging` branches and run `npm i && npm run package`

[2017-09-12 11:34] #387 closed

[2017-09-12 12:17] landry314 opened #389 "Display Volume Unit Next to "VOL" in My Markets"
In MY MARKETS, there is a VOL column but it is unclear which unit the volume is measured in. It would be very helpful to put it in parenthesis or before the word VOL.

Examples:

VOL (BTS)
BTC VOL

Also, why is it shortened to "VOL"? "VOLUME" would be even clearer.

VOLUME (BTS)
BTC VOLUME

I personally think the parenthesis are clearer.

[2017-09-12 12:36] #279 closed

[2017-09-12 12:38] svk31 commented on #389
It's shortened because of space concerns. Volume (BTS) may work, but Volume (VERYLONGASSETNAM) will completely skew the column.

[2017-09-12 13:09] wmbutler commented on #389
It's implied that the volume is that trading pair. I don't really think this makes much sense.

[2017-09-12 13:12] wmbutler commented on #385
Easy fix. Added to October.

![385](https://user-images.githubusercontent.com/1254810/30327561-1f3926dc-9792-11e7-8e61-7dca59f73f0e.gif)

[2017-09-12 13:15] #368 closed

[2017-09-12 13:16] wmbutler commented on #364
ok, will you take the full time support job of answering people's questions when they don't understand why it breaks due to non-persistent localstorage?

[2017-09-12 13:20] wmbutler commented on #374
It would be helpful if you would delete screenshots that are from older versions of software. Posting outdated bugs takes time for us to troubleshoot.

![screen shot 2017-09-12 at 8 20 01 am](https://user-images.githubusercontent.com/1254810/30327857-332de514-9793-11e7-8a38-f17861c7578c.png)

[2017-09-12 13:21] landry314 opened #390 "[.5] Price Entry Field Ignores '.' Character When Overwriting Selected Number"
Steps to Reproduce:

1) Go to the Exchange
2) Type any number in the Price field
3) Select all data in the Price field
4) Type the '.' (period, full-stop, decimal point) character

It will clear the field but NOT add the '.' character. Note that any digit entered instead of the '.' at step 4 will clear the field AND add that digit as expected.

I have made this mistake a few times, typing my price

[2017-09-12 13:22] wmbutler commented on #376
Can we change how this value is derived? Measuring the time to negotiate a WebSocket is not an accurate representation of how responsive a remote node is.

[2017-09-12 13:24] wmbutler commented on #390
This is definitely a bug and easy to reproduce.

[2017-09-12 13:27] landry314 commented on #374
Ok, I deleted it. Thank you for submitting a newer screenshot, @wmbutler. So, now it says "0 BTS" instead of "Unknown value" but the bug is the same. We can't see you have an open order there but I assume you do.

[2017-09-12 13:44] landry314 opened #391 ""HIDE HIDDEN ASSETS" should be"

[2017-09-12 13:45] #391 closed

[2017-09-12 14:24] ariesjia commented on #385
can i take this bug

[2017-09-12 14:53] wmbutler commented on #385
Yep.

[2017-09-12 14:55] wmbutler commented on #247
#378 will address this as well.

[2017-09-12 14:56] #247 closed

[2017-09-12 14:59] wmbutler opened #392 "[.25] Styles issue where zero size candles appear as dark black dashes"
I think we need to choose a different color for period where there is no price movement. Since green is up and red is down, maybe yellow should be neutral... you have to look carefully to see the black dashes.

![screen shot 2017-09-12 at 9 52 17 am](https://user-images.githubusercontent.com/1254810/30332861-0bc371d4-97a1-11e7-9bf0-8d96a3cb44ce.png)

[2017-09-12 15:05] wmbutler commented on #378
![screen shot 2017-09-12 at 10 05 03 am](https://user-images.githubusercontent.com/1254810/30333144-e00edb54-97a1-11e7-9929-b408a7eb002e.png)

[2017-09-12 15:10] btsfav commented on #364
first of all, this is neither a bug nor high priority, if you want to start arguing.

seconds, move to account model only on registration would ease a lot of support requests and make this issue obsolete too.

[2017-09-12 15:55] svk31 commented on #376
What makes you think it isn't? Measuring the ping of an ip that may or may not have anything to do with the websocket, like what btswolf is doing, is certainly not an accurate representation of the node.

[2017-09-12 16:19] wmbutler commented on #378
Activity

![screen shot 2017-09-12 at 11 19 07 am](https://user-images.githubusercontent.com/1254810/30336896-3cd1a11e-97ac-11e7-9d3b-a0db6a9455d8.png)

[2017-09-12 16:27] wmbutler commented on #376
Well, in my 15 years of building web applications, I've always considered response times of > 150ms as unacceptable. I think that 750ms more than likely represents a load time, possibly the time it takes to load static files from the the web site, but it seems unlikely that it's an accurate representation of socket latency. We run sockets with our web application and they are sub 50ms in almost al

[2017-09-12 16:28] wmbutler commented on #364
Increased bounty to 2.5 hours.

[2017-09-12 16:31] calvinfroedge commented on #376
I think there may be a balance that can be struck. For instance, perhaps time to do a web socket heartbeat will be less than time to negotiate initial connection, and more representative of responsiveness once the connection is open?

I do agree with @svk31 that ping is kind of useless if it's not what's actually being used to handle work.

[2017-09-12 16:52] wmbutler commented on #376
Totally agree that latency is the proper term.

[2017-09-12 19:57] landry314 opened #393 "[2] My Open Orders Window Not Displaying Orders Beyond 5 Million BTS Depth"
Steps to Reproduce:

1) Go to BTS : bitCNY when it has a lot of buy orders (now)
2) Create a very low buy order
3) Switch to Market Depth
4) Move the cursor to the left on the chart until it goes further left than 5 million BTS
5) Observe the lack of your order in the My Open Orders window.

Since the cumulative volume of bitCNY buy orders is over 5 million BTS then the Market Depth chart is maxed

[2017-09-12 19:58] landry314 commented on #146
I think this might be related to issue #393.

[2017-09-12 20:50] wmbutler commented on #294
@happyconcepts we are about to close out this Sprint. Will you have this complete today or tomorrow?

[2017-09-12 20:51] wmbutler commented on #393
A licecap screencast of this might be helpful.

[2017-09-12 21:25] #210 closed

[2017-09-12 21:38] wmbutler commented on #53
@svk31 Is this going into the 170914 release?

[2017-09-13 04:20] SahkanDesertHawk commented on #146
I have included the screenshots above. The bottom line on this is that the order book does not show a full picture even if the orders are within reasonable price range.

[2017-09-13 05:44] svk31 commented on #393
There are two simple issues at work here, the first is that the data being used is different: under accounts the open orders are fetched from the account object while in the exchange they're fetched from the list of limit orders. Secondly, the list of limit orders is limited a 400 entries maximum, which is why some orders don't show up in the MyOpenOrders component used in the exchange.

I'll up t

[2017-09-13 05:51] svk31 commented on #364
I don't think that original error has anything to do with incognito mode, seems like it's a faucet issue maybe. Without a console log it's hard to say. Account creation works fine in incognito mode if you use the password model like the @btsfav says, and it's quite nice to be able to use it that way.

If you insist on having a message like this I suggest we provide a way to say "OK I understand, l

[2017-09-13 05:55] #342 closed

[2017-09-13 06:56] landry314 commented on #393
It actually isn't 5 million as right now in BTS : bitCNY it is stuck at a limit of 4.52 million. I don't know how this limit is set.

As for some orders not showing up in the My Open Orders, couldn't the orders be fetched from the same place as the Account data?

[2017-09-13 07:16] #314 closed

[2017-09-13 07:18] #351 closed

[2017-09-13 07:23] #390 closed

[2017-09-13 09:57] svk31 commented on #53
Yes it is :)

[2017-09-13 09:57] #53 closed

[2017-09-13 10:12] ariesjia commented on #385
Yep, It' s easy to fix it .

[2017-09-13 11:23] calvinfroedge commented on #364
@svk31 There are other features which do not work in other browsers in incognito mode. Firefox was very buggy.

If all of you agree on a button I can add it.

[2017-09-13 11:46] svk31 commented on #364
We only officially support Chrome so you don't have to worry about Firefox. I've just successfully created an account in incognito mode in Chrome so there's nothing to indicate there's an actual issue here.

[2017-09-13 12:05] btswolf commented on #364
incognito mode should stay available, but a warning and backup reminder would be good.

[2017-09-13 12:39] #43 closed

[2017-09-13 13:05] svk31 commented on #370
Think I know how to fix this.

[2017-09-13 14:14] calvinfroedge commented on #364
Updated to include a dismissable warning...

![iss-incognitor](https://user-images.githubusercontent.com/632938/30382095-da866a9a-9863-11e7-9e73-fc702dfc4295.gif)

[2017-09-13 15:49] wmbutler commented on #364
We are not giving appropriate credit to how damaging this issue is to users who choose the wallet model. Incognito mode does not work for the wallet model. Steps to reproduce:

- Open Incognito mode browser
- Choose Create New Account
- Choose Use Wallet Model
- Choose Restore Wallet from Backup
- Complete Restore Procedure by importing wallet and entering password
- Quit Chrome
- Open Chrome Inco

[2017-09-13 16:06] btswolf commented on #364
wallet model should in general only be available for advanced users and not beginners.
https://github.com/bitshares/bitshares-ui/issues/301
Incognito mode is the same "damaging" as clearing your browser cache.
We could add a warning like, "Incognito mode is not supported with wallet model" during account creation. And we could show a warning if a user runs incognito mode in combination with wallet

[2017-09-13 16:09] wmbutler commented on #364
@btswolf why are you against it? I think your logic that wallet mode is only for advanced users to unfounded. To the contrary, I think that the wallet model is a much safer implementation than account mode. Account mode can be hacked with just a username and password. We are giving users a false sense of security by recommending it over wallet mode.

[2017-09-13 16:11] wmbutler commented on #370
I have to agree. Let's table this. It's really not even a bug so much as an inconvenience.

[2017-09-13 16:12] calvinfroedge commented on #364
@btswolf As is now implemented, there is no disabling or forbidding, only a warning

[2017-09-13 16:12] wmbutler commented on #53
Sweet!!

[2017-09-13 16:14] wmbutler commented on #364
Although I'm arguing that it should be disabled because there is no benefit to incognito mode.

[2017-09-13 16:16] wmbutler commented on #314
So happy this one is behind us!!

[2017-09-13 16:18] wmbutler commented on #393
@svk31 maybe we can adopt units in the display to deal with really large numbers like:

4,000,000 = 4,000k

I think we all agree that all orders must be displayed for us to be taken seriously as an exchange.

[2017-09-13 16:22] calvinfroedge commented on #374
Closing this issue as it has been merged

[2017-09-13 16:22] #374 closed

[2017-09-13 16:23] calvinfroedge commented on #385
Closing this issue as it was merged

[2017-09-13 16:23] #385 closed

[2017-09-13 16:32] calvinfroedge commented on #294
@happyconcepts @wmbutler I think this issue needs more clarification, i.e. reproduction steps, and may some input from @svk31 on where the numbers come from

[2017-09-13 16:40] wmbutler commented on #294
Moving to @calvinfroedge since Sprint is being released tomorrow and no communication from @happyconcepts

[2017-09-13 17:00] btswolf commented on #364
@wmbutler it's always security vs. usability.
I am not against recommending the wallet model but many users fear the tradeoff for security they have to pay when they need to deal with backups, that's why account model is so popular.
The question is how to educate users to use the wallet model appropriately when many of them are not even able to use a proper password manager. Giving them simply the

[2017-09-13 17:08] wmbutler commented on #364
You didn't state a single benefit of incognito. Believing something is not the same as being true. I would suggest that in order to satisfy all of our users (wallet mode and account mode), that we disallow the use of incognito mode. There is no downside to this strategy because both wallet modes work properly. @calvinfroedge @svk31, I'm hoping you understand my reasoning here.

[2017-09-13 17:13] wmbutler commented on #364
Why would you allow a user to perform an operation that will, with certainty, disallow them access? Ths line of reasoning makes zero sense to me. We should not even present the wallet model if a user is using incognito.

[2017-09-13 17:16] wmbutler commented on #393
@svk31 this is in the 171001 sprint. Is it your intention to include this in the 170914 Sprint?

[2017-09-13 17:31] btsfav commented on #364
incognito allows for secure and traceless logout.

[2017-09-13 17:40] calvinfroedge commented on #321
@rrag I'm having trouble triggering an onPan event. I've tried including `EventCapture` inside a `ChartCanvas`, but it seems like this is more for internal use. In any event, I can't figure out a way to easily capture the pan event so that we can load more data. Is this something you could provide some guidance or an example on?

[2017-09-13 17:41] jonnybitcoin commented on #296
I feel that the UI used for blocktrades bridge could be used as a gateway. deposit Bitcoin.  then choose which BTC.UIA you want to receive.  Simple

[2017-09-13 17:43] btswolf commented on #364
I've seen this in the non-incognito mode as well, so incognito may not be the problem.

Troubleshooting without the need to clear real browser cache is a huge benefit for me.

[2017-09-13 18:15] calvinfroedge commented on #321
Did a bit of exploration here...

`onLoadMore` prop on `ChartCanvas` method allows us to capture the pan event. This gives us some numbers which are presumably some positioning.

The next step would be loading new market data. Most of this happens in `actions/MarketData` in the `subscribeMarket` method.  We need to refactor this method a bit (maybe split it up), and then call it after pan, probabl

[2017-09-13 18:35] wmbutler commented on #321
@calvinfroedge should I push this to next Sprint?

[2017-09-13 18:42] wmbutler commented on #364
Let's approach this a different way. If Incognito is detected, redirect the user to this page only. This way, we do not present a breakable path to the user.

![screen shot 2017-09-13 at 1 41 54 pm](https://user-images.githubusercontent.com/1254810/30394656-547a0738-9889-11e7-9622-14dbac6895d5.png)

[2017-09-13 19:33] wmbutler commented on #364
I've tried creating both wallet and account models in incognito mode. When I attempt to login with either of those accounts from a new incognito window, neither work. This is utterly ridiculous that we support incognito mode under any circumstance. Watch:

![account_model_incognito_final](https://user-images.githubusercontent.com/1254810/30396754-49080ea2-9890-11e7-939a-69e141aade4d.gif)

[2017-09-13 19:34] wmbutler commented on #364
The BTS wallet simply does not work in incognito mode. If you disagree, please post screencast evidence to the contrary. NOTE: you must close the incognito browser and open a new one to test thoroughly.

[2017-09-13 20:24] wmbutler commented on #364
This Bitshares Wallet relies on Local Storage which is not persistent with Incognito. Please launch a regular browsing session.

Remove the "I understand" button. Pro users, can of course bypass this by hitting a registration endpoint manually.

[2017-09-13 20:35] #315 closed

[2017-09-13 20:42] wmbutler commented on #376
Pushing this to next Sprint and increasing the bounty.

[2017-09-13 20:45] #321 closed

[2017-09-13 20:46] wmbutler opened #398 "Fetch additional data for chart as user pans left"
Researched by @calvinfroedge. This issue will track the implementation.

[2017-09-13 20:54] wmbutler commented on #67
Closing since the #378 tables rewrite will address most of this.

[2017-09-13 20:54] #67 closed

[2017-09-13 21:00] wmbutler commented on #39
Closing this and noting we still have a few bugs addressed here. #376

[2017-09-13 21:00] #39 closed

[2017-09-13 21:22] wmbutler commented on #20
Neither cryptofresh nor bitshares-explorer seems very reliable atm. Tabling this.

[2017-09-13 21:29] wmbutler commented on #360
Closing this. Too broad.

[2017-09-13 21:29] #360 closed

[2017-09-13 21:32] #46 closed

[2017-09-13 21:34] #367 closed

[2017-09-13 21:52] wmbutler opened #400 "[.5] Side price indicator interferes with SMA(10) and other active indicators"
When indicators are activated, we should add enough padding so no chart elements overlap with those indicators. This likely means pushing the chart downwards.

![screen shot 2017-09-13 at 4 45 25 pm](https://user-images.githubusercontent.com/1254810/30402342-0b4738d2-98a3-11e7-85fa-57074e8f88e7.png)

Here is another example of the chart intersecting with the Bolinger bands and the SMA.

![screen s

[2017-09-13 21:55] wmbutler opened #402 "[.5][skenan] Toggling Show volume chart causes x-axis to shift upwards"
![show_volume_chart](https://user-images.githubusercontent.com/1254810/30402709-45baa2e6-98a4-11e7-9362-0bca6cf4e256.gif)

[2017-09-13 22:04] btswolf commented on #364
I did the same test and I agree that incognito is not working flawlessly and it should be not supported like other browsers are not supported too. But actually I only had to click the login button twice to get past the password error so it cannot be completely screwed. However all I want and other users too is the ability to use it, even if buggy and unsupported. A big warning that "it is not supp

[2017-09-13 22:09] wmbutler commented on #364
@svk31 observed the same and is looking into a bug fix. If he is able to fix it, I'll recommend only allowing account creation but disallow wallet creation.

[2017-09-13 22:28] wmbutler commented on #400
Demonstration of left price indicator interfering USDT:bitUSD market

![screen shot 2017-09-13 at 5 27 54 pm](https://user-images.githubusercontent.com/1254810/30403809-ffcf6618-98a8-11e7-8f23-1a1ae69bd16d.png)

[2017-09-13 22:34] wmbutler opened #403 "[1.5] Password Issue with account model on login"
Password sometimes does not get passed properly to the backend in account mode.

[2017-09-13 22:40] #403 closed

[2017-09-14 04:02] Ashaman- commented on #374
Should this issue have been closed, given that the calculation bug has not been fixed yet?

[2017-09-14 04:48] btsfav commented on #364
screencast of a full use in incog: https://vid.me/hlRlA

do you need help with computers?

[2017-09-14 06:11] o5j5vg55bv5hv5j5f8799f9 commented on #378
These look amazing.

Few comments

1. whenever you estimate price of USD I think it should say "~" or "EST. USD" before number. B/c on non liquid assets this can be really random. specifically at the top
2. not clear why in open orders you have asset 1 and asset 2 as the same, shouldn't they be pair specific orders?
3. I don't understand what markets the markets tab shows
4. margin positions - thi

[2017-09-14 07:00] o5j5vg55bv5hv5j5f8799f9 commented on #374
Entire point of this was to point out it's an estimate. Might actually be way off if one of your asset's markets is not liquid.

Equivalent value and value are two different things. First one implies estimated value (one through calculation and second is just value. the top text doesn't communicate that it isn't meeting goal. I'd almost favor

"EST. VALUE: ~" or "EST. TOTAL: ~" or "EST. BALANCE: ~

[2017-09-14 07:04] skenan commented on #402
Can I take this one?

[2017-09-14 07:49] #392 closed

[2017-09-14 08:24] #311 closed

[2017-09-14 08:54] #364 closed

[2017-09-14 13:46] happyconcepts commented on #294
@wmbutler @calvinfroedge Can I stay with this one? The testnet was bugging on me so I couldn't check the worker vesting yet ... but I got it up yesterday and there is a reset tomorrow on testnet.

[2017-09-14 14:09] happyconcepts commented on #294
I now have a few referral test accounts and I am digging into it today to see if 'graphene::wallet::vesting_balance_object_with_info' is picking up witness and worker balances too.

Different data sources for **Pending vested fees** and **Available to Claim** seems appropriate as far as the user experience is concerned. Also this reference client may have been showing two cases, pulling a single v

[2017-09-14 14:35] robrigo commented on #294
I think one helpful improvement from the current situation would be adding a hover-over tooltip that explains what each field means. i.e. what are pending fees vs. pending vested fees vs. vesting balance amounts.

The discoverability of these two pages is rather low IMO, and I believe it would be better overall if all of the stats were combined into one view, instead of showing "confusing" stats o

[2017-09-14 15:26] georgygv opened #406 "Limit Buy and sell, loss and stop triggers"
The title says it all.

[2017-09-14 15:40] robrigo commented on #370
I disagree that this should be classified as a feature proposal, due to the fact that I can't interact with the bottom half of the market view on an active pair at my default window size. Users that encounter the same problem may be prevented from trading if they aren't aware they can simply resize the window.

I'm ok with the prioritization set to low, but still think that this issue should be cl

[2017-09-14 15:44] wmbutler commented on #406
This items needs technical discussion. I don't think the core allows for this. @xeroc can you chime in on this since it's technically over my head regarding what is possible with the core?

[2017-09-14 15:46] wmbutler commented on #294
I think this issue just wants to display the same values if they represent the same thing. Let's keep it simple.

[2017-09-14 15:46] wmbutler commented on #402
Yep!

[2017-09-14 15:59] wmbutler commented on #378
1. Maybe a blanket disclaimer somewhere. Easier and cleaner
1. So there are 2 separate columns for those who want to export to a speadsheet. I'm open to combining them.
1. Doh, posted the wrong image. Will repost.
1. It's just a mock :)
    - Not sure I agree with numbers vs asset. I like to see the asset first.
    - What else can act as collateral?
    - That's the value of the collateral.
    -

[2017-09-14 16:31] happyconcepts commented on #294
@wmbutler makes sense to me; let me fix this bug so it is consistent in both screens of the UI and get you a PR later today, probably missed Sigve's auto build for 9-14 though.

@robrigo I like the thought; the merrier it is in the lifetime member screen, the more lifetime members there will be imo. Perhaps the Tables rework or a "feature" issue in the near future - thanks for your feedback.

[2017-09-14 16:33] svk31 commented on #406
Limit orders are the default orders in bitshares. Stop-loss triggers are not available and would need to be added to bitshares-core first.

[2017-09-14 16:33] #406 closed

[2017-09-14 16:38] wmbutler commented on #406
Thanks. @georgygv feel free to post over at: https://github.com/bitshares/bitshares-core

[2017-09-14 16:39] wmbutler commented on #294
You did miss the 9/14 build. We will add this into 10/01

[2017-09-14 16:42] georgygv commented on #406
Ok, thanks.

[2017-09-14 17:31] happyconcepts commented on #294
thank you @wmbutler and good morning

[2017-09-14 18:17] svk31 opened #407 "[0.25][svk] Account -> Open orders breaks navigation"

[2017-09-14 18:23] #407 closed

[2017-09-14 18:45] svk31 opened #408 "[0.25][svk] Yellow stroke color in price chart is applied where it shouldn't"
The scale provided by `d.close - d.open) <= 0.0015` is too small in markets where the prices are on the order of 0.00005 for example, which means all candle outlines become yellow.

![image](https://user-images.githubusercontent.com/6890015/30447942-ad8e3150-998d-11e7-843c-527300fd33b5.png)

[2017-09-14 18:46] #408 closed

[2017-09-15 06:45] svk31 opened #409 "[0.5][svk] Transfer page fee does not get set properly when only one asset is available"

[2017-09-15 06:47] #409 closed

[2017-09-15 06:48] svk31 commented on #353
Actually CMC does have an API now, I hadn't checked in a while: https://coinmarketcap.com/api/

[2017-09-15 07:10] btsfav commented on #353
how about adding both with the option to select one?

[2017-09-15 12:54] knifewine opened #410 "[.5] When viewing market depth chart, page jumps back to top every few seconds."
This seems unique to the market depth chart (doesn't seem to happen on the price chart). Looks like it might be when some data changes in the chart or elsewhere on the page.

To repro:
Go to a market, such as BTS:bitUSD.
Click DEPTH CHART.
Scroll the page down to the bottom.
Wait for a 5-10 seconds and the page will jump back to the top.
Not critical, but definitely annoying.

I'm using the debian

[2017-09-15 15:37] knifewine opened #411 "[.25] Change equivalent value to Estimated Value"
On the account page, there's a column for "Equivalent Value".

When the asset value is already displayed in that denomination, the Equivalent Value column should probably just show the same value, or be blank. E.g. when the account has 0.57 USD, it's odd to display the Equivalent Value as "1 USD".

To repro:
Set account to display in USD.
Make sure account holds a non-integer amount of USD (e.g. 0

[2017-09-15 17:40] wmbutler commented on #410
Possibly related to #370

[2017-09-15 17:43] wmbutler commented on #353
Makes more sense to just pick one. @svk31 Do they both have sockets implementation? I think choosing the one with sockets would be ideal for our app.

[2017-09-15 17:45] wmbutler commented on #411
I'm guessing we are doing some rounding here to provide an overview. The label could definitely be better. Maybe change the label to `approximate value`.

[2017-09-15 17:46] wmbutler commented on #411
See #378 Tables Rewrite as well regarding this label display.

[2017-09-15 17:51] svk31 commented on #410
Yes it's a duplicate of #370.

[2017-09-15 17:51] #410 closed

[2017-09-15 18:45] landry314 commented on #374
Just installed the new GUI and the ACCOUNT VALUE calculation bug is still there. It says "ACCOUNT VALUE: 0" because all my assets are in open orders while the TOTAL VALUE for my account in the "b" tab on the upper left is properly calculating my account value... still there... :-(

[2017-09-15 19:07] Ashaman- commented on #374
@o5j5vg55bv5hv5j5f8799f9 I agree that the point of it is an estimate, but it should work consistently. I have seen it say 0 estimated value intermittently as well, and it always scares the shit out of me (and I expect it will continue to do so until the Ledger Nano integration is complete)...

[2017-09-15 22:16] o5j5vg55bv5hv5j5f8799f9 commented on #378
**re: what else can act as collateral?** - from asset creation menu if you check smartcoin: https://i.imgur.com/XGm0ufl.png for example (no idea if works)

**re 5:** as has been suggested before, wallet-model is extremely confusing and leads to most common questions in support. word "wallet" is used in "wallet model", bitshares.org/wallet, web wallet (which is what all web UI are), light wallet (s

[2017-09-15 23:05] ronenteva opened #412 "Cannot read property 'chain_id' of null"
When submitting an order, I keep getting `Uncaught TypeError: Cannot read property 'chain_id' of null`

[2017-09-16 01:49] o5j5vg55bv5hv5j5f8799f9 commented on #301
I agree with what's currently called wallet model to be hidden as advanced option.

I think the use of "wallet" in "wallet model" is the most out of place usecase of that word so far.

The confusion over whether {bts has a wallet or just a dex, how to withdraw from dex to a wallet?, web wallet and light wallet vs wallet model, is account model a wallet or is just wallet model a wallet}... all stem

[2017-09-16 04:25] todasun opened #413 "GUI Homepage bitCNY-BTS Trading should reverse to BTS-BitCNY"
![image](https://user-images.githubusercontent.com/10720816/30509082-c7e6ce5c-9ad9-11e7-8d9e-2ee91d3e6267.png)
BTS-BitCNY  same as  BTS-bitUSD

Sort by trading  volume   BTS-bitCNY should be at the first place
or when choose chinese language   BTS-bitCNY should be at the first place

[2017-09-16 04:29] todasun commented on #413
![image](https://user-images.githubusercontent.com/10720816/30509108-ab833222-9ada-11e7-9037-21087229c556.png)
default  bitCNY-bts
It's very inconvenient. Click reverse every time！！！！！！！！！！！！！！

[2017-09-16 07:02] btsfav commented on #301
@o5j5vg55bv5hv5j5f8799f9 or call it "desktop wallet" or something. that implies files.

further, I'd rather call the wallet either "Portfolio" or "Vault".

[2017-09-16 07:22] svk31 commented on #412
That's an API issue that indicates you're not connected to a server. Are you running one of the light wallets or hosted web wallets, or a local build?

[2017-09-16 07:23] svk31 commented on #413
When I first added this pair it was the other way around, but I got requests from Chinese people to change it because the current direction was apparently the most commonly used.

[2017-09-16 08:22] ronenteva commented on #412
It kept happening on bitshares.org, everything else worked fine.
The light wallet for windows works fine.

[2017-09-16 09:05] svk31 opened #414 "[1][svk] The GUI does not identify multi-sig accounts referenced by account name"
![image](https://user-images.githubusercontent.com/6890015/30510938-c4cc2678-9ace-11e7-925f-5802b9a47097.png)

Multi-sig accounts with permissions set as shown above do not show up as part of "my accounts" in the GUI. This is due to the fact that the GUI only looks for multi-sig accounts using public keys.

[2017-09-16 09:06] #414 closed

[2017-09-16 09:32] landry314 commented on #374
Intermittently, @Ashaman-? I guess I need to put numbers so people pay attention:

Steps to Reproduce:

1) Create an open order which is maxed out to take every last unit of your asset out of balances.
2) Repeat for every asset you have
3) Look at the Account Value at the top, it says "Account Value: 0"
4) Click on the "b" tab on the upper left. Find your active account under Accounts.
5) Look all

[2017-09-16 10:49] todasun commented on #413
in hellobts wechat &qq group  we all like   BTS-bitCNY   not  bitCNY-BTS as default

[2017-09-16 13:52] landry314 commented on #374
You don't know how happy that makes me! :-)

[2017-09-16 14:06] landry314 commented on #413
Sort by volume makes sense to me as that is the default (initial) sort in the My Markets list and the most useful sort as well, at least until the DEX is the number one trading exchange in the world and all the pairs have high volume ;-)

[2017-09-16 14:09] landry314 commented on #206
Solved via issue #374! Thank you!

[2017-09-16 16:35] btswolf opened #415 "Open order are not displayed correctly in 170915"
[![image](https://user-images.githubusercontent.com/11035520/30513984-6d76d15e-9b0d-11e7-9c93-be79073b79a1.png)](https://user-images.githubusercontent.com/11035520/30514000-c708dd0c-9b0d-11e7-97e0-a727ae0d6e42.png)
Seems the orders are not updated or somewhat strangly misinterpreted.
Only red orders and mixed values.

[2017-09-16 16:35] btsfav commented on #415
buy orders are wrong it seems

[2017-09-16 18:06] knifewine opened #416 "[2] Make inverting trading pairs more obvious"
Users can click on the trading pair names near top left to invert, but this is very non-obvious.
![example](https://user-images.githubusercontent.com/123593/30514699-71610784-9ad7-11e7-98fb-4bfd3df1e794.png)

I think a lot of newer users would benefit from knowing they can do this.

The UI should have a better visual indication that this is possible.

For example if you visit the BTS:USD pair, but

[2017-09-16 20:22] landry314 commented on #416
yes, an invert button would be clearer.

[2017-09-16 20:26] landry314 commented on #411
But the word "equivalent" is good when it is converting from another unit.

maybe "Estimated Value"?

[2017-09-16 21:15] landry314 opened #417 "[.25] New Mac OS Client Backup Files Missing .bin Extension"
The newer builds of the Light Client for Mac OS no longer create backup files which have the .bin extension and as such are treated as text files by Mac OS and have a very generic text icon.

The older files looked better and the .bin extension made it clearer that they were backup files.

[2017-09-16 22:42] wmbutler commented on #378
Regarding the wallet naming, I think we are stuck with it. I think if a user picks an account model and then sees their wallet balance, it's going to get very difficult to support them, whereas, their portfolio can be referred to as such whether they choose the wallet model or the account model.

[2017-09-16 22:45] wmbutler commented on #417
Agreed. This appears to be an oversight, at least on the Mac client.

![screen shot 2017-09-16 at 5 44 14 pm](https://user-images.githubusercontent.com/1254810/30516501-b9faa4ee-9b06-11e7-9f56-f7237059bec4.png)
![screen shot 2017-09-16 at 5 43 30 pm](https://user-images.githubusercontent.com/1254810/30516502-b9fb4cdc-9b06-11e7-84ec-c4e19cffaf73.png)

[2017-09-17 11:31] svk31 commented on #415
Already fixed.

[2017-09-17 11:31] #415 closed

[2017-09-17 16:31] landry314 commented on #370
This is much more than an inconvenience to me. It jumps to the top immediately whenever I scroll down making it very hard to see settlement orders or scroll down the orders list because they are slightly below the bottom of the screen. If the monitor cant display all the "tiles" in the exchange at once then the scroll down is necessary and it just keeps jumping to the top of the scroll bar, for me

[2017-09-17 16:38] landry314 opened #418 "[0.25] Change Name of Program to "BitShares""
The program is called the "Light Wallet" and inside of it there are "Wallets" you can create and control or you can use the Account Model and not use a wallet.

It is confusing to have the same name for two different things. Is the wallet the program or the things that hold my accounts inside the program? This confuses new users.

Since the word wallet is used to refer to the account-holding objec

[2017-09-17 16:46] landry314 commented on #418
This has been discussed but not had an issue opened.

https://github.com/bitshares/bitshares-ui/issues/378#issuecomment-329916838
https://github.com/bitshares/bitshares-ui/issues/301#issuecomment-329937206

[2017-09-17 17:54] wmbutler commented on #418
I like just Bitshares.

[2017-09-17 17:57] wmbutler commented on #416
Bill to UX

[2017-09-17 18:01] wmbutler commented on #412
Please post steps to reproduce or a screencast with licecap.

[2017-09-18 00:01] Ashaman- commented on #413
What would really be nice, is if there direction of pairs both on listings, and in places like margin call prices, was configurable by the user. Then the fact that we have groups of users with opposite preferences would cease to be an issue.

[2017-09-18 01:14] wmbutler commented on #413
The Top Markets shouldn't really be preference based. We should have standard rules for this, like BTS is always first or BTS is always last. It should be consistent. I think that a view of the portfolio / holdings view should be where users can set the pair orientation.

[2017-09-18 04:08] landry314 commented on #358
My username seems so small next to all those ALL CAPS words... I think it looks a bit strange.

[2017-09-18 04:21] landry314 opened #419 "Preference tooltips on/off"
I didn't know what to call them but when you hover over the dotted underlined links then a popup bubble with a tip appears. This is useful to new users but useless to regular users and just kind of a nuisance after a while.

Why not add a setting in Settings -> General to disable these altogether? Once a user has read them all, he no longer benefits from them.

[2017-09-18 04:25] landry314 opened #420 "Wallet Auto-Lock Time Setting Has Too Much Padding Below Name"
The padding below the words "WALLET AUTO-LOCK TIME (SECONDS, 0 TO DISABLE)" is more than for all the other settings in Settings -> General.

For visual consistency, it would be nice to conform it.

[2017-09-18 16:07] todasun commented on #413
how about  users can define the homepage  by themselves？
if some only need BTS-BitCNY BTS-bitUSD  BitUSD-BitCNY  three pairs？

[2017-09-18 17:16] abitmore commented on #413
I disagree. For some assets like OBITS and PPY it's better to use OBITS/BTS and PPY/BTS, but for CNY/USD/BTC it's better to use BTS/CNY, BTS/USD and BTS/BTC.

[2017-09-18 21:21] btswolf commented on #418
![image](https://user-images.githubusercontent.com/11035520/30565304-076efa46-9cc8-11e7-8ff3-3b9c0527f414.png)

[2017-09-18 21:22] btswolf commented on #418
[![bitshares_client](https://user-images.githubusercontent.com/11035520/30565339-280b3260-9cc8-11e7-89a3-de45a4164343.png)](https://user-images.githubusercontent.com/11035520/30565339-280b3260-9cc8-11e7-89a3-de45a4164343.png)

[2017-09-18 22:40] SmileyChris opened #421 "Open orders page has column titles swapped"
Using bitshares.170915, clicking "See open orders" from the account page, I can see
![image](https://user-images.githubusercontent.com/109951/30567906-aa8628fe-9d26-11e7-85aa-a19de33dabb3.png)

The BITUSD and BTS columns should be the other way round (it's an order for 500 bitUSD, not 500 BTS)

From the exchange page, I can see the correct open order:
![image](https://user-images.githubusercontent

[2017-09-18 22:57] landry314 commented on #418
@btswolf, Everywhere I look online the S is capital in BitShares. I guess that is the way we should write it.

[2017-09-18 23:02] landry314 opened #422 "[15][gibbsfromncis] Set Price Alerts"
Many trading interfaces have alert systems when a price is reached or when a certain percentage move occurs. It would be a nice addition to this platform to include such features.

Alerts could trigger a sound and/or a popup and/or an email sent to an address of choice.

[2017-09-18 23:02] landry314 commented on #422
This is mentioned in #288 briefly.

[2017-09-19 03:10] wmbutler commented on #418
@svk31 Probably does make sense to just call all the binaries just "Bitshares"

[2017-09-19 03:20] wmbutler commented on #413
But this is just a personal preference. Personal preferences don't really belong on broad market indicators. Don't you think it makes more sense to leave pref out of the market and let people set those details on the trading pairs they hold in their portfolio? Considering that we could have thousands of markets, it's asking a bit much.

[2017-09-19 03:21] wmbutler commented on #420
Let's handle this with tables rewrite. There are endless areas where spacing sucks.

[2017-09-19 03:21] #420 closed

[2017-09-19 06:41] landry314 commented on #204
One other place we can't invert the ratio is after clicking "See open orders" from the rightmost menu under ACCOUNT tab. I have to use a calculator to invert it sometimes. I'll create a new issue now.

[2017-09-19 06:42] ariesjia commented on #418
Can i take this feature ?

[2017-09-19 06:42] landry314 opened #423 "Add Ability to Invert Ratio in "See Open Orders""
We can't invert the ratio after clicking "See open orders" from the leftmost menu under ACCOUNT tab. I have to use a calculator to invert it sometimes. Can we add the inversion option there too like we did in issue #204?

Or, maybe make some way to set it program-wide.

[2017-09-19 09:59] abitmore commented on #413
What I've said is "common sense". It's better to make the UI "easy to use". For example, in forex markets, there are "EUR/USD" and "USD/JPY", but not made USD always the first or last, because people have got used to them.

[2017-09-19 10:06] abitmore commented on #413
Currently the "Top Markets" are our static selection only, there won't be thousands of pairs. If we want to make it dynamic, it's another feature. In that case, we can show the data with a pre-defined order, but still it's best if the UI can remember the direction the user has selected.

[2017-09-19 13:17] wmbutler commented on #418
@ariesjia This should probably be claimed by @svk31 or @calvinfroedge because they have worked with the binary builds.

[2017-09-19 16:43] wmbutler commented on #378
Markets

![screen shot 2017-09-19 at 11 42 29 am](https://user-images.githubusercontent.com/1254810/30604226-ce49634c-9d2f-11e7-9f57-cc3dee7e3b3c.png)

[2017-09-19 16:57] wmbutler commented on #378
Colors:

Top Left Holdings: 27384B
Top Bar: 1A242F
Dimmed Header Text: 606060
Table Header: 1A242F
Table Cells: 27384B
Bright Text: 000000
Green: 7ED321
Table Cell Border: 323131

[2017-09-19 16:59] wmbutler commented on #378
On side bar:

- Change Overview to Dashboard.
- Remove Open Orders since it gets incorporated into the Dashboard.

![screen shot 2017-09-19 at 11 57 46 am](https://user-images.githubusercontent.com/1254810/30604898-ca2a25c4-9d31-11e7-85f8-0eb862ccfc38.png)

[2017-09-19 17:36] svk31 commented on #417
This must be a change in the OS and how it handles saving files; or a change in the file-saver package. Either I'm unable to test this since I don't have a Mac, maybe @calvinfroedge can handle it?

[2017-09-19 17:38] svk31 opened #424 "[1][svk] Withdraw modal displays incorrect fee"
Had a few complaints in Telegram of users unable to withdraw due to the fee being stuck in BTS value even though it should be in OPEN.BTC etc.

![image](https://user-images.githubusercontent.com/6890015/30606426-fe08c22a-9d71-11e7-90c8-8ebc9e2cc85a.png)

[2017-09-19 17:38] #424 closed

[2017-09-19 17:42] svk31 commented on #378
Holdings vs Portfolio is confusing to me, they mean the same thing.

[2017-09-19 18:27] Ashaman- opened #425 "Onion routing support for coming stealth transactions"
With the impending completion of Stealth capabilities, it makes sense for us to support connecting to API servers through TOR  or I2P. On the I2P side of things, the Monero team is working on Kovri, and it may warrant looking into when it is complete (currently alpha status). TOR support can be enabled now. Functionally, there is absolutely nothing preventing it from working - I have tested by run

[2017-09-19 18:49] landry314 commented on #425
Definitely makes sense to do this.

[2017-09-19 18:50] #393 closed

[2017-09-19 19:03] svk31 opened #426 "[0.25][svk] Vesting balances display incorrectly when vesting period = 0"

[2017-09-19 19:03] #426 closed

[2017-09-19 19:11] happyconcepts opened #427 "Staging branch doesn't load Dev Server for me :("
Is the `staging` branch expected to load the dev server?

I have been syncing my local fork upstream to the `bitshares` branch using `git pull` and my dev server builds just fine. But now I have fetched the `staging` branch and when I checkout and try `npm start` I get a packaging error:

[2017-09-19 19:18] fletchertyler914 commented on #427
Try to run it from the root level instead of /web

[2017-09-19 19:25] wmbutler commented on #378
Agreed. I'll change that label to Portfolio.

[2017-09-19 19:28] happyconcepts commented on #427
Thanks ... I tried that but get this now:

spark@sparkmaster:/projects/repos/bitshares-ui/web$ cd ..
spark@sparkmaster:/projects/repos/bitshares-ui$ npm start

sh: 1: cross-env: not found

I do not have cross-env installed; can someone confirm that the source has been audited? I am aware of  [the cross-env hacks on npm last month](http://blog.npmjs.org/post/163723642530/crossenv-malware-on-the-npm

[2017-09-19 19:34] happyconcepts commented on #426
@svk31 can you take #294 for me? I am having problems with crossenv when i try to load up the staging brnach locally #427.

[2017-09-19 19:35] wmbutler commented on #424
I was going to post this bug. Glad you picked it up.

[2017-09-19 19:36] wmbutler commented on #417
@calvinfroedge will you claim this and test? Add time to it if it's not enough.

[2017-09-19 19:40] fletchertyler914 commented on #427
Hmm... I can confirm there is something weird going on.
I am now getting a failed to compile after building once an stopping the server.
I fixed it once by switching branches and then switching back to staging, but now I can't get it to build.

Going to keep digging.

[2017-09-19 20:17] happyconcepts commented on #341
@wmbutler will you please check this [0.25] as I did not see it come through with #358 on 170914. Thanks!

[2017-09-19 20:51] tbone-bts commented on #413
I agree with @abitmore:  1) direction selected by user should be remembered, and 2) default direction should be based on "common sense" in order to best ensure ease-of-use, especially for new users.  This can be accomplished by simply creating an order of priority for the base asset:

1. user's preferred fiat
2. other fiat (priority based on volume)
3. BTC
4. BTS
5. other assets (priority based on

[2017-09-19 21:20] happyconcepts commented on #424
Is it really 0.22 Bitcoin fee to withdraw from OpenLedger? That is a $80
USD minimum fee to withdraw at current prices...

On Sep 19, 2017 12:36 PM, "Bill Butler" <notifications@github.com> wrote:

I was going to post this bug. Glad you picked it up.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/bitshares/bi

[2017-09-19 21:28] svk31 commented on #427
You simply need to run npm install at the root level after switching to staging. I was not aware of the crossenv hack but we are using the correct package so it does not affect us.

[2017-09-19 21:29] svk31 commented on #424
That is an example of the bug...

[2017-09-19 21:34] #427 closed

[2017-09-19 21:37] wmbutler commented on #413
Considering tucking Markets into the Dashboard area (renamed from overview). This also contains a control to switch the pair. It stil contains the same information but presents it in a columnar format as well.

![screen shot 2017-09-19 at 4 35 26 pm](https://user-images.githubusercontent.com/1254810/30616653-9060ce2a-9d58-11e7-8aeb-2ea1f8fbb875.png)

[2017-09-19 21:51] wmbutler commented on #341
Oops. Just covered this for you.

[2017-09-19 21:58] tbone-bts commented on #384
OP makes a good point re: the height setting control.  It should apply to both the Price Chart and the Market Depth view.  This is a screen configuration, not a chart configuration and therefore should logically not be included in the chart gear icon.  Instead, it would make the most sense for this setting to be up/down or plus/minus buttons (similar to Bitfinex, see image) in the open space to th

[2017-09-19 22:14] tbone-bts commented on #378
I really like the new design of these tables.  One thing confuses me, though.  What is the purpose of the Markets table?  Unless I'm missing something, it really doesn't seem to belong here.

[2017-09-19 22:33] landry314 commented on #413
beautiful!

[2017-09-19 22:58] youaresofunny opened #428 "Wallet is not shown after restore (and before page reload)"
1. Clear storage
2. Restore wallet using /create-wallet-brainkey
3. Got succes message
4. Header is still like no account / wallet (lock - unlock icon is there, but not working)
5. Reload page
6. Now unlock works, and after it i see my account in header

[2017-09-19 23:05] tbone-bts commented on #353
I agree that this would be extremely useful.  But it's not always useful (or preferable) to see the equivalent price in terms of fiat.  In fact, sometimes the user may be looking at a market already priced in fiat (perhaps because it's the most liquid market for the quoted asset in question) but may wish to see the price equivalent in terms of BTC or even BTS.  So it all depend on the situation, a

[2017-09-20 02:30] wmbutler commented on #353
I can explain what I observe from inexperienced users daily. My buddy Ron wants to trade ETH for LTC. So he goes to CoinMarketCap ETH/USD and determines ETH is trading for $300. Then he goes to CoinMarketCap LTC/USD and determines LTC is trading for $60. Then he pulls out a calculator and determines that a fair price across the broad markets is 5 LTC/ETH. Then he looks at the DEX order book. So yo

[2017-09-20 02:35] wmbutler commented on #378
Well, the problem is.... it doesn't really belong anywhere. Right now it's located above the hierarchy of a chosen account, which, for the majority of our users is kinda silly because they only have 1 account. This means that they have to migrate up in hierarchy to view the market and then choose their account after that. So..... I was thinking, why not just put the market in the dashboard? It's s

[2017-09-20 02:37] wmbutler commented on #384
Totally agree.

[2017-09-20 02:45] wmbutler opened #429 "[.25][ariesjia] Right Justify Column Headers for My Trades, Market Trades, My Open Orders"
![screen shot 2017-09-19 at 9 44 10 pm](https://user-images.githubusercontent.com/1254810/30624584-d41f576e-9d83-11e7-830b-55eca38f7bcf.png)

[2017-09-20 02:46] wmbutler commented on #429
![screen shot 2017-09-19 at 9 45 54 pm](https://user-images.githubusercontent.com/1254810/30624598-ee1f3a12-9d83-11e7-82c7-189ea26cd737.png)

[2017-09-20 02:53] wmbutler commented on #416
Better? We should remove the click action from the text values with this change. Ultimately clicking on the asset could take the user to the asset explorer.

![screen shot 2017-09-19 at 9 51 40 pm](https://user-images.githubusercontent.com/1254810/30624746-bf9be540-9d84-11e7-88af-5b22f8f1b45e.png)

[2017-09-20 02:54] wmbutler commented on #416
Made this 2 hours because this needs to be updated throughout the site for bounty.

[2017-09-20 06:06] svk31 commented on #378
The table layout of activity is very problematic due to the amount of different transaction types (~40). Trying to fit them all in a table  will require a lot of columns, making it confusing imo. It also does not handle proposed transactions very well, I'll see if I can find an example of how that looks atm.

Due to the amount of columns its also very bad for smaller screens and mobile, that's a g

[2017-09-20 08:12] Ashaman- opened #430 "[4] Show list of open debt positions for smartcoin assets and warn when a position is at risk of force settlement"
The only way that I am aware of to view the complete list of open debt positions ordered by collateral ratio is cryptofresh - I dont think this functionality is implemented in bitshares-exlorer yet. Knowing the open debt positions is very important  for borrowers of smartcoins when there are force settlement orders open on the books, since their exposure to the possible risk of forced settlement i

[2017-09-20 08:42] #412 closed

[2017-09-20 08:42] svk31 commented on #418
Personally I prefer Bitshares with lowercase s, but we did a round on this a while back and the community decision was to use BitShares with a capitalised S so that's what the GUI tries to use everywhere.

One problem with renaming the binaries is that it may create a new storage domain, meaning that old wallets will not be available from the new binaries.

[2017-09-20 11:02] landry314 commented on #418
On Mac OS, the name was just changed from "BitShares2-light" to "BitShares Light Wallet" and nothing weird happened. Maybe because the support folder at _ Library -> Application Support -> BitShares2-light _ retained the same name.

[2017-09-20 11:58] svk31 commented on #418
Right, as long as the package name defined here: https://github.com/bitshares/bitshares-ui/blob/staging/package.json#L2 remains the same, the storage domain will be the same.

The product name (Bitshares Light Wallet) is defined here: https://github.com/bitshares/bitshares-ui/blob/staging/package.json#L76 and can safely be changed.

[2017-09-20 13:09] abitmore commented on #353
Basically I'm against using external API calls. The data may be wrong, then who will be responsible for potential loss? For most popular fiats/crypto currencies we have price feeds.

[2017-09-20 18:33] tbone-bts commented on #378
I'm not just confused about why the Markets table is in the dashboard.  I really don't even understand what its purpose is, or how it's specific to a user.  What is its equivalent in the current UI?  Sorry if I'm being dense!

[2017-09-20 21:07] blahbax commented on #284
Hi @wmbutler I have been having a whole lot less issues lately, I usually only have to press retry once or twice now and some times I get in right away. Having said that, this behaviour doesn't fit with what @svk31 says above - otherwise I'd never have to hit retry.

[2017-09-20 23:20] kimchi-king opened #431 "[1.5] Display more than 100 accounts on "PAY WITH ACCOUNT" list"
## Account creation:

On the "New BitShares account" page, the dropdown menu for "Pay with Account" is hard coded to only allow 100 names to be listed.

Error: Object {code: 1, message: "Assert Exception: std::distance(_subscribed_accounts.begin(), _subscribed_accounts.end()) <= 100: ", data: Object}

Can we please increase this to say 1000 or more?

[2017-09-21 00:46] ariesjia commented on #429
can i take this easy feature :stuck_out_tongue:

[2017-09-21 03:00] wmbutler commented on #431
This should probably be a typeahead instead of a dropdown.

[2017-09-21 03:02] wmbutler commented on #429
It's yours!

[2017-09-21 03:04] wmbutler commented on #284
Might be nice for you to submit a speed test to a site near whatever node you are using. There is only so much we can do about poor connections. I'm closing this issue since, without the requested evidence, there is no way to help you. Glad it's going better though.

[2017-09-21 03:04] #284 closed

[2017-09-21 03:06] wmbutler commented on #378
@svk31 The motivation behind activity was to make it useful for exports. I've reposted it with a new look but left the layout and functionality the same as the old one so we can move forward and tackle a better exportable activity screen at a later date.

[2017-09-21 03:07] wmbutler commented on #378
@tbone-bts I just explained it. It's current equivalent in the UI is this:

![screen shot 2017-09-20 at 10 07 37 pm](https://user-images.githubusercontent.com/1254810/30677222-223ce458-9e50-11e7-88d9-1760b51f52a2.png)

[2017-09-21 03:17] wmbutler commented on #353
It's a convenience to users and I think it's appropriate. The wording is definitely important because we don't want to give people a false sense of security. But it would be a huge help to users who are constantly doing manual calculations to find out if they can place a trade. We could even leave it turned off by default and ensure that users have to check a box on a disclaimer to add it.

[2017-09-21 03:23] wmbutler commented on #418
I think all that really matters is the visual here. We have a lot of extra words that aren't relevant anymore:

- Light used to be relevant to distinguish it from the full client
- Wallet used to be relevant before we added the account model

[2017-09-21 04:54] wmbutler opened #432 "[1] Fix indicators in exchange"
This is truncated on the right

![screen shot 2017-09-20 at 11 48 14 pm](https://user-images.githubusercontent.com/1254810/30679376-ccea9f2c-9e5e-11e7-85f4-fd525f50f2c5.png)

This is covering up the date label on the bottom

![screen shot 2017-09-20 at 11 48 01 pm](https://user-images.githubusercontent.com/1254810/30679377-ccfa9508-9e5e-11e7-9100-666747279010.png)

This is truncated on the left

!

[2017-09-21 04:56] wmbutler opened #433 "[.5] Price need to have units like in the Price boxes below"
Price is displayed as BTS/ETH

![screen shot 2017-09-20 at 11 55 12 pm](https://user-images.githubusercontent.com/1254810/30679430-2bc555aa-9e5f-11e7-9ef1-8d7594d8b85a.png)

Do the same here:

![screen shot 2017-09-20 at 11 51 53 pm](https://user-images.githubusercontent.com/1254810/30679431-2bcc6fd4-9e5f-11e7-81bc-8b931a17e89d.png)

Make sure you account for long symbol names. TEST!!

[2017-09-21 05:01] wmbutler commented on #398
Currently, panning left performs a zoom because no new data is fetched. I think the intended behavior is to have a zoom performed with the mouse rollup / roll down while clicking and dragging left right performs a pan.

[2017-09-21 05:06] wmbutler commented on #365
Maybe switch to an animated spinner like this instead as well?

![screen shot 2017-09-21 at 12 05 14 am](https://user-images.githubusercontent.com/1254810/30679671-a4d54ba2-9e60-11e7-955f-50e5b3441c14.png)

[2017-09-21 05:10] wmbutler commented on #365
![screen shot 2017-09-21 at 12 10 01 am](https://user-images.githubusercontent.com/1254810/30679754-3cb31724-9e61-11e7-85de-782c5e260426.png)

[2017-09-21 05:16] #19 closed

[2017-09-21 05:17] #20 closed

[2017-09-21 05:19] #24 closed

[2017-09-21 05:19] #25 closed

[2017-09-21 05:20] #27 closed

[2017-09-21 05:20] #29 closed

[2017-09-21 05:21] #31 closed

[2017-09-21 05:22] wmbutler commented on #36
Implemented

[2017-09-21 05:22] #36 closed

[2017-09-21 05:23] wmbutler commented on #38
This will happen on voting UI update. Closing.

[2017-09-21 05:23] #38 closed

[2017-09-21 05:24] wmbutler commented on #40
Closing in lieu of Overall menu rewrite.

[2017-09-21 05:24] #40 closed

[2017-09-21 05:25] #42 closed

[2017-09-21 05:26] #51 closed

[2017-09-21 05:27] #57 closed

[2017-09-21 05:29] wmbutler commented on #63
We have country flags on the top right now. This satisfies
![screen shot 2017-09-21 at 12 29 39 am](https://user-images.githubusercontent.com/1254810/30680213-f889bbae-9e63-11e7-81cc-92e3e85f2501.png)
 the issue.

[2017-09-21 05:29] #63 closed

[2017-09-21 05:30] wmbutler commented on #68
@oxarbitrage just touching base on the api progress for this?

[2017-09-21 05:32] wmbutler commented on #70
@svk31 should we upgrade this to a feature? Wondering how heavy this lift is and if I should add it into 171015?

[2017-09-21 05:33] #72 closed

[2017-09-21 05:34] wmbutler commented on #116
We should stop dragging our feet on this and do it. If nobody is opposed to it, I think we should do it.

[2017-09-21 05:36] wmbutler commented on #117
@oxarbitrage This relies on the filters for account history as well. Just touching base.

[2017-09-21 05:37] wmbutler commented on #118
@svk31 curious to know your thoughts on this. OP seems to indicate this is urgent. Since I'm not familiar with the account model, I don't understand the reasoning for removing the password change option.

[2017-09-21 05:39] wmbutler commented on #154
Allow user to enter a block by typing it in.

[2017-09-21 05:42] wmbutler commented on #154
- Clicking on the block number at the top should expose an input field (without the # sign)
- Typing in the block and pressing enter should hide the input field and navigate to block

[2017-09-21 05:43] wmbutler commented on #158
Backup user prefs to web wallet file.

[2017-09-21 05:44] #161 closed

[2017-09-21 05:48] wmbutler commented on #175
Tooltip when hovering over word MEMO:

You may include any message in the memo field

[2017-09-21 05:49] wmbutler commented on #176
This seems easy enough. We have the room for it.

![screen shot 2017-09-21 at 12 49 37 am](https://user-images.githubusercontent.com/1254810/30680704-c2aa1ba2-9e66-11e7-80a5-ab4afe8d384a.png)

[2017-09-21 05:56] wmbutler commented on #176
Let's also add some logical ties between Zoom and Candlesticks. So, when a user clicks on Zoom level, We pick the corresponding zoom level for them.

 Zoom | Candle
 --- | ---
6h | 5m
2d | 30m
4d | 1h
1w | 4h
2w | 6h
1m | 12h
3m | 1d

[2017-09-21 05:59] wmbutler commented on #187
I'm closing this because I think this belongs in the receive / deposit area. I like the idea and plan to implement it in the appropriate place, but it'll be part of the deposit/withdraw rewrite.

[2017-09-21 05:59] #187 closed

[2017-09-21 06:00] wmbutler commented on #190
These are all getting distributed into issues. Closing it.

[2017-09-21 06:00] #190 closed

[2017-09-21 06:02] wmbutler commented on #208
I'm closing this for now. It's such a fringe request.

[2017-09-21 06:02] #208 closed

[2017-09-21 06:47] wmbutler opened #434 "[.25] Add units to Lowest Ask, Highest Bid"
These Lowest Ask, Highest Bid values need to have appropriate units which should include both currencies being traded.

BTC / KEXCOIN
![screen shot 2017-09-21 at 1 44 41 am](https://user-images.githubusercontent.com/1254810/30682265-99e2f02e-9e6e-11e7-9116-7a00ee600fbf.png)

BTC / KEXCOIN
![screen shot 2017-09-21 at 1 44 33 am](https://user-images.githubusercontent.com/1254810/30682266-99e4b9f4-9e

[2017-09-21 07:03] landry314 commented on #208
Fair enough, but then I will create a new issue for the restoring bug mentioned on July 24 in this thread. When you restore a wallet, it changes the name to default and forgets whatever custom name you had... it is a related bug and probably has the same core reason.

[2017-09-21 07:27] landry314 opened #435 "[0.25][svk] Migrating Your Wallet to A New Computer Renames it to Default"
When you try to migrate your wallet to a new computer or you do a clean install on your computer and then you restore your wallet from a backup .bin file then the wallet is renamed to "default" regardless of whatever custom name you had for it before.

This is probably because it is the first wallet in the instance of the program and you do not have the opportunity to name the first wallet as desc

[2017-09-21 08:00] svk31 commented on #431
That error is from the API server, same error as here: https://github.com/bitshares/bitshares-ui/issues/202

I still don't think it's a good idea to have that many accounts in a wallet, and I'm not sure why the error gets triggered here.

[2017-09-21 08:05] #435 closed

[2017-09-21 08:09] svk31 commented on #432
I don't agree that the date label should be modified, it is working as intended. The left and right labels are tricky to get correct though, I've already tried.

[2017-09-21 08:17] svk31 commented on #116
So revert to showing the full asset names? OPEN.X?

[2017-09-21 08:20] svk31 commented on #378
Does that mean you want to remove the current Dashboard?

[2017-09-21 08:23] svk31 commented on #353
I've always been against using external APIs as well which is why I never added something like this in the first place. For any active market or bit asset it will be possible to use internal data to provide conversions.

[2017-09-21 08:27] #418 closed

[2017-09-21 08:28] btsfav commented on #353
make it optional?

[2017-09-21 08:33] svk31 commented on #365
This is more difficult than you think, because what happens is we're waiting for the router to start and at that point nothing is being rendered..

[2017-09-21 08:35] svk31 commented on #70
Probably quite easy to add.

[2017-09-21 08:37] svk31 commented on #118
The password change in Settings only applies to the wallet so it's not relevant when using account model, however it's already been removed a long time ago but seems like I missed this issue.

![image](https://user-images.githubusercontent.com/6890015/30686521-cf2bc1c6-9eb8-11e7-8e6d-39becae92ce9.png)

[2017-09-21 08:37] #118 closed

[2017-09-21 08:41] svk31 commented on #176
Available candlesticks depend on what is available from the API server. They're called `buckets` in the witness_node config and each API provider sets their own, the GUI dynamically shows whatever buckets are available from the server.

[2017-09-21 08:41] #176 closed

[2017-09-21 10:32] svk31 commented on #376
I've identified a few bugs in the api server fallback flow and fixed those, and also noticed that when a fallback was attempted, the latency of the successful node would be set to the time it took to try all the fallbacks so I fixed that.

![image](https://user-images.githubusercontent.com/6890015/30691625-a3ceff88-9ec8-11e7-8035-dac30bf04e4a.png)

I also added "Active" status to the automatic sel

[2017-09-21 10:33] #376 closed

[2017-09-21 11:49] oxarbitrage commented on #68
yes, sorry the delay @wmbutler. i had been working very hard over the last 2 weeks to get this done the right way, this is affecting performance and memory usage the less possible while returning the exact results inside the requested time range. it haves some technical difficulties because of how the implementation is designed, i have a solution, actually i already presented several, this last on

[2017-09-21 13:23] happyconcepts commented on #378
Is there a specification for this dashboard  rewrite? I ask because I share some of @svk31 's concerns such as small screen usability, for example.

My higher level concern is that this dashboard page needs to be simplified and not crammed with all the collateral data columns etc for advanced users at the expense of basic or casual users. I would urge breaking the content into two separate screens

[2017-09-21 13:51] wmbutler commented on #378
@svk31 I think we should have a screenshare to go everything. @happyconcepts the contents are identical to the current contents, just with a more natural table style. Regarding clutter, that will need to be a separate issue. I don't think it's realistic to change the functionality and the style at the same time. I fear we will never get anything completed.

[2017-09-21 13:52] wmbutler commented on #68
Not a problem. I just want to know if I should delay it. I'll move it to 171015 for now.

[2017-09-21 13:53] wmbutler commented on #376
You are a badass. I hope that translates properly :)

[2017-09-21 13:54] wmbutler commented on #176
Good to know. Is this something we would present to core?

[2017-09-21 13:54] wmbutler commented on #118
Sweet!

[2017-09-21 13:56] wmbutler commented on #365
@calvinfroedge since you claimed this, maybe you have some thoughts. I'm pretty sure we have console logs so maybe you have some ideas on how we can get a spinner and some text related to those logs in place.

[2017-09-21 13:59] wmbutler commented on #353
Definitely optional. I had an idea for including a calculator icon that a user could click in the exchange to optionally view the fair market trade price. I'll UX this.

[2017-09-21 14:00] wmbutler commented on #116
Yes. I'll post this issue in the forums and make sure it's agreed upon but I think as the reference wallet, we are really left with no other option.

[2017-09-21 14:04] btsfav commented on #116
+1 revert to open.x

[2017-09-21 14:06] wmbutler commented on #432
I think part of the problem with the date coverup on the bottom is that the date is also partially obscured but the zoom and Candlestick indicators. Maybe someone will claim this so you don't have to mess with it.

![screen shot 2017-09-21 at 9 06 14 am](https://user-images.githubusercontent.com/1254810/30700076-248572c8-9eac-11e7-873f-727f1759a5cf.png)

[2017-09-21 14:10] knifewine commented on #116
+1 for displaying true asset name (e.g revert to open.x)

[2017-09-21 14:14] wmbutler commented on #431
@kimchi-king We are limited by the API. I have a suggestion. Let's do a typeahead like in the account explorer. The negative is that it would show all account, event those you don't own. The plus side is that you will have access to any number of accounts and the API can handle it. Please reply with your thoughts.

![screen shot 2017-09-21 at 9 13 45 am](https://user-images.githubusercontent.com/1

[2017-09-21 14:17] wmbutler commented on #432
Notice how tradingview keeps these indicators in a nice lane. It almost lookes better without the arrowed shape (just a rectangle). It would be nice for a css person to present some options here.

Side:
![screen shot 2017-09-21 at 9 15 17 am](https://user-images.githubusercontent.com/1254810/30700579-91c04254-9ead-11e7-9e0e-ce6d2cd3d470.png)

Bottom:
![screen shot 2017-09-21 at 9 16 54 am](https:/

[2017-09-21 14:36] kimchi-king commented on #431
@wmbutler Hi Bill. I'm happy with your suggestion as long as it works. I know right now, I have problems with searching for account names in the "Explore" tool. Most likely attributed to the large number of accounts I have linked to my kimchi-king account.

[2017-09-21 15:21] svk31 commented on #176
What would you present to them? It's a RAM issue so each node operator should be able to determine how many buckets he wants to run, although I suppose some sensible defaults could be added.

[2017-09-21 15:24] svk31 commented on #432
That's weird, the zoom buttons don't overlap like that on my screen.

![image](https://user-images.githubusercontent.com/6890015/30704025-aa784c26-9ef1-11e7-88ed-675015f86704.png)

[2017-09-21 15:26] svk31 commented on #431
Right, the main problem here is that he has too many accounts in his wallet, and the API can't handle that properly. The way the wallet works we have to subscribe to accounts that you own so that the state of those accounts are kept up to date.

Using a search like in the explorer wouldn't change anything.

[2017-09-21 16:08] happyconcepts commented on #431
@svk31 Instead, can this not be done with the CLI and some scripting ingenuity by the OP instead?

typeahead seems to sacrifice ease of use for regular users in order to support this particular edge case for an advanced user at the cost of extra latency for the server round trips too.

[2017-09-21 16:10] youaresofunny commented on #428
Can u reproduce it? (no account name in header after wallet restore by brainkey)

[2017-09-21 17:04] Xeldal commented on #116
I'm not a fan of either option.  Both create their own mess.

I'd like to see a separation of the various EXchanges(gateways) by prefix.  Like we do in the deposit/withdraw page.  Select which EX(gateway) you want to view and it only shows you those particular token pairs dropping the prefix for easy viewing.  The prefix would be clearly stated at the top of the page perhaps to reinforce what EX y

[2017-09-21 19:11] landry314 opened #436 "Make Icons for Explorer and Help and Move Them Out of the Settings Gear Menu"
The gear icon has come to refer to Settings in modern programs and it is used properly for this in the BitShares GUI but clicking on it pulls up a menu which also includes Explorer and Help, probably because they needed to go somewhere out of the way at the time...

I feel it would be cleaner to make icons for these two functions and place them next to the Settings Gear in their own right. It woul

[2017-09-21 19:24] landry314 commented on #430
Yes, I use this link all the time to view open debt positions in bitCNY:
http://stage.cryptofresh.com/a/CNY

I think it would be great to have this integrated into the Explorer within the GUI. Currently, there is not enough useful information in there under SmartCoins -> CNY .

[2017-09-21 21:55] #428 closed

[2017-09-22 06:54] #416 closed

[2017-09-22 06:55] svk31 commented on #416
![image](https://user-images.githubusercontent.com/6890015/30732623-b95b28c6-9f73-11e7-92ae-9068ff6edde8.png)

Made it grey so it shows up in light theme also, clicking on the asset names now takes you to the asset page.

[2017-09-22 07:36] #154 closed

[2017-09-22 07:45] #411 closed

[2017-09-22 07:58] #433 closed

[2017-09-22 07:58] svk31 commented on #433
It looks a bit awkard to me for long asset names but oh well. I also made the asset names consistent with the rest of the page, so bitUSD and BTC (for OPEN.BTC).

[2017-09-22 08:00] #434 closed

[2017-09-22 08:08] #175 closed

[2017-09-22 08:08] svk31 commented on #175
Added some text to the tooltip: `You may include any message in the memo field. Memos are optional but generally required for transfers to exchanges.`

[2017-09-22 08:14] svk31 commented on #116
I like Xeldal's ideas, but that's a bigger refactoring than the current scope of the issue and I'm not really a fan of introducing artificial limitations in what markets and deposit/withdrawal options are available for example.

[2017-09-22 08:39] #402 closed

[2017-09-22 08:40] svk31 commented on #402
Oh shit sorry I just fixed this, didn't notice it was taken..

[2017-09-22 10:21] btsfav opened #438 "Created an Account Based Name via Wallet Mode"
and it's completely bugging my client now.

I can't deselct the account based name, even if I delete and re-add my wallet .bin.

edit: had to delete full cache (removing the account) for it to work again

[2017-09-22 12:45] svk31 commented on #261
I ended up fixing this as part of https://github.com/bitshares/bitshares-ui/issues/248.

[2017-09-22 12:46] #248 closed

[2017-09-22 12:46] #261 closed

[2017-09-22 13:03] iPerky commented on #116
Xeldal's idea's should be taken on board and implemented by every third party front end / gateway.

This is a reference wallet and all assets should be treated equally by using their full name.
Masking asset names also makes arbitrage a pain.

[2017-09-22 13:13] landry314 commented on #428
Why did you close this?

[2017-09-22 13:17] landry314 commented on #416
@svk31, if clicking an asset name now takes you to the asset page then I guess you can close issue #280.

[2017-09-22 13:31] svk31 commented on #416
Yep, good catch, thanks.

[2017-09-22 13:32] svk31 commented on #280
Fixed in https://github.com/bitshares/bitshares-ui/issues/416

[2017-09-22 13:32] #280 closed

[2017-09-22 13:32] landry314 opened #439 "Explore Accounts Search Function Returns Limited Data Set"
To reproduce, go to Explore -> Accounts and type "bit" in the search field.

Since there are many names that start with "bit", what is returned is only the beginning of the set alphabetically with no means to scroll down or load more of the set. What if I need to browse to find what I am looking for?

Also, what about names that contain "bit" but don't start with "bit", like "abit" for example? Sh

[2017-09-22 13:39] landry314 commented on #438
I have had to do a full clean install countless times due to the account management system being really buggy but some fixes have recently been implemented which might help:

https://github.com/bitshares/bitshares-ui/commit/d84096e81ad5ea96f65e36c003f9b76244333ed3

[2017-09-22 15:37] svk31 commented on #439
The search is limited by the API, which only works by searching from the start of the name, so it's not possible to get 'abit' when searching for 'bit'. If you don't see the account you're looking for, just be more specific in the search.

Scrolling works fine for me on bitshares.org/wallet:

![image](https://user-images.githubusercontent.com/6890015/30752469-aa9eeaae-9fbc-11e7-9023-15e6ffa664e9.p

[2017-09-22 15:41] svk31 commented on #438
If you run into issues like this the easiest way to fix it is to simply clear your localStorage. I suspect the key 'passwordAccount' is all you really need to delete. Perhaps we should remove account model account creation when you're already using a wallet, it probably causes confusion more than anything else.

[2017-09-22 15:49] skenan commented on #402
@svk31 Thanks for taking that. I haven't spent much time on that.

[2017-09-22 17:27] landry314 commented on #439
Yes, there is a scroll bar but it ends very quickly at "bit-bow1". There are many many more hits for this search term that are not loading... a next arrow or a "number of terms to display" would solve this.

[2017-09-22 17:40] landry314 commented on #301
I agree, @btsfav, that "Vault" is more appropriately named than "Wallet" as a wallet is somewhere to hold money and information and this is true for both models. Also, a new app just came out called "BitShares Wallet" further confusing things.

As for the "Account Model", what it is is a way to log in from anywhere with only a password, so shouldn't it be called "Universal Model" or "Remote Model"

[2017-09-22 17:47] landry314 commented on #301
There are some more comments on this here https://github.com/bitshares/bitshares-ui/issues/258#issuecomment-324195297 . We should make a new issue for renaming the two models and creating icons for them so we can close #258.

[2017-09-22 18:33] btsfav commented on #438
@svk31 but then I won't be able to create accounts under my account. would take a LTM feature away

[2017-09-22 18:45] landry314 commented on #438
You see the confusion with the word account? It is a mess. I am creating an issue all about the use of this word in the program.

Your "Wallet" can have as many accounts as you want to create. When you are using the "Wallet Model" then you create accounts in the ACCOUNT section (tab on the top) on the bottom in the box "CREATE A NEW ACCOUNT".

@svk31 is saying that once you have the Wallet Model c

[2017-09-22 20:09] kimchi-king commented on #431
For now, I need to transfer some of my accounts into a new LTM wallet. Hopefully, I can make this happen because it's almost impossible to do anything in my wallet at the moment due to the API issues. Thanks to all of you for taking the time to look into this.

[2017-09-23 05:10] tbone-bts commented on #432
I think the issue with the left and right labels getting cut off could be solved with rounding.  For example, anything priced in fiat could be rounded to 2 decimals.  For anything else, I would consider having a limit of 8 total digits before and after the decimal combined.

[2017-09-23 05:38] tbone-bts commented on #378
Oh, that.  Why not just leave that as is on the dashboard page (behind the Bitshares logo in the main menu)?  It really makes no sense on the account page alongside all of those account-specific tabs.

https://user-images.githubusercontent.com/1254810/30677222-223ce458-9e50-11e7-88d9-1760b51f52a2.png

[2017-09-23 06:21] tbone-bts commented on #301
This is a good discussion.  There is definitely way too much confusion surrounding the mode names and I agree that this must be rectified.  However, I don't think it's necessary to remove the word "wallet".  Can simply insert the word "file".  I think it also helps to use word "cloud" with "account" (as suggested above).  And finally, I think the word "mode" is more appropriate and clear than "mod

[2017-09-23 07:07] o5j5vg55bv5hv5j5f8799f9 commented on #388
Consistent names should be used EVERYWHERE for ALL assets.

Here's more examples:
![image](https://user-images.githubusercontent.com/22536095/30770992-0f4c076c-a00c-11e7-8a22-c15ca2401f7f.png)

![image](https://user-images.githubusercontent.com/22536095/30771007-3993b006-a00c-11e7-8917-4a58a8855131.png)

There's two assets that look identical even though one is open.lisk and another is just lisk
h

[2017-09-23 09:29] btsfav commented on #438
@landry314 yeah, it's ridiculous.

but to come back to topic: as LTM you're allowed to create premium names, and I want to be able to.

Creating premium accounts, as in account model, for friends comes in very handy. they don't mind me knowing their first password and I get 80% of their fees as registrar. This must stay, there must be a way to make this work

[2017-09-23 09:58] Agorise commented on #425
Everything we are building right now will at least be TOR capable, and hopefully i2p as well, that is one of my goals, especially since the internet itself is under attack from the UN et al.

[2017-09-23 10:18] btswolf commented on #301
or
User mode -> login from any computer, requires username and password
Computer mode -> requires wallet file on your computer, username and password

[2017-09-23 15:35] wmbutler commented on #438
@svk31 I do like the idea of removing the account model once a user has chosen the wallet model. @btsfav your statement is incorrect. It's possible to create accounts without them being an account model. This terminology is terribly confusing.