[2018-03-01 21:57] startailcoon commented on #1098
I'll take this

[2018-03-01 21:58] startailcoon commented on #1197
I'll take this

[2018-03-01 22:02] startailcoon commented on #981
If we want this, I can work on it for the next milestone.

[2018-03-01 22:51] svk31 commented on #989
Think this is the bug I fixed here: https://github.com/bitshares/bitshares-ui/commit/bdcef977a6a4627e79da792286032f2f729a0683

[2018-03-02 00:08] happyconcepts commented on #1213
All diplomacy aside, how is forcing users to read blue text on a black background desirable? I'm outside on a cloudy day right now and it doesn't show up well at all on my mobile, for example.

Also, why not use any of the other popular cues for links...such as underlines or mouseovers or hover effects? Especially because, you know, bitshares is an exchange and color already has significant price

[2018-03-02 00:15] happyconcepts commented on #1213
For example, even the list of nodes in the settings screen looks more like a financial exchange to me than the new dashboard look.

price change > node availability change and  yet somehow the UI now makes it easier for  developers to scan for nodes than it is for users to visually scan the screen for price changes. That doesn't seem right unless I want the price of bitshares to go down.

[2018-03-02 08:07] ahdigital commented on #1213
@happyconcepts
It's great that you're engaged with the design of the UI. I haven't looked at the nodes page at all so please document your thoughts on #1223.

In terms of the general colours etc.  this isn't the thread for it. Could I direct you to #1030 to add comments for future reference?

@diogogomes

I'd love to see a working prototype of this. Part of the acceptance criteria should be that t

[2018-03-02 09:47] AboShanab commented on #1190
I see other bugs in private browsing, when clicking voting in the dropdown menu. it's load with account called "null" and without any response also Explore tap doesn't appear data of the exchange at all, and still pending like the past photo. (I just want to say most of the features are corrupted in the private mode).
<img width="956" alt="screenshot_1" src="https://user-images.githubusercontent.c

[2018-03-02 14:09] gn1github opened #1243 "[2.5] Cannot translate some English phrases"
After #1186 was added, Japanese version became available on frontend. I am currently trying to fix up the phrase to match the context.

I have realized that there are strings that are still in English, but I've realized that the string itself is not included in the original EN JSON file.

Just as an example, there is a phrase "Get 80% Cashback on Fees" and "Lifetime Members get 80% cashback on eve

[2018-03-02 16:31] startailcoon commented on #1243
@wmbutler I can take some time to fix all the hardcoded English to translation tags.

[2018-03-02 17:51] diogogomes commented on #1213
@ahdigital

You're totally right, the media kit is not coherent and understandable of what is the main colour.

#

I'm referring to these tabs:
![navbar tabs](https://user-images.githubusercontent.com/9022734/36913290-551328a8-1e41-11e8-9be5-99a205940aa9.png)

One example for other decentralised exchange (that I consider a more modern and clean approach)
![other dex example](https://user-images.gi

[2018-03-02 19:45] happyconcepts commented on #1213
@ahdigital #1030 appears closed and you and diogo are doing just fine there without me.

Why do you even post these screenshots if feedback is immediately buried away into other closed issues? I feel like I wasted my time looking at your $375 of work.

[2018-03-02 19:57] happyconcepts commented on #1213
I don't agree. I would like to, but I don't.

[2018-03-02 20:13] diogogomes commented on #1213
I agree with @happyconcepts on the two previous comments:

- We need discuss upon a Design Style Guide merged on a **docs/design** folder and not send the feedback for closed and not approved suggestions.

- I do not agree that this solution is suitable for the DEX and I'm sure that the community wants more radical changes on the evolution of the UI (ie: today I saw again comments about this on Te

[2018-03-02 20:57] ahdigital commented on #1213
So you don't agree because you think a hover state and border around the sub-nav items are the missing, is essentially what I'm getting from this.

Don't worry, I'll mock it up as part of this task so that you don't have to create another issue. It won't take long.

I'm continuing on with the navigation task and will be proposing wider reaching changes soon. The sitemap needs addressing also.

[2018-03-02 21:08] diogogomes commented on #1213
No, I'm referring to all changes. Some examples from the community:

- _...my guess is if the BTS core is not able to make a friendly UI/UX then I don't see any possible rebranding coming._

- _Nevertheless there is a new worker proposal where new UI is included but I wonder if this time they will really perform._

- _So I'm not sure how I feel about the new interface...for the markets...I think i

[2018-03-02 21:41] diogogomes commented on #422
This can be included with activity. We can put an belt icon on the main navbar like I proposed on my style guide (on the right).

When belt is selected it shows last notifications on a small dropdown popup (last 5 notifications for example).

This dropdown popup can also have two tabs, one for market notifications and one for last activity notifications.

I also recommend put a link to all activit

[2018-03-02 21:58] startailcoon opened #1244 "[3] Cleaning up Backend API calls to outside gateways and bridges"
As partially discussed in issue #1228, but not related to the cause of the issue.

## Issue
The app calls on gateway and bridge issuers on different places, and sometimes on multiple and redundant positions.

One example is in `app/components/Account/BalanceWrapper.jsx` where we are calling on `GatewayActions.fetchCoins();` and `GatewayActions.fetchBridgeCoins();`, both for no reason what I can se

[2018-03-02 22:07] startailcoon commented on #729
This can be related to #1244 as https://github.com/bitshares/bitshares-ui/blob/4c9ddbe7cc49c29be50308f7b9a4c1f8d537a1f4/app/stores/GatewayStore.js#L13 is somewhat related to how bridge assets are populated.

[2018-03-02 22:08] startailcoon commented on #1244
This would also be related to bridge assets since it's populated in GatewayStore on https://github.com/bitshares/bitshares-ui/blob/4c9ddbe7cc49c29be50308f7b9a4c1f8d537a1f4/app/stores/GatewayStore.js#L13

[2018-03-02 22:27] startailcoon opened #1245 "[1] Market button on Asset Page forces app reload"
The current `Market` button on the Asset details page uses a `<a>` tag which forces the app to reload the window when navigating.

A `<Link>` tag should be used instead.

[2018-03-03 05:30] pnomolos commented on #1110
@svk31 My apologies, this should be working now.  I've also disabled the button and added a tooltip if it's disabled (with a translation key).  Unfortunately I wasn't able to get the tooltip actually able to show up - I'm not sure I misunderstood how ReactTooltip is meant to be used or if using it via a modal like this has issues.  I feel like that approach (if it's possible to get working) is les

[2018-03-03 06:09] pnomolos commented on #758
@wmbutler I'll take this since I was recently banging my head against the wall while dealing with it anyway.  Are you looking for more integrated help documentation?  A standalone tutorial/blog post?  A bit of both? :)

[2018-03-03 07:49] gibbsfromncis commented on #17
@ahdigital  It's hard to put it on the Modal because on this step (when modal displayed) transaction already created. And on modal window user when user click on approve button he "sign" it instead of create it.

[2018-03-03 08:26] svk31 commented on #1244
Those calls in AccountPage aren't fetching anything, they're just getting the state data from the store, because that data is used in the component.

[2018-03-03 08:34] startailcoon commented on #1189
This issue is still present, as the modal is still changing color when getting smaller.

![bitshares-typeahead_themeissue](https://user-images.githubusercontent.com/12114550/36932192-07170478-1ec6-11e8-9226-3cedc106fca7.gif)

[2018-03-03 09:01] swoopyy commented on #1208
Not reproducible currently

[2018-03-03 09:04] ahdigital commented on #1189
Oh I can update the PR today. I thought the colour changes now where how they were supposed to be when the resolution switches to mobile.

[2018-03-03 09:05] ahdigital commented on #17
I see. Not in the modal then!

[2018-03-03 10:39] fractalnode commented on #1110
![max1](https://user-images.githubusercontent.com/20418259/36933330-69ce5f38-1ed7-11e8-9c5d-db866a800205.png)
![max2](https://user-images.githubusercontent.com/20418259/36933332-6dfc5b64-1ed7-11e8-861c-27c783d78788.png)

[2018-03-03 10:40] startailcoon opened #1248 "[.5] Deposit Beta Broken Logic"
Since last release the Typeahead logic has changed, breaking the deposit modal!

### Reproduce
1. Select Deposit
2. Select any asset from a gateway and select a gateway
3. Select BTS

### Expected
When switching to BTS there should be no gateway logic

### LIceCap

![bitshares-depositbrokenlogic](https://user-images.githubusercontent.com/12114550/36933327-62bc27fc-1ed7-11e8-8928-bd76b75ecdc1.gif)

[2018-03-03 13:30] fractalnode opened #1249 "Batch Send, Multitransfer"
It would be nice to be able to make multiple transfers in one transaction.

[![nagrywaj_2018_03_03_14_20_24_839](https://user-images.githubusercontent.com/20418259/36934795-06843a70-1eef-11e8-93cf-031363060918.gif)](https://user-images.githubusercontent.com/20418259/36934795-06843a70-1eef-11e8-93cf-031363060918.gif)

[2018-03-03 13:32] apiekarczyk commented on #1249
Yes, I need it too.

[2018-03-03 13:50] ahdigital commented on #1189
Fixed.

![modal-test](https://user-images.githubusercontent.com/3088454/36935018-bf3bd588-1ee9-11e8-8c9d-4ba764a65cd5.gif)

![modal-test-2](https://user-images.githubusercontent.com/3088454/36935012-a5255dfe-1ee9-11e8-94a6-7009cad87d93.gif)

[2018-03-03 14:02] wmbutler commented on #1189
Advancing this to the next Sprint since it didn't make it into the current one.

[2018-03-03 14:02] #1189 closed

[2018-03-03 14:05] #1208 closed

[2018-03-03 14:11] wmbutler commented on #758
Probably something in the help area that walks through the steps to take when troubleshooting cloud vs local wallets. FarmerD has a lot of experience walking ppl through this. For instance the Cloud wallet has 45 characters and starts with a "P". These types of hints can help people quickly determine which type of wallet they have. Take time to conduct interviews and get best practices.

It will a

[2018-03-03 14:37] #989 closed

[2018-03-03 14:40] wmbutler commented on #1184
Fine, post total hours when complete.

[2018-03-03 14:41] wmbutler commented on #359
Let's do this:

- [ ] If BTS <=1, display `(purchase BTS)` next to the symbol on the Portfolio View.
- [ ] Continuously pulse the Buy icon ($) in green. 1 pulse per second.

<img width="1221" alt="screen shot 2018-01-14 at 8 56 02 pm" src="https://user-images.githubusercontent.com/1254810/34925219-901d95da-f96d-11e7-8250-cc0a8cebda9b.png">

[2018-03-03 14:42] #951 closed

[2018-03-03 14:43] wmbutler commented on #1235
Third party js is a security risk to users.

[2018-03-03 14:43] #1235 closed

[2018-03-03 15:29] happyconcepts commented on #1213
@wmbutler where is the discussion about navigation? That is my beef. It could be here on the issue on GitHub. It should be.

And yet feedback is ignored by @ahdigital and now that ignorance becomes ratified by the project lead admonishing my attitude? Hello Bill?

[2018-03-03 16:54] wmbutler commented on #332
@gn1github need your BTS address

[2018-03-03 19:40] startailcoon commented on #1243
The sections you're looking for are located in `app/help` as .md files.
These are called by the function HelpContent() in `app/components/Utility/HelperContent.jsx`.

There are still a few items in the app that are missing <Translation> items for other languages though.

[2018-03-03 19:49] startailcoon opened #1252 "Market Asset Visual Issue"
Invalid

[2018-03-03 19:58] #1252 closed

[2018-03-04 00:08] diogogomes commented on #1213
@wmbutler I use the @ahdigital language

[2018-03-04 00:31] iscrawler commented on #951
@wmbutler Good job Bill! You are awesome! It's amazing! Just close all tickets that you guys "developers" won't fix. Should I open another one?

[2018-03-04 00:45] robrigo commented on #951
This is a big deal. It's one of the main reasons that I get people asking them to help claim stake... because my wallet is so old, it isn't cloud style, so it still works to do the claim process. I didn't realize that was the difference until you guys confirmed it in this issue. Don't have time to dig into it myself though.

@iscrawler hit me up out of band (Telegram) if you want help claiming. Yo

[2018-03-04 03:10] iscrawler commented on #951
@svk31 @robrigo Thank you so much for this info guys. I definitely try to claim coins this way. This is valuable information. Thanks a lot.

[2018-03-04 09:19] startailcoon commented on #1244
Based on your comment @svk, do you think this is unnecessary work or is a oversight of how calls are made something that should be done?

One example is that the new Typeahead does something that usually is passed on to it by the caller.

[2018-03-04 14:53] TBAPI-0KA commented on #984
@wmbutler Please assign this one to me.

[2018-03-04 14:53] gibbsfromncis commented on #984
@wmbutler i'm OK if @TBAPI-0KA take this one.

[2018-03-04 15:42] lukepighetti opened #1253 "Crypto-bridge, price in satoshi"
Hey everyone, please forgive my ignorance. I'm not sure how crypto-bridge and bitshares are associated.

It would be nice to have a setting to show prices in, and conduct business in, satoshi (0.00000001 btc). This is a very common denomination for early altcoin trading and could be presented as an alternative to number of decimals to round to.

Cheers
Luke

[2018-03-04 16:05] bitfanatic opened #1254 "proposal for UI change"
the changes to UI when u push Bitshares logo are they permanent?

instead, the changes that has been made I would have liked the view we had before and added more panes

my favorites, biggest losses today, biggest gains today

#

[2018-03-04 16:08] bitfanatic commented on #1254
the changes to UI when u push Bitshares logo are they permanent?

i ask this because the ui has changed recently and it could be better if u ask me

is this the final design of window?

[2018-03-04 16:19] gibbsfromncis opened #1255 "[1] Filter on `Features Markets` doesn't work correct"
It filters fine all assets except bit*

Screenshots:
(bit*)
<img width="270" alt="screenshot 2018-03-04 17 18 22" src="https://user-images.githubusercontent.com/35899973/36947713-1044ec30-1fd0-11e8-996c-adbdf66d7030.png">
(works fine for any another asset)
<img width="303" alt="screenshot 2018-03-04 17 17 15" src="https://user-images.githubusercontent.com/35899973/36947720-1b909b3e-1fd0-11e8-8604-

[2018-03-04 16:24] gibbsfromncis opened #1256 "[.5] Add "star" icon on Features Markets/Starred Markets"
The "Star" icon should be on these lists. User should be able to quickly add/remove assets from favorites.

<img width="1397" alt="screenshot 2018-03-04 17 20 32" src="https://user-images.githubusercontent.com/35899973/36947746-5a4393f4-1fd0-11e8-8cef-77fe1f790fc2.png">
<img width="1397" alt="screenshot 2018-03-04 17 21 02" src="https://user-images.githubusercontent.com/35899973/36947754-6c7c0768-

[2018-03-04 16:29] gibbsfromncis commented on #422
@wmbutler if someone provide UX I can work on this one.

[2018-03-04 16:33] gibbsfromncis opened #1257 "Portfolio Visual Presentation"
I worry about new visual presentation of portfolio. Maybe it's a bug but it looks like a ~big~ huge blue mistake for entire screen:

<img width="1401" alt="screenshot 2018-03-04 17 29 57" src="https://user-images.githubusercontent.com/35899973/36947838-bdcfe94e-1fd1-11e8-84e0-503738b5e2d2.png">

[2018-03-04 16:35] gibbsfromncis opened #1258 "[.5] Sort portfolio by QTY"
Looks like sorting by QTY doesn't work. Is it feature or bug? I suppose it is useful if I have for example 3 assets: bitBTC, open.BTC, GDEX.BTC and I want to sort them by QTY
<img width="1397" alt="1" src="https://user-images.githubusercontent.com/35899973/36947891-71550f6c-1fd2-11e8-8ef6-6c098f8f7165.png">

[2018-03-04 16:42] gibbsfromncis commented on #17
@ahdigital do you any ideas how to present it except adding new `Expiration` field like this:

<img width="847" alt="screenshot 2018-02-26 23 43 28" src="https://user-images.githubusercontent.com/35899973/36947948-59595282-1fd3-11e8-96a8-00aec93de603.png">

[2018-03-04 16:58] gibbsfromncis commented on #1173
@wmbutler linked accounts are your accounts if you use wallet account. You can see linked accounts on your Accounts Page (https://wallet.bitshares.org/#/accounts) or in dropdown when you click on your username, or in Settings->Accounts.

For now contacts are stored as Linked Accounts. You don't see them with your accounts because on all places where your accounts are listed places a check like:
[c

[2018-03-04 17:53] ahdigital commented on #17
Yeah sure. I can post an example in the morning UK time.

[2018-03-04 17:53] gibbsfromncis commented on #17
@ahdigital nice! Thank you!

[2018-03-04 18:55] ahdigital commented on #1257
Colours need a review also. It should be possible in highcharts to specify an array of colours, Bitshares friendly.

[2018-03-04 19:26] diogogomes commented on #422
@wmbutler

I'm available to provide the UI/UX.

[2018-03-04 19:29] #1254 closed

[2018-03-04 20:24] abitmore commented on #17
@gibbsfromncis that looks not so good. Perhaps better use a drop down with 1 minute, 5 minute, 1 hour, 1 day and etc listed, if going this way, it's best if the list is configurable in settings, with some well-picked values as default.

[2018-03-04 22:02] svk31 commented on #1257
The missing legends is a Highcharts issue, it seems the old Highcharts version is cached in the build servers which causes this. In the develop build it's fine as long as you wipe the old highcharts then reinstall

[2018-03-04 22:29] abitmore opened #1259 "Light wallet binaries quarantined by Windows10 Guard and Symantec due to WS.Reputation.1"
According to https://bitsharestalk.org/index.php?topic=26046.0 :

Need to sign the binaries and/or submit them to Symantec and other AV companies for white-listing.

[2018-03-04 22:49] gibbsfromncis commented on #1257
@svk31 the issue not only on missing titles. There are wrong colors and their tints also. Maybe with titles it looks better but now it's just like a big blue block on the page with no sense.

@wmbutler what about to add an ability to see Visual Presentation like a pie-chart too? All work is done - highcharts already included to project, all data collected. It's just 1 hour to add pie chart and som

[2018-03-04 22:51] gibbsfromncis commented on #17
@abitmore 100% agree. I suppose it should be a dropdown with the following values:
- 1 minute
- 5 minutes
- 1 hour
- 3 hours
- 1 day
- Custom Time (an ability to select specific date/time)

But I don't think it's good to make this small feature so complicated. Lets go by simple way like just one dropdown and if after release a lot of users will ask us to make it configurable - we will do it.

[2018-03-05 00:26] TBAPI-0KA commented on #984
1. For exchange, I offer something like this (sorry, not a designer - of course, everything will be aligned and have proper colors):

![2018-03-05 01_30_06-bitshares - exchange - 984](https://user-images.githubusercontent.com/1467276/36952589-ad4f3202-201a-11e8-8cc8-36e1c0050093.png)

2. I found the difference of menu items behavior between testnet and real network. On testnet, they are indeed dis

[2018-03-05 01:18] abitmore commented on #17
Please pick a good default value. 1 day is perhaps too short. Current default is 15 years or so.

[2018-03-05 03:54] gn1github commented on #1243
I am not sure how to use the information you gave me about the md files, but are you able to convert the hardcoded English into translatable strings and add them onto locale-en.json file?

[2018-03-05 03:55] gn1github commented on #332
It's gn1

[2018-03-05 07:35] svk31 opened #1260 "[4] Reduce renders due to asset dynamic/bitasset data update"
The GUI makes heavy use of assets resolved via the BindToChainState component. This component is triggered whenever a new object is received, then checks for updates to its specific objects then triggers renders if necessary. In the case of assets, the ChainStore stores dynamic asset data as a nested object inside the asset object itself. Because the dynamic data updates regularly (every trade for

[2018-03-05 07:46] svk31 opened #1261 "[0.1] Price missing in account portfolio view"

[2018-03-05 07:47] #1261 closed

[2018-03-05 08:06] ahdigital commented on #17
@gibbsfromncis I was thinking something like the below example. It doesn't interrupt the amounts/totals inputs so much and acts as more of an optional step for those who want it. Putting it within the main form makes it feel like customizing the expiration might affect the total price.

I added a drop down inside the date/time picker to show how we could include preset times per @abitmore suggesti

[2018-03-05 15:06] wmbutler commented on #984
I'm not sure why you would want to hide the buy/sell controls. Seems to me the user should be able to see everything and even be able to initiate the buy operation. Prior to presentation of the confirm modal, the user would be asked to login, followed by the confirm modal.

[2018-03-05 15:08] wmbutler commented on #1257
Honestly, I had wasting dollars on this. It's so trivial.

[2018-03-05 15:09] wmbutler commented on #1259
Placing in 180401

[2018-03-05 15:14] wmbutler opened #1263 "[2][diegogomes] UX for Price Alerts"
Please UX for setting the following alerts:

- [ ] Market price value increase / decrease
- [ ] Market percentage increase / decrease
- [ ] Collateral ratio target

Related to: #422

[2018-03-05 15:20] wmbutler commented on #1213
Just be respectful and constructive in your comments. Personally, I will ignore comments that don't follow respectful discourse.

[2018-03-05 15:24] svk31 commented on #1257
![image](https://user-images.githubusercontent.com/6890015/36982975-7e5cf426-2091-11e8-905e-0efb448c5e81.png)

This is what it looks like locally for me. The colors could certainly be improved, right now it loops over preset default HighCharts colors, but those don't always give good results for some reason.

[2018-03-05 15:26] svk31 commented on #1260
https://github.com/bitshares/bitshares-ui/pull/1262

[2018-03-05 15:58] TBAPI-0KA commented on #984
@wmbutler You mean, when clicking on Buy/Sell button itself? Why not, seems logical.

What about menu items? Additional information - looks like they are disabled on testnet because a user cannot withdraw funds there at all, so it has nothing to do with this issue. However, the question about correct behavior still remains.

[2018-03-05 16:43] diogogomes commented on #1213
I'm really confused, I read everything again and between me and ahdigital, the person that wasn't respectful was him...

[2018-03-05 17:12] happyconcepts commented on #1213
The UX is worse for me now in 2018 than it was in 2017. I am not talking about the social UX of trying to contribute here on github. I have done what I can to contribute by fixing minor bugs.

### This issue would seem to be the right place for discussion of the redesign of the User Interface Navigation.

So relatedly, a separate choice about using dark blue color for **every link** on the interfa

[2018-03-05 17:39] happyconcepts commented on #1149
Let's consider letting a user get to the settings>access screen by a simple click on either the bottom right status area or on the associated rollover tooltip?

[2018-03-05 18:13] diogogomes commented on #1257
I suggest this issue continue as "Proposed Feature" and if possible, remove this interface from the client until we reach a consensus on good design.

@wmbuttler, as you consider trivial and loss of money, for me, I can go on presenting simple mockups without allocated hours.

I leave the invitation to @gibbsfromncis, @ahdigital, @svk31, and other interested people to do the same. This is a really

[2018-03-05 19:21] startailcoon commented on #1243
The items you where unable to translate are not part of the hard-coded strings I mentioned, even though I found some that needs fixing.

What you do is this:
- Take the files located in https://github.com/bitshares/bitshares-ui/tree/staging/app/help/en
- Create a new folder called "jp" in the /help folder
- Put all the files in the new folder
- Translate the required files

The section you're unab

[2018-03-05 22:55] abitmore commented on #1259
The thing we need to do NOW is to "submit the binaries to Symantec and other AV companies for white-listing."

Although we may add signatures from a future sprint.

[2018-03-05 23:40] wmbutler opened #1264 "[.5] Price column in Portfolio not displaying any values"
Should display the unit price for a share in the chose currency.

![screen shot 2018-03-05 at 5 37 20 pm](https://user-images.githubusercontent.com/1254810/37006083-408d8e2a-209c-11e8-9030-c16b0a007ac8.png)

[2018-03-06 04:10] gn1github commented on #1243
Thank you for pointing me to the right direction.

I have taken AccountMembership.md from the en folder, translated into Japanese, and proposed to create folders & file called ja/components/AccountMembership.md in the /help folder. (Seems like I don't have permission to upload files directly)

Please confirm the proposal above.

[2018-03-06 04:46] wmbutler opened #1265 "[.25][gibbsfromncis] After choosing an account from the dropdown, hide the dropdown"
Currently, a user must "off-click" in order to hide the dropdown.

![dropdown](https://user-images.githubusercontent.com/1254810/37014553-1565fb4e-20c7-11e8-8f51-33e22ab5ada8.gif)

[2018-03-06 04:51] wmbutler commented on #1243
You need to:

- for the repo to your own account
- create a branch from staging `git checkout -b 1243` (1243 is this issue)
- make your changes to that branch
- commit it and push it back up to your repo
- issue a Pull Request back to this repo of that 1243 branch

[2018-03-06 04:54] wmbutler commented on #1259
I only added it to the next Sprint because the current sprint is PACKED!

[2018-03-06 04:55] wmbutler commented on #1257
Needs UX before the next attempt. placed in 180415

[2018-03-06 05:00] wmbutler commented on #1213
I think @happyconcepts and @diogogomes should fork this repo and make it exactly the way you like it honestly.

[2018-03-06 05:02] wmbutler commented on #984
@TBAPI-0KA Let's start with the Exchange. I've observed cloud wallet users go in circles realizing that the had to login before they could execute the trade. I think there is a huge benefit to getting this part completed and then we can add some more areas as we run across them.

[2018-03-06 05:38] gn1github commented on #1243
I followed your instructions, and #1266 was created.

So, every time I create a new translation file, I should follow above procedure and open a pull request, correct?

[2018-03-06 05:46] wmbutler opened #1268 "[.5] Withdraw (beta) bug for STEEM via RUDEX"
- [x] Memo field can be omitted
- [x] Resulting transaction must end up looking like this where to contains `rudex-steem` and memo contains `steem:<targetsteemaccount>`

Included time to test

<img width="641" alt="screen shot 2018-03-05 at 11 42 31 pm" src="https://user-images.githubusercontent.com/1254810/37015882-46562a0a-20cf-11e8-8fd7-d14ce8020734.png">

[2018-03-06 05:52] wmbutler opened #1269 "Withdraw (beta) bug for openledger"
When withdrawing fro openledger, the intermediate account is incorrectly assigned as `openledger-wallet` rather than `openleger-dex`

Change to `openledger-dex`

[2018-03-06 06:23] diogogomes commented on #1213
@wmbutler I'm just trying to understand what I said wrong.

Sorry but I'll not continue discuss this here.
--
Diogo Gomes

On March 6, 2018 5:00:05 AM UTC, Bill Butler <notifications@github.com> wrote:

[2018-03-06 07:33] calvinfroedge commented on #1269
@wmbutler Should be resolved by Pull #1267

[2018-03-06 07:37] calvinfroedge commented on #1268
Resolved by #1267

[2018-03-06 07:39] svk31 commented on #1264
Duplicate of https://github.com/bitshares/bitshares-ui/issues/1261

[2018-03-06 07:39] #1264 closed

[2018-03-06 09:01] abitmore opened #1270 "Winex withdraw infinite loading"
@MannyMeadows reported in https://github.com/bitshares/bitshares-core/issues/699:

[2018-03-06 09:30] abitmore commented on #1259
So will anyone submit the latest PACKED binaries to Symantec and other AV companies for white-listing?

[2018-03-06 11:14] #1268 closed

[2018-03-06 11:14] #1269 closed

[2018-03-06 11:31] abitmore commented on #1259
This is high priority.

[2018-03-06 11:35] gn1github commented on #1243
@startailcoon Please see below screenshot from the "Borrow bitUSD" screen. There are English phrases (explanation and the button) that need to be translated to Japanese.

<img width="698" alt="borrowbitusdscreen" src="https://user-images.githubusercontent.com/36555761/37030202-72b4db2e-217d-11e8-98d0-61613f89521d.png">

Are these part of the hardcoded English phrases that you were talking about, o

[2018-03-06 11:53] abitmore commented on #1259
More info in this thread: https://bitsharestalk.org/index.php?topic=26047.0

[2018-03-06 12:09] clockworkgr commented on #1259
Can the binaries be submitted by anyone/devs? Or must there be some legal entity (ie vendor) making a formal request? If it's the second case we would require the foundation's involvement.

[2018-03-06 14:10] wmbutler commented on #1259
@xeroc ?

[2018-03-06 14:12] wmbutler commented on #1243
@gn1github yes, PR's get assigned a number as well. Typically in your commit message, you would reference this original issue number like "#1243" You cab also manually link it on the PR.

[2018-03-06 15:06] wmbutler opened #1271 "[1] As a user I would like to be able to filter my active and inactive portfolio assets"
The filter should go to the left of `active | hidden | visual`. There is already a design pattern for this in other areas, so please follow it if you claim this issue.

![screen shot 2018-03-06 at 9 03 54 am](https://user-images.githubusercontent.com/1254810/37039645-99a4dce4-211d-11e8-882a-b4f8ddfe9419.png)

[2018-03-06 15:13] smogm commented on #361
Would be nice to have this implemented as soon as possible!

[2018-03-06 15:47] diogogomes commented on #1270
I also received this issue on Discord (I can't confirm if the user is the same that said will report here).

After testing on linux desktop client, I confirm the infinite loop and it's not possible select OpenLedger.

The workaround for me was select other section outside withdraw module and select withdraw again (example: click on dashboard and click on withdraw again)

[2018-03-06 16:06] sschiessl-bcp commented on #1228
Rumors say that an ongoing margin call is flooding the websocket connection.
Investigation on the backend here is necessary.

I will start digging through the ChainStore just so see and understand what happens.

[2018-03-06 21:37] startailcoon commented on #1243
Yes, that is one of the hard coded English parts. It's addressed in another PR from one of the developers and will soon be fixed when PR #1191 is merged.

[2018-03-07 03:41] diogogomes opened #1272 "[1] Desktop and Web client (Linux, Mac, Windows) is not loading the content"
**Version:** 2.0.180306 (desktop and web client)

**OS:**
- Xubuntu 16.04 (desktop and web client using Chromium 64.0.3282.167)
- Debian (desktop client)
- macOS Sierra (desktop client)
- Windows 10 (web client running on Opera browser 51.0.2830.40)
- OS unknown (web client running on Chrome and Firefox)

---

## Linux

**After the update linux version do not loads the content until reload the app

[2018-03-07 05:59] startailcoon commented on #1243
Thanks for all your findings. This is great, and I'll fix these spots. Just post here with all you find and we'll iron them out.

[2018-03-07 08:32] #1245 closed

[2018-03-07 10:51] #1260 closed

[2018-03-07 13:20] #1210 closed

[2018-03-07 14:01] svk31 commented on #1184
@AustinAmoruso Can you clarify why it's taking so much time? I had a quick look and got some errors from react-foundation-components so I guess we'll have to fork that and update it ourselves.

[2018-03-07 17:14] startailcoon commented on #969
Opening for more task tracking this milestone

[2018-03-07 18:02] diogogomes commented on #1272
@wmbutler, it's possible that this bug might be high priority because it seems to happen to multiple users cross platform.

I can provide more debug information (on Linux version). Let me know what you need.

[2018-03-07 19:06] svk31 commented on #1272
We've had this bug before and fixed it, not sure why it's back. It's related to the inital opening of the database that stores the key, aka the wallet. It used to be caused by a redirect happening to the "#" on app initialisation, could be same thing now.

[2018-03-07 19:30] startailcoon commented on #1243
# A few solutions and issues

### Issue
The issue I have is that I can't find a way to make a `<Translation>` tag for something that has another tag for usage, like `<AssetName>` or `<Link>` for example

### Login Screen
The login screen can be fixed by redoing it to something like this, but needs to be accepted by the UI team.

![image](https://user-images.githubusercontent.com/12114550/37113505-

[2018-03-07 19:49] svk31 commented on #1243
Check the TranslateWithLinks component, it does what you're looking for. It's used heavily in Operation.jsx for example: https://github.com/bitshares/bitshares-ui/blob/staging/app/components/Blockchain/Operation.jsx#L536

[2018-03-07 20:00] #1248 closed

[2018-03-07 22:38] diogogomes commented on #1272
Added new information about web client with Chrome and Firefox and console error on Opera.

[2018-03-07 23:10] AustinAmoruso commented on #359
I'm going to release this one as I don't have time and am unclear as to what isn't complete on it.

[2018-03-07 23:13] AustinAmoruso commented on #1184
@svk31 @wmbutler
I'm going to release this one as I haven't had time to spend on it. I already put 4 hours in and here is the current state I was in for when I got to the charts needing to be updated.

https://github.com/AustinAmoruso/bitshares-ui/tree/1184-upgrade-to-react-16

[2018-03-07 23:14] AustinAmoruso commented on #697
Please release this one I'm not certain if I will have time on this one at this point.

[2018-03-08 05:33] wmbutler commented on #1272
@diogogomes try opening with Chrome incognito to see it the problem is related to cached elements in your browser. I'm not having any issues on Mac OS web wallet or Desktop wallet, high sierra.

[2018-03-08 05:43] wmbutler commented on #1228
I do notice

- higher latency
- more frequent socket disconnects

during high volume trading periods and margin calls.

[2018-03-08 05:46] wmbutler commented on #1270
I'm not able to reproduce this infiniteloading issue.

[2018-03-08 05:47] wmbutler opened #1275 "[5] Withdraw/Deposit Modal - Add Winex Support"

[2018-03-08 05:48] wmbutler opened #1276 "[5] Deposit/Withdraw Modal - Add GDEX Support"

[2018-03-08 05:49] wmbutler opened #1277 "[4] Withdraw Modal - Respect maxAmount / minAmount"
/coins endpoint to respective gateway service. Variable per asset.

[code]

[2018-03-08 05:52] wmbutler commented on #361
Still looking for a volunteer. Wrapper is wriiten and ready to go.

[2018-03-08 06:17] smogm commented on #361
@wmbutler what are the steps that have to be done?
Just placing the widget into the page layout and feeding it with data?

[2018-03-08 09:33] svk31 commented on #1244
I think a general cleanup and optimization of API calls would be useful. There's also potential for caching calls like what I did recently in GatewayActions and BlocktradesMethods.

I've noticed the calls in BalanceWrapper as well and been tempted to remove them, I'll take another look to see if they're really necessary.

[2018-03-08 10:13] fractalnode commented on #1110
maybe you could add at the same time
"return the debt from the balance"
simple subtraction: debt minus balance

[2018-03-08 10:19] fractalnode commented on #1271
or maybe favorite? in this way, each new token is not on the favorites list..
and maybe also to filter tokens by their value - hide less than 1 USD worth (user defined value)

[2018-03-08 10:21] MannyMeadows commented on #1270
It's back in action. It seemed to be isolated to Winex only. I'll direct any future issues to Winex support.
Cheers.

[2018-03-08 10:24] sschiessl-bcp commented on #1228
Still digging and getting familiar ...

The first thing I noticed is [https://github.com/bitshares/bitshares-ui/blob/staging/app/components/Utility/BindToChainState.jsx](BindToChainState).

It has console.log lines that are commented at the moment indicating that there was already debugging going on. When I enable the logs and look what is happening within this central component its quite heavy lo

[2018-03-08 12:21] sschiessl-bcp opened #1278 "[1] When Tabs component collapses to dropdown, subText disappears"
This is the classes setup
[code]

Expanded view:
![image](https://user-images.githubusercontent.com/33128181/37150690-e7f40e22-22d2-11e8-8240-d6ae9fc0f7d8.png)

Collapsed view:
![image](https://user-images.githubusercontent.com/33128181/37150674-d93ac40c-22d2-11e8-8698-8949df0516e5.png)

[2018-03-08 17:26] startailcoon commented on #1243
@gn1github sorry, I misunderstood your issue with the translation by the star icon.

[2018-03-08 18:41] BazkieBumpercar commented on #1272
Same here, Debian user. Switched back to 180302 and now it works again

[2018-03-08 20:01] diogogomes commented on #1272
@wmbutler, I cleaned all my offline data of desktop client and I continue with the same errors.

[2018-03-08 20:05] diogogomes commented on #1270
@wmbutler, @MannyMeadows

Sorry, I didn't mention my version of linux desktop client.

I don't have this issue after update to version 2.0.180306

[2018-03-08 21:11] grctest opened #1281 "[.25] Request: Remove prepended 'bit' from smartcoin name"
![image](https://user-images.githubusercontent.com/15861527/37176703-1126245a-2315-11e8-95b4-b6a6db69aa3e.png)

Hey,

As highlighted in the above screenshot (in red), the wallet currently prepends 'bit' infront of 'Hertz'; isn't the 'bit' technically reserved for the core smartcoins? Can this be optional or removed? The token isn't called bitHertz anywhere else.

Cheers 👍

[2018-03-09 00:24] wmbutler commented on #1270
Great @MannyMeadows ask them to submit a PR to fix this. Also, I have another issue to get their API integrated into the new withdraw modal #898

[2018-03-09 00:26] wmbutler commented on #1243
Has anyone claimed this?

[2018-03-09 00:26] happyconcepts commented on #1259
AFAIK you can now only tell symantec about false positives; they don't white list anymore? [https://submit.symantec.com/whitelist/isv/](https://submit.symantec.com/whitelist/isv/)

[2018-03-09 00:27] wmbutler commented on #1228
@calvinfroedge might be a fun one for you to tackle. @svk31 any interest?

[2018-03-09 00:29] wmbutler commented on #1271
@fractalnode feel free to open a separate issue for that.

[2018-03-09 00:30] wmbutler commented on #1110
added 1 hour

[2018-03-09 00:33] wmbutler commented on #361
We have the UDF wrapper. I'm not sure how complex it will be but I assume there are a number of things that could present problems. If you want to see how it's been incorporated already with bts feeds and the UDF wrapper, take a look at this:

http://bitshares-explorer.io/#/markets/CNY/BTS

[2018-03-09 07:35] svk31 commented on #1228
I doubt that component has anything directly to do with the connection issues since it's only a wrapper asking for data from the ChainStore, which in turn handles API requests for objects using https://github.com/bitshares/bitsharesjs-ws. BindToChainState used to be a decorator but is now used as a Higher Order Component (HOC) which is a React pattern for adding functionality to components. It is

[2018-03-09 07:39] svk31 commented on #1259
I did buy a certificate for Windows a couple months back, but it's taking forever to get validated as my UPIK entry was missing some information. I've since updated it but it's taking a while for them to reflect the updates on their site. Once it's updated I'll be able to sign the windows binaries.

[2018-03-09 08:01] abitmore commented on #1270
Or remove them temporarily before it's fixed.

[2018-03-09 08:01] svk31 commented on #361
Cool, I didn't realize he'd already implemented it. I guess I'll have a crack at it then, we're also dependant on replacing stockcharts for react-16 compatibility so it'll be nice to get this done.

[2018-03-09 08:09] ahdigital commented on #1213
I've amended the navigation patterns example that I posted originally.

It's uncessary to make user's to rely on a burger menu at desktop resolution. Ideally, the burger menu should display at lower resolutions where there's not enough space to display the uppermost menu.

Removing the burger menu at this resolution obviously raises the issue of how to display all those links in the top bar. So, I

[2018-03-09 09:02] sschiessl-bcp opened #1283 "How does WalletUnlockActions work?"
I want to react on a unlock modal got canceled. Consider following code
[code]
I execute and click cancel on the modal, I only have in the console
![image](https://user-images.githubusercontent.com/33128181/37198958-4fec4028-2380-11e8-980d-2423d97ce233.png)

I execute and unlock successfully
![image](https://user-images.githubusercontent.com/33128181/37199036-a764ef12-2380-11e8-9a11-f7e67f843302.p

[2018-03-09 09:49] smogm commented on #361
@svk31 Would be a really **huge improvement** if you could implement it!
The current chart feature is the most annoying part of the gui.

Keeping my fingers crossed!

[2018-03-09 10:02] abitmore opened #1284 "[4][ahdigital] UX Account page, Proposed transactions"
Two issues:
1. Missing translation.
2. If there are several operations in one proposal, only need to show proposal ID and expiration once.

![image](https://user-images.githubusercontent.com/9946777/37201910-5668669e-2389-11e8-86dc-18136bacd35b.png)

An old light wallet:
![image](https://user-images.githubusercontent.com/9946777/37202505-f2f86896-238a-11e8-9747-110e42c8ac78.png)

[2018-03-09 10:08] ahdigital commented on #1278
I can take this one.

[2018-03-09 10:16] clockworkgr commented on #1284
May I also suggest a more obvious separator between proposals.

At the example above it's almost impossible to see where one set of Ops ends and the next proposal's set starts.

[2018-03-09 10:18] sschiessl-bcp commented on #1278
I already added a fix for it #1279

Sorry for the confusion, I thought it was clear with the commit message above.

[2018-03-09 10:34] ahdigital commented on #1278
Looks good to me. (I deleted my last comment. I was on my phone at the time so didn't see the link to the PR.)

[2018-03-09 12:36] startailcoon commented on #1281
@wmbutler what is our view of how to sepperate core MPA against other MPA coins?

Is all MPA coins prepended the `bit` name today?

[2018-03-09 12:39] startailcoon commented on #1277
I'll take this

[2018-03-09 12:41] abitmore opened #1285 "Don't simply disable "submit" buttons"
Even when an account has no privilege to do some changes when browsing another account, or can't do certain operations due to no fee or etc, should be **possible to create proposals**, which is an important feature.

If the buttons are simply disabled,

[2018-03-09 13:06] gibbsfromncis commented on #1255
I'll work on this one

[2018-03-09 13:07] gibbsfromncis commented on #1256
I'll work on this one

[2018-03-09 13:07] gibbsfromncis commented on #1258
I'll work on this one

[2018-03-09 13:08] gibbsfromncis commented on #1265
@wmbutler I'll work on this one

[2018-03-09 13:42] sschiessl-bcp commented on #1285
Creating a proposal also costs a fee, but certainly with priviliges.

Do you have examples in mind where the user can't do the function because of that?

[2018-03-09 15:30] gibbsfromncis commented on #1136
@wmbutler I've received reward 250$ for this task. Should I transfer it back to bitshares-ui?

[2018-03-09 16:20] happyconcepts commented on #1281
All the MPA coins issued by `committee-account` are prepended with bit.

[2018-03-09 16:43] happyconcepts commented on #1213
This is supposed to be a reference client i.e. a starting point to **encourage** others to fork other interfaces.

But instead of making the client:

1. loadable on windows
2. usable in other browsers beside chrome.
3. Usable in incognito modes.
4. making the node seek algo reliable
5. unit tests
6. etc ...

all I see is designers tweaking colors and generally fiddling while Rome burns. And I know

[2018-03-09 16:44] happyconcepts commented on #1213
I mean, other than telling me to fork off?

[2018-03-09 16:49] grctest commented on #1281
@happyconcepts Would that include MPA created by an user, then ownership transferred to the committee-account?

IMO only the core FIAT MPA originally created by the committee-account should have this prepended bit text. It could be statically set in the UI for a set list of core MPA, instead of all committee-owned MPA having 'bit' prepended?

[2018-03-10 00:40] diogogomes commented on #1213
@ahdigital I really like this approach removing the secondary navigation bar.

[2018-03-10 05:55] gn1github commented on #1243
@startailcoon No worries. Would you be able to add the ability to reorder the star icon?

[2018-03-10 08:58] startailcoon commented on #832
Pushed as it depends on library installs to be completed first

[2018-03-10 09:00] startailcoon commented on #1243
I have it assigned to me and are working on it.

[2018-03-10 10:14] abitmore opened #1288 "Everyone is allowed to fund fee pool of every asset"
Please be aware.
It's useful for advanced users to help new users or asset issuers when the fee pool is empty.

[2018-03-10 10:27] abitmore commented on #1285
For example, go to https://wallet.bitshares.org/#/account/committee-account, then click send, no matter what I fill in the table, the "send" button is always disabled. So how can I propose a transfer from committee-account to another account? Also, sell/buy buttons on the market page are all disabled. And buttons on other pages.

It seems that current UX assumes that one can only create a transact

[2018-03-10 10:32] startailcoon opened #1289 "[1.25] Deposit Modal - Autoselect Gateway when available is 1"
There is broken logic since a previous update that makes the Deposit Modal not auto select the available gateway when there is only one available.

This was the case before, and should be the case.

# LiceCap
![bitshares-depositselectgateway](https://user-images.githubusercontent.com/12114550/37241252-8093bc52-2456-11e8-9639-e4a675f430f1.gif)

[2018-03-10 10:35] startailcoon commented on #1288
Would be a great thing to be able to see if the fee pool is getting low, how many transactions it can support currently and when adding assets to it how many that will support as well, roughly estimated ofcourse.

[2018-03-10 10:42] abitmore commented on #1117
Possible UX:
* add an option in settings, e.g. "default asset for paying fees" or "fee asset", by default set to "BTS".
* when it's about to pay a fee, check if the user has enough fee asset,
  * if yes, go to the transaction signing page
  * if not, show a dialogue to let user select a fee asset, with these items:
    * list of assets
    * balances
    * CER's
    * required fee if in BTS
    *

[2018-03-10 11:29] startailcoon commented on #969
I've reached the total hours agreed upon after making the changes to the scss code for the modal and closes this issue.

There are still a lot of work that can be done in this area at a later date.

[2018-03-10 11:29] #969 closed

[2018-03-10 18:40] startailcoon commented on #1243
Once PR #1273 is merged, the translation file will be updated to support the issues related here.

Login Box is changeable at
https://github.com/bitshares/bitshares-ui/blob/978bd1a4c73e312b7cfd71444d4ac3bf5ff4affc/app/assets/locales/locale-en.json#L170-L174

Buy/Sell Box is changeable at
https://github.com/bitshares/bitshares-ui/blob/978bd1a4c73e312b7cfd71444d4ac3bf5ff4affc/app/assets/locales/loca

[2018-03-10 18:50] startailcoon commented on #1098
So, do I understand this correct, that we wish the bitCNY asset at the top of the list always?
If it's not borrowed, I'd advice it to be below any borrowed asset at least, so the list would be the following:
- Assets shorted by the user
- bitCNY
- The rest of default listed assets.

I can't say that I understand why we don't want it listed by name, but I'm not a big shorter so there may be good ca

[2018-03-10 18:59] sschiessl-bcp commented on #1098
Thus definitely goes over the assigned hour, but maybe we can use this to implement a generally sortable table list component where every column allows click to sort with proper store of the sorted table in SettingsStore

[2018-03-10 19:25] startailcoon commented on #1194
I think this is related to this section of the code

https://github.com/bitshares/bitshares-ui/blob/66678211f96b6b5e1f8c842092997d3996c314d7/app/components/Account/MarginPositions.jsx#L47-L84

When an asset update is negative, it will display the numbers in overflow.

[2018-03-10 19:52] grctest opened #1292 "[4] Request: Direct link from account history transaction to transaction details within block"
![image](https://user-images.githubusercontent.com/15861527/37246179-639779a4-249c-11e8-9a0e-68c6721abad0.png)

Currently, when you click the transaction type label, it takes you to the top of the block contents.

Would it be possible to skip down to the relevant transaction, so as to speed up finding the data (instead of ctrl+f 'username')?

Cheers 👍

edit:
Do you think it'd be better to have the

[2018-03-10 19:56] startailcoon commented on #1098
@svk31 has done a wrapper function for Margin Assets since a few days ago, that I can't exactly figure out how its working.

https://github.com/bitshares/bitshares-ui/blob/66678211f96b6b5e1f8c842092997d3996c314d7/app/components/Account/MarginPositions.jsx#L644-L646

[2018-03-10 20:18] abitmore opened #1293 "Very big amount numbers on transaction confirmation page"
Steps to reproduce: open https://wallet.bitshares.org/#/account/committee-account, click "Margin Positions", click "X" under "close", input password to unlock local wallet.

![image](https://user-images.githubusercontent.com/9946777/37246353-225accf0-24a8-11e8-88d0-7c765d7c96be.png)

By the way, don't tell me that we should simply remove the 'X' buttons because I'm not on my own account. Please ch

[2018-03-10 21:06] startailcoon commented on #1098
I'm releasing this issue for now

[2018-03-10 21:18] startailcoon commented on #1243
Closing Issue as all sections reported needed fixing is now completed.

[2018-03-10 21:18] #1243 closed

[2018-03-10 22:04] startailcoon commented on #981
![bitshares-scammer](https://user-images.githubusercontent.com/12114550/37247159-4fae1dce-24b7-11e8-9e06-9601518e76eb.gif)

[2018-03-10 22:07] #981 closed

[2018-03-10 22:09] startailcoon commented on #1293
Duplicate of https://github.com/bitshares/bitshares-ui/issues/1194

[2018-03-10 22:09] #1293 closed

[2018-03-10 23:37] startailcoon commented on #1277
As I can see the gateways are not restricting any deposit amounts. They do have a minimum amount as OpenLedger has `gateFee*2` and RuDEX has `minAmount`.

I will implement a minimum amount warning on a Withdraw depending on your gateway choice.

[2018-03-11 09:26] startailcoon commented on #1281
This can easily be done by replacing the custom bit append code with using <AssetName /> instead, as it appends the bit to all assets that should have it.

[2018-03-11 09:47] svk31 commented on #1098
There was a bug in the AssetWrapper class with the defaultProps, and I hadn't updated MarginPositions properly either. Fixed now

[2018-03-11 09:49] svk31 commented on #1288
I don't understand what the purpose of the issue is, it's just framed as a true statement.

[2018-03-11 10:24] startailcoon commented on #1277
![bitshares-disableonmindepositlimit](https://user-images.githubusercontent.com/12114550/37252275-c4546a4a-251e-11e8-84e0-e403ead3bc65.gif)

[2018-03-11 10:35] startailcoon commented on #1284
I can work on this

[2018-03-11 10:37] startailcoon commented on #1292
This would be very handy.

I looked at this a little and came as close as to get the link from the account history page to contain the TX ID, ie `1.11.xxx`, but on the block details page I wasn't able to find how to fetch it again to put an anchor on the place of the TX.

I didn't put that much in to searching about this, but if anchors works, this would be a nice addition as you would also be abl

[2018-03-11 11:03] svk31 commented on #1194
Thanks for that hint @startailcoon, allowed me to reproduce it. The error is caused by a change in the bitsharesjs lib, this commit here: https://github.com/bitshares/bitsharesjs/commit/2f08691f85dbf54daa9dbc7d8942c71db7f30dc0 and PR
https://github.com/bitshares/bitsharesjs/pull/16

The assumption that we don't need signed ints appears to be wrong, as the asset struct requires negative numbers in

[2018-03-11 11:32] svk31 commented on #1194
Think I figured out a way to fix it:

https://github.com/bitshares/bitshares-ui/issues/1194

[2018-03-11 11:34] #1194 closed

[2018-03-11 13:01] abitmore commented on #1288
@svk31 I think we can add a "fund fee pool" button in asset info page.

[2018-03-11 13:04] abitmore commented on #1281
Add a tag in `description` field, e.g. "no bit prefix", then UI can skip displaying "bit" for it.

[2018-03-11 13:32] svk31 commented on #1288
Ok that's clearer. The button already exists under Account -> Assets -> Update Asset, but it would probably be easier to have it on the assets page.

[2018-03-11 14:02] grctest opened #1298 "Missing transaction types in account history drop-down menu"
![image](https://user-images.githubusercontent.com/15861527/37254363-7139786c-2534-11e8-9a6b-1cd834d4ec1c.png)

The drop down menu only shows 9 transaction types, however there are [approx 29 transaction types](http://docs.bitshares.org/development/blockchain/objects.html). If I've got 'advanced mode' enabled, could we show some more transaction types?

Cheers 👍

[2018-03-11 14:12] grctest opened #1299 "[8] Send modal 'To' field doesn't save account name"
![image](https://i.imgur.com/aOCTfa2.gif)

When entering the username into the 'to' field, if you don't click on the name in the drop down then the name is not saved in the text box value field, but the member type (basic/ltm) and their account number remain behind.

Perhaps users may misspell a send account name (misspelling an exchange account name for example), then not have the opportunity to

[2018-03-11 14:54] startailcoon commented on #1299
I came across this as well. Its because the typeahead returns the value directly and not when you select one.

The typeahead needs

[2018-03-11 15:00] startailcoon commented on #1281
@abitmore why du that when AssetName already works for this?

And its still a bug, not a feature

[2018-03-11 15:06] grctest commented on #1299
What do you think about a down-chevron next to 'BTS' in the quantity & fee fields, so as to draw attention to the drop down menus? Think it's be too intrusive?

[2018-03-11 15:35] grctest opened #1301 "Suggestion: Calculate settlement price ratio between two smartcoins in market?"
On a smartcoin's market page with the primary backing asset (USD:BTS, Hertz:BTS, XCD:bitUSD, etc) we display the settlement price which is useful as an indicator of market rates.

On smartcoin:smartcoin markets (such as USD:CNY, USD:Hertz, etc) we don't display a calculated rate between them despite sharing a common backing asset.

Could we not take the settlement price of both smartcoins, then wo

[2018-03-11 16:49] abitmore commented on #1301
Good idea.

[2018-03-11 17:00] abitmore commented on #1281
BitAssets are there due to historical reasons and are well acknowledged by early participants. It's related to brand recognition, IMHO should not be decided by the UI team alone. Personally I'm against removing "bit" from all market pegged assets in the reference wallet, other 3rd party hosted wallets can have their own preferences. However, it's true that some (new) assets aren't that good to be

[2018-03-11 17:05] abitmore commented on #1281
Yes, this is the rule.

[2018-03-11 19:06] svk31 commented on #1298
I hardcoded the available operation types when I made that component just to keep things manageable, if there are specific operations you're interested in we can certainly look at adding them.

[2018-03-11 20:54] grctest opened #1302 "Suggestion: On smartcoin explore page - add 'active smartcoin' filter?"
On the [smartcoin explorer page](https://wallet.bitshares.org/#/explorer/assets) within the Bitshares wallet, the list includes smartcoins which are not currently active (perhaps due to a lack of price feed publishers), would it be possible to add a (by default ticked) filter checkbox to hide/show inactive smartcoins?

Hopefully this would draw more attention to the active smartcoins on the BTS DE

[2018-03-11 21:04] startailcoon commented on #568
# New Asset Update

Updated hours to total 5 hrs as announced after the UX work by ahdigital.

### The new asset update now
- Adds asterisk on tab settings change
- Features modal when more than one tab is updated
- Fixed "Whitelist" tab where separation wasn't working on filtered sections of the tab.

### Other changes
Started a "global." section in the translation file for things that shouldn't

[2018-03-11 21:12] pnomolos commented on #758
@wmbutler I'm looking to help out the documentation team, primarily in the UI area - is this something that would be better just waiting for that as opposed to doing it here?

[2018-03-11 21:45] #568 closed

[2018-03-11 21:48] startailcoon commented on #1276
I'll take this

[2018-03-11 21:48] startailcoon commented on #1275
I'll take this

[2018-03-11 22:02] pnomolos commented on #1110
@wmbutler Even with shortening the text as much as possible this can no longer fit on one line.  How would you like the UI organized?

![image](https://user-images.githubusercontent.com/36223/37258969-2aca5cee-253d-11e8-9b43-9892a54346c1.png)

[2018-03-12 01:44] wmbutler commented on #1110
@ahdigital care to take a shot at 30 minute UX on this one?

[2018-03-12 01:48] wmbutler commented on #758
We have a help area, so it might not hurt to link to it with a new tab in the wallet, Maybe you can mirror the procedure from the documentation team so we are all communicating the same message.

[2018-03-12 01:49] wmbutler commented on #1302
If we can clearly identify smartcoins, it would be fine with me.

[2018-03-12 01:52] wmbutler commented on #1281
All I care about is consistency. Bottom line, should this asset be displayed as bit or not?

[2018-03-12 01:56] wmbutler commented on #1299
This is a feature for some and a bug for others. Some would say that you need to click or press enter to select the asset because you may risk replacing the currently entered asset otherwise.

I'd suggest that if we have a single exact account match that a `onBlur` event should should replace the value in the input fields.

[2018-03-12 01:57] wmbutler commented on #1288
@ahdigital

[2018-03-12 02:00] wmbutler commented on #1284
2 for UX and 2 for execution. @ahdigital ?

[2018-03-12 02:02] wmbutler commented on #1277
Maybe replace the `Available` message with the Minimum withdraw warning.

[2018-03-12 02:07] wmbutler commented on #981
Let's be more concise and replace the 'Lifetime Member #xxxx` with `Suspected Scammer: #xxxx`. Leave it in red.

[2018-03-12 02:07] pnomolos commented on #1110
I have an idea but don’t know how well it’ll translate to other languages.
Something like

Max: [Paid debt] [Debt] [Collateral]

Sorry for email formatting, but basically remove the “Max” from each button
and add as a label
On Sun, Mar 11, 2018 at 6:44 PM Bill Butler <notifications@github.com>
wrote:

[2018-03-12 02:08] wmbutler commented on #1110
Hoping @ahdigital can work this into his styleguide.

[2018-03-12 02:10] wmbutler commented on #1117
Added time for UX as well

[2018-03-12 02:15] wmbutler commented on #1285
I think we should allow buttons to be active when the source account is a valid source account for a proposal, certainly. Do we have an easy way of knowing if the user proposing the transaction holds adequate credentials to propose for the selected source account prior to the action?

If so, this should be fairly easy to accommodate.

[2018-03-12 02:27] wmbutler commented on #1213
@ahdigital this is the curse of having so much functionality :) Couple of thoughts:

- I like the menus better than the tabbed interface for sure
- Since the tabbed interface naturally inform the user about where they are, you will need a mechanism for conveying where the user is on each page
- I think the text in the burger should be right justified
- I think clicking the burger should activate a

[2018-03-12 02:29] wmbutler commented on #1136
@gibbsfromncis please do. Thanks for your honesty.

[2018-03-12 02:30] wmbutler commented on #1136
This was paid to @gibbsfromncis for 2 hours and he will send a refund.

[2018-03-12 02:33] wmbutler commented on #361
The issue is technically #905 This is just tracking all the work required thus far.

[2018-03-12 02:35] wmbutler commented on #1270
@MannyMeadows did you get a response from their team on this issue?

[2018-03-12 02:44] grctest commented on #1299
@wmbutler Perhaps the top right '<Member Type><Account ID>' data shouldn't apply as a valid target in the send modal until you've fully clicked on a matching account name in the drop down sub menu?

[2018-03-12 02:53] wmbutler commented on #1299
Agreed. It should only apply to the value that has been entered into the final input field.

[2018-03-12 03:12] ahdigital commented on #1288
No problem.

[2018-03-12 03:13] ahdigital commented on #1284
No problem.

[2018-03-12 03:16] ahdigital commented on #1110
No problem. Can I have the URL to this page please?

[2018-03-12 03:51] happyconcepts commented on #1263
*Alerts are by nature focused on the future*. Please consider whether displaying the alert notification history (last 5 was mentioned in #422 ) is in fact desirable. My reservation is that it potentially clutters the UI (and hence the UX) without adding benefit.

Very happy to see progress on this vital feature.

[2018-03-12 04:30] pnomolos commented on #1110
@ahdigital It's in the borrow modal that's available on any bitAsset page on the exchange.  I was using bitCNY (http://localhost:8080/market/CNY_BTS).  You'll need to run against the live market as I don't believe there are any bitAssets on the testnet.

[2018-03-12 04:40] startailcoon commented on #1277
Not sure if that's a good choice. How will the user
1. Be able to know their account holdings so they don't try to withdraw more than they have
2. Withdraw their full amount, as the message is click able to fill in the total amount.

[2018-03-12 04:50] startailcoon commented on #1299
There is a bug in this.

I agree with you both here. Bill, the account should not change unless you actively click on on in the list you've searched for. But today it fills in all the data from a possible find even if you don't click.

This means you can search and click on a username, then search again and don't click. You will then have all the new users details everywhere, except for the input

[2018-03-12 04:54] startailcoon commented on #1281
Hertz does not have bit prepended to it elsewhere, and is exactly how it's supposed to be. The market tabs are one place that does this check in a different manner rather than using `<AssetName />` that does this correctly.

That is why I'm saying we need to change it to using that function instead.

[2018-03-12 07:42] sschiessl-bcp opened #1305 "Feepool no longer loads on asset overview"
On my browser it doesnt show the fee pool anymore

![image](https://user-images.githubusercontent.com/33128181/37270980-3d044098-25d1-11e8-9163-f09a7bf2d04b.png)

Common issue or just me?

[2018-03-12 09:32] xeroc opened #1306 "Present market fee to users more prominently"
With respect to this:
https://bitsharestalk.org/index.php?topic=26083.msg316307;topicseen#new

I request that the upcoming market fee is presented to trades more prominently than only on the asset page.

http://docs.bitshares.org/user/assets-faq.html#what-if-two-different-market-fees-are-involved-in-a-trade

[2018-03-12 10:43] startailcoon commented on #1207
I've forgotten about this as an issue was never created and assigned to me. I will see if I can get some work on this before the release in a few day.

[2018-03-12 14:30] diogogomes commented on #1263
@happyconcepts,

I am planning to present more than one possibility even today.
Can you explain more what you mean with:

Thanks

[2018-03-12 16:09] pnomolos commented on #1110
I don't think having a "Use max" on the ratio slider makes sense, but the other two look good (although maybe a little small).  We'd still need a button to pay max debt, though.  That one's only available on my PR branch.

@wmbutler Thoughts?

[2018-03-12 16:12] abitmore commented on #1306
There is already a market fee field in the market page.
![image](https://user-images.githubusercontent.com/9946777/37295420-70546b02-2618-11e8-92fd-74f8a7287acb.png)

[2018-03-12 16:22] abitmore commented on #1285
If the wallet contains at least one account, it can be used to **propose** any transaction. Fees is another thing.

It does need UX.

[2018-03-12 17:02] startailcoon commented on #1305
Work for me on the latest release build as well as on staging branch. Must be an issue with your connected node.

[2018-03-12 17:51] gibbsfromncis commented on #1136
@wmbutler It was sent back to bitshares-ui

[2018-03-12 17:58] startailcoon commented on #981
Good idea, Updating the account selector to reflect this on all places it's used.

![bitshares-scammer_2](https://user-images.githubusercontent.com/12114550/37300828-4907fb04-2627-11e8-9595-24c7a16f9fa6.gif)

[2018-03-12 23:09] wmbutler commented on #981
Are you sure it's necessary to display the additional orange text? Seems that the Suspected scammer is enough warning.

[2018-03-12 23:12] #1305 closed

[2018-03-12 23:13] wmbutler commented on #1285
OK, so @abitmore as I understand it, any account is eligible to propose (even if it doesn't really have any authority... is this a true statement?

[2018-03-12 23:17] wmbutler commented on #1306
Can you be more specific @xeroc

[2018-03-12 23:26] wmbutler commented on #1110
@ahdigital the slider is a weird beast because it's current max is at 6:1, so clicking on use max would be strange because it would put the slider in the same position as the 6:1. Although, we currently already have this problem.

- Max Debt makes sense - if I understand correctly, this would set your collateral to a ratio of 1.75 right?
- Max Collateral makes sense - this would set to Max Collate

[2018-03-12 23:29] wmbutler commented on #1281
@abitmore I truly don't have an opinion on this. Should they all say bitHERTZ or should they all say HERTZ?

[2018-03-12 23:33] diogogomes commented on #981
Maybe a `?` icon together with `Suspected Scammer` that shows the additional text on hover.

[2018-03-12 23:34] wmbutler commented on #1299
@startailcoon if the user searches for `bill` and we see in the typeahead:

[code]
Presumably, the first item will be highlighted. What should happen when the typeahead loses focus? The user could do 4 things to lose focus:

[code]

How should each of these react? Seems like:

[code]

[2018-03-12 23:34] pnomolos commented on #1110
Pay max debt does what @fractalnode requested:

Basically this makes math a little easier in the case where you have borrowed some bitAsset but have a portion of it unavailable to pay back your debt.

I guess we could add in the collateral ratio being set to 1.75 if it's not set.  Right now it calculates the max debt you can carry at the collateral ratio you selected (because it's not easy to do t

[2018-03-12 23:48] abitmore commented on #1285
True.

[2018-03-12 23:50] abitmore commented on #1281
HERTZ. @startailcoon is correct.

[2018-03-12 23:52] wmbutler commented on #1285
1 for UX and 1 for implementation

[2018-03-12 23:55] wmbutler commented on #1110
But this is already handled by clicking on the bitASSET balance right? Are we actually solving a problem here? If we have to do this, maybe just place it next to `Use Max`, like `Payback Max | Use Max`

[2018-03-12 23:59] wmbutler commented on #1277
I just hate throwing in error messages in random places. Feels sloppy. We could put it as placeholder text in the qty...

[code]

[2018-03-13 00:03] pnomolos commented on #1110
Unless this is something that's in production and **not** on staging, then this isn't currently available.  "Payback Max" does sound perfect, though, and would fit well :)

All it does subtract your available balance from your currently borrowed balance, but it's handy if you're dealing with non-integer amounts.

[2018-03-13 00:59] gibbsfromncis commented on #17
PR: #1309

[2018-03-13 01:48] gibbsfromncis commented on #450
PR: #1310

[2018-03-13 03:27] gibbsfromncis commented on #1255
PR: #1314

[2018-03-13 03:29] gibbsfromncis commented on #1256
PR: #1312

[2018-03-13 03:30] gibbsfromncis commented on #1258
PR #1313

[2018-03-13 03:31] gibbsfromncis commented on #1265
PR: #1311

[2018-03-13 03:50] gibbsfromncis commented on #1281
PR: #1315
<img width="758" alt="screenshot 2018-03-13 04 45 20" src="https://user-images.githubusercontent.com/35899973/37321610-5e0345c0-2679-11e8-9842-57237e33467a.png">

[2018-03-13 05:43] gibbsfromncis commented on #1292
@wmbutler looks like there is no way to delivery solution for now. Unfortunately block's operations don't have an id as @startailcoon said. I've tried to investigate but in result in 3 hours of my investigation I was reading Graphene sources and I said stop  😄

[2018-03-13 06:13] gibbsfromncis commented on #1271
PR: #1316

[2018-03-13 08:02] #1278 closed

[2018-03-13 08:29] svk31 commented on #1277
I don't really like the current positioning, looked better in your above screenshot. Also, it's always visible, no matter if the amount you entered is above or not, shouldn't it go away?

![image](https://user-images.githubusercontent.com/6890015/37330286-e1346830-26a0-11e8-9539-ae1c10885cfe.png)

[2018-03-13 09:01] ahdigital commented on #1285
I think it would help to have a list of all possible proposals a user can perform on behalf of another users account. It'd be good to make sure we cover all bases.

As part of the #1213 task I've proposed an updated sitemap and suggested an overhaul of the accounts page precisely because it's difficult to quickly understand which account is being viewed and what actions can be performed.

[2018-03-13 09:42] ahdigital commented on #1213
They're some nice suggestions. How about this updated version for the navigation at mobile resolution, with the positioning you're describing and behavior like a drill down menu.

![navigation v3](https://user-images.githubusercontent.com/3088454/37334028-b629c07a-26a2-11e8-935f-d4e6a1c13a79.png)

[2018-03-13 10:46] grctest opened #1317 "[2.5] Responsive design glitch in market view"
![image](https://user-images.githubusercontent.com/15861527/37337275-aa05a2d8-26ab-11e8-944c-ce285ae70d41.png)

A large buy order for Hertz gets squished into an unreadable state when the screen is resized.

[2018-03-13 11:03] grctest commented on #1292
Every network operation [has an id on the blockchain](http://docs.bitshares.org/development/blockchain/objects.html), though this info is missing in the block page UI for some of the operations indeed. Would this require changes to [bitsharesjs](https://github.com/bitshares/bitsharesjs) to acquire these op IDs?

[2018-03-13 11:47] startailcoon commented on #981
@wmbutler I did it to be consistent with how it was on the old modal, and to be clear about it.

We can of course change it to be a tooltip maybe?

[2018-03-13 11:51] startailcoon commented on #1277
@wmbutler sounds good imho. Let's do it as a placeholder as well. What if the user inputs a low amount, where do want the message to be? Do we want it to be where it is in my screenshot, but only if its to low?

@svk31 strange that it's not right for you.

[2018-03-13 13:06] abitmore commented on #1285
All "operations" aka "actions".

[2018-03-13 13:08] abitmore commented on #1285
Proposals are not "one user performs on behalf of another user", they're "one user asks another user to perform some actions", the "another user" can accept or ignore or refuse the request.

[2018-03-13 13:23] abitmore commented on #1292
@gibbsfromncis it's as easy as this: a history object has a block number and a transaction sequence number and an operation sequence number, so we can use them to locate the operation in a block.

[2018-03-13 13:24] ahdigital commented on #1285
Makes sense. I've clearly not used this functionality before, so my question is where does a user currently go to within the DEX to accept/ignore/refuse?

[2018-03-13 13:36] abitmore commented on #1285
@ahdigital see https://github.com/bitshares/bitshares-ui/issues/1284.

[2018-03-13 13:43] ahdigital commented on #1285
I'll try again later when I have more time but the proposed tab doesn't show for me when viewing my own account or the example account above: 'committee-account'.

[2018-03-13 13:46] abitmore commented on #1285
I think the tab is hidden when an account has no proposed transaction. You can propose one for yourself.

[2018-03-13 20:13] startailcoon commented on #1277
Better with a placeholder?

Should I put the error back when the user is below the min amount?

![image](https://user-images.githubusercontent.com/12114550/37367279-3a9e93fc-2703-11e8-8a8a-bd58725394fd.png)

[2018-03-14 02:57] wmbutler commented on #1277
I like it!!

[2018-03-14 03:03] wmbutler commented on #1292
I increase the hours on this and advanced it to 180401

[2018-03-14 03:05] wmbutler commented on #981
@startailcoon if you think `suspected scammer` isn't forceful enough, a tooltip will be fine.

[2018-03-14 03:12] wmbutler commented on #1213
Wish we could get rid of the notification bell, but I don't see how to avoid it. In the mobile header, I suppose we could put the badge in the burger, but that's pretty sloppy.

[2018-03-14 03:33] diogogomes commented on #1263
@wmbutler, @gibbsfromncis, @happyconcepts, please give me your feedback.

**Notes:**

I created this UI/UX only for the items mentioned but always keeping in mind new additions in the future (ex: transfers notifications, filled orders, etc.)

Market price/percentage value increase / decrease is based on user starred assets (this way,we can implement with the code that we already have)

All colors,

[2018-03-14 03:40] wmbutler commented on #1110
I see this was closed, but we didn't really finish this according to the UX. @pnomolos would you mind refactoring as discussed above? Here is what it looks like currently. While it's not terrible, I really like what @ahdigital has done.

![screen shot 2018-03-13 at 10 38 21 pm](https://user-images.githubusercontent.com/1254810/37382206-7f8bd1ee-270f-11e8-8c72-81bb3779db31.png)

[2018-03-14 03:44] wmbutler commented on #1263
- I like Alternative 3 for the notification icon.
- I tend to prefer a menu for the dropdown so none of those options are exactly what I'd expect regarding the dropdown.

[2018-03-14 03:51] wmbutler commented on #17
@gibbsfromncis would you mind posting a licecap of this in action? You've been busy!!!

[2018-03-14 03:52] diogogomes commented on #1263
@wmbutler I'm sorry to hear that you don't like the drop-downs. I assumed it was to take the direction I had described in the issue #422.

Can you please give a suggestion in another direction, so that I may propose other alternatives?

Thanks

[2018-03-14 03:59] wmbutler commented on #1184
@svk31 advance to next sprint if needed and add required hours.

[2018-03-14 04:03] wmbutler commented on #1263
I just meant that the menus should be connected to the header instead of having a gap or a carat.

[2018-03-14 04:14] diogogomes commented on #1263
Sorry @wmbutler , I forgot to mention in the previous description that I integrated the concept of Dropdown with Popup.

I'll make an alternative with the notifications as a simple drop-down menu.

[2018-03-14 05:04] startailcoon commented on #1277
It used to be just a massive red text between Quantity and Withdraw to address, that honestly wasn't a nice place.

I put it with the other just to have it in a better place, but I guess we can just get rid of it all together since we have the red quantity highlighting it.

[2018-03-14 05:05] diogogomes commented on #1263
@wmbutler can you review, please?

## Notification Menu Dropdown

I thought in another mode for the notifications icon when the Drop-down is open:

### Alternative 5

With header and right aligned with the notifications icon

![](https://gitlab.com/diogogomes.eu/bitshares-ui-contributions-shared/raw/iss1263/dropdown%20alt5.png)

### Alternative 6

With header and right aligned with the burger menu

[2018-03-14 06:38] ahdigital commented on #1213
The notifications bell will prove to be very useful so should stay even for mobile. Many features could tie into it.

It'd be a great reference point to be able to see when you have newly proposed transactions, messages, recieved coins etc.

[2018-03-14 08:17] #1258 closed

[2018-03-14 08:21] sschiessl-bcp commented on #1305
Could you provide which node you are connected to?

I tried several, did not work on any. Attempted with chromium and firefox, latest version, no error in logs.

[2018-03-14 09:11] #1281 closed

[2018-03-14 09:13] svk31 commented on #1281
Sorry @gibbsfromncis but I ran into this in your other PR here: https://github.com/bitshares/bitshares-ui/pull/1314 after looking at your bit assets check. Turns out we had some incorrect logic in a lot of places, which was the cause of this issue among other things. I fixed that and it's made your PR for this issue unnecessary.

[2018-03-14 09:13] svk31 commented on #1281
Took me a bit longer to fix since it impacted other places too, bumped to 0.5 hours

[2018-03-14 10:10] ahdigital commented on #895
Before going too far with hi-res mockups I've put together some wireframes.

![login types](https://user-images.githubusercontent.com/3088454/37396096-d577b2ca-276f-11e8-87c8-4baf41294196.png)

I see the login form having a field called 'login with' to allow the user to switch between:

- Logging in with an account name and password
- Loggin in with a key file and password

Account name would be t

[2018-03-14 10:20] svk31 commented on #1277
I merged this now but it still looks like this to me:

![image](https://user-images.githubusercontent.com/6890015/37396591-a13d2ba2-2779-11e8-86f7-77b40c5acdfc.png)

I'll try to fix it so it looks like your licecap.

[2018-03-14 10:27] svk31 commented on #1277
![image](https://user-images.githubusercontent.com/6890015/37396939-a462c19c-277a-11e8-8c30-0691118b8727.png)

![image](https://user-images.githubusercontent.com/6890015/37396955-aec28474-277a-11e8-8315-f1d2f2bd87ba.png)

[2018-03-14 10:29] #1255 closed

[2018-03-14 10:29] #1277 closed

[2018-03-14 10:30] #1265 closed

[2018-03-14 10:30] #17 closed

[2018-03-14 10:31] #450 closed

[2018-03-14 10:31] #1271 closed

[2018-03-14 10:31] #1256 closed

[2018-03-14 10:33] #1222 closed

[2018-03-14 10:44] svk31 commented on #1305
You're most likely missing something related to this commit: https://github.com/bitshares/bitshares-ui/commit/ec521aa9031c2a0a988f8edcccea666d8e7b5aaa#diff-92c45f254db82073dcae1e0b1b26322e

You need to update bitsharesjs for the fee pool to display after this.

[2018-03-14 12:48] grctest opened #1319 "[1][mattbeckman] Asset description missing on asset page & console log locale warnings?"
The [Hertz asset page](https://wallet.bitshares.org/#/asset/HERTZ) within the BTS web wallet isn't loading the asset's description & it's showing the following error in the console:

[code]

Edit: Description isn't shown on bitUSD/bitCNY pages neither, was this section removed? Only visible within the tooltip in the market?

More cases:
[code]

The above warnings don't show for bitUSD.

[2018-03-14 14:15] sschiessl-bcp opened #1320 "Find Market only shows OPEN assets"
Can anyone confirm this? If I look for markets I only get open assets listed?

![image](https://user-images.githubusercontent.com/33128181/37407652-78250098-279a-11e8-8b53-c131498ed69b.png)

[2018-03-14 14:22] grctest opened #1321 "When navigating between asset detail pages the margin positions don't update"
![bug report gif](https://i.imgur.com/CWlkfJ4.gif)

Navigate to the USD asset page, then manually navigate to the HERTZ page via the URL bar, the margin positions from USD are imposed over HERTZ margin positions. When you force refresh (CTRL+F5) the correct margin positions are shown again.

The price feeds are correctly updated, just the margin positions aren't.

[2018-03-14 14:55] grctest commented on #1320
Can confirm this is occurring for me using the bitshares.org web wallet, if you start typing in the 'asset name' field it will proceed with the search, however I agree that openledger's UIA shouldn't be the absolute default for the reference wallet.

[2018-03-14 15:35] enumivo opened #1323 "[.5] Dynamic page loading failed TypeError: Cannot read property 'current_supply' of undefined"
When I open the wallet and go to the sidebar and open the assets, there's a error:

Dynamic page loading failed TypeError: Cannot read property 'current_supply' of undefined

[2018-03-14 15:48] pnomolos commented on #1110
@wmbutler Will do.

@ahdigital Is there an existing component that does what you put together in your suggestion I can use for styles, or am I putting them together from scratch?

[2018-03-14 15:55] ahdigital commented on #1110
This would be new functionality. Also, in the mock up I made the range slider fit in better with the theme.

[2018-03-14 16:16] gibbsfromncis commented on #17
@wmbutler yes sure

![ezgif com-optimize 1](https://user-images.githubusercontent.com/35899973/37415299-6d1544e0-27ab-11e8-8a4b-87d418f4badf.gif)

[2018-03-14 17:58] Xeldal commented on #895
In general, the process all looks good to me.

A couple small details I want to mention.
#### 1)
I presume selecting "upload another" will take you to Scenario A's file selection process.  Is that correct?

This may be a silly distinction but I think "upload another" could use a better choice of words.
I'd prefer something like  "select a file" or "use a different file" to be more clear.

"upload

[2018-03-14 18:13] wmbutler commented on #17
Really elegant solution. Nicely done!

[2018-03-14 18:23] startailcoon commented on #1299
It'd go for

[code]

[2018-03-14 18:24] wmbutler commented on #895
I'm a little worried about this. I suppose it's possible that a user backs up their .bin file and for some reason, they immediately lose it. I think the browser should not require them to upload it in order to retain access.

I'd prefer something like "select a file" or "use a different file" to be more clear.

How about: Upload alternate keyfile

Maybe we leave legacy and brainkey out of this for

[2018-03-14 18:29] wmbutler commented on #1299
More to clarify:

- `enter` Is the first item in the list always highlighted? I think it has to be.
- `tab` I'm less sure about this but agree it's probably the right call. I have no idea what `tabulate in the typeahead` means.

[2018-03-14 18:31] wmbutler commented on #1110
@pnomolos if you want to take this on for this issue, I'll bump the hours up, your call, but you'd need to work it asap before this release. Let me know. I scored this at 2 hours taking into account the additional work (not just adding a button) :)

[2018-03-14 18:33] startailcoon commented on #1299
* `enter` - Agree, as first item should be highlighted it should be that one. If the mouse moves over another item, highlighting it, that one should be the one that's selected (not sure how much of an issue this is though).
* `tab` - With "tabulate in the typeahead", I mean that tab should move to the next item in the list, rather than loosing focus of the list. This is where enter comes in to act

[2018-03-14 18:34] gibbsfromncis commented on #17
@wmbutler actually timepicker looks like I shit. I've to spent few hours to fix it's bugs. I'll replace it for Ant timepicker as soon we integrate ant.

[2018-03-14 18:34] wmbutler commented on #1323
When I do the same, I get this error:

[code]

[2018-03-14 18:37] wmbutler commented on #1299
I have to disagree on the tab. The tab key should move the user to the next input field on the form. The question is:

Should the tab key action select the currently highlighted item or should it move to the next field without selecting the item.

[2018-03-14 18:38] wmbutler commented on #1299
I set this at 1.5 because this issue requires careful consideration and testing.

[2018-03-14 18:40] wmbutler commented on #1320
Can we get this regex for the search to look for asset names:

- [x] from the start of the asset
- [ ] from the beginning of the `.` on an asset

[2018-03-14 18:42] startailcoon commented on #1299
Good point, I have to agree on that as you point it out. Then I think it should *not* select an item in the list at all.

[2018-03-14 18:43] wmbutler commented on #1299
Do you want to claim this?

[2018-03-14 18:45] wmbutler commented on #1263
I see arguments for both 8 and 10. I do think that the selected background state for the bell should match the background color of the menu.

[2018-03-14 18:52] startailcoon commented on #1299
Sure, I'll take this

[2018-03-14 18:52] pnomolos commented on #1110
@wmbutler Will do, should be able to have it done tonight/tomorrow (PST).

[2018-03-14 18:53] startailcoon commented on #1321
I'll take this

[2018-03-14 19:37] happyconcepts commented on #1263
I would like to have the option that alerts disappear once I have read them. Moreover, I think it should be the default behavior; user would have to opt-in to keep and display alert history.

Because already I have to deal with two time states, future and now: alerts that are set but have not triggered yet are in the future, and alerts that have triggered are now. If I have to wade through the lit

[2018-03-14 19:45] diogogomes commented on #1263
@wmbutler

Personally, I prefer the dropdown right aligned with the icon.

This allows a better visual connection between the icon and its dropdown

#

You are totally right.

I tried to match with all the bell but it becomes too similar to the background of the navigation bar (can be easily confused with the disabled state).

What's your opinion about matching the interior colour of the bell keep

[2018-03-14 20:10] ahdigital commented on #895
Yes.

No, it would make sense to be a download of the single bin.

I'll make a more detailed reply to all points in the morning. Just felt addressing the zip ones now would help the discussion whilst you guys are online atm.

[2018-03-14 20:36] diogogomes commented on #1263
Will you try using White, or Yellow, or a shade of Blue for the circle?

@happyconcepts,

Thank you for the explanation and input.

In Europe, the red can have same meaning of US but it's also an **warning colour** (like traffic signs).

The reason why I choose red it's because red is the **complementary colour** of blue and also have a warning meaning.

Even so, I decided to elaborate more altern

[2018-03-14 21:09] rokii666 commented on #1272
Have this on High Sierra, Bitshares.180306
Buttons do not work

[2018-03-14 21:21] startailcoon commented on #1277
Strange, I think I did use staging branch to go from, but something must have been missed. Thanks for the fix

[2018-03-14 23:31] pnomolos commented on #1110
@wmbutler Done over lunch but didn't get a chance until now to grab a screenshot:

![image](https://user-images.githubusercontent.com/36223/37436402-04085eb6-27a5-11e8-8f18-0eb1702a2b81.png)

I guess it should be lowercase, or does leaving the all-caps fit better?

[2018-03-15 02:11] TBAPI-0KA commented on #984
I only needed to enable Buy/Sell widgets on Exchange - somebody already wrote the code which asks for unlocking permission.

Please let me know if anything else is required here.

[2018-03-15 05:18] gibbsfromncis commented on #1173
Now Explorer/Accounts and Account/Contacts uses "Contacts API"

Also you can see your contacts on typeahead on Send page:
![gif-contacts-send](https://user-images.githubusercontent.com/35899973/37445412-2d8392e2-2818-11e8-852d-b2866270e7c5.gif)

[2018-03-15 05:40] gibbsfromncis commented on #1263
I suppose red circle on Bell is a good color to notify user about new notifications. I don't see any reasons why it should be any another color.

Another option is to remove red circle at all and just play with Bell background like make it filled when notifications are and make it 30% of opacity when no new notifications.

[2018-03-15 06:16] svk31 commented on #1320
It defaults to open.x assets because when this search was added they were the only ones we had. It also populates default assets because people didn't understand they had to type something to search.

The asset search api only allows searching from the start of the asset so we can't really change that.

[2018-03-15 06:23] gibbsfromncis opened #1326 "Ant Integration. New style-guide integration"
**Summary**

[Ant (clickable)](https://ant.design/docs/react/introduce) is a powerful React library with a huge set of different React Components.

The main idea to integrate and use ant is to have all needed components to develop our app fast & easy and do not use any another non-stable packages from different developers or spend our time to develop our own solution.

**Why Ant?**
- Themes and cu

[2018-03-15 07:05] svk31 commented on #1323
This is not an issue in staging, it must be related to the change in bitsharesjs and this commit here: https://github.com/bitshares/bitshares-ui/commit/a8d96150c0aaf0429ebc6d3031d9ebcb519000e2

I changed how dynamic asset data is loaded, I guess in the build process the new bitsharesjs version was used but the old code, or something like that. It will be resolved in the next release coming today.

[2018-03-15 07:05] #1323 closed

[2018-03-15 07:58] svk31 commented on #1272
I'm unable to fix the root cause but I've put in place some workarounds that have fixed the issue as far as I can tell.

[2018-03-15 08:05] svk31 commented on #1321
Not an issue in staging, probably caused by same issue as here: https://github.com/bitshares/bitshares-ui/issues/1305

[2018-03-15 08:05] #1321 closed

[2018-03-15 08:07] svk31 commented on #1319
Not an issue in staging, the warnings are normal and can be ignored.

![image](https://user-images.githubusercontent.com/6890015/37450945-427a4476-2830-11e8-8092-9f11c3054fff.png)

[2018-03-15 08:33] svk31 commented on #1317
After the font size increase this happens for a lot of markets. It can't possibly be perfect at all screen widths though

[2018-03-15 08:53] tbone-bts commented on #895
Nice work, @ahdigital.  I do agree with @Xeldal's comments.  I had the same thought about the word "upload".  I think it should be avoided for the reasons already stated.  I also think the word "import" makes it sound like a time-consuming process of importing data.  I think "load" (or perhaps even "select" or "specify") would make more sense to more people.

[2018-03-15 09:06] ahdigital commented on #1110
Sentence case would be better since that's the pattern that I'll be adopting elsewhere when it gets used.

- [ ] Sentence case for 'Use max' and 'Pay max debt'
- [ ] Make the slider track the same color as the inputs
- [ ] Give the 'reset' button hollow styling (.button .hollow .primary)

[2018-03-15 09:15] svk31 commented on #1319
Still not working in the production version, not sure why yet.

[2018-03-15 09:43] ahdigital commented on #895
### Xeldal's queries

Not silly at all. It's why I've done the wireframes first so these types of details can be thrashed out.

I agree that the wording should change and also would avoid 'upload' as a term. Your suggestion of 'Use different file' makes sense but I'll throw another two into the mix for consideration for there succinctness:

1. Use different file
2. Switch file
3. Change file

Clic

[2018-03-15 13:39] sschiessl-bcp commented on #1228
Progress is slow, trying to dig and understand.
Currently down to ChainWebSocket and https://github.com/websockets/ws

Any tips on proper debugging, how to proceed and help is appreciated

[2018-03-15 13:53] ahdigital commented on #1284
You'll have to bear with me as I'm still understanding how the proposed transactions functionality works, but I think this would address the issues raised here.

![image](https://user-images.githubusercontent.com/3088454/37466935-dbbe6df8-2856-11e8-9616-df8da67746b3.png)

Updates include:

- Displaying ID and expiration date once per proposal
- Added a column showing who the approver is
- Collapse

[2018-03-15 14:44] gibbsfromncis commented on #1263
@happyconcepts I'm so sorry if I said something wrong but please keep calm. I don't think the red color is a signal of price movement totally. I suppose it's personal. I didn't propose to use red arrow.

I'm partially color blind too so I always think about blink people 😄

@diogogomes if Bill disagree with Red circle too please before change the color of Circle add 2-3px border to it like a panel

[2018-03-15 15:11] startailcoon commented on #1197
I've looked at this quickly and found that this most likely needs extra padding on per page level as no CSS class handles page padding on a global scale. Pushing this until next milestone as its not critical.

[2018-03-15 15:36] pnomolos commented on #1110
@ahdigital @wmbutler

![image](https://user-images.githubusercontent.com/36223/37473623-c7d6f61e-282b-11e8-83e9-6752ce6fefc9.png)

I also added the 3px border-radius to the slider and turned "Use Max" for the debt slider into a disabled link when the ratio slider is 0 (as it's not clickable then)

[2018-03-15 16:07] ahdigital commented on #1223
### Node switch widget
I'm proposing an enhancement to the connection summary in the bottom right corner of the viewport. On hover over we could open a widget that shows the next best nodes to switch to in terms of latency (Lowest to highest). To keep the list A) succinct, and B) useful, only nodes which are low or medium latency should be shown.

The switch icon would allow the user to easily cha

[2018-03-15 16:45] ahdigital commented on #1317
I don't think we can do anything with truncating the figures, so if we were to do anything I'd suggest something like this:

![buy-sell-scroll](https://user-images.githubusercontent.com/3088454/37477670-2d6be48c-2870-11e8-856f-8c21ca9e4924.gif)
![buy-sell-scroll-2](https://user-images.githubusercontent.com/3088454/37477671-2d86e822-2870-11e8-9816-404e88d9ccc8.gif)

[2018-03-15 16:57] abitmore commented on #1284
@ahdigital proposals can be in `pending` status due to several reasons:
* not approved, or
* review time is non-zero, or
* failed to execute on approval due to insufficient balance or something else.

So it's still possible that the "pending" status of the 2nd proposal will go green if green only means `>=100%`.

The "approver" column is not clear enough to me. A transaction can have several opera

[2018-03-15 17:41] ahdigital commented on #1110
Looks much better but the 'Use max' links aren't sentence case. Looks like it has small-caps applied?

[2018-03-15 17:46] pnomolos commented on #1110
@abitmore I've applied the change and opened a new PR :)

[2018-03-15 18:16] wmbutler commented on #1301
@grctest please provide some concrete examples. I like where you are going with this.

[2018-03-15 18:55] wmbutler commented on #1223
Yes, please increase accordingly. I only have one question. Otherwise, looks great:

If the user selects closest available node, does it pick from all nodes from the list below?

- Available Nodes
- Hidden Nodes
- My Nodes

[2018-03-15 19:39] ahdigital commented on #1223
Thanks. Not sure I can edit the title though.

[2018-03-15 20:12] TBAPI-0KA commented on #984
@wmbutler Please hold on with closing - seems like my solution is formal, and we have a little bit deeper issue here. I'm discussing some technical details with @svk31 on #1324 PR thread.

[2018-03-15 20:17] #1213 closed

[2018-03-15 20:19] wmbutler commented on #359
Closing this. It has gotten zero traction for 8 months.

[2018-03-15 20:19] #359 closed

[2018-03-15 20:21] wmbutler commented on #999
Advancing this. Plan to add the library?

[2018-03-15 20:23] wmbutler commented on #1026
I need someone to claim and execute based on @ahdigital UX.

[2018-03-15 20:24] #1241 closed

[2018-03-15 20:27] diogogomes commented on #1326
@gibbsfromncis **I'm glad to see your proposal to have a separate style guide** like I proposed on #1030.

#

Some quotes from there regarding my support to your proposal:

In this way, there will be a flexible starting point to maintain the consistency of a visual style in BitShares Wallet that can also be applied to the web page and can also be worked with the marketing team.
This guide will hel

[2018-03-15 20:28] wmbutler commented on #268
@ahdigital done

[2018-03-15 20:37] ahdigital commented on #1223
Automatic selection should ignore hidden nodes and those that are unreachable.

Whether or not your own nodes should be included is up for debate, but personally I'd say no.

What do you think?

[2018-03-15 20:39] diogogomes commented on #1272
@svk31,

Navigation seems more slowly than previous versions (100Mbps web connection) but **is everything working**. Thank you

[2018-03-15 20:39] gibbsfromncis commented on #1326
@diogogomes

Nope. It will be like a separate open repo. When user works on project he may change some themes SCSS configs and don't check that his changes apply correct. Users just worry about their own task. I want to minimize risks. If somebody want to change something on style-guide he should go to the style-guide repo, submit issue, receive approve etc.

[2018-03-15 20:40] gibbsfromncis commented on #999
@wmbutler oh yes. I forgot about this issue.

[2018-03-15 20:43] diogogomes commented on #1326
@gibbsfromncis,

Okay, it seems right.

You don't need to, I copied my ideas to my previous post (above).

[2018-03-15 20:45] gibbsfromncis commented on #1326
@diogogomes Ha-ha! I've started to read your quotes and thought that it was copied from my topic so just skipped it 😄

[2018-03-15 20:45] diogogomes commented on #1326
Sorry, I'll edit.

[2018-03-15 20:47] gibbsfromncis commented on #1326
@diogogomes I mean that your ideas really match my ideas. That's why I've recognized your quotes as my quotes

[2018-03-15 20:57] diogogomes commented on #1326
@gibbsfromncis

Because I used quoted text and on github is a standard to previous quotes to contextualisation.

I edited to itens.

It's why I'm so glad to see your proposal and I want to help in everything I can to make this development process real :wink:.

[2018-03-15 20:58] gibbsfromncis commented on #1180
@wmbutler Those issues are already fixed. I've unassign myself from this issue and close this task

[2018-03-15 20:58] #1180 closed

[2018-03-15 21:18] startailcoon commented on #1223
If this needs a cooker for claim, I can take this task.

[2018-03-15 21:22] abitmore commented on #984
Perhaps closed by accident. I'm reopening it.

[2018-03-15 21:39] wmbutler commented on #1223
- @ahdigital just tell me total hours for UX and I'll add it
- I'd say no to the hidden and you own nodes as well
- @startailcoon it's yours

[2018-03-15 21:51] wmbutler commented on #999
I'm really hoping there is a way to do this without reloading the UI web application. Ideally, we can capture the contents of the code and send the result to the withdraw modal first. Would be nice to work on withdraw for alternative currencies for now since we don't have much consensus on the URI scheme for BTS.

[2018-03-15 21:52] wmbutler commented on #1272
Strange. It's faster than ever for me.

[2018-03-15 21:55] ahdigital commented on #1223
Increase to 2.5 please. Thanks.

Agreed on the second point - over to you @startailcoon then!

[2018-03-15 21:55] gibbsfromncis commented on #999
@wmbutler This task is only for library install. As additional thing I will create some `<QRCodeScanner/>` component which guys who work with QR codes can use on our app.

[2018-03-15 22:07] diogogomes commented on #1272
@wmbutler Can be related with my node connection (I'm connected from Portugal to Germany, my closest node).

I will inform you if this situation persists with less latency.

[2018-03-15 22:34] wmbutler commented on #1223
- [ ] We need a way to manually reconnect to the currently selected node
- [ ] We may want to extend the Disconnected warning timer to double its current setting

[2018-03-15 22:36] wmbutler commented on #1272
Please do. We've solved so many extraneous calls. I still do have node disconnects but we have an active issue working towards holding onto the socket better.

[2018-03-15 22:42] wmbutler opened #1328 "[1.5][kapeer42] Sorting on price change in portfolio"
When the price of an asset changes and updates the portfolio page, it briefly unsorts everything and then reverts back to the chosen sort order. I captured the activity in a licecap. I gave it 1.5 because it might be hard to reproduce.

![flash](https://user-images.githubusercontent.com/1254810/37494741-3b9bafc6-2878-11e8-9b4b-6cd567312bbd.gif)

[2018-03-15 22:50] ahdigital commented on #1223
I accounted for this already but didn't show mock up. Will post in the morning but essentially where the connected icon is on the active node, I made another icon (disconnected) which when clicked performs the manual reconnect.

[2018-03-15 22:57] ahdigital commented on #1284
Thanks for feedback.

Have I got the first row of the table correct? E.g showing one proposal but with two operations. Is that what you meant in your original post?

[2018-03-15 23:19] diogogomes commented on #935
@startailcoon Sorry to ask this here, on Github, but can you add me too (diogogomes)?
I'm already in the DEV group but I think I can be more useful in the UI group. Thank you

[2018-03-15 23:33] litepresence commented on #1228
hi I am using this tool I dev'd recently to determine websocket latency, please take a look: https://github.com/litepresence/extinction-event/blob/master/bitshares-node-latency.py

[2018-03-15 23:36] litepresence commented on #1228
also, I'd like to comment that when using the UI the node latency in settings>>access never updates and it seems that any node with latency greater than 3 seconds states "unreachable" while I know there are many more reachable than stated.  I am in an area where node latency is typically 3-5 seconds... so UI usually tells me no nodes are reachable; maybe one or two

[2018-03-15 23:38] wmbutler opened #1329 "[12][ahdigital] Multisignature set up UX"
Bitshares allows users to set up multiple accounts as signers on a single account. The UI works, but it is unintuitive to many users. We need to design a UI that makes sense visually for users. The bar is set pretty low on this for being intuitive. It is present on both Owner and Active Permissions.

![screen shot 2018-03-15 at 6 39 40 pm](https://user-images.githubusercontent.com/1254810/37496414

[2018-03-15 23:41] wmbutler commented on #1228
@sschiessl-bcp I invited @litepresence to work on this as well since he seems motivated.

[2018-03-15 23:43] wmbutler commented on #935
@diogogomes I added you

[2018-03-15 23:48] litepresence commented on #1228
something I have noticed in multiple tests of node latency is that ending all websockets with /wss suffix increases chance of success in connecting, with the exception of three which prefer /ws suffix, ['wss://relinked.com/ws',  'wss://bitshares.crypto.fans/ws', 'wss://this.uptick.rocks/ws']  You can test this by running my script with arg "suffix=True"

[2018-03-15 23:53] litepresence commented on #1228
re: "It's treated as out of sync if the timestamp of the current node is more than 60s" this should not be the case.  Should always be less than 4 seconds (3 really, but I use 4 as failsafe) , perhaps you are not actually looking at the "head" block and are looking at last "irreversible" block?  this often is 60 seconds delayed. w/ pybitshares I use the "mode" arg when calling blockchain, see: htt

[2018-03-16 00:11] litepresence commented on #1228
I just removed/hide all nodes that were listed in settings>>access, then I added all the nodes listed as GOOD here: https://pastebin.com/Zs2AYFi5 (note they all have /wss or /ws extensions).   I closed and reopened my UI.  upon reopening I have the lowest latencies I've ever seen on the UI and more listed as available than I've ever seen with the default websocket choices; several under 1 second.

[2018-03-16 00:11] litepresence commented on #1228
that pastebin was produced using my python script above

[2018-03-16 00:33] wmbutler commented on #1228
@litepresence Understand that this issue is about more than just the connection and timing. It's also related to traffic on the connection while active and understanding what the root causes of disconnections are.

[2018-03-16 01:49] litepresence commented on #1228
I understand, can you link me to some of the most likely subsections of code?  I write python, but I can generally polyglot read

[2018-03-16 08:06] CryptoKong commented on #17
Hi guys, any chance we can get the default setting set to a maximum or no expirery as auto removing orders after 30 days will lower liquidity. I think its a good feature i can certainly see the benefits but the default setting should be set to max. :)

[2018-03-16 08:27] bangzi1001 opened #1330 "[1][ahdigital][3] Typeahead for new Send modal"
There are lot of Air Drop coins in BTS recently. We can hide the coins in Portfolio page, but when we do Transfer, it still shown under the list of coins. Imagine we have over 100 Air Drop Coins and we need to find BTS from 100 Coins in drop down list. OMG

[2018-03-16 08:29] tbone-bts commented on #17
Yes, the expiration drop-down needs a "Never" option and that should be the default since non-expiring orders make the most sense, for the reason stated by @CryptoKong, among others.

Also, unless you have a **very** good reason to do otherwise, it's always a good rule of thumb to maintain the original default behavior when adding options for a setting that wasn't previously user-configurable...es

[2018-03-16 09:01] abitmore commented on #1284
Yes.

[2018-03-16 09:19] abitmore commented on #1284
By the way, due to the vary reasons that a proposal got "approved" but didn't execute, it's best if the UI can indicate the reason. However, in case when it failed to execute, current back end doesn't return the reason (would be better when https://github.com/bitshares/bitshares-core/issues/729 and/or https://github.com/bitshares/bitshares-core/issues/730 is implemented).

[2018-03-16 09:34] ahdigital commented on #1223
Something like this is how I saw the manual reconnect working.

![image](https://user-images.githubusercontent.com/3088454/37513519-36514190-28fd-11e8-80ae-a4d9773a6efe.png)

[2018-03-16 10:51] degraffenried commented on #1132
We are going to need this soon. Is anybody working on this? I would like to take a look at working on it.

[2018-03-16 11:00] degraffenried commented on #1132
A few nice things to have with this is that if the token being sent is set to transfer_restricted, then automatically assume that it needs to go through a proposal to the issuer, and then also check if a whitelist is set, and then only allow the receiver to be on that whitelist, then automatically sign the proposal from the sender after it's created. Then the only person left to sign it would be t

[2018-03-16 11:12] ahdigital commented on #1284
Does this mean there would be a status for each operation as well? Or is status always the 'overall' status of a proposal?

[2018-03-16 13:10] ahdigital commented on #1284
Whilst I wait for your response, here is the latest revision, which includes:

- Multiple approvers for when a proposal has multiple operations
- Colour coded statuses with tooltip explanations*
- Failed proposals have just a remove button so that they can be removed from the list

*Until BS-core supports failed execution messages it's probably best to leave the statuses in white.

Orange colored

[2018-03-16 13:51] ahdigital commented on #1329
Apart from the transferring the ownership of an account from one person to another are there any other use cases for owner permissions?

[2018-03-16 14:32] gibbsfromncis opened #1331 "[1.5] Update Order Expiration"
- [x] Add option "1 year"
- [x] Set default expiration as "1 year"
- [x] Display calendar above Time to prevent cutting on buttom (it would be nice to add check where is better to display calendar but so much time to refactor core library and btw it would be replaced in few weeks after Ant integration)
- [x] Remember last selected expiration time and store in localStorage

[2018-03-16 14:32] gibbsfromncis commented on #17
@CryptoKong @tbone-bts thanks guys for your feedback. I've created issue with changes you ask: #1331

Is it OK if "Never" option will be 10 years?

[2018-03-16 14:37] gibbsfromncis opened #1332 "[.5] [Ant Integration Phase I Part I] Create github repository for bitshares-ui-style-guide"
This issue is a part of #1326

@svk31 Can you setup new repository please as we discussed it before and give me permissions?

[2018-03-16 14:39] abitmore commented on #1284
Only an overall status.

* Failed proposals will be retried when it expires;
* after the first fail, for example due to insufficient balance, conditions can change, for example someone can transfer some funds to the account;
* **anyone** can trigger a retry by adding an approval to the proposal or removing an approval from the proposal;
* although "remove" is possible now which is another on-chain

[2018-03-16 14:42] gibbsfromncis opened #1333 "[11][Ant Integration Phase I Part II] Create pages for Live style-guide based on UX for each theme"
Phase I part 2 of #1326

This task includes:
- [x] Setup React app on new repository #1332
- [x] Configure app builder to be able export one .css file with all themes (dark, midnight, light) of ant and include it on bitshares-ui project
- [x] Create 3 pages of Live style-guide based on [this UX](https://www.behance.net/gallery/62549753/Bitshares-DEX-UI-style-guide) where we able to check that all

[2018-03-16 14:45] gibbsfromncis opened #1334 "[15][Ant Integration Phase I Part III] Restyle Ant for each theme based on UX"
This task includes:

- [x] Create 'midnight' theme for Ant components
- [x] Create 'dark' theme for Ant components
- [x] Create 'light' theme for Ant components

On result we have restyled for each theme ant components which can be included on bitshares-ui

[UX for this task](https://www.behance.net/gallery/62549753/Bitshares-DEX-UI-style-guide)

[2018-03-16 14:46] abitmore commented on #1329
There are many user cases, see http://docs.bitshares.org/bitshares/user/account-permissions.html for example.

Another example is one can have a key in mobile phone but another key in PC.

Owner authority can be used to do **anything** that requires active permission (although there is a bug prevent a few things to be done).

Proposals will only be evaluated when an approval added to it, or an app

[2018-03-16 14:52] gibbsfromncis commented on #1333
@wmbutler My Fair Estimate fo each subtask is:
- 1h
- 2h
- 6h

(I'm trying to estimate like you (developer estimate * 0.65)) so please don't cut estimates so much 😃

Please decide about your estimate and put in on the issue title.

[2018-03-16 14:52] abitmore commented on #1331
For overall performance, I'd recommend not give "never" option to users on UI, instead, encourage users to set an expiration time not too far in the future. Although we don't enforce a limitation on this field in the core now, we may need to do it later.

[2018-03-16 14:55] gibbsfromncis commented on #1331
@abitmore those 2 comments - https://github.com/bitshares/bitshares-ui/issues/17#issuecomment-373635070 asked me to update expiration. So If I can't provide "never" option can you advise me what is the max expiration can be?

[2018-03-16 15:01] gibbsfromncis commented on #1334
@wmbutler The fair estimate is 12h. It relates to the issue that we cannot restyle whole ant for out needs only by updating it's variables. Some components should be restyled by overwriting their styles. First theme will take 90% of this time. Another 2 themes just 5% of time because I need just update colors on variables.

[2018-03-16 15:08] abitmore commented on #17
@tbone-bts @CryptoKong for overall performance, a limitation on expiration will be enforced in bitshares-core sooner or later. In fact, we can't afford that everyone puts thousands if not millions of never-expire and never-fill orders in the system. On UI, we should encourage people to set an expiration that is not too far away. For better UX, perhaps every account can have 10 orders or so that ha

[2018-03-16 15:09] abitmore commented on #17
Even this: orders with longer expiration should pay higher fee.

[2018-03-16 15:11] abitmore commented on #1331
Actually I don't know what value is best. Should ask UX guys or product manager.

[2018-03-16 15:13] abitmore commented on #1331
IIRC max order life time on bittrex is 30 days. Not sure about other exchanges.

[2018-03-16 15:27] litepresence commented on #1228
these are four nodes listed in the gui that come up as "unreachable" but I believe they are simply malformed addresses, as I have contacted them thus:

wss://ws.winex.pro | Unreachable
wss://ws.winex.pro/wss | Available
wss://us.nodes.bitshares.ws | Unreachable
wss://us.nodes.bitshares.works/wss | Available
wss://eu.nodes.bitshares.ws | Unreachable
wss://eu.nodes.bitshares.works/wss | Available
ws

[2018-03-16 15:49] gibbsfromncis commented on #1334
@wmbutler Additionally I want to ask you to include `10 hours` for `UX` for @ahdigital to reward his work of new style-guide mentioned on this issue above. It was done without specific issue by his initiative but if I understand correct we're going to use it and all like it. Also this 10 hours include future fixes on style-guide in context of this issue which I may request from @ahdigital because

[2018-03-16 15:55] ahdigital commented on #1329
@wmbutler This is my first pass at simplifying the UI for the active permissions. Given that we're moving forward with ANT/style guide my mock ups will be based on that to save us re skinning later on.

Would be great to get some technical feedback from you and also @abitmore.

![image](https://user-images.githubusercontent.com/3088454/37530383-4f5f81c2-2931-11e8-8aee-677d97c6c8cd.png)

[2018-03-16 16:17] litepresence commented on #1228
regarding the 4 nodes above, I run them through my ping script... and they all connect without issue no matter what extension I use:

('ping:', '1.41', 'wss://api.bts.blckchnd.com')
('ping:', '1.57', 'wss://api.bts.blckchnd.com/ws')
('ping:', '1.55', 'wss://api.bts.blckchnd.com/wss')
('ping:', '1.49', 'wss://eu.nodes.bitshares.works')
('ping:', '1.46', 'wss://eu.nodes.bitshares.works/ws')
('ping:'

[2018-03-16 16:24] litepresence commented on #1228
ok disregard last finding, apparently UI is not ping testing nodes listed in "hidden" so that was all I was finding.  so much for that

[2018-03-16 16:37] svk31 commented on #1328
Could be a duplicate of https://github.com/bitshares/bitshares-ui/issues/1202

[2018-03-16 17:06] KINGdotNET commented on #521
Today (March 16) the create account still an issue using the https://wallet.bitshares.org
Anyone know where I can create my own account ?

[2018-03-16 17:11] diogogomes commented on #1329
@ahdigital I liked but is possible change de "agreement required" method with total number of accounts?

i.e: 2 of 3 accounts

[2018-03-16 17:14] gn1github commented on #1243
Please allow me to reopen this issue.

I found a few problems.

1.  I've added "buysell_formatter": "{asset} {direction}" to locale-ja.json on line 1151, but it is not reflected properly on frontend. Moreover, the asset name is gone on the buy-side box.

<img width="1112" alt="not-reflected" src="https://user-images.githubusercontent.com/36555761/37534580-96db47dc-2988-11e8-974a-5a99adc6a0be.png">

[2018-03-16 17:59] startailcoon commented on #1223
This will be an interesting task to do, but it's a great mockup and I hope to be able to go trough this task this milestone.

[2018-03-16 18:15] abitmore commented on #521
@xeroc restart faucet or the node? Perhaps the client (web browser) sent same request twice e.g. due to a refresh, so the second request will trigger that error?

[2018-03-16 18:24] KINGdotNET commented on #521
In my case, I've used two different computers same error message.

[2018-03-16 18:25] abitmore commented on #1329
@ahdigital looks good. By the way, how to add keys? Keys and accounts are combined in the core.

It's important that one should know what she's doing when putting herself in the list. In your case, account-name-01, if combined weight of other accounts is less than threshold, it would lock out the account.

[2018-03-16 18:29] abitmore commented on #521
@KINGdotNET try register one on https://openledger.io/?

[2018-03-16 18:34] abitmore commented on #17
@CryptoKong you can use the "specific" time, I think it will remember your last input?

[2018-03-16 18:49] diogogomes commented on #1263
@ahdigital, can you give your opinion regarding the light theme and your style guide? Thanks

[2018-03-16 19:28] KINGdotNET commented on #521
What is the difference between bitshares.org and openledger.io? Will I be able to login using my wallet to any of them or only to openledger.io where I created my account?

[2018-03-16 19:34] abitmore commented on #521
@KINGdotNET once created, the same account can be used everywhere. Perhaps you can try again on wallet.bitshares.org, I just successfully created an account. Make sure you don't have something special in the name. If you got an error, please post a screenshot here.

[2018-03-16 23:52] gibbsfromncis commented on #17
@abitmore actually it doesn't but I suppose it's nice idea

[2018-03-17 10:13] startailcoon commented on #1299
## Preview

I'm going for a change in how the Typeahead is displaying the account status.
Currently it's sending back the input, displaying the account status, which isn't a good idea as we've seen here.

The account status will instead be listed directly in the typeahead, like the following.

**NOTE THAT THIS IS NOT FINAL**

![image](https://user-images.githubusercontent.com/12114550/37554081-eaa

[2018-03-17 10:50] gn1github opened #1335 "[1.5] Cannot translate some English phrases"
As I could not reopen #1243, I am creating a new one to report some issues.

I found a few problems.

1.  I've added "buysell_formatter": "{asset} {direction}" to locale-ja.json on line 1151, but it is not reflected properly on frontend. Moreover, the asset name is gone on the buy-side box.

<img width="1112" alt="not-reflected" src="https://user-images.githubusercontent.com/36555761/37534580-96db

[2018-03-17 13:57] startailcoon commented on #1335
I'm taking this under my wings as I did the previous issue that wasn't possible to be opened by OP.

[2018-03-17 14:35] abitmore commented on #1132
This automation is a bit hard since https://github.com/bitshares/bitshares-core/issues/138 hasn't been implemented.

[2018-03-17 16:11] rokii666 commented on #1272
How to solve on Mac?

[2018-03-17 18:03] #1272 closed

[2018-03-17 18:07] wmbutler commented on #17
For modifications, open this as a separate issue. This one is closed.

[2018-03-17 18:08] gibbsfromncis commented on #17
This is issue for future discussions https://github.com/bitshares/bitshares-ui/issues/1331

[2018-03-17 18:08] wmbutler commented on #1263
@diogogomes please work with @ahdigital on UX acceptance. I think he is out for the next few days.

[2018-03-17 18:39] wmbutler commented on #1329
## Introduction
@ahdigital Thanks for the first pass on this. Dan built this in a very open manner. It's so flexible that it's easy for a user to be confused by it. One of the most confusing parts for me is the idea behind what constitutes a "threshold". Essentially we need to communicate to the user how various percentages add up to influence a successful transaction.

## Threshold
I see you chos

[2018-03-17 18:46] wmbutler commented on #1329
This is admittedly a terrible drawing but what I am trying to convey is that there is a threshold represented by the line and a combination of accounts with influence represented by the stackable bars.

![untitled drawing](https://user-images.githubusercontent.com/1254810/37558885-6647cd5a-29e9-11e8-96fb-d72d67c02b81.png)

[2018-03-17 18:49] wmbutler commented on #1243
Create a new issue. This one has already been paid.

[2018-03-17 18:49] diogogomes commented on #1263
@ahdigital, can you give me your opinion taking into account the light theme and the UI Style Guide? Thank you

[2018-03-17 18:51] wmbutler opened #1336 "[10][ahdigital] UX Ant Restyle"
Related to #1334

[2018-03-17 18:54] wmbutler commented on #1331
I think 1 year should be the default and users should be able to pick anything other than that manually.

[2018-03-17 19:01] wmbutler commented on #1330
Good point. Send modal needs to use the typeahead. UX needed. Don't change the legacy transfer since it's going away.

![screen shot 2018-03-17 at 2 00 11 pm](https://user-images.githubusercontent.com/1254810/37559002-9d4b4bc2-29eb-11e8-94d2-978f528555ee.png)

[2018-03-17 19:50] abitmore commented on #1331
1 year is OK, but don't say it's "never".

[2018-03-17 20:39] grctest commented on #1302
The page already only displays smartcoins, however if you mean identifying a smartcoin as active/inactive, then you could look for populated settlement value fields?

Are these fields populated in a global settlement scenario?

![image](https://user-images.githubusercontent.com/15861527/37559759-4887878a-2a23-11e8-85c2-6719d57d5325.png)

[2018-03-17 21:07] grctest commented on #1301
@wmbutler

![image](https://user-images.githubusercontent.com/15861527/37559821-64d8cd1c-2a24-11e8-8d10-c0d1870c6066.png)

Scenario:
I want to trade between two smartcoins, bootstrapping a non-liquid market, I have no in-client reference exchange rate, however we know the settlement value of both HERTZ and bitUSD - we could simply divide one by the other to provide approx settlement exchange rates

[2018-03-17 22:08] grctest opened #1337 "[.25] 'Find Market' sidebar tab target suggestion"
![image](https://i.imgur.com/iIGedlM.gif)

Currently, when you're focusing on the 'find market' side bar, after typing in the 'Quote Currency' the TAB key focuses on the top right account drop down, then the Asset name hyperlinks.

Would it be able to instead tab to the 'Asset Name' field?

Cheers 👍

[2018-03-17 22:46] startailcoon commented on #1299
## Final Results
#### Requested Hours: 5.5hrs

I've been required to rewrite most of the logic of the AccountSelector component since it wasn't working together with the Typeahead component, hence the higher requested hours.

Significant failsafe work has also had to be done to make sure nothing is broken in other parts of the app.

The AccountSelector now has a "selectedAccount" and a "inputName"

[2018-03-17 22:52] abitmore commented on #1301
@grctest I think using "feed price" is better. The "settlement" price is for force-settlement.

[2018-03-18 03:25] abitmore opened #1338 "[10] Performance improvement: calling set_subscribe_callback API with false"
I'm not sure if this will affect reference wallet: https://github.com/bitshares/bitshares-core/pull/725

[code]

Currently no limitation about the second parameter. However, in next bitshares-core release, by default API servers won't allow it to be set to `true`.

Please check.

[2018-03-18 09:54] startailcoon commented on #1299
There is some tricky aspects where the `<AccountSelector>` is in various sections of the app, that I've had to put some additional time in. I expect a final result to not be to far away and will submit a PR when it's done.

[2018-03-18 11:13] CryptoKong commented on #1331
I'd be happy with one year as a default setting, thanks for listening to my concerns guys, really appreciate it. Keep up the good work!

[2018-03-18 11:49] jonnybitcoin opened #1339 "Add active workers tab under the explore Tab"
When on the explore tab, you can see active witnesses and elected committee members.
Shouldn't we also be able to see active workers?

[2018-03-18 18:41] wmbutler commented on #1337
Pretty easy win.

[2018-03-18 18:42] wmbutler commented on #1339
Active workers are available under the voting tab. Do you think it's necessary to have 2 views?

[2018-03-18 18:43] wmbutler commented on #1331
I agree we shouldn't use the term "never"

[2018-03-18 18:44] wmbutler commented on #1299
Thanks. This is exactly the kind of meticulous work we need. Really happy with your work @startailcoon

[2018-03-18 18:48] wmbutler commented on #1301
I really think this could be interesting to have a "calculator" feature where the user could click it and it would provide the information needed to determine fair market value and even possibly display that as a graphical indicator on the market depth chart.

@ahdigital I'd love to see your thoughts on UX for this. Possibly it should be something that a use can toggle on or off.

[2018-03-18 19:01] startailcoon commented on #1299
I'm happy to do the work, and won't sign of unless it works as expect in all aspects of the app.

[2018-03-18 20:49] startailcoon commented on #1299
## Update

The Typeahead/AccountSelector is used widely on other parts of the app, so I've enabled some other parts of the app to use typeahead, while some other have not.

To enable typeahead, simply use `typeahead={true}`. Some legacy code may need to be worked on to enable it fully, but has worked out of the box on the onces I've used it one now.

## Legacy Send
![bitshares-typeahead_legacysend

[2018-03-18 21:00] startailcoon commented on #1299
I will update my hours tomorrow after I've checked all the code again and signed it of fully

[2018-03-19 07:04] svk31 commented on #1338
The GUI sets this to true via the bitsharesjs ChainStore here: https://github.com/bitshares/bitsharesjs/blob/master/lib/chain/src/ChainStore.js#L163

The consequence for the GUI of being connected to a node with this boolean set to false will be that certain parts of the GUI will go out of sync with the blockchain

[2018-03-19 07:40] gibbsfromncis commented on #1299
@startailcoon I suppose you should wait for merge of #1325 and then add User Contacts to typeahead.

[2018-03-19 07:47] ahdigital commented on #1336
Next elements to add to style guide:

- [ ] Sliders
- [ ] Breadcrumbs
- [ ] Form helpers

[2018-03-19 08:37] ahdigital commented on #1263
In my mock ups I've been using this:

![image](https://user-images.githubusercontent.com/3088454/37584099-06bb6f40-2b4c-11e8-838a-16ac72f6e3ee.png)

I don't have an issue with using a red circle as the identifier (without count) for new notifications as it's a common design pattern to do so. Combined with a bell icon the expectation of functionality should be clear.

The consideration raised about

[2018-03-19 09:05] abitmore commented on #1338
For example, for the code mentioned above (https://github.com/bitshares/bitsharesjs/blob/master/lib/chain/src/ChainStore.js#L163), theoretically we can set the parameter to false, after got response, call `get_objects(["2.1.0"])` again to subscribe correctly.

[2018-03-19 09:46] abitmore commented on #1338
Actually the `notify_remove_create` only affects notification of newly created objects and ID of removed objects, so `2.1.0` should not be affected since it's not new nor would be removed. After the `set_subscribe_callback` call, we should have code somewhere subscribing to `2.1.0`. Please check if this change will break other things.

[2018-03-19 10:34] startailcoon commented on #1299
Indeed, still waiting for your contacts changes. Nice work on that.

[2018-03-19 12:44] gibbsfromncis commented on #1339
@wmbutler sometime I wanted to take a look Workers tab and spend few minutes to discover it. If I remember correct "Explore" was first thing I opened

[2018-03-19 12:44] abitmore opened #1341 "[2] Can't vote"
In testnet, I own the account `abit-test`. I can vote with it in this page: https://testnet.bitshares.eu/account/abit-test/voting.

xeroc added my account to his active permissions, see https://testnet.bitshares.eu/account/xeroc/permissions
So I should be able to do anything for xeroc which requires active permissions. For example, I can do transfers.

However, I can't vote on behalf of xeroc, all

[2018-03-19 13:08] abitmore opened #1342 "[.25][HarukaMa] Fee schedule incomplete"
https://wallet.bitshares.org/#/explorer/fees doesn't contain all fees.

[2018-03-19 13:33] svk31 opened #1343 "[4] Reduce bundle size"
The compiled bundle size has grown a lot recently, main culprits are lodash, moment and zxcvbn

[2018-03-19 13:34] #1343 closed

[2018-03-19 14:21] abitmore opened #1344 "[.5] Remove transwiser.com"
The service has been closed long before. The URL is still in some source files, E.G. https://github.com/bitshares/bitshares-ui/commit/f6de8cce64c00471cc4abefe862d2d18fd81305a#commitcomment-28157137

[2018-03-19 14:51] tbone-bts commented on #1331
A standard order option in trading UIs is GTC ("good til cancelled").  If that is problematic for some reason, then 1 year seems reasonable enough, although it would probably be helpful to somehow warn users if/when they have trades that are getting ready to expire.

By the way, the calendar is getting cut off when the order form is near the bottom of the screen:

![order_expiration_ui](https://us

[2018-03-19 14:54] ahdigital commented on #895
For the account name (cloud wallet) login, do I need to retain existing functionality whereby we have:

1. Identicons
2. Text to denote 'basic account' / 'lifetime' member?
3. '+' icon to add account as a contact

For points 2 and 3, I've personally never used this and the first time I saw it I was confused..but others might find it useful. Does anyone have any insight?

[2018-03-19 15:48] svk31 commented on #1338
We can't really turn it on or off, set_subscribe_callback is a global call and is only called once, on app initialization. Without the subscribe callback the GUI receives no notification for any objects. Without notify_remove_create, the GUI receives no notification about deleted orders, new orders, new margin positions etc.

get_full_account has a per account subscription model that the GUI does

[2018-03-19 17:18] abitmore commented on #1331
Some ranting here.. GTC is a feature, but not a must. In traditional exchanges, when you places a GTC order, usually the order's life time is actually "keep it open until the market closes today (or this week)". Crypto exchanges like bittrex did have the GTC option, but they've moved away from that.

[2018-03-19 17:29] abitmore commented on #1338
I'm not talking about stop calling the whole `set_subscribe_callback`, but only about the `notify_remove_create` parameter. So we analysis it case by case.

IMHO, deleted/filled orders, new orders and position changes should be notified if
* subscribed to an account that is impacted by those operations, or
* subscribed to the specified market (which is another call `subscribe_to_market`).

Once we

[2018-03-19 19:09] startailcoon commented on #1335
### 1:
**Solved in PR #1345**

### 2:
The upper section of this translation should be done in `app/help/en/components/DepositWithdraw.md`. Copy this file to the `app/help/ja/components` folder and apply your translation there.

The lower section was hardcoded by OpenLedger in their Withdraw/Deposit component.  **Solved**

### 3
Same thing applies here, as the translation is done in the file `app/h

[2018-03-19 20:04] svk31 commented on #1338
I agree with your points about how it should ideally work.

Setting it to false and seeing what breaks is not as easy as it sounds though, as the changes could be subtle, it can be hard to tell if something doesn't change that should have. As is the GUI depends on that boolean and will break without it.

Are you able to make a list of what types of objects are affected by the boolean?

By the way

[2018-03-19 20:18] abitmore commented on #1338
@svk31 as the in-code comment quoted in OP, if the boolean is set to true, API server will push **every** newly created object to the client, no matter whether the client explicitly subscribed, thus the "spamming" as you described. This ticket is for fixing this. The correct way is to set it for false. By setting it to false, API server will only push subscribed data to client; e.g. if you subscri

[2018-03-19 20:19] wmbutler commented on #1331
I agree that GTC is not a must. It's inexact and misleading. Thanks for the bug report on the calendar. I think we can work both of these items as part o this issue. Added 1 hr because I know how these positioing issues can be a PITA.

[2018-03-19 20:21] wmbutler commented on #1338
@abitmore do we need to tell nodes to set the boolean to false in combination with our UI work?

[2018-03-19 20:26] wmbutler commented on #895
- I like: Use different file
- Not a fan of identicons. I do not think they enhance security since identicons can be very similar to one another
- I don't see how the basic/lifetime is relevant at this particular point
- I don't see the value of the follow at this point either

[2018-03-19 20:28] wmbutler commented on #1342
Can you detail fees needed to make this complete?

[2018-03-19 20:29] abitmore commented on #1338
@wmbutler no, we won't ask API servers to do anything. Before UI get fixed, back end should always allow the parameter to be set to `true`.

[2018-03-19 20:34] wmbutler commented on #1263
A suggestion:

- Clicking on the bell notification marks everything as read.
- All items remain in the list paged 25 at a time

[2018-03-19 20:51] ahdigital commented on #1263
And then they are removed from the drop down?

[2018-03-19 21:26] abitmore commented on #1338
@svk31 regarding filtering on client side, since the backend uses bloom filter which uses less RAM but naturally has false positives, the server will push a few unsubscribed data to client, so the client still need to do filtering. But that data should be limited to certain data types if set_subscribe_callback is called with `false`.

[2018-03-19 21:31] abitmore commented on #1342
The relatively new operations.

The one missing since 2016 is claiming accumulated fee.

The other is `bid_collateral` added with BSIP18.

And we'll add more operations with next hard fork.

[2018-03-19 23:28] wmbutler opened #1346 "When socket does timeout do some housekeeping"
- [x] Do not issue get_objects call
- [ ] Do not issue get_ticket call

[code]

[2018-03-19 23:29] wmbutler commented on #1342
- [ ] claim accumulated
- [ ] bid_collateral

[2018-03-19 23:50] abitmore commented on #1342
As of now, we haven't explicitly specify an bid_collateral fee on the live chain, so call_order_update fee is used for it, which is hard coded in the core. The committee can explicit set the fee, but not done yet: https://github.com/BitShares-Committee/proposals/issues/4.

[2018-03-20 00:24] abitmore commented on #1338
@wmbutler : please feel free to assign this issue to other devs if @svk31 is too busy. I assigned it to him just because I thought he knows the most.

[2018-03-20 01:09] wmbutler commented on #1338
@abitmore thx. I removed @svk31. He can of course choose to claim it. Thanks for your help here. Really pushing issues that lead to performance increases.

[2018-03-20 07:47] ahdigital commented on #1330
We can use the input group component from ANT design to have a typeahead for the currencies inline with the quantity field.

![image](https://user-images.githubusercontent.com/3088454/37641606-5918cdc0-2c12-11e8-8623-81825191b641.png)

I removed the BS logo and reduced the amount of text from the modal header also.

[2018-03-20 08:25] sschiessl-bcp commented on #1283
Thanks to @gibbsfromncis for his commit addressing the core issue.

[2018-03-20 08:44] ahdigital commented on #895
Thanks for the confirmation. So, based off of the wireframes and using ANT design system I have put together this mock up.

![login types modals](https://user-images.githubusercontent.com/3088454/37644177-da151afc-2c1a-11e8-8be3-f8f044e40858.png)

[2018-03-20 13:43] wmbutler commented on #1330
Need this claimed to work now that UX is complete.

[2018-03-20 15:21] gn1github commented on #1335
Thank you for your help.

I have created a pull request, #1348.

[2018-03-20 16:08] startailcoon commented on #1335
You're welcome @gn1github

Note the new translation variables I've created on https://github.com/bitshares/bitshares-ui/pull/1345/commits/1df997849156d8cd2d809eb1b4f5a247d8f99ab2

[2018-03-20 16:09] ahdigital commented on #30
I started working out the scope for this issue, and I read this:

And looking at the API documentation for the class it's definition is:

I think the issue title 'recurring payments' will be a poor UX choice because it suggests payments can be scheduled and automatically sent and I don't think this will be possible. Can someone confirm?

If it's not possible it raises these questions:

1. What can

[2018-03-20 17:27] xeroc opened #1349 "[0.5] workers with id > 100 not shown!"
workers now carry ids > 1.10.100 ... non of them are listed in the UI voting section!

[2018-03-20 17:32] HarukaMa commented on #1342
I was trying to squeeze this into a previous PR but didn't make it. I've added fee claiming already in my private fork.

I could push it to official UI.

This is a relatively minor fix and I think 0.25, or even 0.1 is enough.

[2018-03-20 18:28] #1349 closed

[2018-03-20 18:51] startailcoon commented on #1349
This is a quick fix for loading more Workers by ID.

A better way would be to implement the new object calls documented here, https://github.com/bitshares/bitshares-core/pull/352

[2018-03-20 19:20] oxarbitrage commented on #1338
as @svk31 said there were efforts in the past to improve the subscription system but it is still not working properly. i requested test cases in the node side to fix this problem or at least being able to fully understand the limitations.

[2018-03-20 20:55] litepresence commented on #1228
I realize ideal is "understanding what the root causes of disconnections" and stopping that from happening.   However, when node goes down and app displays "lost connection" why even display that? why not just ping each of whitelisted nodes again... find fastest node and reconnect?  Why wait for user to initiate that manually?

[2018-03-21 08:05] ahdigital commented on #1284
Thanks for the tips. In this revision, I've removed the 'remove' button and added 2 additional dummy proposals to represent the scenarios described.

![proposed transactions v3](https://user-images.githubusercontent.com/3088454/37699230-7b88237a-2cde-11e8-9c33-f84e0b7ca0f1.png)

**1.10.8740**
Shows a proposal that failed, and where the user previously neither approved or rejected but can trigger a

[2018-03-21 09:21] #1110 closed

[2018-03-21 09:44] ahdigital commented on #1329
@wmbutler I've updated the visuals to include:

- Terminology change; Agreement threshold > Influence threshold
- Added [?] to trigger tooltip explanation
- Added a 'at a glance' summary section
- Added a modal window with detailed visual confirmation*

![active permissions v2](https://user-images.githubusercontent.com/3088454/37702993-2c49578a-2cec-11e8-91cd-a4b6af534f33.png)

![active permission

[2018-03-21 09:49] ahdigital commented on #1330
Bearing in mind that the ANT integration isn't yet complete, shouldn't we wait for development?

[2018-03-21 10:40] sschiessl-bcp commented on #1346
When did this timeout happen for you?

[2018-03-21 11:17] gn1github commented on #1335
Added Openledger translation on locale-ja.json.
Pull request #1351 created.

[2018-03-21 16:40] abitmore commented on #1284
Thanks for your efforts.

The action "approve" means adding an approval (turn on the "v" icon) to the proposal, "reject" means removing an approval (turn off the "v" icon). So,
* if the proposal is not approved by anybody, people can only add approval, or say, can only approve;
* if the proposal has been approved by somebody, people can reject or approve.

However, it's more tricky than that:
* an

[2018-03-21 18:14] startailcoon opened #1352 "Implement "get_all_workers" for voting section"
Today we call getObject by running trough all objects in the 1.14.xxx section.
The Bitshares-core has since an while a API call to fetch all workers.

This can be called by, for example
[code]

[2018-03-22 09:40] #1335 closed

[2018-03-22 12:52] svk31 commented on #1332
Done: https://github.com/bitshares/bitshares-ui-style-guide

[2018-03-22 12:52] #1332 closed

[2018-03-22 12:53] svk31 commented on #1352
https://github.com/bitshares/bitshares-ui/commit/acd83b2cf38893e7ca3a041766f509af2a5faf00

[2018-03-22 12:53] #1352 closed

[2018-03-22 13:06] svk31 commented on #1338
https://github.com/bitshares/bitsharesjs/commit/943539b6e4140997bff384c2c57d9d1d2220f6ae

[2018-03-22 13:20] svk31 commented on #1338
Setting the boolean to `false` doesn't appear to make much of a difference, I still get spammed with 2.8.x and 5.1.x and 5.2.x objects for example that I have no interest in.

[2018-03-22 15:01] TBAPI-0KA commented on #984
It's completed now, can be closed.

[2018-03-22 18:30] startailcoon commented on #1223
## Current Progress

There is still work to be done, but here is an update on the progress

### A few notes
- When a user toggles auto OFF the app will stay on the current node it has, but view the full list
- When a user toggle auto ON the app will connect to the automatic node selection, choosing the best node and hide the full list

![bitshares-nodes](https://user-images.githubusercontent.com/1

[2018-03-23 06:36] svk31 commented on #1329
This looks very nice, but I'd like to point out an issue that most people don't realize about how multi-sig setups work in Bitshares.

In order to sign a transaction, an account needs to have an active authority above the threshold, in the example above that would be 51%. So any account being included as part of a multi-sig setup needs to fully control itself, meaning it cannot itself be a multi-a

[2018-03-23 07:06] smogm opened #1353 "[.5] Give user feedback on establishing node connections"
At the moment the user can not see whether the UI is just "freezed" or doing something in the background.
Especially when starting the DEX UI you will see a full grey screen for a few seconds (5-10, sometimes even longer) without knowing what's happening behind the scenes.

Only opening the browser development tools and console shows you that the code is trying to determine and connect to a witnes

[2018-03-23 13:44] KINGdotNET commented on #521
@new-bot like @abitmore suggested, you the other website  https://openledger.io/ to create your account. It works for me.

[2018-03-23 14:07] #1283 closed

[2018-03-23 14:07] sschiessl-bcp commented on #1283
Resolved with https://github.com/bitshares/bitshares-ui/pull/1347

[2018-03-23 14:09] sschiessl-bcp commented on #1223
Great progress here!

I have been digging through routerTransition and refactored it a bit while working on #1228. There will be an easy way to recreate the ping for all nodes. Maybe you could add a button for that and leave it disabled, I can fill in the logic then.

[2018-03-23 19:17] abitmore commented on #1338
The data pushing might be triggered by something. By default if the boolean is set to `false`, no data will be pushed.
* `2.8.x` is `impl_block_summary_object_type`, which can be used to fill TaPos fields when signing transactions, but I'm not sure if UI is subscribing to it
* `2.9.x` is account history object
* `5.1.x` is `bucket_object_type` in market history plugin, aka data for candle chart
*

[2018-03-24 07:52] svk31 commented on #1338
OK, we do use the 2.9.x objects but none of the others are used by the GUI.

I've been doing quote a bit of testing with the boolean set to false and it works much better than I expected. Both new/changed margin positions show up correctly, and placing and cancelling orders works fine as well. I'm OK with us setting it to false in staging in the GUI for now, which will allow developers and testers

[2018-03-24 08:14] startailcoon commented on #1223
@sschiessl-bcp @ahdigital where should such a button be placed?

[2018-03-24 08:34] startailcoon commented on #1223
@ahdigital Do we have an iconset for the connected/disconnected icons?

[2018-03-24 09:11] startailcoon commented on #1223
![image](https://user-images.githubusercontent.com/12114550/37862351-afff7c7e-2f4b-11e8-9711-02b379b814e5.png)

[2018-03-24 10:46] ahdigital commented on #1223
Typicons is what I have suggested on the style guide.

[2018-03-24 11:04] startailcoon commented on #1223
### Regarding the popup
- Should it contain the current connected node?
- Should it display the "Automatic select node" toggle?
  - Always or only when off/on?
- How many nodes should be displayed?
- What nodes should it display?
  - Visible/Hidden/Private?

[2018-03-24 12:54] startailcoon commented on #1223
# Popup Preview
This is a preview of the work done so far. Some styling is still required, but functionality is complete.

![bitshares-nodes_popup](https://user-images.githubusercontent.com/12114550/37864130-d0b20d14-2f6a-11e8-9a75-6011d0bdde1a.gif)

[2018-03-24 14:13] wmbutler commented on #1283
@gibbsfromncis do you need to credit for this?

[2018-03-24 14:20] wmbutler commented on #1329
Does this mean that the current account, account-name-01, is not eligible to be part of its own multisig?

[2018-03-24 14:21] #984 closed

[2018-03-24 14:27] wmbutler commented on #1284
@ahdigital @startailcoon just keep adding hours as needed. We support this effort.

[2018-03-24 14:30] wmbutler commented on #1346
@sschiessl-bcp this happens on a regular basis for me on 180315.

[2018-03-24 14:33] startailcoon commented on #1299
Updated to support new `Contacts` instead of old `Linked Accounts`.

[2018-03-24 14:35] wmbutler commented on #1330
Sure, @gibbsfromncis which sprint should I place this in to coincide with ANT installation?

[2018-03-24 14:38] wmbutler commented on #1228
@litepresence I agree in principle with what you are saying. To some degree, it's good to feel the pain of having to manually connect in order to force us to fix the underlying problem, but I do see your point and it is valid.

[2018-03-24 14:40] wmbutler commented on #1342
@HarukaMa it's yours

[2018-03-24 14:43] wmbutler commented on #30
@ahdigital I think @ryanRfox and his team could be helpful in this conversation.

[2018-03-24 14:59] gibbsfromncis commented on #1283
@wmbutler nope, thx.

[2018-03-24 15:02] gibbsfromncis commented on #1330
@wmbutler please put this task to the next sprint. I suppose we should finish ant integration in 2 weeks

[2018-03-24 15:32] ahdigital commented on #1329
I think that is the case yes.

[2018-03-24 15:43] gibbsfromncis commented on #1263
@ahdigital the idea is to use like on a facebook - you just click and red circle disappears and that's it. You can anytime open dropdown by click on the bell and see the previous notifications.

[2018-03-24 15:47] gibbsfromncis commented on #1263
@wmbutler would you like to use notifications for price alerts only? I suppose it would be good to use it for any activity. Also it would be helpful to notify user about expired trades (https://github.com/bitshares/bitshares-ui/issues/1331#issuecomment-374294006)

[2018-03-24 15:49] gibbsfromncis commented on #1331
@tbone-bts please submit new issue for notifications about expired trades and we will think how to implement it on the best way

[2018-03-24 17:55] abitmore commented on #30
- What about 'Grant Funds'?

Good question. The answer is no, the remaining funds won't be withdraw-able in next period.

No.

Should be possible.

[2018-03-24 18:03] abitmore commented on #1329
The backend doesn't check it. In original design the client software is responsible for detecting cycles (see https://bitshares.org/technology/dynamic-account-permissions/), but none of our client software has done that. There are quite some accounts been locked out: https://github.com/bitshares/bitshares-core/issues/269.

[2018-03-24 18:54] wmbutler commented on #1329
ok, so the UX needs to explicitly show that:

- [ ] The current account is not part of the percentage selection. "I understand that this account (account_name) will no longer have control over any assets within it once complete. Instead, the accounts chosen below will have cosigner (multisig) rights based on the percentages chosen below.

- [ ] For housekeeping, we should set the value to the curr

[2018-03-24 18:55] wmbutler commented on #1329
General thought. I think the propose term is technical. I think we should discuss the terms co-sign and/or multisig instead.

[2018-03-24 19:55] gibbsfromncis commented on #999
@wmbutler I've added "QRScanner" component so anyone developer can use it. It's a button and when  user click on it modal with camera appears. User can close it manually or it closes when QR scanned success.

Video - https://drive.google.com/file/d/1BnG3aig0t6X7BKioIDdun7vMZuaL0bBi/view (sorry, service for video converting into gif is unavailable right now)

[2018-03-24 19:59] gibbsfromncis commented on #999
@startailcoon When you start to work on QR codes please make sure you use HTTPS server (https://localhost:8085) instead of http because mobile browsers policy disable camera on http.

[2018-03-24 20:03] gibbsfromncis commented on #1173
@svk31 as this task already merged I'm closing this one.

[2018-03-24 20:03] #1173 closed

[2018-03-24 20:08] gibbsfromncis commented on #1089
@wmbutler I do not like this issue but I do not have time for this low priority task. Should I close it or unassign myself?

[2018-03-24 20:09] gibbsfromncis commented on #422
@diogogomes What about now? Are you ready ?

[2018-03-25 00:13] startailcoon commented on #1223
Small modification for mobile compatibility

![](https://i.imgur.com/cSc4iOw.jpg)

[2018-03-25 00:36] startailcoon commented on #1223
I have not done any disconnected logic as I think it falls outside the scope of this UI task. There are work done with this in other issues and I think it's best to wait for the result of these.

[2018-03-25 00:48] wmbutler commented on #30
Assuming this would be set up like a common bill payment flow:

- [ ] Set authorized recipient (account with authority to request funds)
- [ ] Set authorized amount
- [ ] Set frequency: Monthly (default), Weekly, Yearly, Daily, manual date picker to manually set windows.

Monthly window would be 2018-01-01 - 2018-02-28 etc...

[2018-03-25 00:54] wmbutler commented on #1263
I think we build it into the browser notifications.

[2018-03-25 00:56] gibbsfromncis commented on #1263
@wmbutler sure. But we will keep bell icon on header, right? If yes, what kind of notifications are we going to display there?

[2018-03-25 01:20] wmbutler commented on #1263
I would suggest that we keep a master list of all notifications we intend to display and ensure that when we add a new notification, we make sure it gets handled at the bell icon and, if the user has browser notifications, at the browser level. The user will have the ability to activate and deactivate all notifications that we have chosen to implement.

This is what is in the current client:

![sc

[2018-03-25 09:45] startailcoon commented on #1244
This task will be part of #1275 and #1276, as they are currently not included in the GatewayStore() functions. The providers have built their own functions part of AccountDepositWindraw.jsx

[2018-03-25 09:55] startailcoon commented on #1276
Extended this issue to include Deposit as well.

GDEX will require some work since their API isn't sending the data back as the others are. Their JSON structure will have to be compiled to something that we commonly use for the other backers.

[2018-03-25 10:10] startailcoon commented on #1244
### Question
The issue are facing today is that previously (most) backed assets where updated and stored when the user navigated to the Deposit/Withdraw page. This page stores the data in `GatewayStorage()` which can later be fetched in other sections of the app.

Today we're moving away from that page with the new Modal structure, thus facing two issues
1. Backed assets aren't updated as the user

[2018-03-25 10:42] abitmore commented on #1089
Actually this needs UX.

Just writing some thoughts here:

* [ ] have an icon, or a symbol (e.g. `!`, `*`, `+` etc) with tool tip, or font/background color, or something else to **clearly** indicate the browsing account is
  * my account
  * my linked account
  * my contact
  * other

I remember in older versions a blue name means my account or linked account, a white name means others.

* [ ] hav

[2018-03-25 10:58] abitmore commented on #30
The back end is based on `seconds`. So, daily and weekly is OK, but monthly and yearly is a bit tricky. E.G. need to set `365.25*86400` seconds aka `365.25` days for a year, and `365.25*86400/12` seconds aka `30.4375` days for a month, that means a user may probably find herself be charged twice in a month and etc.

[2018-03-25 13:07] gibbsfromncis commented on #1263
@wmbutler Got it. When you approve UX let me know about start of code part please. Also I would like to update estimate of code part task.

@diogogomes Please do not forget to provide some controls to add/remove notifications for pair of assets. For now I see only how to display Price Alerts but I do not understand where user can create/remove alerts.

[2018-03-25 14:31] gibbsfromncis commented on #1331
PR #1357

[2018-03-25 14:31] gibbsfromncis commented on #999
PR #1355

[2018-03-25 14:38] calvinfroedge commented on #1346
@wmbutler @svk31 I think I'm on the right track here but not sure... https://github.com/bitshares/bitsharesjs-ws/pull/15

I think that will prevent this showing up in the error logs...``` "app.js:45 !!! GrapheneApi error:  get_objects Array(1)0: ["2.1.0"]length: 1__proto__: Array(0) Error: connection closed"```

One issue in the bitshares-ui with cleaning up the other errors is that there is code

[2018-03-25 15:03] calvinfroedge commented on #1344
Resolved by #1358

[2018-03-25 16:13] calvinfroedge opened #1360 "[2] Logout does not work"
User cannot logout of bitshares wallet without totally clearing all local storage. When I click logout I expect to be able to initiate a new session with a new username. This is not possible unless I clear all local settings via the developer console.

![update](https://user-images.githubusercontent.com/632938/37877241-8bbb1864-301d-11e8-9745-3c46c3e2d15a.gif)

[2018-03-25 16:44] calvinfroedge commented on #1360
The following sequence of actions seems to create a "totally unauthenticated state":

[code]

This results in me even needing to reimport my wallet backup file to be able to login again. So I guess my question is this...I would expect a logout to produce a completely unauthenticated state such that no data about my account can be seen on the screen once I press the logout button. Am I wrong in my

[2018-03-25 16:48] wmbutler commented on #1360
This is pretty serious. When did this get introduced?

[2018-03-25 16:51] wmbutler commented on #1346
Keep exploring. Ideally, we want to (a) supress this error (b) perfom a graceful reconnect when the node senses it has disconnected.

Also, it's important to have logs about disconnects while figuring this out. Maybe like:

Disconnected from node x.x.x at 12:45:00 am UTC
Connect to node x.x.x at 12:47:00 am UTC

[2018-03-25 16:55] wmbutler commented on #1289
@calvinfroedge I'd amend this slightly. Your PR states that it autoselects the gateway from the largest balance if there are multiple. I think it's more prudent to display:

Select Gateway...

Then the user can choos which gateway to extract funds from. If there is only one gateway with funds, then you would auto-select.

[2018-03-25 16:56] wmbutler commented on #1263
@diogogomes also, make sure you follow the (in progress) style guide being fostered by @gibbsfromncis and @ahdigital

[2018-03-25 17:06] calvinfroedge commented on #1192
Ok, so I think what was going on here is this (please confirm if not accurate or if I've discovered another path to the same result):

1) @pnomolos Was attempting to add a Cloud Wallet account from a Local Wallet account

2) He started by changing the "login option" under settings to be "cloud wallet".

3) He then went to the accounts page and was able to click the "Create Account" button because

[2018-03-25 17:09] calvinfroedge commented on #1360
Not sure, but I think it may have to do with the iDB / Web SQL, which I think is fairly new. I discovered this while exploring #1192

It may be helpful to show a confirmation before completely killing the session as doing the above (totally clearing local persistence) will result in needing to reimport the wallet backup.

[2018-03-25 17:11] calvinfroedge commented on #1346
I'd kind of like to have @svk31 opinion before getting too serious about this...`Apis.instance().db_api()` is strewn all over the place so fixing these sorts of issues could mean touching a lot of files.

[2018-03-25 17:12] calvinfroedge commented on #1289
@wmbutler Since the withdrawal modal is auto selecting the largest balance (which usually just means above 0 balance), I think what's best here is to let the deposit modal pass an alternative callback function to decide which gateway it wants. Updating this now.

[2018-03-25 17:15] ahdigital commented on #1360
Pretty sure has been the behaviour since at least January.

[2018-03-25 17:17] calvinfroedge commented on #1360
Anyway, I've essentially already identified the fix (how to totally kill the logout). What do you guys think about adding a confirmation on logout in local wallet mode to make sure people don't logout without realizing they need to download their backup file first? In cloud mode it doesn't really matter.

[2018-03-25 17:36] calvinfroedge commented on #1289
PR Updated...shared gateway selection code can now accept an override function...gateway will be auto selected in deposit modal if there is exactly 1 choice, otherwise user will need to select.

[2018-03-25 17:46] calvinfroedge commented on #1190
We had previously decided to disable incognito mode altogether (in fact I wrote that code) and that got overturned somehow. Really need clear input / direction on how to proceed here. Should we just be putting warnings in certain places? @wmbutler I can put in some simple UX if you just want me to proceed on this part:

`needs a warning in between advanced form and the local wallet creation screen

[2018-03-25 17:51] calvinfroedge commented on #1190
@wmbutler If you can tell me whether we should disable incognito altogether or only show dismissable warnings at certain points (please tell me where) I can just knock this out.

[2018-03-25 17:53] calvinfroedge commented on #1328
Would really need clear reproduce steps in order to resolve this

[2018-03-25 17:56] calvinfroedge commented on #1288
@ahdigital bump

[2018-03-25 17:58] gibbsfromncis commented on #1026
PR: #1361

[2018-03-25 18:17] wmbutler commented on #1328
@calvinfroedge you need to have assets that update frequently. Maybe you can observe some accounts with bitUSD, BTS, bitCNY. Sort them and just watch them shift as the values change. I'll add time if it takes time to reproduce but in my experience it was easy to see in under a 2-5 minute span.

[2018-03-25 18:19] wmbutler commented on #1190
It's a bad idea to disable incognito, especially for the cloud wallet where it's perfectly acceptable. In the case of the local wallet (key file), it's really dangerous because a use who creates a local wallet account under incognito and then fails to download that key file will permanently lose access to their account.

[2018-03-25 18:25] wmbutler commented on #1192
@ahdigital I'd like your input here and would appreciate your UX skills on what I believe is a fairly important issue.

[2018-03-25 18:28] wmbutler commented on #30
Monthly will be by far the most heavily used range. Seems that the backend should be based on date ranges. Is this negotiable with the core team?

@ryanRfox

[2018-03-25 18:30] svk31 commented on #1360
You're confusing cloud and wallet modes. In your licecap you're using wallet mode, there's no way to log out of a wallet, you only lock or unlock them. To switch wallets or create new ones, use the Wallet menu in the settings.

[2018-03-25 18:33] wmbutler commented on #1089
I'm struggling with this. @abitmore are you suggesting that a user might not already know the status of the account name at the top? I have quite a few accounts and I know the status of the ones that I own.

We have a really simple account switcher (probably could use a typeahead eventually for extreme cases, but beyond that I'm not sure if we can make it much easier.

Agreed with not disabling fe

[2018-03-25 18:35] wmbutler commented on #1360
I see. ok, so yeah we have a twofold issue here. A user may want

1. Logout and retain their account name
2. Logout and clear the account name

We need UX to handle these cases gracefully and terminology to support it. @ahdigital

[2018-03-25 18:36] calvinfroedge commented on #1360
@svk31 Well this was certainly confusing me to say the least. I was trying to log out of wallet mode so I could log into a cloud wallet.

@wmbutler Posted another licecap, this is not locally, it's on live server. If I am in cloud wallet, I expect to click the logout button and refresh the page and see no reference to my first account. If I am in local wallet, I expect to actually be able to log o

[2018-03-25 18:38] wmbutler commented on #1244
I need some help understanding the purpose of updating backed assets. What information are we receiving that must be acted upon? Thanks for helping me understand this.

[2018-03-25 18:41] wmbutler commented on #1360
@calvinfroedge It's a public blockchain. Anyone can navigate to your account to see all readonly info.

I use the local wallet exclusively and I would not be a fan of having my username lost on logout.

Regarding the cloud wallet, I can see a case for (a) keeping the account name stored or (b) clearing it so I could login to a different cloud wallet.

[2018-03-25 18:42] calvinfroedge commented on #1360
@wmbutler What if you want to switch between cloud wallet and local wallet? Is that something no one will ever do?

[2018-03-25 18:47] wmbutler commented on #1276
Let's reach out to @mindphlux1 and see if he would consider an API that matches the one others are using first.

Would you consider making your API (possibly an additional version of it) match the API for the other gateway providers?

[code]

[2018-03-25 18:53] abitmore commented on #30
Currently the chain doesn't handle dates, it's perhaps possible to do so, but I think it's a bit too complicated. Actually, if you're concerned about dates, you'll also be concerned about time zones, Daylight Saving Time and etc.

[2018-03-25 18:56] wmbutler commented on #1360
@calvinfroedge I'm sure there is a case for that, but I'm not sure what it looks like from a UX standpoint. It's dicy because I don't know if we are forced to clear out the localstorage items associated with the local wallet while using the cloud wallet.

It would be pretty cool if the user could switch to the cloud wallet, login and do what they needed to do then switch back to the local wallet w

[2018-03-25 18:59] wmbutler commented on #30
@abitmore Dates make business world go around. We would store dates in UTC of course. This is not a new problem. I just want to underscore the importance of this feature in the business world. If we do this perfectly, it will get used. If we don't it won't and monthly bills are the most common.

[2018-03-25 19:03] abitmore commented on #30
If it really makes sense, get someone write a BSIP first.

[2018-03-25 19:08] wmbutler commented on #30
@ryanRfox going to leave this to your team.

[2018-03-25 19:25] calvinfroedge commented on #1317
I actually think it's better to set a minimum width on the whole table (including the headers) rather than just on the table contents as the chart is harder to read if the label and contents aren't matched up. Otherwise, this PR implements as suggested:

https://github.com/bitshares/bitshares-ui/pull/1362

![update](https://user-images.githubusercontent.com/632938/37879065-04998f44-3038-11e8-9b3a-

[2018-03-25 19:35] wmbutler opened #1363 "[3][dot5enko] Display URI instead of address in QR Code for Deposit Beta"
We currently display the address for the asset we want to deposit embedded in a QR code. This is a good first step, however, ultimately we want to be able to include more detailed information. One looming problem is that URI's are unfortunately assembled using the full name of the asset `bitcoin:` instead of the abbreviation `btc:`. Unless I'm missing something, this poses a particular problem for

[2018-03-25 19:48] wmbutler commented on #1317
@ahdigital should I credit you for any UX time on this?

[2018-03-25 20:19] startailcoon commented on #1244
For implementing GDEX and Winex, for example.

With backed coins I mean the coins called WIN.xxx or GDEX.xxx for example.

Maybe that wasn't clear in my previous statement.

[2018-03-25 20:47] ahdigital commented on #1317
Nah, I didn't do anything.

[2018-03-25 23:38] abitmore opened #1364 "[1] Request timed out after 5000ms with object ids: ["0:309","0:354"]"
When browsing to https://wallet.bitshares.org/#/account/jademont/voting, this error will show in dev console after a while:
[code]

In the meanwhile, some committee members e.g. "jademont" and "clockworkgr" are not showing In the page.

[2018-03-26 00:07] litepresence commented on #1228
https://pastebin.com/0YWD0Qn2

[2018-03-26 06:14] clockworkgr commented on #1364
For me, the error is :

`Uncaught (in promise)  request timed out after 5000ms with object ids: ["1:26","1:27","1:28","1:30","1:31","1:32","1:38","1:44","1:45","1:56","0:82","0:85","0:87","0:91","0:112","0:141","1:143","0:147","0:173","1:190","1:196","1:212","0:213","1:214","0:215","1:216","1:218","0:223","1:235","2:244","2:246","2:251","1:253","2:258","2:260","2:262","2:264","2:266","2:269","1:27

[2018-03-26 08:43] sschiessl-bcp commented on #1284
If #732 gets accepted, the UI could also provide a history of proposals (if the backend node has the plugin active).

[2018-03-26 09:29] ahdigital commented on #1284
@abitmore - Are the combinations in your example correct?

account-e and account-f aren't listed in owners authority list.

account-c and account-d aren't listed in active authority list.

---

I've been talking this through with @sschiessl-bcp and it seems that a proposal cannot be approved by combining authorities from different permission groups. E.g. Active and owner permission groups are sepa

[2018-03-26 09:42] sschiessl-bcp commented on #1284
I might have also misunderstood it, I am not too familiar with the actual backend logic there, abit is much more qualifed.

Anyways, assuming that you have
`A owner permission is (threshold=2, account-c, weight 1, account-d, weight 1)`
`A's active permission is (threshold=2, account-e, weight 1, account-f, weight 1)`

then I thought the follwogin combinations give
- c's active + d's active: not ap

[2018-03-26 09:50] abitmore commented on #1284
No, owner permission of c or d is not required, it's owner permission of a that is qualified for approve the transaction, by setting c and d as a's owner cosigner, c and d can sign with their own owner or active keys to do things that requires a's owner or active permission.

[2018-03-26 09:54] abitmore commented on #1284
Easy to test in testnet. There do have some scenarios affected by https://github.com/bitshares/bitshares-core/issues/584.

[2018-03-26 09:57] sschiessl-bcp commented on #1284
Oh I see. I thought that granting owner permission also requires owner permission of the cosigner accounts, but was just my hunch and not backed by actual backend knowledge. Thanks for clarification @abitmore

[2018-03-26 11:25] ahdigital commented on #1284
So, what's the final correct set of combinations for the example above?

[2018-03-26 14:17] wmbutler commented on #1223
Just to clarify, a low latency node is a good thing. Making sure you have your terminology straight @ahdigital

[2018-03-26 14:22] wmbutler commented on #1244
Seems like we should just call all of them once when we load the client and then only call them when the deposit/withdraw legacy and new endpoints are called subsequently. I don't see why we should call them outside of those situations.

[2018-03-26 14:41] startailcoon commented on #1244
Yeah, good point.

1. Call Backers API when the app loads, and store in cache
2. Update cache when Withdraw/Deposit/Buy modals are loaded to make sure we can do the requested action.

I will work from this perspective onwards and find a good solution.
Hopefully we'll have less unessesary calls and a more unified way for the new gateways that where added recently, that aren't stored in the GatewayS

[2018-03-26 21:36] ahdigital commented on #1223
Where it says 23 nodes available, is that dynamic?

[2018-03-26 21:41] diogogomes commented on #1263
@gibbsfromncis

The notifications are based on starred pairs. Can you give your opinion about the code implementation referred on previous comment?

- Market price/percentage value increase / decrease is based on user starred assets (this way, we can implement with the code that we already have)

---

@gibbsfromncis and @ahdigital can you provide the link for the in progress style guide? (I search

[2018-03-26 21:44] wmbutler commented on #1263
We would need UX for setting the percentage or fixed increase/decrease right?

[2018-03-26 21:45] wmbutler commented on #1223
I would imagine, yes, that it's based on the array.length

[2018-03-26 21:48] diogogomes commented on #1263
I was thinking in a daily alert (like the portfolio tracking apps). @wmbutler what you think is the best approach?

[2018-03-26 21:55] wmbutler commented on #1364
I was able to duplicate it:

<img width="972" alt="screen shot 2018-03-26 at 4 54 29 pm" src="https://user-images.githubusercontent.com/1254810/37935247-690d5a8a-3116-11e8-9262-dfc095ce0cb7.png">

[2018-03-26 21:58] wmbutler commented on #1263
I think a user would want to set an alert for a 20% price increase or decrease. Or a fixed value. Why would I want a daily alert?

[2018-03-26 22:02] diogogomes commented on #1263
okay @wmbutler, what is the best approach? A new icon on side of the pair and a pop up modal with configurations when clicked or configuration options together with the general settings notifications?

[2018-03-26 22:07] wmbutler commented on #1263
I'm not the UX guy here :) you might consult @ahdigital. Happy to add some additional time for this if needed. Fundamentally, I think it makes a lot of sense to set price alerts in starred markets since this would be a definitive list of markets that are of interest to a user.

Probably a control here that triggers a modal.

<img width="1072" alt="screen shot 2018-03-26 at 5 06 35 pm" src="https:/

[2018-03-26 22:09] diogogomes commented on #422
I'm sorry @gibbsfromncis,  I don't understand your question. Can you reformulate? Thanks

[2018-03-26 22:11] diogogomes commented on #1263
Thanks, my opinion is the same. I think it's better on starred markets. I'll provide UI for this approach (modal).

[2018-03-27 05:20] startailcoon commented on #1223
It's a count of all available nodes added minus the two testnet nodes and the local. So it's dynamic yes.

[2018-03-27 06:05] clockworkgr commented on #1364
Checking through websocket traffic:

![image](https://user-images.githubusercontent.com/6826762/37949515-be704f14-319d-11e8-889c-4a3722a30022.png)

It is obviously incrementing committee ids to request details, But suddenly jumps from 33 to 44 for no reason when responses to the first set start coming in.

It is interesting to note that it jumps up 11 places after having received 11 responses to t

[2018-03-27 06:40] #1364 closed

[2018-03-27 08:10] svk31 commented on #1341
I think the above commit should fix this, please confirm when you get a chance.

[2018-03-27 09:01] ahdigital commented on #1263
I think it'd be logical to allow users to setup price alerts from the market page. It's a tool closely related to the subject of this page and brings the functionality to the surface. It could be triggered from:

**Summary bar**
![image](https://user-images.githubusercontent.com/3088454/37957198-412aa92a-31a5-11e8-9601-c6fd4465a3bf.png)

 **Or, my markets**
![image](https://user-images.githubuserc

[2018-03-27 09:55] ahdigital commented on #1190
For local wallet (key file) users we should show a prominent, dismissable warning. Rather than a modal / alert box style warning though, something like this would highlight the dangers better.

![image](https://user-images.githubusercontent.com/3088454/37959780-cf8a67a4-31ab-11e8-866f-2c6eb4a5e7e4.png)

This warning could persist on every page until dismissed, or display only on account creation.

[2018-03-27 10:30] abitmore commented on #1341
I think this issue is not about fetching objects, but related to "IsMyAccount()" (or similar check).

[2018-03-27 12:04] ahdigital commented on #1284
I've been using testnet to try out different scenarios, a couple are documented below:

## Scenario A
I've unknowingly created a situation where I keep getting active authority errors.

**Permissions for account:** test-010101 (cloud wallet)

![image](https://user-images.githubusercontent.com/3088454/37965503-36fe3724-31bd-11e8-9c09-9e1c58a2b5b9.png)

**Operation scenarios**
1.	Transfer 1000 TEST

[2018-03-27 12:17] sschiessl-bcp commented on #1284
Thank you for the test details!

**Scenario A**
Who signed case 1) and 2)? I suspect that you tried to execute the operation directly instead of proposing it?

**Scenario B**
Who signed cases 1) 2) and 3)?

[2018-03-27 12:25] ahdigital commented on #1284
In all scenarios where I was creating an operation I was using the account that setup the permissions lists. So, scenario A was test-010101 and B was test-040404.

In scenario A, this is what I was doing to get the active authority error:

![scenario-a](https://user-images.githubusercontent.com/3088454/37967085-334fc192-31c2-11e8-9ceb-4fd8d723b775.gif)

[2018-03-27 12:46] sschiessl-bcp commented on #1284
In this case you would need to propose the proposal due to the setup. To create the proposal you need active authority, but you can't get it because its a multisig account.

What you need to do is: Create the proposal from a third account that only has one active key. I just created one for test-010101 from one of my test accounts.

[2018-03-27 13:04] sschiessl-bcp commented on #1284
You can only try to create the operation, but your example above shows that it won't work. In your example you did try to create an operation from a multisig account, and you failed because you could only use your own authority.

[2018-03-27 13:24] clockworkgr commented on #1284
My understanding is that the statement "The owner permission can do everything" refers simply to the achieveable results.

In the sense that the owner can remove any and all active authorities set a new one and perform whatever transaction etc thus being in complete control of the account. Don't think it was supposed to act as an 'override' in terms of allowed operations.

[2018-03-27 13:27] ahdigital commented on #1329
Some amendments:

![active permissions default table v3](https://user-images.githubusercontent.com/3088454/37970229-d08cfbd4-31ca-11e8-8b6f-d4a7ebc4fffa.png)

![active permissions modal v2](https://user-images.githubusercontent.com/3088454/37970233-d3f70c4c-31ca-11e8-8675-6ffd31aa2a24.png)

The question is who's the target audience here? I think all those terms could be meaningless to Joe Bloggs u

[2018-03-27 13:30] sschiessl-bcp commented on #1284
Yes, its two levels: what an obtained permission can do, and how to obtain said permission. Your problems evolve around obtaining the permission in a multi-sig account.

[2018-03-27 13:34] ahdigital commented on #1288
Sorry guys - can you remove me from this one please.

[2018-03-27 14:15] ahdigital commented on #1360
To these points:

@calvinfroedge

I agree.

@wmbutler

I agree.

So, perhaps it is better to clear account name etc. on logout and add an option 'Remember me' to the login process.

[2018-03-27 14:25] ahdigital commented on #1192
I think @calvinfroedge's 3rd suggestion to review the login process is the best approach. Something could be weaved in there, related to #1360 as he already implied.

IMO there's too much information to display in a tooltip and it won't play nice on mobile.

[2018-03-27 15:26] calvinfroedge commented on #1363
Well I think there are full asset names available in the coin props, the problem is knowing what URI scheme should actually be produced, as there are asset names with dashes, upper and lower case, etc. Do we know what the full URI should be for every asset?

[2018-03-27 16:34] abitmore commented on #1284
Not all possible options are showing on current UI, that's why we're discussing in this ticket.
E.G. if a transaction requires active permission, current UI only shows accounts in active permission set.

Because current UI doesn't show unrelated accounts.

To schedule the transaction to execute at a later time; or simply create a proposal as a reminder.

![image](https://user-images.githubusercont

[2018-03-27 18:52] calvinfroedge commented on #1320
Working on this issue...have identified problem but will take some time to resolve.

[2018-03-27 21:20] startailcoon commented on #1284
I have to release this task until the details of it has been settled and defined. It's free for claims for anyone else if they wish. I have enough this milestone as it is atm.

[2018-03-28 05:36] wmbutler commented on #1284
@ahdigital keep at it. Will continue to support the hours dedicated to it.

[2018-03-28 05:39] wmbutler commented on #1363
Nope, open.btc:

![screen shot 2018-03-28 at 12 38 44 am](https://user-images.githubusercontent.com/1254810/38010852-6cff3fa4-3220-11e8-9794-44be0134d5bd.png)

[2018-03-28 05:42] wmbutler commented on #1360
As long as "remember me" is default, we may have a winner here. But it's still dangerous to "forget" the user on a local wallet logout because without a backup, the account will be lost.

[2018-03-28 05:46] wmbutler commented on #1190
I like this, but let's be more direct:

"If you close your browser without backing up, you will lose this account permanently."

[2018-03-28 08:37] ahdigital commented on #1190
Thanks. I used your wording and retained the 'Private/incognito' and 'Backup now' text to give the user reason and action.

The bar is 34px in height, and the text is 14px (0.875rem). Bar colors for each theme are:

**Midnight**: #e3745b
**Dark:** #ff3950
**Light:** #ea340b

The dismiss SVG icon is attached in [dismiss.zip](https://github.com/bitshares/bitshares-ui/files/1855139/dismiss.zip)

![im

[2018-03-28 08:47] ahdigital commented on #1360
Piecing our efforts together, the user gets a prompt to backup upon account creation, a warning in the footer and per #895 a warning on login.

Arguably, we could make the footer warning more prominent like the one I've just proposed in #1190.

Or, as an additional safety net we could display an alert modal on click of the logout button if the user meets this criteria:

1. Using a local wallet (ke

[2018-03-28 15:50] calvinfroedge commented on #1320
Open PR which resolves issue...

https://github.com/bitshares/bitshares-ui/pull/1365

![update](https://user-images.githubusercontent.com/632938/38040730-bde25b2c-3275-11e8-897c-dcb9c0995183.gif)

Would love second pair of eyes to ensure another issue was not introduced.

[2018-03-28 16:13] calvinfroedge commented on #1346
@svk31 Bump

[2018-03-28 17:55] calvinfroedge commented on #1190
Resolved by https://github.com/bitshares/bitshares-ui/pull/1366

[2018-03-28 18:11] calvinfroedge commented on #1155
@xeroc Does the new endpoint have documentation available? I may be able to take this issue.

[2018-03-28 18:12] calvinfroedge commented on #1192
@wmbutler Need a clear decision here on how to proceed.

[2018-03-28 18:13] calvinfroedge commented on #1284
I might suggest a new issue with a focused scope when design is all sorted.

[2018-03-28 18:20] sschiessl-bcp commented on #1284
I think it's fine for the logic now, much clearer than before. We don't need to reinvent it.

Like abit mentioned "always show "approve" button; if a proposal is approved by someone already, show "reject" button.".
For the status logic the multisig setting shouldn't matter too much.

[2018-03-28 18:46] calvinfroedge commented on #697
@wmbutler I will follow up here with both UX and research on custom operation calls.

[2018-03-28 23:54] happyconcepts opened #1367 "[.5][1][happyconcepts][svk31] Missing Launcher Icon"
No icon is shown in the launcher. See lower left of screenshot.
Light client 180315 amd64 deb ...new install on ubuntu 16.04

![no_icon_linux](https://user-images.githubusercontent.com/14145836/38062341-387e5ff2-32a8-11e8-939c-55d9b178faec.png)

[2018-03-29 01:31] wmbutler commented on #697
I'm starting to think this is a bit out of scope for the wallet. We have so many other tasks that are better suited for a financial application.

[2018-03-29 01:40] wmbutler commented on #1192
I think we need to sort out #1360 before we can do anything with this one. Honestly, since we are currently hiding the **create account** once the user has switched to the cloud wallet, I don't see the point of this issue.

[2018-03-29 09:09] #1337 closed

[2018-03-29 10:38] sschiessl-bcp commented on #1228
I committed the refactor. I tested the connection handling and it seems like I didn't break anything.
I was really scrubbing it hard to find the hidden logic and switches and tried to make it more easier understandable.
See the branch
https://github.com/blockchainprojects/bitshares-ui/tree/access-setting
mainly the last commit
https://github.com/blockchainprojects/bitshares-ui/commit/70a1883a8b917

[2018-03-29 13:28] sschiessl-bcp commented on #1223
With the refactoring [here](https://github.com/blockchainprojects/bitshares-ui/tree/access-setting) you will be able to update all pings like this (exact API might get refactored again, I ll wait for feedback):
`import {routerTransitioner} from "../../routerTransition";
routerTransitioner.doLatencyUpdate().then(()=>{});`

[2018-03-29 15:21] #1190 closed

[2018-03-29 15:40] svk31 commented on #1341
No I really think it was due to the bug I fixed in that commit, it caused a setState call to fail which in turn made it impossible to vote. I can attempt to change Xeroc's votes just fine myself now, but when I try do publish it fails because I don't have the private key.

![screenshot from 2018-03-29 16-39-00](https://user-images.githubusercontent.com/6890015/38098382-d6198864-336f-11e8-85bc-d6ac

[2018-03-29 15:51] svk31 commented on #1360
You should never call `iDB.root.deleteDatabase(true)` or attempt to delete the database, the only way to do that should be via the settings where you already have the option to delete a wallet.

Switching between modes is also done in the Settings. In the case where you're already using a wallet with accounts in it and switch to cloud mode, the wallet accounts will still show since the loading of

[2018-03-29 15:54] svk31 commented on #1320
I would prefer that we just remove the default assets here, making the user search for something manually. They were there for convenience back when we only had OPEN.X gateway assets, now we have many so the search shouldn't be biased.

Maybe add a gateway selector instead that will trigger a search for the assets of the selected gateway provider.

[2018-03-29 16:41] wmbutler commented on #1320
@svk31 the gateway selector is needed but I think it's a larger UX concern since we will wan to allow users to group and search by gateway throughout. I've broached this with @ahdigital

[2018-03-29 16:46] wmbutler commented on #1360
I think there is value in being able to switch to the cloud wallet and retain the local wallet credentials. The dummy wallet idea may have merit.

@svk31 if the user were to switch back to the local wallet, are you suggesting that they would not need to re-import keys? The local wallet would be in place just as it had before they performed their cloud wallet operations?

[2018-03-29 16:49] calvinfroedge commented on #1320
@svk31 Is there a problem with the PR?

[2018-03-29 19:45] ahdigital commented on #1334
Following some recent tasks I'm working on related to login and permissions I've made use of some new components, which are now updated on the style guide.

New components are sliders, breadcrumbs and drag and drop file upload which supports multiple files.

Form helpers and modals have been updated to fall in line with the latest styling.

**Preview**

https://user-images.githubusercontent.com/30

[2018-03-29 22:28] startailcoon commented on #1223
@sschiessl-bcp I will test this and push an update to the PR tomorrow

[2018-03-29 22:42] sschiessl-bcp commented on #1223
The refactoring has to be approved first,  carefully not to create dependencies on the PR.

But please do test :)

[2018-03-29 22:43] sschiessl-bcp commented on #1223
The refactoring has to be approved first,  careful not to create dependencies on the PR.

But please do test :)

[2018-03-29 23:21] calvinfroedge commented on #1320
I think I resolved the issue in my PR as it was reported...user wanted to be able to see all assets when visiting "Find Markets". I made sure OPEN, RUDEX, and UIAs are all visible in find markets up front. That resolves the issue as reported. I also diagnosed and resolved performance issues with loading the additional market data (which was even an issue before when only showing OPEN assets). The

[2018-03-30 01:29] happyconcepts commented on #1367
@wmbutler Can i take this small bug?

[2018-03-30 01:39] githubwanghui opened #1368 "+"

[2018-03-30 01:41] happyconcepts commented on #1367
Probably more like a job for @svk31 or @calvinfroedge as i haven't touched the binary builds.

`Icon=bitshares2-light` in the .desktop file should be reset to `bitshares` or the filename which had previously been specified ...

[2018-03-30 02:31] wmbutler commented on #1367
@happyconcepts happy to give it to you if you like.

[2018-03-30 02:31] #1368 closed

[2018-03-30 02:33] wmbutler commented on #1320
@svk31 please review and let me know how to proceed. If there is a particular issue you have with Calvin's work, please voice it. It sounds as if Calvin dug a bit deeper and fixed some root issues.

[2018-03-30 02:34] wmbutler commented on #1223
Hope this makes it into the release. @svk31

[2018-03-30 07:09] svk31 commented on #1320
I don't have any issues with the work, technically it looks fine. I'm just pointing out that the original issue was just a misunderstanding: he was changing the quote currency instead of searching for an asset, and expecting the list of searched assets to change.

Adding more assets to the default search doesn't fix that, and as calvin himself pointed out doing so caused performance issues.

[2018-03-30 07:12] svk31 commented on #1346
These calls are made by setInterval calls, I guess the easiest way to fix it would be to cancel them once the connection is lost.

[2018-03-30 07:18] #1299 closed

[2018-03-30 09:07] #1289 closed

[2018-03-30 10:19] #1223 closed

[2018-03-30 13:35] calvinfroedge commented on #1320
I was able to work around the performance issues introduced by ignoring renders, though I'll agree it is not the most ideal solution. I do think it's a reasonable user expectation that anything under "Find Markets"  is a market for the given quote currency. This was not the case before and is now.

So what is the plan here...simply not to show any assets by default? I am happy to make the change,

[2018-03-30 19:01] wmbutler commented on #1320
@calvinfroedge It is definitely a problem if we try to list all assets before a user has typed anything in because of the network load.

[2018-03-30 20:09] happyconcepts commented on #1367
Sure for 180401, thanks!

[2018-03-30 21:46] calvinfroedge commented on #1320
@wmbutler @svk31 We can show nothing until the user starts typing. That's an easy change to make.

[2018-03-31 03:12] diogogomes commented on #1263
##### (@wmbutler, sorry for the delay but without an editable style guide or docs it was more time consuming to try to match the correct measurements, margins, etc)

Thank you for all opinions and ideas.

In the process of adapting the @ahdigital Style Guide, I tried to implement the most of your ideas.

---

## Icon without new notifications

![](https://gitlab.com/diogogomes.eu/bitshares-ui-cont

[2018-03-31 04:59] happyconcepts commented on #1367
So in my case (ubuntu):

1. The installer wrote bitshares2-light.png to this location:
/usr/share/icons/hicolor/0x0/apps/bitshares2-light.png
I could not locate other bitshares icons in the larger formats e.g. 256x256, 512x512

Can we confirm that this is the right installation location? hicolor is just one of several themes in ubuntu...

2. The .desktop specifies bitshares2-light.png but without

[2018-03-31 06:17] startailcoon opened #1369 "[1.5][happyconcepts] Notify user on Market asset with high fees"
The Bitshares DEX is a place for free market and the possibility to create and trade anything that anyone can imagine.

This free place can sometimes also create opportunities for scammers to trick our users. Even if people shouldn't trade assets without first reading carefully what they are, we could help our users to highlight potential ill behaviour.

It's come to our attention that there are a

[2018-03-31 06:43] svk31 commented on #1360
I don't think we should ever force the user to reimport keys. The dummy wallet I explained above would simply be a way to have an empty wallet without any keys in it, which we could use to present a "clean slate" when you switch to cloud mode.

[2018-03-31 06:45] #1344 closed

[2018-03-31 11:30] #1331 closed

[2018-03-31 11:31] #1026 closed

[2018-03-31 13:16] grctest commented on #1369
[code]

Sound better?

[2018-04-01 02:08] wmbutler commented on #1263
I think your UX will need to incorporate a percentage change up/down or fixed value.

[2018-04-01 02:34] diogogomes commented on #1263
@wmbutler, are you referring to the possibility of setting the alert in the modal with respect to the variation in percentage?

[2018-04-01 06:44] svk31 opened #1371 "[2] Navigating to non-existing account causes infinite loading"
Requires some fixes in BindToChainState and ChainStore

[2018-04-01 07:00] #1371 closed

[2018-04-01 07:05] #1342 closed

[2018-04-01 09:02] #1341 closed

[2018-04-01 09:30] svk31 commented on #895
To be honest I'm having a hard time following how the final proposal is intended to work, a final summary would be good. Some comments below though:

I'm opposed to changing the local wallet to require you to restore the wallet every time, that would be extremely annoying and also costly in terms of API calls and processing power.

The local wallet does not rely on a file at all, it uses a browser

[2018-04-01 11:47] gibbsfromncis commented on #1146
@wmbutler I've tried to debug but I do not know why this happens and already spent a lot of time.

[2018-04-01 14:14] #999 closed

[2018-04-01 14:16] gibbsfromncis commented on #422
@wmbutler what about this issue? Do we wait for UX from this task - https://github.com/bitshares/bitshares-ui/issues/1263 ?

[2018-04-01 14:19] gibbsfromncis commented on #1263
@diogogomes please add some toggle or radio buttons where user be able to change type of alert from fixed to % and vice versa.

Also I suppose we need two fields for fixed values like:
- Notify if value more than: 10.000 bitUSD / BTC
- Notify if value less than 5.000 bitUSD / BTC

[2018-04-01 14:46] svk31 commented on #1338
Since I haven't seen any adverse effects I decided to set the boolean to false already in this 0401 release. If we discover something major we can always hotfix it.

[2018-04-01 14:46] #1338 closed

[2018-04-01 17:30] wmbutler opened #1372 "[1.5] Node Switcher Design Pattern"
@startailcoon @ahdigital The design pattern for the switcher is strange.

- [ ] I think the switcher icon is a little ambiguous. If you can think of something to fine tune it, please do so. If not, it's probably ok. I'd almost suggest that the
- [ ] The description of the node and the switcher icon could use a few more px of breathing room
- [ ] After selecting the new node, can we avoid sending t

[2018-04-01 17:32] wmbutler commented on #1263
I'd consolidate this into a single input field with a separate control to indicate what type of alert. you are looking for.

[2018-04-01 17:33] wmbutler commented on #422
I guess so.

[2018-04-01 17:34] wmbutler commented on #1146
This isn't really a feature or a bug as far as I can tell.

[2018-04-01 17:34] #1146 closed

[2018-04-01 17:40] wmbutler commented on #895
@svk31 thanks for the clarification. It's my understanding that the key file is displayed as the active when in local wallet mode. I agree that the browser should not be cleared by default for local wallet mode, but I do see merit in the user being able to clear it (after forcing them to download a backup). This could help in situations where a user is on a public machine and they imported their .

[2018-04-01 17:45] wmbutler commented on #1320
Placing this in 180415. Is there any reason this didn't get merged into 180401?

[2018-04-01 17:54] wmbutler commented on #1228
Should I close this out? I feel like we've put a lot of effort into this and we can put it to rest until we run across some edge cases.

[2018-04-01 17:55] wmbutler commented on #1207
This needs completion or a PR to get paid.

[2018-04-01 17:56] wmbutler commented on #1197
Maybe wait to ant rewrite. Closing as non-critical.

[2018-04-01 17:56] #1197 closed

[2018-04-01 17:59] sschiessl-bcp commented on #1228
I'm actively working on it, see my last comment

[2018-04-01 18:02] wmbutler opened #1373 "[1] Many errors on wallet load"
https://wallet.bitshares.org

![pageload](https://user-images.githubusercontent.com/1254810/38176048-e984f11a-35ac-11e8-9be6-280e0f28c457.gif)

[2018-04-01 18:08] wmbutler commented on #1284
Who will claim the work portion of this? Can you wrap up UX with what has been discussed here? @ahdigital

[2018-04-01 18:13] wmbutler commented on #1276
Waiting for GDEX response.

[2018-04-01 18:14] wmbutler commented on #1275
Can you work this for the current Sprint?

[2018-04-01 18:14] wmbutler commented on #1270
@MannyMeadows are you planning to address this?

[2018-04-01 18:16] wmbutler commented on #935
@ahdigital closing this. Do you want to open separate issues for UX on this since we are going to ANT?

[2018-04-01 18:16] #935 closed

[2018-04-01 18:18] wmbutler commented on #897
Closing this. It has had no takers for 4 months.

[2018-04-01 18:18] wmbutler commented on #1367
Hotfix @svk31 this is a pretty major oversight.

[2018-04-01 18:19] wmbutler commented on #905
Bump. Somebody want to work on this?

[2018-04-01 18:26] wmbutler commented on #998
Actually, the scan QR code should be fairly straightforward since we are only interpreting existing QR codes and not actually displaying them. I think for our first coins, we handle the withdraw modal.

- [ ] Place a scan icon at the top of the withdraw modal or in the address area once a coin is selected?
- [ ] Properly fill in amount, btc address, memo and gateway specific rules
- [ ] Memos migh

[2018-04-01 18:33] wmbutler opened #1374 "No Bitshares Icon in wallet.bitshares.org"
https://wallet.bitshares.org

<img width="524" alt="screen shot 2018-04-01 at 1 32 14 pm" src="https://user-images.githubusercontent.com/1254810/38176245-3ec2e49e-35b1-11e8-97e5-30a0543f5745.png">

[2018-04-01 18:47] wmbutler opened #1375 "[1.5] Typeahead tweaks"
If I use the typeahead to discover a new user, it gets added to the list when I search in the same session a second time.

- [ ] The new user should be added to the list if I choose to add contact, not because I happened to choose them at one point.
- [ ] The color to the top right of the input field (LIFETIME MEMBER, etc) should be green for trusted (added) accounts.

![send](https://user-images.

[2018-04-01 18:58] AboShanab commented on #1190
@calvinfroedge your solution doesn't work well, the problem is still with other errors.
<img width="959" alt="screenshot_13" src="https://user-images.githubusercontent.com/12101368/38176420-0f050ae8-35f7-11e8-9272-88fc975ad5e5.png">
also still there's no error appear for me, here's the debugging and console screenshots:
<img width="960" alt="screenshot_14" src="https://user-images.githubuserconten

[2018-04-01 18:59] AboShanab commented on #1190
Please Leave the ticket open while the problem is doesn't fixed...

[2018-04-01 19:14] wmbutler commented on #1190
This issue was resolved properly. Keeping it closed.

<img width="1520" alt="screen shot 2018-04-01 at 2 14 12 pm" src="https://user-images.githubusercontent.com/1254810/38176574-06768ffe-35b7-11e8-976d-f0a7ac8deb91.png">

[2018-04-01 19:19] AboShanab commented on #1190
@wmbutler As you see on Firefox, I join the same page of register on private mode and the notification still doesn't appear
<img width="960" alt="screenshot_17" src="https://user-images.githubusercontent.com/12101368/38176602-9cc65de8-35fa-11e8-8fb0-a95c1c36e8ce.png">
Maybe the problem is on Firefox only?

[2018-04-01 19:20] wmbutler commented on #1190
@AboShanab That's the cloud wallet. No need for the warning because no localstorage is used. There is no concern with loss.

[2018-04-01 19:22] AboShanab commented on #1190
@wmbutler but still I can't do anything while I'm using the private mode on Firefox, even on the cloud wallet, the statics of the exchange doesn't appear also anything other.

[2018-04-01 19:29] abitmore opened #1376 "[0.1] Expiration of margin call order in my open orders"
Margin calls won't expire.

This screenshot is got from market page https://wallet.bitshares.org/#/market/BTS_CNY:
![image](https://user-images.githubusercontent.com/9946777/38176674-68911b14-35f3-11e8-80d6-2581f2321253.png)

[2018-04-01 19:31] abitmore commented on #1270
I'll contact their team.

[2018-04-01 20:19] sschiessl-bcp commented on #1320
I think the reason was simply that we did not come to a conclusion yet.

If it matters, I would also prefer lazy loading if the user actually selects a base asset, with optional gateway selection (could also be done via settings). Exchange view is already slow enough.

@calvinfroedge I don't think anyone wants to deny you the payment, but please do keep in mind that working 5h more on it does not