[2017-11-22 19:40] abitmore opened #754 "[.5][HarukaMa] Remove "sign as owner" feature after back end bug got fixed"
The "sign as owner" feature is designed to get around a bug in back end (https://github.com/bitshares/bitshares-core/issues/496). **After** that bug got fixed, we should remove the "sign as owner" feature to reduce user confusion.

[2017-11-22 19:57] calvinfroedge commented on #361
Has anyone downloaded the source package and confirmed the code can be implemented all client side? Want to be sure this doesn't involve adopting a backend as well.

[2017-11-22 19:58] calvinfroedge commented on #167
Will mockups be added here or is creating them part of the estimate?

[2017-11-22 19:59] calvinfroedge commented on #667
Has implementation on this issue been claimed yet? Not sure if @diogo-gomes is handling coding as well or just the UX.

[2017-11-22 23:45] diogo-gomes commented on #667
Hi @calvinfroedge,

I already talked to @wmbutler privately by Telegram (I'm sorry, I should have done it here. I'll do it from now on).

**I can't code the implementation because I'm not comfortable with Foundation. I'm more comfortable with Bootstrap.**

I and Bill talked about "turn this into a design issue and then write a follow-up card for the actual work."

**I'll contribute in UI/UX with p

[2017-11-23 07:54] ppitonak opened #755 "Tooltip in market depth chart should show amounts in both base and quote currency"
Market depth chart tooltip shows only price and amount in one currency when you hover over a point in chart, other exchanges show the amount in both base and quote currency.

![tooltip](https://user-images.githubusercontent.com/445100/33162816-d117bbbc-d02b-11e7-85ec-29c71ae47c9d.png)
![tooltip_polo](https://user-images.githubusercontent.com/445100/33162819-d134d580-d02b-11e7-8cbd-9cf9d8d4f90f.png

[2017-11-23 08:12] xeroc opened #756 "[2] Percentage Indicators on bitassets depth chart"
In the depth cart of bitassets, we see a line at the settlement price.
Can we also have indications for **percentage offsets**. I am thinking of two mouse following bars (parallel to the settlement) that also show the percentage they are away from settlement price.

[2017-11-23 16:34] CryptoBridge opened #757 "Switching markets does not highlight the current selected market."
When switching markets in MyMarkets.jsx, the current market is not updated.

[2017-11-23 18:06] abitmore commented on #754
The bug has been fixed in `develop` branch. Will likely be included in next BitShare-Core release.

[2017-11-23 19:31] startailcoon commented on #557
I can take this task for the next milestone

[2017-11-23 19:52] startailcoon commented on #732
@Xeldal I don't exactly understand what you mean with the following

Do you mean where the line sais "Settlement Price"? I don't think we should add more text to that line. The color should be enough I think.

[2017-11-23 19:57] Xeldal commented on #732
Yes, that is what I meant.  I agree the color should be enough.

[2017-11-23 20:12] abitmore opened #758 "Cloud / local wallet login / wallet /account model howto / documents / tutorial"
Lots of confusions here about why unable to login: https://bitsharestalk.org/index.php/board,45.0.html . I guess most of them are due to our ever changing UI/UX. If we have some good documents or tutorials, please post in the forum and stick it.

[2017-11-24 06:05] btsfav commented on #758
see https://github.com/bitshares/bitshares-ui/issues/577

[2017-11-24 06:30] btsfav commented on #758
+ an AI bot for support requests would be super cool

[2017-11-24 13:05] tximiss commented on #361
I'm concerned about the TV integration as it may mean a servitude towards external agents.

[2017-11-24 16:00] wmbutler commented on #745
I'll work on UX for this.

[2017-11-24 16:01] wmbutler commented on #747
This will go away with #361

[2017-11-24 16:01] #747 closed

[2017-11-24 16:05] wmbutler commented on #748
I agree with basically every idea here, but, this is not an actionable github item. I'm going to close it and link it to #630

I will look at Exodus for examples and also will be posting some thoughts for market discovery.

I also agree that the Markets should not be the first thing the user sees.

[2017-11-24 16:05] #748 closed

[2017-11-24 16:07] wmbutler commented on #751
This is getting a complete rewrite in #68. Closing and linking to it.

[2017-11-24 16:07] #751 closed

[2017-11-24 16:07] wmbutler commented on #752
Post a licecap

[2017-11-24 16:09] wmbutler commented on #755
Duplicate since we are moving to #361

[2017-11-24 16:09] #755 closed

[2017-11-24 16:11] wmbutler commented on #757
I can't reproduce...

[2017-11-24 16:12] wmbutler commented on #758
Might make sense for someone to extend this area inside the wallet:

https://wallet.bitshares.org/#/help/introduction/wallets

[2017-11-24 16:23] wmbutler opened #759 "[6] Help area css styling of Markdown"
We need better styling for the Help Markdown in the browser.

https://wallet.bitshares.org/#/help

I'd like to see a mockup plus css to complete this issue here.

[2017-11-24 16:25] wmbutler commented on #639
We should have a "News" area close to support in the dropdown.

![screen shot 2017-11-24 at 10 24 49 am](https://user-images.githubusercontent.com/1254810/33218306-c48a97bc-d101-11e7-9833-62c6226b4a5d.png)

[2017-11-24 16:27] wmbutler commented on #639
@abitmore While agree that news should be professionally written, I think that by limiting to official authors and the bitshares tag, we will keep things manageable.

[2017-11-24 17:03] wmbutler commented on #167
@calvinfroedge we already have a "follow" feature. I think this can be converted to "Add to Contacts" just by changing terminology. Additionally, I think there is a good pattern for preferring accounts that are in the users contacts when performing a "send" operation. This could be very helpful for ensuring that addresses are trusted.

Why don't we just take this slowly and start with changing the

[2017-11-24 17:17] wmbutler commented on #167
- Anything that's an Account (in blue), sort to accounts tab
- Anything that's a follow (in white), sort to contacts tab
- Leave the Recent Activity tab as is for now

![screen shot 2017-11-24 at 11 05 19 am](https://user-images.githubusercontent.com/1254810/33219612-e7a84f4e-d108-11e7-9562-ae7f13e3edb4.png)

[2017-11-24 17:45] wmbutler commented on #667
We can continue the design process here. But need to limit the scope of each item. Let's keep this to the dashboard including Portfolio, Open Orders, Margin Positions, Activity. I'll allocate 4 hours to it.

[2017-11-24 17:46] wmbutler commented on #679
#361

[2017-11-24 17:46] #679 closed

[2017-11-24 19:28] wmbutler commented on #654
@bigspider, please send me your bts address.

[2017-11-24 21:09] jedebel commented on #752
![invertmarket](https://user-images.githubusercontent.com/30885090/33223861-6f521ad6-d129-11e7-8ffb-21aa16f149b0.gif)

[2017-11-25 00:53] wmbutler commented on #361
@calvinfroedge go ahead and spend time on this and I'll credit research hours to you.

[2017-11-25 07:10] diogo-gomes commented on #630
I like the concept of the new menu but can you try a fade in menu from the right instead of the drop-down?
With full height will be more "inside" the app than a "popup" menu.

[2017-11-25 11:05] bigspider commented on #654
@wmbutler, my bts address is "spider-1". Thanks!

[2017-11-25 11:52] startailcoon commented on #756
I can take this.

@xeroc you mean the offset should be percentage from markets last buy and sell values, right?

[2017-11-25 15:45] svk31 commented on #361
@wmbutler I don't think this offers depth charts, so the current depth charts will have to remain and issues related to them should stay open.

[2017-11-25 15:46] svk31 commented on #752
I think I already fixed this in staging.

[2017-11-25 16:02] calvinfroedge commented on #361
@wmbutler I will download the source code for TradingView and check it out

[2017-11-25 16:44] wmbutler commented on #630
I think even for a really wide screen, it should stretch the full width.

[2017-11-25 17:35] diogo-gomes commented on #630
I like the concept of the new menu but it can be more than a popup menu.

### Right Menu: Can you try a slide menu with full height from the right?
[This](http://git.blivesta.com/drawer/) is a random example.

**Pros of slide menu with full height:**

- menu more integrated in the application
- more space for menu content (ex: user image and qr code from actual left menu can be incorporated)
- eas

[2017-11-25 19:27] wmbutler commented on #630
## Right Menu
I think you are just asking for a drawer instead of a Menu. This would help with people who have a lot of accounts starred.

http://www.material-ui.com/#/components/drawer

## Menu Header

- Dashboard can't be Wallet. Wallets are very different. Wallets can contain multiple accounts and a single account has a Dashboard which displays all financial components.
- Settings are relevant

[2017-11-25 19:52] diogo-gomes commented on #630
Yes, my mistake. I'm talking about replace pop-up menu with a drawer sliding from the right.

#

Okay, I never try multiple accounts. I thought that each account has its own wallet...

#

I understand your point and I'm okay with that but I don't agree in terms of general standards. Normally, the app configuration settings are under the main menu or are the main menu.

#

I agree, I'm only try to

[2017-11-26 06:24] vista7 opened #761 "[.5] Error when install and run the program for Windows"
Hello! there error when install and run program **BitShares.Setup.2.0.171121.exe** and earlier versions. See screenshot:
![default](https://user-images.githubusercontent.com/33452731/33237702-230578f0-d2c6-11e7-89c3-51dc85c08af5.png)

OS - Windows 7x64 SP1.

[2017-11-26 07:13] mattbeckman opened #762 "[1] 24 Hour column in portfolio not available until viewing a Market page"
Noticed this bug on a refreshed view of My Portfolio. Most stats for 24 hour column are 0.0% until after visiting a Market page. I suspect an extra call needs to be made before the cache is populated.

I'll take a look.

Loading/refreshing My Portfolio directly:

<img width="392" alt="screen shot 2017-11-25 at 11 08 49 pm" src="https://user-images.githubusercontent.com/928380/33237908-e9dc84dc-d23

[2017-11-26 08:52] startailcoon commented on #556
I will make a slight change in the way this works, to make it work better with proposed transactions and at the same time we will retain the simplicity of the modal.

### Scenario 1 - Sending from user account to another user account
- Sending account is the current wallet account
- Viewed account is automatically filled in as receiving account, unless it's the same as the sending account.

### Sc

[2017-11-26 11:44] #732 closed

[2017-11-26 12:31] svk31 commented on #762
I need to refactor the market stats fetching slightly and decided to do this while I was at it.

[2017-11-26 12:31] #762 closed

[2017-11-26 12:33] svk31 commented on #757
Can't reproduce this here either, I've fixed a bug like that in the past.

[2017-11-26 12:33] #757 closed

[2017-11-26 12:33] #752 closed

[2017-11-26 12:55] abitmore opened #763 "[1] About migration, sometimes local wallet doesn't be detected so unable to backup?"
There is a post in forum: https://bitsharestalk.org/index.php/topic,25350.msg312750.html#msg312750

[2017-11-26 16:02] calvinfroedge commented on #718
Issue closed as this was merged

[2017-11-26 16:02] #718 closed

[2017-11-26 16:04] calvinfroedge commented on #558
Closing issue as this was merged

[2017-11-26 16:04] #558 closed

[2017-11-26 16:10] calvinfroedge commented on #361
I have officially requested access to the source code and am awaiting acceptance. Time spent so far: 0.25 hours.

[2017-11-26 17:05] calvinfroedge commented on #588
@svk31 Is there a typeahead component which already exists in the codebase? Otherwise I can make one but don't want to duplicate work.

[2017-11-26 17:54] wmbutler commented on #698
- [ ] Need to add last `<td>`

![screen shot 2017-11-26 at 11 51 31 am](https://user-images.githubusercontent.com/1254810/33242834-7b3d2926-d2a0-11e7-8acb-b19acd1254e0.png)

- [ ] Quote math should be same as price math

[2017-11-26 17:57] wmbutler commented on #759
Here is what the current help area looks like:

![screen shot 2017-11-26 at 11 56 56 am](https://user-images.githubusercontent.com/1254810/33242876-f1ec6db6-d2a0-11e7-8997-7407947355ee.png)

[2017-11-26 17:58] wmbutler commented on #744
This needs to be claimed.

[2017-11-26 17:59] wmbutler commented on #722
@ethanwillis

[2017-11-26 17:59] wmbutler commented on #723
@ethanwillis

[2017-11-26 18:00] startailcoon commented on #744
I can claim this for the next milestone

[2017-11-26 18:01] wmbutler commented on #463
If you can work around item 1, I'd be fine with that. My biggest issue with the notification right now is that it has to be dismissed before I can do anything else.

[2017-11-26 18:03] wmbutler commented on #513
I think we are quibbling over $1 for non-LTM and $.20 for LTM

[2017-11-26 23:11] calvinfroedge commented on #759
@wmbutler Maybe split up the mockup and css tasks?

[2017-11-26 23:48] calvinfroedge commented on #588
So I understand what the modal is supposed to look like, but there are some changes here before we get to that point...

<img width="1176" alt="withdraw" src="https://user-images.githubusercontent.com/632938/33245794-47958e8a-d2da-11e7-9ee9-b18eb49ef71a.png">

Basically the step before the modal will have to change a bit, right? Do we know exactly how that part of the UX will change?

@wmbutler

[2017-11-27 00:25] calvinfroedge commented on #44
@wmbutler @oxarbitrage @svk31 I don't think elastic search is necessary to complete this issue unless I'm missing something? The activity is already there, we just want a quick way to filter it from the interface, right?

I.e. you type and only data with matches are shown...

For the `type` attribute, this is the order type or the asset types involved?

[2017-11-27 00:27] calvinfroedge commented on #233
@xeroc Does this just generate a message you'd then copy paste with the signature?

[2017-11-27 00:28] calvinfroedge commented on #697
Is this feature currently supported in core?

[2017-11-27 06:09] btsfav commented on #233
@calvinfroedge feature is implemented since last update

[2017-11-27 06:19] #233 closed

[2017-11-27 06:19] wmbutler commented on #763
I suspect this would happen to anyone who partially connected to a socket. @svk31 can we dumb down this process anymore to keep the browser from getting hung up?

[2017-11-27 07:45] svk31 commented on #763
I guess this might happen if you fail to initialize the app, I suppose we could hardcode some values to simplify the init chain.

[2017-11-27 08:16] svk31 commented on #44
Not strictly necessary but it will reduce data fetching a lot. The current API just lets you fetch something like 200 entries of history at a time, with no filtering so you'll have to fetch the entire account history.

[2017-11-27 08:35] svk31 commented on #697
No it isn't. There are memos however which serve a similar purpose. The way I understand Bill's idea is that this requires a brand new `message` operation that does not transfer value, only a memo. That will require updates to bitshares-core and a hardfork.

[2017-11-27 12:33] h4ck3rm1k3 opened #765 "[.5] BitShares Online Exchange Withdraw - Variable undefined (gateFee)"
according to this bug report :
https://utopian.io/utopian-io/@jepu/bug-hunting-bitshares-online-exchange-withdraw-variable-undefined a user is getting an undefined variable gateFee when making a withdrawal.

[2017-11-27 13:11] oxarbitrage commented on #44
exactly as @svk31 . if you are after an account with lets say 100 operations then you will be fine, problems came when you need to start looking after an account with lets say 5 million ops or even more. the time the client will need to look inside that will be so much that you will have to tell the user "hey, wait 15 mins there until i find the results that match your query", not to mention that

[2017-11-27 13:30] calvinfroedge commented on #44
@wmbutler @oxarbitrage @svk31 Ok, I understand, and would like to attend the chat =)

[2017-11-27 13:34] btsfav commented on #765
tell him to post here. you can't see the website if not logged in.

[2017-11-27 16:29] bitcrab opened #766 "[1.5][nbcks] smartcoin force settlement offset need be shown in the asset detail page"
force settlement offset is important information for settlers or shorters to make decison in trading, it should be shown for people to get easily.

[2017-11-27 16:37] vista7 commented on #761
@wmbutler do you need any info about this error from me?

[2017-11-27 16:54] hubba1 opened #767 "When doing a SENDS: decimal numbers are changed to 1.000000 in the confirm window"
when trying to send amounts with a decimal plus numbers (example 1000.2456897) I keep getting a 1.0000000 in the confirm window. This is much needed fixed ASAP. Fav tells me he has seen this issue and thinks a GUI update will be necessary!

[2017-11-27 17:11] rPman opened #768 "multisig, by default ui mix account id and public key in permission, and can't use it in approve"
i created two accounts for multisig tests in wallet mode, using bitshares,openledger.org
main wallet - **trisity12**
second wallet - **shad4yp** .
I expected that main account **trisity12** must be limited control via **shad4yp** (need both conformation)

i added to main **trisity12** account on Active permission and Owner permission account **shad4yp** by name and setup weight: threshold=2, shad4

[2017-11-27 19:32] wmbutler commented on #767
Please send a licecap screencast so we can reproduce. Thanks.

[2017-11-27 19:34] wmbutler commented on #766
Do you have any suggestions or screenshots? We are currently changing the color of the Margin Positions value and highlighting the affected margin positions. Please be more specific.

[2017-11-27 19:38] wmbutler commented on #765
![l1aurzcdujdqwqrwcnl1](https://user-images.githubusercontent.com/1254810/33285546-3d74b77a-d378-11e7-9778-0b0df60e0ff9.gif)

![okhy0kekbasmehtfdog6](https://user-images.githubusercontent.com/1254810/33285565-47c8a6b4-d378-11e7-94c5-e0a670b160e0.png)

[2017-11-27 19:42] wmbutler opened #769 "[7] Integrate new website"
- [ ] Code Review
- [ ] Coordination Efforts

[2017-11-27 19:59] xeroc commented on #769
What 'website' is this all about?

[2017-11-27 20:08] wmbutler commented on #769
@xeroc Richg and the marketing team have put together a new website for Bitshares that is more current than the existing one. We have made an effort to offload this effort to that team by separating the wallet to wallet.bitshares.org.

I have asked richg to comment here as this progresses.

[2017-11-27 21:20] hubba1 commented on #767
![image](https://user-images.githubusercontent.com/20878396/33289870-86a7ac0a-d386-11e7-9aa5-c20a599b980e.png)

[2017-11-27 22:11] wmbutler commented on #654
Paid you.

[2017-11-28 00:48] h4ck3rm1k3 commented on #765
thanks @wmbutler it seems that this utopian system does not work as well as plain old github.

[2017-11-28 03:13] wmbutler commented on #698
- [ ] Quote should flip when price flips. See licecap. I added .5 to this since this likely required more work than you anticipated.

![flip](https://user-images.githubusercontent.com/1254810/33300787-c7a9615e-d3b7-11e7-829e-13188828600b.gif)

[2017-11-28 03:15] calvinfroedge commented on #698
@wmbutler No problem

[2017-11-28 03:22] wmbutler opened #770 "[.25] Add gdex support to help area"

[2017-11-28 04:45] wmbutler opened #771 "[5][mattbeckman] Match table headers and fonts"
These Advanced Features need to be brought up to date with the new, more modern UI present in the Dashboard and Voting. This includes:

- proper styles
- proper highlighting on hover and select
- proper / consistent margin at the top of the page
- proper font style and size

Screens included in this issue for payment

- [ ] Issued Assets --> Update Asset
- [ ] Issus Asset / Burn Asset / Update Ass

[2017-11-28 04:47] wmbutler commented on #361
Any word yet?

[2017-11-28 04:48] wmbutler commented on #667
@diogo-gomes can you have mockups finished and posted here in the next day or so?

[2017-11-28 04:51] wmbutler commented on #588
@calvinfroedge you can leave that screen as is. Your modal will be called separately. I don't think we can just remove this screen. As a matter of fact, we are going to want to keep this for a period of time as a fallback option.

[2017-11-28 04:54] wmbutler commented on #630
One of the problems with gray for the lock is that people don't seem to realize they are locked out. This is partially due to the nature of the blockchain where a user is free to look at their account even when they aren't logged in.

[2017-11-28 04:56] wmbutler commented on #733
I think your arrow direction switch is too subtle for most people to notice. What if we **bold** the appropriate asset instead?

[2017-11-28 04:59] wmbutler commented on #556
Well thought out. Thanks for putting the time into this.

[2017-11-28 05:04] startailcoon commented on #733
Definitely need some more, ofcourse. The arrow is just one thing. Still thinking of a good way to do it. I'm reluctant to add any `buy/sell` text as it would bloat the table.

I will post an update on some more changes we can make later this week.

[2017-11-28 05:17] wmbutler commented on #727
This will need to be reproduced on the testnet.

[2017-11-28 05:18] wmbutler commented on #763
Sorta what I was thinking. In order to download the binary, we don't have to connect do we?

[2017-11-28 05:19] wmbutler commented on #761
You are the only one out of thousands of people who have had this issue. I honestly don't know...

[2017-11-28 05:20] wmbutler commented on #765
Thanks for such a detailed report.

[2017-11-28 05:35] jjrang11 commented on #765
Hello there, I was the one who submitted the report and @h4ck3rm1k3 and @wmbutler told me to post here.

My test environment for this was Google Chrome Version 62.0.3202.94 (Official Build) (64-bit). I also tried it with Mozilla Firefox 57.0 and IE 11 both not able to show the Deposit/Withdraw tab. If there's anything else I could help you with then I'd be willing to help.

[2017-11-28 06:58] vista7 commented on #761
@wmbutler i can give you a crash dump

[2017-11-28 07:01] vista7 commented on #761
@wmbutler thats a crash dump file - https://cloud.mail.ru/public/4GoD/PdfYd1Mmf

[2017-11-28 07:30] wmbutler commented on #577
We have a help section that could use some love as well.

[2017-11-28 07:33] btsfav commented on #761
@vista7 you can attach files here. no need to link to questionable websites.

[2017-11-28 10:37] vista7 commented on #761
@btsfav here not downloaded the dmp - files, so I provided a link to the cloud storage.

[2017-11-28 11:04] bitcrab commented on #766
I think we need to differentiate Fed Price and Settlement Price, Fed Price refer to what now is called "Settlement Price", it is just the middle number of the fed prices, Settlement Price(in bit***/BTS format) = Fed Price*(1+offset) .

in the smartcoin asset detail page: show the 3 parameters as below:

![image](https://user-images.githubusercontent.com/5886543/33315860-db2fa91c-d46c-11e7-9f84-a53

[2017-11-28 12:10] svk31 commented on #763
In practice we don't, but wallets are linked to a chain id which is why you can have a wallet called default for both the main chain and the testnet for example.

In our case we don't really care about testnet wallets or wallets for any other chains, so we can hardcode the chain id of the mainnet for this specific use case.

[2017-11-28 12:28] calvinfroedge commented on #361
@wmbutler I have access to the source. It appears that the library requires a "UDF Compatible Data Feed", which needs to be implemented server side. This seems to be something that is specified to TradingView. I do not think it's possible to use their client side library without a server side component that operates in this way and thus far I have only found a node js implementation that indicates

[2017-11-28 19:51] diogo-gomes commented on #667
Yes @wmbutler, I'm doing now.

Can you give your feedback until I finish the others?

### Account / My Portfolio (360x640)
![Account / My Portfolio (360x640))](https://raw.githubusercontent.com/diogo-gomes/bitshares-ui-redesign-proposal/feature/dashboard/BitShares%20UI%20(360x640)/BitShares%20UI%20-%20Account%20-%20My%20Portfolio%20(360x640).png)

#
### Account / Open Orders (360x640)
![Account /

[2017-11-28 22:09] wmbutler commented on #361
OK,

Hoping to get some feedback from others here. Thanks for your work. Please put the appropriate hours in the header.

[2017-11-29 02:47] magicstone1412 commented on #609
I would like to ask you to reopen this issue. I live in Vietnam, Openledger node in Hong Kong always causes the above trouble. Can we ignore that node in case I dont want it to fall back as default when opening browser?

I have also informed openledger the problem. But I think they are not willing to fix at this time. Thank you

[2017-11-29 05:43] hubba1 commented on #767
any news on this yet?

[2017-11-29 07:25] mattbeckman commented on #771
I'll handle this one and attempt to get it done for 12/1.

[2017-11-29 12:57] svk31 commented on #361
Formatting the data like that shouldn't be a problem in the GUI, the data is already parsed and formatted extensively in MarketsStore.jsx. Feeding updated data may be trickier, as it may require a special react component with shouldcomponentupdate returning false and us handling the update cycle manually. That's certainly doable though.

[2017-11-29 15:10] svk31 commented on #763
https://github.com/bitshares/bitshares-ui/commit/0d653a27e0d8806bf586a50666a1aeddbfc290e7

[2017-11-29 15:10] #763 closed

[2017-11-29 17:51] wmbutler opened #773 "[20][oxarbitrage] UDF Wrapper for Tradingview"
This is required for execution of #361

[2017-11-29 17:53] wmbutler opened #774 "[1.5] Tradingview Research"
@wmbutler I have access to the source. It appears that the library requires a "UDF Compatible Data Feed", which needs to be implemented server side. This seems to be something that is specific to TradingView. I do not think it's possible to use their client side library without a server side component that operates in this way and thus far I have only found a node js implementation that indicates

[2017-11-29 17:55] wmbutler commented on #774
From @svk31

Formatting the data like that shouldn't be a problem in the GUI, the data is already parsed and formatted extensively in MarketsStore.jsx. Feeding updated data may be trickier, as it may require a special react component with shouldcomponentupdate returning false and us handling the update cycle manually. That's certainly doable though.

[2017-11-29 19:39] diogo-gomes commented on #667
@wmbutler, can we split the activity area from this milestone (without new allocated hours)? There is a lot of information in text and I would like to test multiple ideas.

Which do you prefer first? The activity area for mobile or the other areas for tablet and desktop resolutions?

[2017-11-30 06:05] startailcoon commented on #767
I can take this under #556 @wmbutler

[2017-11-30 09:41] pluswave opened #775 "General Idea about unified functional "URL" for bitshares mobile client"
original post:

https://bitsharestalk.org/index.php/topic,25379.0.html

    Is there any general "URL Schema" defined for BitShares mobile client ?
    In my opinion, general means "self described", so the mobile client can do 'smart things' by scan a qrcode based on a real "URL".

    for example, the following types are useful:
      1  an account address
      2. a private key
      3. a paymen

[2017-11-30 10:36] abitmore commented on #775
There was a document: https://github.com/bitshares/bitshares1-core/wiki/XTS-URLs

[2017-11-30 10:37] maiopirata commented on #639
I've almost finished this, I will push a branch in the weekend.

Some questions:
- @wmbutler can we agree a list of users/tags for the first version? Right now I only have "bitshares.fdn" with no tags. It is suboptimal, maybe for some reason bitshares.fdn wants to publish something that is not included in the feed that appears in the wallet. This would be much more common for other authors. I prop

[2017-11-30 11:03] abitmore opened #776 "Feature Request: Offline Signing"
1. The online wallet generate a transaction, json format, need:
  a. TaPoS header,
  b. not-too-soon expiration time,
  c. required keys / signed keys (optional)
  d. serialized (optional)
2. user copy the json to offline wallet, add signature
3. user copy the signed transaction json to online wallet, broadcast

PoC:
* online part:
  * src: https://github.com/zhangweis/bts-trx
  * live: https://ww

[2017-11-30 12:07] sschiessl-bcp opened #777 "[.25] No error message appears when sending without a memo key"
If a memo is given but no memo key is stored, nothing happens after the click.
On inspecting the console there was a message that the memo key is missing.

[2017-11-30 14:49] #715 closed

[2017-11-30 15:33] efork commented on #167
Hi, is this task available to pick up?  New to the project and figured I could grab the oldest to get my feet wet.  Should be able to complete today.

[2017-11-30 17:52] startailcoon commented on #723
I'll fix this

[2017-11-30 17:53] startailcoon commented on #722
I'll fix this

[2017-12-01 12:58] OLPM opened #779 "Remove OpenLedger support link from https://wallet.bitshares.org/#/deposit-withdraw/"
Please, Remove information from this page (https://wallet.bitshares.org/#/deposit-withdraw/ ) about OpenLedger support. Users do not understand that this link is related to transfer service ONLY. All frontend issues from your site does to OpenLedger support and this situation gives a lot of  difficulties to OpenLedger support.

If it is necessary - you can add note like OpenLedger is responsible f

[2017-12-01 13:32] matejbajzelj opened #780 "Issue with login to cloud account with old user-defined password with strange characters."
Greetings

I would like to report an issue with "cloud account login + old user-defined password + with special characters @ or !"...

I already posted an issue here. https://bitsharestalk.org/index.php/topic,25300.0.html (user Macario post), but was no reply.
I know how to login to online/local wallet accounts. So there is not a problem with account type login in settings.

I have the correct pas

[2017-12-01 13:34] leandrovaldez commented on #761
@vista7 can you try to download and reinstall this components:

 Microsoft Visual C++ 2005 SP1 Redistributable Package (x86)
 Microsoft Visual C++ 2005 SP1 Redistributable Package (x64)

the stack shows this:
STACK_TEXT:
0018fa94 7729f801 c0000374 772d4270 0018fad8 ntdll!RtlReportCriticalFailure+0x57
0018faa4 7729f8e1 00000002 7f81c571 00000000 ntdll!RtlpReportHeapFailure+0x21
0018fad8 7724d9bc 00

[2017-12-01 14:44] svk31 commented on #780
Special characters can be used just fine so I doubt that's the issue. For example, I just set a new active key for the account `svk-laptop` on the testnet using the password `qwdlqkwdjqlw*'@ée&ée!`. Logging in with that account name and password works fine, feel free to try it yourself.

When the account creation was modified, the only thing that changed was how the initial password was defined, n

[2017-12-01 14:56] svk31 commented on #630
I'm not far from completion on this issue, but I'm concerned about all the functionality being removed. Removing the left menu means no account qr code, no follow/deposit to/send buttons.

There's also no longer any easy access to Permissions, Signed messages, Whitelisting, Issued Assets. I'm guessing those will go under Advanced, but how exactly is that meant to work? Should clicking on Advanced

[2017-12-01 15:09] xeroc commented on #630
Very nice mockup. May it be possible to have the list of accounts in that menu scrollable?
At least today, if you have more than 10 accounts or so in your wallet, you cannot select it from the menu because the drop down isn't scrollable and the height is bigger than the screen.

[2017-12-01 15:56] svk31 commented on #630
The scrolling was actually fixed in a PR a few days ago. This new drop-down is a custom component that also uses the scrolling fix for that PR so it can scroll as well.

[2017-12-01 16:22] hubba1 commented on #767
any progress on this??  we sure need a fix asap!!

[2017-12-01 16:29] wmbutler commented on #630
- It was my intention for the "deposit" and "send" modals to be completed before this issue.
- Follow / Add Contact is definitely an issue that I haven't fully reconciled and may need some more time to reach a good solution. Other accounts can be searched from the send interface and from the account explorer interface. These are two logical places to include "Follow / Add Contact"
- Regarding Adva

[2017-12-01 16:33] wmbutler commented on #779
Would you like for us to remove you as the default gateway provider? This support link is only displayed when your dropdown is selected.

[2017-12-01 16:34] wmbutler commented on #777
Please post a screencast. I don't understand the nature of the problem based on your description.

[2017-12-01 19:30] wmbutler commented on #556
The send modal should also:

- indicate if the recipient is in the user's contact list (followed)
- allow the user to add the recipient to the contact list (followed)

## Unknown Account state
![screen shot 2017-12-01 at 1 27 49 pm](https://user-images.githubusercontent.com/1254810/33499669-7e13947e-d69b-11e7-81c6-c91a343883f7.png)

## Known Account but not followed (clicking toggles to followed)

[2017-12-01 21:49] svk31 commented on #777
I understand it, I thought I'd added a notification for this but guess not. I'll see if I can fix it.

[2017-12-02 09:26] sschiessl-bcp commented on #777
Sorry, my initial message was maybe a little too short.

This is how you can reproduce the error:
 - create a new local wallet
 - restore only the active key from an account
 - try sending any amount to any account with a given memo message
 - clicking the Send button will to nothing, no feedback, but the console will say something like: No memo key set
 - after also importing the memo private key

[2017-12-02 11:14] abitmore commented on #777
Also caused https://github.com/bitshares/bitshares-ui/issues/680.

[2017-12-02 13:23] btsfav commented on #779
removing support link will give US in telegram / discord all the issues.

so it's either staying or the gateway needs to be removed in my opinion.

[2017-12-02 15:50] abitmore commented on #775
Why closed?

[2017-12-02 15:55] abitmore commented on #775
The document I link above was about the old BitShares 0.x wallet. The feature has NOT been migrated to the new (light) wallet. I think we do need it. We can start by reviewing the document, and perhaps make a revised one to fit current wallet as well as mobile wallet products better.

[2017-12-02 18:12] wmbutler commented on #775
Bitcoin uses:

[code]

Bishares could use:

[code]

[2017-12-02 19:41] wmbutler opened #781 "[2][startail] Add / Remove Contact"
We need more places to Add / Remove Contact. If the column has a plus sign, clicking it will add it to your contacts and toggle the icon to the contact icon. Clicking again would perform the reverse task. This issue is proposing that this is possible from:

## Account Explorer
Until the explorer uses the new table look and feel, I'm proposing it look like this. Note that I also proposed some abbre

[2017-12-02 19:54] wmbutler commented on #770
No response. Closing.

[2017-12-02 19:54] #770 closed

[2017-12-02 20:04] wmbutler commented on #667
Please don't take my comments negatively. I am really impressed with your work.

- [ ] Account should be titled: Dashboard instead
- [ ] I'm not in love with the triangle for the expander
- [ ] You may have to commit 2 rows per open order line since market pairs can be long
- [ ] Really wish we could have a single control for bringing up a drawer/menu containing all the action items instead of all

[2017-12-02 20:11] wmbutler commented on #667
Super rough idea of a modal to accomplish this:

![screen shot 2017-12-02 at 2 10 34 pm](https://user-images.githubusercontent.com/1254810/33519351-a3512d12-d76a-11e7-9274-418a30f2f593.png)

[2017-12-02 20:13] wmbutler commented on #781
Potential conflicts with #167 on merge since it touches the same file.

[2017-12-02 20:20] wmbutler commented on #759
I'd really like for someone who is comfortable with both take this. I am not inspired in this area at all!

[2017-12-02 20:27] startailcoon commented on #556
# Progress Preview

![bitshares-sendmodal_preview1](https://user-images.githubusercontent.com/12114550/33519469-78de1ea4-d7a7-11e7-871b-14d733d7846c.gif)

[2017-12-02 20:32] wmbutler commented on #556
Pretty awesome. I'm assuming you have a little UI work left. Really great work.

- [ ] Let's keep the bitshares blue for the send button
- [ ] Let's keep the existing button styles (sorry my mock had something different)

Probably more responsible to sweep through all the buttons at a later date.

[2017-12-02 20:51] wmbutler commented on #630
Awesome progress. A few notes:

- [ ] Remove vertical gap between header menu and portfolio header
- [ ] Header hover/selected color should be the same color as the unselected state of the portfolio header.
- [ ] When the right header (menu) is not hovered or activated, it should match the black all the way across the header.

![screen shot 2017-12-02 at 2 48 11 pm](https://user-images.githubuserc

[2017-12-02 20:59] wmbutler commented on #639
- bitshares.fdn is specific enough that I don't think we need to restrict it to tags. Anything this account posts or **resteems** will be accepted.
- line, date, title, author reverse descending order.
- Save filter for a future enhancement.
- Most recent 20 articles by descending creation date will be fine. We can add pagination later.

[2017-12-02 22:13] wmbutler commented on #716
I'd opt for the click action to be removed.

[2017-12-02 22:24] wmbutler commented on #196
Can you post a screenshare of this issue? If it's resolved, please close it. @landry314

[2017-12-02 22:41] maiopirata commented on #639
Thanks, I have all I need!

[2017-12-03 09:47] landry314 commented on #196
I resolved it by backing up the wallets and deleting the library folder then with a clean application, importing the wallets. this was many versions of the application ago so I don't know if the wallet management has been fixed.

As I was making new accounts or hiding accounts of importing wallets or doing too much with wallets inevitably there were bugs with missing accounts. Sometimes a reload w

[2017-12-03 09:47] #196 closed

[2017-12-03 10:41] startailcoon commented on #556
@wmbutler regarding the confirm modal, I think that should wait for now. The confirm screen is deeply integrated with other functions and changing this would require additional work. I propose that we stick with the current confirm screen for the time being, letting the confirm screen be its own issue tracker.

[2017-12-03 12:38] pluswave commented on #775
payment request is just ONE use case. it should be like this:

[code]

for adding to address book

[code]

[2017-12-03 16:41] tximiss commented on #368
For the sake of being an agile trading platform it could be good a setting for enable/disable order confirmations.
Name it "Pro Trader" :-)

[2017-12-03 16:56] wmbutler commented on #556
A few more tweaks:

- [ ] Reduce vertical spacing between labels and input fields
- [ ] Allow contact icon to toggle to plus sign (unfollow)
- [ ] Make cancel / send buttons same width occupying half of the width each (with appropriate margins)
- [ ] Additional 5px margin on left/right of modal

![screen shot 2017-12-03 at 10 51 51 am](https://user-images.githubusercontent.com/1254810/33527534-43f

[2017-12-03 17:54] startailcoon commented on #556
## Final Version
A sample of the final version.

![bitshares-sendmodal_final](https://user-images.githubusercontent.com/12114550/33528035-3333705c-d85b-11e7-9380-07e621d59c6b.gif)

[2017-12-03 17:56] startailcoon commented on #556
All fixed

[2017-12-03 17:59] vista7 commented on #761
@ @leandrovaldez you mean that the crash is happening because it is not installed
Microsoft Visual C++ 2005 SP1 Redistributable Package (x86)
Microsoft Visual C++ 2005 SP1 Redistributable Package (x64) ?

ОК, i will try to download and install this package.

[2017-12-03 20:14] landry314 commented on #368
Yeah, I changed my mind, I think an advanced setting would be good, maybe with a warning.

[2017-12-03 21:35] btsfav opened #783 "[.1] Too many false "gateway is down" alerts"
I get The OpenLedger Gateway is down or not responding a lot, although it's up and fully usable via Openledger.io - same node/s.

Please check

[2017-12-03 23:45] diogo-gomes commented on #667
Of course not, I need comments/critics to improve my work.

#
- [X] Account should be titled: Dashboard instead
- [X] I'm not in love with the triangle for the expander
- [X] Really wish we could have a single control for bringing up a drawer/menu containing all the action items instead of all the buttons. It could even be a popup modal with a list in it that could be dismissed. This would be pret

[2017-12-04 01:15] wmbutler commented on #783
I think this is related to the time comparison as blocks come in. I think we are displaying the message if we are 5 seconds behind. Should we extend this to 10 seconds to hide false positives?

[2017-12-04 07:37] btsfav commented on #783
or 15 seconds. you need time to select the pair and enter details anyways. should be more than enough to alert I guess

[2017-12-04 08:16] OLPM commented on #779
Or change text to:
"For DEPOSIT AND WITHDRAWAL issues using "OpenLedger TRANSFER SERVICE", please contact Openledger at:
https://openledger.io

[2017-12-04 08:36] tximiss commented on #368
From https://t.me/Bitshares_Traders we clearly see two profiles of users. One is a trading professional who is waiting for more advanced charts (TradingView style) and don't need a periodic popup for every operation he does. The other profile are the users we want to reach, for whom all the trading features looks like a spacecraft console.

[2017-12-04 11:21] btsfav commented on #368
This wallet is a reference client, it's supposed to showcase all features.

you want a tailored wallet, which can be done by 3rd party services/companies or you.

[2017-12-04 17:26] wmbutler commented on #630
- [ ] User should be able to click anywhere on right menu to activate it

![clcik_anywhere](https://user-images.githubusercontent.com/1254810/33566552-f6d1207e-d8e5-11e7-9afc-a2a8c9506bfc.gif)

[2017-12-04 18:17] svk31 commented on #767
I'm unable to reproduce this.

![image](https://user-images.githubusercontent.com/6890015/33568744-c55fb5d6-d927-11e7-91ab-d146b3801866.png)

[2017-12-04 18:22] hubba1 commented on #767
that is so weird....I keep trying in the Compumatrix gate way and it KEEPS happening...could your try in this gateway please??  https://compumatrix.co/#/

[2017-12-04 18:55] hubba1 commented on #767
what gateway are YOU using if I may ask?

[2017-12-04 18:55] startailcoon commented on #738
![bitshares_issue738](https://user-images.githubusercontent.com/12114550/33570417-13b37326-d92d-11e7-9155-36956ac5aef0.gif)

[2017-12-04 19:15] wmbutler opened #787 "[2][pavel-lipcean] UX for Settings"

[2017-12-04 19:33] carolincik commented on #787
Hey William!

Here is a mock-up for the Settings area. I included lots of new changes - all are related to the previous mock-ups - to keep it all consistent. I am using the same grid as in the dashboard and same UX elements for the inputs / font-sizes and everything else.

Also, to display a more hierarchic design - I suggest the white color for the area - where the action actually takes place.

A

[2017-12-04 19:41] calvinfroedge commented on #588
I need to bump this to next sprint @wmbutler

[2017-12-04 19:43] carolincik commented on #787
Also here - you can see that I use the new flag from the new flags I just completed this weekend - all of them round-shaped. I think it will make the users find their language faster. These flags, are specially designed for small sizes - we can place them in a single sprite-file.

![flags](https://user-images.githubusercontent.com/5729949/33572613-19ebe73c-d93c-11e7-867a-b010bc3834b9.png)

[2017-12-04 19:45] pavel-lipcean commented on #759
![4](https://user-images.githubusercontent.com/5729949/33572232-0171f918-d93b-11e7-9ad0-4a09a5901d19.png)

Hey,

Here's my mock-up for the Help Section.

I would suggest to have a search input field in there - since - just to go through all the sections is a nightmare to be honest - users should be able to search by the keyword instantly.

I re-grouped the homepage of the help section into a new -

[2017-12-04 19:51] pavel-lipcean commented on #787
Also, Bill, I spent more than 5 hours on this mockup. Can we update the task to reflect that?

[2017-12-04 19:51] pavel-lipcean commented on #759
More than 5 hours on this mockup.

[2017-12-04 20:17] wmbutler commented on #787
Couple of things:

1. The pay rate is $125 on our hours. I'm used to UX work costing less than $125 per hour, so I could stretch this to 2 hours.
1. I'm not sure if you realize that there are 3 themes in the wallet currently. Your mockup seems to start with the dark theme, but you have a white background displayed. As a UX person, I am hoping you can appreciate that a user who has chosen a dark th

[2017-12-04 21:01] startailcoon commented on #781
![bitshares_issue781](https://user-images.githubusercontent.com/12114550/33575962-a039b146-d93e-11e7-9f7f-1e35957164a6.gif)

[2017-12-04 23:57] wmbutler commented on #667
Yes, this modal should have a header identifying:

- Category (Portfolio)
- Asset (BTS)
- Maybe a prompt like: "Action"

Under the Open Orders, the pair could be very long so I was suggesting that the pair be on line 1 and the rest of the info on line 2.

I think in all areas for consistency

Looking great!

[2017-12-05 00:14] wmbutler commented on #630
- [ ] User should be able to click anywhere on the account name to activate it
- [ ] Optional: Menu should go away onMouseup. At present the menu stays activated until user clicks away.

![switch_account](https://user-images.githubusercontent.com/1254810/33583246-fa801962-d91e-11e7-8ce2-c7ca54935906.gif)

[2017-12-05 00:51] wmbutler opened #791 "[.25][startailcoon] Change theme names"
Dark Theme -> Dark
Light Theme -> Light
Openledger Dark -> Midnight

[2017-12-05 04:35] startailcoon commented on #791
I'll take this

[2017-12-05 04:46] dot5enko commented on #765
i'll fix this

[2017-12-05 05:42] svk31 commented on #767
I'm using a development build. Please try using wallet.bitshares.org, the compumatrix website may be outdated.

[2017-12-05 06:05] hubba1 commented on #767
![image](https://user-images.githubusercontent.com/20878396/33592315-fdefcfee-d94f-11e7-8506-586fae7f4f0b.png)

[2017-12-05 06:05] hubba1 commented on #767
SAME RESULT STILL!

[2017-12-05 07:10] svk31 commented on #767
I'm still unable to reproduce:
![image](https://user-images.githubusercontent.com/6890015/33594277-9784e3fe-d993-11e7-9397-516fe0604301.png)

Are you seeing anything in the console log?

[2017-12-05 07:14] hubba1 commented on #767
where do I find that?

[2017-12-05 07:15] svk31 commented on #767
Ctrl+Shift+I in Chrome. If that doesn't work look for instructions on opening the Dev Tools.

[2017-12-05 07:19] hubba1 commented on #767
do you want me to copy what is in there and put in here?

[2017-12-05 07:23] hubba1 commented on #767
![image](https://user-images.githubusercontent.com/20878396/33594800-f608b75e-d95a-11e7-8703-83a4cdaf6536.png)

[2017-12-05 07:25] hubba1 commented on #767
![image](https://user-images.githubusercontent.com/20878396/33594829-2109e270-d95b-11e7-8fdf-4784ca7653e2.png)

[2017-12-05 07:30] svk31 commented on #630
I personally hate menus that go away when you take the mouse away so I prefer to keep it this way. I added autoclose on selecting a new account though.

[2017-12-05 07:41] #630 closed

[2017-12-05 07:42] hubba1 commented on #767
/#/dashboard:1 WebSocket connection to 'wss://bts.ai.la/ws' failed: WebSocket is closed before the connection is established.
/#/dashboard:1 WebSocket connection to 'wss://bitshares.apasia.tech/ws' failed: WebSocket is closed before the connection is established.
/#/dashboard:1 WebSocket connection to 'wss://bitshares.dacplay.org/ws' failed: WebSocket is closed before the connection is established

[2017-12-05 07:42] #738 closed

[2017-12-05 07:50] svk31 commented on #767
I'm only interested in what's in the Console, so the last output you pasted.

Is that after attempting a transfer?

[2017-12-05 07:51] hubba1 commented on #767
yes

[2017-12-05 07:53] hubba1 commented on #767
/#/dashboard:1 WebSocket connection to 'wss://bts.ai.la/ws' failed: WebSocket is closed before the connection is established.
/#/dashboard:1 WebSocket connection to 'wss://bitshares.apasia.tech/ws' failed: WebSocket is closed before the connection is established.
/#/dashboard:1 WebSocket connection to 'wss://bitshares.dacplay.org/ws' failed: WebSocket is closed before the connection is established

[2017-12-05 07:56] #723 closed

[2017-12-05 08:35] #781 closed

[2017-12-05 08:38] #765 closed

[2017-12-05 08:43] svk31 commented on #768
Because trisity12 has authority threshold 2 and the pub key of that account has weight 1, it cannot by itself sign anything requiring an active key signature.

To use a multisig setup like you want, you need three accounts. The active auths for trisity12 should contain `shad4yp` and an additional account, `shad5yp` for example. You should then propose transactions using one of shad4yp and shad5yp.

[2017-12-05 08:43] #768 closed

[2017-12-05 10:03] #556 closed

[2017-12-05 10:03] #771 closed

[2017-12-05 10:28] dot5enko commented on #554
@wmbutler so what we intended to do with old memo key? save it locally? or check if we have some memos and only in case we have - save it?

[2017-12-05 10:41] #698 closed

[2017-12-05 10:43] svk31 commented on #167
Ok we now have the contact list feature built in, but the Transfer screens still need to be updated to actually use the contacts.

[2017-12-05 10:43] #167 closed

[2017-12-05 15:49] #774 closed

[2017-12-05 15:50] #682 closed

[2017-12-05 15:56] #722 closed

[2017-12-05 17:21] dot5enko commented on #647
i claim this

[2017-12-05 17:28] dot5enko commented on #647
How about simple textual links-tabs as in https://wallet.bitshares.org/#/accounts. Seems pretty good for me.
![image](https://user-images.githubusercontent.com/5626922/33621032-3a08ef54-d9f2-11e7-93a7-e6d1b86166e4.png)
I would like to claim this task

[2017-12-05 18:49] wmbutler commented on #691
It might be better to just have the number glow on price change... Maybe have it subtly go from green to bright green and back.

[2017-12-05 22:09] wmbutler opened #796 "[.5] Send Modal Positioning tweaks"
- [ ] Alignment on +/contact icon needs to come left a few px
- [ ] Noticeable vertical shift when adding a to address

![shift](https://user-images.githubusercontent.com/1254810/33633482-9e3e9a26-d9d6-11e7-8763-47c14320e395.gif)

[2017-12-05 22:15] wmbutler opened #797 "Typeahead to include user controlled accounts and contacts"
When entering a **To** address, it would be helpful to present a typeahead that includes controlled accounts and contacts. This would help users avoid sending funds to unknown accounts.

![contact](https://user-images.githubusercontent.com/1254810/33633755-85ca5f6a-d9d7-11e7-8c2b-81e1e4f27242.gif)

[2017-12-05 22:24] bitcoiners opened #798 "[.1] Update links on bitshares.org"
Please update bitshares.org website links to exchange. It still points to
https://bitshares.org/wallet
 instead of
https://wallet.bitshares.org/

[2017-12-05 22:29] dot5enko commented on #796
i claim this issue

[2017-12-05 22:35] dot5enko commented on #797
@wmbutler do we have such typeahead feature somewhere on the site as an example?

[2017-12-05 22:46] mattbeckman opened #799 "[.1][dot5enko] Cancel button doesn't work when creating assets"
It appears the cancel button doesn't do anything when creating a new asset. Moving away from the asset creation page therefore requires switching to some other section of the app via the top or dropdown menus.
<img width="986" alt="screen shot 2017-12-05 at 2 45 50 pm" src="https://user-images.githubusercontent.com/928380/33634997-1af73dfe-d9cb-11e7-90e1-7259bbf10435.png">

[2017-12-05 23:49] diogo-gomes commented on #667
After add **My Portfolio / (Asset)** the user assumes that a decision/action is necessary. The text "action" becomes unnecessary.

![bitshares ui - dashboard - my portfolio - modal 360x640](https://user-images.githubusercontent.com/9022734/33636318-8ba5d356-da13-11e7-9931-c86eea5c58d4.png)

**This way the pair will be between the header of the table and digits. I propose transform each pair into a

[2017-12-06 00:35] wmbutler commented on #691
Here is a codepen for what I'm thinking.

https://codepen.io/wmbutler/project/editor/APypBD

[2017-12-06 11:43] btsfav opened #800 "[1][dot5enko] Create Account in new UI missing"
see topic.

perhaps this function could be added to an existing page? Not sure if we need an extra top entry in the drop-down

[2017-12-06 13:25] testlump opened #801 "[1] Security image missing on [Send] screen"
Description
-------------
The security image that was present on the [Send] screen is no longer present in build 171205. This removes a security layer that aimed to prevent users sending to phishing or scam accounts that were similarly named to trap the unwary. E.g. **p0loniex-wallet** instead of **poloniex-wallet**.

** old wallet send screen **
![image](https://user-images.githubusercontent.com/

[2017-12-06 14:10] efork commented on #716
Removed click, pr submitted

[2017-12-06 14:33] oflyhigh opened #803 "[.5][dot5enko] Unable to specify bitCNY as Fee type when try to sell all BTS"
# Steps to reproduce

* Login and open market https://wallet.bitshares.org/#/market/BTS_CNY
* Try to place an order to Sell all BTS asset, select ***bitCNY as Fee type***
![image](https://user-images.githubusercontent.com/25529332/33666158-1ef44b0e-dad4-11e7-8227-41bad4210a78.png)
* Press SELL button, ***Please confirm the transaction*** dialog appeared
![image](https://user-images.githubuserconte

[2017-12-06 15:02] wmbutler opened #804 "[2.5][Cryptopeppe] Update Spanish translation"

[2017-12-06 15:07] Cryptopeppe commented on #804
Hello, I'll do it! :)

[2017-12-06 15:21] wmbutler commented on #801
Are you telling me that people actually send security images to each other and compare them? Honestly, when is the last time anyone did that? Having trusted users in Contacts is really the way to proceed forward on this IMO.

I have no idea what the security image for a recipient is. If we look at the design pattern for all of crypto and banking, there isn't a single other site that uses this.

I'

[2017-12-06 15:21] wmbutler commented on #800
Agreed. Adding this to 171215. Possibly need to hotfix this.

[2017-12-06 15:25] wmbutler commented on #799
What should the cancel button do in your opinion? Should it perform the action of -1 in the broswer to go to the previous page? Should it reset form fields?

[2017-12-06 15:25] wmbutler commented on #798
@xeroc

[2017-12-06 15:27] btsfav commented on #800
together with https://github.com/bitshares/bitshares-ui/issues/803

[2017-12-06 15:28] btsfav commented on #801
agree with @wmbutler - and you can still use the old send via menu

[2017-12-06 15:40] wmbutler opened #805 "Removing a contact where I hold the keys"
Should a user be able to "unfollow" / "remove contact" for accounts where they hold the keys? This could create a situation where users lose their active accounts.

For example, if I hold the keys to a secondary account, if I remove them as a contact, they get removed from my Accounts area. Just seems strange that a user would be required to follow an account that they own.

This can be a question

[2017-12-06 15:45] startailcoon commented on #799
We could have one button to clear and one to go back

[2017-12-06 15:53] testlump commented on #801
Yes - I can say I certainly do. See moving funds between wallets with accounts located on different devices like a smartphone and desktop.

You are comparing apples to oranges. Firstly most crypto's do not have the user friendly 'account name' pattern that is used by Bitshares, they use complex alpha-number strings which contain a built in checksum. As a consequence it is very difficult to send to

[2017-12-06 16:58] mattbeckman commented on #799
IMO "Cancel" when creating something should return you to the view from whence you came.

I would be hesitant to add a 3rd button for UX simplicity reasons.

[2017-12-06 17:30] startailcoon commented on #716
The star symbol sorts the list by "star" status ASC / DESC and secondly by name equally depending on the order.

I would expect clicking on the star in the header to sort by status ASC / DESC and name would always be in ASC order.

I don't agree that we should remove the sorting function entirely

![bitshares-sortingstar](https://user-images.githubusercontent.com/12114550/33675612-68a93a14-dab3-11

[2017-12-06 17:40] startailcoon opened #807 "[.1][startailcoon] "Accounts" in dropdown goes to "last opened tab", not accounts"
When clicking on the `Accounts` entry in the drop down menu I expect the Accounts list to appear, but depending on what the user has last viewed before it may go to either Accounts, Contacts or Recent Activity.

[2017-12-06 18:03] btsfav opened #808 "[.25] Theme Midnight (OL Dark) needs some care"
Most pages are not real midnight bg, but borrow from the current "dark theme".

this needs some work please

Good:

![](https://i.imgur.com/yLlfmgJ.png)

Bad Deposit/WD (of many):

![](https://i.imgur.com/ZE23YWu.png)

[2017-12-06 18:42] Vanterpool7 opened #809 "plz cant someone help I sent my bitcoin by mistake to another address"
Im contact open ledger support to try to fix my problem and after a lot email they respond to me and tell me the bitshares is a different platform , the  bitshares support support to fix my problem because the money I sent. , I sent to a bitshares account no to open ledger account plz someone help from bitshares please if you cant contac me by at esv-ministry@hotmail.com

[2017-12-06 20:43] startailcoon commented on #513
I can take this task and submit a proposal on it

[2017-12-06 20:47] startailcoon commented on #727
I can claim this, and investigate a bit more on testnet to see if I can reproduce the issue and in that case propose a fix for it.

[2017-12-06 21:14] btswolf opened #811 "[.25] Incorrect settle date in new UI"
Settle orders date are incorrect for certain time zones.
![image](https://user-images.githubusercontent.com/11035520/33685690-b4646c70-dad2-11e7-9060-57a40a94e1b6.png)

[2017-12-06 22:32] wmbutler opened #812 "[.5][dot5enko] Remove unit of currency from labels in My Portfolio"
Unit of currency is implied based on the settings chosen in general settings. Displaying it is redundant and throws off a clean view.

- [ ] Price
- [ ] Value
- [ ] Total

![screen shot 2017-12-06 at 4 29 34 pm](https://user-images.githubusercontent.com/1254810/33688900-e32b3a0a-daa2-11e7-8855-c8953578408c.png)

[2017-12-06 22:40] dot5enko commented on #812
i claim this

[2017-12-06 22:51] wmbutler commented on #809
https://t.me/BitSharesDEX

[2017-12-06 22:51] #809 closed

[2017-12-06 22:55] wmbutler commented on #808
This is not a problem on Chrome for Mac. Please state your browser and OS.

[2017-12-06 22:56] wmbutler commented on #807
So, you'd like this to reset to the accounts filter. Understandable.

[2017-12-06 23:11] wmbutler opened #813 "[.25][dot5enko] Remove border from tables and add a row hover state"
The account table is already displayed this way, but it would be nice if all tables adopted this look:

- [ ] Remove borders
- [ ] Add hover state to row

![screen shot 2017-12-06 at 5 09 33 pm](https://user-images.githubusercontent.com/1254810/33690275-78049248-daa8-11e7-97d8-fb72374f4234.png)

[2017-12-06 23:19] Vanterpool7 commented on #809
hi sir IM spanish And I do not understand what you just say i see that you  put this https://t.me/BitSharesDEX , Im click but nothing happen

[2017-12-06 23:21] wmbutler commented on #809
It's a telegram channel. We don't offer support here. This is a development site. You can also try discord:

https://discord.gg/GsjQfAJ

[2017-12-06 23:26] dot5enko commented on #813
i claim this

[2017-12-06 23:28] wmbutler commented on #813
Awesome. User the hover state on accounts/contacts for the hover color.

[2017-12-06 23:30] dot5enko commented on #813
got it

[2017-12-06 23:42] Vanterpool7 commented on #809
sir sorry but the page you just give me is a game store I don't think they related to bitshares .org

________________________________
From: Bill Butler <notifications@github.com>
Sent: Wednesday, December 6, 2017 5:21 PM
To: bitshares/bitshares-ui
Cc: Vanterpool7; Author
Subject: Re: [bitshares/bitshares-ui] plz cant someone help I sent my bitcoin by mistake to another address (#809)

It's a tele

[2017-12-06 23:54] #811 closed

[2017-12-07 00:08] dot5enko commented on #812
@wmbutler did it for all tabs in dashboard, not only portfolio. is it ok ?

[2017-12-07 03:00] dot5enko commented on #803
i claim this

[2017-12-07 03:09] Xeldal opened #816 "Consolidate Top Bar and Dropdown Menu to Left Side Under Bitshares "b""
Problem:
Navigation is a mess. We have 5 different competing styles of organization and you can't find everything in any of them.  Some items are repeated in 3 or more places.  Some pages are slightly different depending on how you choose to get there.

menu items feel strewn all over, unorganized, all as top level items. where they could be grouped from a single menu.

Solution:
We only need 1 co

[2017-12-07 06:10] btsfav commented on #808
Windows 7, light client

[2017-12-07 06:12] landry314 commented on #809
@Vanterpool7, telegrama debe estar instalado en el dispositivo que está utilizando ahora para que funcione este enlace. (thanks google translate)

You must have telegram installed to use this link.

Github is a software development website and not a support site. You are in the wrong place. Bill is saying you need to ask your question on the bitshares telegram group... or on discord.

[2017-12-07 06:15] landry314 commented on #812
It still helps to make it clearer. Settings are buried. Taking this away will confuse people.

[2017-12-07 07:25] wmbutler opened #819 "[.5][bigspider] Fine Tune UI"
I've had some feedback on this top menu that I think is good and requires a very small change. If you claim this, please submit a licecap once the work is complete for a quick check before the PR.

- [ ] 25% smaller icon size (on top header)
- [ ] 25% larger font size (on top header)
- [ ] icons should hold the same color on hover/non-hover as the text
- [ ] Submenu should have a blue square hover

[2017-12-07 07:38] wmbutler commented on #697
Actually, I was thinking that it would just be a send operation and we would insert JSON to specify the message. The sender could determine the importance of the message by paying more or less BTS to send it eventually, but initially, it would be the bare minimum BTS fee + cost per KB, calculated for the user before send. Moving this to a later Sprint since it requires more conversation.

[2017-12-07 07:42] wmbutler commented on #647
Yeah, I like where you are going. It would basically be just like the Dashboard, but would have the categories listed across the top in the secondary nav bar right?

So, instead of Portfolio/Open Orders/Margin, it would have each explorer category. I think it might be wise to leave off the icons. With icons in the header, I worry it's going to look really busy.

![screen shot 2017-12-07 at 1 39 53

[2017-12-07 07:48] bigspider commented on #819
Can I claim this?

[2017-12-07 07:48] wmbutler commented on #769
This really needs to be claimed and @xeroc if you can resolve any issues that bitshares.fdn has with content, it would be much appreciated.

[2017-12-07 07:49] wmbutler commented on #639
Looking forward to seeing this.

[2017-12-07 07:53] wmbutler commented on #799
I just tested this.

- Cancel resets the form. I'd suggest renaming it to Reset and closing this issue.

Both the light client and the web browser have back arrows as well as a menu options.

[2017-12-07 07:55] wmbutler commented on #745
@bitcoiners the balance values are set based on your settings -> General -> Preferred Unit of Account

[2017-12-07 07:57] wmbutler commented on #745
One problem here is how we go about adding things up if we are showing value in both margin positions and in Portfolio.

[2017-12-07 08:00] wmbutler commented on #800
Let's do this:

- [ ] Add button "Create Account"
- [ ] Place it to the right of button "Show Hidden Accounts"
- [ ] Make both buttons "Bitshares Blue"

![screen shot 2017-12-07 at 1 58 43 am](https://user-images.githubusercontent.com/1254810/33704468-302f81b8-daf2-11e7-8f0b-1d7ed2413faa.png)

[2017-12-07 08:35] svk31 commented on #805
Agreed that this shouldn't be possible, unintended effect of the contacts change.

[2017-12-07 08:44] wmbutler commented on #816
We might consider placing things that are account specific in a menu under the user's name while placing things that crossover to different accounts as a menu under the bitshares logo. My only reservation in regards to this is that it is unusual for the logo in the top left corner to be a menu. It's typically a link to "home".

When I think of Home, the dashboard comes to mind because it provides

[2017-12-07 08:47] wmbutler commented on #524
Closing this since we have both deposit and withdraw issues and both have been claimed.

[2017-12-07 08:47] #524 closed

[2017-12-07 08:48] wmbutler commented on #44
Calvin, it's all yours. I started this at 15 hours and expect it will be more. Keep us in the loop as you progress.

[2017-12-07 08:51] wmbutler commented on #779
@OLPM you know you can submit a PR right?

[2017-12-07 08:56] wmbutler commented on #680
This error also needs to be handled on the new #588 Withdraw Modal since the old one will go away. Tracking the hours to fix the issue on #777

[2017-12-07 09:00] wmbutler commented on #775
Or we can break them down into their tasks and execute them one at a time. One thing I'm curious about, it's interesting to me that the standard revolves around the full name of the asset rather than the abbreviation. Any thoughts on this as far as being universal?

For each symbol, is there always a single word equivalent and do we have a relibale way to crossreference?

`bts://` vs `bitshares://

[2017-12-07 09:14] Alyona666 opened #820 "ADD GMP token,please"
Hello,
I'm Alyona - representative of GMP project (https://gmp.im)
GMP (Global Metrology Project) is an ambitious international project aimed at creating a network of metrology centers and innovative technology clusters
I can't find your email, so i write here
The 1st round of our ICO is already over.
We want to be listed on your exchange, so what can we do to be listed?
There are some details
Tok

[2017-12-07 09:20] #820 closed

[2017-12-07 09:22] btsfav opened #821 "Warning text when you click Deposit/Withdraw for the first time"
There should be a clear highlight (or copy paste from the gateway help page) for first-time users.

it's still not clear enough for some how gateways work and are related (or the lack of) with bitshares core

[2017-12-07 09:30] #777 closed

[2017-12-07 09:34] svk31 commented on #716
Don't agree that this needs to be removed either, like startail says there's nothing unexpected about that sorting.

[2017-12-07 09:34] #716 closed

[2017-12-07 10:02] dot5enko commented on #799
i claim this

[2017-12-07 11:30] MarkoPaasila opened #823 "[2][dot5enko] Can't paste values into input fields of exchange with Firefox 57"
What's working:

- paste with right-click and "paste" in any field with Firefox or Chromium
- paste in search fields with CTRL+V with firefox and chromium
- paste with CTRL+V in exchange input fields with Chromium

What's not working:
- paste with CTRL+V into exchange input field with Firefox 57 on Linux. (Archlinux)

[2017-12-07 11:50] maiopirata commented on #639
#824 Ok I think we are close

[2017-12-07 11:54] abitmore commented on #820
@Alyona666 you can contact openledger.io. If you know Chinese, you can contact hellobts.com (WeChat `dacnow`).

[2017-12-07 13:43] svk31 commented on #639
Nice job so far! Here's a screenshot:

![image](https://user-images.githubusercontent.com/6890015/33717549-9f3c0a14-db5a-11e7-8ce1-4f8883c65637.png)

Some feedback:

- [ ] Format dates. @wmbutler any preference here?
- [ ] Translate any text strings. If you don't find the words already in locale-en, add them to a new "news" key. react-translate-component is what's used for translations
- [ ] I thi

[2017-12-07 14:25] Xeldal commented on #816
My biggest complaint with what we have is that the items are scattered.  Some items are under the username, some are top bar, some can only be found by first clicking one of those 2 and then navigating yet another menu somewhere else.

I think we can find solutions to your objections.
**Home:**
I agree that the "b" is more like a home button and its not necessary that it be link with the menu in a

[2017-12-07 14:25] SatoshiEC opened #825 "Bitshares app showed USDT address despite OMNI gateway turned off at openledger!"
On bitshares app (bitshares.171205 ) went to deposits and set to use openledger gateway, clicked on USDT to see deposit address.. It showed me this one:

16rqdysHyXuRA3y7zUVchMZRR36WspJCJE

After I transfered some tether to that address, checked again the deposit page and this message appeared “Gateway temporarily unavailable for this coin” What happens in this type of scenario? Logically I would

[2017-12-07 17:02] wmbutler commented on #821
Deposit Withdraw modals are being created this Sprint. Let's see how that goes.

[2017-12-07 17:04] wmbutler commented on #823
Please post a licecap.

[2017-12-07 17:06] wmbutler commented on #825
This is not a support channel.

https://wallet.bitshares.org/#/help/gateways/openledger

[2017-12-07 17:06] #825 closed

[2017-12-07 20:30] SatoshiEC commented on #825
Yeah but this is what openledger says:

So.. what do you recommend? 2k usd are at risk for some issue that is not my problem but an openledger or Bitshares gui issue and I find help nowhere!!

[2017-12-07 20:31] startailcoon opened #828 "[5][dot5enko] Clearly identify known accounts when sending"
As talked about before, we should set a default setting to disallow transferring funds to unknown/none-followed accounts.

This setting should be set as on by default, while the user can disable it either in the settings or on the component that is affected by it.

[2017-12-07 22:53] dot5enko commented on #800
i claim this

[2017-12-07 23:37] bigspider commented on #819
Here is my current result:

![bitshares-819](https://user-images.githubusercontent.com/6681844/33743733-f867b9e4-dba5-11e7-84df-efb65d5f4d0b.gif)

I also added the same easing animation for the text in the submenu (earlier it was instantaneous).

Note: the size of the icons is hardcoded in the Icon component, which seems quite a bad idea to me and it should probably be refactored. I didn't do it a

[2017-12-08 00:35] dot5enko commented on #800
@wmbutler i've made a link from a shown place to "create account" page. but it seems that page not works when you're logged in. You can check it now by going to https://wallet.bitshares.org/#/create-account/password. when all rules are accepted register button is still disabled. and when no user is logged everything is fine. so i need some extra time to get it work

[2017-12-08 01:44] Cryptopeppe commented on #804
my address cryptopeppe3

[2017-12-08 02:37] fletchertyler914 commented on #776
I will probably take this one @wmbutler

[2017-12-08 03:37] wmbutler commented on #167
Great work @efork. Please reply with your bts address for payment.

[2017-12-08 03:38] wmbutler commented on #765
Please reply with your BTS address for payment. @dot5enko

[2017-12-08 03:42] ai3d-brodie commented on #687
Yes agree portfolio should include open order funds similar to any other exchange. thx

[2017-12-08 03:44] ai3d-brodie commented on #502
And orders on the chart.  yeaaaaah

[2017-12-08 03:48] wmbutler opened #830 "[3] Websocket reliability issues"
Latest Chrome
Current iMac Sierra 10.12.6
100Mbps x 60Mbps Internet connection

- Description: It is very common for my browser to lose its socket connection to it's node. I typically connect to the Dallas Node automatically since it's generally the closest.
- Frequency: Occurs multiple times daily

I am hoping that through some analysis we can identify something in our code that contributes to th

[2017-12-08 03:50] efork commented on #167
Thank you,  efork-1.  Will take a look at open issues and help out where I
can in the next few days.

On Thu, Dec 7, 2017 at 8:37 PM, Bill Butler <notifications@github.com>
wrote:

[2017-12-08 03:53] wmbutler commented on #554
This is definitely the hard part. There was one idea to encrypt the old memo key with the new one so  old ones could be decrypted in a cascading fashion.

[2017-12-08 04:05] wmbutler commented on #639
- [ ] I like mm/dd/yy hh:mm pm.
- [ ] Force the date to live on a single line (rather than splitting to 2 lines).
- [ ] Ensure same font style and size as Dashboard.
- [ ] Truncate story subjects intelligently as browser is made smaller (Technical Issue...)

Sounds like a plan

Let's just make the entire row clickable and deliver the user to Steemit.com. Use the same hover state all the other tabl

[2017-12-08 04:26] wmbutler commented on #800
@svk31 only Local Wallet type accounts can create accounts, right?

[2017-12-08 04:31] wmbutler commented on #800
@dot5enko I think the Create Account button is only available for local wallet users and it creates an additional name under the the local wallet model. Don't confuse that with the Cloud Wallet account creation.

Here is what the new account form looks like under these circumstances:

![screen shot 2017-12-07 at 10 30 45 pm](https://user-images.githubusercontent.com/1254810/33751124-650617f6-db9e-

[2017-12-08 04:33] wmbutler commented on #502
#361

[2017-12-08 04:49] wmbutler commented on #828
It's important that users have confidence without restricting their actions. I'd propose this:

- [ ] Allow for a typeahead in the To input field for all contacts (including accounts the user owns in the local wallet). The typeahead will show eligible contacts eliminating potential problems.
- [ ] If the user has entered a contact's name, let's turn the "BASIC MEMBER #00000" and the contact icon g

[2017-12-08 04:56] wmbutler commented on #759
The title of this issue is: Help area css styling of Markdown. This was not a mockup issue. I'll clarify. Looking for someone who will apply some css styles to this help area to give it consistency.

[2017-12-08 04:57] wmbutler commented on #783
#830

[2017-12-08 05:24] jjrang11 commented on #765
don't i get anything for reporting? :( hahahah anyways, thanks for fixing the bug!

[2017-12-08 05:26] wmbutler opened #831 "[1][dot5enco] Setting -> General -> Login Mode gets changed if use navigates to a specified endpoint"
I think I may have discovered the source of confusion for logging in for users who previously had Local Wallet Accounts. it surprised me tonight while testing something else entirely.

If a user attempts to hit this endpoint:

https://wallet.bitshares.org/#/create-account/password

It modifies their Settings -> General -> Login Mode to Cloud Wallet. This then asks for a username and password for s

[2017-12-08 05:53] startailcoon opened #832 "Enable scan QR code"
As we add more QR codes in the wallet I think it is about time we implement a component for accessing the camera on the users device to enable scanning.

This would add yet another safeguard on transactions for users.

[2017-12-08 06:00] wmbutler commented on #798
@svk and @xeroc please update this immediately. This makes the entire organization look incompetent.

![wallet](https://user-images.githubusercontent.com/1254810/33753017-c5a3458c-dbaa-11e7-847c-2b49e1f98b1f.gif)

[2017-12-08 06:12] wmbutler opened #833 "[.25] Add bitSILVER and bitGOLD to default Margin Positions"
![screen shot 2017-12-08 at 12 12 15 am](https://user-images.githubusercontent.com/1254810/33753365-79bc1df4-dbac-11e7-9f4b-e5785b87a47e.png)

[2017-12-08 06:13] wmbutler commented on #832
Agreed. Will be required for:

- [ ] Withdraw Modal
- [ ] Send Modal

[2017-12-08 06:23] wmbutler commented on #801
The identicon is destined for death. Everything one of your concerns is easily solved by:

- Address book / Contacts
By offering visual queues on the send modal, as well as typeaheads for known contacts we can remove just about every case of a mis-entered target account.
- [ ] QR codes
QR codes achieve what the identicon achieves x100. A QR provides an infallible way for user A to correctly target

[2017-12-08 06:34] btsfav commented on #801
+ human readable accounts

[2017-12-08 06:37] btsfav commented on #800
any account type should be able to create accounts though. needs to be LTM

[2017-12-08 06:39] btsfav commented on #830
dallas node will be removed and apasia US nodes will take over. I'd suggest to wait and test once they're in

[2017-12-08 08:23] pluswave commented on #775
I agree with @wmbutler .  I think payment request is a key use case. So I try to give a full definition here.

[code]

| part | definition |
|------|-----------|
| bts:// | URL schema, all bitshares client use it. |
| 2.0  |   path part 1: bitshares 2.0 version, so we can change it later |
| paymant/request | path part2:  use case , payment request |
| ? | query params follow   |
| account |  quer

[2017-12-08 09:06] testlump commented on #801
I agree that a QR code would solve this problem in a standardized and widely recognized manner, but this isn't present at the moment. If a QR code is going to replace the identicon then I would agree that it would be a preferable solution.

[2017-12-08 09:32] dot5enko commented on #833
i claim this

[2017-12-08 09:48] dot5enko commented on #831
i claim this

[2017-12-08 09:52] dot5enko commented on #828
@wmbutler there are issues #797 and #796 which cover some of aspects you've listed above

[2017-12-08 10:02] dot5enko commented on #765
@wmbutler my bitshares account is **dot5enko-pay**

[2017-12-08 10:26] svk31 commented on #831
This was added specifically to prevent issues users were having with being in local wallet mode when what they had was a cloud wallet mode. One improvement we could make is to only switch the mode to cloud wallet once the user succesfully creates a new cloud wallet account.

[2017-12-08 10:28] svk31 commented on #828
Right, and we don't currently have a typeahead component so it would have to be built as part of either this issue or #797

[2017-12-08 10:29] svk31 commented on #828
For the record I don't think it's a good idea to limit transfers to only known accounts; it's too restrictive. The typeahead is a better solution.

[2017-12-08 10:33] h4ck3rm1k3 commented on #765
what about me? I was the one who helped out here, got him onto the the
right track.

On Fri, Dec 8, 2017 at 5:02 AM, dot5enko <notifications@github.com> wrote:

--
James Michael DuPont

[2017-12-08 11:03] startailcoon commented on #828
I agree that typeahead is a good way to go. My initial thought was to make sure that the transactions was made safer for users.

[2017-12-08 11:03] svk31 commented on #812
I don't think this is a good idea either; will just cause confusion.

[2017-12-08 11:08] svk31 commented on #798
Fixed here: https://github.com/bitshares/bitshares.github.io/commit/2130bcaa75c8443927fe78741de1961350bc8a35

[2017-12-08 11:08] #798 closed

[2017-12-08 11:15] #813 closed

[2017-12-08 11:23] svk31 commented on #803
Unable to reproduce this bug, the fee gets kept just fine for me. What was your bitCNY balance at the time of attempting to do this?

Oh and by the way, you should always pay fees in BTS if you have BTS, it's cheaper...

[2017-12-08 11:26] svk31 commented on #803
Ok nevermind I see what's happening, the fee isn't getting subtracted from your total when it's in a non-core asset.

[2017-12-08 12:01] abitmore commented on #776
Please keep in mind about how to deal with memo encryption.

[2017-12-08 12:23] #799 closed

[2017-12-08 12:24] svk31 commented on #639
Of course you like mm/dd/yy, you're American ;) Like most Europeans (I assume) I don't, I prefer dd/mm/yy..

[2017-12-08 12:38] #803 closed

[2017-12-08 12:38] svk31 commented on #803
Just for the record: you'd be better off paying that fee in BTS since it's cheaper.

[2017-12-08 14:20] fletchertyler914 commented on #776
@abitmore, could you please explain exactly what you are looking for here as a reference point? Are you wanting to be able to do this for all transactions or just specific ones?

I'm trying to figure out of "Offline Transactions" needs its own space/page or if it should be added to the activity page. How are you envisioning the flow of the process in the current wallet UI?

[2017-12-08 19:27] dot5enko commented on #833
@wmbutler  i've added GOLD and SILVER but it says:
![image](https://user-images.githubusercontent.com/5626922/33781638-1ab13e2c-dc5e-11e7-8a4b-f8f79850b40a.png) when i try to adjust it. Also there is no margin positions on https://wallet.bitshares.org/#/asset/GOLD and SILVER page as well, guess it's not possible to set margin on these assets

[2017-12-08 19:30] svk31 commented on #833
It's OK, that's because those asset had blackswan events that disabled them. We want to add them now because they're being re-enabled following the recent hardfork.

[2017-12-08 19:40] dot5enko commented on #833
ok. created pr

[2017-12-08 21:27] dot5enko commented on #796
fixed
![modal](https://user-images.githubusercontent.com/5626922/33785754-1ee973ae-dc6f-11e7-8f79-ce83befe8552.gif)

[2017-12-09 10:30] startailcoon opened #837 "TypeError when Navigating to Market from Account Dashboard"
I've noticed an issue in the latest wallet (could be unrelated though) where you navigate to a market from the Dashboard with the `Market` icon.

The market then doesn't load.

[code]

I haven't investigate further yet, but wanted to document the issue for reference.

[2017-12-09 10:33] startailcoon commented on #833
There are more assets than gold and silver that are Smart Coins.

The recent list of revival are:
- [BTWTY](http://cryptofresh.com/a/BTWTY_BTS)
- [CASH.BTC](http://cryptofresh.com/a/CASH.BTC)
- [CASH.USD](http://cryptofresh.com/a/CASH.USD)
- [GOLD](http://cryptofresh.com/a/GOLD)
- [GOLOS](http://cryptofresh.com/a/GOLOS)
- [GRIDCOIN](http://cryptofresh.com/a/GRIDCOIN)
- [HKD](http://cryptofresh.com

[2017-12-09 12:54] #452 closed

[2017-12-09 18:03] HarukaMa opened #841 "Incorrect width on mobile layout"
![screenshot_20171210-025346](https://user-images.githubusercontent.com/861659/33798113-85177eea-dd56-11e7-8f48-8419f64a993e.png)

Like in this screenshot. The right side is being cropped. Cannot zoom out more on this state.

[2017-12-09 18:10] HarukaMa opened #842 "Missing balance "quicklook" function"
In previous versions, one can hover on the balance value on the top right corner of the ui to see breakdown of the value in all assets. This function is now missing, so one will have to go to dashboard to check them. Moreover, the old hover automatically includes all margin positions and open orders, and it was the only way to do that. Now one will have to do the sums himself.

Please consider bri

[2017-12-09 18:21] thul3 opened #843 "Get CVCOIN on Bitshares main UI for OPEN.BTC , BTS and BitUSD"
On the main page of bitshares UI there are many coins listed which have zero volume.
As an uprising coin which is soon joining 2 major exchanges i would like to ask to add CVCOIN to
main UI of Bitshares Asset Exchange so people can see that coin instantly since we make already volume and would like to be easy found.Currently CVCOIN can only be found via search tab which results to ZERO volume from

[2017-12-09 18:26] jamesnkh commented on #843
Yes, this coin will gain high adoption rate in Q1 2018 when the commercial products are out on both apple and google play stores. Please add the CVCOIN image for more exposure.

[2017-12-09 18:54] harrypocrypviser commented on #843
I join the request of thul3 CVCOIN to be added to the main UI of Bitshares Asset Exchange. Crypviser has huge potential for near future.

[2017-12-09 19:02] HarukaMa commented on #841
Forgot to mention that I have only found this issue on asset page.

[2017-12-09 20:28] wmbutler commented on #557
Bill Butler, [09.12.17 14:21]
The values in the typeahead should be a UNION of all available gateways

Bill Butler, [09.12.17 14:23]
For example is all the postential gateway assets were: RUDEX.PPY, OPEN.PPY, OPEN.BTC, BRIDGE.BTC, OPEN.LTC, the typeahead would contain: PPY, BTC, LTC

Bill Butler, [09.12.17 14:23]
If the user selected, LTC, the only gateway option would be Openledger

startail, [09

[2017-12-09 20:29] wmbutler commented on #557
- [ ] Use ASSET instead of SYMBOL

[2017-12-09 20:32] wmbutler commented on #841
Part of responsive design effort.

[2017-12-09 20:33] wmbutler commented on #842
Balance is available under the dashboard and top right menu.

[2017-12-09 20:49] future213 commented on #843
Please add this hidden gem on he main UI of Bitshares Asset Exchange. This coin has tremendous growth potential and should achieve all its targets in the near future.

[2017-12-09 22:13] btsfav commented on #843
? you can trade EVERY bitshares based coin on the exchange.

[2017-12-09 23:18] calvinfroedge commented on #588
@wmbutler @startailcoon Please let me know how this is looking on the typeahead...

![typeahead](https://user-images.githubusercontent.com/632938/33800419-5b6b7810-dd0d-11e7-81f1-8b25ecf7a059.gif)

@svk31 Should the onSelect just return the symbol? i.e. `OPEN.BTC`?

[2017-12-09 23:24] malcolmjmr opened #848 "Make markets side bar on exchange page collapsable."
Market side bar takes up too much real estate. Need to provide user option of removing.

[2017-12-09 23:25] #807 closed

[2017-12-09 23:25] #791 closed

[2017-12-09 23:31] malcolmjmr opened #849 "Add prediction market tab"
![prediction markets in market side bar](https://user-images.githubusercontent.com/6549127/33800515-dbd2645e-dcf5-11e7-852a-523bbaaa4335.png)

Bitshares has a robust solution for prediction markets that is not advertised or used. We should promote these markets.

[2017-12-10 00:04] dot5enko commented on #647
here s what i made
![explorer](https://user-images.githubusercontent.com/5626922/33800700-5c9a1944-dd4e-11e7-86bc-4828177d1c52.gif)

[2017-12-10 00:50] abitmore opened #851 "Error claiming balance"
https://bitsharestalk.org/index.php/topic,25459.msg313246.html#msg313246

Error claiming balance: TypeError: e is undefined

[2017-12-10 03:27] thangpham1 commented on #843
Crypviser is the ultimate encryption technology in the future. Cvcoin will be very valuable and increasingly popular. Please add this hidden gem on he main UI of Bitshares Asset Exchange.

[2017-12-10 03:31] cheeky772 commented on #843
CVCoin will be the coin with validity people have been searching for, if at all they had any misgivings about cryptocurrency. This is not a speculative asset and there is no way it cannot be the king on the main UI Bitshares Asset Exchange. In my opinion, CVCoin will outclass Bitcoin in terms of practical utility.

[2017-12-10 04:14] HarukaMa commented on #842
@wmbutler I'm not talking about it; do you remember that in old version you can hover on the balance text on the top right and view EACH owning asset value on ANY state? That's what's missing in this new UI.

Please, read the original message. I really can't understand your reply on it.

[2017-12-10 04:46] cektop commented on #843
CVCOIN please to main page of bitshares UI, everybody will profit.

[2017-12-10 07:06] thul3 commented on #843
@btsfav

thats correct but you need to search for it in the "find markets" tab and you need to know the name.
CVCOIN is not being displayed on "my Markets" as standard coin which means many people don't know about that coin.
The zero volume of CVCOIN from Bitshares Asset Exchange proof this claim
Also there are many coins listed which have zero volume so it would be just fair to list CVCOIN there

[2017-12-10 09:37] DieselDawgg commented on #843
I'm very surprised it's not already there in front for everyone to see when it's the next generation of business & personal encryption. Come on Ronnie, you know this..... Give crypviser a push mate

[2017-12-10 11:03] magicstone1412 opened #852 "Request password before backup .bin file"
Today, I found that I could create backup .bin file without my password. I use my bin file to import to my company's computer. But that computer is not used only by me. I would like to suggest that to backup .bin file, the password must be inputted before downloading that file as same as brainkey. Could you please implement that feature in the next version? Thank you.

[2017-12-10 11:37] btsfav commented on #852
I would be against this. If you're on a compromised computer/wallet, you'll give them your password on top of it. the .bin is encrypted with your password anyways, so this would be a double

[2017-12-10 11:38] btsfav commented on #843
@thul3 then teach people how to reach it. can't display all minor assets on the front page, at least until there's an algorithm for it

[2017-12-10 11:43] magicstone1412 commented on #852
After extracting the .bin file, the old one will be expired. Have you thought this problem?

[2017-12-10 12:02] barka80 commented on #843
yeah CVCoin definitely deserves to be promoted on the main page, esp that it's built on bitshares network. besides it will surely catch a lot of attention in the coming weeks because of the wallet and beta release.

[2017-12-10 12:09] startailcoon commented on #733
I've updated this to set the assets in the color if they are bid or buy,

In the following liceCap I'm Buying 10 GRC for 1 BTS at 0.1 GRC/BTS.
*In reverse this means we're Selling 1 BTS for 10 GRC at 10 GRC/BTS.*

BTS: Selling = Red
GRC: Buy = Green

- Arrow Direction always heading towards the assets you're buying.
- Selling asset is always red
- Buying asset is always green

![bitshares-tradingp

[2017-12-10 13:48] btsfav commented on #354
please push this, important for troubleshooting

Suggestion:

![](https://i.imgur.com/d1pgAR8.png)

+ add a search field in /Explore/Blockchain

[2017-12-10 13:55] svk31 commented on #852
I would advise against using any cryptocurrency on a shared computer.

What do you mean the old one will have expired? Bin files contain private keys and the brain key encrypted with your password. Unless you change the private keys the bin file will always be valid. If you change the wallet password, that still does not affect old backups, which still use your old password. Only new wallet backup

[2017-12-10 14:21] magicstone1412 commented on #852
I mean if you backup the new one, the old one will be expired. **Maybe I am wrong in this situation?**

I totally agree with you that DO NOT use cryptocurrency on a shared computer. But that is a supposed situation.

Think about steemit permission, you must input the password if you wanna see private key.

I think with my proposal, we can enforce 1 more security layer on the wallet. Thanks

[2017-12-10 14:48] svk31 commented on #852
Like I said above, backups remain valid forever unless you change the private keys of the accounts included in the backup.

I agree with @btsfav that the existing password encryption is suffient, that way you can still recover a backup from a compromised computer without exposing your password.

[2017-12-10 16:26] #804 closed

[2017-12-10 16:30] thul3 commented on #843
@btsfav
I'm not asking to list all minor coins but to list CVCOIN where it belongs.
CVCOIN was in the past top 2-5 in volume for OL and generated even most income for OL.
Since you have no issue with coins being listed at mainpage which have ZERO volume it shouldn't be a problem for you that there will be a coin listed which actually generates volume for DEX.

[2017-12-10 17:24] btswolf commented on #843
I support this, until a fair algorithm is in place

[2017-12-10 19:39] wmbutler commented on #848
Doing a full Exchange writeup after Tradingview.

[2017-12-10 19:39] #848 closed

[2017-12-10 19:42] wmbutler commented on #843
Further proving that we need to get rid of the featured markets area. This isn't sustainable. Markets should naturally rise to the top based on volume.

[2017-12-10 19:44] wmbutler commented on #852
Closing.

[2017-12-10 19:44] #852 closed

[2017-12-10 23:46] maiopirata commented on #639
@wmbutler, @svk31

- [x] Force the date to live on a single line (rather than splitting to 2 lines).
- [x] Ensure same font style and size as Dashboard.
- [x] Truncate story subjects intelligently as browser is made smaller (Technical Issue...)
- [x] Translate (I will add translation in other languages if you want)
- [x] Author clickable --> all line clickable

Big question: I changed the style of

[2017-12-11 07:25] HarukaMa commented on #842
@wmbutler . Please respond even if you don't want that feature back and please state it clearly.

I'm having a feeling that my issue is being wrongly closed and nobody cares to revisit it.

[2017-12-11 08:24] xeroc commented on #775
I wod like to emphasize that you want the data to be as 'short' as possible to allow generation of QR code from them.

That said, i would not use 'payment' as a string in the query, but suggest to think about something shorter.
Also, the 2.0 is irrelevant as there is only one bitshares chain.

How about

    bts/1/r/account/asset/amount/memo

The '1' would indicate the version of the qr code conte

[2017-12-11 08:46] handijk commented on #816
I was trying to fix the bitshares navigation in my spare time because it annoyed me the first time i tried bitshares. I stumbled upon this issue when creating a pull request, it is not exactly the same as what you guys discussed but it comes very close and i like the way this works over the way it used to be, an arrow for hiding and showing the menu in desktop view could be added.

![image](https:

[2017-12-11 09:01] pluswave commented on #775
@xeroc

great idea, how about the optional params (amount, memo) ? I suggest following:

amount empty:

[code]

memo empty:

[code]

both empty:
[code]

for general:

1. if empty params are in the last, omit it and it's preceding /
1. otherwise, leave the empty param in the final url with preceding and following /

[2017-12-11 09:09] Worldchamp commented on #780
I'm having the same exact issue.

[2017-12-11 09:37] handijk commented on #647
I don't really dig the two rows of tabs, turned out to be pretty easy to accomplish in my pull request for the main navigation so i added it here.

![image](https://user-images.githubusercontent.com/646726/33824514-ebb9fe4e-de5e-11e7-8578-14ad61dcce41.png)

![image](https://user-images.githubusercontent.com/646726/33824528-fc4e2de8-de5e-11e7-9b47-821671fb7ef4.png)

Works for mobile navigation too.

[2017-12-11 09:57] svk31 commented on #733
I like where this is going, but to be honest even to me it's not obvious what's what in the QTY and TOTAL columns.

Not sure what to do about it though, I tested with a bottom border in the QTY and TOTAL fields indicating sell/bid but it got too messy.

Perhaps another column with 'Buy BTS', 'Sell BTS' etc, indicating exactly what the order is for in the current market direction.

[2017-12-11 10:04] svk31 commented on #733
![image](https://user-images.githubusercontent.com/6890015/33825781-0c155338-de63-11e7-8232-6a938433497e.png)

[2017-12-11 10:16] svk31 commented on #639
This looks great to me as is, if you can just do the following I'll merge it:

- [ ] Remove console logs
- [ ] Change all single quotes to double quotes
- [ ] Add trailing `;` to all lines where missing
- [ ] Remove unused variables (pageTitle)

[2017-12-11 10:31] #833 closed

[2017-12-11 10:32] #796 closed

[2017-12-11 10:43] peterpapp commented on #843
Yey; In my opinion, OL will generate much more income, if this Coin is on the startpage.
Crypviser could be the next MessangerApp on our (mobile) devices..

[2017-12-11 10:44] btsfav commented on #843
thiis is the bitshares reference wallet, not openledger.io @peterpapp

[2017-12-11 10:54] startailcoon commented on #733
I like what your saying here as well. My change made it a little bit more clear, but we neee a bit more.

I'll have another look at it. Maybe @wmbutler can do some of his great mockups?

[2017-12-11 11:25] peterpapp commented on #843
Oh yes sorry 😄  my fault! @btsfav
I can't believe I keep confusing that. ^^

[2017-12-11 11:42] svk31 commented on #819
The header font size seems a bit too large for my taste, but otherwise looks good.

[2017-12-11 11:42] #819 closed

[2017-12-11 12:31] #647 closed

[2017-12-11 12:39] bigspider commented on #819
Thank you!

Bitshare address for future reference: "spider-1"

[2017-12-11 14:31] maiopirata commented on #639
- [x] Remove console logs
- [x] Change all single quotes to double quotes
- [x] Add trailing ; to all lines where missing
- [x] Remove unused variables (pageTitle)

done

[2017-12-11 18:35] svk31 commented on #808
Is the right side gap the issue? If so I already fixed it. Deposit/Withdraw are both active because they have the same path for now, will change once the modals are ready.

[2017-12-11 19:38] testlump commented on #68
Is there an update on the progress of this issue?

[2017-12-11 19:59] wmbutler commented on #831
@dot5enko don't work on this until this discussion has come to a clear decision.

@svk31 I see what you are saying here, but in my case, I have a local wallet. Is there any case where we would want to effectively hide the local wallet from a user that has one already? I feel like we should detect this when loading that endpoint and disallow the activity, but I also like your idea of only changing

[2017-12-11 20:03] wmbutler commented on #780
Have you tried switching back to local wallet mode?

![cloud](https://user-images.githubusercontent.com/1254810/33851248-020ae6e6-de7c-11e7-8593-fb1c0fc9115b.gif)

[2017-12-11 20:03] #780 closed

[2017-12-11 20:07] Xeldal commented on #816
The 2nd level expanding within the 1st is a nice idea.  I had intended something like this for the second level to expand and show all the various coins under the items "SmartCoins>", "Openledger>", "RuDEX>" etc ... Anything with the > symbol was meant to do this to avoid having 3 levels.

I think it could work containing everything in the one column.  The only drawback being when it expands so lo

[2017-12-11 20:08] wmbutler commented on #354
Some more screenshots showing current capabilities. Useful feature for sure:

![screen shot 2017-12-11 at 2 07 38 pm](https://user-images.githubusercontent.com/1254810/33851476-bf065334-de7c-11e7-90ae-819ae0c4ceed.png)
![screen shot 2017-12-11 at 2 07 31 pm](https://user-images.githubusercontent.com/1254810/33851477-bf176db8-de7c-11e7-9010-53c7bff8bf9b.png)

[2017-12-11 20:11] wmbutler commented on #816
The 'giant table' won't be so giant after we implement responsive design. It's just something we are dealing with for the moment.

I'd like to avoid having left right and top. It starts to feel arbitrary about where we are placing things. Going to let this discussion continue to see if we move closer to common ground.

[2017-12-11 20:33] Xeldal commented on #816
@wmbutler In that we are in total agreement.  That is the impetus for this consolidation.

I don't think we need the top and right menus. But by removing the top menu items, we would have a long strip of "wasted" space.  It's something to consider, either "how could we use this space?" or is there a way move the account name in top right so the screen could display fully top to bottom.  ??? IDK,

[2017-12-11 20:38] dot5enko commented on #831
@wmbutler, ok. haven't started yed

[2017-12-11 20:55] handijk commented on #816
If you add menu items in the top things get complicated real quickly when adding menu items and you will run out of space on smaller resolutions, on the left there is more room for menu items to expand.
The top bar is not just wasted space, you could put a page specific title there, or, even better, you could put a global search on top which shows (e.g.) starred markets and users on focus and coul

[2017-12-11 21:25] testlump opened #854 "Dynamically updating list of nodes"
Description
-------------
The current list of available nodes is fixed with each build and requires a new release to update. This leads to a lot of new nodes not being listed and the corresponding complaints from users about the non-performance of listed nodes.

Expected Result
-----------------

Ideally, the list of nodes could be dynamically updated and the accepted resulted pulled from a centra

[2017-12-12 00:23] Worldchamp commented on #780
Yes, I have tried that. I am still having the same issue.

[2017-12-12 01:50] wmbutler commented on #639
I added .25 onto this. Can you do the following:

- Remove table borders
- Change vertical padding to more closely match Portfolio padding

[2017-12-12 08:49] pluswave commented on #775
One thing I just reminded, the url should be standard, which can make it more general: I.E. other apps can jump to the correct app. For this reason, slightly longer version of payment request:

[code]

[2017-12-12 09:17] maiopirata commented on #639
#855 @wmbutler  here are the changes,
I've checked and it seems identical to the table in Portfolio with two different vertical padding for header (0.85rem) and body cells (0.5rem)

[2017-12-12 09:46] svk31 commented on #843
Even if I add it to the list of markets in the dashboard page it won't show up as a featured market because the volume is very low, there's a filtering in place.

[2017-12-12 09:55] svk31 commented on #831
No I suppose it makes sense to check if the user already has a wallet and not switch if that's the case. There's an easy way to check that: `!!WalletDb.getWallet()`

[2017-12-12 13:10] abitmore commented on #775
I'd suggest that put the version number (`1`) after the command (`r`), since we may upgrade version of individual commands, for example, `bts://r/1/account/amount/asset/memo` for transfers, `bts://a/1/account` for showing account info, and etc. Once we want to upgrade the info URL, we go with `bts://a/2/account/history`.

[2017-12-12 15:05] Xeldal opened #856 "Add All Candelstick Periods that Connected Node Supports"
I noticed that the node I'm connecting to has configured market history buckets-size =  [15,60,300,3600,86400] which means it has history for 15sec, 1min, 5min, 1hr, and 1day periods.  However in the ui only the 5min, 1hr, and 1day periods are options.

Every node could potentially provide a different set.
If possible, allow the UI to display all available candle periods that the connected node ha

[2017-12-12 15:06] svk31 commented on #856
The UI already does this; the available candles are set after querying the node what candles it supports.

[2017-12-12 15:10] Xeldal commented on #856
hmm, I'm only getting 5min, 1hr, and 1day in UI connecting to kc-us-dex.xeldal.com
I have buckets-size = [15,60,300,3600,86400] in config.

am I missing something?

[2017-12-12 15:14] svk31 commented on #856
That node does not work for me at all. Make sure you've done a full replay after modifying the buckets in the config.

[2017-12-12 15:19] Xeldal commented on #856
wss://kc-us-dex.xeldal.com/ws is the full address of course.
Concerned that you're not able to connect.  First I've heard.

Is there a node you're aware of that you know has more than the 5min, 1hr, 1day?  That's all I get regardless of the where I'm connected.

Using win7 desktop client bitshares.171205

[2017-12-12 15:26] svk31 commented on #856
OK I can connect to that. I see there's a filter in place that removes bucket options below 4 minutes, can't recall why we added that.

[2017-12-12 15:27] maiopirata commented on #639
@wmbutler @svk31
in case you need it, as shown in the pictures my account is: m1i0p1r1t1

[2017-12-12 15:45] Xeldal commented on #856
It's a rare thing for anyone to use a chart less than 5min period but I suppose if a node wants to provide the data for a tick chart(3sec) that we should probably display the option.  IDK.  I think the default config should probably be changed in any case; replace the 15sec and 1min with 30min and 12hr.  same default memory requirements, more useful data for UI.

Thanks for clarifying how the UI h

[2017-12-12 17:04] fletchertyler914 commented on #776
@abitmore: Additional insight would be necessary to complete this task.

[2017-12-12 19:02] abitmore commented on #776
I don't have a clear definition right now.

[2017-12-13 01:08] landry314 opened #857 "Change Gray Tab Colors in Explore Section"
The gray colors for the tabs in EXPLORE -> Assets --> ANY SMARTCOIN -> Price Feed Data and Margin Positions are too close together. Gray and another very close gray? It is very unclear which is currently in the foreground from the colors of the tabs.

This is true in all three themes.

[2017-12-13 01:09] landry314 commented on #857
Another way to highlight like a border or text color change could work too.

[2017-12-13 04:15] Xeldal opened #858 "Rename Dashboard and Portfolio"
A "Portfolio" includes balances, open orders, and margin positions.

The current "Dashboard" is nothing more than exactly a Portfolio.

**Action:**
Replace "Dashboard" with the word "Portfolio".
Use the word "Balances" to reference the list of tokens and balances replacing where "portfolio" was.
that's it... (super simple)

...longer term
As suggested in another of my issues for menu structure(#81

[2017-12-13 06:38] landry314 commented on #858
Everything you said is exactly right.

The naming of things has been weird for a long time and the people who are deciding the naming don't seem to care... it is a shame because it DOES matter what things are called.

the "b" menu doesn't make sense to be called a letter. It is not clear what it is.

The portfolio is certainly not a dashboard. The list of only balances not in open orders or held a

[2017-12-13 06:58] happyconcepts commented on #856
Sadly not enough vol for 15 sec and 1 minute intervals to show anything
worthwhile IMO

On Dec 12, 2017 7:45 AM, "Xeldal" <notifications@github.com> wrote:

[2017-12-13 09:15] svk31 commented on #856
Yea that's probably the reason why we hid them in the first place.

[2017-12-13 09:15] #856 closed

[2017-12-13 10:25] matejbajzelj commented on #780
Is there an archive of older already build clients that I can test and try login? I know it worked in the past, but don't know which version it was. It was some time back in july - august.

[2017-12-13 10:46] svk31 commented on #780
Oldest client releases are here: https://github.com/bitshares/bitshares-core/releases?after=test-2.0.171023

The newer ones you'll find here: https://github.com/bitshares/bitshares-ui/releases

[2017-12-13 11:41] #843 closed

[2017-12-13 11:43] svk31 commented on #830
Most likely the websocket closed error is due to the server being unable to handle more requests, so you try to connect and it just shuts you down immediately. Nothing to be done about that from the GUI perspective. The market history errors I've removed in another commit yesterday.

[2017-12-13 11:43] #830 closed

[2017-12-13 11:44] svk31 commented on #783
I've never seen this error myself but it is most likely related to the Openledger API.

[2017-12-13 11:44] #783 closed

[2017-12-13 11:45] svk31 commented on #808
Closing since I have no idea what the issue is.

[2017-12-13 11:45] #808 closed

[2017-12-13 11:48] svk31 commented on #823
I can reproduce it, must be related to the ExchangeInput component.

[2017-12-13 11:52] svk31 commented on #837
This commit probably fixed this: https://github.com/bitshares/bitshares-ui/commit/699d6e711383a6034e81aad0b463c9e2dc36a4db

[2017-12-13 11:52] #837 closed

[2017-12-13 13:08] HarukaMa opened #861 "[.25][HarukaMa] Failed signed message verification caused by space characters"
In `AccountSignedMessages.parseMemo`, message content is being `trim()`ed, possibly making the signature verification fail.

I'm not sure which way is preferred to fix this - stripping the possible line breaks, or `trim` the message _before_ signing? The latter seems bad though, but things would get complicated if the message itself has empty lines.

Claiming this issue (if possible).

A example:

[2017-12-13 13:13] wmbutler commented on #861
Placed this into the next Sprint.

[2017-12-13 13:16] wmbutler commented on #733
What if the arrows always face the same way, but the only thing that changes are the order of the pairs and the color? I think we have too many variables for a user to digest.

[2017-12-13 13:36] Xeldal commented on #856
That's not really the point.  There are many pairs that even the dailys don't have enough data to make a readable chart, but we are not blocking them.

I don't actually care about anything less than 15min.  It's a waste of memory to provide data for those periods, but if the server is providing the data, the wallet should show it.

[2017-12-13 14:01] wmbutler commented on #744
@startailcoon

[2017-12-13 14:02] wmbutler commented on #773
@oxarbitrage @calvinfroedge update on where we are with this?

[2017-12-13 14:04] oxarbitrage commented on #773
I have everything i need from Calvin now, resuming the work in the wrapper, i'll update you here in 2 days.

[2017-12-13 14:25] wmbutler commented on #828
Typeahead has been built. Whoever claims this issue can follow the checkboxes up there and build this.

[2017-12-13 17:08] HarukaMa commented on #861
Assuming the signed message is not tampered by ANY way, I have decided to remove the single `\n` at the start and end of the message which is caused by `split`ing.

[2017-12-13 17:51] diogo-gomes commented on #823
It's been reported on discord help that pasting with right click doesn't work on desktop client too.

I confirm that paste password with right click doen't work. Can you remove "low priority" because it's really bad for new users?

[2017-12-13 18:13] calvinfroedge commented on #823
`Ctrl+V` needs to be allowed on the component...this is a quick fix, I can push later today

[2017-12-13 18:55] thul3 commented on #843
@svk31 It's not only about dashboard (volume will increase after dec 16 since everyone is waiting)
but about the my markets tab.There are many coins which have zero volume and where CVCOIN should be listed so every new investor who is not so experienced with Bitshares Asset Exchange instantly see's that that coin is being traded there

[2017-12-13 18:59] thul3 opened #865 "ReOpening #843"
Request is still valid and community ask for an update.
We are not only talking about main dashboard (volume will come after dec 16) but mainly about the "My Market" tab

[2017-12-13 19:05] btsfav commented on #823
@diogo-gomes on mac

[2017-12-13 21:42] diogo-gomes commented on #823
No, on Linux (I edited my comment)

[2017-12-13 21:45] svk31 commented on #843
Yea I already added it to the default list of markets so it'll show up in the exchange page, that's why I closed the issue.

[2017-12-13 21:46] svk31 commented on #865
Please don't open new issues about existing issues. See my comment in the original issue.

[2017-12-13 21:46] #865 closed

[2017-12-13 21:59] abitmore opened #866 "Feature Request: Swap"
Description: user A swaps amount M of asset X with user B, for amount N of asset Y.

Steps:
1. A create a proposal which contains 2 operations:
    * A transfer amount M of X to B
    * B transfer amount N of Y to A
2. A approve the proposal
3. B approve the proposal

[2017-12-13 22:13] thul3 commented on #843
Still can't see it even CVCOIN has arround 0.3 OPEN.BTC volume.
Should be on OPEN.BTC higher than OPEN.EOS
![mym](https://user-images.githubusercontent.com/34402322/33965148-2abd9eb8-e05b-11e7-91c8-5ae2f37ff348.JPG)

[2017-12-13 22:14] svk31 commented on #843
Which makes sense since my commit was yesterday and the previous release was two weeks ago.

[2017-12-13 22:19] thul3 commented on #843
sorry :)

[2017-12-13 22:20] diogo-gomes commented on #667
@wmbutler, I saw that you change the milestone but it's not necessary.

As I said, with one more line for the pair in Open Orders the pair will be between the header of the table and digits.

### Account > Open Orders (360x640)
 ![Bitshares Ui - Account > Open Orders (360x640)](https://raw.githubusercontent.com/diogo-gomes/bitshares-ui-redesign-proposal/96b3e2d676a366806e497d9f0fb8d3a9a4b84ac7/png

[2017-12-14 01:47] ai3d-brodie commented on #361
Having the settled and open orders on the chart ala Coinigy is so important for frequent trading.  I still dont do regular day trading on Bitshares or Binance due to them missing on chart order display.  Also regarding tradeview , a guy i was talking to on a slack channel made this nice little project https://www.multicoincharts.com/   Im guessing the problem with tradeview is going to be having a

[2017-12-14 10:27] handijk commented on #667
Yes this is way better than it is now, the amount of buttons on the portfolio page still looks crazy though.
My .02 bitshares; always use the plus sign when there are more than 2 buttons.
When equal to or larger amount than 2 buttons just show the buttons.

Plus sign shows modal on mobile.
Plus sign shows dropdown on desktop.

It will cost you a click on desktop, but in my opinion it outweighs the

[2017-12-14 13:32] svk31 opened #868 "[3] Code sign MacOS binaries"
MacOs binaries should be code signed to prevent warnings upon installation.

[2017-12-14 13:34] svk31 commented on #868
I've implemented this today, the changes were made mostly on the Travis config side but this commit is part of it: https://github.com/bitshares/bitshares-ui/commit/f06a613763577225e3898ca1323a40dddaf3464a

[2017-12-14 13:34] #868 closed

[2017-12-14 15:23] effath opened #869 "Window 10 wallet crashes"
I am trying to use the latest release with Windows 10.  It starts up fine but when I try to switch to exchange, the wallet  gets stuck and crashes, I guess as the block stop updating.  I also am not able to select anything on the wallet and must force a close using task manager.   IS there a fix for this?

[2017-12-14 18:28] dot5enko commented on #831
@svk31 , @wmbutler  so what we do:

- change wallet to cloud if the user register new account
- do not change type to cloud if user just visiting create-account page

am i right?

[2017-12-14 18:47] startailcoon commented on #733
What if we do it like this @wmbutler

Type|Base|Quote|Cost|Value (bitUSD)|Trade|Cancel
-|-|-|-|-|-|-
Buy|1 bitUSD for 2 BTS|1.3 BTS/bitUSD|2.6 BTS|1 bitUSD|[ ]|[ ]
Sell|2 BTS for 1 bitCNY|0.4 bitCNY/BTS|0.2 bitCNY|1 bitUSD|[ ]|[ ]

Where `Quote` can be inverted as we do on activity history tab. Quote will then be the ONLY field that changes.

The type, base and cost is based on the order, what we'

[2017-12-14 20:00] diogo-gomes commented on #667
@handijk, I agree and I make an alternative to show to @wmbutler:

### Account > My Portfolio (1024x768)
 ![Bitshares Ui - Account > My Portfolio (1024x768)](https://raw.githubusercontent.com/diogo-gomes/bitshares-ui-redesign-proposal/87f5e070c95787da12a97d5ab1da3ae196917c3f/png/BitShares%20UI%20-%20Dashboard%20-%20My%20Portfolio%20(1024x768)%20alt2.png)

#

I don't know about this. I think I pref

[2017-12-14 20:57] startailcoon commented on #691
Preview of the function. The delay is most likely due to me debugging and running a lot at the same time. The code adds/removes the desired flash clash and is up to the browser/system.

![bitshares-marketflashonchange](https://user-images.githubusercontent.com/12114550/34013906-89151982-e119-11e7-9597-886afbe91eb6.gif)

[2017-12-14 22:19] wmbutler commented on #691
My original intention was to apply this to Portfolio. That's why I included:

- [ ] pulse %change
- [ ] pulse price
- [ ] pulse value

in the description. Also, the intended effect was to have the font color of price and value = the color for % channge even when the pulse effect was not triggering. This would reinforce the direction of the price action (red/green for up down and white for no movem

[2017-12-14 22:27] wmbutler commented on #869
Please switch to a different node: Settings -> Access and report back with your findings.

[2017-12-14 22:38] dot5enko commented on #831
@wmbutler, @svk31  what about making login popup to have two  tabs: local, which shows only if the local wallet was detected and cloud which shows in any case?

[2017-12-14 22:40] wmbutler commented on #733
What is we put units `BTS/bitUSD` in it's own column since otherwise it forces us to repeat it in the quote and price column?

Type|Quantity|Quote|Price|Units|Value (bitUSD)|Trade|Cancel
-|-|-|-|-|-|-|-
Buy|2 bitUSD|1.3|2.6|BTS/bitUSD|1|[ ]|[ ]
Sell|0.2 BTS|0.4|0.8| bitCNY/BTS|1|[ ]|[ ]

Notable changes:

- [ ] Replace Amount with Quantity
- [ ] Display units in a separate column
- [ ] Change Amou

[2017-12-14 22:45] wmbutler commented on #588
@calvinfroedge add needed hours to this.

[2017-12-14 22:49] wmbutler commented on #800
@btsfav but currently only Local Wallet accounts can create accounts. We lost this functionality. The goal is to regain this loss.

[2017-12-14 22:51] wmbutler commented on #800
@dot5enko can you pls submit this tonight? I think it's an important one to have in place and it's a pretty easy win.

[2017-12-14 22:55] wmbutler commented on #812
Units are present on every single page.

![screen shot 2017-12-14 at 4 55 30 pm](https://user-images.githubusercontent.com/1254810/34018480-9f669514-e0ef-11e7-9f94-2d33e9b30b81.png)

[2017-12-14 23:04] wmbutler commented on #779
Closing this since OL can submit a PR.

[2017-12-14 23:04] #779 closed

[2017-12-14 23:06] wmbutler commented on #831
@dot5enko I think it's a bad idea to allow the option at the registration screen. Let's only switch to cloud wallet if the user completes the registration process.

[2017-12-14 23:11] dot5enko commented on #800
@wmbutler  yup. working on it now

[2017-12-14 23:30] dot5enko commented on #831
@wmbutler done. can you check if its what you're expected?

[2017-12-15 01:57] dot5enko commented on #800
done. button is only visible if user has local wallet.

[2017-12-15 02:07] imYao opened #873 "Language option should always show on upper right corner like before"
like this:
![image](https://user-images.githubusercontent.com/5551341/34023420-cc906f7a-e17f-11e7-81c4-aba4a24b27dc.png)

[2017-12-15 06:02] startailcoon commented on #691
That makes total sense, didn't even knew it was to be honest. I may have mixed your idea up with some other issue requesting flash on the market tabs.

[2017-12-15 09:05] #831 closed

[2017-12-15 09:05] svk31 commented on #869
This is most likely an Electron issue, I'll try to update the electron version before pushing the next release.

[2017-12-15 09:08] svk31 opened #874 "[0.5] Check cloud wallet login password against local wallets"
Some users appear to be attempting to login with cloud wallet mode when they should be using local wallet. The password validation method can be extend to also check the password against the user's local wallet if present even when they're using cloud mode.

[2017-12-15 09:16] #874 closed

[2017-12-15 09:27] svk31 commented on #800
Bumped this down to 1hr since 1.5 seems excessive.

[2017-12-15 09:27] #800 closed

[2017-12-15 09:32] btsfav commented on #874
is there a way to display the account type clearly somewhere? would help with trouble shooting

[2017-12-15 10:10] svk31 opened #875 "[0.5] Generated password can get cutoff obscuring g/q characters"
Overflow hidden causes the lower and upper parts of the text to be cutoff.

![image](https://user-images.githubusercontent.com/6890015/34037277-72ffcb8c-e188-11e7-9ec2-23d720d4a4eb.png)

[2017-12-15 10:11] #875 closed

[2017-12-15 10:48] landry314 opened #876 "Yellow Margin Calls In Order Books Are Confusing or Not Buyable"
I remember you could buy margin calls in the order books, now you can't. I don't know why.

If you can't they shouldn't be in the order book.

If you are suppose to then why can't you? Is this working properly? Anyone else?

[2017-12-15 12:37] svk31 commented on #876
You can, but there are some complicated conditions thst need to be met that I don't recall off the top of my head.

[2017-12-15 13:55] testlump commented on #854
Can you look to bump this up the priority list? As the userbase increases the performance of default nodes is really struggling leading to a poor user experience and an increasing number of complaints in the Telegram and Reddit channels.

[2017-12-15 14:37] startailcoon commented on #869
I use win 10 and never had this issue

[2017-12-15 14:47] wmbutler commented on #876
This isn't actionable.

[2017-12-15 14:47] #876 closed

[2017-12-15 14:48] wmbutler commented on #854
I don't see this as a high priority. Users can pick a different node if one is performing poorly.

[2017-12-15 14:48] #854 closed

[2017-12-15 14:49] wmbutler commented on #874
This would be nice...open a separate issue.

[2017-12-15 14:50] testlump commented on #854
How can they pick from nodes that aren't listed? Your response makes no sense.

[2017-12-15 14:50] wmbutler commented on #854
Users can add their own nodes. Also, users can issue pull requests to have nodes added and we update the client every 2 weeks.

[2017-12-15 14:52] wmbutler commented on #873
Why? How many times do you have to change language? Once, ever. Valuable space like that makes no sense for something the user will never touch again.

[2017-12-15 14:52] #873 closed

[2017-12-15 14:53] testlump commented on #854
This leaves a two week window during which listed nodes would be overloaded (and this assumes you're going to be releasing builds in perpetuity every two weeks). Why on earth would you not consider implementing a centralized single source for nodes that clients can check and update periodically? It seems entirely irrational to deny such a feature.

[2017-12-15 14:53] wmbutler commented on #857
The explorer has been rewritten in the upcoming release. Closing this and you can add a new one if you still don't like it.

[2017-12-15 14:53] #857 closed

[2017-12-15 14:54] wmbutler commented on #869
@effath post a licecap with console logs visible.

[2017-12-15 15:00] handijk commented on #667
Yes you are right, it could be a dropdown, a modal on desktop is fine too.

[2017-12-15 21:31] landry314 opened #877 "[.5] Don't Place Yellow Margin Calls In The Order Book If They Can't Be Bought"
Margin calls get placed in the order book as yellow orders but they can't be bought. I think there are some conditions not being met for them to be bought.

All orders in the order book need to be purchasable.

If there is an unbuyable order in the order book then clicking on "lowest ask" before you place a buy order no longer works as intended because it would create a price which would not execu

[2017-12-15 21:32] landry314 commented on #876
See #877

[2017-12-15 21:33] landry314 commented on #877
This is an actionable version of #876.

The action, @wmbutler, is to not place them in the order book until they are actually buyable.

[2017-12-15 21:35] btsfav commented on #877
disagree, information is needed act accordingly. and margin calls are orders regardless

[2017-12-15 21:38] landry314 commented on #877
It confuses users to have sell orders you can't buy... the calls are already displayed in the top bar above the chart.

What about the "Lowest Ask" problem? Let's at least have it skip the unbuyable orders. These yellow orders are breaking the quick-fill lowest ask function.

[2017-12-15 22:25] landry314 commented on #854
This is a serious issue, @wmbutler. A lot of people have been having issues with bad or slow nodes. You can't leave users with a bad user experience for a few weeks until an update. It makes sense to have a dynamic list instead of all the nodes hardcoded into each release.

Most users don't know how to find better nodes or add their own. You have to design software for the simple user and have mor

[2017-12-15 22:26] landry314 commented on #854
This issue should be reopened.

[2017-12-16 06:50] HarukaMa commented on #877
I agree that lowest ask being affected by it is annoying. I think it should always be lowest buyable order, skipping margin call order if needed.

Dunno if it's viable on frontend though.

[2017-12-16 10:32] startailcoon commented on #691
When trying to work with the change on the portfolio dashboard I get the following issue, and I have no idea how to fix it.

![image](https://user-images.githubusercontent.com/12114550/34069568-d30f49e0-e254-11e7-8fa7-724961497b67.png)

[2017-12-16 16:15] effath commented on #869
How do get to the console from GUI?  I don't see it.  IT seems to be that there node are unreliable . They are not syncing or the latency is too long.   I just get progress bars waiting for the exchange tab to load.   I've tried several other nodes unsuccessfully.

i rebooted the wallet and reconnected to wss://dexnode.net/ws and was finally under  1000MS on my connection...  So my question is thi

[2017-12-16 17:39] henryb2000 commented on #843
LISTING REQUEST FOR SUBMISSION

Digital Dollar Coin "DDCT"
Circularion: 1,000,000,000
Created: 12/07/2017
Block: 4694875

https://etherscan.io/address/0xb0dc7fdb068aba78cd79e1bf9006196ff3299c8f
http://digitaldollarcoin.com/
https://github.com/henryb2000/DDCT/wiki/DDCT  (source code)
Reddit:		https://www.reddit.com/r/CryptoCurrency/comments/7iwq7i/a_new_kid_in_town/
Bitcointalk: 	https://bitcointal

[2017-12-16 18:37] startailcoon commented on #733
How about this then?

I find this much easier to understand.

[code]

I've removed the possibility to revert the order book, and if the user reverts the asset in another section of the wallet it will disregard this. It could be enabled, just looking if the asset is flipped and turn everything around. Personally I find this unnecessary, do we need this?

![image](https://user-images.githubuserconte

[2017-12-16 18:53] svk31 commented on #733
There's a bit too much coloring now. I suggest you remove the colors from the last two columns, and instead color the buy / sell text.

We definitely need to keep the market direction flipping, people prefer different directions and we have no wsy of knowing which one they used to place the order.

[2017-12-16 19:21] thul3 commented on #843
@svk31

Why can't be CVCOIN be found anymore ?

[2017-12-16 21:00] landry314 commented on #733
Are we going to change "Order Value (bitUSD)" to "Value" then put the unit next to the value in the row? This makes it easier to read and will shorten the length of the column to save space. Having to look up to the top of a column to see the unit is a waste of time. Also, looking at the table in https://github.com/bitshares/bitshares-ui/issues/733#issuecomment-352202045 above we see units next to

[2017-12-16 21:27] startailcoon commented on #733
![screenshot from 2017-12-16 22-26-43](https://user-images.githubusercontent.com/12114550/34074477-3b662472-e2b0-11e7-8f6c-afd98ac2abc4.png)

[2017-12-17 05:26] landry314 commented on #733
Last time I will say this, but, still, I think "Order Value" is not clear. Is it the current value of the assets stuck in this order or the value or the order at the time it is executed? See? I know it is the current value because I have been talking about this for months... but your average user might not understand and have to figure it out. Why not just call it "Current Value" and then it is cl

[2017-12-17 14:26] imYao commented on #873
@wmbutler I can't agree with you. Many new users, especially non-English users, don't know where to set up language. Many users can't read an English word, even a very simple word "setting". Once they don't understand the language of UI, they will leave...

Do you want to keep the vast majority of users out of the door of BitShares? Unless you can allow GUI to automatically switch to the correspon

[2017-12-17 15:27] startailcoon commented on #733
Please see the latest version update

@landry314 I'm not sure whether anyone ignored you or not, but I've missed your comment about it and agree with you on it. I've modified the header to your suggestions.

- [x] Renamed `Order Value` to `Value`
- [x] Aligned `TOTAL (ASSET)` to the right to better align with the `Value` column
- [x] Buy/Sell properly set, hopefully. Please notify me if anything o

[2017-12-17 17:47] startailcoon commented on #691
# Pulse on Dashbaord Change

Pulse should now work on the dashboard as well. Even though the update isn't that frequent.
A revisit to that function may be in order.

![image](https://user-images.githubusercontent.com/12114550/34082227-b0eaa614-e35a-11e7-89bf-2c391f6ef255.png)

[2017-12-17 18:01] Xeldal opened #880 "Private key login"
For cloud wallet:  Is there a reason we are having people use a "password" instead of their private key to login?  If the password was compromised it is essentially the same as if the private key is compromised.  is it not?  Why the extra layer of complexity?

Is it solely to provide the option for the user to set their own password?  What benefit is this?

The login / create account / restore acc

[2017-12-17 20:28] svk31 commented on #880
Cloud wallet login already allows both, you can use a private key or your password, as long as you supply the right account name.

The main benefit of using a password is that key management is far too complicated for the average user. Having a username and password is familiar.

[2017-12-17 21:00] Xeldal commented on #880
Ok thanks.  I guess that also kind of illustrates my point though.  I must have been trying to login with the local wallet because it wasn't accepting my wif-key for a password.

I hate the fact that there are 2 types of logins, 2 types of wallets.  I don't think there needs to be.  Everyday there is confusion and problems for new users regarding that. I'm Looking for ways to resolve this.

If you

[2017-12-17 21:19] svk31 commented on #880
You are missing the fact that the local wallet provides better security at the cost of convenience. Every cloud wallet account can in theory be brute force attacked since the pub key is public and is generated from a "known" seed where only the password is missing. The local wallet on the other hand can only be brute forced if an attacker has access to your bin file backup.

Getting rid of the loc

[2017-12-17 21:38] Xeldal commented on #880
With a sufficiently long password it is exactly the same difficulty to brute force as the private key.  But anyway, like I said whether or not there is a password function in addition to the option of using the wif-key as the password is not important.  It is ok to have this option.

What I'm trying to get at is that there is no reason to separate the 2 models,  cloud and local.  They are both clo

[2017-12-18 00:53] wmbutler commented on #691
- [ ] Since quantity does not change, you can leave it white and not apply the pulse to it.
- [ ] Value should be colored appropriately and pulse.

[2017-12-18 00:56] wmbutler commented on #733
- [ ] Maybe since we have the "trade" column, you can let the click invert the price without the "Go To Market" tooltip.

[2017-12-18 01:00] wmbutler commented on #880
It sorta is. One method uses two pieces of information, saves data in the specific browser URL and allows for multiple accounts.

The other method allows the user to login from any browser and is 1:1 with the associated account. If you want to effect change here, you will need to lobby the community, not us.

[2017-12-18 01:00] #880 closed

[2017-12-18 03:16] Xeldal commented on #880
99% of the functionality is identical.  Multiple accounts is the only difference and is easily integrated.  Consider a Local wallet with 1 account.  What is the difference?  If there is a difference, is it necessary?

@wmbutler you are making my head spin. Did you read the thread?  I feel like I'm repeating myself to no good.  I'm well aware of the differences between the two(barely any).  The que

[2017-12-18 04:08] wmbutler commented on #869
It's under the menu.

[2017-12-18 04:17] wmbutler commented on #639
Date sort order is off. Seems to be sorting somewhat randomly. This should be sorted in reverse chronological order.

[2017-12-18 05:53] mattbeckman commented on #639
Does anyone else think we should drop the "Line" column?

[2017-12-18 06:27] btsfav commented on #880
local wallet is needed for security, there is zero chance to make the process easier in my opinion.

newbie friendly wallets are something 3rd partiy companies can offer, if they see value in it

[2017-12-18 09:29] maiopirata commented on #639
@wmbutler Yes, I will force a date sort order...

@mattbeckman you are probably right, let's see if someone else agree.

[2017-12-18 10:03] landry314 commented on #880
I think the two methods are quite technically different and can't be integrated...

[2017-12-18 12:14] Xeldal commented on #880
My design has the same security characteristics as local wallet

I've already shown how it can be done.

care to share technically what exactly makes them incompatible?  I've just shown how they can be combined.  Where am I mistaken?

[2017-12-18 17:00] alaxear opened #882 "PTS / BTS Import - TypeError: Cannot read property 'key' of NULL"
I have some PTS lying around pretty much since the start of the project. Unfortunately I was out of topic for a long time due to personal stuff. Now I heard about the BTS ongoings and remembered the location and password of my old PTS wallet. However I fail to migrate / import it into the new BTS wallet.

I followed the migration guide (https://www.reddit.com/r/BitShares/comments/3wg3no/how_can_i_

[2017-12-18 17:00] alaxear commented on #882
Just skipping through the source code... does the account name in the new wallet need to match the name in the old wallet? Is it enough to change the name in the exported json? or do the hashes in that json consider the name?

[2017-12-18 18:11] svk31 commented on #733
I'm not convinced the current status is an improvement, with the lack of right alignment and asset names all over it's pretty disorganised. Look at  these two before/after screens for example:

![image](https://user-images.githubusercontent.com/6890015/34120790-1e3c92dc-e427-11e7-85bf-faa8a03320f9.png)

![image](https://user-images.githubusercontent.com/6890015/34120818-398b04a6-e427-11e7-9ae7-287

[2017-12-18 18:35] svk31 commented on #691
I prefer to keep only the change column colored as it was before.

![image](https://user-images.githubusercontent.com/6890015/34121823-a93b92d6-e42a-11e7-994a-337174180706.png)

[2017-12-18 19:01] HarukaMa commented on #877
After observing the market for a while and reading on how margin call order works, I think:

1. We certainly should not remove the margin call order from the order book, as it has important information on the order size which traders need to know. Having a multiple-digit or a very small call order pending means different things.

2. If I understand the margin call process correctly, the call order

[2017-12-18 19:17] startailcoon commented on #691
I agree with @svk and reverted the Volume column to have no color.
The volume can change regardless of price changes.

[2017-12-18 19:56] startailcoon commented on #733
With that many orders I do agree with @svk31 , it looks jumbled.

Two proposals on a fix.

Right Aligned
![rigthaligned](https://user-images.githubusercontent.com/12114550/34124958-15e40f94-e435-11e7-8591-d333aacdd771.png)

Right + Left Aligned
![leftalign](https://user-images.githubusercontent.com/12114550/34124956-15b6e654-e435-11e7-9ac5-badff379b7ec.png)

[2017-12-18 20:05] alaxear commented on #882
ok i figured it out now :) seems i didn’t understand the step with local wallet in 2.x. I thought I created one, but it didn’t have an account.

[2017-12-19 06:29] wmbutler commented on #639
I like line numbers. Keeps users from having to count it up if they are curious.

[2017-12-19 06:32] wmbutler commented on #733
I think this has digressed. Really having a hard time understanding the direction we are going here.

[2017-12-19 06:42] wmbutler commented on #733
Type|Quantity|Price|Value|Quote|Trade|Cancel
-|-|-|-|-|-|-
Buy|2 bitUSD|for 2.6 BTS/bitUSD|1|2.3|[ ]|[ ]
Sell|0.2 BTS|for 0.8 bitCNY/BTS|1|0.7|[ ]|[ ]

[2017-12-19 06:45] #882 closed

[2017-12-19 08:12] GildedHonour commented on #797
Is this being worked on?

[2017-12-19 09:59] startailcoon commented on #733
Same here, honestly.
I will make a new update based on your last post.

[2017-12-19 10:21] startailcoon commented on #639
I see no point in having a line number. What should the user be curious about, how many lines there are?

[2017-12-19 13:42] todasun opened #883 "[1.25][dot5enko] Move language selection to account registration screen"
https://wallet.bitshares.org/  no language choose  icon button
![image](https://user-images.githubusercontent.com/10720816/34159741-34ec4890-e505-11e7-8a20-1cdac6fd1035.png)

https://openledger.io/  have
![image](https://user-images.githubusercontent.com/10720816/34159774-55e7d1e0-e505-11e7-9a0b-d65329326f2f.png)
![image](https://user-images.githubusercontent.com/10720816/34159807-73abb7a0-e505-11

[2017-12-19 15:37] btsfav commented on #808
@svk31 the different shades of black is the issue

[2017-12-19 16:09] diogogomes commented on #667
Bill, I change my GitHub username diogo-gomes. Now it's **diogogomes**.

_(I don't know if it's important or not for the name of this issue but I thought I'd better let you know)_

[2017-12-19 18:57] wmbutler commented on #883
It's in settings -> general. agreed we should put it on the account registration page.

[2017-12-19 19:58] #639 closed

[2017-12-19 21:15] dot5enko commented on #828
i can claim this

[2017-12-20 05:15] imYao opened #884 "Language option should always show on upper right corner like before"
For non English users, opening the BitShares wallet should directly see the language option switch button, otherwise they can't understand the UI language and can't do the next operation, they will close the wallet and leave.

More reasons are discussed here: https://github.com/bitshares/bitshares-ui/issues/873

[2017-12-20 09:13] btsfav commented on #884
the wallet should auto-detect browser language and set it accordingly. you could then change language via settings if you want.

see how rudex does it, maybe it can be copied

[2017-12-20 15:13] tcpaul opened #885 "add approval multisig"
Im trying to approve a proposal to send 1 BTS from an account "tester-bitspace" with multisig, to an account "paul-bitspace". With two weighted accounts "test-bitspace" and "zerfix-bitspace".

`approve_proposal test-bitspace 1.10.6409 {"active_approvals_to_add" : ["test-bitspace"]} true`

I want to add approval with another account "zerfix-bitspace".

I cant find an example of this flow anywhere

[2017-12-20 16:40] HarukaMa commented on #861
Already finished in 171219.

[2017-12-20 19:01] wmbutler commented on #884
I'd disagree that it needs to be shown in the upper corner. Instead I'd suggest it be shown on the login screen.

[2017-12-20 20:58] Ronolibert commented on #883
I'd like to work on this issue!

[2017-12-20 22:25] btsfav opened #887 "[1.5][dot5enko][0.25][startailcoon] News does not load in light client"
`app.js:53 Unhandled rejection TypeError: g is not a constructor`

[2017-12-21 03:24] wmbutler commented on #887
Might be nice to run this as a hotfix

[2017-12-21 04:21] wmbutler commented on #885
This is not a UI issue.

[2017-12-21 04:21] #885 closed

[2017-12-21 04:22] wmbutler commented on #884
Duplicate #883

[2017-12-21 04:22] #884 closed

[2017-12-21 04:28] wmbutler opened #888 "[5.5][dot5enko] Exchange Header"
We are planning to integrate TradingView for the charting, but I wanted to go ahead and submit a UX for the header which includes how we will display key metrics. This will help tradingview integration to at least have a design to draw inspiration from. I stole this look from GDAX largely. Principle changes over our existing layout allow for a full row of information without letting the order book

[2017-12-21 05:51] landry314 commented on #877
Why doesn't it just execute then? There are orders that can fill it.

Also, it doesn't just confuse the Lowest Ask, it also changes the TOTAL column on the right to make it seem like clicking on that order will fill more volume than it does.

[2017-12-21 06:19] HarukaMa commented on #877
@landry314 There _are_ requirements have to be met to execute margin call orders. That's by design to make those orders execute at a reasonable price. If the market is trading at 1.1 and a margin position has call price of 1.0, you won't want the margin call order to execute at current market price.

I'm using the layout without "total" column so didn't notice that. But I agree that it should not

[2017-12-21 07:23] wmbutler opened #889 "[13.5][startailcoon] Dashboard Styles Refinement"
We are getting close with the look of the client but still missing some of the polish. I originally suggested that the tables extend to the edge of the browser. I still think it's a better choice to do that. Part of the problem is that the hover color of the secondary level menu didn't match the background. This created a problem for the tabs logically falling into place. By matching up the top ba

[2017-12-21 09:05] dot5enko commented on #888
@wmbutler i claim this. Arrow in the latest price block is quite informative, do you really want to remove it? maybe we can make it like 24h price - with appropriate colors?

[2017-12-21 14:09] kimchi-king opened #890 "Circulating Supply Tracker"
Would it be possible to add a feature to the Explorer that tracks the real-time circulating supply of BTS as the amount of smartcoins are added or removed from the market?

[2017-12-21 16:11] btsfav opened #892 "remove "lock" symbol, replace with login/logout in account mode"
see topic, seems like it's very confusing to account users.

[2017-12-21 16:14] o5j5vg55bv5hv5j5f8799f9 commented on #892
Especially when withdraw is grayed out. disabling options (like withdraw gray out) rather than asking to log-in when access is attempted is VERY VERY confusing.

People are well aware of having to log in to use websites

[2017-12-21 16:19] o5j5vg55bv5hv5j5f8799f9 opened #893 "[1.5][pnomolos] Can't see some fee currency options when sending"
Windows 7
google chrome (12/21/2017)
100% zoom

Hitting send, trying to pay fee in USD, can't find it. Realized tiny sliver at bottom is usd

![image](https://user-images.githubusercontent.com/22536095/34264372-b80256fc-e640-11e7-9381-00980385bdeb.png)

Definitely UI issue

[2017-12-21 16:34] o5j5vg55bv5hv5j5f8799f9 opened #894 "Send asked me to pay and did pay higher fee than lifetime member should"
I'm a lifetime member.

Here's what I see when I select USD https://i.imgur.com/s8Cb7cb.png

That's not lifetime fee http://cryptofresh.com/fees?asset=USD

This is from explorer:
![image](https://user-images.githubusercontent.com/22536095/34265054-d54b29ee-e642-11e7-8673-db1a09ee5309.png)

p.s. why does clicking on transfer open entire block instead of specific tx I clicked on?

[2017-12-21 16:39] Xeldal commented on #892
Having the account name at the top of the page is also confusing when not logged in. Generally, seeing your name at the top indicates to users that they are logged in.  That is how it works on 99% of other websites anyways.

I think replacing the account name with "Login" would be better than replacing the lock.  You could keep the small triangle up there as a means to get to the menu.

Even with

[2017-12-21 16:51] svk31 commented on #894
Fees are always paid in full, lifetime members get a refund afterwards via vesting balances.

The block explorer only shows full blocks at the moment, linking to a specific trx can be requested in a new issue.

[2017-12-21 16:51] #894 closed

[2017-12-21 17:12] btswolf commented on #890
yes total locked BTS in the Explorer/Blockchain overview
and sum of collateral on the corresponding asset pages.

[2017-12-21 18:24] btsfav commented on #893
seems like this is a space issue and only when you got 3 fee-able assets. for more you got the scrollbar and it's a non-issue

[2017-12-21 19:29] Xeldal opened #895 "[5][ahdigital]Consolidate Login/Wallet to a Single type"
The following is a copy paste from an article I wrote on steem regarding this issue:
https://steemit.com/bitshares/@xeldal/a-solution-to-consolidate-bitshares-2-wallet-login-types

##

The Bitshares GUI wallet currently has 2 types of logins that operate 2 differnt wallet types. It is a cause of confusion and one source of constant password and login issues. I propose here that it is not necessary

[2017-12-21 19:33] btsfav commented on #895
you could activate an auto-download for single-accounts, which would help the hopeless that are inable to secure their password.

* sign-up
* next screen dumps the keyfile on you & asking for a local password
even if you forget the account password, you'd be still able to regenerate it via keyfile. without the need of using the file.

make sense?

[2017-12-21 19:40] Xeldal commented on #895
I agree.  Even given the fact that a single account doesn't really need a backup if they have the password.  They can get away with using a much simpler password for this local keyfile and so now even if they forget the password or there was some problem with the process, they still have a copy of their keys in this  keyfile by a password of their own choosing.

I also think it's important to prom

[2017-12-21 19:46] btsfav commented on #595
bump. new wallet gives out less errors, but still...

![](https://i.imgur.com/FNYoMiI.png)

[2017-12-21 21:20] happyconcepts commented on #889
@wmbutler I would like to implement this one. Happy holidays!

[2017-12-22 07:50] HarukaMa opened #897 "Market ticker is not updating call limit price fast enough"
Specifically, when least collateralized margin position get called and successfully executed or changed, the ticker should update immediately to next call order's call limit, Currently it stays at old value for quite a while.

[2017-12-22 20:14] moroshek opened #899 "Margin Calculator"
A margin calculator in the gui would be really helpful. It would answer the question "How much margin do I need if the price goes to X."

Issue was discussed in the Bitshares DEX telegram and was a popular idea.

[2017-12-23 02:33] landry314 opened #900 "[1][pnomolos] Make Collateral Slider More Precise"
Instead of changing in increments of 5%, It would be nicer to use increments of 1%... I am always manually typing in collateral numbers to get it closer to what I want.

Does anyone agree?

[2017-12-23 02:45] landry314 opened #901 "[.5] Add Max Collateral Feature To Margin Adjustment Window"
Imagine having a "Use Maximum Collateral" option right below the collateral ratio slider which would use as collateral all available BTS currently in the active account. I am always doing this manually. If I am going to sleep I always want to have the maximum collateral just in case some drastic crash happens.

This would help reduce margin calls because it would lower the margin call price for us

[2017-12-23 07:50] Ashaman- opened #902 "Make faucet default to API node provider for desktop client to incentivize operation of public API nodes"
I currently run my own node for myself and a few friends. I'm interested in adding some redundancy to maximize my uptime and opening it up to the public + becoming a webwallet provider/registrar+faucet, however due to the effort involved in ensuring uptime and high hardware requirements (LOTS of RAM) of running a public API node I would like to see it generate some sort of revenue to offset (and h

[2017-12-23 08:50] dot5enko commented on #899
![screenshot_2017-12-23-10-46-18-157_org mozilla firefox_beta](https://user-images.githubusercontent.com/5626922/34318384-cc2c85e6-e7ce-11e7-9405-f5e131b6e576.png)
borrow/update margin already contains margin call price on the top, just move the slider and watch that value

[2017-12-23 09:44] landry314 commented on #902
Definitely! There are not enough nodes and the latency is too low in so many places in the world. I travel a lot and I can attest we need to incentivize more nodes for bitshares to really grow. It is an important next step!

[2017-12-23 10:27] landry314 commented on #899
I think he means to calculate it the other way around. If you want to have your call price at x, what should you set your ratio at... You can play around with the slider until you find it but it takes a while.

[2017-12-23 12:18] tbone-bts commented on #895
@Xeldal I was about to write a response saying that I disagree with your premise, and then continue to propose my own 2 possible solutions.  But as I was writing, it dawned on me that your premise may be fine, but you may not be explaining it well.  Specifically, I don't believe it's correct to say there are currently 2 different wallet types.  What we have is simply 2 different **login** types.

[2017-12-23 13:54] Xeldal commented on #895
@tbone-bts Thanks, we are thinking in the same direction.   I say there are 2 wallet types because you can go into settings and change the login type, which changes the available option in the wallet.  That option shouldn't even need to exist.  So, you are right that the focus is certainly on how we login, but there are some subtle changes needed in the wallet as well.  Only changing the login wou

[2017-12-23 15:44] btsfav commented on #902
Impossible. Public nodes should be offered by paid witnesses or the infrastructure worker.

Wallets and affiliates rely on sign ups too

[2017-12-23 15:57] Xeldal commented on #895
A few short hypothetical user experiences that hopefully illustrate my general frustration with all this and a summary of key points at the end:

"In my light-client I have a local wallet.  I can't login with anything else, not even a different local wallet.  I guess I would need to delete my wallet first in order to do it (WHAT!!??).  Or go deep into setting and change Login Mode or something.

[2017-12-23 16:15] #902 closed

[2017-12-23 16:23] Ashaman- commented on #902
Just read over the infrastructure worker. That makes more sense for funding public API nodes.

[2017-12-23 16:36] Xeldal commented on #888
suggestions:
1) replace "24 hour price" with "24 hour change"

2) anywhere there is a "price" (ie "settlement price") where we currently list the quote over the base (ie bitUSD/BTS).  I suggest only listing the quote (ie bitUSD) like you have in the example for "latest trade price".  I haven't check every exchange in the universe but I haven't found a single one that lists the full fraction (quote

[2017-12-23 21:10] oxarbitrage commented on #773
first version with demo: https://github.com/oxarbitrage/udf-bitshares-wrapper
have a few issues in the chart data i need to go over with @svk31

[2017-12-24 01:24] wmbutler commented on #892
@btsfav Prior to this pattern, users didn't know whether they were logged in or not and this contributed to many support requests where users claimed to be logged in when they weren't. I think we are better off now than where we were.

@o5j5vg55bv5hv5j5f8799f9 I don't understand your comment. Withdraw should only be grayed out if the user has selected an account that they do not hold the keys to.

[2017-12-24 01:25] wmbutler commented on #893
We might need a typeahead here... or possible a smarter dropdown...

[2017-12-24 01:30] wmbutler commented on #895
This thread is going in a productive direction. It needs some visuals and continued conversation.

[2017-12-24 01:31] wmbutler commented on #897
Please post a licecap to demonstrate.

[2017-12-24 01:35] wmbutler commented on #901
Useful and an easy win.

[2017-12-24 05:20] moroshek commented on #899
Also the slider only goes in increments of .5

[2017-12-24 05:21] moroshek opened #903 "Ubikey"
It would be amazing if a 2FA integration with Ubikey was possible...

[2017-12-24 06:53] pavel-lipcean commented on #787
![settings2](https://user-images.githubusercontent.com/5729949/34324822-f56a768e-e887-11e7-9f8c-aedfa76179ad.png)

[2017-12-24 07:00] pavel-lipcean commented on #759
I can provide both the css styles and the mock-up. The mock-up was done to see how the end product would look like - as in mock-ups for any designer is faster to make the changes than in the code - it's like a guiding book.

[2017-12-24 07:04] pavel-lipcean commented on #787
All dark Settings plus the white Settings.

The colors and everything else I can adapt with the css changes if these are accepted. So I am not providing just mock-ups, but will of course cover them with style changes (for some UI elements will need some assistance from Developers);

![white- -dark-mock-ups](https://user-images.githubusercontent.com/5729949/34324868-6ba8340c-e889-11e7-9634-b0fffd52

[2017-12-24 07:16] pavel-lipcean commented on #787
All dark Settings plus the white Settings.

The colors and everything else I can adapt with the css changes if these are accepted. So I am not providing just mock-ups, but will of course cover them with style changes (for some UI elements will need some assistance from Developers);

I propose in the mock-ups new colors sets, new fonts, new UI elements - and it will serve as a guide-book for the fu

[2017-12-24 08:57] happyconcepts commented on #889
Well I have been away awhile and hadn't seen #667 so I will of course defer to @diogo-gomes if he wants to claim it.

[2017-12-24 17:49] wmbutler commented on #895
Does this mockup handle the requirements listed above?

- Cloud / Local selector is on unified login screen
- Red "Detected" text provides a clue to unsure users
- Account name is always present (but basically ignored if Local Wallet is selected

![screen shot 2017-12-24 at 11 46 00 am](https://user-images.githubusercontent.com/1254810/34328251-3ae17d44-e8a0-11e7-9371-880105d8cb07.png)

[2017-12-24 17:49] HarukaMa commented on #895
While this would greatly improve the UX on user login process, please don't make it requiring login every time for current wallet model users. Unlock on operations is

[2017-12-24 17:51] wmbutler commented on #895
@HarukaMa This doesn't add any requirements. It just consolidates the login process into a single screen. Please take the time to read the entire issue and the problems it is trying to solve.

[2017-12-24 17:57] HarukaMa commented on #895
@wmbutler specifically, this sentence is giving me some concerns:

If I already have my keys inside my browser, why would I need to see login window again? Thus the above comment.

[2017-12-24 18:04] HarukaMa commented on #897
it could be difficult to reproduce on mainnet as there would need to have margin call events.

Will try on testnet when I have time.

(is it really needed?)

[2017-12-24 18:40] wmbutler commented on #759
@pavel-lipcean part of doing mock-ups is to address and respond to input.

- [ ] It's important that you not mix dark and light themes.
- [ ] Also, you added a search area, which, while nice, is beyond the scope of this issue. Please remove

Please submit revisions and let's keep moving forward.

[2017-12-24 18:46] wmbutler commented on #787
@pavel-lipcean thanks for the revised color set. Keep in mind that this issue is not intended to be a rework of fonts and controls. It's about making the existing settings more intuitive. Your best bet is to keep the controls the same as the entire site and make a separate issue for "change buttons styles", "change toggle styles", etc. That way you can focus your effort on consistency throughout.

[2017-12-24 18:46] #787 closed

[2017-12-24 18:47] wmbutler opened #904 "[5][gibbsfromncis] Implement Settings UX"
## See UX here
https://github.com/bitshares/bitshares-ui/issues/787

[2017-12-24 18:51] wmbutler commented on #797
#828 Duplicate

[2017-12-24 18:51] #797 closed

[2017-12-24 18:52] wmbutler commented on #828
Closed #797 and consolidated to this issue.

[2017-12-24 18:54] wmbutler commented on #557
@startailcoon tell me if you need time added to this. This really needs to go out this Sprint.

[2017-12-24 19:04] wmbutler commented on #883
![screen shot 2017-12-24 at 1 04 24 pm](https://user-images.githubusercontent.com/1254810/34328671-006e231e-e8ab-11e7-8ca4-ce3619177aad.png)

[2017-12-24 19:09] wmbutler commented on #691
+1 hour

[2017-12-24 19:09] wmbutler commented on #733
+1 hour

[2017-12-24 19:12] wmbutler commented on #888
- [ ] I agree with both of @Xeldal points here.

[2017-12-24 19:16] wmbutler commented on #897
It's hard for us to resolve if we cannot reproduce.

[2017-12-24 20:03] Xeldal commented on #895
username or key-file can auto populate based on the active account or key-file being used.  User only needs to supply password if locked.  This improvement would not add any extra steps in that regard, it would however make it possible to login with a different account because the fields are editable.

@wmbutler A big aspect of this improvement is in dropping the wording "local" and "cloud".  It's

[2017-12-24 22:00] dot5enko commented on #888
ok. start working

[2017-12-24 22:06] dot5enko commented on #883
i claim this

[2017-12-25 00:57] landry314 commented on #901
What I always do is truncate the collateral to the nearest whole number. This almost always leaves enough for fees. Having the collateral as a whole number looks nicer in the dashboard too. I suggest truncating the number like so unless it is too close to the nearest whole number below it then we could truncate it to the next whole number 1 BTS lower...

[2017-12-25 01:28] GildedHonour commented on #904
Will it be ok if I take this one?

[2017-12-25 02:40] Xeldal commented on #895
Here's a further thought on my original design:  _Working with only 1 button._

**1)** Showing default to active username
![](https://content.screencast.com/users/Enkianu/folders/Jing/media/5240cf1e-ee38-4580-85d0-dfe7126e2f8f/2017-12-24_2044.png)

**2)** Showing key-button pressed, file selected (for first time)    --or--
 Showing default to _key-file selected (for subsequent unlocks)
![](https:/

[2017-12-25 05:20] pavel-lipcean commented on #787
Hey,

got it - will restart it, with the current layout in mind - nothing fancy first, then we will evolve it. I proposed the most futuristic look, just too see where we are headed to.

[2017-12-25 05:29] wmbutler commented on #904
Yes, please be sure to carefully read the end of this issue. As you can see, the UX did not get fully refined until the end. Also, carefully read my comments. This issue will be paid:

- 3 * $125 = $375
- If the PR is accepted

If this takes over 3 hours, be sure to discuss here so we can increase as needed.

[2017-12-25 05:31] wmbutler commented on #901
I was just thinking of a button that said "Maximize Collateral".

[2017-12-25 05:32] wmbutler commented on #787
The font issue is not one of difficulty for me, it's one of consistency. I think when we are ready to talk fonts, it should be discussed as an overall issue across every endpoint with an appropriate styleguide.

[2017-12-25 05:33] GildedHonour commented on #904
Got it.
Many of the paid issues have some activity in them implying that they're being worked on. Which ones are free for me to take?

[2017-12-25 05:35] wmbutler commented on #904
Anything without a name in the header or a Github Assignee are free for you to claim.

[2017-12-25 05:38] wmbutler commented on #895
Ugh. You've lost me. There is no way a newbie user is going to understand wtf you are trying to accomplish. You've taken 2 options to at least 3 now and have added yet another variable to the equation. There is no way in hell I'd take the fall for this.

@svk31 am I missing something?

[2017-12-25 05:41] wmbutler commented on #883
I changed this to 1 hour. Let me know if you need more. Not quite sure why I set it to 3, but it may be a 1.5 or 2.

[2017-12-25 05:43] wmbutler commented on #888
- [ ] Use green/red pulse color anywhere a price change arrow indicator might have been before.

[2017-12-25 05:51] wmbutler opened #905 "[15] Swap Old Charting or TradingView"
yes, javascript can be found here https://github.com/oxarbitrage/open-explorer/tree/master/app/charting_library

the code to call chart is at https://github.com/oxarbitrage/open-explorer/blob/master/app/sections/markets/markets.controller.js#L244-L261

includes:
https://github.com/oxarbitrage/open-explorer/blob/master/app/index.html#L78-L79

oxarbitrage/open-explorer
open-explorer - Bitshares open

[2017-12-25 05:53] wmbutler commented on #756
@xeroc need clarification. See above.

[2017-12-25 06:00] wmbutler commented on #661
If nobody wants to claim it, I'm going to push it...

[2017-12-25 06:00] #861 closed

[2017-12-25 06:02] wmbutler commented on #861
Please link the PR here @HarukaMa

[2017-12-25 06:30] wmbutler commented on #887
- [ ] News does not load in light client
- [ ] Date appears to be incorrect in some cases. This article shows a date of 21 Dec in the BTS wallet, but in STEEM, it says it was published 10 days ago (the current date as of this writing was Dec 25, implying an original publication date of 15 Dec.)

![screen shot 2017-12-25 at 12 27 10 am](https://user-images.githubusercontent.com/1254810/34334290-bec

[2017-12-25 06:30] wmbutler commented on #887
+.5 for date bug fix as well.

[2017-12-25 07:14] wmbutler commented on #717
More ideas:

![screen shot 2017-12-25 at 1 13 55 am](https://user-images.githubusercontent.com/1254810/34334971-ed79dcc4-e910-11e7-808f-c49a847f266e.png)

[2017-12-25 07:17] wmbutler commented on #717
The bit prefix tells me that it's a derivative, a collateralized asset rather than an exchangeable token or IOU. This is an especially important detail.

My only problem with using the logo is lack of consistency, although it would make bitAssets stand out. Maybe we can discuss without the logo first and iterate towards it.

[2017-12-25 07:52] pavel-lipcean commented on #787
![all-dark](https://user-images.githubusercontent.com/5729949/34335680-5047436c-e959-11e7-95b3-3a7c2e976021.png)

[2017-12-25 07:53] pavel-lipcean commented on #787
![dark](https://user-images.githubusercontent.com/5729949/34335695-774b9382-e959-11e7-8cd4-723baebcd6d6.png)

[2017-12-25 07:59] pavel-lipcean commented on #787
Well.. I already worked on it to follow the current fonts and colors and general layout - without any fancy styles.

Here it is^^^

1) I am using a general icons font, that will be consistent (in this case font-awesome) instead of separate svg files.

2) Changed the CREATE ACCOUNT to be more visible and clear that the user doesn't have an account yet - and that there is the place to Create an Acco

[2017-12-25 09:56] GildedHonour opened #906 "It won't start"
Trying to run it

      $ npm start

      Listening at http://localhost:8080/
      (node:3077) DeprecationWarning: loaderUtils.parseQuery() received a non-string value which can be problematic, see https://github.com/webpack/loader-utils/issues/56
      parseQuery() will be replaced with getOptions() in the next major version of loader-utils.
      webpack built e465c9f4d6a36aa4dc06 in 18185ms

[2017-12-25 10:43] GildedHonour commented on #906
it's working in incognito

[2017-12-25 10:43] #906 closed

[2017-12-25 11:38] HarukaMa commented on #861
Fixed in #864.

Address is haruka (1.2.21561).

[2017-12-25 14:48] Xeldal commented on #895
@wmbutler It's not that complicated.  Your example is 2 subtle changes from being there.
Let's see if I can better summarize it again.

Stop separating into 2 separate wallets. There is only 1.
Drop the cloud vs local stuff.  It's not necessary.
Either you have a file with your keys or you don't.  That's it.

If you have a file, you click the the icon and select the file.
Enter the password and th

[2017-12-25 16:33] EdwardTatch opened #907 "Missing dashboard displays"
Hello,

I was playing with the ui, following https://steemit.com/bitshares/@cm-steem/bitshares-ui-customization-guide

But for some reason, dashboard doesn't display my selected pair with logos, I followed everything from the tuto but it's seems like for some pairs it works (BTS:SILVER, USD:SILVER) but for some reason some do not (EUR:SILVER, etc).

Not sure why and at this point I have look every

[2017-12-25 17:19] Xeldal commented on #895
No.

It is more simple, straight forward, and versatile than your example.  If you are confused about something, how about asking a question instead of just throwing your hands in the air and cursing.  Rather than me trying to re-explain everything each time, which is adding to the confusion, if I know where you are not following along, I can better communicate it to you.

Not sure where you're ge

[2017-12-25 17:31] startailcoon commented on #557
@wmbutler  I'm making this my priority this sprint. I'm planning on completing all my tasks for next sprint, or as many as I can do.

[2017-12-25 20:04] Xeldal commented on #895
Other benefits of proposed solution:
- Restore wallet is never necessary.  You just login to it.
- Better security.  Browser never holds on to your wallet file, it only remembers it's location. (ie flash drive)
- Many settings items wrt "local wallet" become unnecessary. ie "active",  "new", and "delete"
- Settings item "Login Mode" becomes unnecessary.
- Backup becomes universal regardless of how

[2017-12-25 20:51] wmbutler commented on #907
Sorry, we don't really have anything to do with that guide. You should contact the creator.

[2017-12-25 20:51] #907 closed

[2017-12-25 20:53] wmbutler commented on #861
Thanks. You will be paid for this as soon as the foundation pays the ui team.

[2017-12-25 21:05] wmbutler commented on #787
@pavel-lipcean thanks for your time and effort here, really appreciate your work. Any thoughts on how we can integrate the top header like we have with some other areas?

![screen shot 2017-12-25 at 3 05 33 pm](https://user-images.githubusercontent.com/1254810/34342919-1593dd76-e985-11e7-9b97-9852971869be.png)

Keep in mind that the plan is to go to a hierarchical side menu (right side) as the app

[2017-12-25 22:48] diogogomes opened #909 "Implement notification/warning for accounts with <1BTS"
### Use case 1

- Alice want to start using BitShares DEX, so Alice creates an account. :white_check_mark:
- Alice needs funds, so Alice makes the first deposit on the DEX (ex: Open.XX) :white_check_mark:
- Alice needs to pay the fees, so Alice makes a trade OPEN.XX / BTS :red_circle:

**How Alice buy BTS with her funds if she doesn't have BTS for the fees?**

@wmbutler on Telegram:
"Get Alice to

[2017-12-26 01:07] pavel-lipcean commented on #759
![help](https://user-images.githubusercontent.com/5729949/34344068-eb9a9e28-e9e9-11e7-97ab-45e1aa9da790.png)

[2017-12-26 01:11] pavel-lipcean commented on #759
1) After recent header update, it was very hard for me to find the HELP area. I mean, I used the /#/help/ to get to it - but in the menu - couldn't find it. This is why a side menu (top right, like an icon) would be very helpful to place there the Help button.

2) Here are some styles that I worked on for the help area, including blockquotes, paragraphs, headings and even the buttons.

3) Still..

[2017-12-26 01:12] pavel-lipcean commented on #759
![help](https://user-images.githubusercontent.com/5729949/34344105-9396c278-e9ea-11e7-9199-707f3f389003.png)

[2017-12-26 01:15] pavel-lipcean commented on #759
Here's a side-menu icon that can be placed on top right, to place there the HELP button, maybe Privacy and all additional items that are needed:

![898](https://user-images.githubusercontent.com/5729949/34344146-fae93bc2-e9ea-11e7-9332-a68b61687305.png)

[2017-12-26 01:44] dot5enko commented on #823
i claim this issue.
Fixed problems with exchange inputs.
@diogogomes what  about

can you give more details ?

[2017-12-26 01:50] diogogomes commented on #823
Steps:
1. Open a desktop client for Linux (deb package)
2. Copy password from somewhere.
3. Right-click shows a menu with the paste option.

Step 3 doesn't work. Many users have the habit to copy/paste with mouse and not with keyboard shortcuts and this issue is a barrier for them.

[2017-12-26 02:13] dot5enko commented on #823
@diogogomes it's not an issue actually.  Electron, which is used to create a desktop app disable context menus.
So, in order to make context menus we should use some external module for that and this is beyond current issue. I guess you can create another, but is it really a problem?

[2017-12-26 02:14] dot5enko commented on #851
@wmbutler too little information to test & fix it

[2017-12-26 02:21] diogogomes commented on #823
@dot5enko, I know one by sindresorhus [electron-context-menu](https://github.com/sindresorhus/electron-context-menu) but I never tried it.

For me, it's not a problem, I get this from users on BitShares support (Discord).

What's your opinion @wmbutler? Another issue for the context menu?

[2017-12-26 04:57] abitmore commented on #895
@Xeldal I guess there are technical limitations that can't simply use a file and remember the location, so it would be hard to implement the key file thing within a web browser. For example,
* the web browser can't write the key file when keys of an account got updated, in this case need to generate a new file and prompt for download (whether to overwrite the old file should be decided by the user

[2017-12-26 09:12] startailcoon commented on #733
After some changes; here's an update

# Current View
![trading_before](https://user-images.githubusercontent.com/12114550/34352696-556e2768-ea24-11e7-8838-1f560a71a068.PNG)

# After Change
![trading_after](https://user-images.githubusercontent.com/12114550/34352705-60355252-ea24-11e7-856d-cc2802bdd52b.PNG)

The old view had one column for each asset in the trade (QTY and TOTAL), which I think conf

[2017-12-26 10:15] dot5enko commented on #823
@diogogomes i'm not sure if its possible to paste any data from os buffer into input element within js,
therefore that task requires some research and doesn't fit current one.

[2017-12-26 12:37] Xeldal commented on #895
@abitmore Thank you for this assessment.  That makes sense.

I think there are at least 2 ways to address this issue:

- Any time a user updates his keys while using a key-file, request permission to save the file.  This is important even if the browser always retains the wallet to save a current backup.  In addition, if the user is incognito he needs to save a copy anyway before closing the brows

[2017-12-26 13:48] HarukaMa commented on #897
![untitled](https://user-images.githubusercontent.com/861659/34357902-504a9c8e-ea8e-11e7-9479-e16f1af0c237.gif)

Finally got the chance to record this. It's fairly lengthy as I cannot predict the market.

Notice that on 0:24, the least collateralized position is being executed but the call limit ticker on the top is still at 3.914812 which is clearly wrong as the highest bid is already below that

[2017-12-26 16:45] pavel-lipcean commented on #787
@wmbutler - why right side and not left side them - since on Settings and Help page, the secondary menus are left sided. To keep a consistent user experience..

On small screens, each secondary menu item would be full-width (on phone screens at least) - while on tablets left sided too.

Do you need a mock-up for both requests?

[2017-12-26 16:57] pavel-lipcean commented on #787
One thing I don't understand, is where the Exchange and Explore go on small screens now?

![image](https://user-images.githubusercontent.com/5729949/34360967-9a39a530-ea6e-11e7-9c6b-cf7939f687d2.png)

[2017-12-26 17:45] wmbutler commented on #733
I'm really sorry about all the confusion here. Sometimes, I feel completely unqualified for this. As I look over my own statements, I feel like I'm mixing units and causing confusion. The second and third columns should probably have whole units and just occupy a single column. That would make the sentence flow smoothly.

As a matter of fact, we could combine Type/Qty/Price into "Description"

Des

[2017-12-26 17:46] toma53 commented on #635
So in your effort to enhance security, you have locked out existing users.  What do you do if you are only seeing this message after Nov 15th to backup your local wallet.  All I have is the BTS default backup.  This is very disturbing.

[2017-12-26 18:11] wmbutler commented on #787
I'd like to see everything stack into the right menu as the screen gets narrower. I think having a single right menu is easier to support so we don't have to remember right vs left when trying to talk people through issues.

[2017-12-26 18:13] wmbutler commented on #635
Then go to wallet.bitshares.org/wallet and take a backup. We haven't done anything "disturbing" here.

[2017-12-26 18:18] wmbutler commented on #823
This issue is about Firefox only. Open a different issue for the light client.

[2017-12-26 18:19] wmbutler commented on #851
Removing from milestone and changed to question until we have more evidence and a way to reproduce.

[2017-12-26 18:24] wmbutler commented on #759
I added 2 hours to cover your time on this. Thanks for the feedback. Would you consider styling the Settings Menu in the same way? I like how you have pinned the help indexes to the left side instead of it all floating in the middle.

These would then collapse into the hierarchical right side menu as the screen becomes narrower.

[2017-12-26 18:24] #759 closed

[2017-12-26 18:25] wmbutler opened #911 "[3][Kennybll] Implement Help Area UX Styleguide"
See #759 for details.

[2017-12-26 18:28] wmbutler commented on #787
I like your work on the Help Screen. Seems like we can merge these style guides (particularly the left menu pinned to the left instead of floating to the center).

[2017-12-26 18:32] startailcoon commented on #733
![image](https://user-images.githubusercontent.com/12114550/34362273-5f1c7758-ea72-11e7-8049-447380fc9f92.png)

Not sure if the Flip icon is in the best place, but I think it's getting there now. Flip will reveal the opposite assets `Price` and `Market Price`

[2017-12-26 18:32] wmbutler commented on #909
@diogogomes Fees will come out of OPEN.BTC in your USE case 1. Openledger keeps a pool of reserve funds for this purpose. Same for case 2

[2017-12-26 18:33] dot5enko commented on #823
@wmbutler i claimed and fixed this issue, you misplaced asignee :)

[2017-12-26 18:36] wmbutler commented on #733
This is looking pretty good:

- [ ] I'd remove the flip column and let the user click on the description to flip it
- [ ] Add the Cancel Column back (we lost that somewhere in this work, there is cancel and filter logic that you possibly never pulled in I suppose)
- [ ] Left justify the Description

[2017-12-26 18:37] wmbutler commented on #823
Oops, sorry.

[2017-12-26 18:59] startailcoon commented on #733
Cancel column isn't gone, just that I'm not viewing my own account.

Clicking in the `Description` column now flips the order. It's not obvious that it does this though. We could make the whole row enable flipping (except the trade button of course).

Here's a large liceCap of the whole thing.

![bitshares-openorders](https://user-images.githubusercontent.com/12114550/34362799-ec15fc5c-ea76-11e7-8

[2017-12-26 19:18] wmbutler commented on #733
- [ ] I think the whole row as a click would be a great idea. I think this works!

[2017-12-26 19:45] HarukaMa commented on #909
There may be a situation where you are only owning some asset which has empty fee pool. Very edge though. Also paying through assets instead of core token is more expensive by design.

[2017-12-26 19:54] startailcoon commented on #733
Some cleanup and it's ready if none can think of something else.

![bitshares-openorders-2](https://user-images.githubusercontent.com/12114550/34363699-c5ccd9b4-ea7e-11e7-902a-794c0b8e3329.gif)

[2017-12-26 20:31] HarukaMa opened #912 "i18n in AccountSignedMessages.jsx"
Some strings are not translatable in `components/Account/AccountSignedMessages.jsx`.

[2017-12-26 21:34] Xeldal commented on #895
![](https://media.giphy.com/media/26CaMkEJtRvReNkfm/giphy.gif)

It's a little rough but you get the idea

[2017-12-26 22:25] HarukaMa commented on #887
`TypeError: WebSocket is not a constructor`
from `steem` package in `api/transports/ws.js`, seems it can't get package `ws` in electron.

Date bug fix is in #913.

[2017-12-26 23:07] wmbutler commented on #887
@HarukaMa are you planning to claim the Light Client fix as well or do I need to break this into 2 issues?

[2017-12-26 23:12] wmbutler commented on #895
Since most of our users use the Cloud Wallet Login mode, I still think this could fuel uncertainty from our user base.

If you can show a sequence that caters to both while not distracting cloud users, let's continue this path.

[2017-12-26 23:12] wmbutler commented on #912
What am I supposed to do with this?

[2017-12-26 23:24] wmbutler commented on #909
The solution to that is to notify the fee pool owner to add to it. I don't think this edge case is worth the effort, really.

[2017-12-26 23:34] rPman opened #914 "Price chart in 2d zoom and 1m candlesticks resets to 1d zoom randomly"
2d zoom does not work as expected in 5m candlesticks, and changes to 1 day interval after data update (new trade event)

[2017-12-26 23:48] rPman opened #915 "Price chart must be cleaned from buggly candlesticks of small amount trades"
When amount of exchange order too small, for example 0.0006cny/0.0001usd, price of this calculated not as expected and can be executed not in time (for example current market price 0.14676 but this small order calculated as 0.16667).

It makes wrong charts and used for malicious manipulation and just hinders.

This trash data must be cleared before generating price chart.

![image](https://user-im

[2017-12-26 23:48] wmbutler commented on #915
This bug fix is already in progress and is part of #361

[2017-12-26 23:48] #915 closed

[2017-12-26 23:49] wmbutler commented on #914
This has to do with which node you are connected to and will have some resolution after tradingview.

[2017-12-26 23:49] #914 closed

[2017-12-27 00:31] dot5enko commented on #887
i can take over light client bug if @HarukaMa would not claim it

[2017-12-27 01:37] Tommixoft commented on #521
When this will be fixed can not create account. :(

[2017-12-27 01:47] Xeldal commented on #895
## 1)
![](https://media.giphy.com/media/l49JPRvyGAPNz9xRu/giphy.gif)

In this alternative:
- Moved the key-file login to the right side, away from focus
- Added a text label.
- Account Name pre-populates with the active account name.
- 2 ways to return to Account Name login.  Clicking X and attempting to edit Account Name field.
- Switching back to Account Name login, pre-populates with active acc

[2017-12-27 01:57] wmbutler opened #916 "[2] Cannot download bin file from bitshares.org/wallet"
## Problem Statement
User navigates to https://bitshares.org/wallet. Site correctly indicates that a .bin file is available to download. User clicks download but no action occurred. User was competent and I trust that this was the case.

## Request
If you still have a local wallet at bitshares.org/wallet, please attempt the same download procedure and post a licecap if successful. If you verify th

[2017-12-27 02:00] wmbutler commented on #895
This is looking really good.

[2017-12-27 02:01] wmbutler commented on #521
This should have been closed. I do not believe this bug exists. Post a licecap @Tommixoft

[2017-12-27 02:02] wmbutler commented on #887
@dot5enko it's yours.

[2017-12-27 02:03] Tommixoft commented on #521
@wmbutler i got this error with newest UI wallet and Online wallet 8 times. Then i left ui wallet in create account window...and after 2minutes i've looked and account was created and logged in. Anyway this error still exists.

[2017-12-27 02:20] wmbutler commented on #521
Actually, I agree, just tested creating a new account:

Web: wallet.bitshares.org
Node: Los Angeles, USA
Cloud Wallet

[2017-12-27 02:21] wmbutler commented on #521
[code]

[2017-12-27 02:24] wmbutler commented on #521
@xeroc pinging you since this could be related to faucet.

[2017-12-27 03:04] wmbutler opened #917 "[2] First Welcome Screen for wallet.bitshares.org"
## Current Layout

- bitshares logo is duplicated
- Create Account is duplicated
- Setting menu can be hidden in hamburger on right

![screen shot 2017-12-26 at 8 51 14 pm](https://user-images.githubusercontent.com/1254810/34369064-88cf31ce-ea7e-11e7-86f9-51d41da10807.png)

![register](https://user-images.githubusercontent.com/1254810/34369263-03275676-ea80-11e7-87ef-585e20d14925.gif)

## Proposed

[2017-12-27 07:39] HarukaMa commented on #912
Strings in UI should be translatable, but some of the strings in Signed Message part is hardcoded in English, like "VERIFIED".

[2017-12-27 09:36] tbone-bts commented on #895
I really like the direction @Xeldal has been going here and I think alternative #2 above is very close.  It seems the only thing missing is a button that should appear to the right of the input field when the user clicks "Use key-file".  That way the user can browse for a key-file (a) if there isn't one already detected or (b) if they want to use a key-file different than the one detected.

Beyond

[2017-12-27 16:12] Xeldal commented on #895
Good question.  I noticed after saving backup files, the wallet currently remembers the location where I've saved previous backups (maybe windows does this automatically).  The key-file login should use this same location or remember the last used key-file location if they are different (windows might do this automatically).  If no backup has ever been created and no key-file has ever been used.

[2017-12-27 18:13] Xeldal commented on #895
## 3)
![](https://media.giphy.com/media/3oFzmlNjdRKesDFDWM/giphy.gif)

In this alternative:
- If **no** key-file has previously been used.  "use key-file" defaults to "Please Select A File"
- If a key-file **was** previously used, "use key-file" populates field with last file used.
- added elipsis for selecting key-file

[2017-12-27 18:59] startailcoon commented on #756
@xeroc I'm a bit unclear of what your wanting here.

- What do you mean by `two mouse following bars`?
Each bitAsset has it's own defined `Force settlement offset` value USD has 1%, CNY has 5% since recently. Is this what you wish to show?

I know we currently have a few more lines showing when an asset has a force settlement in progress, but there's none now and I can't remember what it is. Do yo

[2017-12-27 19:06] startailcoon commented on #766
This is sort of related to #756

[2017-12-27 20:43] startailcoon commented on #756
Today we have `Call Limit`, which I guess is the offset.
As it's today, these are so close to each other that they merge together.

![image](https://user-images.githubusercontent.com/12114550/34392809-ce4d94b8-eb4e-11e7-94f1-9879920bd662.png)

[2017-12-27 22:01] Xeldal commented on #895
## 4)
![](https://media.giphy.com/media/3o752aC4fwErqbmaqc/giphy.gif)

This alternative is exactly like 3) only it switches more like tabs.

Tabs here would make it easier to add a 3rd way to login if we wanted to add "BRAIN-KEY" as another option.  uhg.  Forgot about that one. : (

[2017-12-28 03:09] dot5enko commented on #887
@svk31, the problem is in [steem library](https://github.com/steemit/steem-js/blob/3312d5ab0732ecb69a76e816c131985454d55748/src/api/transports/ws.js#L9), after webpack it turns to be empty object which cause an error.
I came up to [stackoverflow](https://stackoverflow.com/questions/38289019/require-webpack-bundle-returns-empty-object) with similar problem but it changed nothing, so i need a help o

[2017-12-28 13:46] btsfav commented on #916
yep, doesn't work:

`INFO	browserEntropy gathered
app.js:12 Uncaught TypeError: Cannot read property 'toUncompressed' of null
    at t.get_shared_secret (https://bitshares.org/wallet/app.js:12:231179)
    at Function.t.encrypt_with_checksum (https://bitshares.org/wallet/app.js:26:48728)
    at https://bitshares.org/wallet/app.js:26:125237
    at i (https://bitshares.org/wallet/app.js:59:1091513)

[2017-12-28 13:54] btsfav commented on #521
sigh, how hard is it to keep a faucet working? super annoying to monitor and need to change all ref links all the fkn time

[2017-12-28 16:25] abitmore opened #919 "[.5][startailcoon] Witness list page timezone issue"
On https://wallet.bitshares.org/#/explorer/witnesses, I guess the `Next vote update` field ignored timezone.

[2017-12-28 17:05] wmbutler commented on #756
@xeroc I think we still need some input on this.

[2017-12-28 17:05] wmbutler commented on #521
@xeroc can you address this?

[2017-12-28 17:07] wmbutler commented on #916
@svk31 this is a serious problem and needs to be addressed with a hotfix as soon as you are able. Or if any other devs can get to this first. I'm increasing the bounty to get it out the door.

[2017-12-28 17:11] wmbutler commented on #895
You will still need to display **something** in the Key File input field when the user has never backed up their first key file.

[2017-12-28 17:20] wmbutler commented on #733
- [ ] Markets flip when clicking Trade and Cancel
- [ ] Pretty sure Price and Market Price should be the inverse of what they are relative to the Description

In the example below, I'd expect to be buying Open.EOS for BTS at a price of 12.

![screen shot 2017-12-28 at 11 16 08 am](https://user-images.githubusercontent.com/1254810/34417937-e644e6bc-ebc0-11e7-90f2-bf8d9603e456.png)
![screen shot 201

[2017-12-28 17:32] HarukaMa commented on #916
The wallet on https://bitshares.org/wallet is not connecting to any API nodes as it is running in deprecated mode, so it cannot get current running chain config, thus public key prefix defaulted to `GPH`. Pubkeys inside the wallet uses `BTS` as prefix, so they are not being read. I'm able to reproduce it using `build-github` script.

A possible one-shot temporary modification: Edit `node_modules/b

[2017-12-28 17:33] HarukaMa commented on #919
Settlement order list is affected by this too.

[2017-12-28 19:10] startailcoon commented on #733
Fixed the issue with the Price and Market Price mismatch.
I've tried to verify that it's correct, and can only see that it's correct now, but please do verify as well.

[2017-12-28 19:20] HarukaMa opened #920 "Separate region to show margin call orders in Exchange"
Another solution to #877 .

Currently the margin call orders are consolidated in the order book, but they are in fact separately evaluated and executed, each one having different call limit price and margin call price. Putting them together would eliminate many useful information, like if they would cascade triggered or not.

If possible, they could be put into a separate box, listing every order

[2017-12-28 20:16] SebiTimeWaster commented on #521
I have the same bug with the BitShares2-light wallet (which i presume is just a browser opening https://wallet.bitshares.org/ ?) under linux since days now (cannot register at all).

[2017-12-28 20:30] startailcoon opened #921 "[1][HarukaMa] Margin Positions Tab views Incorrect Call Price"
Small issue, but the `Price` column shows the current `Last Price` rather than the current `Call Price` that is the current `Settlment Price` +/- the offset (if I'm not wrong).

![image](https://user-images.githubusercontent.com/12114550/34422493-2d129ad0-ec16-11e7-91a8-170991140d5c.png)

![image](https://user-images.githubusercontent.com/12114550/34422520-4a3df4e2-ec16-11e7-94f9-e6ddd51a8e56.png)

[2017-12-28 21:41] landry314 commented on #920
There is a Settlement window so why not add margin calls there too until they are buyable then move them to the order book?

The unbuyable margin call order in the order book messes up the total column calculations and "lowest ask" feature... removing the unbuyable orders from there will immediately fix this. Settlements and Margin Calls are both orders about to execute under certain circumstances

[2017-12-28 21:55] HarukaMa commented on #921
Did you mean "price" column instead of "call price"? "call price" is correctly calculated.

[2017-12-28 22:07] Tommixoft commented on #521
yeah i had it too when was trying to register...finally i gave up and left wallet sit open..then after 5minutes i see i'm loged in :)

[2017-12-28 22:10] SebiTimeWaster commented on #521
unfortunately didn't work for me so far...

[2017-12-28 23:38] wmbutler commented on #521
@svk31 I originally thought this was related to the faucet, but I think it's worth you observing it from the production network rather than the test net.

[2017-12-28 23:45] wmbutler commented on #733
I tested, looks great!

[2017-12-28 23:51] wmbutler commented on #916
Just making sure you are seeing this @svk31

[2017-12-29 01:12] Xeldal commented on #895
Examples 3) and 4) both show this scenario.  If the user has never backed up their first key-file, the input field states "Please Select A Key-File".  This satisfies that **something** yes?

[2017-12-29 01:30] wmbutler commented on #667
Thoughts on your mockup... what if we go more this route?

![screen shot 2017-12-28 at 7 28 52 pm](https://user-images.githubusercontent.com/1254810/34427233-8c174b4a-ec05-11e7-92fb-5031eb56ee3f.png)

[2017-12-29 02:16] wmbutler commented on #667
![screen shot 2017-12-28 at 8 15 56 pm](https://user-images.githubusercontent.com/1254810/34427832-f41491f2-ec0b-11e7-9511-ded4d606c371.png)

[2017-12-29 02:19] wmbutler commented on #895
There is no reason to select a key file if the key file is already stored in the local browser. This is the edge case I'm asking you to cover... this will be true for every user who creates a local wallet and decides not to back it up.

[2017-12-29 03:54] Xeldal commented on #895
Ah, ok, I see what you are asking now.  Thanks for clarifying.  That's an important point.

**problem:**
We have a situation now where people have been able to create a key-file(local wallet), without actually creating the file and managing it themselves.  It's just stored in their browser (Not a good idea).  We want them to actually have the file.

**solution:**
We will need a transition process

[2017-12-29 07:12] startailcoon commented on #921
Yes, I did :)

[2017-12-29 08:28] startailcoon commented on #919
### Both issues fixed

![bitshares-timezoneissues](https://user-images.githubusercontent.com/12114550/34432746-894cf5a2-ec7a-11e7-97b4-a1b4eb7e2f4a.gif)

[2017-12-29 14:18] HarukaMa opened #925 "Price chart doesn't correctly sort data dates on update"
![untitled1](https://user-images.githubusercontent.com/861659/34439034-79f22900-ecee-11e7-8a5c-de94a5ad1fc1.gif)

[2017-12-29 14:40] GildedHonour commented on #904
I'll take a look at it this week I think.

[2017-12-29 15:14] Xeldal commented on #895
*** Explination for strikeout in previous comment:

One possible undesirable side effect of the browser not holding on to the key-file after a login session is (as abit pointed out) that the browser can't pull a file to read without a specific user action.  The user would have to actually select the key-file from an explorer window each time he logs in, which is not ideal.

So, i guess if we want

[2017-12-29 15:17] HarukaMa commented on #101
Recently I'm hearing the questions about recovering from exposed backup files, and being able to rotate keys from brainkey is very helpful in this situation. The brainkey would be useless if the new keys are from external sources.

[2017-12-29 17:05] DBCerigo opened #926 "[.5] Failed Withdrawals due to missing gate fee"
Hi,

I'm trying to withdraw BTS from my openledger account to an ETH address. I'm doing so via the TRADE.X bridge. When I hit "WITHDRAW NOW" I get the popup showing me the fee and letting me input the ETH address, but when I hit "WITHDRAW" on this popup nothing happens. I checked the console and the app is throwing an error:
[code]

The line in which it throws is `var gateFee = parseFloat(String.p

[2017-12-29 17:07] DBCerigo commented on #926
Could be related to #777 and #588

[2017-12-29 19:43] wmbutler commented on #557
Also review this form OpenLedger just to be sure: https://github.com/bitshares/bitshares-ui/pull/923

[2017-12-29 19:46] wmbutler commented on #925
This will all be rewritten when Tradingview is added.

[2017-12-29 19:46] #925 closed

[2017-12-29 19:47] wmbutler commented on #904
Can you have it ready to test by 04 Jan 2018?

[2017-12-29 21:57] startailcoon commented on #557
Do we want something like this available depending on what gateway the user selects?

![image](https://user-images.githubusercontent.com/12114550/34448197-82cd8a04-eceb-11e7-8a4f-5ea3dddf398f.png)

![image](https://user-images.githubusercontent.com/12114550/34448202-91caf4e2-eceb-11e7-92b3-1e22bd39a0e2.png)

[2017-12-29 23:28] startailcoon opened #927 "[0.5] Market Link Error on Dashboard"
#### When a market is switched the icon for the market on the Dashboard appears to be invalid.

1. Load the Dashboard from a fresh instance
2. Go to the tab for `Open Orders` or `Margin Trading`
3. Click on the market icon without switching the market direction
4. Everything works

---
1. Go to the Dashboard again
2. Go to the tab for `Open Orders` or `Margin Trading`
3. Switch market direction, t

[2017-12-30 06:37] pavel-lipcean commented on #787
Why I chose a floating center Settings menu, was because - the Settings have less content in them so we didn't really needed them presented in full-width. Especially on very-big-screens - having it centered is easier - since you don't have to move the mouse so much!

Let me see what I can do regarding this, I will also try to stack settings in a right menu all time - will show it to you in a bit..

[2017-12-30 07:44] pavel-lipcean commented on #787
Question on this item:

![image](https://user-images.githubusercontent.com/5729949/34452346-fdd2d52e-ed45-11e7-9d54-fa945373a1df.png)

[2017-12-30 07:44] pavel-lipcean commented on #787
Question on this item in the Settings Menu:
![image](https://user-images.githubusercontent.com/5729949/34452347-12abc294-ed46-11e7-94e6-a3276e04ed1c.png)

[2017-12-30 07:59] pavel-lipcean commented on #787
Here is full-width Settings page, with the menu - far-left:

![1](https://user-images.githubusercontent.com/5729949/34452459-12010082-ed48-11e7-951b-638bd3cb271b.png)

[2017-12-30 08:00] pavel-lipcean commented on #787
But I would go with another design solution, to place it in the menu and have it there on all screen sizes, check out how the settings would look like (this is after you clicked the menu icon, and it would come out from the right side):

![2](https://user-images.githubusercontent.com/5729949/34452466-481085bc-ed48-11e7-9f83-7d0af5fd9274.png)

[2017-12-30 08:02] pavel-lipcean commented on #759
Here's the help section, placed inside the menu - including on very small screen-size (the far-right one)

![3](https://user-images.githubusercontent.com/5729949/34452469-7f4123a2-ed48-11e7-9578-9a9bd1dc7e88.png)

[2017-12-30 11:38] GildedHonour commented on #904
I can't promise that.

[2017-12-30 16:32] DBCerigo commented on #926
How should one get BTS from their OpenLedger account to other coins/tokens then?
Thanks

[2017-12-30 18:16] wmbutler commented on #926
TRADE.X is not openledger. OPEN.X is.

[2017-12-30 18:17] wmbutler commented on #904
I'll remove your claim them. Please only claim items that you can complete during the current Sprint.

[2017-12-30 18:18] wmbutler commented on #759
Nice.

[2017-12-30 18:20] wmbutler commented on #927
Nice catch.

[2017-12-30 18:21] wmbutler commented on #557
The question mark should take the user to the appropriate help area (open a new tab so they don't lose the modal).

https://github.com/bitshares/bitshares-ui/issues/631

[2017-12-30 19:49] GildedHonour commented on #904
does the Sprint have the dates assigned to each issue to complete it within?

[2017-12-30 20:05] Kennybll opened #928 "Possibly Adding Ant Design"
So I've been looking at the design and I think it would be beneficial to use a library. I came from helping on busy.org who uses [Ant Design](https://ant.design/) for their UI. It looks nice and it could maybe work for this too. I see you guys are making changes to the UI as seen in Github issues.

Maybe we should look into Ant Design. It has ready to go components with lots of options. Customizab

[2017-12-30 20:17] Kennybll commented on #904
Question, what about light and midnight theme?

[2017-12-30 22:39] wmbutler commented on #928
hrmmm, maybe at a later date. At this point, we are making incremental changes to the UI and I'm not sure if it's such a good idea to add yet another layer of abstraction.

[2017-12-30 22:39] #928 closed

[2017-12-30 22:42] wmbutler opened #929 "[.5][Kennybll] Change triangle to burger in preparation for hierarchical right menu"
![screen shot 2017-12-30 at 4 40 53 pm](https://user-images.githubusercontent.com/1254810/34457751-52a845a4-ed80-11e7-82db-6e67d475ec9e.png)

[2017-12-30 23:20] chrisciszak opened #930 "Unable to verify to withdraw fiat currency"
The link in 'Click _here_ to register for deposits of USD' take me to unavailable OpenLedger page https://openledger.info/v/

[2017-12-30 23:56] startailcoon commented on #930
This repository is for issues with the BitShares Wallet. For issues with a gateway like Open Ledger, please contact them directly on their own platforms.

Open Ledger Support: https://openledger.freshdesk.com
Telegram: https://t.me/OpenLedgerDC

[2017-12-30 23:56] #930 closed

[2017-12-30 23:59] Kennybll commented on #929
I could do this!

[2017-12-31 01:25] chrisciszak commented on #930
Dont you think that you should also address it in your application? The
integration seems to be broken. I've never seen a serious app linking to a
non existing website.

If your integration with Open Ledger is not working, you should remove it
from the BitShares as it's confusing and doesn't look professional.
On Sat, 30 Dec 2017 at 23:56, Startail Coon <notifications@github.com>
wrote:

[2017-12-31 04:07] bitcrab opened #932 "[1] orders disappear"
now in GDEX.BTO/bitCNY pair, only below buy orders appear in the latest GUI:

![bto1](https://user-images.githubusercontent.com/5886543/34459177-1a1ec778-ee23-11e7-9300-02964deb29cd.jpg)

but actually there are much more buy orders there which we can see in magicwallet:
![image](https://user-images.githubusercontent.com/5886543/34459182-4bbf0de2-ee23-11e7-8a4a-98b3bb45d436.png)

these orders also

[2017-12-31 06:44] pnomolos commented on #927
I'll call this, and have a PR ready to go - just need verification that the style looks good :)

[2017-12-31 08:34] #916 closed

[2017-12-31 08:36] svk31 commented on #916
I'd already hard-coded the chainid for the database initialization, but I missed the use of ChainConfig directly in the backup component, nice catch @HarukaMa

[2017-12-31 09:19] #919 closed

[2017-12-31 09:27] dot5enko commented on #932
they are in the gui. orders with same price are grouped (first on dex and two in app)

[2017-12-31 11:32] bitcrab commented on #932
no, orders with price below 222300 are shown in magicwallet but not in GUI