[2018-11-07 10:18] sschiessl-bcp opened #2129 "[1.5] View-only mode: Mobile view"
The new "View Mode" hinders a proper mobile view of the header:

![image](https://user-images.githubusercontent.com/33128181/48124915-ce9d3a00-e27d-11e8-81dd-0500c371593d.png)

My suggestion is that the button minimizes (Icon could also be trailing):
![image](https://user-images.githubusercontent.com/33128181/48125290-9a764900-e27e-11e8-8002-3b07c8d8fa11.png)

This minimization should take place w

[2018-11-07 10:20] sschiessl-bcp commented on #2128
Please try this at wallet.bitshares.org, CryptoBridge is a third party that has its own UI adjustments

[2018-11-07 10:21] sschiessl-bcp commented on #1908
Any news?

[2018-11-07 10:29] sschiessl-bcp commented on #1753
Those replacement tasks would be good for our newcomers to show that the can work accurately while still seeing lots of places in the UI. What do you think of putting a generic "How To" in the issue and release #1936 ? I think your time is better suited for the style-guide or deeper going CSS issues

[2018-11-07 11:32] nikandrovalex commented on #1604
@startailcoon Thank you very much😊. I'm glad to help. And I am ready for new tasks) I am free now and I can spend more time on these projects.

Also, thanks to everyone who helped me deal with this task.

[2018-11-07 12:56] TechsUsInc opened #2130 "Multiple quick deposit buttons/ borrow buttons- as well as inactive tooltips"
**Describe the bug**
Open.xxx and bit.xxx assets regardless of pairing to BTC/BTS/USD/CNY display inconsistent, inapplicable, multiple, and sometimes missing quick deposit and borrow buttons. In some pairs, mostly borrow, the tooltip is inactive.

**To Reproduce**
1. Go to exchange.
2. Go to Open.BTC : BTS pair by clicking on BTC market, then BTS.
3. Note the multiple quick deposit buttons.
4. Swi

[2018-11-07 15:44] sschiessl-bcp commented on #1999
You might need to reload the wallet after clicking on Activity to reproduce (at least for me)

[2018-11-07 19:58] froooze commented on #2128
In Chart Options you can change the size?

[2018-11-07 20:17] froooze commented on #1975
- Do we need the different Modes? What is the difference?
- Can we use the searchbox from Explore -> Witnesses ?

[2018-11-07 22:33] gibbsfromncis commented on #1604
@wmbutler Notice: Issue title is correct. All hours for this task should be delivered to me because of our specific agreement with Alex.

[2018-11-07 22:35] gibbsfromncis commented on #1812
@wmbutler yea I know. I'm not sure how to deal correct with this issue and I'm not sure it is the nice time to work on it. I'll discuss it with Stefan and we will find solution or the date when we start to work on it.

[2018-11-07 22:36] gibbsfromncis commented on #1975
I've unassigned myself because I have no time for this task and it requires additional discussion.

@startailcoon @sschiessl-bcp can you please put your thoughts/requirements so anyone else can take it

[2018-11-08 00:45] nathanhourt commented on #1850
I'm having this problem as well, and it's super annoying. This screen should clear once the node status goes to `CONNECTED`... but can we at least get a button to go back to the normal UI? This deadend page is extremely frustrating; it's the moral equivalent of "The backend is working, and I'm connected to it, but screw you just because"

[2018-11-08 02:13] gibbsfromncis commented on #2130
Also reproducible if just open link - https://wallet.bitshares.org/#/market/BTS_OPEN.ETH

[2018-11-08 03:16] gibbsfromncis commented on #2128
@leshacat you can use "Chart Options on the right top to change chart height.

Also https://wallet.crypto-bridge.org is a third-party wallet and we do not support it. Please use https://wallet.bitshares.org

[2018-11-08 04:12] dls-cipher commented on #1850
Keep the BTS to yourself and try this:

Deploy Let's Encrypt SSLl certificate bot with nginx as handler of SSL requests and try connecting with "wss://" instead.

UI will not connect to an API node without SSL protection on it, only cli_wallet (and any custom apps) will.

I'm not sure about my statement above, but it cost you nothing and I believe it work.

Chee®s

[2018-11-08 06:35] sschiessl-bcp commented on #1850
This is likely due to the chain id. Will be adressed with #2044

[2018-11-08 07:12] alexandr-masl commented on #2093
Good day.
New PR https://github.com/bitshares/bitshares-ui/pull/2131 is ready for checking.
Check please guys.
I've spent more than 10 hours, please extend estimation.
During solving this issue I've found new with sorting BalanceComponent. Will create new issue.
Thanks in advance.

[2018-11-08 07:25] alexandr-masl opened #2132 "[1.5] Sorting Explorer Accounts by Balance breaks page"
**Describe the bug**
The sorting for BalanceComponent in Explore -> Accounts doesn't work as expected, after few clicks appears white screen.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to Explore
2. Click on Accounts
3. Click on Current Balance column several times

**Expected behaviour**
Sort BalanceComponent without white screen.

[2018-11-08 14:08] #1724 closed

[2018-11-08 14:10] MikhailKavalenka commented on #1832
@sschiessl-bcp here is the PR with the fixes: https://github.com/bitshares/bitshares-ui/pull/2133
Please take a look.

[2018-11-08 14:17] sschiessl-bcp commented on #2084
Did you scan the UI to find where other quick search bars are used?

[2018-11-08 14:39] #2015 closed

[2018-11-08 14:40] #2060 closed

[2018-11-08 14:46] #2120 closed

[2018-11-08 14:50] #2123 closed

[2018-11-08 17:00] manikey123 commented on #2084
I have not scan UI for other occurrences for "quick search bars".
I shall do so and update later by PST eod.

On Thu, Nov 8, 2018 at 6:17 AM Stefan Schießl <notifications@github.com>
wrote:

[2018-11-08 18:49] startailcoon commented on #2130
The reason we have two buttons is because one is for Open Ledger "Deposit" and the other one is for Tradeblock "Buy".

As we have a new component for depositing trough bridges we should move to the new one and retire the old code that was specific for Open Ledger.

### Suggestions to solve this issue
- Remove "Quick Deposit" for the deposit feature, as it's available in the menu
- Use Quick Deposi

[2018-11-08 18:52] startailcoon commented on #2129
I noticed this issue as well 👍

[2018-11-08 18:54] #2128 closed

[2018-11-08 19:00] startailcoon commented on #2127
@dot5enko I'm assigning all three issues to you. I feel 2007 and 2004 touches the same concept, so I have only added hours to one of them. If you feel you need any clarification of these two issues, please post them in respective issue thread. 👍

[2018-11-08 19:01] startailcoon commented on #2007
Hours of this issue included in sub-task #2004

[2018-11-08 19:05] startailcoon commented on #2117
Setting this task to 15 hours estimated. Please report if it will take longer once you reach this point.

[2018-11-08 19:16] froooze commented on #2005
Can we remove now "Needs Verification" ?

[2018-11-08 19:31] startailcoon commented on #2093
![image](https://user-images.githubusercontent.com/12114550/48221891-8cfeb300-e393-11e8-92c0-657e93243aab.png)

My reflections for this issue.
- I think we can safely drop the title "Accounts".
- The table should wrap the whole page width, the table headers should not wrap unless necessary.
  - If table headers should be shortened, I think we could go for simple names as "Name", "Balance", "% of t

[2018-11-08 19:34] startailcoon commented on #2093
I've updated the issue hours to reflect the extended tasks to it.

[2018-11-08 20:28] sschiessl-bcp commented on #2130
I personally like the deposit feature there. I would suggest to think of proper UX.

It could be a e.g. that if there are two choices the button opens a select menu

[2018-11-08 21:09] startailcoon commented on #2130
Could do a drop-out selection perhaps, if we have more than one type.

If we have both I suggest we display them as follows

- Deposit through Gateway
- Buy through Bridge

[2018-11-09 06:16] gibbsfromncis opened #2135 "[StyleGuide] Add support of Steps"
The issue is to add support of [Steps component](https://ant.design/components/steps/) to our style-guide

[2018-11-09 06:36] manikey123 commented on #2084
A>
The quick search option for markets looks completely different from other three search options. Do you want me to make it consistent with other three tabs ?
B> The quick search option for market tab has a clear option ie user can clear the text while he types. Now this option is unavailable in Assets, Witness, Commitee tabs. Let me know if same "Clear" option from Markets filter can be added to

[2018-11-09 06:37] manikey123 commented on #2084
![image](https://user-images.githubusercontent.com/22608398/48247085-db697d00-e3a6-11e8-8c48-0c11d828c8fe.png)

[2018-11-09 06:38] manikey123 commented on #2084
![image](https://user-images.githubusercontent.com/22608398/48247105-ee7c4d00-e3a6-11e8-949a-45f12ce3fc72.png)
![image](https://user-images.githubusercontent.com/22608398/48247139-12d82980-e3a7-11e8-8b89-e3e0fb06e36c.png)

[2018-11-09 06:41] manikey123 commented on #2084
![image](https://user-images.githubusercontent.com/22608398/48247233-6b0f2b80-e3a7-11e8-9c2f-b4528137110f.png)
Explore >> Markets.    this is stretched out and has clear text option

[2018-11-09 06:46] manikey123 opened #2136 "wallet - bitshares - exchange returns blank page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/'
2. Click on 'Exchange Tab ie https://wallet.bitshares.org/#/market/XBTSX.NVC_USD'
3. See error  ---> blank page observed

**Expected behavior**
A clear and concise description of what you expected to happen.
See some web page
**Scree

[2018-11-09 07:29] sschiessl-bcp commented on #2130
@gibbsfromncis

Does ANT provide a new way to do tooltips? ReactTooltips seems to be unreliable

[2018-11-09 07:31] sschiessl-bcp opened #2137 "ANTify tooltips"
Replace existing ReactTooltips with new style-guide-tooltips.

Task:
 - [x] Cross reference how many there are in the UI
 - [x] Report back in here the proper way to replace them
 - [x] Do one sample replacement to check out the solution and wait for feedback
 - [x] Actually replace them all after positive feedback

[2018-11-09 07:37] sschiessl-bcp commented on #2084
Yes, please.

Yes, the search component could get a new props to show this clear "x" when user has typed something. This must probably be changed in style-guide? @gibbsfromncis

Active | Hidden is only necessary there

It should be the same component as A

[2018-11-09 09:15] sschiessl-bcp opened #2138 "[2] Resolve scam accounts to IDs"
Having the IDs of the accounts in `scamAccounts.js` can reduce query amount to node, comparison is possible via ID instead of resolved name.

Reduces load, for example in #1755

For simplicity I would for now just add the IDs in the list, e.g.

[code]

transitions to

[code]

[2018-11-09 09:58] clockworkgr commented on #1985
http://clients.clockwork.gr/decentralized/

This is for display only though...not sure how well and how it would work if feeding ALL components of the wallet

[2018-11-09 10:57] sschiessl-bcp commented on #1986
Legacy proposals are:
 - duplicates (similar name, required some testing), older ID is hidden
 - workers that begun more than two months ago, are inactive and have less than 20 million votes are hidden
 - manually set workers (old rossul and scorum)

Hours spent: 5.5

[2018-11-09 11:02] #1986 closed

[2018-11-09 11:05] #2022 closed

[2018-11-09 11:20] #2103 closed

[2018-11-09 11:46] startailcoon commented on #2130
Yes, it does. And we also have the pop-out function in the style guide.

[2018-11-09 13:25] fractalnode opened #2140 "New column "in orders" in portfolio menu"
As a trader I would like to have clear view on my asset list and the percentage proportions I have.

At the moment, the **Visual** and **Active** tab does not contain assets, **which I still have** in open orders. That makes me mislead.
The number of assets I currently own, including those in open orders, should be displayed either in brackets or in an additional column.

![image](https://user-ima

[2018-11-09 16:01] Kennybll commented on #2065
Would it be stored in the local storage?

[2018-11-09 20:17] gibbsfromncis commented on #2084
@sschiessl-bcp you're talking about `allowClear` option for `Select`. For input we haven't this feature.

[2018-11-09 21:53] startailcoon commented on #2140
The problem with your request is that the portfolio contains a list of single assets, one by one.
The open orders tab contains a list of pairs you're trading.

For example, if you have an order open for bitCNY/BTS, there is no clear assetd the "In Orders" would be attached to.

[2018-11-09 21:56] startailcoon commented on #2136
Are you able to attach some output from the console? The error you describe can be of a number of reasons, one which I can't see by just browsing to the page as it works for me.

[2018-11-09 22:03] startailcoon commented on #2005
The lock is used for the ratio slider. This is not clear enough though. I see your confusion on this.
I've added this issue to the parent task of https://github.com/bitshares/bitshares-ui/issues/2127

[2018-11-09 22:04] startailcoon commented on #2127
I've added #2005 - `No working COLLATERAL lock` to the list of related tasks. This adresses an issue, that may or may not be solved as part of the other two.

[2018-11-09 23:48] dot5enko commented on #2127
ok

[2018-11-10 13:13] bitcoiners opened #2141 "wrong display of orders in new ui"
https://wallet.bitshares.org/#/market/BTS_OPEN.EOS

Buy and Sell orders are displayed with mismatched prices. Buy orders are shown as BTS/EOS, and sell orders as EOS/BTS

![image](https://user-images.githubusercontent.com/38520/48301743-39bc6a00-e525-11e8-924c-65c98c696cbe.png)

[2018-11-11 11:38] startailcoon commented on #2141
This was reported in another issue, but I can't find it as of now.
@sschiessl-bcp you where working on a fix for this, or reverting the commit that created this issue?

[2018-11-11 12:46] fractalnode commented on #2140
you always have token witch you want to SELL

[2018-11-11 13:05] startailcoon commented on #2130
## Preview
![bitshares-quickdeposit](https://user-images.githubusercontent.com/12114550/48313314-afbee080-e5ba-11e8-98f1-68d1deaf2cde.gif)

If we have miltiple choices, the user is presented with them on clicking the Quick Deposit button.

[2018-11-11 14:18] startailcoon opened #2144 "[4] Exchange Gateway Deposit Replacement"
The Exchange layout currently uses the old Gateway deposit created by Open Ledger. We have a new Gateway Deposit modal that should be used instead.

### Tasks for this issue
- [ ] Replace "Use Gateway" option for deposits to use the new Deposit Modal.
- [ ] Remove legacy code not required

Note that this issue is quite technical and requires the understanding of backend coins and gateway handling.

[2018-11-11 17:00] wmbutler opened #2145 "[4] Interval control on Exchange"
**Is your feature request related to a problem? Please describe.**
Let's simplify the interval setting for exchange charting. We currently have 3 controls that all seemingly do the same thing.

![screen shot 2018-11-11 at 10 53 05 am](https://user-images.githubusercontent.com/1254810/48315808-81cca280-e5a0-11e8-8c8a-5b1dcd08e67c.png)
![screen shot 2018-11-11 at 10 52 54 am](https://user-images.git

[2018-11-11 17:47] sschiessl-bcp commented on #2130
That looks suoer!

My 2 cents:

Please keep the tooltip for all three buttons.

Quick deposit: say which asset and that on click the sector opens

Bridge/Gateway: say which asset and what a gateway/bridge is

Add a title line in the pop-up that mentions the asset

If there is one button show the respective tooltip gateway/bridge

[2018-11-11 18:08] startailcoon commented on #2129
View Mode on screen less than 640px breakpoint to be a small icon.
Used the `<Popover />` component for the new icon, as data-tooltip seems to have issues on re-rendering. We should evaluate this problem.

![bitshares-viewmode](https://user-images.githubusercontent.com/12114550/48316515-fcb7ac80-e5e4-11e8-8433-40ab58433274.gif)

[2018-11-11 18:43] startailcoon commented on #2130
Updated with tooltips

Popover does not handle counterpart.translate, so it's using the Popover component to show the tooltips as well.

![bitshares-quickdeposit_3](https://user-images.githubusercontent.com/12114550/48316902-e95b1000-e5e9-11e8-8ce5-20556935dd2c.gif)

[2018-11-11 18:47] startailcoon commented on #2083
Duplicate of #2130

[2018-11-11 18:47] #2083 closed

[2018-11-11 19:16] startailcoon commented on #2076
![bild](https://user-images.githubusercontent.com/12114550/48317160-786a2700-e5ee-11e8-8cea-587efad3c22e.png)

[2018-11-11 19:33] startailcoon commented on #2137
This would be quite a large project, but a good thing to work on.

[2018-11-11 19:46] startailcoon commented on #2066
This issue came from a discussion from a previous issue. Not sure I see the point of forcing the user to login before using the Deposit/Buy features. They don't require any on-chain operations.

The borrow modal already requests login when you try to update a position.

[2018-11-11 19:46] #2066 closed

[2018-11-11 19:53] startailcoon commented on #2140
I'm not sure how to best explain this, but the exchange doesn't store on-chain what asset you're tryint to sell or buy. It's treated as a trade operation. Thus we can't determine the direction of the trade.

[2018-11-11 20:11] startailcoon commented on #2020
Will extract the remaining issues from this to new ones.

[2018-11-11 20:15] startailcoon opened #2148 "Improve Exchange Buy/Sell Form"
Issue extracted from #2020

By @wmbutler

### Bitshares
![bild](https://user-images.githubusercontent.com/1254810/47527360-f648d700-d867-11e8-967f-0958f3b0b680.png)

### Binance
![bild](https://user-images.githubusercontent.com/1254810/47527306-e03b1680-d867-11e8-833c-6cbab998f8ca.png)

[2018-11-11 20:19] startailcoon opened #2149 "[2] Dropdown Improvements"
Issue extracted from #2020

By @wmbutler

![bild](https://user-images.githubusercontent.com/1254810/47528829-ce5b7280-d86b-11e8-8b9f-be91c41c5887.png)

[2018-11-11 20:20] startailcoon commented on #2149
Here is a licecap that visualizes it a bit more

![bitshares-dropdown](https://user-images.githubusercontent.com/12114550/48317779-87090c00-e5f7-11e8-8793-d1d28b369ee8.gif)

[2018-11-11 20:22] startailcoon opened #2150 "[2][yura5hem] Exchange Font sizes"
Extracted from issue #2020

By @wmbutler

![bild](https://user-images.githubusercontent.com/1254810/47529832-8db12880-d86e-11e8-9e23-be1cfb24e426.png)

By @wmbutler

![bild](https://user-images.githubusercontent.com/1254810/47527051-2f347c00-d867-11e8-89c4-bc03a5ced879.png)

[2018-11-11 20:28] startailcoon opened #2151 "[6] Exchange Vertical Orderbook rendering warnings"
Switching to a vertical order book will throw two rendering issues

### Issue 1
![bild](https://user-images.githubusercontent.com/12114550/48317856-891f9a80-e5f8-11e8-9f50-7c4ab514c273.png)

### Issue 2
![bild](https://user-images.githubusercontent.com/12114550/48317861-950b5c80-e5f8-11e8-81de-6f8e3c775e59.png)

[2018-11-11 21:08] startailcoon opened #2152 "[0.75] Exchange Fixes"
A number of corrections to the Exchange Section

- [x] Settlement orders are always visible, desipite when we have none.
- [x] Personalize chart size is better with an imput form than a slider
- [x] Vertical OrderBook lock status is changed back once the component updates.

[2018-11-11 21:45] sschiessl-bcp commented on #2151
Will investigate where the issues come from and report back. This was mentioned in other issue as well and appear often throughout the exchange. Actually fixing it might need heavy refactoring, we will see.

[2018-11-11 21:53] sschiessl-bcp commented on #2148
I'd propose to collect opinions from traders on this, personally I don't dislike the low-key layout but admittetly I am not a trader ...

From a technical perspective, this might be even more difficult because Buy and Sell are not always next to each other and generally dynamic.

[2018-11-11 21:55] sschiessl-bcp commented on #2135
Is that the component that will be used for asset cration wizard?

[2018-11-12 08:47] romy2012 opened #2154 "TypeError: "this.defaults.unit is undefined""
![qq 20181112164520](https://user-images.githubusercontent.com/10843381/48336057-65ad2c00-e69a-11e8-84e4-7b0c88328315.png)

Use My node (ws://192.168.0.119:38090)
TypeError: "this.defaults.unit is undefined"

[2018-11-12 09:16] romy2012 opened #2155 "no method with name 'get_account'"
no method with name 'get_account'

![2](https://user-images.githubusercontent.com/10843381/48337687-94c59c80-e69e-11e8-8bd3-c6346a88ac35.png)

![3](https://user-images.githubusercontent.com/10843381/48337690-998a5080-e69e-11e8-9a84-10eda04138a5.png)

[2018-11-12 10:07] sschiessl-bcp commented on #2084
Let's skip the clear for now, can be implemented later.

[2018-11-12 10:23] abitmore opened #2156 "[1] Account Page, Open Orders: Unstable trading pair direction"
**Describe the bug**
In account page, open orders tab, direction of orders is not stable. Sometimes shows selling BTS for CNY with a price showing in BTS/CNY, sometimes shows buying CNY with BTS with a price showing in CNY/BTS.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/#/account/arb-bot
2. Click on 'Open Orders'
3. Watch and wait (please be patient)

[2018-11-12 10:32] abitmore opened #2157 "Exchange page, my open orders, wrong price direction"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/#/account/arb-bot, or browse to the arb-bot account
1. Go to https://wallet.bitshares.org/#/market/BTS_CNY
3. Scroll down to 'my open orders'
4. See error

**Expected behavior**
Prices of bids and asks show in same direction.

**Screensho

[2018-11-12 11:43] gibbsfromncis opened #2158 "Accounts Section Redesign"
The task is to go ahead and continue our work on redesigning parts of Reference Wallet like we did before #1604 with Assets.

This task is for redesign Account & Activity section - https://wallet.bitshares.org/#/account/gibbs-from-ncis

Please put your thoughts and wishes

[2018-11-12 11:44] gibbsfromncis opened #2159 "Voting Section Redesign"
The task is to go ahead and continue our work on redesigning parts of Reference Wallet like we did before #1604 with Assets.

This task is for redesign Voting section - https://wallet.bitshares.org/#/account/gibbs-from-ncis/voting

Please put your thoughts and wishes

[2018-11-12 12:01] sschiessl-bcp commented on #30
@nikandrovalex
Do you have an idea on the timeframe for this issue?

[2018-11-12 12:37] #2129 closed

[2018-11-12 12:48] #2076 closed

[2018-11-12 12:55] #2152 closed

[2018-11-12 13:01] #422 closed

[2018-11-12 13:07] #1832 closed

[2018-11-12 13:07] #2025 closed

[2018-11-12 13:10] sschiessl-bcp commented on #2157
Do you mean that the second row, the price 1.51 is inverted?

[2018-11-12 13:11] sschiessl-bcp commented on #2159
Does this need a redesign? Or just ANTification?

[2018-11-12 16:22] froooze commented on #2005
We have three variables:
- Debt
- Collateral
- Ratio
at least one of them needs a locked lock.

Would be good to have the lock option on all three variables.

[2018-11-12 17:58] froooze commented on #2127
@dot5enko: I wrote a lot on the margin picker topics, can you integrate my ideas? What do you think ?

[2018-11-12 18:06] gibbsfromncis commented on #2135
@sschiessl-bcp yep, exactly.

[2018-11-12 18:09] gibbsfromncis commented on #2159
@sschiessl-bcp everything should be consistent. So I want to continue our work after Asset redesign. I think Voting flow is nice but we need antify it, rearrange elements, update filters, tabs etc.

[2018-11-12 18:10] froooze commented on #2140
You are looking for  #1666?

[2018-11-12 18:47] froooze commented on #2159
Put the save and reset buttons after the proxy-box?

[2018-11-12 18:53] froooze commented on #2158
Is this about
- Explore -> Accounts or
- Manage Accounts?

[2018-11-12 19:06] abitmore commented on #2157
The data there is totally wrong. Actually, both orders are around 580 BTS and around 380 CNY.

In addition, in "my open orders" tab, bids should be in green and asks should be in red.

[2018-11-12 19:13] froooze commented on #2150
- I would not go in general for smaller fonts. We can define smaller fonts, when wide is smaller than a critical one.
- Price,  Quantity ...  Balance, should have the same font size as the in input box.

[2018-11-12 21:07] fractalnode commented on #2140
In some way, the tab "Orders open" knows what assets I want to SELL and in what amount

[2018-11-12 21:10] dot5enko commented on #2127
@froooze of course i'll look at them

[2018-11-12 22:44] startailcoon commented on #2151
I know at least one is related to the first function for vertical order book in https://github.com/bitshares/bitshares-ui/blob/develop/app/components/Exchange/OrderBook.jsx

[2018-11-12 23:44] nathanhourt opened #2161 "More straightforward Dockerization"
The existing Dockerization does not work for me, and seems rather excessively complicated. For anyone interested, a more straightforward and stable dockerization can be achieved using the following Dockerfile in an otherwise empty build directory. It's just my 2 cents, take it for what it's worth, and ignore if desired.

[code]

I note that in theory, the above should work; however, in my environm

[2018-11-13 01:00] nathanhourt commented on #1850
@dls-cipher Finally got that done, as it did need to be done anyways, but alas, it does not improve the situation. I still get funneled to the _Application initialization issues_ deadend page, even when my node is hosted over wss://

[2018-11-13 01:11] dot5enko commented on #2004
guys, so what's we're decided except antifying in this task?
read all the comments and haven't found any strict statements :)

[2018-11-13 02:05] Bluffet commented on #1826
Guys: I'm happy to inform that the 181031 RC1 don't give me this behaviour anymore. Whatever has been done has worked.

[2018-11-13 10:32] clockworkgr opened #2162 "Annual Membership Removal"
The possibility for accounts to sign up to annual membership has been permanently removed and is not coming back.

UI should remove all mentions of it from texts and not display the relevant fee in the fee schedule altogether (right now it's simply crossed out)

[2018-11-13 10:44] clockworkgr commented on #2162
got started on it....

will see how many of the translations i can clean up as well

https://github.com/bitshares/bitshares-ui/pull/2163

[2018-11-13 14:30] wmbutler commented on #2150
@froooze look at pretty much every other exchange. Small font size is often necessary in order to fit all the detail onto an exchange.

[2018-11-13 14:56] froooze commented on #2150
@wmbutler
We can use smaller fonts, but only dependent on the wide.
When there is not enough space fonts should get smaller.

[2018-11-13 15:04] #2093 closed

[2018-11-13 18:59] Agorise commented on #30
We will be implementing this into both of our mobile wallets. If you guys could send us screenshots or camera snaps from drawing-mockups here would be great. A feature like this will definitely need to be grandma-friendly.

[2018-11-13 19:38] manikey123 commented on #2136
Please close this ticket.
I rolled back code from git
Tried on different system. works

[2018-11-13 19:39] #2136 closed

[2018-11-13 21:43] sschiessl-bcp commented on #2155
What aer you doing when that occurs?

[2018-11-13 21:44] sschiessl-bcp commented on #2154
Was this on a clean checkout of develop branch?

[2018-11-14 04:31] ThomasFreedman opened #2165 "No hashes published for all binaries"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-11-14 04:34] ThomasFreedman commented on #2165
there are no hashes to verify some of the binaries downloaded from https://github.com/bitshares/bitshares-ui/releases/latest.

Last line of readme.md says  to get them for linux via a snapcraft link, but that points to old (Aug 22nd) release. I won't upgrade until I can verify the download.

I use the linux .deb binary.

[2018-11-14 06:30] dot5enko commented on #1098
@wmbutler fixed it by accident, so can you assign it to me?

[2018-11-14 06:36] dot5enko commented on #2127
@startailcoon i've refactored the code and fixed #1098 alongside. Frankly speaking the code was terrible and i exceeded estimate a bit:)  including #1098 it took around 11h. if its possible can you add the rest?
Also, related tasks were not accepted for integration by @wmbutler yet ( see #2004 )

[2018-11-14 06:58] manikey123 commented on #2084
![image](https://user-images.githubusercontent.com/22608398/48465028-5ad7c180-e796-11e8-9f83-c87b590c682a.png)
Comparing witness page against market page
point 1 ) Witness has placeholder as "Filter By Name "  . Markets has "Filter...". Should this be replaced by "Filter By Market"
point 2) Market has a Cross on the UI . this is part of Clear-text option. Do you want to keep that stray Cross on UI

[2018-11-14 07:01] gibbsfromncis commented on #2084
@manikey123 I suppose those updates do not relate to scope of this task. You can create separate issue for that and get new estimate or somebody else will fix it

[2018-11-14 07:11] manikey123 commented on #2084
Under Explore TAB, following pages have same structure, on my local.
- Witness
- Markets
- ASSETS

Is below in scope of ticket ie making filter consistent as Explore TAB changes ?
- Exchange Tab >> Find Markets >> Asset Name Filter
- Dashboard Tab >> Portfolio Filter
- Dashboard Tab >> Open Order Filter

[2018-11-14 07:14] sschiessl-bcp commented on #2084
Bill suggested it above and mani agreed, so all good.

[2018-11-14 07:14] gibbsfromncis commented on #2084
@manikey123 @sschiessl-bcp Oh, just didn't read all comments. What I see that the task is to change toolbar arrangement but if you already start to work out of scope with @sschiessl-bcp so do it :)

[2018-11-14 07:19] sschiessl-bcp commented on #2084
My suggestion is to use "Filter ..." in both

Yes, remove it

Leave this one untouched as of now, another issue is updating that component

Replace those

[2018-11-14 07:32] manikey123 commented on #2084
thanks for the notes

[2018-11-14 09:31] manikey123 commented on #2084
point 1 ) Witness has placeholder as "Filter By Name " . Markets has "Filter...". Should this be replaced by "Filter By Market"
My suggestion is to use "Filter ..." in both
Question for point1--> Should there space between Filter and "..."   ie Filter<space>... ?

point 4) Dashboard Tab >> Portfolio Filter
Dashboard Tab >> Open Order Filter
Replace those
question for point4 ) Replaced Portfolio Fi

[2018-11-14 09:55] sschiessl-bcp commented on #2084
Please decide small details like that by yourself depending on common practices and what you find suitable. If it should be not appropriate someone will point it out.

Yes

[2018-11-14 10:04] manikey123 commented on #2084
thanks for feedback . completed majority changes on local.
Last question - Do I implement same changes for home page  ? ( image below)

1. Update Placeholder from Filter to "Filter..."
2. Add Search Icon

For below items:
Favorites:
![image](https://user-images.githubusercontent.com/22608398/48475183-16a5ea80-e7b1-11e8-8fa7-a740457f3181.png)
BTC :
![image](https://user-images.githubusercontent.com

[2018-11-14 10:15] sschiessl-bcp commented on #2084
Yes, please update to the new bitshares-style-guide components and keep it consistent.

[2018-11-14 11:14] #1696 closed

[2018-11-14 11:15] sschiessl-bcp commented on #1696
Hours spent see PR

[2018-11-14 11:45] sschiessl-bcp commented on #2159
Alright, sounds reasonable.

My suggestion:
- For the current voting section sole ANTification and consistent placing of the elements is sufficient, like was said above. Show all the information there is, give a good overview
- There is a Showcase issue for voting, this can be a new UX that gets the user excited and highlights new proposals etc., what he voted on or hasnt looked at yet, etc.

I as

[2018-11-14 11:46] sschiessl-bcp commented on #2157
I see. It seems that the market of that order was not inverted.

[2018-11-14 11:49] sschiessl-bcp commented on #1826
Thanks! Please report back if that happens again!

[2018-11-14 11:51] sschiessl-bcp commented on #2141
@bitcoiners
Do you have an account name where I can see this reproduce?

[2018-11-14 12:20] TechsUsInc opened #2167 "ETH market volume and 24 hr columns are null"
**Describe the bug**
ETH market volume and 24 hr columns are void of data

Steps to reproduce the behavior:
1. Go ETH market
2. Note the 24 hr and volume columns
   Other markets are fine
   Release 181031b

![eth-capture](https://user-images.githubusercontent.com/18186497/48481815-6cd85500-e7d4-11e8-96ca-292f80da9878.JPG)

[2018-11-14 12:31] sschiessl-bcp commented on #1975
It has been ANTified
![image](https://user-images.githubusercontent.com/33128181/48482621-73d18880-e811-11e8-80ed-4e3795b90ebb.png)

Remaining question is the modes. Can search do anything filter can't?

[2018-11-14 13:17] TechsUsInc opened #2168 "CSV history download inoperable"
**Describe the bug**
Tried to download history both locked and unlocked.
brief 3 dots followed by nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go the Activity tab by clicking the Dashboard tab first
2. Scroll to the bottom of the page, noting the small CSV icon on the bottom left
3. Note the tooltip informs click to download a .CSV history
4. Click the CSV history download icon
5

[2018-11-14 13:47] sschiessl-bcp commented on #1999
Can you try to reproduce this with only one tab open please @abitmore

https://www.chromestatus.com/feature/5527160148197376

[2018-11-14 14:10] bitcoiners commented on #2141
see this account
https://wallet.bitshares.org/#/account/dinkova-1

https://wallet.bitshares.org/#/market/OPEN.EOS_BTS

[2018-11-14 14:14] sschiessl-bcp commented on #2141
This is resolved in new version
https://develop.bitshares.org/#/market/OPEN.EOS_BTS

[2018-11-14 14:15] #2141 closed

[2018-11-14 14:17] sschiessl-bcp commented on #2167
Was your connected node possibly slow?

Can you choose another one, and give it some time to load?

[2018-11-14 18:56] startailcoon commented on #1098
Nice work @dot5enko 👍

[2018-11-14 19:01] startailcoon commented on #2127
Nice work @dot5enko
Wasn't unexpected that this would take a bit longer than estimated. I'll push this to 10 hours + the 1 hour on #1098.

[2018-11-14 19:42] startailcoon commented on #2110
I assume there was no hours added to this

[2018-11-14 19:45] sschiessl-bcp commented on #2110
Correct

[2018-11-14 19:49] startailcoon commented on #2155
Is this really UI related?

[2018-11-14 19:53] startailcoon commented on #2168
@svk31 , you built the current CSV export feature. Any input/comments on the current problem?

[2018-11-14 19:55] startailcoon commented on #2167
Works just fine. Please check that you're connected to a good node.

![image](https://user-images.githubusercontent.com/12114550/48508707-8ec2ed80-e84f-11e8-9e9e-72be2911a2d1.png)

[2018-11-14 19:55] #2167 closed

[2018-11-14 20:07] svk31 commented on #2168
![image](https://user-images.githubusercontent.com/6890015/48509364-342a9100-e851-11e8-97a2-52b8091c9efe.png)

@sschiessl-bcp Think I already mentioned this erorr occuring sometimes, looks like it still happens.

[2018-11-15 01:50] TechsUsInc commented on #2167
@sschiessl-bcp @startailcoon  Sorry for the delay.
I switched nodes, waited, same null. Reloaded with data present.
Switched back to my original node. Data maintained.
Thanks for your time

[2018-11-15 07:18] romy2012 commented on #2155
![1](https://user-images.githubusercontent.com/10843381/48536259-fc6f2800-e8e8-11e8-867d-6bb0bf442735.png)

![2](https://user-images.githubusercontent.com/10843381/48536266-0133dc00-e8e9-11e8-9241-2e4f8002b6b6.png)

![qq 20181115151432](https://user-images.githubusercontent.com/10843381/48536318-2de7f380-e8e9-11e8-9393-4b6772a0918f.png)

I found:

get_accounts,  But no get_account .

what happen?

[2018-11-15 07:30] sschiessl-bcp commented on #2155
Please direct your question to https://github.com/bitshares/bitshares-core, this is for the BitShares UI

[2018-11-15 07:30] #2155 closed

[2018-11-15 08:47] romy2012 opened #2170 "TypeError: "this.defaults.unit is undefined""
develop branch

After setting local

TypeError: "this.defaults.unit is undefined"

![qq 20181115164526](https://user-images.githubusercontent.com/10843381/48540782-04819480-e8f6-11e8-948f-c7f6fcb35aae.png)

[2018-11-15 10:18] sschiessl-bcp opened #2171 "[8.5] Add automatic build process of binaries"
Original Issue https://github.com/bitshares/beet/issues/27

Took 8.5 hours

[2018-11-15 11:13] cogutvalera commented on #2155
It is JS related as we discussed in BitShares-Core here https://github.com/bitshares/bitshares-core/issues/1435

Also it seems @romy2012  missed `refcode` (it is `null`) and `referrer` (it is also `null`) while creating new account (according to this comment https://github.com/bitshares/bitshares-core/issues/1435#issuecomment-438998570).

`get_account` method works in `cli_wallet` and @romy2012 ap

[2018-11-15 11:33] sschiessl-bcp commented on #2155
In the picture above only `wscat` is used, which is not related to bitsharesjs.

Please open a new issue with the problem and description you have found in the core issue.

[2018-11-15 11:48] cogutvalera commented on #2155
@sschiessl-bcp look please this comment and screenshot, it isn't related to core issue, @romy2012 started bitshares-ui

@romy2012 how do you trying to create new account, where ? in command line or on web UI localhost ?

As I understood the problem creating new account was on web UI localhost, right ?

[2018-11-15 11:49] cogutvalera commented on #2155
IMHO @romy2012 missed some parameters while creating new account and that's why there is a problem

[2018-11-15 12:43] sschiessl-bcp opened #2172 "[2.0.181121-rc1] Integration tests"
<h1>Looking for Integration testers</h1>

This issue is to track integration tests of the mentioned release candidate. Targets are the most popular platforms
 - Mac
 - Windows 7 / 10
 - Linux
 - Android
 - iOS

and for each for the most popular browsers
 - Chrome
 - Firefox
 - Opera
 - Edge
 - Standard Android / iOS browser

Please indicate which of those you are able to test, expectancy is 0.5 ho

[2018-11-15 13:00] sschiessl-bcp commented on #1705
@spanishtranslator @froooze @jademont
Please report when you are done.

[2018-11-15 13:38] sschiessl-bcp commented on #2168
Will have a look, thanks

[2018-11-15 13:49] spanishtranslator commented on #1705
60 Left

[2018-11-15 15:39] spanishtranslator commented on #1705
Done. My Bitshares user: newtechblog-bts

[2018-11-15 15:40] spanishtranslator commented on #1705
thanks @sschiessl-bcp

[2018-11-16 07:44] bieglich commented on #2172
I'd be interested in doing Windows 10 (Chrome and Firefox) and Android (Chrome)

[2018-11-16 08:12] thehapax commented on #2172
My OS:
  - Mac/iOS, Version: 10.13

My Browser:
 - Chrome/Safari/Brave Version: 70.0.3538.77 / 12.0.1/ 0.25.2

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, pr

[2018-11-16 08:14] thehapax commented on #2172
My OS:
  - Mac Version: 10.13.6

My Browser:
 - Safari Version:  12.0.1

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

Specific components:
 - [ ]

[2018-11-16 09:11] sschiessl-bcp commented on #2172
@thehapax go ahead on both

@bieglich please create a comment like shown above for each pair you want to test

[2018-11-16 10:00] toi16 commented on #2172
My OS:
  - Windows 10, Version: 1803 (OS Build 17134.407)

My Browser:
 - Chrome Version: 70.0.3538.102 (Official Build) (64-bit)

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (co

[2018-11-16 10:02] toi16 commented on #2172
My OS:
  - Windows 10, Version: 1803 (OS Build 17134.407)

My Browser:
 - Microsoft Edge 42.17134.1.0

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

[2018-11-16 10:04] toi16 commented on #2172
My OS:
  - Windows 10, Version: 1803 (OS Build 17134.407)

My Browser:
 - Firefox Version: 63.0.3 (64-bit)

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, propo

[2018-11-16 10:15] Bluffet commented on #2172
Is this a joke? I can't get to the log in.

Mac OS 10.9.5 / Firefox

Chrome gets there.

[2018-11-16 10:29] sschiessl-bcp commented on #2172
@toi16 Please go ahead with all three

[2018-11-16 10:30] bieglich commented on #2172
My OS:
  - Windows 10

My Browser:
 - Chrome

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

Specific components:
 - [ ] #422 Added Price Alerts for

[2018-11-16 10:30] bieglich commented on #2172
My OS:
  - Windows 10

My Browser:
 - Firefox

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

Specific components:
 - [ ] #422 Added Price Alerts fo

[2018-11-16 10:30] bieglich commented on #2172
My OS:
  - Windows 10

My Browser:
 - Edge

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

Specific components:
 - [ ] #422 Added Price Alerts for E

[2018-11-16 10:30] bieglich commented on #2172
My OS:
  - Android

My Browser:
 - Chrome

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

Specific components:
 - [ ] #422 Added Price Alerts for Ex

[2018-11-16 10:31] sschiessl-bcp commented on #2172
@bieglich please fill out the details of version, then go ahead with all four

[2018-11-16 10:42] Bluffet commented on #2172
![image](https://user-images.githubusercontent.com/31476976/48616636-7ad4d400-e994-11e8-889e-5b7cf9e7f8b5.png)

Well, Mac OS 10.9.5 / firefox stopped at this point @sschiessl-bcp

Coincides with a user report this morning.

[2018-11-16 10:59] toi16 opened #2173 "[1] Integration Testing - Transfer modal covering login modal"
**Describe the bug**
When you try and send a transfer with the account locked, the login modal appears behind the existing send modal, therefore you cannot see the login modal.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on padlock to close it, then go to 'Menu'
2. Click on 'Send'
3. Fill in account name, qty, memo
4. Click 'Send' button on modal
5. Error: Login modal appears BEHIN

[2018-11-16 11:00] toi16 commented on #2172
Bug Logged: https://github.com/bitshares/bitshares-ui/issues/2173

[2018-11-16 11:22] toi16 opened #2174 "[2.0.181121-rc1] Integration Testing - Voting Blank Screen"
**Describe the bug**
When navigating to the Voting screen, the screen goes blank.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Menu'
2. Click on 'Voting'
3. Error: Blank Screen

**Expected behavior**
Select 'Voting' from the menu and display the voting page.

**Screenshots**
I![voting error](https://user-images.githubusercontent.com/23018324/48618513-870b6200-e991-11e8-83be-d310eb2e

[2018-11-16 11:22] toi16 commented on #2172
Bug Logged: https://github.com/bitshares/bitshares-ui/issues/2174

[2018-11-16 11:39] sschiessl-bcp commented on #2174
Can you please include the console log erros you see?

[2018-11-16 11:46] toi16 opened #2175 "[.5][Investigation] Edge Browser stuck on Loading"
**Describe the bug**
When navigating to https://staging.bitshares.org/ a white loading screen appears and that is all that is rendered.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.bitshares.org/
2. See error 'Loading ....'

**Expected behavior**
When navigating to https://staging.bitshares.org/ the Bitshares Wallet should be displayed.

**Screenshots**

![edge loadin

[2018-11-16 11:46] sschiessl-bcp commented on #2174
Is the screenshot generated with the "Report" modal? I see it has rendering errors.

I see you have blurred your account name, I have sadly not found a way to automate that for the "Report" modal yet... The top right corner could be blackened, but if the account appears anywhere else in the screen there is no way to find that out.

[2018-11-16 11:47] toi16 commented on #2172
Bug Logged: https://github.com/bitshares/bitshares-ui/issues/2175

[2018-11-16 12:08] toi16 opened #2176 "[1.5] Integration Testing - Private Login retaining information"
**Describe the bug**
Login while having "Remember Me" disabled. Close the wallet in some way and reopen it.
account Name is retained.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Menu'
2. Click on 'Login'
3. Toggle 'Remember Me' OFF
4. Login using 'cloud wallet'
5. Close wallet (via Padlock) or close browser tab and navigate back to https://staging.bitshares.org
6. Go to 'Menu'
7.

[2018-11-16 12:09] toi16 commented on #2172
Bug Logged: https://github.com/bitshares/bitshares-ui/issues/2176

[2018-11-16 12:14] toi16 opened #2177 "[2.0.181121-rc1] Integration Testing - DUMMY REPORT - Win10/Chrome"
**Describe the bug**
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
error: checkCo

[2018-11-16 12:15] toi16 commented on #2172
Dummy Report Submitted for Win10/Chrome: https://github.com/bitshares/bitshares-ui/issues/2177

[2018-11-16 13:06] toi16 commented on #2176
**THIS RELATES TO FIREFOX ONLY**
Describe the bug
Login while having "Remember Me" disabled. Close the wallet in some way and reopen it.
account Name is retained.
*** HOWEVER IF YOU CLOSE THE LOGIN MODAL AND RE-OPEN IT AGAIN THE FIELDS ARE BLANK. ***

To Reproduce
Steps to reproduce the behavior:

Go to 'Menu'
Click on 'Login'
Toggle 'Remember Me' OFF
Login using 'cloud wallet'
Close wallet (via P

[2018-11-16 13:07] toi16 commented on #2172
Bug #2176 updated with Firefox specific problem.

[2018-11-16 13:11] sschiessl-bcp commented on #2138
Completed with https://github.com/blockchainprojects/bitshares-ui/pull/32/commits/9e737fa287c2bc469975671868037a435468fb85.

Took 2 hours, will be closed with PR for https://github.com/bitshares/bitshares-ui/issues/1755

[2018-11-16 13:18] toi16 opened #2179 "[2.0.181121-rc1] Integration Testing - Error Report - Screen Capture Blank"
**Describe the bug**
When creating an error report the screenshot is not displayed, only an empty image placeholder.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to bottom right of screen and click on 'Report'
2. Click on '+' to left of 'SCREENSHOT'
3. Error: No image is displayed, No image can be copied.

**Expected behavior**
When producing a report the 'SCREENSHOT' should appear vis

[2018-11-16 13:19] toi16 commented on #2172
Bug Logged: https://github.com/bitshares/bitshares-ui/issues/2179

[2018-11-16 13:30] sschiessl-bcp commented on #2157
Fixed with https://github.com/bitshares/bitshares-ui/issues/2110

[2018-11-16 13:30] #2157 closed

[2018-11-16 13:31] sschiessl-bcp commented on #2179
Please provide browser console log when the modal happens and screenshot is not loaded

[2018-11-16 13:34] sschiessl-bcp commented on #2176
Did you login with that account before testing "Remember Me"? If the account name made it into localStorage beforehand it will also be there afterwards.

Login with account X, Remember Me checked. Then login with account Y, Remember Me unchecked. Logout in any way and reload, account X should be present again.

[2018-11-16 13:41] toi16 opened #2180 "[2.5][2.0.181121-rc1] Integration Testing - Quick Deposit Button Missing"
**Describe the bug**
Test https://wallet.bitshares.org/#/market/BTS_OPEN.ETH the "Deposit ETH" buttons in the exchange.  Are there two options to "Deposit ETH"?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/market/BTS_OPEN.ETH '
ERROR: Only one 'QUICK DEPOSIT' button is present (Openledger) when buying ETH..
**NOTE: In Chrome two buttons are shown**

*

[2018-11-16 13:42] toi16 commented on #2172
Bug Logged: https://github.com/bitshares/bitshares-ui/issues/2180

[2018-11-16 13:53] toi16 commented on #2174
Yes the screenshot was generated with the report modal.

Error Report log below, with console log below that.

log: fetchTradingPairs error from https://citadel.li/trade/trading-pairs: TypeError: Failed to fetch
log: error fetching blocktrades active walletsTypeError: Failed to fetchhttps://citadel.li/trade/active-wallets
log: Your node is out of sync since 5.073999881744385 seconds, waiting 10 se

[2018-11-16 13:54] toi16 commented on #2174
In Firefox the Voting Page is displaying OK.

Firefox Console Log below:
Your connection was lost app.d0181e3ebf68acc745b8.js:1:585489
Connecting to wss://netherlands.bitshares.apasia.tech/ws app.d0181e3ebf68acc745b8.js:1:585489
synced and subscribed, chainstore ready app.d0181e3ebf68acc745b8.js:1:585489
fetchCoins error from https://citadel.li/trade/coins: TypeError: NetworkError when attempting

[2018-11-16 14:01] toi16 commented on #2174
With regards to user account name data, I did notice that account names do appear in the error report log entries periodically.

I am not sure on the implications of end users potentially sending sensitive data to a publicly accessible error report ?

Maybe a clear disclaimer needs to be presented to the end user with a check box that they need to opt in to authorize the use of their data ?

[2018-11-16 14:02] toi16 commented on #2179
Here you go:
Screenshot could not be captured Provided element is not within a Document app.d0181e3ebf68acc745b8.js:1:585489
	n https://staging.bitshares.org/app.d0181e3ebf68acc745b8.js:1:585489
	value/console.error https://staging.bitshares.org/app.d0181e3ebf68acc745b8.js:1:585904
	value/< https://staging.bitshares.org/app.d0181e3ebf68acc745b8.js:1:667804
	a https://staging.bitshares.org/vendor.e

[2018-11-16 14:10] toi16 commented on #2176
Firefox:
Logged in with Account X, remember me checked.
Logged in with Account Y, remember me unchecked.
Logged out
Navigated to login - Account Y showing
Refreshed Browser window then went to login - Account X showing.

[2018-11-16 14:16] toi16 commented on #2176
Chrome:
Logged in with Account X, remember me checked.
Logged in with Account Y, remember me unchecked.
Logged out
Navigated to login - Account Y showing
Refreshed Browser window then went to login - Account X showing.

The page refresh is required to remove the private account name. Not sure if this is by design.

The only issue with this is that if I logout and walk away from the device, someone

[2018-11-16 14:20] sschiessl-bcp commented on #2023
Found in permissions:
![image](https://user-images.githubusercontent.com/33128181/48626505-4a039780-e9b2-11e8-84bd-e7d92a563330.png)

Will also be integrated in Showcases once the main panel is live.

When not logged in:
![image](https://user-images.githubusercontent.com/33128181/48626415-17599f00-e9b2-11e8-9e12-63e502bffe0e.png)

When logged in:
![image](https://user-images.githubusercontent.com/

[2018-11-16 14:30] toi16 commented on #2176
Glad to be of help :-)

[2018-11-16 14:35] sschiessl-bcp commented on #2180
My link was misleading ... apologies.

Please try https://staging.bitshares.org/#/market/BTS_OPEN.ETH

[2018-11-16 14:46] sschiessl-bcp commented on #1908
Your choice

Yes, that is OK

[2018-11-16 15:02] toi16 commented on #2180
Firefox:
![firefox eth](https://user-images.githubusercontent.com/23018324/48628672-af09be00-e9af-11e8-833c-a86427ad3adb.PNG)

Only one button present.
Initially both 'DEPOSIT ETH' and 'DEPOSIT BTS' buttons were disabled and I had to do a screen refresh before they became enabled.
Tooltips initially did not work, however after a refresh they did.

[2018-11-16 15:48] toi16 opened #2181 "[1.5][2.0.181121-rc1] Integration Testing - Price Alerts not showing"
**Describe the bug**
Put an alert above and below current market prive of e.g. BTS/CNY or BTS/USD.
Wait until the alert triggers and if it displays properly.
Alert never displays.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://staging.bitshares.org/#/market/BTS_USD'
2. Click on 'notify bell icon' (to left of trading pair)
3. Set a 'Higher Than' price alert
4. Click on '+ add

[2018-11-16 15:49] toi16 commented on #2172
Bug Logged: https://github.com/bitshares/bitshares-ui/issues/2181

[2018-11-16 15:53] toi16 commented on #2172
@sschiessl-bcp
I have finished testing all three configurations as far as I can.
Please let me know if you would like anything else tested.

[2018-11-17 09:04] Bluffet commented on #2159
181121 rc1 freezes the app when trying to enter the voting area.

Mac version.

[2018-11-17 09:08] Bluffet commented on #2168
I'm in desperate need to balance my account. I would appreciate if this was prioritised.

[2018-11-17 09:13] bieglich commented on #2175
Same here

Edge Version 42.17134.1.0
Microsoft EdgeHTML 17.17134

[2018-11-17 10:37] xeroc commented on #2174
There seems to be a regression caused by the removal of the budget_object object 2.13.x from backend. However, those were used to calculated worker pay. In python I do it like this:
[code]

[2018-11-17 17:33] startailcoon commented on #2181
Type|Description
-|-
Needs Verification | I'd like a second user report on this.
High Priority | It's a feature that is expected to function.
Bug | It's not functional.

[2018-11-17 17:39] startailcoon commented on #2168
@Bluffet We're an open community of developers and we can't tell anyone to work on/fix an issue. I agree though, that it's a higher priority as it's a feature expected to work.

If you are in need of exporting your history, you have a few other options. If you want to use a console you can look at https://github.com/svk31/bitshares-report. There is also a web function to export to a CSV report on

[2018-11-17 17:40] svk31 commented on #2168
It just needs the api fixed then it should work again.

[2018-11-17 17:44] startailcoon commented on #2170
Your log states "Unknown chain" so I assume you're doing some testing of your own. Maybe you're missing some parameters. This will be hard to debug without more details. Someone could check `onUpdateUnits` to see if there is something that needs to be done, but it's very low priority for the UI team as we work primarily for the main chain to work on the UI.

[2018-11-17 17:52] startailcoon commented on #1755
Nice work.

Only thing I'm reacting on is the "Possible Scam" notification. If we go by the style guide we should probably pick yellow notification box with an icon.

![image](https://user-images.githubusercontent.com/12114550/48664092-c4f3ad80-ea99-11e8-8b9a-5edd094fb1d0.png)

[2018-11-17 17:59] startailcoon commented on #1927
Increased hours as stated in PR

[2018-11-17 18:02] startailcoon commented on #2162
Was there any hours for this issue, or is it included in something else?

[2018-11-17 20:12] clockworkgr commented on #1985
@startailcoon  on mine, just click anywhere on the table...clcik again to unpause :P

[2018-11-17 21:15] manikey123 commented on #2084
for ticket #2084, completed development. i did have a previous push. now do i merge changes to old push or create a new push request.

[2018-11-18 00:11] dot5enko commented on #1985
@clockworkgr wouldn't this cause performance drop (on market page) as react components would redraw so frequently?

[2018-11-18 05:40] manikey123 commented on #2084
Submitted PR. Following are Tabs impacted:

Tab Explore
	Assets      https://wallet.bitshares.org/#/explorer/assets
	Witnesses	https://wallet.bitshares.org/#/explorer/witnesses
	Committee
	Markets

Tab Dashboard https://wallet.bitshares.org/#/account/crypto-25
	Portfolio
	Open Order

Tab Exchange
	My Markets https://wallet.bitshares.org/#/market/BTS_USD

Tab Home https://wallet.bitshares.org/#/
	F

[2018-11-18 06:25] clockworkgr commented on #1985
no idea to be honest...possibly...

fwiw the one in mine is written in Vue...so it's not completely barebones either....we can always try it out

[2018-11-18 07:20] cogutvalera commented on #2084
@manikey123 good job ! but you also forget that you changed `Tab Explore` -> `Accounts` (Search to Filter), but search isn't filter, didn't check all details in your PR, but IMHO you don't need to change search to filter anywhere, because search and filter are different things.

[2018-11-18 19:50] startailcoon commented on #2004
@dot5enko I've unassigned you from this issue for the moment.

[2018-11-18 19:52] wmbutler commented on #661
@nikandrovalex care to draw up some designs for this?

[2018-11-18 19:54] wmbutler commented on #1330
Related to #2142

[2018-11-18 20:05] wmbutler commented on #2111
@svk31

[2018-11-18 20:06] wmbutler commented on #2101
@gibbsfromncis this one is 17 days since claimed. Thoughts?

[2018-11-18 20:09] wmbutler commented on #2100
@alexandr-masl Can you finish this up? Let us know if you need more hours.

[2018-11-18 20:12] startailcoon opened #2184 "Improvement to Landing Page"
We should try to improve the current landing page

I have in mind that we have things like
* News items
* Largest proxy
* New workers to vote for
* Reminder to vote and/or check proxy selections

We can probably come up with some really good things. The main idea here is that we should have more than just all the favorite assets.

This needs a good UX and I'd like to see one by new year if possibl

[2018-11-18 20:15] #1539 closed

[2018-11-18 20:21] wmbutler commented on #1065
@fractalnode this really needs an in depth discussion to simplify the process. Most users don't understand the concept of borrowing and shorting and asset to take the opposite bet. Open to suggestions here.

[2018-11-18 20:33] wmbutler commented on #2161
Thanks!

[2018-11-18 20:33] #2161 closed

[2018-11-18 20:50] sschiessl-bcp commented on #2184
Thanks for creating this issue. I've postponed it in my head all the time.

I imagine to finally use the dynamic grid for this to allow customization.

[2018-11-18 20:53] sschiessl-bcp commented on #2172
@TechsUsInc Please go ahead with Opera. For the other two browsers we have already testers. Could you also do something on mobile?

[2018-11-18 21:03] dot5enko commented on #2010
@startailcoon is it in progress by you? i want to improve this codebase

[2018-11-19 00:02] gibbsfromncis commented on #1927
Adjusted hours because of additional time I spent on the review.

[2018-11-19 00:03] gibbsfromncis commented on #268
@wmbutler Alex is waiting to receive his first payment before continue our collaboration.

[2018-11-19 00:04] gibbsfromncis commented on #2101
@wmbutler Waiting for UX...

[2018-11-19 00:05] gibbsfromncis commented on #2004
@startailcoon yea, will work soon.

[2018-11-19 00:10] gibbsfromncis commented on #2052
This issue is hard to implement because it uses a lot of other components which have <Link>. A lot of dirty work. I suppose it is not priority for now so I'll unassign myself

[2018-11-19 00:10] #2003 closed

[2018-11-19 08:36] sschiessl-bcp opened #2186 "Compatibility development with https://www.browserstack.com/"
I am signing up for https://www.browserstack.com, currently evaluating if the can get a free plan due to being open source.

[2018-11-19 09:11] alexandr-masl commented on #2100
Hi, @wmbutler
Yes, had problems  with my phone, i've lost it
i'm back in process now, will make this issue and than tell you how much time i've spent.
Best regards

[2018-11-19 09:21] alexandr-masl commented on #2100
also don't have access to my Telegram yet
temporary I've connect only through github

[2018-11-19 10:47] liondani opened #2187 ""Page Not Found!" after clicking "UPDATE AVAILABLE" trying to download the latest core/GUI client."
When clicking on "UPDATE AVAILABLE"
![screenshot from 2018-11-19 12-39-12](https://user-images.githubusercontent.com/6908400/48701867-2fbafb00-ebf8-11e8-89dc-dd7e7ad247bd.png)

it redirects to the nonexistent page
https://bitshares.org/download
![screenshot from 2018-11-19 12-45-54](https://user-images.githubusercontent.com/6908400/48702233-15355180-ebf9-11e8-9fdf-d81b0a4ba1f6.png)

instead of

ht

[2018-11-19 10:50] romy2012 commented on #2170
@startailcoon Thank you.

[2018-11-19 10:50] #2170 closed

[2018-11-19 10:59] liondani commented on #2187
Please check if this solved the problem https://github.com/bitshares/bitshares-ui/pull/2188

[2018-11-19 13:43] sschiessl-bcp commented on #2180
If you click on "Deposit ETH" a popup with two choices should appear. That is what I meant and failed to describe properly. Can you please try?

[2018-11-19 13:44] sschiessl-bcp commented on #2179
You report Safari on Windows 10 above. What did you mean? :)

[2018-11-19 13:46] sschiessl-bcp commented on #2156
This is probably fixed with staging release (same order display logic used here)

[2018-11-19 14:00] sschiessl-bcp commented on #2145
There is even another one in the footer
![image](https://user-images.githubusercontent.com/33128181/48711526-cd6bf580-ec0b-11e8-8289-e9228b8f275f.png)

[2018-11-19 14:03] sschiessl-bcp commented on #2145
I suggest to add a custom header for chart:

 - left side: include the interval settings like Bill has mentioned
 - right side: add toggle for https://github.com/bitshares/bitshares-ui/issues/2081, including chart size
 - adjacent to right side: add a toggle that allows to hide and display the currently visible header in trading view

[2018-11-19 14:40] sschiessl-bcp commented on #1755
Agreed, but I'd rather leave that to a style-guide'ify issue

[2018-11-19 14:42] sschiessl-bcp commented on #1985
Good point. If `componentShouldUpdate` is used properly throughout I imagine no performance drop, so I would put that as requirement.

[2018-11-19 14:50] sschiessl-bcp commented on #30
I suppose it would be possible to be included there.

For the additional screen, you also need the option to actually claim it. From a user perspective you have four parts:
1. setup permission for someone else
2. view permission that I have given or received
3. edit permission
4. claim from a permission

Which of those would you see within Send modal? I assume 1. and 4.

[2018-11-19 14:51] clockworkgr commented on #1985
i only know how to do it properly in Vue...can't help...

[2018-11-19 14:55] xeroc opened #2189 "[SEC] Regulations may require to create a light-client for US citizens"
**Is your feature request related to a problem? Please describe.**
Given recent public statements of the SEC, the bitshares development community in general as well as the bitshares-ui team in particular should take additional steps to prevent SEC enforcement from going after developers.

**Describe the solution you'd like**
Given that the frontend is independent of the backend (ofc), there is no

[2018-11-19 15:09] sschiessl-bcp commented on #1892
My suggestion (took 0.5h):
![image](https://user-images.githubusercontent.com/33128181/48715325-0b214c00-ec15-11e8-84f7-78278fab8460.png)

This is a rough scatch, of course style guide best practices and defaults should be used. Remarks:
 - Override as issuer is only visible if the currentAccount is the issuer of the selected asset
 - Override as issuer can be displayed at the top, or under the Qu

[2018-11-19 15:35] toi16 commented on #2179
Sorry meant Firefox have corrected it now.

[2018-11-19 15:37] sschiessl-bcp commented on #2174
See xeroc's comment. I'd suggest that the UI is able to handle gracefully if 2.13.x object is missing.

It probably won't be able to know which ones are active then, but could still visualize all proposals as "Proposed"

[2018-11-19 15:41] sschiessl-bcp commented on #2177
Thanks!

[2018-11-19 15:41] #2177 closed

[2018-11-19 15:41] sschiessl-bcp commented on #2175
I think a little research is in order, might just be a small issue. OpenLedger works on Edge afaik

[2018-11-19 15:43] sschiessl-bcp commented on #2172
@thehapax @bieglich How is testing going?

[2018-11-19 15:44] toi16 commented on #2180
**Chrome:**
![chrome eth](https://user-images.githubusercontent.com/23018324/48717590-a7495400-ec11-11e8-97f8-be7c414f47a6.PNG)
'Deposit ETH' does pop up with two choices correctly.

**Firefox:**
![ff eth](https://user-images.githubusercontent.com/23018324/48717666-c811a980-ec11-11e8-91de-b768be225ce2.PNG)
When you click on 'DEPOSIT ETH' the modal above appears. There is NO pop up with two choices

[2018-11-19 15:44] sschiessl-bcp commented on #2172
@TechsUsInc Please stick to Opera for now

[2018-11-19 15:47] sschiessl-bcp commented on #2180
That is both on staging wallet? Wow, totally weird

[2018-11-19 15:50] toi16 commented on #2180
Yes they are both using the same URL (https://staging.bitshares.org/#/market/BTS_OPEN.ETH)

[2018-11-19 15:54] sschiessl-bcp commented on #2180
What version does the UI report in both cases in the bottom left? Should be the RC number

[2018-11-19 15:55] toi16 commented on #2180
If it helps the tooltip in Firefox is:
data-tip="Gateways provide IOUs on the BitShares Blockchain that are backed by the real asset"

The tooltip in chrome is:
data-tip="Deposit ETH, click to open options"

[2018-11-19 15:59] toi16 commented on #2180
UI Versions:
Chrome: bitshares.181121-rc1
Firefox: BitShares.181121-rc1

[2018-11-19 16:46] abitmore commented on #2174
As mentioned in Telegram, the logic in @xeroc's code is incorrect, since `2.0.0` data is a "hard" limit but not the actual available budget. It's not easy for UI to calculate without a 2.13.x object thus far. For this issue, we'll revert the changes done in core, so UI will work with next bitshares-core release. Later, for better performance and easier to understand, IMHO we should create a specia

[2018-11-19 19:00] gibbsfromncis commented on #2101
@sschiessl-bcp not much. I'll propose my options and ask @nikandrovalex for his agreement

[2018-11-19 19:45] abitmore opened #2190 "Incorrect transfer fee amount in proposed transfer"
**Describe the bug**
Got a report from chatting group: when proposing a transfer, fee amount for the transfer is set to 0, so the transfer will fail after approved. BTW fee amount for the proposal is correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you e

[2018-11-19 20:51] thehapax commented on #2172
@sschiessl-bcp  I started working on the first part.  give me a day, sorry things a little hectic here.

[2018-11-19 21:08] thehapax opened #2191 "#1696 dummy bug report"
**Describe the bug**
Testing report button on bitshares web UI for staging.bitshares.org

**To Reproduce**
Steps to reproduce the behavior:
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log:

[2018-11-19 21:35] startailcoon commented on #2191
Thanks for testing it out.

[2018-11-19 21:35] #2191 closed

[2018-11-19 21:37] startailcoon commented on #2187
This is fixed by the webpage and doesn't need an update to the UI

[2018-11-19 21:37] #2187 closed

[2018-11-19 21:39] startailcoon commented on #2184
Indeed, I as well see the usage of a Grid layout testing ground a perfect thing for this issue once we have a good UX done.

Right now we should focus on what we may want to have on the landing page. I imagine that we want bits and pieces of everything there, that we can link to and inform the user of. Like vesting balance for example, just to name one thing.

[2018-11-19 21:41] startailcoon commented on #2180
Your Chrome browser may have issues fetching data that relates to the Gateway functionality. If the UI doesn't think that there is any Gateway related assets to use, it will not give you the option to it either. We may need to check on the underlaying fetching code for this.

[2018-11-19 21:42] clockworkgr commented on #2189
disclaimer on releases / l;icense

ip ban on hosted version?

[2018-11-19 21:44] startailcoon commented on #2175
Ineed it does. Let's see if someone can figure this one out then 👍

[2018-11-19 21:55] startailcoon opened #2192 "[4] Support core budget_record_object for Voting Page support"
As described in issue #2174 , the removal of 2.13.x object rendered the UI voting page useless. The impact of object removal wasn't fully understood until recently.

The UI should follow the new `budget_record_object` once merged by PR  https://github.com/bitshares/bitshares-core/pull/1440

- [ ] Update UI to follow new `budget_record_object`

[2018-11-19 21:56] startailcoon commented on #2174
Issue replaced by new issue task #2192

[2018-11-19 21:56] #2174 closed

[2018-11-19 22:49] abitmore commented on #2189
BTW should we stop running API nodes in US, even stop using VPS and etc provided by US companies?

[2018-11-19 22:56] clockworkgr commented on #2189
my understanding is that backend and core are not in jeopardy...it's the exchange interface that makes the difference....def need to keep an eye out though

[2018-11-20 00:17] wmbutler commented on #2189
The article indicates that the SEC went after the founder so I guess @bytemaster should look out :) @xeroc I'm trying to understand how SEC action might affect this. Let's say the went after me just for argument sake because I help facilitate software development.

I am powerless to take down the witness, the frontend code, the middleware code, etc. I'm definitely better off not running a witness

[2018-11-20 00:18] wmbutler commented on #2189
I think each node would just run at their own risk. It's really not up to any of us to decide who runs a node.

[2018-11-20 00:35] Jackcameback commented on #2104
@ruslansalikhov Am I paying you? If so please confirm your bit shares address.

[2018-11-20 06:30] charyury commented on #1832
@Jackcameback , please pay to rob-ola. Thank you!

[2018-11-20 09:05] manikey123 commented on #2084
Thank you for your feedback.
With regards to filter versus search, also after considering below logic, I need to revert any changes made to Explore >> Account Tab.

"Filtering takes an existing full list, and removes items based on criteria that match/don't match.
Search takes a blank slate and adds to it based on criteria that match/don't match.
"

[2018-11-20 10:50] Bluffet commented on #2168
I'm aware of it, @startailcoon And I appreciate all the great things that comes out of it. This function being one of the most important, as I cant figure out how to properly format it myself. And going to binance would probably save me a lot of time.

[2018-11-20 10:56] xeroc commented on #2189
I am actually not concerned about backend APIs but about the offer for a light-wallet as a downloadable file that does offer what the SEC charges EtherDelta for: Namely order book presentation and facilities to trade securities (for instance OPEN.* assets).

I would go the pro-active route and at least offer a US download without an exchange and let the user take on the responsibility for using an

[2018-11-20 11:21] sschiessl-bcp commented on #2156
It is fixed, no hours needed.

[2018-11-20 11:21] #2156 closed

[2018-11-20 13:56] #2168 closed

[2018-11-20 13:57] sschiessl-bcp commented on #2168
After the deployment has happened please use https://develop.bitshares.org/ or wait until next release

[2018-11-20 14:55] ruslansalikhov commented on #2104
Hi. Sorry for delay - our account is "blckchnd"

[2018-11-20 18:11] startailcoon commented on #2157
No hours assigned to this issue, removed from milestone.

[2018-11-20 18:12] startailcoon commented on #2110
No hours assigned, removed from milestone

[2018-11-20 18:36] startailcoon commented on #2192
Oh, I guess I miss understood you on the statement *IMHO we should create a special API in core to query for data required by this page (need to modify core as well as UI, so need new issues for both repository)*.

This would be a future hard-fork of the core with a "special API" for better performance?

Closing issue as it wouldn't require anything for now to be done then.

[2018-11-20 18:36] #2192 closed

[2018-11-20 18:43] startailcoon commented on #2171
This should be closed I assume?

[2018-11-20 18:48] startailcoon commented on #2150
Anyone willing to do some research and estimations on what sizes are good to use?
This would be an easy task, with some research and comparison of other exchanges that would fit nicely with ours.

[2018-11-20 18:52] startailcoon commented on #2145
Me and @wmbutler talked about this the other day and compared it to some other places. One good way to do this is to make a default width of the candles, say for example 60 or whatever would look good. When you pick the interval it would switch to this default, so minutes would give 1 hour etc.

We could allow zoom by scroll wheel, or pick the zoom manually on the bottom.

I've noticed that this z

[2018-11-20 18:59] startailcoon commented on #2111
Anyone experienced with snap care to claim this issue?

[2018-11-20 19:15] startailcoon commented on #2010
@dot5enko if you feel you're up to the task, you can take over this one. I've haven't had time to start on it. There are some parts of the code that can be a little weird, as it was once built to handle only OpenLedger and Block Trades.

This should be refactored to be able to handle any new Bridge, and still be compatible with the way we are using today of course. This should also be using a sett

[2018-11-20 19:30] startailcoon commented on #1330
Blocked by #2142

[2018-11-20 19:53] abitmore commented on #2192
Not a hard fork, but only a new API call.

[2018-11-20 21:07] dot5enko commented on #2010
@startailcoon i'm a backend java developer with huge background in web previously  (php, node, golang) so weird code is not a problem to me :) i'll try to do my best to set all things clear and tidy

[2018-11-21 04:28] thehapax opened #2194 "[2.0.181121-rc1] #1696 Integration Testing - missing log out put for chrome OSX"
**Describe the bug**
Logs don't show any content

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange
2. Click on Report in lower right corner
3. Expand last 20 log entries
4. No content, but screenshot displays

**Expected behavior**
should show log entries.

**Screenshots**

<img width="560" alt="screen shot 2018-11-20 at 6 14 46 pm" src="https://user-images.githubusercontent.com

[2018-11-21 04:30] thehapax commented on #2172
Bug logged https://github.com/bitshares/bitshares-ui/issues/2194

[2018-11-21 08:52] Bluffet commented on #2168
Thanks a bunch, Stefan!

[2018-11-21 12:22] sschiessl-bcp commented on #2171
Yes, just closed now with https://github.com/bitshares/beet/pull/28

[2018-11-21 12:22] #2171 closed

[2018-11-21 13:20] #2176 closed

[2018-11-21 13:21] sschiessl-bcp commented on #2176
Was an easy fix after all, 0.5 hours.

[2018-11-21 13:46] #2179 closed

[2018-11-21 13:47] sschiessl-bcp commented on #2174
The title reward is meant for the person to fix it, not the one reporting it. I will add the reporting hours in the general integration test issue

[2018-11-21 13:54] sschiessl-bcp commented on #2172
@thehapax you have two points in the test above unchecked, does this mean still to be done, or it didnt work?

[2018-11-21 13:57] jhtitor commented on #775
I really, really want to implement BitShares URLs for the QT client.

After reading this whole issue, I have to agree with @abitmore, the `protocol:action?parameters` is the best way to go. I propose to extend this with the following:

#### Transfers and other operations:
`bitshares2:operation/transfer?to=...&amount=0.5&asset=BTS&memo=...`

Here, paramterized values should match the Transfer opera

[2018-11-21 14:02] sschiessl-bcp commented on #2180
This needs investigation, but might simply be due to a short network failure when pinging.

@toi16 could you please open it again and simply reload it a couple of times to see if it consistently only displays one Button? And if it does display one button, can you please post the console error log?

[2018-11-21 14:06] sschiessl-bcp commented on #2194
I tried on three Mac versions, it all reproduces.

Can you please try again, it might have been a collision with testing the "Remember Me" feature.

[2018-11-21 14:08] startailcoon commented on #2010
awesome 👍

[2018-11-21 14:09] startailcoon commented on #2192
Nice

[2018-11-21 14:14] #2173 closed

[2018-11-21 14:14] sschiessl-bcp commented on #2173
Included in review

[2018-11-21 14:29] sschiessl-bcp commented on #2180
Thank you very much, I appreciate your responsiveness!

@startailcoon I can reproduce this reliably with browserstack (Win10, Firefox 63), could you have a look at this issue? It might be that this option simply never worked so far in Firefox ...

[2018-11-21 16:22] ThomasFreedman commented on #775
I applaud any and all proposals to establish useful conventions and standards. Consistency is also important and helps people learn new things faster. Glad to see this effort being made.

[2018-11-21 23:17] thehapax commented on #2194
I am really confused, today i look at the site and i don't even see a report button or an alert next to the symbols traded.

<img width="884" alt="screen shot 2018-11-21 at 3 14 56 pm" src="https://user-images.githubusercontent.com/39811582/48872990-882cfc80-eda0-11e8-9d11-280bcf5ed6e4.png">

[2018-11-22 07:44] yura5hem commented on #2150
I claim it

[2018-11-22 12:03] fractalnode commented on #1065
@wmbutler in first step we have to have MVP - simple Settle button in asset page.
ATM we have something like this: http://docs.bitshares.org/bitshares/tutorials/pm-close-manual.html
in second step we'll all think about how to simplify it.
We have to finally resolve this issue, and keep our promises about Prediction Market in BitShares with we gave in 2015, this is still in our features list but we

[2018-11-22 16:37] startailcoon commented on #2174
@sschiessl-bcp sorry, my mistake. I let you keep track of the testing rewards 👍

[2018-11-22 18:37] gibbsfromncis commented on #2149
@startailcoon to be honest I'm not following the idea... can you clarify please?

[2018-11-22 19:12] gibbsfromncis commented on #2175
@sschiessl-bcp would you like to take care of it or let me do it?

[2018-11-22 19:12] gibbsfromncis commented on #2186
@sschiessl-bcp what is the idea of this issue?

[2018-11-22 20:41] sschiessl-bcp commented on #2186
For the team, just the information that we have access now!

For me, just to track if any significant amount of hours occur to keep the account.

[2018-11-23 00:02] gibbsfromncis opened #2197 "[0.5][Style-Guide] Update components inheritance"
The issue is that I used the following way now (I did wrap of components instead of inheritance):

[code]

And this way blocks us from using `properties` and `methods` of Ant Input. The simple example is:

[code]

The focus is not a method of `Input` component, because it is method of `Ant Input`.

The idea of this issue is to update all style-guide components to use inheritance instead of wrappin

[2018-11-23 00:14] gibbsfromncis commented on #2197
@sschiessl-bcp I decided to use simple "forwarded" of ant components. The reason why I decided to use inheritance or wrapping if on some point we want to provide additional props to ant components. We already use Style-Guide for more than 4 months and we didn't have any requirements to this kind of feature. So to take it works fast and do not put much effort I just "forwarded" ant components.

Com

[2018-11-23 00:14] gibbsfromncis commented on #2197
@startailcoon estimate is .5h

[2018-11-23 00:44] gibbsfromncis opened #2199 "[1][Style-Guide] Fix disabled inputs design"
Fix design for disabled inputs:

<img width="310" alt="screenshot 2018-11-23 01 44 23" src="https://user-images.githubusercontent.com/35899973/48925193-5069a600-eec1-11e8-8530-d2ee83b6c701.png">
<img width="693" alt="screenshot 2018-11-23 01 44 12" src="https://user-images.githubusercontent.com/35899973/48925194-5069a600-eec1-11e8-8dd8-941bb30d9c69.png">

It is impossible to see placeholder & valu

[2018-11-23 07:02] sschiessl-bcp commented on #775
My suggestion would be to account for the standard and allow flexibility, all still possible using
[code]
where
 - `prefix` = `bitshares`
 - `action` has  two parts `type[details]`.
   - `type`:
      - `operation/` or `op/`
      - `object/` or `ob/`
      - `block/` or `bl/`
      - `transaction/` or `tr/`
      - `someaccountname`, important that this string contains no `/`. This is an abbrevia

[2018-11-23 08:50] sschiessl-bcp commented on #2180
PR did not fix

[2018-11-23 08:55] Leon-Zhang opened #2200 "How to call bitshares-ui functionalities from another server(PHP)?"
In this repository,
https://github.com/bitshares/bitshares-ui-api

I found the api library for call bitshares haven't ready yet, I'm working on a project that require
register wallet, send & receive using bitshares through RESTful api calls.

May I ask when will bitshares-ui-api repository be ready for functions described above and is there an alternative way to invoke bitshares-ui functionalities

[2018-11-23 09:06] #2181 closed

[2018-11-23 10:40] sschiessl-bcp opened #2201 "[4][spanishtranslator] Maintain Spanish language"
Done with https://github.com/bitshares/bitshares-ui/commit/d3448e8210ef0899f2222184d09f90375ec4a995

See https://github.com/bitshares/bitshares-ui/issues/1705#issuecomment-439083573 for BitShares Account. Hours for updating estimated to 4, please report if not sufficient @spanishtranslator

[2018-11-23 10:50] sschiessl-bcp commented on #1705
@froooze Please report, or can I re-assign?

[2018-11-23 10:54] sschiessl-bcp commented on #2194
Maybe an old cached version?

[2018-11-23 15:20] spanishtranslator commented on #2201
Bitshares user: newtechblog-bts  4 Hours it´s OK

[2018-11-23 15:41] TechsUsInc opened #2202 "Price Alert can be set/deleted in authorized/unauthorized locked accounts"
**Describe the bug**
Price Alert can be set/deleted in authorized locked account.
Price Alert can be set/deleted in unauthorized locked account.

**To Reproduce**
Steps to reproduce the behavior:
1.   Without unlocking the account, go to the Exchange Tab; click any asset pair. For this test, I used
      BTS:Open.BTC
2.   Click the Price Alert icon
3.   Set a Price Alert for both below and above t

[2018-11-23 15:46] TechsUsInc commented on #2172
Bug logged #2202

[2018-11-23 16:16] TechsUsInc opened #2203 "Account lock/unlock"
**Describe the bug**
Please see issue #2202
From unlocked account I am able to navigate to a random account which is also unlocked; Navigating back to my account it remains unlocked

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the lock from within your account and unlock the account
2. Go to any account or randomly via the Explorer tab>> Blockchain transactions
3. Note that the l

[2018-11-23 16:17] TechsUsInc commented on #2172
bug logged #2203

[2018-11-23 17:11] TechsUsInc opened #2204 "Price Alert window and tooltips"
**Describe the bug**
1. Initially upon first time clicking the Price Alert, the pop up window appears void of data in the price
    field.
![init_price_alert_capture](https://user-images.githubusercontent.com/18186497/48953269-e249d100-ef0a-11e8-9dd3-e3bc58e28178.JPG)

   Closing and reopening the window shows a price in the price field.
![init_price_alert_2_capture](https://user-images.githubuser

[2018-11-23 17:11] TechsUsInc commented on #2172
Bug logged #2204

[2018-11-23 18:10] wmbutler commented on #1984
Would like to see this implemented. I use this feature all the time to send payments out and I always have to be careful to not select some random account because it shows up higher in the list than the intended (known) account.

[2018-11-23 18:26] wmbutler opened #2205 "[3.5] Send Modal tweaks"
**Is your feature request related to a problem? Please describe.**
Default keyboard action and focus states for buttons and fields in send modal

**Describe the solution you'd like**
- Enter key should trigger send and acknowledgements where appropriate
- Fields should be focused when modals open where appropriate

**Describe alternatives you've considered**
- [ ] Focus the `To` field when send mo

[2018-11-23 23:05] gibbsfromncis commented on #2205
I'll take it and work on it in few days

[2018-11-23 23:16] gibbsfromncis commented on #2204
@TechsUsInc if you click "add rule" it puts in the field the "latest" price. Doesn't it?

[2018-11-23 23:35] TechsUsInc commented on #2204
When I clicked on Price Alert icon, the window opened with a empty price field. Clicking inside it requires a manual entry.
When I clicked "add rule" it does indeed add the price into the price field, however, there are now two price fields. One is empty, the other pre-filled.
![init_price_alert_4_capture](https://user-images.githubusercontent.com/18186497/48962485-2f976400-ef46-11e8-98fb-f8c30465

[2018-11-23 23:42] gibbsfromncis commented on #2204
@TechsUsInc Yep, I agree with you about that and this is confusing thing that I'm going to fix.
What do you think, Is it nice to fill Price input by latest price value when user click add rule?

[2018-11-23 23:45] gibbsfromncis commented on #2199
@startailcoon estimate: 1h

[2018-11-23 23:46] gibbsfromncis commented on #2199
@sschiessl-bcp screenshots:

<img width="994" alt="screenshot 2018-11-24 00 45 55" src="https://user-images.githubusercontent.com/35899973/48962613-51164100-ef82-11e8-8159-9c72eafb6bc7.png">
<img width="1002" alt="screenshot 2018-11-24 00 45 46" src="https://user-images.githubusercontent.com/35899973/48962614-51164100-ef82-11e8-82d3-928ffd719c0b.png">
<img width="447" alt="screenshot 2018-11-23 21

[2018-11-23 23:46] TechsUsInc commented on #2204
The price alert is an awesome feature.
I think the auto filled price field is very nice as long as the user can still see the prices in the chart allowing them to alter the price field at will, and see the chart, while in the Price Alert window without exiting.

[2018-11-24 00:12] gibbsfromncis opened #2207 "[Style-Guide] Redesign Alerts"
We need to redesign alerts because they looks awful:

<img width="1196" alt="screenshot 2018-11-24 01 12 01" src="https://user-images.githubusercontent.com/35899973/48962814-f54db700-ef85-11e8-8228-51556db3ef73.png">

[2018-11-24 00:14] TechsUsInc commented on #2204
Thinking about it further. I noticed that regardless of the choice selected (lower than/higher than) the price automatically placed in the price field are the same. Perhaps one should point to the buy price, and the other point to the sell price?
![init_price_alert_5_capture](https://user-images.githubusercontent.com/18186497/48962752-6ec7b400-ef4a-11e8-9056-f094f540f937.JPG)
In this image, the la

[2018-11-24 00:37] abitmore commented on #1065
The word "settle" is confusing. We already have a settle button in account page, adding another "settle" with different meaning is not the best IMHO.

[2018-11-24 00:41] abitmore commented on #2190
As mentioned in Telegram, this proposal has a zero fee inside: https://bts.ai/tx/2aef0d83d1172d66368ea4e3d594c8fb0c758614. Probably caused by https://github.com/bitshares/bitshares-ui/pull/1937. @kapeer42?

[2018-11-24 00:43] gibbsfromncis opened #2208 "[1][Style-Guide] Add support of Progress component"
[Progress component](https://ant.design/components/progress/)

Required by signup to display password strength

[2018-11-24 04:08] gibbsfromncis commented on #1997
### Login Selector

<img width="907" alt="screenshot 2018-11-24 05 03 59" src="https://user-images.githubusercontent.com/35899973/48964383-600eea80-efa6-11e8-8301-6c43ab5dcfbf.png">
<img width="890" alt="screenshot 2018-11-24 05 03 57" src="https://user-images.githubusercontent.com/35899973/48964384-600eea80-efa6-11e8-8ff0-2aab8f3dd828.png">

### Registration Selector

<img width="831" alt="screen

[2018-11-24 04:08] gibbsfromncis commented on #1997
@startailcoon final estimate: 11h

[2018-11-24 06:40] gibbsfromncis opened #2211 "Ant Form Decorator & Fields Validation"
This task is to create simple service to help to speed up work with [ant form decorator](https://ant.design/components/form/#Form.create(options))

[2018-11-24 07:12] gibbsfromncis commented on #1812
Unfortunately for now it is not possible to do it correct. I'll close this issue and reopen or create new one when I have an idea how to deal with it

[2018-11-24 07:12] #1812 closed

[2018-11-24 10:28] realsnick opened #2212 "docker-compose up fails"
**Describe the bug**
docker-compose up fails
**To Reproduce**
1. clone the reop
2. docker compose-up
$ docker-compose up
Starting bitshares-ui_web-wallet_1_5f2f0a0333a5 ... done
Attaching to bitshares-ui_web-wallet_1_5f2f0a0333a5
web-wallet_1_5f2f0a0333a5 |
web-wallet_1_5f2f0a0333a5 | > BitShares2-light@2.0.181121-rc1 build /bitshares-ui
web-wallet_1_5f2f0a0333a5 | > cross-env NODE_ENV=production

[2018-11-24 11:53] startailcoon commented on #2208
Nice work 👍

[2018-11-24 11:57] startailcoon commented on #1997
Great work as always!

[2018-11-24 12:03] startailcoon commented on #2205
@gibbsfromncis feel free to apply the style guide while your at this, and add appropriate hours for it.

[2018-11-24 12:09] startailcoon commented on #2200
I'd advice posting issues related to other repositories in their respective repositories.

I can see that this repo was only committed once and was about a year ago.

What makes you say that it doesn't work yet?

[2018-11-24 15:12] Leon-Zhang commented on #2200
Hello @startailcoon , thanks for reply.

As you can see, there's only market functions in bitshares-ui-api repo, I need to register account and do transfer programmatically.
Since bitshares-ui repo haven't expose any api for this purpose, is there any convenient way I can implement this?

Thanks.

[2018-11-24 20:18] bieglich opened #2213 "Integration Test - Dummy Issue"
Log entries
log: new owner pubkeyBTS6mMPXi1y5FMqWZorW66Yyz3TeToJ8zE5URYWWmQVpU5TGpBq8g
log: new memo pubkeyBTS828SeZudHeBuxegEh64SCLN2Nw4V5csohC2FRZ1BXz85zb2Lnk
log: Your node is out of sync since 5.07699990272522 seconds, waiting 10 seconds, then we notify you
log: Your node is out of sync since 5.95799994468689 seconds, waiting 10 seconds, then we notify you
log: Your node is out of sync since 1

[2018-11-24 20:34] bieglich opened #2214 "[1] Integration Test - Private Login"
**Is your feature request related to a problem? Please describe.**
Windows 10 / Chrome
 - Toggle the checkbox, and the entered account name disappears
 - On a complete fresh wallet, login with account, Remember Me unchecked. When logging out, the account name still remains (after the fix of the other issue I saw), though after reload its gone.
Android/Chrome
 - Lock in View mode of another account

[2018-11-24 22:31] bieglich opened #2215 "Integration Test - Price Alert"
**Is your feature request related to a problem? Please describe.**
Android / Chrome

Price Alert breaks the Exchange, see Screenshot. After closing by clicking "x" the Screen remains white
![screenshot_20181124-232453](https://user-images.githubusercontent.com/45090761/48973511-1a533000-f041-11e8-9007-ebf15433ed67.png)

[2018-11-24 22:40] bieglich commented on #2172
Multiple buttons still not present with the actual release on Chrome (Windows and Android)

[2018-11-25 00:47] thehapax commented on #2194
possibly. can we close this bug report now?

[2018-11-25 00:47] #2194 closed

[2018-11-25 07:59] startailcoon commented on #2213
Thanks for testing the integrated reporting features

[2018-11-25 07:59] #2213 closed

[2018-11-25 08:52] sschiessl-bcp commented on #2194
Is it working correctly now?

[2018-11-25 12:38] gibbsfromncis commented on #2215
@bieglich please provide Android/Chrome versions

[2018-11-25 12:41] gibbsfromncis commented on #2215
Tested on
**Device**: Galaxy Tab 4
**Android OS**: 4.4
**Chrome**: 68.0.xxx

Works perfect.

[2018-11-25 12:43] gibbsfromncis opened #2216 "Type of Login select doesn't work in Login modal"
Select of Login type doesn't work:

<img width="504" alt="screenshot 2018-11-25 02 11 42" src="https://user-images.githubusercontent.com/35899973/48979356-17485600-f0ba-11e8-97af-d6669430c265.png">

[2018-11-25 12:59] gibbsfromncis commented on #2216
@startailcoon final estimate 1h. It took a little bit of time to discover why it happens because I saw all reasons to see this select dropdown but it wasn't showing. The reason was really simple: z-index issue. Modal z-index was higher than select dropdown index.

[2018-11-25 14:36] sschiessl-bcp commented on #2215
The versions should be the ones posted in the main integration test issue

[2018-11-25 16:54] Bluffet opened #2218 "ES export errors"
Happy to finally be able to export log files, I encountered the following weirdness on an account I have tried out DEXBOT on:

1. ES accumulates trades at executed at the same price. Even though they are days between which makes it look weird. And of course this will happen when using the staggered method. I am positive this will not pass the accounting.

2. When stopping the bot and importing it

[2018-11-25 19:29] startailcoon commented on #1119
I've posted an issue on bitshraes-core to include asset collateral volume and settled volume on chain.

https://github.com/bitshares/bitshares-core/issues/1448

[2018-11-25 20:31] startailcoon commented on #1119
Adding a few new fields

### Price Feed
![bild](https://user-images.githubusercontent.com/12114550/48984207-2ef2ff00-f0f9-11e8-8285-c61313a55472.png)

### Settlement (normal)
![bild](https://user-images.githubusercontent.com/12114550/48984209-3ca88480-f0f9-11e8-8f4f-59b63d6b366c.png)

### Settlement (in Global Settlement)
![bild](https://user-images.githubusercontent.com/12114550/48984213-577af900

[2018-11-25 21:05] abitmore commented on #1119
Due to bsip42, the name "external price" is not so good. https://github.com/bitshares/bitshares-ui/issues/1865.

Volumes are ignored after globally settled.

[2018-11-25 21:10] startailcoon opened #2220 "Asset Information Page - Collateral Information"
These tasks derives from https://github.com/bitshares/bitshares-ui/issues/1119

This issue is blocked due to missing total collateral object / information.
https://github.com/bitshares/bitshares-core/issues/1448

This task would be about including the remaining information to the asset page.

- [x] About black swan event (if an asset is not in black swan state): calculate from the short position w

[2018-11-25 21:17] startailcoon commented on #1119
@abitmore noted. Removing volume limit data on global settled asset.

How is "Average market price"?

[2018-11-26 06:53] sschiessl-bcp commented on #2216
That was me .. I never thought that the dropdown would have an absolute zIndex, and not relative to parent ....

[2018-11-26 06:55] #2216 closed

[2018-11-26 07:13] sschiessl-bcp commented on #2204
I see your intended usage. The latest price is always filled even when opening first in actual release.

My suggestion:
 - On opening and on changing the left dropdown: If user has not altered the price yet, "Lower Than"/"Higher Than" fills in the respective sides from the spread
 - Display the correct price in the headline, or display it in each line for clarity (it only says "BTS" instead of "BT

[2018-11-26 07:15] sschiessl-bcp commented on #2200
You can use the CLI, controlled through a php server

[2018-11-26 07:17] sschiessl-bcp commented on #2202
The price alerts are not on-chain, they are merely in the local storage of your computer. In that meaning they are not set per account, but per-open-browser-window.

I ll suggest to add it as a description.

[2018-11-26 07:17] #2202 closed

[2018-11-26 07:53] sschiessl-bcp commented on #30
Required inputs to setup/update permission:
 - authorized account
 - withdrawal limit per period (this is a maximum, actual claim can be less, only one claim per period allowed!)
 - withdrawal period (in seconds)
 - number of periods
 - start of first period

@nikandrovalex When setting up or editing a permission, the memo is not applicable.
I suggest to replace that area with a permission detail

[2018-11-26 10:08] sschiessl-bcp opened #2221 "[15] Add collateral bidding"
For details see https://github.com/bitshares/bsips/blob/master/bsip-0018.md

`bid_collateral_operation` can be used to put a bid, `collateral_bid_object` can be used to display bids.

First tasks:
- [ ] Discuss where to put it!
- [ ] Ensure it is available in bitsharesjs, I haven't found it right now

[2018-11-26 10:14] sschiessl-bcp commented on #2221
Suggestion:
Put it in `Asset actions`, that allows bidding and also displays the current bid (if any)

[2018-11-26 12:06] react-cat commented on #1963
@gibbsfromncis I make a review and suggested that this task can be done in 12 hours. Can I claim it ?

[2018-11-26 12:53] sschiessl-bcp opened #2222 "[1] Add global settlement price to exchange"
When asset is globally settled, this should be displayed as settlement price.

[2018-11-26 12:53] sschiessl-bcp commented on #2222
![image](https://user-images.githubusercontent.com/33128181/49015213-b8024880-f182-11e8-99c9-52b98611c5f4.png)

[2018-11-26 12:54] #2222 closed

[2018-11-26 12:57] sschiessl-bcp commented on #1119
How about waht it actually is: Feed price (median of witness feeds)

[2018-11-26 12:59] sschiessl-bcp commented on #1119
I did not read the discussion in here in detail beforehand and rearranged abit, please check if appropriate
![image](https://user-images.githubusercontent.com/33128181/49015460-71f9b480-f183-11e8-8fd5-9cd2e3a6d189.png)

![image](https://user-images.githubusercontent.com/33128181/49015480-7d4ce000-f183-11e8-90e5-6ec31c665035.png)

[2018-11-26 13:03] #1119 closed

[2018-11-26 13:13] sschiessl-bcp commented on #2084
What is the status here?

[2018-11-26 13:31] #2127 closed

[2018-11-26 13:32] #1755 closed

[2018-11-26 13:32] #2138 closed

[2018-11-26 14:09] startailcoon commented on #1119
Looks good to me

[2018-11-26 14:10] sschiessl-bcp commented on #2197
+1

[2018-11-26 14:11] #2197 closed

[2018-11-26 14:12] #2199 closed

[2018-11-26 14:13] sschiessl-bcp commented on #2199
Please always reference the corresponding style guide commits

[2018-11-26 14:14] #2208 closed

[2018-11-26 14:57] startailcoon commented on #2221
Looks like a very good thing to include as well. Will loik closer to this

[2018-11-26 15:16] sschiessl-bcp commented on #1857
Here is a preview (styling still necessary)
![image](https://user-images.githubusercontent.com/33128181/49023026-90b57680-f196-11e8-980d-6ef7943c59c2.png)

[2018-11-26 16:08] startailcoon commented on #2215
I've had issues with the same nature on Android, where the switch account notification also breaks the page.

**Device:** Samsung Galaxy Note 8
**Android OS:** 8.0.0
**Browser:** Edge 42.0.0.2801

[2018-11-26 16:44] startailcoon commented on #2221
### collateral_bid_objects
Documented here https://bitshares.org/doxygen/classgraphene_1_1wallet_1_1wallet__api.html#aea65645fc8ae366d9d510a01e32db5a8

Can be called by
[code]

[2018-11-26 21:20] thehapax commented on #2194
Yes it is.

On Sun, Nov 25, 2018 at 12:52 AM Stefan Schießl <notifications@github.com>
wrote:

[2018-11-26 21:21] thehapax commented on #2172
@sschiessl-bcp I am now done

[2018-11-26 21:38] startailcoon opened #2224 "[1][oldbusdriver] Settling bitUSD breaks application"
When Settling bitUSD on the dashboard the application breaks with a white screen.

Requested settle does execute, but something after it breaks the application.

Using development branch.

Console output:

![bild](https://user-images.githubusercontent.com/12114550/49043533-a7c28b80-f1cb-11e8-8081-9797ce4ec7f2.png)

![bild](https://user-images.githubusercontent.com/12114550/49043568-bc068880-f1cb-1

[2018-11-26 21:57] clockworkgr commented on #2224
the settlement does work btw

[2018-11-27 05:51] startailcoon commented on #2224
@clockworkgr it does indeed, forgot to mention that

[2018-11-27 07:57] Leon-Zhang commented on #2200
Hello, thanks for your reply, do you mean command line interface by CLI? Could you please provide a simple example to show case how to do it?

Thanks.

[2018-11-27 08:49] clockworkgr opened #2226 "[15] [Beet] Placeholder for Beet UX/UI design"
See: https://github.com/bitshares/beet/issues/34

Brand handbook & Styleguide created

Work undertaken by @podanrj

BTS account for payment: podanrj37412

[2018-11-27 08:49] #2226 closed

[2018-11-27 09:11] clockworkgr commented on #2200
There's 2 ways to perform transactions (ie write to the blockchain rather than read) in BitShares:

a) you run a cli-wallet instance with the keys imported, let it handle transaction signing and use the wallet API

b) you implement your own serialisation and signing methods (or use existing implementations such as bitsharesjs for javascript) and interact directly with the API nodes

Seeing as ther

[2018-11-27 11:02] manikey123 commented on #2084
completed development. reverted change for Explore >> Account Tab. i shall upload to git in 6-7 hours from now.

[2018-11-27 11:36] clockworkgr commented on #2200
what do you mean multiple wallets ? you can have multiple accounts in one wallet

[2018-11-27 12:59] Leon-Zhang commented on #2200
I need to perform transfer from one wallet to another by api calling from php program, and which wallet I use depends on the login user: every registered user have one wallet attached with their account, and they can buy bitshares coin charge to their wallet, and transfer transaction performed later on will been issue from this user wallet. Am I clear?

[2018-11-27 13:02] sschiessl-bcp commented on #2200
No, you are not.

One wallet can contain multiple accounts (through the respective private keys). You want to transfer inbetween accounts I assume.

What do you want to do?

a) transfer from any user account to any other user account
b) transfer always from the same account to any other user account

[2018-11-27 13:06] wwwang89 commented on #1727
hello，everyone，when I set TCR in “broadcast_transaction_with_callback” method，
my Operation data like bellow：
{
fee = {
asset_id = 1.3 .0;
amount = 0;
};
extensions = {
target_collateral_ratio = 1760;
};
funding_account = 1.2 .1097304;
delta_debt = {
asset_id = 1.3 .113;
amount = 0;
};
delta_collateral = {
asset_id = 1.3 .0;
amount = 1;
};
}

but error occurred，error:missing required active author

[2018-11-27 13:07] wwwang89 commented on #1575
hello，everyone，when I set TCR in “broadcast_transaction_with_callback” method，
my Operation data like bellow：
{
fee = {
asset_id = 1.3 .0;
amount = 0;
};
extensions = {
target_collateral_ratio = 1760;
};
funding_account = 1.2 .1097304;
delta_debt = {
asset_id = 1.3 .113;
amount = 0;
};
delta_collateral = {
asset_id = 1.3 .0;
amount = 1;
};
}

but error occurred，error:missing required active author

[2018-11-27 14:14] Leon-Zhang commented on #2200
Thanks for reply, what I need is a), is there any example showcase how to do so?
I think need to
 1, register associated account in wallet while new user register to our database;
 2, transfer from user's wallet account to another user's wallet account.

[2018-11-27 15:33] startailcoon commented on #2221
Going to tackle this task during the week to see if we can make a feature in the wallet to allow collateral bidding to help settling bitUSD.

Already spent time to understand the concept and features of the function.

[2018-11-27 15:44] clockworkgr commented on #2221
I claim 10% of your time for the explanations :P j/k

[2018-11-27 16:20] startailcoon commented on #1963
@react-cat I'm bouncing this task to 12 hours after discussing the issue range with @gibbsfromncis that is most familiar with the ANT components. This task is large and I hear you're awesome at ANT ;)

Please report back if you find the task being to large, but the hours should cover your main development hours. Learning the bases is included in this.

Make sure you're getting familiar with how th

[2018-11-27 16:50] gibbsfromncis commented on #2215
@startailcoon Edge on Android? You're killing me :D

[2018-11-27 17:44] manikey123 commented on #2084
i have created a pull request and get error by appveyor. any idea about the issue ?

[2018-11-27 18:11] nutelina commented on #2189
The "United States" is a separate and foreign nation with respect to American State Nationals that has two forms of citizenship. If you are born in the District of Columbia, Guam, Puerto Rico or one of the other Insular States or Territories, you can, at your option, claim to be a United States Citizen. If you are operating as a federal corporation franchise, a federal civilian or military employe

[2018-11-27 21:13] abitmore commented on #1575
@wwwang89 are you using bitsharesjs? Or another client library? Perhaps I can help you to find where is the best place to ask.

[2018-11-28 02:17] wwwang89 commented on #1575
I  used Java in Android client。Any help ？thanks！

[2018-11-28 04:35] wwwang89 commented on #1575
oh ，It worked ，do as https://github.com/bitshares/bitsharesjs/pull/25#issuecomment-403963855

[2018-11-28 08:39] manikey123 commented on #2084
2084 search fix f1 #2183  --> I just saw this label that had some feedback/changes to be made. I have not incorporated these changes. I shall do so in 24-48hrs.

[2018-11-28 09:04] sschiessl-bcp opened #2229 "Style tooltips"
This targets the style guide and the visualization of tooltips.

Current React tooltips
![image](https://user-images.githubusercontent.com/33128181/49139927-4564aa80-f2f3-11e8-9e14-0d45184ef7e2.png)

Style Guide tooltips
![image](https://user-images.githubusercontent.com/33128181/49139961-5a413e00-f2f3-11e8-98c6-e2c4692a9251.png)

This is not as pretty as it could be

[2018-11-28 09:06] sschiessl-bcp opened #2230 "Style and refactor tooltips - mobile view"
We need a solution for mobile view, I quite like this one
   http://uxmovement.com/mobile/how-to-display-tooltips-on-mobile-forms/
Tooltips are rendered as separate button, on click shows the text.

Tooltips are integrated as a wrapper document.
[code]
Different styling come to mind:
 - `children` is an icon. Display the icon with an easy to click size and give it onClick
 - `children is a label f

[2018-11-28 10:49] sschiessl-bcp opened #2231 "[.5] Voting shortcut"
Implement a new route for voting (shortcut, because its always annoying to explain):
[code]
This shortcut should do the same as `/account/{account_name}/voting`, with the currently active account as the default selection (`AccountStore.getState().currentAccount`). If there is no currently active account, put `committee-account`.

See App.jsx and AccountPage.jsx for the existing routing. Estimate i

[2018-11-28 11:36] sschiessl-bcp commented on #2203
This is intended, as the lock refers to your actual account, not the one you are viewing. Agreed it is confusing, this might need to be streamlined with UX.

[2018-11-28 11:37] sschiessl-bcp commented on #2214
Can reproduce on Linux/Chrome

[2018-11-28 11:38] bieglich commented on #2172
Bug #2214 and #2215

[2018-11-28 11:39] sschiessl-bcp commented on #2215
I think it's valid to say there is a bug, but it might only be in older version ...

Investigation is needed if we need to change something.

[2018-11-28 11:47] sschiessl-bcp commented on #2172
This testing is completed. Please come back for the next release candidate! Any and all feedback is welcome (especially with respect to the estimates for testing).

My own: 2

@startailcoon @wmbutler
My suggestion for the title: "[7.7 multiple][2.0.181121-rc1] Integration tests". The multiple in the head indicates that the payout distribution is stated in the first post of the issue.

[2018-11-28 11:49] sschiessl-bcp commented on #2172
@toi16 @thehapax @TechsUsInc @bieglich
Please state your BitShares Account name for payout.

[2018-11-28 11:49] #2172 closed

[2018-11-28 12:02] bieglich commented on #2172
Just the same: bieglich

[2018-11-28 12:05] sschiessl-bcp opened #2232 "[Showcases] Create Collaterized Debt Position wizard"
Add a showcase tile to https://github.com/bitshares/bitshares-ui/issues/1857#issuecomment-441674409 that has a wizard like view to borrow a smartcoin, similar to
https://cdp.makerdao.com/

The existing modal remains.

[2018-11-28 12:45] react-cat commented on #1963
@startailcoon Thanks !

[2018-11-28 13:05] toi16 commented on #2172
My Bitshares account name is: toi16

[2018-11-28 13:52] akledirs opened #2233 "[1.5][MikhailKavalenka] Not save personalize settings"
Changes in settings in menu "Personalize" applyed immediately but after change trade pair - resetting.
Maybe not all parameters, but Panel Grouping just resetting.

Desktop:
OS - Windows 10 x64 1803
Version - 181121

[2018-11-28 19:31] TechsUsInc commented on #2172
@sschiessl-bcp
lil-bi.t-of-techs-us

[2018-11-28 19:36] startailcoon commented on #2215
@gibbsfromncis Yes, I'm used to Edge and Microsoft syncing applications from when using Windows Phone.

There is something that breaks it, at some cases, just not sure what.

[2018-11-28 19:45] startailcoon commented on #2190
Send Modals "Proposal" feature fails to add the correct fee for a proposed transaction.
This worked without any problem before on the propose send page and shouldn't be to difficult to fix.

[2018-11-28 19:50] startailcoon commented on #2180
This would require some more checking then. I'm a bit confused to why it didn't work.

[2018-11-28 20:02] startailcoon commented on #2172
Sounds good to me. 👍

[2018-11-28 20:23] sschiessl-bcp commented on #1065
In the meaning for prediction market we could call it "Resolve"

[2018-11-28 21:46] calvinfroedge commented on #661
I can take this on if @oxarbitrage can help me understand how to pull the data (clicking link above gives me a not found)

[2018-11-29 10:40] sschiessl-bcp opened #2234 "Enhance settlement UX on globally settled asset"
- add exchange "instantly settle" option to BuySell
- account portfolio now displays tooltip if bitassset GS'ed
- settle modal now always displays the price of market and settlement and uses global settlement price if globally settled

[2018-11-29 10:41] sschiessl-bcp commented on #2234
Took 2

[2018-11-29 10:41] #2234 closed

[2018-11-29 10:41] sschiessl-bcp commented on #2234
![image](https://user-images.githubusercontent.com/33128181/49216592-becfcc00-f3cb-11e8-9ced-7b58758e7ae9.png)

[2018-11-29 10:42] sschiessl-bcp commented on #2234
![image](https://user-images.githubusercontent.com/33128181/49216607-c8f1ca80-f3cb-11e8-8ae4-525e3f012057.png)

[2018-11-29 10:42] sschiessl-bcp commented on #2234
![image](https://user-images.githubusercontent.com/33128181/49216639-d8711380-f3cb-11e8-9d63-05e5b2e02899.png)

[2018-11-29 14:40] sschiessl-bcp commented on #1857
I've asked @gibbsfromncis for styling this. I'd like elevated button look and feel of the tiles, with onhover and onclick effect. Additionally, the tiles should rearrange themselves when window is resized, max. 3 tiles in one row though (if possible).

[2018-11-29 14:45] #2201 closed

[2018-11-29 14:47] sschiessl-bcp commented on #2149
Please check that you can also select with keyboard (up and down moves the selection, enter confirms it)

[2018-11-29 14:48] Agorise commented on #1857
I love this! :)

Can we make Invoicing easier? Business owners will love it. Tie it into the "Propose" feature too somehow.

Paying invoices of course, ie: "Bill Pay".

Timed transfers, recurring and scheduled payments of course, I totally agree we should have a card for that too.

Maybe a "Get a Loan" card.

"Manage Contracts" (create read update delete)
For example, buy or sell a home, car, land

[2018-11-29 15:03] gibbsfromncis commented on #2215
@startailcoon okay I'll try to test it again

[2018-11-29 16:34] gibbsfromncis opened #2238 "[1.5][nikandrovalex] Design of Style-Guide Notifications"

[2018-11-29 19:19] thehapax commented on #2172
@sschiessl-bcp octet1

[2018-11-29 19:40] gibbsfromncis commented on #1964
@startailcoon I've put 1h I spent to review & test this PR

[2018-11-29 22:04] gibbsfromncis opened #2239 "[1][Style-Guide] Add support for Drawer"
This task is to add [Drawer](https://ant.design/components/drawer/) to our style-guide.

I want to use it for [Scaled Orders feature](https://github.com/bitshares/bitshares-ui/issues/1503). Modals usage is not possible because it closes order books and I think it is important for user to see them when user creates new order.

[2018-11-29 22:37] sschiessl-bcp opened #2240 "Expand Price Alerts to Stop-Loss/Take-Profit orders"
The price alerts of the latest version can be expanded into stop-loss and take-profit orders.
Idea:
Price alerts get a "add order" button, which signs a respective sell order on price alert creation, but does not broadcast it. It will only get broadcast when the price alert is triggered. It could also ask the user to sign when the price alert is triggered, but that forces a split second decision o

[2018-11-30 00:27] gibbsfromncis opened #2241 "[2][Style-Guide] Update antd version"
Current Style-Guide's antd version: `3.10.0`
Current antd verson: `3.15.2`

https://github.com/ant-design/ant-design/releases

[2018-11-30 00:43] gibbsfromncis commented on #2239
@startailcoon estimate: 1h

[2018-11-30 07:21] gibbsfromncis commented on #1857
@sschiessl-bcp
<img width="1680" alt="screenshot 2018-11-30 08 20 54" src="https://user-images.githubusercontent.com/35899973/49274525-f21c6480-f478-11e8-9dcf-6597a23f4324.png">
<img width="1680" alt="screenshot 2018-11-30 08 20 38" src="https://user-images.githubusercontent.com/35899973/49274526-f2b4fb00-f478-11e8-90bc-af0d447bb2b0.png">
<img width="1680" alt="screenshot 2018-11-30 08 20 20" src=

[2018-11-30 12:54] akledirs opened #2244 "[4] Wallet Merchant Protocol not work"
In [last documentation](http://dev.bitshares.works/en/master/development/use_cases/uc_merchant.html#wallet-merchant-protocol) describe using this function, but my test url show that feature work only in very old clients. In new - error 404.
171121: [work](https://old.rudex.org/#/invoice/Ch8t3vKjc9Ydc6qskfBoDZAen1fdUAtukiLyoeeG2veD1Dv6DzGDctrDoQkUB4dBMoQn8qoon3TgbdKHdJP9yFK3r443uTpEUYHPSbwUiWJRnwi1

[2018-11-30 14:16] #1857 closed

[2018-11-30 15:16] sschiessl-bcp commented on #1857
https://develop.bitshares.org/#/spotlight

[2018-11-30 17:33] gibbsfromncis commented on #1857
@sschiessl-bcp did you forgot to put your hours or it is OK?

[2018-12-01 17:13] oldbusdriver commented on #2224
can I claim this?

[2018-12-01 18:15] startailcoon commented on #2244
Invoice feature was removed in PR https://github.com/bitshares/bitshares-ui/pull/2053

Is this a desired feature to keep? If so, we should introduce it once again, with updates.

[2018-12-01 18:20] startailcoon commented on #2240
Would be a cool feature if possible to implement. The lack of Stop-Loss and Take-Profit orders in core is a significant limitation for the platform.

This would require the wallet to be online to work, right?

[2018-12-01 18:30] startailcoon commented on #2234
Nice!

[2018-12-01 18:32] startailcoon commented on #2149
@wmbutler, could you clarify your thoughts on this matter?

[2018-12-01 18:47] startailcoon commented on #2224
@oldbusdriver it's yours. If possible, I'd like to see this in the next release.

[2018-12-01 18:51] #2220 closed

[2018-12-01 19:45] startailcoon commented on #1939
Is there progress on this?
As it's a template issues I guess it doesn't need a specific milestone.

[2018-12-01 19:51] startailcoon commented on #1908
Are we just waiting for integration on the suggested structure on this?

[2018-12-01 19:55] wmbutler commented on #2100
Status...

[2018-12-01 19:56] wmbutler commented on #1985
I doubt it. There will only be a few hundred per second max.

[2018-12-01 19:59] wmbutler commented on #2145
I'd suggest you open other issues for these and keep this issue just about the intervals

- right side: add toggle for #2081, including chart size
- adjacent to right side: add a toggle that allows to hide and display the currently visible header in trading view
- remove the interval settings in footer

[2018-12-01 20:02] startailcoon commented on #1985
To better showcase the functionality of this I would suggest that we rework the "Explorer -> Blockchain" page with something like what is done on clients.clockwork.gr/decentralized/#/

If we redesign the `Info` and `Recent blocks` to look like what clockwork has done.

Right now it's not showing anything relevant since the blocks have so many transactions in them that they can't be visible.

[2018-12-01 20:06] sschiessl-bcp commented on #1908
Yes

[2018-12-01 20:30] wmbutler commented on #1828
There is too much risk and liability associated with this issue based on the comments above.

[2018-12-01 20:30] #1828 closed

[2018-12-01 20:31] wmbutler commented on #1625
@nikandrovalex ?

[2018-12-01 20:32] wmbutler commented on #1578
@kapeer42 ?

[2018-12-01 20:33] wmbutler commented on #354
@nikandrovalex UX opportunity.

[2018-12-01 20:47] #1911 closed

[2018-12-01 20:50] startailcoon opened #2249 "Removal of Legacy Gateway/Bridge"
This issue should be for removing the legacy Deposit/Withdraw section. Missing features on the Gateway/Bridge modal should move moved over to be implemented there instead. Once done everything connected to this section should be cleaned out.

### Features Missing
Do we need to move something?

[2018-12-01 20:54] startailcoon commented on #2151
@sschiessl-bcp any solutions on this issue by your guys?

[2018-12-01 20:55] wmbutler commented on #2150
@yura5hem It's yours. Please review a few exchanges and report back with font sizes and maybe even font faces. Two hours allocated.

[2018-12-01 20:56] wmbutler commented on #2149
I'll claim this.

[2018-12-01 23:04] wmbutler commented on #2149
Here is my proposed change. I think what was most confusing was the hover color. Typically, I'd expect a higher contrast for the selected item. The midnight view makes higher contract virtually impossible with a background color, so I updated the style guide to reflect only a blue color for active/hover states on the menu items. I think it looks pretty good.

It took me two hours to hunt through a

[2018-12-01 23:16] wmbutler commented on #2149
https://github.com/bitshares/bitshares-ui-style-guide/pull/4

[2018-12-01 23:16] #2149 closed

[2018-12-01 23:49] manikey123 commented on #2084
Updated the code based on the comments received from #2183
https://github.com/bitshares/bitshares-ui/pull/2250

[2018-12-02 17:35] startailcoon commented on #2190
This seems to be a bitsharesjs issue.
Blocked by https://github.com/bitshares/bitsharesjs/issues/34

[2018-12-02 18:48] startailcoon commented on #1547
### OP 44, fba_distribute
I need some suggestions on how we should display this OP.

OP is virtual, and contains the following

[code]

It contains the account, amount and a link to the fba asset id.
Fetching the data from the fba asset id to fetch the details for it.

What does this operation actually do? Where does the asset go that is distributed? Is the following enough information and is it c

[2018-12-02 22:46] yoshimizusano opened #2253 "CORS network error has to do with Assert Exception Error???"
**Describe the bug**
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://gateway.winex.pro/api/v0/ol/support/trading-pairs.

**To Reproduce**
1. Open Firefox Quantum 63.0.3 (64bit) on Fedora linux 28.
2. Go to https://wallet.bitshares.org
3. Hit F12 key
4. See the CORS error in the console log.
5. Go to the Dashboard.
6. Adjust one of the margin po

[2018-12-03 06:32] gibbsfromncis commented on #2149
@wmbutler Unfortunately your changes will work but only till next update from my side, because you changed source file instead of config file which uses to build themes.

There is instruction how to update styles on the right way - https://github.com/bitshares/bitshares-ui-style-guide/blob/master/INSTRUCTIONS.md#how-to-manage-styles-of-style-guide-components-

I'll open new issue to fix it

[2018-12-03 06:32] gibbsfromncis opened #2254 "Dropdown improvements fix"
Based on this comment https://github.com/bitshares/bitshares-ui/issues/2149#issuecomment-443602956 to issue #2149 I need to fix it in the proper way

[2018-12-03 09:55] clockworkgr commented on #2190
woohoo...i was right...getting better at this

[2018-12-03 10:47] alexandr-masl commented on #2100
HI,
a lot of time took the investigation, because the problem, there is not only in sorting.
there comes a wrong data.
So it was necessary to do -RESEARCH and REFACTORING.
I'm very close now,  will finish soon.
Thank you, best regards.

[2018-12-03 10:49] alexandr-masl commented on #2093
Hi,
still waiting  for compensation.
Thanks in advance
best regards.

[2018-12-03 14:13] froooze commented on #1705
Feed didn't not come up in my UI, had to search in WLS. I am half trough the translation, had some problems to lack of documentation. Translation will be finished next week. Progress can be seen at transifex: https://www.transifex.com/bitshares/bitshares-ui-1/viewstrings/#de/locale-enjson/150475728

[2018-12-03 14:19] #2221 closed

[2018-12-03 14:20] sschiessl-bcp commented on #2221
3 hours for my adjustments

[2018-12-03 14:33] yoshimizusano commented on #2253
Thank you for your response. NONE of the assets of debt position can be adjusted. It is not only bitUSD (bitSilver either). I find it very buggy and frustrating!!!

[2018-12-03 14:40] yoshimizusano commented on #2253
![screenshot](https://user-images.githubusercontent.com/45410740/49380321-6a845f00-f6df-11e8-850f-da5431152c1a.png)

[2018-12-03 15:11] #2084 closed

[2018-12-03 15:13] sschiessl-bcp commented on #1997
The PR for this is still open ... looking at it now

[2018-12-03 15:37] #1850 closed

[2018-12-03 16:31] startailcoon commented on #2253
There are many updates to the application this milestone due to the recently globally settled assets. If I'm not mistaken, I think this has been fixed in the current development branch.

[2018-12-03 17:02] wmbutler commented on #2149
Oops. Sorry. I'll review.

[2018-12-03 17:09] wmbutler commented on #2149
Your instructions are a bit ambiguous. Every directory is /dark/ ?

![screen shot 2018-12-03 at 11 08 43 am](https://user-images.githubusercontent.com/1254810/49389420-e08ec300-f6eb-11e8-92f6-085fa143b347.png)

[2018-12-03 17:12] startailcoon commented on #2184
We need an updated UX for a good landing page. My vision for this is that the user should have quick details in short from different parts of the application, making them aware of things without having to navigate directly to them.

• News, latest 5 items.
• Accounts quick info list (account name + value)
• Workers, latest 5 items. Not expired or hidden. Highlighted if not voted for 180 days
• Pro

[2018-12-03 20:43] yoshimizusano commented on #2253
Then it only means one thing. This is a bug. Bug is still there. Please fix it as soon as possible. Thousands of us are fleeing to XLM and other coins due to the bugs like this. People like me usually do not report bugs unless one is really determined to do so.

[2018-12-03 21:18] sschiessl-bcp commented on #2093
The respective invoice is currently being processed

[2018-12-04 02:55] gibbsfromncis commented on #2135
@startailcoon Estimate: 2h

[2018-12-04 03:33] TechsUsInc opened #2256 "Activity Tab- Doesn't auto-populate recent transactions"
**Describe the bug**
A clear and concise description of what the bug is.
1. After install of 2.0.181129 no recent transaction history appears in the activity tab.
![no_transactions_capture](https://user-images.githubusercontent.com/18186497/49417225-8cfb9400-f742-11e8-9579-99ca5f274efe.JPG)
![no_transactions_capture_2](https://user-images.githubusercontent.com/18186497/49417226-8cfb9400-f742-11e8-

[2018-12-04 05:08] TechsUsInc opened #2257 "Auto node switch/Activity tab bug"
**Describe the bug**
2nd time use after installation of release 2.0.181129.
Extremely long node latency check; Activity tab shows recent transactions during latency check.
When auto-node connection is complete, recent transaction history disappears from the activity tab for a short time.
See log in comments below.
Please see #2256 , #1388

**To Reproduce**
Steps to reproduce the behavior:
1. Befor

[2018-12-04 07:49] TechsUsInc opened #2258 "White tradingview screen"
**Describe the bug**
Release 181121-rc2 at https://staging.bitshares.org yeilds a White Tradingview screen in Exchange tab for any asset. Please see last 20 log in comments below.
Potential Privacy tracking alert originating from:
1. api.gdex.io
2. ol-api1.openledger.info
3. gateway.winex.pro
I don't recall every seen any potential privacy tracking in the past.

**To Reproduce**
Steps to reproduce

[2018-12-04 09:09] sschiessl-bcp commented on #2135
Screeeens :)

[2018-12-04 09:09] #2135 closed

[2018-12-04 09:11] sschiessl-bcp commented on #2239
Done

[2018-12-04 09:11] #2239 closed

[2018-12-04 09:12] sschiessl-bcp commented on #2100
@alexandr-masl is your fix already completed? I'd like too see it either way!

[2018-12-04 09:17] alexandr-masl commented on #2100
Hi,
Yes- it's ok with issuer column,
But there is another problem in 'SYMBOL' column- the sorter can't see the 'bit' prefix, and now it is sorts by the first symbol after the prefix.
Also in search- you can't filter Assets including the prefix, only by the first smbol after.
Will you also fix that by yourself ?

![screen shot 2018-12-04 at 11 13 27 am](https://user-images.githubusercontent.com/438

[2018-12-04 10:12] sschiessl-bcp commented on #2240
Yes, continuous connection would be necessary

[2018-12-04 11:03] sschiessl-bcp commented on #2091
This seems to be caused by a node that is out of sync (not the user's clock).

[2018-12-04 11:03] sschiessl-bcp commented on #1826
This seems to be caused by a node that is out of sync (not the user's clock).

[2018-12-04 11:03] sschiessl-bcp commented on #2091
Hours included in https://github.com/bitshares/bitshares-ui/issues/1826

[2018-12-04 11:03] #2091 closed

[2018-12-04 11:06] #1826 closed

[2018-12-04 11:07] #2100 closed

[2018-12-04 12:11] sschiessl-bcp commented on #1985
I'd be down testing this feature, also from the architectural implementation on the Explorer. If it turns out feasible, can be extended to Exchange

[2018-12-04 12:16] sschiessl-bcp commented on #2184
Voting should not be highlighted that prominently on landing page. It could be a mere panel that gives a "hightlights ticker", with voting reminder or similar but no details, and on click expands into the voting panel resulting from https://github.com/bitshares/bitshares-ui/issues/1934

[2018-12-04 12:19] sschiessl-bcp commented on #2100
@alexandr-masl I'd say open a new issue and describe how the functionality should be!

[2018-12-04 12:50] sschiessl-bcp commented on #2151
Still under discussion, you can follow the investigation here:
  https://github.com/blockchainprojects/bitshares-ui/pull/49

[2018-12-04 13:00] clockworkgr commented on #1985
fwiw, the way it roughly works on my page is as follows....

Display a table component:

Table rows are bound to an array of operations (each table row ->  1 operation object)

Start with an empty array.

On each incoming block, extract list of operations, add them in a different array as pending.

Run a setInterval function that pops one op from the pending array and pushes it to the displayed op

[2018-12-04 15:31] wmbutler commented on #2172
Should I just split the payment between @toi16 @thehapax @TechsUsInc @bieglich equally?

[2018-12-04 15:38] sschiessl-bcp commented on #2172
The first post contains the distribution in the end, sorry about marking that not clearly

[2018-12-04 16:39] startailcoon commented on #2253
Next release will have this fixed. No need to panic.

[2018-12-04 16:39] #2253 closed

[2018-12-04 19:13] startailcoon opened #2259 "[2] Enable Withdraw EOS.* Gateway Asset"
## To enable OpenLedger EOS assets
Open Ledger has a asset type name of EOS.*
For example,
- EOS is named EOS.EOS
- IQ is named EOS.IQ

While other gateways does not have the prepended EOS name. This requires some refactoring of the code to enable EOS.* assets pairing.

This issue is to enable withdraw of said asset through the Gateway modal.

[2018-12-04 19:26] startailcoon opened #2260 "[2][MikhailKavalenka] Deposit EOS.* Gateway Assets"
### Enable Deposit OpenLedger EOS assets

Open Ledger has a asset type name of EOS.*
For example,
- EOS is named EOS.EOS
- IQ is named EOS.IQ

While other gateways does not have the prepended EOS name. This requires some refactoring of the code to enable EOS.* assets pairing.

This issue is to enable **deposit** of said asset through the Gateway modal.

[2018-12-04 20:58] alexandr-masl opened #2263 "Explore Assets - Sorting in SYMBOL column by 'bit'- prefix"
in 'SYMBOL' column- the sorter can't see the 'bit' prefix, and now it is sorts by the first symbol after the prefix.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Explore Assets'
2. Click on 'sort in column- SYMBOL'
3. See error- the sorter can't see the 'bit' prefix, and now it is sorts by the first symbol after the prefix.

![49431447-35970b80-f7b6-11e8-8298-30e0a3a1f4a6](https://

[2018-12-04 20:59] alexandr-masl commented on #2263
Can i finish this issue ?
Thanks in advance

[2018-12-04 21:07] gibbsfromncis commented on #2135
@sschiessl-bcp soooooryyyy :)

[2018-12-04 21:10] gibbsfromncis commented on #2149
@wmbutler my bad.. Updated.

https://github.com/bitshares/bitshares-ui-style-guide/blob/master/INSTRUCTIONS.md

[2018-12-04 21:13] gibbsfromncis commented on #2149
@wmbutler There are few ways to get your task done.

1) Update specific ant's variable which is responsible for that.
2) If ant has no variable to handle your situation you should do the next:
- Provide your own variable for Select (ant calls it Select)
- Add override of Select for specific state you need

@wmbutler Lets make it more faster - give me color you need, I'll update it and we will keep

[2018-12-04 21:19] gibbsfromncis commented on #268
@sschiessl-bcp can you provide a link with transaction's specification (new committee create)? I want to know what are the fields should be used for that

[2018-12-04 23:59] gibbsfromncis opened #2264 "[1][Exchange] Allow Fee for orders to be changed correctly"
<img width="437" alt="screenshot 2018-12-05 00 58 07" src="https://user-images.githubusercontent.com/35899973/49480924-d58d7d00-f828-11e8-98c8-94abf6f8c2a5.png">
1) MarketFee displays incorrect
Should be `1%` from `Total`, but it is still `0` instead of `100`.

Also this field is editable. Should be disabled.

2) No ability to select "Fee" instead of BTS (do not pay attention to this screenshot be

[2018-12-05 05:53] clockworkgr commented on #2264
last part is correct since you need the full fee available to create the Tx...LTM simply means you get it back AFTER the fact

[2018-12-05 06:38] gibbsfromncis commented on #2264
@clockworkgr right. Fixed

[2018-12-05 06:50] gibbsfromncis commented on #2264
@clockworkgr check please last 2 options I've put

[2018-12-05 07:47] sschiessl-bcp opened #2265 "Display asset white and blacklist authorities and markets"
Reactivate old displaying feature

[2018-12-05 07:47] sschiessl-bcp commented on #2265
![image](https://user-images.githubusercontent.com/33128181/49498155-689ad700-f86a-11e8-97a6-d5071bef370a.png)

Added on bottom of asset info permissions

[2018-12-05 09:01] TechsUsInc opened #2266 "Personalize- inactive tooltips"
**Describe the bug**
Inactive tooltips in the Personalize modal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange tab
2. Click on Personalize clog
3. Hover over a "?" or "i" tooltip
4. See error

**Expected behavior**
Personalize modal active tooltips when hovered over

**Desktop (please complete the following information):**
 - OS: Windows 8.1
 - Browser: Opera
 - Version 2.0.1

[2018-12-05 09:19] sschiessl-bcp opened #2267 "Enhancement of Collateral Bid table"
- The collateral bid table can not be rendered properly in mobile view due to wrong index in Tabs component
- The column choice to display for tiny screen is off
- Bid price should be displayed when creating a new bid

[2018-12-05 09:29] sschiessl-bcp commented on #2265
Closed by https://github.com/bitshares/bitshares-ui/commit/9499d5644c605c4915331ef553b0b20405cdbe91

Took 1

[2018-12-05 09:29] #2265 closed

[2018-12-05 09:34] #2259 closed

[2018-12-05 09:52] TechsUsInc opened #2268 "Debug report-last 20 logs entries & screenshot procedure"
**Describe the bug**
1. Clicking on the last 20 log entry blue button does not display the last 20 log entries. Clicking on +last
    20 log entries does.
2.Consider removing the text in the screenshot menu "RIGHT CLICK IN IMAGE PREVIEW -> COPY". Right clicking doesn't display anything; clicking on +screenshot produces the image.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Repor

[2018-12-05 10:10] TechsUsInc opened #2270 "Add tooltips to the node access pop up, Report modal, and Help modal"
**Is your feature request related to a problem? Please describe.**
Please consider adding hoverable tooltips to:
1. The node access pop up informing the user to click for advanced node settings or to enable/disable
    auto node switching
2. Report modal informing the user to click for error reporting tools
3. Help modal informing the user to click for self help section

**Describe the solution yo

[2018-12-05 10:22] #2224 closed

[2018-12-05 12:22] xeroc commented on #2189
This is the bitshares-ui repo. Hence, the opening post means to extend the reference wallet to allow easier deployment in U.S. territory/juristiction. Of course, the Blockchain is unaffected!

[2018-12-05 20:24] #2200 closed

[2018-12-05 21:07] sschiessl-bcp commented on #268
Create Operation
https://github.com/bitshares/bitshares-core/blob/5b2309931c441412234c3bd09f39b41969c74dcc/libraries/chain/include/graphene/chain/protocol/committee_member.hpp#L37

Update Operation
https://github.com/bitshares/bitshares-core/blob/5b2309931c441412234c3bd09f39b41969c74dcc/libraries/chain/include/graphene/chain/protocol/committee_member.hpp#L57

Only significant parameter is the URL

[2018-12-05 21:19] sschiessl-bcp commented on #1939
Apologies for the delay here ...

[2018-12-06 05:48] cloud-8 commented on #2232
Agree right now you really need to:

1. Know Bitshares exists and has a smartcoin function built into the wallet
2. Find that function somewhere in the wallet
3. Read docs about how it works from somewhere that is not your wallet, likely the poorly documented (until recently) Bitshares.org website.

So having a better wizard walkthrough in the wallet itself would be great and also some explainer t

[2018-12-06 05:50] cloud-8 commented on #2244
It is described in the Bitshares docs and is a function of the protocol, yes it should be supported.

[2018-12-06 07:46] manikey123 opened #2271 "bitshares - lifetime account - standard fees are applied instead of lifetime fees"
**Describe the bug**
A clear and concise description of what the bug is.
standard fees are applied instead of lifetime fees

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org
'
2. Click on --Dashboard -->Activity
Select Transaction type = Transfer
3. Scroll down to view users transaction info including fee
4. See error

**Expected behavior**
A clear and conci

[2018-12-06 08:13] manikey123 commented on #2266
![image](https://user-images.githubusercontent.com/22608398/49570503-a68c0f80-f8eb-11e8-8930-f82ac3fdb481.png)
I can see the message popup

[2018-12-06 08:54] clockworkgr commented on #2271
The fee displayed is the fee for the operation. It is the sender that paid for it. Not the receiver.

All fees are exactly the same. The difference is that 80% goes to referrer and registrar for Standard members while LTM members get the 80% back as cashback in their cashback vesting balance. But the initial fee payment is the same.

[2018-12-06 10:46] sschiessl-bcp commented on #2232
Style Guide now contains the "Steps" component, could be nice to be used.

[2018-12-06 11:34] MikhailKavalenka commented on #2260
@startailcoon , I can take this issue.

[2018-12-06 13:55] #1927 closed

[2018-12-06 13:57] gibbsfromncis commented on #1927
@startailcoon added additional 0.5 hours

[2018-12-06 14:00] gibbsfromncis commented on #1927
@kapeer42 please do not forget to say thank you to @sschiessl-bcp. He took care of your task and we finally closed it. Please be more responsible next time when you take important task which blocks us.

[2018-12-06 14:47] sschiessl-bcp commented on #2260
The work for withdrawal can be seen here
https://github.com/bitshares/bitshares-ui/issues/2259

[2018-12-06 15:47] sschiessl-bcp opened #2274 "[8][multiple][2.0.181212-rc1] Integration tests"
<h1>Looking for Integration testers</h1>

This issue is to track integration tests of the mentioned release candidate. Targets are the most popular platforms
 - Mac
 - Windows 7 / 10
 - Linux
 - Android
 - iOS

and for each for the most popular browsers
 - Chrome
 - Firefox
 - Opera
 - Edge
 - Standard Android / iOS browser

Please indicate which of those you are able to test, expectancy is 0.5 ho

[2018-12-06 17:23] gibbsfromncis opened #2275 "Landing Page Dashboard"
Mockup of concept:

![dashboard copy](https://user-images.githubusercontent.com/35899973/49597493-d8998200-f97c-11e8-87ed-6f7d95fc8650.png)

Concept:

The idea is to have Dashboard as the home page where users will be able to collect widgets they really need and wants to see.

Examples of widgets:
- Chart of History Price
- Send Form
- Balance
- Portfolio
- Transactions History
- Voting
etc.

The

[2018-12-06 17:24] gibbsfromncis commented on #2184
@startailcoon @sschiessl-bcp please take a look - https://github.com/bitshares/bitshares-ui/issues/2275

[2018-12-06 20:34] startailcoon commented on #2184
@gibbsfromncis why did you open a similar issue as this one by its own? I like the concept you present there, so I will close this issue and move the discussion to issue #2275 instead to keep consistency.

cc @nikandrovalex

[2018-12-06 20:36] #2184 closed

[2018-12-06 20:36] gibbsfromncis commented on #2184
@startailcoon Your idea is cool and it was the base for my idea. But I do not want to mislead anyone who will start to read this issue. Also you proposed nice widgets and I will copy/paste them into my issue.

[2018-12-06 20:40] gibbsfromncis commented on #2275
There are cool widgets list for "DEFAULT" dashboard to open potential of BTS and attract users attention for important features:

• News, latest 5 items.
• Accounts quick info list (account name + value)
• Workers, latest 5 items. Not expired or hidden. Highlighted if not voted for 180 days
• Proxies, 4 largest + 2 newest proxies. If using proxy, highlight if not changed for 180 days. Dismissable.

[2018-12-06 20:40] startailcoon commented on #2275
I like the concept, as started on the previous issue that is now closed in favour of this.

We should keep discussing to make sure we have all necessary details before we start working to make sure we don't do unnecessary work.

I would like to add
- Deposit possibility
- Withdraw possibly
- Vesting balace

[2018-12-06 20:40] sschiessl-bcp commented on #2275
The grid I have evaluated in the past and found a nice one that allows the user to move the widgets around and be responsive, which would fit nicely to your idea!

So, when can we have it? Yesterday?

[2018-12-06 20:43] sschiessl-bcp commented on #2275
For the widgets that we have already modals for (e.g. Deposit and Send) a simple  button that opens the would be sufficient to start out with as widget.

[2018-12-06 20:46] gibbsfromncis commented on #2275
@sschiessl-bcp Exactly. I want to use react-grid-layout it for this idea.

@startailcoon while we are discussing important widgets and Default Set for dashboard I would like to start to work on another important things:
1) Design of grid and widgets layout
2) Design widgets selection window
3) Design widget edit window

I see the process of work this way:
1) Alex designs grid
2) I start to work on

[2018-12-06 20:50] ahdigital commented on #2275
Cool. Good start.

Just a thought - whilst this seems suitable for existing users with some data attributed to them, what about first timers with:

- No balance
- No assets in portfolio
- Nothing to transfer
- Nothing to withdraw
- No transaction history

Appreciate this is a simple wireframe but I would like to see some consideration for these different user scenarios on some more developed itera

[2018-12-06 21:01] sschiessl-bcp commented on #2275
@ahdigital good point!

In those cases each widget could have a sensible fallback, e.g. withdrawal widget gives information about gateways

[2018-12-06 21:03] sschiessl-bcp commented on #2275
Here is the `BitSharesGridLayout` I made back then (don't mind the styling)

https://github.com/bitshares/bitshares-ui/blob/1640_ReactGridLayout/app/components/Utility/BitSharesGridLayout.jsx

I was able to facilitate the usage quite a bit

[2018-12-06 21:17] sschiessl-bcp commented on #2266
This is faulty behavior of the ReactTooltip. We are transitioning to ANT Tooltips with https://github.com/bitshares/bitshares-ui/issues/2137

[2018-12-06 21:17] #2266 closed

[2018-12-06 22:15] #2270 closed

[2018-12-06 22:16] sschiessl-bcp commented on #2270
Took 0.5, played around with tooltip options

[2018-12-06 23:32] TechsUsInc commented on #2266
Yes Sir. I still don't see the message in 2.0.181212-rc1 or the latter release.

[2018-12-07 06:31] TechsUsInc commented on #2274
My OS:
  - Windows, Version: 8.1

My Browser:
 Opera 56.0.3051.116

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

Specific components:
 - [ ] #2221

[2018-12-07 08:06] sschiessl-bcp commented on #2266
develop.bitshares.org

Will transition with the next release cycle

[2018-12-07 09:38] sschiessl-bcp opened #2276 "[2.0.181212-rc1] Integration testing by TechsUsInc"
For easier overview https://github.com/bitshares/bitshares-ui/issues/2274

[2018-12-07 09:40] sschiessl-bcp commented on #2274
@TechsUsInc Please go ahead with:
- Windows 8.1 / Opera
- Windows 8.1 / Chrome
- Windows 8.1 / Firefox

I assume for Chrome and Firefox you are also using latest version? For Linux, which distribution are you using? What do you mean with Android as Browser?

Please use this issue for your testing: https://github.com/bitshares/bitshares-ui/issues/2276
Copy the template for each pair in there as wel

[2018-12-07 10:39] akledirs opened #2277 "Warning Notification for low-collateralized MPA"
Asset holders may not notice for a long time that their asset has a low level of collateral. I propose to make the option enabled by default, which will show a periodical pop-up hint when the asset's collateral ratio drops below 1.25 for any bitasset/MPA in portfolio.

[2018-12-07 12:54] gibbsfromncis opened #2278 "[2][gibbsfromncis] Dashboard UX"
This is subtask for [Dashboard concept](https://github.com/bitshares/bitshares-ui/issues/2275)

This task is to design the following things:
1) Empty dashboard in Preview Mode
2) Dashboard with "base" widget in Preview Mode
3) Dashboard with "base" widget in Edit Mode
4) Add Widget modal with widgets preview
5) Configure Widget modal

[2018-12-07 12:57] gibbsfromncis commented on #2278
@startailcoon this task is for UX only for Alex to create basics of Dashboard. The description maybe is not so clear but Alex know what he should we because we had a call to discuss it. If you have any questions feel free to ask.

[2018-12-07 13:15] nikandrovalex commented on #2207
Hi guys. Please check and approve the design of the alert.

I spent 3 hours on this task.

![image](https://user-images.githubusercontent.com/43581164/49649523-15738080-fa32-11e8-99fe-2377ed2caf99.png)

ZEPPLIN - https://app.zeplin.io/project/5b9ad751d8068c34a1715ad6/dashboard?seid=5c07ca24bbd4745ef2bb4d98

[2018-12-07 13:34] clockworkgr opened #2279 "[2.0.181212-rc1] Integration testing by Clockwork"
OS:
Windows 10

Browser:
Chrome Version 70.0.3538.110 (Official Build) (64-bit)

Issue:
Collateral bids component in asset page does not update on direct route change via URL.

E.g.
You are at page: https://wallet.bitshares.org/#/asset/CNY

You change the URL to: https://develop.bitshares.org/#/asset/USD and hit enter.

Collateral bids component appears in layout but remains empty

[2018-12-07 14:02] toi16 commented on #2274
My OS:
Windows 10, Version: 1803 (OS Build 17134.407)

My Browser:
Chrome, Version 71.0.3578.80 (Official Build) (64-bit)
Firefox, Version: 63.0.3 (64-bit)
Edge, Version: Microsoft Edge 42.17134.1.0

[2018-12-07 14:03] sschiessl-bcp commented on #1468
I ll be evaluating this again, I think its possible without ES

[2018-12-07 14:07] sschiessl-bcp opened #2280 "Balance / In Orders Summary"
This issue is for brainstorming, and that we can get create some order and work out what we gonna implement

**Related**
- https://github.com/bitshares/bitshares-ui/issues/1468
- https://github.com/bitshares/bitshares-ui/issues/1666
- https://github.com/bitshares/bitshares-ui/issues/2140

[2018-12-07 14:15] sschiessl-bcp opened #2281 "[2.0.181212-rc1] Integration testing by toi16"
Reference https://github.com/bitshares/bitshares-ui/issues/2274

[2018-12-07 14:16] sschiessl-bcp commented on #2274
@toi16 Please go ahead with

- Windows 10 / Chrome
- Windows 10 / Firefox

Edge will still not work, not necessary.

Please use this issue for your testing: #2281
Copy the template for each pair in there as well, this should help with the overview

[2018-12-07 14:48] toi16 commented on #2281
My OS:
Windows 10, Version: 1803 (OS Build 17134.407)

My Browser:
Chrome, Version 71.0.3578.80 (Official Build) (64-bit)

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee,

[2018-12-07 14:49] toi16 commented on #2281
My OS:
Windows 10, Version: 1803 (OS Build 17134.407)

My Browser:
Firefox, Version: 63.0.3 (64-bit)

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

[2018-12-07 15:42] toi16 opened #2282 "[2.0.181212-rc1][1.5] Integration testing by toi16 - File Manager Issue loading bin file"
**Describe the bug**
When restoring a key file from a backup the file manager does not load the bin file the first time you select it. You need to re-select the bin file a second time from the file manager before it is loaded into the login modal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'padlock'
2. Click on 'padlock' (opens login modal)
3. Select Login with 'Key file (local wa

[2018-12-07 15:44] toi16 commented on #2281
Bug Report Logged: [2.0.181212-rc1] Integration testing by toi16 - File Manager Issue loading bin file https://github.com/bitshares/bitshares-ui/issues/2282

[2018-12-07 16:44] toi16 opened #2283 "[2.0.181212-rc1] Integration testing by toi16 - Margin Table Alignment"
**Describe the bug**
When viewing the Margin Positions table the 'TOTAL(BTS)' column header does not align with the column row data.
Row data is right justified, but appears that the column width is too wide.
The spacing between column headings is not uniform.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard'
2. Click on 'Margin Positions' Tab
3. See alignment issues

**Expec

[2018-12-07 16:45] toi16 commented on #2281
Bug Report Logged: [2.0.181212-rc1] Integration testing by toi16 - Margin Table Alignment. https://github.com/bitshares/bitshares-ui/issues/2283

[2018-12-07 17:35] toi16 opened #2284 "[2.0.181212-rc1][1] Integration testing by toi16 - Settlement UI Issues"
**Describe the bug**
A. When using the 'Settle Instantly' feature in the exchange the 'Request settlement of USD' modal allows you to try and settle more bitUSD than you actually have in your balance. You are able to confirm the transaction , but then get a 'Failed to broadcast the transaction' error.

B. When using the Margin Positions table to adjust a margin on bitUSD (ADDING A NEW MARGIN) you

[2018-12-07 17:36] toi16 commented on #2281
Bug Report Logged: [2.0.181212-rc1] Integration testing by toi16 - Settlement UI Issues. https://github.com/bitshares/bitshares-ui/issues/2284

[2018-12-07 17:44] toi16 commented on #2282
I have just tested this using the Firefox Browser and the key file loads correctly, so this appears to be specific to Chrome.
Chrome did not show any console log errors.

[2018-12-07 18:12] toi16 commented on #2281
With regards to the 'Paper Wallet' feature, I would suggest making the sentence:
 'If the wallet is unlocked, the private keys are added as well.'
more prominent to the user so that they are clear that your private keys are printed if your wallet is unlocked.
This could be implemented by using a different font colour and background to hi-light it.

Also on the subject of printing the resulting PDF

[2018-12-07 18:53] nikandrovalex commented on #2238
Hi guys. @gibbsfromncis @startailcoon Please check and approve the design of the notify.

I spent 1 hours 35 min on this task.
![image](https://user-images.githubusercontent.com/43581164/49666909-18866500-fa62-11e8-93b1-8cedf8184342.png)

ZEPLIN - https://app.zeplin.io/project/5b9ad751d8068c34a1715ad6/dashboard?seid=5c0ac1661c54935ee653181e

[2018-12-07 18:59] dnotestein opened #2285 "[1.5] BlockTrades bridge is broken because wallet tries to use URL to winex"
**Describe the bug**
When you go to legacy deposit-withdraw page to access the blocktrades bridge, it uses an invalid url to winex.pro instead. Then it reports that blocktrades.us is not responding.

**To Reproduce**
See above

**Expected behavior**
If it used the correct URL, it would show the blocktrades bridge instead of the error.

**Screenshots**
I can't, because I tried switching to "Winex"

[2018-12-07 19:09] nikandrovalex commented on #30
Hi @sschiessl-bcp Please check, I correctly understood the task?

![image](https://user-images.githubusercontent.com/43581164/49667619-48cf0300-fa64-11e8-88e1-40341d7d6cae.png)

[2018-12-07 19:14] startailcoon commented on #2284
These are two issues in one really. Well described by OP.

- Once bit asset is in GS, change margin position should be disabled. Settle should be instant settle.
- You shouldn't be able to use instant settle if you have a zero balance.

[2018-12-07 19:20] nikandrovalex commented on #2101
@sschiessl-bcp please check
![image](https://user-images.githubusercontent.com/43581164/49668105-d2330500-fa65-11e8-9490-877cf7c256a9.png)

[2018-12-07 19:23] startailcoon commented on #2285
Can verify that something weird is going on here. We should try to fix this, even though we will soon remove the legacy functions, we should make sure they work as expected until then.

[2018-12-07 19:24] nikandrovalex commented on #2101
@sschiessl-bcp  I spent 4 hours and 38 minutes on this task. There was a lot of incomprehensible, but @gibbsfromncis  helped me, thanks)

[2018-12-07 19:34] dnotestein commented on #2285
If the legacy deposit is removed, I don't see another way to access the blocktrades bridge. Is there some way I'm missing?

[2018-12-07 19:35] sschiessl-bcp commented on #1857
Was in the PR, 6 hours

[2018-12-07 19:38] startailcoon commented on #1857
Sorry, missed checking your PR comments for it.
Great work 👍

[2018-12-07 19:55] startailcoon commented on #1999
I can't reproduce this.

[2018-12-07 20:41] clockworkgr commented on #1999
Re-open, can reproduce not by navigating to activity but by refreshing once there.

![image](https://user-images.githubusercontent.com/6826762/49671602-1ed00d80-fa71-11e8-8a86-3aef352ea217.png)

[2018-12-07 21:36] sschiessl-bcp opened #2287 "Google Analystics"
Somehow made it back in, presumably new TradingView version

![image](https://user-images.githubusercontent.com/33128181/49673943-8a65ab00-fa70-11e8-8f72-b8595dba4d02.png)

![image](https://user-images.githubusercontent.com/33128181/49673929-7de15280-fa70-11e8-8ef0-c922ab344eb0.png)

[2018-12-07 22:21] gibbsfromncis commented on #2101
@nikandrovalex about estimates ping @startailcoon

@startailcoon added .5h for a call to sync with Alex

[2018-12-07 22:48] abitmore opened #2288 "[1] Show reason why a proposal has failed to execute"
**Is your feature request related to a problem? Please describe.**
Now a failed proposal only shows a "failed" status but does not show the reason. With the latest core release, it's possible to get the reason: `proposal_object` now have a `fail_reason` field.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considere

[2018-12-08 06:58] cloud-8 commented on #2140
Yes as per @fractalnode above, the Open Orders tab does differentiate between what you want to Sell and what you want to Buy, from that it is possible to determine what asset I actually have. Therefore I dont see why a summary of Open Orders should not be possible.

[2018-12-08 07:00] cloud-8 commented on #2280
Not sure specifically what this task is trying to achieve but the main comment I have here is that we do need an Open Orders summary, right now it is not possible to know the total in specific assets that you have elected to Buy or Sell (even though Open Orders does differentiate individual orders by what you are buying or selling). Important feature.

[2018-12-08 11:55] yura5hem commented on #2150
![coinbene](https://user-images.githubusercontent.com/2905901/49685454-34364d80-faec-11e8-8f82-7edce4e86e11.png)
![huobi](https://user-images.githubusercontent.com/2905901/49685455-34364d80-faec-11e8-986a-9207e9064cda.png)
![poloniex](https://user-images.githubusercontent.com/2905901/49685456-34364d80-faec-11e8-898f-3ca45eefb48d.png)
![binance](https://user-images.githubusercontent.com/2905901/496

[2018-12-08 16:39] startailcoon commented on #2277
Low collateralized margin positions are warned to the user when it drops below 2, and then by 1.75 by

1. Value of margin positions highlighted in orange (below 2) and red (below 1.75)
![image](https://user-images.githubusercontent.com/12114550/49688296-006d1f00-fb10-11e8-84b2-4e5bd8765b8f.png)

2. Ratio highlighted in in orange (below 2) and red (below 1.75)
![image](https://user-images.githubuse

[2018-12-08 18:49] startailcoon opened #2289 "[0.5][2.0.181212-rc1] Settle with decimal results in wrong amount"
**Describe the bug**
While using settle asset, you may wish to settle your entire position. Though, using a decimal placement will result in an incorrect amount.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Exchange'
2. Click on 'Settle Instant'
3. Settle an amount with a decimal point
4. See error

**Expected behavior**
Correct amount to settle

**Screenshots**
![bitshares-settle]

[2018-12-08 19:01] startailcoon opened #2290 "[0.5][2.0.181212-rc1] Bid Collateral "Bid Price" inaccurate"
**Describe the bug**
Place a bid for collateral on the Asset information page. See the "Bid Price" calculation being wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Asset Information'
2. Type a bid in "Bid Collateral"
3. See inaccurate bid price

**Expected behavior**
1 BTS in collateral for 1 bitUSD = 1 bitUSD/BTS

**Screenshots**
![bild](https://user-images.githubusercontent.

[2018-12-09 00:37] TechsUsInc commented on #2274
Yes Sir. I updated the issue with versions/Distros requested.

[2018-12-09 00:39] TechsUsInc commented on #2276
My OS:
Windows, Version: 8.1 (Primary)
 Windows, Version 10
Linux        Ubuntu Version 16.04
Linux        Ubuntu Version 18.04
Android 7.1.1 (Nougat)

My Browser:
Opera 56.0.3051.116  (Primary)
Google Version 70.0.3538.110 (Official Build) (64-bit)
Firefox Version 63.0.3(64-bit)
Brave Version 0.25.2 V8 6.9.427.23 OS Release 6.3.9600
Bitorrent Version 7.10.4.44847

General
 - [ ] Wallet loads and

[2018-12-09 00:45] TechsUsInc commented on #2276
My OS:
Windows, Version: 8.1 (Primary)

My Browser:
Google Version 70.0.3538.110 (Official Build) (64-bit)

General

  Wallet loads and connects
  Login via cloud login and local wallet
  Transfer between accounts
  Exchange opens, orders are visible and limit orders can be put
  Margin creation and adjustment is possible
  Voting is possible (committee, witness, proposals)
Specific components:

[2018-12-09 00:47] TechsUsInc commented on #2276
My OS:
Windows, Version: 8.1 (Primary)

My Browser:
Firefox Version 63.0.3(64-bit)

General

Wallet loads and connects
Login via cloud login and local wallet
Transfer between accounts
Exchange opens, orders are visible and limit orders can be put
Margin creation and adjustment is possible
Voting is possible (committee, witness, proposals)
Specific components:

#2221 Collateral Bidding
Find the col

[2018-12-09 10:13] TechsUsInc opened #2291 "Wallet load and connection timeouts"
**Describe the bug**
Wallet loading and node connections is extremely lengthy

**To Reproduce**
Steps to reproduce the behavior:
1. Download and open the release 181212-rc1
2. Note the wallet load and connection timeouts

**Expected behavior**
The wallet load and connection to be extremely quick and reliable

**Desktop (please complete the following information):**
 - OS: Windows 8.1
 - Browser Op

[2018-12-09 10:15] startailcoon opened #2292 "[1] Don't display Borrow for Globally Settled Assets"
When an asset is in Global Settlement the UI still allow the Margin Position modal to be opened, changed and submitted.

The chain will not allow Globally Settled assets to be borrowed or have a previous margin position changed. The UI shouldn't allow it either, but display an information about why.

![bitshares-margindisabled](https://user-images.githubusercontent.com/12114550/49696004-a0c05380-f

[2018-12-09 10:29] startailcoon opened #2293 "[1][Style-Guide] Tooltip Layout"
The Ant Design Tooltip needs to be changed to reflect a better choice of font, font-size and design.

The background of the tooltip is floating into the background of the application. It would need a border to single it out better.

![bitshares-tooltip](https://user-images.githubusercontent.com/12114550/49696131-7b344980-fba5-11e8-958c-8be01b6e928d.gif)

[2018-12-09 10:50] startailcoon commented on #2289
Seems to be fixed in current develop branch. Can't properly reproduce again.

[2018-12-09 10:50] #2289 closed

[2018-12-09 11:16] TechsUsInc opened #2295 "Installation alert"
**Describe the bug**
Windows alert pops up for every Windows release

**To Reproduce**
Steps to reproduce the behavior:
1. Download the latest release and install
2. See error

**Expected behavior**
Known Publisher listing or Windows alert bypass

**Screenshots**
![bitshares_upgrade_capture](https://user-images.githubusercontent.com/18186497/49696565-1c54dd00-fb71-11e8-8c34-de4b3524d1e1.JPG)

**De

[2018-12-09 11:17] TechsUsInc commented on #2276
Please see #2295

[2018-12-09 11:36] startailcoon commented on #2285
The problem with BlockTrades not loading had nothing to do with WinEX. The error output is missleading due to the way the components have been coppied by the one developing the connection to WinEX.

BlockTrades issue was due to an error with populating coin pairs, most likley due to an updated asset on the API side. This has been fixed.

[2018-12-09 11:41] startailcoon commented on #2291
@sschiessl-bcp you've had some work going on with this, right?

[2018-12-09 11:45] startailcoon commented on #2295
Been discussed before

Duplicate https://github.com/bitshares/bitshares-ui/issues/701

[2018-12-09 11:45] #2295 closed

[2018-12-10 06:35] TechsUsInc opened #2297 "[3][OpenLedgerApp] Style Guide implementation on Sign-in/Sign-up related sub-pages"
**Describe the bug**
1. Data input field color is barely visible against the background black (throughout the entire interface)
2. _Restore Backup submit button_ is white instead of blue (submit text is barely visible)
3. Design theme is not consistent with the _back_, _reset_, other buttons (throughout the interface)

**To Reproduce**
Steps to reproduce the behavior:
1. From the _welcome to bitsh

[2018-12-10 06:36] TechsUsInc commented on #2276
Please see #2297

[2018-12-10 07:08] sschiessl-bcp commented on #2293
Do you have github issue preview on?
![image](https://user-images.githubusercontent.com/33128181/49716033-bfc9ee80-fc52-11e8-9675-87fa687d651f.png)

[2018-12-10 07:08] TechsUsInc opened #2298 "[4] Update Language Translation 'Spanish'"
**Describe the bug**
When language is chosen, not all of the text within the interface is translated

**To Reproduce**
Steps to reproduce the behavior:
1. From the Welcome to Bitshares page:
![welcome_to_bitshares_landing_1_1_capture](https://user-images.githubusercontent.com/18186497/49714871-38f62100-fc14-11e8-9abf-e027af4ae098.JPG)
2. Next to the blue globe, click within the box for a pull down

[2018-12-10 07:08] sschiessl-bcp commented on #2293
Anyways, I closed my other issue as a duplicate
#2229

[2018-12-10 07:08] TechsUsInc commented on #2276
Please see #2298

[2018-12-10 07:08] #2229 closed

[2018-12-10 07:09] sschiessl-bcp commented on #2230
Thanks for taking this @calvinfroedge

Let us know what you find out!

[2018-12-10 08:02] TechsUsInc opened #2299 "[3] Missing 'introduction' elements and scrolling issues"
**Describe the bug**
1. Clicking the _help_ button could use tweaking.
    consistent numerical placement of the pop up.
2. Consider swapping the _done_ and _back_ click-able text at the end of the help pop up.
3. Clicking help from the _advanced form_ does not yield any help.

**To Reproduce**
Steps to reproduce the behavior:
1. From the Welcome to Bitshares page;
![welcome_to_bitshares_landing_1

[2018-12-10 08:03] TechsUsInc commented on #2276
Please see #2299

[2018-12-10 08:16] TechsUsInc opened #2300 "Adding language and country flag modal next to the account name"
**Is your feature request related to a problem? Please describe.**
Please see #2298

**Describe the solution you'd like**
Please consider adding a language and country flag next to the account name after login

**Describe alternatives you've considered**
Adding language and country flag to the hamburger menu (inside general or new tab)

**Additional context**
Top right corner of the page is always

[2018-12-10 08:34] manikey123 commented on #2084
bitshares account id = betas-11
Total 6 hours effort for below Tabs impacted :

Tab Explore
    Assets
    Witnesses
    Markets
    Committee

Tab Dashboard
    Portfolio
    Open Order

Tab Exchange
    My Markets

Tab Home
    Favorites
    BTC
    BTS , CNY, ETH, USD

[2018-12-10 08:41] TechsUsInc opened #2301 "[1.5][MikhailKavalenka] Login restoring from a backup key- double loads chose a file twice"
**Describe the bug**
Trying to login using a _restore from key (.BIN)_; once the back up file is chosen and open is clicked, the chosen file window closes and another opens but is blank

**To Reproduce**
Steps to reproduce the behavior:
1. From the _Welcome to Bitshares_ page:
![welcome_to_bitshares_landing_1_1_capture](https://user-images.githubusercontent.com/18186497/49719500-ee2fd580-fc22-11e8

[2018-12-10 08:42] TechsUsInc commented on #2276
Please see #2301

[2018-12-10 09:07] TechsUsInc opened #2302 "Replace wording from Welcome to Bitshares"
**Is your feature request related to a problem? Please describe.**
Given global regulations and enforcement, careful wording is crucial

**Describe the solution you'd like**
Replace wording _Your Decentralized Exchange_ with something else; _Platform_ , _Interface_, or _DEX_ _Solutions_, or very simply.....
**_Your Decentralized Blockchain_**
 _**You're Decentralized**_
_**Your DEX**_
of course DE

[2018-12-10 09:08] TechsUsInc commented on #2276
Please see #2302

[2018-12-10 09:08] startailcoon commented on #2084
👍

[2018-12-10 09:20] TechsUsInc opened #2303 "[2] White tradingview screen"
**Describe the bug**
Please see #2258

**To Reproduce**
Steps to reproduce the behavior:
1. Go staging.bitshares.org and login
2. Go to Exchange
3. See error; white Tradingview screen
![staging_1_capture](https://user-images.githubusercontent.com/18186497/49722718-fab82c00-fc2a-11e8-82eb-7c7ad0d18534.JPG)

![staging_capture](https://user-images.githubusercontent.com/18186497/49722299-140ca880-fc2a

[2018-12-10 09:21] TechsUsInc commented on #2276
Please see #2303

[2018-12-10 14:52] MikhailKavalenka commented on #2260
thanks!

Here is the PR. https://github.com/bitshares/bitshares-ui/pull/2304

[2018-12-10 16:08] gibbsfromncis commented on #1997
@startailcoon I had problems with my PR so I added 3 additional hours for communication/testing/fixes added regarding this task.

[2018-12-10 16:12] gibbsfromncis commented on #2238
@nikandrovalex awesome. Good job!

[2018-12-10 16:19] gibbsfromncis commented on #30
@nikandrovalex you have missed Asset selection (bitUSD, OPEN.BTC etc.) on withdrawal limit input.

[2018-12-10 17:02] startailcoon commented on #2293
@sschiessl-bcp yes, but I'm still unused to having it and must have missed that one.

[2018-12-10 17:32] gibbsfromncis commented on #2101
Added hours for time I spent for development

[2018-12-10 20:13] gibbsfromncis commented on #2238
Unfortunately I didn't noticed that ant doesn't provide an ability to customize notifications depending on status. My bad.

@nikandrovalex please provide design of notification with default background and styles.

[2018-12-10 20:17] gibbsfromncis commented on #2238
@startailcoon I put hours for Alex and closed task because we do not have the way to update design of notifications regarding Alex's design... It was my bad..

[2018-12-10 20:17] #2238 closed

[2018-12-10 20:53] gibbsfromncis commented on #2149
@wmbutler this is how it should be updated:

1) Add specific variables for each 3 themes:
https://github.com/bitshares/bitshares-ui-style-guide/commit/a244b099f1624b9e55f2f56c2da22e79c6847048#diff-0416afb78c680a498fad03bd9c360a87
https://github.com/bitshares/bitshares-ui-style-guide/commit/a244b099f1624b9e55f2f56c2da22e79c6847048#diff-d0cdf296af98dee69ff46bdf7d34256c
https://github.com/bitshares/b

[2018-12-10 20:54] gibbsfromncis commented on #2254
@startailcoon estimate: 1h

[2018-12-10 21:48] nikandrovalex commented on #30
@gibbsfromncis pls check
![image](https://user-images.githubusercontent.com/43581164/49763701-0d3b6f80-fcd6-11e8-9ab1-4cdd265331fb.png)

[2018-12-10 22:50] abitmore commented on #30
The "monthly" option is tricky because the back end calculates periods in seconds only. Please either add a description about how the UI will implement it, or don't have that option.

[2018-12-10 22:53] abitmore commented on #30
By the way, better have a "authorized from" label/box (perhaps read only) in the model.

[2018-12-11 08:19] TechsUsInc opened #2310 "Settlement with dust or zero balance"
**Describe the bug**
Clicking settlement of an asset from the Dashboard or the Exchange is possible with dust or zero balance.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Dashboard Portfolio
2. Select an asset with dust or zero balance
![181212-rc1_settlement_3_capture](https://user-images.githubusercontent.com/18186497/49777343-b88ff880-fcc5-11e8-966a-ebe64ed9884e.JPG)
3. Clic

[2018-12-11 09:54] TechsUsInc opened #2311 "[6] Dashboard Portfolio columns"
**Describe the bug**
The column value (BTS) is the only column underlined.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard Portfolio
2. Note value (BTS) is the only column underlined
![181212-rc1_dashboard_portfolio_2capture](https://user-images.githubusercontent.com/18186497/49791626-8480fb80-fcf6-11e8-96e9-89bbf1387436.JPG)

**Expected behavior**
Consistent with or without

[2018-12-11 09:54] TechsUsInc commented on #2276
Please see #2311

[2018-12-11 10:14] #2292 closed

[2018-12-11 11:25] #2260 closed, assigned to nobody

[2018-12-11 12:24] TechsUsInc opened #2312 "Settling bitUSD"
**Describe the bug**
1. Both from the Dashboard Portfolio Margin table and instant settlement of bitUSD (and all other
   assets) it is possible to attempt to settle an asset with dust or zero balance. Please see #2310
2. From the margin adjustment modal, clicking reset cancels instead
3. Debt and Collateral input field can not be backspaced in all cases
4. Click-able blue text Pay max debt under

[2018-12-11 13:18] sschiessl-bcp commented on #2175
So far lots of research, but no viable fix yet

[2018-12-11 15:07] startailcoon commented on #2312
PR https://github.com/bitshares/bitshares-ui/pull/2294 would solve this issue.

[2018-12-11 15:07] #2312 closed

[2018-12-11 15:11] startailcoon commented on #2310
I see a few points we can do to make settlement modal better

1. Make it possible to click the account amount to catch max value
2. Deny amounts above account value
3. Clean input field on mount.

[2018-12-11 15:13] startailcoon commented on #2303
We've had multiple issues with this, can we see if can catch the problem of this?

[2018-12-11 15:18] startailcoon commented on #2302
Would love to hear other opinions on this topic. I'm not against the suggestion, but would probably be necessary for a overlook of the whole app to strip out the relation to the specific chain.

I see this as an opportunity to format the UI to a "global" client for "Bitshare types of chains".

[2018-12-11 15:20] startailcoon commented on #2301
Sounds like a cache issue after you've removed your keys and tried to import them again.

[2018-12-11 15:24] startailcoon commented on #2300
We've discussed this before, and came to the decision that a flag is not appropriate for language selection. What country flag would you choose for English, or Spanish, etc? A country has nothing to do with a specific language.

Closing

[2018-12-11 15:24] #2300 closed

[2018-12-11 15:30] startailcoon commented on #2298
We're struggling with language translation. I'd settle for an updated spanish translation for this issue.
I see your point in making an easy to find toggle place for the language selection.

[2018-12-11 17:47] gibbsfromncis commented on #2175
@sschiessl-bcp I can create separate task for investigation to track my hours and get bounty for it. In result of investigation I'll post results and ideas of possible fixes. I want to create separate task because this Edge fix may take a lot of time without any results. I'm not ready to do it without bounty..

[2018-12-11 17:50] gibbsfromncis opened #2314 "Remove overrides of Exchange BuySell inputs"
Our Exchange BuySell forms use overridden inputs. In result we have broken design:

<img width="874" alt="screenshot 2018-12-11 18 50 11" src="https://user-images.githubusercontent.com/35899973/49819391-9786e080-fd75-11e8-8493-e7b0db33fb94.png">

New UX:

![image](https://user-images.githubusercontent.com/43581164/49668105-d2330500-fa65-11e8-9490-877cf7c256a9.png)

[2018-12-11 18:09] gibbsfromncis commented on #30
@abitmore what about the case if I want to create withdrawal permission for you and give a permission for myself to withdraw money? Should we add "authorized from" input with ability to change it. And if currentAccount !== authorizedFrom (gibbs-from-ncis !== abit) we make a proposed transaction for you to give me a permission?

[2018-12-11 18:11] gibbsfromncis commented on #30
@abitmore Specify period is dropdown with the following options:
- Min
- Hour
- Day
- Week
- Month
- Year

User will be able to specify Period like:
"Withdraw **1 BTC** each **3 hours**" and before submit the transaction I'll (or Stefan) lead it to seconds (like "each 3 hours" is 3*60*60 = 10,800 seconds)

[2018-12-11 19:53] sschiessl-bcp commented on #30
Your points above is the reason why Bill was so keen on having it integrated in the send Modal from a UX perspective (should still be it's own component to reduce code clutter).

Months don't have a fixed second representation, that's what abit means.
A hint to the user should be enough in that matter until Taconators BSIP is pushed further.

[2018-12-12 00:19] gibbsfromncis commented on #30
@sschiessl-bcp you got my vision of clear User Experience. if you want to put it inside Send Modal - common user won't understand how it works. I do not see the reason to make simple things more complicated. Anyway, my idea was to show my vision. If you want to make it complicated - lets ask Alex to integrate it somehow with Send Modal.

[2018-12-12 02:03] liondani opened #2315 "Dashboard >>> BITCNY >>> MARKET >>> Black Screen"
When trying to go to the bitCNY exchange via Dashboard>>>bitcny>>MARKET it stays to a blackscreen. No problem with the other assets.

 - OS: Mint
 - Browser:  BTS desktop wallet
 - Version: 181212-RC1  (latest)

![screenshot from 2018-12-12 04-03-14](https://user-images.githubusercontent.com/6908400/49842091-e444d880-fdc2-11e8-98c4-dfa064925059.png)

[2018-12-12 04:19] gibbsfromncis opened #2317 "[3] Ability to cancel multiple orders on Exchange"
Now we have "Scaled Orders" feature. It helps users to create multiple orders. But unfortunately users unable to cancel these multiple orders on easy way.

[2018-12-12 04:19] gibbsfromncis commented on #1503
@startailcoon final estimate is much more than I expected. It is 25 hours.

I stuck on Fees / Markets fees calculations and fixes, orders creation but finally I did it. In result it looks really cool and awesome feature.

One thing left is to add an ability to manage multiple orders to cancel them. Because using scaled orders users now can create unlimited count of orders and to cancel them users

[2018-12-12 04:31] gibbsfromncis commented on #2314
@startailcoon estimate: 0.5h

[2018-12-12 04:39] gibbsfromncis commented on #2278
Updated estimate due additional call (30 mins) 1.5h -> 2h

[2018-12-12 09:06] TechsUsInc opened #2319 "[0.25] Paper Wallet file naming"
**Describe the bug**
1. For public wallet, the account name is added after _bitshares-public-paper-wallet_(i.e. bitshares-public-paper-walletyouraccountname).wallet and youraccountname wrap together.
2. For private wallet, the account name is added after _bitshares-public-paper-wallet_ (i.e. bitshares-paper-walletyouraccountname). wallet and youraccountname wrap together.
3. For private wallet, th

[2018-12-12 09:06] TechsUsInc commented on #2276
Please see #2319

[2018-12-12 09:39] TechsUsInc opened #2320 "Spotlight modals"
**Describe the bug**
Spotlight modals are slightly too big and run off of the screen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to hambuger menu
2. Click on Spotlight
3. See that the modals are too big; run off of the screen.

**Expected behavior**
All of the modals to fit within the screen if possible.

**Desktop (please complete the following information):**
 - OS: Windows 8.1
 - B

[2018-12-12 09:40] TechsUsInc commented on #2276
Please see #2320

[2018-12-12 10:04] TechsUsInc commented on #2276
Google testing complete. Experienced all of the same issues reported above. Mainly connection issue, white tradingview screen in exchange. Also, Paper wallets were both saved as PDF with Google unlike Opera.

[2018-12-12 11:01] TechsUsInc opened #2321 "Bitshares UI will not load with Firefox"
**Describe the bug**
Will not load at all. White "loading" screen only at staging.bitshares.org

**To Reproduce**
Steps to reproduce the behavior:
1. Using Firefox, go to staging.bitshares.org
2. See white "loading" screen

**Expected behavior**
A quick reliable connection.

**Screenshots**
![181212-rc1_firefox_loading_2_capture](https://user-images.githubusercontent.com/18186497/49865351-5836af00

[2018-12-12 11:02] TechsUsInc commented on #2276
Please see #2321
Will not load with Firefox at all

[2018-12-12 12:10] TechsUsInc opened #2322 "[1.5][kennybll] Login and confirm button require mouse click"
**Describe the bug**
Both the login button and the confirm button require a mouse click; the user can't hit the enter key to proceed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login, enter the account, password, hit enter; see there is no response
2. Click on login; see response
3. Go to the Exchange and select a trade
4. Click buy or sell
5. Hit the Enter key to confirm noting n

[2018-12-12 12:10] TechsUsInc commented on #2276
Please see #2322

[2018-12-12 12:29] TechsUsInc opened #2323 "Explorer-disabling view mode when adding an account does not disable view mode"
**Describe the bug**
When adding an account via the _Explorer Accounts_ tab a warning _viewing unauthorized account_ pops up. If _Never Show Again_ is clicked, the pop up goes away but the _view mode_ button remains next to the account name.

**To Reproduce**
Steps to reproduce the behavior:
1. Go Explorer
2. Click on Accounts
3. Type the name of a known account (preferably authorized)
4. See erro

[2018-12-12 12:30] TechsUsInc commented on #2276
Please see #2323

[2018-12-12 12:47] TechsUsInc opened #2324 "[1][Kennybll] Switching accounts while in Spotlight breaks the site"
**Describe the bug**
While in the Spotlight tab, if the user decides to switch to another account (i.e. to vote, paper wallet,etc) the site breaks. Problem not found in other tabs or features.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the hamburger menu
2. Click onSpotlight
3. Click on account name to switch accounts
4. See error
![181212rc-1_spotlight_capture](https://user-image

[2018-12-12 12:48] TechsUsInc commented on #2276
Please see #2324

[2018-12-12 14:09] jhtitor commented on #775
@sschiessl-bcp, thanks for your input!

I've bit the bullet and wrote a BSIP draft https://github.com/bitshares/bsips/issues/131 for this.

[2018-12-12 15:20] liondani commented on #2315
It works now... Possibly was not a general problem but affected only my system for whatever reason...
(closing issue)

[2018-12-12 15:21] #2315 closed

[2018-12-12 15:21] #2285 closed

[2018-12-12 15:23] #2101 closed

[2018-12-12 15:36] #2314 closed

[2018-12-12 15:48] nikandrovalex commented on #2278
@gibbsfromncis Hi Please check

[2018-12-12 15:49] gibbsfromncis commented on #2278
@nikandrovalex check what?

[2018-12-12 15:58] #1997 closed

[2018-12-12 16:31] startailcoon commented on #2317
There is a way of doing this on the "Open Orders" of the dashboard.

![image](https://user-images.githubusercontent.com/12114550/49883806-b8157000-fe33-11e8-9a76-546624691640.png)

However, this doesn't seem to work when using a cloud account.

[2018-12-12 16:39] startailcoon opened #2325 "[0.5] Legacy Deposit/Withdraw Citadel and WinEX issues"
### As described in PR #2285

WinEX has some issue making the app hang on loading as it doesn't catch failure. Citadel had some fetching issues as well, but did not hang the client. As they are the only ones not working, my plan was to do a new PR with a fix for them, but disable them until then to make sure we get the BlockTrades fix in an the application halting errors out for the time being.

_

[2018-12-12 16:43] startailcoon commented on #2207
Great work guys, looking much better!

Total hours **Alex**: 3h, **Gibbs**: 2,5h

[2018-12-12 17:00] calvinfroedge commented on #2230
@sschiessl-bcp Working on it now

[2018-12-12 17:17] calvinfroedge commented on #2230
I do like this solution proposed in the link you added:

![image](https://user-images.githubusercontent.com/632938/49886402-88507300-fe07-11e8-8f24-ed30245037cf.png)

I think the tooltip may have different behavior depending on where it is displayed...for instance in a form element vs in paragraph text. If the tooltip should be displayed on top of / inside a form element, probably some ref is need

[2018-12-12 20:02] MarkoPaasila opened #2326 "Sell order expiration 8760 x too short"
**Describe the bug**
Order expiration time for sell orders is just 1h.

**Expected behavior**
Sell order expiration same as buy order expiration; 1 year.

**Screenshots**
![](https://i.imgur.com/DOllcAO.png)

**Desktop (please complete the following information):**
 - OS: Linux
 - Appimage
 - Version 181121

[2018-12-13 04:35] proteanx commented on #2274
My OS:
Debian 9 (Stable 9.x)
Kali-Linux (Rolling-Release w/ Debian testing/unstable)

My Browsers (stable):
firefox-esr 60.4.0esr-1~deb9u1 amd64
chromium 71.0.3578.80-1~deb9u1 amd64

[2018-12-13 10:07] TechsUsInc commented on #2298
I see your point of using a country flag for a language that may be spoken in multiple countries. I had two thoughts.
1. Consider using the existing pull down added next to, or under the account name, or (under manage accounts but before the account name list). If the user clicks the pull down and hovers over one of the 9 languages, maybe a pop up with multiple country flags that support a common

[2018-12-13 10:16] TechsUsInc opened #2327 "[1][twksos] Adding a color legend to the Visual Portfolio in the Dashboard"
**Is your feature request related to a problem? Please describe.**
The Dashboard Visual Portfolio blocks vary with color, percentage of asset in the account.

**Describe the solution you'd like**
Consider a tooltip at (visual and active) explaining what a Visual and (active)Portfolio is.
Consider adding a color legend next to the word visual.
Consider adding the 24hr column from the Active Portfol

[2018-12-13 10:16] TechsUsInc commented on #2276
Please see #2327

[2018-12-13 10:22] TechsUsInc opened #2328 "[1.5] Remember Me switch added to the hamburger menu settings"
**Is your feature request related to a problem? Please describe.**
The Remember Me switch is only seen by a user when they log in with a cleared cache. (From what I recall)

**Describe the solution you'd like**
Consider adding the same switch to the hamburger menu settings page in the event a user wants to disable it before closing Bitshares, or switching accounts, or sharing a device, etc

**Desc

[2018-12-13 10:23] TechsUsInc commented on #2276
Please see #2328

[2018-12-13 12:08] MikhailKavalenka commented on #2233
@startailcoon I can take this one.

[2018-12-13 13:14] nikandrovalex commented on #30
@sschiessl-bcp @gibbsfromncis and so, what should I do next? 😊

[2018-12-13 14:05] TechsUsInc opened #2329 "[0.5][Kennybll] Add the word testnet to the node access pop up"
**Is your feature request related to a problem? Please describe.**
Some testnet WS locations are the same as in available and personal, so the node access pop up may say France-Paris in any case.

**Describe the solution you'd like**
Consider adding the word TESTNET in the node access pop up next to the location (France-Paris) for easy quick self help or addition to the last 20 logs (customer supp

[2018-12-13 14:06] TechsUsInc commented on #2276
Please see #2329

[2018-12-13 14:08] react-cat opened #2330 ""Show brainkey" button doesn't work"
1. Go to Settings page.
2. Go to backup tab.
3. Select "Create brainkey backup".
4. Enter password.
5. Click "show brainkey" button.
6. nothing happens.

![bitshares 2 0 181121 rc1](https://user-images.githubusercontent.com/43940398/49897354-9382bd80-fe5e-11e8-98b7-4f244560e992.png)

After my code review, I found out that the button doesn't submit the form cause one button parameter is missed.

Es

[2018-12-13 17:55] Kennybll opened #2333 "Blank Screen After Settling A Small Balance"
**Describe the bug**
When I settled an asset with a really small amount, the page broadcasted the operation, but then the site went to a blank white-ish page.

**To Reproduce**
Steps to reproduce the behavior:
1. Your assets list
2. Click on the settle flag, enter a small amount, 0.00001 TESLACOM
3. Scroll down to console
4. See error

**Expected behavior**
I don't know if it's related to the smal

[2018-12-13 18:01] startailcoon commented on #2326
Are you sure you haven't set it to 1 hour yourself? This value is stored in cache and should always be 1 year if not set at all. I can not replicate this with a cleared local cache.

[2018-12-13 18:01] #2326 closed

[2018-12-13 18:05] startailcoon commented on #2321
I can not reproduce this, neither on staging.bitshares.org nor on openledger.io

Openledger.io did give me a node timeout error to select another node, but worked fine after selecting one.

[2018-12-13 18:05] #2321 closed

[2018-12-13 18:08] startailcoon commented on #2323
The `View Mode` button is there to notify you that you're viewing another account, not any of your own accounts.

Toggling `Never Show Again` on the popup will only hide the popup again, not the `View Mode` button that you use to toggle back to on of your own accounts again.

This is expected handling.

[2018-12-13 18:08] #2323 closed

[2018-12-13 18:12] startailcoon commented on #2330
This worked for me in the current staging, 181212-RC1, that's strange.
Please submit your findings on this.

[2018-12-13 18:12] Kennybll commented on #2274
My OS:
Windows 10 Home 1803
Android 7.1.1 (Nougat)

My Browser:
Google Version 70.0.3538.110 (Official Build) (64-bit) - Windows 10
Microsoft Edge 42.17134.1.0 - Windows 10
Brave Browser 0.57.18 Chromium: 71.0.3578.80 (Official Build) (64-bit) - Windows 10
Google Chrome Version 70.0.3538.80 - Android 7.1.1 (Nougat)
FireFox Version 63.0.2 - Android 7.1.1 (Nougat)
Brave Browser 1.0.70 Chromium 70.0.

[2018-12-13 18:13] startailcoon commented on #2333
What version of Bitshares client did you do this on? We've had a few fixes for the current RC (181212-RC1)

[2018-12-13 18:15] startailcoon commented on #2329
Good idea!

[2018-12-13 18:15] Kennybll commented on #2333
Bitshares.181129. So I guess this might not be relevant?

[2018-12-13 18:19] startailcoon commented on #2328
Could pose a problem yes, since to have it "forget" the account you now have to lock/logout and then login and toggle off remember me.

Can we find a good place to have it in the menu?

[2018-12-13 18:20] startailcoon commented on #2333
Please try with staging.bitshares.org or the latest RC client.

[2018-12-13 18:33] Kennybll commented on #2333
Works now, thanks @startailcoon

[2018-12-13 18:33] #2333 closed

[2018-12-13 18:40] Kennybll commented on #2329
I can take this one 😃

[2018-12-13 19:09] startailcoon commented on #2329
See if you can make it look good 👍

[2018-12-13 21:11] sschiessl-bcp commented on #2274
@proteanx please go ahead with firefox on both OS

[2018-12-13 21:13] sschiessl-bcp commented on #2274
@kennybll go ahead with android and firefox/brave

[2018-12-13 23:03] TechsUsInc commented on #2320
Yes Sir.
![181212rc-1_spotlight_1_capture](https://user-images.githubusercontent.com/18186497/49972994-faed4b80-fef8-11e8-8057-62aa3937ebbd.JPG)

[2018-12-14 00:47] Kennybll opened #2334 "[2.0.181212-rc1] Integration testing by Kennybll"
My OS:
  - Android 7.1.1 (Nougat)

My Browser:
 - Firefox 63.0.2

General
 - [x] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

Specific components:
 - [ ] #2221 C

[2018-12-14 00:52] Kennybll opened #2335 "[1.5] Account name resets when trying to login"
**Describe the bug**
I noticed this on my Windows 10 pc, and now on my Android tablet. When I try to log into staging.bitshares.org and am typing into the account name input it keeps deleting what I put in randomly. After awhile on my pc it finally took.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the login screen
2. Click on login with account name
3. Start to type in your account

[2018-12-14 00:52] Kennybll commented on #2334
https://github.com/bitshares/bitshares-ui/issues/2335

[2018-12-14 10:58] akledirs opened #2336 "[0.5] WSoD on pair bitHKD/bitRUBLE"
Strange bug, i not can find sharp chain of actions, which provide white screen, but pair bitHKD/bitRuble very often cause WSoD. Not always.
OS: Wimdows 10 1803
Version: 181129

[2018-12-14 15:02] Kennybll commented on #2329
This look good @startailcoon ?
![image](https://user-images.githubusercontent.com/14302151/50010409-5f56ec00-ff87-11e8-8341-036cc01b859f.png)

[2018-12-14 15:08] Kennybll commented on #2310
I can take this 😃

[2018-12-14 20:30] startailcoon opened #2337 "[1] Fix TESTNET problem with no default preferred asset"
Whenever a testnet does not use a default asset from the branding.js settings file (due to an unknown chain etc) the application would fail on a few of the components that had no failsafe.

This issue is to track hours for fixing those errors.

[2018-12-14 20:56] startailcoon commented on #2336
With the few details I assume this would be due to the fact that this market has no trades. Switching tabs to `Market Trades` would result in an uncaught error.

[2018-12-14 21:01] startailcoon commented on #2335
@sschiessl-bcp I've noticed this once to and I think it relates to the node ping that is done at the same time. When the node ping text is updated the form is cleared.

[2018-12-14 21:02] startailcoon commented on #2329
Clean and consise 👍

[2018-12-14 21:04] startailcoon commented on #2320
Can't see any problems with your screen shot, please highlight what you find the issue to be.

[2018-12-14 21:05] startailcoon commented on #2322
I agree, enter key should trigger the form submit.

[2018-12-14 22:12] wmbutler commented on #1984
I also noticed that we seem to be listing unknown accounts in the dropdown. There is really no reason to list unknowns in the dropdown at all.

- [ ] Do not display unknown accounts

![screen shot 2018-12-14 at 4 06 00 pm](https://user-images.githubusercontent.com/1254810/50032690-0f921800-ffbb-11e8-8e07-615a11202a42.png)

[2018-12-15 00:18] startailcoon commented on #2278
@nikandrovalex nice concept design. I think we could make something nice from this.

[2018-12-15 00:20] #1991 closed

[2018-12-15 00:53] TechsUsInc commented on #2321
After a reboot and Firefox auto update (which is the same version 64.0) another attempt at staging.bitshares.org with Firefox was more successful. Same issues seen with Opera and Google, nothing additional.
Openledger.io still wouldn't load for me.

[2018-12-15 09:42] sschiessl-bcp commented on #2335
I suspect when there is no account in AccountStore set and the Settings
update with a ping, it resets the login form to what the Settings say.

The login form should only set the account name once on mounting and not
when Settings change.

Am 14. Dezember 2018 11:01:22 nachm. schrieb startailcoon
<notifications@github.com>:

[2018-12-15 09:44] sschiessl-bcp commented on #1984
Unknown account is an account that never interacted with your account iirc
(stored in local settings). In the case that you actually want to send to
an account that you have never interacted with before you would need that.

Do you have an idea how to integrate that? Maybe a toggle for Show unknown?

Am 15. Dezember 2018 12:12:40 vorm. schrieb Bill Butler
<notifications@github.com>:

[2018-12-15 13:08] startailcoon commented on #1503
Nice ground work @gibbsfromncis ! I see we can expand on the types you can make later. Now we have a basic frame to work from for making multiple orders.

[2018-12-15 14:42] startailcoon commented on #1547
All possible and necessary OPs included by today. OP44 isn't widely used.

[2018-12-15 14:42] #1547 closed

[2018-12-15 15:07] startailcoon opened #2344 "[1][MikhailKavalenka] 'Input' field background issues"
Since a few commits ago we have an issue with `<input />` fields having a white background, making them impossible to use for submitting forms.

These fields are the standard input fields, not converted to the new Style Guide.

### Examples

`/create-account/password`
![bild](https://user-images.githubusercontent.com/12114550/50044402-39af0d00-0083-11e9-9812-74913d83b7cf.png)

`/deposit-withdraw`

[2018-12-15 17:20] TechsUsInc opened #2346 "Price Alert enhancements"
**Is your feature request related to a problem? Please describe.**
Price Alert enhancements

**Describe the solution you'd like**
Consider the rough draft screen shots enclosed for Price Alert enhancement suggestions.
1. Is it possible to add the price alerts set by the user to the existing chart (Tradingview)? If not, or as an alternative, is it possible to take the chart used before Tradingview

[2018-12-15 17:20] TechsUsInc commented on #2276
Please see #2346

[2018-12-15 18:33] startailcoon commented on #2311
Underlined header is the sorting column. This may not be obvious though.

### Task
- Add arrow up/down to sorted column, depending on order.
- Underline all sortable columns
- Rename percentage header
- Fix non-burnable assets

[2018-12-15 18:37] startailcoon commented on #2297
As we have the new login/signup from #2210 implemented, we should visit this task to make the rest of the correlated sections of the app look better.

Especially, as mentioned, the button and form should be using the new Style Guide.

### Tasks
- Make the related sections to sign-up/sign-in follow the Style Guide with form, buttons etc.

[2018-12-15 18:42] startailcoon commented on #2284
This is fixed, part of PR #2342 and others.

[2018-12-15 18:42] #2284 closed

[2018-12-15 18:45] #2277 closed

[2018-12-15 18:47] startailcoon commented on #2264
@gibbsfromncis was this fixed by another PR of yours. I can't see that it's been fixed in the `develop` build after the updated form.

[2018-12-15 18:49] #2258 closed

[2018-12-15 18:51] startailcoon commented on #2256
I would think that the node you had connection to wasn't working properly. As you switched node and the transaction history got populated I wouldn't say that this is an issue for now.

[2018-12-15 18:51] #2256 closed

[2018-12-15 18:53] startailcoon commented on #2215
Where you able to take a look at this @gibbsfromncis ?

[2018-12-15 18:55] startailcoon commented on #2205
I'm taking over this, will look at enhancements and adding the Style Guide to the Send modal.

[2018-12-15 18:56] Kennybll opened #2348 "Update CONTRIBUTING.md To Use Develop Branch"
**Describe the bug**
In the [CONTRIBUTING.md](https://github.com/bitshares/bitshares-ui/blob/develop/CONTRIBUTING.md) guide it says to use the staging branch as a base for contributing.

**Expected behavior**
It should say to use the develop branch as a base for contributing.

**Additional context**
I actually has to close and reopen a pull request because I used staging instead of develop.

[2018-12-15 19:07] startailcoon commented on #2348
👍 Will do

[2018-12-15 19:35] wmbutler commented on #2278
Approved for payment.

[2018-12-15 19:35] #2278 closed

[2018-12-15 19:38] wmbutler commented on #2231
Redirect `/voting` tp `/account/{account_name/voting`

I think this redirect issue is more like .5 unless you suggest otherwise.

[2018-12-15 19:44] wmbutler commented on #2175
Add incompatible browser message and close this since M$ will eventually not support Edge.

![screen shot 2018-12-15 at 1 44 37 pm](https://user-images.githubusercontent.com/1254810/50046808-9a344f00-006f-11e9-9e52-61d1914a5fd1.png)

[2018-12-15 19:46] wmbutler commented on #2158
@nikandrovalex ?

[2018-12-15 19:55] wmbutler commented on #2150
Great research. This is ready to be worked. @yura5hem would you like to do the work as well for additional fee or should this go to a dev now?

@gibbsfromncis can you get this into the styleguide (open another issue for your time there).

- [ ] Current size id .875rem. Let's got to .75rem as suggested (12px)
- [ ] .875rem for the "others" as suggested.

[2018-12-15 19:56] #2150 closed

[2018-12-15 19:57] startailcoon opened #2349 "[0.5][Style-Guide] Font-size on Exchange"
@gibbsfromncis can you get this into the styleguide
- [ ] Current size id .875rem. Let's got to .75rem as suggested (12px)
- [ ] .875rem for the "others" as suggested.

_Originally posted by @wmbutler in https://github.com/bitshares/bitshares-ui/issues/2150#issuecomment-447593727_

[2018-12-15 19:59] wmbutler commented on #2107
A licecap would be very helpful.

[2018-12-15 20:08] wmbutler commented on #2075
I'll UX this.

[2018-12-15 20:11] wmbutler commented on #2007
It's updating for me but this value cannot be deleted as shown here

![delete](https://user-images.githubusercontent.com/1254810/50047028-5b07fd00-0073-11e9-8ebb-735709f163f5.gif)

[2018-12-15 20:16] wmbutler opened #2350 "[2][manikey123] Cannot delete value in Collateral Field"
It's updating for me but this value cannot be deleted as shown here

![delete](https://user-images.githubusercontent.com/1254810/50047028-5b07fd00-0073-11e9-8ebb-735709f163f5.gif)

[2018-12-15 20:18] wmbutler commented on #1985
@clockworkgr want to implement this on the BlockChain Explorer page?

[2018-12-15 20:30] wmbutler commented on #1963
@react-cat moved this to January. Are you on it?

[2018-12-15 20:31] wmbutler commented on #1936
@gibbsfromncis ping

[2018-12-15 20:32] wmbutler commented on #1872
No longer blocked!!

[2018-12-15 20:33] wmbutler commented on #1578
@kapeer42 can you submit a PR?