[2018-09-25 18:34] wmbutler commented on #1536
Looking really good.

- [ ] Please make SEND and PROPOSE pills the same width and center them.
- [ ] Misspelling: Propose to send fund -> Propose to send funds

[2018-09-25 18:35] #761 closed

[2018-09-25 18:38] wmbutler commented on #1543
Removed @dot5enko until he replies. Anyone else feel free to pick this up.

[2018-09-25 19:53] startailcoon commented on #1857
Watching these now, I agree.

[2018-09-25 20:42] wmbutler commented on #1625
After some discussion, @startailcoon and I think that it makes sense for the "Create new local wallet" option to export the keys from the cloud account into the local bin file and force the user to download a backup. This needs UX.

![screen shot 2018-09-25 at 3 42 22 pm](https://user-images.githubusercontent.com/1254810/46041902-9c72b700-c0d9-11e8-9fc2-719df15a7b07.png)

[2018-09-25 20:50] wmbutler commented on #1543
@svk31 will you take this?

[2018-09-25 20:51] wmbutler commented on #1497
@roths did you observe a problem with the wallet? If not please close.

[2018-09-25 20:54] wmbutler commented on #1403
Fixed at bitsharesjs end. @clockworkgr will you close this since the issue was at bitsharesjs or make mods here if we need to be able the response that no account can be created.

[2018-09-25 20:55] #1346 closed

[2018-09-25 21:27] startailcoon commented on #1536
This should also be using the new style guide with ANT components

[2018-09-25 23:17] froooze commented on #1832
I thought  @gibbsfromncis just wanted to replace the Selection screen Page 1 and add a row of extra information?

The minimum font-size is to small and should be higher.

[2018-09-26 06:41] sschiessl-bcp opened #1901 "[10] Sophisticated ping strategy and background pinging"
<h2>Ping Strategy</h2>

The first step for the new ping strategy was completed with #1521

In the next step I propose to do a binary-tree like ping strategy.

- Ping 2 random nodes of each region
- Select 2 best regions, ping 2 random nodes in each country
- Select best country, ping all nodes within

The ping strategy stops when a sufficiently fast node has been found. If first iteration is not s

[2018-09-26 07:24] #1521 closed, assigned to sschiessl-bcp

[2018-09-26 07:27] sschiessl-bcp commented on #1521
The next step is laid out in #1901, please evaluate

[2018-09-26 07:35] dot5enko commented on #1543
@wmbutler sorry for inactivity - i'll take it back :) if no activity for 2 days from me - you can reassign it completely

[2018-09-26 08:26] sschiessl-bcp opened #1902 "[Exchange Refinement] Personalize option to hide chart"
I often have the case that I know exactly what I want to sell or buy, and on the phone the TradingView overhead is simply killing all the fun ...

**Tasks**
- [x] Add an option that hides the complete chart, via "Personalize"
- [x] Ensure that the "Personalize" modal is available in mobile and mobile friendly

[2018-09-26 12:31] gibbsfromncis commented on #1832
I've unassigned myself from this issue because now OpenLedger will be responsible for this one and will work on it by themself

[2018-09-26 12:33] gibbsfromncis commented on #1812
@wmbutler @startailcoon I did review of our `themes-templates.scss` and `4h` estimate is not enough to clean up the mess and put every properties to variables. My new estimate is around `10h` but this may change if I start to work on this task.

If you agree please update the estimate or lets wait till somebody other will take care of it. I want to ask you to make sure that the guy who will be res

[2018-09-26 12:37] gibbsfromncis commented on #1503
UX for this task:

<img width="937" alt="2018-09-17 02 26 16" src="https://user-images.githubusercontent.com/35899973/46080196-89bfb700-c199-11e8-8e71-59eb8d64f0a7.png">

@wmbutler @startailcoon
My estimate for UI implementation is 8h. Please update the estimate or unassign myself

[2018-09-26 12:40] gibbsfromncis commented on #422
@wmbutler @startailcoon I'm so close to finish this task but I'm out of my estimate. Please increase it to 10h or just unassign myself.

[2018-09-26 14:47] clockworkgr commented on #1403
well, iirc the UI simply displays errors coming from bitsharesjs and the backend so I don't think there's anything more to be done unless you wanna make the error prettier.

It's so rare I don't think anything is needed though. This is simply making sure no more accounts like this are created.

Don't have permissions to close this though.

[2018-09-26 15:34] froooze commented on #1832
@charyury
- The font-size for the description of input boxes is too small and should be bigger.

@wmbutler
- 7 characters are too low for a cloud wallet, but maybe a brute force protection could be implemented to feel save with an 10 characters long password?

[2018-09-26 18:49] charyury commented on #1832
@wmbutler

We will implement all these requirements. This will not add any additional cost.

We are ready to start early next week and deliver by the end of the week.

@froooze, thanks a lot for your comment, we will update accordingly.

[2018-09-26 19:00] wmbutler commented on #1832
@charyury since this issue is just for sign up, let's only include estimates for that portion. We can make a separate issue for the sign out.

FE - 140h
QA - 20h
UX - 20h
PM- 12h

Total (@50%) = 96 hours

Since we are effectively helping compensate OL for their dev work, I would ask you to agree to work with us diligently as we fine-tune various aspects of the design related to the ANT framework.

[2018-09-26 19:17] sschiessl-bcp commented on #1832
One thing came to mind to prepare for the future:
Beet will be integrated sooner or later, which means a third way of signing up. The new UX should be prepared for that.

The requirements for Beet are quite simply: On sign up you only provide a username without any credentials, as every signature request will be forwarded to Beet

[2018-09-26 19:27] clockworkgr commented on #1832
@sschiessl-bcp & @wmbutler  & @charyury

In fact , as far as Beet is concerned, the way I envision it is you simply get a "Use with Beet" button.

On click, the UI authenticates itself to beet and receives 1 or more account ids. From then on it works exactly the same as if having opened a wallet, only signing is done over on beet rather than in the UI

[2018-09-26 22:50] gibbsfromncis commented on #1832
@wmbutler @charyury can you please clarify what exactly we are going to do? I do not understand my and OL duties in case of this task.

[2018-09-27 02:04] gibbsfromncis commented on #1862
Done - https://github.com/bitshares/bitshares-ui-style-guide/blob/master/INSTRUCTIONS.md

[2018-09-27 02:06] #1862 closed

[2018-09-27 02:51] gibbsfromncis opened #1903 "[.5] Fix Ant Tabs unnecessary "jumping" when changes tab"
The reason of this "jumping" is because active element `font-weight` is different from un active elements.

@startailcoon I put .5h estimate for this fix. If you approve please just leave a comment

[2018-09-27 03:13] gibbsfromncis commented on #1841
@sschiessl-bcp PR: #1904

[2018-09-27 03:33] gibbsfromncis commented on #1903
Fixed by the following commit: https://github.com/bitshares/bitshares-ui-style-guide/commit/e91cb64eca13761f78179d47e3eb06a834f126c3

[2018-09-27 03:34] #1903 closed

[2018-09-27 03:39] gibbsfromncis opened #1905 "[.5] Click on "Buy Icon" on User Portfolio navigates to white blank screen"

[2018-09-27 03:51] gibbsfromncis commented on #1905
@wmbutler @startailcoon I did try to fix it but I discovered I have no idea what is an idea of "BUY" button. Can you please clarify it?

[2018-09-27 05:04] gibbsfromncis opened #1906 "Withdraw (old) Crashes APP when try to use Winnex"
1. Go to withdraw (old)
2. Select "Winnex"
3. App Crashes

Unfortunately our app remember the latest choice so if user once tried to select "Winnex" he doesn't have an access to Withdraw anymore.

@wmbutler @startailcoon please lets decide something about old Withdraw/Deposit sections. Maybe lets remove it at all if we have already new Deposit/Withdraw modals?

[2018-09-27 05:08] gibbsfromncis commented on #1870
@startailcoon I've removed this terrible behavior at all for all Gateways + added new plugin for copy-to-clipboard.

Because of terrible architecture of Withdraw/Deposit and that changes should be applied to all Gateways it took more time than expected.

@startailcoon @wmbutler Please update an estimate to 1.5h

[2018-09-27 05:12] gibbsfromncis commented on #1870
PR: #1907

[2018-09-27 06:42] clockworkgr commented on #1625
Since we're working on this, we should also point out to users more clearly that a local wallet != bin file.

The .bin file is the backup of ALL local wallets iirc.

[2018-09-27 06:43] clockworkgr commented on #1403
Also, perhaps better to keep this open until sigve returns and the bitsharesjs PR is merged upstream and dependency here updated.

[2018-09-27 07:59] abitmore commented on #1832
Please be aware that a simple 16-character password is NOT secure. We don't have any 2FA method so far, nor any password recovery method. We did decide to not allow users to choose their own passwords for a reason. Earlier discussion is here https://github.com/bitshares/bitshares-ui/issues/177.

[2018-09-27 08:05] sschiessl-bcp commented on #1832
I just noticed that the hours assigned are set to include login functionality. The OpenLedger login method is fundamentally different.

**Reference**
Login is available everywhere via a Popup, which allows to login with local wallet or cloud login non-intrusively while staying on the currently open tab (after login nothing is reloaded, simply the Popup disappears).
![image](https://user-images.git

[2018-09-27 09:59] #1479 closed

[2018-09-27 10:12] sschiessl-bcp opened #1908 "Refactor HeaderDropdown.jsx and Header.jsx"
The Header contains heavy code duplication and somewhat inconsistent logic how items are rendered.
A first step was introduced in #1895 for the new "or Legacy" menu items.

This issue targets refactoring of both components.

- [ ] Analyze the existing header row and menu item format. What is different, what is always the same? What special cases are needed? This should be reported back and discuss

[2018-09-27 10:20] #1856 closed

[2018-09-27 10:30] sschiessl-bcp commented on #1816
PR referenced wrong issue

[2018-09-27 10:30] sschiessl-bcp commented on #1841
Closed by #1904

[2018-09-27 10:30] #1841 closed

[2018-09-27 19:32] startailcoon commented on #1870
Works compared to before. Though, the reason we had this behavior before was due to the fact that it forced the users to copy the address through the "Copy" button. This would make sure that users doesn't get any extra characters while they copy, thinking it's part of the address.

Can we have the same behavior after the update?

I believe this was done here for example: https://github.com/bitshar

[2018-09-27 19:35] gibbsfromncis commented on #1870
@startailcoon Do you want to keep this behavior only if user tries to copy address or memo only?

[2018-09-27 20:13] startailcoon commented on #1905
Buy modal is the BlockTrades in wallet trading feature. There was an error in the gatewayStatus object when assetWithdrawlAlias was missing.

[2018-09-27 20:19] startailcoon commented on #1902
Isn't the hiding of the chart enough on mobile? It uses the `<Collapse />` component. If it isn't toggled it wouldn't load at all.

I could see this as an option when you use a mobile device that's slighly larger than the trigger for a mobile device, and wish to hide the chart though, if that is what you think about, otherwise it wouldn't be an issues in my opinion.

I'll add the "Hide chart" opti

[2018-09-27 20:45] clockworkgr opened #1910 "RTL Language support"
We should probably research what it would entail to support RTL languages for the interface.

[2018-09-27 20:49] sschiessl-bcp commented on #1902
Pretty much, I also sometimes feel on my laptop that TradingView is simply taking forever. It is also quite intrusive, I am thinking about re-introducing the native chart again and let the user choose (I never cared about the chart anyways, but that's for the future and I am not an active trader..)

[2018-09-27 23:35] gibbsfromncis commented on #1870
Added new component "DisableCopyText" and your feature request was implemented.

[2018-09-28 12:52] kapeer42 commented on #1908
Refactoring is love, DRY is beautiful :smile:

(aka "I'm in")

[2018-09-28 15:00] startailcoon commented on #1906
This is also part of https://github.com/bitshares/bitshares-ui/issues/1905.

I will create a new Issue regarding the legacy gateway UX

[2018-09-28 15:00] #1906 closed

[2018-09-28 15:09] startailcoon opened #1911 "[UX:3][UI:4] Legacy Gateway UX"
This issue is for creating a new UX for the legacy Gateway/Bridge sections.

With the new Withdraw and Deposit (as well as Buy) modals we should retire the old section, as we currently will have two sections with the same feature.

The old gateway section is complex, and some even has an agreement that needs to be accepted, while it's not on the new Modal (which was agreed upon the PR with said ga

[2018-09-28 15:13] startailcoon commented on #1902
It's been up before, while I think it would be a step backwards again, it could make sense to explore ways to see if we can make Trading View less resource hogging. In worst case we could take the legacy one back for "simple" charts, if the difference is large.

[2018-09-28 15:13] startailcoon commented on #1894
Duplicate of #1905

[2018-09-28 15:13] #1894 closed

[2018-09-28 15:33] wmbutler commented on #1762
Marked as duplicate since it will be resolved in exchange redesign.

[2018-09-28 15:34] wmbutler commented on #1848
@kapeer42 did you expect to be paid for some of this?

[2018-09-28 15:48] wmbutler opened #1912 "[2] Strip out non numerics when pasting into deposit/withdraw/send"
**Describe the bug**
Numbers containing non-numericvalues on the user clipboard fail to paste into the **quantity field** of deposit/withdraw/send modals.

**To Reproduce**
Steps to reproduce the behavior:
Copy a number with a comma and dollar sign (say $1,000) from a text file and paste it into the quantity field.

![paste](https://user-images.githubusercontent.com/1254810/46219007-c90e1500-c30b-

[2018-09-28 16:10] wmbutler commented on #1832
@charyury please note this as well. I think for the cloud wallet, it's ok for you to use our existing method of providing a very long complex password. Just use the existing method to prefill that for the user while asking them to save and confirm it. We've been through quite a bit of iterations on that and what we have now seems to work well.

[2018-09-28 16:11] wmbutler commented on #1832
@gibbsfromncis I'd like for you to assist with the ANTification of this so we don't have duplication of effort. I've allocated some time for you to do this. in the issue.

[2018-09-28 16:12] wmbutler commented on #1832
@charyury please be sure to submit UX for the various scenarios, particularly for those where more complex interactions occur (a user placing an order while not logged in which results in a modal to gain authentication).

[2018-09-28 16:14] wmbutler commented on #1625
@clockworkgr hrmmm. I don't think this distinction matters much to people. The bin is synonymous with the local wallet in that it's an encrypted of the data contained in the browser.

[2018-09-28 16:15] wmbutler commented on #1901
Great strategy.

[2018-09-28 16:18] wmbutler commented on #1503
@gibbsfromncis please be more specific on your estimate 2 ux and 6 ui?

[2018-09-28 16:28] wmbutler commented on #1536
- [ ] Only allow FROM to be populated if PROPOSE is selected

@startailcoon I think we will make an issue for the ANT redesign.

Empty field for the asset

yes

I think yes, but may not understand the question

We definitely would like to see this as ANT as much as possible

Use the active account by default and then let the user type an arbitrary name otherwise.

@kapeer42 A user should be able t

[2018-09-28 17:42] kapeer42 commented on #1536
@wmbutler

I think you misunderstood me (although your answer was useful), let me rephrase:

Given the resulting operation:

What P is chosen?

[2018-09-28 17:56] kapeer42 commented on #1848
@wmbutler I expected this to be included in the initial 1 hour here (2 - 1 given to HarukaMa) https://github.com/bitshares/bitshares-ui/issues/1539 hence the 'like' on @startailcoon comment.

On the other hand this https://github.com/bitshares/bitshares-ui/issues/1539#issuecomment-420195820 was not in the initial scope and not rewarded.
If you want an estimate, from the code I'd say it was roughly

[2018-09-28 19:52] grctest commented on #1539
It's also impossible to change backing asset when your asset has been selected by an MPA as its backing collateral, an error message only displays once you attempt to submit the changes not when you enter a different asset in the backing collateral field.

Ideally an MPA should only be able to select another MPA as its backing collateral if its supply is greater than 0.

[2018-09-28 20:08] OpenLedgerApp commented on #1832
@clockworkgr, @sschiessl-bcp, we are planning to introduce Beet integration. It can be delivered when it is ready. @wmbutler, the general flow can be the same - we can share our estimate and if it is confirmed - we will provide our solution.

@abitmore, @wmbutler we can implement your scenario for the cloud wallet with the providing a long complex password if it is required, however, it was not in

[2018-09-28 20:19] abitmore commented on #1870
Just a note: if to keep the "unable to copy with ctrl+c" behavior, please consider clearing the clipboard rather than filling it with something else. https://wallet.bitshares.org/#/account/undefined (account activity page 3) is an example that people have copied & pasted something wrong.

[2018-09-28 20:41] gibbsfromncis commented on #1503
@wmbutler The process of transactions creating etc. is complicated for me because I'm not familiar with this part. So that's why I'm asking to increase estimate or ask somebody who has more knowledge of this specifics to work on this task

[2018-09-29 10:20] romy2012 opened #1913 "No method with name 'get_account'""
Started POST "/api/v1/accounts" for 127.0.0.1 at 2018-09-29 18:16:47 +0800
Processing by Api::V1::AccountsController#create as JSON
  Parameters: {"account"=>{"name"=>"romy2018", "owner_key"=>"GPH68FsLa19HeoKZn13Bv6s8wVTT2zg26LKZDYNQXFnfErZGX1DYy", "active_key"=>"GPH75wSRshrfp6UZsp1HRamihCiKhQfvW5i7Qcr6yba8Hpp6UJEBE", "memo_key"=>"GPH5G2UiG6Q2oSQmMQ1fniCTyoSxrHBKshvGZncLQuH2vFpNLGjRV", "refcode"=>

[2018-09-29 11:52] startailcoon commented on #1503
I see this feature as a good implementation and we have no other given coder for the UI implementation. The feature request is months old we should increase the required hours for @gibbsfromncis to implement this.

[2018-09-29 12:16] kapeer42 commented on #1536
On the ANT side I see 5 subtasks/dependencies:
- [ ] Modify ANT Form.Item to be able to display something on the right of the label (like the two components below)
- [ ] ANTify AccountSelector ![accountselector_current](https://user-images.githubusercontent.com/35779885/46245656-aeae6700-c3f1-11e8-9292-1052071f18dc.png)
- [ ] ANTify AmountSelector ![amountselector_current](https://user-images.gith

[2018-09-29 12:50] kapeer42 opened #1914 "[develop] Vertical order book centering fails when grouping orders"
**Describe the bug**
The vertical order book centering does not take the orders grouping into account. (develop branch)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to market
2. Enable vertical order book
3. Click on group, 0.1%
4. See error

**Expected behavior**
Should center correctly even when grouping

**Additional context**
The issue is for tracking. This is my mistake, I will pu

[2018-09-29 14:42] abitmore opened #1915 "Unable to input 0.0000001 as price when placing new order"
**Describe the bug**
* Unable to input 0.0000001 as price when placing new order
* under certain circumstance `price * quantity` doesn't equal to `total`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/market/GDEX.BKBT_GDEX.BTC'
2. Scroll down to 'BUY gdex.BKBT'
3. **Try to input `0.0000001` in `price` box, the last `1` doesn't show.** JS error appears i

[2018-09-29 20:57] startailcoon commented on #1912
Reverted my commit `794df16` as it doesn't do what was requested. I was unable to find a good way to solve this issue.

I've unassinged myself for now

[2018-09-29 22:05] startailcoon commented on #1536
See #1872 for ANTified components possibly

[2018-09-30 00:32] arminnaderi opened #1917 "[2] Duplicate Orders On Order Book/Open Orders"
**Describe the bug**

A duplicate order shows up on the order book/open orders when opening up the UI for the first time.

**To Reproduce**

It is very difficult to reproduce. You have to create an order and open up the UI at the exact same time. This results:

First, the orders are loaded from the account balances.
Then, the market subscribe callback notifies of an order being created.
The result

[2018-09-30 17:48] froooze commented on #1832
@charyury:
- openledger.io loading failed on mobile browser testing pages:
http://mobiletest.me/iphone_5_emulator/?u=http://openledger.io
http://quirktools.com/screenfly/#u=http%3A//openledger.io&w=320&h=568&a=37

- Activation of check boxes at the end is not possible, without resizing the text on an mobile phone, but than the text is not readable anymore. A smaller max-width with an larger clicka

[2018-09-30 19:46] startailcoon commented on #1902
I had to revert my branch thread. New commit for this fix is https://github.com/bitshares/bitshares-ui/commit/9524f4373f7e30f1123399b6892eaf1bbed38077

[2018-09-30 20:16] startailcoon commented on #1889
Fixed in commit https://github.com/bitshares/bitshares-ui/commit/dcdd386db0ae3f27e4cb61b1a63e674930779b38

Some dynamical update issues on this to make it behave as expected on the left/right panel visualization changes, which took longer than expected. Requested hours is far less than used for this issues.

### Requested Hours: 1 hr

[2018-10-01 07:48] arminnaderi commented on #1917
Yeah, that's why I was hesitant to report it. It's an edge case and won't affect most users.

[2018-10-01 10:54] #1905 closed

[2018-10-01 12:06] #1600 closed

[2018-10-01 14:28] startailcoon commented on #1913
This looks very strange. Is this really related to the Bitshares UI, and if so, where do you get this error output.

A few more details would go a long way in helping you with any issues you may have.

[2018-10-01 14:32] startailcoon commented on #1910
This would be a larger CSS related task to complete, but it would indeed be a good one to have.

I propose that we should make an overhaul and documentation on how the CSS standards are (should be) when creating code, which would make RTL support much easier.

[2018-10-01 16:10] wmbutler commented on #1832
@charyury I would hope you would not charge us for inserting the password into the field since it's (a) already part of our code (b) we are actively subsidizing work that you have completed already. It was my position that we shouldn't sweat the small details since we have entered into this partnership in good faith.

I'd rather not get into a debate about this here, but it's very easy to brute fo

[2018-10-01 16:11] wmbutler commented on #1832
This will need to wait for the exchange redesign UX. Once it's in production, I'd like to collaborate with you guys on this.

[2018-10-01 16:20] wmbutler commented on #1536
@kapeer42 thanks for clarifying. I definitely missed an important piece. Please see this mockup and the change in text to reflect.

![screen shot 2018-10-01 at 11 18 49 am](https://user-images.githubusercontent.com/1254810/46301427-f1944a00-c56b-11e8-9b95-34939fadfc6c.png)

[2018-10-01 16:28] wmbutler commented on #1870
@abitmore @gibbsfromncis completely agree here. If we are going to disallow a copy operation, we should ensure we copy something blank to the clipboard. Otherwise the user may paste a previous address which could present a real problem.

[2018-10-01 16:30] wmbutler commented on #1539
Where are we on this?

[2018-10-01 16:34] wmbutler commented on #1625
@clockworkgr if you are suggesting altering the copy, please state how the copy should be changed. This issue was primarily created to help people in the process of creating a local wallet if they previously used a cloud wallet.

The stated problem is that the process currently generates a blank wallet. The consensus seems to be that we should create a wallet that mirrors the cloud wallet effectiv

[2018-10-01 16:35] wmbutler commented on #1119
@startailcoon I think we need to get this to a closing point.

[2018-10-01 18:45] startailcoon commented on #1888
## Panel Grouping

The idea with this is that it should be quick and easy to setup a design style of the users choice. The four sections can be grouped in up to two groups or not at all.

Comments on this setup?

![bild](https://user-images.githubusercontent.com/12114550/46308724-aead9300-c5ba-11e8-9d0b-608c4e6ca2f7.png)

[2018-10-01 19:07] wmbutler commented on #1888
I really appreciate best practices and I hear repeatedly that users are happy with Binance's approach to the exchange layout. If we were to limit layouts, I'd go with theirs by default. Fundamentally I think that:

- My Trade History and Market Trade History can be the same column with a filter and can reside underneath My Markets on the right side
- I agree that All Markets and My Markets is an a

[2018-10-01 19:43] startailcoon commented on #1888
Right now I'm working outwards from the UX that the current issue is built upon. Grouping settings is to make it more dynamic when I remove the "Layouts".

This makes it possible to have a more dynamic default layout as well, and a pre defined grouping can be set for users. At the same time they can change this at will.

Some may not wish to use tabbed layouts at all, and some more wish to have al

[2018-10-01 20:07] OpenLedgerApp commented on #1832
@wmbutler, our partnership is very important to us and our primary goal is to bring value to all community. We will do this task for free.

@wmbutler, it sounds reasonable! Let's finalize and complete this task first.

@wmbutler,
We are ready to embed our sign up/login to your current UX flow in the bounds of this task.
1. The initial login will be the OpendLedger route.
2. Lock/Unlock functionali

[2018-10-02 00:42] dot5enko commented on #1543
i guess i need to merge those changes into `develop` branch, not staging as some time before was ?

[2018-10-02 06:58] RobJah commented on #1770
People please help! I cant use any BTS wallet on any browser or downloaded wallet version anymore!
They all give me the white screen, after saying it has 'established a connection, initializing locel database'

i have downloaded the latest version of the wallet aswell but to no avail.
please help!

[2018-10-02 09:13] startailcoon commented on #1770
Please see if this solves your issue

https://github.com/bitshares/bitshares-ui/issues/1810#issuecomment-417947711

[2018-10-02 14:35] startailcoon commented on #1911
Assigned @nikandrovalex for UX

[2018-10-02 16:08] RobJah commented on #1810
Well i still have the issue on my laptop with all my wallets. I tried startailcoin's fix. Didnt change anything about the issue on my end.

Please assist as i am starting to panic lol

[2018-10-02 17:32] sschiessl-bcp commented on #1810
What version are you running?

[2018-10-02 17:35] sschiessl-bcp commented on #1543
Yes, please PR onto develop

[2018-10-02 17:41] sschiessl-bcp commented on #1403
Great news this is finally be solved!

[2018-10-02 17:50] RobJah commented on #1810
I now also re-did all the steps there were, cleaning browser, toggle on the automatic time and date windows thing and toggle it off again. reloaded, and it works again.

thnx a bunch ppl!

[2018-10-02 17:54] sschiessl-bcp commented on #1908
Can you clarify what needs discussion? Or what does that label mean? @startailcoon

[2018-10-02 18:34] wmbutler commented on #1403
@sschiessl-bcp since you are taking over for @svk31 please close this once merged.

[2018-10-02 18:35] wmbutler commented on #1912
@sschiessl-bcp can you help here? This really needs to be addressed.

[2018-10-02 18:38] wmbutler commented on #1832
Yep. I just want to restate that it's my expectation that we will have time to make tweaks as we get closer to completion even if they are not explicitly stated here. I think everyone involved can appreciate that we are committing enough funds to allow for some negotiation if there are unanticipated details that need to be worked through.

[2018-10-02 19:36] sschiessl-bcp commented on #1912
Will do

[2018-10-02 19:39] gibbsfromncis commented on #1870
@abitmore @wmbutler I suppose proposed behavior is incorrect because it leaves user in dark and he doesn't know why he can't copy the wallet address.

Current behavior:
- User tries to copy wallet address
- He copies "PLEASE USE COPY BUTTON TO MAKE COPY OF ADDRESS OR MEMO ON THIS PAGE" instead of address
- User press "copy address" / "copy memo" to copy everything correct
- User uses copied addres

[2018-10-02 19:46] gibbsfromncis commented on #1911
@startailcoon @nikandrovalex is on vacation right now and going be back in few days.

[2018-10-02 22:01] dot5enko commented on #1543
@sschiessl-bcp done

[2018-10-02 23:10] gibbsfromncis commented on #1816
Done.

<img width="166" alt="screenshot 2018-10-03 01 09 28" src="https://user-images.githubusercontent.com/35899973/46381993-04f8ff80-c6a9-11e8-895a-465388b0f193.png">
<img width="1440" alt="screenshot 2018-10-03 01 09 11" src="https://user-images.githubusercontent.com/35899973/46381994-05919600-c6a9-11e8-9700-ea5b0852cf4a.png">
<img width="1440" alt="screenshot 2018-10-03 01 09 02" src="https://

[2018-10-02 23:11] #1483 closed

[2018-10-02 23:27] gibbsfromncis commented on #1861
@kapeer42 it's unreal as we using ant. If you want to have this kind of feature you can create your custom Buttons component and use this prop on its

[2018-10-02 23:28] gibbsfromncis commented on #1861
UX:
![dark theme_style guide_button group radio group radio solid](https://user-images.githubusercontent.com/35899973/46382532-9cf7e880-c6ab-11e8-8fd0-7dd48a922d75.png)

[2018-10-02 23:31] gibbsfromncis opened #1923 "Upgrade ant in bitshares-ui-style-guide from v3.6.4 to v3.10.0"
Todo:

- [x] Upgrade ant from `v3.6.4` to `v3.10.0`
- [x] Check all components we use everything fine

UPDATED: @startailcoon @wmbutler based on issues I found please put estimate 5h

Fixes found after the review:

- [x] Popover
- [x] Collapsed list
- [x] Drag&Drop
- [x] Switches
- [x] Tables

[2018-10-03 00:27] gibbsfromncis opened #1924 "Style-Guide themes files update"
For now we have 3 themes files for each theme - https://github.com/bitshares/bitshares-ui-style-guide/tree/master/app/bitshares-ui-style-guide/styles

Each file of theme template has 2 parts:
- [customized css rules](https://github.com/bitshares/bitshares-ui-style-guide/blob/master/app/bitshares-ui-style-guide/styles/dark/dark-theme.less#L3)
- [configuration (variables) ](https://github.com/bitsha

[2018-10-03 00:34] gibbsfromncis opened #1925 "[~8] Provide easy way to add custom templates for Style Guide"
For now if any user wants to create his own theme for Reference Wallet it was possible to do within Reference Wallet fork.

But when we start to work with Style Guide this ability was broken because if user of Reference Wallet start to use his own theme with different name like "myCustomTheme" all Style Guide components become broken.

The idea is to architect and provide an instruction how develo

[2018-10-03 01:02] gibbsfromncis commented on #1924
Done by commit: https://github.com/bitshares/bitshares-ui-style-guide/commit/7af0b04830f0975de64d26fe7ac940d9d17d11f5

[2018-10-03 01:30] #1924 closed

[2018-10-03 01:31] gibbsfromncis commented on #1923
Done by commits:
https://github.com/bitshares/bitshares-ui-style-guide/commit/2930a268b946e2c4c113e2edc2de393fe1df023b

[2018-10-03 01:45] gibbsfromncis commented on #1861
Done by commit: https://github.com/bitshares/bitshares-ui-style-guide/commit/fdebe244ad99d64058c4e65bfe0c5c0441b58183

[2018-10-03 01:45] #1861 closed

[2018-10-03 01:54] gibbsfromncis commented on #1923
There are the following issues after upgrade:

1. Collapsed list arrows went down
<img width="1173" alt="1" src="https://user-images.githubusercontent.com/35899973/46386076-aee38680-c6bf-11e8-9c6c-1d47dc8eebe0.png">

2. Drag&Drop area has additional space in top/bottom
<img width="393" alt="2" src="https://user-images.githubusercontent.com/35899973/46386102-cb7fbe80-c6bf-11e8-85aa-1140c2c7f58e.png

[2018-10-03 01:58] gibbsfromncis commented on #1923
@startailcoon @wmbutler it would be better to spend one hour each month to upgrade ant to the last version than do upgrade each 5 month and make a lot of fixes...

[2018-10-03 02:41] gibbsfromncis commented on #1923
Done by these commits:
https://github.com/bitshares/bitshares-ui-style-guide/commit/9676b8c01492568b704d88b8c8a9b1f0892ea37d
https://github.com/bitshares/bitshares-ui-style-guide/commit/805933a21f1d025e92cadab2de7fbb43bef44d17
https://github.com/bitshares/bitshares-ui-style-guide/commit/c4c2399761b1e8928b6e023c082011ab968046cd
https://github.com/bitshares/bitshares-ui-style-guide/commit/61db4787d7

[2018-10-03 02:41] #1923 closed

[2018-10-03 04:03] startailcoon commented on #1870
I agree with @gibbsfromncis here. The user needs to know about the recommend way to make a copy of the address/memo.

We just need to make sure the user doesn't get a bad value back instead of the message.

If the gateways returns a bad value, that's out of this issues scope.

[2018-10-03 04:08] startailcoon commented on #1604
Increased hours for UX based on new input that needs to be worked on.

[2018-10-03 04:10] startailcoon commented on #1923
@gibbsfromncis fully agree. Please add it to your todo list each month. 👍

[2018-10-03 04:45] startailcoon commented on #1925
This would be a nice thing. Acknowledge that estimated hours are rough and can change. It's a task that needs to take its time

[2018-10-03 07:19] OpenLedgerApp commented on #1832
Okay. We have the same vision.
We will sync with @gibbsfromncis and we will start our activities here.

[2018-10-03 07:29] gibbsfromncis commented on #1925
@startailcoon I'll put it to next milestone if you agree.

[2018-10-03 08:17] clockworkgr commented on #1625
I know what the stated problem is. I opened the issue in the first place :)

And yes it is a copy issue:

".. between browsers and computers using a backup file (.bin) which may contain one or more wallets."

But to be honest it still needs to be clearer.

Is anyone willing on working on a "LocalStorage browser" part of the settings menu?

A sort of visual representation of the browser's local sto

[2018-10-03 18:14] kapeer42 commented on #1578
I destroyed my computer by accident, couldn't finish the work for today, my bad.
Could not comment before today too, sorry for the short notice :(
Will resume work as soon as I recover (a couple of days tops probably).

[2018-10-03 18:14] kapeer42 commented on #1536
See https://github.com/bitshares/bitshares-ui/issues/1578#issuecomment-426741029

[2018-10-03 18:17] kapeer42 commented on #1539
Everything except @grctest comment should have be addressed.
Also see https://github.com/bitshares/bitshares-ui/issues/1578#issuecomment-426741029

[2018-10-03 19:55] startailcoon commented on #1536
When can you push these changes @kapeer42?

- We should commit this change without ANT updates as not everything is fixed to support it.
- Make sure the "Confirm Transaction" uses the propose toggle by default, and views the `create propose` instead of `transfer`. See flow below

This would behave the same way as legacy send, which would later be retired.

# Flow

## Without Propose
![image](https

[2018-10-03 19:59] startailcoon commented on #1908
`needs discussion` is set due to this in your task description

It's to highlight that there will/is a discussion thread as well.

[2018-10-03 20:03] startailcoon commented on #1539
@kapeer42 please review your code and submit a new PR as your PR #1852 was reverted by @sschiessl-bcp in PR https://github.com/bitshares/bitshares-ui/pull/1878

@sschiessl-bcp there is no documentation on why this was reverted. I assume there has been a discussion about this somewhere together with @kapeer42

[2018-10-03 20:04] startailcoon commented on #1578
Should we remove your assignment on this @kapeer42 , or will you have it ready for next sprint of 2018-10-17?

[2018-10-03 20:08] startailcoon commented on #1917
Added 2 hours for researching about issues regarding this behavior. It's a visual issue, happening in rare occasions and may be difficult to find where to start.

[2018-10-03 20:52] nikandrovalex commented on #1604
Hi guys @startailcoon  @wmbutler .

I am pleased to continue working on the project😊
I came back from vacation and I can give the project more than 20 hours a week.

I updated the layouts to zeplin https://zpl.io/2vWwwve

You can also see them here: https://sketch.cloud/s/Q1AgL/p/1604-asset-creation-edit-redesign

I finished what I described above with gibbsfromncis:

What are your thoughts on thi

[2018-10-03 21:34] startailcoon commented on #1835
There is an issue with the change I made and it will fail on some parts of the code. Scrolling is fixed, but requires some more attention. Making this required to be pushed for next release instead.

[2018-10-03 22:16] nikandrovalex commented on #1753
Hi @startailcoon @wmbutler @dot5enko @svk31 . I think I understand what your problem is.

I suggest using the standard components https://ant.design/components/tabs/ I also used them for the Asset Creation & Edit Redesign task (https://github.com/bitshares/bitshares-ui/issues/1604) for example,  http://take.ms/YB1w2

I added new design layouts to zeplin: https://app.zeplin.io/project/5b9ad751d8068

[2018-10-04 10:55] #1816 closed

[2018-10-04 12:02] #1870 closed

[2018-10-04 13:05] sschiessl-bcp commented on #1912
The solution looks easy, but required some trial & error. Please increase to 2 hours.

[2018-10-04 14:18] #1912 closed

[2018-10-04 21:26] startailcoon opened #1927 "[6][kapeer42][1][gibbsfromncis] ANT Replacement for Asset Selector"
Replace `Asset Selector` dropdown with ANT components.

Example issue #1872

![image](https://user-images.githubusercontent.com/12114550/46503910-a8bee880-c82c-11e8-9941-bd8cbd730c6c.png)

[2018-10-04 21:27] startailcoon commented on #1872
Blocked by #1927

[2018-10-05 05:42] gibbsfromncis commented on #1604
@nikandrovalex please think about Edit mode. When user will do Edit:

- [ ] How user can save update? I do not see any buttons or something like that
- [ ] It would be nice to have some kind of marks on tabs to let user know he changed some content

[2018-10-05 05:45] gibbsfromncis commented on #1927
@startailcoon please create an additional component `AssetSelector` we will be able to use everywhere and make it based on ant components. But I suppose it was your plan :)

[2018-10-05 05:49] gibbsfromncis commented on #30
@wmbutler @startailcoon If I understand correct recurring payments already supported on blockchain level and we can start to work on UI implementation. Right?

If so, lets do it :)

[2018-10-05 05:52] gibbsfromncis commented on #268
@wmbutler @startailcoon can be assigned by me and @nikandrovalex? What do you think?

[2018-10-05 07:59] sschiessl-bcp commented on #30
I'm pretty much just waiting to get a go for #1860, which creates a place for this to go.

Maybe @nikandrovalex can already start with a mockup for this one?

[2018-10-05 08:07] sschiessl-bcp commented on #1539
That was a double revert (#1884) to cut out the new Exchange Layout from staging.

I would like @kapeer42 to assess the comments made in here, and reflect on what is still missing in terms of disabling / enabling and create a new issue for it. I consider this issue closed as it concerns only the backing asset, also it seems to entangled to keep it open further.

[2018-10-05 09:09] gibbsfromncis commented on #30
@sschiessl-bcp I suppose we should provide more details or any requirements list for @nikandrovalex because he is not familiar enough with Bitshares. If you ready to do it it would be cool

[2018-10-05 10:58] kapeer42 commented on #1539
@grctest I just tried to change the backing asset of an MPA that is the backing asset of another MPA and the transaction was accepted so there seems to be no issue there. Maybe I misunderstood your comment?

[2018-10-05 10:59] kapeer42 commented on #1578
@startailcoon It will be ready

[2018-10-05 11:01] kapeer42 commented on #1536
@startailcoon Aye

[2018-10-05 11:46] nikandrovalex commented on #1604
@gibbsfromncis

1. Do not you see these buttons? http://take.ms/OlCmXA  :)
2. Usually after similar actions it is customary to display notifications of this type http://take.ms/CQcaJ
https://ant.design/components/notification/#header

[2018-10-05 12:11] grctest commented on #1089
If you're using the bin key login mechanism, it doesn't mention any of the related accounts in the login modal panel, so if you've browsed one of your secondary accounts (different bin key, not a sub-account) the only username reference you've got is the key filename (default is not descriptive of account) and the top-right invalid username - you might end up trying to enter the password for the s

[2018-10-05 13:01] grctest opened #1932 "Draw attention to voting mechanism post BSIP 22"
**Is your feature request related to a problem? Please describe.**

[BSIP 22](https://github.com/bitshares/bsips/blob/742f1a617f22fda1aec11985628d2f8860be2a23/bsip-0022.md) proposes to introduce decaying votes, we aught to introduce additional voting UI functionality to combat voting apathy.

**Describe the solution you'd like**

Users begin to receive notifications requesting that they check/refr

[2018-10-05 13:07] sschiessl-bcp commented on #1917
Quote from armin
"If you call get_limit_orders at the same time an order was created, the subscribe_callback will fire at the same time and u will get 2 orders added to your order book"

[2018-10-05 13:50] sschiessl-bcp opened #1934 "Fighting voter apathy"
Voting should be highlighted in the UI. This issue is means to create a component that shows prominently
 - upcoming worker proposals
 - highlighting new proposals

Furthermore, maybe via a expandable list
 - currently active worker proposals

User should be able to mark proposals as "seen" (setting stored locally), which removes them from the new proposals highlighted list.

[2018-10-05 13:51] sschiessl-bcp opened #1935 "[Showcase] On-chain governance"
Redirect to the voting panel, or possible the new one with #1934

[2018-10-05 13:53] grctest commented on #1934
Beat you to it by about an hour ;D https://github.com/bitshares/bitshares-ui/issues/1932

[2018-10-05 13:54] sschiessl-bcp commented on #1934
Your issue is post BSIP 22

[2018-10-05 13:57] grctest commented on #1934
Ah true, however it's not explicitly delaying related dev activity/discussion to post BSIP 22 implementation, just highlighting that it will amplify the consequences of voter apathy if we don't take action. Voter apathy is a general BTS problem, not solely 22 related, you're right there.

Related: https://github.com/bitshares/bitshares-ui/issues/1339

[2018-10-05 14:32] kristinlow commented on #1934
Zooming out a little beyond the specific components to the behavioural outcome, I think we would see apathy recede if:

- People are firstly aware that they can vote on bitshares (this implies they know how voting works, what workers are, what BSIPs are, etc)
- That people feel encouraged, if not obligated, to participate in voting
- That people feel confident of their votes' importance/significan

[2018-10-05 16:01] gibbsfromncis commented on #1629
@svk31 I have no idea what time is placed there but I'm going to close this task as it is duplicate of #1604

[2018-10-05 16:01] #1629 closed

[2018-10-05 16:04] gibbsfromncis opened #1936 "[3][gibbsfromncis] Replace old tabs for Ant tabs everywhere"
The task is to replace all old tabs for ANT tabs like on this task #1904

Requested estimate: 3h

[2018-10-05 19:19] sschiessl-bcp commented on #1625
For the backup cases:
One .bin file represents one local wallet. One local wallet may contain endless amount of keys. UI already shows the different local wallets in the Settings section, I dont think a LocalStorage browser would do anything as the user who run into this kind of problem wouldnt know what to look for either way.

I like the initial suggestion. Add a toggle "Add current account XYZ

[2018-10-05 20:41] abitmore commented on #1604
To make the UX better, we do need to understand the product first.
* valid precision range in back end is 0-12
* The **warning about CER** was there for a reason, it **was very important**. However, after 2018-07-19, fee pools are no long drain-able due to BSIP26, so it's not very important now. It's still good for asset owner/issuer to set CER (core exchange rate) properly. Need to explain what's

[2018-10-05 21:00] abitmore commented on #1604
* "market fee (%)" value has fixed 2 decimals, and can't go beyond 100%, UI/UX can reflect it
* "max market fee" need an explanation, I think many people understood it incorrectly. The fact is: the cap/limit is for each "fill" but not each "order".  For example, if you place an order to buy 10000 ASSETX which has a 1% market fee and max fee is 10, you may assume you'll get 9990; however, if anothe

[2018-10-05 21:14] abitmore commented on #1604
* about permissions:
  * actually enabling a permission means the asset issuer/owner **is able to change** the corresponding flag, disabling a permission doesn't mean the corresponding flag will be disabled. Thus, permission page and flag page should have some differences in wording.
  * when an asset has zero supply, permissions can be re-enabled.
  * please make sure that "global settling" is in

[2018-10-05 21:33] abitmore commented on #1917
IIRC order IDs are returned by `get_limit_orders`, so UI should be able to identify and handle the duplicates.

[2018-10-05 21:37] Bluffet commented on #1934
Bringing it to people's attention certainly will help.

Another thing is making the proposals visible within client, possible standardized and stored for reference and to easily compare them. It's nice to see this being put forward again.

[2018-10-06 01:42] abitmore commented on #1934
Here is an old thread related in forum: https://bitsharestalk.org/index.php/topic,20962.0.html

[2018-10-06 04:32] gibbsfromncis commented on #1934
Definitely requires UX.

I’ve assigned Alex to this.

[2018-10-06 04:36] gibbsfromncis commented on #1911
@startail please provide more details to @nikandrovalex because this section is not quite familiar for him.

[2018-10-06 13:10] kapeer42 commented on #1927
Can I claim this?

[2018-10-06 13:34] inoue-a opened #1938 "The second window doesn't load settings when open multi-instances of the Electron app."
**Describe the bug**
When open multi-instances of the Electron app, the first one is opened normally but the second one doesn't load settings. This doesn't happen on the old release (2.0.180418).

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app and adjust settings freely, e.g. change language and login mode.
2. Close the window.
3. Open the app and keep the window opened.
4. Open

[2018-10-07 17:03] gibbsfromncis opened #1939 "[1] Setup Pull-Request template"
- [ ] Collect criteria & requirements for Pull-Requests template
- [ ] Create Template

Requested estimate: 1h

[2018-10-07 17:06] gibbsfromncis commented on #1939
_I like to see the following part of PR template:_

**Description**

**Tested on the following browsers**:

- [ ] Chrome
- [ ] Opera
- [ ] Firefox
- [ ] Safari

**Screenshots/Licecaps**:

[2018-10-07 17:08] gibbsfromncis commented on #1939
@svk31 @sschiessl-bcp I would like to remember you that I'm not a guy who do reviews so I maybe do not know what exactly you want to see in PR description. It's really important to hear your thoughts to know how to make life easy for PR reviewers.

[2018-10-07 17:17] gibbsfromncis opened #1940 "Ping nodes in background"
@svk31 @sschiessl-bcp @startailcoon

Maybe I do not understand something but I start to hate my life when I see this message and should spend valuable hours of my life waiting while we do ping of all nodes.

1. What is the reason of this?
2. Can we start to ping nodes and hide window when find any node with > 500ms node latency and continue pinging in background?

[2018-10-07 18:00] gibbsfromncis opened #1942 "Foundation Removal Research"
The idea of this task is to do research about how to remove Foundation in the correct way. The result of this task will be several sub-issues with detailed steps how to remove foundation.

This task should be billable because of the time I'll spend on this research and plan preparing.

[2018-10-07 18:10] startailcoon commented on #1939
Title should contain issue(s) id and a short description.

Title: `Fixes #xxxx, #xxxx - Adds usefull fix`

Description should do the same and add more details on each issue(s) fix.

 We could also add checks like:

- [ ] Verified theme compatibility

[2018-10-07 18:50] cogutvalera commented on #1939
Next points just are my vision, hope/maybe it will help.
Key fields IMHO are:

 1.  PR number
 2.  PR title
 3.  PR description
 4.  PR date
 5.  PR issue(s) [link(s) to another Issue(s) template]
 6.  PR status
 7.  PR estimation
 8.  PR deadline
 9.  PR test (chrome, opera, firefox, safari, ...)
10. PR discussion/comments [link to template]

Just my thoughts ...
Thanks !

[2018-10-07 23:45] wmbutler commented on #1483
Need more guidance on the hours here. Also, this issue is not part of any milestone.

[2018-10-07 23:47] gibbsfromncis commented on #1483
@wmbutler I specially unassigned milestone because this task is irrelevant and was done in scope of another task.

[2018-10-07 23:54] wmbutler commented on #1604
Should we not even show this as an option for the frontend since this operation permanently disables the feature? Seems to me we could just expect more advanced users to use the CLI to permanently disable these features. It may be my lack of understanding here, but I always hate giving potentially novice users access irreversible features.

[2018-10-07 23:56] wmbutler commented on #1483
But you left your name and hours on it... I need better guidance. A sentence like "Please remove me from this issues and the hours associated with it".

[2018-10-07 23:57] gibbsfromncis commented on #1483
@wmbutler Got it. My bad.

[2018-10-08 00:05] wmbutler commented on #1625
Agreed. Question, could the user technically still use their cloud wallet login if they switched back? Seems to me that the answer is yes, but wanted to be sure.

[2018-10-08 00:12] wmbutler commented on #1089
What if we display a modal if you attempt to switch to an account where you do not hold the keys? The modal could have a CANCEL / CONFIRM option. Text might read:

[2018-10-08 00:24] gibbsfromncis opened #1943 "[Foundation Elimination] Forms"
The goal of this task is to remove any css rules which affect on style-guide like `background-color`, `color` etc. and keep any other styles on separate file

[2018-10-08 00:26] gibbsfromncis opened #1944 "[0.5] [Foundation Elimination] Action Sheet"
Action Sheet doesn't affect any global styles so if it is possible it should be replaced by an analogy from ANT

[2018-10-08 00:28] gibbsfromncis opened #1945 "[2.5][Foundation Elimination] Block List"
Block list is used only in few places so ideally it should be removed at all

[2018-10-08 00:31] gibbsfromncis opened #1946 "[Foundation Elimination] Button & Button Group"
Ideally **all** buttons should be replaced by ANT buttons.

[2018-10-08 00:34] gibbsfromncis opened #1947 "[1.5] [Foundation Elimination] Card"
Remove Card components at all and if possible replace by ANT card

[2018-10-08 00:40] gibbsfromncis opened #1948 "[Foundation Elimination] Label"
Move `label` scss to separate file

[2018-10-08 00:41] gibbsfromncis opened #1949 "[Foundation Elimination] Badges"
Replace Foundation Badges for ANT badges

[2018-10-08 00:43] gibbsfromncis opened #1950 "[Foundation Elimination] Menu Bar"
Replace Menu bar for any ANT alternative or remove it at all

[2018-10-08 00:44] gibbsfromncis opened #1951 "[Foundation Elimination] Modal"
Replace all Foundation Modals for ant Modals:

- [x] Phase I #1992
- [x] Phase II #1993
- [x] Phase III #1994
- [x] Phase IV #1995

[2018-10-08 00:45] gibbsfromncis opened #1952 "[Foundation Elimination] Motion"
Remove Foundation Motion at all

[2018-10-08 05:52] sschiessl-bcp commented on #1940
#1901

[2018-10-08 05:52] sschiessl-bcp commented on #1901
I will re-evaluate background pinging when doing this task (see #1940)

[2018-10-08 05:52] #1940 closed

[2018-10-08 05:58] sschiessl-bcp commented on #1625
Yes, password does not get invalidated by the process.

[2018-10-08 05:59] sschiessl-bcp commented on #1625
@nikandrovalex

I'll implement this with your UX. Please let me know if you have any questions on the intended flow.

[2018-10-08 09:16] kristinlow commented on #1816
Great improvement. Thanks everyone.

[2018-10-08 09:26] MikhailKavalenka opened #1953 "Migrate Openledger sign up functionality Part 1."
**Description**
Migrate a new registration selection page from Openledger to the Bitshares codebase.

[2018-10-08 09:51] gibbsfromncis opened #1954 "Check & update readme"
Check README for irrelevant info and update it

[2018-10-08 10:01] MikhailKavalenka opened #1955 "Migrate Openledger sign up functionality Part 2. Local wallet."
Migrate Openledger Wallet model (local wallet) registration pages.
1. Registration form component.
2. Confirm registration component.
<img width="989" alt="screen shot 2018-10-08 at 12 58 50 pm" src="https://user-images.githubusercontent.com/28979127/46602847-10f61e80-cafa-11e8-8ffa-e70a501d55f0.png">
<img width="1108" alt="screen shot 2018-10-08 at 12 59 21 pm" src="https://user-images.githubuser

[2018-10-08 10:02] MikhailKavalenka opened #1956 "Migrate Openledger sign up functionality Part 3. Cloud wallet."
Migrate Openledger Accout model (cloud wallet) registration pages.
1. Registration form component.
2. Confirm registration component.
<img width="1051" alt="screen shot 2018-10-08 at 1 01 58 pm" src="https://user-images.githubusercontent.com/28979127/46602975-67635d00-cafa-11e8-80b3-572d96e9d935.png">
<img width="1056" alt="screen shot 2018-10-08 at 1 02 12 pm" src="https://user-images.githubuserc

[2018-10-08 11:45] blackparallax opened #1958 "TypeError: Cannot read property 'properties' of undefined"
bitshares-ui$ npm run package-deb

/home/blackparallax/Cryptocurrency/bitshares-ui/node_modules/webpack-cli/bin/config-yargs.js:89
				describe: optionsSchema.definitions.output.properties.path.description,
		                                           ^

TypeError: Cannot read property 'properties' of undefined
    at module.exports (/home/blackparallax/Cryptocurrency/bitshares-ui/node_modules/web

[2018-10-08 16:17] startailcoon commented on #1932
I love the "summary" state and changes report from your proxy votes. That would be an awesome feature to have as part of the login front page.

I like this and would love to have a UX proposal of it.

[2018-10-08 17:59] startailcoon commented on #1604
Summary of what I think we need to change based on input.
Should apply to both create and edit.

### Primary Settings Tab
- Change to 2 decimal points on asset
- Replace "SmartCoin" and "Binary" toggles with a drop-down where the default is "User Issued Asset" followed by "Smart Coin" and "Binary Prediction Market". Only one can be chosen.
- Market Fee % can't be negative or over 100%, should have

[2018-10-08 18:06] startailcoon commented on #1604
Create / Edit asset should also contain a tab for managing feed producers, if it's set to `Defined Accounts`.

This is how it looks today, but can be much prettier.

![bild](https://user-images.githubusercontent.com/12114550/46625791-94813100-cb35-11e8-9adf-fe0b9f939114.png)

[2018-10-08 18:16] startailcoon commented on #1939
Estimation and deadline is not part of the PR, it's part of the issue.

[2018-10-08 18:24] startailcoon commented on #1938
I can comfirm that this is present in the UI today. Haven't tested this before, but it doesn't read the database on the second instance of the application.

[2018-10-08 18:24] cogutvalera commented on #1939
Sorry. You are absolutely right ! Thanks !

[2018-10-08 18:44] startailcoon commented on #1089
This could be one way of doing it. But I don't think we should do this every time a user changes to another account where he/she doesn't have the keys.

I propose the following

1. User switches to an account that they don't have keys for, as this is done for multiple reasons. The user recieves a notification modal stating `You're switching an account which you don't have active authority over. Yo

[2018-10-08 18:49] startailcoon commented on #1911
This requires some creative thinking before we can start with the UX.

We need some text for this

Essentially, red should be replaced, blue should be removed.

![bild](https://user-images.githubusercontent.com/12114550/46627704-93eb9900-cb3b-11e8-94f1-40959a4afd7d.png)

[2018-10-08 18:53] startailcoon commented on #1753
I like it

[2018-10-08 19:01] startailcoon commented on #1604
I don't see the need to hide features for the UI users, even if they are more advanced. As long as we notify what the feature does and what the expected outcome is, I don't think it should be a requirement. Enabling/Disabling flag permissions is a way of telling users of an asset what they can expect to change later on, if the issuer decides to activate a flag it has permissions to.

This is why t

[2018-10-08 19:02] startailcoon commented on #1119
I tend to agree :)

[2018-10-08 19:07] kapeer42 commented on #1578
###  Work in progress:
Using the [Victory](https://formidable.com/open-source/victory/) library

![new_market_depth_wip_demo](https://user-images.githubusercontent.com/35779885/46628310-0b69fa00-cb35-11e8-81e6-9e5e1873b2cf.gif)

[2018-10-08 19:34] startailcoon commented on #1954
This is weird, my changes in https://github.com/bitshares/bitshares-ui/pull/1809 must have been reverted at some point.

[2018-10-08 19:50] clockworkgr commented on #1089
technically they can propose transactions no?

[2018-10-08 19:52] gibbsfromncis commented on #1089
@clockworkgr exactly. But in most cases when common user clicks on username he is not going to propose transactions from this account. User just wants to take a look account info like balance or something like that.

[2018-10-08 20:16] kapeer42 commented on #1927
@gibbsfromncis  Currently I only have #1578 assigned and not pushed so I'm not sure what you are referring to, can you elaborate please?

[2018-10-08 20:18] gibbsfromncis commented on #1927
@kapeer42 Honestly the fact that you don't know about issues where you claimed by your requests inspires me distrust of you

You have 2 additional issues:
#1539
#1536

[2018-10-08 20:19] kapeer42 commented on #1927
@gibbsfromncis
#1539 is closed from my point of view.
#1536 is pushed.

[2018-10-08 20:21] gibbsfromncis commented on #1927
@kapeer42 What does it mean that it is closed from yours point of view? You still assigned and this task has milestone. Did you ask somebody to unclaim you?

[2018-10-08 20:23] kapeer42 commented on #1927
@gibbsfromncis It means that I think that once all people involved in it will read the comment thread it will be closed.

[2018-10-08 20:30] gibbsfromncis commented on #1927
@kapeer42 I do not see the reason to continue our discussion. The fast is that you still assigned to #1539 and you didn't ask anybody to unassign you. Another fact is that you found reasons why you didn't close #1578 for the last few weeks and going to take another one.

My idea was just to ask you to be more fair and I didn't want to start so large discussions.

I'm just a developer like you and

[2018-10-08 21:19] arminnaderi commented on #1917
Actually, after further research, it seems like the bug isn't worth fixing.

1. It won't happen for almost all users anyway, it's a massive edge case.
2. If its fixed it will cause performance/require massive refactoring
3. If it's fixed in a simple way, ie checking for duplicates before inserting into a list (O(n) complexity), it will be 100x slower than the set implementation (I tested this out)

[2018-10-08 23:32] wmbutler commented on #1604
@startailcoon nice summary. I added checboxes to help the developer tick off as completed. My only other thought is that is seems odd to have a step title smart asset when that's an optional toggle. Am I right that if the "smart asset" toggle is false, the entire smart asset step will be disabled? Just seems like we can do better here, but I don't have a great idea.

[2018-10-08 23:35] wmbutler commented on #1753
@nikandrovalex can you invite me to the project? wmbutler on zeplin. Thanks!

[2018-10-08 23:36] wmbutler commented on #1753
@nikandrovalex let me know about hours needed for the time spent. Looking really good and glad to have you on the team!

[2018-10-09 06:04] sschiessl-bcp commented on #1939
Agreed. Ideally one PR <> one Issue.

This can be a problem, as not all devs have access to all browsers (me included). We could ask for Chrome and Firefox test, as the most common browsers. Ideally, this would also be covered with an integration test that we should do for every release. I will tend to #1637 on that matter hopefully soon.

This should be formulated as only applicable for UI/UX iss

[2018-10-09 07:12] sschiessl-bcp commented on #1539
I think the comment was targeting this specific use-case. I think that check is not necessary, as anyone must judge themselves what the collateral should be.

@kapeer42 The initial description and https://github.com/bitshares/bitshares-ui/issues/1539#issuecomment-420351499 is implemented?

[2018-10-09 07:28] sschiessl-bcp commented on #1954
I see them in develop/staging/master. Please elaborate

[2018-10-09 07:35] little199011 opened #1959 "The cross cursor displays the trading volume details incorrectly"
**Describe the bug**
The cross cursor displays the trading volume details incorrectly.
the data on the left is incomplete.

![wechatimg1424](https://user-images.githubusercontent.com/6262137/46653383-7c162280-cbd8-11e8-9095-3654c30e1c30.jpeg)

**Desktop (please complete the following information):**
 - OS
 - Browser : chrome
 - Version

[2018-10-09 07:46] #1403 closed

[2018-10-09 07:48] #1125 closed

[2018-10-09 07:55] svk31 commented on #1938
This is such an obscure bug I recommend setting it to low priority..

[2018-10-09 08:58] sschiessl-bcp commented on #1917
I concur with @arminnaderi  on this one.

Closing this one, please get in touch with @startailcoon to finalize.

[2018-10-09 09:35] kapeer42 commented on #1539
@sschiessl-bcp Yes

Initial description by  https://github.com/bitshares/bitshares-ui/pull/1804, https://github.com/bitshares/bitshares-ui/pull/1834 and https://github.com/bitshares/bitshares-ui/pull/1849
And the https://github.com/bitshares/bitshares-ui/issues/1539#issuecomment-420351499 by https://github.com/bitshares/bitshares-ui/pull/1852

[2018-10-09 10:06] svk31 commented on #1578
I'm not a fan of adding yet another plotting library without also removing Highcharts. If we replace Highcharts with Victory in the depth chart, we should also add issues to do the same for the three remaining components that use Highcharts:

- AccountTreeMap (might need to just be removed entirely)
- BlockTimeChart
- TransactionChart

[2018-10-09 10:08] svk31 commented on #1959
You're using a very old version, we no longer have those charts.

[2018-10-09 11:54] kapeer42 commented on #1578
Still work in progress (banner size not addressed yet)
### Zoom demo:
![depth_chart_zoom_demo](https://user-images.githubusercontent.com/35779885/46667097-714f9380-cbc0-11e8-8e58-6d7b8f62fb09.gif)

@wmbutler The ANT buttons seems kinda out of place IMO. Should I mimic the initial issue buttons style?

@MarkoPaasila I think that rendering a logarithmic price axis while keeping the chart centered on

[2018-10-09 12:17] ppitonak commented on #1125
When will this get to the staging env?

[2018-10-09 13:36] wmbutler commented on #1625
Sounds great.

[2018-10-09 13:38] wmbutler commented on #1125
Not until 10/17.

[2018-10-09 13:43] wmbutler commented on #1578
- @kapeeer everything will be ANT eventually so you may as well keep them as is. @gibbsfromncis any thoughts here?
- related to @svk31 is there a reason you didn't just use highcharts? It would be nice to standardize on one library. Would it make more sense to rewrite the others or to move this on to highcharts. I'm assuming there were limitations with highcharts that made this difficulty to imple

[2018-10-09 13:44] kapeer42 commented on #1578
@wmbutler highcharts requires a paid license if I'm not mistaken

[2018-10-09 13:48] wmbutler commented on #1578
Looks like we'd qualify as a not for profit.

![screen shot 2018-10-09 at 8 47 58 am](https://user-images.githubusercontent.com/1254810/46673756-20c83e00-cba0-11e8-976f-5a5540da7d54.png)

[2018-10-09 13:53] sschiessl-bcp opened #1962 "Asset details errors"
**Describe the bug**
Asset description errors on initial startup

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.bitshares.org/#/asset/BROWNIE.PTS
2. Observe the white screen of death

**Expected behavior**
Asset details page loads properly

**Screenshots**
Errors:
![image](https://user-images.githubusercontent.com/33128181/46674003-60f8e200-cbdb-11e8-82fd-7e6f7c104380.

[2018-10-09 13:54] sschiessl-bcp commented on #1962
If no one claims this I will have a look tomorrow. Live release is scheduled for tomorrow

[2018-10-09 13:57] kapeer42 commented on #1578
Oh well, my mistake, should have read more :(

I guess I will scrap the victory implementation and just update the current highcharts one.

Also there was these comments
@startailcoon

and

@gibbsfromncis

[2018-10-09 14:14] wmbutler commented on #30
I saw saw @TheTaconator writeup for recurring payments and it's very detailed. I think we need to be careful about terminology and approach this carefully to avoid confusion. There are two ways that traditional contracts work.

- Payer initiated. I, as the payer, can commit to pay an amount every month. Since I hold the keys, this simply happens every month. We need a few things for UX here.
  - [

[2018-10-09 14:15] wmbutler commented on #1578
@kapeer42 What would you like to do? Happy yo add the hours to improve it. Let us know.

[2018-10-09 15:15] startailcoon commented on #1959
Closed, please update your version of Bitshares UI

[2018-10-09 15:15] #1959 closed

[2018-10-09 18:37] gibbsfromncis opened #1963 "[2.5][react-cat] Replace Explorer/Markets old components to ant (abandoned)"
Requested estimate: 6h

[2018-10-09 18:40] gibbsfromncis opened #1964 "[6][react-cat][1.5][gibbsfromncis] Replace Settings old components to ant"
Todo:

- [ ] General
- [ ] Local Wallet
- [ ] Accounts
- [ ] Password
- [ ] Backup
- [ ] Restore/import
- [ ] Nodes
- [ ] Faucet
- [ ] Reset Settings

Requested estimate: 4h

[2018-10-09 18:42] react-cat commented on #1964
@gibbsfromncis Can I claim ?

[2018-10-09 18:44] gibbsfromncis commented on #1964
@react-cat This task is not approved yet by @startailcoon so it's better to wait for my estimate approval but I'm OK if you work because this task is good enough to become familiar with our style-guide

@startailcoon when you approve my task please unassign myself and assign @react-cat

[2018-10-09 19:59] startailcoon commented on #1837
I was unable to find a good way to make a popup work as the centering doesn't stay at the same place on an active market. However, I think we can add an icon stating that the order book is grouped. Here I've just used an icon in the Ant library, as I couldn't make the PNG supplied work properly.

![bild](https://user-images.githubusercontent.com/12114550/46694893-4ab84980-cc0e-11e8-963e-4621649077

[2018-10-09 20:03] startailcoon commented on #1889
I'd like some feedback on the order form once tested. I'm not fully pleased with the change to a border less form.

## New, border less form
![bild](https://user-images.githubusercontent.com/12114550/46695130-ffeb0180-cc0e-11e8-89e6-413c2f406cf4.png)

## Old, border encapsulated form
![bild](https://user-images.githubusercontent.com/12114550/46695155-109b7780-cc0f-11e8-9958-0a19f46ee4e9.png)

[2018-10-09 20:06] startailcoon commented on #1866
I'm a little unsure on what why this is needed. Are there that many controle buttons that we need to hide? We need to have them in the personalize panel instead, but I can't say that we have that many.

[2018-10-09 20:08] startailcoon commented on #1838
This is done and within the bounds of the #1477 bounty.

[2018-10-09 20:08] #1838 closed

[2018-10-09 20:09] startailcoon commented on #1888
This is done and required 4 hours of work to complete.

[2018-10-09 20:09] #1888 closed

[2018-10-09 20:11] svk31 commented on #1578
I'm fine with moving everything to victory since you've already made good progress on the depth chart, the other components are non-essential anyway imo and apart from the tree map quite easy to reimplement.

I'd be interested to know how big it is though compared to highcharts.

[2018-10-09 20:11] startailcoon commented on #1839
This is complete. Required no work hours to handle.

[2018-10-09 20:11] #1839 closed

[2018-10-09 20:12] #1902 closed

[2018-10-09 20:13] startailcoon commented on #1838
This is done and required 4 hours of work to complete.

[2018-10-09 20:15] startailcoon commented on #1873
This is done and required 2 hours of work to complete. Most work related to SCSS styling and dynamic canvas sizing optimisations.

[2018-10-09 20:16] startailcoon commented on #1889
This task is completed based on the requirements of the task.

Required hours to complete was 1 hour.

[2018-10-09 20:16] #1889 closed

[2018-10-09 21:38] gibbsfromncis commented on #268
@wmbutler @startailcoon I'll do careful review of scope of work later and provide my estimate or approve yours.

[2018-10-09 21:49] gibbsfromncis opened #1965 "[.5][gibbsfromncis]Error running last version of develop"
[code]

npm `6.4.1`
node `v8.7.0`

[2018-10-09 22:07] gibbsfromncis commented on #1965
@svk31 I suppose it's better to remove `package-lock.json` from `alt-react` repo

[2018-10-09 22:08] gibbsfromncis commented on #1965
@svk31 I put .5h I spent for investigation. If you disagree just remove it and put .5h for your future fixes.

[2018-10-09 22:12] gibbsfromncis commented on #1965
# Temporary fix for contributors

If you get error when running last version of project please update your `package.json` and lock `alt-react` version to specific commit:

[code]

**PLEASE DO NOT COMMIT THIS TEMPORARY FIX. USE IT LOCALLY ONLY**

[2018-10-09 23:02] gibbsfromncis opened #1966 "[Foundation Elimination] Notification"
The task is to replace Foundation Notifications by ant Notifications

[2018-10-09 23:04] gibbsfromncis opened #1967 "[Foundation Elimination] Popup"
Task is to replace Foundation Popup by Ant Popover

[2018-10-09 23:06] gibbsfromncis opened #1968 "[Foundation Elimination] Switch"
Task is to replace Foundation Switch by Ant switch

[2018-10-09 23:06] gibbsfromncis opened #1969 "[Foundation Elimination] Tabs"
The task is to replace Foundation tabs by Ant tabs

[2018-10-09 23:11] gibbsfromncis opened #1970 "[Foundation Elimination] Typography"
The task is to move typography styles from foundation vendor to our project and remove unnecessary styles like colors etc.

[2018-10-09 23:12] gibbsfromncis opened #1971 "[Foundation Elimination] Utilities"
The task is to move utilities config to our repo from Foundation and remove styles we do not use

[2018-10-09 23:13] gibbsfromncis opened #1972 "[Foundation Elimination] Grid"
The task is to move all grid styles to our repo from Foundation

[2018-10-09 23:21] gibbsfromncis commented on #1942
**Final estimate: 2h**

[2018-10-09 23:46] gibbsfromncis commented on #1943
@startailcoon

*Final estimate: 1h*

[2018-10-10 00:20] gibbsfromncis commented on #1944
@startailcoon

**Final Estimate:** .5h

[2018-10-10 00:45] gibbsfromncis commented on #1964
@react-cat Regarding this issue - #1945 I would like to ask you to remove `block-list` usage from Settings at all. If you have any questions feel free to ask me

[2018-10-10 02:06] gibbsfromncis opened #1975 "Replace Market Picker"
<img width="405" alt="screenshot 2018-10-10 05 05 06" src="https://user-images.githubusercontent.com/35899973/46708968-1febe680-cc4a-11e8-948c-d7c5f1f85062.png">

Market Picker opens on the left panel like a dropdown and looks terrible.

Todo:

- [ ] Replace it for Modal
- [ ] Make more usable

[2018-10-10 02:42] gibbsfromncis commented on #1945
@startailcoon

**Final Estimate**: 2.5h

[2018-10-10 02:47] gibbsfromncis commented on #1946
As I see we use `button` className in more than 300 places so it is hard work and also foundation buttons do not affect to style-guide `Button` so there is no reason to put so much effort.

[2018-10-10 02:47] #1946 closed

[2018-10-10 02:54] gibbsfromncis opened #1977 "[Style-Guide] Add support of Card component"

[2018-10-10 03:42] gibbsfromncis commented on #1977
**Done by commit**: https://github.com/bitshares/bitshares-ui-style-guide/commit/f356ac7105ae5d219ddf031f150d5b51c56f27c5

**Requested Estimate**: 1h

[2018-10-10 06:48] sschiessl-bcp opened #1978 "[1][Exchange Refinement] Minor Bugs"
Issue to collect bugs in the new layout

- Open BTS_USD market (refresh possibly), observe following error
![image](https://user-images.githubusercontent.com/33128181/46717697-26d62180-cc69-11e8-9dc1-7a54f24e6b16.png)

- No default for Markets is set (was the PR for #1822 merged into the new layout branch after reverting?)
![image](https://user-images.githubusercontent.com/33128181/46719721-f0030a

[2018-10-10 06:49] sschiessl-bcp opened #1979 "[Exchange Refinement] Visualizations"
The Open Orders / Settle Orders Panel should stay below the Trades Panel when vertical Order Book is selected. Currently it moves below "Buy BTS" in the screen
![image](https://user-images.githubusercontent.com/33128181/46719653-c5b14c80-cc6e-11e8-82aa-275e902d35a7.png)

[2018-10-10 06:58] sschiessl-bcp commented on #1866
Following function buttons are not yet in the Personalize modal:

- Order Book Style: Horizonal | Vertical
- If Horizontal Order Book:
  - Show option: Buy/Sell Orders: Buy - Sell | Sell - Buy
  - Show option: Buy/Sell Asset: Buy - Sell | Sell - Buy
  - Show option: Vertical Orders / Asset: Orders above Asset | Asset above Order
- If Vertical Order Book:
  - Show option: Autoscroll: Yes | No

[2018-10-10 06:59] sschiessl-bcp commented on #1866
The point is to make the default view as slick as possible, thus the option to hide function buttons.

[2018-10-10 07:20] sschiessl-bcp opened #1980 "[8][Exchange Refinement] Personalize Modal"
**General**
- [x] On-hover Personalize button is not pretty (maybe some margin etc.?)

**Modal**
- [x] Group Chart selections. Introduce sections a la "Panel Grouping". This one is called "Chart Options"
   - [x] Option "Type" with Price Chart | Merket Depth | Hide Chart
   - [x] Option "Height" in Pixels, maybe a slider
   - [x] Option "Tools" with Show | Hide (TradingView specific)
   - [x] Opti

[2018-10-10 07:35] sschiessl-bcp commented on #1837
Yes it does. Should I create an .svg of  https://static.thenounproject.com/png/204136-200.png?

[2018-10-10 09:46] svk31 commented on #1965
Not a real issue, just restart webpack

[2018-10-10 11:28] kapeer42 commented on #1578
@svk31
victory +  new depth chart code adds roughly 300kB to the production bundle's javascript.

It's roughly 600kB when comparing the whole bundle (including .map, etc..).

These two estimates are done while keeping react-highcharts and the old depth chart code.

[cost-of-modules](https://github.com/siddharthkp/cost-of-modules) report:
[code]

[2018-10-10 11:42] #1497 closed

[2018-10-10 11:47] svk31 commented on #1497
@roths Thanks for reporting this, you were indeed correct and all three libraries had major memory leaks in the subscription arrays, which in our case were probably quite serious since we have so many components making use of them!

[2018-10-10 13:13] clockworkgr commented on #1497
sweet

[2018-10-10 13:49] #1962 closed

[2018-10-10 14:36] sschiessl-bcp commented on #1837
https://github.com/bitshares/bitshares-ui/commit/bf47e2655401cb9d9b11ecd02abdbd600e30a69a

[2018-10-10 17:44] startailcoon commented on #1978
Fixed

Should be, try resetting your local settings storage?

[2018-10-10 17:50] startailcoon commented on #1979
This is due to the fact that the panel is so wide that the next spot is on the next row.

I have two solutions for this.

# 1

Wider panels, making them align better

![bild](https://user-images.githubusercontent.com/12114550/46755487-79452b80-ccc5-11e8-9392-1ad9874c7f4d.png)

# 2

Stack them differently

![bild](https://user-images.githubusercontent.com/12114550/46755543-a1cd2580-ccc5-11e8-8a57-1

[2018-10-10 18:11] startailcoon commented on #1980
I propose we change all "Yes | No" options with a switch instead.

[2018-10-10 18:17] gibbsfromncis commented on #1965
@wmbutler
I'm going to close this issue to get bounty for my investigation and find of temporal fix because OL guys get this issue and asked me for the help. I've unassigned Sigve because he will get bounty for this fix in a scope of another issue.

[2018-10-10 18:17] #1965 closed

[2018-10-10 20:49] startailcoon commented on #1980
# Preview
![bild](https://user-images.githubusercontent.com/12114550/46765173-a520db00-ccde-11e8-8409-e339cbed2d07.png)

[2018-10-10 22:04] gibbsfromncis commented on #1947
I've replaced all `className="card"` provided by Foundation in components we use. I left Foundation `card` in some components we do not use because I'm not sure should we keep them or not

[2018-10-10 22:09] gibbsfromncis commented on #1947
@startailcoon

*Final estimate*: 1.5h

[2018-10-10 22:41] gibbsfromncis commented on #1948
Done in scope of #1942

[2018-10-10 22:41] #1948 closed

[2018-10-10 22:43] gibbsfromncis commented on #1949
We do not use Badges from Foundation

[2018-10-10 22:43] #1949 closed

[2018-10-10 22:47] gibbsfromncis commented on #1950
Menu bar used only in header menu. It will be removed when we start to work on new Navigation

[2018-10-10 22:47] #1950 closed

[2018-10-10 23:50] gibbsfromncis opened #1982 "[Style-Guide] Make ant modal full-screen on mobile devices"

[2018-10-11 00:18] gibbsfromncis opened #1983 "[Style-Guide] Alert"
Add support of [Ant Alert Component](https://ant.design/components/alert/)

[2018-10-11 00:40] gibbsfromncis commented on #1983
Done by commit: https://github.com/bitshares/bitshares-ui-style-guide/commit/f37e27b79a205410cdd23d5e3060eb382d999658

[2018-10-11 02:36] gibbsfromncis commented on #1951
New Wallet Unlock Modal:

<img width="562" alt="screenshot 2018-10-11 05 34 13" src="https://user-images.githubusercontent.com/35899973/46777225-7bd07100-cd17-11e8-94ac-a2878b008014.png">

<img width="544" alt="screenshot 2018-10-11 05 35 49" src="https://user-images.githubusercontent.com/35899973/46777235-8559d900-cd17-11e8-9a70-d4711a7a1df5.png">

[2018-10-11 02:38] wmbutler commented on #1934
I'm not sure I see this as a priority. We need to fix the problem of WP's being around forever (those where the start date has passed and they have an expiration date of 2020 and never received enough votes before we can present a proper current list of items to vote on.

[2018-10-11 02:42] gibbsfromncis commented on #1934
@wmbutler I like the idea to highlight unvisible features for common user. But you're right it is not a priority right now.

I prefer to push our UX resources to another important parts

[2018-10-11 02:53] wmbutler opened #1984 "[6] Show found contact (in typeahead) above non contacts"
**Is your feature request related to a problem? Please describe.**
If a typeahead locates a contact, it's displayed below other options.

**Describe the solution you'd like**
The green value in your contact list should appear higher in the list.

![typeahead](https://user-images.githubusercontent.com/1254810/46777867-cbdb1380-ccd6-11e8-91a0-5c950f093016.gif)

[2018-10-11 03:03] wmbutler opened #1985 "[5] Distribute transactions over full 3 seconds to UI"
**Is your feature request related to a problem? Please describe.**
This is a more of a perception problem, but since perception is an important factor when talking about markets, I think it's worth discussion. @startailcoon and @ryanRfox discussed this with me while on a call and I'd like to formalize it here.

BTS blocks are 3 seconds but there can be many transactions in a single block. Our wall

[2018-10-11 03:09] gibbsfromncis commented on #1951
### Add Node Modal

<img width="545" alt="screenshot 2018-10-11 06 09 43" src="https://user-images.githubusercontent.com/35899973/46778425-424e3480-cd1c-11e8-8e26-518b7cfe389d.png">

[2018-10-11 03:17] #1257 closed

[2018-10-11 03:18] wmbutler commented on #758
@pnomolos any chance you'd like to take the charge of linking circle-i references to the the official bts documentation and helping us get rid of the in wallet help?

[2018-10-11 03:31] wmbutler commented on #1734
@oxarbitrage isn't it actually just:

UI -> UI Wrapper -> ES node

[2018-10-11 03:37] gibbsfromncis commented on #1951
### Chart Options Modal

<img width="461" alt="screenshot 2018-10-11 06 37 19" src="https://user-images.githubusercontent.com/35899973/46779363-20ef4780-cd20-11e8-92de-3b26bf6b2a54.png">

[2018-10-11 04:36] gibbsfromncis commented on #1951
### Deposit Modal

<img width="562" alt="screenshot 2018-10-11 07 36 29" src="https://user-images.githubusercontent.com/35899973/46781060-6b74c200-cd28-11e8-9e66-4e0fef21a8ea.png">

[2018-10-11 04:39] sschiessl-bcp commented on #1985
When the exchange is open, incoming orders are pushed from the backend. Possible that this might need internal caching.

Either way, this option should be configurable. I for example would prefer to be up-to-date rather than get a perceived fake distribution of orders.

[2018-10-11 04:44] sschiessl-bcp commented on #1975
I like it to be a non-intrusive layover instead of a model. Any ideas to keep the layover but make it pretty?

[2018-10-11 04:51] sschiessl-bcp opened #1986 "[2] Hide legacy proposals"
Add a checkbox to current voting tab that reads: "Hide Legacy Proposals" next to proxy setting
![image](https://user-images.githubusercontent.com/33128181/46781734-6a8d6180-cd23-11e8-8e5e-195bff98cee8.png)

Concerning component:
app/components/Account/AccountVoting.jsx

It is enabled per default, and it hides
- all proposals that already have started, but were never active before
- checks if there

[2018-10-11 04:51] sschiessl-bcp commented on #1934
This is a mere default setting away. Add a checkbox "Hide legacy proposals" that is enabled per default.
Issue #1986 adds it to current voting tabs.

Voter apathy is one of the most dominant topics dicussed in the channels, certainly a priority from the community's point of view

[2018-10-11 04:53] gibbsfromncis commented on #1975
@sschiessl-bcp What do you think about [Drawer component from ant](https://ant.design/components/drawer/) ?

[2018-10-11 04:54] sschiessl-bcp opened #1987 "[1.5] Open Orders are not displayed properly"
**Describe the bug**
I have currently one open order, which is not displayed properly. I can click on the invisible checkbox under Cancel, which makes the order appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any order
2. Go to Open Order Tab in Dashboard
3. Observe order not shown

See also here https://wallet.bitshares.org/#/account/sschiessl

**Expected behavior**
Order shoul

[2018-10-11 05:06] sschiessl-bcp commented on #1975
Can drawers be configured to not take the whole height of the screen?

Ideally (IMO) the drawer would still begin where it begins now and have size that correlates to chart height (which is a settings option)
![image](https://user-images.githubusercontent.com/33128181/46781912-26e72780-cd24-11e8-83d9-48597ce64ff8.png)

[2018-10-11 06:55] svk31 commented on #1987
I had a quick look and it was also empty for me for a few seconds, then the order appeared

[2018-10-11 07:10] svk31 commented on #1985
Delaying orderbook updates by that much is a bad idea since it keeps information from users, so I'm strongly opposed to doing this. Also, the orderbook is not simplistically updated every 3s, it's updated whenever a notification is dispatched by the API.

In fact there is already a queuing system, but it was implemented for performance reasons. It batches updates and dispatches them at most every

[2018-10-11 07:29] sschiessl-bcp commented on #1985
I never noticed. Could you point me to it? Just curious now

[2018-10-11 07:34] svk31 commented on #1985
https://github.com/bitshares/bitshares-ui/blob/develop/app/actions/MarketsActions.js#L161

[2018-10-11 07:46] svk31 commented on #1958
Unable to reproduce, builds fine on my computer. Try reinstalling your node modules with `npm i`.

Because of changes to alt-react old rc builds won't work without making a temporary modification, but that's a different issue. The modification is explained here: https://github.com/bitshares/bitshares-ui/issues/1965#issuecomment-428371219

[2018-10-11 07:54] svk31 commented on #1891
It is indeed:

![image](https://user-images.githubusercontent.com/6890015/46788949-9fa5ae00-cd3b-11e8-8652-571a914fb533.png)

[2018-10-11 07:55] svk31 commented on #1869
Node version is too old, use v8 or v9

[2018-10-11 07:55] #1869 closed

[2018-10-11 08:07] sschiessl-bcp commented on #1891
Thanks!

[2018-10-11 09:52] #1953 closed

[2018-10-11 09:59] #1943 closed

[2018-10-11 10:22] #1536 closed, assigned to nobody

[2018-10-11 11:46] TheTaconator commented on #30
@wmbutler suspect that recurring confirmation by giver is the less common use case.  Suspect that the most common use case is a (1) recipient requests/prepares a recurring payment _once_, (2) giver approves _once_, and (3) recipient performs _recurring_ withdrawals until either the contract expires or the user cancels the contract.

If a recurring confirmation by the giver is desired then some pos

[2018-10-11 11:52] TheTaconator commented on #30
Regarding terminology: recurring withdrawals can be used to _pay_ for goods or services but also for _non-payments_ such as remittances

[2018-10-11 11:58] sschiessl-bcp commented on #30
The description seems to target how the automated payment should take place. This is not in the scope of this issue, every repeated withdrawal/payment must be manually triggered. User can possibly be remindend to do so in the UI.

The goal is to create a panel that allows the user to create the withdrawal permission (`withdraw_permission_create_operation`), and to allow the recipient to claim from

[2018-10-11 12:10] TheTaconator commented on #30
@sschiessl-bcp @wmbutler just to clarify one point with the _existing_ recurring feature and manual triggers: recurring withdrawals must be "manually" triggered _only by recipient_ after the contract is initiated

[2018-10-11 13:09] HarukaMa commented on #1734
Directly exposing ES node is not secure, thus a server-side wrapper is needed.

[2018-10-11 14:09] pnomolos commented on #758
I’m currently away on a trip, but when I’m back next week I can take a look
at that :)
On Wed, Oct 10, 2018 at 8:18 PM Bill Butler <notifications@github.com>
wrote:

[2018-10-11 16:04] wmbutler commented on #1734
Can you explain this? How will the wrapper on the ES node solve security. It's a readonly node right?

[2018-10-11 16:19] wmbutler commented on #30
Terminology check. We should probably stop using the word withdraw since it typically implies funds leaving the BTS ecosystems via a gateway. Can we use terms send and receive instead?

I've been thinking of billpay operations that I use all the time and as I put more thought into it, I see that I am implicitly trusting the recipient with this contract. The recipient or vendor is saying they will

[2018-10-11 19:02] abitmore commented on #1734
By default ES is not readonly.

[2018-10-11 19:09] abitmore commented on #30
If you assume the upper bound is 120, you just need to setup the "monthly pulling limit" to 120, then your service provider will be able to pull any amount equal to or lower than 120 per month.

[2018-10-11 20:28] nikandrovalex commented on #1753
@wmbutler   Hi Bill. Thank you very much) I'm glad you liked it. I am also happy that I can help this project.

Already added you to Zeplin on bill@butler.net . I spent 1 hour and 20 minutes on this task. Each work on the project, I track in the Top-tracker. time can be seen in the screenshot http://take.ms/iiO4d . I can also send you an invitation to the Top-tracker to your email and you can see

[2018-10-11 22:50] startailcoon opened #1991 "[Exchange Refinement] Remove ANT Overrides"
Remove temporary ANT overrides created during initial building.

https://github.com/bitshares/bitshares-ui/blob/a1d59f3f7c1f2e9960212ccece4299644fc7b52c/app/assets/stylesheets/layout/_antd.scss

[2018-10-12 08:58] sschiessl-bcp commented on #1696
The capturing of the log was trickier than expected and required extensive trial and error. I want to present the current state and ask for feedback before more time is spent (so far .

Currently sitting in https://github.com/blockchainprojects/bitshares-ui/tree/1696_DebugReport

Report button in Footer:
![image](https://user-images.githubusercontent.com/33128181/46858637-01cde400-ce0c-11e8-8e90-1

[2018-10-12 10:15] clockworkgr commented on #1696
Does this catch browser errors (the red ones, uncaught exceptions and so on) as well?

[2018-10-12 10:17] sschiessl-bcp commented on #1696
Yes, a general error handling (global catch unhandled (with some limitatations)) is also introduced.

I want to create an error status page next (already in the pipeline, but dependent on this issue) that will replace the "white screen of death" :)

[2018-10-12 10:18] clockworkgr commented on #1696
Using window.onerror?

[2018-10-12 10:53] sschiessl-bcp commented on #30
This issue is to implement the existing feature, not what the new BSIP (not yet completed, and not voted in).

From the intended usage we could call it "direct debit authorization", or "direct debit mandate".

[2018-10-12 12:02] sschiessl-bcp commented on #1978
Did, still no default

[2018-10-12 12:03] #1944 closed

[2018-10-12 12:28] sschiessl-bcp commented on #1832
The old local wallet create screen has a password strength indicator, can that be copied over?

![image](https://user-images.githubusercontent.com/33128181/46869144-1ff70c80-ce2b-11e8-9a6f-5d58ee0cabfa.png)

[2018-10-12 12:30] sschiessl-bcp commented on #1832
If the IP restriction from the backend fires, the button should say "Try again"

![image](https://user-images.githubusercontent.com/33128181/46869258-6b111f80-ce2b-11e8-9221-1c757071615a.png)

[2018-10-12 15:29] OpenLedgerApp commented on #1832
@sschiessl-bcp  Thanks for your comments! We will check and save these features.

[2018-10-12 18:04] grctest commented on #1826
https://www.reddit.com/r/BitShares/comments/9lrprh/cant_connect_to_the_walet_or_software_a_white/ User complaining about this issue on Reddit about a week ago.

[2018-10-13 09:02] startailcoon commented on #1964
@react-cat welcome to the UI team. I've assigned you this task and set it for completion to the 181031 milestone, which means it should be ready for merging a few days before that to make sure we have some time to test it for issues.

[2018-10-13 09:04] startailcoon commented on #1963
I'm sure you're aware of it, but do note that the same component is used on the Exchange section.

[2018-10-13 09:06] startailcoon commented on #1951
Do you have an estimate for this task?

[2018-10-13 09:08] startailcoon commented on #1942
Great work @gibbsfromncis, massive undertaking!

[2018-10-13 09:16] startailcoon commented on #1939
True, but if it covers more than one, due to them being small for example.

The more the merrier. We should still have all the options tickable, to make us aware of how it's been tested. Others can then test those that are missing.

It's up to the submitter if there are any to show. Not all in the form can/should be requirements.

I would like to add a `Tested on Mobile` as well.

[2018-10-13 09:34] startailcoon commented on #1734
As we figure out the best way of handling ES data handling I've degraded this to low priority.

My initial understanding was that a wrapper in UI would limit duplicate code for handling connections, ES node capabilities etc.

One question I have though is if the ES Node wrapper handle fallbacks for whenever the ES node fails to return the data? This is another reason I think the UI should have a w

[2018-10-13 10:35] startailcoon commented on #1984
A small change that could easily be added to the UI before the next release.

This would be changed to ANT drop-down later, but doesn't limit us to make a small fix for now, before we add the new components.

[2018-10-13 10:46] gibbsfromncis commented on #1951
@startailcoon still working on it and I have no idea how much time will it take. We have around 70 modals. Most of them are in unused components but anyway it's large task I'm still working on

[2018-10-13 10:47] gibbsfromncis commented on #1939
@startailcoon I cannot launch wallet on my iPhone at all so ... maybe we need to fix it before start to require mobile testing?

[2018-10-13 10:53] gibbsfromncis opened #1992 "[Foundation Elimination] Modal [Phase I]"
Part of #1951

[2018-10-13 10:53] gibbsfromncis opened #1993 "[Foundation Elimination] Modal [Phase II]"
Part of #1951

[2018-10-13 10:55] gibbsfromncis opened #1994 "[7.75][Foundation Elimination] Modal [Phase III]"
Part of #1951

[2018-10-13 10:55] gibbsfromncis opened #1995 "[Foundation Elimination] Modal [Phase IV]"
Part of #1951

[2018-10-13 10:56] gibbsfromncis opened #1996 "[Foundation Elimination] Modal [Phase V]"
Part of #1951

[2018-10-13 11:05] gibbsfromncis opened #1997 "[11][gibbsfromncis] New Sign Up/Login style-guide integration"
This is task was a part of #1832 but moved to separate task

[2018-10-13 11:06] startailcoon commented on #1986
I like your idea @sschiessl-bcp , it's an easy way of improving user involvement.

I'd like some clarification in your statements though.

Before what?

I think this can be tricky. What if someone has similair titles for different things? Sure, we don't have _that_ many workers, and a second one from the same account is usually an updated one. The key part here is, how can we verify and be certain

[2018-10-13 12:00] gibbsfromncis commented on #1992
@startailcoon

*Final Estimate for Phase I*: 5h

[2018-10-13 12:14] #1306 closed

[2018-10-13 13:45] abitmore opened #1999 "committee-account activities page white screen"
**Describe the bug**
Committee-account activities page white screen (not always reproduce-able)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/account/committee-account'
2. Click on 'Activities'
3. See white screen

**Expected behavior**
No white screen

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/46906112-a892ad00-cefe-11

[2018-10-13 15:03] gibbsfromncis commented on #1993
### Withdraw Modal

<img width="549" alt="screenshot 2018-10-13 18 02 31" src="https://user-images.githubusercontent.com/35899973/46906828-2b713300-cf12-11e8-8eb1-04cdd18567dd.png">

### Exchange Personalization

<img width="602" alt="screenshot 2018-10-13 18 01 33" src="https://user-images.githubusercontent.com/35899973/46906830-362bc800-cf12-11e8-8b5b-eba2eba24876.png">

[2018-10-13 15:10] gibbsfromncis opened #2000 "New Navigation"

[2018-10-13 15:13] gibbsfromncis commented on #2000
@wmbutler @startailcoon @abitmore @sschiessl-bcp

Please put your thoughts how can we improve our current navigation or what do you expect to see in result.

Also I want to ask you what do you think about Left collapsible navigation menu [like ant provides](https://ant.design/components/menu/#components-menu-demo-inline-collapsed)

[2018-10-13 15:27] gibbsfromncis opened #2001 "New Styles Requirements for Contributors"
To be done...

[2018-10-13 15:50] cogutvalera commented on #2000
IMHO it would be nice to have breadcrumbs navigation (https://www.smashingmagazine.com/2009/03/breadcrumbs-in-web-design-examples-and-best-practices/)

just my thoughts, thanks !

[2018-10-13 16:05] gibbsfromncis opened #2002 "Exchange Loading Time"

[2018-10-13 16:06] gibbsfromncis commented on #2002
@startailcoon maybe your changes on Exchange affected on it. Can you please investigate?

[2018-10-13 16:34] gibbsfromncis commented on #1993
### Market Picker

<img width="589" alt="screenshot 2018-10-13 19 34 12" src="https://user-images.githubusercontent.com/35899973/46907686-033c0100-cf1f-11e8-93e2-2dae3173031b.png">

[2018-10-13 17:06] gibbsfromncis commented on #1993
### Quote Selection Modal

<img width="589" alt="screenshot 2018-10-13 19 34 12" src="https://user-images.githubusercontent.com/35899973/46907935-6a5bb480-cf23-11e8-9204-d2c3f3043728.png">

[2018-10-13 20:06] gibbsfromncis opened #2003 "Update list of assets after user burn some asset"
Update list of assets in Dashboard/Portfolio after user burn some asset

[2018-10-13 20:28] gibbsfromncis commented on #1993
### Transaction Confirmation

<img width="548" alt="screenshot 2018-10-13 23 28 31" src="https://user-images.githubusercontent.com/35899973/46909722-b9afde00-cf3f-11e8-870e-ba1cdd2eafbb.png">

[2018-10-13 20:34] react-cat commented on #1964
@startailcoon Thanks, I'm really appreciate for chance to work with you

[2018-10-13 21:18] gibbsfromncis commented on #1993
### Settle Modal

<img width="551" alt="screenshot 2018-10-14 00 18 06" src="https://user-images.githubusercontent.com/35899973/46910065-a2282380-cf46-11e8-8d9d-f1bd178bee65.png">

[2018-10-13 21:21] gibbsfromncis opened #2004 "[7.5] Redesign & Antify Borrow Modal"
Old design:

<img width="707" alt="screenshot 2018-10-14 00 20 39" src="https://user-images.githubusercontent.com/35899973/46910083-0519ba80-cf47-11e8-9d1f-3f36f4275308.png">

[2018-10-14 07:59] startailcoon commented on #2002
I don't see any issue with loading times, please describe your issue a bit more in detail.

When does it happen?
Does it not load?
Does it load, but slow?
Does it always happen?
Any log outputs?

[2018-10-14 08:02] AboShanab commented on #1946
@gibbsfromncis Is there's future plans to research about easier way for this issue?

[2018-10-14 10:04] gibbsfromncis commented on #1946
@AboShanab what do you mean?

[2018-10-14 10:05] gibbsfromncis commented on #1946
The task is closed. We won't replace foundation buttons for ant because we have more than 500 buttons across application

[2018-10-14 10:17] startailcoon commented on #1927
@kapeer42 I've assigned this to you. Please communicate with @gibbsfromncis regarding issues with ANT implementation.

[2018-10-14 11:48] froooze commented on #2004
What is the motivation for a redesign?
How about a one click borrow model, for beginners?

[2018-10-14 11:52] froooze commented on #1993
@gibbsfromncis: Why do we need a mode option (filter/search) on the market picker?

[2018-10-14 12:10] froooze opened #2005 "[0.5][frooze] Include Ratio to be lockable in Margin Modal"
When the DEBT field has an open lock and the COLLATERAL field is locked.

Changing the DEBT, the COLLATERAL is changed despite the lock and not the RATIO.

Version: BitShares2-light_2.0.181010_amd64.deb

[2018-10-14 13:47] startailcoon commented on #1980
The following two options I need @svk31 to look at. I have no TradingView documentation to look at. The toggles will be created and managed, but someone with more experience with Trading View will have to add the finishing code that does this.

[2018-10-14 14:47] gibbsfromncis commented on #1993
@froooze this task is just to replace Foundation Modals for Ant Modals. It doesn't relate to modals content. If you want any improvements feel free to create separate issue

[2018-10-14 14:54] startailcoon opened #2006 "Exchange getObject ["2.0.0"] timed out"
When loading the exchange for the first time you may have a request timed out for object "2.0.0" resulting in the exchange page not loading the rest of the section due to missing `feeStatus`.

![bild](https://user-images.githubusercontent.com/12114550/46918279-95e8a880-cfd0-11e8-926e-6caebe91d960.png)

**Possible solution today**
One way is to change node, which will send the data again and most l

[2018-10-14 14:59] froooze opened #2007 "[0][Margin Picker] No update on available DEBT asset"
When I change the DEBT number, the amount on AVAILABLE does not get an update.

[2018-10-14 15:38] froooze commented on #2007
The COLLATERAL row works, but not the DEBT row.

[2018-10-14 15:43] startailcoon commented on #2007
The DEBT row is the amount of your available asset before your borrow. It does not change when you type something in the form, if that is what you expect.

[2018-10-14 15:50] startailcoon commented on #1980
I disagree with these, as they are not the default from before, especially not hiding function buttons.

[2018-10-14 15:53] froooze commented on #2007
When I change the DEBT amount, the AVAILABLE amount should also be adjusted, like it is on the COLLATERAL.

[2018-10-14 15:57] startailcoon commented on #1979
Fixed part of PR #2008

If order book is vertical, an empty placeholder will make the Open Orders / Settle Orders Panel still remain at the same place below My Trades / Market Trades.

[2018-10-14 15:57] #1979 closed

[2018-10-14 15:59] startailcoon commented on #1837
Closed part of PR #2008

[2018-10-14 15:59] #1837 closed

[2018-10-14 16:01] startailcoon commented on #1835
Fixed part of PR https://github.com/bitshares/bitshares-ui/pull/1990

[2018-10-14 16:01] #1835 closed

[2018-10-14 16:06] startailcoon commented on #1756
This task is most likely a larger one and it's not system critical. It's a feature not used before.
It's open for grabs if someone else wants to take it, as I'm unassigning myself from this.

[2018-10-14 16:12] startailcoon commented on #1866
Fixed part of PR #1980

[2018-10-14 16:12] #1866 closed

[2018-10-14 16:13] #1863 closed

[2018-10-14 18:09] startailcoon commented on #1753
I agree we should use the Ant Tabs here, though, I'm unsure on how we style them the way @nikandrovalex does in his mockups. I will need some guidance by @gibbsfromncis on this.

[2018-10-14 18:40] startailcoon commented on #1583
This would require more looking into.

According to index.js, it works with auto positioning, https://introjs.com/example/auto-position/index.html. Though, I believe that Perfect scrollbar has something to with it not working.

[2018-10-14 19:58] startailcoon opened #2010 "[15] Gateway/Bridge Codebase Enhancements"
This issue is to track improvements to the Gateway and Bridge codebase.

Improvements are, but not limited to
- [ ] Refactor Withdrawl/Deposit Modal
- [ ] Refactor Bridge Modal

This task will not fix ANT components for the modals.

Rough estimate: 10-15 hours

Parent Task: https://github.com/bitshares/bitshares-ui/issues/1771

[2018-10-14 20:01] startailcoon opened #2011 "[10] Gateway/Bridge Documentation"
This issue is to track work for the documentation part of the Gateway and Bridge update.

This task will include, but not limited to
- [ ] Create a swagger documentation
- [ ] Update wiki section

Rough estimate: 10 hours

Parent Task: https://github.com/bitshares/bitshares-ui/issues/1771

[2018-10-15 06:11] startailcoon commented on #657
If this feature is possible, it would be a great addition.

[2018-10-15 07:39] cogutvalera commented on #353
as a good reference of price source look it here https://github.com/Zapata/bitshares-pricefeed/blob/develop/README.md

[2018-10-15 07:39] sschiessl-bcp commented on #1939
+1

[2018-10-15 07:46] sschiessl-bcp commented on #1986
100%, never, but high confidence.

We could also have a manual mapping of the workers (maintained by us), it's not happening that often.

[2018-10-15 07:49] sschiessl-bcp commented on #2000
This task should be heavily facilitated by #1908.

I would suggest to stick to the current navigation style though. BitShares logo upper left, Menu top right.

[2018-10-15 07:54] sschiessl-bcp commented on #1980
Could be omitted.

https://github.com/bitshares/bitshares-ui/blob/dbc0f868509d1da4d786e0eb239d58808b9b9343/app/components/Exchange/TradingViewPriceChart.jsx#L42

Add "(needs reload)" in description

This leads to the cleanest experience to newcomers. I would force that the help popups once after this update for everyone, which heavily leverages the "Personalize" component". All the old dogs will u

[2018-10-15 09:52] sschiessl-bcp commented on #1979
Nope xD
![image](https://user-images.githubusercontent.com/33128181/46943806-c2ec9800-d070-11e8-975e-3d50f1031cc9.png)

[2018-10-15 10:03] abitmore opened #2012 "Votable witness list incomplete"
**Describe the bug**
https://testnet.bitshares.eu doesn't show all witnesses on voting page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://testnet.bitshares.eu/account/xeroc/voting'
2. Click on 'witnesses'
3. Scroll down to the bottom
4. See error, only 72 witnesses are shown.

**Expected behavior**
Show all witnesses.

**Screenshots**
![image](https://user-images.githubuser

[2018-10-15 11:03] #1836 closed

[2018-10-15 11:36] #1945 closed

[2018-10-15 11:42] #1947 closed

[2018-10-15 12:27] gibbsfromncis opened #2014 "[Style-Guide] Modals styling"
After we replaced Foundation Modals for ant (examples):
https://github.com/bitshares/bitshares-ui/issues/1993
https://github.com/bitshares/bitshares-ui/issues/1951

Do you think we should change something in style-guide Modals?

[2018-10-15 12:31] gibbsfromncis commented on #1951
@sschiessl-bcp what kind of changes to UX you see?

### Old
<img width="507" alt="screenshot 2018-10-15 15 26 28" src="https://user-images.githubusercontent.com/35899973/46950854-d149ac80-d08e-11e8-8062-d5afa851dc52.png">

### New
<img width="507" alt="screenshot 2018-10-15 15 26 28" src="https://user-images.githubusercontent.com/35899973/46781162-f81f8000-cd28-11e8-8cb8-056474f328ba.png">

The ta

[2018-10-15 12:35] #1993 closed

[2018-10-15 17:36] gibbsfromncis opened #2015 "[UX:2][UI:2] [Style-Guide] Support all styles of tabs"
The task is to add support of all styles of [ANT Tabs](https://ant.design/components/tabs)

[2018-10-15 17:37] gibbsfromncis commented on #1753
@startailcoon got it. We do not have this style of tabs in our style-guide. I created separate task for this #2015

@nikandrovalex Please provide 3 screens of tabs for each theme - Dark, Light and Midnight. I'm going to add them to our style-guide

[2018-10-15 17:39] gibbsfromncis commented on #2004
@abitmore @wmbutler @startailcoon @sschiessl-bcp please
Do you have any suggestions/requirements for this before me and @nikandrovalex will start to work on this task?

[2018-10-15 18:16] gibbsfromncis opened #2016 "[1] Display Fees in Account Activity"
I created `TEST` coin and noticed I lost `10,000` BTS from my account. First this I did is to open my account activity and take a look what kind of operations I did:
<img width="614" alt="screenshot 2018-10-15 21 16 36" src="https://user-images.githubusercontent.com/35899973/46969703-9ad85580-d0bf-11e8-9138-e81709aa4c60.png">

It would be nice to display each operations fees to be able to track th

[2018-10-15 18:49] clockworkgr commented on #2016
and thats what testnet is for ladies and gentlemen :)

that was a very expensive test...the bitshares blockchain thanks you for your contribution (btw...check your vesting balance..should have another 4k there)

[2018-10-15 20:28] gibbsfromncis commented on #1669
@startailcoon to be honest I have no time for this in this sprint. I can update sprint or unassign myself. Btw it looks like no one ready to take it so this task can wait for me

[2018-10-15 20:32] startailcoon commented on #1939
True, having it work on all mobile devices would be nice for that 👍
Still doesn't mean that all the tick-boxes would be mandatory, but rather a list of items that have been tested. Since you're having issues with it on iPhone you can't tick that box, and it would be weird that you can't verify it, so not having it is fine with me.

[2018-10-15 20:45] startailcoon commented on #2016
Displaying fees could be a nice addition, some users may do wounder what their transactions costs in BTS. Hopefully none accidently creates expensive assets.

Should we perhaps have an extra highlighted section on transactions that are extremley expensive, as an extra note for the user?

[2018-10-15 20:51] startailcoon commented on #1993
@gibbsfromncis please submit your required hours for this issue

[2018-10-15 20:57] startailcoon commented on #1962
Does this issue require any hours, or is it included in another issue hour?

[2018-10-15 21:05] gibbsfromncis commented on #1993
@startailcoon 4 hours

[2018-10-15 21:13] gibbsfromncis commented on #2016
@startailcoon good point.

[2018-10-15 21:13] gibbsfromncis opened #2017 "Highlight transactions with high fees in transaction confirmation modal"

[2018-10-15 21:14] gibbsfromncis commented on #2017
@sschiessl-bcp @startailcoon How to determine `Expensive`/`High` fees ?

[2018-10-15 23:57] gibbsfromncis commented on #1832
Updated hours because of additional hours I spent for testing & reviewing styles and UX

[2018-10-16 00:04] gibbsfromncis commented on #1994
### Browser Support Modal

<img width="541" alt="screenshot 2018-10-16 03 04 36" src="https://user-images.githubusercontent.com/35899973/46984872-38e41400-d0f0-11e8-9b3c-c5819f8d991c.png">

[2018-10-16 01:17] gibbsfromncis commented on #1994
### Reconnect Modal

<img width="637" alt="screenshot 2018-10-16 03 31 15" src="https://user-images.githubusercontent.com/35899973/46985606-f8869500-d0f3-11e8-9fbc-28a88abaf5ac.png">

### Proposal Confirm/Reject

<img width="541" alt="screenshot 2018-10-16 04 16 26" src="https://user-images.githubusercontent.com/35899973/46986884-55854980-d0fa-11e8-8c12-f6b1033f15d0.png">
<img width="543" alt="scr

[2018-10-16 05:45] sschiessl-bcp commented on #2004
That could be indeed nice.

Strong defaults are strong :)

I find the lock confusing, maybe we can have a button within the textfield (like copy button), but with a editable icon that gets striked through (e.g. https://static.thenounproject.com/png/31085-200.png)

[2018-10-16 05:53] sschiessl-bcp commented on #2017
You mean other than actually read what the popup says?

Looking at https://cryptofresh.com/fees the following two would make sense (if this issue gets accepted)
 - "high" > 10 BTS
 - "very high" > 1000 BTS

[2018-10-16 05:54] sschiessl-bcp commented on #1951
Please close when all sub-tasks are done and keep for general tracking in the meantime.

[2018-10-16 05:55] sschiessl-bcp commented on #1951
I overreacted. The modals look quite different but quite similar. Only thing missing is the highlight of the account name.

[2018-10-16 09:29] sschiessl-bcp commented on #2015
Issues that receive label should be complete in their description.

[2018-10-16 09:30] sschiessl-bcp commented on #1908
@kapeer42

Have you started on this task yet by any chance?

[2018-10-16 12:52] gibbsfromncis commented on #2015
@sschiessl-bcp updated

[2018-10-16 13:14] sschiessl-bcp commented on #1696
@startailcoon @wmbutler Any other thoughts / comments?

[2018-10-16 18:06] startailcoon commented on #1951
Great work, it's good to have these done as well. The only thing that I react on is the title of the modal is moved from a larger centered text to a smaller header of the modal.

Also, this parent task should be kept open until the Sub-Tasks are done. As this tracking task has no hours, there is no need to keep close it.

[2018-10-16 18:12] startailcoon commented on #2017
Since the fee schedule may change in the future we shouldn't hard code this.

### My thoughts about this would be
Ref Fee: `Regular Transaction Fee` which is 0.10420 BTS
High Fee: `Ref Fee` * 20
Very High Fee: `Ref Fee` * 100

[2018-10-16 18:30] kapeer42 commented on #1908
Yes, pls bear in mind this is WIP so might be incomplete but,
This is a unified format for both header items, dynamic items, and burger menu items.
I think we should go with a structure like:
## Object structure:
[code]

If an item definition is bad (missing name and text prop for example, one of them must be defined) it should just ignore the item and spit a warning in the console I think.

It co

[2018-10-16 18:40] startailcoon commented on #2004
The lock is to change the field for the slider. Before we added this feature the slider only changed collateral, if I'm not mistaken.

I'm sure we can find a better UX for this.

[2018-10-16 18:48] kapeer42 commented on #1578
I don't feel comfortable making a decision over a library integration but since no answer and sprint ends tomorrow. I'll finish the victory implementation and port the existing charts.

[2018-10-16 19:47] froooze commented on #2004
- Actually I like the look and it self explaining nature. It was introduced, while having the same idea.
- When we introduce a slider for DEBT and COLLATERAL, it can also have the predefined buttons with percentages.

[2018-10-17 06:35] sschiessl-bcp commented on #1978
When opening exchange on first load:
![image](https://user-images.githubusercontent.com/33128181/47066805-8abb9580-d1e7-11e8-9e95-3e1441f45947.png)

[2018-10-17 06:35] sschiessl-bcp commented on #1978
Fixed, took one hour.

[2018-10-17 06:36] sschiessl-bcp opened #2019 "[2.5][Exchange Refinement] Minor Issues"
Partly review / partly feature add / partly bug fixing. Was too extensive for normal review hours.

- [x] First group title wrong in Personalize dialog
- [x] Fix TradingView Tools and Zoom
- [x] Refactor singleColumnOrderForm
- [x] Refactor Settings -> Personalize
- [x] Adjust Personalize items according to screen size
- [x] Streamline Help Intro

[2018-10-17 06:39] #1978 closed

[2018-10-17 08:10] startailcoon commented on #1978
Thanks @sschiessl-bcp!

[2018-10-17 10:17] sschiessl-bcp opened #2020 "[Exchange Refinement] Community Feedback"
New exchange is live and visible at
  https://develop.bitshares.org/#/market/USD_BTS

Following issues have been found already
- [x] You can't change chart size on mobile, since the option isn't available. 620px on mobile is way to big https://github.com/bitshares/bitshares-ui/commit/7a204d0f933d22ad6a468d65393c9ea9bbc5b0d4
- [x] #2021
- [ ] See https://github.com/bitshares/bitshares-ui/issues/197

[2018-10-17 10:45] #2019 closed

[2018-10-17 11:25] #1955 closed, assigned to nobody

[2018-10-17 11:33] sschiessl-bcp opened #2021 "[0.5][Exchange Refinement] Minor Issues Part 2"
- [x] Single Column Setting doesnt work properly
- [x] Hide Group icon also with function buttons, but display icon if grouped

[2018-10-17 11:38] #1987 closed

[2018-10-17 12:15] sschiessl-bcp commented on #2021
Closed with https://github.com/bitshares/bitshares-ui/commit/0ff92664009537114a05672ee770580d0d0c642f

[2018-10-17 12:15] #2021 closed

[2018-10-17 12:34] sschiessl-bcp commented on #1984
The new modal is already merged, let's pick this up.

[2018-10-17 12:39] sschiessl-bcp commented on #1828
This actually works now (e.g. pasting 1,000 USD for 1000)

[2018-10-17 12:45] sschiessl-bcp commented on #1734
This is not forgotton, but lot is going on with the ES plugin and this is not picked up yet to avoid double efforts. With the latest ES plugin that allows to index everything we are getting closer to be done iterating.

[2018-10-17 12:46] sschiessl-bcp commented on #1664
Will be handled by Foundation removal.

[2018-10-17 12:46] #1664 closed

[2018-10-17 12:50] sschiessl-bcp commented on #1583
Might be enough to update intro.js

https://github.com/usablica/intro.js/pull/801

[2018-10-17 12:54] gibbsfromncis commented on #2014
@sschiessl-bcp waiting for your comments/suggestions :)

[2018-10-17 13:15] sschiessl-bcp opened #2022 "Check if number pasting parsing is save"
Latest fix #1912  includes the possibility to paste "1,000 USD" for value "1000".
Include logic that "1000,00 EUR" would not be recognized as "100000".

Things to check:
- [ ] Allowed order of non-digits: Commas only (thousand separator), then optionally one dot.
- [ ] If a comma is found with one or two digits afterwards, recognize as decimal point (only on pasting)

Related
https://github.com/bi

[2018-10-17 13:16] sschiessl-bcp commented on #1828
Good point, will check

[2018-10-17 13:34] sschiessl-bcp opened #2023 "[Showcases] Paper Wallet"
The wallet allows for every account to view the three private keys and even create (encrypted) QR codes for it by clicking on the QR code symbol.

![image](https://user-images.githubusercontent.com/33128181/47089514-4a790900-d221-11e8-9d89-c0021901684a.png)

I imagine a "Create Paper Wallet" feature for the Showcase overview, could also be placed in permissions as a button and/or added to Backup o

[2018-10-17 13:42] kapeer42 opened #2024 "Explored account"
**Is your feature request related to a problem? Please describe.**
Currently the app does not fully makes the distinction between the currently explored account and the current user account.

**Describe the solution you'd like**
I'd like to see a change in the header from:
[code]
to:
[code]
For a cloud account user the `userAccount` would always be his/her cloud account.
For a wallet account user

[2018-10-17 17:00] MikhailKavalenka opened #2025 "Migrate OpenLedger Sign in functionality."
Part of #1832

**Description**

Merge the OpenLedger Sign In page to the BitShares code.

[2018-10-18 06:04] sschiessl-bcp commented on #2020
From startail:

[2018-10-18 08:32] abitmore opened #2027 "[0.5] Add a link to hackthedex.io in readme and UI"
**Is your feature request related to a problem? Please describe.**
As a community member I want a link to https://hackthedex.io (the bounty program) in the main page of this repository, and a link in the UI, so that people who find a security issue will know where and how to report it.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alt

[2018-10-18 09:44] abitmore opened #2028 "Show paid fees in account activities"
**Is your feature request related to a problem? Please describe.**
A user got frustrated when unable to find where his BTS has gone.

I created some coin and noticed I lost ~10,000 BTS from my balance. I found 5,000 BTS on my coin FEE POOL and have no idea where is other ~5000 BTS... nothing interesting on my activity history.
Does anybody know why it happened?
Why we do not mention anywhere that

[2018-10-18 09:56] abitmore commented on #1934
Just came up with an idea: we can add a "last vote time" field in core. Base on it, we can show a notification on the top of UI, which says: it's been xxx days since last time you updated your votes, click here for how voting works, click here for what/who to vote. UX is needed.

Ideally, to reduce disturbances, the notification should only show when the user has >= X BTS in his account which may

[2018-10-18 10:00] abitmore commented on #2012
The witness with highest ID in testnet is `1.6.90`.

[2018-10-18 10:12] clockworkgr commented on #1934
hmmmm

cashback object is counted towards voting weight? just that one or all vesting balances?

was under the impression vesting balances didnt count

[2018-10-18 10:13] sschiessl-bcp commented on #1934
I was aiming for a similar approach, but to hold something like the "last vote time" in localStorage for the UI. Your approach would certainly be more robust as its independent of the used UI.

[2018-10-18 10:14] clockworkgr commented on #2028
whats worse...actually a UI dev :D

[2018-10-18 10:21] fractalnode commented on #2028
it would be useful to have such a message before creating a token.
"If this is your first token and you create it for testing purposes, use the test-network for this."

Now we have to provide the right amount of TEST tokens to create a token, or lower the fee. At present, you can not even create an account, and the received TEST tokens are not enough to test the network.

[2018-10-18 11:08] sschiessl-bcp commented on #2016
Isn't a LTM :)

[2018-10-18 11:08] sschiessl-bcp commented on #2028
Duplicate #2016

[2018-10-18 11:08] #2028 closed

[2018-10-18 11:12] sschiessl-bcp commented on #2016
If accepted I'll tackle this one.

Question is where to put it. Two options
![image](https://user-images.githubusercontent.com/33128181/47150557-30016700-d2d7-11e8-904b-8fc9799330f3.png)
1. Put in a new column (Fee)
2. Add a on hover popup on the ID or add to Type Popup

My vote would be 1.

[2018-10-18 11:50] clockworkgr commented on #2016
agree on 1.

[2018-10-18 13:09] adamvp commented on #1065
I'd like to bet using bitshares! Great idea!
Please make it top prio Devs!

[2018-10-18 18:09] MarkoPaasila commented on #2022
Will the 2 decimal check work properly? Most assets have more than 2

[2018-10-18 21:06] gibbsfromncis commented on #2015
@nikandrovalex I need design for all styles of ANT tabs for all themes: Dark, Midnight, Light

[2018-10-18 21:14] abitmore commented on #1934
Only cashback according to bitshares-core [code](https://github.com/bitshares/bitshares-core/blob/2.0.180823/libraries/chain/db_maint.cpp#L1110-L1112):
[code]

[2018-10-18 21:19] gibbsfromncis opened #2029 "Redesign & Antify Update Issue Asset Modal"
<img width="723" alt="screenshot 2018-10-19 00 19 19" src="https://user-images.githubusercontent.com/35899973/47184907-a1bbce00-d334-11e8-8dee-6cf98d8b9575.png">

[2018-10-18 21:52] gibbsfromncis opened #2030 "Redesign & Antify Update Private Key Viewers Modal"
<img width="715" alt="screenshot 2018-10-19 00 51 51" src="https://user-images.githubusercontent.com/35899973/47186424-30cae500-d339-11e8-9648-4526f5aefb71.png">

[2018-10-18 22:17] gibbsfromncis commented on #1994
### Assets

<img width="536" alt="screenshot 2018-10-19 01 16 55" src="https://user-images.githubusercontent.com/35899973/47187425-b734f600-d33c-11e8-9381-69fdbbda942f.png">
<img width="545" alt="screenshot 2018-10-19 01 16 48" src="https://user-images.githubusercontent.com/35899973/47187426-b734f600-d33c-11e8-8d10-376d02aa21b9.png">

### Public Key Viewer

<img width="546" alt="screenshot 2018-10

[2018-10-18 22:48] gibbsfromncis commented on #1994
### Burn Modal

<img width="545" alt="screenshot 2018-10-19 01 48 35" src="https://user-images.githubusercontent.com/35899973/47188527-1a288c00-d341-11e8-876b-b0ee0f97e5f1.png">

[2018-10-18 22:49] gibbsfromncis opened #2031 "Redesign & Antify Burn Modal"
<img width="545" alt="screenshot 2018-10-19 01 48 35" src="https://user-images.githubusercontent.com/35899973/47188534-26144e00-d341-11e8-9788-21b7623960e5.png">

[2018-10-18 22:49] gibbsfromncis opened #2032 "Redesign & Antify Proposals Modals"
![](https://user-images.githubusercontent.com/35899973/46986884-55854980-d0fa-11e8-8c12-f6b1033f15d0.png)

![](https://user-images.githubusercontent.com/35899973/46986885-55854980-d0fa-11e8-8419-2c38044b01a8.png)

[2018-10-18 23:13] gibbsfromncis commented on #1994
### Buy

<img width="489" alt="screenshot 2018-10-19 02 13 42" src="https://user-images.githubusercontent.com/35899973/47189317-9b355280-d344-11e8-981b-67200cb444ee.png">

[2018-10-18 23:14] gibbsfromncis opened #2033 "[3.5] Redesign & Antify Buy Modal"
<img width="489" alt="screenshot 2018-10-19 02 13 42" src="https://user-images.githubusercontent.com/35899973/47189335-a6887e00-d344-11e8-8abd-8d31c1627fb4.png">

[2018-10-18 23:26] gibbsfromncis opened #2034 "[0.75] Sell Button doesn't work on Staging"
When I try to press "Sell" on Exchange on `staging.bitshares.org` I have the following error:

<img width="1440" alt="screenshot 2018-10-19 02 26 25" src="https://user-images.githubusercontent.com/35899973/47189676-6c1fe080-d346-11e8-96b2-0da523f80fb4.png">

[2018-10-19 00:32] gibbsfromncis opened #2035 "[1] Deposit doesn't work correct on Exchange Staging"
Old Exchange (wallet.bitshares.org):
<img width="518" alt="screenshot 2018-10-19 03 31 44" src="https://user-images.githubusercontent.com/35899973/47191364-827e6a00-d34f-11e8-8d7f-408dfbb80907.png">

New Exchange (staging.bitshares.org):
<img width="522" alt="screenshot 2018-10-19 03 32 03" src="https://user-images.githubusercontent.com/35899973/47191375-8dd19580-d34f-11e8-81b0-c5dac9f9d8d2.png">

[2018-10-19 01:10] gibbsfromncis opened #2036 "ConfirmOrder Modal is missed from new Exchange"
<img width="717" alt="screenshot 2018-10-19 04 09 44" src="https://user-images.githubusercontent.com/35899973/47192262-d17ace00-d354-11e8-887d-0d0e37d00065.png">

[2018-10-19 01:10] gibbsfromncis commented on #2034
This one maybe relates to #2036

[2018-10-19 01:14] gibbsfromncis commented on #2036
This issue is duplicate of #2034

[2018-10-19 01:14] #2036 closed

[2018-10-19 01:42] gibbsfromncis commented on #2034
<img width="544" alt="screenshot 2018-10-19 04 42 20" src="https://user-images.githubusercontent.com/35899973/47193016-5f58b800-d359-11e8-9d0f-75ded0deb3ec.png">

[2018-10-19 01:42] gibbsfromncis commented on #2034
@startailcoon *estimate*: .75h

[2018-10-19 02:56] gibbsfromncis commented on #1994
### OpenLedger Withdraw Modal

<img width="538" alt="screenshot 2018-10-19 05 56 24" src="https://user-images.githubusercontent.com/35899973/47195253-bfecf280-d363-11e8-8664-2ec7068dd2d2.png">

[2018-10-19 03:17] gibbsfromncis commented on #1994
### BlockTrades Withdraw Modal

<img width="548" alt="screenshot 2018-10-19 06 17 07" src="https://user-images.githubusercontent.com/35899973/47195895-a13c2b00-d366-11e8-8643-c561b7e1322e.png">

[2018-10-19 05:12] gibbsfromncis commented on #1994
### Gdex Modal
<img width="535" alt="screenshot 2018-10-19 08 11 16" src="https://user-images.githubusercontent.com/35899973/47198727-a1442700-d376-11e8-858f-7479123d4d9e.png">

### Citadel

<img width="536" alt="screenshot 2018-10-19 08 11 36" src="https://user-images.githubusercontent.com/35899973/47198731-a2755400-d376-11e8-869d-51efa004a191.png">

[2018-10-19 05:13] gibbsfromncis commented on #1994
### Rudex

<img width="548" alt="screenshot 2018-10-19 08 12 30" src="https://user-images.githubusercontent.com/35899973/47198772-d05a9880-d376-11e8-8715-a532095844e3.png">

### BitSpark

<img width="537" alt="screenshot 2018-10-19 08 12 41" src="https://user-images.githubusercontent.com/35899973/47198767-ccc71180-d376-11e8-895c-a79491c048da.png">

[2018-10-19 05:55] svk31 commented on #1751
This has been live a while now, will leave out the bonus tasks and close it.

[2018-10-19 05:55] #1751 closed

[2018-10-19 06:49] sschiessl-bcp commented on #1980
Closed with latest staging release (see separate issues)

[2018-10-19 06:49] #1980 closed

[2018-10-19 07:31] #2034 closed

[2018-10-19 07:38] sschiessl-bcp commented on #2035
Should we maybe switch to the general deposit modal and preselect asset and gateway?

[2018-10-19 07:47] sschiessl-bcp opened #2038 "[Exchange Refinement] Quick Deposit"
- [ ] Route `market/OPEN.BTC_BTS`
![image](https://user-images.githubusercontent.com/33128181/47204388-7d3b1280-d383-11e8-8164-639ded07e48f.png)
The Quick Deposit buttons should ask for login if no account is present (null-account is set, quick deposit modals dont allow to change account). Reproduce by clearing cache, browse to above route and click right Quick Deposit button.

- [ ] Furthermore,

[2018-10-19 08:04] svk31 opened #2039 "Deposit/Withdraw modals crash the GUI"
**Describe the bug**
When triggered from the Portfolio view the modals crash the GUI due to missing methods being called.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an account you control with an asset eligible for deposit/withdraw
2. Click on the deposit or withdraw icons

**Expected behavior**
Modals should open correctly

**Screenshots**
![image](https://user-images.githubuserc

[2018-10-19 08:30] #2035 closed

[2018-10-19 08:43] sschiessl-bcp commented on #2039
Due to new incomplete transition to new Modal in DepositModal, hideModal props missing in AccountPortfolioList

[2018-10-19 09:40] ppitonak commented on #1125
Works in Firefox 62

[2018-10-19 10:05] sschiessl-bcp commented on #1705
Added a new script that removes english duplicates.

Transifex is now up-to-date, and translation files can be streamlined
https://www.transifex.com/bitshares/bitshares-ui-1/

@froooze german is yours

[2018-10-19 10:27] sschiessl-bcp commented on #2034
Please adjust the estimate if not acceptable.

[2018-10-19 10:29] gibbsfromncis commented on #1994
@startailcoon

**final estimate**: 6.75h

[2018-10-19 10:31] clockworkgr commented on #1705
reserving greek

whats the time estimate per language?

[2018-10-19 10:31] sschiessl-bcp commented on #1705
@startailcoon @wmbutler

Do we want to have new languages? I would have someone interested in dutch.

[2018-10-19 10:35] sschiessl-bcp commented on #1705
Assignments:
- Management [2]: @sschiessl-bcp
- German: @froooze
- Russian: @ruslansalikhov

Requests for new langauges will be evaluated.

[2018-10-19 11:53] ragnaroklow commented on #1705
I translated a few things in french.

[2018-10-19 12:45] deceneus commented on #1705
Romanian, if there's any interest for it...
I'm @steemmillionaire in steem.

[2018-10-19 14:53] AboShanab commented on #1705
Can I take Arabic language?

[2018-10-19 16:18] froooze commented on #1705
@sschiessl-bcp:
There are two German versions "du" and "sie" which is preferred or should I make two different versions?

[2018-10-19 16:37] froooze commented on #1792
This task has two steps.
1. Integrate the full search to MY MARKETS
2. Modify the UI

Step 1 is very clear.
Step 2 is not so clear, some abstraction concepts are needed.

Actually we have:
- Liquidity
- Favorite
- MY MARKETS checkbox
as properties, which needs a rethink and integration in one layout.

[2018-10-19 16:40] Zapata commented on #1958
I have the same issue using 2.0.181010 branch and below Dockerfile:
[code]

It seems related to: https://github.com/webpack/webpack-cli/issues/607

I updated webpack-cli to `^3.1.2` and it works fine.

[2018-10-19 20:51] p145085 commented on #1705
I can help translating to Swedish.

[2018-10-20 19:46] startailcoon commented on #2012
With the latest develop branch I'm able to see 91 witnesses to vote for.

![bild](https://user-images.githubusercontent.com/12114550/47259909-80ccb780-d4b1-11e8-82f3-c3f51b5d9e3e.png)

[2018-10-20 19:46] #2012 closed

[2018-10-20 19:49] startailcoon commented on #2016
Would be most usefull I think. A hower doesn't always apply, on touch only devices for example.

[2018-10-20 19:56] startailcoon commented on #2023
Labeled UX for creating a paper wallet layout that could be used.
I like the idea of it.

[2018-10-20 20:01] startailcoon commented on #2024
I can agree with your statement @kapeer42 , that it can be confusing what account you're active as. The fact that the cloud accounts doesn't change when you browse another user makes it even more confusing if you switch account types.

Today the app "takes the role" of the selected account, but only when using in wallet mode. I find this behaviour confusing as you need to select your account in th

[2018-10-20 20:06] startailcoon commented on #2027
Adding hackthedex.io linkage would be good for the community.
We should add it the main as well as the in app help section imho.

[2018-10-20 20:15] cogutvalera commented on #2027
absolutely agree ! It must be near help section in menu ;)

[2018-10-20 20:31] startailcoon commented on #504
Bumping this task as I think all external links should have this icon to notify the user that it leads to an external source.

This icon is already in our app and used on the voting section.

This task would be to add the icon to all external links in the app, as well as the help section.
Estimated hours for this task is set to 3 hours.

![bild](https://user-images.githubusercontent.com/12114550/4

[2018-10-20 20:34] startailcoon commented on #596
Fixed

[2018-10-20 20:34] #596 closed

[2018-10-20 20:53] startailcoon commented on #624
I think this issue is worth a closer look.

Looking into this closer, I could confirm that placing an order `Sell 18.301 bitCNY for 3.2941 bitUSD` would give me a value of 27 BTS. This is the value of the current bitCNY / bitUSD in BTS.

Sell 18.301 bitCNY for 0.1447 bitUSD it's 2.648 bitUSD.
2.648 bitUSD * 10.15 BTS = 26.8 BTS

I would expect this to instead tell me the BTS of the sell price of t

[2018-10-20 20:55] startailcoon commented on #638
Fixed in new market UX

[2018-10-20 20:55] #638 closed

[2018-10-20 20:57] startailcoon commented on #650
Closing this as nothing further has been reported since the fix supplied in nov last year.

[2018-10-20 20:57] #650 closed

[2018-10-20 20:57] gibbsfromncis commented on #2024
@startailcoon actually we have this feature I will work on - https://github.com/bitshares/bitshares-ui/issues/1089

[2018-10-20 21:01] startailcoon commented on #714
Closing this as nothing new has come up since last year.

There is a hover state that will give the user more information of the dates as well, not sure if this was added before or after this issue, and should suffice imho.

[2018-10-20 21:01] #714 closed

[2018-10-20 21:03] startailcoon commented on #805
Fixed

[2018-10-20 21:03] #805 closed

[2018-10-20 21:05] startailcoon commented on #943
Closing this since it's not an issue, rather a problem with OL

[2018-10-20 21:05] #943 closed

[2018-10-20 21:13] startailcoon commented on #821
This will be adressed in https://github.com/bitshares/bitshares-ui/issues/2011

[2018-10-20 21:15] startailcoon commented on #1298
Can we not make the menu list dynamic based on the types of available transactions in the users history? I for once aren't creating or updating assets and accounts that ofthen, nor do I withdraw witness pay, so these doesn't make any sence for me to be able to select.

[2018-10-20 21:16] #1378 closed

[2018-10-21 09:11] abitmore commented on #2027
I thought the "help" button would be removed some time in the future?

[2018-10-21 10:41] startailcoon commented on #2027
No reason to not add it untill this is the fact, but we shold of course add it to a place in-app that will not make it visible to users, easily.

[2018-10-21 10:47] startailcoon commented on #1917
I thank you @arminnaderi for further digging into this issue, and with the result you display I think it's not worth making a fix for.

[2018-10-21 10:47] #1917 closed

[2018-10-21 10:50] startailcoon commented on #1901
How is work progressing on this?

I'm looking forward to your work on background pinging as well

[2018-10-21 10:54] startailcoon commented on #1625
@sschiessl-bcp @nikandrovalex how is work progressing on this? Do we have a UX that can be worked from, I can't see one here.

[2018-10-21 11:01] startailcoon commented on #1578
The preview you post looks good imho @kapeer42
I'll need some review by @svk31 to sign this of.

cc @wmbutler

[2018-10-21 11:03] startailcoon commented on #1543
I see this issue was merged by @sschiessl-bcp, I assume this is then fixed as nothing is posted either here, nor on the PR.

[2018-10-21 11:03] #1543 closed

[2018-10-21 19:26] grctest opened #2041 "MMORPG style trading panel"
**Is your feature request related to a problem? Please describe.**

If/when videogames start using the BTS DEX for their inventory management, such as collectable cards or MMORPG weapons/armour, users cannot trade multiple 'items' (UIA) on the market in return for one or many items.

Users would be limited to trading one item for another, or trading against non-item currencies on the market where

[2018-10-21 19:58] fractalnode commented on #1705
I can do a Polish translation, I have about 5% already translated

[2018-10-21 20:04] abitmore commented on #2041
IMHO it's better to use proposals for p2p trading (swapping) if all the items are on the same chain, then no escrow is needed, see https://github.com/bitshares/bitshares-ui/issues/866. If an item is not on this chain, then it's a different story, perhaps HTLC would help.

[2018-10-21 21:18] startailcoon commented on #2024
Nice, I didn't remember that issue when writing my reply here 👍

Duplicate of #1089

[2018-10-21 21:21] abitmore opened #2042 "[Showcases] free transaction (pay-by-3rd-parties)"
See comments in https://github.com/bitshares/bitshares-core/issues/22.

[2018-10-22 06:09] sschiessl-bcp commented on #2023
Let's keep it simple to start with (as it's supposed to rot in a safe somewhere)(font style and sizes will be streamlined)
![image](https://user-images.githubusercontent.com/33128181/47279492-b7015880-d5d1-11e8-8cc4-8707e62c9eee.png)

Two options for the user:
1. Created with password: Private Key field and QR prints the encrypted string
2. Created without password: Private Key field and QR print

[2018-10-22 06:30] sschiessl-bcp commented on #1089
The modal is a very good idea, and also indicating the status according to abit's suggestion above.

[2018-10-22 06:32] sschiessl-bcp commented on #1901
This is done, just not tested well enough due to delays. Will come soon.

[2018-10-22 06:37] sschiessl-bcp commented on #2041
Will be part of #1859

[2018-10-22 06:40] sschiessl-bcp commented on #1705
Some Germans prefer the "du" verion some the "sie".

If most of the already done translations use "du" or "sie", stick with that one. If it's a complete mess right now, please streamline to "sie".

[2018-10-22 10:58] grctest opened #2043 "Smartcoin flag re-enables itself after cancelled 'save changes' login prompt?"
**Describe the bug**
I attempted to permanently disable the "Allow issuer to force a global settling" permission within Hertz, but after completing the saved changes I noticed that the flag was still enabled..

I attempted the change again, and it re-enabled itself!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a bitasset's update page.
2. Go to the permissions.
3. Disable the "Allow

[2018-10-22 11:06] grctest commented on #1826
Got this today twice on version 2.0.18.0926

[code]

Refreshing didn't fix it this time, new errors on refresh (white screen):
[code]

[2018-10-22 11:21] grctest commented on #2043
Just attempted to disable this setting, paid the fee, tx '1.11.534986968' and it re-enabled itself after confirming the changes... Is this because the supply is greater than 0? I'd have expected a warning if that was the case.

[2018-10-22 11:29] HarukaMa commented on #2043
Maybe clicking save triggered UI refresh even though the wallet is not unlocked?

[2018-10-22 11:48] gibbsfromncis commented on #1994
I've increased estimate by one hour due fixed requested in Pull Request.

[2018-10-22 18:06] startailcoon opened #2044 "Enhancements for Private Testnet Projects"
Running a private testnet project on Bitshares is currently difficult due to lack of documentation and easy configurational options for the UI.

This issue is to track the requirements of enhancements in this region and an open discussion about such requirements.

## User Stories
#1773
#1772

## Tasks (so far)
- [ ] Documentation
- [ ] UI Configuration/Branding

[2018-10-22 19:52] sschiessl-bcp commented on #1892
@svk31 does bithsaresjs already support this transfer?

[2018-10-22 19:56] sschiessl-bcp commented on #2031
Are all those ANTify issues up for grabs or are you gonna clone yourself?

Would the correct wording not be bitshares-style-guidify? :)

[2018-10-22 20:11] sschiessl-bcp commented on #2022
It is after all a facilitation, the user can be expected to read the actual number that is the result of his pasting. Recognizing 3 digits after comma might recognize thousand separators

[2018-10-22 20:39] startailcoon commented on #2006
When not logged in, the exchange may not even load at all due to this issue.

[2018-10-22 20:39] svk31 commented on #1892
Yes it does

[2018-10-22 21:42] gibbsfromncis commented on #2031
@sschiessl-bcp I'm gonna to work really a lot and maybe clone myself. Just waiting when I finish my last few weeks on my full-time company.

[2018-10-22 22:26] sschiessl-bcp opened #2047 "Settlement warning"
https://bitsharestalk.org/index.php?topic=27268.msg323170#msg323170

Ensure users get warning when settling bitasset in global settlement state and clearly display price difference

[2018-10-22 22:40] abitmore opened #2048 "Warn user when settling a globally settled asset"
**Is your feature request related to a problem? Please describe.**
https://bitsharestalk.org/index.php?topic=27268.msg323170#msg323170

at 2018-10-15 23:46:36 in the block / 31395459/44
missing translation: en.operation.asset_settle_instant

**Describe the solution you'd like**
For assets that are globally settled already, we should warn the user when she tries to settle, e.g. show the global sett

[2018-10-22 22:50] #1996 closed

[2018-10-22 22:51] gibbsfromncis commented on #1995
@startailcoon

Requested estimate: 1h

[2018-10-23 00:10] gibbsfromncis opened #2050 "[StyleGuide] Integrate Notifications"
The task is to integrate [Ant notifications](https://ant.design/components/notification/) to our [style-guide](https://github.com/bitshares/bitshares-ui-style-guide)

Required by task: #1966

[2018-10-23 00:45] gibbsfromncis commented on #2050
Estimate: 1h

Done by commit: https://github.com/bitshares/bitshares-ui-style-guide/commit/8de91543dee53d11cf11c9d3dee20da3573326c5

[2018-10-23 02:24] gibbsfromncis opened #2051 "Replace Old Notifications System by Style-Guide Notifications"
--

[2018-10-23 02:31] #2051 closed

[2018-10-23 03:09] gibbsfromncis opened #2052 "Replace Transaction Confirmation notification"
When user confirm transaction we notify him about success transaction using old notifications system. The task is to replace this notification system by style-guide notifications.

**Blocker is**: https://github.com/ant-design/ant-design/issues/12781

[2018-10-23 03:56] gibbsfromncis commented on #1966
@startailcoon Estimate: 3h

[2018-10-23 04:00] #1967 closed

[2018-10-23 04:30] gibbsfromncis opened #2054 "Node Autoselection toggle produces error"
This switch:

<img width="266" alt="screenshot 2018-10-23 07 30 05" src="https://user-images.githubusercontent.com/35899973/47335776-78cd6d00-d695-11e8-82df-69e686b45a31.png">

[2018-10-23 04:31] gibbsfromncis commented on #1968
@startailcoon
Estimate: 0.75

[2018-10-23 04:34] gibbsfromncis opened #2056 "[1] Fix Add Node modal on Settings"
<img width="1406" alt="1" src="https://user-images.githubusercontent.com/35899973/47335884-014c0d80-d696-11e8-9c8f-a98dbfcd0730.png">

[2018-10-23 05:21] #2047 closed, assigned to sschiessl-bcp

[2018-10-23 10:22] sschiessl-bcp commented on #1901
I included the background pinging and increased the estimate, will adjust when done.

[2018-10-23 11:05] sschiessl-bcp commented on #1901
Done now. Hours have been updated, please adjust if not acceptable.

[2018-10-23 11:32] #1994 closed

[2018-10-23 11:35] #1995 closed

[2018-10-23 12:04] jademont commented on #1705
I can help translating English into Chinese language.

[2018-10-23 13:02] sschiessl-bcp commented on #2016
Adjusted hours, please adjust if anything seems off.

[2018-10-23 13:51] VerevkinAlexander commented on #1583
Did you this comment :

[2018-10-23 15:15] sschiessl-bcp commented on #1908
This is quite the extensive list you found there, important research!

Here my 2 cents:
- `name` -> `identifier`
- `text` -> `title`
- remove `pinned` and `dynamicOnly`, introduce `inHeader` that takes 0 (not), 1 (only dynamic), 2 (always)
- introduce `inMenu` that takes `true` and `false`
- `prefix` -> `pathPrefix`
- `account` necessary? I think can be removed
- remove `navigationPath` and `callb

[2018-10-23 17:09] gibbsfromncis commented on #1995
@startailcoon task is already closed. I'll put estimate to title to do not miss it

[2018-10-23 19:08] gibbsfromncis commented on #1604
@startailcoon we had call with Alex regarding this task. I would like to ask you to increase estimate by 10 hours (to `UX:20+UX:6`) to finish this task.
Alex already spent around 23 and need additional 6 hours so I think increase his estimate by 10 hours would be fair.

[2018-10-23 19:32] g3d commented on #1965
I was able to reproduce this on the clean installation on latest release & develop.
Here is backtrace: https://gist.github.com/g3d/d1f3032379f171be2143685d5932aa93

The source of problem was latest `alt-react` that was not processed by babel, so it triggered issues with splat operator.

[2018-10-23 22:31] grctest commented on #2043
I attempted the change again, I first fully unlocked my wallet, changed a price feed publisher and attempted to permanently disable the flag, the transaction confirmation included the changes, I paid the fee and the flag re-enabled itself after confirmation.

[2018-10-23 23:39] gibbsfromncis commented on #1965
@g3d what is release branch?

[2018-10-24 01:04] #2050 closed

[2018-10-24 01:09] #1969 closed

[2018-10-24 02:31] #1952 closed

[2018-10-24 02:32] #1970 closed

[2018-10-24 02:32] #1971 closed

[2018-10-24 02:32] #1972 closed

[2018-10-24 02:35] gibbsfromncis commented on #2015
@nikandrovalex we need design of these tabs:
- https://ant.design/components/tabs/#components-tabs-demo-card
- https://ant.design/components/tabs/#components-tabs-demo-card-top

For all 3 themes: `Midnight`, `Dark` and `Light` based on our current style-guide - https://styleguide.bitshares.org/#/

[2018-10-24 03:53] gibbsfromncis commented on #1089
@startailcoon please adjust hours to 1.5h

[2018-10-24 04:12] gibbsfromncis commented on #1927
@kapeer42 please let me know when you are going to finish this task because it blocks me

[2018-10-24 04:20] gibbsfromncis opened #2060 "[2] Fix broken ant form item labels"
The first Label is wrong because it is not responding our style-guide. The second label is normal. Should find workaround or fix labels based inside ant components somehow

<img width="202" alt="screenshot 2018-10-24 07 19 22" src="https://user-images.githubusercontent.com/35899973/47406004-235c9300-d75d-11e8-83e7-0ad2aae02373.png">

[2018-10-24 06:16] sschiessl-bcp opened #2061 "On-chain trollbox"
We had a trollbox in the UI a while back, and I just want to persist discussion on it future reference.
Externally included trollbox was discarded due to spam and maintenance effort #281

On-chain trollbox that uses transfers to a predefined account whose private memo key is hardcoded in the UI. I remember we had a discussion on it somewhere, but couldnt find it. This issue is to collect opinions

[2018-10-24 06:28] gibbsfromncis commented on #1965
@g3d Please check latest release date and the date of the fix.

[2018-10-24 06:35] gibbsfromncis commented on #2031
<img width="553" alt="screenshot 2018-10-24 09 33 21" src="https://user-images.githubusercontent.com/35899973/47410895-dd5cfa80-d76f-11e8-9241-5db3f4b594fc.png">

### Changes

- Update AmountSelect & AssetSelect to use StyleGuide components (<Input> and <Select>)
- Add autocomplete for Asset Select (typeahead)
- Add hover styles for balance

[2018-10-24 06:36] gibbsfromncis commented on #2031
@startailcoon Estimate: 1.25h

[2018-10-24 07:13] #2016 closed

[2018-10-24 07:38] gibbsfromncis opened #2063 "[StyleGuide] Fix Popover Bottom placement"
<img width="393" alt="screenshot 2018-10-24 10 38 01" src="https://user-images.githubusercontent.com/35899973/47414141-f027fd00-d778-11e8-9aba-e3f4214c920b.png">

[2018-10-24 07:41] gibbsfromncis opened #2064 "[StyleGuide] Add support of Ant Tooltip"
Add support of [Ant tooltip](https://ant.design/components/tooltip/)

[2018-10-24 08:32] #2024 closed

[2018-10-24 08:32] #1089 closed

[2018-10-24 08:33] gibbsfromncis commented on #1089
@startailcoon
As task was closed because of accepted PR I adjusted hours by myself. Please let me know if you disagree or need any answers

[2018-10-24 08:36] #1966 closed

[2018-10-24 08:55] #1968 closed

[2018-10-24 08:58] sschiessl-bcp commented on #1968
Estimate from gibbs accepted, please adjust if necessary.

[2018-10-24 09:38] sschiessl-bcp commented on #1901
I have included a better UX for background pinging, took 1,5h more, including testing.

[2018-10-24 09:39] sschiessl-bcp opened #2065 "Fine-grained node management"
Follow up from #1901

<h2>Node management</h2>

- The user should be able to define favorite nodes (that he knows are connecting fast). The ping strategy will then consider those first

- The user should be able to disable nodes (that he knows he never wants to connect to). Those nodes will then be ignored at all times

[2018-10-24 09:44] #1901 closed

[2018-10-24 10:01] g3d commented on #1965
@gibbsfromncis
The release of the stable branch happened earlier than this fix was introduced. I did not get your point. Could you please elaborate it a little bit?

[2018-10-24 10:55] sschiessl-bcp commented on #2054
I could not reproduce that issue. Please provide instructions!

[2018-10-24 10:56] sschiessl-bcp commented on #2048
@kapeer42 You did the other warning as well, interested?

[2018-10-24 10:56] #2041 closed

[2018-10-24 12:02] abitmore commented on #2043
"the flag re-enabled itself" is just a UI display issue, right?

[2018-10-24 13:07] grctest commented on #2043
@abitmore I've not attempted to remove the permission via the CLI or using a python script, solely using the Bitshares UI. I'm unable to remove the permission in the UI after multiple attempts.

[2018-10-24 14:16] ilia-luk commented on #1958
worked for me

[2018-10-24 15:21] gibbsfromncis commented on #1965
@g3d

Exactly. Please wait for the next release.

@sschiessl-bcp

Can you please answer Bogdan when we have next release?

[2018-10-24 15:22] gibbsfromncis commented on #2054
@sschiessl-bcp everything fine on the latest developer version

[2018-10-24 15:22] #2054 closed

[2018-10-24 16:17] startailcoon commented on #2065
I think we should also include a function to make it possible to force the app to **only** connect to a pre defined set of nodes. If all pre-defined forced nodes are offline, the app should not use another node from the list.

The usage for this would be when users run a private testnet that shouldn't connect to an outside server.

[2018-10-24 16:22] g3d commented on #1965
@gibbsfromncis I know when next release is. I posted the comment here as a result of discussion in BitsharesDEV telegram group & research with issues we faced one day inside Docker containers.

IMO, other people should be aware if there is some known bugs with latest stable release.

[2018-10-24 16:40] startailcoon commented on #2038
Sorry, I did not catch that as the wish. This solves the error, but I'll make an issue to make a login instead.

[2018-10-24 16:49] startailcoon opened #2066 "[Exchange] Prompt user login on market action if required"
### Request Login
If a user isn't logged in, we shouldn't disable the actions but rather prompt the user to login to perform the requested action.

- Quick Deposit does not do this currently
- Borrow does not do this currently

![image](https://user-images.githubusercontent.com/12114550/47447059-f049ec00-d7bc-11e8-954e-98d214e1e33b.png)

[2018-10-24 16:52] startailcoon commented on #2035
I was thinking the same thing when going through the exchange redesign.

[2018-10-24 17:02] startailcoon commented on #1951
Closing as all sub-tasks are completed.

[2018-10-24 17:02] #1951 closed

[2018-10-24 17:15] startailcoon commented on #2065
Estimating 4 hours for this

[2018-10-24 17:16] startailcoon commented on #2060
Allocating 2 hours for research and workaround fix.

[2018-10-24 17:19] startailcoon commented on #2004
A new UX would be nice when completing this issue.

@alexandrty, I assume you will need some walkthrough on the components of this section before you can start.

I'd like the lock functionality to stay.

[2018-10-24 17:28] #967 closed

[2018-10-24 17:29] #44 closed

[2018-10-24 18:43] startailcoon commented on #1946
We should work towards replacing them old `<button>` with ANT replacement as we work on new implementations and code changes.

[2018-10-24 18:45] startailcoon commented on #1967
Did this issue not have any hours attached to it?

[2018-10-24 19:36] alexandrty commented on #2004
Hello, it seems to me that you should not address these messages to me, I am not involved in solving these problems

[2018-10-25 00:19] gibbsfromncis commented on #1967
@startailcoon yes, sorry forget to unassign myself

[2018-10-25 02:32] wmbutler commented on #1984
All I'm saying is that it should prioritize matches on my saved contacts first. This is especially important for names that are spelled similarly like `smith` and `smitn`. If `smitn` were in my address book, I'd much rather see it when I type `smi`

If jackson-butler and jack were both in my contacts and I typed `jack`, I would expect to see jack at the top, jackson-butler as the next pick.

[2018-10-25 02:33] wmbutler commented on #1696
Looks good to me.

[2018-10-25 02:48] wmbutler commented on #1985
I'm suggesting we dispatch them at lower values. Not suggesting a higher value. This won't affect trades because the order matching happens on-chain right? I'm not sure I understand your concern but would like to better understand it.

I think the market platform will always suffer from the impression that it feels slow even in .5 second increments. Modern trading platforms stream hundreds of visu

[2018-10-25 04:03] startailcoon commented on #1946
Yes, we're both saying the same thing here 👍

No use to do them all now, better to replace them as we go.

[2018-10-25 08:28] sschiessl-bcp commented on #2061
Ah, yes that is the issue thank you!

Let's leave this open for when we get bored :)

[2018-10-25 09:03] BhuzOr opened #2067 "Custom installation folder"
**Is your feature request related to a problem? Please describe.**
- Can not use a non-default installation folder
- Can not have more than one version installed

**Describe the solution you'd like**
- Be able to select and change the default installation folder during the installation wizard

[2018-10-25 09:03] sschiessl-bcp commented on #2025
Missing existing feature from login functionality (copied from PR):

Current login popup functionality supports existing wallets (loaded from internal database, not .bin file) with preselection of last used wallet
![image](https://user-images.githubusercontent.com/33128181/47285351-dc4e9080-d5ea-11e8-95f0-d3307399bd08.png)
![image](https://user-images.githubusercontent.com/33128181/47285324-c80a93

[2018-10-25 09:05] sschiessl-bcp opened #2068 "Replace login popup"
Related to new sign-up and login UX on separate route, dependent on a finished #2025

Aim is a single source of login code, I would envision that the login popup uses the mobile view of the login route
![image](https://user-images.githubusercontent.com/33128181/47285452-46ffcc00-d5eb-11e8-9f1a-4e5df6027ccc.png)

[2018-10-25 09:42] sschiessl-bcp opened #2069 "Fix bug in Settings that caused wrong translations"
**To Reproduce**
1. Go to settings via menu
2. Change tab
3. Go to settings via menu again
4. Observe missing translation

[2018-10-25 09:50] sschiessl-bcp opened #2070 "Fix bug that causes WithdrawModalNew to break during node switching"
**To Reproduce**
1. Be logged in with any local wallet account
2. Go to Settings -> Nodes
3. Switch Node to any
4. Obeserve get null error

[2018-10-25 09:52] sschiessl-bcp commented on #2070
Together with #2069 1 hour.

[2018-10-25 09:52] #2070 closed

[2018-10-25 09:52] #2069 closed

[2018-10-25 09:53] sschiessl-bcp commented on #2070
@startailcoon Why does this get rendered at all https://github.com/bitshares/bitshares-ui/blob/7c9ae8bce3eec9858e5eaaed4d1f95f9d6b0aef5/app/components/Modal/WithdrawModalNew.jsx#L1351?

Should the modal not block rendering itself if not visible?

[2018-10-25 10:11] fractalnode commented on #2061
in my opinion it is a waste of time at this stage and there are many more important things to do eg. enable [Prediction Market](https://github.com/bitshares/bitshares-ui/issues/1065) for all, [BSIP0019](https://github.com/bitshares/bsips/blob/master/bsip-0019.md) and [BSIP0020](https://github.com/bitshares/bsips/blob/master/bsip-0020.md)

[2018-10-25 10:13] sschiessl-bcp commented on #1857
Here is a preview of the icon I made for it
![showcases svg](https://user-images.githubusercontent.com/33128181/47493376-672fc500-d84f-11e8-9d5f-1238dd73529d.png)

[2018-10-25 10:34] sschiessl-bcp commented on #1065
@svk31
Is that already supported in bitsharesjs?

[2018-10-25 10:34] sschiessl-bcp commented on #2061
Both are not voted in.

Agreed

[2018-10-25 10:59] gibbsfromncis commented on #2068
@sschiessl-bcp I had task #1997 about replacing OL UI elements by our style-guide components.

[2018-10-25 12:35] nikandrovalex commented on #1753
@gibbsfromncis could you add another 2 hours to this task?

[2018-10-25 12:36] gibbsfromncis commented on #1753
@nikandrovalex you have an additional task for this - https://github.com/bitshares/bitshares-ui/issues/2015

[2018-10-25 12:43] gibbsfromncis commented on #2015
@startailcoon My estimate for UI is 2h

[2018-10-25 12:44] nikandrovalex commented on #2015
@startailcoon

My esitmate for this task is 2h. Can you please approve it and put on it?

[2018-10-25 13:05] fractalnode commented on #2061
they were deferred due to the confusion with bittrex and concerns about the recognition of BTS as security. I hope that the topic will come back and it will be implemented as soon as possible. In this way, we can take part of the ETH and EOS market.

[2018-10-25 14:10] froooze opened #2071 "[Exchange] White screen loading on RC"
The Exchange doesn't load with most of the nodes and a white screen appears.

BitShares2-light_2.0.181031-rc1_amd64.deb

app.d603d259add15a80a339.js:1 Connecting to wss://api.bts.blckchnd.com
vendor.defb5eb0b91452e0c501.js:45 synced and subscribed, chainstore ready
app.d603d259add15a80a339.js:1 undefined
(anonymous) @ app.d603d259add15a80a339.js:1
Promise rejected (async)
value @ app.d603d259add15

[2018-10-25 14:14] froooze opened #2072 "[Login Form] doesn't accept enter button"
When I want to submit my login form with the enter buttons, it is ignored.

Version: BitShares2-light_2.0.181031-rc1_amd64.deb

Maybe Bug can be ignored of: #2068

[2018-10-25 14:23] froooze opened #2073 "[0.5][Buy/Sell Form] Fonts are too small"
Minimum font size should be bigger.
Version: BitShares2-light_2.0.181031-rc1_amd64.deb
![buy/sell](https://i.postimg.cc/cHkb8WMS/Buy-formular.png)

[2018-10-25 14:29] froooze opened #2074 "[Buy/Sell Form] Remove one Quick Deposite button"
Having exact the same button next to each other looks like a sellout and is unnecessary.
![buy/sell](https://i.postimg.cc/cHkb8WMS/Buy-formular.png)

We can just remove the Quick Deposit on the borrow side.

[2018-10-25 14:56] froooze opened #2075 "Lock Total field when price changed on buy/sell form"
When the price in the buy/sell form is changed, it always changes the amount in Total.
After a price change only quantity should be changed and the amount in Total should stay constant.

![buy/sell](https://i.postimg.cc/cHkb8WMS/Buy-formular.png)

[2018-10-25 15:01] froooze opened #2076 "[0.25][Order Book] rename Volume -> Market Depth"
**Volume** should be replaced with **Market Depth**.

![volume-bug](https://i.postimg.cc/1RDrV60z/Market-Depth-Error.png)

[2018-10-25 15:11] froooze commented on #2071
vendor.defb5eb0b91452e0c501.js:12 Checked 1 connections, 0 failed
app.d603d259add15a80a339.js:1 Latency result: Object
index.html:1 WebSocket connection to 'wss://de.bts.dcn.cx/ws' failed: WebSocket is closed before the connection is established.
vendor.defb5eb0b91452e0c501.js:12 checkConnections Failed to connect to wss://de.bts.dcn.cx/ws Error: "Connection attempt timed out after 5s"
e.logFailur

[2018-10-25 18:13] startailcoon commented on #2067
Similair to https://github.com/bitshares/bitshares-ui/issues/1938

[2018-10-25 18:16] startailcoon commented on #2068
I like the OL mobile view for login. Please coordinate efforts to make it use our style-guide.

[2018-10-25 18:17] startailcoon commented on #2071
Duplicate of #2006

[2018-10-25 18:17] #2071 closed

[2018-10-25 18:20] startailcoon commented on #2074
The buttons have different assets, one is for the Buy asset, the other is for the Sell asset.

[2018-10-25 18:20] #2074 closed

[2018-10-25 18:42] sschiessl-bcp commented on #2073
I agree, if you look at the textfields and boxes the text does a) not appear to be centered, and b) has lots of margin top and bottom that can be reduced by increasing font size (not making the box bigger tho)

Thanks for testing frooze!

[2018-10-25 18:46] sschiessl-bcp commented on #2076
What does binance call it?

[2018-10-25 18:48] sschiessl-bcp commented on #2002
Investigate:
 - Modals may not render or load any data when they are not opened. Can that be centrally configured for the new Modals?
 - Which components can be loaded lazily? Order Book, My Market, Trade History

[2018-10-25 18:56] sschiessl-bcp commented on #2020
Fixed

[2018-10-25 19:20] startailcoon commented on #2002
At least all modals on the exchange can be rendered first on request.

[2018-10-25 19:30] startailcoon commented on #2006
Solved by #2077
Duplicate of #2002

[2018-10-25 19:30] #2006 closed

[2018-10-25 19:38] startailcoon commented on #2073
Thanks!

Removed decreased font-size

![image](https://user-images.githubusercontent.com/12114550/47525732-4478cd00-d89e-11e8-8fb9-eaa861fed7be.png)

[2018-10-25 19:53] startailcoon commented on #2075
I think this is a matter of perspective.

Lets say that I wish to buy 100 BTS, then I don't care what the total say as I'm interested in the Quantity. This is how it works today, but I also see your perspective.

Maybe we should have some kind of "Lock" feature, like we have to the Borrow modal, where you can decide which one is the locked value and which one is the one that can change.

[2018-10-25 20:06] startailcoon commented on #2061
Agreed. This issue is extremely low priority on our agenda.
Suitable as a first time issue of concept by a new react developer (Summer of Code)

[2018-10-25 20:32] sschiessl-bcp commented on #2020
When reducing scrollbars and vertical order book is active, the order book scrollbar is still visible. I expected that the scrollbar is gone too and only as many orders visible as are fitting.

[2018-10-25 21:14] wmbutler commented on #1604
@nikandrovalex Licecap is great for creating inline animated gifs right here. It's lighter weight than an mp3.

Also, this is the classic UI problem with Bitshares. When you submit your changes to the blockchain it costs BTS, a very small amount but it costs nonetheless. As such, when you switch to another tab in this context, the user probably doesn't want to save the changes. Rather, they want o

[2018-10-25 21:17] wmbutler commented on #1984
Have to disagree here (unless I'm misunderstanding you). You should always match to those in your contact list first to avoid potentially sending to the wrong (likely unfamliar) user.

[2018-10-25 22:35] froooze commented on #2076
Binance call it in the backend `orderbook` on the alt-icons text. The `Depth` chart is a visualization of the order book. Therefore `Market Depth` suites better than `Volume`.

[2018-10-25 23:58] Jackcameback commented on #1917
@arminnaderi Could you please submit your bit shares address?

[2018-10-26 07:32] sschiessl-bcp opened #2079 "Various Bugs in Russian language"
Tested on Firefox x64 and Win 7

1. ![image](https://user-images.githubusercontent.com/33128181/47550975-298b7480-d901-11e8-957f-93bacfa16709.png)

2.
![image](https://user-images.githubusercontent.com/33128181/47551009-4627ac80-d901-11e8-939b-f58bda45a118.png)

3.
![image](https://user-images.githubusercontent.com/33128181/47551155-b6363280-d901-11e8-8e64-91c60ef7a74c.png)

4.
![image](https://us

[2018-10-26 08:09] xeroc opened #2080 "[Settlement] Settlement with assets in black-swan need an extra warning about different price"
**Is your feature request related to a problem? Please describe.**
See [here](https://bitsharestalk.org/index.php?topic=27268.msg323164;topicseen#new).
A user settled bitBTC and was surprised of the settlement being executed right away at
a price that was not the feed price!

**Describe the solution you'd like**
We'd need an extra popup/warning when settling a black-swaned asset!

**Describe alter

[2018-10-26 10:20] #2073 closed

[2018-10-26 10:21] sschiessl-bcp commented on #2080
Duplicate #2048

[2018-10-26 10:21] #2080 closed

[2018-10-26 10:49] sschiessl-bcp commented on #2079
Fixed 3. and 4., took 1 hour.

[2018-10-26 10:55] sschiessl-bcp commented on #1832
Is this issue considered to be done from your side with the login PR from yesterday? Then I will review the general flow one more time.

[2018-10-26 12:46] #2068 closed

[2018-10-26 12:48] sschiessl-bcp commented on #2068
Why closing? Is your other issue for antifying the new signup / login. But the new signup / login does not contain a login pop-up

[2018-10-26 12:49] gibbsfromncis commented on #2068
@sschiessl-bcp my task is about to antify all changes OL migrated.

[2018-10-26 12:50] sschiessl-bcp commented on #2068
Yes, and they are not migrating a new pop-up for login

[2018-10-26 12:57] gibbsfromncis commented on #2068
@sschiessl-bcp it looks like their popup, no?

[2018-10-26 12:58] gibbsfromncis commented on #2068
@sschiessl-bcp as I see this task relates to #2025 and #2025 relates to #1832 (OL Task). So it is still in scope of my task.

[2018-10-26 17:28] fractalnode opened #2081 "1 Click Toggle – Market Depth / Trading View Chart"
at the moment, the user needs 4 clicks to change the graph view
as an active user, I would like to make fewer moves to get information about the market that interests me. Also applies to the new version with the "Personalize" option.

![image](https://user-images.githubusercontent.com/20418259/47582408-8d8b5880-d954-11e8-9c86-86f12b0ba2ce.png)

![image](https://user-images.githubusercontent.com/20

[2018-10-27 13:15] fractalnode opened #2082 "Tradingview chart does not store indicators and drawings data"
the issue has already been discussed, now I found it
https://github.com/bitshares/bitshares-ui/issues/1669

[2018-10-27 14:07] froooze commented on #2081
We have enough space to add:
+
-
next to Price Chart to allow people adjusting the size of the chart

[2018-10-27 14:17] froooze opened #2083 "[Buy/Sell Form] Add asset to "Quick Deposit" button"
We have two different buttons, but with the same name.
https://github.com/bitshares/bitshares-ui/issues/2074#issuecomment-433155063

We should change the name to "Deposit Asset" as it was in the old layout.

Example: "Deposit BTS" and "Deposit bitUSD" to explain the differences.

[2018-10-27 14:31] froooze commented on #2005
Which Verification is needed? Is Bug not reproducible?

[2018-10-27 14:42] froooze commented on #2004
- Do we really need the slider on the Target Collateral Ratio? This is a number which is not quite often changed and faster typed in a field also.
- With the saved space we could add one extra slider between DEBT and COLLATERAL, which respects the lock
- The lock and slider should be more highlighted on which side they are active
- The buttons are usable despite the lock as it is today and therefo

[2018-10-27 15:42] froooze opened #2084 "[2][manikey123] Change toolbar arangement and ANTify seach fields"
We should consider the top left corner as the best position for a search box, as it is on other layouts.

![asset-arange](https://i.postimg.cc/cL4MzmCR/left-assets.png)

Preferred Layout:
| Quicksearch | Radio Buttons | rows selection ____________________|

[2018-10-27 15:50] wmbutler commented on #2004
Agreed, the slider could easily be converted to a select menu, possibly with a representation beside it (0.0000) when 4 is entered.

[2018-10-27 16:00] gibbsfromncis opened #2085 "[1.25][StyleGuide] Fix Popover if placement is not top"
Popover works bad if placement is not `top`. Screenshot:
<img width="393" alt="screenshot 2018-10-24 10 38 01" src="https://user-images.githubusercontent.com/35899973/47606286-8595ec00-da1a-11e8-88b9-35a7e8907a45.png">

[2018-10-27 16:49] startailcoon commented on #2081
To summarize the suggestions here

1. Allow switching between Price Chart and Market Depth with a toggle button directly on the screen without additional sub-menu actions.
2. Allow chart resizing directly on the screen without additional sub-menu actions.

I've had this up before, and agree with you both, especially with (1). We need to find a good place to put this action that works on mobile scr

[2018-10-27 16:49] #2082 closed

[2018-10-27 16:52] startailcoon commented on #2084
Do you suggest that we should move the "Quick Search" to be the first element in the row of actions?

[2018-10-27 16:57] startailcoon commented on #1259
@svk31 Ping?

[2018-10-27 17:06] startailcoon commented on #2056
@gibbsfromncis Please describe what needs fixing, is it ANT migration or something else?

[2018-10-27 17:08] startailcoon commented on #2003
@gibbsfromncis Does this issue refere to that the list of assets aren't updated once you burn something? If that is the case, this sounds more like a higher priority issue.

[2018-10-27 17:11] startailcoon commented on #2015
@gibbsfromncis @nikandrovalex approved, great work.

[2018-10-27 17:15] startailcoon commented on #2023
I'd like to point out the importance of having these secure. Supplying a few examples from https://walletgenerator.net

![bild](https://user-images.githubusercontent.com/12114550/47607139-7748cf80-da1c-11e8-90bd-92238b99be38.png)

![bild](https://user-images.githubusercontent.com/12114550/47607143-7fa10a80-da1c-11e8-8379-ac616e276e26.png)

[2018-10-27 17:45] startailcoon commented on #661
Do we have any ES Plugin that enable this to be fetched to the UI yet?

[2018-10-27 17:49] startailcoon commented on #1911
Removed UX assignement until we can find a rough mockup.

[2018-10-27 17:53] startailcoon commented on #2005
`Needs Verification` is that it needs a verification by another user or by a liceCap screen.
My testing doesn't let me redproduce the bug you supply.

[2018-10-27 17:55] gibbsfromncis commented on #1604
@startailcoon I sent some ideas to Alex and waiting for his answer. I'll work on Assets Redesign but lets create separate issue for UI implementation if you OK with that. I would be happy to receive bounty in this sprint.

[2018-10-27 17:58] gibbsfromncis commented on #2003
@startailcoon yep, you got it right. I updated priority. Also I won't assign priority labels in future. Only in cases if I think something really critical

[2018-10-27 17:58] gibbsfromncis commented on #2056
@startailcoon button doesn't work at all. Modal doesn't appear.

[2018-10-27 17:59] startailcoon commented on #2069
Hours included in #2070

[2018-10-27 18:49] froooze commented on #2081
We could also save some space renaming the buttons to:
- Chart/Depth or Tradingview/Depth like it is on binance
- Options

[2018-10-27 22:04] froooze commented on #2005
![lock-ignore](https://i.postimg.cc/dtqFMmn4/lock-ignore.gif)

Have added the version in first post.

[2018-10-28 01:14] gibbsfromncis commented on #2085
Done by commit: https://github.com/bitshares/bitshares-ui-style-guide/commit/73bdec1041b8a905b26ac6fd6c65d57ee4b8953d

[2018-10-28 01:16] gibbsfromncis commented on #2085
@startailcoon final estimate: 1.25h

[2018-10-28 01:19] gibbsfromncis commented on #2085
Screenshots of fixed popover:
<img width="824" alt="screenshot 2018-10-28 03 18 44" src="https://user-images.githubusercontent.com/35899973/47610875-32468c80-da60-11e8-98a7-50f2d3e6d131.png">
<img width="719" alt="screen shot 2018-10-28 at 3 17 30 am" src="https://user-images.githubusercontent.com/35899973/47610876-35da1380-da60-11e8-88ce-c65f6ca01d8e.png">
<img width="778" alt="screen shot 2018-1

[2018-10-28 01:36] gibbsfromncis commented on #2064
<img width="620" alt="screenshot 2018-10-28 03 34 09" src="https://user-images.githubusercontent.com/35899973/47610951-586d2c00-da62-11e8-8a00-4328f7214624.png">
<img width="574" alt="screenshot 2018-10-28 03 34 03" src="https://user-images.githubusercontent.com/35899973/47610952-586d2c00-da62-11e8-8f2d-4786eb2fb374.png">
<img width="578" alt="screenshot 2018-10-28 03 33 46" src="https://user-imag

[2018-10-28 01:36] gibbsfromncis commented on #2064
Done by commit: https://github.com/bitshares/bitshares-ui-style-guide/commit/991fb4c7c12ff7217404e690b3a0dcb58a1ad4eb

[2018-10-28 01:36] gibbsfromncis commented on #2064
@startailcoon

Final estimate: 0.25h

[2018-10-28 01:37] #2064 closed

[2018-10-28 03:19] gibbsfromncis commented on #2056
@startailcoon final estimate: 1h

[2018-10-28 04:27] gibbsfromncis opened #2088 "[1] App Crashes if transfer / propose transaction failed"
Screenshot:
<img width="1680" alt="screenshot 2018-10-28 06 25 07" src="https://user-images.githubusercontent.com/35899973/47612019-531bdb80-da7a-11e8-84c9-21be482e8903.png">

I have tried to make transaction from account without authority for its own and app crashed instead of display error message

[2018-10-28 09:33] startailcoon commented on #2063
Duplicate of #2085

[2018-10-28 09:33] #2063 closed

[2018-10-28 10:11] startailcoon opened #2090 "[2] Explore Assets - No sorting functionality"
**Describe the bug**
The assets overview in Explore -> Assets has no sorting feature. When loading the list the assets come up in an unorderly fission.

Smartcoins has no sorting functionality
UIA has symbol sorting functionality only.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Explore
2. Click on Assets

**Expected behavior**
Sorting possibility by both symbol and issuer, perhaps

[2018-10-28 10:13] startailcoon commented on #2090
Dashboard has same page navigation system with sorting and should be replicated on this section as well.

[2018-10-28 17:17] mountassir opened #2091 "White screen on start-up on Windows 10."
**Describe the bug**
When the application starts, it shows an empty white window, screen shot attached.
The wallet does seem to work however when I set compatibility to Windows 7.

**Screenshots**
![empty-screen](https://user-images.githubusercontent.com/10292481/47619278-dcf89280-dad4-11e8-823c-8f652ee736f5.PNG)

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro
 - Ve

[2018-10-28 18:53] manikey123 commented on #2084
I would like to claim this task

[2018-10-28 19:00] ryanRfox commented on #2084
Welcome to BitShares development @manikey123 glad we made the connection thru Telegram :) I'm going to leave you in the capable hands of my colleagues @wmbutler and @startailcoon to provide proper onbaording to the UI Team. Thanks in advance for your contributions. Cheers!

[2018-10-28 19:06] froooze commented on #1829
Can I claim this ?

[2018-10-29 06:40] startailcoon commented on #2091
Can you please attach some output from the log when this happens?

Go to View - Developer Tools and click Console.

[2018-10-29 07:46] alexandr-masl opened #2093 "[10][alexandr-masl] Explore Accounts - Styleguide + Sorting Update"
**Describe the bug**
The accounts overview in Explore -> Accounts has no sorting feature. When loading the list the accounts come up in an unorderly fission.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Explore
2. Click on Accounts

**Expected behavior**
Sorting possibility by all fields (id, account name, current balance, percent of total supply), and automatic sorting on loading.

[2018-10-29 07:47] alexandr-masl commented on #2093
HI everyone,
I want to make this issue,
estimating about 2 hours,
Thanks in advance

[2018-10-29 09:59] startailcoon commented on #2093
@alexandr-masl I would prefer that you didn't add hours to the title by yourself. An estimation is okay if you are confident. Also please wait for confirmation of assignment before submitting to much code, to prevent any requirements that would need your work to be redone.

I'm glad that you wish to join and help out with tasks on the repo. This task is inline with what we currently work on and sh

[2018-10-29 10:04] MikhailKavalenka commented on #1832
Stefan, yes, the merged PR covers the issue. We are waiting for your feedback.

[2018-10-29 10:05] alexandr-masl commented on #2093
Ok, understood.
Thank you.

пн, 29 окт. 2018 г. в 11:59, startailcoon <notifications@github.com>:

[2018-10-29 11:25] clockworkgr opened #2094 "[3.5] Placeholder for Beet: Planned Development #1: Implement Vuex store"
Here: https://github.com/bitshares/beet/issues/7

Closed here: https://github.com/bitshares/beet/pull/16

[2018-10-29 11:25] #2094 closed, assigned to clockworkgr

[2018-10-29 11:26] clockworkgr opened #2095 "[3.5] Placeholder for Beet: Planned Development #2: Integrate a localisation library"
Here: https://github.com/bitshares/beet/issues/8

Closed here: https://github.com/bitshares/beet/pull/19

[2018-10-29 11:26] #2095 closed, assigned to clockworkgr

[2018-10-29 11:27] clockworkgr opened #2096 "Placeholder for Beet: Planned Development #3: Implement origin verification and authorisation persistence"
Here: https://github.com/bitshares/beet/issues/9

Closed here: https://github.com/bitshares/beet/pull/24

[2018-10-29 12:13] #2088 closed

[2018-10-29 19:10] wmbutler commented on #2084
@startailcoon I agree that the quicksearch/filter should be on the left.

[2018-10-29 19:13] wmbutler commented on #1604
I think an * on the tab isn't enough. Let's see what he comes back with.

[2018-10-29 19:14] wmbutler commented on #661
@oxarbitrage ?

[2018-10-29 20:45] rossul opened #2097 "[0.5] Blank wallet backup screen"
**Describe the bug**
Blank wallet backup screen

**To Reproduce**
Steps to reproduce the behavior:
Click on 'A backup is required' at the bottom of the screen

**Expected behavior**
Should see the backup options.

**Screenshots**
https://drive.google.com/open?id=1sKP9tjcOmCzW2WtxzhD92OVk6EMn93QG

**Desktop (please complete the following information):**
 - OS: OSX 10.14
 - Browser Chrome
 - Version

[2018-10-29 21:11] startailcoon commented on #2020
This would be a style guide thing for @gibbsfromncis

This is a larger issue as there are font changes all over the SCSS files. I agree we should use the same types, but this would require a few hours to tangle out and make sure nothing breaks.

[2018-10-29 22:48] pnomolos commented on #758
@wmbutler Just confirming that I’m still on deck to get this done :)

[2018-10-29 23:14] gibbsfromncis commented on #2085
@sschiessl-bcp anything wrong? Why did you reopen this issue?

[2018-10-29 23:16] gibbsfromncis commented on #2020
@startailcoon if you need any updates/features/fixes on style-guide please open an issue and assign me

[2018-10-30 07:19] manikey123 commented on #2084
sounds good. can you help me get setup ? what dev branch should i use ?

[2018-10-30 08:53] startailcoon commented on #2020
Will do @gibbsfromncis

[2018-10-30 10:19] sschiessl-bcp opened #2100 "[1] Explore Assets - Sorting on issuer sorts by ID"
Should sort by account name, but might need more extensive refactoring.

[2018-10-30 10:21] #2090 closed

[2018-10-30 10:34] #2056 closed

[2018-10-30 10:53] sschiessl-bcp opened #2101 "[4.5][nikandrovalex][2][gibbsfromncis] AddonBefore & AddonAfter for StyleGuide Inputs"
I find the color choices quite ugly, expecially the blue background of the markets / assets.
![image](https://user-images.githubusercontent.com/33128181/47713238-10a0fd00-dc3a-11e8-8d55-8a087dab7056.png)

Thoughts?

[2018-10-30 12:35] nikandrovalex commented on #2015
Hello guys @gibbsfromncis @startailcoon . Please look at the design
https://invis.io/8KOE15IAFES#/328485045_TABS_DARK_THEME

[2018-10-30 12:37] sschiessl-bcp commented on #2015
For the click lazy
![image](https://user-images.githubusercontent.com/33128181/47718534-f6225000-dc48-11e8-9935-406a4c61dd9e.png)

[2018-10-30 12:40] nikandrovalex commented on #1753
@gibbsfromncis @startailcoon  Hello guys. Can I do something else for this task? Or is it complete?

[2018-10-30 13:05] alexandr-masl commented on #2090
thank you

[2018-10-30 13:05] nikandrovalex commented on #1604
Hi guys. @wmbutler @startailcoon I had a call with @gibbsfromncis  and he shared some ideas. based on them, I made this option: https://invis.io/H4OUO3053VZ

What do you say if we make such a notification on the left when changing tabs?

[2018-10-30 18:38] froooze commented on #2023
I look for a solution of making a Bitshares/Palmpay prepaid card exporter, like SmartCash has it done.
https://smartcash.cc/smartcard/

The QR-Code needs to store username and private key encrypted with a pin to allow signing transactions.

[2018-10-31 08:47] sschiessl-bcp commented on #2023
That would be the length of a private key, 51 iirc,

What is the exact format of this string on the barcode?

[2018-10-31 09:12] nikandrovalex commented on #1604
For the click lazy 😊
<img width="1182" alt="2018-10-31 11 11 28" src="https://user-images.githubusercontent.com/43581164/47777635-d39e3e80-dcfd-11e8-9cb9-a3d27fbb6bb2.png">

[2018-10-31 09:32] sschiessl-bcp commented on #2023
I envision having different versions of the paper wallet. The one initially shown here would be for cold storage. The one mention by @startailcoon or  @froooze would be more a carry around with me version.

[2018-10-31 09:37] #2020 closed

[2018-10-31 09:37] sschiessl-bcp commented on #2020
https://github.com/bitshares/bitshares-ui/pull/2098#issuecomment-434620401

[2018-10-31 09:40] sschiessl-bcp opened #2103 "[Review] Additional hours"
This issue is to track additional hours for review within this sprint as the fixed review hours are already depleted.

[2018-10-31 09:41] sschiessl-bcp commented on #2103
#2098

[2018-10-31 10:15] sschiessl-bcp commented on #2079
@ruslansalikhov fixed 2. and improved 1., estimate see in the PR

[2018-10-31 10:16] #2079 closed

[2018-10-31 10:17] sschiessl-bcp commented on #2103
#2102

[2018-10-31 10:30] sschiessl-bcp opened #2104 "[blckchnd] Maintain Russian language"
Part of #1705 and split for payout.

Please report your hours @ruslansalikhov

[2018-10-31 10:30] #2104 closed

[2018-10-31 10:33] sschiessl-bcp commented on #2103
https://github.com/bitshares/bitshares-ui/commit/c27deb2da190fa882812ecf2d62694915d93d561

[2018-10-31 10:37] ruslansalikhov commented on #2104
5 hours

[2018-10-31 12:37] sschiessl-bcp commented on #2103
Review for https://github.com/bitshares/beet/pull/24, not completed yet

[2018-10-31 13:12] sschiessl-bcp commented on #2103
Finalization of 20181031 release also within this issue

[2018-10-31 13:13] sschiessl-bcp commented on #2103
4 hours spent until now.

[2018-10-31 13:22] sschiessl-bcp commented on #2072
+1

[2018-10-31 13:49] kkrupovich commented on #2097
Same problem. Firefox, Chrome, existing wallet or new one - backup just toggles white screen.

[2018-10-31 14:52] sschiessl-bcp commented on #1724
PR created, private login only for cloud login.

[2018-10-31 17:59] froooze commented on #2023
@sschiessl-bcp: I thought @startailcoon solution is for cold storage?

The 41x41 QR-Code Version can store 84 Alphanumeric on ECC Level H, which is enough for private key and username. Didn't found any clear definition of Alphanumeric.

We need to different layouts:
- **Cold storage**:
- 2x QR-Code 41 for private and puplic key
- possibility of splitting private and puplic key over several cards
-

[2018-10-31 18:12] abitmore commented on #1583
New screenshot of 2.0.181031:
![image](https://user-images.githubusercontent.com/9946777/47809310-d79f8000-dd40-11e8-9ab7-cd53c202d730.png)

[2018-10-31 18:22] abitmore opened #2107 "Market page scrolls by itself"
**Describe the bug**
Market page scrolls by itself

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/market/BTS_USD'
2. Scroll down to near the bottom, leave a few orders in order book in the screen
3. Click on "market trades"
4. Wait
5. The page scrolls up and down by itself

**Expected behavior**
A clear and concise description of what you expected to ha

[2018-10-31 21:07] mountassir commented on #2091
I have upgraded to 2.0.181031 now and I am seeing the same issue, in fact, setting compatibilaty mode to Windows 7/8 no longer helps with this build.

These are all the logs I can see in the console:

vendor.7979393919a407f0d0e7.js:45 synced and subscribed, chainstore ready
vendor.7979393919a407f0d0e7.js:63 TypeError: Cannot read property 'url' of undefined
    at t.value (app.b373f2df3545eba73d8f

[2018-10-31 21:48] abitmore commented on #2023
http://paperwallet.bitshares.eu/

[2018-10-31 22:33] gibbsfromncis opened #2108 "Fix adjust button on Margin Positions"
<img width="665" alt="screenshot 2018-10-31 23 32 55" src="https://user-images.githubusercontent.com/35899973/47822686-4d1d4780-dd65-11e8-99a7-560109d27f8d.png">

[2018-11-01 08:04] sschiessl-bcp commented on #1583
No suitable solution has been found yet

[2018-11-01 21:21] clockworkgr commented on #1985
Fwiw , i think it's still impressive as it is now : https://wallet.bitshares.org/#/explorer/blocks

[2018-11-02 01:54] gibbsfromncis commented on #1927
@startailcoon I've added `.25h` to this task because of time I spent to review & test PR #2099. If this PR will require additional testing & review I'll adjust hours.

[2018-11-02 01:56] gibbsfromncis commented on #2101
@sschiessl-bcp one thought - update it.

I'll take care about this.

[2018-11-02 01:57] gibbsfromncis commented on #2101
@nikandrovalex Please based in our style-guide inputs provide nice design for Pre/Post tabs for Inputs (https://ant.design/components/input/#components-input-demo-addon) for all 3 themes

[2018-11-02 01:59] gibbsfromncis commented on #1604
@startailcoon please make a review of this design

[2018-11-02 07:47] rPman opened #2110 "'My open orders' contains mixed pairs orders in latest release 181031"
'My open orders' contains mixed pairs orders from different trading pair and not affected while switching trading pair or change it

**To Reproduce**
go to Exchange page and select any trading pair even if not used in orders

**Expected behavior**
list orders limited only selected trading pair

this bug appears in web or desktop app

[2018-11-02 08:28] clockworkgr commented on #2110
@startailcoon  @sschiessl-bcp  @gibbsfromncis

To fix, revert: https://github.com/bitshares/bitshares-ui/commit/e137f9a229fe3eade9cbd5423d13a87dfbf0baee

[2018-11-03 05:48] manikey123 commented on #2107
can u highlight/color-code  the issue if possible ?

[2018-11-03 06:05] manikey123 commented on #2100
dont mind taking this up.
can u elaborate with screen-shot what all sorting on what all fields is needed ?
what does "extensive refactoring mean ? "
![image](https://user-images.githubusercontent.com/22608398/47948722-c64aa500-def3-11e8-92ef-74a7069019f3.png)

[2018-11-03 08:28] alexandr-masl commented on #2100
Hi everybody,

So sorry..
Can I get this issue, because  I know what is the problem here, I've made #2090 issue which was similar.
And I have already started to make it.
Is it possible to assign this issue to me please ?
Sorry one more time

[2018-11-03 15:18] manikey123 commented on #2084
completed development.

[2018-11-03 15:19] manikey123 commented on #2084
git pull origin develop
git checkout -b pull-request-2084
git push origin pull-request-2084 < this step fails >

[2018-11-03 15:19] manikey123 commented on #2084
error msg received - remote: Permission to bitshares/bitshares-ui.git denied to manikey123.
fatal: unable to access 'https://github.com/bitshares/bitshares-ui.git/': The requested URL returned error: 403

[2018-11-03 15:28] cogutvalera commented on #2084
you don't have permission to `bitshares` orgranization, you can commit in your organization only and make PR (Pull Request) after pushing

[2018-11-03 20:37] jcalfee opened #2111 "[4] snap bitshares2-light does not start: "Trace/breakpoint trap""
**Describe the bug**

The snap installed just fine but the client did not start.

**To Reproduce**
[code]

The Gtk message appears in other apps but the apps still work.  It is probably unrelated.

**Desktop (please complete the following information):**
Debian GNU/Linux 9 (stretch)

[2018-11-03 21:36] sschiessl-bcp commented on #2100
@manikey123 I agree with @alexandr-masl and would kindly ask you to pass this on. He worked on the original issue where this surfaced.

Please investigate the issue at hand, and how the account names are rendered. The solution must not fetch the account name twice. Likely the account name must be resolved already for dataSource

[2018-11-04 01:14] manikey123 commented on #2100
@alexandr-masl  please proceed with the ticket   @sschiessl-bcp

[2018-11-04 01:55] manikey123 commented on #2107
![image](https://user-images.githubusercontent.com/22608398/47959111-6eff1000-df99-11e8-9426-d22f71a70edf.png)
![image](https://user-images.githubusercontent.com/22608398/47959116-7de5c280-df99-11e8-8a22-7ddb07b60710.png)
is above screen-shot of error captured correctly , captured on regular laptop? kindly confirm so i can develop. i however do not see the same error on larger screen. kindly confi

[2018-11-04 02:14] manikey123 opened #2113 "Assets represented by column Symbol containing "BIT" - not sorted alphabetically"
**Describe the bug**
Assets represented by column Symbol, not clearly sorted when they have key-word "BIT"
Part of 2090

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/explorer/assets'
2. Click on Symbol sort
3. Scroll down to descending order
4. See error

**Expected behavior**
Assets with symbol containing "BIT" like BITXCD and BITUSD should be sored u

[2018-11-04 02:16] manikey123 commented on #2113
kindly confirm if this is bug if so can look into this.

[2018-11-04 02:30] manikey123 commented on #2084
created pull request --> https://github.com/bitshares/bitshares-ui/pull/2114#issue-228153471

[2018-11-04 06:33] svk31 opened #2115 "[2] Travis fails to build macOS binary"
**Describe the bug**
Appears to be due to missing fsevents binaries for the 1.2.4 version.

**Screenshots**
[code]

[2018-11-04 09:43] #2115 closed

[2018-11-04 19:19] startailcoon commented on #2113
Duplicate #2100

[2018-11-04 19:19] #2113 closed

[2018-11-04 19:31] startailcoon commented on #2101
I'm guilty for this as I wasn't fully knowing the guidelines of the style-guide back when I re-made this and used the ANT components. I've made a few bad overrides to make it look good based on the designs, which wasn't fully compatible with the provided UX.

I'm putthing this in the capable hands of @gibbsfromncis and added an estimated hour to look over this.

[2018-11-04 19:33] alexandr-masl commented on #2100
Ok, thank you,
Sorry @manikey123 for your time, will be carefuly next time.
In process ..

[2018-11-04 19:38] startailcoon commented on #2015
Just needs implementation in style-guide then.

[2018-11-04 19:46] sschiessl-bcp commented on #2110
Worst case yes. Hoping to find another way to fix the bug that was targeted with that

[2018-11-04 20:02] manikey123 commented on #2107
what is "liceCap" ?

[2018-11-04 22:44] wmbutler commented on #1604
I really like this!

[2018-11-04 22:46] wmbutler commented on #1985
@clockworkgr @ryanRfox we could employ this strategy only on the market page if there is pushback. The other pages probably don't matter as much.

[2018-11-04 22:49] wmbutler commented on #1753
@startailcoon your discretion  to close this.

[2018-11-04 22:50] wmbutler commented on #758
Yes, please. Maybe do a couple of circle I references linked to the appropriate documentation area that I suggested and we can comment on it before we move forward with the entire site?

[2018-11-05 03:28] cloud-8 commented on #2076
Agree market depth is a measure of the cumulative total of orders in the orderbook and should be used here. Volume is a measure of turnover of both buys and sells on an orderbook. Different measures.

[2018-11-05 07:05] sschiessl-bcp commented on #2085
Closed through https://github.com/bitshares/bitshares-ui-style-guide/commit/36c1d3f1adcf9063e27bae90a0f82456739c68b8

[2018-11-05 07:05] #2085 closed

[2018-11-05 07:37] abitmore commented on #2107
Resize the window to 1366*768 and see. The "asks" tab/panel on the page changes among 5, 6 to 7 lines back and forth.

[2018-11-05 08:19] #2097 closed

[2018-11-05 08:53] sschiessl-bcp commented on #2096
Also https://github.com/bitshares/beet-js/pull/7

[2018-11-05 08:53] #2096 closed

[2018-11-05 09:20] clockworkgr commented on #2096
Closed here: https://github.com/bitshares/beet/pull/26

[2018-11-05 09:48] sschiessl-bcp commented on #1826
Can you still reproduce this?

[2018-11-05 10:08] sschiessl-bcp commented on #1985
Alex is working on a custom dashboard for decentralized

[2018-11-05 10:10] sschiessl-bcp commented on #1753
UX is complete. Needs implementation.

[2018-11-05 10:11] sschiessl-bcp commented on #2076
Agreed here, I'd recommend to accept the suggestion.

[2018-11-05 13:32] #2110 closed

[2018-11-05 14:20] #2108 closed

[2018-11-05 14:20] sschiessl-bcp commented on #2108
MarginPosition rendering is a gigantic mess, could use refactoring

[2018-11-05 14:55] sschiessl-bcp commented on #2103
https://github.com/bitshares/bitshares-ui/commit/1fb17bc8b59dc5cd8cec3bb4c32f1c7461447fcb

https://github.com/bitshares/bitshares-ui/pull/2109

https://github.com/bitshares/bitshares-ui/commit/161800f27a78e83483ea68a3226a850a451a8525

[2018-11-05 15:38] sschiessl-bcp commented on #2103
Total of 6 hours now

[2018-11-05 16:05] gibbsfromncis commented on #1753
@sschiessl-bcp @startailcoon the task is only to update tabs on Asset page?

[2018-11-05 19:11] startailcoon commented on #1604
Can't say other than that I really love the outcome. The side panel for saving changes is a really nice solution.

[2018-11-05 19:14] gibbsfromncis opened #2117 "[15] Asset Redesign implementation"
UX for this task is there: https://github.com/bitshares/bitshares-ui/issues/1604

[2018-11-05 19:16] startailcoon commented on #1604
This is ready for implementation, assigned issue #2117
Closing this UX task for payment.

Great work again guys @gibbsfromncis and @nikandrovalex !

[2018-11-05 19:16] #1604 closed

[2018-11-05 21:18] startailcoon commented on #2096
As requested, 25 hours for this part of the Beet development process.

[2018-11-05 22:43] gibbsfromncis commented on #1604
Combined hours for UX

[2018-11-05 22:44] gibbsfromncis commented on #1753
@startailcoon I will replace these tabs in scope of #1936 when work on all tabs replacement. I'm closing this task as you approved that UX is fine

[2018-11-05 22:44] #1753 closed

[2018-11-05 23:14] gibbsfromncis commented on #1964
@react-cat this task relates to Foundation Elimination and blocks me. Please notify me about the date you will finish or if you have no time to work on it please unassign yourself.

[2018-11-06 02:29] gibbsfromncis commented on #422
### Notifications
<img width="417" alt="screenshot 2018-11-06 03 29 12" src="https://user-images.githubusercontent.com/35899973/48039228-264f7e80-e174-11e8-9a34-f7b59f71755d.png">

### Price Alert Icon

<img width="169" alt="screenshot 2018-11-06 03 08 00" src="https://user-images.githubusercontent.com/35899973/48038498-2d28c200-e171-11e8-9a4a-c45aa247b64e.png">

It is blue when pair has notificat

[2018-11-06 02:43] gibbsfromncis commented on #422
@startailcoon it took a little bit more than I expected but now i'm familiar well with Market operations.

Final estimate: 15h

[2018-11-06 03:16] gibbsfromncis commented on #2015
@nikandrovalex as we do not have border-radius for all elements in style-guide I keep all tabs as without it too.

[2018-11-06 03:56] gibbsfromncis opened #2120 "[0.5] Remove any global & local ant hardcodes if possible"
<img width="653" alt="screenshot 2018-11-06 04 56 08" src="https://user-images.githubusercontent.com/35899973/48042084-48e79480-e180-11e8-86a4-5684dda4a1c9.png">

Things like this should be handled on style-guide side and any overrides are not possible

[2018-11-06 03:59] gibbsfromncis commented on #2120
This is an example why ant overrides are bad:
<img width="559" alt="screenshot 2018-11-06 04 59 33" src="https://user-images.githubusercontent.com/35899973/48042185-c6130980-e180-11e8-9552-989fad9f8b7a.png">

[2018-11-06 04:18] gibbsfromncis commented on #2120
@startailcoon estimate: .5h

[2018-11-06 04:28] gibbsfromncis opened #2123 "[0.5] Fix staring markets on Dashboard"
Unable to star any market on Dashboard
<img width="705" alt="screenshot 2018-11-06 05 28 19" src="https://user-images.githubusercontent.com/35899973/48043051-c9a88f80-e184-11e8-841f-9c537b623d0d.png">

[2018-11-06 04:28] gibbsfromncis commented on #2123
@startailcoon estimate .5h

[2018-11-06 06:58] sschiessl-bcp commented on #1812
Can this be prioritized?

We are getting lot's of restyling issues now and new components, and this would be best to be done beforehand IMO

[2018-11-06 07:03] sschiessl-bcp commented on #2067
https://github.com/electron-userland/electron-builder/search?q=allowToChangeInstallationDirectory&unscoped_q=allowToChangeInstallationDirectory

[2018-11-06 07:05] sschiessl-bcp commented on #2067
Estimate is somewhat difficult, will investigate

[2018-11-06 15:17] wmbutler commented on #1812
@gibbsfromncis the estimate was bumped to 10.

[2018-11-06 20:00] startailcoon commented on #2120
Nice, thanks for fixing this!

[2018-11-06 20:03] startailcoon commented on #2076
Sounds all good to me, thanks for pointing it all out nicely @cloud-8

[2018-11-06 20:12] startailcoon opened #2127 "[10][dot5enko] Margin Position Updates"
The UI Margin Position code is overdue for a refactoring to simplify the underlying code.

- [ ] Refactor app/components/Account/MarginPositions.jsx

## Related tasks are
- [ ] #2007 - No update on available DEBT asset
- [ ] #2004 - Redesign & Antify Borrow Modal
- [ ] #2005 - No working COLLATERAL lock

[2018-11-06 21:32] leshacat opened #2128 "Chart size way too big"
**Describe the bug**
Graph does not fit inside iframe/window

**To Reproduce**
Steps to reproduce the behavior:
1. Log In
2. See error

**Expected behavior**
Chart to fit within window, so dont have to scroll up and down to look at the chart.

**Screenshots**
![cryptobridge-bug](https://user-images.githubusercontent.com/43627985/48094925-67ca4300-e1e1-11e8-857c-b5470702b2e0.png)

**Desktop (please

[2018-11-06 21:33] leshacat commented on #2128
Would be nice if we could also see the orderbook & wall without scrolling down.

Thanks!

[2018-11-06 23:09] Jackcameback commented on #1753
@nikandrovalex could you please leave your bitshares address?

[2018-11-07 10:04] sschiessl-bcp commented on #1832
Sorry for the delay, here is my review:

- Login with local wallet:
   - Cache cleared, then login. First the Create Account / Login screen appears, then the user is forwarded to Dashboard. This is confusing behavior, the Dashboard should be shown directly.
   - Cache cleared, login with one, then login with next creates white screen of death (not in scope of this issue)
   - Known local wallet fr