[2018-02-02 00:30] wmbutler opened #1099 "[.25][pnomolos] Portfolio Active | Hidden have same style"
As a user, one of these should be bold and one not to indicate to the user which one is selected. Would be nice to hotfix this.

[2018-02-02 00:32] #1094 closed

[2018-02-02 00:33] wmbutler commented on #1039
Did this get merged into 180201?

[2018-02-02 00:33] wmbutler commented on #989
@xeroc

[2018-02-02 00:34] wmbutler commented on #1004
Did this get merged into 180201?

[2018-02-02 00:34] wmbutler commented on #1091
Work it!

[2018-02-02 00:37] wmbutler commented on #1069
@svk31 can you exclude inactive markets from the calculation? Advancing to next Sprint, but a hotfix would be nice. No telling how many ppl this affects.

[2018-02-02 00:38] wmbutler commented on #1098
Sort order default to volume? I'm not sure most ppl would agree. Seems like it should default to highest margin positions for that user. I never margin CNY, so I wouldn't care necessarily.

[2018-02-02 00:40] wmbutler commented on #877
I wouldn't call it a bug because it's working as **someone** intended. But agree that it's not perfect.

[2018-02-02 00:45] wmbutler commented on #812
- [ ] Let's replace every occurrence of (bitUSD) with `*`
- [ ] Then place a * to the right of the chosen display in the account dropdown header: `1,000 bitUSD*`

[2018-02-02 00:46] wmbutler commented on #887
- [ ] News isn't loading in the web wallet now.

[2018-02-02 00:48] wmbutler commented on #889
@startailcoon you self assigned this but I see no progress. Should I remove you to let someone else take a shot?

[2018-02-02 00:48] wmbutler commented on #1043
@startailcoon status?

[2018-02-02 00:49] wmbutler commented on #1026
@calvinfroedge I can add time on this for you if you will help finish it.

[2018-02-02 00:51] mattbeckman commented on #1004
Yes, it did. Latency successfully snuck back in. 😆 Although, I should have pulled in those long infrastructure worker names before it was finalized. Some text overlap on smaller resolutions.

[2018-02-02 01:09] wmbutler commented on #1069
This is a serious high priority bug in light of the OPEN.EOS discrepancy.

[2018-02-02 01:24] gibbsfromncis commented on #1069
@wmbutler okay, I'll take a look this tomorrow asap and will try to make fix. But I suppose the issue is on so deep level like issue about `PEERPLAYS` so I'm not sure if I can fix this without any help.

Anyway I'll notify you asap.

[2018-02-02 01:42] wmbutler commented on #1069
@gibbsfromncis note that it's probably related to @svk31 earlier comment so don't kill yourself over it. It's probably buried pretty deep.

[2018-02-02 01:45] gibbsfromncis commented on #1069
@wmbutler I suppose it is. But as I want to be the superman on bitshares-ui I should start sometimes to get on deep level. So why not to do it tomorrow? :)

@svk31 as I said I'll try tomorrow but I suppose we need you to work on it. I'll report back to you tomorrow

[2018-02-02 02:23] landry314 commented on #877
I meant the bug was seeing the warning due to the lowest ask being the yellow order and 1.21 times lower than the real lowest ask. This is not an intended result.

The total column gets thrown off too and the quick-click lowest ask feature becomes broken.

That is three bad results of this intended decision... So, yeah, I am glad you added a fix to the milestone! Thanks.

[2018-02-02 02:24] landry314 commented on #877
I guess a discussion is in order about how to make this work better then a bounty set?

[2018-02-02 02:33] gibbsfromncis commented on #1069
@wmbutler it's hard to reproduce because I see all the values..

The screenshot was taken from the current Build:
<img width="641" alt="screenshot 2018-02-02 03 32 32" src="https://user-images.githubusercontent.com/35899973/35713832-c6d18e5a-07c9-11e8-8d8a-7186e637cfe6.png">

[2018-02-02 02:48] r-t-c opened #1100 "updated light client freezes completely on mac os"
This is happening on the web client as well. Here is a licecap with console logs. This was introduced with the latest version. @svk31 Can you please fast track this?

[2018-02-02 04:10] pnomolos commented on #1099
I can take this since I’m working in that area for the tree map anyway 👍

[2018-02-02 05:26] mattbeckman opened #1101 "[0][mattbeckman] Daily budget in active proposals needs to span an additional column"
My fault for not checking all the tabs in proposals. Will have a PR shortly.

[2018-02-02 06:17] ahdigital commented on #1039
I did, yes.

[2018-02-02 12:15] dot5enko commented on #812
@svk31, @landry314 what did you think about message above?

[2018-02-02 14:39] svk31 commented on #1069
It could also be because the get_ticker API call has recently seen some fixes, but if your API node is not running the latest version you don't have those changes and you might get some incorrect values from the API.

[2018-02-02 16:43] jonnybitcoin opened #1105 "Make the burger icon blue and a bit wider"
Make the burger icon blue to match the other bits
Make the burger icon slightly wider, I just think it looks better

[2018-02-02 17:48] ahdigital commented on #1082
As an update, I've started work on this issue. I've implemented the issues raised here and on the referenced tickets and now just have to finish tying in #1083 which to do, I'm essentially having to rewrite the header.

I'm making bigger code changes to the header than expected so that we end up with a bar that is properly responsive, and the SCSS clean.

I'll have to do some testing to make sure

[2018-02-02 18:13] ahdigital commented on #1105
I have already addressed this in #1082.

[2018-02-02 18:20] wmbutler commented on #1100
![wallet](https://user-images.githubusercontent.com/1254810/35748358-6365583e-0813-11e8-8e7c-d317ebe527b1.gif)

[2018-02-02 18:20] #1105 closed

[2018-02-02 18:27] abitmore opened #1106 "[20] Order book: stack orders those prices are too close"
Check https://wallet.bitshares.org/#/market/BTS_CNY for example, unable to see other orders but only these:
![image](https://user-images.githubusercontent.com/9946777/35748618-ef069f70-084e-11e8-8194-de019e30a3e1.png)

[2018-02-02 18:31] ahdigital commented on #1106
Can you confirm what you mean by prices are too close?

[2018-02-02 18:38] wmbutler commented on #1069
I wonder if this is a caching issue of some sort.

[2018-02-02 18:46] wmbutler commented on #1069
It is. Incognito mode resolved. Clearing cache and re-importing wallet.

[2018-02-02 18:52] wmbutler commented on #1069
PEERPLAYS is still an issue on multiple nodes. I think OPEN.EOS was a cache issue of some sort.

[2018-02-02 18:54] wmbutler commented on #1100
This is pretty easy to replicate just by switching accounts in the local wallet.

[2018-02-02 19:59] startailcoon commented on #999
What's the status of this?

Issue #998 and #832 depends on this.

[2018-02-02 20:28] ahdigital opened #1107 "[1.5][ahdigital] Broken URLs and missing menu on help page"
Some URLs are broken on the help page. E.g.

-BitAssets
-User-Issued Assets
-The DEX

Let me know where these should point and I will update.

Also, the menu of topics is missing on mobile.

[2018-02-02 23:42] wmbutler commented on #1107
Might want to break the mobile piece of this into another issue.

[2018-02-02 23:43] wmbutler commented on #999
Nobody has claimed it yet so it site here until that happens.

[2018-02-02 23:46] #1039 closed

[2018-02-02 23:50] wmbutler commented on #877
The issue is pretty clear, whether to display this in the order book or not.

[2018-02-02 23:50] #1004 closed

[2018-02-02 23:55] ahdigital commented on #1107
I'll check when I open the code and post back if it's not a quick fix.

[2018-02-03 00:00] wmbutler commented on #1107
What is your Telegram handle?

[2018-02-03 05:38] HarukaMa opened #1108 "Use global ask / bid color for change-up and change-down?"
Just a cosmetic color issue: currently `.change-up` and `.change-down` are using their own colors, but they are not so readable in order book:

![snipaste_2018-02-03_14-35-28](https://user-images.githubusercontent.com/861659/35763445-cfa33a7a-08ef-11e8-96fe-761b4a600d6c.png)
![snipaste_2018-02-03_14-35-20](https://user-images.githubusercontent.com/861659/35763446-cff06d90-08ef-11e8-8f6a-7ab67d9b25

[2018-02-03 05:43] HarukaMa commented on #1106
Could be difficult to determine which orders should be consolidated together as it could possibly affect some normal orders in market... But this bot is indeed annoying and was making order depth chart quite useless.

[2018-02-03 09:22] btsfav opened #1109 "180201 version, clicking "Hidden" hangs the client & memory leaks then"
win7, latest client. on clicking "Hidden" in portfolio, client stops working, and leaks memory / drains all my CPU kernels.

[2018-02-03 10:23] HarukaMa commented on #958
This is invalid now as the display of settle orders has been moved and already satisfy this issue.

[2018-02-03 10:23] #958 closed

[2018-02-03 12:28] fractalnode opened #1110 "[.5][ahdigital][2][pnomolos] MAX DEBT for current Collateral Ratio"
Maximize Collateral is very cool feature,
so that would be nice to have also MAX DEBT Button for actual CR setup
Calculated from AVAILABLE BTS and Collateral Ratio

[2018-02-03 14:14] landry314 commented on #1110
Ah, so, it calculates the maximum you can borrow given the current collateral ratio and available BTS... nice.

[2018-02-03 14:16] landry314 commented on #877
I agree, just thought you would want to display it somewhere else or something.

[2018-02-03 14:22] HarukaMa commented on #877
Consider #920 for it? Although the settle orders are already moved, where to put call orders should be reconsidered.

[2018-02-03 14:56] nbcks commented on #1098
Maybe some way for the user to customize the order they see? So default sort by volume, then allow the user to change the ordering in some way?

[2018-02-03 15:15] landry314 commented on #1098
Good Idea, @nbcks!

[2018-02-03 15:16] landry314 commented on #1098
Yes, highest margin positions for that user, if they have any open, otherwise, sort the rest by volume.

[2018-02-03 15:46] nbcks opened #1111 "Bid-Offer spread display"
My feature proposal is that we show the bid-offer spread somewhere in the trading view, perhaps at the top.

[2018-02-03 16:15] startailcoon commented on #999
Sorry, for some reason I thought I saw svk to be assigned to this.

[2018-02-03 19:52] gibbsfromncis commented on #1069
@wmbutler if you want me to do something I'm here. For now I did all what I can and wait for any news regarding this task if you need my help again.

[2018-02-03 20:36] abitmore commented on #1106
On some exchanges, for example https://www.binance.com/trade.html?symbol=BTS_BTC , user can group orders, so the order book is clearer:
![image](https://user-images.githubusercontent.com/9946777/35771256-f45b6bf0-0929-11e8-9bb8-0103d070f01d.png)
![image](https://user-images.githubusercontent.com/9946777/35771262-0d7fe2e6-092a-11e8-9c68-be52d69e7e26.png)

[2018-02-04 10:34] startailcoon commented on #1111
The last version, 180201, shows the spread in the Vertical order book.
However, since not all are using it we should find a common place to view it.

![bitshares-spread](https://user-images.githubusercontent.com/12114550/35776573-51778aec-099f-11e8-9415-da0c78b1ad3a.gif)

[2018-02-04 10:37] startailcoon commented on #1108
This applies mainly to the "Dark" theme, it should use theme changed setting so it applies to each theme differently. This is a CSS style issue.

I'm adding this to #969

[2018-02-04 11:30] nbcks commented on #1111
Where can I find the vertical order book?

[2018-02-04 14:16] startailcoon commented on #1111
You can find it by clicking the up/down arrow in the vertical orderbook.

![bitshares-verticalorderbook](https://user-images.githubusercontent.com/12114550/35778415-3d5b8ff8-09be-11e8-89f1-88d40e34cbf1.gif)

[2018-02-04 14:30] zhyupe commented on #1026
@ahdigital I think it's OK. Your development environment uses “browser history”, and the hash is ignored by the router.

[2018-02-04 14:30] zhyupe commented on #1026
My fault ... clicked the wrong button

[2018-02-04 14:46] nbcks commented on #1111
Ah yep, done it thanks. I was thinking we should also display it where the latest price, 24 hour volume and settlement price are display (the top row).

[2018-02-04 16:04] startailcoon commented on #1043
Should we add the Settlement Price to the depth chart as well, now when it's the feed price?

![image](https://user-images.githubusercontent.com/12114550/35779441-50cacf36-09cd-11e8-8a7f-5794d37f1c36.png)

[2018-02-04 17:26] nbcks commented on #1111
Ah yep, done it thanks. I was thinking we should also display it where the latest price, 24 hour volume and settlement price are display (the top row).

[2018-02-04 17:36] zhyupe commented on #1007
Claimed

[2018-02-04 18:30] wmbutler commented on #1111
We are running out of room at the top and that's not a very standard piece of infomation to display. It's contextually relevant in the order book.

[2018-02-04 18:33] #1108 closed

[2018-02-04 18:36] wmbutler commented on #1106
I'm not clear on how you'd group orders when the prices are all different.

[2018-02-04 18:38] wmbutler commented on #1069
I'm going to had this over to @svk31 since he's probably the only one who understands the potential fix.

[2018-02-04 18:38] wmbutler commented on #999
I probably did that since he's usually the one to add new libraries.

[2018-02-04 18:40] wmbutler commented on #877
Moving to proposed feature until someone can suggest a good location.

[2018-02-04 18:44] wmbutler commented on #1109
I have the same issue when switching accounts. Also documented here: #1100 This is a serious bug and I'm certain is causing issues for many.

[2018-02-04 19:02] nbcks commented on #1111
Okay I'll close the issue then. I guess it's because I wasn't aware of the vertical order book existing.

[2018-02-04 19:02] #1111 closed

[2018-02-04 19:26] wmbutler commented on #1109
@btsfav are you referring to the latest lite wallet or the web version?

[2018-02-04 22:43] gibbsfromncis commented on #1069
@wmbutler okay. Please keep in mind about 0.5h of my work on this task.

[2018-02-04 23:00] gibbsfromncis commented on #999
@wmbutler I can take it.

[2018-02-04 23:00] gibbsfromncis commented on #998
@wmbutler I can take it

[2018-02-04 23:05] gibbsfromncis commented on #686
@wmbutler please claim me if you want me to work on it :)

[2018-02-04 23:21] gibbsfromncis commented on #17
@wmbutler Where do you think it should be placed? On the confirmation window (We can make it like Propose - add switch `custom expiration` and if user turns it on I'll display input with date and user be able to change it):
<img width="522" alt="screenshot 2018-02-05 00 18 17" src="https://user-images.githubusercontent.com/35899973/35783591-218d2f06-0a0a-11e8-935a-bd9c4acc7a4f.png">

or Buy/Sell o

[2018-02-05 02:59] GameKitty opened #1114 "[.25][Ashaman] Typo on Exchange"
'Margin Call Price' hover tooltip: "It also called..."

-Deb

[2018-02-05 03:27] abitmore commented on #1106
Group by decimals. Click the link you'll see.

[2018-02-05 03:30] abitmore commented on #877
Won't be an issue after next release of bitshares-core.

[2018-02-05 07:27] Ashaman- commented on #1114
I'll fix this

[2018-02-05 08:50] btsfav commented on #1109
@wmbutler sorry, I only use the light client

[2018-02-05 08:50] #683 closed

[2018-02-05 10:29] abitmore commented on #1106
How about a new API that returns an order book that orders are grouped already? I think we can group the orders by percentage increase on price, we can say that a group of orders is a bucket, say 0.01% buckets, 0.1% buckets, 1% buckets and etc.

An order group (e.g. an ask order group) would have there attributes :
* `max_price`: the greatest asking price in the group
* `min_price`: the least aski

[2018-02-05 13:42] ahdigital commented on #1107
**Update:**

- Fixed broken URLs
- Made navigation appear on mobile
- Made page responsive
- Made navigation of links mobile friendly

![responsive-help](https://user-images.githubusercontent.com/3088454/35807280-2f5b113c-0a7a-11e8-9e8a-2e3ae840f480.gif)

[2018-02-05 14:05] ahdigital commented on #1082
# Updates

The proposed changes I outlined in the original post are done. Below is a general summary of the bigger amendments along with some Licecaps to demonstrate.

- Updated general UI styling
- Removed redundant 'create account'
- 'Create account' link shown in burger menu if the user is logged out
- Burger menu displays all the time now
- Removed settings from the header bar because it is in

[2018-02-05 15:16] startailcoon commented on #1098
I see two ways.
- making these "starred" as well, like markets or accounts
- freely sorted which would mean implementing something completely new

[2018-02-05 18:00] wmbutler commented on #1035
Need your BTS address for payment @ahdigital

[2018-02-05 18:01] wmbutler commented on #972
Need your BTS address for payment @kapeer42

[2018-02-05 18:02] wmbutler commented on #1028
Need your BTS address for payment @gibbsfromncis

[2018-02-05 18:04] wmbutler commented on #1098
There are very few items in Margin Positions. Descending sort on either the Total or Debt columns should be sufficient.

[2018-02-05 18:05] wmbutler commented on #1082
On the landing page, it would be nice to eliminate the gray bar at the top.

[2018-02-05 18:06] wmbutler commented on #1107
That's gorgeous. Let me know if you need additional hours.

[2018-02-05 18:07] wmbutler commented on #1109
I've asked @svk31 to carefully examine things. I think this is affecting some (like us) more than others. But I cannot seem to pinpoint the cause.

[2018-02-05 18:08] wmbutler commented on #877
OK, closing based on this information.

[2018-02-05 18:09] #877 closed

[2018-02-05 18:09] wmbutler commented on #17
I think it will need to be a calendar picker on the BUY/SELL controls that gets reflected on the confirmation screen.

[2018-02-05 18:11] wmbutler commented on #998
@gibbsfromncis this is fairly in-depth. Are you sure you want to claim it?

[2018-02-05 18:16] gibbsfromncis commented on #1028
@wmbutler this one - https://wallet.bitshares.org/#/account/gibbs-from-ncis

[2018-02-05 18:26] gibbsfromncis commented on #998
@wmbutler I see there is issue like this - https://github.com/bitshares/bitshares-ui/issues/832. So it would be much easy for @startailcoon.

So I can help with library install :)

[2018-02-05 18:28] gibbsfromncis commented on #832
@startailcoon I'll work on library install. Let me finish it in 2 days. If something be wrong I'll report you asap.

[2018-02-05 18:38] gibbsfromncis opened #1116 "When user on Deposit/Withdrawal page menu highlight 3 items the same time"
Simple and fast task:

<img width="1329" alt="deposit-withdrawal-menu-highlight" src="https://user-images.githubusercontent.com/35899973/35822262-f3b8ae28-0aab-11e8-9f51-d172583010ac.png">

Let's do this:
- [ ] Make separate Deposit and Withdrawal menu's items as one `Deposit/Withdrawal`
- [ ] Do not highlight `Deposit(Beta)` when user on deposit-withdrawal page.

@wmbutler if you OK put me on thi

[2018-02-05 19:26] nbcks commented on #1098
I think @wmbutler is right. Also sorting by volume would require getting the volume, which is slow as it requires yet another poll to the api server. Sorting by total or debt column seems the most reasonable course of action.

[2018-02-05 19:33] ahdigital commented on #1082
Will have a look at changing it just for the landing page.

[2018-02-05 20:41] startailcoon commented on #1043
closing issue

[2018-02-05 20:41] #1043 closed

[2018-02-05 20:42] nbcks commented on #766
I've made a change to the asset page to accommodate the settlement delay and offset, just like cryptofresh. I haven't included the fed price, since personally I think that will very much confuse people.
![screenshot from 2018-02-05 20-41-22](https://user-images.githubusercontent.com/16877932/35827739-1099537c-0ab5-11e8-8431-bffff2f66fc9.png)

[2018-02-05 20:57] wmbutler commented on #1098
Anyone claiming this?

[2018-02-05 20:59] wmbutler commented on #1116
This area is getting replaced with dedicated withdraw/deposit modals.

[2018-02-05 20:59] #1116 closed

[2018-02-05 20:59] nbcks commented on #1098
Could I claim it please?

[2018-02-05 21:04] startailcoon commented on #889
@wmbutler Question, in your "Proposed" image you have no left padding. Do you wish the table to span the full width of the window?

# Before
![image](https://user-images.githubusercontent.com/12114550/35828461-ceb3bd52-0abf-11e8-9f97-49377d558fb0.png)

# After
![image](https://user-images.githubusercontent.com/12114550/35828490-ea90919e-0abf-11e8-81d4-02bff0e82fa8.png)

# Very wide screens (option

[2018-02-05 21:14] nbcks commented on #766
Could I claim this as well please

[2018-02-05 21:21] startailcoon commented on #889
Next in line, will have this done in a few days for a view

[2018-02-05 21:34] ahdigital commented on #1035
dom-0

[2018-02-05 21:51] ahdigital commented on #1107
Bump it by 0.5 and that'll be fine. I'll submit PR later.

[2018-02-05 23:09] abitmore opened #1117 "[19] Allow a user to specify an arbitrary asset for transaction fee"
Not like when placing an order you can specify an asset for paying fee, when cancelling an order, can the user specify the fee paying asset?

https://bitsharestalk.org/index.php/topic,25930.0.html

[2018-02-06 08:01] svk31 commented on #1100
I think the problem is just the extremely poor performance of the dallas server and/or your internet connection. You got disconnected just before switching accounts, which is what caused all the red error messages when it attempted to fetch new account data.

[2018-02-06 09:11] xeroc opened #1118 "Remove OpenLedger custom js widget"
This code (and probably more) needs removal from the reference asset:

https://github.com/bitshares/bitshares-ui/blob/staging/app/assets/index.html#L46-L56

basically, all loading of external js needs to be reviewed and ideally removed.

[2018-02-06 09:51] abitmore opened #1119 "[6][startailcoon] Show more info on asset info page"
<del>It's now calculated as `settlement_price / MCR`, but should be `settlement_price * MSSR / MCR`.</del>
Update: see [this comment](https://github.com/bitshares/bitshares-ui/issues/1119#issuecomment-366470594) below.
![image](https://user-images.githubusercontent.com/9946777/35852460-3da7f992-0b2b-11e8-8346-6816bcd0b660.png)

[2018-02-06 10:52] HarukaMa opened #1120 "Market pair display on exchange header"
Currently it shows like this:

![0030-02-06 19 47 37](https://user-images.githubusercontent.com/861659/35855450-97dfd01a-0b76-11e8-9349-1bbca3192668.png)

While it is actually BTS per bitUSD, it's shown as "bitUSD / BTS". This could be very confusing. The correct notation was between bid and ask orders.

[2018-02-06 12:44] gibbsfromncis commented on #1069
@wmbutler I can't see this task on invoice for previous Sprint. You didn't include it because I didn't fix this bug or you forget to include this one? if you didn't include this to invoice because I didn't fix this bug - I'm OK with it. But I would be happy if you can pay for this one because nobody wanted to take this high priority bug and I've spent around 1 hour of my time for investigating.

[2018-02-06 15:13] wmbutler commented on #1069
Issues do not get paid until they are resolved and closed.

[2018-02-06 15:15] wmbutler commented on #1120
No different than GDAX, a mainstream exchange with tens of thousands of customers.

![screen shot 2018-02-06 at 9 15 00 am](https://user-images.githubusercontent.com/1254810/35866994-3f0af8e6-0b1e-11e8-87c9-6d420100ac35.png)

[2018-02-06 15:15] #1120 closed

[2018-02-06 15:18] wmbutler commented on #1100
This probably means that we need a way to exclude public nodes. This has been a problem for me and I assume others.

[2018-02-06 15:22] wmbutler commented on #889
Looking great. Is there any way we can get the active tab color for Portfilio, Open Orders et to match the color surrounding Filter, Active, Hidden? This would tie in the selected item more clearly. It's pretty good now, but my intention was to match selected tabs with the inner color.

[2018-02-06 16:46] startailcoon commented on #889
Absolutely, adding those to the list of changes. Active tab should be the same, just think the above cap was made before I did that.

Should we keep or remove the active tab line? There's a blue line underneath it today.

[2018-02-06 17:17] startailcoon commented on #1119
I can take this task. I think it's worth adding some more parameters at the same time, like offset percentage, and possibly some more.

[2018-02-06 19:17] tbone-bts commented on #1106
Grouped orders is a nice feature.   Like Binance, Poloniex also groups by decimal places.  I think @abitmore's idea of grouping by buckets based on price % is very interesting, although it's uncertain how useful a limited # of pre-selected buckets (i.e. .01%, .1%, 1%) will be.  Perhaps consider a spinbox that enables users to easily adjust the % grouping up/down more incrementally.

If this featur

[2018-02-06 20:15] nbcks commented on #766
Submitted a pull request with #1123

[2018-02-06 20:48] tbone-bts opened #1124 "Audible notifications when coins are sent and received"
It would be very useful to have an audible notification when coins are **received** (i.e. the sound of coins dropping on a pile of more coins).  In addition, an audible notification when coins are **sent** (like a whoosh sound) would be a nice touch as well.  Both can give users a feeling of satisfaction and improve UX for little development cost.

After some searching, I've identified 2 freely us

[2018-02-06 21:01] wmbutler commented on #889
Hard to say. Let's make a judgement call once the colors are right. My gut says that we won't need it because the color flowing into the next leve will be an adequate indicator, but I could see the argument both ways. Maybe @ahdigital will have an opinion.

[2018-02-06 21:22] wmbutler commented on #1061
@gibbsfromncis were you planning to work this one?

[2018-02-06 21:28] gibbsfromncis commented on #1061
@wmbutler yes sure. I have some busy days and tomorrow I'll start to work on tasks for this Sprint.

First of all I'll close the task about QR libraries to unblock startailcoon and then I'm going to start work on this task. My work flow looks pretty simple - close blocking tasks, fix bugs, work on important features, work on low priority features :)

[2018-02-06 21:30] gibbsfromncis commented on #1061
@wmbutler btw I don't take tasks I'm not able to work on this Sprint. I'm trying to understand priority of all features/bugs and work from high priority issues to low. if I see I'm not able to work on something/don't have a time/I don't understand how to fix etc. I'll notify you asap so anyone else be able to work on issue during this Sprint.

[2018-02-07 05:23] startailcoon commented on #1070
We should add the loading indicator while it's searching for assets, users etc.

I've noticed the same behaviour, especially now when most nodes are getting more traffic

[2018-02-07 06:23] btsfav commented on #1070
yeah, a loading animation would be good.

[2018-02-07 06:24] btsfav commented on #1124
could be merged with system notifications/chrome notifications

[2018-02-07 07:31] ahdigital commented on #1082
@wmbutler Are you happy for me to submit PR for this and address the grey bar at the top later? There are some other things I'd like to work on with a higher priority.

[2018-02-07 07:37] ahdigital commented on #889
On these particular tab bars that immediately follow the top nav bar, please remove the blue line. The blue line to denote active tabs works better for tab bars that appear standalone within the content body.

[2018-02-07 07:59] fractalnode commented on #1124
+ notifications about order execution

[2018-02-07 09:52] #1099 closed

[2018-02-07 10:39] startailcoon commented on #1082
It shouldn't be difficult to hide the top bar with CSS styles.

[2018-02-07 12:16] gibbsfromncis commented on #999
@startailcoon all provided libraries are for react-native. As I see from our repository we do not have/do not support react-native. I see we have "wrappers" for Desktops only (Electron). But no any wrappers for Mobile platforms like phonegap/react-native. So I'm confused why did you select those libraries to use.

Can you explain the cases of usage QR codes in bitshares so I can help you to find s

[2018-02-07 13:58] gibbsfromncis opened #1125 "[3] Safari cannot restore wallet"
When I try to `restore account` from my local file nothing happens.

Reproduce:
1) Open wallet.bitshares on Safari
2) Click `restore your account`
3) Select file
4) Button "Restore" or "Password Field" doesn't appear.

<img width="573" alt="screenshot 2018-02-07 14 50 04" src="https://user-images.githubusercontent.com/35899973/35919772-5513fb3a-0c16-11e8-8b53-b51d9e89b20b.png">

I understand that

[2018-02-07 14:00] gibbsfromncis commented on #1061
@wmbutler this should make you happy today 😃 PR: #1126

[2018-02-07 14:12] Aluman opened #1127 "Multi-sig transaction error"
Account active permissions:
![screenshot at 2018-02-07 17-02-56](https://user-images.githubusercontent.com/3095510/35920431-e8bb331e-0c28-11e8-95c3-4c51463c32b1.png)

I try to make transaction:
![screenshot at 2018-02-07 17-05-51](https://user-images.githubusercontent.com/3095510/35920599-56ce3c52-0c29-11e8-9d57-2a6cf8ac2aeb.png)
![screenshot at 2018-02-07 17-06-49](https://user-images.githubuserc

[2018-02-07 16:08] gibbsfromncis commented on #1091
@wmbutler I need a little bit of your help.

If I use `wallet mode` account I can see my active account (even I have only one account) on `Accounts` list:

<img width="1334" alt="screenshot 2018-02-07 16 55 25" src="https://user-images.githubusercontent.com/35899973/35926108-b50fb126-0c27-11e8-8111-9730b5caeb4e.png">

If I use `password mode` account I can see my active account on `Contacts` tab b

[2018-02-07 17:08] zhyupe commented on #1007
I'm taking the markets listed in "Exchange > My Markets" as "My Markets". But there are 101 markets in this list by default and cannot be removed. As current UX design doesn't contain a base asset selector, it could be a mess to display them in a single list.

Another question is I don't know what the "Type" of market means. A pair of asset type or the type of a single asset (quote / base)?

[2018-02-07 17:38] gibbsfromncis commented on #1091
@wmbutler I've recognized this behavior like a bug so I fixed that for "login/password" accounts. For now `Login/Password` accounts and `Wallet` accounts able to see their id on `/accounts` page.

Now It looks like this:
<img width="1440" alt="screenshot 2018-02-07 18 27 24" src="https://user-images.githubusercontent.com/35899973/35931726-c72d70e2-0c35-11e8-9f75-623cbc4a1945.png">

Also I've provi

[2018-02-07 17:57] gibbsfromncis opened #1130 "[1][gibbsfromncis] Account: Contacts Page bugs and improvements"
1. Hide Hidden **Accounts**
- Why `Accounts` if user manage Contacts?
- Why are them `Hidden` if actually them are Removed?
2. User unable to `undo` his action. User should be able to add contact back by click on the same icon-button (behavior should be like on https://wallet.bitshares.org/#/explorer/accounts) when user can add/delete user by click on the same button
3. The strange `half-dark row`

[2018-02-07 18:00] gibbsfromncis commented on #1124
@tbone-bts I've added this to the list of Browser Notifications that will come at the end of this Sprint.

[2018-02-07 18:02] gibbsfromncis commented on #686
@wmbutler I don't know a whole bitshares system. Please help me to extend the list of events:

The list of notifications:
- New coins come to account
- Coins Sold on EX
- Coins Bought on EX

[2018-02-07 18:16] mattbeckman commented on #1101
Svk merged this in a few days ago, so I'm marking it closed.

[2018-02-07 18:16] #1101 closed

[2018-02-07 18:18] zhyupe commented on #1007
Preview:
![image](https://user-images.githubusercontent.com/2197479/35933277-1a697bea-0c75-11e8-9734-a999197148d3.png)
![image](https://user-images.githubusercontent.com/2197479/35933681-4d50b8f6-0c76-11e8-8e1c-0913f9a16694.png)

[2018-02-07 18:51] svk31 commented on #1127
You did something wrong. You cannot use the multi-sig account itself to propose the transaction, because it only has 50% weight and as such cannot sign a transaction by itself.

Use one of the other accounts to propose and sign the transaction. You can remove the pub key of dservice-client1 from the active permissions array since it cannot be used for anything.  Just make sure you don't mess aroun

[2018-02-07 18:51] #1127 closed

[2018-02-07 19:26] zhyupe commented on #691
Claimed.
And I need to make sure if this effect is only applied to portfolio.

[2018-02-07 19:31] startailcoon commented on #1130
When did we change removal of contacts to hide contacts?

I don't think it makes sense to hide contacts, as you should remove them and then add them in the `Explorer -> Accounts` view if you wish them on your contacts list again.

[2018-02-07 19:42] nbcks commented on #769
What exactly is this? What do you mean by 'integrate'?

[2018-02-07 20:50] gibbsfromncis commented on #1091
@wmbutler I've spent much more than .5h for this simple task because of investigation the bug described above, finding solutions and fixing it. Can you increase estimate to 1h please to compensate some of my time?

[2018-02-07 21:01] btsfav commented on #769
I think the reserve fund should only pay for this work (for bitshares.org) if the domain is held and maintained by a neutral non-profit organisation such as the foundation.

[2018-02-07 21:20] AustinAmoruso commented on #359
I'll take this one

[2018-02-08 00:25] iscrawler commented on #951
I have tried the oldest compiled to a binary wallet. Same issue. Could anyone explain how or point me to step by step guide for how to import 0.9.3 to 2.0 using cli_wallet?

[2018-02-08 07:19] hiquanta commented on #306
This is still no longer windows compile ah

[2018-02-08 07:24] svk31 commented on #306
[code]

[2018-02-08 12:31] abitmore opened #1131 "Feature: publish price feeds"
Some assets don't need to publish price frequently, it would be useful if price feed can be published from GUI.

[2018-02-08 13:23] abitmore opened #1132 "Feature: chained transfer / 3rd party approved transfer"
Inspired by https://github.com/bitshares/bitshares-ui/issues/462, we can have "UI for approving transfers for assets that require it", via proposal, like another feature proposed in https://github.com/bitshares/bitshares-ui/issues/866.

Assume A wants to transfer some asset X to another user C, and B is the issuer of asset X which requires issuer's approval for transferring, steps to do an approve

[2018-02-08 14:10] wmbutler commented on #1132
Needs UX

[2018-02-08 14:13] wmbutler commented on #769
Meanwhile we have a site that is 2 year out of date with no forward motion.

[2018-02-08 14:15] wmbutler commented on #1091
Gave you a full extra hour on this. Thanks.

[2018-02-08 14:19] nbcks commented on #769
Is this just an issue to create/update the old website (www.bitshares.org)? Has the new website created by Richg been made yet? What's its URL?

[2018-02-08 14:21] wmbutler commented on #1130
I'm not sure what you are trying to accomplish. I agree with your add/remove contact toggle so the row doesn't just disappear, but we need to keep the Settings -> Accounts show / hide pattern in place. This is considered a more permanent way to hide accounts from the front end.

[2018-02-08 14:25] wmbutler commented on #769
The site has been created by Richg but there are politics between the domain being owned by Stan Larimer and the Foundation not feeling comfortable with this. I think that BF should work with RichG to put the site up under bitshares.org and edit the contents to include whatever legal verbiage we need but I honestly don't think it will happen.

[2018-02-08 14:27] wmbutler commented on #691
Spend some time posting some proposed pulses here before you implement it. There are a lot of different ways to implement this and it might be nice to get some opinions on the animation here.

[2018-02-08 14:32] nbcks commented on #769
I see. Is Stan Larimer not going to give up ownership to the BF? I assumed he was stepping down after the Arisebank fiasco.

[2018-02-08 14:32] wmbutler commented on #1007
Maybe just take the starred / favorites instead of the full 101 markets.

I think Type was like MPA, UIA etc.

Yes

[2018-02-08 14:33] wmbutler commented on #769
No. But there is no "Stepping Down" There is no place to step down from.

[2018-02-08 14:34] wmbutler commented on #686
Start simply. Observe transfer operations only.

[2018-02-08 14:37] wmbutler commented on #1061
Thanks!! So happy to see this complete. I think this will be a welcomed addition for many users. Regarding priority, anything tagged as a bug is top priority. I also will sometimes label features as high priority.

[2018-02-08 14:38] wmbutler commented on #1125
We can support it if someone will go through and test it. Happy to add hours to this if you want to test every feature.

[2018-02-08 14:40] wmbutler commented on #999
We can display QR codes already, but we need to allow the wallet to access the camera on mobile devices and desktops to be able to recognize qr codes.

[2018-02-08 14:41] wmbutler commented on #1082
Changing the gray bar will affect other things. As long as you have thought it out. Or you can leave it for a later issue / redesign.

[2018-02-08 14:42] wmbutler commented on #1070
Maybe ahdigital can UX this?

[2018-02-08 14:44] nbcks commented on #769
Okay, disassociating himself with bitshares/not playing a part in it.

[2018-02-08 14:56] wmbutler commented on #769
@nbcks I doubt he will do that. His son invented it and he is also a founder of the HERO MPA.

[2018-02-08 14:58] wmbutler opened #1133 "[1][AustinAmoruso] Order book shifts"
On the newly crafted vertical order book, the Spread/Latest bar shifts if it is scrolled to a non-centered position and an order is added or removed from the book. Let's put in necessary logic to eliminate this.

![shift](https://user-images.githubusercontent.com/1254810/35979549-3b218ea2-0cae-11e8-991a-eb15a3ff78ce.gif)

[2018-02-08 15:31] startailcoon commented on #999
I'm not versed in libraries for react and was only browsing for a solution when I found these as possible solutions. Hence the reason I needed some help analysing if they indeed could be of use.

I assume we need to look further for a solution.

We're looking for a solution to scan QR codes to ease input of form data in the wallet.

[2018-02-08 16:12] wmbutler opened #1134 "[.5][ahdigital] Deposit (beta) Dropdown menus"
- [ ] The dropdown menus should activate when the user clicks on any part of the menu including the right carat.
- [ ] Cursor should be a hand for the dropdown selectors

![deposit](https://user-images.githubusercontent.com/1254810/35983862-aca68e2e-0cb8-11e8-8dd4-641cc08eea00.gif)

[2018-02-08 16:27] btsfav commented on #769
cryptonomex has an outdated website, not bitshares.

[2018-02-08 16:34] zhyupe commented on #1007
I'm relatively new in BTS ... But as far as I know, MPA/UIA are asset types. Take `OPEN.BTC(UIA) : BITUSD(MPA)` for example, what's the "Type" of this market?

[2018-02-08 17:45] ahdigital commented on #1134
Add me.

[2018-02-08 17:51] gibbsfromncis commented on #1130
@wmbutler okay, got it. I didn't know about the "Hide Account" feature on User Settings. Thanks for you feedback.

I've updated the list of changes.

[2018-02-08 17:56] gibbsfromncis commented on #1125
@wmbutler Hm... Looks like interesting chance to become more familiar with Bitshares.

Lets keep this bug like a separate issue. I'll open new issue with a list of features to test and will work on it on the upcoming Sprint.

[2018-02-08 18:00] nbcks commented on #769
Why don't we setup an alternative domain (registered to the BF) and put the new website on that?

[2018-02-08 18:03] nbcks commented on #769
We can always integrate/re-register bitshares.org at a later date. Right now the website looks very bad in my opinion and is surely turning new users away. Replacing it should be our top priority.

[2018-02-08 18:30] gibbsfromncis commented on #999
@wmbutler @startailcoon okay, I got your feedbacks.

We're not able to use the libraries you've provided. Actually we're not able to even install these libraries because them are for Mobile Devices (android/ios packages) so thats why you were confused how to install them.

@wmbutler
What we can do:
1) Add button "Select QR code"
2) User press on it and sees dropdown menu like with few options (bas

[2018-02-08 18:47] AustinAmoruso commented on #993
I'll take this one

[2018-02-08 18:56] wmbutler commented on #993
Assigned to you. Thanks. I also added an extra hour.

[2018-02-08 19:02] AustinAmoruso commented on #993
Is the page in question this link https://wallet.bitshares.org/#/explorer/assets

[2018-02-08 19:04] wmbutler commented on #999
Is there a way to handle this as a video grab rather than as a photo? Or is it possible to trigger the photo and submit it automatically based upon qr code detection?

[2018-02-08 19:23] zhyupe commented on #691
https://codepen.io/zhyupe/pen/yvgXEB
![gif](https://user-images.githubusercontent.com/2197479/35993470-6db0d6da-0d48-11e8-9eb9-595c7acb44cb.gif)

Ported a pulse from exchange

[2018-02-08 19:56] Aluman opened #1136 "[2][gibbsfromncis] Notification for proposed transactions"
I have multi-sig account "Account1":
     Active Permissions:
          THRESHOLD    100
           Account2            50
           Account3            50

If I create proposed transaction from Account1 to Account4. Notification appears only for Account1:
![screenshot at 2018-02-08 22-54-25](https://user-images.githubusercontent.com/3095510/35994977-12b318bc-0d23-11e8-91f7-6be21d49cab1.png)

 Ac

[2018-02-08 20:02] svk31 commented on #1125
The main reason Safari is not supported is that saving files via filesaver.js did not work properly, ref this issue. https://github.com/eligrey/FileSaver.js/issues/12.

It appears that issue has now been fixed, so we could update filesaver and possible start supporting Safari again.

[2018-02-08 22:23] gibbsfromncis opened #1137 "Update FileSaver"
This task is related to this comment: https://github.com/bitshares/bitshares-ui/issues/1125#issuecomment-364231481

- [ ] Update FileSaver
- [ ] Check places where we use FileSaver

@wmbutler I'm not sure where we use FileSaver and how long Update/Check may take. I suppose 1h should be enough but If I should spend more time I'll notify you.

[2018-02-08 22:23] gibbsfromncis commented on #1125
@svk31 thanks for your feedback. I'll work on it!

[2018-02-08 22:30] tbone-bts opened #1138 "[2][ahdigital] Confusing orderbook orientation arrows"
The arrows that swap orderbook orientation are very confusing.  Even after many months, I still never really know which arrows I need to click without trial and error pretty much each and every time, and it creates a sense of feeling lost.  What's causing this is that there are multiple sets of these arrows, some do the same thing (like simply swapping left/right or up/down) while others completel

[2018-02-09 01:15] AustinAmoruso commented on #993
Is there a simple way to know wether the asset is suspend or not?

[2018-02-09 01:26] AustinAmoruso commented on #993
Sample of what I have so far
https://gfycat.com/RequiredGranularHind

[2018-02-09 05:23] bitcoiners commented on #745
**Will this issue be addressed?**
Why do I have cancel all outstanding orders in order to find out how much of an asset I have????

[2018-02-09 05:59] startailcoon commented on #969
## Update regarding this issue

Even if it's now 4 weeks since I submitted this task I'm constantly working with this in mind.

All work I do on the wallet let me find inconsistent CSS code that needs to be reviewed and many I fix, but I note them and will address them with hours for this task.

I plan to have these hours done for the end of the 15th February milestone.

[2018-02-09 06:48] 1TachiMore commented on #988
I need Ios code--

[2018-02-09 09:18] ahdigital opened #1139 "[6][ahdigital] Page walkthrough guides"
# Proposed feature
To assist new users of the DEX/trading in general, I am proposing to implement page walkthrough guides. These guides will overlay the existing UI and display short captions to explain features, buttons or concepts.

A common complaint from users is that the DEX is complicated, so this proposed feature aims to address the issue and give users confidence in their actions. It shoul

[2018-02-09 10:25] abitmore commented on #30
Might had been closed accidentally. Reopened.

[2018-02-09 10:51] abitmore commented on #1119
Actually it's a bit complicated.
The global settlement price is actually correct, but a global settlement (black swan) will trigger at 10% above that price.
So what should the UX be?

[2018-02-09 10:55] abitmore commented on #1119
Oh wait, does that "settlement price" include offset? My calculation above didn't count in the offset. I mean, median feed price is a thing, price for force settlement is another.

[2018-02-09 13:32] wmbutler commented on #30
Thanks!

[2018-02-09 13:35] #577 closed

[2018-02-09 13:35] wmbutler commented on #1139
#577 duplicate was closed

[2018-02-09 14:26] #1118 closed

[2018-02-09 19:33] startailcoon commented on #1119
The field Global Settlement Price isn't provided by something from the chain in the GUI, but a manual calculation of debt and collateral. I will require some help to provide if this is correct, or requires some new way of calculation.

Code https://github.com/bitshares/bitshares-ui/blob/33a08322598e0fc8d705faa0fd6bbfbbbbbfbca3/app/components/Blockchain/Asset.jsx#L564-L611

[2018-02-09 22:09] wmbutler commented on #745
Because it's a difficult issue to resolve in terms of knowing where to display the total value of the account.

[2018-02-09 22:12] bitcoiners commented on #745
If you just add a column "on orders" to main balance view that would be help.

[2018-02-09 22:12] wmbutler commented on #1138
I'm hoping @ahdigital will take an interest in this.

[2018-02-09 22:21] wmbutler commented on #691
Looking great.... Just want to talk through some details since there are several states related to the pulse and what it means.

- If the price has gone in an upward direction, we pulse green and leave the price green
- If the price has gone in a downward direction, we pulse red and leave the price red
- 24hr change should never pulse
- volume should never pulse

What happens if a trade occurs and

[2018-02-09 22:23] wmbutler commented on #999
I'm thinking since we are so Chrome heavy, we may be able to get away with saying "For the best experience, use chrome". It's free and it's universal. There isn't much reason for someone to push back. Unless they are just a contrarian for the sake of it. I think it's important to focus on getting the experience right and compatibility can be added later.

[2018-02-09 22:24] wmbutler commented on #769
The website at bitshares.org is outdated. This is the site that outsiders view as what represents the BTS blockchain.

[2018-02-09 22:26] wmbutler commented on #1007
It's a good point, a market is not equal to an asset since it's an asset pair. Remove the type column.

[2018-02-09 22:41] ahdigital commented on #1138
I'll have look when I'm on a desktop next.

[2018-02-10 10:23] startailcoon commented on #889
## Final Result

This is a preview of the final result.
I've had to fix a few issues that came out of this to the other sections of the program, as they use the same classes. I've added some extra margin padding on most of the menu items.

I hope I haven't missed anything, please help me review the submitted PR.

![bitshares-newheaderstyle](https://user-images.githubusercontent.com/12114550/360610

[2018-02-10 13:22] gibbsfromncis commented on #999
@wmbutler as I said your way about QR code scanning can work only for Desktop Chrome. Now I'm confusing why are you going to scan QR codes on Desktop?

If we are talking not about this feature only so we can go by your way. It's OK. But lets keep our project supported by another browsers too. Cool product cannot be fully supported by only one browser so someday we will start to work on another bro

[2018-02-10 13:53] nbcks commented on #1098
Not sure I actually have enough time to do this so I think I'm going to have to pass on this issue :(

[2018-02-10 14:33] wmbutler commented on #1098
Thanks for letting me know.

[2018-02-10 14:35] wmbutler commented on #999
@gibbsfromncis interesting, because Mobile Chrome has a way to scan QR codes natively.

[2018-02-10 14:37] wmbutler commented on #889
Can you place the filter on the same line as the toggle options? This looks great.

[2018-02-10 14:38] gibbsfromncis commented on #999
@wmbutler interesting, can you give me some example or link to test it? I use chrome on my iPhone and never seen this feature.

[2018-02-10 14:45] wmbutler commented on #999
When you pull down to search via mobile Chrome, they offer a control to capture a QR code. It's next to the microphone control.

![img_ad233f3450c8-1](https://user-images.githubusercontent.com/1254810/36063093-16a666d8-0e3e-11e8-812d-ce94c67c2052.jpeg)

[2018-02-10 15:05] startailcoon commented on #889
I can do that

[2018-02-10 15:25] wmbutler commented on #889
@startailcoon it was my intention to model all the submenus in the same way

[2018-02-10 15:26] wmbutler commented on #889
voting, accounts, etc.

[2018-02-10 15:29] gibbsfromncis commented on #999
@wmbutler yep, I know about this one. But this is only for scanning links encoded in qr codes. This one can't help us :)

[2018-02-10 16:11] wmbutler opened #1144 "[3][swoopyy] Allow users to hide API nodes"
There are cases where the UI attempts to connect to a low latency node but that node may have connectivity issues. Currently, the UI will cascade through each node attempting to connect to each.

It would be beneficial for the user to move nodes into a hidden state. This should follow the same pattern as active/hidden assets. Steps:

- [ ] `Available Nodes | Hidden Nodes` to toggle between the lis

[2018-02-10 17:12] zhyupe commented on #691
The price won't pulse if it's not changed. We can keep it's color unchanged.

[2018-02-10 17:28] wmbutler commented on #691
In the spirit of full understanding, do you agree with my points above? If not, let's discuss here so we can clear up any potential mis-understanding.

[2018-02-10 17:29] wmbutler commented on #1144
I will leave it open until it is claimed. Maybe someone will claim it for this Sprint.

[2018-02-10 17:54] abitmore commented on #30
@wmbutler just FYI I'm not sure if the [required API]((https://github.com/bitshares/bitshares-core/issues/611)) will be ready in March.

[2018-02-10 17:56] zhyupe commented on #691
Agree with 3,4.
Have a little concern about 1,2. The pulse are meant to represent real-time changing direction *compared to previous state*. But if we keep it green (red), it then can be considered as it's gone upward (downward) since a specific time, and may be confusing if it's different with 24hr's change.

BTW, it suddenly come to me if there are really some people staring at portfolio page in

[2018-02-10 18:10] startailcoon commented on #889
I miss understood the wide scope that you had in mind.

Lets summarize and see what we should do then.

### Dashboard
This is done

![image](https://user-images.githubusercontent.com/12114550/36065010-a7491216-0e94-11e8-93d7-ecd4290d3b74.png)

### Accounts
Should this be like the Dashboard, but without the tabs?
- Same background color just without the tabs?
- Full width table?

![image](https://u

[2018-02-10 18:30] wmbutler commented on #889
- [x] Dashboard looks great
- [ ] Accounts is a strange one because we skip over the sub menu hierarchy, but maybe this is something @ahdigital can help us think through.
- [ ] Explore, yes, ideally it has the same background color as the active tab so it helps identify the active tab. Not sure how a sweeping change like this might affect the look, but it's the right pattern at least. Regarding th

[2018-02-10 19:03] wmbutler commented on #691
Glad we are having this conversation. If you think through the pulse, the goal of it is to draw your eye to the change and then leave it in the most recent state. Consider an uptick. An uptick in price without a pulse would be green, even if the previous price had been downward (red). So normally, it would turn from red to green on an uptick.

The intention of the pulse it to draw your eye to a li

[2018-02-10 19:09] wmbutler commented on #30
Thanks. I'll be adding a bunch more Milestones and will push this appropriately.

[2018-02-10 21:58] startailcoon commented on #889
After a few changes, here's what's left to do

- [ ] Replace send tab with "active tab" to make the tab menu more consistent
- [ ] Replace tab sub-sub tab of Explore->Asset with a sub-menu.

Here's an update with most of the changes

## Account
![image](https://user-images.githubusercontent.com/12114550/36067014-40538958-0eb5-11e8-8449-3a42e820fcc5.png)

## Voting
![bitshares-voting](https://user-

[2018-02-10 22:02] startailcoon commented on #767
I'm leaving this task open for anyone else to investigate.

[2018-02-10 22:37] startailcoon commented on #1119
Releasing this for anyone interested in following up on this for now.

[2018-02-11 09:40] startailcoon commented on #887
News is now loading again, as the issue was the API URL the client was trying to load from wasn't correct.
This section still needs some love though.

[2018-02-11 10:16] startailcoon commented on #889
# Variable Menu on Mobile

Mobile is a bit tricky, since we can't display all three items (Dashboard/Exchange/Explorer) plus the new variable active tab.

This is how this will work
- Fourth active tab will always show
- Second + Third tab will show only if screen estate permits so, while still leaving space for the variable tab.

This means we can at times seem to have space for more tabs than we

[2018-02-11 11:01] gibbsfromncis commented on #1089
@wmbutler I think I won't have a time to finish this issue during this Sprint. I'm working on mockups but now I don't have any option I like.

The common issue I'm thinking about is where to move Account name with balance and some actions buttons like:
- Add user to my contact
- Transfer money
etc.

@pavel-lipcean Hi, can you help with that? I saw you've prepared so great UI/UX for Settings. Maybe

[2018-02-11 11:12] gibbsfromncis opened #1146 "[1] Cannot see full list of my accounts after Wallet Restore"
1) Restore my Wallet from File (btw: my wallet account has around 5 accounts)
2) I see only my main account on Accounts List:
<img width="215" alt="screenshot 2018-02-11 12 05 49" src="https://user-images.githubusercontent.com/35899973/36072690-3674e58e-0f24-11e8-96ab-1a9146a1d5c8.png">
3) Create new sub-account:
<img width="353" alt="screenshot 2018-02-11 12 06 30" src="https://user-images.github

[2018-02-11 11:25] gibbsfromncis commented on #1136
I've tested this issue and actually it exists. If no one take it I can work on it in the next Sprint.

[2018-02-11 11:57] startailcoon commented on #1130
Please be aware that the menu structure of `Accounts/Contacts/Recent Activity` changes in PR #1143

[2018-02-11 11:59] gibbsfromncis commented on #1130
@startailcoon cool. Thanks man. Already working on QR scanner for you. Going to prepare it in few hours if everything will be OK.

[2018-02-11 13:15] ahdigital commented on #889
I **think** in my PR 1140 I removed all links on mobile and added them to the menu.

[2018-02-11 13:25] gibbsfromncis commented on #999
@wmbutler I've created my own library for eact app to recognize QR codes and it works awful. Recognizing QR by image works really really bad.

@startailcoon @wmbutler **new idea:**

We can pass needed params into url for QR code. On this way user be able to use his phone default features for scanning QR codes.

@wmbutler on this way you will be able to pull down your Chrome, scan QR code by chrome

[2018-02-11 13:31] gibbsfromncis commented on #999
@startailcoon please take a participant on our discussions. I appreciate your opinion and your help. Maybe you have some good another ideas or my idea suits for you well?

[2018-02-11 13:51] gibbsfromncis commented on #999
@wmbutler @startailcoon this is simple example of my new idea:
![ezgif com-video-to-gif 3](https://user-images.githubusercontent.com/35899973/36074062-d79a0f3c-0f3a-11e8-93cc-1d099913cf3c.gif)

User scans QR code somewhere. Then he goes by link in QR code. All parameters what we need should be hardcoded in QR code url like:
1) Amount of transaction
2) Transaction Receiver
etc.

[2018-02-11 13:58] gibbsfromncis commented on #999
Example from Chrome:

![ezgif com-video-to-gif 4](https://user-images.githubusercontent.com/35899973/36074121-d3e0725e-0f3b-11e8-9b7b-56f6a39cce3b.gif)

The main this is we should do: put transaction params into URL and when user go to page like:

`https://wallet.bitshares.org/#/transfer?to=billbutler&amount=500&asset=1.20.123`

We should fill all fields on the page using info from the url. So use

[2018-02-11 14:15] swoopyy commented on #1144
can I take this please?

[2018-02-11 15:26] #1061 closed

[2018-02-11 15:27] #1091 closed

[2018-02-11 17:53] startailcoon commented on #889
I will look on your changes to the menu. I like your move to a more space saving notice if your logged in or not, and the name shaving if its to long.

I don't think we should get rid of the top tabs on mobile though.

I will incorporate your changes in my PR for the menu.

[2018-02-11 17:55] startailcoon commented on #1144
It's yours swoopyy.

[2018-02-11 18:31] wmbutler commented on #1144
@swoopyy please look at the latest Dashboard Styles to replicate the Active | Hidden filters:

https://github.com/bitshares/bitshares-ui/issues/889

[2018-02-11 18:38] wmbutler commented on #1061
@gibbsfromncis can you also deduct the hidden balances from the overall total in the top right? As you can see in this screenshot, Portfolio + Margin should equal the total in the upper right.

<img width="884" alt="screen shot 2018-02-11 at 12 29 08 pm" src="https://user-images.githubusercontent.com/1254810/36076894-5d3f27ac-0f28-11e8-893d-a10362b37e0d.png">

[2018-02-11 18:40] gibbsfromncis commented on #1061
@wmbutler sure, will work on it a little bit later.

[2018-02-11 18:43] swoopyy commented on #1144
@wmbutler already added grid tabs but I can redesign this the way you suggested for sure
![bts](https://user-images.githubusercontent.com/11968967/36076941-60d2efec-0f74-11e8-92f1-1eb15510445c.jpg)

[2018-02-11 18:48] wmbutler commented on #999
These are great ideas. To answer your question, it's important that we be able to scan a qr code from within the web app as well. If the QR code references a full wallet URL, this will ultimately not be scalable because it will rely on a user going to a particular domain. It also forces a browser to load the entire source.

We have begun to put into place some ideas for the QR code side of things

[2018-02-11 18:49] wmbutler commented on #1144
@swoopyy Don't sweat it. We can sweep though later on the look.

[2018-02-11 18:54] wmbutler commented on #1146
This sounds like an unresolved promise of some sort. You might quit the browser after a restore. Then relaunch and see if your accounts are there. I will book this as a bug but you may have to figure it out if you cannot reproduce.

[2018-02-11 18:56] wmbutler commented on #1089
I'm not convinced this is groomed to feature status yet. It's also not in a Milestone as a result.

[2018-02-11 18:57] gibbsfromncis commented on #1146
@wmbutler Unfortunately steps you've provided don't work. I still cannot see my accounts. Only one way I can see them is to create one more account ...

[2018-02-11 18:58] wmbutler commented on #767
OP, post a licecap of the entire process from wallet.bitshares.org. I'm closing this if you fail to provide more evidence.

[2018-02-11 18:59] wmbutler commented on #1146
Understood, but this doesn't happen for me, so if we can't reproduce, we can't fix.

[2018-02-11 19:02] gibbsfromncis commented on #1146
@wmbutler I can advice you to try register new account, create few accounts for it and then login again in Incognito.

Maybe I do something wrong?
1) Register wallet account
2) Save backup
3) Add membership
4) Create new account
5) Replace previous backup
6) Start browser in Incognito
7) Restore from latest backup
8) Now you see only 1 account ..

[2018-02-11 19:11] wmbutler commented on #1146
Here is a licecap of a wallet restore in incognito mode:

![accounts](https://user-images.githubusercontent.com/1254810/36077190-0934f542-0f2d-11e8-85d1-a6661cbfa34f.gif)

[2018-02-11 19:15] gibbsfromncis commented on #1146
@wmbutler so strange... Will spend some time for investigation....

[2018-02-11 19:24] gibbsfromncis commented on #999
@wmbutler Unfortunately I don't know the better way to work with QR codes from mobile browsers because I'm looking for crossbrowser stable library.

Libraries provided on top cannot be installed because them for Android/iOS - not WEB.

Libraries for React (not React-Native) make a photo and try to recognize and decode QR code but all of them which I've tested recognize QR codes really bad. One of

[2018-02-11 19:30] hubba1 opened #1147 "[1] Entered Bin file and Password"
these were entered successfully but when I clicked on RESTORE WALLET it goes no further...

![image](https://user-images.githubusercontent.com/20878396/36077380-bac0e012-0f2f-11e8-92e2-358fc509d084.png)

[2018-02-11 20:09] swoopyy opened #1149 "[1.5][svk31] Nodes list layout and validation"
- [ ] Fix overlapping in nodes list items
- [ ] Add validation for attempts to add duplicate nodes (by url)
![2k2mpxyxamg](https://user-images.githubusercontent.com/11968967/36077837-9c0e824a-0f80-11e8-91c2-7fd047d105f7.jpg)

[2018-02-11 20:12] wmbutler commented on #1147
Are you at wallet.bitshares.org?

[2018-02-11 20:28] hubba1 commented on #1147
no I am trying to sign in from https://compumatrix.co/

[2018-02-11 20:30] hubba1 commented on #1147
I just tried it from wallet.bitshares.org and still won't go past the restore wallet button

[2018-02-11 20:30] hubba1 commented on #1147
![image](https://user-images.githubusercontent.com/20878396/36078096-1ff73a78-0f38-11e8-9ce5-5c90ce166130.png)

[2018-02-11 20:32] hubba1 commented on #1147
![image](https://user-images.githubusercontent.com/20878396/36078119-56f57080-0f38-11e8-9ba5-4a3ac122e86b.png)

[2018-02-11 20:44] startailcoon commented on #889
After merging with changes in PR 1140.
- [x] Merged with PR 1140 for Header.jsx, _header.scss, _theme-template.scss to incorperate dynamic header.
- [x] Fixed Theme specific issues with stylesheets from PR 1140

![bitshares-dynamicheadernarrowscreen-longusername](https://user-images.githubusercontent.com/12114550/36078279-901c1756-0f74-11e8-88a1-d6ea8be57fcd.gif)

[2018-02-11 20:45] gibbsfromncis commented on #1147
@hubba1 what is your browser?

[2018-02-11 20:46] hubba1 commented on #1147
Chrome

[2018-02-11 20:50] gibbsfromncis commented on #1147
@hubba1 are you sure you select the right file?

Because my `Restore` buttons looks like this:
<img width="424" alt="screenshot 2018-02-11 21 48 53" src="https://user-images.githubusercontent.com/35899973/36078372-81f8295c-0f75-11e8-9afe-de0aa7a9a3e4.png">

[2018-02-11 20:51] hubba1 commented on #1147
![image](https://user-images.githubusercontent.com/20878396/36078387-0a0d5c08-0f3b-11e8-959f-eda1203bfea7.png)
That is the only choice I have....

[2018-02-11 20:52] gibbsfromncis commented on #1147
@hubba1 provide me please node do you use:
1) Go to `Settings`
2) Go to `Access`

Tell me which Active Node do you have?

[2018-02-11 20:53] hubba1 commented on #1147
Kansas City....high latency

[2018-02-11 20:53] gibbsfromncis commented on #1147
@hubba1 Just tested on your node. it's strange because it works. If you want me to help you please try to record your screen beginning from opening wallet.bitshares.org

[2018-02-11 20:54] hubba1 commented on #1147
ok..screen shots I assume?

[2018-02-11 20:55] wmbutler commented on #889
Feel free to add another .5 if needed, but I was thinking that it would make sense to:

- [ ] Get the filter up above the TH in the same blue as the submenu highlight
- [ ] Place the text "type" into the th
- [ ] Place the text "Time" into the th over the transaction time

<img width="574" alt="screen shot 2018-02-11 at 2 52 08 pm" src="https://user-images.githubusercontent.com/1254810/36078407-40

[2018-02-11 20:55] gibbsfromncis commented on #1147
@hubba1 nope, exactly video record.

[2018-02-11 20:56] hubba1 commented on #1147
ok

[2018-02-11 20:57] wmbutler commented on #1147
Use licecap for screen recordings. It's really convenient.

[2018-02-11 20:58] hubba1 commented on #1147
haven't heard of that but will download it now..thanks

[2018-02-11 21:07] hubba1 commented on #1147
![bin file log in](https://user-images.githubusercontent.com/20878396/36078524-43fdd210-0f3d-11e8-8a82-de81ba876f67.gif)

[2018-02-11 21:10] gibbsfromncis commented on #1147
@hubba1 actually you're doing something wrong. First of all we have new design:
<img width="1440" alt="screenshot 2018-02-11 22 09 58" src="https://user-images.githubusercontent.com/35899973/36078553-546ea24c-0f78-11e8-9f57-e0351c0f7a1e.png">

On your screen record I see old design.

Please make sure you use RIGHT URL: **http://wallet.bitshares.org**

[2018-02-11 21:11] hubba1 commented on #1147
ok I'll try that again....it was the same result when I tried it before

[2018-02-11 21:11] gibbsfromncis commented on #1147
Please login on OUR url: http://wallet.bitshares.org and change the password of your wallet.

[2018-02-11 21:14] hubba1 commented on #1147
![bin file log in again](https://user-images.githubusercontent.com/20878396/36078583-378a0b2e-0f3e-11e8-9895-21380af46e6e.gif)

[2018-02-11 22:12] hubba1 commented on #1147
I did try that...and it still was the same result

[2018-02-11 22:51] wmbutler commented on #1147
@hubba1 you need to do the licecap from wallet.bitshares.org or we can't help you. This is the only code that we have direct control over.

[2018-02-11 23:02] hubba1 commented on #1147
![bin file log in from bitshares org](https://user-images.githubusercontent.com/20878396/36079857-5ace1800-0f4d-11e8-9768-245a3d4387ff.gif)

this log in attempt is from your url above

[2018-02-11 23:08] wmbutler commented on #1149
Let's move "Reachable / Unreachable" just to the right of the node URL:

[code]

[2018-02-11 23:12] wmbutler commented on #1147
- [ ] Show your console in the next licecap (Option - Cmd I). Just wondering if there are some interesting logs that might help us determine what's going on.
- [ ] Try to enter an incorrect password. Do you get an error?

[2018-02-11 23:16] hubba1 commented on #1147
![bin file log in from bitshares org](https://user-images.githubusercontent.com/20878396/36080011-4c425c5e-0f4f-11e8-8233-c7c57928003e.gif)

[2018-02-11 23:19] hubba1 commented on #1147
![bin file log in from bitshares org 2](https://user-images.githubusercontent.com/20878396/36080044-bc860a88-0f4f-11e8-8145-b077a9e6637c.gif)

[2018-02-11 23:20] hubba1 commented on #1147
is that what you wanted to see??

[2018-02-11 23:20] wmbutler opened #1150 "[5] Add elasticsearch to Bitshares Foundation Nodes"
@xeroc will you please add the elasticsearch plugin and ES databases to the Foundation Nodes? This will let us greatly improve the reporting. @oxarbitrage is available to help with this.

We plan to write an endpoint for the frontend that will test for the presence of ES on the chosen API node and will use it if available, otherwise it will fallback to the standard history. I've place 5 hours on t

[2018-02-11 23:23] hubba1 commented on #1147
ok will do

[2018-02-11 23:27] hubba1 commented on #1147
![console](https://user-images.githubusercontent.com/20878396/36080115-db9bcf9c-0f50-11e8-9698-43bc6fd97cf7.gif)

[2018-02-12 00:28] wmbutler commented on #1147
Thanks. I've booked this bug and marked is as high priority.

[2018-02-12 00:41] hubba1 commented on #1147
if it would be of any help ...I DID find a work around for this issue....it's not a fix to the problem but does get me into the account....here are the steps...
realised that since I was getting to the restore (wallet) button, the system was accepting his Bin file and password so I COULD import these into another local wallet and gain access to accounts in that way. You need to go to the dex and c

[2018-02-12 02:57] wmbutler commented on #1147
The error message is specific. It says that the wallet file is not a valid name. As such, you could try renaming the file to `default.bin` to see if this corrects the problem. Make a copy of it and rename the copy and try to load it.

If this works, it's a simple matter of removing any restrictions related to a required filename on this.

[2018-02-12 03:05] abitmore commented on #1106
To whom it may concern, I've finished the plugin and API: https://github.com/bitshares/bitshares-core/pull/662.

No need to replay after applied the patch, nor changed configured `tracked-groups` parameter, but do need to restart, the data will be reloaded at every restart. A side effect is need longer at startup. With default config (0.1% and 1% groups), it does need more RAM, but not much (I thi

[2018-02-12 03:33] abitmore commented on #1106
Sample data with 0.1% groups pasted below, the first 10 groups contain 97 orders for BTS:CNY market:

[2018-02-12 05:01] startailcoon commented on #588
Unless Calvin notify us, I will pick up this task for the next milestone.

[2018-02-12 05:07] wmbutler commented on #588
@startailcoon please do. I've reached out to Calvin three times in the past week with no response.

[2018-02-12 05:24] wmbutler commented on #999
I reviewed the libraries for this. I think taking a picture rather than having live video should work just fine. It's a really nice compromise until the video can be accessed natively.

Was this the library you were suggesting?

https://github.com/LazarSoft/jsqrcode

[2018-02-12 06:04] gibbsfromncis commented on #999
@wmbutler yes but it's hard to integrate it for React app. I guess this one is better - https://thomasbilliet.com/react-qr-reader/

[2018-02-12 09:15] ahdigital commented on #1139
@wmbutler For the landing page, I have added the following hints:

1. **Language flag:** "Choose from 9 different languages to use in the DEX."
2. **Create account button:** "Access the cloud wallet using an account name and password."
3. **Restore account link:** "Restore a wallet using your backup file."
4. **Advanced account link:** "Create a local wallet and download any private keys belonging

[2018-02-12 12:56] #1090 closed

[2018-02-12 13:02] #1107 closed

[2018-02-12 13:06] #887 closed

[2018-02-12 13:45] svk31 commented on #1136
It's a limitation of the API, not much we can do about it on our end.

[2018-02-12 13:47] svk31 commented on #1146
Might be the case that you need to unlock after restoring. There's an account lookup from brainkey-generated pubkeys that happens when you unlock.

[2018-02-12 13:54] svk31 commented on #1147
It's caused by the uppercase characters in the filename. There's a check that requires the wallet name to only have lowercase characters, not sure why that is though. I'll make it so the wallet name is converted to lowercase.

[2018-02-12 14:07] #1147 closed

[2018-02-12 14:08] #1114 closed

[2018-02-12 15:05] hubba1 commented on #1147
wow...a small problem!!  thank you!!

[2018-02-12 15:34] xeroc commented on #1150
Quick remark: The infrastructure nodes are provided by Blockchain Projects B.V. and the foundation merely acts as escrow for the funds .. similar to the bitshares-ui worker.
I'll look into it.

Can you tell me how you would like to deal with the endpoints? Do you want to use a specific (different) endpoint, or simply try the "access endpoint" with a `/es` postfix?

[2018-02-12 17:22] svk31 commented on #1147
Your specific issue was actually that you tried to restore the wallet without entering a name for the new wallet at all. Try restoring again but enter a name for your wallet when prompted (after selecting the file and entering your password)

[2018-02-12 19:56] startailcoon commented on #889
Preview of the new Activity section. Please ignore all "connection issues" in my console :)

![bitshares-dynamicheader_transactions](https://user-images.githubusercontent.com/12114550/36116559-fe5c7928-1036-11e8-89d9-41f1204fce2a.gif)

[2018-02-12 20:04] startailcoon commented on #889
Note for future reference

The new `header-selector` should be implemented like the following directly under a `<Tab>` or a `<Div>`
The `selector` class will divide all inline div objects with a `|`

![image](https://user-images.githubusercontent.com/12114550/36116895-31dd452e-1038-11e8-8b20-abc878afb04c.png)

[code]

[2018-02-13 01:28] wmbutler commented on #993
@AustinAmoruso this issue was about creating a better typeahead component. Can you please post a licecap of the result?

You shouldn't really have to implement logic for the component, because that is the responsibility of the person incorporating your component.

[2018-02-13 01:31] wmbutler commented on #1150
@oxarbitrage will you please discuss best practice for this?

[2018-02-13 01:37] wmbutler commented on #1144
A few bugs:

- [ ] After hiding a node, the cursor hover will not activate the button controls on the current node. User must scroll of and back onto next or previous node.
- [ ] Active node should not display in Available node list

<img width="857" alt="screen shot 2018-02-12 at 7 36 35 pm" src="https://user-images.githubusercontent.com/1254810/36129295-1b468ea8-102c-11e8-8799-691e10599aaf.png">

[2018-02-13 01:48] wmbutler commented on #999
That looks great...

[2018-02-13 02:06] AustinAmoruso commented on #993
I'm sorry I really missed that it was just building a better component and not trying to integrate it I can clean this up and fix it so there is a better component that works like the animation @Xeldal has.
Also this is what I have so far https://gfycat.com/RequiredGranularHind

[2018-02-13 02:58] AustinAmoruso commented on #359
Does this ticket include making sure that BTS is always displayed or only when the user makes BTS display?

[2018-02-13 10:04] gibbsfromncis commented on #1136
@svk31 mm..so this feature is not supported? Because only one account can approve transaction for now. Another accounts doesn't receive any proposal about transaction approving. Can we ask backend guys to do something with that?

[2018-02-13 10:06] gibbsfromncis commented on #1146
@svk31 you're right!

@wmbutler can we add some message on Accounts dropdown like `Unlock wallet to see all accounts` ?

[2018-02-13 10:38] xeroc commented on #1150
update: successfully updated my deployment script to also deploy ES .. had to fiddle around with docker a bit but ES now receives operations ... next step is to setup an ES cluster and safely expose ES to the public (maybe thru the wrapper script provided by @oxarbitrage)

[2018-02-13 10:40] xeroc opened #1155 "New operation `asset_update_issuer_operation`, breaking change!"
I would like to make you guys aware of a **breaking** change that has been approved with BSIP29 and will be deployed in the next hard fork release:
https://github.com/bitshares/bitshares-core/pull/599

That means, when changing an issuer of an asset, we can no longer make use of `asset_update` operation but instead need to implement and use a new operation `asset_update_issuer`.

I am placing this

[2018-02-13 12:19] #1144 closed

[2018-02-13 15:08] svk31 commented on #993
Let's not copy Binance's grammatical errors at least, it should read "Suspended".

I do agree with Xeldal that the current Typeahead isn't very intuitive, and the way Austin has implemented it works much better for the deposit modal. I also added a placeholder text to make it clear where to click to start searching. 0148207a32fa6da6b5d9908892c7e57d333d0fa9

However, in other use cases like the Sen

[2018-02-13 15:09] svk31 commented on #993
I've just noticed there's a bug, the new Typeahead only lets you select accounts from the list of contacts/your own accounts. It lets you enter other accounts but there's no way to select them, that needs to be fixed.

[2018-02-13 15:19] wmbutler commented on #993
@AustinAmoruso please review the look of this. The secondary input for search looks like it's part of the base form, when instead it needs to look like it's part of the dropdown / typeahead element over the form.

You can use @Xeldal  example to style this appropriately.

[2018-02-13 15:21] wmbutler commented on #1150
You probably don't even need a cluster. Clusters are only necessary for storage redundancy and since the blockchain contains all the data redundancy is not a requirement.

[2018-02-13 15:22] gibbsfromncis commented on #904
@wmbutler I've done first two options. The last one requires more work on Settings Router and Dropdown:
1) I should change router of Settings (now all tabs located on /settings url). I should change router so any pages on mobile can be accessed by url `/settings/access`, `/settings/local-wallet` etc.) to put those link on Hamburger. Because now is no way to redirect user to specific settings tab.

[2018-02-13 15:32] svk31 commented on #993
Right I see what you mean Bill, you want the second input box to be hidden until the dropdown is activated.

[2018-02-13 15:37] ahdigital commented on #1139
I've completed this task to the above requirements.

As well as adding support for locales, I used Google Translate to add the translations for the other 8 languages. I recommend that these are checked by native speakers and if any amendments are required please raise separate issues.

The help button that launches the tips is responsive between desktop and mobile. If there are no tips on the page

[2018-02-13 15:55] svk31 commented on #1136
We probably can yea.

Multisig accounts will be "discovered" as partially belonging to you when using wallet mode. Say account1 has permissions of account2 and account3 at 50% each, a wallet containing account2 will identify account1 as partially belong to account2 and include it in the "My Accounts" list

[2018-02-13 16:08] ahdigital commented on #1134
@wmbutler I've added the cursor hover effect for the select menus on deposit modal. Also, I've made sure the down arrows have the same cursor effect and that when clicked they open the select menu.

You will notice that the cursor is not always a hand on the first box, but this is a reasonable expectation in my opinion given that this field is a type ahead.

![select-hover-test](https://user-image

[2018-02-13 16:19] svk31 commented on #1007
I've merged the current work, @wmbutler you might wanna check if it's working as you intended.

[2018-02-13 17:13] wmbutler opened #1158 "[.25][startailcoon] Hand Icon should display over account name and balance"
I noticed these bugs while reviewing staging.

- [x] Lock style should be larger and blue
- [x] Hand on account name

![hand](https://user-images.githubusercontent.com/1254810/36163372-d62b6a22-10ae-11e8-9d8f-060afb7656aa.gif)

[2018-02-13 17:26] wmbutler commented on #1007
Thanks, looks good.

[2018-02-13 17:26] #1007 closed

[2018-02-13 18:06] wmbutler commented on #359
BTS is always displayed in the portfolio. This issue refers to the case where the user has < 1 BTS and is designed to encourage the user to buy more.

[2018-02-13 18:27] zhyupe commented on #1158
Claimed

[2018-02-13 18:41] zhyupe commented on #1158
Seems that the small lock is introduced by @startailcoon in #889. Is that a proposed change?

[2018-02-13 18:56] ahdigital commented on #1158
It was actually something I introduced to make the header less cluttered and prevent text wrapping.

I removed the on click open modal functionality since login/logout is in the burger menu. Hence why it is now white and not blue as it is no longer a button.

[2018-02-13 19:55] AustinAmoruso commented on #359
@wmbutler I think this ticket is done then it got merged in, unless I'm missing something

[2018-02-13 20:05] AustinAmoruso commented on #1098
I'll take this one

[2018-02-13 20:12] startailcoon commented on #1158
![screenshot from 2018-02-13 21-05-47](https://user-images.githubusercontent.com/12114550/36171356-a252a1e4-1102-11e8-986f-3b3ed0e30763.png)
![screenshot from 2018-02-13 21-06-43](https://user-images.githubusercontent.com/12114550/36171364-a732822e-1102-11e8-97ed-4faa277eeabf.png)

[2018-02-13 20:53] wmbutler commented on #1158
I didn't mean to overly complicate this issue. I thought the change to the lock was an oversight. The lock was originally to the left of the account name and I think it should remain there. I am open to debating the merit of clicking the lock to mimick the login/logout process but perhaps we should do that at a later date?

[2018-02-13 20:55] wmbutler commented on #1098
Assigned for the next Sprint.

[2018-02-13 20:56] startailcoon commented on #1158
I don't see a reason for removing it. There is enough space to accommodate it.

[2018-02-13 20:57] gibbsfromncis commented on #904
@wmbutler
I didn't wait for your approve/response and immediately began to work.

This is result of sub menu:

![gif-hamburger-submenu](https://user-images.githubusercontent.com/35899973/36172982-e031343a-1107-11e8-8ec4-b6df6185029c.gif)

It's not awesome from design perspective but if you want we can open new issue about Menu & Sub menu redesign.

Also I've put "idea" of submenus for menu. So it

[2018-02-13 20:58] wmbutler commented on #1133
It is on the exchange page. But you must activate it by clicking the up/down arrow icon in the exchange.

![orderbook](https://user-images.githubusercontent.com/1254810/36173323-47507606-10ce-11e8-8268-335e9c7c8360.gif)

[2018-02-13 20:59] wmbutler commented on #904
Looking really good and placing us on the right path for submenus.

[2018-02-13 21:01] AustinAmoruso commented on #993
Will fix.

[2018-02-13 21:19] gibbsfromncis commented on #889
@startailcoon hey. my[ new feature "nested menus"](https://github.com/bitshares/bitshares-ui/issues/904#issuecomment-365401549) conflicts with your feature on Header.

I'll try to resolve conflicts by my self but can I ask you to test your feature again after my PR?

[2018-02-14 01:15] AustinAmoruso commented on #993
Here is the updated look to the TypeAhead please note the all the items are manually set to suspended for look they can actually be controlled with `item.status`

![deposit](https://user-images.githubusercontent.com/1895601/36183034-5f512134-10e1-11e8-9198-9520c48f696e.gif)

[2018-02-14 03:57] ahdigital commented on #1133
Will you make the 180215 milestone @AustinAmoruso?

[2018-02-14 04:02] ahdigital commented on #904
Just wondering why we couldn't have been consistent with #1107 that was recently closed.

I like the sub menu you've done but don't think the UX is right for this specific use case.

[2018-02-14 05:31] startailcoon commented on #935
#904 introduced a new sub-menu system. Should this new one be used or are we still replacing with the proposed one by OP?

[2018-02-14 08:20] gibbsfromncis commented on #935
@startailcoon I would like recommend you to use this one - https://tympanus.net/Development/MultiLevelPushMenu/index2.html

It has cool animations and looks more scaleable.

[2018-02-14 08:26] startailcoon commented on #935
Then it's set and I will work on implementing a new one.

Just wanted to make sure we don't do work we already have fixed.

[2018-02-14 08:26] startailcoon commented on #935
Then it's set and I will work on implementing a new one.

Just wanted to make sure we don't do work we already have fixed.

[2018-02-14 08:52] gibbsfromncis commented on #935
@startailcoon actually we do. But I guess it's better to take good library and just use it

[2018-02-14 09:17] xeroc commented on #1150
Ran into the problem that our backend machines only hae 160GV of storage ... with elastic search eating up 140GB and the blockchain another 20G :)
need to redeploy on a machine that has more storage. This might turns into a problem since we've so far only deployed "high-ram" nodes that come wiht "litte" disk space.
We'll get there..

[2018-02-14 10:12] xeroc commented on #1155
@wmbutler
I am not sure .5 hours is sufficient for this change since it also needs changes to bitsharesjs to add the new operation properly. If bitsharesjs also has unit tests for operations a new unit test needs to be written as well, then a new release for bitsharesjs need to be deployed and only then can the changes in the ui be made. @svk31 what do you think? How much time would be needed for

[2018-02-14 11:38] EstefanTT opened #1161 "[.5] Balance missing! BTWTY bought and not showing in wallet. #bug #moneymissing"
Hi,

I'm EstefanTT, creator of www.bittwenty.com, BTWTY smartcoin on the DEX.

A BTWTY buyer has contacted me because he can't find the BTWTY he bought.

Here is the account: fd2018

As you will seel, he has bought BTWTY but they are not showing in the wallet. This situation is very bad for the reputation of BitShares and my smartcoin.

[2018-02-14 13:10] gibbsfromncis opened #1162 "Hamburger menu cannot be opened"
On the latest Staging version somebody crash hamburger menu for passwordAccounts

<img width="1440" alt="screenshot 2018-02-14 14 10 07" src="https://user-images.githubusercontent.com/35899973/36205907-ca13e880-1190-11e8-81a9-363c4fe2ada1.png">

I'm already working on it.

[2018-02-14 13:13] gibbsfromncis commented on #1162
@startailcoon Why did you remove this variable? Does it make any sense or it was mistake?
 https://github.com/bitshares/bitshares-ui/commit/1fc630b0954e61a7b242ca8c2b1a55a2b9fc1e55#diff-e57114ebcc66186621ffaca2f22305f2L255

[2018-02-14 13:55] gibbsfromncis commented on #1162
@wmbutler fix already submited as PR: #1163

[2018-02-14 13:55] gibbsfromncis commented on #904
PR: #1164

[2018-02-14 14:04] ahdigital commented on #1138
I think I've helped ease the pain with this particular issue by making it work like this:

Controls for position/orientation will only be shown in the upper and bottom left quadrants.

To minimize confusion with the vertical/horizontal order book I've replaced the arrows that were there with a pin icon. The idea being that a user pins and unpins the order book. To unpin the orderbook in its vertic

[2018-02-14 14:19] gibbsfromncis commented on #1061
@wmbutler Done. PR #1166

[2018-02-14 14:30] gibbsfromncis opened #1167 "Discussion: Strange changes on Header (staging)"
I have pulled last changes and now I see everything were changed... We have removed Login page from Home Screen, we have removed Create Account/Login from header if user not logged in...

<img width="1440" alt="screenshot 2018-02-14 15 23 20" src="https://user-images.githubusercontent.com/35899973/36209215-74eb0428-119b-11e8-921c-89519a1498b6.png">

We have removed "hover" state from Account name.

[2018-02-14 14:34] gibbsfromncis opened #1168 "No ability to login/create Wallet Account on Staging HIGH PRIORITY"
This issue a part of discussion: #1167

![gif-cannot-login-using-wallet-account](https://user-images.githubusercontent.com/35899973/36209642-854dd0a6-119c-11e8-9461-e07b428fec1c.gif)

The proposal is at least revert `Create account` button to header to make users able to go to [Create Account](https://wallet.bitshares.org/#/create-account) page where they can create any type of account or login un

[2018-02-14 14:34] gibbsfromncis commented on #1167
I even cannot Login under wallet account: #1168

[2018-02-14 14:36] gibbsfromncis commented on #1168
Why there are "Add contact" button? Which contact can I add if I even not logged in??

<img width="1440" alt="screenshot 2018-02-14 15 35 30" src="https://user-images.githubusercontent.com/35899973/36209690-bb9f945a-119c-11e8-8003-dea06daf4a5f.png">

[2018-02-14 14:37] gibbsfromncis commented on #1168
@svk31 @wmbutler guys we cannot deploy this. And I think we should investigate why this happened. Why those changes are on `staging` before Sprint end...

[2018-02-14 14:39] gibbsfromncis commented on #1167
Why there are "Add contact" button? Which contact can I add if I even not logged in??

<img width="1440" alt="screenshot 2018-02-14 15 35 30" src="https://user-images.githubusercontent.com/35899973/36209690-bb9f945a-119c-11e8-8003-dea06daf4a5f.png">

[2018-02-14 14:39] gibbsfromncis commented on #1167
@svk31 @wmbutler guys I think cannot deploy this. And I think we should investigate why this happened. Why those changes are on staging before Sprint end...

[2018-02-14 14:49] startailcoon commented on #1162
@gibbsfromncis my bad. Its removal was never intended. I suspect a merger going wrong.

[2018-02-14 14:54] startailcoon commented on #1167
Many changes to the header was made trough this PR https://github.com/bitshares/bitshares-ui/pull/1140

[2018-02-14 14:58] gibbsfromncis commented on #1167
@startailcoon it's nice that you discovered the issue/changes which break current staging.

What we should do with that? For me It looks really bad and current staging cannot be deployed...At least without bug fixes..

[2018-02-14 15:00] gibbsfromncis commented on #1167
@startailcoon did we remove ability to Login/Create Wallet accounts? Because i've discovered there is no way to create Wallet account too. Maybe it's feature, not a bug?

[2018-02-14 15:06] gibbsfromncis commented on #889
@startailcoon Can you please checkout to my branch and check your changes are OK after my merge? https://github.com/gibbsfromncis/bitshares-ui/tree/904

I had a lot of conflicts on Header.jsx so I've removed all my changes, pulled yours and put my back. So everything should be fine but would be nice if you can check.

[2018-02-14 15:12] ahdigital commented on #1168
I've found that since PR #1143 the redirection to the login selector page has gone. It was the login selector page where I used to login using a password or choose to restore and login with local wallet.

The only way I can see now is to go to settings and toggle the login mode.

[2018-02-14 15:16] ahdigital commented on #1167
It's a bug. The user should be able to see the login selector page to login, create cloud account, create local wallet, restore local wallet etc. but this doesn't happen any more.

[2018-02-14 15:22] wmbutler commented on #935
That's the same library I recommended at the top of this issue....great minds think alike :)

[2018-02-14 15:25] wmbutler commented on #1167
We have a day before we deploy so we have time to discover what's going on.

[2018-02-14 15:26] startailcoon commented on #1167
None of my changes should touch these functions as far as I'm aware of.

I agree with OP though.

PR https://github.com/bitshares/bitshares-ui/pull/1159 fixes the hover of the cursor, but not any of your other issues.

[2018-02-14 15:28] #1162 closed

[2018-02-14 15:33] wmbutler commented on #1161
@svk31 This is interesting...

![screen shot 2018-02-14 at 9 32 48 am](https://user-images.githubusercontent.com/1254810/36212647-11fb09a2-116a-11e8-99d7-8c8835c3f8bc.png)
![screen shot 2018-02-14 at 9 32 42 am](https://user-images.githubusercontent.com/1254810/36212649-1226fd28-116a-11e8-9d21-c32fe188d840.png)

[2018-02-14 15:34] wmbutler commented on #1155
Understood. @svk31 can likely estimate this at whatever level he sees fit.

[2018-02-14 15:35] wmbutler commented on #1150
If it helps, we only need one node set up for ES to complete testing.

[2018-02-14 15:36] wmbutler commented on #993
This is MUCH better!!

[2018-02-14 15:40] startailcoon commented on #1168
#1143 should not have this effect. Some other PR merged with staging prior to it is responsible for this change.

We should find and revert this change. Does #1140 have anything to do with this?

[2018-02-14 15:43] ahdigital commented on #1168
I rolled back to #1140 and it works for me, but that is before the header/dashboard tweaks.

[2018-02-14 18:36] AustinAmoruso commented on #1133
Can we push to next spring haven't had time to fully look over

[2018-02-14 18:37] startailcoon commented on #1167
### This issues is due to PR 1142
The current landing page has been changed per PR #1142. It introduces a new Route here

https://github.com/zhyupe/bitshares-ui/blob/535290bf8f1f18ecbe97227c3266e926617d7a1c/app/Routes.jsx#L31-L33

`System.import("components/Dashboard/DashboardPage").then(loadRoute(cb)).catch(errorLoading);`

It also removes many items, such as `Dashbaord/DashboardComponent`, `Dash

[2018-02-14 18:40] gibbsfromncis commented on #1167
@svk31 can you help us please?

[2018-02-14 18:43] gibbsfromncis commented on #1167
@startailcoon I suppose if @svk31 can remove this commit but it will be on another pull requests which waiting for approval...

[2018-02-14 18:50] startailcoon commented on #1167
I'm sure svk is able to revert it in some good practices.

[2018-02-14 18:59] startailcoon commented on #1161
Note that the value of the user is the same as on Cryptofresh.
http://cryptofresh.com/u/fd2018

You can see the trade going trough, but the value of the users wallet isn't reflecting this. It's not limited to a UI issue of the BitShares-UI, but most likely related to something more.

[2018-02-14 21:57] startailcoon commented on #889
@gibbsfromncis it seems to act the right way, yes.
Added a comment on your PR for a small change.

[2018-02-14 22:51] landry314 commented on #261
This is not fixed. When I restore my wallet I get a followed account which is not my own becoming active by default.

[2018-02-15 00:08] tbone-bts commented on #1138
Nice solution.  I think it will help a lot.

[2018-02-15 00:23] gibbsfromncis commented on #686
@wmbutler

1) Now when user opens app for the first time browser will ask him to allow notifications
2) For now supported only "transfer to me" notifications but it's scaleable and easy to track more events and fire notifications for them.
3) If user disabled permissions for Notifications on Browser Settings (or just click Deny when browser ask for permission to send notifications) and user has "A

[2018-02-15 00:23] gibbsfromncis commented on #686
Pull Request: #1172

[2018-02-15 00:27] gibbsfromncis commented on #904
@wmbutler as I told above I would be glad if you can increase estimate for at least 1 hour of this task. It took almost 2 days to make everything looks production-ready and cool.

[2018-02-15 01:50] gibbsfromncis opened #1173 "[3][gibbsfromncis] Contacts Improvements"
For now user unable to add/remove Contacts. From technical perspective for now it looks like User Link/Unlink another users accounts. It looks not good because all accounts placed on the same place, use the same API, user unable to remove somebody from his contacts because he just mark Contact like "Hidden".

Idea is to update move split Contacts and user own accounts logic.

There is the list of

[2018-02-15 01:55] gibbsfromncis commented on #1130
@wmbutler

Unfortunately for now Contacts is using the same API as "Hide/Show" own Accounts. I've created new task to work on it: #1173. It's not necessary but would be a good for feature use of Contacts like on Transaction section.

Changes I made:
1) Fix divider between Hidden/Shown accounts
2) Do not display divider if hidden accounts doesn't exist
3) Do not display Show/Hide button if hidden a

[2018-02-15 04:47] startailcoon commented on #889
@svk31 @wmbutler Due to the recent issue with multiple work on the same files and the tangling of all PRs this issues PR (#1143) has been left out with only partial changes.

I will rework a new PR, but it can't be done until later today at best.

[2018-02-15 09:44] ahdigital commented on #895
I just read the thread and I'd also like to see this feature implemented. Is this going to be picked up?

Whilst I could review the proposed designs and create a tidy final version, implementing the actual functionality is beyond my capability unfortunately.

[2018-02-15 12:00] sschiessl-bcp opened #1175 "TestNet vs MainNet use"
The bitshares ui automatically reselects a new node if the current is slow or not reachable.

Is there a way to ensure that it only connects to the same network again? I am developing something on the testnet right now and it happens that it switches to the MainNet on reload.

Stefan

[2018-02-15 13:00] gibbsfromncis commented on #1136
@svk31 Unfortunately I don't understand how can I fix it ... should we close this one or .. what should we do?

[2018-02-15 13:07] gibbsfromncis commented on #422
@wmbutler I can integrate this to my Browser Notifications. But we need some UX for this on Exchange I guess. But make sure that Browser Notifications work only if tab opened.

[2018-02-15 13:10] gibbsfromncis commented on #1002
@wmbutler looks like no any progress on this. I can take it and ... finish !:)

[2018-02-15 13:25] gibbsfromncis commented on #767
@wmbutler I can test it and investigate in code. Maybe I can find something reading code of this part.

[2018-02-15 13:26] gibbsfromncis commented on #17
@wmbutler assign to me.

[2018-02-15 13:27] gibbsfromncis commented on #450
@wmbutler can I take this one? Where exactly the ID should be?

[2018-02-15 13:29] gibbsfromncis commented on #463
@wmbutler Lets do this big part step by step. I can prepare MVP of this feature and start to work if you agree.

[2018-02-15 13:32] gibbsfromncis commented on #653
@wmbutler @svk31 if you tell me what is the issue and what is the expected behavior I can work on this one.

[2018-02-15 13:45] gibbsfromncis commented on #697
@wmbutler idea looks nice. But I'm not sure that use of simple "transfer" as messages nice idea. This may cause new bugs and misunderstandings. For e.g. if I want to see only real transfers of money on "Recent Activity" why I should see a ton of transfers for 0.005 BTS? I have experience of idea like "add new feature on front-end but use a backend of another feature and recognize the type of featu

[2018-02-15 13:47] gibbsfromncis commented on #769
@wmbutler if @svk31 is busy maybe I can help you with that?

[2018-02-15 13:53] gibbsfromncis commented on #984
@wmbutler I suppose I don't understand what are you talking about because I use local wallet account and it requires me to unlock my account and put password before I can do some operations like transfer, buy/sell etc.

[2018-02-15 14:02] gibbsfromncis commented on #422
- [ ] Add ability to enable/disable "Price Alert" browser notification on Settings -> Browser Notifications
- [ ]  (Simple) Add "Alarm" Icon on Exchange near Latest Price. When user click he can specify price at which he should receive the notification.
- [ ] (Complex) Add "Alarm" Icon on Bids/Asks header. When user click on it he can specify price and minimal amount of order at which he should re

[2018-02-15 14:17] gibbsfromncis commented on #463
First of all we should prepare the list of events we should notify user. We can start from our main operations:
- Fill order
- Transfer
- Price Alarm  (https://github.com/bitshares/bitshares-ui/issues/422)
(if you know more important operations let me know)

For me MVP looks like this:

- [ ] Add page where all notifications will be listed (on future we can add icon on header and dropdown but lets

[2018-02-15 14:18] gibbsfromncis commented on #1146
@wmbutler should I do something with that?

[2018-02-15 16:19] pnomolos commented on #1002
Sorry, I am still working on it :) the performance issues with the OS X
staging client are killing me right now.
On Thu, Feb 15, 2018 at 5:10 AM Leroy Jethro Gibbs <notifications@github.com>
wrote:

[2018-02-15 16:38] gibbsfromncis commented on #1002
@pnomolos When are you going to finish it? Do I understand correct that you're blocked right now and cannot work on this? Btw I would recommend you to use high charts. It has a lot of features and may help us in future.

[2018-02-15 16:40] pnomolos commented on #1002
@gibbsfromncis I'm hoping to finish in the next day or two - have moved off my laptop and on to my main desktop which should mean I'm no longer blocked by the performance issues.  I've mostly converted to highcharts and am just finishing up a few minor things.  Should have some screenshots up today.

[2018-02-15 16:41] gibbsfromncis commented on #1002
@pnomolos sounds great!

[2018-02-15 18:25] gibbsfromncis commented on #1167
@wmbutler I saw many issues after latest changes. I will create issues to fix them when have free time

[2018-02-15 18:32] svk31 commented on #1161
Some kind of dust order issue maybe, where the amounts are too small to actually be counted in the end? He's dealing in 1 and 2 satoshi amounts. Dunno tbh... @abitmore ?

[2018-02-15 18:34] #1139 closed

[2018-02-15 19:34] pnomolos commented on #1002
Alright, Highcharts integrated, just sorting out some stuff in terms of converting the values over.

![screenshot from 2018-02-15 11-26-45](https://user-images.githubusercontent.com/36223/36276848-f799de0a-1243-11e8-908e-d639f2708a2d.png)

I've also converted the font to 'RobotoRegular'.

How should values be displayed?  Right now I'm converting to BTS so you get an overview of all your assets, bu

[2018-02-15 19:54] AustinAmoruso commented on #993
The suspended status is able to be set via the item.status. if you don't set item.status nothing will be displayed on the right. Whatever you set item.status to it will be displayed

[2018-02-15 20:52] svk31 commented on #1175
You can hide all the mainnet nodes. The fallback ignores testnet nodes, but you can add --testnet to the webpack launch command in package json (locally) to make it include testnet nodes in the fallback.

`var config = require("./webpack.config.js")({prod: false, testnet: true});`

in server.js

[2018-02-15 22:21] startailcoon commented on #1167
After a few hours of sifting trough the staging branch I've successfully committed the changes from #1143 that was reverted. Only thing that isn't really as it should is still the hover on accounts, as svk mentions.

[2018-02-15 23:38] gibbsfromncis commented on #1002
@pnomolos I suppose you should convert to the asset selected on User Settings in General tab. But what you did is quite fine.

[2018-02-15 23:38] gibbsfromncis commented on #1002
But actually it doesn't matter I suppose. convert to specific value may affect only for 0.X% of difference..

[2018-02-15 23:39] pnomolos commented on #1002
I can do that by grabbing the settings, it's more about how to label it (I think that showing each as a percentage of total value in a single unit makes the most sense)

[2018-02-15 23:42] gibbsfromncis commented on #1002
@pnomolos I suppose % value would be enough. If user want to know actual count of assets he can take a look above at his portfolio :)

[2018-02-15 23:45] gibbsfromncis commented on #1173
@wmbutler This comment from @svk31 proof my idea to rework on Contacts: #1174 (comment)

[2018-02-16 00:48] EstefanTT commented on #1161
BTWTY is very expensive, even 0.00001 is worth money, several BTS (around
32 at current price) . So I don't thing it's a dust thing.

[image: image.png]

On Thu, Feb 15, 2018 at 7:32 PM svk <notifications@github.com> wrote:

[2018-02-16 06:55] svk31 commented on #1136
It needs to be fixed in the backend so closing this one.

[2018-02-16 06:55] #1136 closed

[2018-02-16 06:57] svk31 commented on #1161
It's dust because the precision of BTWTY is 5, meaning 1 satoshi of BTWTY is 0.00001. The value of the satoshi amount in dollars or BTS is irrelevant.

[2018-02-16 07:01] svk31 commented on #1173
Definitely worth doing a pass on the contacts API as outlined by @gibbsfromncis here. A contacts API separate from the original linked accounts would be great.

[2018-02-16 07:45] startailcoon commented on #1161
Other users with this little amount have them visible. I still think this is a core issue rather than a UI issue.

![smartselectimage_2018-02-16-07-38-00](https://user-images.githubusercontent.com/12114550/36297916-957135d6-12f5-11e8-91ad-95bbd49e1ca0.jpg)

[2018-02-16 07:52] xeroc commented on #1150
This is a first deployment:
`176.9.44.67:9200/`

Please understand that it is **not** safe for production as it opens up the whole database to the public!

[2018-02-16 10:17] roberto-1994 commented on #1161
Hi,
i have a similar problem.
My account name is roberto-1994.

I have bought 0.0001 BTWT the day 2018-01-30. The transition was registered in the Block Number : #23969487. it was all right.

One week later I controlled my BTWT balance and it was only 0,00002 BTWT: so, 0,00008 BTWT are disappeared!!!

I checked the history of my transactions several times with the aim of understanding if I had acc

[2018-02-16 16:03] btsfav opened #1177 "[.5][pnomolos] Local Wallet Accounts visual issue"
Lastest Light Client, win7

![image](https://user-images.githubusercontent.com/15261692/36316743-6f1e52ec-133b-11e8-8f56-c62a5d5aac1b.png)

[2018-02-16 16:09] btsfav opened #1178 "[1][startailcoon] Latest client, Portfolio with many assets, still CPU/Memory leaks"
Latest light client

Clicking Portfolio / Hidden with many hidden assets grills my CPU still. 13 cores at full force...

[2018-02-16 16:32] landry314 commented on #1146
might be somehow related to #261. Restoring a wallet causes strange things. I always default to abit's account, probably because of an alphabetical thing.

[2018-02-16 17:38] startailcoon commented on #1177
Username has wrapped and the list is not increasing the height or width. This should be handled by increasing the width.

[2018-02-16 17:42] sratemo opened #1179 "[2][startailcoon] Typeahead component issues"
![capture](https://user-images.githubusercontent.com/4792977/36321223-f5de72a0-12fd-11e8-9f7a-6b1415b7489b.PNG)

Hi,
While using the light theme and trying to send funds to other BTS accounts, the address field is not visible. This is a new issue that started happening after the new UI update.

Please see attachment.

Sam

[2018-02-16 17:46] pnomolos commented on #1002
OK, left to do:

- [ ] Active, Hidden, Visual tabs need to work properly
- [ ] There's some component updating oddity (sometimes it'll throw an error)
- [ ] Convert to a user's preferred internal unit
- [ ] Conversion issue (some assets appear to be converting at the wrong rate).

@svk31 @wmbutler In regards to the last one, would one of you mind taking a look at my code @ https://github.com/pnomo

[2018-02-16 19:26] iscrawler commented on #951
Hello guys. Any good news?)

[2018-02-16 19:27] abitmore commented on #951
You provide no new info, we have no news.

[2018-02-16 19:28] abitmore commented on #951
It's not recommended to claim balances via CLI. It's more buggy than GUI.

[2018-02-16 19:29] abitmore commented on #951
The guide is here https://bitsharestalk.org/index.php?topic=20822.0

[2018-02-16 19:32] iscrawler commented on #951
What kind of new info you need? I can send you my log files or something else. Just ask.

[2018-02-16 20:36] pnomolos commented on #1002
I solved the second item by updating highcharts.  Will need to ensure this hasn't broken anything.

[2018-02-16 20:40] tbone-bts commented on #1124
@gibbsfromncis I was just thinking, it would be nice if users could choose which sounds they want for each notification (or just keep some or all of the defaults).  That and of course the ability to turn on/off whichever notifications they choose would be nice.  Are these things you're already considering?

[2018-02-16 20:47] gibbsfromncis commented on #1124
@tbone-bts Yesterday was deployed first version with browser notifications. Unfortunately it's impossible to change sound of browser notifications. Now you can on/off all notifications or specific notification type on your Settings. On first version we have notification only about received money.

[2018-02-16 20:58] gibbsfromncis opened #1180 "[1] UI fixes after last deploy"
- [ ] Update top margin on Settings
![Uploading 1.png…]()

- [ ] Remove `cursor:pointer` from username if user use login/password account.
<img width="240" alt="2" src="https://user-images.githubusercontent.com/35899973/36328809-e15c49d6-1363-11e8-923b-38e55f24ceaf.png">

- [ ] Fix box border in Chrome
<img width="1114" alt="4" src="https://user-images.githubusercontent.com/35899973/36328878-1bd85

[2018-02-16 21:08] AustinAmoruso opened #1181 "Add husky for git hooks to enforce code quality"
Husky is a very useful git hook that works well with npm it will allow for eslint enforcement before commit and prettier enforcement.

https://github.com/typicode/husky

[2018-02-16 21:09] AustinAmoruso opened #1182 "Add React Native Web"
React Native Web allows for cross platform development made easy this would allow for bitshares to build a mobile app along with desktop app and web version all in one code base. Also allows for better code structure and remove reliance on css in the long term. Allowing for colocation of component with style.

https://github.com/necolas/react-native-web

[2018-02-16 21:16] AustinAmoruso opened #1183 "Add jest to avoid causing regression errors"
Jest can be added incrementally and made as part of a commit hook. This will allow for simple regression tests to be automated and ensure that we don't lose features as we build.

https://facebook.github.io/jest/docs/en/tutorial-react.html

[2018-02-16 21:27] pnomolos commented on #1002
@svk31 @wmbutler For "Convert to a user's preferred internal unit" I see how it's done in `AccountOverview.jsx`, but I cannot for the life of me figure out where `settings` is coming from.  It's pull from the `props`, but I don't see it being set anywhere.  If you could enlighten me on where that's coming from that'd be great, thanks!

[2018-02-16 21:33] AustinAmoruso opened #1184 "[2] Upgrade to react 16"
React 16 has a lot of support and there are a lot of libraries now using it, time to jump on the future.

https://github.com/facebook/react/releases

[2018-02-16 21:54] gibbsfromncis commented on #1002
@pnomolos it wraps by Containers. `SettingsStore.getState().settings`. Just use cmd+F man :)

[2018-02-16 21:59] ahdigital commented on #1002
"I solved the second item by updating highcharts. Will need to ensure this hasn't broken anything."

I think the explore->blockchain page uses highcharts for 2 graphs.

[2018-02-17 01:11] mattbeckman opened #1186 "[.5][ahdigital] Add Japanese translation"
User gn1 on bitsharestalk.org made a Japanese translation file.

Opening issue so he has a place to drop it in.

[2018-02-17 01:16] JPederson96 opened #1187 "Bitshare Lists"
I keep seeing BUY ORDERS listed in reverse order. How do I fix this? Here is a screenshot from crypto-bridge but OpenLedger and Bitshares also show this problem.

[2018-02-17 02:04] gn1github commented on #1186
Hi,
As per our conversation on bitsharestalk.org, I am attaching the Japanese translation file for BitShares here. Looks like attaching .json file wasn't supported, so I have compressed the file into a zip file.

[locale-ja.json.zip](https://github.com/bitshares/bitshares-ui/files/1733337/locale-ja.json.zip)

Kindly help adding this translation to BitShares (wallet.bitshares.org) GUI.

It will be

[2018-02-17 06:19] ahdigital commented on #1186
I can take this on.

[2018-02-17 08:56] startailcoon commented on #1179
This is an issue with the Typeahead component.

### Current Issues that needs addressing
- [ ] Adapt to theme specific colors.
- [ ] Bind to the input field (see licecap)
- [ ] Open drop-down with down-arrow

![bitshares-typeahead-issues](https://user-images.githubusercontent.com/12114550/36339549-c6df07b4-13c8-11e8-8828-b94e2b283bb6.gif)

[2018-02-17 09:26] btsfav commented on #1178
same for the chrome/html version:

![image](https://user-images.githubusercontent.com/15261692/36339766-ff09445c-13cc-11e8-8d0f-53a1ba773259.png)

[2018-02-17 12:52] startailcoon opened #1189 "[2][ahdigital] Modal Theme Issues"
Modals, send/buy/withdraw, does not comply to theme choices.

Current setting sets theme colors to dark, independent of user choice of theme.

##### Make sure the following comply with all themes
- [ ] Background
- [ ] Input fields
- [ ] Possible drop down
- [ ] Buttons
- [ ] Error notices
- [x] Typeahead issue addressed in #1179

[2018-02-17 13:23] startailcoon commented on #1167
Was this resolved after the new release?

[2018-02-17 13:24] #1158 closed

[2018-02-17 14:36] xeroc commented on #1150
Goibg forward, i believe we should use wrappers like thr one from Alfredo to encapsulate and secure the backend database .. I'll deploy the code next week

[2018-02-17 14:49] oxarbitrage commented on #1150
the ES wrapper (https://github.com/oxarbitrage/bitshares-es-wrapper) is not yet very used so i am not sure if can cover all the UI needs. Need to figure it out by using.

The idea is to expose it and as the UI start using it add more stuff to it while leaving the elasticsearch plugin and database doing its work in the background.

i have the wrapper exposed right now behind nginx (check samples ur

[2018-02-17 15:21] AboShanab opened #1190 "[1.5][ahdigital][2] No warning when use private browsing"
Hello there, how are you today?
After the latest update of bitshares-ui (2.0.180215), when I use the private browsing in Firefox 58.0.2 there's no warning message appear for me inform me about Can't access local storage while using private browsing just like past versions, Here's the screen shots between the latest version and the past version:

Past version (OpenLedger exchange):
<img width="290"

[2018-02-17 16:30] wmbutler commented on #1150
@svk31

[2018-02-17 16:34] #1167 closed

[2018-02-17 16:35] wmbutler commented on #1178
Please post precise steps to reproduce. Sorry, but I'm not seeing this so it's hard to troubleshoot.

[2018-02-17 16:37] wmbutler commented on #1179
This is a theme issue and it's important. The light theme is using a black background and black text. The Midnight theme is using some of the dark theme. components.

[2018-02-17 16:42] wmbutler commented on #1187
I'm not seeing this issue.

<img width="857" alt="screen shot 2018-02-17 at 10 41 49 am" src="https://user-images.githubusercontent.com/1254810/36343244-3666c4cc-13cf-11e8-9051-133d78eab648.png">

[2018-02-17 16:44] JPederson96 commented on #1187
The issue has been fixed.

[2018-02-17 16:44] #1187 closed

[2018-02-17 16:49] wmbutler commented on #1133
I've moved it to 180301

[2018-02-17 16:54] wmbutler commented on #1146
@gibbsfromncis only if you can reproduce. You want to take it?

[2018-02-17 16:55] wmbutler commented on #1161
@oxarbitrage ?

[2018-02-17 17:01] #1175 closed

[2018-02-17 17:02] #993 closed

[2018-02-17 17:06] wmbutler commented on #463
I'm closing this since we have a start for Chrome notifications now. Please re-open in a different issue if there are some continued features.

[2018-02-17 17:06] #463 closed

[2018-02-17 17:14] wmbutler commented on #697
Designing a separate operation is a core thing. I do see your point as it relates to activity logs.

[2018-02-17 17:17] wmbutler commented on #450
@gibbsfromncis please send questions to OP

[2018-02-17 17:23] #889 closed

[2018-02-17 17:24] #1130 closed

[2018-02-17 17:25] wmbutler commented on #904
I added 2.

[2018-02-17 17:25] #904 closed

[2018-02-17 17:26] #686 closed

[2018-02-17 17:27] #1138 closed

[2018-02-17 17:51] wmbutler commented on #993
Please post your BTS payment address here.

[2018-02-17 18:03] gibbsfromncis commented on #1146
@wmbutler assign to me please, I'll investigate and fix if find the reason.

[2018-02-17 18:05] gibbsfromncis commented on #463
@wmbutler Actually I've deployed Notifications for browsers. But for now we don't have any tab or place where we can see notifications which maybe interesting for users. In case of browser notifications user receive the message only if he have wallet opened. On another way he won't see any notification. Please read my (if you didn't) proposal - https://github.com/bitshares/bitshares-ui/issues/463#

[2018-02-17 18:09] gibbsfromncis commented on #984
@wmbutler can you tell about which controls do you mean? Transfer/Deposit?

[2018-02-17 18:10] gibbsfromncis commented on #450
@Ashaman- can you provide more information? If not we will close this issue.

[2018-02-17 18:48] ahdigital commented on #1189
Happy to do this if you're not claiming it.

[2018-02-17 18:57] startailcoon commented on #1189
Its yours ahdigital

[2018-02-17 19:02] startailcoon commented on #1119
Ping @abitmore. Can you enlighten us about my question from before?

[2018-02-17 19:11] gibbsfromncis commented on #1180
@wmbutler you can assign my issues to me

[2018-02-17 19:24] abitmore commented on #697
Since it's not a consensus feature, we can get use of `custom_operation`, however we need a plugin to notify the receiver, and perhaps store / cache the message, since messages can get lost very fast if this feature relies on analyzing account history.

Another option would be tracking the messages with ES plugin.

[2018-02-17 19:26] gibbsfromncis commented on #697
@abitmore nice idea. So lets wait before ES plugin will be delivered and lets start
@wmbutler I can work on this when backend guys will delivery ES.

[2018-02-17 19:30] abitmore commented on #450
It means adding an "operation_id" column or something similar in account history. Needs UX.

[2018-02-17 19:31] abitmore commented on #450
To be clear, operation ID is "1.11.XXX".

[2018-02-17 19:32] gibbsfromncis commented on #450
@abitmore okay, nice. I'll think about it and post my proposal to @wmbutler

[2018-02-17 19:34] abitmore commented on #1119
IMHO it needs UX. We have all the data, need to decide how to non-misleadingly show them.

[2018-02-17 19:38] oxarbitrage commented on #1161
one thing i noticed while taking a look into this is that there are fees paid in BTWT for canceling limit orders in account fd2018 as:

http://open-explorer.io/#/operations/1.11.127750225
http://open-explorer.io/#/operations/1.11.127743311
...

in cryptofresh:

http://cryptofresh.com/tx/287c371e424be9fd47bb81820c4db2d76a8e8517

[2018-02-17 19:39] AustinAmoruso commented on #993
austin-amoruso is my bts payment address

[2018-02-17 19:39] AustinAmoruso commented on #1133
I have fixed this in the pr that is open

[2018-02-17 19:51] oxarbitrage commented on #1161
in `roberto-1994` is the same but let me continue with `fd2018` as it is an account with less history so easier to analyze.

the account purchased 4(raw blockchain numbers without precision calculation) BTWT in total by this 2 fill orders, each one receiving 2 BTWT:

http://open-explorer.io/#/operations/1.11.127087214
http://open-explorer.io/#/operations/1.11.127710771

then in the account there a

[2018-02-17 19:59] diogogomes commented on #1187
@wmbutler I can reproduce this issue if I change to vertical mode and change it again to horizontal mode.

It fixes itself closing the desktop client an reopening again.

##### Linux Desktop client 180215

[2018-02-17 20:03] pnomolos commented on #1110
@fractalnode I've added a PR for this if you want to give it a whirl.

[2018-02-17 20:12] oxarbitrage commented on #1161
in the case of http://cryptofresh.com/u/am1980 no BTWT was used to pay fees so as account purchased 2 BTWT the balance is  exactly that amount of coin.

[2018-02-17 20:43] startailcoon commented on #1189
@ahdigital I'm not really sure if the issue I had was due to a caching issue on my phone, but the issue does not seem to be present on the desktop light client for me.

[2018-02-17 20:53] abitmore commented on #1119
All prices described below are in terms of `debt/collateral`, aka how much debt per collateral, which may affect descriptive words like "below", "above", "lower than", "higher than", "min", "max" and etc. If the price in UI is flipped, corresponding words need to be flipped as well.

We have these data, need to show some or all of them:
* price feeds: a list, published by witnesses or other price

[2018-02-17 21:36] btsfav commented on #1178
click Portfolio / Hidden, or just click around in general. it's hard to say what triggers it, but I've experienced it from many actions

[2018-02-17 21:38] btsfav commented on #1178
another one: hide some nodes, then click portfolio

[2018-02-18 00:42] pnomolos commented on #1190
@AboShanab Did you upgrade to Firefox 57/58 recently?  It appears that this may be due to a long-standing bugfix in FireFox (where localStorage is now cleared when private mode is exited - see https://bugzilla.mozilla.org/show_bug.cgi?id=1047098) as opposed to a change in the BitShares ui.

[2018-02-18 06:24] pnomolos commented on #1177
I'll take this one.

[2018-02-18 09:02] HarukaMa commented on #1180
I even think this issue worths a hot-fix deploy. The UI in 180215 version looks really terrible.

We really need a decent UI designer for those kind of things.

[2018-02-18 13:16] gibbsfromncis commented on #1180
@HarukaMa @wmbutler first of all we need carefully work on features and fixes. Because what we have now was produced by careless work on previous Sprint. Conflicts was fixed not careful by developers, some developers didn't test their features on different cases (like somebody who use Midnight theme didn't select Dark or Light to test how his changes look on these themes).

It wasn't suggested cha

[2018-02-18 16:05] HarukaMa commented on #1180
I was referring to the whole project about UI designer thing. I didn't check the code so didn't know that those issues are by mistake. Admittedly, I thought some of the changes were intended such as removed global margin.

[2018-02-18 16:31] mistdale commented on #521
Appears from time to time, in python-bitshares lib (xeroc) v0.1.11, when creating new account. Sometimes it works, sometimes yields this error. Can't figure out exact causes.

[2018-02-18 17:04] AboShanab commented on #1190
@pnomolos, Yes, I use 58.0.2 (64 bit) as I said here before. The cache and history is already cleared and the problem is still appear.

[2018-02-18 18:58] pnomolos commented on #1190
Hi @AboShanab I understand that you’re on 58 now, did the warning previously appear when using version 58?  I know that how localStorage is handled changed recently in Firefox, which is why I’m trying to rule out as much as I can :)

[2018-02-18 19:00] startailcoon commented on #935
I've released this task due to I'm to unexperienced with mixing in new JS code with React. Feel free to claim this for the next milestone.

Some hints on other users cases can be read at https://github.com/codrops/MultiLevelPushMenu/issues/11

[2018-02-18 19:08] startailcoon commented on #1179
I'll claim this

[2018-02-18 19:10] ahdigital commented on #935
I would like to have a crack at this please.

[2018-02-18 19:24] startailcoon commented on #1179
The latest addition to typeahead was written extremely static.
Sizes and colors are all hardcoded, which isn't code when we're having a dynamic app.

[2018-02-18 19:32] startailcoon commented on #568
I'll claim this

[2018-02-18 19:33] startailcoon commented on #502
Is this relevant to the current chart, or are we waiting for trading view?

[2018-02-18 20:01] AboShanab commented on #1190
@pnomolos, In the new version of BitShares in Firefox 58 never appear any warning previously
In the past version of BitShares like 2.0.180115 the warning is appear in Firefox 58.

[2018-02-18 20:02] pnomolos commented on #1190
Thank you! That’s what I wanted to confirm. Unfortunately I’m not sure what
may be the cause but I’ll see if I can replicate.
On Sun, Feb 18, 2018 at 12:01 PM Ali <notifications@github.com> wrote:

[2018-02-18 22:15] startailcoon commented on #1189
The Typeahead issue is adress in #1179

The modal background is from this line and commit, which is from me and I have no idea why it's there or how it got in there. The last release got really tangled up in itself.

https://github.com/bitshares/bitshares-ui/blob/dc1ed2a328e77eed64504370332e5974f83121f5/app/assets/stylesheets/_shame.scss#L195-L199

[2018-02-18 23:41] pnomolos opened #1192 ""Create Account" process changes login method to Local Wallet even if Cloud Wallet was selected"
In the process of creating an additional account for testing purposes, I discovered that every time I clicked on the "Create Account" button from the accounts page, the "Login Mode" setting would revert to "Local Wallet".  I'd change the setting back to "Cloud Login" and try again - same result.

Unless I'm misunderstanding something, it shouldn't work this way?

As well, trying to actually create

[2018-02-19 00:09] pnomolos commented on #1177
@startailcoon Maximum username width is 64, I don't think we really want it that long:

![image](https://user-images.githubusercontent.com/36223/36358609-e8006c50-14c5-11e8-9a4d-c830d0aa3ec3.png)

Right now it's 200px.  We could do 250-300 or dynamically calculate it based on the length of the longest name.

[2018-02-19 07:07] startailcoon commented on #1177
I thought of making it a little longer, to avoid cutting of usernames. But it shouldn't be to long, as in your image, so a maximim width and handling long usernames with a tooltip sounds like a good plan to me.

[2018-02-19 09:44] gibbsfromncis commented on #935
@wmbutler can I take it?

[2018-02-19 12:27] startailcoon commented on #588
@calvin notified me on friday that he would submit changes/updates to this still. I'm still waiting for these changes.

I'm still able to take over if necessary.

[2018-02-19 12:30] startailcoon commented on #1041
What did your search give as the issue for this?

[2018-02-19 13:37] ahdigital commented on #935
I have made a start on this. I thought @wmbutler assigned me already but looks like it was @startailcoon. Lack on detail on github mobile site..

[2018-02-19 13:51] calvinfroedge commented on #588
Working on this all day today

[2018-02-19 14:53] EstefanTT commented on #1161
How comes that an order cancelled eat up to 0.00001 BTWTY?

Is it because it is the smallest part of a BTWTY and the person didn't have any BTS in his account?

[2018-02-19 14:59] startailcoon commented on #935
I did assign ahdigital yes, as requested and notified on telegram

[2018-02-19 15:02] startailcoon commented on #1083
This issue is no longer present after the latest release.

[2018-02-19 15:03] startailcoon commented on #1070
I can claim this and use the present loading animation we have for everything else presently.

[2018-02-19 15:07] nbcks commented on #1041
It's a very difficult issue to debug since the bug happens so sporadically. Most of the time it works, but sometimes it random comes up.

It's not to do with the market price not existing, as other assets have that and don't crash.

[2018-02-19 15:07] oxarbitrage commented on #1161
if you pay fees with that coin for any reason, it will not be less than that value.

[2018-02-19 15:24] ahdigital commented on #1083
Yes, I fixed as part of PR #1140.

[2018-02-19 17:23] calvinfroedge commented on #588
@startailcoon

"Clicking the arrow on Gateway doesn't open the list, clicking in the dropdown does."

This is actually a complex issue. The problem is we're using an actual HTML dropdown for the gateway selection, and it's literally impossible to open a select programmatically.

We need to implement a custom select (kind of like the typehead, but obviously different) or we need to host that icon s

[2018-02-19 17:29] gibbsfromncis commented on #935
@startailcoon do you have dev chat on telegram? Can you invite me?

[2018-02-19 18:34] abitmore commented on #1161
Linking the order cancel fee issue here: https://github.com/bitshares/bitshares-ui/issues/1117
@wmbutler please make it a priority.

[2018-02-19 18:40] abitmore commented on #1161
I'd recommend NOT create that kind of "expensive" assets with insufficient precision. Be VERY CAREFUL when trading those. It's easy to run into rounding issues. Already lots of complaints/discussions about this, E.G. WHALESHARES and etc.

[2018-02-19 19:15] calvinfroedge commented on #588
@wmbutler @startailcoon @svk31

Many of the outstanding issues were closed. A few that remain I would really prefer if we could handle separately. Hours updated.

[2018-02-19 20:50] startailcoon commented on #588
Adding 1 hour for review

[2018-02-19 20:59] startailcoon commented on #935
What's your Telegram handle so we can invite you to the group please?

[2018-02-20 08:12] startailcoon commented on #1070
## Tasks

- [ ] Implement input delay of 2500ms to decrease multiple queries
- [ ] Implement "loading screen" when fetching data to view.

[2018-02-20 11:44] EstefanTT commented on #1161
When we created this asset it was 1000$. It looked ok with 5 decimals.

I can't really explain right now how but we found a solution to resolve this hight value decimal situation. I'll soon publish an official announcement on the chats and forums about Bit20 evolution.

[2018-02-20 18:20] xeroc commented on #1150
Maybe it is a good idea to specify the API that is useful for UI-devs and then implement the wrapper accordingly. Adding features to the wrapper should be much work.

[2018-02-20 20:47] AustinAmoruso commented on #1184
Will take this one

[2018-02-20 21:08] AustinAmoruso commented on #895
I can take this one if its just implemented the UI to handle the features and integrating it.

[2018-02-20 21:10] AustinAmoruso commented on #984
Should we just prompt the login modal if an action requires the user to be logged in, instead of disabling features?

[2018-02-21 05:20] zhyupe commented on #1167
The only issue introduced by #1142 is the missing welcome page for new user. I've fixed that in the new pr #1193.

[2018-02-21 05:41] zhyupe commented on #1168
The missing welcome page for new user(landing page) is caused by #1142. I'm sorry for that and have fixed it in the new pr #1193..

[2018-02-21 08:11] sschiessl-bcp commented on #1186
This is connected to the actual translation work from #332, which was estimated 5 hours.
Maybe gn1 can get a nice surprise here @wmbutler ?

[2018-02-21 08:15] sschiessl-bcp commented on #68
We are deploying a elastic search node with the infrastructure worker, details will be in our final report under
https://bitsharestalk.org/index.php?topic=25291.0

That could then be used for this feature

[2018-02-21 08:16] sschiessl-bcp commented on #268
pybitshares now supports this feature (https://steemit.com/bitshares/@xeroc/pybitshares-uptick-how-to-add-new-on-chain-features).
Does bitsharesjs have any support for that @svk31 ?

[2018-02-21 08:19] gn1github commented on #1186
I am assuming the previous translation work was for CryptoBridge, which has different translation strings for different sections, so I believe it is a separate project.

The one I have translated came directly from the BitShares locale-en.json.

[2018-02-21 11:57] ahdigital commented on #1186
Thanks, I am working on this for the next milestone.

[2018-02-21 13:54] dandehavilland opened #1194 "[1] Incorrect values in alert when closing margin position"
Is this the correct repo for issues like this?

<img width="408" alt="screen shot 2018-02-21 at 14 50 59" src="https://user-images.githubusercontent.com/95854/36483640-010f221a-1717-11e8-8f77-d73c86aed634.png">

[2018-02-21 16:44] gibbsfromncis commented on #935
@startailcoon username is "gibbsfromncis" like on Github.

[2018-02-21 16:45] gibbsfromncis commented on #984
@AustinAmoruso nice point. I agree it.

[2018-02-21 17:10] mattbeckman commented on #1186
Yeah, we should throw some paid hours over to @gn1github for the translation.

[2018-02-21 18:28] compumatrix commented on #1178
Got the same problem. I had to revert back from 2.0.180215 to version 2.0.180115. The new release is definitely eating up a lot and freezes all the time.

[2018-02-21 18:43] wmbutler commented on #1186
@mattbeckman I added @gn1github to the 5 hour issue. Is that what you were requesting?

[2018-02-21 18:44] wmbutler commented on #984
That and also the buy/sell controls in the exchange.

[2018-02-21 18:51] mattbeckman commented on #1186
@wmbutler Yeah, cool!

[2018-02-21 18:51] dandehavilland commented on #1194
This was using wallet.bitshares.org.

[2018-02-21 18:53] wmbutler commented on #1194
Does this happen regularly or was this a one-time event? Unlikely we can solve this unless it can be reproduced reliably.

[2018-02-21 18:58] dandehavilland commented on #1194
That was my first attempt at opening/closing a margin position, but I just tried again and managed to reproduce the issue. This time I noticed that the 'close position' confirmation screen has the same issue:

<img width="697" alt="screen shot 2018-02-21 at 19 55 05" src="https://user-images.githubusercontent.com/95854/36499360-4913f764-1741-11e8-97d5-ba866cf5081f.png">

And the subsequent alert:

[2018-02-21 19:00] wmbutler commented on #1184
Clear this with @svk31 first.

[2018-02-21 19:02] wmbutler commented on #1150
The first application of this should be in Activity (Account History). But that's beyond the scope of this issue. The award is for having a usable, reliable ES server.

[2018-02-21 19:04] wmbutler commented on #1161
Please post the resolution here.

[2018-02-21 19:06] wmbutler commented on #1083
Closing and will credit with this Sprint.

[2018-02-21 19:06] #1083 closed

[2018-02-21 19:07] wmbutler commented on #1041
Added an hour to accommodate additional research.

[2018-02-21 19:08] startailcoon opened #1195 "[.5][startailcoon] Price conversion Issue when Asset has 0 BTS buy orders towards preferred asset"
When an asset has `amount:0` towards an asset we wish to have a price for this function fails, as fromPrice.base.amount can't be 0.

https://github.com/bitshares/bitshares-ui/blob/b871090a578026d1af34d49a2846e421175d0bd1/app/components/Utility/EquivalentPrice.jsx#L141

If the user has an asset in their wallet that has no trading, returning a base.amount of 0 for their preferred trading pair the da

[2018-02-21 19:08] wmbutler commented on #1177
How about ... after 25 characters?

[code]

[2018-02-21 19:17] wmbutler commented on #1192
Users should not have the option to create another account if they are set to a cloud wallet, so it would be best to hide the button associated with this if cloud wallet is the active setting.

[2018-02-21 19:22] wmbutler commented on #1190
Display warning when using private browsing on all platforms, specifically when creating the local wallet. The local wallet stores important information in a local database and it would be very easy for a user to create a local wallet and lose access to it if they are in incognito mode.

@ahdigital this needs UX. It basically needs a warning in between **advanced form** and the local wallet creati

[2018-02-21 19:25] wmbutler commented on #502
I think this was completed.

![screen shot 2018-02-21 at 1 24 42 pm](https://user-images.githubusercontent.com/1254810/36500709-a5502ee4-170a-11e8-8b94-5cbef6f4fbc7.png)

[2018-02-21 19:26] wmbutler commented on #502
This should depend on #361

[2018-02-21 20:09] startailcoon opened #1197 "[.5] New "help link" is badly placed on mobile"
The new help link introduced in the latest release is badly placed as a hovering question mark on smaller screens.

As visible in the attached screenshot, the 'view more' link on transactions are hidden behind the link.

![](https://i.imgur.com/oSoHpXm.jpg)

[2018-02-21 21:02] abitmore commented on #1161
@wmbutler fix the order cancel fee issue described in #1117 . Aka don't use an expensive asset to pay fees.

[2018-02-21 21:04] abitmore commented on #1194
This looks like an integer overflow issue (while displaying).

[2018-02-21 21:46] AustinAmoruso commented on #1184
@svk31 Let me know if there is any thing you want to me make sure I do with upgrade. I will make a thorough PR.

[2018-02-21 22:02] wmbutler commented on #1117
Allow a user to specify an arbitrary asset when canceling an order.

[2018-02-21 22:33] wmbutler commented on #1114
Need your BTS account.

[2018-02-21 22:34] wmbutler commented on #1133
Can you send me your BTS account?

[2018-02-21 22:34] ahdigital commented on #1197
I think the placement seems ok for most use cases. I would look to amend the UI on specific tables etc. where this is an issue.

[2018-02-21 22:35] wmbutler commented on #1144
@swoopyy pls send your BTS address here.

[2018-02-21 22:53] wmbutler commented on #1180
I agree that each developer needs to do a better job of testing their issue once everything is merged to staging to ensure that conflicts are resolved. Regardless, this is a bug and it needs to be picked up and worked. Who wants to claim it?

[2018-02-21 22:55] wmbutler commented on #1119
This needs UX, @ahdigital ?

[2018-02-21 22:57] wmbutler commented on #1187
See bug reproduction above.

[2018-02-21 23:00] wmbutler commented on #450
This is a fairly easy add to activity. I don't think it requires UX.

[2018-02-21 23:01] wmbutler commented on #697
I think the ES plugin is he way to go.

[2018-02-21 23:03] wmbutler commented on #463
I don't think we need notification history. We already have activity logs for that.

[2018-02-22 05:28] startailcoon commented on #1197
Idd, extra padding at the footer would solve this issue on mobile units for example.

[2018-02-22 06:21] btsfav commented on #1178
@wmbutler I really think you should put in a feature freeze in place and fix the bugs now. it'll only be more complicated to find and fix at a later stage

[2018-02-22 07:30] sschiessl-bcp commented on #821
I have seen multiple times in the last week that users are confused how gateways merge into BitShares.

I would like to bring this issue here back up and even take it further:

Deposit/Withdrawal needs to have some kind of explanatory text talking about:
 - how gateways and bitshares interact, and that its an outside company
 - possible additional fees when interacting (e.g. users have been wonder

[2018-02-22 08:33] ahdigital commented on #1186
Done and PR submitted.

[2018-02-22 09:58] abitmore commented on #697
If use `custom_operation`, need to define message format which will need to be encoded. E.G.
[code]
We can document the specification in Wiki even in the BSIPs repo.

[2018-02-22 10:57] ahdigital commented on #1189
PR submitted, and I'm leaving the typeahead styling issue for @startailcoon. I applied these changes as globally as I could - some screenshots below:

![modal-update-1](https://user-images.githubusercontent.com/3088454/36534626-0fd6aebe-17bf-11e8-9b57-6f0ceadb3371.gif)

![modal-update-3](https://user-images.githubusercontent.com/3088454/36534636-12881bac-17bf-11e8-9b5a-7ffce4247c3e.gif)

![modal-u

[2018-02-22 16:23] startailcoon commented on #1189
Looking good. Not sure about the buttons as it was requested in #556 to be like that with the colors and width. @wmbutler, what do you say?

[2018-02-22 16:34] calvinfroedge commented on #44
@wmbutler Picking this back up, sorry for the wait

[2018-02-22 20:38] swoopyy commented on #1144
@wmbutler swoopyyy7

[2018-02-23 07:37] wmbutler commented on #44
Great news. Please work with @oxarbitrage and @xeroc on this. Not sure if you are aware but there are now official Bitshares Foundation Nodes. Ideally, we can count on xeroc to assure us that the foundation nodes will have wrappers that point to reliable ES servers. He has a separate 5 hour issue related to this part. You will need to lead the charge to see that these wrappers and ES servers are c

[2018-02-23 07:40] wmbutler commented on #1189
Not as worried about the buttons as I am the color of the `To` input field. I would expect it to be the same color as all the other fields...

[2018-02-23 07:44] wmbutler opened #1200 "[5][ahdigital] Messaging UX"
This is related to #697 and is intended to allocate hours towards the UX UI for messaging users within the BTS wallet.

[2018-02-23 07:48] wmbutler commented on #554
@dot5enko you may be able to engage @svk on this.

[2018-02-23 07:49] wmbutler commented on #821
Deposit/Withdraw is going away as soon as we have the modals complete.

[2018-02-23 07:52] wmbutler commented on #1178
I'll set a high bounty on this issue. It's easy to reproduce and I hope someone will want to claim it and fix it.

[2018-02-23 07:56] wmbutler commented on #1133
Be sure to reference in your commits as well like:

[code]

[2018-02-23 07:59] sschiessl-bcp commented on #821
Will the new functions have such a info text?

Am 23. Februar 2018 08:50:02 schrieb Bill Butler <notifications@github.com>:

[2018-02-23 08:03] wmbutler commented on #821
Someone could certainly write up an explanation linking from the info icon in the deposit and withdraw modals.

[2018-02-23 08:17] ahdigital commented on #1189
The 'to' field is being updated by startailcoon in another task. That's why it has been left to avoid conflicts.

[2018-02-23 08:30] svk31 commented on #268
bitsharesjs supports all transaction types, it's just a matter of adding the functionality to the GUI.

[2018-02-23 08:43] svk31 opened #1201 "[0.25] Settings redirect to correct entry no longer works"

[2018-02-23 08:44] #1201 closed

[2018-02-23 08:45] #754 closed

[2018-02-23 08:57] startailcoon commented on #1178
I can take a closer look and debug some. I haven't personally experienced this what I know of, but will try to see what I can dig up.

[2018-02-23 09:10] svk31 opened #1202 "[5] Dashbord portfolio sorting is unstable with many assets"
Accounts with a large amount of assets in their portfolio experience a "flash" of unstable sorting of the list of assets in the portfolio. I've looked at it before but have been unable to track down the reason for it.

One good example account to use is `demo.btsbots`

[2018-02-23 10:27] wmbutler commented on #1202
Possibly related to #1178

[2018-02-23 10:30] wmbutler commented on #268
Needs UX, @ahdigital ?

[2018-02-23 10:48] #1134 closed

[2018-02-23 10:50] #1082 closed

[2018-02-23 12:00] ahdigital commented on #268
@wmbutler Assign me with a UX tag and I will come up with the UX/UI.

[2018-02-23 12:04] ahdigital commented on #30
@wmbutler Add me under the UX tag and I will work on a proposal.

[2018-02-23 12:16] ahdigital commented on #1200
@wmbutler Isn't @AustinAmoruso already doing this work as part of #967 or is he aware you're splitting the work load?

[2018-02-23 13:33] startailcoon commented on #1178
@compumatrix freezes may be related to this issue https://github.com/bitshares/bitshares-ui/issues/1195

[2018-02-23 16:57] ahdigital commented on #1030
Are you pursuing this @diogogomes as I can complete this task as a priority next week otherwise.

[2018-02-23 17:36] diogogomes commented on #1030
@ahdigital
I'm in progress. I have not put anything here yet to not overflow this issue with information. I decided it would be best to review globally instead of each step.

@wmbutler , @xeroc what is your opinion about:

[2018-02-23 19:10] startailcoon commented on #1178
After talking to @btsfav we've come to the conclusion that the issue does not exist while using BTS as preferred unit in the wallet, but does when using bitUSD. This makes me highly certain that the issue experienced is #1195, which I reported about yesterday and supplied a fix for.

Can anyone else having this issue also try this and report back if the issue is also present if using BTS as prefer

[2018-02-23 19:22] ahdigital commented on #1030
My preference would be to have it located inside a docs/design folder. This way everything is together as one.

[2018-02-23 21:50] startailcoon commented on #1202
I can't see any flashing on my machine. Do you have a liceCap of it to view what it looks like for you?

![bitshares-flashingissue](https://user-images.githubusercontent.com/12114550/36618526-c85d04d8-18eb-11e8-8b18-e04c46befab3.gif)

[2018-02-24 08:15] SeavantUUz commented on #521
reproduced. ether the desktop version or website.

[2018-02-24 09:31] btsfav commented on #1178
@wmbutler @svk31 please consider hotfixing this

[2018-02-24 12:29] gibbsfromncis commented on #984
@wmbutler Okay. So just make those disabled elements clickable and display Login modal?

[2018-02-24 12:37] btsfav opened #1203 "QA Proposal: Test Scripts"
I'm in the process of creating a test script environment, which would allow us to test standard processes prior to a new live wallet release.

Plan is to create test scripts as we proceed in the wallet releases

Please give me layout feedback: https://docs.google.com/spreadsheets/d/1qtqUQlIkFRw5rLi8vSGITsuRSglH3RYXDZhjOE0I_gY/edit?usp=sharing

* So basically add 1-2 days to a new wallet release fo

[2018-02-24 12:43] gibbsfromncis commented on #1200
@ahdigital I suppose you mentioned wrong task id on your message.

[2018-02-24 13:15] ahdigital commented on #1200
Sorry.. meant #697.

[2018-02-24 16:00] ThomasFreedman commented on #1203
Is your framework internel to the codebase or are you talking about some type of GUI poker to test the UI?
The only feedback I can offer on what you posted for feedback is it doesn't yet convey the scope of what you're testing or specifically how those tests are executed. In other words, not enough info about the framework architecture you're implementing to run the tests.

[2018-02-24 17:07] btsfav commented on #1203
@ThomasFreedman test scripts are scripts that are written to test specific actions in software. ie if there is a new version, those whole set of tests are performed and ensure that everything is working as intended prior to release. it's a QA process

[2018-02-24 17:36] btsfav commented on #1203
I would write, maintain and micro manage the feedback, if our UI devs want to implement a continuous improvement process

[2018-02-24 17:38] ThomasFreedman commented on #1203
@btsfav I have decades of software dev experience, so your reply provided no new info and didn't address any of my questions. I'm not saying that to be a dick, I am trying to understand your approach to testing.

There are tools to poke buttons on a GUI app, there's instrumentation and test frameworks that can be added to the code base, unit tests are such a testing framework.

However, if you're

[2018-02-24 17:59] btsfav commented on #1203
@ThomasFreedman I think you lost me too.
We're talking about UI here, not software dev. The focus is on user acceptance and bugs that may be implemented in the process of adding new features.

The goal is to create a test script (as mentioned) that needs to pass every test case prior to the release of a new version. It's to ensure nothing is broken and works as intended in a controlled and efficie

[2018-02-24 18:01] ThomasFreedman commented on #1203
Upon further review it looks like you are talking about a test plan or series of test plans to test the functionality of the UI. Is it simply a set of steps to perform with conventions for the outcome of the test. What the UI team does to verify their work.

You might consider an assertion model, as commonly used in unit tests. The only difference is you manually execute the steps by interacting w

[2018-02-24 18:04] btsfav commented on #1203
the test script is NOT final. It will grow with future versions, as it's extremely time consuming to write and cover all possible test cases in one go.

There is no chance of automating this, as we're dealing here with the end user, and they do stuff you can not predict. algorithm tests etc are for backend devs.

[2018-02-24 18:04] ThomasFreedman commented on #1203
Have you had a conversation with Bill Butler, SVK, J Calfe or other GUI devs about this?

[2018-02-24 18:05] btsfav commented on #1203
this is called proposal for a reason thomas :)

[2018-02-24 18:11] ThomasFreedman commented on #1203
Just trying to assess your level of understanding of how GUI apps are tested, what you know about state of the art. My knowledge is a bit dated, but there are definitely automation tools for testing GUIs.

Regarless whether the "algorithm" is manifested in a series of steps a human does or whether you write a test script for a tool that guides the poking of buttons and reads results from the scree

[2018-02-24 18:20] wmbutler commented on #775
The idea that we would create a URI that cannot be easily visually understood is, I believe, a mistake. What you have proposed required proper order and, without labels, it prone to misuse. It's also nonstandard as we look at almost every other major cryptocurrency. To be standard with the rest of the world, we should adopt the following. Since we are naming each parameter, order doesn't matter. w

[2018-02-24 18:26] wmbutler commented on #1203
@btsfav I was assuming you were going to use something like Cypress.io as a frontend test suite that could run with our automated builds. Is this where you were going?

[2018-02-24 18:33] wmbutler commented on #1200
This is intended to provide hours for the UX portion.

[2018-02-24 18:36] svk31 commented on #1202
You have to leave it a little, every once in a while it just changes the sorting order, then reverts to the correct one.

[2018-02-24 18:42] wmbutler commented on #1178
I can confirm that I do not see the bug when BTS is chosen as my display currency. I would support a hotfix. @svk31 ?

[2018-02-24 18:43] wmbutler commented on #1178
@startailcoon how many hours should this get?

[2018-02-24 18:44] wmbutler commented on #984
And test to be sure that the flow works. Once the user logs in, they need to get the confirm screen, etc.

[2018-02-24 18:45] wmbutler commented on #521
This is typically a faucet issue. Is it working now @SeavantUUz ?

[2018-02-24 18:50] wmbutler commented on #1030
Inside the docs/design folder is best. @diogogomes you and @ahdigital should talk. Dominic has posted a lot of nice designs.

It's important that each of you come to a meeting of the minds regarding UX. We need cooperation here. Please review @ahdigital designs. He has put quite a bit of work into this and I think you will agree it looks great:

https://www.behance.net/gallery/62124671/BitShares-B

[2018-02-24 18:52] wmbutler commented on #30
It's yours.

[2018-02-24 19:28] startailcoon commented on #1179
@AustinAmoruso I need to be able to added classNames to the Typeahead component. To be able to accommodate different styles for different themes, this is required first.

[2018-02-24 19:34] btsfav commented on #1203
@wmbutler eventually yes, but I've never used tools for it. So I would start by defining test scripts and check them by hand.

describe('BitShares Register', function() {
  it('wallet bitshares org', function() {
    cy.visit('https://wallet.bitshares.org')

	cy.get('a.button.primary').click()
  })
})

cypress is definitely easy and fun to learn though, perhaps I could do this as well

[2018-02-24 20:21] wmbutler commented on #1203
I would suggest that you create an issue for each test and estimate your hours for each. Start with 1 test and let's see what the time commitment looks like.

[2018-02-24 20:28] startailcoon commented on #568
As far as I can see, this is already present in the wallet today.
The update asset button is now in the tab section and updates all changes from all tabs until it's submitted.

It seems to have been fixed as part of https://github.com/bitshares/bitshares-ui/issues/1024

[2018-02-24 20:39] abitmore commented on #1070
Currently, the asset search feature fetches and caches all assets from back end, then perform the search locally. As commented in https://github.com/bitshares/bitshares-core/issues/688#issuecomment-368257926, please try NOT to fetch all assets only for the search feature. Sooner or later it will be unpractical to do so. Why the account search feature is not implemented this way? Perhaps we need co

[2018-02-24 21:46] startailcoon commented on #1070
@wmbutler I advice opening a new ticket for implementing a new way to search for assets. The current way may not be the best way to do it as @abitmore writes.

[2018-02-24 21:54] btsfav commented on #1203
@wmbutler it's a cool tool and I played around with it in the last hours, however, here are the downsides I see:

* Naming schemes in the wallet are confusing, ie. there are billions of buttons with no definite name = cypress won't find a specific one easily
* For a lot of actions you'll need a user name, password and an asset = you'd have to adjust those scripts
* Design changes are breaking the

[2018-02-24 21:55] abitmore commented on #775
@wmbutler almost "every other coin" has only a transfer operation, but we have more. At least we should add "transfer" in the url, otherwise it will prevent us from enabling other features via URL.

[2018-02-24 22:03] startailcoon commented on #1178
Debugging and tracking this, say one hour.

[2018-02-25 07:26] youaresofunny commented on #521
Hello, we also started to receive this error:
``"current_account_itr == acnt_indx.indices().get<by_name>().end():"``

[2018-02-25 07:35] wwg2018new commented on #869
@effath  how to run in  windows

[2018-02-25 07:36] wwg2018new opened #1205 "how to run in windows"
Child worker:
                             Asset     Size  Chunks  Chunk Names
    3ef82b1891d337f5dca3.worker.js  1.74 MB       0  main
      [25] (webpack)/buildin/global.js 509 bytes {0} [built]
      [35] ./node_modules/bitsharesjs/es/ecc/src/hash.js 1.38 kB {0} [built]
      [56] ./node_modules/bitsharesjs/es/ecc/src/PublicKey.js 6.73 kB {0} [built]
      [64] ./node_modules/bitsharesjs/es/ch

[2018-02-25 08:01] wwg2018new commented on #306
@lilianwen
Is it successful in Windows compilation？

[2018-02-25 09:56] btsfav opened #1207 "[1.5] Registration & Login front end tests"
# BitShares Register

## Expected Behavior
* visit Wallet
* click sign-up button
* define username
* test clipboard button
* check boxes
* copy & paste password

Note: last step needs to be done by hand "account creation"

## Script

[code]

# BitShares Login

## Expected Behavior
* visit wallet
* click login
* click cancel
* click login again
* enter user name
* enter password
* click login butto

[2018-02-25 10:06] btsfav commented on #1203
https://github.com/bitshares/bitshares-ui/issues/1207

[2018-02-25 10:17] startailcoon commented on #568
### Suggestion

When you edit one tab and switch there are unsaved changes, which may or not be remembered by the user upon saving with the save button on the tab bar.

I propose to add a message whenever the user changes something, to let them know there are unsaved changes.

I need some input on a good message and placement for this.

![bitshares-warningonchangeasset](https://user-images.githubu

[2018-02-25 10:21] swoopyy opened #1208 "Find markets tab scrolling"
When clicking on find markets tab, tab bar disappears without ability to scroll content up
![](https://media.giphy.com/media/1woh8J9IVkXFTmOAl9/giphy.gif)

[2018-02-25 10:29] startailcoon commented on #969
## Starting Review of CSS
I will start reviewing CSS styles. These changes will come in batches to ease the merging and less likely to cause issues.

### Current Progress and Changes
- [ ] Modals (CSS + JSX)

[2018-02-25 11:34] abitmore commented on #521
@youaresofunny "current_account_itr == acnt_indx.indices().get<by_name>().end():" means the account name already exists.

[2018-02-25 11:42] gibbsfromncis commented on #568
@startailcoon what do you think about some "warning" or "edited" icon on each tab where changes made?

[2018-02-25 12:15] youaresofunny commented on #521
@abitmore ah, thx

[2018-02-25 12:42] startailcoon commented on #568
@gibbsfromncis I like that idea.

[2018-02-25 16:51] ahdigital commented on #1200
Cool. I can provide help for this.

[2018-02-25 17:27] xeroc commented on #521
@abitmore that error is raised by the backend after some time even if the account name has not been registered before.

The faucet checks for dublicated accounts first, then tries register. Somebtimes then throws the error at backend. This is fixed by restarting the faucet :/

[2018-02-25 18:37] wmbutler commented on #568
I feel that we need something near the update asset button to complete the circle. I also think that the notification is a little wordy. Maybe @ahdigital can help here? Happy to make a small UX item for this.

[2018-02-25 18:40] wmbutler commented on #1208
Confirmed. This happens when the browser height is low.

[2018-02-25 18:44] swoopyy commented on #1208
assign to me please

[2018-02-25 18:46] wmbutler commented on #1203
Automated tests are the best way forward. Start small and add more complicated items later. I'd rather invest resources in tasks that bring automation. Automated tests do not replace human testing but they definitely help improve reliability. Regarding the account names, make that part of the test:

Test 1: Create account name: frontend-test-agent-00001
Test 2: login with account frontend-test-age

[2018-02-25 18:48] #1205 closed

[2018-02-25 18:48] #869 closed

[2018-02-25 18:49] wmbutler commented on #1178
Nice find, btw!

[2018-02-25 18:51] wmbutler commented on #775
So maybe we add a `type` parameter and make it optional so it defaults to transfer?

[2018-02-25 19:17] btsfav commented on #1203
@wmbutler you'd still need a loaded account for executing orders/trades etc. is there a way to setup a testnet that's automatically loading an account?

[2018-02-25 19:46] ahdigital commented on #568
@wmbutler please. I'm planing to look at this tomorrow.

[2018-02-26 01:46] AustinAmoruso opened #1209 "Remove react-foundation-apps dependencies"
The app uses react-foundation-apps components in a few places this is an outdated library that hasn't be update since 2015.

https://github.com/akiran/react-foundation-apps

[2018-02-26 02:40] AustinAmoruso opened #1210 "Remove alt-react"
This seems to be a random fork someone did and only ever made one release of the alt js hasn't been updated in 2 years.

https://www.npmjs.com/package/alt-react

https://github.com/altjs/react

[2018-02-26 03:52] SeavantUUz commented on #521
@wmbutler works fine for me now. Thx.

[2018-02-26 04:44] AustinAmoruso commented on #1209
I'm running into libraries that are old and should probably be removed at some point when I'm updating to react 16. I'm making new tickets as I find them. However I could see reasons to not remove this or to wait.

[2018-02-26 11:01] ahdigital opened #1211 "[1][ahdigital] UX - Denoting unsaved changes to tabs"
_Related to #568_

# Background

This is the UX proposed solution for handling scenarios where a user can make changes to forms that span multiple tabs. The pattern can be implemented globally, but the specific example below is to assist with #568. An annotated screenshot is below with explanations.

# Proposal
Click image to enlarge.
![568-clear changes](https://user-images.githubusercontent.com/

[2018-02-26 11:13] oflyhigh opened #1212 "Version 180215: Lost response when access dashboard and can not connect to personal node"
When I updated my bitshares UI to version 180215(BitShares.Setup.2.0.180215.exe), I encountered a series of issues.

#### The first issue

When I open bitshares UI, and try to access the Dashboard, the software will lost response, and I can not do   anything with it. There was no help, even if I exit and restarted it.

But I can access other pages, for example Exchange, Explore......

#### The sec

[2018-02-26 12:08] abitmore commented on #1212
As discussed, the first one is perhaps duplicate of #1178.

[2018-02-26 12:17] abitmore commented on #775
@wmbutler It's a bad idea to use account as the first part of the URL, if done so, it will be hard for apps to render other functionalities, for example asset info, market info and etc. If you really want that kind of URL, please use another prefix, e.g. `bitsharespay:account_name?asset=&amount=`, so other apps can adapt this as well.

[2018-02-26 12:21] abitmore commented on #1106
Seems nobody is working on this? Perhaps 2 hours is too few. Maybe 10 hours would be OK.

[2018-02-26 14:26] ahdigital opened #1213 "[3][ahdigital] UX - Navigation patterns"
## Background
Navigating the DEX can be confusing because:

- There are 5 different navigation methods:
	- Top navigation
	- Sub-navigation
	- Side menu navigation
	- Tabs
	- Hyperlinks
- The current top navigation styling attempting to denote parent>child pages are confusing
- Visually, the menus look clunky with different font sizes
- Some unclear iconography
- I've noted 3/4 different ways that

[2018-02-26 15:51] btsfav commented on #1207
@wmbutler tried to update the scripts to do the following:

select testnet and acitvate it.

and it's super frustrating to be honest. it's literally impossible to locate the testnet activate button, because it does not exists as a button somewhere. perhaps someone could give me a hint how to locate one specific button of the millions on there?

[2018-02-26 19:36] startailcoon commented on #568
I like the design proposal mockup and I'd like to work on it for this task.

[2018-02-26 19:40] startailcoon commented on #1211
Looking good.

Only question is the followikg

![](https://i.imgur.com/HG0a26v.jpg)

[2018-02-26 19:50] ahdigital commented on #1211
This just a page title, right? Not a child page of anything?

[2018-02-26 21:43] startailcoon commented on #1211
No other section has a page title between the top tabs and sub tabs.

[2018-02-27 01:11] wmbutler commented on #588
- [ ] User needs to be able to click on the actual icon in the typeahead (@AustinAmoruso we have a number of needed fixes on this. Since you created it, can you please take a look at this ASAP) ?
- [ ] Value in BTS is not calculated properly for RUDEX.STEEM. I entered .5 STEEM and the the BTS value is calculated at .078 BTS. Should be closer to say, $7.80. Maybe just a precision issue?
- [ ] When

[2018-02-27 01:13] wmbutler commented on #1211
I'd suggest it be in a transient tab to the right of "Explore". We decided last Sprint to put Send into the hamburger and remove it from being sticky at the top.

[2018-02-27 01:21] wmbutler commented on #1207
@btsfav we may be able to create an issue to make this button more accessible in the settings area for you. @startailcoon what do you think about this? We are trying to start using cypress.io to do frontend tests and it would be helpful if it was easy to script certain operations. Fav is finding it difficult to reference some frontend components. Happy to put some resources behind this to get it g

[2018-02-27 01:23] wmbutler commented on #1106
Moved this to April and increased hours to 5

[2018-02-27 01:25] wmbutler commented on #775
Argh. But then we are breaking form with other currencies. I'm trying to understand what other operations lend themselves to a QR code. Can you give some examples of why people would care to have a QR code for anything else?

[2018-02-27 01:26] wmbutler commented on #1212
I'd agree. @oflyhigh set your default display currency to BTS in Settings -> General and please post here if the problem goes away.

[2018-02-27 01:28] wmbutler commented on #1209
@AustinAmoruso before you move forward, please address the typeahead issues that have been requested. Thanks,

[2018-02-27 01:29] wmbutler commented on #1210
@svk31 please advise just to be certain.

[2018-02-27 01:29] wmbutler commented on #1210
Moving to 180315 so we have ample time to test.

[2018-02-27 01:30] wmbutler commented on #1203
Why not let your test load up an account?

[2018-02-27 02:10] pluswave commented on #775
@wmbutler there are many ,like
1.  to login to some server
1. to add some account to local address book
1. to create a limit order
1. to co sign a partial signed transaction
1. to vote for some proposal

MagicWallet version 1.5.4/1.5.6 has implemented the schema for payment request according to [my proposal](https://github.com/bitshares/bitshares-ui/issues/775#issuecomment-350202771): both generat

[2018-02-27 06:51] vaniyokk opened #1215 "[0.25][vaniyokk] Wrong connectionString assignment"
I found a possible node connection problem in case when SettingsStore was not initialized properly.
Here is the point

https://github.com/bitshares/bitshares-ui/blob/435170cea6c2a09cb077cf0007f4da6c8ba657a8/app/routerTransition.js#L100

It looks like error because **urls** array contains of plain connection strings mapped, not objects.

https://github.com/bitshares/bitshares-ui/blob/435170cea6c2a0

[2018-02-27 06:57] swoopyy opened #1217 "[.5] Send modal UI improvement"
Change dropdown control to searchbar that is displayed inside the drop area currently.
![alt text](http://dl4.joxi.net/drive/2018/02/27/0023/2626/1538626/26/c8fb0b9284.jpg)

[2018-02-27 09:09] svk31 commented on #1168
This was fixed by reverting the original PR.

[2018-02-27 09:09] #1168 closed

[2018-02-27 09:24] svk31 opened #1218 "[0.25] Menu login attempt on first load uses wallet mode instead of cloud model"
The passwordLogin boolean in WalletUnlockStore is out of sync with the one in SettingStore on first load of the GUI.

[2018-02-27 09:25] #1218 closed

[2018-02-27 09:27] ahdigital commented on #1211
There's no relationship between the top tabs and 'sub-tabs', so for this reason I don't really see why we can't keep the page title there.

Hypothetically, if both tab bars _were_ touching it would look like the sub-tabs are child pages of the Dashboard. But, click 'Dashboard' and hey - they're not! The view refreshes and you see the actual children.

I'm not 100% adverse to this idea **but**, the

[2018-02-27 09:36] svk31 commented on #1007
Remerged after changes from @zhyupe , I've tested it with cloud login; incognito mode, wallet mode and seems ok this time around.

A natural next step would be to add sorting of the markets based on volume now.

[2018-02-27 09:39] svk31 opened #1219 "[0.25] Incorrect or invalid feed prices break the exchange page"
Noticed on the testnet where feeds are not updated and/or incorrect.

[2018-02-27 09:40] #1219 closed

[2018-02-27 09:44] ahdigital commented on #1070
Perhaps something like Elasticsearch would be a good use for searching. I've seen it used on projects before and it is very fast at fetching and returning data.

As you know, on Telegram we've been discussing Ant Design. Here is a clean approach to using a [loading indicator on tables](https://ant.design/components/table/#components-table-demo-dynamic-settings). Try toggling the 'Loading' switch.

[2018-02-27 10:16] #1133 closed

[2018-02-27 10:33] svk31 commented on #1149
I've merged the PR but the latency numbers still overlap the names on small screens. Another thing is that the on hover display of buttons won't work on phones, so in that case they should just be always displayed I guess.

[2018-02-27 10:48] #1215 closed

[2018-02-27 11:24] ahdigital commented on #1179
I had a look and you can leverage wrapperProps ([API](https://github.com/reactjs/react-autocomplete#wrapperprops-object-optional)) to add your own class name to the typeahead results wrapper.

For example, inside TypeAhead.js I tested the following code (shortened for brevity):

[code]

I also managed to add my own classes to the typeahead items and inner wrapper:

[code]

I think by adding these

[2018-02-27 11:28] abitmore commented on #1007
In regards to the feature that sorts markets by volume, although I don't think it's a perfect feature if it's designed to "discover" new hot markets automatically (since fake volume can be easily made up which will render the feature useless), if the UI team really want it, core can provide an API to efficiently fetch required data from the pre-calculated ticker data stored with market_history plu

[2018-02-27 11:34] vaniyokk commented on #1215
My BTS wallet address: vaniyokk69

[2018-02-27 12:10] svk31 opened #1220 "[1.5] Market price change is sometimes shown as 0"
This is due to market stats being fetched in one market direction and looked up in the other. A fix should force fetching in only one direction, then invert the stats so both market directions are available from one API call.

[2018-02-27 12:13] #1220 closed

[2018-02-27 13:46] wmbutler commented on #1179
@ahdigital do you need some hours for this?

[2018-02-27 13:48] wmbutler commented on #1149
This needs a new design pattern ultimately. Let's just fix the bugs and we can get @ahdigital to revisit UX at a later date.

[2018-02-27 13:50] wmbutler commented on #1070
This will need to go to ES for sure.

[2018-02-27 14:00] wmbutler commented on #1211
I see.... looks like the Issued Assets contains a list so we are already 2 levels deep:

Top Level - Assets
Secondary Level - Issued Assets

That would make the third level the various settings for the issued asset which would typically be presented as the filters: `Primary Settings | Whitelist | Description ...`

I think it looks great as is, but this is yet another candidate for a complete sweep

[2018-02-27 14:02] wmbutler commented on #1217
This is actually a width issue of the new typeahead component. @AustinAmoruso can you assist since you created the component?

[2018-02-27 14:05] svk31 commented on #1210
It's not a random fork, it's a component that was added by the alt creator to handle some changes in react that required a change in syntax.

[2018-02-27 14:10] wmbutler commented on #775
@pluswave I think your desire for flexibility will jeopardize the reliable use of the QR code. There is no real business purpose for 1, 2, 3 or 5. 4 is a possibility but even those are very simple binary operations not requiring a qr code.

I find it disappointing that MagicWallet has used a schema-less pattern. It goes against everything the modern web has to offer, particularly restful API's tha

[2018-02-27 14:13] wmbutler commented on #1210
@AustinAmoruso our team is waiting in some fixes to the typeahead component. Would you take a moment to address the topic with @startailcoon and @ahdigital ?

[2018-02-27 15:02] ahdigital commented on #1179
@wmbutler I spent about 30mins looking into this. I'm hoping that startail can complete the task based off of my findings above.

[2018-02-27 15:03] ahdigital commented on #1149
@wmbutler Can you create a UX item to address the issues @svk31 raised please. Thanks.

[2018-02-27 15:06] ahdigital commented on #1211
Agreed - I vote leave the page title where it is for now @startailcoon . We're looking into the navigation patterns atm anyway.

[2018-02-27 16:26] startailcoon commented on #1211
I'm happy with that and that we've discussed it through.

[2018-02-27 16:26] ahdigital commented on #697
@wmbutler Can you explain a bit more your vision for this:

If you think about an inbox where messages are ordered chronologically, what will having an importance weighting do? Is it just to bypass the standard messages and appear at the top in a 'featured/hot/important' section?

[2018-02-27 16:30] abitmore commented on #775
@wmbutler MagicWallet **IS** a mobile app, it's the most popular mobile app for BitShares, IMHO it knows the best what a mobile app will need. The features listed above will most likely be added into the app sooner or later. I don't understand why you can't see it but insists that nobody wants those features. When MagicWallet team was implementing the QR code feature, we have no standard, so they

[2018-02-27 16:30] calvinfroedge commented on #588
@wmbutler

1) User needs to be able to click on the actual icon in the typeahead -> I added a fix for this on my branch, it's just adding the click event to the chevron icon

2) Value in BTS is not calculated properly for RUDEX.STEEM -> The problem here was for assets with precision < 0

[2018-02-27 17:31] pnomolos commented on #1177
@wmbutler @startailcoon I have a solution working that just uses the css "text-overflow" but I'm curious what browsers we target to make sure I don't use any CSS that's going to break :)

[2018-02-27 17:41] calvinfroedge commented on #588
@wmbutler I've fixed the problem regarding loading time required for assets in the typeahead, so I think that resolves the third point.

[2018-02-27 20:08] startailcoon commented on #1179
# Final Result

There's some GIF compression in licecap that makes it look like there is no border around the dropdown, but this is how it looks like in action now.

![bitshares-typeaheadasset_1](https://user-images.githubusercontent.com/12114550/36751906-de70b2a6-1c01-11e8-9ba5-3d439878fcf3.gif)

## White Theme
![image](https://user-images.githubusercontent.com/12114550/36752046-2d25998e-1c02-11e

[2018-02-27 20:11] diogogomes commented on #1030
Hello @ahdigital

I'm sorry for the time you spent in the Style Guide. We could have been coordinated from the beginning.

I sent you a message by Telegram on January 11 or 12 to invite you to work with me on this style guide but I haven't gotten any answer from you so far.

I agree with @wmbutler, we need cooperation.

In the face of our last conversation about design versioning, I know that you

[2018-02-27 20:12] diogogomes commented on #1030
Hello @wmbutler

During this last month I was helping users on Discord and collecting opinions from non-users of Bitshares on other channels and forums.

After this research, the most important point that was transmitted is relatively to the very complex, sometimes confusing and intimidating interface.

I decided on a more friendly approach using the colors and font sizes in this way so that new u

[2018-02-27 20:41] kapeer42 commented on #972
kapeer-42

[2018-02-27 20:44] startailcoon commented on #1179
@wmbutler This took significantly longer than estimated hours.
- Requesting 2 hours for this task

[2018-02-27 20:57] startailcoon opened #1222 "[.5][swoopyy] Allow wallet to connect to hidden nodes when none other are available"
The change that was made to allow nodes to be hidden is a great feature, but if none of the remaining nodes are responding, you will receive the error page where you need to select a new node.

From this stage you can't go to settings to change the available nodes to connect to, nor does the "reset settings" button fix anything related to nodes.

I encountered this issue when I had all nodes excep

[2018-02-27 20:58] diogogomes commented on #1213
@ahdigital What is your opinion about the secondary navigation bar only being present "on hover"(Dashboard/Explore)?

It may become confusing but I think it can be solved with an icon to sign that there is a sub-menu.

[2018-02-27 21:04] ahdigital commented on #1179
Yeah 15mins was a bit ambitious!

[2018-02-27 21:05] startailcoon commented on #1217
# Fixed In PR #1221

![bitshares-typeahead_input](https://user-images.githubusercontent.com/12114550/36754719-2561d6d8-1c0a-11e8-93af-a2d754742818.gif)

[2018-02-27 21:20] wmbutler commented on #1217
pretty slick!

[2018-02-27 21:23] wmbutler commented on #1222
As I recall, the error screen on a failed connection is different from the settings screen. Shouldn't we just have a failed connection go straight to Settings -> Access instead?

[2018-02-27 21:26] wmbutler commented on #1030
I'd like for you to work with @ahdigital on this. I think you both bring strengths to the table.

[2018-02-27 21:29] wmbutler commented on #588
One last comment in the PR regarding precision and estimation. I think we should leave the estimated value input field out for now. It's inaccurate in a variety of situations.

[2018-02-27 21:33] wmbutler commented on #775
Gotta love a community effort that can't look at a standard across..... um every single cryptocurrency in existence and adhere to it....

bitcoin, litecoin, ethereum all use a very simple understandable URL and we, BTS have to be the special snowflakes....

Bob: Every website uses `https://` to denote a secure web page
Fred: Fuck that. Let's use `web.secure`
Bob: Fred, you are a true innovator.

[2018-02-27 21:41] startailcoon commented on #1222
Well, the failed page is solely to be able to select what new node you wish to try, and inform you that the node you had as selected didn't work. I don't really see why you should be redirected to the settings page.

[2018-02-27 21:43] wmbutler commented on #697
Importance could be represented in relative terms visually depending on the amount of BTS allocated to the message. Maybe there is a column that displays the value and allows the user to sort by that value in its simplest form.

[2018-02-27 21:44] #1070 closed

[2018-02-27 21:46] wmbutler commented on #1222
Seems silly to have two separate pages to manage the same thing.

[2018-02-27 21:49] wmbutler commented on #568
UX Approved and complete. Assigned to you for 180315

[2018-02-27 21:51] wmbutler opened #1223 "[2.5][ahdigital][8][startailcoon] UX Nodes list layout and validation"
Related to #1149

[2018-02-27 23:11] diogogomes commented on #1030
@wmbutler As I mentioned in the previous comment, I've been waiting for an answer from him since the day I talked to you, January 12th, even before I published this issue.

[2018-02-28 00:52] SmileyChris commented on #1030
I'm unsure about the colours of dialog buttons. If you needed several buttons, the guide doesn't make it clear which colours to use. Maybe "primary", "secondary", and "warning" colour states?

<sub>As a UX aside, buttons with "yes" and "no" are terrible - always use the actions themselves as the button options (e.g. "Proceed" / "Cancel").</sub>

[2018-02-28 01:37] diogogomes commented on #1030
Thanks for your input. About the yes/no buttons it is just an orientation for developers, not to implement like this.

About the needed of several buttons, it was told to me in one previous issue that the UI never should have more than two buttons.

About the colours, are you referring only to the dialog or all colours in general?

Thanks

[2018-02-28 02:34] grctest commented on #1211
Seems like an appropriate issue to report this observation:
<img src="https://i.imgur.com/qEtDvVc.gif"/>

When you navigate to the page to update an asset, if you change the asset name in the URL (to check what their settings are) the asset name changes in the UI but the data from the original asset seems to remain in the fields.

[2018-02-28 04:48] iscrawler commented on #951
**abitmore** I didn't find in that guide anything about how to import wallet or private keys using CLI wallet 2.0. There is nothing about CLI wallet 2.0.

[2018-02-28 05:16] rngl4b commented on #1149
What do you think about displaying the active node at the bottom status bar?
Maybe even better, making it a dropdown menu to show (and choose from) other available nodes?

I find unpractical the need to go into Settings every time I want to see or change the node I'm connected to.
In addition, it could make it clearer the fact that web wallets and API nodes are just different interfaces and endpoi

[2018-02-28 06:20] swoopyy commented on #1222
I can work on this

[2018-02-28 06:41] xiangxn opened #1224 "Witness account when entering the "/ account" page, the browser will crash."
Witness account when entering the "/ account" page, the browser will crash.
safari,chrome

[2018-02-28 06:53] SmileyChris commented on #1030
@diogogomes just the colours of the buttons, but independent of whether used in dialog boxes or elsewhere.

[2018-02-28 07:50] ahdigital commented on #1213
I personally wouldn't have the secondary navigation bar only visible on hover. The consideration for touch devices aside, these type of menus can be annoying for users looking to operate them quickly.

Even with hover intent implemented it's easy for the cursor to lose focus of an item as it's moved diagonally away and unintentionally rolls over an adjacent item.

[2018-02-28 07:54] svk31 commented on #691
https://github.com/bitshares/bitshares-ui/pull/1214#issuecomment-368857528

I see the original intent was to leave the color in place so that's fine then. The animation is still so subtle it's not really noticeable but we can tweak that, same goes for the colors being used. So I'll merge the current PR and we can iterate some more from there on my two points above.

[2018-02-28 08:39] abitmore commented on #775
As a product manager (I think you are), please think bigger.

Before car is invented, everyone can only travel with carriages. Before mobile phone is invented few people can image how much convenience the huge amount of mobile apps brought to us nowadays, nobody knows QR codes at that time.

I'd say, the poorly designed URL schema that can only do transfers has been greatly limiting every other co

[2018-02-28 08:43] svk31 commented on #1110
Maybe I'm missing something here, but shouldn't this apply max collateral to a given collateral ratio? That gives you the max amount you can borrow at a given ratio. Your PR instead applies the remaining balance to a given collateral ratio, I think you should take into account the current position like what's being done in _maximizeCollateral.

Also, if the ratio is set to 0, you get a debt value

[2018-02-28 08:44] abitmore commented on #775
By the way, perhaps off-topic here, process of the bitshares-pay project is far slower than expected, I guess MagicWallet team won't wait for it, but will develop and promote their own merchant tools. They're real business with real money involved, not a toy or experiment, they can't wait.

[2018-02-28 08:47] #1177 closed

[2018-02-28 09:31] ahdigital commented on #1030
I must admit that I glanced over your Telegram message, probably because I was working on other issues for the last two sprints. I have however been engaged in the UX generally and now specifically this issue for the past few days.

Nevertheless, your update raises lots of questions for me so my combined feedback would be this:

## TL;DR
We need a much more detailed guide with practical examples g

[2018-02-28 09:56] ahdigital commented on #1149
I agree with the concept and tried it out in my own time a couple of weeks back. I'll revisit as part of #1223 perhaps.

[2018-02-28 11:23] abitmore commented on #775
Quoting some messages from Telegram group:

in any case, the scheme should provide deep linking within the app and should pretty much be able to cover ALL possible API operations
implementation specifics at this point would be up to the app developers
the prudent business decision...would be to not only set and describe the schema...but also provide a "Bitshares mobile SDK" so to speak
to handle t

[2018-02-28 11:47] abitmore commented on #951
CLI "2.0" is not recommended for claiming balance. Use the GUI.

[2018-02-28 13:24] wmbutler commented on #775
"you've got to think bigger"

Size has nothing to do with it. Standards win over flexibility every single time. This is proven over and over again. JSON is a wordy standard but because the schema is built in, it has become the overall standard.

A self-describing parameterized URL has withstood the test of time as well and this is the pattern being followed by millions of websites. The only reason

[2018-02-28 13:26] wmbutler commented on #1149
@rngl4b I like your idea of displaying the full node name in the lower right.

[2018-02-28 13:30] ahdigital commented on #1149
There is already a tooltip showing the node name, or did you mean something else?

![image](https://user-images.githubusercontent.com/3088454/36790079-92f92936-1c8b-11e8-9f67-fe89f1cca9f9.png)

[2018-02-28 13:35] wmbutler commented on #1213
Having a hard time understanding the relationship between the burger and the left side menu. Maybe this issue was not intended to address that. I like the way you are handling submenus but I still think we have a lot of discussion left around the overall hierarchy of the site.

[2018-02-28 13:36] wmbutler commented on #1149
I think he was actually talking about displaying the node without requiring the tooltip.

[2018-02-28 13:38] wmbutler commented on #1224
Switch your asset to BTS in the Settings -> General and report back. I believe we fixed this bug in the upcoming release. Please close if you find this fixes it.

[2018-02-28 13:48] ahdigital commented on #1213
I've included the sub-menu in that way for now, because that's how the [demo ](https://tympanus.net/Development/MultiLevelPushMenu/index2.html)I was pointed to integrate works.

That's not to say that the side in which is opens cannot change though. I also don't think it affects the top nav, sub nav or tabs which is the crux of the issue I think.

[2018-02-28 13:51] ahdigital commented on #1186
@wmbutler This can be closed now as PR merged.

[2018-02-28 14:05] abitmore opened #1227 "Sub tx fees when selling BTS"
https://bitsharestalk.org/index.php?topic=26018.msg316216#msg316216

[2018-02-28 14:14] wmbutler commented on #588
- [ ] Not properly warning user of insufficient balance
![withdraw](https://user-images.githubusercontent.com/1254810/36792185-6e9233ca-1c5f-11e8-898e-633cbe967574.gif)

[2018-02-28 14:17] wmbutler commented on #588
- [ ] Incorrectly stating that there are no gateways eligible for this withdrawal when OL is clearly available.

![ol](https://user-images.githubusercontent.com/1254810/36792285-cfc7df00-1c5f-11e8-987a-8fdd78a533eb.gif)

[2018-02-28 14:18] wmbutler commented on #588
- [ ] Withdraw modal takes about 5 seconds to appear. What is causing this? Can you background this operation so the user doesn't have to wait for the modal?

[2018-02-28 14:42] sschiessl-bcp opened #1228 "[10] Troubleshooting connection problems"
This issue is for the "Out of sync" issue and generally laggy behavior that occurs at times in the UI.
This will be a joint work from the UI and the infrastructure worker as the problem might be on either side.

In the first step I would like to collect symptoms that manifest and possible ideas as to why it happens and when it happens.

Please comment any and all ideas and suggestions that help to

[2018-02-28 14:46] wmbutler commented on #1228
From my perspective, this appears to happen arbitrarily not necessarily based on a particular operation. I think we need to have some socket console logs in the browser added so we can observe the pre and post events associated with a socket disconnect.

These logs could be added to the branch representing this issue.

[2018-02-28 14:49] svk31 commented on #1228
For reference the code checking if the blockchain of the API node is out of sync is located here: https://github.com/bitshares/bitsharesjs/blob/master/lib/chain/src/ChainStore.js#L141

It's treated as out of sync if the timestamp of the current node is more than 60s in the past compared to the user's local clock.

[2018-02-28 14:50] #1186 closed

[2018-02-28 14:51] #332 closed

[2018-02-28 15:04] ahdigital commented on #1228
Just adding some notes from my experience with this issue:

Yesterday, I was viewing some accounts with lots of assets and the browser was hanging whilst trying to connect to ol-api1.openledger.info

I just checked network tab on the portfolio page for my account and it connects to these addresses:

- wss://eu.nodes.bitshares.ws/
- https://ol-api1.openledger.info/api/v0/ol/support/coins
- https://

[2018-02-28 15:12] wmbutler commented on #1228
Possible thought is to render the Withdraw / Deposit buttons based on a static list to avoid these constant calls:

[code]

[2018-02-28 15:14] svk31 commented on #1228
That's unrelated @wmbutler, the connection issue is with the websocket connection

[2018-02-28 15:18] calvinfroedge commented on #588
@wmbutler

I resolved the issue about balance warning, was also due to precision issue. I think your other two issues must both be related to calling the gateways.

[2018-02-28 15:32] wmbutler commented on #1228
We are double calling OL with every switch between dashboard and exchange.

![calls](https://user-images.githubusercontent.com/1254810/36796059-3cefbc10-1c6a-11e8-9ab6-3efd3e494af6.gif)

[2018-02-28 15:33] abitmore commented on #775
I'm not against using `?`,`&`, `=` and etc. I'm against putting account name after `:`, since it's not best practice, by doing so will be only able to do things related to an account. Better practice would be `protocol:action?parameters`.

[2018-02-28 15:37] svk31 commented on #1228
Also not a big deal, but I think the call in Exchange.jsx is a remnant from when we had quick buy functionality from Blocktrades in the Buy/Sell forms. I can remove it.

[2018-02-28 15:42] wmbutler commented on #588
We are calling OL endpoint in triplicate.

![calls](https://user-images.githubusercontent.com/1254810/36796650-a66c2f42-1c6b-11e8-929d-3234ebc4d78c.gif)

[2018-02-28 15:48] wmbutler commented on #588
![calls](https://user-images.githubusercontent.com/1254810/36796973-756d24e0-1c6c-11e8-8447-3a174e063e38.gif)

[2018-02-28 15:52] wmbutler opened #1229 "[1] Duplicate and Triplicate calls to OL"
We appear to be calling OL api servers frequently and in many cases without good reason. Note triplicate calls for a single route change.

![calls](https://user-images.githubusercontent.com/1254810/36797197-fe968284-1c6c-11e8-9770-06dd3581ad42.gif)

[2018-02-28 15:56] svk31 commented on #1229
This is not a bug, and they're not being called for no good reason. They're called to check the available assets from the OL gateway, the status of which can change at any time so it's not that easy to cache these calls.

Either way these calls are completely non-blocking, nothing major waits for these calls to finish before rendering, and they're not taking up much processing power..

[2018-02-28 16:21] calvinfroedge commented on #588
Extra network calls should no longer be happening...please check your local branch to see if that resolved your load lag issue

[2018-02-28 16:35] wmbutler commented on #1229
Why are they being called in triplicate?

[2018-02-28 16:40] wmbutler commented on #588
- [ ] Placeholder should say "Search for Asset to withdraw"

![screen shot 2018-02-28 at 10 40 02 am](https://user-images.githubusercontent.com/1254810/36799906-d81482a8-1c73-11e8-84eb-d791d3e62cd6.png)

[2018-02-28 16:44] wmbutler commented on #588
- [ ] No gateways available to handle this withdrawal bug still exists. You must own OPEN.BTC to test this.

[2018-02-28 16:48] svk31 commented on #1229
They're not really, but now that Openledger has consolidated some of the calls I see the `coins` and `active-wallets` calls can be reused. I've added some memoization and caching of the values that should drastically cut down on the amount of calls being made. Cache TTL is set 30s right now, can be adjusted if necessary.

[2018-02-28 17:59] diogogomes commented on #1030
@SmileyChris

Thanks for your suggestion but this style guide was not approved. It was @ahdigital instead. You can see it on [this link](https://www.behance.net/gallery/62549753/Bitshares-DEX-UI-style-guide?ilo0=1).

---

@ahdigital

About the message was **before you started on Bitshares UI sprints**, I sent you when The day you were sharing your curriculum on the Telegram from Bitshares. I under

[2018-02-28 20:40] AustinAmoruso commented on #588
@wmbutler Sorry for the delay on responding I will take a look at this tomorrow to fix the interaction issue.

[2018-02-28 20:42] AustinAmoruso commented on #1217
@wmbutler Sorry for the delay will work on this tomorrow to fix the width.

[2018-02-28 20:42] calvinfroedge commented on #588
I think it's fixed already

On Feb 28, 2018 2:40 PM, "Austin Amoruso" <notifications@github.com> wrote:

[2018-02-28 20:43] AustinAmoruso commented on #1179
@startailcoon I will take a look at this tomorrow to add the ability for the className to be set, sorry for the delay.

[2018-02-28 20:46] AustinAmoruso commented on #588
Well then the first rule of IT has worked in my favor wait to see if the issue resolves itself. But honestly I'm sorry I was so slow to respond will try to be more expedient in the future.
@calvinfroedge Thank you for the heads up.

[2018-02-28 21:45] startailcoon commented on #1207
@wmbutler @btsfav of course we could and should add hooks for items that the scripts need to work properly.

I will look at your script(s) and add some easier hooks to the things you need.

If we add an issue for tracking it I will post some updates on this during the next milestone and we can make sure we get all the things required.

[2018-02-28 21:48] #1178 closed

[2018-02-28 21:49] startailcoon commented on #1179
@AustinAmoruso this has already been resolved.

[2018-02-28 21:49] #1179 closed

[2018-02-28 22:48] wmbutler commented on #1211
@ahdigital so, for continuity purposes, once the UX is complete and approved, you should:

1. Close the issue (this issue)
2. Write up the front end development issue
3. Reference this from the FED issue

[2018-02-28 22:50] wmbutler commented on #588
@AustinAmoruso thanks for checking back in. I believe you have @startailcoon or @ahdigital to thank for that.

[2018-02-28 22:51] wmbutler commented on #1207
Moving to next Sprint.

[2018-02-28 22:52] #1217 closed

[2018-02-28 22:54] wmbutler commented on #1030
Crediting @diogogomes 2 hours on this and closing. Let's work together. Hopefully, you and @ahdigital can find common ground.

[2018-02-28 22:54] #1030 closed

[2018-02-28 22:56] wmbutler commented on #1229
assigned 1 hour to your credit on this @svk31

[2018-02-28 22:56] #1229 closed

[2018-02-28 23:02] wmbutler opened #1234 "[.25] Font size in exchange"
Is it possible to get these font sizes equalized? Looks like the order book is a bit smaller than the rest.

![screen shot 2018-02-28 at 5 01 00 pm](https://user-images.githubusercontent.com/1254810/36818101-3320a96c-1ca9-11e8-9af0-c3e030093d1b.png)

[2018-03-01 00:35] iscrawler commented on #951
@abitmore I know that it's not recommended, but there is a **BUG** in GUI wallet and you know it. I'm looking for any way to make it work.
@wmbutler If you think it's not a bug and it's just a simple question, so my question is - what does this error mean: **Error claiming balance: AssertionError: Missing cipher text** and how to fix it?

[2018-03-01 01:01] ahdigital commented on #1234
Add me please.

[2018-03-01 01:48] ihaywood3 opened #1235 "integrate chat via converse.js/XMPP"
If this sort of thing has been suggested before please accept my apologies.
It would be nice to have an integrated chat/messaging function in the UI, most fiat-world exchanges have this.
The main advantage is a (reasonable) certainty that user X on the chat controls the account of the same name,
An easy off-the-shelf solution would be an XMPP/Jabber server configured to grant accounts of the same

[2018-03-01 04:14] #1195 closed

[2018-03-01 04:38] happyconcepts opened #1236 "Settings>Access>AVAILABLE NODES is greyed out"
In Settings>Access ...
the Tab for AVAILABLE NODES is greyed out, causing interface confusion. The tab text should be the active color for the active tab.

Also, I won't get into the 2 second latency issue here but it definitely suxxors. If I can get to Mars in 30 seconds why does it take 2 seconds just to get to Germany?

![settings access available-nodes](https://user-images.githubusercontent.co

[2018-03-01 04:49] happyconcepts commented on #1213
Not that I do not appreciate your thoughts on this, but to me the font color choice is horrible. You have put everything in either white or blue (Tabs, column data, etc) and there is no consistency to it which makes it really, really confusing. Don't fall in love with that shade of blue to the extent that you throw it around everywhere and ruin the UX. Please reconsider!

[2018-03-01 05:15] #1224 closed

[2018-03-01 05:57] happyconcepts commented on #1236
@wmbutler will you grant a [0.25] bounty for this fix? Seems in line with some other bugfixes recently seen around here. TIA.

[2018-03-01 08:51] svk31 commented on #951
You shouldn't login with a cloud wallet account. Create a brand new wallet, then create an account in that wallet using the faucet, then try to restore the json file.

[2018-03-01 09:52] ahdigital commented on #1213
The consistency I was aiming for was body text in white with elements in blue clicking clickable/tappable. So hyperlinks in the table, clickable icons and buttons in blue for example. This pattern would get carried throughout all 3 themes with a small tweak to 'light' given the body text would be changed to black.

I'm not sure I agree that blue has been overused given that the only solid blocks o

[2018-03-01 11:06] ahdigital commented on #1234
@wmbutler Check submitted PR for screenshot.

[2018-03-01 11:36] svk31 opened #1239 "[0.5] Market stats are not fetched in parallel"
Deferring the action makes the calls fire one after the other.

[2018-03-01 11:36] #1239 closed

[2018-03-01 11:45] #1236 closed

[2018-03-01 14:42] svk31 opened #1240 "[2] Performance issues in BindToChainState"

[2018-03-01 14:43] #1240 closed

[2018-03-01 18:01] startailcoon commented on #1040
related to #1195 perhaps?

[2018-03-01 20:11] #1234 closed

[2018-03-01 20:11] #1211 closed

[2018-03-01 20:15] #1149 closed

[2018-03-01 20:17] wmbutler opened #1241 "[1] Global settlement price on asset info page"
#1119

[2018-03-01 20:20] wmbutler commented on #1100
Revisit that after 180301 release. This may be resolved.

[2018-03-01 20:20] #1100 closed

[2018-03-01 20:20] wmbutler commented on #1109
Likely fixed in 180301 release.

[2018-03-01 20:20] #1109 closed

[2018-03-01 20:21] wmbutler commented on #1069
Non-issue now that we can hide assets. Credit @gibbsfromncis .5

[2018-03-01 20:21] #1069 closed

[2018-03-01 20:23] wmbutler commented on #1041
Closing this. Will re-open if someone decides to work it.

[2018-03-01 20:23] #1041 closed

[2018-03-01 20:24] wmbutler commented on #1040
Should be fixed for the 180302 release.

[2018-03-01 20:24] #1040 closed

[2018-03-01 20:25] #1002 closed

[2018-03-01 20:29] wmbutler commented on #998
Unfortunately, this issue is mired in some disagreements about how the URI should be defined for bitshares assets.

[2018-03-01 20:30] wmbutler commented on #989
@nbcks This issue is related to login, not account creation.

[2018-03-01 20:32] #909 closed

[2018-03-01 20:34] #812 closed

[2018-03-01 20:36] #766 closed

[2018-03-01 20:39] #691 closed

[2018-03-01 20:39] #588 closed

[2018-03-01 20:41] wmbutler commented on #359
@AustinAmoruso please either work this or give it up to someone else.

[2018-03-01 20:42] #64 closed

[2018-03-01 20:43] wmbutler commented on #44
Duplicate. ES search.

[2018-03-01 20:45] wmbutler commented on #17
@ahdigital UX might be helpful here so @gibbsfromncis can just follow your blueprint.

[2018-03-01 20:46] wmbutler commented on #450
Easy win. Somebody pick this up please.

[2018-03-01 20:48] wmbutler commented on #422
Pushing this out pretty far. UX needed.

[2018-03-01 20:50] wmbutler commented on #1173
OK, so then what is the functional difference between a linked account and a contact? What is the purpose of each and how are those purposes significantly different?

[2018-03-01 20:51] wmbutler commented on #1184
@svk31 need your input here.

[2018-03-01 20:52] wmbutler commented on #1161
ok, closing this since #1117 will solve it.

[2018-03-01 20:52] #1161 closed

[2018-03-01 20:53] AustinAmoruso commented on #359
@wmbutler what is missing from this? I thought it was just making the icon flash when it was lower than 1 bts?

[2018-03-01 20:54] wmbutler commented on #1098
@AustinAmoruso please release this issue if you aren't going to work it.

[2018-03-01 20:54] AustinAmoruso commented on #1184
@wmbutler This has already taken 4 hours I understand if that doesn't change the scope and there is likely to be more on it. I'm almost done with barring changes from PR input and making sure the charts render correctly.

[2018-03-01 20:55] #1150 closed

[2018-03-01 20:55] AustinAmoruso commented on #1098
Release this issue I will not have time to get to this sorry for being so behind.

[2018-03-01 20:57] wmbutler commented on #1146
Either release or resolve.

[2018-03-01 21:12] ahdigital commented on #17
I'd be tempted to put it on the modal (I have a nice idea to display it) because:

- Space is at a premium on the order form
- It adds another layer of complexity for less experienced traders