[2017-12-31 14:25] dot5enko commented on #883
Content of dropdown doesn't fit height of the page, so you need to scroll down the page to select some languages, is it ok? ![lng_slector](https://user-images.githubusercontent.com/5626922/34462193-e9cf9362-ee46-11e7-9c3d-9e34b56ad094.gif)

[2017-12-31 16:21] wmbutler commented on #883
I see that the modal gets wider after selection. Is there a way to resolve that?

[2017-12-31 16:31] wmbutler commented on #927
Please have this ready by Jan 04, 2018 if you intend to work it. This is a pretty important issue to resolve.

[2017-12-31 16:37] wmbutler commented on #930
@chrisciszak what is is supposed to link to? Happy to add it, or you can issue a PR.

[2017-12-31 16:41] wmbutler opened #935 "[8][ahdigital] Hierarchical Right Menu"
This menu can accommodate every cascading level of the Bitshares Wallet feature set in a logical way. This has been discussed in a PR, but I think it needs and issue to itself with a dedicated effort. Ideally, as the application moves towards smaller screens, the various levels will collapse into this unified right menu under the account name and the burger:

![screen shot 2017-12-18 at 9 12 53 pm

[2017-12-31 17:00] pnomolos commented on #927
@wmbutler PR is in #933 👍  😄

[2017-12-31 17:36] dot5enko commented on #883
@wmbutler  made it 450px fixed width,but look at create account in russian now:
![fixed_width](https://user-images.githubusercontent.com/5626922/34463353-c192f090-ee61-11e7-86f8-af7350ff4948.gif)

[2017-12-31 17:51] wmbutler commented on #883
Let's increase the button width to account for the Russian translation.

[2017-12-31 18:19] Kennybll commented on #935
I can work on this.

[2017-12-31 22:22] pnomolos commented on #893
I can take a stab at this - thoughts on whether to do typeahead or smarter dropdown?

[2017-12-31 22:45] pnomolos commented on #892
What about having it so that if you attempt to do something that requires login that the login screen is shown (as opposed to just greying it out).  That may help alleviate some of the confusion?  It could even have some nice text explaining that until you login/unlock the wallet you aren't able to do anything involving that involves committing funds.

[2017-12-31 23:17] startailcoon commented on #733
Merged, Closing issue

[2017-12-31 23:17] #733 closed

[2018-01-01 06:37] happyconcepts opened #936 "Chart Height: Input field missing"
Cannot adjust the height of the chart using Windows Light client 1219

![nochartheight](https://user-images.githubusercontent.com/14145836/34466014-d261a6d2-ee7a-11e7-8977-fbababf1654a.png)
.

[2018-01-01 09:42] HarukaMa opened #937 "[2.5] UI freeze if all nodes are not connectable before timeout"
Telegram user reports: on poor network conditions, when starting the client, if the wallet fails to connect to every node before timeout, instead of trying again, it would trigger a infinite loop, consuming the whole CPU core and freezing the whole wallet / browser tab.

[2018-01-01 14:08] xiangxn opened #938 "[.25][zhyupe] QR code background color should be white"
QR code background color should be white, otherwise it will affect the recognition success rate, especially in the identification of pure js.

[2018-01-01 14:27] startailcoon commented on #938
Please specify in what places it is not white, and we will make sure it is.

[2018-01-01 14:29] startailcoon commented on #937
Could this be related to the latency checker that is done on start?

[2018-01-01 16:32] startailcoon opened #939 "Market Buy/Sell orderbook not updating to include users new orders"
This needs to be looked into a bit, but there's clearly something not updating as expected.
When I create new orders they aren't visible in the order book unless I manually refresh the market.

I assume it needs to include checking to refresh data when users orders are changing.

### I just created these orders
![image](https://user-images.githubusercontent.com/12114550/34469172-4abb44dc-ef19-11e7

[2018-01-01 16:35] xiangxn commented on #938
the QR code in Private key viewer

[2018-01-01 17:27] startailcoon commented on #926
There's no TRADE.X bridge in the current version. Are you using the latest version?

[2018-01-01 17:29] DBCerigo commented on #926
In the end I traded to open.ETH and then used the gateway, so issue closed from me.

I was using the web openledger.

Feel free to close now - though it's still a case of withdraw button throwing error and now message given to user so might want to fix.

Thanks

[2018-01-01 18:36] dot5enko commented on #883
@wmbutler i don't think its a good idea to change width of only russian translate because that would be hardcode. probably we could make one button per row to fix this problem

[2018-01-01 18:57] Xeldal commented on #895
3-A)
![](https://media.giphy.com/media/3o752fSkHzMWk5VvNu/giphy.gif)

In this example:
- If any old "local wallet" is detected, pressing "use key-file" prompts download
- User can select "I already have a key-file" to skip download and select key-file
- Canceling from the download screen brings user to "Account Name" login
- As each file is downloaded, the old "local wallet" is removed from the br

[2018-01-01 22:36] startailcoon commented on #557
## Progress so far
Still a few things left to fix, but the progress so far is good.

Still missing:
- Gateway `?` link
- Single gateway automatically selected
- Copy Address/Memo
- Disable QR on memo (as in Send Modal)
- Fix for double assets when more than one gateway share it (TypeAhead)
- General Layout

Here's a preview of it.

![bitshares-depositmodal](https://user-images.githubusercontent.co

[2018-01-01 22:54] lbn349 commented on #937
Hi i was reporting this to HarukaMa. About 50% of the time it eventualy finds a node to connect to.

Heres a screenshot of wat devtools does wen it freezes (notice the warning number top right reaches 10,000+ warnings , so it does a javascript loop/memory leak:
![bitshares2](https://user-images.githubusercontent.com/35014105/34471635-89bd844e-ef1c-11e7-9806-12167adf4e7f.png)

and heres a screensho

[2018-01-02 00:47] lbn349 commented on #937
also, it should have longer timeout for weak wifi connections thru vpn

[2018-01-02 09:46] btsfav commented on #939
sounds like a bad node

[2018-01-02 15:33] #927 closed

[2018-01-02 15:34] #929 closed

[2018-01-02 15:46] Kennybll commented on #929
@svk31 quick question do I get paid, and if so how much...

[2018-01-02 15:51] svk31 opened #941 "[alexandrty] Openledger get-last-address returns memo as address for Steem"
Request URL:https://ol-api1.openledger.info/api/v0/ol/support/simple-api/get-last-address

![image](https://user-images.githubusercontent.com/6890015/34489545-0ea5b120-efdd-11e7-8420-5cfc23a3393f.png)

{"address":"pqpfdr-d940-qsj99ue6-5dwrq16e"}

This should return an address and a memo

[2018-01-02 15:54] #823 closed

[2018-01-02 15:54] #883 closed

[2018-01-02 15:56] svk31 commented on #926
This was already fixed here: https://github.com/bitshares/bitshares-ui/issues/765

[2018-01-02 15:56] #926 closed

[2018-01-02 16:02] svk31 commented on #932
Unable to reproduce but I think I know why. There's a filter in the GUI that removes orders that are very far from the market price, which was the case of your missing orders. I'll just remove that filter since I don't think it's needed anymore.

[2018-01-02 16:04] #932 closed

[2018-01-02 16:07] svk31 commented on #521
The error message is from the faucet, meaning it's a faucet issue not GUI.

[2018-01-02 16:09] svk31 commented on #939
This is very surprising, the API node should notify you of new orders regardless of whether they belong to you or not, and I've never seen any issues like this before (meaning the orderbook has always stayed in sync for me)

[2018-01-02 17:09] dot5enko commented on #883
@svk31 i forget to push width fix, please accept it https://github.com/bitshares/bitshares-ui/pull/942

[2018-01-02 18:27] wmbutler commented on #521
@xeroc I closed this, but please place some monitoring on the faucet or add some redundancy.

[2018-01-02 18:28] wmbutler commented on #941
@svk31 Did you notify OpenLedger?

[2018-01-02 18:29] svk31 commented on #941
Yes

[2018-01-02 18:33] wmbutler commented on #557
- [ ] Hide the Memo: label if no memo is used
- [ ] Do not show the QR code if a memo is required, reason: users may scan the qr code and not realize that they need a memo. We should have a warning that the memo is required as well. This should mimick the same styling as the the Buy modal when a memo is required.

Great Work!

[2018-01-02 18:36] wmbutler commented on #936
Moving to tradingview.

[2018-01-02 18:36] #936 closed

[2018-01-02 18:38] wmbutler commented on #892
This works. I think this is mainly a problem with the cloud wallet. I need to use it more often to fully understand the problem here.

[2018-01-02 18:39] wmbutler commented on #893
Let's improve the dropdown for now. We can add the typeahead as a feature after we fix this bug.

[2018-01-02 19:11] pnomolos commented on #893
@wmbutler Right now the dropdown `overflow` attribute is set to hidden if there are less than 9 elements (or 8, don't remember exactly).  Would you prefer that I add a new attribute that can be passed through to mark the number of list elements the threshold should be at, or change how it works so the `overflow` attribute is modified client-side depending on the size of the dropdown.

[2018-01-02 20:42] grctest commented on #941
I too experienced this on openledger today :(

[2018-01-02 21:27] wolfpirker opened #943 "change of deposit address without intention"
The issue I report here occurs in Basic Mode with Open.WAVES deposits; I tested it on bitshares.openledger.info.
I only checked Open.LTC and Open.Waves, not sure if there is any other assets where there is this issue - with LTC I couldn't reproduce the issue.

If a Waves deposit address is created, and the deposit address dialog is opened again after more than 5 minutes, the deposit address is cha

[2018-01-02 23:38] wmbutler commented on #943
Please test at wallet.bitshares.org. If it occurs there, we will address it.

[2018-01-02 23:40] wmbutler commented on #893
@pnomolos it doesn't really matter to me.

[2018-01-03 00:58] Kennybll commented on #911
I can do this!

[2018-01-03 01:59] wmbutler commented on #911
Great. Can you finish it by Jan 4?

[2018-01-03 02:09] wmbutler commented on #667
Closing and will pay for the time you invested in this.

[2018-01-03 02:09] #667 closed

[2018-01-03 02:09] wmbutler commented on #769
@svk31 is this getting pushed again?

[2018-01-03 02:10] wmbutler commented on #744
@startailcoon are you planning to have this complete?

[2018-01-03 02:11] wmbutler commented on #513
progress?

[2018-01-03 02:11] wmbutler commented on #727
Progress?

[2018-01-03 02:11] wmbutler commented on #828
Progress?

[2018-01-03 02:12] wmbutler commented on #756
@xeroc

[2018-01-03 02:15] wmbutler commented on #588
@calvinfroedge please try to have this out by Jan 4. This is an important feature. Add enough hours to represent the time you put into it.

[2018-01-03 02:16] wmbutler commented on #691
@startailcoon

[2018-01-03 02:16] wmbutler commented on #773
Closing and will pay you for your time. Please post your bts address.

[2018-01-03 02:16] #773 closed

[2018-01-03 02:18] wmbutler commented on #888
@dot5enko can you have this completed by Jan 4?

[2018-01-03 02:18] wmbutler commented on #889
@happyconcepts Can you have this completed by Jan 4?

[2018-01-03 02:19] wmbutler commented on #893
Please complete by Jan 4.

[2018-01-03 02:19] wmbutler commented on #901
Suprised nobody has claimed this easy issue. Moving to next Sprint.

[2018-01-03 02:22] wmbutler commented on #904
MIlestone YYMMDD represents the due date. Moving this to the next Sprint.

The colors are variables for each theme I believe.

[2018-01-03 02:23] wmbutler commented on #905
@svk31 I moved this to the next Sprint. You can move back if you think it's going to happen, but I assumed it was a big job.

[2018-01-03 03:29] Kennybll commented on #911
Yeah, as long is you like the PR...

[2018-01-03 06:19] btsfav commented on #521
@wmbutler is it working again?

[2018-01-03 06:35] wmbutler commented on #521
I haven't tested it, but my understanding is that it was a faucet issue and has nothing to do with the UI.

[2018-01-03 06:36] wmbutler commented on #911
Great. Finishing on 1/4 will allow us time to test and provide feedback.

[2018-01-03 06:51] wmbutler commented on #911
@Kennybll you didn't really match this UX very well in my opinion. I've included a screenshot of each for your comparison.

## Style Guide UX

![screen shot 2018-01-03 at 12 48 55 am](https://user-images.githubusercontent.com/1254810/34511291-09b72f2a-f020-11e7-8156-be21df094218.png)

## Your Work

![screen shot 2018-01-03 at 12 49 07 am](https://user-images.githubusercontent.com/1254810/34511297-

[2018-01-03 06:54] btsfav commented on #521
@xeroc ?

[2018-01-03 06:59] wmbutler opened #945 "[1][pnomolos] Remove Send modal immediately after clicking confirmation"
After Accepting the confirmation modal, we should remove the send modal behind it. In cases where the node is slow to respond, this creates a very confusing situation for the user because the confirmation screen has gone away but the original send modal is still in place.

Upon clicking confirm:

- [ ] Close the original send modal
- [ ] Then close the confirm modal

![send](https://user-images.gi

[2018-01-03 08:02] alexandrty commented on #941
OpenLedger fixed problem

[2018-01-03 08:11] svk31 commented on #941
Looks to have been fixed indeed, thanks @alexandrty

[2018-01-03 08:11] #941 closed

[2018-01-03 08:13] pnomolos commented on #893
@wmbutler Ready for review in #947, thanks! :)

[2018-01-03 11:05] dot5enko commented on #828
@wmbutler everything ok, tweaking typeahead component to meet all requirements for this task. would be done in current milestone

[2018-01-03 11:09] dot5enko commented on #887
@svk31 can you help me with this ?

[2018-01-03 11:29] startailcoon commented on #943
All I know is that we agreed on, when building the new Buy Modal, to regenerated new addresses upon opening the modal.

https://github.com/bitshares/bitshares-ui/issues/651#issuecomment-342907487

If this is the reason for it, I do not know though.

Aren't all addresses always generated to be tied to the same user? If I generate a new address, every old address I've sent to before should still be

[2018-01-03 12:08] startailcoon commented on #939
It may very well have been a bad node. Today this works as it should. Not really sure what happened here. I should have taken some more logs when this happened.

[2018-01-03 12:08] #939 closed

[2018-01-03 13:06] HarukaMa commented on #937
I think I found the reason, now trying to fix it.

[2018-01-03 13:34] zhyupe commented on #938
I'd like to claim this issue.

[2018-01-03 13:34] xeroc commented on #521
The faucet is API compatible with the previous faucet software. Can you elaborate on the JS issue?

For the record ... the faucet is working all fine and registered many thousand accounts in the first 2 weeks.

[2018-01-03 13:39] btsfav commented on #521
@wmbutler @svk31 please re-open and check this ASAP. should've been fixed like 4 days ago...

[2018-01-03 13:51] xeroc commented on #521
Turns out .. the error message was produced by the backend. A restart of the faucet fixed the problem. I will investigate the root cause of this issue .. Please ping me if this happens again

[2018-01-03 14:37] zhyupe opened #949 "Color problems of the right menu icon"
It currently looks like this:
![image](https://user-images.githubusercontent.com/2197479/34524114-448cd554-f0d5-11e7-8f3b-546cbe1482c1.png)

Which should be:
![image](https://user-images.githubusercontent.com/2197479/34524127-4c0d3580-f0d5-11e7-9736-49bd822757e0.png)

This problem can be even worse with light theme:
![image](https://user-images.githubusercontent.com/2197479/34524269-d39f334a-f0d5-

[2018-01-03 16:34] startailcoon commented on #557
## An updated version

Still need to do:
- [ ] overall translation code
- [ ] css styling
- [ ] code cleaning
- [ ] handling `unknown` address when gateway say it isn't disabled

![bitshares-depositmodal-2](https://user-images.githubusercontent.com/12114550/34529211-8a0ea85c-f0ab-11e7-9ceb-480e5fef8267.gif)

[2018-01-03 17:36] Xeldal commented on #917
Later, with the proposed feature #895 Both options at the bottom, "RESTORE" and "ADVANCED",  become unnecessary / redundant .

**RESTORE** is the same as providing your key-file (backup) which will be done from the proposed login screen.

**ADVANCED** option is just creating a key-file (backup), which can be done with all accounts after creation.  The other options in Advanced "Restore from backup

[2018-01-03 18:25] pnomolos commented on #945
@wmbutler I'd like to claim this.

[2018-01-03 19:09] iscrawler opened #951 "[4] Error claiming balance: AssertionError: Missing cipher text. BUG!"
Log in with a network name, create a new local wallet, export(through console command) then restore the 0.93 json file, which shows the unclaimed balance, import keys then wallet/lookup balances. It shows unclaimed balance & vested balances which i try to claim to my network username, from the drop-down, then get this error message: Error claiming balance: AssertionError: Missing cipher text.
![er

[2018-01-03 19:10] wolfpirker commented on #943
Actually I received the Waves I tried to deposit yesterday, 3 days later after I sent them. So your explanation is quite possible, that the previous address still belongs to me. Because of the huge delay I feared they are lost.

I couldn't reproduce the issue there, I cannot find the Basic mode. At openledger a "Switch to Basic Mode" button is shown at the top header bar.

[2018-01-03 19:11] pnomolos commented on #945
@wmbutler This may be a bit bigger than hoped - right now when you click "Confirm" on the confirmation dialog it's removed immediately - whether or not an error occurred (if an error occurred it's brought back up).  However, this means that it's going to be unnecessarily complicated to hook in at that point unless the "Send" dialog is always closed irrespective of the transaction succeeding or not

[2018-01-03 19:15] pnomolos commented on #901
@wmbutler I can do this.  Should it use 95% of the available BTS currently in the active account (to leave some for fees)?

[2018-01-03 19:37] dot5enko commented on #828
@wmbutler check out current result. Still need to fix some typeahead styling: no outline, height of input should be same as other inputs. But i saw some improvements in @startailcoon changes: https://github.com/bitshares/bitshares-ui/issues/557#issuecomment-355058301 ![send](https://user-images.githubusercontent.com/5626922/34536350-7e4cb0dc-f0cd-11e7-9616-617ddf0e8987.gif)

[2018-01-03 20:02] HarukaMa commented on #921
PR is at #954.

[2018-01-03 20:11] HarukaMa commented on #943
So this is not really a bug, it's just how OpenLedger works. I guess they actually contributed the code of that section. Just a guess.

It could be triggered if you already own open.BTC or somehow it shows up in portfolio, then clicking the deposit button on the right. Basic mode is now only used in OpenLedger AFAIK.

[2018-01-03 20:13] HarukaMa commented on #951
Seems that balance claim is causing a lot of issues, as I've seen different error notices in the telegram group. As potential developers are already claimed their old balances, is there a good way to trigger this process locally? I guess it could only be done in a private testnet, but how exactly?

[2018-01-03 20:32] Kennybll commented on #911
Okay I worked on it a bit more... though I think changing the markdown should be in another Issue and PR because we have different languages that would need to be changed around. @wmbutler

[2018-01-03 21:24] iscrawler commented on #951
Good question. How to exactly make it done?

[2018-01-03 22:01] gabev opened #955 "UI bug"
I'm using the latest version 171219 .deb installed on Ubuntu. When I click on the indicators ,tools or the setting symbol the popup window doesn't show up properly ; it's hidden by the Markets column.

![screenshot from 2018-01-03 13-38-01](https://user-images.githubusercontent.com/9032546/34541787-7cc8d130-f08e-11e7-937b-8457e2c4bd27.png)

[2018-01-03 22:38] btsfav opened #956 "Color bug in midnight theme"
![](https://i.imgur.com/DZ3B75a.png)

[2018-01-03 22:39] btsfav commented on #521
@wmbutler account creation works for now, I suggest to take this off of milestone

[2018-01-03 23:20] startailcoon commented on #557
@wmbutler, Additional hours requested: 3 hours (10 hours total)

[2018-01-04 01:53] happyconcepts commented on #889
Sure thing, but what does "Adjust for smaller fonts" mean exactly...how much smaller for example?

[2018-01-04 10:02] HarukaMa opened #958 "[.5] Don't swap asset notation of settlement orders in Exchange"
Settlement is the action of settling assets like bitCNY, and I think it should always show quantity in that asset, not in backing asset such as BTS. Or better, it should show both settle asset and backing asset.

[2018-01-04 16:39] wmbutler commented on #949
Please post screenshots of your proposed fixes.

[2018-01-04 16:43] wmbutler commented on #557
- [ ] Fix the height of the modal (pick a value that is tall enough to accommodate any circumstance)

Added .5 for this.

[2018-01-04 16:49] wmbutler commented on #521
Uh, I closed it 2 days ago.

[2018-01-04 16:49] #521 closed

[2018-01-04 16:50] wmbutler commented on #955
Closing due to imminent tradingview integration.

[2018-01-04 16:50] #955 closed

[2018-01-04 16:51] wmbutler commented on #911
I'm not suggesting changing the markdown. This issue is about making the style presented in the UX visible in the application.

[2018-01-04 16:54] wmbutler commented on #943
New deposit modals coming this month. Please test on the new modal and provide feedback. We will be retiring the old deposit screens.

[2018-01-04 16:55] wmbutler commented on #921
Please officially claim items before submitting PR's. Thanks for the PR!

[2018-01-04 16:58] wmbutler commented on #828
I couldn't verify these two from your screens.

- [ ] Change the question mark cursor to a finger pointer.
- [ ] Tweak vertical alignment of contact icon relative to member # as well.

[2018-01-04 16:59] wmbutler commented on #901
Maybe (max - 10) bts?

[2018-01-04 17:01] pnomolos commented on #901
Perfect, I'll do that.

[2018-01-04 17:02] wmbutler commented on #945
@pnomolos If and error occurs, the user can re-open the send modal. I don't see a problem with this. I think the send modal should go away either way. The send modal handles the gathering of data for the confirmation modal.

[2018-01-04 17:03] pnomolos commented on #945
OK, in thinking about it offline that probably makes sense anyway :)

[2018-01-04 17:04] wmbutler commented on #917
@Xeldal this issue isn't about "restore / advanced" or the keyfile discussion. This issue is related to what the initial screen looks like on devices.

[2018-01-04 17:05] wmbutler commented on #895
From xeldal:

Later, with the proposed feature #895 Both options at the bottom, "RESTORE" and "ADVANCED", become unnecessary / redundant .

RESTORE is the same as providing your key-file (backup) which will be done from the proposed login screen.

ADVANCED option is just creating a key-file (backup), which can be done with all accounts after creation. The other options in Advanced "Restore from ba

[2018-01-04 17:07] wmbutler commented on #937
Not sure how to proceed. Are you claiming this? Linking a PR to it?

[2018-01-04 17:35] Xeldal commented on #917
@wmbutler  Yes, I know what its about.

Given that both Restore and Advanced are options **displayed on this welcome screen.**  It's relevant to discuss their inclusion, is it not?

You wouldn't want to display them if you were also planning the linked proposed feature.
#895

The moved comment now makes little sense in the other thread.

[2018-01-04 17:38] wmbutler commented on #917
No, this issue is just about how the welcome screen should be presented as a single canvas.

[2018-01-04 17:42] wmbutler commented on #889
And Accounts / Contacts / Recent Activity with Filter:

![screen shot 2018-01-04 at 11 36 55 am](https://user-images.githubusercontent.com/1254810/34576653-3bb05af4-f144-11e7-9cbe-4ce407353082.png)

[2018-01-04 17:49] wmbutler opened #960 "Witness list is innaccurate on UI"
## Witness: witness.still is blank
![screen shot 2018-01-04 at 11 46 22 am](https://user-images.githubusercontent.com/1254810/34576891-05fef374-f145-11e7-8911-b34a7f9738f1.png)

![screen shot 2018-01-04 at 11 45 32 am](https://user-images.githubusercontent.com/1254810/34576901-10ecaace-f145-11e7-95ef-c1fb9831f0c3.png)

## Witness.still does not appear to be present in the top 19:

![screen shot 20

[2018-01-04 17:55] happyconcepts commented on #889
@wmbutler thanks for the clarification on font sizes.

I can't test this adequately right now for cross-browser issues; perhaps you or someone else who is more up to speed on the Tables Rewrite can take this issue after all.

[2018-01-04 17:56] Xeldal commented on #917
So when you selectively add / remove element to the screen this is called "presenting as a single canvas"
and when I suggest to add / remove elements to the screen it's called beyond the scope of the issue.

Got it.  Thanks.

[2018-01-04 18:09] Xeldal commented on #895
@wmbutler ^The above comment is completely out of context and makes reference to things that without said context make little sense here.  Just delete it.  It's unnecessarily confusing.  If I had wanted the comment here I would have put it here myself with the proper formatting.

[2018-01-04 18:26] dot5enko commented on #888
@wmbutler i'm working on it whole day. Still have few issues, try to accomplish them today

[2018-01-04 18:34] HarukaMa commented on #937
I'm not claiming this as I've hit a dead end here. PR should be another closely related issue, but won't resolve this altogether.

[2018-01-04 18:42] iscrawler commented on #951
It's not a question. It's a bug! At least 3 people getting same error!

[2018-01-04 19:28] Kennybll commented on #911
![image](https://user-images.githubusercontent.com/14302151/34580512-50288d1e-f15b-11e7-9077-1d62ea3fd452.png)

![image](https://user-images.githubusercontent.com/14302151/34580554-6d255244-f15b-11e7-87bf-abdeebe49547.png)

[2018-01-04 20:56] tbone-bts commented on #895
I'm really looking forward to the implementation of this feature as I believe it will clear up a lot of confusion.  Also, I wanted to point out that we should consider how a future trezor login would fit into this new way of representing the various options to log in, currently.  If I'm not mistaken, logging in with a trezor would fit in nicely as another option.   Of the selection methods discuss

[2018-01-04 22:40] wmbutler commented on #911
Nice

[2018-01-04 22:42] wmbutler commented on #888
Happy to increase the hours if needed.

[2018-01-04 22:43] wmbutler commented on #889
Happy to, did you push your branch?

[2018-01-04 22:53] Kennybll commented on #911
I couldn't get rid of scrollbar like in the style guide. The style guides also has a slight border around the content, but with the scrollbar it looks weird.

[2018-01-05 00:40] wmbutler commented on #911
You should be able to set `scroll=auto`.

[2018-01-05 02:25] Kennybll commented on #911
@wmbutler It is. I'm just saying if someone has a short screen, then the long list of pages will overflow, and to see the whole thing that have to scroll. That light border I was talking about would look nice when the screen height over larger than the height of the help nav menu. But if it's too short it would look like:
![image](https://user-images.githubusercontent.com/14302151/34592940-9c2124b

[2018-01-05 04:50] zhyupe commented on #949
Dark theme:
(normal)
![image](https://user-images.githubusercontent.com/2197479/34595934-c4ba291a-f216-11e7-8d03-fe8e23428072.png)
(active)
![image](https://user-images.githubusercontent.com/2197479/34595936-ca54ce3e-f216-11e7-930b-223494a55eda.png)

Light theme:
(normal)
![image](https://user-images.githubusercontent.com/2197479/34595947-deeb1aba-f216-11e7-906a-cf08cea5a06b.png)
(active)
![image]

[2018-01-05 08:06] startailcoon commented on #588
Spent aprox. ~2 hours on this issue, but it still needs more work before it's done.

[2018-01-05 09:11] pnomolos commented on #900
Does it make sense to tie this in to #901?

[2018-01-05 09:36] dot5enko commented on #828
@wmbutler, cursor now is a pointer, i try to record it with licecap. yup, vertical alignment really needs few pixels of tweaking

[2018-01-05 10:24] dot5enko commented on #828
Which one is correct ?
![image](https://user-images.githubusercontent.com/5626922/34605139-15296b26-f213-11e7-80f4-0ea253c634ae.png)
![image](https://user-images.githubusercontent.com/5626922/34605156-280d8fa6-f213-11e7-93de-0fcd8349f220.png)
![image](https://user-images.githubusercontent.com/5626922/34605178-4821ceb0-f213-11e7-8678-a7585e7d61ee.png)

[2018-01-05 11:06] dot5enko commented on #828
@wmbutler  i've seen that if i'm not unlocked my account wallet send modal do nothing when i click on send button. Seems it should say something or request for wallet unlock

[2018-01-05 11:13] startailcoon commented on #557
### Fixed

- [x] Fixes for modal popup issues
- [x] Ensure modal stays the same height
- [x] Ensure all themes apply
- [x] Translation fixes
- [x] Corrected links for '?'

[2018-01-05 11:44] bob-ggg opened #967 "Prices in USD, CNY, Euto and other FIAT currencies"
The value of BTS in various currencies is provided by witnesses to support MPAs. I suggest to provide quotes based on one of these currencies. This feature is of particular interest for traders in bitCNY, bitUSD, etc. since it provides an immediate view of misalignment in value.  A possibly more complex option supports access to external sources of data (say, coinmarketcap)

[2018-01-05 12:12] startailcoon commented on #727
Done some testing for this issue and I can not reproduce this either. The code shouldn't allow this to happen.

The tab `Proposed transactions` only show up when there are said actions. If there are x proposals, then x proposals should be visible in the section as well.

Can this be because of a bad node? Where you expecting proposed actions, or not?

I've made 3 proposed actions to `billbutler100

[2018-01-05 12:18] #893 closed

[2018-01-05 12:21] #938 closed

[2018-01-05 12:42] #921 closed

[2018-01-05 12:57] #828 closed

[2018-01-05 12:58] #949 closed

[2018-01-05 13:08] svk31 commented on #945
I think we should just close the Send modal once the user clicks Send.. The confirmation modal will then show up and will close itself once done.

[2018-01-05 15:49] startailcoon commented on #832
Found a repository that does native react QR and barcode scanner. This may be worth looking at for a starting point.

https://github.com/moaazsidat/react-native-qrcode-scanner

[2018-01-05 16:01] startailcoon commented on #812
Little late now, but I think we could save the asset name in the total column at the bottom, but write it out as `Total bitUSD` for example. Will give the user at least two referens points. One top and one bottom.

[2018-01-05 17:00] svk31 commented on #727
Account in props is an immutable object so the inequality should trigger if the properties change. However it's certainly possible its somehow related to the update cycle.

[2018-01-05 17:28] sudoaza opened #968 "The user on the top-right changes when it shouldn't"
Go to wallet.bitshares.com/account/someaccount
On the top right it changes to someaccount and the dashboard shows the data for someaccount
From there on it's like you're that account.

Of course with accounts i don't own thats not a big deal since i don't have the keys, but could happen that changes to some of my other accounts and end un doing a tx with the wrong user.

[2018-01-05 17:48] startailcoon commented on #727
I'd call this closed until further notice about it. Since we can't reproduce it

[2018-01-05 18:43] startailcoon opened #969 "[8][startailcoon] CSS Review and cleaning"
As talked about with @wmbutler on Telegram, we need to start reviewing and sorting out the large portion of CSS that we have built up.

During the work of both #556 and #557 I encountered some extra CSS styles that could be used overall, but couldn't since it needed more work to be used on more than one modal. This resulted in even more code in the CSS files.

## Work that needs to be done (as of

[2018-01-05 18:46] startailcoon commented on #956
### Merged, Closing Issue
**@wmbutler  Requested for this issue: .25 hours**

[2018-01-05 18:46] #956 closed

[2018-01-05 18:59] #901 closed

[2018-01-05 20:57] btsfav commented on #968
this has to happen, else you wouldn't be able to check the account's settings, votings and so on.

it's a feature and in the wallet since the beginning

[2018-01-05 21:08] sudoaza commented on #968
ok, cool.

[2018-01-05 21:08] #968 closed

[2018-01-06 00:03] startailcoon commented on #557
Hotfix: #970
~1 hour extra spent on this

[2018-01-06 01:19] diogogomes commented on #667
@wmbutler, do you need a pull request of mockups files to a `design` folder?

[2018-01-06 02:03] diogogomes commented on #909
Lately I have seen new users in the telegram and discord with the error `insufficient bitshares`. That's why I opened this issue.

**I would prefer that the tag be _feature_ instead of _question_.**

Regarding Open.XX was an example. If you prefer, I can create new user cases without the gateway.

**My suggestion is to implement a notification whenever the BitShares level gets too low.**

_(This i

[2018-01-06 07:13] landry314 opened #971 "Available Update Missing from Github Repository"
Within the BitShares Application an update notification is present but at:

  https://bitshares.org/download/

all the links are dead because the github repository is not updated here:

  https://github.com/bitshares/bitshares-ui/releases

[2018-01-06 10:17] startailcoon commented on #971
There where a need to fix a minor UI issue, so the release was removed from the repository until @svk31 can rebuild it again. It will be out in a few days.

I believe he's currently traveling, and unable to update the repo.

[2018-01-06 10:17] #971 closed

[2018-01-06 12:35] landry314 commented on #214
Well, in the new GUI, clicking on the Account Value at the top has become a pull down menu...

I think the pull down menu should be activated by clicking on the triangle and not the account name in which case this issue could still be implemented as a click on the account name and balance... what do people think?

[2018-01-06 16:39] HarukaMa commented on #754
I would against doing this now as many api nodes in the public list currently are not using 2.0.171212 release. That release fixes the spikes on market charts, but I'm still seeing some nodes return chart data with spikes, which means they are not running with the `get_potential_signatures` fix. If we remove that now there may still be problems.

I'd claim this though, but please reconsider if we

[2018-01-06 17:08] wmbutler opened #972 "[3][kapeer42] Exchange Order Scrolling"
When users decide to scroll through the order book, the bid and asks scroll independently. This offers no real advantage because it's important to always be able to see the closest bid/ask even when looking up and down the book. GDAX handles this elegantly and I think it would be wise for the DEX to do something similar:

## GDAX
![scroll1](https://user-images.githubusercontent.com/1254810/3464196

[2018-01-06 17:17] startailcoon commented on #972
I love the idea. I've been frustrated many times because the list isn't scrolled at the point of sales/buy prices but at a different spot because I've scrolled in it, or that it's just no at the correct place for some reason.

[2018-01-06 17:23] #911 closed

[2018-01-06 17:25] wmbutler commented on #945
@svk31 my only argument against this is that the user may find something small wrong on the confirmation screen and wish to correct a single piece of information. If we close the send modal, they will have to fill in the entire form again rather than tweaking a single value.

[2018-01-06 17:26] wmbutler commented on #889
Moving to 170115. Please post some screenshots so we can fine tune this.

[2018-01-06 17:27] wmbutler commented on #887
@svk31 did this make it into the current release? If not, please push, otherwise close.

[2018-01-06 17:28] wmbutler commented on #812
I'd like to remove units from everywhere except the top right. It's silly to repeat this everywhere.

[2018-01-06 17:29] #631 closed

[2018-01-06 17:40] dot5enko commented on #888
@wmbutler would be great if we can add two hours here.

[2018-01-06 17:43] pnomolos commented on #945
Well thanks to the magic of git I can revert my revert commit, maybe push
this out a milestone until it’s decided? :)
On Sat, Jan 6, 2018 at 9:25 AM Bill Butler <notifications@github.com> wrote:

[2018-01-06 19:33] startailcoon commented on #945
What if we just toggle the visibility of the modal when the user goes to confirm modal, then we can "unhide" it if the user press cancel on the confirm modal?

[2018-01-06 21:41] startailcoon commented on #744
I assume here that you're referring to the `My Open Orders` on the exchange tab, and not the actual markets sell orders.

It would mean we have something like this (crudely demonstrated with tables here)

&nbsp;|&nbsp;
-|-
Buy (market)|Sell (market)
Buy Orders|Sell Orders
My Open Orders/My Trades/Market Trades/Settle Orders|(<- with tabs spanning twice)

I would make `My Open Orders` the default t

[2018-01-06 22:29] wmbutler commented on #744
Correct, I think the market sell orders should sit separately and I'd imagine most who have the opportunity move this to the left side of the screen.

[2018-01-06 22:31] wmbutler commented on #945
this out a milestone until it’s decided? :)

I moved it to 180115

That would work too. It would actually look better without the additional overlap. Then the cancel button would toggle visibility back and a successful transaction would close it. What would a failed transaction do?

[2018-01-06 22:33] wmbutler commented on #888
Done. Any progress? Would love to see some screen shots. Also wanted to make sure that the div goes all the way across which would push My Market / Find Markets down as well.

[2018-01-06 22:34] wmbutler commented on #972
Right, this would solve that problem elegantly.

[2018-01-06 22:40] wmbutler commented on #214
Hrmmm. I like being able to click anywhere on the menu. Part of me like the idea of changing the currency from the menu, but honestly, I rarely do that and the settings menu is easily accessible.

[2018-01-06 22:43] wmbutler commented on #909
I think what we are looking for is a more succinct and readable error message. How about.

`Insufficient BTS balance to cover fees`

[2018-01-06 22:45] wmbutler commented on #667
No.

[2018-01-06 22:49] wmbutler commented on #727
Agreed. Sorry and will pay you for the issue.

[2018-01-06 22:49] #727 closed

[2018-01-06 22:50] wmbutler commented on #832
Nice, which milestone should we shoot for?

[2018-01-06 22:51] wmbutler commented on #967
Can you be more specific? Values are estimates in the portfolio. Are you referring to the Exchange?

[2018-01-06 22:53] wmbutler commented on #900
@pnomolos this is a separate feature.

It's fine with me and an easy win.

[2018-01-06 23:12] diogogomes commented on #909
`Insufficient BTS balance to cover fees ` sounds okay.

It would also be nice to have a notification to prevent these situations.

[2018-01-06 23:23] diogogomes commented on #686
Can this issue be for all major browsers? Chrome, Firefox, etc.

Maybe renaming to **`Browser Notifications`**?

[2018-01-06 23:29] pnomolos commented on #900
OK I’ll take it as well :)
On Sat, Jan 6, 2018 at 2:53 PM Bill Butler <notifications@github.com> wrote:

[2018-01-06 23:41] diogogomes opened #973 "[2][pnomolos] Implement context menu on desktop client"
_It's been reported on discord that pasting with right click doesn't work on desktop client._

The reason it's because **context menu it's not implemented on electron (desktop client)**.

The context menu is crucial especially for users without the habit of using keyboard shortcuts.

[2018-01-07 02:47] siphon11 opened #974 "Bitshares balance back to zero"
Hi helpers,

Could you please help me find out why my balance is back to zero while I have more than 2000?

If I ask now it's because I already spend 2 full days trying to find out without success.

I didn't made any transaction, I just can't find where my balance is.

I can see my 2 accounts in www.cryptofresh.com but I don't know where to look at to see my balance in this service.

Would truly a

[2018-01-07 03:10] pnomolos commented on #945
A failed transaction would carry on as it already does, I would think - it just brings the confirm modal back up with the error message.  At which point if you press close/cancel (forget which it is right now) you'd end up back at the Send modal?

[2018-01-07 03:21] happyconcepts commented on #889
@wmbutler I can't, no screenshots and some major RL complications. Sorry this one didn't work out.

[2018-01-07 03:30] happyconcepts commented on #967
It appears to be more about price feeds for MPAs on the exchange and not about the UI display of market orders, right?

[2018-01-07 07:28] pnomolos commented on #945
I've pushed an update to the PR, it's _better_ (I think) but still not optimal as the Send dialog now pops up briefly before the "Transaction Successful" notification pops up.

[2018-01-07 08:59] btsfav commented on #974
this is not a help forum, please use the official help channels:

https://discord.gg/gG5jb3D
https://bitsharestalk.org/index.php/board,45.0.html

[2018-01-07 10:24] dot5enko commented on #888
hm... i haven't seen that from your screenshot, so now its only pushes chart and order list. But seems it would be not that hard to meet your requirements. This is the current state of header. Try to ccomplete it today

![image](https://user-images.githubusercontent.com/5626922/34648622-4a4afe76-f3a5-11e7-8da1-88251079fd68.png)

[2018-01-07 12:57] Kennybll commented on #911
@svk31 Are you needing someone to take over for your steem witness?

[2018-01-07 14:38] svk31 commented on #972
I completely disagree, I think scrolling the two independently is far more useful and elegant. Having them scroll together would be very frustrating since you'll have no idea where you are in the orderbook.

That being said I also never use the vertical orderbook since I have enough screen space to keep it horizontal.

[2018-01-07 14:42] #974 closed

[2018-01-07 14:48] dot5enko commented on #888
![image](https://user-images.githubusercontent.com/5626922/34650453-4f60d9e2-f3ca-11e7-83a6-e3ec5e1a5be6.png)
![image](https://user-images.githubusercontent.com/5626922/34650464-763b6c08-f3ca-11e7-8a23-25d991cbb6ef.png)

[2018-01-07 19:53] wmbutler commented on #888
Looking awesome

- [ ] +/- sign on 24 hr change indicator
- [ ] The seocnd screenshot is better. Remember, there can be a lot of items added to that bar when assets are settled, etc.

[2018-01-07 19:55] wmbutler commented on #972
This would only affect the vertical orderbook. At least go use GDAX for a minute. If you carefully consider this, it doesn't remove any functionality and it only enhances the experience by always keeping the closest pairs together.

[2018-01-07 19:57] wmbutler commented on #911
This area is not for general conversations.

[2018-01-07 20:00] wmbutler commented on #889
OK, so should I take your name off of this one? Let me know how to proceed.

[2018-01-07 20:02] wmbutler commented on #973
- [ ] Allow right click cut/copy/paste in Electron Client

[2018-01-07 20:04] wmbutler commented on #686
Would be nice if we also provided a setting area for:

- [ ] enable/disable notifications

This would help users by not forcing them to enable/disable.

[2018-01-07 20:07] wmbutler commented on #909
We already have this on most screens. We disable the action buttons in cases where a trade cannot be completed.

[2018-01-07 20:18] svk31 commented on #972
It removes the ability to scroll bids while keeping asks visible and vice versa, I don't think removing that ability enhances the experience at all.

[2018-01-07 20:38] wmbutler commented on #972
How so? We are only hiding visibility to the extreme high and extreme low bids simultaneously. There is a limited use case for being able to have those extremes visible at the same time.

Looking at a few other exchanges, it underscores my point.

<img width="341" alt="screen shot 2018-01-07 at 2 34 41 pm" src="https://user-images.githubusercontent.com/1254810/34653843-20bcfcb8-f3b8-11e7-836b-8582

[2018-01-07 20:39] startailcoon commented on #972
Can we make it a tickable option? With a lock symbol for example?

I see both options as valid points of habits. Depends on how you like it.

As we've always had it this way, it may be strange for some users if it just changes.

[2018-01-07 20:52] dot5enko commented on #888
yup, they're all stylized in that way: settle price, margin call prices. i'll try to make screenshota with all of them

[2018-01-07 21:00] svk31 commented on #972
If you make it like the GDAX behaviour you eliminate the current behaviour, they're mutually exclusive. A lot of exchanges do things differently, that doesn't mean it's better. I think it's better to see both bids and asks at the same time, instead of the GDAX way where scrolling down the orderbook means you lose sight of the asks.

[2018-01-08 00:44] wmbutler commented on #972
The most interesting point here is that @svk31 doesn't use the vertical mode. I find it interesting that you are defending a use pattern that you do not use. I'm not sure I understand your reasoning.

[2018-01-08 00:49] wmbutler commented on #888
- [ ] Add a line across the bottom of your header that helps delineate the header from the rest of the lower elements. Just something to add definition.

[2018-01-08 04:49] wmbutler opened #977 "[3][kapeer42] Gracefully handle send operation for accounts with 0 BTS"
New account holders often do not have BTS in their account. As such, when they attempt to send 1 OPEN.BTC to another user, we attempt to extract the fee as BTS. This feature proposes that **if** the sender has <= total transaction fee of BTS, we should automatically pick the send currency in the UI to pay the fee:

## Example
User has .003 BTS and wants to send 1 OPEN.BTC to another user. In this

[2018-01-08 05:04] wmbutler opened #978 "BTS Price discrepancy"
BTS Settlement price is: .835 but Porfolio is showing it at $1

<img width="559" alt="screen shot 2018-01-07 at 11 03 54 pm" src="https://user-images.githubusercontent.com/1254810/34659515-27d7fcc2-f3ff-11e7-84eb-fa9ec902b19e.png">
<img width="692" alt="screen shot 2018-01-07 at 11 03 41 pm" src="https://user-images.githubusercontent.com/1254810/34659516-27e3b832-f3ff-11e7-9435-bf09b3601e6d.png">

[2018-01-08 07:05] wmbutler commented on #557
@svk31 please see if you can take care of this before release. Currently the assets in the deposit modal dropdown are NOT alphabetized. Please see that this is fixed before release.

[2018-01-08 07:06] btsfav commented on #978
did you check your node or dust trades? never recognized this bug

[2018-01-08 07:12] wmbutler commented on #557
- [ ] Reduce font size enough to handle most addresses. Maybe 1 point size smaller.

<img width="468" alt="screen shot 2018-01-08 at 1 11 27 am" src="https://user-images.githubusercontent.com/1254810/34661695-010f5998-f411-11e7-922e-acf5595a5808.png">

[2018-01-08 07:15] wmbutler commented on #978
It was stupid. I was viewing as BTS for my base currency.

[2018-01-08 07:15] #978 closed

[2018-01-08 10:55] vanissoft opened #980 "[1][dot5enko] Unlock wallet doesn't unlock operations until refresh"
Tested in Ubuntu and Chromium in cloud wallet. After you unlock the wallet via lock button, the operations panels (buy and sell) doesn't show up until there is an update via new operation incoming or by doing a toggle with "my trades" and "market trades".
Some user has reported the same in Zephyr Telegram group.

[2018-01-08 13:26] HarukaMa opened #981 "[.5] Scam address warning in new send interface"
When you input "poloniex" into "TO" in old send interface, there is a warning:

This is not present on new beta interface. We should consider adding that as well as those fake accounts are still a problem.

[2018-01-08 16:22] bob-ggg commented on #967
Actually, as a trader I monitor the price of bitAssets pegged to FIAT and
buy/sell according to the difference between the "fair"price and the one
provided by the UI of DEX. Currently, I have to 1) get the open orders from
DEX of, say, bitUSD and 2) check the quotation of BTS on Coinmarketcap to
calculate, for instance, how much btUSD is worth vs. USD.
A simple rule, as an example, could be 1) buy

[2018-01-08 16:56] ruslansalikhov opened #982 "[0.5] Cannot send until not edit "TO" input"
Cannot send tokens second time, until not edit "TO" input again.

![2018-01-08 21 43 58](https://user-images.githubusercontent.com/2409521/34681407-9d0d8570-f4bd-11e7-8479-e5a23892c0d3.gif)

[2018-01-08 18:54] startailcoon commented on #972
Just to give another example, here's how Kraken does their trading view.
They do not allow scrolling at all, instead they use grouping as a feature.

![kraken-trading](https://user-images.githubusercontent.com/12114550/34686796-0b091a28-f4ad-11e7-99fc-57ba5834b702.gif)

I don't see the benefit of having a scrollable trading list. It gets very long and it's easy to misread it as the closest price i

[2018-01-08 18:56] #900 closed

[2018-01-08 19:20] #982 closed

[2018-01-08 19:44] #557 closed

[2018-01-08 23:31] pnomolos commented on #900
@wmbutler BTS account name is: pnomolos-1.  Thanks!

[2018-01-09 00:15] wmbutler commented on #982
This is actually an issue with you are having a latent connection and the send modal is failing to close. This is resolved in #945 which will be released in the 15th

[2018-01-09 00:16] wmbutler commented on #972
Right, the idea of hiding the closest bid/asks is not a "feature".

[2018-01-09 00:18] wmbutler commented on #967
Unless you can offer some advice as to whom we would trust to know bitUSD:USD, I'm not sure we can be very helpful in resolving this issue.

[2018-01-09 00:25] wmbutler commented on #981
@svk31 I'll let you be the arbiter of this.

[2018-01-09 00:27] wmbutler opened #984 "[2][TBAPI-0KA] Operations should be eligible for cloud wallet users even if not logged in"
The local wallet allows users to initiate operations even if they aren't logged in. Seems we should be able to do the same for cloud wallet users. Discuss.

[2018-01-09 02:13] pnomolos commented on #973
I could take this - does using something like https://github.com/sindresorhus/electron-context-menu seem OK or should it be from scratch?

[2018-01-09 02:52] wmbutler opened #985 "[1][dot5enko] Separate Markets from Accounts / Contacts"
Currently, when clicking on the Bitshares logo in the upper left corner, we display markets and accounts. I'm proposing that we only display markets since accounts is a menu option currently.

<img width="1268" alt="screen shot 2018-01-08 at 8 53 35 pm" src="https://user-images.githubusercontent.com/1254810/34702931-07447c1c-f4b6-11e7-81fd-0cc638b9be8f.png">

[2018-01-09 07:01] ruslansalikhov commented on #982
@wmbutler it's another issue (input box was not reset (user saw text) but SendModal thought that it's empty. @svk31 fixed it already by commit 9d624f7 (thanks to him).

[2018-01-09 07:58] MarkoPaasila opened #986 "Proxy auto-entry prevents toggling votes"
User can't toggle any votes before erasing the auto-entered proxy. This happened after upgrading the light client, and doesn't occur again after erasing the proxy field once. I couldn't reproduce even by upgrading the client on another machine.

**How to possibly reproduce**

1. Choose account with no proxy
2. Go to voting
3. Observe if proxy-field is populated
4. If it is, you shouldn't be able t

[2018-01-09 12:15] cogentgene opened #988 "iOS Mobile Wallet"
# Proposal For an iOS Wallet to Increase User Adoption

Bitshares is a technological breakthrough that keeps hidden the many functions that could benefit society in many ways. With all of the hype in cryptocurrency market it is easy to overlook a stunning platform with so much potential. The fact that the current trading portal is so robust is evidence that the average user has a very large hurdle

[2018-01-09 19:36] HarukaMa commented on #972
It would also eliminate the issue that sometimes ask orders are not automatically scrolled to bottom when updating.

IMHO, vertical mode users should prefer to see an order book in whole like in a traditional trading environment, especially the closest orders, as it's the main difference from horizontal mode. Doing this is better I think.

I have never used grouping in different places though as I

[2018-01-09 21:29] startailcoon commented on #744
# Question
As we're condensing 3 tables in to one larger, I've got two suggestions on how to manage the layout.

## Layout 1
Stack Buy/Sell orders over each other in xlarge wide mode.
The new table will go in the empty spot.
When we go smaller the layout will go to the same as Layout 2 below.

In this layout we could switch place of `Price` and `Total` so it's more fluent.

![marketwide_1](https:/

[2018-01-09 21:44] diogogomes commented on #909
I'm talking about this prevent situations like Use Case 2

If Bob sells all BitShares, he will be without BitShares to use the DEX and his account will be freeze.

_Note: I'm seeing a grow of users on Reddit with stuck accounts_

Issue #977: Maybe if the user can always pay fees with other asset this use case can be resolved.

[2018-01-09 22:10] startailcoon commented on #832
I'm not taking any more tasks at the moment. It's free for grabs, and milestone suggestions.

[2018-01-09 22:20] HarukaMa commented on #754
I'm blocked by bitshares/bitshares-core#567, waiting for the answer.

[2018-01-10 07:23] svk31 commented on #744
I'm not sure I like the idea of collapsing even more tables into one big one, since it leaves us with less information available at a glance than we had before.

The current layout is the result of lots and lots of iterations back and forth with feedback from users.

[2018-01-10 08:17] startailcoon commented on #744
I tend to agree with svk, it could be a bit to much clicking to see the data that we now have available at a glance.

The issue with more data in the settle table still stands. How can we supply more info in there.

Should we widen the table to allow more data, and hide some when it's to small?

[2018-01-10 10:35] bob-ggg commented on #967
A simple solution would rely on the price feed offered for BTS by
coinmarketcap in USD. This is the most liquid market for BTS we have now.
With this number and the open orders from DEX, it is possible to compute
the current USD-based value of bitUSD. The same process is somewhat
trickier for bitCNY. A way to solve the puzzle is based on following the
most liquid path. Since the most liquid market

[2018-01-10 14:13] landry314 commented on #513
Now that the fee to withdraw a vesting balance is 1.85 BTS for non-lifetime members, does this matter anymore?

I think it can be closed as a wontfix.

[2018-01-10 14:37] xeroc opened #989 "[1.5][nbcks] Login Bug"
To reproduce:

1. Open an account in the cloud login
2. Reload the whole page
3. Click the unlock locker

Result: It will tell you that you don't have a local wallet and that you should create an account instead of asking for the password for the account that is shown in the top right

[2018-01-10 14:38] Xeldal opened #990 "Separate Burger Menu and Active Account switch list."
Currently the menu burger and the active account in top right are joined, where clicking either operates the menu.

I propose separating the two.
The burger is the menu
The Active account, when clicked, pulls down a list of accounts for switching. (if multiple accounts are available)

This cleans up the menu(its way too long) and provides quicker access to account switching.  Rather than it being

[2018-01-10 14:47] Xeldal opened #991 "[.5][zhyupe] Lock Highlights with Menu"
Currently when you hover over the menu, it highlights the active account, and the burger.  When pressed it also highlights the lock icon.

I propose each of the 3 items should highlight independently on both hover and click.

Clicking any of the 3 should only highlight that specific one, not all 3.

![](https://media.giphy.com/media/3oFzm3dd23ha7FiHpC/giphy.gif)

[2018-01-10 15:22] landry314 opened #992 "[1][HarukaMa] Two Decimal Precision in Fee Schedule Makes Many Non-Zero Fees Say 0.00 BTS"
Go to Fee Schedule in Explore and you will see many fees which are less than 0.01 BTS (0.005 if it is rounding up and not truncating) displaying as "0.00 BTS" making them appear to be zero.

If a fee is actually zero it says "Free of Charge".

The precision needs to be changed to the 5 decimal points that BTS supports so we can see the actual fees.

[2018-01-10 15:27] landry314 commented on #212
There is a fee called "TRANSFER ACCOUNT". Is transferring an account to another user supported by the blockchain?

[2018-01-10 15:49] Xeldal opened #993 "[5][AustinAmoruso] Deposit (beta) Asset Search Tweeks"
**Problems:**
- deposit popup loads blank.  Looks strange/bad.
- Asset search is cumbersome and annoying
- If no selection is made and dropdown closed, it automatically selects the last hovered item.
- After selection, changing to different asset requires manually deleting the text.  Annoying.
- Can't find all assets available for deposit. (temporarily disabled assets)

**Solutions:**
- Asset Sele

[2018-01-10 16:03] Xeldal opened #994 "[.5][nbcks] Show Balance on Margin Positions Tab"
I would like to see my current balance of each SmartCoin in the Margin Positions tab.

I see my debt but not my current balance.  It's useful to compare the two.

Currently I have to switch back to the poorly named `PORTFOLIO` tab or click `ADJUST` to make the comparison.

[2018-01-10 17:14] wmbutler commented on #993
Disagree

This is not scalable at anything over 25 assets

I disagree. Why lead a user down a dead end?

See previous answer

This is a typeahead and is the only meaningful way to deal with an ever growing list of assets

I have no idea what you mean

??

[2018-01-10 17:15] wmbutler commented on #212
Agree this would be very useful (and complicated)

[2018-01-10 17:15] wmbutler commented on #992
Easy win

[2018-01-10 17:16] wmbutler commented on #991
I almost agree. I think it should just be 2. The menu with the user's name and the burger should be together but the lock should be separate.

[2018-01-10 17:17] wmbutler commented on #990
Closing since we can handle this in the other issue.

[2018-01-10 17:17] #990 closed

[2018-01-10 17:18] wmbutler commented on #989
Thanks for the steps to reproduce.

[2018-01-10 17:19] #513 closed

[2018-01-10 17:20] wmbutler commented on #967
But then we rely on Coincap. It's a hard sell to this community I'd say.

[2018-01-10 17:22] wmbutler commented on #744
It's important to determine what we actually need at a glance. As long as the last tab viewed is active, seems that this could work out fine for most users. I think a bigger problem is the duplication of columns and the lack of horizontal space to display everything in complete form.

[2018-01-10 17:23] wmbutler commented on #832
That's awfully far out. Could we shoot for Feb 15?

[2018-01-10 17:26] wmbutler commented on #909
@diogogomes I think implementing #977 is a good first step. If we still have issues after that, we can look to this solution.

[2018-01-10 17:28] diogogomes commented on #909
I agree

[2018-01-10 17:29] wmbutler commented on #988
Closing this issue since this repo will never be home to a native mobile app. I do love the idea and hope you pursue it. In the meantime, please understand that we will continually add responsive design to the app via foundation so mobile devices can interact with almost every feature.

[2018-01-10 17:29] #988 closed

[2018-01-10 17:30] wmbutler commented on #986
Please do and thanks for the report.

[2018-01-10 17:30] wmbutler commented on #982
Sorry about that. Thanks.

[2018-01-10 17:37] HarukaMa commented on #992
I'd like to claim this.

[2018-01-10 18:23] startailcoon commented on #744
Just to track this issue a little better, here is what I have at present.

### Clear Changes
- [ ] Include settlement offset percentage in the price
- [ ] Display both assets quantity
  - This enables to remove the asset label, saving some space. But it needs to have room for two assets with up to 8 decimals.
- [ ] Display short settlement date (DD/MM HH:MM:SS) and make sure it's timezone adjusted

[2018-01-10 18:24] Xeldal commented on #993
- Asset Selection should default to BTS

It should default to something.  I don't care specifically that it be BTS, only that its a reasonable choice, BTC would also be fine.  Leaving it default to nothing just looks terrible.  Do you actually like how it looks?

- Dropdown should show full list regardless of previous selection

You're obviously missing the point.  You have to handle this situatio

[2018-01-10 18:29] Xeldal commented on #990
Which other issue.  I'm not see anything that's related to this.

Are you saying you agree?  or that you disagree?

[2018-01-10 18:33] startailcoon commented on #832
Sure, lets set that date and I'll aim for a completion of it at that time.

[2018-01-10 18:39] Xeldal commented on #991
Obviously if there are only 2 functions (a menu and a lock)  There should only be 2 highlights.  The suggestion for 3 only makes sense if you take action on #990

wrt #990 I'm assuming you're tying to combine that issue here as I don't see any other relevant issue.

You've actually complained about that very thing yourself not too long ago.  Saying you didn't like having the accounts all the way a

[2018-01-10 18:42] HarukaMa commented on #992
And I'm having another question. I know this sounds like a separate issue, but it's closely related.

We can choose to show some values in preferred unit, like bitCNY or bitUSD in Settings. It says "preferred unit of account" but it also affects these locations: open order value, worker budget value and fee schedule. In open order value we are not showing decimals; in budget and fee we are showing

[2018-01-10 18:55] wmbutler commented on #992
Def a separate issue

[2018-01-10 18:56] wmbutler commented on #991
Planning to solve for accounts at the bottom by moving to hierarchical. This will mean fewer items in the list prior to accounts.

[2018-01-10 18:56] wmbutler commented on #832
180215

[2018-01-10 18:57] HarukaMa commented on #992
This sole question for this issue though: Do we want it always in BTS, or configurable?

[2018-01-10 18:57] wmbutler commented on #992
Let's do both `BTS / Preferred Unit`

[2018-01-10 18:59] HarukaMa commented on #992
Got it, will show full precision on fee, and leaving others intact.

[2018-01-10 18:59] wmbutler commented on #993
Post a mock. I think it's dead simple to use.

[2018-01-10 19:00] wmbutler commented on #744
Would prefer you don't go this route.

[2018-01-10 19:02] wmbutler commented on #744
Having a hard time visualizing this.

[2018-01-10 19:07] startailcoon commented on #744
We need some way of solving this, that I can work with.

I can take time to put this together, if it is what we want.

Which is what I intend to do, yes. The active tab the user has open, will be the default when a user opens a market again. No previous setting will need a default tab, I guess `My History` is as good as any.

[2018-01-10 19:35] Xeldal commented on #991
For the full list of accounts that makes sense, under a menu item.  Or a link to the full list accounts page that has all the other useful information currently found on the `Top Markets` page.  A link to this in the menu is certainly a good idea.

However, I think the switch list, quick list, favorites list, whatever you call it, makes more sense to have  immediately available and not buried in a

[2018-01-10 19:41] HarukaMa opened #996 "[.25][zhyupe] Asset creation fee in fee schedule is not accurate"
The fee for asset creation works like this:

For 100% of the fee defined in network parameter:
- 50% of it goes directly into the fee pool of the new asset,
- 50% of it acts like network fee:
  - 80% goes over referral program,
  - 20% goes to network.

In fee schedule page, it is treated like other fees (whole 20% for LTM), which doesn't quite match the actual operations. Should we change how thi

[2018-01-10 19:50] wmbutler commented on #991
I'm not proposing to bury the account under the hierarchy. They will still be top level.

Agreed

The burger is an acceped pattern for revealing more information and menus on both mobile and non mobile devices.

Because it's easier to click a larger area

It's not a bad idea, but let's wait until we have the hierarchy in place to see how we feel about it then.

[2018-01-10 20:03] wmbutler commented on #960
Can't reproduce now.

[2018-01-10 20:03] #960 closed

[2018-01-10 20:03] wmbutler commented on #691
Hey, please remove your assignment if you aren't able to complete.

[2018-01-10 20:27] startailcoon commented on #588
@calvinfroedge are you doing work on this or do you wish me to dive into it further?

[2018-01-10 20:39] wmbutler commented on #744
Possibly add a count (3) (2) in tabs of:

- My Open Orders
- Settle Orders

This will provide insight into whether the user even needs to look at the tab. This could help mitigate the concern for having every tab visible. A long-term vision for this might include breakout tabs.

[2018-01-10 20:42] startailcoon commented on #832
@svk31 can you help me import these two dependencies for this to work?
https://github.com/lwansbrough/react-native-camera
https://github.com/moaazsidat/react-native-qrcode-scanner

[2018-01-10 23:22] landry314 commented on #992
Good point @HarukaMa! I agree with Bill that both units would be best because BTS is the actual unit the fees are being paid in.

I forgot to say that to reproduce you need to set the preferred unit to BTS. I didn't realize this variable affected the unit in the Fee Schedule since fees are always paid in BTS (even when swapped in fee pools).

I am thinking since the precision of two decimal points

[2018-01-11 00:15] wmbutler commented on #938
Please provide your bts address for payment

[2018-01-11 00:16] wmbutler commented on #911
please provide your bts address for payment

[2018-01-11 00:28] Kennybll commented on #911
kennybll-accnt

[2018-01-11 00:28] wmbutler commented on #773
Please provide your BTS address for payment @oxarbitrage

[2018-01-11 00:29] wmbutler commented on #667
Please provide your BTS address for payment @diogogomes

[2018-01-11 00:29] landry314 commented on #996
Good catch @HarukaMa. I actually had this in my notes a month ago but I totally forgot to create an issue for it! You are absolutely right.

Since 50% goes into the fee pool, the referrer only gets 80% of 50% which is 40%. Therefore the cost to a lifetime member is just 60% of the standard fee, not 20% which is what is displayed now. Easy fix!

[2018-01-11 00:30] wmbutler commented on #759
Please provide your BTS address for payment @pavel-lipcean

[2018-01-11 00:37] landry314 opened #997 "[.5] Fee Schedule Has Impossible Lifetime Member Fee to Upgrade to Lifetime Membership"
Since a lifetime member can not upgrade his account to lifetime, it doesn't make sense in the Fee Schedule to display a lifetime member fee for this action.

When you upgrade an account to lifetime, 80% goes to the referrer, which can not be the same account which is upgrading. It can be another account you own and then referral fees will then go to that other account but it could technically also

[2018-01-11 00:40] wmbutler commented on #832
Breaking this into a few issues.

[2018-01-11 00:42] wmbutler opened #998 "[1.5][ahdigital][4][gibbsfromncis] Scan QR Code - Withdraw Modal"

[2018-01-11 00:43] wmbutler opened #999 "[2][gibbsfromncis] Scan QR Code - Library Installs"
https://github.com/lwansbrough/react-native-camera
https://github.com/moaazsidat/react-native-qrcode-scanner

[2018-01-11 00:47] wmbutler commented on #832
We are developing a bitshares-pay repo that will be the basis for accepting payments via bitshares assets of any kind. Please refer to this as you determine how to interpret a BTS compatible QR code:

https://github.com/bitshares/bitshares-pay/issues/1

[2018-01-11 00:57] diogogomes commented on #667
My payment address is diogogomes-eu.

[2018-01-11 02:26] iscrawler commented on #951
Any news developers?

[2018-01-11 02:53] calvinfroedge opened #1000 "[calvinfroedge][2] Typeahead control"
Create typeahead control to support typeahead used in other issues:

#557
#588
#797

https://github.com/bitshares/bitshares-ui/pull/847

[2018-01-11 02:53] #1000 closed

[2018-01-11 03:05] wmbutler opened #1001 "[1][startailcoon] Deposit Modal Tweaks"
When selecting from the dashboard, we should send both the gateway and the symbol to the deposit modal so both values are populated when the modal opens. As it stands now, we are always defaulting to BTS.

![btc](https://user-images.githubusercontent.com/1254810/34806654-e3d88d32-f649-11e7-8a41-a7e83d3e44da.gif)

[2018-01-11 05:52] HarukaMa commented on #992
@landry314 I have added a new prop in EquivalentValueComponent to address the need of full precision, so other locations are not affected unless they explicitly requires it. In fAct, the balance on the upper-right corner is another component, so it will not be affected at all.

[2018-01-11 05:54] HarukaMa commented on #997
If we want to eliminate impossible fees, annual membership fee should also be removed from the list then.

[2018-01-11 07:19] landry314 commented on #997
Well, it is in strikethrough font which is appropriate because it is a feature of the blockchain it is just not being used right now. There is a possibility it will come back one day.

[2018-01-11 07:28] landry314 commented on #951
@iscrawler, someone needs to claim these 2 hours... that is $240.

[2018-01-11 07:39] landry314 commented on #951
Here are people talking about the exact same issue:
https://bitsharestalk.org/index.php?topic=24318.0

[2018-01-11 08:53] HarukaMa commented on #992
Preferred unit is not BTS:
![0030-01-11 17 44 51](https://user-images.githubusercontent.com/861659/34816092-301bf208-f6f7-11e7-93c5-1ebcc24e7233.png)

Preferred unit is BTS:
![0030-01-11 17 44 36](https://user-images.githubusercontent.com/861659/34816094-304ad96a-f6f7-11e7-8aeb-f6360a1ad7a6.png)

although the fee in CNY is not accurate, as it's just calculated using market value, but when actually

[2018-01-11 09:13] liondani opened #1002 "[4][pnomolos] Portfolio could use a visual representation of asset allocation"
Something like this....

![bitshares_wallet_pie_chart](https://user-images.githubusercontent.com/6908400/34817371-6898e4e2-f6c0-11e7-8c49-6db1fa432c8c.png)

[2018-01-11 10:17] landry314 opened #1003 "Rename "Germany" Node to More Specific Location"
In Settings -> Access there are currently 4 nodes in Germany:

- Nuremberg, Germany
- Berlin, Germany
- Munich, Germany
- Germany

This feels a bit strange to have one called "Germany" when there are already 3 labeled as cities in Germany. Where is this node?

[2018-01-11 10:33] bob-ggg commented on #967
As an alternative, my understanding is that witnesses are posting the price
of BTS from external exchanges. When a holder of bitAssets requests a
forced liquidation, this is the price that is used to determine the value
of bitUSD or bitCNY vs USD and CNY. This hourly posting should be somewhere
in the blockchain.
Thanks, Roberto

On Wed, Jan 10, 2018 at 6:20 PM, Bill Butler <notifications@github.c

[2018-01-11 10:34] landry314 opened #1004 "[3][mattbeckman] Change Node Status UP/DOWN to "Available / Currently Unreachable""
When a server just has too high of a latency where the user currently is then BitShares will not connect to it but this doesn't mean the server is down. It is technically incorrect to say the server is down. This makes it appear to the user that half the servers in the network are always down which looks bad for BitShares.

I was recently in the countryside where we had very poor internet receptio

[2018-01-11 11:26] startailcoon commented on #1001
This is strange, it should take the Gateway and Asset when opening the modal. Something must have been missed on merging my latest PR.

This would be a very simple fix.

[2018-01-11 17:11] startailcoon commented on #1001
I will look at this, but the Web wallet works as expected. Dumb question, but are you running the latest version?

[2018-01-11 18:33] svk31 commented on #1001
I did make sure it behaved like that before the release so I'm a bit surprised here. It could be that the hotfix changes modified this behaviour though.

[2018-01-11 18:35] svk31 commented on #997
This is nitpicking imo. The fee schedule is independent of your currently active account, it just displays the fees as they are, that means displaying all of them.

[2018-01-11 18:44] svk31 commented on #989
This sounds like a probable culprit for the reports of people being unable to login with their password after creating an account. Cloud wallet is the wallet default though and you should only get switched to local wallet mode if you create a local wallet.

[2018-01-11 18:55] svk31 commented on #1002
I agree, I had a similar representation with a block chart in the pre-release wallet that BM vetoed, but I think we should add a pie chart like shown in your screenshot now. Calculating equivalent values in a way that's available for a pie chart representation is a little tricky but it should be possible.

We'd need a threshold for a "others" category cutoff, but that can be tweaked during the imp

[2018-01-11 18:57] svk31 commented on #951
Hard to fix this kind of issue without a way to reproduce it. @abitmore @xeroc do you know of a way we could reproduce a balance import on the testnet (or on a private testnet)?

[2018-01-11 19:00] svk31 commented on #972
Well like I said above I don't ever use the vertical orderbook since I have a 27" screen I won't oppose you on this. It's a very simple "fix" however, no more than 0.5 hours. What you want is the default behaviour, what we have currently is custom behaviour.

[2018-01-11 19:39] HarukaMa commented on #997
@svk31 It's not about linking to currently active account; the point is you cannot upgrade to LTM if you are already LTM, so LTM fee of upgrading to LTM does not exist.

[2018-01-11 20:12] calvinfroedge commented on #588
@startailcoon I will continue working on it

[2018-01-11 20:35] startailcoon commented on #1001
The issue that we're having is that your opening the deposit modal with `bridge.BTC`. The modal only works with `open.X` and `rudex.X` assets at the moment.

It shouldn't be triggered on other gateway assets, or it should display a message about it when the modal is opened, like when an asset isn't available on the selected gateway.

What I understand, the `bridge.X` gateway is no longer operation

[2018-01-11 21:30] happyconcepts opened #1006 "LTM Referrer Split %"
Regarding Lifetime Membership, is this 130% fee allocation indeed correct for an account created using a LTM referral link? The registrar split is a negative 50% so the math adds up to an expected 80% since (130 +(-50)) = 80 and the network gets the other 20%.

But how does the blockchain transact a negative 50% fee to the registrar ... and is the blockchain really assigning 130% of transactional

[2018-01-11 22:10] svk31 commented on #997
Sure, what I'm saying is the fee schedule is the fee schedule, it doesn't matter that you have an account that's already a lifetime member, the fee is still the same.

[2018-01-11 22:17] HarukaMa commented on #951
More specifically, how does `initial_balances` works in genesis file? It seems the owner are addresses instead of public keys, but I couldn't find matching address for my already claimed balance.

[2018-01-11 22:28] HarukaMa commented on #1006
It is showing as normal on wallet UI (20%-30%-0%-50%). Check it at https://b.mrx.im/account/falstere-6800/member-stats. Not sure why cryptofresh shows like that, seems like a bug on their site.

raw object:

[code]

[2018-01-11 22:30] HarukaMa commented on #1003
@ruslansalikhov has only stated that it's provided by `blckchnd` witness so we need more information from node provider.

[2018-01-12 01:07] dot5enko commented on #888
![image](https://user-images.githubusercontent.com/5626922/34854945-a4c898ce-f745-11e7-972b-7f910ded0149.png)
@wmbutler how about this border? i got color from bottom of "my markets"

[2018-01-12 01:39] wmbutler commented on #888
- [ ] Maybe stick with a neutral gray or something? I was thinking something that just bridges my markets to left side. Remember, we are going to get fancier with this once we go to tradingview so this just needs to get us through to that.

[2018-01-12 01:41] wmbutler commented on #1006
We cannot control what cryptofresh chooses to display in this repo.

[2018-01-12 01:41] #1006 closed

[2018-01-12 01:46] wmbutler commented on #997
I do see the point here. Wouldn't is make more sense to place a `--` here? Easy win, almost zero effort.

[2018-01-12 01:47] dot5enko commented on #888
ok. no problem)

[2018-01-12 01:47] wmbutler commented on #1001
- [ ] OK, so we should NOT present the icon if those gateways are not known in the reference wallet.

[2018-01-12 01:49] wmbutler commented on #588
@calvinfroedge release date is 1/15. Hope you are able to have this by the 13th because this will need extensive testing. We have ample budget so go to it and keep your hours. This is a big one.

[2018-01-12 01:52] dot5enko commented on #888
![image](https://user-images.githubusercontent.com/5626922/34856120-073f9b14-f74c-11e7-94df-80f92d2728bb.png)

[2018-01-12 01:52] wmbutler commented on #1002
I'd like to UX something a little more balanced.

[2018-01-12 01:53] wmbutler commented on #888
Schwing!

[2018-01-12 01:56] wmbutler commented on #1004
I agree. We still have a problem with the reporting of nodes claiming they are down when they are not. I think this is very important for someone to research. I wonder if @oxarbitrage might be interested in claiming it since a few of us have hit this without complete success. Maybe he an @xeroc could pair.

[2018-01-12 01:57] wmbutler commented on #967
Good thought. Probably the only person familar enough to claim this would be @svk31

[2018-01-12 02:21] wmbutler commented on #759
I can't find that bts account @pavel-lipcean

[2018-01-12 05:52] startailcoon opened #1007 "[6][zhyupe] My Markets | Top Markets | Featured Markets"
The front dash with all the "Top Markets" would be better to be replaced with a user selected version.

- Using starred markets, or a new definition of favorite markets.
- Sorted by the users choosing.

The board is very good, but serves little to no usage if the user is not interested in the displayed market.

[2018-01-12 06:51] MarkoPaasila commented on #1007
I would like to hide it completely and only see my recent activity / accounts

[2018-01-12 07:45] startailcoon commented on #1007
You can view only accounts from the accounts link on the right hand menu.

I think it's worth saving the market overview, but to make it a bit more user relevant.

[2018-01-12 08:16] ppitonak opened #1008 "HERO and BTWTY not listed in asset explorer"
1. got to https://wallet.bitshares.org/#/explorer/assets
2. search for "HERO" or "BTWTY" in Smarcoins tab
3. search for "HERO" or "BTWTY" in UIA tab

result:
* no assets found

[2018-01-12 08:46] startailcoon commented on #744
What does the number represents? Total items in the tab?

[2018-01-12 09:03] vanissoft opened #1009 "Avoid sell all BTS in BTS/xxx markets"
In sell pane, when the user clicks on the quantity at "Balance:" the whole quantity goes to "Quantity:".
This means the user will run out of BTS to pay the fees for subsequent operations.
We must avoid a such easy way of running out of BTS.
The same apply to buy panel for xxx/BTS markets.

[2018-01-12 10:05] HarukaMa commented on #1008
It will take some time before it's shown. Just wait for a while.

Although I agree that this part is very inefficient now as it is querying ALL assets for the total supply value (2.3.x objects). The filter is local only and users will have to wait for the asset list is populated before showing the wanted asset

[2018-01-12 10:54] ppitonak commented on #1008
They are not listed even if the filtering input box is empty and the list contains a lot of other smart coins.

[2018-01-12 11:49] HarukaMa commented on #1008
I can't reproduce this here. It's slow but eventually shows up. Maybe try another API node?

[2018-01-12 16:50] wmbutler commented on #1009
I don't think this is true. We back calculate the quantity and pay the fee out of the trade. If this is actually happening, post a licecap to prove your point.

[2018-01-12 16:54] wmbutler commented on #1007
This needs UX as well.

[2018-01-12 17:00] wmbutler commented on #1007
Follow this design pattern where the three tabs for:

- [ ] My Markets | Top Markets | Featured Markets are in the same location as Active | Hidden
- [ ] Filter is located as shown below

Regarding the accounts label, That's not easy, but for now just place it above the filter I suppose.

![34244847-d3a11dfc-e5ec-11e7-8cf8-4c614ea51199](https://user-images.githubusercontent.com/1254810/34886026-6a

[2018-01-12 17:10] ruslansalikhov commented on #1003
@landry314 node is in Falkenstein.

Will update that record.

[2018-01-12 17:24] svk31 commented on #1009
He's saying he can't transact after spending all his BTS, which of course makes perfect sense and isn't something we should prevent people from doing.

Fees do not need to be paid in bts, if the asset you're trading has a funded fee pool you can pay with that asset too.

[2018-01-12 17:25] vanissoft commented on #1009
We can, of course, avoid to enter the whole quantity when the user click in it.
For every other token this doesn't bother, but it is critical in BTS for don't depend of the fee pool.

[2018-01-12 17:30] bob-ggg commented on #967
Could you make svk31 aware of this thread?

On Fri, Jan 12, 2018 at 2:57 AM, Bill Butler <notifications@github.com>
wrote:

[2018-01-12 18:10] wmbutler commented on #1009
I think this rule would make sense:

- [ ] If the user has insufficient BTS to fund the transaction, the UI should be smart enough to change the FEE to whichever currency is being transacted, thereby taking the fee from it.

[2018-01-12 18:30] startailcoon commented on #756
Due to lack of details I'm removing my assignment to this issue

[2018-01-12 18:33] vanissoft commented on #1009
I would like to left open this issue for more opinions.
Mine is to left 0.01BTS in xxx/BTS market.

[2018-01-12 18:49] dot5enko commented on #888
forget to make a screenshot with margin call price on it. Here is a simulated behaviour with appropriate colors:
![image](https://user-images.githubusercontent.com/5626922/34890191-9dbf68fc-f7d9-11e7-96cb-e3bbc3d30ad5.png)

[2018-01-12 19:15] wmbutler commented on #1009
Mine is to left 0.01BTS in xxx/BTS market.

I have no idea what you mean.

[2018-01-12 19:15] wmbutler commented on #756
I'm closing it since we've had no further input.

[2018-01-12 19:15] #756 closed

[2018-01-12 19:39] vanissoft commented on #1009
I usually click on the "Available quantity" whose behaviour is correct in the majority of cases, but with BTS i finnished with 0 BTS and the alternative showed was COMPUCEEDS and wasn't acepted by the system.
My opinion is to left 0.01 BTS the first time the user click on "Available Quantity", or a message warning the user that he could not do another operations running out of "accepted coins for

[2018-01-12 21:38] zhyupe commented on #991
I'd like to claim this issue if it's just about the highlights ... menu structure is a much more complicated problem.

[2018-01-12 21:56] oxarbitrage commented on #773
thanks bill, payment received. the wrapper had been working good for some time now in the explorer but if it need adjustments when you guys start the integration to the wallet ill be here to do so.

[2018-01-13 08:17] GildedHonour opened #1011 "[1] Some witnesses in the same private test network are inactive"
We're running a private test network with 2 nodes. The 1st one contains 8 witnesses and the 2nd one 3. The 2nd node uses the 1st one as a seed. After I've run 1 and then 2nd, I see in their logs that they're working properly and see each other -- "Generated block.... Got block from ...."

There're some errors still in the process generating blocks -- "Error when pushing , block:unlinkable_block_ex

[2018-01-13 09:57] dot5enko commented on #985
i claim this

[2018-01-13 09:59] dot5enko commented on #980
Confirm such a problem.
claim it

[2018-01-13 11:03] startailcoon commented on #744
A few previews without data in them

# X-Large View
![image](https://user-images.githubusercontent.com/12114550/34905462-52aa6c4c-f859-11e7-98ef-6dc20e2980b4.png)

# X-Large View with Horizontal Trading
![image](https://user-images.githubusercontent.com/12114550/34905468-6e199534-f859-11e7-950b-d984d47f5b4a.png)

# Narrow View
![image](https://user-images.githubusercontent.com/12114550/34905478-ad

[2018-01-13 11:05] zhyupe commented on #991
One problem here:
Should I simply remove the background like this:
![image](https://user-images.githubusercontent.com/2197479/34905471-47ee8b4a-f894-11e7-8bf4-008746af8b02.png)

Or move the lock button out of the menu area like this
![image](https://user-images.githubusercontent.com/2197479/34905500-c4d72748-f894-11e7-816f-fd7f2874e3ee.png)

[2018-01-13 11:06] HarukaMa commented on #951
I've prepared a testnet genesis to test balance claim: https://gist.github.com/HarukaMa/7228806e21a39afbddad5463179201cf

Test account private key: `5JzxRLNNHU9SBBQVYJN4JRvz186DyxZWLw9quRU9KKuvFguzcLB`

[2018-01-13 11:23] zhyupe commented on #1007
Then where should `Accounts|Contacts|Recent activity` be placed? Obviously they are not children of `My Markets | Top Markets | Featured Markets`, but it would be strange if there are something stay unchanged when switching tabs.

[2018-01-13 14:09] wmbutler commented on #1007
@zhyupe Accounts|Contacts|Recent Activity is accessible from the Menu -> Accounts

[2018-01-13 14:12] wmbutler commented on #991
Move the lock out of the menu area is the better option I think. But make sure your padding to the right of the lock looks comfortable.

[2018-01-13 14:13] wmbutler commented on #744
Looking pretty good.

[2018-01-13 14:16] wmbutler commented on #1009
COMPUCEEDS needs to keep their fee pool filled.

[2018-01-13 14:34] vanissoft commented on #1009
I know, i was trading BTS/USD. Was the system's choice among all the other assets i have.
I see as a problem users running out of BTS (like related in #909).
IMO we need to avoid selling all BTS without prior warnings or at least left a fraction of BTS noticing the user he could be in the situation of being not able to trade if the fee pool is empty.
Checking fee pool (showing a warning if it's em

[2018-01-13 16:46] jasonyoakam opened #1012 "Shape-Shift Clone Front-End"
Would it be possible to create a Shape-Shift clone as a front-end app to access the Bitshares blockchain? It seems like a big undertaking, but it would be a great step towards larger adoption and increased ease of use.

[2018-01-13 17:07] #1012 closed

[2018-01-13 17:13] wmbutler opened #1013 "[1.5][pnomolos] Send Modal Tweaks"
## Properly deduct fee when sending entire balance
- [ ] When sending all BTS to another account, we should deduct the fee from the total being sent, otherwise it generates an error for insufficient BTS.

![send](https://user-images.githubusercontent.com/1254810/34908282-a9c40df0-f852-11e7-9613-5dd66d8712ae.gif)

## Tabbing and Enter
- [ ] Users should be able to tab through all input fields and p

[2018-01-13 18:35] nbcks commented on #994
Could I please claim this?

[2018-01-13 19:26] pnomolos commented on #1013
Since I've been working in the Send modal a lot anyway I wouldn't mind taking this, but I'm not sure if I can have it finished for Monday.

[2018-01-13 19:41] pnomolos commented on #1013
@wmbutler By the 'contact icon' do you mean the little green outline of a person (next to 'Lifetime Member' in your example)?

[2018-01-13 19:52] pnomolos commented on #1013
@wmbutler In your example you click "Available" to select the entire balance, which works fine (it subtracts the fee amount).  However, you then enter something in "Memo", which means the fee increases (but the amount you've chosen to send does not).  Do we really want to silently adjust the total being sent in that use case?  Perhaps we need some way of informing a user that by entering a memo th

[2018-01-13 19:59] wmbutler commented on #1013
Yes

I think we do. But this gets a little tricky because if the user has BTS in their account (i.e. they aren't sending their entire balance), we want to increase the fee. In the case where they are sending the whole balance, we will need to increase their fee and simultaneously decrease the send amount.

[2018-01-13 20:03] jasonyoakam commented on #1012
@wmbutler Could you let me know if there is a different place where I can propose this project?

[2018-01-13 20:05] dot5enko commented on #985
done

[2018-01-13 20:08] wmbutler commented on #994
Collateralized BTS | Total BTS
--: | --:
2000.00000 | 5000.00000

[2018-01-13 20:10] pnomolos commented on #1013
I've fixed this, but there's no "focus" style on the buttons, which means you can't tell you're tabbing on to the buttons.  Is this something that should be applied just to the SendModal's form buttons, or something that should be addressed globally?

[2018-01-13 20:11] wmbutler commented on #1012
I don't have a good idea. Sounds like you should build it yourself.

[2018-01-13 20:11] wmbutler commented on #1013
I'd say globally, nice catch. Let me play with some css for focus and get back to you.

[2018-01-13 20:13] pnomolos commented on #1013
Maybe only reduce the amount being sent if it's going to be greater than (available balance - send fee)?  My only concern is that if you enter a memo but later remove it, there's no reliable way to differentiate that case from the case where you entered an original amount to be sent that was _almost_ the full balance.

[2018-01-13 20:13] nbcks commented on #994
Thank you

[2018-01-13 20:28] wmbutler commented on #1013
As I reviewed this, it appears that the tab action is moving to the screen behind the modal. Let's not worry about the css related to focus for this issue. We can do that as a global css effort. We still need to be sure that tab order is set.

That's true. What if we only add the memo to the **fee** as the user types (without altering the send amount), then we adjust the send amount only **after**

[2018-01-13 20:30] wmbutler commented on #994
Don't sum up the new column. Need a better plan for that because a total at the bottom won't make any sense when adding up net worth of the account.

[2018-01-13 20:44] pnomolos commented on #1013
I'm not seeing it on the page I'm testing on, but I'm guessing you're probably running in to issues due to `tabindex` being a global property.  I'll set tabindex to start at 200 on SendModal to avoid issues like that.

So make a very specific case that (when send button is hit) if the total amount is over the user's balance by `fee for memo - fee for no memo` we silently adjust and go?

[2018-01-13 21:16] jasonyoakam commented on #1012
@wmbutler Am I incorrect in thinking that Bitshares has decentralized governance including the ability for the community to propose, vote on, and fund development tasks?

[2018-01-13 21:26] wmbutler commented on #1012
Yes

[2018-01-13 21:58] jasonyoakam commented on #1012
@wmbutler This seems to imply that the community is able to propose and fund projects - https://bitshares.org/technology/stakeholder-approved-project-funding/

Do you know how I can go about proposing one?

[2018-01-14 03:48] landry314 commented on #997
@svk31, i think you are missing the point here. This is a fee that isn't possible so it should have - * next to it instead of a price just like all the other fees which are not possible (like the fee to create a witness for standard users).

[2018-01-14 03:54] landry314 commented on #992
Is it not possible to get the CER conversion rate to create this value?

[2018-01-14 07:24] HarukaMa commented on #992
@landry314 Seems possible, but need some more work as I couldn't find any existing code to do that. Trying to do it now...

[2018-01-14 08:18] mattbeckman commented on #1004
I'll handle this one

[2018-01-14 13:30] startailcoon commented on #744
![bitshares-settlement](https://user-images.githubusercontent.com/12114550/34916352-64db0956-f937-11e7-9f74-2585d59416d2.gif)

[2018-01-14 15:07] landry314 commented on #1009
@wmbutler, sometimes fee pools run out or the conversion ratio is not set correctly. It is better to always have a little BTS, like just 1 BTS is enough.

[2018-01-14 16:29] nbcks commented on #994
Right, got the graphics all working (including the summation row not including the balances). Having trouble getting the the actual balance of the asset given the account and call order. This has to be done tomorrow I believe so I will update if I'm still having trouble in two hours :(

[2018-01-14 16:43] nbcks commented on #994
nvm, it's looking good!

[2018-01-14 17:05] nbcks commented on #994
Sent the pull request

[2018-01-14 18:38] zhyupe commented on #996
Claimed & Fixed (Though I think this is a bad solution, I didn't find a better way to fix this)

[2018-01-14 19:08] #1001 closed

[2018-01-14 19:31] startailcoon commented on #935
I'll have this worked on

[2018-01-14 20:23] abitmore commented on #996
Please be aware that the 50% goes to fee pool belongs to the asset issuer and can be easily gotten out. See https://github.com/bitshares/bitshares-core/issues/188 and https://github.com/bitshares/bsips/blob/master/bsip-0027.md

[2018-01-14 20:42] dot5enko commented on #888
Volume asset change on click:
![volume](https://user-images.githubusercontent.com/5626922/34920435-718ebea6-f97b-11e7-9317-3d1d9c345835.gif)

stats pulsation:
![pulsation](https://user-images.githubusercontent.com/5626922/34920484-198ad1da-f97c-11e7-90f3-b7f6499a4e16.gif)

[2018-01-14 21:27] wmbutler commented on #994
Please reference the PR from here so it's tied back to the issue.

[2018-01-14 21:29] wmbutler commented on #1004
Good, I really hope you can get to the bottom of this.

[2018-01-14 21:31] nbcks commented on #994
https://github.com/bitshares/bitshares-ui/pull/1020

Like this?

Should I also give my wallet name?

nickbuckner3

[2018-01-14 21:32] wmbutler commented on #994
Thanks!

[2018-01-14 21:35] wmbutler commented on #1012
Yes,

I would start by gathering interest in a Steemit Article. Outline what you plan to do and build support around it. One of the problems with Bitshares funding it is that the service would need be integral to the blockchain (i.e. require nobody to manage it once it's running).

If you wanted to build something like that yourself without a WP, you could do that and then we could integrate the U

[2018-01-14 21:40] nbcks commented on #994
So every time I should a) reference the PR in the issues and b) reference the issue in the PR and c) put the issue in the commit d) Give my wallet address?

[2018-01-14 23:28] grctest opened #1024 "[1][HarukaMa] Added smartcoin feed producers removed from list on tab switch"
Hey,

When you add accounts to the smartcoin feed producer list, but navigate to another tab before clicking 'update asset', the new accounts will be removed from the list.

Just happened when I added 20 accounts, checked the other tabs then hit 'update asset' and realized that it hadn't updated the feed producer list.

Best regards,
CM.

[2018-01-14 23:36] grctest opened #1025 "[1][HarukaMa] Exceeded maximum price feed publishers?"
![image](https://user-images.githubusercontent.com/15861527/34922098-21b63780-f983-11e7-8d47-f049df473cef.png)

I was attempting to add many price feed publishers manually instead of relying solely on active witnesses, and I got the following error (as shown in the above screenshot):

[code]

Is the maximum quantity of price feed publishers really 10? https://github.com/bitshares/bitshares-core/bl

[2018-01-15 01:54] wmbutler commented on #1024
Would you mind posting a licecap?

[2018-01-15 01:55] wmbutler commented on #1025
@xeroc or @abitmore may need your input here.

[2018-01-15 01:56] wmbutler commented on #994
No need for your wallet address. I have a cross-reference built for it once I have it for the first time.

[2018-01-15 02:02] grctest commented on #899
If there was an 'use all BTS' button which applied the slider set collateral ratio to calculate max possible USD debt, that would streamline the process somewhat. I found it slightly difficult to recall exactly how much BTS I had specifically when I was editing the radio and debt manually.

[2018-01-15 02:02] #320 closed

[2018-01-15 02:03] #310 closed

[2018-01-15 02:03] #290 closed

[2018-01-15 02:04] #288 closed

[2018-01-15 02:06] wmbutler commented on #267
#1007 will cover this.

[2018-01-15 02:06] #267 closed

[2018-01-15 02:08] wmbutler commented on #238
BTS related assets are not available from Shapeshift as of this date.

[2018-01-15 02:08] #238 closed

[2018-01-15 02:08] grctest commented on #1007
Would a Smartcoin (MPA/ABA) filter checkbox be possible in this UX?

[2018-01-15 02:10] wmbutler commented on #232
We are customizing these interfaces per gateway at the moment. It would be nice to create a required standard, but closing this since it's had no activity and it might run deeper than what the ref wallet is expected to handle.

[2018-01-15 02:10] #232 closed

[2018-01-15 02:11] #228 closed

[2018-01-15 02:12] wmbutler commented on #214
Closing this for now. Haven't seen a very passionate outcry for this.

[2018-01-15 02:12] #214 closed

[2018-01-15 02:13] wmbutler commented on #212
Duplicate #264

[2018-01-15 02:13] #212 closed

[2018-01-15 02:14] wmbutler commented on #198
This has been completed in another issue.

[2018-01-15 02:14] #198 closed

[2018-01-15 02:15] wmbutler commented on #193
This was completed.

[2018-01-15 02:15] #193 closed

[2018-01-15 02:16] grctest commented on #1024
<img src="https://i.imgur.com/JWJAN2W.gif"/>

[2018-01-15 02:16] wmbutler commented on #192
Completed with login rewrite.

[2018-01-15 02:16] #192 closed

[2018-01-15 02:16] #152 closed

[2018-01-15 02:20] wmbutler commented on #117
The wrapper is complete but now we need to start querying ES for history.

[2018-01-15 02:22] wmbutler commented on #101
This is over my head.

[2018-01-15 02:24] #58 closed

[2018-01-15 02:25] wmbutler commented on #44
With ES, this should all be possible now.

[2018-01-15 02:26] #18 closed

[2018-01-15 02:28] wmbutler commented on #17
Most of the time here is for integrating a calendar widget and troubleshooting everything related to this control.

[2018-01-15 02:29] wmbutler commented on #591
I think this has largely been solved.

[2018-01-15 02:29] #591 closed

[2018-01-15 02:32] wmbutler commented on #568
- [ ] I think we need to move the save button up to the top right like we have it in the Voting section.

[2018-01-15 02:34] wmbutler commented on #566
Closing this since we are moving to tradingview.

[2018-01-15 02:34] #566 closed

[2018-01-15 02:35] #561 closed

[2018-01-15 02:36] wmbutler commented on #548
Closing this for tradingview integration

[2018-01-15 02:36] #548 closed

[2018-01-15 02:38] wmbutler commented on #502
Can we make this a tradingview layer?

[2018-01-15 02:43] #491 closed

[2018-01-15 02:44] #438 closed

[2018-01-15 02:48] wmbutler commented on #422
Chrome Notifications can handle this. Let's start this off with alerts for:

- [ ] Predetermined collateral value
- [ ] Price target (enter as percentage or as fixed number, but stored as a fixed number either way)

[2018-01-15 02:49] wmbutler commented on #419
I think we can do better than this. If you look at highly trafficed sites, it's not a common pattern to enable disable tooltips.

[2018-01-15 02:49] #419 closed

[2018-01-15 02:51] wmbutler commented on #389
I agree that this really will not fit in My Markets for long symbols.

[2018-01-15 02:51] #389 closed

[2018-01-15 02:52] #388 closed

[2018-01-15 02:57] wmbutler commented on #359
Let's do this:

- [ ] If BTS <=1, display `(purchase BTS)` next to the symbol on the Portfolio View.
- [ ] Continuously pulse the Buy icon in green

<img width="1221" alt="screen shot 2018-01-14 at 8 56 02 pm" src="https://user-images.githubusercontent.com/1254810/34925219-901d95da-f96d-11e7-8250-cc0a8cebda9b.png">

[2018-01-15 03:01] wmbutler commented on #1007
These are Markets. Aren't the Smartcoins searchable from the Asset Explorer?

[2018-01-15 03:03] wmbutler commented on #899
Fixed in a PR last month

Also fixed last month

[2018-01-15 04:18] zhyupe commented on #996
It's the same for standard user and LTM, and it's included in the fee for standard user.

[2018-01-15 04:23] HarukaMa commented on #996
We should change that again after BSIP27. I think for now this is good to go as taking that out needs manual work on cli wallet.

[2018-01-15 04:53] zhyupe opened #1026 "[3][ahdigital][1][gibbsfromncis] Blank screen on non-exist routes"
When you navigate to somewhere not exists, it simply shows a blank page (white in development, but dark in production).
A 404 page is needed to tell normal users what to do.

![image](https://user-images.githubusercontent.com/2197479/34927559-fa3631a0-f9f1-11e7-9f6f-67952744d534.png)
![image](https://user-images.githubusercontent.com/2197479/34927702-1ea32f6a-f9f3-11e7-9a1d-23bdc5406774.png)

[2018-01-15 05:09] zhyupe commented on #997
Since fixing this issue might introduce conflict to #1005 and #1021,  I suggest fixing this after those PRs get merged.
I'd like to claim this then.

[2018-01-15 06:44] zhyupe commented on #937
Did some research and found out this issue may be related to ReconnectingWebSocket reqired by bitsharesjs-ws.
This issue also occurs in web version, but seems won't be triggered in the development environment.

*Note*: The words beyond is not conclusion, still need time to figure out the reason.

[2018-01-15 08:59] #945 closed

[2018-01-15 09:09] svk31 commented on #997
OK I think finally understand what you actually meant here, which is that the discounted fee for upgrading to lifetime member is impossible to actually get. Still nitpicking but easy enough to fix.

[2018-01-15 09:13] svk31 commented on #997
![image](https://user-images.githubusercontent.com/6890015/34935023-b8629616-f9dc-11e7-9607-07655c94f775.png)

[2018-01-15 09:15] #997 closed

[2018-01-15 09:25] #992 closed

[2018-01-15 09:28] svk31 commented on #1009
Closing since this is a non-issue. Selling everything should result in selling everything, we can't be subtracting random amounts just in case the user subsequently wants to trade an asset with a non-functioning fee pool.

[2018-01-15 09:28] #1009 closed

[2018-01-15 09:28] #1003 closed

[2018-01-15 09:33] svk31 commented on #973
Copy paste already works fine in Linux at least, which OS is the issue for?

[2018-01-15 09:35] #985 closed

[2018-01-15 09:36] #980 closed

[2018-01-15 09:47] svk31 commented on #744
I'm sorry but this is a step backwards for usability. While the original layout allowed me to see everything at a glance, I now need to both scroll down and click through different tabs to get the same information. Having three columns on wide screens is important imo.

Before:
![image](https://user-images.githubusercontent.com/6890015/34936355-5ef457d6-f9e1-11e7-8034-dfb1580ddea8.png)

After:
![i

[2018-01-15 09:53] #991 closed

[2018-01-15 09:57] #994 closed

[2018-01-15 10:02] startailcoon commented on #744
@billbutler please advise what the heading of this issue is and how to go further. I've spent a few hours on this task as requested.

[2018-01-15 10:14] vanissoft commented on #1009
I disagree. It's a poor user experience getting stuck for getting out of BTS. At least a message must be shown to advert the user when he is going to sell all the BTS.

[2018-01-15 10:19] #996 closed

[2018-01-15 14:47] HarukaMa commented on #1025
For manually assigned feed publishers, the max count is indeed 10 now. Also, you should always consult the live global parameters (object `2.0.0`), not the code, as this value is dynamic and could be changed by committee, just like fees.

http://open-explorer.io/#/objects/2.0.0

Assets which allow committee members and / or witnesses to publish fees are not affected by this parameter.

I think you

[2018-01-15 14:55] wmbutler commented on #744
@svk31 as a compromise here, do you think it makes sense to adjust the foundation settings to the new tabbed pane will appear to the right of the buy/sell order book?

- Note: You can't see settle order with the new layout or the existing layout because it ends up on the third row.
- We added a number indicator to make it clear whether there was relevant information inside My Open Orders
- Market

[2018-01-15 14:58] wmbutler commented on #1025
From a UI perspective then we should honor the 10 max.

[2018-01-15 14:59] wmbutler commented on #973
@diogogomes This is your issue. Which OS did you notice it on?

[2018-01-15 15:06] grctest commented on #1025
There's no risk in increasing this value, right? So requesting the committee change it to say 25 would be reasonable?

In the mean time if the UI prevents adding/updating past the committee set value, that'd be awesome 👍

[2018-01-15 15:41] HarukaMa opened #1027 "[1][HarukaMa] UI should not allow committee and witness feed flags together"
You can't allow committee members and witnesses to publish feeds for smartcoins simultaneously. When creating or modifying a smartcoin, the corresponding flags should not be allowed to be enabled together, either by an error notify or disabling another one.

[2018-01-15 16:37] grctest commented on #1007
Yeah, but it'd be great to be able to separate 'Top Markets' by UIA/MPA/All. Just my 2 cents.

[2018-01-15 16:38] grctest commented on #1027
Yeah, It fails once you attempt to submit the asset changes rather than prompt you with an error upon changing the flags.

[2018-01-15 16:59] svk31 commented on #744
My primary concern is that having only two columns on large screens like mine just looks silly and is a waste of space.

[2018-01-15 17:08] startailcoon commented on #744
I agree with that, thus why I suggested my proposal on `Layout 1`, where we put Buy/Sell in horizontal mode, (or we can put the Buy/Sell Forms, either would suffice) and have the tabbed layout on row 2. Since the tabbed layout requires at least 2 boxes in space to accommodate the extra fields for settlement. I still think that this would work better, for you as well @svk31.

I wide mode, we would

[2018-01-15 17:17] diogogomes commented on #973
Sorry, for some reason I did not receive notification of the @svk31  message.

Yes, **Copy paste works but only with keyboard shortcuts**. **Context menu it's not implemented**.

I received this on Discord#help from an user that not have the habit of keyboard shortcuts.

I tested on **xUbuntu 16.04, desktop client <180108**.

[2018-01-15 17:23] svk31 commented on #744
The orderbook should be horizontal for easy comparison the way it is now, I don't like the idea of stacking them on top of each other. No one else does that and I don't think we should either.

[2018-01-15 17:27] HarukaMa commented on #1024
I'd like to claim this.

[2018-01-15 17:33] #888 closed

[2018-01-15 17:35] svk31 commented on #973
Oh right I see, I tested with keyboard shortcuts.

[2018-01-15 17:56] #973 closed

[2018-01-15 18:51] mattbeckman commented on #1004
Screenshots of the UI changes. However, the core of the issue is likely in bitsharesjs-ws, so I'll be creating a PR over there. Currently, my thought is that it is a) concurrency issue due to rpc requests blasted out simultaneously, b) issue between browser native WebSocket and the ws npm library, or both.

<img width="1046" alt="screen shot 2018-01-15 at 10 49 25 am" src="https://user-images.gith

[2018-01-15 19:21] startailcoon commented on #744
Layout 1 can have the Buy/Sale stacked instead of the order book.

But I assume your aware of that.

What if we just add Settle Orders together with today's My Open Orders, and hope that the extra fields of settle works well?

This issue is more about settle orders than anything, and I'd like to have the changes in there.

That way we can get rid of the settle orders being on the third row as well

[2018-01-15 19:29] 0n0t0le opened #1028 "[2][gibbsfromncis] Move list of accounts from menu"
Many users who use the wallet model face one inconvenience: it's not convenient to view your accounts, especially if there are several of them - to change the account, you need scroll menu down to the bottom.
For example, I have 15 such accounts. It would be much more convenient to make two independent sections: clicking on an account you'll see the choice of accounts, when you select a menu, only

[2018-01-15 19:35] wmbutler commented on #1004
@mattbeckman can you link the issue at the other repo to here so I can pay off this one? Happy to increase hours as needed.

[2018-01-15 19:36] wmbutler commented on #1028
@Xeldal has requested this as well.

[2018-01-15 19:38] wmbutler commented on #744
I think settle orders below the market selection is a reasonable compromise.

[2018-01-15 19:40] wmbutler commented on #1027
Properly manage expectations when adding to this list. Can we filter out during the selection process and throw an error based up the account role?

[2018-01-15 19:41] wmbutler commented on #1007
Let's add a column for "Type" and then add a filter box at the top so people can just type UIA/MPA into the filter.

[2018-01-15 20:26] HarukaMa commented on #1024
I've decided to combine the feed producer settings into the whole asset update page instead of letting it having separate update and reset button. By doing this I've also added page-wide change detector which automatically enable / disable the "update asset" button, and made it only updates asset basic information if needed instead of always updating even if no changes are made. (It has cost me a

[2018-01-15 21:04] startailcoon commented on #744
Looking on the proposed PR that was made #987, the space in the right hand menu is very narrow and wouldn't allow us to specify both trading pairs, and the longer date.

I still think adding it to another tab of the current boxes, like `My Orders`, or `My Trades/Market Trades`, is more reasonable than adding it to the right menu.

On my screen today, a laptop, it would be more convenient to move t

[2018-01-15 21:08] HarukaMa commented on #1024
PR is at #1029.

See this PR in action at https://b.mrx.im.

[2018-01-16 02:48] diogogomes opened #1030 "[6] [diogogomes] UI Style Guide Implementation and Themes Improvements"
*After working on issue #667, I have detected that it is possible to improve the entire UI Design and Development process.*

*@wmbutler has already been informed about this implementation by Telegram*

---

## UI Style Guide

Implementing a UI Style Guide helps keep the entire development team (designers or coders) on the same page.

In this way, there will be a flexible starting point to maintain

[2018-01-16 05:19] wmbutler commented on #744
It might make sense to put it in the same box with My Open Orders. Since you can't see it where it is, anything is better than the current position.

[2018-01-16 07:30] codesynapse commented on #492
I am trying the account creation process and it is throwing uncaptured exception (is_valid_name) error.

[2018-01-16 11:13] HarukaMa commented on #1025
I'd like to claim this too. Will show a warning if more than allowed producers are added.

[2018-01-16 11:31] liondani commented on #1002
Have you something specific in mind @wmbutler ? Some example?

[2018-01-16 13:52] HarukaMa commented on #1025
Shared PR #1029 as they are too closely related.

[2018-01-16 14:09] zhyupe commented on #937
Claimed. Commit and explains on the way.

[2018-01-16 16:28] grctest opened #1031 "Inbuilt theme creator?"
We've got several themes, but [creating a new theme is difficult](https://steemit.com/bitshares/@cm-steem/bitshares-ui-customization-guide) and requires technical skills potentially outwith of potential theme creators.

If there was a theme creator tab in the settings where you could create and apply a custom theme by inputting all theme related CSS values (optionally using a colour palette), and

[2018-01-16 17:05] zhyupe commented on #937
There are two causes in this issue:
1. `willTransitionTo` includes codes specially for `/init-error`, and uses an error handler `onResetError` which call `willTransitionTo` recursively, causing infinite loop in certain condition.
2. Somehow the websockets created by the code described above are manually closed shortly after created and produce errors which are caught by `onResetError`.

As I can't

[2018-01-16 18:22] startailcoon commented on #744
If everyone agrees that it should be moved in to the My Open Orders, I'll do the change.

[2018-01-16 18:25] startailcoon commented on #1031
This shouldn't be to difficult to make.
A settings section for theme color selection and overriding font, size, color etc based on user selection.

[2018-01-16 19:03] grctest opened #1034 ""Update Asset" doesn't apply feed producer changes"
If you add/remove users to the 'feed producers' list, clicking on 'Update Asset' does not apply the changes, only the "Update" button within the feed producer tab.

![image](https://user-images.githubusercontent.com/15861527/35006873-afdd97a2-faef-11e7-8a9d-c41385c54cf7.png)

See - no feed producer info from the "Update Asset" button.
![image](https://user-images.githubusercontent.com/15861527/350

[2018-01-16 19:25] HarukaMa commented on #1034
This is already fixed in #1029. I've removed the separate update and reset button and used the buttons on upper right corner. Rest assured that there will not be another "update asset" operations even if nothing is changed; only changed parts will be updated in the PR.

If you trust my web wallet you could try https://b.mrx.im to see it in action.

[2018-01-16 20:09] iscrawler commented on #951
@HarukaMa could you please tell me how to use it? any tutorial links maybe? Thank you.

[2018-01-16 21:45] HarukaMa commented on #951
@iscrawler This is for developers to test balance claim in testnet. It may not be much useful as I can't reproduce the issue using this genesis.

[2018-01-16 21:51] grctest commented on #1034
@HarukaMa Excellent work, I'll close this issue then 👍

[2018-01-16 21:51] #1034 closed

[2018-01-17 01:50] wmbutler opened #1035 "[2.75][ahdigital] Exchange Header Tweaks"
- [x] Replace large flip icon with '/'
- [x] Place flip icon next to label. Give it a lighter hover state to indicate that it is a control.
- [x] Place a star to the right of the flipper. Hover state should be yellow. When the market is in a user's favorites, the star should be yellow, otherwise gray.

<img width="323" alt="screen shot 2018-01-16 at 7 41 37 pm" src="https://user-images.githubuserc

[2018-01-17 02:32] wmbutler commented on #937
@svk31 will need your input on this.

[2018-01-17 02:39] wmbutler commented on #1002
Not yet, but certainly not something so large. Some thoughts:

- Since we already have the assets listed, seems like we could include the colors in the Portfolio Table and match hover states on the graphic with those on the pie chart.
- Maybe use a semicircle donut rather than a pie chart.

![ev7us](https://user-images.githubusercontent.com/1254810/35022709-f2224eca-fafc-11e7-9746-43c7cabeb3ec.png

[2018-01-17 02:40] wmbutler commented on #492
Please check out the Telegram channel for support:

https://t.me/BitSharesDEX

[2018-01-17 06:18] wmbutler commented on #972
Adding some additional items to this.

<img width="273" alt="screen shot 2018-01-17 at 12 10 12 am" src="https://user-images.githubusercontent.com/1254810/35028314-1513b52c-fb1b-11e7-83cf-d21bab522ab6.png">

- [ ] Extend line just below header all the way across instead of breaking for the scroll bar
- [ ] Remove Units from the price (between the lowest bid and highest ask) and add label "Latest".

[2018-01-17 12:18] btsfav commented on #1002
Concur, I love pie!

[2018-01-17 13:00] ahdigital commented on #1035
I can have a crack at this.

[2018-01-17 20:17] apiekarczyk opened #1036 "[2][dot5enko] CR on exchange site"
Because of I very often monitor CR parameter it'll be very useful to see its value on every site in the wallet and especially on exchange site where most of us are spending most of time :)

Regards, Andy.

[2018-01-17 21:48] nbcks commented on #994
There is a bug in this which I will fix on the weekend - if you don't have as short position in an asset, yet you have some of it, the balance column will still display 0.

[2018-01-17 23:07] wmbutler commented on #994
@nbcks open a separate issue.

[2018-01-17 23:07] wmbutler commented on #1036
What is a CR parameter?

[2018-01-18 08:13] mattbeckman commented on #1004
PR for UI is here: https://github.com/bitshares/bitshares-ui/pull/1037

PR for websocket change is here: https://github.com/bitshares/bitsharesjs-ws/pull/11

I'm not 100% sure about side effects of the concurrency change, but it appeared to help for the Electron-based app. I built once without the change and once with. Someone else should test on Windows etc.

[2018-01-18 08:47] apiekarczyk commented on #1036
Collateral ratio

[2018-01-18 09:17] fractalnode commented on #1036
Totally agree we need our current Collateral ratio and Call Price next to Settlement (Feed Price)

[2018-01-18 09:18] HarukaMa commented on #1027
I'd like to claim this. What exactly is "filter out during the selection process and throw an error based up the account role"? @wmbutler

[2018-01-18 12:51] HarukaMa commented on #1036
I don't think personal (current active account) information should be in the exchange ticker. Maybe somewhere near buy/sell controls but definitely not in the ticker.

[2018-01-18 15:15] ahdigital commented on #1035
@wmbutler Pull request submitted: [https://github.com/bitshares/bitshares-ui/pull/1038](url)

[2018-01-18 15:30] ahdigital commented on #1002
I don't think pie or semi-circle work that nicely within the UI given that almost every element has a square edge. An **[area map](https://www.highcharts.com/demo/treemap-coloraxis)** might be the best compromise between aesthetics and functionality.

[2018-01-18 17:16] ahdigital opened #1039 "[2.5][ahdigital] Inconsistent UI styling"
# Issue
Whilst using the DEX I can see that there is inconsistent CSS styling which apart from appearing unprofessional/unfinished is mainly causes problems with text legibility. Mainly, the issues are:

- Many different font sizes
- Incorrect font weights causing blurry text*
- Incorrect colors (E.g. Anchor text is not BS blue from the logo)
- Inconsistent casing

*For example:
![text-blur](https

[2018-01-18 18:12] r-t-c opened #1040 "BitShares light client freezing, had to force quit twice after update"
had to force quit BTS light client after update twice so far after it freezes, looks like it does not complete loading, initial blank screen once, some text another time but unresponsive, running Mac OS High Sierra Version 10.13.2 (17C205) on MacBook Pro (Mid 2012) 2.7 GHz Intel Core i7

[2018-01-18 18:13] r-t-c commented on #1040
Bitshares.180115

[2018-01-18 19:36] startailcoon opened #1041 "[1.5][nbcks] Navigating to Market BTS/bitSEK Issues"
Navigating to the bitSEK market results in the following error in the latest version of the client.

It was working at first, but something has made this market unable to load.

The wallet page wallet.bitshares.org works though.

![image](https://user-images.githubusercontent.com/12114550/35117531-2e464a6c-fc8f-11e7-9206-f7bb029f6c37.png)

[2018-01-18 19:48] ahdigital commented on #1026
I would be willing to take this on depending on the milestone date.

[2018-01-18 22:19] TheDesmondHume opened #1042 "OpenLedger problem, I can't place orders and send funds to users"
Hi,

Today I am experiencing a strange problem with OpenLedger.io, I am not able to place buy/sell order and I am also not able to send funds to users.

After I click confirm of the order it doesn't say anything but my order it's not filled, it's the same with transferring funds.

Please don't guide me for trying Bitshares wallet or any other redirected URL's because I can only log in on OpenLedge

[2018-01-18 22:59] ahdigital commented on #1042
What asset(s) are you trying to place orders for and what values are you entering?

Desktop or mobile? If mobile, what device please.

[2018-01-18 23:03] TheDesmondHume commented on #1042
Hi,

I tried with buying like 0.1 ETH, I also tried to buy BTS too but no luck. I tried to send some tokens to other user but the transfer never filled.

I am currently signed in on Google Chrome on windows 10 (openledger.io)

[2018-01-18 23:39] pnomolos commented on #1013
@wmbutler My apologies for the radio silence on this.  I've been working on the best way to deal with balancing the send amount and fees when the memo is changed, because we also have to take into account the use case where the user enters a partial memo, click on the full balance, then makes the memo longer.  If we're going to doing with adjusting for the memo we might as well handle all the case

[2018-01-19 04:41] wmbutler commented on #1013
Let's iterate into it. Why don't you create it in the way you think it's best handled and get it posted to so we can try it out? Thanks for thinking through the edge cases so carefully.

[2018-01-19 04:43] wmbutler commented on #1042
We don't develop the UI for openledger.io. This software is specifically available at https://wallet.bitshares.org. You can import your bin file to this address and let us know if you still have an issue. Closing.

[2018-01-19 04:43] #1042 closed

[2018-01-19 04:47] wmbutler commented on #1026
We need a redirect for a non-existent route to a 404 page. Copy:

"This page does not exist"

Button (bitshares blue): Home

URL: `/`

[2018-01-19 04:48] wmbutler commented on #1041
Can you consistently reproduce this for just this market?

[2018-01-19 04:52] wmbutler commented on #1040
I'm having all kinds of problems with sockets too right now. @mattbeckman is working on a fix in the js library. https://github.com/bitshares/bitsharesjs-ws/pull/11

[2018-01-19 04:55] wmbutler commented on #1039
Don't spend a lot of time on the exchange since many of the controls will be swapped for TradingView Libraries. Regarding other styling inconsistencies, there are a number of open issues related to them, but we would benefit from someone who is highly skilled in UX/UI owning this process. Happy to move forward with you but only if you are confident in your ability to not only point out the issues

[2018-01-19 04:57] wmbutler commented on #1002
A treemap did cross my mind as well for the same reasons. Excellent thought.

[2018-01-19 04:59] wmbutler commented on #1035
Any chance you could post a licecap? Just speeds iterations when the PR is remote.

[2018-01-19 05:06] wmbutler commented on #1036
- [ ] Place Collateral Ratio to the right of Settlement.
- [ ] Use same label format "Collateral Ratio"
- [ ] Only show Collateral Ratio if the user has collateral posted for that particular market (i.e. bitUSD/BTS, HERO/BTS)
- [ ] Color Collateral Ratio according to Orange or Red criteria currently being used for other areas.

[2018-01-19 05:07] wmbutler commented on #1027
Maybe you need to disregard my comment and just go on the previous dialog with OP. I may not fully understand the requirements here.

[2018-01-19 06:20] TheDesmondHume commented on #1042
Okay, I tried using your link https://wallet.bitshares.org/ and I've restored my account with the bin file, but whenever I go to log in, it says this: http://prntscr.com/i2iizv

After that I can't click on Login again, that function is not available. What should I do?

[2018-01-19 07:33] wmbutler commented on #1042
Try forcing this endpoint and set:

General -> Login Mode to Local Wallet Login

[2018-01-19 07:36] mattbeckman commented on #1040
@wmbutler: What specs are you running on? I'm on macOS High Sierra as well. Curious if many of our problems are related to High Sierra, as I found the following thread specifically about Chrome, Slack, and Electron graphic issues after updating to High Sierra: https://github.com/electron/electron/issues/10736

[2018-01-19 07:38] TheDesmondHume commented on #1042
I am selecting Local Wallet Login but when I go to Login the Login button won't work again.

[2018-01-19 08:37] ahdigital commented on #1035
## Shuffle button
Relocated shuffle button to be inline with the stat label and added hover state.

![shuffle-button](https://user-images.githubusercontent.com/3088454/35141635-727b7c8e-fcf3-11e7-9d30-0d1d8b2d2a30.gif)

## Star market
Added star market button to be inline with stat label.

![star-market](https://user-images.githubusercontent.com/3088454/35141673-9da99e68-fcf3-11e7-99b2-7427f0a69fc

[2018-01-19 08:50] apiekarczyk commented on #1036
"Color Collateral Ratio according to Orange or Red criteria currently being used for other areas."

Me, personally, would like to see all my CRs in my field of view as offten as possible becouse CR is one of the most important parameters for actively trading users. It could be even active field to click to open 'borrow editor'. Don't know if it is possible but maybe even somwhere between 'send' an

[2018-01-19 08:57] fractalnode commented on #1036
CR is as important information as the Settlement

[2018-01-19 09:08] fractalnode opened #1043 "[1][startailcoon] misleading name in top information panel"
In our wallet we call Settlement Price which is actually Feed price

Settlement Price =  Feed price + Settlement Offset

Both informatcion are very important, so I propose to rename Settlement for Feed Price and add real Settlement by calculate Feed price + Settlement Offset

ATM this look like this
bitUSD: Settlement Price =  Feed price + Settlement Offset (+1%)
bitCNY: Settlement Price =  Feed p

[2018-01-19 10:46] startailcoon commented on #1041
I consistently had this issue for this very market several time, even after restart of software and computer. I will follow up today if the issue persists.

[2018-01-19 11:08] dot5enko commented on #1036
i claim this

[2018-01-19 16:02] startailcoon commented on #1041
The issue still persists on my installed version of the wallet.

[2018-01-19 16:17] landry314 commented on #1004
My original issue was just about the display of the node status which has been improved (including latency values added!) but it also became about improper reporting of nodes being unavailable when they weren't. The websocket change is trying to address this, right?

Something similar was discussed in issue #649 but was never resolved.

Right now I see only one node available with medium latency i

[2018-01-19 16:38] landry314 commented on #1004
I created this issue about the recently slow network. If I missed a related issue somewhere I would appreciate a reference there!

https://github.com/bitshares/bsips/issues/50

[2018-01-19 16:52] apiekarczyk commented on #1043
Yes, this would be shown very clear in UI.

[2018-01-19 17:10] ahdigital commented on #1026
I have created the 404 page and it looks like this:

![404-example](https://user-images.githubusercontent.com/3088454/35162376-0b2266f4-fd3b-11e7-9bc5-cf10949731d1.png)

However, I'm having a a problem getting the routing to work correctly. On my dev machine the 404 page is displaying as intended when any URL that doesn't match a route is entered **apart** from when the URL contains /#/.

For exam

[2018-01-19 19:29] happyconcepts commented on #1042
@wmbutler @OpenLedgerDev @svk31

It seems that when attempting to log in, the user's client is attempting to connect or send a screenshot to that URL of a screenshot posting service. This might be a user safety issue and therefore might be worth investigating further to confirm it isn't systemic.

[2018-01-19 19:58] TheDesmondHume commented on #1042
Thank you, I have some funds that I am scared of losing so I hope that this will get solved because I love using OL. I have created a backup file so if you need some more info I can leave Skype or we can try Team Viewer for a better look at this situation.

[2018-01-20 00:11] grctest opened #1045 "Display the current Bitshares global variable information within the UI?"
I've recently [requested that the committee increase the maximum_asset_feed_publishers value from 10 to 25](https://bitsharestalk.org/index.php/topic,25803.0.html), which led to the question of where is this information located?

You can retrieve the information from the [Bitshares-Core GitHub repo](https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/include/graphene/chain/conf

[2018-01-20 11:27] TheDesmondHume commented on #1042
Any update?

[2018-01-20 12:50] nbcks opened #1047 "Bug where margin positions display a balance of 0 when the account has not borrowed against the given asset."

[2018-01-20 15:59] wmbutler commented on #1045
I think we already have an issue for this in the UI.

[2018-01-20 16:00] wmbutler commented on #1026
@calvinfroedge can you offer a tweak here?

[2018-01-20 16:01] wmbutler commented on #1040
Hign Sierra, MacBook, Web Browser (not electron).

[2018-01-20 16:38] ahdigital commented on #1026
@wmbutler Thanks for the follow up. Would be good to get help on this. I've spent over 2 hours trying to fix it, but it's not happening.

I can share the code and assets for the page if Calvin csn help.

[2018-01-20 18:02] wmbutler commented on #1035
Looks great.

- [ ] Settlement should be white

[2018-01-20 20:22] vanissoft commented on #735
For the record: It's ok with Firefox 57.0.4 on Manjaro-Rolling
![image](https://user-images.githubusercontent.com/4522822/35187688-f86309e0-fe27-11e7-9351-66a33bbf1d49.png)

[2018-01-21 00:53] wmbutler opened #1050 "[.5][ahdigital] Increase line spacing in memo field on send modal"
This line spacing is definitely less than 1. This is an easy tweak. A global fix would be ideal. Made this 0.5 to encourage testing.

- [ ] Send Modal
- [ ] Deposit Modal

<img width="499" alt="screen shot 2018-01-20 at 6 48 41 pm" src="https://user-images.githubusercontent.com/1254810/35189583-07bdd6a0-fe13-11e7-88e7-fa44f6322209.png">

[2018-01-21 01:02] wmbutler commented on #901
I've already used this feature several times.

[2018-01-21 01:06] wmbutler commented on #994
@nbcks Please post your BTS address here for payment.

[2018-01-21 01:53] pnomolos commented on #901
Glad to hear it’s been useful already!
On Sat, Jan 20, 2018 at 5:46 PM Landry Racoon <notifications@github.com>
wrote:

[2018-01-21 03:12] ahdigital commented on #1050
I can fix and will check globally.

[2018-01-21 08:49] nbcks commented on #994
my address is "nickbuckner3".

Thank you.

[2018-01-21 09:56] xmr-karnal opened #1051 "Extremely poor user experience under adverse network conditions + privacy concerns"
Since a couple of months back I have noticed that 90% of the times I launch the client (no matter the version, I have updated the software here and there), after the "Loading...", all that is shown is a blank window.

Using tcpdump I can see a bunch of DNS requests followed by TCP connections - indeed, a problematic behavior in itself from a privacy standpoint, why is my client advertising to serv

[2018-01-21 15:48] xmr-karnal commented on #937
Could this be the same issue as #1051 ?

[2018-01-21 18:28] #1051 closed

[2018-01-21 21:16] abitmore commented on #744
Can we have responsive layout design on this screen?

[2018-01-21 21:18] wmbutler commented on #744
@abitmore I'd like to wait on the responsive design until we get tradingview integrated.

[2018-01-21 21:37] dolcolax opened #1052 "trying to recover old PTS shares"
Hi all. I was wondering if I can recover my old PTS shares and convert them to BTS. I followed the steps on this website by luther-05: https://bitsharestalk.org/index.php/topic,24124.msg306090.html#msg306090

I folllowed this steps and successfully made a keys.json file

I proceeded to step 5 and created the account on Bitshares 2 but i dont know if I messed up by not clicking "Advance" to get thi

[2018-01-21 22:15] dolcolax commented on #1052
Yes I did mess up when I was creating my account. You have to click Advance and make a local wallet account. after that you can import your balance to this account.

[2018-01-21 22:15] #1052 closed

[2018-01-22 02:32] HarukaMa commented on #1051
About "random servers": they should all be api nodes. The wallet need to connect to all of them once in order to tell latencies. Check if your captured requests match those in settings - access.

[2018-01-22 06:41] landry314 commented on #1051
This happens to me sometimes too.

It happens when the nodes are overloaded and it can't find one with a decent latency. I need to force quit and try again. Bad user experience.

[2018-01-22 07:18] mattbeckman commented on #1040
Interesting. I thought Bill was using the Electron light client. I don't usually have issues in the web browser, where the performance for me is a lot better, so I have been attributing most of the issues to Electron. It's likely a combination of factors, and we may need to add sprint items for different ways to improve performance.

I'm still looking into the web socket angle, but congestion as t

[2018-01-22 08:01] ahdigital commented on #1035
@wmbutler No problem - pull request updated.

![settlement-stat](https://user-images.githubusercontent.com/3088454/35210510-6e722224-ff4a-11e7-9e20-03a6dba08546.png)

[2018-01-22 08:31] landry314 commented on #1040
When I have only one node connecting at high latency this is when this issue arises for me. They seem completely correlated. It is as if when the application reloads and tried to connect and can't find anything it just sits there. This is why I think it is poor node connections causing this.

Interestingly, when I am having this problem, I have been throwing out my application support folder in li

[2018-01-22 09:09] ahdigital commented on #1050
@wmbutler

I've made the following updates:

- Added line-height to textarea inputs (globally) to make lines of text more legible
- Increased height of memo textareas from 1 to 3 rows.
- Removed manual line break from modal header text ("Transfers are used for..") and converted into a paragraph element to ensure a nice line-height also

![modal-textarea](https://user-images.githubusercontent.com/3

[2018-01-22 09:16] fractalnode opened #1054 "[1][ahdigital] Clear search box on the click of “x”"
![clear-search-box](https://user-images.githubusercontent.com/20418259/35213248-429b23d6-ff5d-11e7-8a3e-b79eb70711f9.png)

[2018-01-22 10:31] ahdigital commented on #1054
I can do this amendment.

[2018-01-22 11:48] lbn349 opened #1055 "user adoption stinks, fix the ui"
Ok, was comenting on telegram that user adoption stinks. admin said do something about it. then he got so insulted he banned me from telegram. ok ill do something admin:
bitshares user adoption stinks. fix the ui. separate the wallet from the exchange. have a traditional bitcoin electrum wallet in the ui, with button for, 'open exchange in separate window'. thats how its done. conflating the sendi

[2018-01-22 13:17] startailcoon commented on #1043
I can do this as I've dived in to the issue on the #744

[2018-01-22 14:10] ahdigital commented on #1054
I can complete this task.

[2018-01-22 16:33] pnomolos commented on #1002
@wmbutler If it's been agreed that a treemap would be the best for this, I'm down to take it  :)

[2018-01-22 16:34] pnomolos commented on #661
@wmbutler I was looking for this information the other day so I'd be down to take it.

[2018-01-22 20:40] jonnybitcoin opened #1056 "[1] Display current black swan price for bitassets"
the GUI should state the current black swan price for all smartcoins so we don't have to calculate it

[2018-01-22 21:51] svk31 commented on #1002
A tree map is what I had two years ago that I mentioned above, the code is here: https://github.com/cryptonomex/graphene-ui/commit/1ccdd47f20d888c647953c7fa4b3350b5f023b93

[2018-01-22 22:54] wmbutler commented on #1013
I accidentally paid you 937.50 from bitshares-ui. Can you refund? I paid the correct amount of $437.50 as well.

[2018-01-22 23:05] wmbutler commented on #1055
Go fuck yourself.

[2018-01-22 23:05] #1055 closed

[2018-01-22 23:08] wmbutler commented on #1002
Some thoughts:

- We currently have Active and Hidden. What if we add `Visual` and clicking on that reveals the treemap? Just thinking that for really large portfolios, it could be a bit strange, otherwise.

[2018-01-22 23:09] wmbutler commented on #1056
Where do you think they should be displayed?

[2018-01-22 23:10] wmbutler commented on #661
Awesome!

[2018-01-22 23:11] wmbutler commented on #1054
It's yours.

[2018-01-22 23:16] wmbutler commented on #1035
I added .25 for this. Can you also look at the font size for the market? It feels like it's smaller than the fonts for the pricing. I'd like all the fonts on that header to be the same size.

[2018-01-23 00:23] pnomolos commented on #1013
Yep, done :)

            On Jan 22 2018, at 2:54 pm, Bill Butler <notifications@github.com> wrote:

              I accidentally paid you 937.50 from bitshares-ui. Can you refund? I paid the correct amount of $437.50 as well.

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-01-23 03:44] ahdigital commented on #1002
I like this idea.

[2018-01-23 07:56] ahdigital commented on #1054
@wmbutler

I've implemented this feature, as seen in the example below. Are you happy for me to submit pull request?

![clear-input](https://user-images.githubusercontent.com/3088454/35263982-d44658c2-0012-11e8-92fd-829878a1239c.gif)

[2018-01-23 08:13] ahdigital commented on #1035
Good spot, it was 2px smaller in size. I've updated and also adjusted the alignments so that they're in alignment.

![exchange-header-text](https://user-images.githubusercontent.com/3088454/35264508-eab42880-0014-11e8-80f1-f83d8a13dc81.png)

**Alignment:**

![alignment](https://user-images.githubusercontent.com/3088454/35264602-4a27f5bc-0015-11e8-8006-1f892e519337.png)

Pull request is updated.

[2018-01-23 09:11] #937 closed

[2018-01-23 09:45] #1047 closed

[2018-01-23 09:52] #1013 closed

[2018-01-23 10:49] svk31 opened #1059 "[3] Replace old market stats data fetching with get_ticker api call"

[2018-01-23 10:53] svk31 commented on #1059
https://github.com/bitshares/bitshares-ui/commit/4a53b53192f43f36885a42181529358c2bfe5495

[2018-01-23 10:53] #1059 closed

[2018-01-23 11:26] fractalnode commented on #1056
I am afraid that people will subconsciously want to achieve this price.
Additionally, it will drive fear..

[2018-01-23 12:46] jonnybitcoin commented on #1056
We should be open and transparent about the risks of holding bitassets.
People should be able to see at a glance how close to black swan they are
so they can judge the risks for themselves of holding. Being clear shows we
have confidence in our pegging system. Not showing it shows we aren't
confident.

On 23 Jan 2018 11:26, "fractalnode" <notifications@github.com> wrote:

I am afraid that people w

[2018-01-23 13:06] jonnybitcoin commented on #1056
In addition to negate fear we could do with renaming black swan to
something boring and technical. Talebs definition of black swan is
different than ours. Essentially it's something that's so unlikely to
happen people assume it can't. We've had a few Bts black swans already.

On 23 Jan 2018 12:46, "Jonathan James Harrison" <
jonathanjamesharrison@gmail.com> wrote:

We should be open and transparen

[2018-01-23 19:37] iscrawler commented on #951
Any news guys?

[2018-01-23 19:39] startailcoon commented on #744
# New Layout Combined My Open Orders + Settle Orders
As suggested:
- [x] Join Settle orders with My open orders
- [x] Last selected tab will stay selected on market change.
- [x] Settlement Price adjusted for `settle_offset %`
- [x] Include both assets in the pair
- [x] Fix for "x minutes ago" problem when a settlement had already been sent to market
- [x] View full date instead of "x minutes".

S

[2018-01-23 19:41] wmbutler commented on #744
I like it.

[2018-01-23 19:44] wmbutler commented on #951
Nobody has claimed the issue so...no.

[2018-01-23 19:50] wmbutler commented on #1007
This will be helpful: https://github.com/bitshares/bitshares-core/pull/560

[2018-01-23 20:17] iscrawler commented on #951
Sad. Will wait...A lot of money stuck :(

[2018-01-24 00:33] wmbutler opened #1061 "[1][gibbsfromncis] Do not include hidden assets in Overall Balance"
When I hide assets, it's generally because they were sent to me or they have little value to me. Right now, hidden assets are factored into my net worth totals. This was fine until recently when the PEERPLAYS asset (used for their ICO) suddenly increased in value to 1,991.0007 per share. This is effectively skewing my balance by 348,414.

I think it's reasonable to exclude hidden assets from the t

[2018-01-24 01:53] wmbutler opened #1062 "[12] Order Book Improvements"
The order book is a little busy. It's not really wide enough to warrant striped rows. Let's remove those. Also, if we can give a reference to the depth chart here with significant markers, it may remove the need for the depth chart toggle. This allows the user to have more information without toggling. This is a rough start and intended to spark discussion. I also noticed that most charting system

[2018-01-24 08:15] ahdigital commented on #1061
I don't think hidden assets should be removed from the users total net worth unless it can be a user controllable setting that can be toggled on/off.

In the PEERPLAYS example, this is a positive experience for the user which otherwise might have gone unnoticed if it was hidden from view and net worth.

Incidently, I personally have never used the hide assets functionality.

What I think is more c

[2018-01-24 08:58] vanissoft commented on #1062
Nice look, although big depth chart is a need.
+1 to be priced in base asset.

[2018-01-24 10:09] startailcoon commented on #1061
I agree with hidden assets should not be counted in the total wallet value. I have a few tokens that I've received over time. These doesn't have a market generally but at times someone sell/buy and I suddenly get an increase of "fake" USD value.

Somehow we need the ability to hide these assets proposed value for the wallet.

[2018-01-24 11:47] fractalnode commented on #1056
Technical name is "Global Settlement"
Black Swan means rare or unlikely event

[2018-01-24 19:35] nbcks commented on #1041
Could I claim this issue please?

[2018-01-24 19:37] nbcks commented on #989
could I claim this please?

[2018-01-24 19:38] nbcks commented on #977
Could I claim this please?

[2018-01-24 20:49] kapeer42 commented on #977
Oh, I'm sorry if you were working on this, I thought I could just do it since it wasn't claimed :/

[2018-01-24 21:02] kapeer42 commented on #972
Can I claim this?

[2018-01-24 22:14] Xeldal commented on #993
Binance clearly understand UX.  They are doing EXACTLY what I've detailed above.

![](https://media.giphy.com/media/xT8peoin3TAc1fEblK/giphy.gif)

[2018-01-24 23:25] dot5enko commented on #972
i guess it makes no sense now. look at #1062

[2018-01-25 04:17] bitcoiners commented on #745
Currently the only way to tell how much of an asset is in an account is to cancel all outstanding orders with that asset. This is very inconvenient.

[2018-01-25 16:16] nbcks commented on #977
Ah no worries, I didn't start on it.

[2018-01-25 16:22] nbcks commented on #951
I will take a look at this over the weekend

[2018-01-25 17:31] timelf123 commented on #998
This probably needs to wait for the library installs ticket #999 correct?

[2018-01-25 18:13] iscrawler commented on #951
That would be very grate!

[2018-01-25 21:47] HarukaMa commented on #1061
Maybe provide a settings entry to control if hidden assets value should be counted into total value?

[2018-01-25 22:17] jonnybitcoin commented on #1056
Where do you think they should be displayed?

https://wallet.bitshares.org/#/asset/USD

[2018-01-26 02:50] wmbutler commented on #1061
@ahdigital technically it's not a positive experience because that valuation is not true. It was likely a dust trade a high price that anyone could fake in any market.

[2018-01-26 02:51] wmbutler commented on #998
Yes.

[2018-01-26 02:54] wmbutler commented on #972
@dot5enko It still makes sense. Remember #1062 is a bunch of css changes whereas this is just a scrolling change.

[2018-01-26 02:55] wmbutler commented on #993
So, basically, you are asking to display an alphabetical list of the top 10 cryptos if nothing is entered.

[2018-01-26 02:57] wmbutler commented on #989
This is important. If it takes additional time, please add it.

[2018-01-26 12:09] ahdigital commented on #1061
@wmbutler I'm not 100% sure I understand what a dust trade is and imagine that to be the case for many users.

If your example (and others) generally result in a negative user experience perhaps they should be excluded from the net worth to be on the safe side.

[2018-01-26 14:32] Xeldal commented on #993
No, that was not a point I made, not sure where you get that.  Please re-read the thread if you've forgotten but I'll try and reiterate the basic points again below.

Notice in the above example that the selected coin is not the filter.
The filter(typeAhead) is the first item in the dropdown.
So making a selection does not change whats in the list, on subsequent clicks of the dropdown menu.
Everyt

[2018-01-26 17:52] fractalnode opened #1065 "[4.5] It is not possible to settle prediction market token in GUI"
Bitshares has a built-in Binary prediction market but it is disabled in such a way that it is impossible to settle the token in the GUI. The required options are hidden from normal users (or work in this area has not been completed) and is only available from command line in CLi wallet.

Probably many of you remember the time that projects offering only this functionality reached 400 million capit

[2018-01-26 18:08] wmbutler commented on #993
I see. Whoever claims this, See @Xeldal screenshot for how we might tweak the typeahead widget to work like the screencast on Binance.

[2018-01-26 18:11] wmbutler commented on #1061
@ahdigital Just as an example, if you owned an asset that was essentially worthless, you could post .00000001 of that asset for sale at $1,000,000. Then you could buy it for $1 and that would be the last trade on the books. The PEERPLAYS asset is particularly annoying because it is blacklisted for trading or transferring. So, I'm stuck with a skewed balance with no way to change it.

[2018-01-26 23:44] pnomolos commented on #661
I spoke with @oxarbitrage on Discord and it appears like we should probably wait for https://github.com/bitshares/bitshares-core/pull/500 until working on this more.  Otherwise the only way to pull this information is to iterate over every account manually.

[2018-01-26 23:44] Coinhoarder opened #1066 "The Permission View isn't switching accounts properly in a Local Wallet"
I have 4 accounts in a local wallet.

When I go to the permission view to change permissions or view private keys, the first account that was in the local wallet shows up fine, and everything is functional.

But when I switch to one of the 3 accounts that I added after the 1st account... no matter which account I choose, it still pulls up the original account's permissions. I can't access the Perm

[2018-01-26 23:47] oxarbitrage commented on #661
https://github.com/bitshares/bitshares-core/pull/500
the plugin is the second in elasticsearch series that will export among other things account data to the database making the query for all the accounts under a referral account easy and fast.

it has been in the freezer in the last time but maybe is time to resume the efforts on it an include it.

the problem is that there is no core code to eff

[2018-01-27 04:06] abitmore commented on #951
Lack of useful info, so it's hard if not impossible to fix. For example, web console logs, addresses, public keys, and etc. Or someone already has those? May be different situation / solution for different people.

In the meanwhile, in the [forum post](https://bitsharestalk.org/index.php?topic=24318.0):

Perhaps we can get some useful info from him.

[2018-01-27 04:31] abitmore commented on #951
Found the error "Missing cipher text" in [aes.js](https://github.com/bitshares/bitsharesjs/blob/master/lib/ecc/src/aes.js). I believe in this repository it's thrown at [this line of code](https://github.com/bitshares/bitshares-ui/blob/2.0.180115/app/components/Wallet/ImportKeys.jsx#L376). Would it be related to Cloud Wallet Mode?

[2018-01-27 08:39] nbcks commented on #951
I'll be working on this in a few hours, need to fix my PC first :(

[2018-01-27 10:36] fractalnode commented on #1062
we can not turn this large portion of information into such a small portion

![info](https://user-images.githubusercontent.com/20418259/35471173-2be6cd3c-0356-11e8-9365-e6a594c5f96f.png)

[2018-01-27 14:12] kapeer42 commented on #1062
Maybe this answers your concerns (work in progress)
![peek 2018-01-27 15-05](https://user-images.githubusercontent.com/35779885/35472676-e15ac368-0373-11e8-88bd-02cdd86a6638.gif)

[2018-01-27 14:31] ihorml opened #1067 "Bitshares wallet charts are not loading"
Try to open any pair from `Top Markets` on wallet.bitshares I can't see charts. I have this error in console:

Browser: Google Chrome, MacOS

<img width="1440" alt="screenshot 2018-01-27 15 29 12" src="https://user-images.githubusercontent.com/7770343/35472839-008425b0-0377-11e8-969c-cd3eb02f3725.png">

[2018-01-27 14:32] ihorml commented on #1067
More errors if I scroll console down:

<img width="1440" alt="screenshot 2018-01-27 15 31 54" src="https://user-images.githubusercontent.com/7770343/35472857-3b07df56-0377-11e8-8568-e6c8d595b51f.png">

[2018-01-27 14:40] ihorml opened #1068 "[.25][gibbsfromncis] Do redirect to Top Markets after login on bitshares wallet"
1) Go to https://wallet.bitshares.org/#/create-account
2) Click 'Login'
3) Write credentials
4) Do Login

But I'm still on Login scene.
<img width="1440" alt="screenshot 2018-01-27 15 39 25" src="https://user-images.githubusercontent.com/7770343/35472919-46990452-0378-11e8-9422-72aab8fde7a1.png">

[2018-01-27 14:40] ihorml commented on #1067
It's strange. Bug is gone when I clear localStorage.

[2018-01-27 15:24] wmbutler opened #1069 "[.5][gibbsfromncis]Asset price display bug in staging"
I was going though some testing on staging and I noticed that PEERPLAYS has a value in the new staging code but not on the current production code. Feel free to use account `billbutler` for testing since it has this asset in it.

[2018-01-27 15:45] wmbutler commented on #588
## Notes
- [ ] Only show assets in the dropdown if your account contains > 0 of that asset
- [ ] Limit dropdown contents to 5 in the typeahaed.
- [ ] Typeahead should display as a menu below input field

![test](https://user-images.githubusercontent.com/1254810/35473462-9d9920e8-0346-11e8-999f-e343e06b6f40.gif)

- [ ] Estimated value is failing to populate

![withdraw](https://user-images.githubus

[2018-01-27 15:48] wmbutler commented on #1067
LIkely has something to do with the API node you are connecting to.

[2018-01-27 15:48] #1067 closed

[2018-01-27 15:49] wmbutler commented on #1068
Maybe it makes more sense to go to the user portfolio/dashboard after logging in?

[2018-01-27 15:52] wmbutler commented on #1062
We can still keep the toggle for the Market Depth. I won't use it, but no reason to get rid of the option.

[2018-01-27 15:57] wmbutler commented on #661
I moved this out to 180301 to accommodate the ES need.

[2018-01-27 17:11] nbcks commented on #1041
@startailcoon which version of the wallet exactly were you using please?

[2018-01-27 17:17] nbcks opened #1070 "[1][startailcoon] Searching for an asset doesn't appear even when it exists due to lag"
The bug can be seen when you search for an asset in the explore tab. What happens if you search for an asset such as BitSEK by typing in 'SEK' is that nothing will show for a couple of seconds, then the wallet will have loaded the assets, it will display BitSEK.

The problem with this of course is that the user might presume the asset doesn't exist after a few seconds and leave.

A solution would

[2018-01-27 17:22] ihorml opened #1071 "[.25][gibbsfromncis] Shift "Propose From" dropdown so it left aligns with place order contents"
Just a simple low priority issue.

If you toggle the `propose` switch the place of `Propose from` dropdown is a little bit wrong. it should be aligned by `Place Order` section like this:

<img width="563" alt="screenshot 2018-01-27 18 20 12" src="https://user-images.githubusercontent.com/7770343/35474627-5232a2be-0391-11e8-9aa8-d4fb25d32f7b.png">

Now it looks like this:

<img width="563" alt="scr

[2018-01-27 17:29] kapeer42 commented on #972
About the spread:
I think the instantaneous spread value is not very useful if the highest bid and/or lowest ask are tiny volumes far from the average bid/ask.
Also I think a percentage is more appropriate, maybe when you click on it, it switches between value and percentage.
In other terms: displayedSpread = `(xHoursAverageAsk / xHoursAverageBid - 1) * 100`%

[2018-01-27 17:33] wmbutler commented on #972
It's nice to know the spread between the two at a glance and is easy to calculate. GDAX shows it and I'm assuming they did some market research before deciding to include this value.

[2018-01-27 17:33] wmbutler commented on #1071
Can you be more specific?

[2018-01-27 17:40] ihorml commented on #1071
@wmbutler updated

[2018-01-27 17:51] Coinhoarder commented on #1066
All is well, I was just being dumb.

It was auto-filling my original account name into the "ENTER ACCOUNT NAME/KEY AND WEIGHT" box which made me think it was the same account's keys after switching, but the keys were indeed changing when I switched accounts.

[2018-01-27 17:51] #1066 closed

[2018-01-27 18:21] nbcks commented on #989
@xeroc   When you say open an account do you mean create an account or login into an account?

[2018-01-27 18:29] nbcks commented on #951
I've messaged Robrigo about this, I would have thought the error would be something to do with account names vs private keys.

[2018-01-27 18:34] robrigo commented on #951
I've got an idea. Notice how the account name associated with the balance to be imported is "scrawler"? But the actual BTS 2.0 account is called i-scrawler? You probably need to get those two things to line up.

[2018-01-27 18:35] robrigo commented on #951
One way you can reproduce this is to go back to BTS 0.9.3c, and create an unregistered account called i-scrawler, then do the export and try importing to BTS 2. **bts 0.9.3c exports must be fully replayed AND resynced!**

[2018-01-27 18:55] abitmore commented on #951
I've thought of that as well. However, when importing, name in 0.9.3 doesn't need to be identical to name in 2.0, or say, it's legit to import balances to a different name.

[2018-01-27 19:11] abitmore commented on #832
The QR code should be compatible with https://github.com/bitshares/bitshares-ui/issues/775#issuecomment-350202771

[2018-01-27 19:18] abitmore commented on #801
I agree that we should implement the new feature first before removing the old feature, but not the opposite.

[2018-01-27 19:30] abitmore commented on #801
By the way I don't think QR code is useful when transferring funds on PC.

Even Ethereum which has QR codes also has an icon for every address and is widely used for HUMAN verification.

[2018-01-27 19:36] abitmore commented on #1011
Issues of private chains get low priority. People who want run private networks should have the capacity of solving the issues by their own, and better, submit solutions (PR's) to this project if issues found/resolved.

[2018-01-27 19:36] #1011 closed

[2018-01-27 19:39] abitmore commented on #1011
By the way, the small screenshot below indicates the nodes are forking, as they both generated a block of same timestamp. Not an UI issue.

[2018-01-27 19:42] abitmore commented on #680
Should have been fixed in #777.

[2018-01-27 19:42] #680 closed

[2018-01-27 21:07] robrigo commented on #951
Quote from fluxer555:

[2018-01-27 21:16] iscrawler commented on #951
@robrigo I have tried to import 0.9.3 wallet with i-scrawler name too . Same error. How I can fully sync 0.9.3 wallet? I just downloaded last fully synced blockchain(with last generated block). How I can sync if no working nodes nowadays?

[2018-01-27 21:47] abitmore commented on #1062
I don't think it's a good idea to remove the `total value` column from the order book.
1. It's very convenient for traders,
2. due to the implementation in core, prices showing on the book are usually inaccurate.

[2018-01-27 22:56] kapeer42 commented on #972
Teaser
![peek 2018-01-27 23-50](https://user-images.githubusercontent.com/35779885/35477133-27855350-03bd-11e8-90e6-587f82c857cd.gif)
![percent](https://user-images.githubusercontent.com/35779885/35477147-79b524b6-03bd-11e8-9019-093f4314a3bb.gif)

[2018-01-27 23:25] hubba1 commented on #767
It still happens...had a guy it happened to just a week or so ago....

[2018-01-28 03:53] tbone-bts commented on #1062
I agree with @abit re: cumulative quantity column on the order book. It will be very inconvenient if you remove it.

[2018-01-28 04:17] tbone-bts commented on #1061
I agree with excluding hidden asset balances from net worth total.  But it would be helpful to show the total value of hidden assets at the bottom of the hidden assets view (just as there's a total value of active assets at the bottom of the active assets view).

[2018-01-28 04:38] robrigo commented on #951
@iscrawler downloading the fully synced chain from bittorrent, installing that chain data into your app data folder, starting the client, and then letting it replay is step 1.

Step 2 is to make sure you let a "resync" happen on your account itself. You can resync from the 0.9.3c terminal. This also happens when you do a regen key command.

You've got to replay AND sync fully to get a proper walle

[2018-01-28 07:01] mattbeckman commented on #1004
@svk31 disagrees that latency should be included in the UI. I guess the app used to have it, but it caused confusion, and so it was removed. If everyone agrees, we can drop the addition. If not, then perhaps we need a new term or a new method of measurement?

Since these aren't ICMP pings we're talking about, we could adjust the language from "latency" to "load". For example, low/medium latency co

[2018-01-28 07:10] mattbeckman opened #1073 "[2][ahdigital]Convert Market link on assets into a button"
Let's improve this "Market" link. Minimally, give it margin. Optimally, make that baby look good.

<img width="691" alt="screen shot 2018-01-27 at 11 06 45 pm" src="https://user-images.githubusercontent.com/928380/35479890-365fbef2-03b7-11e8-863d-589d7251afdb.png">

[2018-01-28 07:18] mattbeckman opened #1074 "Provide "Loading..." feedback until UI is actually ready"
"Loading..." appears for a moment, disappears to a blank (white or gray) backdrop, and stays like that until the API node connection loads and the UI is fully drawn. I can recreate all the time via Cmd+R.

I think we should have "Loading..." (or some helpful/optimistic variant like "Connecting to the BitShares network...") stay on screen until everything is... in fact... loaded. A modal with trans

[2018-01-28 08:39] ihorml commented on #1074
+1
I'm used to if screen is dark - something loading. But it makes really confusing especially when you start to use bitshares.

[2018-01-28 10:49] ahdigital commented on #1073
No problem, I got this.

[2018-01-28 12:00] nbcks commented on #951
Could I please unclaim this issue? I have no idea of how to even go about solving this.

[2018-01-28 13:35] abitmore commented on #951
"rescan".

[2018-01-28 15:31] nbcks opened #1075 "call price wrongly calculated for user shenxiaoyu521"
The user shenxiaoyu521 has a margin position in bitCNY where they have a debt of 1100 bitCNY and a collateral of 805.9 BTS. At the time of writing, their CR is 2.5 and the feed price is 0.29. This checks out since 805.9 / (0.29 * 1100) = 2.5. There call price should therefore be 805 / (MCR * 1100) = 0.4186. However, the call price displayed is 0.29486, which is incorrect. This is clearly incorrect

[2018-01-28 15:32] nbcks commented on #1075
![screenshot from 2018-01-28 15-32-09](https://user-images.githubusercontent.com/16877932/35483967-805b87aa-0440-11e8-9938-8f200154e3cb.png)
![screenshot from 2018-01-28 15-32-34](https://user-images.githubusercontent.com/16877932/35483968-81f4766c-0440-11e8-98eb-beb2cda1703e.png)

[2018-01-28 16:23] ihorml opened #1076 "Question: How to properly logout"
Today I have logged in wallet under somebody's computer and when I want to log out I couldn't find any feature regarding this. I had to clear cookies on browser settings.

We have the feature to lock wallet/account but specially logout (clear sessionStorage, localStorage, cookies) I didn't find.

Is there anywhere this feature? If yes, maybe we should move it somewhere on more visible place?

[2018-01-28 17:25] nbcks commented on #1056
I've added this feature to the price feed tab, is this what you had in mind?
![screenshot from 2018-01-28 17-24-07](https://user-images.githubusercontent.com/16877932/35484958-29a9bec6-0450-11e8-98c6-f5be0e1eaa17.png)

[2018-01-28 17:30] nbcks commented on #1056
I had to add a translation to the price feed local in the explorer.asset key. Is there a ready made translation for global settlement price? Also is the global settlement price really part of the price feed? Or should we put it in the margin positions tab?

[2018-01-28 18:57] gibbsfromncis commented on #1028
@wmbutler I can take this one

[2018-01-28 19:22] wmbutler commented on #1028
Excellent.

- [ ] Give the hamburger a bit more spacing so it's easy to hit.
- [ ] Include the "Accounts" option as the first selection in the accounts switcher menu. Also, remove the "Accounts" option from the hamburger menu.

[2018-01-28 19:23] wmbutler commented on #1056
@svk31 ?

[2018-01-28 19:23] wmbutler commented on #1076
Click the lock. That's your logout for the cloud wallet.

[2018-01-28 19:23] #1076 closed

[2018-01-28 19:26] wmbutler commented on #1074
Need some UX on this one.

[2018-01-28 19:28] wmbutler commented on #1004
Yes, @svk31 and I have always disagreed on this. I think latency as a number is important. It keeps us honest and provides a clear metric. I believe in transparency. We have nothing to prove by obfuscating facts.

[2018-01-28 19:28] abitmore commented on #1075
Actually this is a core issue. That user's position was partially called, so showing a higher ratio, but the call price didn't change, so it will still be called at the original call price. https://github.com/bitshares/bitshares-core/issues/343

[2018-01-28 19:30] wmbutler commented on #1075
OK, so once the core issue is fixed, it's your believe that the UI will work as it's supposed to? If this is the case, I will leave this open but not put it into a Sprint.

[2018-01-28 19:32] wmbutler commented on #1062
When you say "Total Value", what are you referring to? All I see is the asset quantity in each side of the trade.

![screen shot 2018-01-28 at 1 31 11 pm](https://user-images.githubusercontent.com/1254810/35486155-a15c4144-042f-11e8-84b3-6c63bae6ff1a.png)

[2018-01-28 19:40] wmbutler commented on #767
@startailcoon Happy to pay to have you research this. Looks like @svk31 did some troubleshooting a while ago.

[2018-01-28 19:41] wmbutler commented on #972
Dig it!

[2018-01-28 19:45] wmbutler commented on #832
Agreed.

[2018-01-28 19:50] wmbutler commented on #775
I think we should comply more closely with the existing standards in a parameterize url as @pluswave suggests. I think your concern about the amount of data that can be shown in a QR code is unfounded.

![static_qr_code_without_logo](https://user-images.githubusercontent.com/1254810/35486315-1f79f2c2-0432-11e8-9269-aa2d55dfebc9.png)

[2018-01-28 19:51] startailcoon commented on #744
I think I've got the calculation correct, but just making sure it is I throw out the question here.

Asset: BTS/bitCNY
Offset: 5%

If the feed price is 0.29554, the settlement price should be this +5%, meaning 0.3103.
Have i got this right?

**Note that this is the old headers**

![image](https://user-images.githubusercontent.com/12114550/35486326-ff3faed0-046c-11e8-9442-4d00248bb78d.png)

![image

[2018-01-28 19:53] wmbutler commented on #744
@abitmore can we have your input here?

[2018-01-28 19:54] iscrawler commented on #951
That is exactly what I did on Windows system. Waited for replaying chain, imported wallet.dat, rescan chain, etc. I'm going to repeat it on a Mac.

[2018-01-28 19:56] Xeldal commented on #1028
I think "Accounts" should stay in the hamburger. The account switcher should not start taking on "menu type" items.  It should be purely for switching accounts as a convenience not a menu.

Keep the hamburger menu comprehensive.

For people with only a single account the switcher won't do anything.  If you add "Accounts" to the switcher it will look weird and clearly out of place with just a singl

[2018-01-28 19:56] nbcks commented on #1075
Ah that makes perfect sense since the UI seemed to be functioning quite well.

[2018-01-28 19:57] wmbutler commented on #1028
@Xeldal as usual, we disagree.

[2018-01-28 19:58] nbcks commented on #1075
You might say that we should instead sort the call orders by collaterial ratio rather than call price for the margin positions tab in assets (I think they are sorted by call price presently)?

[2018-01-28 19:59] wmbutler commented on #1075
Interesting thought. @abitmore what do you think about changing the sort to be the ratio?

[2018-01-28 20:12] Xeldal commented on #1028
Obviously we disagree, and because you responded within 10 seconds of me posting.  I wonder if you gave even a moments consideration to what i said.

For 98% of the userbase with only a single account this is going to look like garbage.

Next you will start adding other account related items here and it's no longer an account switcher its a full-on fragmented menu.

[2018-01-28 20:15] gibbsfromncis commented on #1028
@wmbutler if you want I can make account name not hoverable/clickable if user has no ability to add additional accounts (Idk how to detect it but I will investigate) and in this case users can find Accounts on hamburger menu.

[2018-01-28 20:19] tbone-bts commented on #1062
Your screenshot shows three columns:  (1) price (which for clarity should really be labeled bid/ask),  (2) quantity of the asset being traded (in this case the quantity of BTS), and (3) price x quantity (i.e. total value of the bid or ask in terms of the base asset, in this case USD).

Also, you're looking at the vertical order book, which is ok for just watching a market...but not great for placi

[2018-01-28 20:20] wmbutler commented on #1028
@gibbsfromncis You can detect localstorage indexdb I believe.

- If you detect it, display accounts as first item under the user
- You can leave it in the hamburger menu as well

[2018-01-28 20:23] wmbutler commented on #1062
This issue isn't proposing to make changes to the horizontal order book. Let's not confuse things. My points remain the same:

- There is no cumulative value in the existing vertical order book
- It's quite standard across exchanges to only display pricing in the purchase currency

[2018-01-28 20:26] gibbsfromncis commented on #1028
@wmbutler Do I understand you correct - duplicate `Accounts` link on Accounts selection menu and Hamburger menu when user has an ability to create additional accounts?

[2018-01-28 20:33] Xeldal commented on #1028
What is the purpose of duplicating the Accounts menu item?

This is a band-aid solution to a self inflicted wound.  Just leave it where it is.  No reason to have it in the switcher to begin with.

[2018-01-28 20:41] gibbsfromncis commented on #1028
@Xeldal I see reasons because people who have a lot of accounts and want to manage it will have more easy way to do it without opening hamburger, scrolling down etc.

@wmbutler hasn't approved my question yet so please do not spam here without any reason.

[2018-01-28 20:48] Xeldal commented on #1028
It is the same number of steps to open the hamburger as to open the account switcher.   It in no way helps anyone manage anything.  If it is so important to have quick access to the Accounts page put it at the top of the hamburger.

[2018-01-28 20:50] gibbsfromncis commented on #1028
@Xeldal Thank you. I appreciate your opinion but I'll wait for response from @wmbutler

[2018-01-28 20:51] Xeldal commented on #1028
Of course.  I wasn't suggesting anything to you.

[2018-01-28 22:32] wmbutler commented on #1061
- [ ] Deduct hidden balances from portfolio balance
- [ ] Include a Total at the summary of hidden balances.

[2018-01-28 22:36] abitmore commented on #1075
I tend to update the call price field (in the core) directly when it's partially called, so call price and ratio will always match each other. But I'm not sure if it's technically practicable so far, or how hard to implement it. Will figure it out in next weeks.

[2018-01-28 22:41] abitmore commented on #1062
I mean the screenshot in OP shows only 2 columns. I like 3.

[2018-01-28 22:49] abitmore commented on #744
This is incorrect. Feed price is 0.29554 BTS per CNY, or say 3.3836 CNY per BTS. Settlement price +5% means 3.3836*105% = 3.5528 CNY per BTS, or say 0.29554/1.05 = 0.2815 BTS per CNY.

[2018-01-29 04:54] wmbutler commented on #1062
I'm not sure it makes sense to show 3. Looking across many different trading platforms, this not accepted practice and I think it adds to confusion when new users hit our platform.

[2018-01-29 05:02] wmbutler commented on #1028
@gibbsfromncis My thought process was that a user already will associate their hot-switchable accounts with the accounts dropdown menu (showing all the starred accounts in the list). It seems logic to me that the first place they would look in order to add or remove accounts in that menu would be, well, in that menu. This is why I suggested adding the accounts picker the first item inthe menu.

@X

[2018-01-29 06:36] startailcoon commented on #744
Easy correction

[2018-01-29 06:51] startailcoon commented on #1041
Latest, 2018.01.15

[2018-01-29 09:01] rokii666 commented on #68
Hello! Need to see all my trade history. Also if possible to group by my orders. Say I place order for 1000 bitUSD and it buys for 2 or 3 deals and they are shown as separate. But because they are from my one order I want to group them somehow so I can see my total order for 1000 bitUSD

[2018-01-29 12:03] ahdigital commented on #1039
@wmbutler I have made a PR for this now. I made as many CSS fixes as I could in the time allowed, but as each tweak is so minor I haven't taken screenshots for each as they're largely similar issues throughout.

[2018-01-29 14:23] Xeldal commented on #1028
Lets go with the original suggestion.
Move the hot-switchable accounts under the account name.
See how that goes.

If people are losing their minds because they can't find the Accounts menu item to add/remove accounts to the list then we can address that later with solutions that don't involve fragmenting or duplicating the menu.  I have a couple more elegant ideas already if you want to here them

[2018-01-29 14:37] abitmore commented on #1062
Top crypto exchanges:
1. binance, showing 3: https://www.binance.com/trade.html?symbol=ETH_BTC
2. OKEx, horizontal layout, showing 2: https://www.okex.com/spot.html
More others to be added here.

[2018-01-29 15:42] grctest opened #1081 "[Part of 2602] Smartcoin settle - display estimated delay if high force settlement volume?"
Say 10% of bitUSD is settled (manually instead of via force settlement) by an individual, the max % settle-able is 1% of bitUSD per hour (as per the smartcoin settings), but will the user who clicks 'settle' be made aware of a potential 10 hour delay on top of their 24hr delay?

Perhaps the same warning could trigger if a whale settles & you're wanting to settle a few dollars - that the system wil

[2018-01-29 17:17] ahdigital opened #1082 "[6][ahdigital] Responsive & aesthetic amendments to on-boarding UI"
The current on-boarding experience for mobile users isn't easy because there are issues with the UI not scaling properly and cutting off elements. Additionally, there are aesthetic improvements that can be made to cut out user frustrations and make the experience more enjoyable.

I propose to fix these issues and implement some nicer styling within 5 hours.

## Issues

The main issues with mobile

[2018-01-29 20:02] nbcks commented on #1075
I've made the change where it sorts by ratio, thoughts?

[2018-01-29 20:21] nbcks commented on #1041
Ah okay I've reproduced it great

[2018-01-29 22:05] gibbsfromncis opened #1083 "[.5][ahdigital] User name and menu icon partially disappear on small window size"
I can propose to hide username to Icon and display only balance. But the balance can be long too so it may be better to hide both and if user wants to see account name/balance/accounts list he can tap on account Icon.

<img width="347" alt="screenshot 2018-01-29 23 02 06" src="https://user-images.githubusercontent.com/35899973/35536900-8e8aa03c-0548-11e8-8558-90f2b6bc4e5e.png">

[2018-01-29 22:10] gibbsfromncis commented on #1028
@wmbutler

Wallet mode:
![gif-acc-multiple](https://user-images.githubusercontent.com/35899973/35537049-254725f4-0549-11e8-94be-9afef9bbbfc0.gif)
_(padding on username when user hover was increased to make it looks better, the screen record is not up to date)_

Login/Password mode:
![gif-acc-base](https://user-images.githubusercontent.com/35899973/35537052-27e31fca-0549-11e8-8221-096e6dcd7a3d.gif)

[2018-01-29 22:18] gibbsfromncis commented on #1028
There is the list of changes:

- if user on wallet mode he can hover on username and click to see dropdown with Account link and list of Accounts (for this mode Account link was removed from hamburger)
- if user on login/password mode he won't see anything by hovering on username.
- Add right/left padding for username (it was 5px and looks bad when user hover, you can see this on gif above)
- Add

[2018-01-30 09:40] ahdigital commented on #1073
@wmbutler Are you happy for me to remove the text shown on the screenshot in red brackets for these views only?

![remove-text](https://user-images.githubusercontent.com/3088454/35559069-a187bcde-05a1-11e8-93a8-f26ac555164e.png)

It seems pointless to display it twice on the page.

[2018-01-30 12:51] abitmore commented on #1075
If people can click the table header to sort by their own, would be useful. Anyway I don't think we need to change the default sorting.

[2018-01-30 15:56] wmbutler commented on #1073
I agree.

[2018-01-30 15:57] wmbutler commented on #1083
I think it would be better to show the username and the burger, but hide the dashboard icon (and let it be the first item in the burger.

[2018-01-30 16:02] wmbutler commented on #1082
This looks good. There is another issue #917 related to this. I'll close it as a duplicaet and consolidate the discussion here. I was really hoping we could get rid of the top menu but will require some thought. The redundant "Create Account" is a little vexing.

Please review the other issue so you can take all aspects into consideration.

[2018-01-30 16:03] #917 closed

[2018-01-30 16:05] wmbutler commented on #1062
Point taken. Thanks.

- [ ] Keep pricing in both assets.

[2018-01-30 16:05] wmbutler commented on #1039
Can you post the revisions here?

[2018-01-30 16:07] wmbutler commented on #68
I've placed this in 180215 Sprint. It's all part of the ElasticSearch integration. Really need @oxarbitrage and @svk31 to pair on this to knock it out.

[2018-01-30 16:15] oxarbitrage commented on #68
sure, here is what needs to be done.

there is by now 1 public elastic search wrapper api node:
http://185.208.208.184:5000/get_account_history?account_id=1.2.282&from=100&size=10&sort_by=block_data.block_time

but ideally there is going to be some more, so think on a pool of address:port for and pick by latency/whatever.

query the database for account by using the samples here:
https://github.co

[2018-01-30 16:22] Xeldal commented on #1028
I can't think of any reason to have the active account duplicated in the switch list.  I would remove the active account from the list.

(I'd also remove the "Accounts" menu item as well. It belongs in the menu)

[2018-01-30 16:26] gibbsfromncis commented on #1083
@wmbutler assign to me please

[2018-01-30 16:28] gibbsfromncis commented on #1028
@Xeldal When somebody accept my PR you can submit a new issue for that proposal.

[2018-01-30 16:30] gibbsfromncis commented on #1071
@wmbutler assign to me please

[2018-01-30 16:34] gibbsfromncis commented on #1069
@wmbutler I see nobody wants to take this issue. I would like to help you solve this high priority issue but if you provide me more details because I totally don't understand what should be done.

[2018-01-30 16:51] gibbsfromncis commented on #904
@wmbutler I have read all comments and took a look all mockups. Could you answer please, which of the mockups should be implemented?

a) https://github.com/bitshares/bitshares-ui/issues/787#issuecomment-354533138 (I like this one because It looks more freely and I think the user settings it's not a thing which should be available on all screens)
b) https://github.com/bitshares/bitshares-ui/issues/

[2018-01-30 17:03] wmbutler commented on #904
Go with a) full width. Ultimately, the settings menus should be part of the hierachical nav under the right burger once that gets worked.

[2018-01-30 17:07] wmbutler commented on #1069
I think it can be resolved by implementing #1061. This is a particularly strange issue though because if you compare my peerplays balance on the staging branch to that of the current 180115 release, they are different values. This leads me to believe that something changed about how we calculate balances on the staging branch.

[2018-01-30 17:10] wmbutler commented on #1028
- [ ] I agree with @Xeldal that we should not display the currently chosen account in the dropdown.

[2018-01-30 17:17] gibbsfromncis commented on #1028
@wmbutler okay. Will work on it.

Btw: as I see you don't practice users assigning to their issues. Can I ask you to assign me to the issues (if you are ok with it) so I can filter them by https://github.com/issues/assigned. It can help me to manage/track issues faster then always using search or tracking issues on my notes.

[2018-01-30 18:06] ahdigital commented on #1039
You mean just the list of commits?

[2018-01-30 20:19] startailcoon commented on #588
A few issues I've found

- [ ] Selecting an asset that doesn't work (no valid gateway?) displays nothing. Should show an error.
- [ ] Should BTS be listed for withdrawal?
- [ ] Clicking the arrow on `Gateway` doesn't open the list, clicking in the dropdown does.
- [ ] "Estimated value" field shouldn't be editable
- [ ] Display warning when `Quantity` is larger than available.
- [ ] Move "Withdraw

[2018-01-30 20:47] nbcks commented on #1075
You can change both the direction and column to sort by. What we CAN change is the default sort. Anyway, sorting by call price should be the same as sorting by CR. Given this, shouldn't we default the sort to collateral ratio instead of call price @abitmore ?

[2018-01-30 21:03] iscrawler commented on #951
Same here on Mac :(. I'm going to try it with cli_wallet.

[2018-01-31 00:53] gibbsfromncis commented on #1071
Pull Request: #1086

[2018-01-31 01:18] abitmore opened #1087 "Stop using `get_account_history` database API"
Since the implementation of this API is inefficient, API servers may disable it some time in the future. I think it's safe to use `get_relative_account_history` API instead. See https://github.com/bitshares/bitshares-core/issues/613 for more info.

Feel free to close this ticket if this API is not being used.

[2018-01-31 01:25] abitmore commented on #1087
Closing so far. Will reevaluate.

[2018-01-31 01:25] #1087 closed

[2018-01-31 01:48] gibbsfromncis commented on #1068
Pull Request: #1088

[2018-01-31 02:00] abitmore commented on #1075
Different sorting has different purpose. If you've read the linked issue above, in the backend (right now), sorting by call_price is for margin calls, sorting by real collateral ratio is for force settlements. After the backend issue is fixed, both will return same result. I don't think it's wise to put efforts/time on changing default sorting right now, unless there are strong reasons showing tha

[2018-01-31 02:10] gibbsfromncis opened #1089 "[1] Display modal if switching to an account where you do not hold the keys"
1) Sign in / Sign up as Wallet account
2) Go to `https://wallet.bitshares.org/#/account/rudex` (you can use any account name)
3) Now all looks like you're logged in under `rudex` account

Bug happens only if you're logged in under Wallet Account. It doesn't reproduce for Login/Password accounts

Gif:
![gif-wrong-account](https://user-images.githubusercontent.com/35899973/35601531-dec9b3d0-0633-11e

[2018-01-31 02:15] gibbsfromncis opened #1090 "[1][ahdigital] Text go out of block on after Account Registration"
Reproduce:
1) Create Account (Login/Password account)
2) Click "Show me password"

Browsers where bug was reproduced: `Chrome`, `Opera`, `Safari`, `Firefox`

<img width="541" alt="screenshot 2018-01-31 03 11 28" src="https://user-images.githubusercontent.com/35899973/35601656-836978d0-0634-11e8-9429-1b2708419328.png">

[2018-01-31 05:03] robrigo commented on #951
I've got an old local wallet install, and can claim PTS / AGS unclaimed balances, no problem. In my spare time I've helped some people claim their stake, and I've noticed a lot of new users can't complete this process on their own. I don't know what is different about their wallet and mine, but I can claim the stake they can't, in my local wallet.

This smells like a regression bug that has crept

[2018-01-31 07:38] ahdigital commented on #1090
Can be fixed as part of [#1082](https://github.com/bitshares/bitshares-ui/issues/1082).

[2018-01-31 07:41] ahdigital commented on #1082
@wmbutler I'll review the issues from the older ticket #917 and also, try to catch issues such as that reported on #1090.

I saw the hours for this set at 3, I think it will take longer than that to complete this work given it involves design, development, testing and reporting amendments back here. Also, now issues from other tickets are being considered.

[2018-01-31 07:44] ahdigital commented on #1083
Wondering if this will conflict with #1082 that I'm working on? We might end up having to merge two burger menu implementations down the line.

[2018-01-31 08:57] gibbsfromncis commented on #1083
@ahdigital what about his one - https://github.com/bitshares/bitshares-ui/pull/1084 ? I've changed the section with username and hamburger. Will it conflict too? I've changes Header.jsx.

Actually I don't understand why did you touch hamburger and what are the changes you had to do with that...

[2018-01-31 09:40] ahdigital commented on #1083
I haven't done anything with the burger menu *yet*, but I have seen it mentioned in a ticket (and consolidated) that I'm about to work on. E.g. #1082 and #917.

However, with all of this said - I thought I'd have to implement a burger menu from scratch because when I visit the wallet with cookies, sessions, local storage etc. cleared it isn't visible. Instead, 'Create account' is shown.

Therefore

[2018-01-31 10:32] sschiessl-bcp opened #1091 "[1.5][gibbsfromncis] Account Id is no longer visible anywhere in the web wallet"
Is it possible to add it somewhere in the UI again?

[2018-01-31 16:05] calvinfroedge commented on #588
@startailcoon

**Should BTS be listed for withdrawal?**

I think BTS should be listed for withdrawal, as at least at some other places have supported BTS. Sending BTS from one user to another feels very different from "withdrawing" to an external exchange like polo.

**"Estimated value" field shouldn't be editable**

This was part of the original request specified by @wmbutler (That estimated valu

[2018-01-31 16:20] gibbsfromncis commented on #1083
@wmbutler please reassign this task to @ahdigital.

@ahdigital I've made changes #1084 to this menu already so make sure your staging will be up to date when you start to work on.

[2018-01-31 16:23] gibbsfromncis commented on #904
@wmbutler what do you mean about "should be part of the hierarchical nav" ?

[2018-01-31 16:44] gibbsfromncis commented on #904
@wmbutler As I see I should just update the design of Settings, right? Just get Settings inside some dark (based on theme) block and change fonts sizes, fonts colors, paddings and that's it?

The title of issue made me confused because I don't see any changes to UX. Only changes related to UI.

Do I understand the task correct?

[2018-01-31 17:28] gibbsfromncis commented on #1069
@wmbutler okay I'll investigate what happened but I don't understand why it's bug? I suppose you don't see the volume because it doesn't have the `price(BTS)` on staging.

[2018-01-31 18:26] gibbsfromncis commented on #1069
@wmbutler I've spent some time on investigation and now I'm ready to say that after this commit: https://github.com/bitshares/bitshares-ui/commit/0ba3468  by @svk31 we have the result of what you can see now.

As I said above I don't understand why you think it's a bug. As I found out on current Deploy was something wrong about market prices and @svk31 fixed that. So now you can see the correct da

[2018-02-01 00:21] dot5enko commented on #1036
colors are the same as in margin positions page except when it green: i thought it would be more "comfortable" if it would be white:
![image](https://user-images.githubusercontent.com/5626922/35654558-5bb8af00-06f6-11e8-95c3-e1d71885446d.png)

[2018-02-01 01:48] wmbutler opened #1094 "[.5] Add ID column to Proposed / Active / Expired WP"
When WP's are entered accidentally there can be confusion about which WP is the correct one to vote for. Adding the ID will remedy this.

- [ ] Column Title: ID
- [ ] Column contents: 1.14.xx

[2018-02-01 02:02] wmbutler commented on #1069
OK, I just assumed it was a bug. Maybe it was a bug in the current version and staging fixed it.

[2018-02-01 02:04] wmbutler commented on #904
Yes, this was mostly a UI task. Ultimately, we will have a right nav bar under the burger that is hierachical. In otther words, it will contain all of the cascading menus and options available. The second graphic showed them on the left, but it will in fact be on the right as part of a larger plan to consolidate the nav for smaller devices.

[2018-02-01 02:08] wmbutler commented on #1083
This is a great observation. As stated in another issue, the "Create Account" is a little redundant since we have a banner for this. There are plenty of cases where I think users might want to be able to navigate the menu (and optionally supply their account name or even someone else's account name) to track various aspects of that account without logging in. Since the blockchain is publicly acces

[2018-02-01 02:09] wmbutler commented on #588
@calvinfroedge the fee is variable based on the contents of the memo. That's how we keep the blockchain from getting spammed with massive memos.

[2018-02-01 02:11] wmbutler commented on #1091
What if we make it the first menu item under the new account dropdown?

[2018-02-01 02:12] wmbutler commented on #1082
Bumped to 6.

[2018-02-01 02:15] wmbutler commented on #1089
You have essentially assumed the role of that user once chosen. Maybe we should force a logout if you choose an account where you do not hold the keys?

[2018-02-01 02:16] wmbutler commented on #1075
I agree with @abitmore. We are trying to fix a problem that will go away with no effort.

[2018-02-01 02:19] wmbutler commented on #1039
Sorry, a licecap of the changes. Not required but makes it easy to spotcheck.

[2018-02-01 02:21] wmbutler commented on #1028
@gibbsfromncis the problem is that until you are a member of this repo, github does not allow me to assign you directly. As such, I typically add your name in the Issue subject. Let me know if there is a better way.

[2018-02-01 03:06] calvinfroedge commented on #588
@wmbutler Understood!

[2018-02-01 04:17] mattbeckman commented on #1094
I'll handle this one real quick.

[2018-02-01 04:34] mattbeckman commented on #1094
<img width="1097" alt="screen shot 2018-01-31 at 8 28 30 pm" src="https://user-images.githubusercontent.com/928380/35661180-57c01f72-06c5-11e8-903f-3cb841d1a670.png">

Is this where you'd like it to be placed?

[2018-02-01 08:41] #1050 closed

[2018-02-01 08:47] #1054 closed

[2018-02-01 09:19] #1036 closed

[2018-02-01 11:12] ahdigital commented on #1035
@wmbutler @svk31  PR #1038 was merged into staging - can this issue be closed now?

[2018-02-01 11:42] gibbsfromncis commented on #904
@wmbutler my point of view as a user - if I click on somebody's username I can take a look his account info and that's it. I don't want to assume the role of this user.

It's like on social networks - if you click on Mark Zuckerberg name somewhere you can take a look his profile and more data about this man. And that's it. You are not going to be this user and see his profile as yours.

Is this th

[2018-02-01 11:48] gibbsfromncis commented on #1089
@wmbutler my point of view as a user - if I click on somebody's username I can take a look his account info and that's it. I don't want to assume the role of this user.

It's like on social networks - if you click on Mark Zuckerberg name somewhere you can take a look his profile and more data about this man. And that's it. You are not going to be this user and see his profile as yours.

Is this th

[2018-02-01 11:49] gibbsfromncis commented on #1028
Pull request updated: https://github.com/bitshares/bitshares-ui/pull/1084

[2018-02-01 13:04] ahdigital commented on #1039
It's difficult to screenshot all of the amendments especially since I tried to make changes globally in the SCSS, and many were minor tweaks like standardizing font sizes and weights. On my branch there were  213 lines of styling changed for these things because as well as the SCSS changes, many styles are applied inline so it takes longer to find and make corrections in all the files.

Below are

[2018-02-01 13:15] gibbsfromncis commented on #686
@wmbutler lets discuss all things about this and I can work on this task.

For now I see the following things to do:

- [ ] Prepare the list of events to be notified (like bought something / sell something etc) (I guess @wmbutler should provide me this list)

- [ ] Add `enable/disable all notifications` option on Settings

- [ ]  Add `enable/disable` for specific notification on Settings (if we ha

[2018-02-01 15:40] wmbutler commented on #1039
Thanks. Added .5

[2018-02-01 15:47] wmbutler commented on #1089
It used to be that way, but it is very confusing to see your own account in the menu while looking at someone else's balances, voting, etc. Try to imagine to confusion of a new user suddenly seeing all of their holdings and balanced altered while they think they are still in their account.

[2018-02-01 15:48] wmbutler commented on #1069
Fine with me. I have no idea which is correct. It is unfortunate that my balance will be skewed to an incorrect value after this release is made official.

[2018-02-01 15:50] wmbutler commented on #904
I agree on all counts. Thanks.

[2018-02-01 15:54] #1035 closed

[2018-02-01 16:27] startailcoon commented on #767
Sorry, missed your notification about this. I've assigned it to myself so I can keep track of it and look at it some more.

[2018-02-01 16:27] pnomolos commented on #1002
@wmbutler @btsfav @svk31 First pass ... I'm currently using https://github.com/jquintozamora/react-d3-treemap to power it but if you'd prefer I switch to a HighCharts-powered one I can do that too.  I don't have a lot of assets so it's a pretty boring treemap.

![screenshot from 2018-02-01 08-25-17](https://user-images.githubusercontent.com/36223/35690033-bca361ba-0729-11e8-860b-96f35e481987.png)

[2018-02-01 16:27] #744 closed

[2018-02-01 16:30] wmbutler commented on #1002
Lol, This probably does need some UX. Maybe....

- Kill the header
- Adopt Roboto Font
- Slightly larger font
- More saturated color set?

[2018-02-01 16:43] ahdigital commented on #1073
So when I visited this page from a mobile device it turned out that wasn't responsive either. Screenshot shows elements being cut off:

![asset-market-page](https://user-images.githubusercontent.com/3088454/35690494-ebec97ae-076d-11e8-959f-0a6181c36cf9.png)

Also the feed tables at the bottom of the page were unusable on mobile, and the tabs to switch between them didn't have a clear active state.

[2018-02-01 16:47] ahdigital commented on #1002
Out of the box highcharts would probably look better, but I agree with the comments suggested.

[2018-02-01 17:14] gibbsfromncis commented on #1089
@wmbutler okay, got it. We are on the way to change UX of some parts of Bitshares to help our new users stay with us forever :) Lets make some updates there too.

Also we can use simple solution like place username (portfolio owner) and his balance on the page.

But we definitely should change the current behavior.

[2018-02-01 17:14] svk31 commented on #1056
There wasn't any existing keys so that's fine.

[2018-02-01 17:14] #1056 closed

[2018-02-01 17:17] gibbsfromncis commented on #904
@ahdigital hey. I'm going to work on burger menu again and make it hierarchical. Does it conflict with our task too?

[2018-02-01 17:22] nbcks commented on #1075
Okay, close the issue then?

[2018-02-01 17:29] #1073 closed

[2018-02-01 17:34] #1024 closed

[2018-02-01 17:34] #1025 closed

[2018-02-01 17:34] #1027 closed

[2018-02-01 17:38] gibbsfromncis commented on #1091
@wmbutler I suppose it's not a good idea. We can put it to [Accounts page](https://wallet.bitshares.org/#/accounts) and just add an current user account to list (because there is no user account if he use login/password mode)

[2018-02-01 17:41] #1071 closed

[2018-02-01 17:42] #1068 closed

[2018-02-01 17:44] #977 closed

[2018-02-01 17:44] ahdigital commented on #904
No, go ahead. :)

[2018-02-01 17:53] #972 closed

[2018-02-01 18:35] gibbsfromncis commented on #904
@ahdigital thanks man ;)

[2018-02-01 18:40] gibbsfromncis commented on #1028
@wmbutler @svk31 please close this issue as pull request was accepted.

[2018-02-01 19:12] wmbutler commented on #1069
More evidence to support my assertion:

## Version 180115 OPEN.EOS price

![screen shot 2018-02-01 at 1 10 10 pm](https://user-images.githubusercontent.com/1254810/35698035-8d88e6a2-0751-11e8-8339-e855124afedd.png)

## Staging Branch OPEN.EOS price

![screen shot 2018-02-01 at 1 10 00 pm](https://user-images.githubusercontent.com/1254810/35698010-7759f31c-0751-11e8-870d-1cfe8173d349.png)

[2018-02-01 19:15] #1028 closed

[2018-02-01 19:17] wmbutler commented on #1091
This is an easy fix that accommodates the request. We can enhance later. Thanks.

[2018-02-01 19:18] #1075 closed

[2018-02-01 19:19] wmbutler commented on #1089
Understood, but if you do that, you are going to have to change it everywhere, voting page, vesting balances, the list goes on and on :)

[2018-02-01 19:24] gibbsfromncis commented on #1069
@wmbutler looks interesting. Will investigate. Please increase the estimate to `1h` because I've spend already around 1h for investigating previous issue.

[2018-02-01 19:25] gibbsfromncis commented on #1091
@wmbutler What do you mean about `We can enhance later` if you assigned me to this task and this task is on current Sprint?

[2018-02-01 19:29] gibbsfromncis commented on #1089
@wmbutler I think the issue is only on `Account` page - because user gets to logged in after visiting this page so there is no so much effort.

Please assign me and put estimate for 1.5h. I'll investigate it on the next week and prepare some mocks of Portfolio Owner for your approve. I suppose it's enough time to complete this task. If I see it can take more time I'll notify you for approval.

[2018-02-01 19:46] wmbutler commented on #1089
OK, be forewarned that this is going to take some creativity. I can assure you that all endpoints matter.

[2018-02-01 19:47] wmbutler commented on #1091
I mean to say that your solution is a good step in the right direction but I expect there are users who may want to see the account ID in a more accessible location in the future.

[2018-02-01 19:51] wmbutler commented on #972
@kapeer42 is there any chance you could set the scroll bar to auto on this issue?

## GDAX (scroll bar goes away)

![auto](https://user-images.githubusercontent.com/1254810/35699881-fdd78968-0756-11e8-8773-f19a65cf1d5f.gif)

## DEX (scroll bar stays)

![scroll](https://user-images.githubusercontent.com/1254810/35699912-07f9440e-0757-11e8-946e-9cb87c859719.gif)

[2018-02-01 20:30] landry314 commented on #877
People are confused about this on the telegram groups. An order in the order book which is not YET buyable is confusing. No exchange would ever do this except the DEX... It is just weird.

[2018-02-01 20:53] svk31 commented on #1069
Oh I think I see why this happened, most likely when I changed the stats calculation from a manual calculation from market_history to values from the get_ticker api call the values changed. So inactive markets now get price values while before they were set to null. Not really something it's worth changing; the current values reflect the most recent prices, although in edge cases like PEERPLAYS th

[2018-02-01 20:55] landry314 commented on #877
I just got a warning that my order was 1.21 times higher than the lowest ask... because of one of these unbuyable yellow orders...

WE HAVE TO SEE THIS AS A BUG!

[2018-02-01 21:13] landry314 opened #1098 "Put bitCNY At The Top Of The List in Margin Positions"
Since bitCNY has a much higher volume than bitBTC, I think it should be at the top of the Margin Positions list by default.

[2018-02-01 22:00] gibbsfromncis commented on #1069
@wmbutler @svk31  closed this task. Should I investigate this issue or leave it for @svk31 ?

[2018-02-01 22:01] gibbsfromncis commented on #1091
@wmbutler okay. Should I wait for these users minds here or I can start to work on this issue?