[2019-07-25 14:02] react-cat commented on #2931
@startailcoon so is there anything to do here since you created a related task that will solve this issue ?

[2019-07-25 14:11] abitmore commented on #2719
@react-cat that's actually the same thing. We don't show transactions in the explorer right now, if to show them, need to reorganize the whole page.

[2019-07-25 15:18] react-cat commented on #2962
@startailcoon Can I claim this task ?
I reproduce it and found places which causes that error in DirectDebitModal, and also we have same issue in DirectDebitClaimModal.
Also since this components use getInitialState which is deprecated, they are need a little refactoring

[2019-07-25 15:27] allfory0u commented on #2962
@react-cat
But we already have PR blockchainprojects#164

[2019-07-25 15:29] allfory0u commented on #2865
@sschiessl-bcp ping

[2019-07-25 15:52] react-cat commented on #2824
@sschiessl-bcp I have a few suggestions:
1. Show it in popup
2. Show in popup first and last N symbols of hash splitted by dots (hash: b83b173...0f59d38) so popup wouldn't be to big
3. Show directly under that field grey string like in case 2 (hash: b83b173...0f59d38)

[2019-07-25 17:52] startailcoon commented on #2555
With the new market fee sharing, we should make this work better. Some users will be doing campaigns to drive more new users to the platform, and without a proper session storage for the account that referred them, the risk that these campaigns will give up are high.

Today we store a referral in the Local storage under `__graphene_referralAccount`. For some reason, this isn't saved over sessions.

[2019-07-25 19:04] startailcoon commented on #2555
Pushed an update to store referral over sessions.

Previously we removed store referral if none was appended to the visited URL. If a user where returning the next day, it would not persist, unless they used the ref in the address again.

I chose to make it check if we have a previously stored referral, and only store it if none has previously been submitted. This would make sure the original refe

[2019-07-25 21:11] startailcoon commented on #2931
@react-cat this issue would rather be to style the results list as a table. Since the popup is much larger than just the market picker I created a separate issue for it.

[2019-07-25 21:16] startailcoon commented on #2962
@react-cat it's already assigned to @sschiessl-bcp, please post your findings to the attached PR so it can be checked on.

[2019-07-26 10:59] Mahdi321 opened #2982 "[0.25] Gdex.usdt withdraw minimum"
The withdraw form doesn't recognize how big number is in below condition

**To Reproduce**
1. Open gdex.usdt withdraw form
2. Enter an amount that start with number 1

**Screenshots**
![image](https://user-images.githubusercontent.com/27496531/61947221-0274e700-afe8-11e9-808a-2a8038f24982.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Version 3.1.190618.1

[2019-07-26 11:59] react-cat commented on #2962
@startailcoon Sorry, found this issue 4 days ago before sschiessl-bcp assigned it to himself and didn't notice that when I come back to this task.
The task done in the same way as I would done it, except removing deprecated method, so no need to post any findings.

[2019-07-26 12:07] sschiessl-bcp commented on #2978
And add a mouseEnter delay

[2019-07-26 12:53] #2962 closed

[2019-07-26 14:05] startailcoon commented on #2978
Yes

[2019-07-26 14:07] startailcoon commented on #2931
Was thinking on this, and we could add the asset details popup on a "?" symbol at the beginning of the row. It would be good for the user to be able to read the details quick, but it shouldn't be when hovering the part where you actually select the market.

[2019-07-26 15:32] gibbsfromncis opened #2984 "[5.5][Wallet Redesign] Beginners Guide"
![Begginer's guide (1)](https://user-images.githubusercontent.com/35899973/61962926-f3cc0700-afca-11e9-8fc4-1310ac803531.jpg)

This is a concept of the design for Beginners Guide.

@sschiessl-bcp @startailcoon for the other tabs I need to get texts what are the info we should display and tell to our users when they visit our Platform for the first time.

When I receive texts, Alex will work on the

[2019-07-26 15:37] gibbsfromncis opened #2985 "[Wallet Redesign] Provide texts for Beginners Guide"
@startailcoon @sschiessl-bcp I need one of you to provide texts what are we going to display on Beginners Guide - https://github.com/bitshares/bitshares-ui/issues/2984
For the following steps:
- Deposit / Withdraw (requires your approve, already designed as you can see on a pic)
- Exchange
- Business
- Governance
- Worker Proposals

@sschiessl-bcp I remember you want to merge Governance & Worker P

[2019-07-26 15:42] gibbsfromncis opened #2986 "[8.5][Wallet Redesign] Landing Page. Not Logged In"
![Landing](https://user-images.githubusercontent.com/35899973/61963539-1f032600-afcc-11e9-9b79-dd2c6e8f43fd.jpg)

This is a concept of Landing Page when the user opens wallet.bitshares.org for the first time.

To read more about this concept and idea you can there: https://github.com/bitshares/bitshares-ui/issues/2669

The blocker to finish the design of it is the following issue #2692 (please pay

[2019-07-26 15:43] gibbsfromncis opened #2987 "[8.5][Wallet Redesign] Mobile Layout + Mobile Dashboard"
### Mobile Dashboard

As a sample for mobile Layout, we took a Dashboard. The first thing regarding Layout is
- **Should we display Bitshares Logo in the top or not.**  cc @sschiessl-bcp @startailcoon

<img width="350" alt="Screenshot 2019-07-26 17 48 04" src="https://user-images.githubusercontent.com/35899973/61964164-8a99c300-afcd-11e9-89db-45ef463b3b42.png">

### Dashboard without logo full-siz

[2019-07-26 16:26] gibbsfromncis commented on #2668
Update:

#2986 - The first draft of Landing Page without texts (blocked by https://github.com/bitshares/bitshares-ui/issues/2986)

https://github.com/bitshares/bitshares-ui/issues/2984 - The first version of Beginners Guide without all screens (blocked by https://github.com/bitshares/bitshares-ui/issues/2985)

https://github.com/bitshares/bitshares-ui/issues/2987 - Mobile Dashboard and Mobile Menu

[2019-07-26 16:27] #2984 closed

[2019-07-26 16:28] #2987 closed

[2019-07-26 16:29] #2986 closed

[2019-07-26 19:14] startailcoon commented on #2982
That's a strange thing, needs some checking on.

[2019-07-26 20:05] startailcoon commented on #2692
# Proposed Texts for the Landing Page

Last sentence is something we could have, just a suggestion.

----

# Five reasons the Bitshares network is all you need!

## Powerful, Secure and Decentralized
With powerful security it’s possible to allow management of corporate environment with multi account approvals. With its unique Delegated Proof of Stake, DPoS, mechanism Bitshares is virtually impossi

[2019-07-26 21:26] abitmore commented on #2692
I think @dls-cipher and other community members would like to discuss.

[2019-07-26 21:41] dls-cipher commented on #2692
Quick overall (ill do detailed one when i get some sleep today)
- BitShares has 'S' and its part of branding.
- Fiat no-no, SmartAssets pegged to Fiat - ok. We hold no gateways and we offer no fiat deposits/withdrawals.
- Telegram groups (channels are informative and new members cant post)
- no terms such as "share" or "stakeholder" - we introduced change to term for BTS Token holder (see https://

[2019-07-26 22:15] startailcoon commented on #2692
@dls-cipher Thanks for the input. I was quite sure some polishing would be expected. It's a frame of what we can go for. Lets get it working :)

[2019-07-26 22:27] startailcoon commented on #2985
Ping @xeroc @dls-cipher as well. Note that `Deposit / Withdraw` has a draft on issue #2984 that needs to be discussed as well. That particular section, as it's gateways, need some careful planning.

[2019-07-27 15:47] startailcoon opened #2988 "[2] Trading View not scaling correcly"
When you're using the bottom controllers of the Trading View chart, to select a scaling for 3 months, 1 month, 5 days or 1 day, the graph will not display enough data.

For example,
- clicking 1 day will scale to 1 minute per bar, but only display the last 5 hours of data, not 24 hours.
- clicking 5 days will scale to 5 minute per bar, but only display the last 24 hours, not 120 hours.
- clicking

[2019-07-28 07:41] abitmore commented on #2657
This issue is only about block explorer, but also other pages.

[2019-07-28 11:38] react-cat commented on #2870
@startailcoon Also there is a problem with component that we are supposed to use here. It use settings that shared across the app, so inverting price with help of that component causes an invert in open orders page for the same market. For example if you invert BTS_CNY market and you have an open order to buy\sell for the same market, it will invert it on open orders page too.

So we can end up wi

[2019-07-28 23:46] froooze commented on #2929
@startailcoon: I could reproduce this, but only after a time of about 15min.

[2019-07-29 01:43] froooze commented on #2928
@startailcoon: I could **not** reproduce this anymore!

[2019-07-29 11:29] swehman commented on #2832
account: swehman-1

[2019-07-29 20:12] startailcoon commented on #2928
Closing

[2019-07-29 20:12] #2928 closed

[2019-07-29 20:17] startailcoon commented on #2870
@react-cat good catch. It would indeed be problematic to use the same component, didn't think about that either until you wrote about it.

As I mentioned earlier, I think that we could do it with a new column, perhaps even a value within `()` on the current column, but that could perhaps also be confusing.

My suggestion would be that we add a toggle to enable or disable the view of inverted price

[2019-07-29 20:21] startailcoon commented on #2657
It could be included in other sections as well, I see your point. Do you have any specific pages in mind @abitmore ?

I could see for example the activity feed on the dashboard, but can't think of any other right now.

[2019-07-29 20:22] sschiessl-bcp commented on #2657
What abit means is: Please read the task outline in the first post :)

[2019-07-29 20:23] startailcoon commented on #2931
@react-cat interested in taking this task?

[2019-07-29 20:26] sschiessl-bcp commented on #2657
In account activity: Could make the operation id clickable, if necessary add the icon
In proposed proposals: Either in the header, make the id clickable with icon next to it. Or the Icon and text on the right of the title

[2019-07-29 20:28] startailcoon commented on #2824
I like the option to view it within the disabled input with dots in it, and when hovering over it it would display the full hash.

[2019-07-29 20:29] startailcoon commented on #2719
Still waiting for @sschiessl-bcp to explain this issue in more details.

[2019-07-29 20:39] startailcoon commented on #2968
ETA?

[2019-07-29 20:47] startailcoon commented on #2657
I should remember to read the whole thread :)

It did indeed specify the following pages for suggested addition.

- [x]  block explorer
- [ ]  account activities
- [ ]  proposed proposals
- [ ]  transaction confirmation page

When it was only added to one of these in PR

[2019-07-29 20:50] sschiessl-bcp commented on #2719
Sorry for the lack of details, here are some.

1. The block explorer currently only implicitly shows operations
![image](https://user-images.githubusercontent.com/33128181/62080442-f344a200-b250-11e9-8182-f662773c0b48.png)
Currently we display `#1: PLACE ORDER`. Let's add a header for transaction and give the operations a little intend. This is a quick fix and maybe not the best UX, but a quick so

[2019-07-29 20:51] sschiessl-bcp commented on #2719
See for example

https://open-explorer.io/#/blocks/39622255

https://open-explorer.io/#/operations/1.11.943032911

[2019-07-29 21:01] startailcoon commented on #2719
Thanks @sschiessl-bcp. So we want to add **which** TX the op was included in as well, not a bad idea. The indent would do good for now to keep the current design.

Note for example this block, one or more OPs has more than 1 TX.

Block https://open-explorer.io/#/blocks/39621703

[code]

[2019-07-29 21:26] startailcoon commented on #2863
Looks good, kind of like the current menu we have so it wouldn't be to much of a change for the users on that part.

[2019-07-29 21:31] startailcoon commented on #2857
I like this 👍

[2019-07-29 21:40] startailcoon commented on #2856
Lets say instead that there are two different types of account setups. Otherwise users may wounder why we "only support two" and what other types we may not support.

There is a benefit to the cloud account that can always restore it from any computer, which is also why cloud is less secure.

I understand what the reason behind for these are, and I think they are good and to give users the ability

[2019-07-29 21:48] startailcoon commented on #2851
From https://github.com/bitshares/bitshares-ui/issues/2672#issuecomment-492381501

Based on comments on previous issue I think that we should try to keep the working similar.  "Wallet" should rather be "Portfolio" as we've had it like that before.

[2019-07-29 21:59] sschiessl-bcp commented on #2988
I have an issue to define a single source of bucket / timeframe selection. I have not forwarded this properly yet ....

[2019-07-29 22:09] startailcoon opened #2989 "Bitshres-core Feature Release (3.3.0)"
Testing functionality against testnet for Feature Release (3.3.0).

https://github.com/bitshares/bitshares-core/projects/18

Release to TESTNET: 2019-08-07
Release to MAINNET: 2019-08-21

[2019-07-29 22:11] startailcoon opened #2990 "Bitshares-core Protocol Upgrade Release (4.0.0)"
Testing functionality against testnet for Protocol Upgrade Release (4.0.0).

https://github.com/bitshares/bitshares-core/projects/15

Release to TESTNET: 4 SEP 2019
Activate on TESTNET: 10 SEP 2019

Release to MAINNET: 2 OCT 2019
Activate Protocol Upgrade: 30 OCT 2019

[2019-07-29 23:22] MichelSantos commented on #101
A summary of the differences for key derivation from a brainkey between the CLI Wallet and the reference wallet was previously described by @clockworkgr elsewhere.  More details are provided.

# Overview

The [CLI Wallet's derive_private_key()](https://github.com/bitshares/bitshares-core/blob/af8a01aa9a791072f7f9180b34dc69bd6acde114/libraries/wallet/wallet.cpp#L190-L197) corresponds to the [Refere

[2019-07-30 07:31] OpenLedgerApp commented on #2968
@startailcoon we will be able to give you the ETA on Friday this week

[2019-07-30 08:44] #2902 closed

[2019-07-30 10:23] #2830 closed

[2019-07-30 10:30] sschiessl-bcp opened #2991 "Analyze exchange performance"
Do analysis of exchange tab (market CNY_BTS).

What happens when we load the page?

 - how many subscriptions do we end up with? (in ChainStore)
 - how often are we re-rendering, and which component? (profiling)

Useful links
 - https://blog.logrocket.com/make-react-fast-again-part-3-highlighting-component-updates-6119e45e6833/
 - https://reactjs.org/docs/optimizing-performance.html
 - https://rea

[2019-07-30 11:16] sschiessl-bcp commented on #2888
Bounty request: 1
Hours spent: 2

[2019-07-30 11:17] #2888 closed

[2019-07-30 11:37] #2878 closed

[2019-07-30 12:07] #2942 closed

[2019-07-30 12:13] react-cat commented on #2824
@startailcoon But if you will switch preimage to 2nd stage or custom, input become active, and also if we put hash with dots into input as value it may hurt copy button logic, so maybe it would be much simpler just to show hash with dots under the input ?

[2019-07-30 12:55] startailcoon commented on #2756
New PR supplied which updates the whole AccountSelector component.

[2019-07-30 13:08] startailcoon commented on #2065
Sorry, but I will not be able to finish this task. I'm releasing this task to anyone else interested.

[2019-07-30 13:14] OpenLedgerApp commented on #2657
@startailcoon done.
https://github.com/bitshares/bitshares-ui/pull/2996

[2019-07-30 14:08] react-cat commented on #2870
@startailcoon It depends on rareness of the case when user need to see inverted price, so in case it is a common case we can add a column with header "Inverted Price". Otherwise, if this case is rare, this would just add some mess to UI\UX. So in second case adding a button that will invert prices or toggle render of inverted price column would be a better approach.

I haven't enough experience in

[2019-07-30 14:38] react-cat commented on #2931
@startailcoon Yes, but  actually I can't find a button to open market picker and please, can you summarize a task for me not to lose any details ?

[2019-07-30 16:17] Xeldal opened #2997 "Failed to download the account history"
**Describe the bug**
When trying to download account history via wrapper.elasticsearch.bitshares.ws on desktop 3.1.190618.1, wallet.bitshares.org (chrome and firefox), and develop.bitshares.org(chrome and firefox) ... they all fail with the message "Failed to download the account history, please try again"

here is the console error: (ignore the strikethroughs)
account~dashboard-accounts~deposit-w

[2019-07-30 17:16] Xeldal commented on #2997
It seems to work fine with very small accounts, but anything with a large number of transactions, for me it fails.

[2019-07-30 18:54] allfory0u commented on #2997
I also can't download account history:
![image](https://user-images.githubusercontent.com/17462020/62156087-f6a06200-b312-11e9-8b50-3780b88873f9.png)
I get **[HTTP/1.1 500 INTERNAL SERVER ERROR]** after the next request:
`GET https://wrapper.elasticsearch.bitshares.ws/get_account_history?account_id=1.2.450921&from_=9900&size=150&sort_by=block_data.block_time&type=data&agg_field=operation_type`

[2019-07-30 18:56] allfory0u commented on #2997
I think the problem is in the limit of 10,000 operations.

[2019-07-30 19:12] startailcoon commented on #2455
Bump

[2019-07-30 19:31] startailcoon commented on #2997
Seems that something is not set correctly. If I change the "from_=9900" to "from_=0" it will download the full history from `2017-10-29T14:26:48` to `2017-12-20T03:46:03`.

I believe `from_` is a pagination point where it should start and if it's beyond the end point it will fail. But it will need some more checking.

[2019-07-30 19:38] startailcoon commented on #2997
Checking on this I believe the problem really is on the ES wrapper, as @allfory0u mentions. When querying for OPs after 10.000 it will fail. If "from" is set to 9900 and size is 100 it will be successful, but whenever you query for anything over 10.000 it will return a `500 internal server error` result.

[2019-07-30 20:26] startailcoon commented on #2931
@react-cat of course. Summarizing all this made me realize that it may need some more time. I've increased it to be 1.5 hrs. Mainly because table pagination and the starred asset handling requires some work. Also note that the `<Asset ..>` link we use today still does not have an option not to view the popup. But I'm working on that on the side on the other issue.

Market picker can be found by cl

[2019-07-30 20:31] startailcoon commented on #2870
I just realized we have the new column customization on the dashboard that we should use.

We can add the column as an option there. If user toggles the "Inverted Prices" it will be next to the "Price" column.

![image](https://user-images.githubusercontent.com/12114550/62162890-8517e200-b319-11e9-8bc0-03a0f8bb3113.png)

[2019-07-30 20:40] startailcoon commented on #2761
Noticed something when trying this today @Keegan-lee @sschiessl-bcp

When you scroll down in the list to toggle something, the list will scroll back to the top again. This is annoying if you're removing all the actions at the end of the list.

Also, can we get rid of the double header? When you open the drop down it has the title again as first option in the list. Why?

While you're at the spot, c

[2019-07-30 21:06] startailcoon commented on #2876
There is an issue in this that still needs to be fixed.

If you go to an accounts vesting balance page, it will not show anything. When you change your active account (if you have more) it will show previous accounts vesting balances, and so on.

Please supply a fix for this.

[2019-07-30 21:14] startailcoon commented on #2876
It also seems to be some kind of loading issue, because it loads 2 of my 4 vesting balances on reloading the page. But two are just "Loading" and it looks really weird to have a loading symbol in the middle. Can't we add a "Loading Vesting Balances" at the top while we're still fetching them?

![image](https://user-images.githubusercontent.com/12114550/62165926-d0cd8a00-b31f-11e9-8e6b-be5714015cf3

[2019-07-30 21:31] startailcoon opened #2998 "View "Global Settlement" in Orders Column"
@sschiessl-bcp this does not view when a user is being margin called by being to low on collateral?

Example, take a look at https://develop.bitshares.org/#/account/abc.btsbots, which are being margin called at the moment, but it's still not visible on the users dashboard. We should make another issue to see if we can implement this as well I think.

There is also a bug when you click the asset th

[2019-07-30 21:41] startailcoon commented on #2997
Issue submitted to the bitshares-explorer-api repo on Issue https://github.com/bitshares/bitshares-explorer-api/issues/39

[2019-07-30 21:49] gades opened #2999 "Displayed Zero price orders"
**Describe the bug**
Someone did order https://www.cryptofresh.com/tx/c1c54e55e1d863613cd1f90f2cc9741fbce6dbe2
or
https://www.cryptofresh.com/tx/ee938851e9a7c071dd60b603c1ce1815bacec87c

**Screenshots**
<img width="882" alt="Screen Shot 2019-07-31 at 00 48 17" src="https://user-images.githubusercontent.com/4200730/62167917-e9906c80-b32c-11e9-8112-32500ca48dba.png">

[2019-07-30 22:03] startailcoon commented on #2932
REST API Call for proxies with significant voting weight can be found on https://explorer.bitshares-kibana.info/apidocs/#!/governance/api_explorer_get_top_proxies

An option would be to display them in a table with useful information, such as % of shares, followers and last updates on votes. It should also be expendable to view the votes casted, which comes from account->options->votes. We also ne

[2019-07-30 22:12] startailcoon commented on #2999
This looks like a weird order to allow, but it is and the value would be a price of `0,000000000000001` :)

This will fail to view any price, as it's below the amount of digits for the asset.

![image](https://user-images.githubusercontent.com/12114550/62169099-82bc8480-b327-11e9-9c57-4904e0842e63.png)

![image](https://user-images.githubusercontent.com/12114550/62169107-910aa080-b327-11e9-9d57-2d

[2019-07-30 22:17] startailcoon commented on #2887
This should have been closed with the PR.

[2019-07-30 22:17] #2887 closed

[2019-07-31 06:22] gades commented on #2999
Also, could you please check expiration date "1903-06-24T15:43:11"?

<img width="457" alt="Screen Shot 2019-07-31 at 09 21 13" src="https://user-images.githubusercontent.com/4200730/62188309-a35efb80-b374-11e9-904c-7bb477ac75cc.png">

Why then in the interface it is impossible to make endless orders, but only for a year?

[2019-07-31 07:24] allfory0u commented on #2999
Problem with expiration date is publicly known by the core team and causes display errors in the UI.
bitshares/bitshares-core#597
https://github.com/bitshares/bitshares-ui/issues/17#issuecomment-373742686

[2019-07-31 11:47] sschiessl-bcp commented on #2969
The task at hand is to allow that the user to change the fee at hand directly in the TransactionConfirm modal. It should be minimal inversive. Currently there is only a "?" icon with a tooltip. We want a new icon (or replacement) next to it (e.g. the change icon) that will on-click make the fee asset selectable. This does not require any fee calculation overhead since the BTS fee is fixed and mere

[2019-07-31 12:32] sschiessl-bcp commented on #2997
Ah, yea I think ES default is 10k!

[2019-07-31 13:35] startailcoon commented on #2969
I thought I was clear in my comment on the original post. The linked issue would have given more details on the subject as well.

[2019-07-31 13:43] startailcoon commented on #2997
There is a built in limit in the Elastic Search. @oxarbitrage says he will work on the problem.

[2019-07-31 17:17] startailcoon commented on #2803
Will take this as part of #661

[2019-07-31 17:17] startailcoon commented on #661
With the use of ES we can now safely make this work.

[2019-07-31 17:31] startailcoon commented on #1734
Working with the ES made me realise we miss this functionality of a wrapper.

A wrapper would help alot so we don't do the same thing twice. Something that would only grow the more use ES.

Will take a further look on this in the coming weeks.

[2019-07-31 18:02] abitmore commented on #2657
How about the "transaction confirmation page"? If I can have the json in the page, I can copy it to cli_wallet to sign and broadcast.

BTW I hate Github's auto-close-issue feature.

[2019-07-31 19:03] abitmore commented on #2998
@startailcoon I think your definition of "Global Settlement" is not the same as the commonly known one. Info about margin calls is in "margin positions" tab, if something is missing, should be added there.

[2019-07-31 19:33] abitmore commented on #2803
I believe you'll remember to add info about market fee sharing to the page.

[2019-07-31 21:37] startailcoon commented on #2998
@abitmore perhaps it is. What I mean is that when a user has a margin position that is collateralized by the market to settle its debt, it show up as a position on the orderbook. This does not show up on the users open orders, but is visible on the transaction history.

![image](https://user-images.githubusercontent.com/12114550/62249940-f0ca7f80-b3eb-11e9-864c-b41c2cd0cd2e.png)

Perhaps my unders

[2019-07-31 21:39] startailcoon commented on #2803
Would need some help with this, do we have any good infographs?

[2019-08-01 07:11] sschiessl-bcp opened #3003 "Borrow / Settle Modal fixes for Prediction Markets"
BorrowModal / SettleModal and MarginPosition view has bugs with prediction markets
 - borrowing not possible
 - settling must be excluded
 - show only relevant information in margin position table

[2019-08-01 07:27] #3003 closed

[2019-08-01 11:45] sschiessl-bcp commented on #2803
I'd say create the frame and data provision, visualizations can be tinkered around by someone else with less gateway or subscription knowledge :)

[2019-08-01 12:17] bazan101 opened #3004 "Withdraw quantity are ignored (always use the total quantity)"
**Describe the bug**
Withdrawing a partial amount of BTC for instance the confirmatin modal window  does take into account the quantity asked but the total quantity of asset in the wallet

**To Reproduce**
Steps to reproduce the behavior:
1. Go to withdrw BTC
2. change the quantity you want to withdraw
3. click "withdraw"
4. the confirmation modal window does not show the quantity asked to withdra

[2019-08-01 12:23] allfory0u commented on #3004
Does this issue occur when using wallet.bitshares.org?

[2019-08-01 12:24] sschiessl-bcp commented on #3004
Please check in develop.bitshares.org

[2019-08-01 14:04] abitmore commented on #2998
![image](https://user-images.githubusercontent.com/9946777/62298617-9ffe6980-b473-11e9-963e-68e2364cdf95.png)
The CR `1.22` in red font means the debt position is in margin call status, so an amount of collateral could be bought at any time. The maximum amount that could be bought depends on TCR, debt amount, feed price and MSSR, perhaps we need to show it in the table. In addition, we can show th

[2019-08-01 14:06] bazan101 commented on #3004
yes it occure using wallet.bitshare.org

[2019-08-01 14:08] bazan101 commented on #3004
same situation with develop.bitshares.org

[2019-08-01 14:39] allfory0u commented on #3004
I think one of the reasons for the problem is that there is no BTS on the account for direct payment of fee

[2019-08-01 16:14] react-cat commented on #2870
@startailcoon actually I spend more time than was estimated and it would be great if you raise estimate at least for 1 hour

[2019-08-01 16:14] bazan101 commented on #3004
Can I pay in BTC?

Le jeu. 1 août 2019 à 16:39, allforyou <notifications@github.com> a écrit :

[2019-08-01 17:50] startailcoon commented on #3004
When issue #2975 is implemented, this would be possible to do without BTS.

[2019-08-01 17:55] startailcoon commented on #2998
Thanks for the clarification @abitmore , my bad here.

The only reason I think adding it to the open orders column is the fact that we added users personal settle orders there. We could add margin calls as well, if none thinks that's a bad idea. Improving the wording would be a good start.

[2019-08-02 12:33] sschiessl-bcp commented on #502
Can you coordinate with explorer api please? @oxarbitrage is probably willing to implement such an endpoint for us?

[2019-08-02 12:34] sschiessl-bcp commented on #2870
Is there a tldr; summary for this?

[2019-08-02 12:34] sschiessl-bcp commented on #2719
@react-cat you still interested? Otherwise I would.

[2019-08-02 12:38] sschiessl-bcp commented on #2931
What do you want to say with the pictures?

[2019-08-02 12:39] abitmore commented on #2719
@sschiessl-bcp any idea about my comments above (https://github.com/bitshares/bitshares-ui/issues/2719#issuecomment-513989518)? If it's not appropriate to discuss in this issue, I can create a new issue and move the discussion there.

[2019-08-02 12:40] sschiessl-bcp commented on #2884
They can be activated since they are used for visualizations.

[2019-08-02 12:40] sschiessl-bcp commented on #2809
That's exactly what we have bitshares-style-guide repo for, please adjust there.

[2019-08-02 12:42] sschiessl-bcp commented on #1908
Please tell me what milestone you want this to be in. This would also be our expectation for you to finish this task.

[2019-08-02 12:45] sschiessl-bcp commented on #2973
Add a new button in that popup, and a new route. We could call it `Quick Trade`, or even `Market Swap`. I have a UX in mind ... will try to sketch it and post here.

[2019-08-02 12:51] react-cat commented on #2870
@sschiessl-bcp you mean a final decision that we come up with ? Or a whole work that I done on that task ?

[2019-08-02 12:55] sschiessl-bcp commented on #2504
Both should be present, a separate call and inclusionin get_full_account

[2019-08-02 12:58] sschiessl-bcp commented on #2865
Sorry ... I missed that ping

[2019-08-02 13:00] sschiessl-bcp commented on #2865
Bounty:
- 4 integration tests: 2
- 40 issues created. Some of them were not applicable, or duplicates. Nevertheless, I am happy to have a reliable tester and want to motivate, so all accepted: 4

Total bounty: 6

[2019-08-02 13:00] #2865 closed

[2019-08-02 13:01] sschiessl-bcp commented on #2867
This will need to be checked to make sure, then we close.

[2019-08-02 13:03] sschiessl-bcp commented on #2473
Results of investigation not conclusive yet, found one bug but there is still another one hidden somewhere.

[2019-08-02 13:03] sschiessl-bcp commented on #2725
No progress yet.

[2019-08-02 13:07] sschiessl-bcp commented on #2761
@Keegan-lee please check and fix if needed. Add hours if needed as well. You can rename to "% of Total Supply"

[2019-08-02 13:15] sschiessl-bcp commented on #1734
This is our RESTful wrapper atm: https://github.com/bitshares/bitshares-explorer-api

Not sure we need a built-in-UI wrapper at this point.

[2019-08-02 13:22] sschiessl-bcp commented on #2824
We can also use two rows I guess and have the hash be the only input in one row.

[2019-08-02 13:24] sschiessl-bcp commented on #2832
Resolved to a Bounty of 2.64

[2019-08-02 13:24] #2832 closed

[2019-08-02 13:26] sschiessl-bcp commented on #2984
What does the numbering indicate?

[2019-08-02 13:28] sschiessl-bcp commented on #2987
How do other apps to it with regards to logo?

[2019-08-02 13:32] sschiessl-bcp commented on #2719
I like to revisit after seeing the tx splitup

[2019-08-02 17:02] TBAPI-0KA commented on #1908
It slightly depends on the final scope we agree on. Let me shortly pull together a simplified list (based on https://github.com/bitshares/bitshares-ui/issues/1908#issuecomment-505598402, with changes according to further discussion):

1. Header menu items to component
2. Hamburger menu items to component
3. Data structure for header menu
4. Data structure for the hamburger menu
5. Merge data struc

[2019-08-02 18:43] startailcoon commented on #1734
My suggestion here is to make a function that handles all the types of API calls available on bitshares-explorer-api, and that handles REST calls, process data and returns it to the caller. This would cut down the risk of having to invent the way to handle this on each component.

[2019-08-02 18:45] startailcoon commented on #2761
Can't we omit "Total" and just have `% of Supply`?

[2019-08-02 18:51] startailcoon commented on #2973
Nice, looking forwards to it.

[2019-08-02 18:56] startailcoon commented on #2809
Issue moved to [bitshares/bitshares-ui-style-guide #11](https://github.com/bitshares/bitshares-ui-style-guide/issues/11) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-02 18:58] startailcoon commented on #2809
Issue opened on the style-guide repo. Bounty will be handled by the UI repo though.

[2019-08-02 19:01] startailcoon commented on #2884
While we're at it, I think we should activate `Vesting Balances` links for all accounts.

[2019-08-02 19:02] startailcoon commented on #2931
See my notes in the text with numbers.

[2019-08-02 19:08] startailcoon commented on #2931
@react-cat Please note my update. I had a second thought on the starred flag. It should be based on starred markets.

Say that you have BTS/GDEX.EOS as a starred market, and you want to switch from BTS/OPEN.BTC.
If you want to replace OPEN.BTC, and search for EOS, then GDEX.EOS would be starred as it matches your favorite BTS/GDEX.EOS.

[2019-08-02 19:40] Keegan-lee commented on #2761
@startailcoon - It has the first title as the first option because essentially, that is the ONLY option that can ever be selected. The dropdown menu never changes, and just provides a way to toggle the table columns.

@sschiessl-bcp - I will fix the scroll jumping.

[2019-08-02 20:36] abitmore commented on #2504
I thought it's already in `get_full_accounts`. Will check.

[2019-08-02 20:39] abitmore commented on #2504
Oh, there is the issue for adding the APIs https://github.com/bitshares/bitshares-core/issues/1871

[2019-08-02 22:44] oxarbitrage commented on #502
Yes, thank you for submitting an issue into the explorer. Please submit all you guys think is needed. @Zapata and i will try to split the load. Thanks.

[2019-08-03 11:43] Zapata commented on #2997
I confirm the issue is due to an Elastic Search limit on the way we search the account history.
`from_` + `size` should be less than 10000 (`index.max_result_window` ES parameter).

In order to allow an unlimited retrieval I suggest a fix [there](https://github.com/bitshares/bitshares-explorer-api/issues/39#issuecomment-517918138) that introduce a small API change.

[2019-08-03 15:35] react-cat commented on #2719
@sschiessl-bcp I'll take it if you don't mind.
I'll summarize what should be done, please correct me in case I understand something wrong.
1. Above each transactions show "TX#{transaction_number} {transaction_hash}"
2. Add to the block header Merke Root(ID) of current block above "Previous"

[2019-08-03 16:20] bitcoinsfacil opened #3006 "[debt position bitARS] not on available assets list"
**Describe the bug**
Would like to create a collateral debt position on bitARS asset but it is not displayed on the list on the frontend

**To Reproduce**
1. Go to 'https://wallet.bitshares.org/#/borrow`
2. Click next till you get the list of assets to open a position
3. bitARS does not appear
4. See error

**Screenshots**

![Screen Shot 2019-08-01 at 23 14 21](https://user-images.githubuserconten

[2019-08-03 17:36] react-cat commented on #1792
@startailcoon UI maybe had some changes since this issue was created. Currently I can suggest to remove FIND MARKETS tab and rename MY MARKETS to MARKETS since we can select any quote with a plus sign and find any base using a search input on MY MARKETS tab, so I think that there is no need in FIND MARKETS tab.

Maybe I missing something that makes FIND MARKETS tab really useful ?

[2019-08-04 10:52] abitmore commented on #2719
@sschiessl-bcp @react-cat to be clear, "block ID" is not `transaction_merkle_root`, it's fine to display both of them though.

[2019-08-04 13:19] Zapata commented on #502
I have started to look at this, please provide your feedback there: bitshares/bitshares-explorer-api#53  ([this comment](https://github.com/bitshares/bitshares-explorer-api/issues/53#issuecomment-517937550) and [this one](https://github.com/bitshares/bitshares-explorer-api/issues/53#issuecomment-518003084)).

[2019-08-04 16:08] react-cat commented on #2931
@startailcoon Okay, got it

[2019-08-04 20:05] froooze commented on #1792
@react-cat:
MY MARKET = featured markets + checked markets
FIND MARKETS = all markets

We have two different UI, which should be combined in one UI.

MARKETS:
- list all assets
- search for all assets
- featured markets should be replaced by top 20 star market
- checked markets should also be replaced by star market

[2019-08-04 20:39] startailcoon commented on #2968
Without thinking on it I just withdrew an amount of OPEN.ETH, which was went to the wrong account. I've submitted a support ticket about this.

But I think that in case this is not fixed for the new release coming out, we will have to disable Opel Ledger Gateway on the reference wallet.

@sschiessl-bcp @OpenLedgerApp

[2019-08-04 20:42] startailcoon commented on #2968
@OpenLedgerApp Friday passed and no ETA?

[2019-08-05 08:13] OpenLedgerApp commented on #2968
@startailcoon sorry for delay. To fix old api we need more than one month.

[2019-08-05 08:56] OpenLedgerApp commented on #2498
@startailcoon I can take this one.

[2019-08-05 08:56] OpenLedgerApp commented on #2982
@startailcoon I can take this one.

[2019-08-05 09:29] sschiessl-bcp commented on #2968
How can this break just like that, and then need a one month fix? That sucks, but so be it ...

[2019-08-05 11:33] sschiessl-bcp opened #3008 "Allow gateways to be activated/deactivated on-chain"
Two tasks:

1. Cut out the logic from NewsHeadline that loads the on-chain configuration from the asset description. Put it in `lib/chain/onChainConfig` and provide `get` functions, e.g. the notifications are made accesible by exporting `getNotifications` from `onChainConfig`
2. Add a `getGateways` to the `onChainConfig` which returns the key `gateways`. `gateways` is a dict, e.g. could look like

[2019-08-05 11:47] sschiessl-bcp commented on #2973
![image](https://user-images.githubusercontent.com/33128181/62462389-96cd0f80-b787-11e9-9078-28f600e6adb1.png)

[2019-08-05 11:56] sschiessl-bcp commented on #2973
<h1>On the UI</h2>

Sell and receive are horizontally aligned for screen > smallWidth, otherwise vertically.
Price / Fees / Orders are collapsable and contain lists of detail data, label on the left and content on the right.

Price contains:
 - price of the above displayed trade
 - current feed price
 - current last market price

Fees contains:
 - Two numbers, format is 00,00%, percent difference:

[2019-08-05 12:20] sschiessl-bcp commented on #2973
<h1>On the implementation</h1>
Re-use where possible and avoid code duplication. Wrap everything in a middle centered card like prediction markets or borrow. Use BindToCurrentAccount.

<h2>Sell and Receive</h2>
Create one component that provides this, essentially it is a restyled asset selector component.

<h2>Price, Fees, Orders</h2>
Style guide is a collapsable component. Order details are a ant

[2019-08-05 12:21] sschiessl-bcp commented on #2973
<h2>On the UX</h2>
Both select components are empty when screen loads, collapsable components are not visible. When user selects the asset to sell, the list of assets to receive is populated, pre-select the first in the list, then show and load the collapsable components, all 3 collapsed as default.

Will refine as we go.

[2019-08-05 13:16] sschiessl-bcp opened #3009 "Add X-FRAME header"
To disallow clickjacking add X-Frame-Options: deny in responses.

[2019-08-05 15:02] react-cat commented on #2809
@startailcoon so if I want to take this task, should I go to bitshares-ui-style-guide repo ? Or I can do it here ?

[2019-08-05 15:06] react-cat commented on #2824
@sschiessl-bcp I had a close look and it seems to me that it wouldn't fit even input will take full width of a row.

[2019-08-05 18:58] startailcoon commented on #2761
By the double header I mean that the drop down say "Customize the columns" but the first option say the same thing and is an option that can't be selected.

![image](https://user-images.githubusercontent.com/12114550/62487709-cbaa8800-b7c2-11e9-8a68-a00b3b4736cb.png)

This should be possible to be without, example on https://ant.design/components/select/
![image](https://user-images.githubusercont

[2019-08-05 19:01] abitmore opened #3010 "Use a referrer parser to extract referrer info"
**Is your feature request related to a problem? Please describe.**

https://bitsharestalk.org/index.php?topic=28821.msg333146#msg333146

https://github.com/snowplow-referer-parser/nodejs-referer-parser

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solu

[2019-08-05 19:16] startailcoon commented on #2997
@Zapata is there any changes to API calls, or will this magically work as expected once the fix is in production?

[2019-08-05 19:21] startailcoon commented on #3006
Not all bitAssets are populated by default. The ones used are the same as used by default on the margin tab on the dashboard.

However, I can agree that all bitAssets created by the account `committee-account` that has any "decent" supply could be added, while some should be omitted. There are quite a few bitAssets created, http://localhost:8080/account/committee-account/assets

[2019-08-05 19:24] startailcoon commented on #2719
While we're at it, can we look on a way to visualize that you can click the block number to search for another one by typing it in?

[2019-08-05 19:34] startailcoon commented on #2498
Assigned.

[2019-08-05 19:36] startailcoon commented on #2982
Assigned. Make sure there is no location issue for this, never seen this issue before when using it.

[2019-08-05 19:38] startailcoon commented on #2968
This issue will be solved in short term by disabling the openledger gateway in the next release. We will work on a on-chain dynamic gateway toggle, see issue #3008

[2019-08-05 19:38] startailcoon commented on #3008
This is a really good idea!

[2019-08-05 19:46] startailcoon commented on #2809
Cross repo issues are a little messy. We need an issue in this repo to track the hours. I'll assign you here if you want to work on it.

[2019-08-05 20:02] oxarbitrage commented on #2997
I made the changes needed in the explorer to support this at https://github.com/oxarbitrage/open-explorer/commit/5b47e3d80d0572888aa960c60c380df4f6aa846b

Can be tested with any account that haves more than 10k: https://open-explorer.io/#/accounts/1.2.1151525

Can go to the last page and others without getting the 500 error as before.

In order to do it like that(which i think will be what you wan

[2019-08-05 20:05] startailcoon commented on #2997
Will follow up any required changes and let you know if I need anything @oxarbitrage

[2019-08-05 22:24] abitmore commented on #3006
Just found this page is in Spotlight. We can add a button/option to search for assets to borrow.

[2019-08-05 22:27] abitmore commented on #2719
I think we can add an "edit" or "search" icon near the block number. A clickable block number just doesn't make sense.

[2019-08-06 03:31] manikey123 commented on #2406
currently there is dependency on completion of Core tickets :

1. https://github.com/bitshares/bitshares-core/issues/1882 (point 5 in "Common parts for all three above approaches")
2. https://github.com/bitshares/bitshares-core/issues/1733

[2019-08-06 08:44] sschiessl-bcp commented on #2717
Bounty request in https://github.com/bitshares/bitshares-ui/pull/3011#issue-304608014

[2019-08-06 08:45] sschiessl-bcp commented on #2717
This issue will be closed for payout. Further refinements due to feedback of testers will go on new issue.

[2019-08-06 08:45] #2717 closed

[2019-08-06 09:12] sschiessl-bcp opened #3012 "[5.5] PredictionMarket: Facilitate loading assets and load whitelist issuers on-chain"
Requires completion of #3008

Currently the whitelisted houses of prediction market UI are hardcoded. This issues task are:
 - loading list of whitelisted houses from asset description like laid out in #3008, use the key `predictionMarketIssuers`
 - adjust the loading of assets when prediction markets is opened.
    - do not load all assets when component is mounted, only load assets owned by the

[2019-08-06 09:57] react-cat commented on #2809
@startailcoon So the task here is to create a HOC for Ants tooltip with default delay and an ability to set custom delay and use it all across the project ? If yes, assign me

[2019-08-06 11:31] sschiessl-bcp commented on #2930
Bounty request: https://github.com/bitshares/bitshares-ui/pull/3013#issue-304671344

[2019-08-06 11:31] #2930 closed

[2019-08-06 12:14] sschiessl-bcp commented on #2979
Bounty request in https://github.com/bitshares/bitshares-ui/pull/3014#issue-304681417

[2019-08-06 12:14] syalon opened #3015 "Wallet mode cannot create account"
The account cannot be created in the wallet mode, and the `Create account` button is grayed out. Not clickable..

Both safari and chrome have this problem.

Wallet Version: 3.1.190618.1

[2019-08-06 12:15] sschiessl-bcp commented on #2876
Please re-check after latest update

[2019-08-06 12:24] sschiessl-bcp commented on #3015
Can you provide a screen please? Any errors in console log?

[2019-08-06 12:26] allfory0u commented on #2876
Looks nice and informative :+1:

![изображение](https://user-images.githubusercontent.com/17462020/62539624-57bdbd80-b85e-11e9-879d-256b561903a8.png)

[2019-08-06 12:27] syalon commented on #3015
![err1](https://user-images.githubusercontent.com/2375337/62539780-9b2d2180-b888-11e9-87cf-3ab88965a44c.png)

[2019-08-06 12:28] syalon commented on #3015
F12 console has no errors.

[2019-08-06 12:29] syalon commented on #3015
As shown above, the Create button is grayed out and cannot be clicked.

[2019-08-06 12:53] sschiessl-bcp commented on #3015
Yup, confirmed. Not working.

[2019-08-06 17:05] abitmore commented on #2876
The only issue is the background color of the blank area below the table doesn't look too good. https://develop.bitshares.org/#/account/temp-account/vesting
![image](https://user-images.githubusercontent.com/9946777/62560316-12f54f00-b87d-11e9-886d-52cadc7468c5.png)

[2019-08-06 18:05] startailcoon commented on #2809
Yes. The default delay should be used by all parts of the app.

[2019-08-06 18:29] startailcoon commented on #2717
Nice work @sschiessl-bcp !

[2019-08-06 18:35] startailcoon commented on #2865
Agree with @sschiessl-bcp, nice work @allfory0u on all your testings.

[2019-08-06 18:39] startailcoon commented on #2692
ping @dls-cipher

Do we have any requests for the remainder of the text?

[2019-08-06 18:39] react-cat commented on #2719
@startailcoon Actually, when I was searching for the way to search for another block, block number was the last place that I was looking on. That number looks more like a link and it's a bit confusing cause I'm already on that block.
As @abitmore suggested search icon could be a thing. Edit icon would be more confusing than useful.

I think as a quick fix, search icon could be good, but it would b

[2019-08-06 18:55] startailcoon commented on #2719
I think it would be better to have `Go to Block`, since it's not a search.

Agree. You could make them center and have them cover enough width to fit them, so they are always centered on the same spot when you change block.

[2019-08-06 19:23] allfory0u commented on #2865
Thank you, @sschiessl-bcp and @startailcoon!

[2019-08-07 10:57] react-cat commented on #2719
@startailcoon So as I  understand you agreed with the image, but want to change "Search for block" to "Go to Block", correct me If I misunderstand something.

 Also I didn't get what you mean here "You could make them center and have them cover enough width to fit them, so they are always centered on the same spot when you change block.", could you please explain ?

[2019-08-07 13:10] #2906 closed

[2019-08-07 13:10] #2965 closed

[2019-08-07 13:15] #2555 closed

[2019-08-07 16:51] startailcoon commented on #2719
Correct

Like this, where they are centered.

[code]

[2019-08-08 12:22] react-cat commented on #2719
@startailcoon Okay, got it.

[2019-08-08 14:02] OpenLedgerApp commented on #3015
@startailcoon I can take this one.

[2019-08-08 14:04] react-cat opened #3018 "Market picker select nonexistent trading pair"
**Describe the bug**
User have an ability to select nonexistent trading pair what causes crash of market picker

**To Reproduce**
Steps to reproduce the behavior:
1. Go to market
2. Open market picker and select TESTBTSHKD as a first asset
3. See that you can't open market picker anymore

**Expected behavior**
User should have an ability to select trading pairs that can't be trade

**Screenshots**

[2019-08-08 14:21] #2756 closed

[2019-08-08 14:22] sschiessl-bcp commented on #3018
Can it be that it's a prediction market asset?

[2019-08-08 14:35] #2860 closed

[2019-08-08 14:36] sschiessl-bcp commented on #2870
What's the bug in open orders?

[2019-08-08 14:41] sschiessl-bcp commented on #2870
Current proposed solution is this
![image](https://user-images.githubusercontent.com/33128181/62712524-4d84f600-b9fb-11e9-89f2-f69fdc54c5bd.png)

Does that satisfy your needs @froooze ? I find it borderline confusing because every line has different price without indication

[2019-08-08 15:14] abitmore commented on #2967
ETA of this feature?

[2019-08-08 15:16] react-cat commented on #2931
@startailcoon should user have an ability to select market as favorite on market picker ?

[2019-08-08 18:34] startailcoon commented on #3018
It's a prediction market, you can see it by the trading pair design. Ordinary markets have a `/` while a prediction market has a `:`.

Could be that we need to update this to make it possible to change the pair on PM as well.

[2019-08-08 18:37] startailcoon commented on #2967
ETA around the end of current milestone hopefully.

[2019-08-08 18:44] dls-cipher commented on #2950
a) A hardcoded disclaimer in bitshares.org is not possible due to legal concerns - happy to open dialog on that with our legal team if hardcoded is your desire (see at the bottom contact email)
b) We see the need to reduce marketing/branding confusion, who is who, partnerships, relationships and such. Since BitShares EOS is not a BitShares product (i.e. approved by community consensus) and an enti

[2019-08-08 18:53] startailcoon opened #3019 "Edit open order price"
It would be a nice feature to make it possible to edit the price of an open order. This would essentially just cancel the current order and make a new order, not edit the current one.

I can see that it would be added to the exchange page in the "My orders" list as well as "Open orders" on the dashboard.

[2019-08-08 19:00] abitmore commented on #3019
FWIW there is a discussion about updating an order https://github.com/bitshares/bsips/issues/150

[2019-08-08 19:32] react-cat commented on #2931
@startailcoon
"Second column is the asset name, behind it is a ? which will display the asset information details. This columns action will be to change asset pair."
By asset information details you mean same tooltip that was here before ?

And also I think we can use Ant info-circle icon, cause a lot of icons might cause an UI overload. They will attract too much attention

[2019-08-08 20:17] tbone-bts commented on #2973
@sschiessl-bcp I think what you describe is a very good start. And for this purpose, I really like your idea of displaying info only from the relevant side of the order book. In fact I've long thought this would be very helpful in creating a simplified buy/sell UX.

Perhaps that table can include columns that indicate to the user how many cumulative shares they would instantly get at each level, t

[2019-08-09 08:08] sschiessl-bcp commented on #2657
![image](https://user-images.githubusercontent.com/33128181/62764147-7a81e900-ba8d-11e9-8ec3-843ba7fba27d.png)

Essentially you would like a Copy button in there?
![image](https://user-images.githubusercontent.com/33128181/62764185-92f20380-ba8d-11e9-9d02-66a895a4b006.png)

E.g. a "Copy raw json" below "Show raw json"?

[2019-08-09 08:14] sschiessl-bcp opened #3020 "Add offline signing features to Transaction Confirm dialog"
https://github.com/bitshares/bitshares-ui/issues/2657#issuecomment-519824413

![image](https://user-images.githubusercontent.com/33128181/62764428-288d9300-ba8e-11e9-93af-3be4b31ce825.png)

On the footer row, on the bottom left
1. Add a Copy icon with text "Copy TX", which does exactly that.
2. Add a Beet icon with text "Sign with Beet", which does exactly that

[2019-08-09 08:44] #2498 closed

[2019-08-09 09:14] sschiessl-bcp commented on #2761
How about

![image](https://user-images.githubusercontent.com/33128181/62768250-bf5e4d80-ba96-11e9-9c18-9276c68231b8.png)
![image](https://user-images.githubusercontent.com/33128181/62768295-d735d180-ba96-11e9-9ef9-6d5e350b9367.png)

[2019-08-09 09:27] sschiessl-bcp opened #3021 "Refine Customizable Table selector"
Left: Dropdoiwn open
Right: Dropdown closed

![image](https://user-images.githubusercontent.com/33128181/62769101-9fc82480-ba98-11e9-92b7-33b6c830cb2e.png)

[2019-08-09 09:27] sschiessl-bcp commented on #3021
@Keegan-lee ?

[2019-08-09 10:01] sschiessl-bcp commented on #2931
This task is to ensure that the tooltip doesn't break the functionality. Please stick to that, and use new issue for restyling.

[2019-08-09 10:47] abitmore commented on #2657
@sschiessl-bcp see comments in https://github.com/bitshares/bitshares-ui/pull/3001#issuecomment-517921338.

[2019-08-09 10:49] abitmore commented on #2657
@sschiessl-bcp by the way the modal in #2996 is NOT what I want. I need a JSON, not a tree.

[2019-08-09 10:53] abitmore commented on #2657
If you must have a tree in the module, please make a button to "expand all".

[2019-08-09 10:55] sschiessl-bcp commented on #2657
Let's do copyable text in https://github.com/bitshares/bitshares-ui/issues/3020. I consider this issue completed with the tree that allows inspection. Sorry if we misunderstood the intent of your request.

[2019-08-09 10:56] sschiessl-bcp commented on #3020
@abitmore instead of a copy button we could also add a toggle that switches the view of the json modal to a textarea that contains the formatted json?

[2019-08-09 11:03] abitmore commented on #2657
It's clearly stated in OP, this issue is for adding "raw json". Unless you don't know what is a raw json.

[2019-08-09 11:05] abitmore commented on #2657
A well formatted JSON is much better than the appearance currently showing in UI.

[2019-08-09 11:09] sschiessl-bcp commented on #2657
For the times I used this popup the "tree json" was sufficient for me and I didn't think more about it. You want plaintext. I put a question for you in the follow up issue.

[2019-08-09 11:27] abitmore commented on #2657
Please redo this issue. Current implementation is not acceptable.
- the tree in account activities doesn't include important data
  - [ ] id of the history
  - [ ] block_num
  - [ ] trx_in_block
  - [ ] op_in_trx
  - [ ] virtual_op
- the trees in block explorer, I just don't want to use it.
  - [ ] I need a raw json of the whole block
  - btw, the "?" icon added near the fee in that page just does

[2019-08-09 11:35] abitmore commented on #3020
Please redo the feature about raw JSON in the scope of #2657 which is relatively easier, and leave this issue for offline signing only which is much more complicated.

[2019-08-09 12:03] react-cat commented on #2931
@startailcoon Due to @sschiessl-bcp comment, let's decide what we are going to leave for that task and create a new one. Also maybe we could close this task and open a task for redesign, cause it would solve current problem and there is no need to finish this task just to make a fix for few days that will be deleted in redesign task. Furthermore, I am already working on that task, so if we decide

[2019-08-09 12:06] react-cat commented on #2870
@sschiessl-bcp There is a problem with component that we was supposed to use here. It use settings that shared across the app, so inverting price with help of that component causes an invert in open orders page for the same market. For example if you invert BTS_CNY market and you have an open order to buy\sell for the same market, it will invert it on open orders page too and vice-versa.

[2019-08-09 12:55] sschiessl-bcp opened #3023 "Refine pageSizeOptions"
PageSize is supported for all Tables now, and we want to refine it such that
 - wallet remember for which table what size was set
 - if current pageSize is different than default pageSize, show the toolbar even if only one page

[2019-08-09 14:51] react-cat commented on #2809
@startailcoon I left a comment for you in style-guide repo.
Also I noticed that in some places we use Popover for the same purposes as Tooltip. I think we should make same changes to Popover logic.

If you agree, add 0.5 to estimate for this task, or create a new one with estimate 0.5

[2019-08-09 15:06] Keegan-lee commented on #3021
Looks like you've already implemented this. Yes, the settings Icon, and styling doesn't look like it would take much longer than 1.

[2019-08-09 17:26] abitmore opened #3024 "Indentation issue"
**Describe the bug**

Multiple operations in a proposal don't have same indentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Proposed transactions'

**Expected behavior**

Multiple operations in the proposal should have same indentation.

**Screenshots**

![image](https://user-images.githubusercontent.com/9946777/62797225-6f55aa00-badb-11e9-939b-9adfef3c9ccf.png)

[2019-08-10 10:42] react-cat opened #3025 "Redesign transaction block"
Redesign transaction block:
1. Move arrows to top of page, so all navigation between blocks would be in one place.
2. Remove current logic of searching block by clicking on block number.
3. Create input for block searching and place it like shown below
`-----------------------------------------------`
`|        <-   BLOCK #1234456    [__Go_to_Block__] [🔍]    ->       |`

[2019-08-10 10:43] react-cat commented on #2719
@startailcoon To not repeat the mistakes like in #2931, I created a new issue for redesign #3025 and let's stick here to initial task.

[2019-08-10 10:59] react-cat commented on #3018
@startailcoon @sschiessl-bcp I think we should do it, cause as for me, it was uncomfortable and confusing that after selecting this pair I could do anything and I need to manually remove pair from url and reload page to make market picker work again.

Anyone interested in this task ? If no one wants it, I could make it in 1 hour, but feel free to take it.

[2019-08-10 14:38] startailcoon commented on #2997
UI requires to replace old `get_account_history` with new `account_history` and to have `https://explorer.bitshares-kibana.info/es` added to the ES list as it's the only one supporting this for now.

[2019-08-10 20:10] startailcoon commented on #661
# New Layout for Membership Stats

## LTM

### Details Section
![Screenshot_2019-08-10_20-26-02](https://user-images.githubusercontent.com/12114550/62826398-f463c080-bbba-11e9-951c-cc7df60e0de7.png)

### New Referrals List

This list is limited to non sort-able due to the ES query not supporting it yet. Accounts are loaded only for current page to decrease node stress.

![Screenshot from 2019-08-1

[2019-08-10 20:22] startailcoon commented on #2803
https://github.com/bitshares/bitshares-ui/issues/661#issuecomment-520176401

[2019-08-11 12:22] startailcoon commented on #2979
The state isn't updated correctly when switching between accounts in the header menu.

`retrieveVestingBalances()` is called correctly, when the account changes, but the following doesn't update correctly and needs checking.

https://github.com/bitshares/bitshares-ui/blob/a23543832ccd96a1ee66cf4bcd943a693ea5ec0d/app/components/Account/AccountVesting.jsx#L197

[2019-08-11 20:33] sschiessl-bcp commented on #2979
Fixed https://github.com/bitshares/bitshares-ui/commit/de1d7b512f7c8d1bd4b95ec617ee9d4be6e3da24

[2019-08-11 21:28] sschiessl-bcp commented on #2876
Fixed

[2019-08-12 10:31] abitmore commented on #2658
@startailcoon @sschiessl-bcp What progress had been made about this? Here are new reports:

This does not appear to be a Binance account.

deepcrypto8 : STEEM
bnb136ns6lfw4zs5hg4n85vdthaad7hq5m4gtkgf23 : BNB
These 3 accounts are traps set up to catch this mistake and all have payments into them, all presumably the same mistake

[2019-08-12 12:18] sschiessl-bcp opened #3028 "[0][react-cat] Update and resolve vulnerabilities in bitshares-ui-style-guide"
https://github.com/bitshares/bitshares-ui-style-guide/issues/9

[2019-08-12 12:39] dot5enko commented on #2572
@MikhailKavalenka hi, sorry for such a long delay.
I'm cool with what you're proposing, but have some thoughts on improvements of course:

1. merging assets and exchange methods into one uber request and call it `state` for example
2. adding `state_hash` which would be actually hash of given state or sequential number which increases with any changes like adding/removing exchange options/coins.
3.

[2019-08-12 14:07] #2921 closed

[2019-08-12 15:52] sschiessl-bcp commented on #3008
Bounty request in https://github.com/bitshares/bitshares-ui/pull/3030#issue-306551866

[2019-08-12 16:11] gibbsfromncis opened #3031 "[Wallet Redesign] Exchange Desktop"
This is a detailed PDF document with mockups for new Exchange.

[[Wallet Redesign] Exchange.pdf](https://github.com/bitshares/bitshares-ui/files/3493399/Wallet.Redesign.Exchange.pdf)

All mockups can be posted there by request. If you need it please ask me to upload them.

[2019-08-12 16:43] gibbsfromncis opened #3032 "[9]UX Coordination 190705"
|Task|Hours|
|----|----|
|#3031 Exchange Desktop Mockups |5h|
|Communication|4h|
||9h|
|Refund Call with Designer|4h|

[2019-08-12 16:43] #3032 closed

[2019-08-12 16:44] gibbsfromncis commented on #2668
190705 https://github.com/bitshares/bitshares-ui/issues/3032

[2019-08-12 16:48] gibbsfromncis opened #3033 "[14.5]UX Coordination 190719"
|Task|Hours|
|----|----|
|#3031 Exchange Desktop Mockups |10.5h|
|Communication|4h|
||14.5h|
|Refund Call with Designer|4h|

[2019-08-12 16:52] gibbsfromncis opened #3034 "[18]UX Coordination 190705"
|Task|Hours|
|----|----|
|#3031 Exchange Desktop, Transaction Confirmation, Unlock wallet |13h|
|Communication|5h|
||18h|
|Refund Call with Designer|5h|

[2019-08-12 16:52] #3034 closed

[2019-08-12 16:52] #3033 closed

[2019-08-12 18:17] startailcoon commented on #3031
Will go through your PDF for review with a few comments.

[2019-08-12 19:59] startailcoon commented on #2979
Was this the only requirements to make this work? If it's verified to work I'm okay with it.

[2019-08-12 19:59] #2979 closed

[2019-08-12 20:01] startailcoon commented on #2876
Looks good to me now 👍

[2019-08-12 20:01] #2876 closed

[2019-08-12 20:07] startailcoon commented on #3018
Feel free to work on it :)

[2019-08-12 23:05] gibbsfromncis commented on #2230
@startailcoon I didn't have time to review it. @react-cat do you mind to take it?

[2019-08-12 23:11] gibbsfromncis commented on #2856
@startailcoon @sschiessl-bcp I agree with you guys. Alex noticed the same thing...

Okay, can you suggest which account will be a default? We should decide between:
1) A less secure and simpler way of account registration
2) More secure and more complicated way of account registration

Btw keep in mind it is not the best practice to let users download their wallet on mobile devices...

[2019-08-13 00:31] froooze commented on #2998
In older client version margin call was on the exchange under open orders, this should be the case again.

[2019-08-13 05:41] react-cat commented on #2870
@froooze Solution with additional column with inverted prices that could be hidden by your wish satisfy your needs ?

[2019-08-13 05:51] react-cat commented on #3018
@startailcoon Maybe we could make some popup that will appear when user first time select prediction market. This way we can warn user that it is a prediction market, give a link where he can read more about prediction markets and it's differences from ordinary and of course a checkbox "never show again".
This could be a solution in case if you decide that we need to aware user.

And I have a ques

[2019-08-13 06:51] react-cat commented on #2719
@sschiessl-bcp, @startailcoon could anyone please help me a little, I can't find a way to get transaction hash. I searched all across the project, there is no tx hash none in operation objects neither in blocks. I visit open-explorer github and found that they get tx data by url using tx id ([github link](https://github.com/oxarbitrage/open-explorer/blob/5b47e3d80d0572888aa960c60c380df4f6aa846b/ap

[2019-08-13 08:49] #2982 closed

[2019-08-13 09:23] sschiessl-bcp commented on #3018
That is the "borrow & sell" button for prediction markets. I guess no one bothered to check it for new styling :)

[2019-08-13 09:25] sschiessl-bcp commented on #3018
As for the header, I agree that the header should be the same. Please check what extra special cases are in the header. As far as I remember its "only" that it defaults to the same market order (PREDICTION ASSET : ITS BACKING)

[2019-08-13 09:28] sschiessl-bcp commented on #2719
Implement a dummy method for now, I can fill in / point you to the actual tx id calculation when you are done with all the rest.

[2019-08-13 09:28] #3008 closed

[2019-08-13 11:31] froooze commented on #3031
Looks on the first look very good, but needs more in-dept look.

[2019-08-13 12:23] react-cat commented on #2230
@gibbsfromncis Sure, I'll take a look at it soon

[2019-08-13 18:04] react-cat commented on #2230
@startailcoon, @gibbsfromncis There is a bug, in case you want to use popup without question icon, tooltip get's a body as a DOM node to be bind to. I tried a lot of things and make a research in ants community and there is no easy way to create correctly working input.

We can handle a click/hover/focus on children and toggle visibility of tooltip manually, but it would require a lot of work, tes

[2019-08-13 19:17] abitmore commented on #2719
Result of `get_block` call has all the data needed to calculate txid. See https://github.com/bitshares/bitshares-core/issues/587#issuecomment-359098718:

[2019-08-13 22:07] gibbsfromncis commented on #2230
@react-cat I'll take care of it tomorrow

[2019-08-13 22:32] TBAPI-0KA commented on #1908
@sschiessl-bcp Maybe it will be faster to connect on Telegram to resolve remaining questions, so I can start to work on this one?

[2019-08-14 07:40] abitmore opened #3035 "Unable to claim direct debit"
**Describe the bug**
1. there is some warning says "Limit > payer balance!" when Payer balance is okay
2. trying to type anything in memo closes the modal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/account/mindful-me'
2. Go to 'https://wallet.bitshares.org/#/direct-debit'
3. Click on 'claim'

**Expected behavior**
Able to claim, with or without a m

[2019-08-14 08:11] MindfulMe commented on #3035
I will test it on testnet

[2019-08-14 13:28] react-cat commented on #2719
@abitmore @sschiessl-bcp Thanks, now I understand how to get it, I'll create an util `getTransactionHash`.

[2019-08-14 21:20] dot5enko commented on #2572
https://app.swaggerhub.com/apis/sdotsenko/BitsharesGatewayRequirements/2.0.0

this is the things i want to change i said above. Validate and prototype transfer methods looks good. I'll add them into docs later too

Probably we could add optional `exchange_id` parameter to `limits` method. Cause probably its overweight to get all this info each time we want to withdraw or deposit something

@sschie

[2019-08-15 07:59] sschiessl-bcp commented on #2230
I'm lost what the current approach here is, and if it is what we need. Can someone please recap and point me where I can test it?

Playing around with the latest spotlights it is quite hard to define a tooltip that is suitable for mobile. Current thought is to have a "?" icon that can be clicked, and if clicked in inserts a span or label above the component with the text. I find mobile tooltip as

[2019-08-15 08:06] sschiessl-bcp commented on #1908
I'm sschiessl in Telegram.

[2019-08-15 08:19] sschiessl-bcp commented on #2010
What is the branch you are working on for this @dot5enko ?

[2019-08-15 08:20] sschiessl-bcp commented on #2011
Can you check please? This link is not working atm

[2019-08-15 08:47] sschiessl-bcp commented on #2572
What is `active-wallets`? I can't see it in new specification

[2019-08-15 10:25] #2837 closed

[2019-08-15 17:10] startailcoon commented on #3021
@sschiessl-bcp PR merged, are you requesting 1 hour for your additions?

[2019-08-15 17:17] startailcoon commented on #2011
I assume it should be https://app.swaggerhub.com/apis/sdotsenko/BitsharesGatewayRequirements/2.0.0

[2019-08-15 17:45] startailcoon commented on #2856
I would say that Cloud accounts would be the default, but would require a specific minimum password strength and/or pre generated.

Binary accounts does not require a binary file, but you can instead save the brain-key on mobile, though it's not optimal to view this on mobile either. On desktops it would be easier to pick between the two.

[2019-08-15 18:50] sschiessl-bcp commented on #3021
I merely provided the frame, but not the exact UX I am suggesting above. Notice that the combobox is bigger than the dropdown, and check how the current UX looks

[2019-08-15 19:25] dot5enko commented on #2572
no `active-wallets` now. its solved with my `state_hash` solution. Openledger solution doesn't have this mechanism at all - they proposing as pulling all info every time i guess.

[2019-08-15 19:30] dot5enko commented on #2011
sorry, changed owner name.
https://app.swaggerhub.com/apis/bitshares-docs/BitsharesGatewayRequirements/1.0.0

[2019-08-15 19:34] dot5enko commented on #2010
hi @sschiessl-bcp. Changes will be in https://github.com/dot5enko/bitshares-ui/tree/2010_Gateway_Codebase_Improvements

[2019-08-16 00:20] abitmore commented on #2856
Guys, can we redirect mobile users to the "official" mobile app?
* https://github.com/bitshares/bitshares-mobile-app
* https://play.google.com/store/apps/details?id=org.bitshares.app&hl=en

If have to keep users here, I would say let's support beet and other 3rd key management software as soon as possible.

Cloud wallet by default? It's insane for mobile users to input 50-character-long random pas

[2019-08-16 13:10] sschiessl-bcp commented on #3020
I've removed beet from this issue

[2019-08-16 13:11] sschiessl-bcp commented on #3020
Would you rather have a swtich on the bottom left of the modal, or have a new modal popup with the plaintext @abitmore ?

[2019-08-16 14:43] sschiessl-bcp commented on #2585
Closed, inactive

[2019-08-16 14:43] #2585 closed

[2019-08-16 14:56] abitmore opened #3036 "Unable to view the 5th page of account activities"
**To Reproduce**

1. Go to 'https://wallet.bitshares.org/#/account/btspp-team'
2. Click on 'Activity'
3. Scroll down
4. Click on 'page 4', normal
5. Click on 'page 5', UI jumps to page one
6. Click on 'page 5' again, blank screen

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/63176751-ca8d1c80-c046-11e9-8022-575f731f61a7.png)

**Desktop (please complete the following i

[2019-08-16 15:57] TechsUsInc commented on #2585
Apologies for the missed ping/delayed response.
 Iirc Spanish, Chinese, Japanese, Russian translated and proof read corrected (and some English). Looking at Transifex now, I see I have also been removed from said teams.
Many translations were done at Github as well as offline (goal was 104 language translation), additionally during GS.

[2019-08-16 18:15] dls-cipher commented on #2692
@startailcoon - sorry been doing overhaul on myself last one week. I'll review one more time over the weekend and write up comments before Monday.

Sorry one more time for this stretch.

Chee®s

[2019-08-16 20:57] abitmore commented on #3020
Both are fine.

[2019-08-17 16:26] startailcoon commented on #3023
Shouldn't this rather be `always show the toolbar on all tables even if one page` not only when we have a different pageSize than default?

[2019-08-17 16:45] startailcoon commented on #2837
@mrugakshee please post a bitshares address that the reward for this task will be sent to.

[2019-08-17 16:49] startailcoon commented on #2832
@sschiessl-bcp I assume this task is supposed to be tagged for @swehman and payment is for his account.

[2019-08-17 17:03] startailcoon commented on #2969
@OpenLedgerApp what is your status on this issue, where you clear on what the end result was supposed to be with the latest comments? Otherwise, please post any required clarifications here.

[2019-08-17 17:05] startailcoon commented on #2900
This was fixed part of a direct commit to develop as mentioned above.
Closing issue.

[2019-08-17 17:05] #2900 closed

[2019-08-17 17:09] startailcoon commented on #2809
Replied on the style-guide task

[2019-08-17 17:21] startailcoon commented on #2931
@react-cat @sschiessl-bcp sorry, I'll take the blame here. The tooltip issue was actually moved to #2978 since it's not an isolated issue part of the market picker.

Therefor I used this issue as a means to do some styling issues. With the end result being confusing I agree with us making a new issue for just the restyling of the market picker and closing this issue without any work needed to comp

[2019-08-17 17:21] #2931 closed

[2019-08-17 17:22] startailcoon opened #3038 "[2.5][react-cat] Restyling of Market Picker"
@react-cat of course. Summarizing all this made me realize that it may need some more time. I've increased it to be 1.5 hrs. Mainly because table pagination and the starred asset handling requires some work. Also note that you should use `noTip` on the `<AssetName />` to hide the popup.

Market picker can be found by clicking on the asset names of the market pair on the Exchange. (note `1` below)

[2019-08-17 17:24] startailcoon commented on #3038
https://github.com/bitshares/bitshares-ui/issues/2931#issuecomment-519656996

[2019-08-17 17:28] startailcoon commented on #3038
Regarding the ? sign, I supposed that with the changes to #2809 and #2978 it will be possible to have a hover over the asset name without any problem?

[2019-08-17 21:30] react-cat commented on #2719
@sschiessl-bcp, @abitmore After a lot of work I end up with a decision that it's impossible to get a same hash from objects on python or c++ and js, maybe some issues with how those languages write object to memory or something like that.

@sschiessl-bcp I will just create a dummy method for now as you told me before

#### tldr;
I showed how I tried to get a hash  simmilar to c++ or python hash in

[2019-08-19 02:11] mrugakshee commented on #2837
mrugakshee-palwe

[2019-08-19 06:26] sschiessl-bcp commented on #2572
How do you incorporate a way for the gateway to deactivate a whole blockchain (former `active-wallet`, e.g. deactivate muse for maintenance)?

Will UI have to fetch all assets again?

[2019-08-19 07:53] gibbsfromncis commented on #3031
I the doc file you can see I'm proposing to use a few default layouts for Exchange with an easy way to change it anytime. Also, the user can spend more time and customize it for himself as he wishes.

[2019-08-19 08:00] gibbsfromncis opened #3039 "[4.2h] Calls with designer for period 190705 - 190802"
This task is to compensate time for our designer for skype calls

|Sprint|Time|Bounty|
|----|----|----|
|190705|4h|160$|
|190719|4h|160$|
|190802|5h|200$|
|-|-|520$|

If to convert this sum to our "bounty" system it is `4.2h`

[2019-08-19 12:41] sschiessl-bcp opened #3040 "[3] Adapt error messages to new JSON-RPC of bitshares-core 3.2.0"
https://bitsharestalk.org/index.php?topic=29284.0

Currently error messages from core are displayed as is. With the 3.2.0 update we can give a better visualization of the error.

Task:
- check where in UI the raw core error is displayed (i think only transactionconfirm dialog), and report back here
- adjust the transaction confirm dialog such that it can handle both error reponses (old core, and n

[2019-08-19 15:48] react-cat commented on #2978
@startailcoon As I commented [here](https://github.com/bitshares/bitshares-ui/issues/2809#issuecomment-519949262) I can do the same job for popup as for tooltips (default mouseEnter delay). As I understand you would do it by yourself ?

[2019-08-19 15:54] abitmore commented on #3020
@sschiessl-bcp I think it's better to design the ability to switch as a general feature, whenever there is a tree, the user can click a button to switch to a plain JSON text view. That said, add a button to the tree component, so we can use it everywhere. Is it possible?

[2019-08-19 17:23] #3039 closed

[2019-08-19 18:05] startailcoon commented on #3020
I like this approach. We could have a button or toggle for this placed for the user to use to either view the JSON Tree, or a JSON string that should be possible to copy for other purposes. The JSON string could use the copy button component.

[2019-08-19 18:19] sschiessl-bcp commented on #1908
8 is not needed

9 submenu items should have same structure as parent, and they can choose to display in header with the parent icon or their own,  or none

[2019-08-19 18:23] startailcoon commented on #2572
I'm a little confused about the `state` and `state_hash`. Currently we check the trading pairs available (which are built from `/coins` and `/trading-pairs`) towards the exchanges `/active-wallet`. How does the new way handle a disabled asset deposit or withdrawal independent?

Say that deposits from BTC -> open.BTC is disabled, but withdrawal from open.BTC -> BTC is still possible, what params wo

[2019-08-19 18:54] TBAPI-0KA commented on #1908
Regarding 9.

By "data structure" I mean not a definition - it's already defined here, in the ticket. I mean, moving of existing menu items on this structure, and rendering for them. Like "1 + 3" or "2 + 4", but for submenu.

However, by "they can choose to display in header with the parent icon or their own, or none" you mean more like 10, as I feel. Is it correct? And what exactly about icons? I

[2019-08-19 19:48] dot5enko commented on #2572
guys, its possible that i've not covered everything. im open to discussion and improving my doc cause its a draft only. we are all here to make it comfortable for both us and gateways to use one api

Just make some changes into https://app.swaggerhub.com/apis/sdotsenko/BitsharesGatewayRequirements/2.0.3.

I've renamed endpoints a bit:
- the info which is rarely to change (assets and trading pairs,

[2019-08-19 20:40] sschiessl-bcp commented on #1908
For example: Settings has several submenues, but all are rendered with the header entry of the main Settings entry.

In contrast would be spotlight. All childs would have their own header item and not the parent ones (currently spotlight has no submenu, but I plan on adding one)

[2019-08-19 21:14] abitmore commented on #3040
Starting from bitshares-core 3.2.0 release we updated JSON-RPC server to follow a standard about error reporting. Perhaps this is a side-effect of the change.

https://github.com/bitshares/bitshares-core/issues/1688
https://github.com/bitshares/bitshares-fc/pull/135

The specification is https://www.jsonrpc.org/specification

Please create an issue in bitshares-core repository if something went wr

[2019-08-19 22:22] froooze opened #3042 "Show least CR position on exchange"
**Is your feature request related to a problem? Please describe.**
A margin trader is interested, what CR the lowest CR of all margin position is.

**Describe the solution you'd like**
Show the lowest margin position in the tooltip of the top-bar Collateral Ratio

**Describe alternatives you've considered**
None

[2019-08-20 13:47] react-cat commented on #3038
@startailcoon Yep, I think we could stay without `?` sign.
I could try to align popup to right/left by it might cause some problems on small screens. Also due to popup size, all that we can do is make list partially visible, cause no matter on what side it would appear it would hide a great part of list. I'll try to make at least `ASSET` column always visible

[2019-08-20 19:13] startailcoon commented on #3042
This is already present, but only when a market price is below the least CR position.

![image](https://user-images.githubusercontent.com/12114550/63376981-524c9100-c38f-11e9-8588-46111aa88485.png)

[2019-08-20 19:20] startailcoon commented on #3038
Mobile devices would never be able to view the popup since you can't hover on the link without activating the selected item. On desktop you can hover the mouse over and the problem I see is that if the popup is aligned either bottom or top it will make it impossible to just move the mouse down or up to click the next item in the list. Thus we should try to align the popup to the right (or bottom-r

[2019-08-20 20:14] dnotestein commented on #2950
"nce BitShares EOS is not a BitShares product (i.e. approved by community consensus)"

So, what, the BEOS guys should vote in a proposal for 1 bts daily to get it approved as a BitShares project? If the above seems a bit sarcastic, it's just because of the obvious voting power of the BEOS voting bloc, that makes this seem like an interesting viewpoint to hold to me...

[2019-08-21 05:19] sschiessl-bcp opened #3044 "Current focus: Polishing release & regain BTS holders support"
Dear Contributors,

the [BitShares UI worker](https://www.bitshares.foundation/workers/2019-02-bitshares-ui) has been voted out for a bit now and will soon [run out of funds](https://workers.bitshares.foundation/201902-bitshares-ui).

This is affecting efforts being made for this worker, and currently we are focusing on polishing up the newest release in order to use it to lobby voters and regain

[2019-08-21 14:54] TBAPI-0KA commented on #1908
I feel like we're talking about quite different things. Let me better illustrate with screenshots. That's what we have for submenu in hamburger:
![2019-08-21 10_15_50-Window](https://user-images.githubusercontent.com/1467276/63442153-48806780-c43b-11e9-97b4-fc2ec257e7c6.png)
![2019-08-21 10_15_55-Window](https://user-images.githubusercontent.com/1467276/63442154-4918fe00-c43b-11e9-812b-bf28f74c1a9

[2019-08-21 18:12] react-cat commented on #2809
@startailcoon Created a pull request on style guide repo

[2019-08-21 18:15] react-cat commented on #3038
@startailcoon Great, so let's end up without `?` sing and with a popup aligned to left/right (somehow to prevent mouse move down or up)

[2019-08-21 22:08] chilix123 opened #3045 "problem with a transfer"
make a transfer from whaleshare and I never get to my bitchare wallet and I'd like to know pro that or if there's any mistake

![image](https://user-images.githubusercontent.com/54379049/63471939-9f3b7080-c43e-11e9-80cf-04683171fd00.png)

[2019-08-22 00:11] froooze commented on #3042
@startailcoon:
You reference to the price until margin calls happens, I want to have the CR from the lowest margin position.

[2019-08-22 00:18] froooze commented on #3045
You can join https://t.me/btsWalletHelp to find out what gone wrong?

[2019-08-22 06:07] allfory0u commented on #3045
The minimum amount is 500 WLS.

[2019-08-22 18:37] sschiessl-bcp commented on #1908
I see, 10 is not needed yes. A submenu for spotlight is also not needed at the moment, that was just for illustration.

[2019-08-22 21:07] #3045 closed

[2019-08-22 21:07] sschiessl-bcp commented on #3045
Thanks guys!

[2019-08-23 00:00] shulthz commented on #3044
Everybody need to share the pain in the bear market，not only the develper，but also the holder.
When we have a lower price of bts, i think we need to cut costs，keep the essential expense，and wait the market to become warm.
Give a refreshing and user-friendly UI，maybe regain the vote from cn-vote easier.

[2019-08-24 06:07] sschiessl-bcp commented on #3012
https://github.com/bitshares/bitshares-ui/pull/3046#issue-310587150

[2019-08-24 13:03] Emily7777 opened #3047 "SHASUM For OSX Latest UI Release?"
Hi Folks,
I see that the Win SHASUMS are included on the latest release here:

https://github.com/bitshares/bitshares-ui/releases/tag/3.1.190618.1

...But unless I missed something, I can't find the SHASUMS for the OSX version?

Please advise.

Thanks

[2019-08-24 13:30] abitmore commented on #842
Bump. Since Bill has left, perhaps time to re-evaluate this issue.
@sschiessl-bcp @startailcoon

[2019-08-26 10:41] react-cat commented on #2870
@sschiessl-bcp Since It's been 18 days without @froooze reply, could we close it ?

[2019-08-26 14:43] TechsUsInc opened #3049 "Coinbase wallet and browser dApp to BitShares dApp integration"
**Is your feature request related to a problem? Please describe.**

- Today, Aug 22 2019 Coinbase announced releasing it open source for integration.

- Today Coinbase also announced partnering with decentalized IDEX via Coinbase Walletlink.

Coinbase Wallet is a user-controlled crypto wallet and a browser for Decentralized Apps or DApps. The wallet features native support for Ethereum, ERC20 toke

[2019-08-27 10:53] froooze opened #3050 "Client update button and force update"
**Is your feature request related to a problem? Please describe.**
User are lazy and don't update clients as often as they should. -> Scam proposals

**Describe the solution you'd like**
The client needs a inbuilt one click update solution.
Alert the user to update the client version, by clicking on the update button.
When there are important security update, the client should force the user to ma

[2019-08-27 20:06] PermieBTS opened #3051 "Adding a DEXBot description banner/box to the UI"
Adding DEXBot Information to BitShares UI

Could a prominent informational page about DEXBot be added to the UI main page?

Button/Banner/Hamburger menu item: “DEXBot - BitShares Funded Free Market Making Bot”

Loads page within UI: "DEXBot is an open-source Market Making Bot offered free of charge to provide the tools for DEX users to make markets and provide liquidity. DEXBot is funded by the Bi

[2019-08-27 21:59] shulthz commented on #3051
Nothing is free.

[2019-08-28 21:17] froooze commented on #3047
Linux sum is also missing, the reason I did not update my client.

[2019-08-29 05:06] sschiessl-bcp commented on #3044
UI worker is now out of funds.

[2019-08-29 06:01] sschiessl-bcp commented on #2960
Bounty request in https://github.com/bitshares/bitshares-ui/pull/3052#issue-312153080

[2019-08-29 12:36] froooze commented on #3044
I am out of funds since 2 month!

[2019-08-30 00:29] abitmore opened #3053 "[0,5] Asset info white screen"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/#/asset/GCNY or https://develop.bitshares.org/#/asset/GCNY
2. See white screen

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/63984996-e0cabc00-cacd-11e9-89a8-55af86ed13dd.png)

**Desktop (please complete the following information):**
 -

[2019-08-30 02:14] TBAPI-0KA commented on #1908
Done, PR #3054 sent.

Notes:

* Some of the icons are missing translation titles - i.e. direct_debit, prediction-large, etc. I haven't checked all of them because it's clearly out of scope for this particular task, but I assume there's a lot more.
* Logo in the header, technically, is a menu item as well. However, at the moment it has a different look, layout, and principle (uses branding). So, it

[2019-08-30 06:54] dls-cipher commented on #2950
Not have any desire here to discuss sarcasm or emotional take on discussion, here the main point is
integration of BEOS gateway to wallet ui, correct ?

If it's being hosted within *.bitshares.org domain, terms are clear, if outside of it, no issues as explained above.

Hope we can move on to some delivery of actual gateway now since users are complaining on BEOS wallet in Telegram groups and inab

[2019-08-30 06:56] dls-cipher commented on #2784
Yeah, 3 coming up. Currently chasing normal votes because current funds cant cover 3 co-locations, and i'm not sending my own hardware without being sure I can cover costs/safety for it.

Thai one will be available next week, for that its hosted with me, for 2 other - as explained.

[2019-09-01 18:25] startailcoon commented on #3053
Seems like a missing check. Should be a quick fix

[2019-09-01 18:49] startailcoon commented on #3051
We could find a space in the UI that we could add this, and other features of the network that can be useful. Putting it in the  help section would not be a good place, but rather add it somewhere on the main application ?

I'm open for suggestions.

[2019-09-01 19:38] startailcoon commented on #3050
We should be more requesting when a users application version doesn't match the latest. Making the application always notify the user about a new version by a popup on every start would go a long way.

A direct download link could be added for convinience for the user.

[2019-09-01 19:49] startailcoon commented on #3042
No, the values at the "call limit" is the least collateral position as seen on the margin position list.

![image](https://user-images.githubusercontent.com/12114550/64081470-c842e780-cd01-11e9-8f2b-29f91c13b511.png)

![image](https://user-images.githubusercontent.com/12114550/64081476-dee93e80-cd01-11e9-9566-409d6491cad9.png)

[2019-09-02 11:52] froooze commented on #3042
The UI doesn't show the least CR (1.330) on the Exchange!

[2019-09-02 18:14] grctest opened #3056 "Warn users when sending funds to CEX which abuse their voting rights"
**Is your feature request related to a problem? Please describe.**
CEX are voting with user funds, DEX users are unaware of this when they deposit BTS onto these suspect CEX.

**Describe the solution you'd like**
Create a new warning, similar to the scammer warnings, alerting the user that when the user sends BTS to a suspect CEX that they will vote using their funds without their consent, potenti

[2019-09-02 18:18] grctest commented on #3050
Inbuilt auto-updaters are less appealing than a github version check + github client release overview link. I do agree that users not updating is bad, but it's not proposals that are the worst risk, it's disclosed HTD vulnerabilities that these users leave themselves open to.

[2019-09-03 08:39] shulthz commented on #3051
DEXBot is not the base function of UI.

[2019-09-03 13:58] Kwaskoff opened #3057 "zoom scale for AppVeyor builds"
When you use stand-alone client you can't change zoom like in browser
If you have not standard screen your client is not useful

[2019-09-05 04:11] christophersanborn commented on #2748
I got bit by this today on the withdrawal side.  Bought some bridge.BTC and tried to withdraw it.  CryptoBridge would neither remit the BTC nor refund the bridge.BTC until my account would "accept" the ToS.  Unfortunately, this seems to be something that can only be done through CB's custom API.  I don't think it can be done through any of the general use BitShares API servers.

Safest option may

[2019-09-05 13:44] meesern commented on #2591
For Information: Today I get this condition despite my unix system time being correct and in sync.  Yesterday this was not a problem.

I'm in the uk (BST UTC+1).
The devtools console shows me:

    auto selecting to wss://eu-central-1.bts.crypto-bridge.org
    app.9bf820f14e671fbb5f33.js:1 Connecting to wss://eu-central-1.bts.crypto-bridge.org
    6app.9bf820f14e671fbb5f33.js:1 not yet synced, ret

[2019-09-05 20:49] elitzen12 opened #3058 "please something is wrong with servers they are down"
trying to login into my account and is not letting me login it said error of server i saw nodes and there are all red not enable please help and fix soon thankyou sorry forgot is in cryptobridge the problem in GHR/BTC thanks.

[2019-09-06 00:27] froooze commented on #2748
The ToS requirement kills the whole integration.

[2019-09-06 01:07] shulthz commented on #3058
all is ok now

[2019-09-06 01:29] elitzen12 commented on #3058
No same problem cant deposit or WD

El El jue, 5 de septiembre de 2019 a la(s) 7:08 p.m., shulthz <
notifications@github.com> escribió:

[2019-09-06 01:30] elitzen12 commented on #3058
I will try tomorrow

El El jue, 5 de septiembre de 2019 a la(s) 7:29 p.m., felix navarrete
alvarez <itzen12@gmail.com> escribió:

[2019-09-06 04:04] shulthz commented on #3058
all the node need to update, just wait they finished.

[2019-09-06 07:28] sschiessl-bcp commented on #2591
There was a short downtime yesterday for all nodes, and some might still be resyncing. Please try again.

[2019-09-06 09:17] sschiessl-bcp opened #3059 "Change news headline"
[code]

suggestion for ui notice:
`The BitShares UI team needs your help! Please consider voting for worker 201902-bitshares-ui in the Voting section (under Workers, Proposed) to ensure development of this wallet. For more details see https://bitsharestalk.org/index.php?topic=27785.msg335102#msg335102!`

[2019-09-06 09:17] sschiessl-bcp commented on #3059
@dls-cipher have a look plz

[2019-09-06 09:30] clockworkgr commented on #3057
@startailcoon / @sschiessl-bcp  https://electronjs.org/docs/api/web-frame get/setZoomFactor.

Probably have to trap Ctrl + ScrollWheel / Ctrl + '+' / Ctrl + '-'

[2019-09-06 09:40] sschiessl-bcp commented on #3059
We might wait until the news article at news.bitshares.org is done on the subject and refine the test.

[2019-09-06 14:09] thontron opened #3060 "Prediction Market asset settlement error"
**Describe the bug**
Settlement for binary PM after resolution date.
<img width="272" alt="Screenshot 2019-09-06 10 06 08" src="https://user-images.githubusercontent.com/33364996/64434265-29feab00-d08e-11e9-8028-6bf5c0258796.png">

Hit publish and expect to settle for 0... Error.

<img width="507" alt="Screenshot 2019-09-06 10 03 27" src="https://user-images.githubusercontent.com/33364996/64434078

[2019-09-06 14:09] thontron opened #3061 "Prediction Market asset settlement error"
**Describe the bug**
Settlement for binary PM after resolution date.
<img width="272" alt="Screenshot 2019-09-06 10 06 08" src="https://user-images.githubusercontent.com/33364996/64434265-29feab00-d08e-11e9-8028-6bf5c0258796.png">

Hit publish and expect to settle for 0... Error.

<img width="507" alt="Screenshot 2019-09-06 10 03 27" src="https://user-images.githubusercontent.com/33364996/64434078

[2019-09-06 21:29] dnotestein commented on #2950
I suppose I haven't expressed myself clearly enough. Let me try again: if you don't consider the current voting stake of BEOS an opinion about approval of the project to use the name "BitShares EOS", what would you consider approval of that name sufficient to use that name? Because right now, it feels like it's the decision of one person that's preventing the usage of this term (that's what I get

[2019-09-06 23:29] abitmore commented on #3060
I believe it's a message returned by the back end, the related code is [here](https://github.com/bitshares/bitshares-core/blob/3.3.1/libraries/protocol/asset.cpp#L83).

Looks like there is a bug in bitshares-core. I will transfer this issue to bitshares-core repository and discuss there.

[2019-09-07 00:07] abitmore commented on #3061
Resolving at `0`, means the debt asset worth nothing, thus all collateral should be returned to the borrowers.

Since base asset of `settlement_price` is the debt asset and quote asset is the collateral asset, to resolve at `0`, need to set `settlement_price.base.amount` to a non-zero amount (E.G. `1`), and `settlement_price.quote.amount` to `0`.

@thontron can you click the "show raw json" link a

[2019-09-07 08:56] sschiessl-bcp commented on #3061
Confirmed in UI code, switched the numbers. Please retry on develop.bitshares.org when its built @thontron

[2019-09-08 15:54] #3058 closed

[2019-09-10 10:08] dls-cipher commented on #3059
@sschiessl-bcp - Article is being pushed tonight.

Dear BitShares holders and community, please continue your support for the development by giving Vote to the BitShares UI worker. More info on Worker and Voting can be found "news article"

[2019-09-13 18:32] TechsUsInc opened #3062 "Bug with cancelled/expired open orders"
**Describe the bug**
- multiple pages of cancelled open orders in the Activity Tab
- Clicking any cancelled order tab is void of info: account, order placed, asset
- Clicking the Block number (after clicking the cancelled order tab) opens a blue "go to block"
   field.
- Clicking the Block number on Cryptofresh or other Explorers yields the same results.
- Multiple assets are not populating either

[2019-09-13 21:03] abitmore commented on #3062
Fills and cancellations are virtual operations, currently they don't show in the block explorer in bitshares-ui (see https://github.com/bitshares/bitshares-ui/issues/2719#issuecomment-513989518).

[2019-09-13 21:59] TechsUsInc commented on #3062
Yes, I had forgotten they were virtual ops and thanks for pointing to issue #2719

[2019-09-17 01:49] revivalist777 opened #3065 "Requirements to be a DEX Gateway like openledger or cryptobridge?"
Hello, first of all i'm sorry if i come to a wrong place. New registration on bitsharestalk.org is disabled and i was kicked from bitshares telegram group because asking about the topic.

So far, i have successfully personalized bitshares-ui with my brand and preferences, also i have prepared my API using "Gateway Integration Requirements" guide to serve requests from the front end. All are ready

[2019-09-17 06:01] shulthz commented on #3065
http://dev.bitshares.works/en/master/bts_guide/tutorials/index.html

[2019-09-17 10:17] revivalist777 commented on #3065
thanks @shulthz it fixed now.

[2019-09-17 10:17] #3065 closed

[2019-09-17 15:12] clockworkgr opened #3066 "[6] get_full_accounts() returns limited list of balances"
After the core change for API limits https://github.com/bitshares/bitshares-core/issues/783,

get_full_accounts() returns a limited list of asset balances (depending on API node setting)

Must use get_account_balances() instead.

[2019-09-21 23:47] TechsUsInc opened #3069 "Scam Proposals - Consequences"
**Is your feature request related to a problem? Please describe.**
This is response regarding issue #3068. #3068 does not address or fix the issue. It does however, add to the options and features of the DEX, albeit there are already safeguards in place. Some issues that come to mind are:

1.  It does nothing for a user with an older client and/or has not updated.
2.  Do "new members" know what a

[2019-09-22 18:44] dls-cipher commented on #3059
Article was pushed. Comments on suggestion ?

[2019-09-23 08:16] sschiessl-bcp commented on #3059
[code]

Proposal 1.10.48390

Please inspect content.

[2019-09-23 15:56] dls-cipher commented on #3059
As requested originally from Zavod, please change type of the notification from `warning` to `critical`.

As UI is reference wallet and most important peace of tool for demoing power of the BitShares blockchain, Zavod considers that being not voted in and without funding for development **CRITICAL ISSUE**.

Chee®s

[2019-09-23 16:44] alltimeashu opened #3070 "withdraw issue"
Error while withdrawing BTC.
Not showing clear error. you can check attached screenshot.
![btc_withdraw](https://user-images.githubusercontent.com/3685491/65445198-3e9bbb00-de64-11e9-925e-20d6485f19e8.png)

**Desktop (please complete the following information):**
 - OS: [windows 10]
 - Browser [chrome]
 - Version [e.g. 22]

[2019-09-24 07:10] sschiessl-bcp commented on #2529
@bangzi1001 does the solution of #2679 satisfy your needs described?

[2019-09-24 12:57] #2655 closed

[2019-09-24 13:49] abitmore opened #3071 "[0] Wrong value in Portfolio"
**Describe the bug**
Data in the `value` column is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://develop.bitshares.org/#/account/gamma-rabbit'

**Expected behavior**
1. The data should be sum of numbers, but not strings joined.
2. When sorting, if the triangle icon `^` is in blue, the smallest number should be on the top.

**Screenshots**
![image](https://user-images.

[2019-09-24 13:58] sschiessl-bcp commented on #2803
Merged, please check if all desired data is visible. Currelntly running on one ES instance without fallback.

[2019-09-24 13:58] #661 closed

[2019-09-24 14:03] abitmore commented on #2803
The description doesn't make much sense for LTMs, see https://develop.bitshares.org/#/account/jademont/member-stats .

[2019-09-24 14:07] abitmore commented on #2803
Oh, I need to wait a bit for the page to be deployed.

[2019-09-24 14:11] abitmore commented on #2803
This sentence should be shown in LTMs' page, but not on the basic members' page

[2019-09-24 14:12] #2803 closed

[2019-09-25 06:21] #3024 closed

[2019-09-25 06:47] #3012 closed

[2019-09-25 06:57] sschiessl-bcp commented on #3066
Account for testing can be

https://explorer.bitshares-kibana.info/full_account?account_id=cryptobridge-payouts

https://open-explorer.io/#/accounts/cryptobridge-payouts

[2019-09-25 07:43] #2960 closed

[2019-09-25 15:03] sschiessl-bcp commented on #1908
I'd like to invite anyone to come look at the menu structure @ develop.bitshares.org

Todo:
 - make sure header items disappear when small screen, and appear in burger
 - streamline and reduce code duplication more

[2019-09-25 17:04] startailcoon commented on #3066
PR supplied for this on UI and BitsharesJS.
Will now support querying additional balance objects with a single ChainStore command, and it will only be used if there are more objects to query for.

https://github.com/bitshares/bitshares-ui/pull/3072, https://github.com/bitshares/bitsharesjs/pull/57

[2019-09-26 13:09] sschiessl-bcp commented on #2473
https://github.com/bitshares/bitshares-ui/pull/3073#issue-321709571

[2019-09-26 13:13] sschiessl-bcp commented on #2881
Releasing this for now, details can be found here in past investigations
https://github.com/blockchainprojects/bitshares-ui/issues/138

[2019-09-26 13:29] sschiessl-bcp commented on #3036
https://github.com/bitshares/bitshares-ui/pull/3075#issue-321720634

[2019-09-26 14:03] sschiessl-bcp commented on #2973
https://github.com/bitshares/bitshares-ui/pull/3077#issue-321737208

[2019-09-26 19:31] HarukaMa opened #3078 "Not able to create local wallet on Opera"
**Describe the bug**
User in wallet help group reports that on Opera the "create account" button is not correctly activated when trying to create a local wallet.
Tested in both normal and private mode.
Not tested by me as I don't have Opera installed currently.

**To Reproduce**
(Presumably) Steps to reproduce the behavior:
1. Click "advanced form" on first page
2. Fill in required information
3.

[2019-09-27 08:51] sschiessl-bcp commented on #3071
https://github.com/bitshares/bitshares-ui/pull/3079

[2019-09-27 13:04] blincadmin commented on #2529
Excellent addition to the UI

[2019-09-27 13:17] sschiessl-bcp commented on #2529
Thanks, closing this now, done.

[2019-09-27 13:17] #2529 closed

[2019-09-27 15:17] abitmore commented on #3071
Now the string joining issue is fixed. But the data is still wrong, because there can be multiple debt positions in an account, but current code only takes one. BTW data in "in orders" seems correct. See https://develop.bitshares.org/#/account/abc.btsbots

[2019-09-28 23:01] HarukaMa opened #3080 "Cleanup console debug logs"
**Describe the bug**
Some debug logs should be removed to avoid cluttering the console of browser, like dumping data on every change of the fields.
_I know there are filters._

**To Reproduce**
Steps to reproduce the behavior:
1. Use the wallet.
2. Observe some unnecessary logs are dumped into the console.

**Expected behavior**
The console is not filled with too many debug log lines.

**Additiona

[2019-09-29 17:34] ultra-pool opened #3081 "npm install (package errors) install fails"
Ubuntu 16 server
16gb ram
2TB
npm -v
5.6.0
node -v
9.0.0

The following package will also not install by themselves. Tried installing the problem packages one by one but with no luck. Any helpful hints?

[code]

[2019-09-29 17:37] ultra-pool commented on #3081
Also tried npm update which this completely broke it.

The 1 time iv gotten this to boot up i get a wdm failed

[2019-09-29 18:11] ultra-pool opened #3082 "npm install (webpack error)(webpack 4.41.0)"
[code]

[code]

[2019-09-29 21:49] ultra-pool commented on #3081
What ever you do dont run npm 6.11.2

Youll get tons of this.
`npm WARN tar zlib: Cannot read property 'length' of null
npm WARN tar zlib: Cannot read property 'length' of null
npm WARN tar zlib: Cannot read property 'length' of null
npm WARN tar zlib: Cannot read property 'length' of null
npm WARN tar zlib: Cannot read property 'length' of null
npm WARN tar zlib: Cannot read property 'length' of

[2019-09-30 12:17] sschiessl-bcp commented on #3069
And no solution will, only a core change would. For a core change the behavior could easily change such that core would not recognize anymore. Futile exercise in my opinion

No they don't, they should have a tooltip with explanation.

Your point?

Only a core change could. In a permissionless system this is borderline impossible.

Agreed.

And explaned!

To the suggestion:
Gateway behavior and cor

[2019-09-30 12:25] #2473 closed

[2019-10-01 11:08] #3036 closed

[2019-10-02 08:31] sschiessl-bcp commented on #2244
I have not noticed that my bounty request was not adressed in here. Can you please check @clockworkgr ? Actual payment has been done for 4.

[2019-10-02 08:36] clockworkgr commented on #2244
@sschiessl-bcp a-ha... correct..

Will add the remaining 10.5 next invoice.

Thats why I ask you guys to doublecheck exprense reports :)

[2019-10-02 09:01] sschiessl-bcp opened #3084 "[10.5] Wallet Merchant Protocol not work"
Overlooked bounty from #2244

[2019-10-02 09:01] #3084 closed

[2019-10-02 09:02] sschiessl-bcp commented on #2244
In the pipeline #3084

[2019-10-02 20:41] liondani opened #3085 "When choosing SmartCoin on dropdown menu it remains BTS regardless of choice (creation of Collateralized Debt Position)"
When choosing a SmartCoin from the dropdown menu when trying to create a Collaterized Debt Position via the "Spotlight" option, BTS remains as choice visually. In reality the system takes the choice right and after clicking "BORROW" you can continue BUT visual it is not correct.

Steps to reproduce the behavior:
1. Go to the sandwich button upper right
2. Click on "Spotlight"
3. Click "Collatraliz

[2019-10-07 13:55] loweherz opened #3087 "Download of activity does not work on testnet"
Dear,

We're not able to download any report of activity on the testnet.

The account we're using is;
account: ihealth.gq1
password: P5Jstp14BpoqFgBZuEmeJ1C3J2NF5ECJ4roB1eMnHfik1

I tried to download a report on Chrome, Explorer and Brave browsers. Tried both Frankfurt/Chicago as Paris testnodes as well as all types of reports, however no success. Any idea whats going?

Thank you!

[2019-10-07 14:03] sschiessl-bcp commented on #3087
The activity report on the testnet is currently not working, it works on develop for mainnet.

If you are interested to investigate why it's not working, please let me know.

[2019-10-09 12:31] #3040 closed

[2019-10-11 12:14] sschiessl-bcp opened #3088 "Implement BuySell FeeAssetSelector"
Could not be finished in https://github.com/bitshares/bitshares-ui/issues/2975

[2019-10-11 12:14] #2975 closed

[2019-10-14 05:58] startailcoon commented on #3080
Do you have an example on any sensitive content that ARE dumped that we should take care of?

[2019-10-14 06:01] startailcoon commented on #3070
You're probably using an older version of the wallet. The latest development version has OpenLedger disabled due to API incompatibility. As funding of the development is halted this issue was downgraded.

To handle OpenLedger assets you should instead use https://openledger.io, which is their version of the open-source wallet that uses their latest API.

[2019-10-14 06:05] #3066 closed

[2019-10-14 06:07] startailcoon commented on #3059
@sschiessl-bcp I assume we can close this as it was pushed to chain.

[2019-10-14 06:07] #3059 closed

[2019-10-14 07:47] startailcoon commented on #3053
Can't reproduce any more.

[2019-10-14 11:51] #2734 closed

[2019-10-14 11:55] sschiessl-bcp commented on #3080
I think it was when creating local wallet or cloud login when you enter in password field, the password gets printed.

[2019-10-14 13:10] sschiessl-bcp commented on #2944
Needs re-evaluation with restructuring of SendModal due to FeeAssetSelector

[2019-10-14 14:26] #2337 closed

[2019-10-14 23:30] abitmore commented on #3053
Still white screen for me.
![image](https://user-images.githubusercontent.com/9946777/66789336-6c1bd780-eeeb-11e9-8065-be2a2bb88f50.png)

[2019-10-15 06:22] allfory0u commented on #3053
I confirm this
![изображение](https://user-images.githubusercontent.com/17462020/66805288-44e5fa00-ef2d-11e9-92d9-155e7e977d1f.png)

[2019-10-15 11:55] froooze commented on #3038
@startailcoon @react-cat
I think it is better to align the market under the trading names and click position.
A central alignment, like now looses the focus.

[2019-10-15 12:37] sschiessl-bcp opened #3091 "Update nodes"
- sync with current active witnesses
- remove offline / unresponsive ones

[2019-10-16 12:11] TechsUsInc opened #3093 "Exchange Tab - white or black Tradingview chart"
**Describe the bug**
White or black Tradingview chart in the Exchange Tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange by clicking on the Exchange Tab
2. See error

**Expected behavior**
Tradingview chart to load every time without failure, white, or black screen and regardless of which browser or device utilized.
After dev fixes yesterday, I tested with both Opera and Fir

[2019-10-17 18:56] TechsUsInc opened #3094 "Voting tab - Page rendering - Vote toggle runs off page"
**Describe the bug**
Please see issues in the Voting Tab of page rendering and asset pool.
Rendering seems to affect local only where the voting toggle runs off of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Hamburger Menu
2. Click on Voting
3. Click on each:Worker - Proposed, Active, BSIPs, Expired, Legacy Proposals enabled VS disabled.
4. See rendering error - void

[2019-10-18 12:54] #3069 closed

[2019-10-18 12:54] #3061 closed

[2019-10-22 10:02] shulthz opened #3095 ""issuer" or "owner" description of Asset"
**Asset actions**
 **Asset info**

The asset issuer may claim any accumulated fees here.
The asset owner may change the owner to another account using this form:
The asset owner may withdraw funds from the fee pool using this form:

"Unclaimed **issuer** income" or "Unclaimed **owner** income"?
"The asset **issuer** may claim any accumulated fees here" or "The asset **owner** may claim any accumul

[2019-10-22 10:14] sschiessl-bcp commented on #3095
The wording refers to owner.

[2019-10-22 11:07] #3095 closed

[2019-10-22 13:33] #2973 closed

[2019-10-23 18:32] remedycoin commented on #3044
I have come to a perspective in my work that acts of charity can be monetized.  A group that agrees to special terms of use of the asset  (FPL  https://ForgivenessPublicLicense.org) can exhault, establish and continuously raise an agreed floor price for the charity asset.  I've arbitrarily picked a rate that grows at nature's PHI ratio 1.618 multiplier once every lunar cycle.  (more about this at

[2019-10-24 05:23] sschiessl-bcp opened #3096 "Allow user to choose which gateways to support"
A bottleneck of the wallet is connectivity. Some gateways have often downtimes in their APIs, thus the use should be able to choose which gateways he wants to have supported. On top of connectivity, gateway integrations do external calls, which users might want to avoid.

[2019-10-24 09:48] szechem opened #3097 "It is not possible to open 'withdraw' dialog"
In BitSpark or BlockTrades sections in deposit/withdraw there is 'withdraw button', which should allow to open 'withdraw dialog'. After clicking on button dialog is not opened.

Steps to reproduce the behavior:
1. Go to deposit/withdraw -> BitSpark -> Withdrawal
2. Click on 'Withdraw now' button

**Expected behavior**
Withdraw dialog should be appeared.

**Additional context**
This issue is see in

[2019-10-24 10:31] #3096 closed

[2019-10-25 12:55] sschiessl-bcp commented on #3097
Any error message?

Please pull current staging and try reproduce.

[2019-10-28 12:16] allfory0u opened #3098 "develop.bitshares.org - instant trade - white screen"
**Describe the bug**
White screen after clicking on "Instant trade"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [develop.bitshares.org](develop.bitshares.org)
2. Click on '[Spotlight](https://develop.bitshares.org/#/spotlight)'
3. Click on 'Instant trade'
4. See white screen

**Expected behavior**
No white screen

**Screenshots**
![изображение](https://user-images.githubusercontent

[2019-10-28 12:30] allfory0u opened #3099 "develop.bitshares.org - Collateralized Debt Position - typo in link"
**Describe the bug**
Extra symbol `/` in the link "checkout the Explanation Wizard'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [develop.bitshares.org](develop.bitshares.org)
2. Click on '[Spotlight](https://develop.bitshares.org/#/spotlight)'
3. Click on 'Collateralized Debt Position'
4. Choose the SmartCoin you want to create a position for and click on 'Borrow'
5. Click on "chec

[2019-10-28 12:53] allfory0u opened #3100 "develop.bitshares.org - Deposit - superfluous information in qr code for GDEX.BTC"
**Describe the bug**
While qr codes for RUDEX.BTC, OPEN.BTC, etc contain only the bitcoin address itself, the qr code for GDEX.BTC contains the extra part (`bitcoin:`) before the bitcoin address
In bitshares 3.1.191011 qr code for GDEX.BTC contains just a bitcoin address.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [develop.bitshares.org](develop.bitshares.org)
2. Click on 'Deposit

[2019-10-28 13:24] allfory0u opened #3101 "[3.1.191011] - Voting/Assets/Vesting - 404 error after "Switch Node""
**Describe the bug**
404 error after "Switch Node" or after connecting to another node.
Link `wallet.bitshares.org/#/account/test/voting` turns into a link `wallet.bitshares.org/#/account//voting`
`wallet.bitshares.org/#/account/test/assets` → `wallet.bitshares.org/#/account//assets`
`wallet.bitshares.org/#/account/test/vesting` → `wallet.bitshares.org/#/account//vesting` (related with #2878 )

**

[2019-10-29 08:47] allfory0u opened #3102 "develop.bitshares.org - Legacy Withdraw - Rudex assets impossible to withdraw"
**Describe the bug**
Clicking the 'Withdraw' button causes an internal error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [develop.bitshares.org](develop.bitshares.org)
2. Click on 'Legacy Withdraw'
3. Choose Rudex Gateaway
4. Choose any asset and click 'Withdraw'
5. See error in console

**Expected behavior**
See the normal work of the withdrawal

**Screenshots**
![изображение](htt

[2019-10-29 09:07] allfory0u commented on #3102
Update: I checked the assets withdrawal of other gateways and found the same error there

[2019-10-29 10:48] TechsUsInc opened #3103 "Legacy deposits and withdrawal - inoperable"
**Describe the bug**
Inoperable gateway withdrawals and deposits

**To Reproduce**
Steps to reproduce the behavior:
1. Go to staging. bitshares.org
2. Click on legacy withdrawal
3. Scroll through selection of gateways
4. See error in enclosed attachment

**Expected behavior**

- [ ] Functional gateways
- [ ] Error message or pop up to user citing;
1. Gateway error detected
2. Support directive to:

[2019-10-29 11:19] TechsUsInc opened #3104 "Spotlight - Prediction Market - Unknown House tooltip"
**Describe the bug**
Clarity and ease of use of the Prediction Market directive

**To Reproduce**
Steps to reproduce the behavior:
1. Go Hamburger menu
2. Click onSpotlight
3. Scroll down to Prediction Market
4. Hover over Hide Unknown Houses tooltip
![node7Capture](https://user-images.githubusercontent.com/18186497/67761058-89cf5d80-fa10-11e9-9d8d-07747805531b.JPG)
5. See the last sentence in the

[2019-10-29 11:43] TechsUsInc opened #3105 "Spotlight - Prediction Market - % of Open Orders and Prediction Likelihood"
**Describe the bug**
Errors in the Market Prediction Likelihood column
**To Reproduce**
Steps to reproduce the behavior:
1. Go Hamburger Menu
2. Click Spotlight
3. Scroll down to Prediction Market; click to enter
4. de-select Unknown Houses
5. See errors in the Market Prediction Likelihood column
![node28Capture](https://user-images.githubusercontent.com/18186497/67763905-bc7c5480-fa16-11e9-9127-3

[2019-10-29 11:52] TechsUsInc opened #3106 "Spotlight - Prediction Market - Header corrections"
**Describe the bug**
Please see screenshot for errors

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Hamburger Menu
2. Click on Spotlight
3. Scroll down toPrediction Market; click to enter
4. De-select Hide Unknown Houses
5. See errors
![node29Capture](https://user-images.githubusercontent.com/18186497/67764716-8c35b580-fa18-11e9-8525-104984f9dc0f.JPG)

[2019-10-29 12:09] TechsUsInc opened #3107 "Spotlight - Prediction Market - Create or add Prediction Market"
**Is your feature request related to a problem? Please describe.**
Security, a better user experience, and minimized support issues.

**Describe the solution you'd like**
Prevent Prediction Market creation if account is locked.

**Describe alternatives you've considered**
![node30Capture](https://user-images.githubusercontent.com/18186497/67765705-c011da80-fa1a-11e9-83a3-3458618b07c3.JPG)

**Addit

[2019-10-29 12:21] TechsUsInc opened #3108 "Spotlight - Prediction Market - List of current prediction corrections"
**Is your feature request related to a problem? Please describe.**
Please see screenshot for suggested corrections

**Describe the solution you'd like**
![node31Capture](https://user-images.githubusercontent.com/18186497/67766488-8b068780-fa1c-11e9-81c3-a74e84374c33.JPG)

[2019-10-29 12:40] TechsUsInc opened #3109 "Spotlight - Prediction Market - Prediction Market creation form - filter out known assets"
**Is your feature request related to a problem? Please describe.**
Disable or filter out known assets from being input into the symbol creation field

**Describe the solution you'd like**
Prevent the user from creating a symbol already in use on the DEX
![node16Capture](https://user-images.githubusercontent.com/18186497/67767731-20a31680-fa1f-11e9-944a-bdc09ade2908.JPG)

**Describe alternatives yo

[2019-10-29 12:50] froooze opened #3110 "Enable deactivaton of unsecure client Versions"
**Is your feature request related to a problem? Please describe.**
User do not update client versions regularly. Known security risks can be used longer than needed.

**Describe the solution you'd like**
- Client checks if the version is blacklisted
- when blacklisted, client can't be used to perform tasks, which require private key
- user gets an information to update the client version

**Descri

[2019-10-29 13:06] TechsUsInc opened #3112 "Tradingview chart - 15 sec marker issue"
**Describe the bug**

1. 15 second marker turns TV chart 'grey' (dull); Consider removing from options (realistically responsive?)
2. Consider adding 2hr and/or 4hr markers

**To Reproduce**
Steps to reproduce the behavior:
1. Go toExchange
2. Click on 15 sec marker
3. See error
![node32Capture](https://user-images.githubusercontent.com/18186497/67769281-2ea66680-fa22-11e9-8c71-429efad46f29.JPG)
!

[2019-10-30 06:55] shulthz opened #3113 "Transifex: Prediction Market translation"
Didn't find these words in Transifex.

[2019-10-30 07:13] shulthz opened #3114 "Merchant Protocol： print receipt PDF problem"
When print the PDF, the Chinese characters were all garbled in the PDF.

![2019-10-30_152116](https://user-images.githubusercontent.com/34892308/67837031-11a88b00-fb29-11e9-9408-a9852a29e299.png)
![2019-10-30_152323](https://user-images.githubusercontent.com/34892308/67837107-40266600-fb29-11e9-9fd7-e03e0e454516.png)

[2019-11-04 16:32] abitmore opened #3115 "White screen when trying to update an asset"
**Describe the bug**
White screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://develop.bitshares.org/#/account/committee-account/update-asset/GAS'

**Expected behavior**
The correct page.

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/68138417-d642fd80-ff28-11e9-877f-91c38776a7ed.png)

**Desktop (please complete the following information):**
 -

[2019-11-04 16:34] abitmore commented on #3115
Perhaps duplicate of #3053

[2019-11-05 11:54] TBAPI-0KA commented on #1908
Some comments:

Is it a request for testing by community, or you have found some bug? I implemented visibility exactly in the same way as it was, for every menu item, even if I don't understand completely why it is as it is.

I believe it's only possible with significant logic change. I tried to avoid any possible duplication inside the data structure. Elements that are present in both menus are o

[2019-11-06 09:31] sschiessl-bcp commented on #3004
Done

[2019-11-06 09:31] #3004 closed

[2019-11-06 09:36] sschiessl-bcp commented on #2884
Agreed

[2019-11-06 09:47] sschiessl-bcp commented on #2950
RuDEX has presented an alternative how to deal with custom memo types. Is that of interest as a solution to you?
https://github.com/bitshares/bitshares-ui/pull/3027

[2019-11-06 09:48] sschiessl-bcp commented on #2504
On hold until core provides this possibility.

[2019-11-06 09:59] sschiessl-bcp commented on #3010
What is the purpose of this? When we parse all arguments, what do we do with it?

Currently, the value of `?r=x` gets sent to the faucet.

[2019-11-06 10:20] sschiessl-bcp commented on #2967
Adjusted the help text.

[2019-11-06 10:20] #2967 closed

[2019-11-06 10:30] sschiessl-bcp commented on #842
I would see this valuable as well, for a quick check. Definitely no reason to simply close like that.
Thanks for reopening.

[2019-11-06 10:32] KrowbarRazor opened #3120 "Orders are not matching on crypto-bridge."
orders are not matching [here](https://wallet.crypto-bridge.org/market/BRIDGE.UFO_BRIDGE.BTC)

Hi. There is a coin with a price of 1 satoshi. I want to buy it, so I chose it, click buy, but instead of buying it for 1 satoshi my BTC is placed into buy order. Hy to buy coins that are selling for 1 satoshi?

Also, sometimes, when I click on the sell order with 1 satoshi price, the amount that is calc

[2019-11-06 10:34] oscarTokenTax opened #3121 "CSV export of Bitshares transactions in Token Tax format"
Hey guys, I love the site and the work you do!! So easy to export transactions from Bitshares. Could you guys have an export of Bitshares transactions in Token Tax format? That way it would be a lot easier for me and everyone else to import transactions from Bitshares into Token Tax.

Attached is a csv template from Token Tax. This would really make the lives of so many people including myself eas

[2019-11-06 10:39] sschiessl-bcp commented on #3047
I ll check and make sure new release contains it

[2019-11-06 10:42] sschiessl-bcp commented on #3051
At first glance, DEXBot is not within the BitShares GitHub organization. Any reason for this?

[2019-11-06 10:43] sschiessl-bcp commented on #2748
No reaction so far.

[2019-11-06 11:09] abitmore commented on #3010
It turns out that the linked message in the forum has been updated to a spam. Since I didn't know what's it, I thought it's related to reference wallet. Now I guess it's just a random spam post.

[2019-11-06 11:09] #3010 closed

[2019-11-06 11:11] abitmore commented on #3010
BTW there is a BSIP issue for discussing link formats: https://github.com/bitshares/bsips/issues/246

[2019-11-06 11:14] abitmore commented on #3120
Replied in #3119, forwarding here:

[2019-11-06 11:18] abitmore commented on #3120
@KrowbarRazor It seems your browser is not rending the page well, so the "flip" icon is hidden. I can see the icon in Chrome. You can try https://wallet.crypto-bridge.org/market/BRIDGE.BTC_BRIDGE.UFO (directly update the url).

[2019-11-06 12:25] froooze commented on #2748
Time to remove CB from the reference wallet.

[2019-11-06 12:35] sschiessl-bcp commented on #3082
Do a clean install of modules

[2019-11-06 12:36] sschiessl-bcp commented on #3081
This is what I have

[code]

[2019-11-06 12:37] sschiessl-bcp commented on #3085
Does this reproduce on develop.bitshares.org?

[2019-11-06 12:39] sschiessl-bcp commented on #3053
Does this reproduce if you load another page first?

Open https://develop.bitshares.org/#/market/GCNY_BTS then navigate manually to asset info of GCNY.
I still can't reproduce it :(

[2019-11-06 13:18] #3098 closed

[2019-11-06 13:38] #2884 closed

[2019-11-06 13:45] #3099 closed

[2019-11-06 13:46] sschiessl-bcp commented on #3102
@serdrdoor

[2019-11-06 13:47] sschiessl-bcp commented on #3103
@serdrdoor

[2019-11-06 13:48] sschiessl-bcp commented on #3105
It's not an error. Predicted likelihood is reflected by open orders. No order present, no prediction.

[2019-11-06 13:48] #3105 closed

[2019-11-06 13:52] sschiessl-bcp commented on #3107
It should ask to unlock once confirmed in the modal

[2019-11-06 13:53] sschiessl-bcp commented on #3108
All table title could use an explanatory tooltip

[2019-11-06 13:54] sschiessl-bcp commented on #3109
Ah .. yes that would be best for UX!

[2019-11-06 13:56] sschiessl-bcp commented on #3113
Have a look at prediction.tooltips.what_is_a_prediction_market_asset

[2019-11-06 14:14] sschiessl-bcp commented on #3114
This is surprisingly not straightforward. https://github.com/MrRio/jsPDF#use-of-utf-8--ttf

Will default to english

[2019-11-06 14:17] allfory0u commented on #3085
No. It has already been fixed in #2961

[2019-11-06 14:23] sschiessl-bcp commented on #1908
The current solution at develop coming from your work is acceptable. Please state your bounty request, otherwise we'll make a suggestion.

[2019-11-06 14:31] sschiessl-bcp commented on #3121
Can you provide us links to the website of Token Tax, and preferable the specification on their website?

[2019-11-06 14:34] #3085 closed

[2019-11-06 15:23] TechsUsInc commented on #3121
Token Tax is not a free service.
https://tokentax.co/pricing/crypto

[2019-11-06 15:42] TechsUsInc commented on #3121
Coinbase utilizes cointracker.io which is also a paid for service. 20% link provided by Coinbase below.
https://www.cointracker.io/?i=Lsm1mu6RdX16

Coinbase also uses Turbotax, which falls under the umbrella of Intuit. A world renowned accounting software company for the following; Quickbooks, TurboTax, Proconnect, and Mint.

software affiliation and partnering is free
https://turbotax.intuit.com/

[2019-11-06 16:02] TechsUsInc commented on #3121
Cryptobride utilizes Cryptotrader.tax, which has Turbotax integration along with others.
Public API https://coinledger.docs.apiary.io/#

[2019-11-06 16:28] oscarTokenTax commented on #3121
Hey @sschiessl-bcp ,

Heres a raw version of the CSV format

[code]

[2019-11-06 18:30] abitmore commented on #3053
@sschiessl-bcp open a chrome incognito window, type https://wallet.bitshares.org/#/asset/GCNY directly.

[2019-11-06 20:51] PermieBTS commented on #3051
Transfering ownership during active development would disrupt the open issues and labels. Codaone is a registered and trusted long standing company in Finland and they have much more reputation outside of DEXBot to lose. Periodically forking DEXBot into the BitShares repo was suggested to Fox as a solution.

[2019-11-06 22:08] abitmore commented on #3051
@PermieBTS I'd like to invite you and the entire DEXBot team to the BitShares organization to maintain a fork in the organization. What do you think?

[2019-11-06 22:34] PermieBTS commented on #3051
Great, thank you

Forked: https://github.com/bitshares/DEXBot

[2019-11-07 09:44] sschiessl-bcp commented on #3051
I'd rather see DEXBot being primarily hosted in bitshares organization.

If the workflow is your only concern, nothing gets disrupted. If you transfer a repository GitHub automatically installs a redirect, all old links continue to work.

[2019-11-08 14:05] sschiessl-bcp commented on #1908
Closing because considered done. Bounty discussion not affected by that.

[2019-11-08 14:05] #1908 closed

[2019-11-08 14:07] sschiessl-bcp commented on #2657
I can agree to that when the issue creator is a known to be active.

[2019-11-08 14:07] sschiessl-bcp commented on #3071
@abitmore done

[2019-11-08 14:32] sschiessl-bcp commented on #3023
It looks weird in places where you simply don't expect more than one page. Could have another prop as well.

[2019-11-08 15:05] sschiessl-bcp opened #3122 "[3.3.191120-rc1] Release notes"
<h1>3.3.191120-rc1 Release Candidate</h1>
Please report any bugs using the Github issue system. Final release is expected on June 18th

<h2>Installation warning</h2>
This build will *replace* your old version of the BitShares UI, whether it's a release candidate or production release. If you want a stable version, use only the latest production release

<h2>Web deployment</h2>
This release candida

[2019-11-08 15:05] allfory0u opened #3123 "[0] develop.bitshares.org - worker sorting works only once"
**Describe the bug**
You can only sort from smaller to larger and that's it. ID, Description, Votes, etc cannot be sorted from larger to smaller or return to the previous position. (wallet.bitshares.org works fine)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['develop.bitshares.org/#/account/test/voting/workers'](https://develop.bitshares.org/#/account/test/voting/workers)
2. Try t

[2019-11-08 15:20] sschiessl-bcp commented on #2748
@mindphlux1 Deactivated CB for now

[2019-11-08 15:20] sschiessl-bcp commented on #2968
@OpenLedgerApp deactivated OPEN gateway for now

[2019-11-08 15:22] sschiessl-bcp opened #3124 "Disable OPEN and BRIDGE"
Done through on-chain config. May be reactivated if integration works again.

#2968

#2748

[2019-11-08 15:58] abitmore commented on #3071
@sschiessl-bcp thanks. Verified.

[2019-11-08 15:58] #3071 closed

[2019-11-08 16:02] abitmore opened #3125 "Move vesting balance table to dashboard."
**Is your feature request related to a problem? Please describe.**
Now we have "in orders", "in vesting balances" and "in collateral" columns in portfolio, it would be more convenience for users if the vesting balances table is moved to the dashboard.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-11-11 14:14] sschiessl-bcp commented on #3125
Yea, balances connected to the account makes very much sense to be in there!

[2019-11-11 14:21] froooze commented on #3122
I want to do Integration test on Linux (MX-Linux) for the reference client, Firefox and Chrome.

[2019-11-11 14:52] allfory0u commented on #3122
I can do integration tests on Ubuntu, Windows 7/10. Firefox and Chrome.

[2019-11-11 15:37] serdrdoor commented on #3102
The problem is that this error exists in all gateways when using legacy form.

If you take my commits and merge to the master branch, then everything will work well, and my changes and other gateways as well.

The problem apparently lies in some other edits - which are strained and break everything, which were made not by me, but by someone before.

[2019-11-11 15:57] serdrdoor commented on #3102
For example, choose GDEX (Legacy) withdrawal:

![image](https://user-images.githubusercontent.com/11815105/68601220-f472a580-04b4-11ea-9a9c-b3d63a96ca8c.png)

[2019-11-11 16:48] sschiessl-bcp commented on #3102
Could you please try and see if you find what's wrong?

Am 11. November 2019 16:37:50 schrieb Alex Pu <notifications@github.com>:

[2019-11-12 08:59] sschiessl-bcp commented on #3028
funded through HackTheDex

[2019-11-12 10:22] #3123 closed

[2019-11-12 10:26] sschiessl-bcp commented on #3124
https://wallet.bitshares.org/#/block/41220443/15

[2019-11-12 10:26] #3124 closed

[2019-11-12 10:27] #3114 closed

[2019-11-13 15:46] TBAPI-0KA commented on #1908
@sschiessl-bcp
Guys, I always trust your suggestions. On the other hand, you see the code committed, and I hope clearly understand that work on it indeed takes the time I posted. I can send a very detailed minute-exact report if required. On this ticket, 20h 6m was spent in total, and, in this particular case, a very small amount from it on pure communication - definition and description of the da

[2019-11-15 08:36] sschiessl-bcp opened #3127 "[3.3.191120-rc1] Integration Testing"
Release notes of the corresponding candidate can be found here:
https://github.com/bitshares/bitshares-ui/issues/3122

<h1>Looking for Integration testers</h1>

HINT: Integration testers may NOT be able to be reimbursed for their efforts. This depends on the funding status of the BitShares UI worker. If available, we seek to reimburse just like with last releases.

This issue is to track integrati

[2019-11-15 08:38] sschiessl-bcp opened #3128 "[3.3.191120-rc1] Maintain Language"
<h1>Looking for translators</h1>

**ATTENTION**: Translators may NOT be able to be reimbursed for their efforts. This depends on the funding status of the BitShares UI worker. If available, we seek to reimburse just like with last releases.

Translations are done through transifex, please find the file here

https://www.transifex.com/bitshares/bitshares-ui-1

Bounties:
 - Translate per Word: Compl

[2019-11-15 09:33] allfory0u commented on #3127
I can test on Windows 7 and Windows 10:
 - Chrome
 - Firefox
 - Light client

On Android:
 - Chrome
 - Firefox
 - Standard Android browser

[2019-11-16 00:32] shulthz commented on #3128
I like to translate Chinese...

[2019-11-18 13:03] sschiessl-bcp commented on #3128
Highly appreciated!

[2019-11-18 13:04] sschiessl-bcp commented on #3127
Thank you, please go ahead. My priority would be Firefox on Windows 10, and light client.

[2019-11-18 13:31] sschiessl-bcp commented on #1908
The Bounty does not necessarily reflect the actual hours spent, e.g. one of my last contribution was a bounty of 14.5 for 30:53 hours spent. I do not doubt that your reported time is accurate.

Let's get @startailcoon or @clockworkgr s opinion as well.

[2019-11-18 14:29] #2886 closed

[2019-11-18 14:30] sschiessl-bcp commented on #2886
https://github.com/bitshares/bitshares-ui/pull/3129#issue-342184216

[2019-11-19 17:31] abitmore commented on #3053
It works now. Thanks.

[2019-11-20 11:46] shulthz commented on #3128
Finished

[2019-11-20 14:55] ioBanker opened #3132 "For branding purposes, hard coded "BitShares" should be replaced with getWalletName() from branding.js"
In order to satisfy the ultimate goal of branding.js approach and to enhance the simplicity of customizing bitshares-ui to business or users, branding.js was created to ease the customization and branding, the hardcoded "BitShares" text in /app/lib/common/titleUtils.js should be replaced with getWalletName() coming from app/branding.js.

https://github.com/bitshares/bitshares-ui/blob/ae5c66bbb04f0

[2019-11-20 15:32] sschiessl-bcp commented on #3132
Please go ahead and provide a PR for this :)

[2019-11-20 17:02] ioBanker commented on #3132
Done.

[2019-11-20 19:33] abitmore commented on #3132
FWIW the PR is https://github.com/bitshares/bitshares-ui/pull/3133.

[2019-11-20 23:13] wec168 opened #3134 "Failed to withdraw 1000000 PGN, please handle it, thank you! 1000000PGN取款失败，请帮处理，谢谢！"
There are 2 consecutive withdrawals of 1 million, only one has been received.

Withdrawal Id1: 1.11.10161280211000000pgn = fcb3424a7740bde730ec4a7d6f36553c681cf502c54de9007b06df619dd1e78b, 2019-11-20 12:31:12, which was successfully received.

Withdrawal Id2: 1.11.10161282311000000pgn = (?) , 2019-11-20 12:31:39, this withdrawal failed, please help check, thank you!

连续取款2个100万，只收到一个。
取款ID1:1.11.1

[2019-11-21 00:01] shulthz commented on #3134
请联系cryptobridge

[2019-11-21 00:02] shulthz commented on #3113
There didn't have the “PredictionMarkets.md” in other language.

[2019-11-21 00:07] wec168 commented on #3134
我按照cryptobridge要求在网页中提交了发生的问题，以为这样他们会很快看到，以便及时处理，原来这样还不行。发邮件给他们处理问题太慢了，少则三四天，多者十几天才有回复，只有继续发邮件给他们。
谢谢你！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"shulthz"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月21日(星期四) 上午8:01
收件人:&nbsp;"bitshares/bitshares-ui"<bitshares-ui@noreply.github.com&gt;;
抄送:&nbsp;"danpai"<danpai@foxmail.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&

[2019-11-21 00:11] wec168 commented on #3134
有联系cryptobridge最快捷的方法吗？

[2019-11-21 00:13] wec168 commented on #3134
I submitted the problems in the web page according to the requirements of cryptobridge, thinking that they would soon see that the brakes were in time to deal with them, which was not good. It's too slow to send emails to them to deal with problems, three or four days less, more than ten days to reply, only to continue to send emails to them. Thank you!

Is there the quickest way to connect with c

[2019-11-21 00:14] shulthz commented on #3134
找找看看有没有电报群吧
https://crypto-bridge.org/contact-us/

[2019-11-21 00:24] wec168 commented on #3134
这些都打不开
https://discordapp.com/invite/H6Qt2dQ
https://twitter.com/CryptoBridge
https://www.reddit.com/r/CryptoBridge/

[2019-11-21 00:25] shulthz commented on #3134
搜搜电报群有没有频道吧，我是没用过...

[2019-11-21 00:26] wec168 commented on #3134
是不是要翻墙啊

[2019-11-21 00:27] shulthz commented on #3134
必须的啊，上面那几个频道也是要梯子啊

[2019-11-21 00:28] wec168 commented on #3134
下载个蓝灯试试看。谢谢你！
CB很麻烦的，沟通太不方便了。

[2019-11-21 14:01] ioBanker commented on #3132
FWIW the PR has been changed to #3135 and #3133 was closed.

[2019-11-21 14:09] #3134 closed

[2019-11-22 01:28] froooze commented on #3128
I like to finish German

[2019-11-22 02:43] froooze commented on #3127
I can test on Linux:
- Chrome
- Firefox
- Opera
- Reference Client

[2019-11-25 08:17] shulthz opened #3138 "The function “barter” can't work in the 3.3.191120-rc1 Release"
Can't work in: https://staging.bitshares.org
The "PROPOSE" didn't have any response.
The function “HTLC” have this problem too.

![2019-11-25 16_21_49-Window](https://user-images.githubusercontent.com/34892308/69523847-d1a9bc00-0f9f-11ea-8269-e41c0e3309e8.png)

Worked fine in: https://wallet.bitshares.org

[2019-11-25 15:27] sschiessl-bcp commented on #3132
Done

[2019-11-25 15:28] sschiessl-bcp commented on #3138
Yea, seems broken. It is likely due to the new FeeSelect component, should be somethign small as the component generally works on the other components.

[2019-11-25 19:55] allfory0u opened #3139 "[3.3.191120-rc1] Integration Tests by [allfory0u] for Firefox"
My OS:
  - Windows 10
My Browser:
 - Firefox 70.0.1 (64-bit)

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts (with and without memo)
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

Specific compon

[2019-11-25 20:04] allfory0u commented on #3139
#3101
#3102

[2019-11-25 20:14] allfory0u opened #3140 "[3.3.191120-rc1] Integration Tests by [allfory0u] for Light Client"
My OS:
  - Windows 10

My Browser:
 - Light client 191120-rc1

General
 - [x] Wallet loads and connects
 - [x] Login via cloud login and local wallet
 - [x] Transfer between accounts (with and without memo)
 - [x] Exchange opens, orders are visible and limit orders can be put
 - [x] Margin creation and adjustment is possible
 - [x] Voting is possible (committee, witness, proposals)

Specific compo

[2019-11-26 15:27] johnnythinker opened #3141 "Hijacked :( Please help ASAP!!!"
**Describe the bug**
My account,   bitcoin-wizards   was hijacked. I am unable to make any transaction now.
It says, Failed to broadcast the transaction:
Execution error
Whenever I try to make a transaction now.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what yo

[2019-11-26 15:33] johnnythinker commented on #3141
ACCOUNT / KEY / ADDRESS | WEIGHT | ACTION
-- | -- | --
  | openledger-witness | 2 | Remove
  | BTS7GQdy5f*********************5Gvp5daZMBkzk1W | 1 | Remove

[2019-11-27 03:09] abitmore commented on #3141
`Please be aware of scam attempts using Proposed Transactions in your Dashboard. Never approve a proposal if you are not expecting one!`

Sorry, we're unable to help.

[2019-11-27 13:06] #3141 closed

[2019-11-27 13:07] sschiessl-bcp commented on #3138
Please retry on develop.bitshares.org

[2019-11-27 13:13] #3132 closed

[2019-11-27 13:14] shulthz commented on #3138
Can't work.

[2019-11-27 13:19] sschiessl-bcp commented on #3138
Please make sure you use version 922eb03

You might have been to quick there and used the old version.
![image](https://user-images.githubusercontent.com/33128181/69726428-d9dd3500-1120-11ea-8ff5-46215160bc8d.png)

[2019-11-27 13:23] shulthz commented on #3138
Work fine now, thks.

[2019-11-27 23:35] vital-signs opened #3142 "activity button"
**Describe the bug**
A clear and concise description of what the bug is.
when clicked  it show No data   but there is buy sell activitu by me
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2019-11-28 11:46] bitcrab opened #3143 "trap at transfer"
it seems there is a trap in the transfer UI.

when you search an account, say alpha-dog, "alpha-dog" comes and you select it, but in the subsequent confirmation screen the destination account is "alpha", if you are not careful enough, it's easy to transfer to a wrong account.

I lost more than 300K BTS because of this bug!!!

![image](https://user-images.githubusercontent.com/5886543/69803657-afba

[2019-11-28 12:11] sschiessl-bcp commented on #3143
Can you describe how you were clicking / typing to reproduce this?

The Send modal has been refined for a similar bug, this has been fixed in https://develop.bitshares.org . It requires an active confirmation before logging in the displayed account.

[2019-11-28 13:48] sschiessl-bcp commented on #3142
Please fill out the issue properly

[2019-11-28 13:49] #3138 closed

[2019-11-28 14:11] bitcrab commented on #3143
here I selected "alpha-dog"
![image](https://user-images.githubusercontent.com/5886543/69812570-5b20ee80-122b-11ea-9c6b-07aaf25d4e34.png)

here "alpha" appears, sometime in quick operation you just confirm without careful checking.
![image](https://user-images.githubusercontent.com/5886543/69812637-7db30780-122b-11ea-9a43-9cfbee34f2b5.png)

I believe in UI design it is very necessary to avoid this

[2019-11-28 14:58] sschiessl-bcp commented on #3143
I see. When you have entered "alpha" in the textbox, you currently need to click on "alpha-dog" to take over the selection, otherwise it assume "alpha". The next release won't have that.

[2019-11-29 09:47] sschiessl-bcp opened #3144 "Simply integration of KYC requirements for Gateways"
This is the outline of the most simple way to implement KYC into the reference UI.

The Deposit / Withdraw Modal and Legacy show a Link to the Gateways main website where a user can sign up, do KYC or similar. The gateway also asks the user for their BitShares account name and stores that internally in their database.

When Depositing or Withdrawing, the Gateway indicates to the user how much is m

[2019-11-29 09:47] sschiessl-bcp commented on #3144
Thoughts? @bitcrab

[2019-11-29 10:24] ioBanker commented on #3144
I suggest to have KYC approval status at UI so if gateway's API response was approved to pass the transaction and if not to show "KYC-howto-link" response.

[2019-11-29 10:57] ioBanker commented on #3144
This is a part of whole gateway integration project which I believe its highly required, I suggest to have a whole plan for the whole approach later but due to urgency of existing gateways having KYC, its good to give this simple feature a priority.

[2019-11-29 12:32] bitcrab commented on #3143
I am sure that at these times I selected alpha-dog and it appear in the To select box, but in the next pop up window alpha appeared instead, I cannot repeat it but I am sure this had happened.

[2019-11-29 12:47] sschiessl-bcp commented on #3143
On develop.bitshares.org, or wallet.bitshares.org?

[2019-11-29 14:05] sschiessl-bcp commented on #1908
It seems I have the only opinion.

[2019-11-29 16:13] TBAPI-0KA commented on #1908
@sschiessl-bcp Stefan, I just don't know how the bounty is calculated in comparison with the hours spent. Everything I can do on my side - do good work, and send how much time was spent. In all the rest - I trust you, like, totally :) I know you make weighed decisions, and I never had a feeling that bounty is unfair. In this case, I think 12.5 hours is a good balance with the actual time spent and

[2019-11-29 19:58] abitmore commented on #3144
KYC info should be somewhat confidential, that being said, an **open** API to query what limits an account has is not the best solution. A signed message is probably better, but to avoid security issues (i.e. replay attack), the client need to sign a different message each time when querying, ideally with a nonce (i.e. timestamps). There are also other concerns (i.e. to avoid accidentally expose p

[2019-11-29 20:53] ioBanker commented on #3144
@sschiessl-bcp Any idea how public API blocktrades” works only while users are logged in?

[2019-11-30 13:18] bitcrab commented on #3143
GUI MAC version 3.1.19061-8.1 (3.1.19061-8.1.2607)

[2019-11-30 14:31] sschiessl-bcp commented on #3143
Please try if you can reproduce on develop.bitshares.org

[2019-11-30 17:46] froooze commented on #2287
@sschiessl-bcp:
Google Analytic is active in RC again!

[2019-12-03 07:42] wudw5d commented on #3144
is the UI team responsible for the UI revision of the deposit and withdrawal interface, and each gateway is responsible for determining whether the user is a KYC API?

[2019-12-03 08:01] sschiessl-bcp commented on #3144
Technically, the UI team is not responsible for managing KYC integration of gateways.

It boils down to the following: If the integration of the gateway in the reference UI is not working anymore, the gateway will be disabled in the reference UI. Now if a gateway requires KYC (e.g. GDEX for withdrawals over a certain limit), the user would get stuck and in the worst case lose its funds. So I am lo

[2019-12-03 08:12] sschiessl-bcp commented on #3144
If gateways want an open API, or only verified requests is their own decision. Verification through a signed message would be my recommendation, and is just as safe as verification through OAUTH like Blocktrades does it.

I see this as a small problem as the signing code would be provided as a framework that will be the same for all gateways, i.e. no custom code for each.

Any standard is better t

[2019-12-03 08:12] sschiessl-bcp commented on #3144
See above, OAUTH

[2019-12-04 01:38] abitmore opened #3145 "HKD settle orders not showing"
**Describe the bug**
The "settle orders" tab shows nothing in https://develop.bitshares.org/#/market/BTS_HKD .
There is a settle order according to cli_wallet
[code]

In CNY market, the page does show the settle orders.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://develop.bitshares.org/#/market/BTS_HKD'
2. Scroll down
3. See error

**Expected behavior**

**Screenshots**

**

[2019-12-05 22:38] bobcricket opened #3146 "Withdraw fund stuck"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

I made a withdraw of open.BTC from Bitshares to my wallet on the 02/12/2019 at 17:16:42 but never received the fung in my wallet... I checked and had enough BTS to pay the fees.
I join a screenshot of the transaction.
What can i do now ?

**Screenshots**
![Bishare withdraw s

[2019-12-06 08:20] sschiessl-bcp commented on #3146
Please contact OpenLedger through their freshdesk

https://openledger.freshdesk.com/support/home

[2019-12-06 08:20] #3146 closed

[2019-12-06 12:57] sschiessl-bcp opened #3147 "OnChain Config change: Gateways, and notification"
Changes:
 - Remove expired notification
 - Add disable reason for OPEN and BRIDGE
 - Disable GDEX
 - Refresh voting inquiry

[code]

[2019-12-06 12:58] sschiessl-bcp commented on #3147
@bitcrab @OpenLedgerApp @mindphlux1 @dls-cipher

Please have a look

[2019-12-06 13:07] sschiessl-bcp commented on #3147
This is an example how it will look like
![image](https://user-images.githubusercontent.com/33128181/70325175-b78a9c00-1831-11ea-8b2c-a136f5034f3a.png)

The text "This is a test" will be replaced by the comment above for each gateway.

[2019-12-06 13:07] sschiessl-bcp commented on #3147
Might be interesting for you too @abitmore

[2019-12-06 13:22] dls-cipher commented on #3147
You mean e.g. gateway can provide support url instead of that ?

Chee®s

[2019-12-09 01:45] abitmore commented on #3147
Thanks for mentioning me. I'm fine with the changes.

[2019-12-12 13:36] allfory0u opened #3166 "[3.3.191120-rc1] - White screen after hiding all assets in portfolio"
**Describe the bug**
When all assets in Portfolio are hidden and you click on 'Visual', then you can see a white screen. Reloading the page doesn't help.

**To Reproduce**
1. Go to 'Portfolio' (https://staging.bitshares.org/#/account/your-account)
2. Hide all assets
3. Click on 'Visual'
4. Click on 'Active'
5. See white screen

**Expected behavior**
Don`t see a white screen

**Screenshots**
![изоб

[2019-12-12 14:21] sschiessl-bcp commented on #3053
:P Closing it now

[2019-12-12 14:21] #3053 closed

[2019-12-12 14:22] sschiessl-bcp commented on #3128
Thanks for all volunteers!

[2019-12-12 14:23] allfory0u opened #3167 "[3.3.191120-rc1] - QR code is difficult to scan in a dark/midnight theme"
**Describe the bug**
QR code is on a dark base (in dark/midnight theme), which makes it difficult to scan

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Choose Dark or Midnight theme
3. Try to scan QR code in "Deposit and Withdraw"

**Screenshots**

Light theme

![index](https://user-images.githubusercontent.com/17462020/70719778-49dfe380-1cfb-11ea-9029-2cf09e8b967a.jpg)

[2019-12-12 14:39] sschiessl-bcp commented on #3122
<h1>3.3.191120-rc1 Release Candidate</h1>
Please report any bugs using the Github issue system. Final release is expected on June 18th

<h2>Installation warning</h2>
This build will *replace* your old version of the BitShares UI, whether it's a release candidate or production release. If you want a stable version, use only the latest production release

<h2>Web deployment</h2>
This release candida

[2019-12-13 02:32] froooze opened #3169 "Send Dialog - can't add contacts"
**Describe the bug**
Cant add account to favorites in sending dialog

**To Reproduce**
Steps to reproduce the behavior:
1. Burger menu -> Send
2. Type in a new address
3. try to add address with star
4. star can't add new address

**Expected behavior**
enable adding new user

**Desktop (please complete the following information):**
 - OS: MX-Linux
 - Browser: Firefox or reference wallet
 - Version

[2019-12-13 16:54] froooze opened #3171 "Filter X has overlay in user menu"
**Describe the bug**
X in filter has overlay in user menu

**To Reproduce**
Steps to reproduce the behavior:
1. enter filter word
2. open user menu
3. see `X`

**Expected behavior**
`X` should not be visible

**Screenshots**
![trancperancy](https://user-images.githubusercontent.com/40874087/70817216-69e1d680-1dd1-11ea-98b3-ce0310a30a60.png)

**Desktop (please complete the following information):**

[2019-12-13 16:59] froooze opened #3172 "Quick trade is limited to current assets"
**Describe the bug**
Quicktrade only knows assets, which are already in the portfolio available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Quicktrade
2. Enter new asset
3. Asset is not found

**Expected behavior**
Find new assets

**Desktop (please complete the following information):**
 - OS: MX-Linux
 - Browser: Firefox
 - Version: 191120

[2019-12-16 20:12] michaelbolick opened #3173 "I can't see my transactions in bitshares exchange. I transferred some BTC to coinbase on Friday and it still has not arrived."
This is my the error report from my activity log:

Latency result:[object Object]
log: Your node is out of sync since 5.747000217437744 seconds, waiting 10 seconds, then we notify you
log: synced and subscribed, chainstore ready
log: INFO	browserEntropy gathered
log: fetchCoins error from https://api.crypto-bridge.org/api/v1/coins: TypeError: Failed to fetch
log: fetchTradingPairs error from https

[2019-12-16 23:56] blincadmin commented on #3173
Cryptobridge had already bid farewell as gateway. There are no support lines available.

[2019-12-17 21:18] sschiessl-bcp commented on #3047
Done

https://github.com/bitshares/bitshares-ui/releases/tag/3.3.191120

[2019-12-17 21:18] #3047 closed

[2019-12-17 21:18] sschiessl-bcp commented on #3127
Thanks for all testers.

[2019-12-17 21:18] #3127 closed

[2019-12-17 21:18] #3128 closed

[2019-12-17 21:23] #3122 closed

[2019-12-17 21:37] sschiessl-bcp commented on #3173
The liquidation of Liquidblocks ApS (company behind CryptoBridge) is handled by attorney-at-law Kasper F. Langgaard. Direct any outstanding claims to liquidblocks@njordlaw.com

[2019-12-17 21:38] #3173 closed

[2019-12-17 21:42] sschiessl-bcp commented on #3171
Can you please describe how to reproduce?

[2019-12-19 09:29] sschiessl-bcp commented on #3147
@bitcrab I will have to mark GDEX gateway as well if there is no solution coming from your end. I asked you last week for discussion.

[2019-12-21 18:01] froooze commented on #3171
I added go to Exchange step, now it should be clear

[2019-12-23 02:49] Homeyc opened #3174 "当屏幕缩小时导航栏被隐藏，无法点击"
**Describe the bug**
The navigation bar under the Explore menu is too long, and the rightmost option is hidden when the screen is zoomed out

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://develop.bitshares.org/#/explorer/blocks'
2. Click on ''
3. Scroll down to '....'
4. See error

**Expected behavior**
When the screen is zoomed out, scroll buttons are added to the left and r

[2019-12-28 18:31] kamtorn1 opened #3175 "Can't pay the price of lifetime subscription"
the website said "Execution error"

[2019-12-29 21:41] sschiessl-bcp commented on #3175
You may find wallet support e.g. in the Telegram group @btswalletsupport

[2019-12-29 21:45] #3175 closed

[2019-12-29 21:49] sschiessl-bcp commented on #3172
You can trade any assets by putting the respective symbols in address

[2019-12-30 16:06] startailcoon opened #3176 "Large Settlment orders aren't visible after first maintenance period"
## Case

A user settles a larger amount of a bit asset, larger than the maximum settlement volume each maintenance period. The market will then display that settlement order in the exchange panel, and when it will settle, just as normal.

## Issue

When the asset is settled, it will only give the user the maximum settlement volume for the asset. The remaining will fall over to the next period. The

[2019-12-30 17:12] startailcoon opened #3179 "Feature: Warn on settling assets with larger amounts in queue"
When a user wish to settle an asset they can't settle more than the allowed maximum per period. bitUSD, bitEUR, bitCNY and bitRUBLE all have 0.5% of total supply.

If a user tries to settle more than the maximum allowed amount it will sit in queue and settle the max amount until the order is fully completed. This means that any order submitted after this will be delayed accordingly.

If max amount

[2019-12-30 17:16] startailcoon commented on #3174
This is a known issue on smaller screens and work was ongoing in the current project to fix this. unfortunately the community has stopped funding work on this project and we will probably not have this fixed at the moment.

Anyone willing to add to the project are free to do so as we continue to maintain new PRs and add minor fixes.

[2019-12-30 17:22] startailcoon commented on #3145
Can this one be related to #3176 ?
What I can see you're posting this after the settle date, and the volume is much more than the max settlement per period.

[2019-12-30 18:54] #3176 closed

[2019-12-30 21:03] sschiessl-bcp commented on #3179
The estimate is already being displayed iirc. You got screens?

[2019-12-31 04:01] froooze commented on #3172
No:
![LTC](https://user-images.githubusercontent.com/40874087/71609667-95fba680-2b8a-11ea-92b4-fba04c0cfc08.png)

[2019-12-31 08:26] startailcoon commented on #3179
It's not accurate

bitEUR today has for example has several large orders in queue. If I settle today, I will be delayed with several days because of these orders.

## Current market status

![image](https://user-images.githubusercontent.com/12114550/71614891-89894500-2bae-11ea-8044-17f57576d945.png)

PRICE | bitEUR | BTS | EXPIRATION | ESTIMATED SETTLE TIME
-- | -- | -- | -- | --
75.8431 | 188.877

[2019-12-31 11:37] #3172 closed

[2019-12-31 16:38] abitmore commented on #3145
I think it's the same issue. Thanks.

[2019-12-31 16:38] #3145 closed

[2020-01-10 03:38] fendy5736 opened #3182 "Why is BTS that I send has not been entered to the receiver?"
![image](https://user-images.githubusercontent.com/34893926/72123853-46d92100-3395-11ea-9980-7c6b67e61e49.png)

[2020-01-10 07:19] sschiessl-bcp commented on #3182
see telegram

[2020-01-10 07:19] #3182 closed

[2020-01-10 12:28] sschiessl-bcp opened #3183 "Exchange: (default) fee asset not working"
Can't change the fee asset for a trade, switching default also doesn't help.

[2020-01-17 16:43] RuneStone0 commented on #2011
@dot5enko your swagger seems to be missing:
[code]

..and as a general note I think a python/flask sample code would be very useful.

[2020-02-03 10:57] serdrdoor opened #3184 "When switching the accounts on the voting page, the page broken"
**Describe the bug**
When switching the accounts on the voting page, the page broken (white screen in the section of witnesses and workers)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/account/ACCOUNT/voting/witnesses'
2. Click on the account in the upper right corner (where switching to your other accounts)
3. Get:
![image](https://user-images.github

[2020-02-05 10:33] NemesisZAUK opened #3185 "Exchange Tab does not load on Bitshares-UI 3.3.191120"
**Describe the bug**
Updated to the new 3.3.191120 desktop version. UI appears to work fine with the exception of loading the EXCHANGE tab. The EXCHANGE tab does not load & remains blank. All other tabs work.

**Othe Info:**
 - OS: Win10 Pro (Latest Build)
 - i7, 32GB ...etc
 - Browser: None (using Bitshares-UI Desktop)
 - Version 3.3.191120

[2020-02-10 00:10] froooze opened #3186 "Cant add proxy in voteing"
**Describe the bug**
Save button is not active, when entering a proxy

**To Reproduce**
Steps to reproduce the behavior:
1. Voteing
2. Enter proxy
3. cant save proxy
4. See error

**Expected behavior**
save proxy voteing

**Screenshots**
![cant-save-proxy](https://user-images.githubusercontent.com/40874087/74113015-b7947880-4ba1-11ea-9fa2-786d1e251220.png)

**Desktop (please complete the following

[2020-02-10 00:18] froooze opened #3187 "No quick deposit/withdraw"
**Describe the bug**
Quick deposit/withdraw does not load options

**To Reproduce**
Steps to reproduce the behavior:
1. Go to quick deposit/witdraw
2. See error

**Expected behavior**
Load quick deposit/withdraw

**Screenshots**
![deposit-no-data](https://user-images.githubusercontent.com/40874087/74113144-b6178000-4ba2-11ea-8903-533e35668146.png)

**Desktop (please complete the following informat

[2020-02-10 01:04] froooze opened #3188 "Borrow modal refinements"
**Describe the bug**
The margin position picker got an update, but there are still things which are not fully resolved.

- creating new margin positions does not auto set TCR
- ratio slider has a minimum value of 0 and not MCR
- text for ratio should be below the ratio slider and not above
- reorder input fields
- remove unnecessary tool tips
- Improve CSS
- Allow three digits for CR
- Add quick b

[2020-02-10 01:05] froooze commented on #3169
Also other places with the user star option do not work properly.

[2020-02-11 19:40] pstrident opened #3189 "my trades shows market trades..."
my trades shows market trades...

[2020-02-13 08:21] NemesisZAUK commented on #3185
Removing the entire Bitshares UI Package ( uninstall, clean install folders, registry ) then reinstalling the Bitshares-UI solved this for me.

[2020-02-13 08:49] pstrident commented on #3189
also activity tab shows no data

[2020-02-13 16:14] froooze commented on #3189
Can you post a screenshot, which version or browser are you using?

[2020-02-14 11:10] pstrident commented on #3189
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB4AAAARdCAYAAACw6l+qAAAgAElEQVR4XuzdCZxV8//H8c/s7assSZT8LEkoWUL42ZIsIdsPFdlCyBJlr19Zyxplye5HhMq+FRVJlCQlWyRS0Tr7/B/vb/8z3blzZ+bcO/feuffO6zweHqk553vOeX6/c2Ye930+329at27dSoytRgWKiopsyZIlNXoNqXryLbbYwuTLhkCiCBQWFtratWsT5XK4jhQXyMjI4BmY4n0cr9urV6+erVq1Kl6n4zwIIIAAAggggAACCCCAAAIIIIAAAgggUA2BNALgauhF6VAC4ChBhmiGADh2trQcmQABcGRuHBWZAAFwZG4cVV6AAJhRgQACCCCAAA

[2020-02-15 15:50] litepresence opened #3190 "Cannot Add MPA Feed Producer"
**Describe the bug**
Sporadically Cannot Add Feed Producer

via UI after the initial feed producer list is created.  Also, sometimes when creating the initial list I attempt to add a name and it creates an empty line above.  I have to delete the whole list and start again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to update asset
2. Click on Feed producer
3. Put in valid name, click

[2020-02-16 09:01] pstrident commented on #3189
im using lite client 3.3.191120

[2020-02-20 03:43] froooze commented on #2566
https://github.com/bitshares/bitshares-ui/pull/3199

[2020-02-20 03:43] #2566 closed

[2020-02-20 11:06] sschiessl-bcp opened #3201 "Cleanup gateway docs"
app/help/en/toc.md

 - remove bridge and sparkdex
 - add deex

[2020-02-20 15:59] froooze commented on #1666
Already implemented.

[2020-02-20 15:59] #1666 closed

[2020-02-20 16:00] froooze commented on #2701
Already implemented.

[2020-02-20 16:00] #2701 closed

[2020-02-20 16:02] froooze commented on #2748
Cryptobridge is out.

[2020-02-20 16:02] #2748 closed

[2020-02-20 16:05] froooze commented on #2808
Nodes do not hop and start can freeze.

![connection-time-out-no-node switch](https://user-images.githubusercontent.com/40874087/74954285-24f6a380-5403-11ea-9956-aa2955f2adcf.png)

[2020-02-20 16:12] froooze commented on #2802
@sschiessl-bcp :
[login-bug.txt](https://github.com/bitshares/bitshares-ui/files/4231780/login-bug.txt)

![login-freeze](https://user-images.githubusercontent.com/40874087/74954933-2eccd680-5404-11ea-95a6-c3df2d9bf405.png)

[2020-02-20 22:02] froooze opened #3203 "No view switch after loggin"
**Describe the bug**
When I spectate with "VIEW MODE" user1 and than log in with user2, the profile is not auto switched to user2.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange
2. Click on another user View Mode
3. Loggin with another user profile
4. View mode is still active, but not the user profile

**Expected behavior**
Quite "View Mode" after loggin

[2020-02-22 14:59] froooze commented on #3184
#3186 duplicate ?

[2020-02-22 15:37] serdrdoor commented on #3184
no, these are different errors
in case [#3186](https://github.com/bitshares/bitshares-ui/issues/3186) , it is an ENABLE / DISABLE error of the SAVE button proxy.
But displaying a table of witnesses, workers there without errors.

[2020-02-23 17:56] RuneStone0 opened #3205 "npm start fail on systems with OpenSSL >= 1.1.1"
**The bug**
`npm start` will fail on systems with OpenSSL >= 1.1.1

**How to reproduce**
1. Use latest version of Kali Linux or modify `/etc/ssl/openssl.cnf` and set `CipherString` to `DEFAULT@SECLEVEL=2`
2. Run `npm start`

This will throw an error:
[code]

Additional information about the issue: https://wiki.debian.org/ContinuousIntegration/TriagingTips/openssl-1.1.1

**Solution**
Generate 2048

[2020-02-24 08:52] serdrdoor opened #3207 "Text translation doesn't work on the initial splash screen"
**Describe the bug**
Text translation doesn't work on the initial splash screen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wallet.bitshares.org/#/settings
2. Change the language of the UI - to any other than English, for example, Chinese or Russian
3. Press F5 or refresh page

**Expected behavior**
String: "Connecting to API server:" - must be translated into the appropria

[2020-02-24 09:07] serdrdoor opened #3208 "When changing order options style from Vertical to Horizontal and back, there is a change in the order in which orders are displayed in the order book"
**Describe the bug**
When changing Order Options Style from Vertical to Horizontal and back, there is a change in the order in which orders are displayed in the order book

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any market, example:
https://wallet.bitshares.org/#/market/USD_BTS

2. Click on 'Personalize'
3. Choose "Order Options" -> "Style" -> "Vertical"
4. Then choose "Order O

[2020-02-24 10:26] yukadev opened #3209 "Can't create a PARENT asset"
### Unable to create a PARENT asset.
The user already has a lifetime subscription ([wa11dex - ID: 1.2.1691129](https://bts.ai/details/account/wa11dex)).

Tried all the nodes.

What could be the reason?

![bts1](https://user-images.githubusercontent.com/60086143/75144797-cd10b300-5708-11ea-83b4-a51126413683.png)

Windows, Firefox

[2020-02-24 10:55] blincadmin commented on #3209
WA11DEX must be an asset.

[2020-02-24 10:59] yukadev commented on #3209
Thank you!

[2020-02-24 10:59] #3209 closed

[2020-02-24 11:19] froooze commented on #3188
I claim this!

[2020-02-24 11:20] froooze commented on #3208
Approved, you want to claim this ?

[2020-02-24 11:42] froooze opened #3210 "Add HONEST.assets to featured markets"
**Is your feature request related to a problem? Please describe.**
Honest assets are not in the featured markets.

**Describe the solution you'd like**
Add honest assets to the featured markets.

**Describe alternatives you've considered**
None

[2020-02-24 11:43] froooze commented on #3210
https://github.com/bitshares/bitshares-ui/pull/3197

[2020-02-24 13:19] shulthz commented on #3210
why?

[2020-02-24 13:27] froooze commented on #3210
https://bitsharestalk.org/index.php?topic=32035.0

[2020-02-24 13:58] shulthz commented on #3210
The reason is inadequate.

[2020-02-24 14:40] abitmore opened #3211 "Use a CAPTCHA when registering new accounts"
**Is your feature request related to a problem? Please describe.**
The community faucet was being abused, see the account activity at https://wallet.bitshares.org/#/account/onboarding.bitshares.foundation.

**Describe the solution you'd like**
One way to fight that kind of abuse is CAPTCHA. Note that the UI doesn't support CAPTCHA so far, so it's not a job that could be done by the faucet only, bu

[2020-02-24 15:52] froooze commented on #3210
You are inadequate, because there are a lot of reasons.

Why not?

[2020-02-24 16:00] shulthz commented on #3211
I think we should learn XRP…

[2020-02-24 16:05] shulthz commented on #3210
These reasons can't support anything…

[2020-02-24 16:37] froooze commented on #3210
Closed, because of spam.

[2020-02-26 12:12] #3205 closed

[2020-02-26 14:29] shulthz commented on #3210
why closed and reopened?

[2020-02-27 06:58] froooze commented on #3188
https://github.com/bitshares/bitshares-ui/pull/3214

[2020-02-27 06:58] #3188 closed

[2020-02-28 10:02] abitmore commented on #687
Should have been done. See #2655.

[2020-02-28 10:02] #687 closed

[2020-02-28 10:11] abitmore opened #3224 "Portfolio does not show all assets, nor count in all open orders"
**Describe the bug**
See https://wallet.bitshares.org/#/account/president-jiang , as of writing, the page shows "Total of 93 assets". According to ~~https://cryptofresh.com/u/president-jiang~~ https://blocksights.info/#/accounts/1.2.539130, the account holds balances of more than 100 assets ~~(although data on CF could be stale)~~.

**Expected behavior**
The page should show all assets an account

[2020-02-29 23:22] abitmore commented on #1498
I don't think this is a small task.

[2020-02-29 23:26] abitmore commented on #851
Too old. No follow-up. Closing.

[2020-02-29 23:26] #851 closed

[2020-02-29 23:54] abitmore opened #3225 "My open orders is empty in exchange page after switching market"
**Describe the bug**
If a user has viewed settle orders E.G. in market BTS/bitCNY, then switching to a market that doesn't have settle orders E.G. in market BTS/GDEX.BTC, the "my open orders" tab will be empty since it still tries to show settle orders.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/account/exchange.btsbots'
2. Click on 'Exchange'
3. Cl

[2020-02-29 23:56] abitmore commented on #3225
Workaround for users when this happens: click the "my open orders" text then the orders will show.

[2020-03-01 00:02] abitmore commented on #3224
The same issue applies to open orders. If a user has more than 100 open orders, the UI doesn't show all of them, also the data in "in orders" column of portfolio page would be incorrect.

[2020-03-01 18:36] abitmore opened #3226 "Incorrect status about globally settled prediction markets"
**Describe the bug**

The prediction market `BTS2020FEB` has been globally settled at price `0`, but
1. the "Settlement" section in the asset info page doesn't show the correct status. See https://wallet.bitshares.org/#/asset/BTS2020FEB/
2. holders can not force-settle in bitshares-ui (although a holder would get nothing by settling, the tooltip / warning should indicate it correctly). See https:/

[2020-03-03 20:49] litepresence opened #3227 "FOK should never be default behavior"
**Describe the Bug**
Currently if you place a limit order into the opposing side of the book as a "market order" it is flagged with Kill or Fill.   That's not the way this would work at any traditional cex.  FOK should be an optional feature; not the default behavior.   FOK is an edge case scenario.  It is highly unlikely that most lay users would expect this behavior, intend or desire use it.   P

[2020-03-04 15:19] froooze commented on #3225
@abitmore
I could not reproduce this, maybe I have different default settings?

https://github.com/bitshares/bitshares-ui/pull/3194/commits/cbbeaf9fcd253d1b67611b9b44aa0e456692c78c

[2020-03-04 16:09] abitmore commented on #3225
I have no testing environment so can't test, sorry.

[2020-03-04 18:26] froooze commented on #3225
You can also manually set to new default settings by cloning this:

![image](https://user-images.githubusercontent.com/40874087/75910335-00141e80-5e4e-11ea-911b-45c31eb2f658.png)

[2020-03-04 19:10] abitmore commented on #3225
By default, settlements and open orders are in the same group. Thus the bug.

[2020-03-04 19:14] abitmore commented on #3225
IMO changing the default values only hides the bug, since users can update the settings, then the bug report will come again but just with more steps to reproduce. Ideally UI should make sure it always work with whatever settings.

[2020-03-04 20:37] froooze commented on #3225
@abitmore
I agree here, but the exchange layout gets a rewrite, changing the default settings is only the first step.

[2020-03-04 21:38] froooze commented on #3225
https://github.com/bitshares/bitshares-ui/issues/2906

[2020-03-04 22:30] abitmore commented on #3225
As I understood layout rewrite is not in the roadmap.

[2020-03-05 02:19] froooze commented on #3225
at least on my roadmap

[2020-03-05 08:56] abitmore commented on #3225
IMHO the correct behavior should be: when the UI decides one panel should be hidden, it should activate another panel in the same group.

[2020-03-12 14:08] litepresence opened #3230 "add ENTER MARKET option"
**Is your feature request related to a problem? Please describe.**
in the exchange, currently you have the option to select the market pair via `MY MARKETS` or `FIND MARKETS`.  Both are less than helpful and both work on looking up a list of markets and then requiring a mouse select from that list.

An exercise in understanding how broken they are is to change all of the `MY MARKETS` to each of th

[2020-03-16 16:38] litepresence commented on #3210
Pull request #3233 - added HONEST mpa's to featured markets

[2020-03-26 21:21] startailcoon opened #3234 "Please support the new BitShares UI worker for 2020"
There is currently a new proposal up for funding the Bitshares UI development team.

Please take a moment to vote for `1.14.256` in your favorite bitshares wallet to support this repository development team.

### Official Proposal

https://www.bitshares.foundation/workers/2020-03-bitshares-ui

### Discussion Thread
https://bitsharestalk.org/index.php?topic=32204.0

# The BitShares UI Worker Propos

[2020-03-31 13:27] allfory0u opened #3236 "White sreen on wallet.bitshares.org"
**Describe the bug**
White screen after downloading wallet.bitshares.org

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [wallet.bitshares.org](wallet.bitshares.org) at very first time
2. See white screen

**Expected behavior**
No white screen

**Screenshots**
![image](https://user-images.githubusercontent.com/17462020/78030796-5603b580-736b-11ea-953d-7b5873dd20d7.png)
------------
![m

[2020-03-31 13:59] froooze commented on #3236
MX-Linux and latest Firefox:

![image](https://user-images.githubusercontent.com/40874087/78034699-5c446280-7368-11ea-8bc4-83ff0de52531.png)

![image](https://user-images.githubusercontent.com/40874087/78034828-885fe380-7368-11ea-88df-da397a6fee60.png)

[2020-04-01 00:17] shulthz commented on #3236
have same situation on the latest UI

[2020-04-07 13:04] dxmynw-cld opened #3237 "History Download Failed"
I have tried several times over the past several days with no change.  I attempted to download my history under the ".us.wrapper."  label.  I clicked on "Activity" and the history was shown on my screen.  I clicked "Download History" which displayed the various "wrappers" available.  When I click on the "eu" a very short history of 2020 (up to March 10, 2020) is displayed.  When I click on the "us

[2020-04-10 18:46] winston-1984 opened #3238 "Support Maker Taker Fees"
**Is your feature request related to a problem? Please describe.**
post BSIP81 Maker Fees are the old Market Fees and a new fee "Taker" is charged.

The current wallet does not support

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-04-11 13:53] jmartin291 opened #3239 "Impossible to put order on 2 currency pairs"
Hello,

i can not put on order on 2 currency pair :
open.RISE /BTS
open.ETP / BTS

Is it normal ?

Regards

Julien

[2020-04-11 13:56] sschiessl-bcp commented on #3239
You will need to check with OpenLedger's freshdesk on that question as they operate the OPEN assets.

[2020-04-11 17:09] blincadmin commented on #3239
Openledger has disabled trading for these assets against BTS

[2020-04-11 22:56] jmartin291 commented on #3239
Thank you for your answer.
How can I sell those crypto then ?

Le sam. 11 avr. 2020 à 19:09, BLINC Einstein <notifications@github.com> a
écrit :

[2020-04-16 07:52] #3113 closed

[2020-04-18 16:25] litepresence opened #3241 "JSON node input"
**Is your feature request related to a problem? Please describe.**

User has to enter nodes manually via GUI; this can be tedious.

Sometimes nodes are added in batches of 20 ore more by node operators.

It takes time for UI team to update the reference wallet.

The shipped list is static, the list of live nodes is dynamic.

**Describe the solution you'd like**

JSON input field in the reference U

[2020-04-19 16:38] abitmore commented on #3241
It's easier and usually safer for developers and/or maintainers of this repository to verify a static list rather than a dynamic one. It's not saying that we don't trust you, but rather it's better to have someone reviewing when changes are being made. Just my own opinion.

[2020-04-22 15:27] startailcoon commented on #3241
Importing batches of new nodes, by a user that knows what it means, could probably be a good idea for a feature though.

[2020-04-22 19:47] litepresence commented on #3241
I don't understand the trust issue.
There is already UI to input nodes one at a time.
I want UI to input multiple nodes in JSON format.
How is that exploitable?

[2020-04-22 20:26] abitmore commented on #3241
I thought to update the list from a server automatically, that's where trust is needed. I think I misunderstood it.
If someone likes to implement it, it's fine.
Although any feature would be useful, average users don't update the list at all, nor know where to get a updated list; advanced users usually know where to get one working node or a few, add manually and stick with it/them forever.

[2020-04-28 21:18] abitmore commented on #3227
The "Quick Trade" feature is meant to be placing market orders or say taking, so it doesn't make sense to leave an order on the book and wait for it to be filled. Perhaps a desired behavior is "take as much as possible then cancel the rest" but it's not supported on chain.

[2020-04-30 21:59] abitmore opened #3248 "UI doesn't show more than 100 open orders for users"
**Describe the bug**

BitShares-Core 3.2 introduced some [changes about the get_full_accounts API]( https://github.com/bitshares/bitshares-core/releases/tag/3.2.0#api). One of the consequence is current UI doesn't show more than 100 open orders for users by default. To fix this, need to call the [`get_limit_orders_by_account` API](https://github.com/bitshares/bitshares-core/blob/5d25fb456186bbc15e

[2020-05-04 16:45] litepresence opened #3250 ""Messages" tab displays incoming and outgoing memos"
**Is your feature request related to a problem? Please describe.**

There is no user friendly messaging system in the UI

**Describe the solution you'd like**

Add a Messages next to the "Activity" tab
User clicks on Messages and gets a new screen with all incoming and outgoing transactions that contain a memo field.   The UX of the tab is tailored towards a chat "messaging" environment with colum

[2020-05-13 06:07] sschiessl-bcp opened #3251 "[3.3.200510-rc1] Integration Testing"
Release notes of the corresponding candidate can be found here:
https://github.com/bitshares/bitshares-ui/issues/3252

All changes need testing.

[2020-05-13 06:14] sschiessl-bcp opened #3252 "[3.3.200510-rc1] Release Notes"
<h1>3.3.200510-rc1 Release Candidate</h1>
Please report any bugs using the Github issue system. Final release is expected on June 18th

<h2>Installation warning</h2>
This build will *replace* your old version of the BitShares UI, whether it's a release candidate or production release. If you want a stable version, use only the latest production release

<h2>Web deployment</h2>
This release candida

[2020-05-13 06:15] sschiessl-bcp opened #3253 "Various fixes"
- fix bug in issue modal https://github.com/bitshares/bitshares-ui/commit/e03dcca87ffe1738c4eb930522cd082ee5d66fd0
- fix WDOSs https://github.com/bitshares/bitshares-ui/commit/440e5129b3752a44ed52661bbe5554788517f68d https://github.com/bitshares/bitshares-ui/commit/8768210593adbbe16d4592419fda276952517658

[2020-05-13 06:16] #3253 closed

[2020-05-13 06:18] sschiessl-bcp commented on #3201
https://github.com/bitshares/bitshares-ui/commit/4a3b89c2902293b29350ae13ef21438507eabee9

[2020-05-13 06:18] sschiessl-bcp commented on #3201
https://github.com/bitshares/bitshares-ui/commit/6d2498d07943f0e83124a3d6c8d295fbcc44dc3f

[2020-05-13 06:18] sschiessl-bcp commented on #3201
DEEX removed again

[2020-05-13 06:18] #3201 closed

[2020-05-13 06:23] sschiessl-bcp opened #3254 "[3.3.200510-rc1] Maintain Language"
<h1>Looking for volunteer translators</h1>

Translations are done through transifex, please find the file here

https://www.transifex.com/bitshares/bitshares-ui-1

[2020-05-13 06:27] sschiessl-bcp commented on #3254
No translation work needed.

[2020-05-13 06:27] #3254 closed

[2020-05-13 10:27] serdrdoor commented on #3251
1. Checked:
fix 2 not working buttons #3231
fix Bug in claim asset fees #3249
fix bug in issue modal #3253

2. made some deposits/withdraws
both: in legacy form and in new, everything works, pzm also.
fixes for gateways #3244  #3170

3. Checked #3222 #3191 - all changes look good.

[2020-05-16 18:17] allfory0u commented on #3251
I'll run some integration tests.

[2020-05-18 00:07] shulthz opened #3255 "Add gateway market filter to the main exchange interface"
How about?

![2020-05-18 08_04_36-Window](https://user-images.githubusercontent.com/34892308/82163526-71f0f580-98de-11ea-9ba3-1628cffc2ad8.png)

[2020-05-25 07:55] ChrestenK opened #3256 "blanck web page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://bitshareswallet.beos.world/account/chresten1'

**Expected behavior**
blanck web page

**Screenshots**
![billede](https://user-images.githubusercontent.com/31180998/82791181-98c6a300-9e6d-11ea-89e9-061b24095817.png)

**Desktop (please complete the following i

[2020-05-25 08:13] sschiessl-bcp commented on #3256
https://bitshareswallet.beos.world is a private fork the this UI. Please retry using either wallet.bitshares.org or for latest changes staging.bitshares.org

[2020-05-27 10:38] bynarikode opened #3257 "Unknown error is not allowing me create account."
![image](https://user-images.githubusercontent.com/57950074/83008945-e67a1180-a00d-11ea-9b97-eeeb5bb5ba94.png)

Hello,
I keep getting unknown error when I try to create account. I've tried on different networks and devices and it says the same thing.
Thanks.

[2020-05-27 12:53] xeroc commented on #3257
What's the actual error message you see?

[2020-05-27 13:19] bynarikode commented on #3257
Hi,
It just shows

Failed to create account: okhie1 - unknown error

That's it.

On Wed, May 27, 2020, 1:53 PM Fabian Schuh <notifications@github.com> wrote:

[2020-05-27 14:45] xeroc commented on #3257
try https://wallet.bitshares.eu - slightly older version but should work

[2020-05-27 16:09] bynarikode commented on #3257
Thanks its working now account created.

[2020-05-27 16:09] #3257 closed

[2020-05-30 08:12] noblenobert opened #3258 "CREATE ASSET FEES"
**Currently Create asset fees have been increased by a whopping 1000%**
This pose a problem for small businesses and entrepreneurs who would love to create low risk tokens for projects or non-profit tokens for giveaways and memes. The solution of creating a one stop Token with subsequent price reduction for multiple.token is not enough.

Since the fee increase was as a result of the abuse of the l

[2020-06-01 13:37] ChrestenK commented on #3256
OK
Thanks

[2020-06-16 16:15] abitmore opened #3262 "Portfolio does not show an asset with some amount in vesting balances but not in balance"
**Describe the bug**

Portfolio does not show an asset with some amount in vesting balances but not in balance.

For example, on testnet, account `test-wit1` has some `CONTEST.TST` asset in vesting balances, but it doesn't show in the Dashboard.

Vesting balances https://staging.bitshares.org/#/account/test-wit1/vesting
![image](https://user-images.githubusercontent.com/9946777/84799793-1610ae00-a

[2020-06-22 05:44] Sey30 opened #3263 "Getting error while Cancelling the request"
**Describe the bug**
I have placed a order for bts to bitUSD, i tried to cancel the order but i couldn't cancel.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My Open Orders'
2. Click on 'Cancel.'
3. See error

**Expected behavior**
I would like to cancel the order

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuserco

[2020-06-22 06:54] sschiessl-bcp commented on #3263
You are trying to pay the transaction fee with the asset APPLECOM. This asset cant be used for that since the asset fee pool is empty. You simply require some BTS to pay the cancellation fee.

[2020-06-22 13:51] abitmore commented on #3263
@sschiessl-bcp it's the UI's fault (bad UX) that OP is paying `APPLECOM` as fee. An issue that has existed for 3 years. See #183 #201 #1009 #1117 #1498.

[2020-06-24 15:54] Dimfred opened #3264 "Malformed information message"
**Describe the bug**
When I am on `https://wallet.bitshares.org/#/create-account/password` and hover over `?` it shows the message and some html code.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://wallet.bitshares.org/#/`
2. Click on `create account`
3. Hover over the `?` at `generated password`
4. See error

**Expected behavior**
Not see the html code

**Screenshots**
If ap

[2020-06-25 11:08] dxmynw-cld opened #3265 "DEX Dashboard page blank"
For the past several days, if not weeks, I have been unable to see my dashboard on the DEX.  If I select that option, the top header "flashes" (no body) for less than a second the whole page is blank.  If I select "Exchange" or any of the other options, I see the page with the correct information.  I have tried several different times of the day and methods of logging in and opening the settings o

[2020-06-25 21:20] abitmore commented on #3265
When the page went blank, is there any error message in the web console?
If you don't know how to open the web console, search for "how to open web console" with your favorite search engine.

[2020-06-25 21:22] abitmore commented on #3265
Perhaps try https://staging.bitshares.org/ which is the next release candidate.

[2020-06-25 21:24] abitmore commented on #3265
What's your account name?

[2020-06-25 21:29] dxmynw-cld commented on #3265
Dxmynw-cod

Sent from my iPad

[2020-06-25 21:53] abitmore commented on #3265
Account `dxmynw-cod` does not exist on the chain.

If you mean `dxmynw-cld`, in my browsers (Firefox and Chrome) the dashboard https://wallet.bitshares.org/#/account/dxmynw-cld works fine. If you were not on https://wallet.bitshares.org but on another hosted web wallet, perhaps it's an issue on their end. Note that I've checked https://dex.compumatrix.co/#/account/dxmynw-cld and it works fine for

[2020-06-25 23:13] blincadmin commented on #3265
Have you tried a full refresh? Ctrl F5

[2020-06-26 01:36] shulthz commented on #3265
USE: 3.3.200510-rc1
https://github.com/bitshares/bitshares-ui/releases

[2020-06-26 02:42] dxmynw-cld commented on #3265
While on the DEX site and using Chrome, I clicked CTRL+SHIFT+I and nothing showed up.  I tried Safari using CTRL+ALT+J and got the same results.
Ken

how to open web console

-----Original Message-----
From: Abit <notifications@github.com>
To: bitshares/bitshares-ui <bitshares-ui@noreply.github.com>
Cc: dxmynw-cld <ken7176@aol.com>; Author <author@noreply.github.com>
Sent: Thu, Jun 25, 2020 5:20 p

[2020-06-26 02:56] dxmynw-cld commented on #3265
This worked.  Thank you.Ken Hamlin

-----Original Message-----
From: Abit <notifications@github.com>
To: bitshares/bitshares-ui <bitshares-ui@noreply.github.com>
Cc: dxmynw-cld <ken7176@aol.com>; Author <author@noreply.github.com>
Sent: Thu, Jun 25, 2020 5:22 pm
Subject: Re: [bitshares/bitshares-ui] DEX Dashboard (#3265)

Perhaps try https://staging.bitshares.org/ which is the next release candida

[2020-06-26 22:27] dxmynw-cld opened #3266 "DEX values"
I recently had an issue with not being able to see my DEX account dashboard.  Support gave me a few options to try to see if any corrected the problem.  I found one..https://staging.bitshares.org/#/account/dxmynw-cld.  My DEX account is dxmynw-cld.  I noticed the BitUSD prices for the assets were not what I have normally been seeing lately...especially BTC.  My total value decreased to about 250,0

[2020-06-27 04:27] sschiessl-bcp commented on #3266
The USD and BTC you have are backed by Compumatrix. Seems best to contact them about it or withdraw them into real BTC and USD.

[2020-06-28 20:04] xxxxhhhhh opened #3267 "Problem with deposit CloudCoins"
Hi today i make a deposit of 4749 Cloudcoins a pass my mail cloudcoinenthusiast@protonmail,com and pass my bitshares username xxxxhhhh the website where I upload my coins in stack file says transfer failed and coins are lost how that can happen I want my coins back or refund them to my account. Cheers

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps

[2020-06-28 20:28] sschiessl-bcp commented on #3267
Best to contact the cloudcoin support for this.

[2020-06-30 03:48] blincadmin commented on #3266
On your Compumatrix DEX, you pair it with COMPUMATRIX.USD and not bitUSD. That should explain why.  Please coordinate with them. Each ecosystem and community is different.

[2020-07-03 13:24] abitmore opened #3269 "Unable to switch to testnet faucet"
**Describe the bug**

When connected to a testnet API node, the faucet is still the mainnet one, thus unable to create accounts on testnet.

**To Reproduce**
Go to https://staging.bitshares.org/ , then follow the steps in the screenshots.

**Expected behavior**

If connected to a testnet API node, the faucet for testnet should be used.

**Screenshots**

![image](https://user-images.githubuserconte

[2020-07-03 18:28] SergeiVorobev opened #3270 "login"
I can't login to my account to wallet.bitshares.org, because I lost my password.
How can I create a new one or restore it?

[2020-07-04 01:46] shulthz commented on #3270
Did you have any backup? password? key? wallet(.bin-file)?

@sschiessl-bcp i think we should set a _**bitshares/bitshares-help**_  channel...., and make it in Pinned repositories...

[2020-07-09 02:27] abitmore commented on #704
Here is another scenario, likely happens when inputting an account name in UI.

d":2761}                         websocket.cpp:249
2020-07-09T02:19:05                th_a:?           operator() ] "server": server msg->get_payload(): {"method":"call","params":[2,"get_full_accounts",[["br"],true]],"
id":2764}                        websocket.cpp:249
2020-07-09T02:19:05                th_a:?

[2020-07-10 03:06] shulthz opened #3273 "https://www.stellarx.com/markets"
https://www.stellarx.com/markets

[2020-07-15 23:51] Sey30 commented on #3263
But, how do I change that to cancel that order?

On Mon, 22 Jun 2020, 11:52 pm Abit, <notifications@github.com> wrote:

[2020-07-17 07:53] sschiessl-bcp opened #3274 "Local wallet creation is broken"
The account creation via advanced form is broken, error below

![image](https://user-images.githubusercontent.com/33128181/87762382-56896480-c813-11ea-847a-9da2a398c26d.png)

Should be an easy fix as likely the pointer is "only" wrong. Also, it prints the entered password as cleartext, needs to be removed

[2020-07-19 01:28] #3273 closed

[2020-07-22 20:21] DavidR72 opened #3276 "bitshares does not recognize my password"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-07-22 20:22] DavidR72 commented on #3276
bitshares .org does not accept my password

[2020-07-22 20:59] nacazu opened #3277 "i cant used open btc neither open Maid pls help"
i cant used open btc neither open Maid pls help
![bitshares](https://user-images.githubusercontent.com/31170376/88228050-78954380-cc66-11ea-84b8-008bd8c3e9c9.png)

[2020-07-23 05:48] sschiessl-bcp commented on #3276
Please provide a holistic description of what is happening, plus error logs. Alternatively, visit https://t.me/btsWalletHelp

[2020-07-23 05:48] sschiessl-bcp commented on #3277
Those assets are governed by OpenLedger. Please contact their support. They have shut down earlier this year.

[2020-07-23 10:08] nacazu commented on #3277
can you give me the link  for customer services of openledger please. .I
cant find itmany thnks

On Thu, 23 Jul 2020 at 06:48, Stefan Schießl <notifications@github.com>
wrote:

[2020-07-23 15:40] abitmore commented on #3277
Maybe https://openledger.info/contacts/ .

BTW there was a freshdesk support link https://openledger.freshdesk.com/ but seems it's closed too.

[2020-08-03 23:43] bambootip opened #3280 "I believe someone hacked into my account and transfered my funds out. I don't know where to go. please help me the BitShares.org support. I am not able to find it anywhere on site. Please email me at linglinglee7@gmail.com. Sincerely, Ling"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-04 02:12] shulthz commented on #3280
Your bts account is?...

[2020-08-04 03:39] bambootip commented on #3280
bm90

[image: Screen Shot 2020-08-03 at 4.32.53 PM.png]
I took this screenshot a few hours ago.  But now all the record is gone.

Please help,
Ling

On Mon, Aug 3, 2020 at 7:12 PM shulthz <notifications@github.com> wrote:

--
Ling, your local IA

[2020-08-04 13:18] shulthz commented on #3280
![S00804-21152821](https://user-images.githubusercontent.com/34892308/89298269-ab443080-d697-11ea-9962-7f9e670d0118.jpg)

It seems all your fund transfer to binance, sorry about that.

[2020-08-05 02:01] blincadmin commented on #3280
You may coordinate with Binance and inform them that your funds were transferred to them. You should have the MEMO entry as to who received it.

[2020-08-18 18:51] KENTua opened #3283 "Cant create new accout"
when i try create new accout in https://wallet.bitshares.org/#/create-account/password, i always see error "Failed to create account: rattle129 - Unknown referrer code: onboarding"
i try:
opera on android
opera gx on windows
firefox on debian
and i always have this error

log:
`warn: Deprecated: please use require("intro.js") directly, instead of the introJs method of the function
log: INFO	browse

[2020-08-18 20:16] abitmore commented on #3283
Try create your account via another hosted wallet E.G. https://ex.xbts.io/ . The account can then be used with all wallets. More info https://github.com/bitshares/awesome-bitshares/#hosted-wallets .

[2020-08-26 07:58] shulthz commented on #3283
Same problem in https://wallet.bitshares.org

[2020-09-08 16:14] Cryptostar33 opened #3285 "Failed to Download account History"
Failed to download the account history, please try again

Steps-

B Tab, activity Tab

Next to fill order dropdown  is DOWNLOAD HISTORY, click.

Enter your desired elastic search instance and click the report type.

DOWNLOAD HISTORY for .CSV file, I choose every option under dd.

![Screen Shot 2020-09-08 at 11 08 07 AM](https://user-images.githubusercontent.com/70930330/92501025-3c3c8900-f1bb-11ea

[2020-09-08 23:18] shulthz commented on #3285
https://bitsharestalk.org/index.php?topic=31986.msg340482#msg340482

[2020-09-09 13:09] abitmore commented on #3285
FWIW my ES server and Kibana server is working and open to public:
* https://es.bts.mobi/
* https://kibana.bts.mobi/

[2020-09-12 12:55] shulthz opened #3286 "The margin call price in UI is wrong"
As BSIP74

The margin call price should be
 margin_call_order_price = median_feed_price / (MSSR - MCFR)

shouldn't be
 margin_call_order_price = median_feed_price / MSSR

https://github.com/bitshares/bsips/blob/master/bsip-0074.md

[2020-09-13 17:10] jeep1111 opened #3287 "cannot create NBS WALLET ACCOUNT"
**Describe the bug**
CANNOT CREATE NBS wallet account

ERROR SHOW AS THESE:
log: 197242978ma19724true
log: [object Object]
log: 197242978ma197242true
log: [object Object]
log: 197242978ma1972429true
log: [object Object]
log: 197242978ma19724297true
log: [object Object]
log: 197242978ma197242978true
log: [object Object]
log: 197242978ma197242978mtrue
log: [object Object]
log: 197242978ma197242978ma

[2020-09-13 19:56] shulthz commented on #3287
You need to ask NBS

[2020-09-13 20:26] abitmore commented on #3287
Please report in https://github.com/bitshares-cnvote/newbitshares-ui

[2020-09-13 20:26] #3287 closed

[2020-09-16 12:40] typoworx-de opened #3288 "Build fails for release 3.3.191120 (current wallet.bitshares.org release)"
**Describe the bug**
[code]
**To Reproduce**
Steps to reproduce the behavior:
Followed "getting started" (https://github.com/bitshares/bitshares-ui/tree/3.3.191120#getting-started)

installed nvm, npm, did **npm run build** (run build crashes)

and finally build docker container from it.

**Expected behavior**
A clean build

**Screenshots**
If applicable, add screenshots to help explain your probl

[2020-09-16 22:55] shulthz commented on #3288
https://github.com/bitshares/bitshares-core/releases/tag/4.0.0

[2020-09-21 04:10] christophersanborn commented on #1451
It seems this issue persists or has reappeared.  I am unable to add account permissions by public keys in either standalone UI version 191120 or in the current version hosted at develop.bitshares.org.

Possible to re-open this issue?

One thing I notice is the text entry box only allows lowercase letters (as in account names), which makes it impossible to enter a valid public key.  So perhaps this

[2020-09-21 13:26] abitmore commented on #1451
I think it's better to create a new issue.

[2020-09-30 21:58] ron931 commented on #3276
HI DavidR72, I just went to my bitshares account page. It shows me and my coins but I have the same problem as you. Bitshares.org does not accept my password. Did anyone ever figure out why?

[2020-10-07 21:11] abitmore commented on #2658
[Blacklist managed by the committee to combat phishing attacks](https://bitsharestalk.org/index.php?topic=32682.0)
---

A new "committee-blacklist-manager" account has been created to fight phishing attacks.

613 accounts have been added to the list (source https://github.com/bitshares/bitshares-ui/blob/develop/app/lib/common/scamAccounts.js).

The blacklist has been enabled on major committee-own

[2020-10-11 21:27] christophersanborn opened #3293 "Redeem HTLC can't handle binary (hex encoded) preimages"
**Describe the bug**
The redeem HTLC preimage text box assumes the preimage is an ascii string.  For HTLCs which used a binary preimage, there is no way to supply the preimage.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an HTLC where the hash is the hash of a binary preimage
2. In recipient's account, go to Spotlight --> HTLC
3. Click "Redeem" next to the HTLC
4. Observe inabilit