[2017-10-16 03:09] happyconcepts commented on #587
[https://github.com/bitshares/bitshares.github.io/pull/110/files](PR submitted)

[2017-10-16 03:43] wmbutler opened #590 "[.1] Discuss: Change Reserve Asset to Burn Asset"
![screen shot 2017-10-15 at 10 42 39 pm](https://user-images.githubusercontent.com/1254810/31594395-42f6f39c-b1fa-11e7-8c92-f617df02f2e7.png)

[2017-10-16 07:38] svk31 commented on #498
Decided to implement this since it's a quick fix and does make sense.

![image](https://user-images.githubusercontent.com/6890015/31600170-b7022fd0-b255-11e7-937b-6e369b4bedfd.png)

[2017-10-16 07:38] #498 closed

[2017-10-16 07:38] abitmore opened #591 "In order book, round up sell price and round down buy price"
For better UX, when showing order book, it's better to always round up price of sell orders, and round down price of buy orders. Just like what we've done for #562. When this is done, people will no longer find a pending buy order and a pending sell order showing in the order book have same price at same time.

[2017-10-16 07:39] svk31 commented on #590
Makes sense to me, never liked the word Reserve anyway, just used it since that's what it's called in the bitshares-core code.

[2017-10-16 08:25] svk31 commented on #557
So is this a replacement for the current modal used in the portfolio? Because it doesn't make sense to have asset selection in that modal since it's triggered by clicking on the asset you want to deposit..

If it's a replacement for the deposit/withdraw screen then I don't understand why they're modals. They look nice though don't get me wrong!

[2017-10-16 08:28] svk31 commented on #587
https://github.com/bitshares/bitshares.github.io/commit/f2cc330c5eed3ca431a98668ddaaa7afbcf4cef4

[2017-10-16 08:28] #587 closed

[2017-10-16 08:28] #589 closed

[2017-10-16 08:28] svk31 commented on #556
Where is this modal triggered from?

[2017-10-16 08:34] svk31 commented on #478
The fee field uses an option element which cannot be styled in the way required to fix this.

[2017-10-16 08:34] #478 closed

[2017-10-16 09:09] bigspider commented on #454
My address is "spider-1". Thank you!

[2017-10-16 09:22] svk31 commented on #581
Market fees are only applied to a user buying an asset that has a market fee; so someone who enters a buy order for 1 OPEN.BTC would be charged a 0.2% fee, which is equivalent to 0.002 OPEN.BTC. They would then receive 1 - 0.002 OPEN.BTC, or 0.998 OPEN.BTC

There's also a max_market_fees parameter that sets an upper limit to how big the market fee can be, but Openledger has left it at the default

[2017-10-16 10:53] abitmore commented on #591
A bit more things to discuss. Actually, it's more tricky to round the prices showing in the "place new order" area. Let's take a new buy order as an example:
* if we round up the price of the new buy order,
  * Cons:
    * after the buy order is submitted, when it shows on the order book, the price will be rounded down, which will likely be different than the one before submit. This is somehow bad

[2017-10-16 11:26] landry314 commented on #588
I wouldn't call it "Symbol", I think "Coin" or "Currency" is better. You aren't withdrawing the symbol for the coin but rather the coin itself.

[2017-10-16 11:32] landry314 commented on #530
The people have spoken... I agree it is best that the final amount received by the recipient is the amount you initially put in and the fees are tacked onto that, displayed, and charged to the sender. This is how bank ATMs work, they give you the amount you request but then they withdraw more from your account including the ATM fee. They don't give you $97 when you ask for $100, they give you $100

[2017-10-16 11:38] btsfav commented on #588
we trade more than coins or currency, so I think symbol is fine. how do other trading platform name the assets?

[2017-10-16 11:40] landry314 commented on #554
In Settings -> General, you have LOGIN MODE (YES, NO).

What does this do and should it be made clearer or somehow integrated into the new login system?

[2017-10-16 11:46] landry314 commented on #553
In Settings -> General, shouldn't we rename LOGIN MODE (YES, NO) to make it clearer? It seems like we tried to from the title of this but I don't see it in the new release 171015.

Or wouldn't it be better somewhere else in the system?

[2017-10-16 11:50] landry314 opened #592 "[.25] Change Elements within Login Mode Setting to the Names of the Two Login Modes"
In Settings -> General, we should rename "LOGIN MODE" to "CLOUD WALLET" as implied in issue #553.

[2017-10-16 11:51] landry314 commented on #592
Hitting that return key by accident when typing the title... hate that.

[2017-10-16 11:52] svk31 commented on #553
I changed it to login mode to make it more clear for uses looking for the local wallet mode. Previously there was no mention of "Local Wallet" anywhere.

[2017-10-16 12:05] landry314 commented on #588
But you can't withdraw tokens or bitAssets here, only digital coins held by a gateway.

[2017-10-16 12:07] btsfav commented on #588
EOS / OMG are tokens for example

[2017-10-16 12:10] svk31 commented on #583
I'll take this one since the values aren't readily available making it quite complicated.

[2017-10-16 12:16] landry314 commented on #588
oh, you are right!

[2017-10-16 12:32] svk31 commented on #583
I've added sorting for asset, price and value. I could add Qty but it doesn't really make sense to sort there.

[2017-10-16 12:32] svk31 commented on #583
Default is by value, high to low.

[2017-10-16 12:35] landry314 opened #593 "Integrate Send and Deposit/Withdraw into One Tab Called Transfer"
It takes time and energy for newbies to learn the difference between these two tabs and it even slows down experienced users because we have to think if we are sending within the BitShares blockchain or through a gateway whenever we want to move value.

Having two tabs takes up more room on the top and on smaller 13" laptop screens this screen real estate matters.

Finally, the '/' character betwe

[2017-10-16 12:40] svk31 commented on #592
![image](https://user-images.githubusercontent.com/6890015/31612392-e1cebbc8-b27f-11e7-81a4-a94024c7e991.png)

What's wrong with having "login mode" and actually displaying the name of the two modes?

[2017-10-16 12:46] btsfav commented on #593
I would not merge those two tabs. it's hard enough for people to not mess up. even now some send OPEN.STEEM via bitshares to bittrex.... if any we need better distinction and alert popup if you want to send 3rd party assets within the network

[2017-10-16 13:28] landry314 commented on #592
@svk31, excellent idea, Sivge, of course that is the best!

[2017-10-16 13:34] landry314 commented on #592
I think the setting should be moved higher in the list too. Certainly above Show Asset Percentages (who uses this?). I think it is important enough to be much higher in the list.

On my 13 inch laptop screen it is below the screen unless you scroll down... a little hidden.

[2017-10-16 13:38] svk31 commented on #592
My screenshot refers to the current status btw, that's what it's like in the 171015 release. I can certainly move it a bit higher.

[2017-10-16 13:56] landry314 commented on #358
Is commenting in a closed issue thread a bad idea? It seems to get lost more often. I commented here because it is directly related to this issue. There are still account names in uppercase letters...

@happyconcepts, do you want to handle this?

[2017-10-16 14:03] wmbutler commented on #593
Addressed in these rewrites:

- #556 #557 #588

[2017-10-16 14:03] #593 closed

[2017-10-16 14:07] wmbutler commented on #591
I don't fully follow, but my gut feeling says that users will accept a situation as long as they got **a better deal** than they expected. This may not be part of the argument here, but as long as the con is one of perception and the user got a more favorable deal, I do not see a problem.

[2017-10-16 14:10] wmbutler opened #594 "[.5][mattbeckman] Leading Decimal fails"
It is not possible to type a number with a leading decimal unless the user first types a 0. It should be possible to start typing a number with a decimal. Please check numeric entry fields in all areas of the application.

![leading_decimal](https://user-images.githubusercontent.com/1254810/31616250-d1d67090-b251-11e7-9c38-1f9c3b66c04f.gif)

[2017-10-16 14:45] landry314 commented on #592
Not for me! I have YES/NO and i am using 171015 which it you can see on the lower left...

I am using the Mac OS BitShares stand alone application.

![login mode yes no](https://user-images.githubusercontent.com/6866501/31618164-7555dc94-b291-11e7-89c4-23f9761f9f52.jpg)

[2017-10-16 15:17] svk31 commented on #592
Might be an issue with saved default values, try clearing the `__graphene__defaults_v1` key in dev console Application -> Local Storage

[2017-10-16 15:40] happyconcepts commented on #580
Thanks, if this were a bigger issue I would suggest strikethrough for the ~~annual membership~~  and show the fee as 0 or strikethrough the actual previous price but i'm not in the vanguard, clearly.

[2017-10-16 15:45] happyconcepts commented on #530
I would say something but tbone will just call me a troll and get me banned from the telegram chat again. This is actually the issue I mentioned to Stan and then tbone and everyone shit on me for being noob.

[2017-10-16 16:01] jonnybitcoin commented on #579
Now that BitUSD doesn't show on the account page people can't borrow BitUSD.
Well they can but they'll never find the button and it will be harder to understand
I've had to keep 0.001 in the assets I want to be showing.

I tend to agree with svk that we need BTS, USD, CNY and OPEN.BTC their as a minimum really.

We really need to encourage borrowing and not having BitUSD listed as a default is not

[2017-10-16 16:53] btsfav commented on #233
can this be pushed?

[2017-10-16 16:59] wmbutler commented on #579
I suggested that assets not be listed in portfolio unless a user holds them. I still feel that way but I do understand the need/desire to market the bitAssets.

What if we include assets in the Margin Positions area that are eligible? Once a user borrows from the Margin Position the bitUSD would show up in the portfolio. Is this a reasonable compromise?

[2017-10-16 17:05] btsfav opened #595 "[2] Web wallet errors"
Tried ZeroNet,

![](https://i.imgur.com/OPGWlsO.png)

* is there a security reason why this is blocked and not working & could the wallet adopt better standards?
* is there a workaround?

[2017-10-16 17:25] mattbeckman commented on #594
I haven't previously contributed, but I'm interested in handling this one. Currently, I'm a full time node dev on an agile team in California, and I've been a fan of BitShares since the PTS was the thing.

[2017-10-16 17:32] jonnybitcoin commented on #579
I really think at least BitUSD needs to be on the account page as thats where it makes sense to borrow from. I just made this video and realised noobs won't even be able to borrow BitUSD, its hard enough as it is.  https://www.youtube.com/watch?v=ZRdXwgtaBj8

[2017-10-16 17:55] abitmore commented on #557
I'd like that the SYMBOL field be a drop down box instead of an input box. Show BTS by default.

[2017-10-16 17:58] abitmore commented on #557
I image it like this: clicking on the links on the portfolio page opens this modal.

[2017-10-16 19:06] landry314 commented on #592
yes, deleting the library folder solved it, thanks!

I think the work "Login" after each Login Mode is redundant, but yes, this is better!

[2017-10-16 19:06] #592 closed

[2017-10-16 21:16] landry314 commented on #593
I don't see how this is addressed in any of the other issues. How are the new dialogs accessed? Through the same Send and Deposit/Withdraw tabs, right?

They are beautifully done, btw.

[2017-10-16 21:57] happyconcepts commented on #358
I was going to make that change before I was fuzzed, sidelined and
forgotten. You fuzzed me here from my very first post @landry314
@landryracoon @whatevernewnameyoumaketoday so this is great for you to come
stalk all my PRs too.

On Mon, Oct 16, 2017 at 6:56 AM, Landry Racoon <notifications@github.com>
wrote:

[2017-10-16 22:33] wmbutler commented on #580
I gave this .5 because it requires some thought and discussion.

[2017-10-16 23:43] jonnybitcoin opened #596 "Deposit/withdraw buttons don't appear for rudex UIAs on account page"
Deposit/withdraw buttons don't appear for rudex UIAs on account page

[2017-10-17 00:47] landry314 commented on #594
Yes, I noticed this and commented in this closed issue #390, which I believe is related.

In the future, should I not comment in closed issues if the bug is just a continuation of an old bug which wasn't fully solved? I am trying to not create duplicate issues but commenting in closed issue threads seems to go unnoticed.

[2017-10-17 00:50] landry314 commented on #358
I am just trying to help the program, not insulting or stalking you. I noticed there is another place where this comes up so I posted it but it seemed to go unnoticed. I think posting in closed issues doesn't work very well so I tagged you because you were assigned this before.

[2017-10-17 01:01] wmbutler commented on #530
Speak freely. @tbone-bts doesn't have banning privileges here.

[2017-10-17 01:03] wmbutler commented on #596
Please provide screenshots to support your assertion. What do you require in order to deposit?

![screen shot 2017-10-16 at 8 02 41 pm](https://user-images.githubusercontent.com/1254810/31641840-0ca03b56-b2ad-11e7-89e1-7301f2ae2f21.png)

[2017-10-17 01:36] jonnybitcoin commented on #596
Just on the account page

On Oct 17, 2017 02:03, "Bill Butler" <notifications@github.com> wrote:

[2017-10-17 01:37] landry314 commented on #581
The bitshares trading fees are taken for placing and canceling a trade while the trade itself has no fee but aren't the gateway fees applied when the trade occurs (baked into the price) and not when the order gets made? I am not totally clear on this.

This leads to a complication in showing or explaining the gateway fees at the time of exchange... how would we do it so that this difference is mad

[2017-10-17 01:48] landry314 opened #598 "[.25][startailcoon] Collateral Field in Margin Adjust Window Becomes Shorter When Available Collateral is Negative"
Steps to Reproduce:

1) Try to borrow an asset
2) Start typing numbers in the collateral field until it eats up all your available BTS

When the amount of collateral is more than you own in BTS then the available collateral becomes negative and the field gets shorter. Delete some numbers in collateral, it gets longer again.

[2017-10-17 02:05] landry314 opened #599 "Create Another Way to Borrow bitAssets"
Currently the way to borrow bitAssets is by going to the exchange and finding a market with that particular bitAssset in the pair then clicking a small link "borrow [bitAsset]" at the top of the BUY or SELL area. This is not that obvious.

Another way is if you already own some of that bitAsset then you can go to your Portfolio and click in the Borrow column in that asset's row. But the problem he

[2017-10-17 02:07] wmbutler commented on #598
Spooky...

![collateral](https://user-images.githubusercontent.com/1254810/31643403-fe321860-b2b5-11e7-8f9d-1a62f977fd2c.gif)

[2017-10-17 02:09] wmbutler commented on #599
It was mentioned in #581 that it was missing from the portfolio. I suggested that we have it in Margin Positions whether it's been borrowed or not.

[2017-10-17 02:09] #599 closed

[2017-10-17 02:12] landry314 commented on #599
I think you referenced the wrong issue above, @wmbutler. There is no mention of this in that issue.

[2017-10-17 02:14] wmbutler commented on #599
oops...there.

[2017-10-17 02:16] wmbutler commented on #579
The problem is, it's not really an accounts page, it's a portfolio page. A portfolio is representative of your personal holdings. Placing it in margin positions makes a lot more sense because it is eligible for margin. It makes sense to display it in your portfolio only if you actually hold it.

[2017-10-17 02:22] landry314 commented on #579
Right, @jonnybitcoin, but there could be many bitAssets to borrow, especially in the future when BitShares is huge and it has over 200 bitCurrencies to peg the value of every country's fiat (it will!).

Adding the defaults of bitCNY, bitUSD, and bitBTC would be helpful but for future scaling I suggest a more broad solution like a search function or alphabetized list (or both) which pops up after h

[2017-10-17 02:23] wmbutler commented on #548
Maybe we can match these to tradingview once we integrate #361

[2017-10-17 02:24] wmbutler commented on #438
Status on this?

[2017-10-17 02:27] wmbutler commented on #576
Change link to say: "GETTING STARTED"

[2017-10-17 03:41] Xeldal opened #600 "When "Account" tab is active, "b" tab shows active as well"
Only tested in LightClient.171015 (win)

The top tab "Account", when active also shows the "b" tab (dashboard) as active.  It shouldn't.

[2017-10-17 05:09] mattbeckman commented on #594
PR #601 includes the fix. I opted to have it prepend "0" when typing a decimal point on an empty field, as that felt more natural, and it a helps avoid a potential NaN decimal point situation.

[2017-10-17 05:15] wmbutler commented on #594
@mattbeckman Thanks for the PR. Please be sure to test as many edge cases as you can while you are at it. @landry314 I prefer more tiny issues over one issue with a lot of small fixes, ao yes, once an issue is closed, just make a new one.

[2017-10-17 05:17] wmbutler commented on #600
Agreed, but that top area is getting a rewrite. Rather than pay for a dev to fix it, let's just wait for the menubar release.

[2017-10-17 05:17] #600 closed

[2017-10-17 05:20] wmbutler commented on #64
Can this be closed? @svk31

[2017-10-17 05:26] wmbutler commented on #167
I was thinking about this and I'm pretty sure I have a good idea.

- Why don't we change **Follow Account** to **Add to Address Book**
- Next we could limit the typeahead when sending funds to only those accounts in the address book (those being followed). This limit could be optional with checkbox possibly stating **only search address book** and could be unchecked when trying to find someone not

[2017-10-17 05:32] happyconcepts commented on #358
PR is submitted.

[2017-10-17 07:12] svk31 commented on #596
Yea their system is slightly different so we need to either adjust the current modal or create a new one for their gateway.

[2017-10-17 07:13] svk31 commented on #581
You're right and that's one reason I never showed them here earlier. The market fees simply get deducted from the amount received when buying an asset, they're applied on the fill_order operation. You think you're buying 100 but you only receive 98.

[2017-10-17 07:17] svk31 commented on #579
They're the only ones that make sense though and we need liquidity and attention concentrated to those assets.

I wish Bitshares had been created with only bitUSD and bitCNY, would have made it way more successful.

[2017-10-17 07:20] svk31 commented on #600
This is a tiny fix so we might as well include it, it's just because the active state is triggered by the word dashboard in the URL,  which is now included in the account dashboard url as well.

[2017-10-17 07:32] btsfav commented on #579
I think we should still display bitUSD & bitCNY - it's biased, but for the moment our best showcases

[2017-10-17 07:37] svk31 commented on #64
It hasn't been implemented but it's certainly low priority.

[2017-10-17 08:17] svk31 commented on #455
I gotta say I think it's quite useful to have the links to telegram and discord easily available, so if we're completely removing the chat box we need to put those links somewhere else.

[2017-10-17 08:18] #594 closed

[2017-10-17 08:55] landry314 commented on #579
I agree. Maybe this compromise will help:

Let's separate My Portfolio into two areas, the first called "My Assets" or "Held Assets", and the second called "Followed Assets" which by default will hold bitUSD and bitCNY and maybe OPEN.BTC too. We should be able to hide them like before like we still can in My Portfolio. This is a relatively simple fix that will give most people what they want.

Of

[2017-10-17 09:07] landry314 opened #604 "Create a New Watchlist Tab in Account Tables"
Let's create another tab in the Account tables called "Watchlist" for managing the following of certain assets. This would solve the long standing issue with certain default assets being forced to show up in Account as recently discussed in issue #579.

Almost all stock trading platforms include this feature. Now that we have a nice Portfolio here that tracks current market prices we could easily

[2017-10-17 09:07] #576 closed

[2017-10-17 09:08] #583 closed

[2017-10-17 09:14] landry314 commented on #579
So, now I suggest my quick fix above of Held Assets and Followed Assets be scrapped in lieu of a full Watchlist as described in issue #604 if it is not too hard to implement and can be added to the 171101 milestone!

[2017-10-17 09:22] landry314 commented on #604
I suggest for default assets in the watchlist:

- bitUSD
- bitCNY
- OPEN.BTC

Anyone want to see others in there?

[2017-10-17 09:36] landry314 commented on #581
Right, so I totally agree with the sentiment that the fees need to be made transparent (I wasn't aware of them for a while) but also somehow clear that they are not deducted until the trade occurs. I think changing "Fee" to "Order Fee" to differentiate it is a good idea and move the Market Fee higher before the Total field to show that it is part of the total and, of course, it will be a non-edita

[2017-10-17 11:03] landry314 commented on #388
I found another place, in the Margin Adjustment window it says "CNY Margin" or "USD Margin"...

I think this issue is actually quite important. Providing margin for REAL USD would certain violate United States SEC regulations... borrowing bitUSD from the BitShares blockchain is not the same thing and I think it is very important to highlight this difference. We are not providing USD loans... This

[2017-10-17 15:37] startailcoon opened #605 "Asset Details Page for 'BTS' Breaks Navigation"
Navigate to the asset 'BTS' and the navigation breaks.

Replication Steps:
- Main Dashboard -> Click your account name
- Main Account Overview -> Click BTS Asset
- Navigation is now broken.

This does not happen on other assets as far as I can tell.

Running `bitshares.171015`

[2017-10-17 15:39] startailcoon commented on #605
And suddenly it works again.
I've had this issue several times and only solution is to press F5 to reload the session.

[2017-10-17 16:25] wmbutler commented on #604
Maybe the watchlist could contain every trading pair that is starred on the exchange view for consistency?

[2017-10-17 16:27] wmbutler commented on #605
I cannot reproduce. Please list:

OS and version:
Browser type and version:
Light Wallet or Browser:

[2017-10-17 16:30] wmbutler opened #606 "Use symbols to save space?"
We have 5 currencies that can be used to provide estimated values of various assets. Unfortunately the names tend to take up a lot of space in tables and aren't very clean. Could we consider using symbols for these instead?

![screen shot 2017-10-17 at 11 22 58 am](https://user-images.githubusercontent.com/1254810/31676838-77d56528-b32e-11e7-83f3-b31a4b9407d0.png)

![screen shot 2017-10-17 at 11 2

[2017-10-17 16:31] startailcoon commented on #605
OS: Windows 10
Light-wallet, latest version

[2017-10-17 16:37] startailcoon commented on #605
The error I get is:

![image](https://user-images.githubusercontent.com/12114550/31677134-25b380cc-b36a-11e7-923c-83867fbf745b.png)

[2017-10-17 21:05] svk31 commented on #430
![image](https://user-images.githubusercontent.com/6890015/31689396-9632dd46-b38f-11e7-9f3b-f284f54e829c.png)

[2017-10-17 21:22] tbone-bts commented on #530
I don't have banning privileges anywhere, so I never banned anyone.   I'm not ever sure who this person is.  If it's SparkToken from Telegram, then I merely pointed out that he was trolling and disrupting the chat again, at which point he self-destructed, got banned, and had posts deleted by one of the moderators (I believe it was BTSWolf) who was aware of his prior shenanigans (such as insisting

[2017-10-17 21:42] happyconcepts commented on #530
This toxic attitude based on insistence of calling me a troll based on 2 out-of-context chats. Wow I must 've covered a lot of ground in under 150 characters.

When you compare his tone here to his earlier on-topic posts about the withdraw amount, is the war-mongering, trolling, slandering, and hating from tbone-bts not obviously apparent?

Allowing this toxic attitude is disgusting and makes my p

[2017-10-17 21:55] happyconcepts commented on #530
Anyway, I came to this thread today to share an idea with everyone else about #530 and yes it took a few days to work up the courage to do this in the face of this bullying.

It has been touched upon earlier: the answer is to give the user the expected behavior based on how you prompted them. Prompting with different words like `withdraw` `send` `net` `pay them back` sets different expectations an

[2017-10-18 07:24] svk31 commented on #586
The actual values were being cleared; just the input fields that were visually still displaying the old values.

[2017-10-18 07:27] svk31 commented on #605
It's because the market link tries to send you to the BTS_BTS market, I'll fix that. To reproduce, click the MARKET link..

[2017-10-18 07:31] #605 closed

[2017-10-18 07:34] svk31 commented on #430
Where exactly do you want the warning to appear? Including this information in the account dashboard would add a lot of datafetching to that page, possibly impacting performance for accounts with many margin positions.

[2017-10-18 07:35] svk31 commented on #557
@wmbutler Can you please explain where these modals are supposed to be triggered from? What do they replace in the current GUI?

[2017-10-18 07:36] svk31 commented on #580
A strikethrough over that entry in the fee table sounds fine to me, easy fix.

[2017-10-18 07:38] svk31 commented on #538
Getting rid of the proxy list will make it hard to find proxies again though.

[2017-10-18 09:09] svk31 commented on #538
Another question is what should happen to all the text, remove it?

[2017-10-18 10:43] abitmore opened #607 "[.25] Long Line Wrapping Issue"
Open https://bitshares.org/wallet/#/ in incognito window or use a browser that has no wallet file created before, Select Chinese. The long introducing sentence on the first page didn't wrap.

[2017-10-18 10:52] abitmore opened #608 "Make a blinking effect when clicking "deposit BTS" button"
IMHO the current flash animation is not obvious enough to attract attention. We can make a blinking effect, for example quickly change the font color to red then change back for 3 times.

[2017-10-18 11:07] btsfav commented on #608
or skip this and just use https://github.com/bitshares/bitshares-ui/issues/584

[2017-10-18 12:20] xiangxn commented on #444
@wmbutler  this is my BTS account: necklace

[2017-10-18 13:26] magicstone1412 opened #609 "Fixed Active Node in Access Section"
Today I placed some orders on DEX. But after click Confirm button and wait a sec. It says that "Failed to broadcast the transaction" ( see the below photo). I changed from Hong Kong wss://openledger.hk/ws (Medium latency) to Dallas, USA wss://dexnode.net/ws (High latency), it did the broadcast successfully even though that node is in High latency. But when I refreshed the site, it turned back to H

[2017-10-18 13:29] svk31 commented on #538
@wmbutler I'd like some feedback on the workers tab please, since it's a bit different from the others. Here's my current WIP:

![image](https://user-images.githubusercontent.com/6890015/31721203-0d466c7a-b419-11e7-9654-a9cc413ff69f.png)

[2017-10-18 13:33] svk31 commented on #609
This is exactly what already happens when you set a specific node in the settings.

__However__, if you fail to connect to that node within 5s, it will fall back to known working nodes by order of their latency, and it will replace the node you selected in the settings with the node it finally manages to connect to, so that next time it will use the same one.

Most likely your problem is one of ha

[2017-10-18 13:33] #609 closed

[2017-10-18 14:02] landry314 commented on #598
This also occurs when you move the slider far to the right, of course...

[2017-10-18 14:11] landry314 opened #610 "Slider Bar in Margin Window Hard to Use Around Call/Disallowed Range"
When you move the ratio slider in the Margin window right at the point when the disallowed ratio text and margin call warning text changes over, it causes the slider to bounce around and the text to flash and the slider bar length to change.

This is strongly related to issue #598 because, I am guessing, this is being caused by the length of the slider bar getting shorter which throws off the grap

[2017-10-18 14:17] wmbutler commented on #610
This is getting a rewrite as well. Noted!

[2017-10-18 14:17] #610 closed

[2017-10-18 14:19] wmbutler commented on #608
That side panel is eventually going away. Noted.

[2017-10-18 14:19] #608 closed

[2017-10-18 14:42] diogo-gomes commented on #604
**I agree with starred pairs.**

For those who want to trade in EUR and see EUR's pairs growing in volume, BitSharesUI have a _poor_  UX (already miss the EUR tab). This is because the CNY and USD defaults cannot be changed by user and EUR needs to be mixed on `OTHER` tab.

**In my opinion, users must have control on what pairs want to see in watchlist/tabs/favorites/starred.**

[2017-10-18 15:33] landry314 opened #611 "Two Decimal Places in Account Value (Total Value) Unnecessary"
All of a sudden the account value and total value are being displayed with two decimal places. This is unnecessary, wastes a little space, and makes the number slightly harder to read.

Why did this happen?

[2017-10-18 16:44] landry314 commented on #388
Is it HERO or bitHERO? In the BTS/HERO market you see "borrow bitHERO" in the SELL HERO tile but it is always called HERO.

We should drop the "bit" here, right?

[2017-10-18 18:38] svk31 commented on #609
You can, that's what you do when you pick a node. But if that node fails to connect properly, the GUI falls back to a working node.

[2017-10-18 21:20] jonnybitcoin opened #612 "Add workers to explore page"
On the EXPLORE page you can see elected committee members and elected witnesses.

Can we also add elected workers to this page.

[2017-10-18 22:13] landry314 commented on #604
True, but the volume is too low to spread out right now across too many pairs. I use bitCNY when I would rather use bitUSD just because the volume is concentrated there. Having those default tabs keeps the volume concentrated... it is something to think about... but I do agree that any pair should be able to be in the watchlist.

You can select any pair by typing one of them in the Find Markets in

[2017-10-18 22:15] wmbutler commented on #604
If you think forcing users to display a pair will increase volume, I'll reply that it's a bad idea for us to acts as agents for particular markets.

[2017-10-18 23:46] wmbutler commented on #612
This is what the workers page is for. We will improve the UI #538 so you know clearly which workers are active.

[2017-10-18 23:46] #612 closed

[2017-10-18 23:47] wmbutler commented on #611
I'm not aware that we changed it, but 2 decimal precision is not exactly unprecedented.

[2017-10-18 23:55] wmbutler commented on #586
The input fields need to be cleared. The values on one market have nothing to do with those on another market. This could cause a very nasty trade.

![but_fields](https://user-images.githubusercontent.com/1254810/31748025-e6b4b040-b435-11e7-91ac-b4aa7cac80e0.gif)

[2017-10-19 01:10] landry314 commented on #586
I'd like the point out that when switching markets the price value from the old market is usually way out of range and the buy or sell buttons are greyed out. If you hover over them it says "Invalid price". I am not sure what happens if the price and quantity happen to be in an acceptable range... maybe a trade could be made by accident?

I don't understand the difference between the "actual value

[2017-10-19 01:17] landry314 commented on #604
You are right, Bill, but, just the fact that there are some default pairs in the dashboard or in the watchlist IS promoting some pairs. I think this is good for convenience to the user but possibly a dilemma too.

@diogo-gomes was just complaining that bitEUR markets were hard to get to and he would like to place them in his watchlist, which he will be able to do soon.

[2017-10-19 08:47] svk31 commented on #611
I set a 2 decimal minimum for assets since it was hard to make it consistent with 0 decimals some places and more in others. In general decimals are very hard to get right in BTS due to the large range of asset precisions (0-8) and asset valuation in $ terms which makes it important to show many decimals for something like OPEN.BTC, but unimportant for BTS.

[2017-10-19 08:47] landry314 commented on #200
Seems this wasn't actually fixed... guessing we are waiting to integrate trading view as discussed in issue #361 but will this fix the problem? Because if the same fractional trading dust data is being fed into trading view, I imagine the same problem with occur.

Since posting in closed issues doesn't seem to work well, I am going to tag you guys. I can open an identical issue to this one but...

[2017-10-19 08:48] svk31 commented on #606
Not opposed but you'd have to make some meaningful symbols then.

[2017-10-19 08:53] svk31 commented on #586
Not sure why he reopened it and reposted the same issue :/ It was fixed already in my commit.

[2017-10-19 08:53] #586 closed

[2017-10-19 08:57] svk31 commented on #200
Why does it seem it wasn't fixed? We can only fix it in our GUI, bots and anyone using other interfaces are likely to create dust orders also, I've seen bots do it many times and there's nothing I can do about that.

Tradingview charts will change nothing here, what needs to happen is for bitshares-core to filter out dust orders when creating market history. Ideally it would also just cancel any o

[2017-10-19 09:05] landry314 commented on #576
Ah, the link now works... maybe it didn't work for me before because of the same reason I couldn't see the new settings names in issue #592.

Meaning... updates in the software are having issues with the old library data in Mac OS... this could be another issue to deal with. What do you think, @svk31? Tell users to delete the old data or somehow refresh the cache on the install of a new version? S

[2017-10-19 09:22] landry314 commented on #611
I understand this complication... tough one.

So, of all the choices for Preferred Unit, I guess only bitBTC would need more precision than an integer.

Couldn't the particular algorithm for "Account Value" be changed to round all numbers to integers except bitBTC? Right now, bitBTC is using 4 decimal places if you set it as the Preferred Unit. So, somewhere bitBTC is being set to display differen

[2017-10-19 09:36] landry314 commented on #200
Ok, there seem to be a few issues in the core github that touch on this like the ones you tagged above in https://github.com/bitshares/bitshares-ui/issues/200#issuecomment-327158147 and maybe issue 287 too...

should I create an issue in the github for the core specifically about this problem? It would not be so technical as I am not as familiar with the code as you are but I could do it and refer

[2017-10-19 16:03] happyconcepts commented on #590
can I please claim this 6 minute gem?

[2017-10-19 17:25] diogo-gomes commented on #604
I apologize if I mispronounced my point of view. I do not agree with `forcing users to display a pair`. I just find it a bit annoying always see _bitusd_ and _bitcny_ and not be able to see _biteur_.

Once again, **I do not agree with forcing pairs** like bitEur, I **just think that users should have the possibility to choose the pairs that are visible or not**.

---

I do not think that is a matt

[2017-10-19 17:35] mattbeckman commented on #607
PR #613

[2017-10-19 17:38] btsfav opened #614 "Feature: Committee options"
please add options for committee members:

* add fee proposal
* vote on proposal
* list all proposals

[2017-10-19 17:59] mattbeckman opened #615 "[.25] Inconsistency when switching language on password page"
If a user attempts to switch the language on the password creation page (https://bitshares.org/wallet/#/create-account/password) for a new account, the field "Account Name (Public)" is not re-bound.

It is only bound to the appropriate language if the language preference is set on the initial page (https://bitshares.org/wallet/#/dashboard).

Example: Select "Chinese" as language on dashboard page,

[2017-10-19 19:39] svk31 commented on #580
Sure

[2017-10-19 19:39] svk31 commented on #590
Sure

[2017-10-19 19:57] o5j5vg55bv5hv5j5f8799f9 commented on #584
this symbol
![image](https://user-images.githubusercontent.com/22536095/31791249-00dbc692-b4e6-11e7-9385-7abd9f405e3a.png)

or

![image](https://user-images.githubusercontent.com/22536095/31791314-2ac951e0-b4e6-11e7-9889-a4cf743ea4d0.png)

or similar

next to your account name on very top right bar next to lock AND on left under account tab could help too so people know they can click it.

[2017-10-19 20:11] o5j5vg55bv5hv5j5f8799f9 commented on #499
imagine I'm a user who just deposited open.DASH and wants to see what I should trade it against and how do I go from open.DASH to lets say CVCOIN

my #1 concern will be what is the liquidity like, don't care with which other coin, just want to see what my options are. putting in open.DASH on one end of the pair and nothing on other ideally would give me a list of pairs with most important (highest

[2017-10-19 21:19] svk31 commented on #615
Yea I just noticed this today as well, it's because the path for downloading locale files is relative in IntlActions.js, I'll fix it tomorrow.

[2017-10-19 21:20] svk31 commented on #614
2 and 3 are already there no?

[2017-10-19 21:21] svk31 commented on #595
The CSP directives are there to improve security. How does zeronet hosting work?

[2017-10-19 21:57] wmbutler commented on #607
@mattbeckman are you claiming this? If so, please request it and I will add your name to the top. This is to keep multiple people from working on the same issue.

[2017-10-19 22:14] mattbeckman commented on #607
Sure. It was a quick fix, so I wasn't sure if the format request was necessary, but will keep that in mind for the future.

[2017-10-19 22:23] grctest opened #616 "Display asset logo in the asset details page?"
If an asset isn't featured, its logo is never displayed - would it be possible to display the asset logo in the asset description page, or is it more appropriate for the asset issuer to include an image in the description via an img html tag?

[2017-10-19 23:41] abitmore commented on #595
By the way transwiser should be removed.

[2017-10-20 01:58] wmbutler commented on #595
I think it's appropriate to open an issue for this.

[2017-10-20 04:40] btsfav commented on #614
mh perhaps I didn't see the last one because it went through too fast.

[2017-10-20 06:39] btsfav commented on #595
@Hellozeronet maybe you can join the conversation?

[2017-10-20 07:07] MarkoPaasila opened #618 "Highlight own orders (active account) in orderbook"
Maybe use a slightly different font color for one's own limit orders (in the _BUY ORDERS_ and _SELL ORDERS_), so you can spot them from among all the other orders.

This would make easier it to figure out the situation without reading all the numbers in the orderbook and comparing it with one's _OWN ORDERS_. Visual information is hundreds, if not thousands of times faster to consume.

I'm not sure

[2017-10-20 07:27] MarkoPaasila opened #619 "Cancel all orders with one click + confirmation click"
Cancelling any more than two orders is a pain. Once you click the red cross, you can't click the next one before the confirmation bubble appears. That usually takes more than 3 seconds. If the user needs to free up funds from the limit orders, he should be able to do it painlessly.

**Here are some different approaches:**

- One click to free all [ASSET NAME] from limit orders. This would leave al

[2017-10-20 07:34] svk31 commented on #618
Orders in the orderbook are grouped at similar price points so this won't work.

[2017-10-20 07:49] svk31 commented on #619
Closing as duplicate of #558

[2017-10-20 07:49] #619 closed

[2017-10-20 07:51] #615 closed

[2017-10-20 07:59] MarkoPaasila opened #620 "Add "unit of account" label to both axis of the trading chart"
Both the X-axis and the Y-axis need indications of what they measure. It must be completely obvious what is measured and what is the unit of measurement. In case of the _PRICE CHART_ it is obvious that the X-axis represents time, but it isn't entirely obvious which asset is measured and in what unit. The  _MARKET DEPTH_ chart has the problem on both axis. Unless you are very used to the interface

[2017-10-20 08:02] MarkoPaasila commented on #619
Oh I'm sorry. I'd better search beforehand more carefully next time.

[2017-10-20 08:03] #607 closed

[2017-10-20 08:05] #590 closed

[2017-10-20 08:55] HelloZeroNet commented on #595
Can you please send me the site's address?

[2017-10-20 09:28] btsfav commented on #595
@HelloZeroNet trying to host https://github.com/bitshares/bitshares-ui/releases/download/2.0.171015/hash_history_dist_2.0.171015.zip - perhaps you could check?

if not, I'll send you the adr later :)

thanks!

[2017-10-20 09:35] landry314 commented on #618
Do you mean if two orders are set at the same price?

Couldn't you still color it just to show that that is where YOUR order is? This would be a very helpful thing while looking at the order book.

[2017-10-20 10:48] pluswave opened #621 "Layout issue in CN locale settings."
see image below:
<img width="1403" alt="2017-10-20 6 46 01" src="https://user-images.githubusercontent.com/5653443/31817560-2a798448-b55a-11e7-8f10-537b72e0a8d8.png">

[2017-10-20 11:29] svk31 commented on #618
Yes I can highlight the order where you have orders also, but I can't really add a cancel button there.

[2017-10-20 11:30] svk31 commented on #621
Duplicate of #607 and already fixed.

[2017-10-20 11:30] #621 closed

[2017-10-20 12:40] happyconcepts commented on #620
FYI #361 is about migrating to TradingView

[2017-10-20 13:03] #620 closed

[2017-10-20 13:04] wmbutler commented on #618
#302 Duplicate

[2017-10-20 13:04] #618 closed

[2017-10-20 13:09] wmbutler commented on #558
Agreed. We can even do this in stages, but I really like the idea of first filtering for what you want and then being able to have a single checkbox in the header too.

Symbol | Quantity | [ ]
-- | -- | --
bitUSD | 5 |  [ ]
bitUSD | 10 |  [ ]
bitUSD | 15 |  [ ]
bitUSD | 7 |  [ ]

[2017-10-20 13:23] wmbutler commented on #558
I'm not in love with this, but it is functional.

![screen shot 2017-10-20 at 8 23 04 am](https://user-images.githubusercontent.com/1254810/31822908-eb58c10a-b56f-11e7-9186-54c858d463af.png)

[2017-10-20 13:35] wmbutler opened #622 "[.5][happyconcepts] Harmonize Login Screens"
Local Wallet and Cloud Wallet have very different looks. It would be nice to get them in line with one another. Extra points

- Reduce width of both to be the same as the registration screen.

## Cloud Wallet
![screen shot 2017-10-20 at 8 30 31 am](https://user-images.githubusercontent.com/1254810/31823250-1dba2674-b571-11e7-88d7-87486ce4ba26.png)

## Local Wallet
![screen shot 2017-10-20 at 8 30

[2017-10-20 13:40] wmbutler opened #623 "[2][izmlam] Chinese Translation"
We need updated translations throughout:

- Wallet
- Readme.md

Please be very thorough.

[2017-10-20 14:41] landry314 commented on #558
If you say "Cancel Orders" with an 's' it highlights the feature without any description.

[2017-10-20 15:14] lzmlam commented on #623
Claim it. I will do my best.

[2017-10-20 16:13] landry314 opened #624 "Change "Order Value" to "Current Value" in Open Orders"
In the new Open Orders area the column named "Order Value" is a little confusing because it is really the current value of the asset in the order, not the value of the order when filled.

I would assume "order value" to mean the value of the order when filled. I am not sure if this is how most people would interpret it. I'm curious.

I would change the column to say "Current Value" because this is

[2017-10-20 16:15] landry314 opened #625 "[.1][startailcoon] Capitalize "orders" in "Open Orders" in ACCOUNT"
In ACCOUNT we are using every-word-cap style but "Open orders" is using first-word-cap style. I assume this is a typo.

[2017-10-20 16:29] wmbutler commented on #624
I think it's pretty clear that it's the value of the order. It represents the value that is locked up in the unexecuted order.

[2017-10-20 16:30] wmbutler commented on #623
It's yours.

[2017-10-20 18:17] landry314 commented on #624
Ok, well, considering this column is in the Open ORDERS section, the word "order" is redundant.

"Value" could mean current value or fill value, depending on how you interpret it... therefore I argue that the word "current" will make this column clearer.

[2017-10-20 23:37] happyconcepts commented on #622
Can I pls claim this?

On Oct 20, 2017 6:35 AM, "Bill Butler" <notifications@github.com> wrote:

[2017-10-21 15:00] startailcoon opened #627 "[.5][startailcoon] Display Published value as an actual date/time in localized time zone"
On my system, that runs on UTC+2, the price feed time stamp on the asset details page is displayed wrong.

The Asset Price Feed Data sais the price feed was updated 2 hours ago, but looking on the timestamp of the block it's right now. The text is not taking my UTC+2 in account and should be handled the same throughout the entire application.

![bitshares-feedtime-issue](https://user-images.github

[2017-10-21 15:44] startailcoon commented on #598
I have a tiny fix for this error, but uncertain on how to do a proper commit/PR to the GitHub project

[2017-10-21 16:05] wmbutler commented on #598
The readme explains how to claim an item. I'll assign this to you but please request prior in the future. And thanks for your work.

[2017-10-21 16:28] startailcoon commented on #625
Can I claim this?

[2017-10-21 17:18] startailcoon commented on #584
Can I claim this?

[2017-10-21 17:51] wmbutler commented on #625
Yes. It's yours!

[2017-10-21 17:53] wmbutler commented on #627
Format: `Jan 01, 2017 5:05:23 pm`

[2017-10-23 00:23] wmbutler commented on #557
Ultimately they replace the extremely wordy deposit/withdraw and send screens.

I think it makes sense to have asset selection in the modal. You will include the asset as a parameter when calling the modal so it will pre-populate.

[2017-10-23 00:29] wmbutler commented on #557
I'm having a hard time determining where they are all triggered from. I think it'll be tough to make all the changes at once.

I have a plan for creating a menu with send withdraw deposit. What if we break deposit / withdraw into two separate buttons and have each of them call the appropriate modal. That would involve very little work and wouldn't change things too much.

[2017-10-23 00:33] wmbutler commented on #556
Currently we have a send to button which is strange because it pits whatever account you are on in the destination field. I think we need a send menu. I have designed this dropdown but we might need to have a conversation about the timing for changing the menu.

[2017-10-23 00:34] wmbutler commented on #556
For now, call the modal from the send to button.

[2017-10-23 01:44] wmbutler commented on #538
Sorry it took me so long to respond. Github isn't notifying my properly right now of comments. Notes:

- Remove wordy text above table
- Make 3 sections Proposed / Active / Expired
- Remove link icon from creator (but allow text to have href)
- Votes rather than Net Votes
- Remove Unclaimed Pay (not really critical to the voting screen)
- Remove **supported** column. We have a color indicator and

[2017-10-23 01:50] wmbutler commented on #557
@abitmore I don't think a drop-down is appropriate. There could be hundreds of symbols. I think as a bare minimum we can agree that a user needs to know the name of their symbol.

[2017-10-23 02:17] wmbutler commented on #579
I like having a Watchlist. It can live on the Dashboard. We do have a fundamental problem with Watchlist vs Portfolio. Your portfolio just references a single asset whereas our current "star" watchlist refers to a full trading pair so this definitely needs more discussion.

It would be awesome to make a user's watchlist the same thing as the stars on the exchange page. This would create a nice lin

[2017-10-23 02:21] wmbutler commented on #584
I'm going to close this issue since we have new deposit modal on the way this Sprint #557

[2017-10-23 02:21] #584 closed

[2017-10-23 02:26] wmbutler commented on #581
So, we should add an additional field called Market Fee for those assets that charge and additional fee and display it below the Fee.

![screen shot 2017-10-22 at 9 25 00 pm](https://user-images.githubusercontent.com/1254810/31869741-9f01028e-b76f-11e7-9e9a-9a0e67adda74.png)

[2017-10-23 02:30] wmbutler commented on #530
@happyconcepts send me the issue number for 171001 so I can look into why you didn't get paid.

[2017-10-23 02:36] wmbutler commented on #68
@oxarbitrage will I need to push this to 171115?

[2017-10-23 02:37] wmbutler commented on #452
Ah, I did not know that.

[2017-10-23 02:39] wmbutler commented on #430
I think what you've done is fine. Users will have a visual cue from the color of the value under margin positions. Then they will be able to click through to the asset page and view this. Really nice!

[2017-10-23 02:44] wmbutler commented on #455
I agree. That's why I was suggesting a support link that could ultimately go to the bitshares.org/support (but apparently nobody really manages it or at least I don't know who to talk to about it).

We also have the help endpoint. This page could display links to telegram and discord:

- [ ] Change Help to Support

![screen shot 2017-10-22 at 9 44 02 pm](https://user-images.githubusercontent.com/1

[2017-10-23 02:53] wmbutler opened #630 "[10] New Header and Right Menu"
11/15 Milestone

- [x] Accounts is the currently selected item
- [x] Blue lock displayed when user is logged out
- [x] Login / Logout is toggled in position 1 depending on login/logout state
- [ ] Send Deposit Withdraw grouped with separator (each calls the appropriate modal)
- [x] Support goes to `/help` endpoint
- [x] Vote brings up witness/committee/wp screen
- [x] Upgrade brings up Membership

[2017-10-23 08:22] #580 closed

[2017-10-23 08:22] #625 closed

[2017-10-23 08:28] #622 closed

[2017-10-23 09:29] svk31 commented on #302
Adding an icon can be problematic at certain screen widths and with large values in the orderbook, so I'd prefer a color highlight.

Not much space for an icon here:
![image](https://user-images.githubusercontent.com/6890015/31881901-56f85d36-b7e5-11e7-8ef3-aa1471770cf8.png)

[2017-10-23 09:31] svk31 commented on #68
Yes, there's no timeline right now for when this will be available, and once the actual code is available we'll still need the api nodes to upgrade to it..

[2017-10-23 09:37] landry314 commented on #581
This is exactly what Sigve commented about above: https://github.com/bitshares/bitshares-ui/issues/581#issuecomment-336830202

Fee needs to be renamed to "Order Fee" to differentiate.

[2017-10-23 11:27] jonnybitcoin commented on #579
This discussion is getting away from the crux of it.
The main assets BTS BitUSD BitCNY OPEN.BTC should be displayed by default to make it easy for users to learn how they can easily Buy Borrow Settle Withdraw Deposit.

User friendliness and BitUSD adoption should be laser focused. We had it before,  I don't see why it was taken away.

[2017-10-23 11:30] startailcoon commented on #627
If allowed, I can look at this and claim it?

[2017-10-23 11:44] svk31 commented on #627
Sure

[2017-10-23 11:50] landry314 commented on #579
@jonnybitcoin, it was taken away to close issue #528.

Unfortunately, this happened before a good replacement system was added. During the discussion of issue #247 was where the idea for a watchlist first came up and we are still working on making that happen.

Maybe it would have been better in retrospect to wait to close #528 until we were finished with the watchlist.

[2017-10-23 12:00] jonnybitcoin commented on #579
A compromise would be to show BTS BitUSD BitCNY OPEN.BTC by default for new users (help them learn)  then those who don't wish to see can toggle hide zero balances. This is what poloniex does but for all assets.

[2017-10-23 13:58] wmbutler opened #631 "[.5] Links to details about each exchange"
Since we are updating the deposit / withdraw screens to be less wordy (modals), I've created informational documents on the help endpoints for rudex, openledger and cryptobridge.

- /help/gateways/openledger
- /help/gateways/rudex
- /help/gateways/cryptobridge

Please make the `?` help icon in these gateways link to the appropriate documents.

[2017-10-23 15:17] landry314 commented on #579
Bittrex also has a "Hide Zero Balances" option in their "Wallet" but I personally don't think that would be the best way to do it. Until the Watchlist is ready though, it might be a quick fix.

[2017-10-23 15:52] wmbutler commented on #538
To reduce wordiness on these screens, help documentation has been updated to explain proxy/witness/committee/worker. Please provide links to each.

/help/voting/proxy
/help/voting/witness
/help/voting/committee
/help/voting/worker

[2017-10-23 16:06] wmbutler commented on #430
- [ ] Small bug in the sort order of the ratio column for /asset/bitUSD

See how 667.809 is out of place.

![screen shot 2017-10-23 at 11 01 11 am](https://user-images.githubusercontent.com/1254810/31899810-3353846c-b7e2-11e7-89f4-08c473ab289e.png)

[2017-10-23 16:11] svk31 commented on #430
Yea I saw that too and couldn't really figure out why it was happening :/

[2017-10-23 16:17] svk31 commented on #538
Where would you prefer those links to be? The proxy one especially doesn't have an obvious place to go.

Oh and the "Click to save finish" text can't really go there, it works on a wide screen like in the screenshot but becomes a nightmare to manage once screens get narrower.

[2017-10-23 16:18] wmbutler commented on #455
Help Menu now shows Telegram and Discord.

![screen shot 2017-10-23 at 11 17 43 am](https://user-images.githubusercontent.com/1254810/31900434-ead01b5e-b7e3-11e7-81bb-1d85a7827ad9.png)

[2017-10-23 16:26] startailcoon opened #632 "[1][startailcoon] Connection status visible throughout the entire application"
Today we're inconsistent with how we display the connection and sync status as the footer is only displayed on various sections of the app.

We should view the footer with sync status, but also toward what server we're connected to. I may wish to stay connected to a specific server, but if this server fails I'm silently moved over to another one. This is fine, but we should let the user see toward

[2017-10-23 16:33] svk31 commented on #430
It looks like it's something weird happening for these xxx-collateral-holder accounts, where the call_price is not updated after the debt/collateral ratio has been changed. So this particular margin position with the 667 ratio displays a correct ratio but the actual call price is much lower.

[2017-10-23 16:33] #430 closed

[2017-10-23 17:36] nottsmic commented on #579
Hi bitUSD should appear on my profile as default, the option to hide is there if people do not want it. I cannot borrow unless I already have some even if I go in margin positions. If it can’t stay as default why not have a borrow tab at top. Why do I have to go to exchange to borrow bitUSD

[2017-10-23 17:47] wmbutler commented on #632
Totally agree. This was actually a requirement as part of the previous connection status rewrite but it didn't get done.

[2017-10-23 17:49] wmbutler opened #633 "[.25][startailcoon] Clicking on connection status should take user to Settings --> Access"
![screen shot 2017-10-23 at 12 48 37 pm](https://user-images.githubusercontent.com/1254810/31904337-951b3efc-b7f0-11e7-880e-39728c80f27f.png)

![screen shot 2017-10-23 at 12 49 25 pm](https://user-images.githubusercontent.com/1254810/31904357-a02e81f0-b7f0-11e7-8f22-073e12a251cb.png)

[2017-10-23 18:37] startailcoon commented on #633
I can claim this

[2017-10-23 19:17] wmbutler opened #634 "[1] Deploy ui code to wallet.bitshares.org"
This will allow us to migrate users from the bitshares.org domain for security purposes. A separate issue will describe migration instructions. We should be able to have both domains point to same codebase with rewrite rules in nginx.

[2017-10-23 19:26] wmbutler opened #635 "[1.5] Detect indexdb and inform users of migration path to wallet.bitshares.org"
Text:

"In an effort to provide enhanced security for the web-based wallet, we are migrating it to the subdomain `https://wallet.bitshares.org`. We will phase out `https://bitshares.org/wallet` by November 15, 2017. Please backup your wallet now and restore the backup file to https://wallet.bitshares.org, which will be your new address for the web wallet. Thanks for your continued support."

[2017-10-23 20:02] startailcoon opened #638 "Market navigation on narrow screens/windows"
When using a narrow screen, like a phone, the market selection column on the right is not accessible unless you turn the screen around. This may not be an issue if you can turn the screen, but you may wish to run the screen in a narrow window on a desktop, and then you can't select a market.

A right hand toggle, or slide in on phones, would be a nice feature to enable this.

The right hand market

[2017-10-23 20:17] startailcoon commented on #302
It will also make it much easier to follow the entire row from left to right when it's colored, rather than with an icon. I don't think an icon is giving the desired outcome here.

An additional feature could be to be able to set the row color to a user preferred color.

[2017-10-23 20:20] Xeldal commented on #624
Is there a reason this column is even there?  It seems unnecessary and somewhat confusing.  Never seen it in any trading platform that I recall.  If I have an order buying DASH /  selling USD ... why would I care what the equivalent value in BTS was (or any other currency).  As well, for all orders involving BTS, you have repeated data.  And looking at it now, the value is off slightly leading to

[2017-10-23 20:42] wmbutler opened #639 "[5.25][maiopirata] News Area"
Bitshares needs a news area within the wallet. This will allow users to stay in touch with what is going on with Bitshares within the wallet. It should draw its data from the bitshares steemit tag and contain:

- [ ] Line number
- [ ] Date posted (reverse chron)
- [ ] Subject (with ellipses if subject is too long for the td)
- [ ] Author (steemit author, for resteemed articles the author should be

[2017-10-23 20:46] wmbutler opened #640 "Responsive design"
The Bitshares wallet should eventually be fully responsive to screen width. This issue will track feature requests related to responsive design requests.

- #638
- #644

[2017-10-23 20:48] Xeldal commented on #611
something like this maybe.
[code]

Where 1 of the Asset is worth less than $1 display with zero decimals
less than $10 with 1 decimal
less than $100 with 2 decimals
less than $1000 with 3 decimals
bitcoin would display with 4 decimals

[2017-10-23 20:55] Xeldal commented on #606
The actual names are much shorter of course.  ie USD EUR CNY.   I support replacing all instances of "bit" with a symbol.  Or at least coloring the names to signify "SmartCoin".   If you're apposed to just replacing the "bit" I don't see how you could possibly support replacing the entire name with a symbol.  (if that's what your suggesting. IDK)

[2017-10-23 20:59] startailcoon commented on #639
This is a nice feature to have. Would all posts related to the steemit tag be present in the wallet? This could present some unexpended security issues like phishing attacks.

I think it should be limited to a number of authorized authors.

Depending on what resources that can be used, not sure if there are relevant APIs to use yet, this script could be of help for anyone looking at it. https://gi

[2017-10-23 21:16] Xeldal commented on #604
I think the watchlist tab could be a good addition. It could show a good selection of **basic** market data for a user defined list showing more data than you find in the "Markets" window in "Exchange" tab but without the chart/buy sell/history etc that you find there.

I don't think this watchlist tab should be where you find "borrow" "settle" etc.  This should be kept in the "My Porfolio" list (

[2017-10-23 21:36] Xeldal commented on #638
I would love to see a side-bar of icons similar to the one in the following picture that would control the display of the various windows in the exchange screen.

![](https://user-images.githubusercontent.com/6866501/31656443-dbf17e1e-b32b-11e7-874f-a74c1a8e920f.jpg)

I made a basic mockup a while ago with some ideas here:  https://bitsharestalk.org/index.php/topic,25071.new.html#new

This link sh

[2017-10-23 21:38] wmbutler commented on #638
@Xeldal your comment is more geared towards the #361 feature.

[2017-10-23 22:04] Xeldal opened #641 "Rename My Portfolio to My Wallet"
What is the reason behind this recent change to "Portfolio"?  Is there confusion or a conflict in calling it My Wallet?

To me the word portfolio indicates a specific book of assets you are tracking and trading and concerned with the overall profit and loss figures.  As a matter of accounting for a business, client, or personal investment;  This is a very specific use case.

Not everyone using the

[2017-10-23 22:11] Xeldal commented on #638
@wmbutler I don't think it has anything to do with the the item you referenced.  I'm not talking about tradingview, not talking about charts, or chart functions.  Nothing to do with charts package.  I'm talking about navigation for small screens, and general layout of the Exchange page.

[2017-10-23 22:26] wmbutler commented on #641
A wallet is a very generic term. For instance, I have a Local that contains 20 accounts. Each account has assets in it. Those assets make up my portfolio. I do not think it's a good idea to present a list of assets as a wallet.

[2017-10-23 23:21] Xeldal commented on #641
It is generic, how is that a problem?

Is your reasoning that the term wallet would be referring to 2 different things?
1. the list of accounts
2. the list of assets
Is that what you're saying?

While I don't necessarily think this is a conflict, it makes more sense to me to change the name of the list of accounts --if you must-- to something more appropriate.  If that's even necessary. (I don't t

[2017-10-23 23:31] wmbutler commented on #581
- [ ] If the user decides to purchase a specific quantity of an asset, they should end up with the exact quantity they elected to purchase in their wallet once the purchase is complete. We currently are deducting market fees from the trade instead of from the user's balance.

[2017-10-24 00:17] Xeldal commented on #641
"Wallet" refers to anything that contains coins, tokens, assets, etc. or anything that affects a transaction with these coins. How big or small or how many ways they are sliced and diced doesn't make any difference.  They are all wallets.  From a single paper wallet of one coin, to an account with multiple coins, to a bundle of accounts each with multiple coins.  They are all wallets.

In crypto t

[2017-10-24 03:59] wmbutler commented on #633
It's yours!

[2017-10-24 04:04] wmbutler commented on #302
What if we just bold it?

![screen shot 2017-10-23 at 11 04 22 pm](https://user-images.githubusercontent.com/1254810/31924401-90613668-b846-11e7-83a3-d77babf9e7bc.png)

[2017-10-24 04:14] wmbutler commented on #579
I think it makes more sense to have it in Margin Positions (because that's where you borrow things into existence, but I'm not overly concerned about this topic. We do need a definitive list of what should appear by default. So:

- bitUSD
- bitCNY
- bitBTC
- bitEUR

Is that is or is there more?

[2017-10-24 04:29] startailcoon commented on #302
Anything that makes the row stand out is fine imho

[2017-10-24 04:31] wmbutler commented on #538
- [ ] Moved Click save to finish up
- [ ] Help link for proxy is in place of lock when unpopulated
- [ ] Help link for worker/committee/witness is inside the respective tab top left of table

[2017-10-24 04:45] wmbutler commented on #538
- [ ] More padding between buttons and right edge
- [x] Looking great as usual

![screen shot 2017-10-23 at 11 45 17 pm](https://user-images.githubusercontent.com/1254810/31925140-4768a896-b84c-11e7-8f04-0a63e68daba2.png)

[2017-10-24 04:47] tbone-bts commented on #641
I agree that "wallet" refers to too many different things and isn't a good choice to replace "My Portfolio".  If anything, "My Assets" or "My Holdings" would make more sense.  Actually, "My Assets"is not great because it sounds like it could refer to assets I've created.  "My Holdings" is better.  But I think "My Portfolio" is similar and probably equally sensible.

[2017-10-24 04:49] wmbutler commented on #538
Smaller gap between these:

![screen shot 2017-10-23 at 11 49 22 pm](https://user-images.githubusercontent.com/1254810/31925217-da15b030-b84c-11e7-8a69-fa17a0b3c1aa.png)

[2017-10-24 04:57] wmbutler commented on #538
We need to define criteria for a worker that has been proposed but is not yet active. Let's try:

- Today < expiration date
- Funding < 100%

![screen shot 2017-10-23 at 11 52 59 pm](https://user-images.githubusercontent.com/1254810/31925365-e2bcd622-b84d-11e7-8c13-d9227cb58b5d.png)

I find the refund400 very confusing because it has an effect on things, but it's only 73% funded. I have no idea wh

[2017-10-24 05:28] svk31 commented on #581
That's just how it works in bitshares-core though unfortunately, the fees are subtracted from fills and not charged up front.

Doing it the way you say means we'll have to place an order to buy 102 instead of 100 if that's what the user entered, or clicked, which will probably make it harder to match orders.

[2017-10-24 06:10] btsfav commented on #641
as far as I know the general term used by Trading Platforms is Portfolio. I think it's fitting

[2017-10-24 06:16] svk31 commented on #641
@Xeldal we've had so many users confused over the terms account and wallet which is one of the reasons we didn't want to use the word wallet for this tab as well.

[2017-10-24 06:24] btsfav commented on #639
needs moderation, else you risk /bitshares getting spammed with scam or shitcoins

[2017-10-24 06:40] svk31 commented on #579
Ok I think we can agree to just put them under Margin Positions. I personally don't think it's worth having bitEUR there since it's a very low liquidity asset, but I suppose we can include it.

How about BTWTY and HERO?

[2017-10-24 06:43] btsfav commented on #579
I'd rather see

### Blockchain Issued Smartcoin
bitUSD
bitCNY

### User Issued Smartcoin
HERO
BTWTY

[2017-10-24 06:48] svk31 commented on #538
The way worker funding works is that there's a certain daily budget (which was previously included above the table), and workers use up as much of that budget as they can depending on their position (amount of votes).

As of today the total daily budget is around $16300. The first three workers in your screenshot only require around $1100, leaving $15200 for the rest of the workers. However, the r

[2017-10-24 06:49] svk31 commented on #538
The way I defined active previously is any worker that is currently in it's defined period. Proposed workers are those who have not yet reached their start date.

[2017-10-24 09:01] startailcoon commented on #632
I can claim this one

[2017-10-24 09:41] nottsmic commented on #579
Could we have a drop down menu or something that lists all bit assets and you just de select the ones you don’t want? With the top 5 in volume being auto selected

[2017-10-24 10:35] kimchi-king opened #643 "Unable to generate BTC deposit/withdraw address on Android mobile device"
I'm using an HTC One M7 with the latest Android software.

I was trying to get a BTC address to determine if it were possible to deposit BTC via a mobile device.

Unfortunately, no deposit or withdraw address is displayed.

![screenshot_2017-10-24-12-30-21_1](https://user-images.githubusercontent.com/32033560/31938416-c97a4540-b8b7-11e7-8a2f-7904e355e785.jpg)

[2017-10-24 10:47] landry314 commented on #624
@Xeldal, the reason this is there, I think, is because when your assets are in open orders then they won't be in the Portfolio so their current values will not be displayed. This is an attempt to show their current values so the user can see how their money is spread.

This is why it should say "Current Value". This is no doubt confusing people, it confused me at first until I saw it was just an e

[2017-10-24 10:52] landry314 commented on #606
Well, the bit is important to make sure people know it is not actually fiat. This is important to keep governments happy and also to be precise to establish trust.

How about "bit$", "bit£", "bit€"? These take up less room and still maintain the "bit". This requires that every currency has a symbol though, and maybe some do not, but all have a three letter code.

[2017-10-24 11:03] landry314 commented on #579
Maybe using this list of most traded fiat currencies would help us decide which to add by default:
https://en.wikipedia.org/wiki/Template:Most_traded_currencies

As for the dropdown idea @nottsmic just mentioned, yes, this could be developed. I have been talking about this for a while. The real fix here is a system to choose which assets you like and eliminate the rest... a Watchlist... until that

[2017-10-24 11:31] startailcoon opened #644 "Market Exchange Timestamp cuts off short"
The date and timestamp is not viewed fully since it's to long. Can we condense it or view a timeAgo instead?

![wp_ss_20171024_0001](https://user-images.githubusercontent.com/12114550/31940725-6d8ce474-b8bf-11e7-8b93-d497f6ef634f.png)

[2017-10-24 13:36] landry314 commented on #641
I take issue with the use of the word "My"; I think it sounds a little childish. Why use "My"? How does that differentiate or add anything? "Portfolio" by itself works fine.

A portfolio for an artist is a collection of the works the artist has made. A protfolio for a stock trader is the list of assets he currently holds (including short contracts).

Portfolio would be good on a trading platform b

[2017-10-24 13:43] landry314 commented on #581
That is too bad :-(

[2017-10-24 13:44] landry314 commented on #302
Bittrex uses a star icon next to your order.

[2017-10-24 14:04] wmbutler commented on #644
I have no idea what this refers to. Will you please include a screenshot or a licecap to clarify?

[2017-10-24 14:05] wmbutler commented on #643
New deposit modal will have better feedback when openledger fails to generate an address. #557

[2017-10-24 14:05] #643 closed

[2017-10-24 14:10] wmbutler commented on #641
I actually added, "My" to increase the length a bit so the dollar value would fit under it without trailing off the left side. We have a lot of other things that are way more important than this.

- Wallets have Accounts.
- Accounts contain a Portfolio of Assets/Coins/Symbols
- Accounts will also soon contain a Watchlist

[2017-10-24 14:29] Xeldal commented on #641
Landry314 makes some good points.  A standard portfolio would contain ALL your positions. Short, Margin, Open and otherwise.  As you have it now, the whole lot of tabs here is  really what should be called Portfolio(not suggesting this) If wallet is too confusing.  I think Balances is the most Appropriate.

- Wallets have Accounts
- Accounts have Balances
- Accounts have Watchlists

On the issue o

[2017-10-24 14:43] wmbutler commented on #538
How do you know this?

- [ ] I don't like where I added the small help icons. Sometimes it's hard to be creative. What would you think if I just created a /help/voting endpoint and we used just the one icon that's in the proxy area?

[2017-10-24 14:59] startailcoon commented on #644
Sorry for the lack of description.

What I refer to is the "Market Trade" table, where we display the timestamp of the trade. It is to short to view a full string of "Year/Month/Date Hour:Min:Sec". On my phone (capture from prev. comment) I can't see the month, just Year and Time, and on my desktop I can see month/year and time.

I can't see what date the exchange was made, which renders the date

[2017-10-24 15:27] wmbutler commented on #579
I updated the complete list adding HERO and BTWTY.

[2017-10-24 15:29] wmbutler commented on #302
But @svk31 just indicated that an icon would take up too much space. We are working towards a solution.

[2017-10-24 15:33] wmbutler commented on #581
@xeroc @oxarbitrage This is a nasty issue. Any creative thought on how to deal with this? Essentially, we need a way for a user to end up with 5 shares if they buy 5. The implication in this thread is that fees cannot be deducted from a users account balance but must come from the trade.

[2017-10-24 15:35] wmbutler commented on #455
@svk31 The trollbox can be removed not that we have a link from the Help Menu.

[2017-10-24 16:31] tbone-bts commented on #641
I agree with @landry314 and @Xeldal re: "Balances".  Also, although I don't think the word "My" is problematic in and of itself, it's inconsistent to use it only for one of the items.  Besides, logically, the names of these items should make sense prefaced by the word "Account", i.e. "Account Balances", "Account Activity", etc.  Not suggesting to actually preface each one with the word "Account th

[2017-10-24 16:40] startailcoon commented on #633
I've enabled the Block Sync status box to take you to the Settings page, but I'm unable to find a way to access the "Access" section in the same action, and I can't find that this is done from any other section of the software either.

The settings page will show the last accessed section of the settings page.

May need some code rework to actually take you to the access page directly.

https://gi

[2017-10-24 16:41] jonnybitcoin opened #645 "[.1][startailcoon] remove kexcoin from dashboard"
remove kexcoin from dashboard because: https://steemit.com/kexcoin/@kexcoin/official-results-of-the-kexcoin-ico-and-what-s-next

[2017-10-24 16:47] tbone-bts opened #646 "Better Explorer navigation"

[2017-10-24 16:49] wmbutler commented on #646
This is not actionable.

[2017-10-24 16:58] tbone-bts opened #647 "[2][dot5enko] Improved "Explore" navigation"
To "Explore" the Blockchain, Accounts, Markets, Assets, Fees, etc, you have to keep clicking back before clicking on the next one.  It would be nice if small icon buttons could be located along the side so the user can easily navigate from one to the next.

This really isn't a high priority item, but a similar side navigation conversation came up in another issue and it reminded me of this mock-up

[2017-10-24 17:04] tbone-bts commented on #638
Having a side menu like the one on Tradingview is very tricky because you need to have good icons for each menu item, which is difficult enough, and you also need to have enough of them to run the whole length of the side from top to bottom. I honestly don't see that being feasible here.

Although I do think it could work for the Explore items.  Just for reference, here's a mock-up I made months a

[2017-10-24 17:07] startailcoon commented on #645
I can do this

[2017-10-24 17:08] tbone-bts commented on #646
Hmmm.  Didn't mean to create this  Can you delete?

[2017-10-24 17:29] wmbutler commented on #645
It's yours

[2017-10-24 17:31] wmbutler commented on #647
I think we can work this into the new menu navigation #630

[2017-10-24 19:18] landry314 commented on #641
Yeah, so how about changing the ACCOUNT tab on he top to PORTFOLIO then "My Portfolio" to "Balances" then add a Watchlist section under PORTFOLIO? I am considering what @Xeldal said, "A standard portfolio would contain ALL your positions. Short, Margin, Open and otherwise." which is totally correct.

I feel like the word "account" is used differently in way too many places in this program. I was g

[2017-10-24 20:06] tbone-bts commented on #641
I agree with @landry314 that it's confusing to have the estimated account value named differently in different places.  I also think it creates confusion and lack of clarity to have the estimated value contained in what looks like a menu item but isn't.  That needs to be more visually distinguished from the menu (or sub menu, in this case).

As for the various references to "Account" listed by @la

[2017-10-24 20:19] landry314 commented on #646
You can delete it, @tbone-bts! Look below this on the right. Do you see the "Close issue" button?

[2017-10-24 20:20] tbone-bts commented on #646
"Close" means "delete"?  Who knew?!

[2017-10-24 20:20] #646 closed

[2017-10-25 08:49] #645 closed

[2017-10-25 08:57] #455 closed

[2017-10-25 09:03] svk31 commented on #538
No, the daily budget is calculated from the blockchain budget object, it depends on how much is in the reserve pool and how much is being paid to witnesses IIRC. Like I said above, it used to be included in the worker screen, you can see it listed above the table in one  of my screenshots above.

In terms of the budget refund and burn workers are treated exactly the same as any other workers, they

[2017-10-25 09:49] btsfav commented on #538
worker is worker, makes no sense to split them/filter

[2017-10-25 13:17] wmbutler commented on #630
- [ ] Added Explorer menu. This can contain a dropdown with:
  - Blockchain
  - Assets
  - Accounts
  - Witnesses
  - Committee Members
  - Markets
  - Fee Schedule

[2017-10-25 16:40] fractalnode commented on #422
It would also be nice to have an alarm below the specified value of Collateral Ratio

[2017-10-25 19:20] startailcoon commented on #616
This is a good idea. The asset details page could become prettier with some more work and adding the assets logo to it is a nice start.

[2017-10-25 19:34] btsfav opened #649 "[1] NODE up/down not really working"
Light Client:

![](https://i.imgur.com/zBTikmL.png)

bitshares.org/wallet

![](https://i.imgur.com/AcUDdu2.png)

this whole thing is a mess to be honest.

everyone sees different nodes up/down, which should not happen based on a simple ping(?)

[2017-10-25 19:43] tbone-bts commented on #649
I get the sense this is more of a UI thing than anything else since I can't remember the last time I couldn't use the DEX due to connectivity issues.  And I haven't heard many complaints from other people, either.  Such connectivity issues seemed to clear up after the "node hopping" was implemented.  So yeah, this could be improved.  But it doesn't seem like a massive problem.

[2017-10-25 19:58] ThomasFreedman commented on #649
I suspect the issue is related to measuring the latency. Bytemaster explained to me that the method used and latency value reported by the witness_node has a significant amount of "jitter" and can vary substantially. Seems odd to me that we can't get accurate latency numbers on a network built with the graphene toolkit that requires highly accurate timing and NTP to stay synchronized.

Even the Pe

[2017-10-25 20:03] btsfav commented on #649
@tbone-bts considering we already paid $1500 for this specific feature already. I'd expect it to work.

ref https://github.com/bitshares/bitshares-ui/issues/49 https://github.com/bitshares/bitshares-ui/issues/110 https://github.com/bitshares/bitshares-ui/issues/346 https://github.com/bitshares/bitshares-ui/issues/376 https://github.com/bitshares/bitshares-ui/issues/486 https://github.com/bitshares

[2017-10-25 20:11] btsfav opened #650 "After 1st sign-up you constantly see the "loading" animation"
Usually a simple refresh does the trick, but I'm hearing this every now and then from new users.

can you setup an auto-refresh?

[2017-10-25 20:18] abitmore commented on #557
@wmbutler drop-down is a good tool to avoid typos. I strongly prefer mouse-clicking over keyboard-typing, at least the most popular ones should be able to be easily selected. When talking about "deposit", we know for non-BTS assets they're provided by trusted gateways, so the quantity will be limited so far. I admit we'll need better UX when have more gateways providing more assets.

[2017-10-25 20:29] abitmore commented on #556
The "send to" button is actually for sending funds to a contact / saved address / followed account, so when the original "send" modal popped up, the "from" field was left empty.

This feature should be linked to the "send" on the top (if it's still there).

By the way, the "deposit bts" button is for depositing to yourself, so "deposit bts" and "send to" should not appear at same time. This is why

[2017-10-25 20:32] abitmore commented on #556
Another thing, why can't change "from" in this modal? We will no longer have multiple accounts in a wallet?

[2017-10-25 20:44] grctest commented on #238
Bitshares is currently disabled on Shapeshift, perhaps alternative bridge websites like flyp.me could replace shapeshift in this scenario?

[2017-10-25 21:10] happyconcepts commented on #649
fav is right; so much tweaking for so little gain.

As a trader I am conditioned to use red and green colors as visual cues for speed and accuracy; this screen just FUDs me up because the colors don't mean anything and I never have more than one choice on my continent for a connection to the network anyway. I feel as much love for this screen as I do for blinking text. I am sure my constructive at

[2017-10-25 22:11] wmbutler commented on #649
Unless you have a solution, I wouldn't criticise. Each attempt at a solution has led to a greater understanding. Code is iterative. I agree that it still has issues and will dedicate an hour to this for someone to research further. Here is what mine looks like from bitshares.org/wallet right now.

![screen shot 2017-10-25 at 5 11 32 pm](https://user-images.githubusercontent.com/1254810/32025915-90

[2017-10-25 22:13] wmbutler commented on #650
Probably a bad idea to do an auto-refresh. If you can't reproduce it consistently, we can't fix it. I'm guessing this has to do with latency and timeouts.

[2017-10-25 22:14] wmbutler commented on #616
I'm not sure who is responsible for adding logos to an asset.

[2017-10-25 23:14] wmbutler commented on #538
OK,

Let's try this:

![screen shot 2017-10-25 at 6 13 58 pm](https://user-images.githubusercontent.com/1254810/32027743-52e2450a-b9b0-11e7-9276-dae8632edb32.png)

[2017-10-25 23:16] wmbutler commented on #538
Lastly, I would disagree that an **active** proposal is determined strictly based upon date. It should be in the relevant date range **and** be receiving payouts.

- [ ] Move those workers not being paid to Proposed

[2017-10-26 06:07] svk31 commented on #649
This is more related to how the api servers are finicky and sometimes fail than anything else. You can fail to connect to a server, then refresh and successfully connect to the same server 5 seconds later.

The websocket connection also fails more easily if you have a shitty internet connection, and nodes thst are far away, like the Chinese ones, may fail to connect in the required 5s before timeo

[2017-10-26 07:38] svk31 commented on #649
Oh and another thing, it doesn't matter what client you use or whether it's a hosted wallet, all that matters is when the latency check is done and the state of those nodes and your own connection at that time. The latencies are not checked every single time you open or refresh the client.

[2017-10-26 07:42] svk31 commented on #538
The problem with splitting them like that is that you won't know where those 'inactive' proposals stand with respect to the active ones, you can't tell from a glance how many votes are needed to push them into active payouts.

The "Available" row at the bottom of your table will always read 0 because the refund worker will eat any available budget.

[2017-10-26 14:38] ThomasFreedman commented on #649
Well svk, you know the code better than I, however when I was implementing my load balancing proxy and testing, I found the cli wallet was way more reliable and repeatable. I have never had any trouble connecting with the cli wallet, even to remote API nodes. You may be right that the cause is "finicky api servers", but if so, then why doesn't the cli wallet exhibit the same connection issues?

[2017-10-26 14:51] wmbutler opened #651 "[9][startailcoon] Buy Modal"
We need an easy way for users to purchase BTS.

- [x] Ensure that BTS is always shown in My Portfolio whether the user owns any or not.
- [x] Link the buy icon on My Portfolio to this newly designed Purchase screen
- [x] Include a calculation in the effective price showing the price in the users chosen currency
- [x] Show a QR code for the deposit address (only if a memo is **not** required)
- [ ]

[2017-10-26 16:30] startailcoon commented on #530
I can claim this

[2017-10-26 16:36] startailcoon commented on #557
If drop down is not preferred, maybe a few tags of popular tokens/coins would be better?
Under the "Symbol" input you can have one row of tags that could be easily selected, maybe 10 most used coins sorted by volume?

[2017-10-26 17:02] abitmore commented on #651
Don't mix blocktrades with the dex.

[2017-10-27 00:06] wmbutler commented on #581
@abitmore you have any words of wisdom here?

[2017-10-27 00:31] wmbutler commented on #649
I think it's likely there is a bug that we have been unable to uncover. I will continue to increase this bounty until it attracts someone who is willing to dig into it. Sometimes it takes a fresh pair of eyes to uncover the problem.

[2017-10-27 00:43] wmbutler commented on #538
Then we need to somehow display the daily pay that is consumed by the refund worker so all the numbers add up. This is a math operation right? We owe it to the community to be able to show the details of the worker budget / ledger. The fact that we have to explain it to people is really not an acceptable solution. This is why we write code.

In my previous UX, I attempted to demonstrate how the re

[2017-10-27 00:49] wmbutler commented on #651
You are going to need to elaborate. Blocktrades is already in place. All I'm doing is creating interfaces that match.

![screen shot 2017-10-26 at 7 48 17 pm](https://user-images.githubusercontent.com/1254810/32083215-b8ae07b2-ba86-11e7-8a2b-6e1d5c7e5167.png)

![screen shot 2017-10-26 at 7 48 23 pm](https://user-images.githubusercontent.com/1254810/32083219-bdb501f2-ba86-11e7-8c99-07d8a7f879a3.png

[2017-10-27 00:51] wmbutler commented on #632
It's yours.

[2017-10-27 00:53] wmbutler commented on #530
It's yours!! Test it carefully...

[2017-10-27 00:56] wmbutler commented on #557
@abitmore whatever a user types in will have to be validated against each currency that gateway offers. A dropdown is not the right tool for this situation. A typeahead would be a much better option and I would concede that.

[2017-10-27 00:58] wmbutler commented on #556
The user will navigate the appropriate account first and then choose to send. This solves many issues related to knowing which account a user is 'in'. It logically makes sense to choose the account you wish to send from before you initiate a send operation.

[2017-10-27 04:52] btsfav commented on #538
refund is just like any other worker, it can be voted out too.

I'd like to see the total available funds (pool) somewhere in this screen too

[2017-10-27 05:55] svk31 commented on #538
I'm not sure what else I can say to explain it, I feel like I've addressed all your points about how this works in previous comments.

The budget is defined on the blockchain level and depends on the reserve pool size, witness pay and probably the amount of fees being paid, as well as the amount being consumed by the refund worker (which simply channels worker pay back into the reserve pool).

The

[2017-10-27 06:43] xeroc opened #653 "[1.5] Cloud-wallet only deployment - still possible to enable wallet/local mode"
When I comment `local_wallet` in SettingsStore
[code]

I am still provided a button to enable wallet in Settings->Import
![](https://i.imgur.com/kBF7ybQ.png)

When clicking it, I cannot go back to cloud wallet in the settings dropdown anymore

[2017-10-27 06:51] #633 closed

[2017-10-27 06:55] #627 closed

[2017-10-27 07:16] xeroc opened #654 "[1][bigspider] locale/language support seprated among multiple files"
If I wanted to remove a language from the drop down, it is not sufficient to remove it from the
`defaults.locale` key, but you would also need to remove it from `IntlStore`
Could the imports be made so that they depend on what the config/settingsstore says, please?

[2017-10-27 07:35] svk31 commented on #538
Maybe this helps, I've restored the display of the total budget, and added a column that shows how much of that budget remains as you move down the list of workers.

![image](https://user-images.githubusercontent.com/6890015/32092752-150c1760-bafa-11e7-8c5b-c8a8cbee8942.png)

[2017-10-27 08:24] svk31 commented on #538
I've implemented what I feel makes sense if we're to split the workers based on your criteria. The "Votes required to active" threshold is dynamic and just depends on the amount of votes of the worker that is currently consuming the final part of the budget, right now that is the refund400 worker.

I changed Daily Pay to say "Asking Pay" which I feel better describes the way this works. You're ask

[2017-10-27 09:08] lzmlam commented on #623
Have done. Please tell me anything that needed to be modified. BTW my bts account is : zhaomu8

[2017-10-27 19:15] abitmore commented on #651
I was talking about the first screenshot. "BTC sent to this address will show up as OPEN.BTC" is simply wrong.

This is a blocktrades feature and is already there and works fine, I don't think it's necessary to create a duplicate one or redesign it.

Although we may want to integrate shapeshift and/or changelly and/or whatever else in the future, but it's not that easy to do all of them in one pag

[2017-10-27 19:17] wmbutler commented on #651
Correct it will show up as BTS. Just an oversight on the UX. I'll get that corrected.

[2017-10-27 19:22] abitmore commented on #651
We love and hate blocktrades. People can trade in and out BTS via it, that's good. It maintains an off-chain order book with a significant depth (many pairs are deeper than the on-chain order book), that sounds not that good for the Dex.

[2017-10-27 19:25] wmbutler commented on #651
It's already there. It's an easy way to buy BTS for new users. All I'm doing is adding consistency. Don't shoot the messenger.

[2017-10-27 19:26] abitmore commented on #651
If the "buy BTS" feature is based on the on-chain order book, then it will be much better, like the "buy" and "sell" button in the basic view.

[2017-10-27 19:28] wmbutler commented on #653
Thanks for this bug report.

[2017-10-27 19:30] abitmore commented on #651
If this feature only works with blocktrades, it should be funded by blocktrades but not the worker.

[2017-10-27 19:43] abitmore commented on #556
That's fine. But please remember the scenario around "send to" button (not the "send" button).

[2017-10-27 19:47] abitmore commented on #557
Yes, a typeahead would be good. When the user typed nothing, list a few pre-defined coins instead so the user can click without type.

[2017-10-27 20:42] startailcoon opened #656 "Price History Zoom Issue"
When selecting a candlestick period that is larger than the zoom level, the program will freeze with a loading message. To revert back the user needs to reload the screen, select a smaller candlestick to match the zoom and reload again.

![bitshares-pricehistory-bug](https://user-images.githubusercontent.com/12114550/32124400-e29ad848-bb67-11e7-9fad-63bfdadf1dbb.gif)

### Reproduce
- Select any tr

[2017-10-27 21:03] wmbutler commented on #656
Duplicate #361

[2017-10-27 21:03] #656 closed

[2017-10-28 13:51] btsfav opened #657 "Feature: Add Native Bitcoin Wallet (linked to BTS private key)"
So this would lay the foundation of atomic swaps between bitcoin and bitshares, and would open bitshares up to a greater community.

Every BitShares Account has a bitcoin address attached via its private key.

* extract the bitcoin address from the active private key
* add a Bitcoin wallet tab - with basic data send&receive
* add API access via https://api.greenaddress.it/index.html (or via witnes

[2017-10-28 14:22] startailcoon commented on #632
- [x] Footer visible on Market section
- [ ] View current node status

### Would like some input on this change.
- Added the node URL to the hover tooltip
- Added dynamic color of the "Sync" text depending on ping time, using the values from the access page.

What I don't like is that the URL address is a little clunky and not specifically pretty, but would let you quickly see what node you're con

[2017-10-28 15:27] jonnybitcoin opened #658 "[.25][startailcoon] BTS trade button missing from portfolio view"
BTS trade button missing (not enabled) from portfolio view.
Even when you have a balance.

[2017-10-28 16:04] startailcoon commented on #658
I think this is because the trade button on other assets assume you wish to trade that asset towards BTS. Since you can't trade BTS:BTS it's disabled.

The question is what other asset you should wish to come up when you select the BTS trade button.

One solution would be to make the button trade against the selected default unit that the user has. A user that has bitUSD as default unit would get

[2017-10-28 18:06] wmbutler commented on #658
Yes. The user always has a default unit, so this is a great idea.

[2017-10-28 18:10] startailcoon commented on #658
I can claim this. May get this done before the release next week

[2017-10-28 18:17] wmbutler commented on #632
I like what you've done with this, although I think seeing "synced" while it's red is an ambiguous control. Probably best to be green when in sync and red when out of sync. There is no need to draw the users attention just because latency is low.

[2017-10-28 18:21] wmbutler commented on #658
Awesome. It's yours.

[2017-10-28 18:34] wmbutler commented on #650
Marking as a question until we can reproduce.

[2017-10-28 18:38] wmbutler commented on #538
This is great. I changed a few labels for brevity. Really happy with how this turned out.

[2017-10-28 18:56] wmbutler commented on #651
It's a dropdown list. That's what the downward arrow specifies. Why don't you open the existing wallet and give it a try?

[2017-10-28 18:59] wmbutler commented on #651
- [ ] Updated text to indicate "will show up as BTS"
- [ ] Display address below barcode only

[2017-10-28 19:01] startailcoon commented on #302
So, what should we go for? OP proposed to give big orders in the book a bolder status and users orders a colored row.

I think a colored row would look good, but would need to be theme dependent. A bold row is just slightly highlighting for users.

How does all other exchanges do it? If everyone else does this the same way and we do something different, we might end up having a few confused users.

[2017-10-28 19:01] wmbutler commented on #581
Let's at least display the market fee. Easy win for now.

[2017-10-28 19:02] wmbutler commented on #302
I'd suggest bold. It's easy and we can always fine tune it.

[2017-10-28 19:28] startailcoon commented on #302
I agree with a bold text since color can be difficult to pick as it may depend on location of user, choice of theme and readability.

One solution, that we could come back to later, would be to let the user choose their own light/dark theme color they wish to see.

[2017-10-29 09:08] startailcoon commented on #302
I can claim this, and possibly fix it before the end of this milestone

[2017-10-29 10:39] startailcoon opened #661 "[6] View referrals in wallet"
It would be a good tool to view referrals inside the wallet. At the moment we can only do this online at cryptofresh. I see a list of username and date of signup as the minimal task for this.

Additional tasks could be to add a tab in the account activity to also view Referral commissions that you will receive.

I think this would make it more visible for others that you can refer others and earn

[2017-10-29 15:36] startailcoon commented on #579
I personally think we should list all borrowable assets under the Margin Positions tab, even if you don't own any. This way you can always find which assets are borrowable. Today it can take some searching to find which are and aren't.

We should **not** display any other assets in the portfolio that the user doesn't own.

We could split up the Margin Positions tab to have two tables, one for Bloc

[2017-10-29 16:09] ThomasFreedman commented on #649
My intuition gives me the same impression Mr. Bill, and I agree, many bugs (especially subtle ones) are found by fresh eyes. Instrumenting the cli wallet's C++ code and comparing that to data produced by the javascript code may yield clues to isolate the cause of the issue. Whatever method is used, I hope the cause is uncovered by someone soon.

This is an important usability issue and directly re

[2017-10-29 16:20] wmbutler commented on #661
I've been thinking about this as well. Maybe from this endpoint? I need to UX that whole screen and add referrals.

http://localhost:8080/account/billbutler/member-stats/

[2017-10-29 19:05] btsfav commented on #661
LTM upgrades are not associated with affiliates, this could be a problem.

I'd like to see

* Total Refs
* Total LTM Upgrades
* Earnings

[2017-10-29 19:06] kimchi-king commented on #657
This is a fantastic idea and is a much needed feature. I hope more people support this.

[2017-10-29 20:40] abitmore commented on #651
Thanks. I overlooked the arrow on the left, only saw no arrow on the right (now I know it's not there for a reason).

[2017-10-29 22:49] happyconcepts commented on #530
@wmbutler thank you, it was pushed out from 10-01 to 10-15.
#575

[2017-10-30 03:54] happyconcepts commented on #658
#217

[2017-10-30 06:48] startailcoon commented on #651
I can take this task

[2017-10-30 08:50] #598 closed

[2017-10-30 09:04] #658 closed

[2017-10-30 09:26] svk31 commented on #653
It wasn't coded to support that so this needs a bit of restructuring I think. Not sure I agree it's high priority tbh

[2017-10-30 09:51] svk31 commented on #302
This requires some changes to be made to market classes for orders that are summed at the same price point, so I prefer to handle this myself.

[2017-10-30 10:17] startailcoon commented on #302
Of course, just offering my services.

[2017-10-30 10:28] #302 closed

[2017-10-30 10:30] #623 closed

[2017-10-30 10:31] #632 closed

[2017-10-30 11:11] #581 closed

[2017-10-30 11:27] svk31 commented on #650
It's an issue with the faucet that only occurs randomly, hard to fix without being able to reproduce. I've had it happen a few times myself too, but the account still got created and a refresh always fixed it.

[2017-10-30 13:52] #579 closed

[2017-10-30 16:32] wmbutler commented on #538
- [ ] bug, greater china representative wp is missing
- [ ] Due to length of url and name, stack the proposal name and the account name

![screen shot 2017-10-30 at 11 30 15 am](https://user-images.githubusercontent.com/1254810/32182965-fcabcf4e-bd65-11e7-99e6-bfb8d1f6a188.png)

[2017-10-30 18:19] happyconcepts commented on #635
So I have a web-based wallet account but there is no option there to create a backup file.

Should I be making backups of my keys instead, is that the right approach?

[2017-10-30 18:58] abitmore commented on #649
@ThomasFreedman to be fair, `cli_wallet` doesn't have latency check nor built-in fail over feature, so unable to compare at all.

[2017-10-30 19:38] CryptoKong commented on #657
Yeah i think this is a great idea, would love a Bitcoin QR code to send to as well.

[2017-10-30 21:03] diogo-gomes commented on #588
@btsfav

What do you think replace `Symbol` with `Asset`?

[2017-10-30 21:04] wmbutler opened #667 "[4][diogogomes] Dashboard - Responsive Design, mockup"
The account dashboard needs a responsive design. It should change to display properly at all resolutions down to an iPhone. Certain fields will need to be omitted as the width decreases and action items will need to be condensed to menus.

Notes:

- [ ] Disregard the side menu and top menus (those will be handled elsewhere)
- [ ] Smallest form factor must display: asset, qty, price, value
- [ ] Tr

[2017-10-30 21:33] startailcoon commented on #667
Nice, this has been a real annoyance on my phone  👍

[2017-10-30 22:49] Xeldal commented on #641
@wmbutler @svk31 The Question label for this issue is not appropriate.  This is a proposal not a question.

A lot of suggestions have come up here but i think for the most part they are being handled in other issues.

Drop the "My" for consistency with the rest of the tables tabs
Change "Portfolio" to "Balances".  Portfolio is not applicable to just a table of balances.

The issue of the estimated

[2017-10-31 01:25] magicstone1412 commented on #667
Really exciting with this features. I think Responsive Design should implement for all UI. But we need to improve gradually. Will you use BootStrap for doing this @wmbutler? Thank you for your team efforts

[2017-10-31 02:30] Xeldal opened #668 "Display columns "| Price | Amount | Total | Sum" consistently left to right throughout exchange"
Ordering from left to right PRICE | AMOUNT | TOTAL is very common.  Sometimes there is also a 4th column "SUM".  The words aren't so important -they are very general- so long as you're consistent.

Given that we are not labeling most of these columns it would be a good idea to remain consistent within the same page to order them in the same way throughout.

Currently we have the above left to righ

[2017-10-31 02:36] Xeldal opened #669 "Price colors missing from horizontal orderbook."
The vertical orderbook prices are colored orange and green.

The Horizontal orderbook is missing these colors.

[2017-10-31 02:44] Xeldal opened #670 "[0.75][svk] Display dates instead blocks in the My Trades table"
Currently the "My Trades" tab on the exchange page has the 4th column of "block" and the "Market Trades" tab has the 4th column of "Date"

Use one or the other and use it for both tabs.  Either way you can link to the block as the My Trades tab currently does.

I'd suggest listing the time/date for both and have them link to the block.  No one cares at a glace what block it was in.  That informati

[2017-10-31 06:20] svk31 commented on #635
The backup message will only be shown to local wallet users, that's what the indexed dB detection is for.

If you're using a cloud wallet account your backup path is to write down and store your username and password.

[2017-10-31 08:09] #538 closed

[2017-10-31 08:09] svk31 commented on #538
https://github.com/bitshares/bitshares-ui/commit/71821f19e3619351b8ff8a06eb541880244d3971

[2017-10-31 08:11] svk31 commented on #670
The reason one has blocks and the other has dates is that that's what's provided as data from the API. I can't link directly from a date to a block without doing a lot of API calls to determine the block number, but I can add a component that takes a block number and outputs the date.

[2017-10-31 08:12] startailcoon commented on #670
I agree that the time is more useful than the block number, and that the layout should be consistent. The date should link to the block number for more detailed information if the user wishes.

[2017-10-31 08:15] svk31 commented on #669
I think I removed the colors on purpose in the horizontal tables and simply forgot about the vertical orderbook since I never use it.

@wmbutler should we use the colors or not? Either we restore them to the horizontal tables or we remove them from the vertical tables.

[2017-10-31 08:17] svk31 commented on #667
The GUI uses Foundation for Apps, not Bootstrap.

Tables are quite problematic for responsive designs, I already hide some columns but we'll have to hide a lot more.

[2017-10-31 09:19] #670 closed

[2017-10-31 09:33] #644 closed

[2017-10-31 09:34] svk31 commented on #644
The format used doesn't even include the year so I'm not sure why your tables show the year. Either way these commits: https://github.com/bitshares/bitshares-ui/commit/f29e5664f497870c465d0f69d56d5e96fd0306b2 and https://github.com/bitshares/bitshares-ui/commit/70f38cf1d599765a3896a51ac34230495bd544e7 changed the formatting to use counterpart's `localize` function instead which should fix this. Am

[2017-10-31 09:52] ruslansalikhov opened #671 "Bad assets address in electron build"
Hi

this commit https://github.com/bitshares/bitshares-ui/commit/313eba1fcb4ae455743645c006b6869af2c2b699 broke loading assets.

Screenshot: http://prntscr.com/h4a0pg

[2017-10-31 09:54] svk31 commented on #671
Not for me, which build are you using?

[2017-10-31 10:03] #671 closed

[2017-10-31 11:39] startailcoon commented on #644
That's strange. I'll see if it's still weird after the update

[2017-10-31 14:48] wmbutler commented on #668
I like quantity better than amount because amount doesn't always refer to a count. Beside that I' indifferent. This is a tough one. You've offered some good suggestions but I think each comes with a compromise. Maybe if you drew up your ideas...

[2017-10-31 14:50] wmbutler commented on #657
Sounds like step one is to address the key changes. That discussion can happen here if need be. If we fail to address the key change, people will lose their BTC without even knowing it. Maybe we just check their address for a balance and disallow a key change if the balance > 0?

[2017-10-31 15:01] wmbutler commented on #669
I like the colors. It provides a nice visual cue for which part of the order book they apply to.

[2017-10-31 15:24] svk31 commented on #669
Yep I like em too, not sure why I removed them in the first place. I'll put em back for tomorrow's release.

[2017-10-31 15:28] Xeldal commented on #668
It would likely take me longer to draw a mockup than it would to affect the actual changes.

It is very simple.
Just reverse the order of the columns for the "Buy Orders" window and the vertical Orderbook window so they are all the same orientation.  That's it.

With a side request to change the word "Total" in the last column of the Orderbooks to "Sum" so it is consistent use of the word "Total".

[2017-10-31 16:14] btsfav commented on #657
@wmbutler balance >0 sounds like a very good idea to prevent this

[2017-10-31 16:59] Smailer-x opened #673 "Highlight the account tab headers."
To make more obvious what the tab is selected on the account table suggest to highlight the area like on this sample :
![photo_2017-10-31_16-41-33](https://user-images.githubusercontent.com/22348661/32237342-c209ec3e-be75-11e7-9ed7-e78030858286.jpg)

[2017-10-31 17:24] #673 closed

[2017-10-31 20:47] startailcoon commented on #513
A "simple" error message with the following text on the transaction confirmation screen would suffice, wouldn't it?

*Please note that your vesting balance quantity is less than the current transaction fee*

[2017-11-01 02:09] happyconcepts commented on #635
Both `web wallet` and `web-based wallet' are used in the copy text and as the reader I did not understand that it is a reference to the local wallet. Thanks.

[2017-11-01 04:08] happyconcepts commented on #635
This is a timely message and should be made highly visible. Where do you propose it will be shown?

[2017-11-01 04:44] happyconcepts commented on #635
@svk31 good day ... I started a PR #675 to help the project. Perhaps you have in mind somewhere else other than the backup screen for the notice.

[2017-11-01 09:16] landry314 commented on #668
Seems like simply an oversight due to a quick design in the first place as with much of this program. You are 100% right it should be fixed. I noticed this a while ago and thought the same thing.

[2017-11-01 09:17] landry314 commented on #657
But then how would someone change their password? Sure, transfer bitcoin out then back in to the new address... or a change in the next hardfork to take care of this automatically... I guess that is all we have.

[2017-11-01 10:01] btsfav commented on #657
extra confirmation window then. there could be only dust sitting on an address

[2017-11-01 10:27] svk31 commented on #635
I was thinking I'd make a stripped down build for bitshares.org/wallet that only includes the message and a way to backup the wallet.

[2017-11-01 12:13] svk31 commented on #530
I've merged the PR and added a similar logic to the modal used in the account portfolio view.

[2017-11-01 12:13] #530 closed

[2017-11-01 14:15] btsfav commented on #583
@wmbutler @svk31 please reopen, sorting should work top-bottom and reverse. it's only one-sided at the moment

[2017-11-01 14:21] btsfav opened #676 "[.1] Referral Link in membership to be changed to new address"
see title, should be wallet.bitshares.org?r=

[2017-11-01 14:24] btsfav commented on #583
edit2: nvm, two-way sorting ONLY works if you do not have assets hidden.

[2017-11-01 14:43] btsfav opened #677 "[.25] wallet.bitshares.org referral does not work: unknown referrer code"
![](https://i.imgur.com/jft7iAb.png)

[2017-11-01 15:04] wmbutler commented on #677
Please post the exact url you used for the referral. Thanks.

[2017-11-01 15:06] wmbutler commented on #676
Should be set to that starting with the new release on 11/15

[2017-11-01 15:08] btsfav commented on #677
wallet.bitshares.org?=fav

[2017-11-01 15:41] #634 closed

[2017-11-01 15:42] svk31 commented on #677
@xeroc What's the correct way to send this to the new faucet?

[2017-11-01 15:54] svk31 commented on #630
What happened to the left menu under Account?

[2017-11-01 18:44] Xeldal opened #679 "Remove "Market Depth" button. Label graph drawer in lower right."
Market depth graph is viewable in 2 places on exchange page.  Only need 1.  The sliding drawer in the lower right I feel is the better one as I don't think it needs to be any bigger than that, but it doesn't currently have a label.

Label the drawer in the bottom right "Market Depth" or "Depth Graph"
Remove "Market Depth" button at the top of the chart.

Another option if it's part of the charting

[2017-11-01 19:12] wmbutler commented on #679
Can we table this since we are adding Tradingview and it will likely influence this?

[2017-11-01 19:13] wmbutler commented on #679
#361

[2017-11-01 20:19] Xeldal commented on #679
Yeah no sense in changing things twice if it's covered under a larger issue.

[2017-11-02 00:09] wmbutler commented on #607
@mattbeckman reply here with your bts address

[2017-11-02 00:11] mattbeckman commented on #607
Thanks, @wmbutler. It's **netdragonx-2017**

[2017-11-02 03:04] Jrejoire opened #680 "OpenBTC Withdrawal - No response"
Hey everyone,
I'm having bit of an issue on BTS exchange. I'm trying to withdraw my open BTC to a paper wallet in prevision to the hard fork. But I get no response when hitting the withdraw button. I tried various amounts... Anyone having issues?

![untitled](https://user-images.githubusercontent.com/33304306/32307857-f3658d5c-bf82-11e7-9517-1af41c88cc22.png)

[2017-11-02 05:31] wmbutler commented on #680
Wallet Version:
Account Name:

Try from the deposit/withdraw screen instead under openledger. I'd be curious to know the result.

[2017-11-02 05:34] wmbutler commented on #558
This was a tricky UX because naming a button "cancel" under these circumstances is definitely ambiguous.

[2017-11-02 05:57] page1 opened #681 "Can't load market"
I created this issue in core, but I think its probably best here. (unless its an underlying issue)
https://github.com/bitshares/bitshares-core/issues/457

I can't get the markets to load - https://wallet.bitshares.org/#/market/BTS_BTC
![image](https://user-images.githubusercontent.com/6609556/32311175-b7e0d21c-bf5c-11e7-84c8-9a4af3a5522a.png)

I've tried with chrome and edge.

I just downloaded th

[2017-11-02 06:00] page1 commented on #681
Maybe this invalid date is related?
![image](https://user-images.githubusercontent.com/6609556/32311968-d573ab02-bf60-11e7-9548-817e33967914.png)

[2017-11-02 06:46] startailcoon commented on #681
Have the same issue as well, it's not only you. Using Edge gives the same loading error. I think there is something in the last update if the UI that made this.

[2017-11-02 06:51] svk31 commented on #681
Unrelated to dates, it's from the new highlighting of your own orders in the orderbook. I'll put out a hotfix during the day, will include a fix for the dates as well.

[2017-11-02 06:52] #681 closed

[2017-11-02 06:53] svk31 commented on #680
Even more useful: console logs from the dev console.

[2017-11-02 07:00] #669 closed

[2017-11-02 09:25] compumatrix opened #682 "[.1] Hash Download for new release empty"
hash_history_dist_2.0.171102.zip is empty

[2017-11-02 10:33] landry314 commented on #679
I use the large market depth all the time and would personally prefer removing the small one, actually... but, when the new charts are out and the left over dust/wicks issue is solved then that might change. I agree with Bill, the new charts should be added first then this discussion will be more relevant.

[2017-11-02 10:35] landry314 commented on #583
@svk31, you are right, it doesn't make sense to sort by Qty but for consistency, it might be nice to add.

[2017-11-02 12:06] btsfav commented on #677
bitshares.org/wallet referral doesn't work either, are you guys kidding me?

@svk31 @wmbutler this is not acceptable, please test this stuff first before you change. ALL ref links are worthless now.

[2017-11-02 12:12] btsfav opened #683 "Who decided to change the default faucet and why?"
Who made the decision to ninja change the default registrar faucet (which is not even working) and why?

Let me remind you that openledger offers tons of access nodes, they fully deserve to be the default faucet.

also, I *HOPE* whoever made this decision checked with bitshares.eu that they disable the "default proxy" setting, or else you'll commit to voter bias in the reference client.

[2017-11-02 12:50] o5j5vg55bv5hv5j5f8799f9 commented on #290
This got tagged under **deposit withdraw rewrite**, but this has nothing to do with deposit or withdraw.

It's just simplified interface for exchanging asset A for asset B for those who don't know how to use normal exchange interface.

Like on-chain shapeshift.

[2017-11-02 13:03] o5j5vg55bv5hv5j5f8799f9 commented on #158
What does web wallet file mean? The local mode bin file?

can be just a csv or json file that keeps preferences. it would be more like a layout file.

I think this can be combined with friends/contacts suggestion: same file can store various layout preferences, favorite markets, contacts

cloud/local users on web wallet or downloaded wallet might want to use this as well or even switch layouts bet

[2017-11-02 13:06] abitmore commented on #200
More discussion in https://github.com/bitshares/bitshares-core/issues/449, and I proposed a fix in https://github.com/bitshares/bitshares-core/pull/455. Please check.

[2017-11-02 13:07] o5j5vg55bv5hv5j5f8799f9 commented on #651
terminology on gateway seems wrong: it refers to blocktrades as gateway when it's a bridge

[2017-11-02 13:14] abitmore commented on #200
Actually there are two issues in this ticket:
* the chart. Described in previous comment.
* the dust. This is somehow related to [the rounding issue](https://github.com/bitshares/bitshares-core/issues/342). IMHO UI's (not only bitshares-ui but also other UI's, bots and etc) should create orders more accurately to avoid leaving dusts, but we can't prevent people from submitting their own orders whi

[2017-11-02 14:45] xeroc commented on #677
Dang .. I need to fix this asap .. I missed that people use bitshares.org with the old style referal account string

[2017-11-02 15:34] hubba1 commented on #677
that referral link for fav doesn't work either....I got an error that says fav is an unknown referrer

[2017-11-02 17:32] kimchi-king commented on #683
Reducing the affiliate percentage and changing the referral link all together without notifying the community is totally uncalled for.

How does something like this happens?

I don't believe this was thought through as well as it should have been and reflects poorly on the processes we all hold dear.

[2017-11-02 17:32] wmbutler opened #684 "Issue with faucet and referral codes"

[2017-11-02 18:11] wmbutler commented on #683
Agreed. I'll get a statement out on this soon.

[2017-11-02 18:23] o5j5vg55bv5hv5j5f8799f9 commented on #406
This doesn't have to be [core change](https://github.com/bitshares/bitshares-core/issues/456). In fact, it would be safer for protocol to have this done on UI level by simply executing buy/sell command at specific price. It would require keeping UI open, but pose no consensus risks.

I think it's extremely dangerous to have publicly visible stops. This would hide them.

Due to liquidity of the dex

[2017-11-02 19:32] jonnybitcoin commented on #679
I also use the large depth graph more than anything. The small depth graph doesn't give enough detail and I'd like to see it removed.

[2017-11-02 21:34] wmbutler opened #685 "[.1] Invalid Date"

[2017-11-02 21:34] #685 closed

[2017-11-02 21:50] landry314 commented on #679
@jonnybitcoin, you know, the little triangle hides the small market depth on the lower right...

[2017-11-02 22:54] wmbutler opened #686 "[6][gibbsfromncis] Browser Notifications"
It would be pretty interesting to build in chrome notifications for trade orders.

[2017-11-03 04:50] Jrejoire commented on #680
Thanks you for your quick reply.
I'm using the web version of the wallet, Not sure the version.
Account name: jrejoire-86

The withdrawal through Openledger (OPEN.X) didn't response either.
Same thing when I click the Withdraw now button.

I tried trading to Steem through Blocktrades but it did the same thing.
I tried various browsers as well but it doesn't seem to be causing the problem.

Any sol

[2017-11-03 06:31] startailcoon commented on #686
System notifications would be a great feature. But we should try to make it universal notifications not just Chrome, so we can use the Windows 10 notification system as well.

[2017-11-03 07:06] tximiss commented on #566
For me, in Firefox the behavior is consistent.

[2017-11-03 07:23] vanissoft opened #687 "My Portfolio should show total quantity of each asset"
At this moment Account shows the asset balance distributed between "My Porfolio" "Open Orders" and "Margin Positions".
In Bittrex, for example, the "Wallet" contains all the assets, including the ones in sell orders. They are distributed in balance, available and open orders.
IMO have more sense if the Portfolio would show Qty and Value we got and Qty and Value available (total minus the sell orde

[2017-11-03 12:00] landry314 commented on #687
I too agree that one tab containing everything would be easier than switching tabs constantly, like how this program used to be. If you have a lot of assets then the tabs become more useful, yes, but I too would like a tab that contains a list of all the assets I am currently working with and their totals...

![hide zero balances off](https://user-images.githubusercontent.com/6866501/32372783-b1d4

[2017-11-03 12:09] wmbutler commented on #566
Maybe if you post a screencast for clarity.

[2017-11-03 13:48] abitmore commented on #566
I will check with latest UI when got time.

[2017-11-03 14:00] abitmore commented on #680
Perhaps a time/clock syncing issue?

@Jrejoire: in Chrome, press ctrl+shift+I to get console logs, paste screenshot here.

[2017-11-03 14:30] landry314 opened #688 "Tie Hotkeys '[' and ']' to Back/Forward"
In most browsers the keys '[' and ']' are set to "back" and "forward" when used with the "Apple" or "Windows" key...

Are hotkeys possible in the BitShares standalone program?

[2017-11-03 14:42] wmbutler commented on #623
I need your bts address to pay you.

[2017-11-03 15:40] wmbutler opened #689 "[1][mattbeckman] Sort order in Portfolio is unreliable"
I find that sometimes sort activates and sometimes not. It happens frequently enough that with just a little bit of fiddling I think you can reproduce.

[2017-11-03 16:01] svk31 commented on #689
Sorting of what?

[2017-11-03 16:50] startailcoon commented on #689
I think @wmbutler talks about the sorting of assets on the account dashboard, I've had the same issues using it in the new version.

I'll try to reproduce some logging.

[2017-11-03 20:17] wmbutler opened #690 "[.5] Add bitshares-core version to witness list"
Column header: VERSION

![screen shot 2017-11-03 at 3 15 55 pm](https://user-images.githubusercontent.com/1254810/32394130-10ccde04-c0aa-11e7-987b-5e9bfe320f2d.png)

[2017-11-03 22:28] wmbutler opened #691 "[4][zhyupe] Portfolio flash / glow / pulse on price change"
This is cosmetic, but a green/red flash based upon price movement draws the eye and help the observer intuitively understand the direction of the market. With our low liquidity, this won't be too active, but I do think it would be a subtle UX win.

Make all three values the same color and follow the pulse css.

- [ ] pulse %change
- [ ] pulse price
- [ ] pulse value

[2017-11-03 22:31] abitmore opened #692 "Show API Nodes' head block number and/or time"
From @wmbutler in Telegram:

When querying status of API nodes, we want not only "up" and "down", but also "in-sync" or "out-of-sync".

[2017-11-03 23:40] wmbutler opened #693 "[.5][startailcoon] Roboto instead of Roboto Condensed in tables?"
Roboto Condensed

![screen shot 2017-11-03 at 6 37 33 pm](https://user-images.githubusercontent.com/1254810/32399697-2a807790-c0c6-11e7-86d8-41b63805cc50.png)

Roboto

![screen shot 2017-11-03 at 6 38 54 pm](https://user-images.githubusercontent.com/1254810/32399709-4dedde02-c0c6-11e7-99b6-c9698b6df74b.png)

These attributes will help with legibility as well:

font-family: Roboto;
    font-style:

[2017-11-04 02:44] Jrejoire commented on #680
Thanks for mentioning that. It should provide some extra information...
Here is what I got.

![untitled](https://user-images.githubusercontent.com/33304306/32401600-818d4bfc-c112-11e7-9f63-0de47f982212.png)

[2017-11-04 03:01] Jrejoire commented on #680
It finally worked out for me. I added BTS to my account, renewed my Private Memo key, then used BTS for the fee. Might have been the issue. Thank you so much for helping out everyone! ;-)

[2017-11-04 09:27] svk31 commented on #680
Yea, the problem was your memo key, one question is how you ended up logged in but without access to your memo key. Have you used the cloud wallet migration form to setup new keys?

[2017-11-04 12:04] startailcoon commented on #693
I think the second image is harder to read, but it may just be the screen capture.

I can claim this task

[2017-11-04 14:35] startailcoon commented on #679
I can't understand why we should remove features that aren't taking any space. You wish to remove the large, more detailed data window that isn't visible unless you tell it to, but save the smaller window that you can also hide if you wish. None takes any space, don't remove this.

When we change to the new system, we can revisit this and talk about what to have and not to have.

[2017-11-04 15:06] landry314 opened #694 "[.5] Asset Doesn't Appear After Creating User Issued Asset Until A Reload"
Steps To Reproduce:

1) Go to ACCOUNT -> Advanced Features -> Issued Assets
2) Create an asset

The asset will not appear in the list of Issued Assets until after the user reloads the program. A reload solves this problem.

I am using the Mac OS stand-alone program.

[2017-11-04 15:12] wmbutler commented on #693
I'm not sold on it. Maybe with a font weight of 400. Maybe post a few samples. My main goal here is to move away from condensed because I think it has its own set of readability problems.

[2017-11-04 15:15] startailcoon commented on #693
Agree, condensed font has its own issues as well and isn't the best choice. Bold or Condensed fonts shouldn't be used unless you're trying to highlight something particular. Normal text, like this, should be using something more of standard.

I will post a few samples and we can go forward after that.

[2017-11-04 15:16] landry314 opened #695 "[.5] Cursor Jumps to End of Maximum Supply Field When Deleting Leading Non-Zero Digit"
Steps to Reproduce:

1) Go to ACCOUNT -> Advanced Features -> Issued Assets
2) Create Asset
3) Click in Maximum Supply field right after the "1" in "100000"
4) Delete the "1"

This causes the 1 to disappear as expected but then the cursor goes to the end of the remaining "00000" so when the user types a new number to replace the 1 it causes it to be placed as the least significant digit instead of

[2017-11-04 15:43] startailcoon commented on #695
This is an issue on multiple places when you input something and removes the leading number. I've had this exact thing happen for me on other places as well. I haven't investigated any further about it though.

[2017-11-04 16:16] wmbutler commented on #695
@startailcoon would you like to claim it?

[2017-11-04 16:31] startailcoon commented on #693
Today we use RobotRegular for the header of the table and RobotCondensed for the table body. I suggest we switch these around, example in Take 2 is what I like the most.

Table Header uses a `font-weight: 600` and `font-size: 80%`
Table Body uses a `font-weight: normal` and `font-size: 100%`

Here are a few samples.

# Original Today:
Using:
[code]
![bitshares-dashboardfont-current](https://user-i

[2017-11-04 16:33] startailcoon commented on #695
@wmbutler, sure. I could take this under my wings and see what I can find. I have an idea what it can be about.

[2017-11-04 16:56] startailcoon commented on #695
@landry314, can you please provide some information regarding your setup?

**System**: (Linux/Windows/Mac)
**Wallet Type**: (Browser/Installed)

The default is to remove all 0's when you remove the first digit, since the value is not valid, but it doesn't work as expected in the light-wallet on Windows as far as I can tell. Is this your setup as well?

[2017-11-04 17:16] landry314 commented on #695
@startailcoon, but of course, fellow, raccoon...

Mac OS 10.12.6
BitShares stand-alone application version 2.0.171102.428

[2017-11-04 17:59] fractalnode commented on #117
I would like to be able to retrieve an entire account history from a node into a wallet and save it in a csv file. Maybe it could be a paid operation (for about 0.5 bit USD) and maybe this could be a task for the so-called standby witness, as an additional financial incentive. In addition, I would like to be able to export such a full history from wallet to csv file and then import this history in

[2017-11-04 18:41] fractalnode commented on #687
for me very important column would be:
whats is percentage value of every assets in the whole portfolio?

[2017-11-04 18:43] landry314 commented on #117
Payment changes need to go into the core code, not the UI... but this data is all available publicly anyway so an algorithm that scans the blockchain could retrieve it. You just need to find or write this code.

[2017-11-04 18:44] fractalnode commented on #17
or Market Order

[2017-11-04 18:54] startailcoon commented on #695
Since different platforms works in different ways, the input field isn't working as expected everywhere. I have the same issue as landry314 on Windows with the light-wallet. While Firefox works in Linux, as well as Edge on Windows.

The supplied PR #696 solves this by adding more control over the input and some more validation instead of relying on the OS/Browser to handle it.

[2017-11-04 19:10] startailcoon commented on #695
@wmbutler we should apply this to most of the inputs and extend it to inputs in sections like `Core exchange rate`, `Market fee`, Market: `Price`, `Quantity` for example.

[2017-11-04 19:43] compumatrix commented on #682
any progress on this issue?

[2017-11-04 20:04] wmbutler commented on #687
@fractalnode please open a separate issue for your request.

[2017-11-04 20:08] startailcoon commented on #690
Correct me if I'm wrong, but the `witness_object` in the BitShares chain does not contain this information.

https://bitshares.org/doxygen/classgraphene_1_1chain_1_1witness__object.html

[2017-11-04 20:16] wmbutler opened #697 "[20] Messaging"
Allow for a messaging platform within the BTS wallet. Many potential uses including announcements, marketing, p2p communications. Since transactions cost BTS, this would self-regulate spam. BTS network earns fees in the process.

Establish JSON object for MEMO field:

[code]

Other thoughts:
- [ ] Variable user-selectable fee, greater fee implies greater importance.
- [ ] Inbox can be sorted by ti

[2017-11-04 20:24] btsfav commented on #697
probably related to https://github.com/bitshares/bitshares-ui/issues/233

[2017-11-04 20:25] wmbutler opened #698 "[1.5] Add current price quote to Open Orders Screen"
Column: QUOTE

![screen shot 2017-11-04 at 3 24 28 pm](https://user-images.githubusercontent.com/1254810/32409155-58740212-c174-11e7-8294-a5dd71ddbeeb.png)

[2017-11-04 20:46] wmbutler opened #699 "When creating a PM or MPA via the GUI..."
@svk31 saw this conversation and wanted to make sure you could check it out.

Tim, [04.11.17 15:07]
When creating a PM or MPA via the GUI, the field for minimum number of price feeds cannot be modified. It recognizes the default 7 as an integer, but once modified, it thinks the input is not an integer. So to even create my PM, I had to create it with the default input, and then update the feed req

[2017-11-04 21:43] happyconcepts commented on #682
Does this help, from [bitshares download page](https://bitshares.org/download/)

BitShares 2 (October 25th, 2017 / GUI November 2nd, 2017)

  Windows
sha256: 4e12af37e36493f42d59a09b903e1d7cfcad00cbc595ee4a697ac3576de9ad0c

  Mac
sha256: cc06cff51605714bdb8c07d74cf38012e159c5b7142b1598c87c66bf21306205

  Linux
sha256: 7ae0a3b873ca265669f7c913829bacfab401bc71b00e2b7575d2477ca8f28d44

[2017-11-04 23:50] startailcoon opened #700 "Markets Price Table Incorrect"
For some reason the market list table does not view the correct price sometimes. This makes the +/- percentage to be wrong as well, sometimes with over 100%.

## Market Prices
![image](https://user-images.githubusercontent.com/12114550/32410537-cee65a32-c1c2-11e7-9c6c-01cf8d8cfc43.png)

## Market Trades
![image](https://user-images.githubusercontent.com/12114550/32410538-da033fd4-c1c2-11e7-841b-54

[2017-11-05 00:23] startailcoon commented on #463
Can we replace the current notifications system with #686 perhaps?
I think any new notifications system should use browser/system notifications.

[2017-11-05 02:48] brekyrself opened #701 ""Windows protected your PC" when installing exe client"
windows 10 with the latest client.

Is there a way for this not to pop up when installing the windows client?  I could see this scaring new users away that do not have expert knowledge.  The blue screen pops up with "Don't Run" as the only option unless you click more info at the top.  Once you do this you have to click "Run Anyway" to start installing.

[2017-11-05 03:33] happyconcepts opened #702 "[.25] SYNC indicator is red"
Should the SYNC indicator (in the bottom right of the footer) be red if I am connected and everything is fine?

![sync-in-red](https://user-images.githubusercontent.com/14145836/32411691-2ecbac8c-c19f-11e7-9c3e-e3d83f6901ec.png)

[2017-11-05 03:49] diogo-gomes commented on #667
### Bitshares Dashboard (mobile prototype)

For the mobile version, I decided to analyze the current layout in 360x640 because it is the most used at the moment in mobile devices.

---

As you can check in screenshoot:

![Dashboard (old)](https://gist.githubusercontent.com/diogo-gomes/9cb700f1deedfea9cf5c4817d8072bf2/raw/b07f40e69cecc42c502f0fa0545e4cc790d1084a/Dashboard%2520360x640%2520(old).png)

[2017-11-05 03:50] landry314 commented on #698
Wouldn't a "Current Price" column go well with a "Current Value" column if the "Order Value" column was renamed as I suggested in issue #624? I feel this would make it clearer.

[2017-11-05 03:54] wmbutler commented on #702
It indicates that your latency is bad by being red. I'm not really a fan since there isn't any more detail. I'd suggest we go back to green if it's in sync.

[2017-11-05 03:54] wmbutler commented on #701
I don't think we have any control over that.

[2017-11-05 03:55] wmbutler commented on #700
I agree. I see this happen all the time.

[2017-11-05 04:06] Jrejoire commented on #680
Not sure why. It worked for me before. I did have access to a Memo key but I just renewed it. I suspect the problem being because of having no BTS on my account. I'm glad it turned out fine for me. Hope it helps others with the same issue.

[2017-11-05 04:06] wmbutler commented on #693
Let's try to find 1 font for both I think that Roboto will work for everything (not Roboto-Regular). Try with a 400 weight and go a few a point size smaller.

[2017-11-05 04:10] wmbutler commented on #44
Oh, that's right...changing this to just search by:

- from
- type
- date range

[2017-11-05 04:15] wmbutler commented on #630
My thinking here is that the left menu presents a pretty huge waste of horizontal space, which it really precious especially on small devices. I'd like to take those various controls and place them in the top right dropdown menu instead. Here is an overall look at the proposition:

Old

![screen shot 2017-11-04 at 11 15 00 pm](https://user-images.githubusercontent.com/1254810/32411919-03bf2e44-c1b

[2017-11-05 04:23] wmbutler commented on #556
Yeah, honestly, I'm hoping to remove the side menu completely due to the problems it creates for responsive design on smaller devices. The pattern of navigating to the recipients account and then choosing 'send to' is unfamiliar and confusing to most people who use our software.

[2017-11-05 04:24] wmbutler commented on #635
I will UX this for discussion and post it here.

[2017-11-05 04:25] wmbutler commented on #635
For reference:

## Bitshares Light Client (Downloaded Client)
This won't affect you. Just download the newest version as usual

## Cloud Wallet Users
All you need to do is change your bookmark to https://wallet.bitshares.org. You will need to reset all your preferred markets and for that we are sorry for the inconveience.

## Local Wallet Users
If access a local wallet from https://bitshares.org/w

[2017-11-05 04:29] #684 closed

[2017-11-05 04:32] wmbutler commented on #661
Oh, I thought affiliates had to be LTM?

[2017-11-05 05:15] wmbutler commented on #667
@diogo-gomes this is looking very nice. Please track with the latest thoughts on the overall menu as well on #630. Everything you've presented is spot on in my opinion.

- [ ] Default currency can remain hidden in settings
- [ ] Right justify numeric headers, Left Justify Asset Headers

Is 8 hours a fair estimate on this? Do you think you can complete the work by 11/15 or should I move it to 12/01

[2017-11-05 05:20] wmbutler commented on #679
@jonnybitcoin funny you say that because I toggle to the large market as well...

[2017-11-05 05:22] wmbutler commented on #639
I think the idea of accepted authors + bitshares tag would work. Maybe we can compile some names here.

- xeroc
- svk
- billbutler
- oxarbitrage

[2017-11-05 09:01] startailcoon commented on #693
## Take 3

This time we use the `Robot Light` font, which is the only other font I can find on [the font specifications](https://www.fontsquirrel.com/fonts/roboto).

![bitshares-dashboardfont-take2](https://user-images.githubusercontent.com/12114550/32413294-fb72afe6-c20e-11e7-94f9-4543662f4d51.png)

[code]

## Take 4

This is an alternative to Take 3, but with the first column of the tbody in bol

[2017-11-05 09:16] startailcoon commented on #702
I can set it to the previous state again. I agree that this is not best practice and since the latency of the nodes aren't working as expected, the underlaying data is not reliable enough for this feature, yet.

I would like to have another section on the left with information regarding the node, this way we have both node and network information.

Something like this

Connected | Synced
-|-
Respo

[2017-11-05 09:53] startailcoon commented on #697
I've had this idea before but never actually posted about it, nice to see that it wasn't just me :+1:

You could build a messaging/e-mail application on top of the bitshares platform. The question is how expensive this will be to use for messaging. Instant messaging is pretty much no go I think, because of the fees.

[2017-11-05 09:53] brekyrself commented on #701
Some good discussion here around code signing certificates.  Looks like MS wants developers to purchase these to become part of a trusted environment.  This starts to get over my head however for any standard new user, it may be worth some effort to get rid of this warning.

https://stackoverflow.com/questions/15538925/how-can-i-make-smartscreen-filter-trust-a-self-signed-certificate
https://docs.

[2017-11-05 10:15] abitmore commented on #556
Can we have another repository for a new design?

[2017-11-05 10:19] abitmore commented on #680
This is still a bug and need a fix.

[2017-11-05 10:21] abitmore commented on #700
Related to #200.

[2017-11-05 10:28] Ingemkts commented on #667
Hi Bill, there is an exchange that has one of the best GUI I had seen, if not the best. I want to share it with you as I know you are working on the new GUI and it might help. I have traded on it before, it is the best design and performance I had seen, it is a Russian platform, you know russians are the best into the markets, well al least for me. I am not sure if I had shared it with you before.

[2017-11-05 10:35] abitmore commented on #639
Ask the foundation to create a dedicated account for the news, then only subscribe to a list of tags posted or resteemed by that account.

By the way, this feature depends on external API calls, e.g. calls to api.steemit.com, which could be unstable and need future maintenance work.

[2017-11-05 11:12] btsfav commented on #661
should be under membership stats, close to the referral link

[2017-11-05 12:25] btsfav commented on #702
synced is always red in light client for me. webwallets show green...

[2017-11-05 12:30] btsfav opened #703 "Openledger Faucet - auto sets as proxy"
Yup, they did it.

New sign-ups auto set proxy to openledger, which breaks the neutrality of the reference wallet.

Is there any faucet without this setting?

Needs to be changed asap

[2017-11-05 12:41] grctest commented on #703
Voting proxy, or the faucet used to sign up new users?

If the first, that's not acceptable. If the later, perhaps a round-robin style faucet selection mechanism within the light client would be acceptable?

[2017-11-05 12:44] btsfav commented on #703
@grctest new sign-ups are set to auto-vote for OL proxy

[2017-11-05 12:45] grctest commented on #703
That's entirely unacceptable, IMO.

[2017-11-05 12:46] xeroc commented on #703
The reference/downloadable wallet/wallet.bitshares.org ... needs to decouple from OpenLedger anyways ...

[2017-11-05 12:50] btsfav commented on #703
@xeroc

default ref? yea, just make sure to not destroy the referral system. I prefer to use the core wallet to send refs to

[2017-11-05 14:30] wmbutler commented on #703
Action items proposed for **reference wallet** from bitshares.org:

- [ ] Use .eu faucet
- [ ] Use referral r=bitshares.foundation (for now)

Longer term plans:

- [ ] bitshares to fund its own faucet

[2017-11-05 14:33] btsfav commented on #703
@wmbutler

why? they will be registrar

[2017-11-05 14:36] wmbutler commented on #703
They pay for the .eu faucet right now. But they would be earmarking the referral for the foundation, not for their company. Again, this is a short-term thought.

[2017-11-05 14:39] btsfav commented on #703
mh yeah, as long as the regular referral program works and this is just a default setting

[2017-11-05 15:05] startailcoon commented on #703
Why not make an account called `registrar.bitshares.foundation` and any money earned towards it for referrals are automatically used for new registrations. This way we can track that the funds earned for the registration process isn't used for anything other than what it's intended for.

Any usage of these funds, transferring funds out of this account, would then require a worker proposal.

[2017-11-05 15:24] wmbutler commented on #703
Ronny indicated that it's going to be reverted on the openledger site, but this was a change we were looking at making regardless since the reference wallet should be impartial.

[2017-11-05 15:31] startailcoon commented on #703
If anything, this made us aware of a potential issue. They just made this much more aware when doing this, even if it was unintentional. Going forward with a new faucet should be regarded as a higher priority imho.

[2017-11-05 16:00] xeroc commented on #703
Just to clarify,
when using the faucet url: `https://faucet.bitshares.eu/onboarding`, these are the settings:
* registrar: `bitshareseurope` (pays the fee)
* referrer: `onboarding.bitshares.foundation` unless a ref is defined in the request, e.g. via `?r=xxx`

This is the settings from bitshares.eu

![](https://i.imgur.com/cwZkJBP.png)

Every single line can be discussed further.

[2017-11-05 16:33] btsfav commented on #703
@xeroc so we would actually get referral stats like on bitshares.eu? would be awesome

[2017-11-05 18:00] happyconcepts commented on #677
Are Openledger referral codes working or does this also affect Openledger signups?

[2017-11-05 18:50] happyconcepts commented on #703
So `Default Proxy` should be "none" for the Open ledger faucet.

[2017-11-05 19:40] wmbutler commented on #703
@svk31 Let's make this happen as of 11/15. I think we will also want a redirect from:

bitshares.org/wallet/r=xxxxx

to

wallet.bitshares.org/r=xxxxx

This will ensure that old links will continue to work during the transition.

[2017-11-05 21:33] startailcoon commented on #651
@wmbutler with only a few issues left, mainly CSS related and the back calculate of the output value, this modal will have the new layout for the next release.

[2017-11-06 02:16] wmbutler commented on #556
Why would we do that? That's what branches are for.

[2017-11-06 02:18] wmbutler commented on #661
That's what I suggested 7 days ago and your next comment was this:

[2017-11-06 02:21] wmbutler commented on #649
Yeah, the cli_wallet doesn't hold open a socket either.

[2017-11-06 02:32] happyconcepts commented on #693
The Roboto Light is hard to see against the table background; why not go with Roboto as suggested?

[2017-11-06 05:41] btsfav commented on #661
If someone signs up under you, you're their referrer. However, if they ugprade to LTM, this changes to self. the blockchain loses track who registered a LTM so to say

[2017-11-06 06:34] startailcoon commented on #693
There is no "Roboto" font as far as I can tell.
https://www.fontsquirrel.com/fonts/roboto

[2017-11-06 08:48] fractalnode commented on #167
We could also add a block on unfair addresses like "poloniex" and already put some of them in this list, certainly a poloniex account

[2017-11-06 09:22] abitmore opened #704 "Don't abuse `get_full_accounts` API"
Most time when querying for an account, the UI just want to know the account's name and perhaps whether the account is a LTM. In this case, it's better to use `get_objects` API rather than `get_full_accounts` API.

For even better performance, we can add another lighter API to only return the needed data fields, or make a more flexible API so UI can only ask for a subset of data fields.

[2017-11-06 13:40] landry314 commented on #167
But following accounts is more than for keeping addresses. I certainly agree that expanding the followed accounts into an address book feature is a great idea but how about naming it "Contacts" or something more general?

[2017-11-06 13:44] landry314 commented on #167
There was some discussion in issue #533 about this highly needed address book feature.

@tbone-bts, you might want to get in on this new discussion.

[2017-11-06 23:28] wmbutler opened #705 "[2][mattbeckman] 24hr %change in Portfolio"
I don't know if this is possible, but can we display the 24hr % change in red/green in the Portfolio view?

- [ ] Column header label: 24hr

up - green (+3,2%)
down - red (-0.9%)

- [ ] display price in same color
- [ ] display value in same color
- [ ] if no change, leave white

[2017-11-06 23:30] wmbutler commented on #704
@svk31 you will need to estimate and prioritize this one since I have no concept what work load this represents.

[2017-11-07 04:09] happyconcepts commented on #702
Then maybe it is an issue with the light client and how it connects.

[2017-11-07 11:01] abitmore commented on #661
Related info can be tracked in the back end by adding a non-consensus field or two into account object.

[2017-11-07 11:41] ppitonak commented on #689
Sorting of assets in "My Portfolio" tab works fine for me but I have three objections:

1. smartcoins are sorted as if they didn't have "BIT" prefix so it produces somehow strange results - e.g. BTS, STEALTH, bitUSD but I would expect bitUSD, BTS, STEALTH
2. when I click on "Asset" column header, it sorts assets in ascending order but when I click it second time, nothing happens
3. sorting by "Pri

[2017-11-07 12:11] btsfav commented on #661
@wmbutler could you open an issue in core if you see this feasible please?

[2017-11-07 14:03] wmbutler opened #707 "Set BTS as a default Asset in My Portfolio even if Qty 0"
Since BTS is the core asset, having it inside the portfolio will also display the $ Buy icon. This is the easiest way for a new user to obtain BTS.

[2017-11-07 14:20] wmbutler commented on #463
Some will choose not to enable browser notifications. Our notifications need to be self-contained in those cases.

That being said, notifications should be visible from anywhere in the application in a consistent location, but they should not obscure any part of the app during display. This presents a design problem because we are forced to reserve space for something that is temporal.

I've found

[2017-11-07 14:30] wmbutler commented on #702
Do we have access to the actual latency data? I love seeing latency and it helps so much when troubleshooting connections. Let's do this:

Connected state:
![screen shot 2017-11-07 at 8 29 44 am](https://user-images.githubusercontent.com/1254810/32498674-eed58ce4-c395-11e7-98bd-8e57abf288a5.png)

Disconnected State:
![screen shot 2017-11-07 at 8 29 37 am](https://user-images.githubusercontent.com/

[2017-11-07 15:12] startailcoon commented on #702
We do, but I decided not to include it. The way you suggest is possible to do.

[2017-11-07 15:19] startailcoon commented on #707
Related to my task #651, which will include this feature.

[2017-11-07 16:55] startailcoon commented on #651
I need a few tips on how to solve an issue with deposits with Steem, which has a required memo rather than address.
## Deposit to generated address w/ memo
This is not a suggestion, but rather how it looks before any fixing. We need to find a good placement for the buttons when we have this many. I also think we need some more explanation of address vs. memo for users to understand what this text

[2017-11-07 17:28] startailcoon commented on #702
How about this way?

I'm not really sure if we should change `Sync` and `Out of Sync`.
![bitshares-latency](https://user-images.githubusercontent.com/12114550/32507968-27c4f4c4-c3e9-11e7-97c8-af5363f9b972.png)

[2017-11-07 17:41] startailcoon commented on #702
Latency is estimated by these parameters:
- On Connection start, check current time and save it in a parameter
https://github.com/bitshares/bitshares-ui/blob/47ea315f667378769e700027090c2060488ea3db/app/routerTransition.js#L194
- In `onConnect()` we take the current time again and subtract from when we started the connection attempt.
https://github.com/bitshares/bitshares-ui/blob/47ea315f667378769

[2017-11-07 18:11] mattbeckman commented on #705
I'll handle this one if nobody else is. I started looking into it last night. It should be possible, but I'll need to find the cleanest way to do it.

[2017-11-07 19:20] wmbutler opened #708 "[.5] Cannot access node"
IP: `ws://52.70.171.15:8090`

Can you add in some console logs to explain why the web client cannot connect? Also, I'd be interested to know why this node (one that I set up and is synced) is failing.

[2017-11-07 19:25] bigspider commented on #654
Sorry for not asking to have it assigned beforehand; I directly submitted a pull request, instead.

[2017-11-07 19:32] wmbutler commented on #44
@oxarbitrage checking on this again. Do you expect progress by 11/15 or should I push it to 12/1?

[2017-11-07 19:33] wmbutler commented on #654
Thanks. I assigned it to you.

[2017-11-07 20:06] oxarbitrage commented on #44
the elasticsearch plugin is being fine tuned here: https://github.com/bitshares/bitshares-core/pull/444
it is pretty much ready, all the changes proposed had been made in the last weeks but does not depend fully on me to make the merge. once merged to `develop` it will be "official" and i will document the calls needed to make this and all kind of searches inside the account history.
i hope that w

[2017-11-07 20:13] wmbutler commented on #702
I really prefer my UI. Can you go with that instead?

[2017-11-07 20:21] abitmore commented on #708
Need `wss` for web client?

[2017-11-07 20:57] startailcoon commented on #702
Based on your layout. How's the font size?

![bitshares-latency3](https://user-images.githubusercontent.com/12114550/32517408-a99e4fc8-c406-11e7-9ca5-4076d45619e6.png)

[2017-11-07 23:13] wmbutler commented on #693
@happyconcepts I added in RobotoMedium and set most of the site to RobotoRegular which looks pretty good. It's thick enough. It does need some size tweaking in the tables. Maybe you can take a shot a that on branch 693-RobotoMedium. I'm not taking any pay for this issue.

[2017-11-07 23:14] wmbutler commented on #693
![screen shot 2017-11-07 at 5 14 23 pm](https://user-images.githubusercontent.com/1254810/32522999-26e02696-c3df-11e7-9e81-9a8f8440ad18.png)

[2017-11-08 07:34] gpmn opened #713 "how about remove the dust trade from bars?"
the dust trade twist the graph heavily,  think about this suggestion, please

[2017-11-08 08:15] startailcoon commented on #693
Idd, Roboto Regular is the base font as I understood as well. Good to get it all uniformed and in a nice font.

[2017-11-08 08:20] startailcoon commented on #556
I can take this task since the Buy BTS task (#651) is soon completed.

[2017-11-08 10:21] MarkoPaasila opened #714 "Format DATE for non-US users"
As a non-US user I find it hard to read dates in the MY TRADES / MARKET TRADES box. Can I have them in ISO-format, automatically localized, or manually localized?

![image](https://user-images.githubusercontent.com/6001014/32543695-03377d98-c47f-11e7-93c7-72c5024cbaff.png)

It doesn't help if the DATE format is based on selected language, as many users have no choice but US-english.

[2017-11-08 11:48] svk31 commented on #708
Only if you're on a https domain, brut yea hosted wallets like bitshares.org can't use unsecure ws:// nodes

[2017-11-08 11:50] svk31 commented on #713
Closed as duplicate of a million other issues. It's not something that can be done in the GUI, waiting on the backend to fix it.

[2017-11-08 11:50] #713 closed

[2017-11-08 11:52] svk31 commented on #714
Thats how it is now, your screenshot regular Iso dates, not us dates, unless I'm missing something?

I actually fixed this for the last release.

[2017-11-08 12:19] svk31 commented on #704
I requested simplified API calls like that from BM about two years ago but they were never implemented, and the way the GUI depends on the ChainStore right now it'll be very complicated to simplify this in any meaningful way. The ChainStore always fetches account objects with get_full_accounts even if you use getObject, and changing that will complicate the caching logic, which is generally not a

[2017-11-08 13:44] startailcoon commented on #702
As I've said, the latency may not be entirely accurate. If you're pleased with this we can use it, but another possible solution is to change it to "High/Medium/Low Latency" instead.

[2017-11-08 16:23] landry314 opened #715 "Top "Account Dropdown Menu" Doesn't Scroll"
When a user has a local wallet with so many accounts that they will not all fit on the screen when he pulls down the "Account Dropdown Menu" then the menu should scroll to get to them all...

Steps to Reproduce:

1) Create a wallet with many accounts. I count 19 that will fit on my screen.
2) Make sure you didn't star any of them (or all of them, same thing).
3) Click on the active account name on

[2017-11-08 16:41] landry314 commented on #167
In issue #715 I bring up some possible issues with merging the Followed Accounts into an Address Book. Mainly, starring someone's account puts it into the dropdown menu on the upper right so you would have your friend's accounts in there which is fine if you want to check on your friend's finances but address books generally aren't for that.

Maybe have a column for "Following" which will reveal t

[2017-11-08 16:56] landry314 opened #716 "[.1] Star on Upper Left of Followed Accounts Strangely Sorts Alphabetically"
In what I call the "Followed Accounts" table in the "b" menu there is a star in the upper left corner above all the other stars, I guess it is the column header. If you click on it it sorts the list alphabetically which is not as you would expect. Clicking on the word Account next to it also sorts alphabetically as you would expect.

I would expect clicking on the star to be a "select all stars" f

[2017-11-08 16:58] landry314 commented on #716
If this Address Book merger in issue #167 is happening, this might just get sorted into that rewrite.

[2017-11-08 18:00] apasia-tech commented on #701
Most of the EXE/MSI executables being run under Win7/8/10 are part of UAC (User-Account Control) and they had to be thrown to Admin as potential threats. Especially ones non verified from Microsoft as explained by @brekyrself

It's safe to be closed, since as @wmbutler said, we have 0 control over the Microsoft reaction to normal builds.

Many thanks,

Luci.

[2017-11-08 18:01] #701 closed

[2017-11-08 18:02] wmbutler commented on #716
Agreed regarding #167

[2017-11-08 18:18] wmbutler commented on #651
If a memo is required to perform any transaction, we should

- hide the QR Code
- DASH sent to this address will show up as BTS
- Memo required for proper routing to your account

[2017-11-08 18:39] wmbutler commented on #651
Let's center the **close button** for all modals and leave the copy next to the address as an icon in very case.

[2017-11-08 18:44] #707 closed

[2017-11-08 18:57] abitmore commented on #713
This is duplicate of #200.
@svk31: any progress about https://github.com/bitshares/bitshares-core/pull/455 which is expected to fix this? If it's OK we will merge it.

[2017-11-08 20:40] Xeldal commented on #641
Exodus knows how to do it.
![](https://content.screencast.com/users/Enkianu/folders/Jing/media/ae65ec2f-ac42-46ef-895f-fbeacb4f9649/2017-11-08_1457.png)

Notice they have both a wallet(balances) and a portfolio.  The wallet is the list of coins and balances from which you can send and receive, while the portfolio is more of an analytical breakdown of allocations.

If you want an example of how to

[2017-11-09 00:58] wmbutler opened #717 "Differentiating Exchanges from The DEX"
I've been working on a subtle change to the display of Assets that I think will appeal to non--technical users and possibly drive home the reality that there are differing exchanges each with their own token representing the actual token. Here is a first pass. Essentially, we are removing the dot and applying styles to the first and last part of the symbol effectively tagging each symbol with the

[2017-11-09 01:12] Bluffet commented on #717
If that is the representation, I think it be a even more welcome feature to distinguish them. I like the text only representation too.

[2017-11-09 01:30] Xeldal opened #718 "[.5] Filled order in background resets borrow form fields (margin update)"
If you are trying to update an existing margin position or start a new one and a trade goes through on your active account initiating a pop-up notification and adjusting your balances.  This in turn resets the form fields you are trying to adjust with the margin position.

If many trades are going through in the background this makes it impossible to use the update margin position window.

I don't

[2017-11-09 02:03] Xeldal opened #719 "[.25][startailcoon] Margin update Inverted Price limited to 2 decimals."
The 2 decimal precision is fine for most SmartCoins but does not work for bBTC.

If you go to borrow bBTC it shows 106,796.92 BTS/bitBTC  but if you click to invert the price it shows only 0.00

 It should show 0.00000936

Need a smarter precision adjustment based on the asset and it's position.

When the SmartAsset is the quote currency (bBTC / BTS), use the assets precision number.
When the Smar

[2017-11-09 02:20] Xeldal commented on #717
How about taking it a step further and giving SmartCoins there own visual separation from UIA's.  You could give BTS, the only core token a visual separator as well.  Radiant Sparkling Blue. : )

Some options for SmartCoins:
- Separate the bit from the SmartCoin in the same manner as the exchange prefix. With shading.
- Replace the bit with the Bitshares symbol (since bit is not really a prefix) S

[2017-11-09 03:13] wmbutler commented on #717
Keep the discussion going... bit is technically part of the DEX, so we could prefix with DEX...

[2017-11-09 07:17] MarkoPaasila commented on #717
Just a thought: could the gateway be fixed after the IOU name? Like: ```BTC by RUDEX```. It's a bit longer but more self-explanatory.

[2017-11-09 10:02] abitmore commented on #700
We need a specification for the data fields, aka rules.

Generally the data should be from `get_ticker` API.

For markets with no historical trading data, we can use CER (but it's a bit tricky because CER is only for BTS pair), or highest bid, or just show `-` or `N/A`.

For markets that last trade is too old, sometimes it doesn't make sense to use `last_price`. Perhaps a bit too complicated.

[2017-11-09 10:56] #654 closed

[2017-11-09 11:07] svk31 commented on #708
Works for me:

![image](https://user-images.githubusercontent.com/6890015/32602497-88518880-c546-11e7-9f11-2f7a1f18f06a.png)

[2017-11-09 11:09] svk31 commented on #690
You are correct, there's no way to know this information.

[2017-11-09 11:09] #690 closed

[2017-11-09 12:00] btsfav commented on #697
perhaps of interest https://github.com/DECENTfoundation/DECENT-Network/releases/tag/1.1.0

decent added messaging in their latest fork.

[2017-11-09 12:37] MarkoPaasila commented on #714
I can't see it. If there are trades on consecutive day's you can easily figure out that one number represents the day, and the other the month. Also if the other number is greater than 12. But if there's like 7/8/17 and 8/7 you can't tell what the date is unless you know how it's formatted. Here's the ISO standard from w3org:
[code]

By the way I use english in the interface, as there's no Finnish

[2017-11-09 16:56] wmbutler commented on #717
I don't think having the word 'by' is a good idea. Definitely doesn't scale well across languages.

[2017-11-09 17:51] Xeldal commented on #717
I think bit is just shorthand for Bitshares SmartCoin or Bitshares MPA.  DEX is too generic.  There are many DEXs besides Bitshares.  UIAs are part of this DEX also.  but I see what your getting at.  It's an asset that is issued by Bitshares (aka **a** DEX)

Instead of bit you might even write out fully "Bitshares" or "SmartCoin", "SC",  "Smart",  "Decentralized",  "DT" (decentralized token) "MPA"

[2017-11-09 18:13] wmbutler commented on #714
I like where @MarkoPaasila is going, but this does present a problem regarding horizontal space. We could solve this by consolidating My Open Orders, My Trades, Market Trades into a single container. This would give us all the room we need if we let each span the full double width.

I think the ISO times are a bit analytical, specifically the "T" and the time zone. I think we can agree that we sho

[2017-11-09 18:39] btsfav commented on #717
I never understood why they use bit as prefix instead of bts. btsUSD would immediately tell what's up in my opinion

[2017-11-09 19:13] ThomasFreedman commented on #717
I like Xeldal's idea of using a miniature BitShares logo symbol as a way to indicate which assets are native to the DEX.

[2017-11-09 19:17] HarukaMa opened #722 "[.25][startailcoon] UI color is too hard on eyes on white theme"
Block number and sync status:

![0029-11-10 4 04 55](https://user-images.githubusercontent.com/861659/32624761-8dd24e66-c5cd-11e7-9d46-f4435d66fb45.png)

Node list (Access in Settings):

![0029-11-10 4 11 34](https://user-images.githubusercontent.com/861659/32624784-a6a33ad6-c5cd-11e7-91cd-d8e7d81c1907.png)

These colors are really terrible at least on white theme. Please consider use darker color

[2017-11-09 20:34] abitmore commented on #704
This is important, while I agree that `subscribe=false` change is a big improvement. BM's design may be good for locally hosted nodes, but not good enough for public API services. Fetching too much data wastes computing resources and network bandwidth, both on server-side and client-side, thus impact user experience especially for mobile users and low-bandwidth users. I'll try to do some work when

[2017-11-09 21:07] startailcoon commented on #651
## Progress Tracking

- [x] Ensure that BTS is always shown in My Portfolio whether the user owns any or not.
- [x] Link the buy icon on My Portfolio to this newly designed Purchase screen
- [x] Include a calculation in the effective price showing the price in the users chosen currency
- [x] Show a QR code for the deposit address (only if a memo is not required)
- [ ] Link help to blocktrades site

[2017-11-09 23:40] landry314 opened #723 "[.1][startailcoon] Typo in Deposit/Withdraw for Blocktrades"
Steps to Reproduce:

1) Go to Deposit/Withdraw
2) Select Blocktrades as the Transfer Service
3) Look to the right of "Current Balance"

It says "PLEASE SEND YOUR TO THE ADDRESS BELOW".

There should be a word after "YOUR"... Coin?

[2017-11-09 23:41] landry314 commented on #723
Haha, there was a typo in the title of this issue too, how fitting...

[2017-11-09 23:50] landry314 opened #724 "Trying to Trade SBUZZ Freezes the Program"
We probably all got airdrops of this token.

When I go to the Portfolio (Balances) and then click on Trade on the SBUZZ row then it freezes the program. I have to reload to fix it. Anyone else have this happen? It was like that months ago too, by the way...

Maybe it is because there are no markets with recent trades?

Maybe this is a core issue and nothing to do with the GUI...

I am using the ne

[2017-11-10 01:43] abitmore commented on #117
This is likely duplicate of #68.

[2017-11-10 01:48] abitmore commented on #450
#378 has been closed. The ID is still not there.

[2017-11-10 06:06] MarkoPaasila commented on #714
Yes the "T" clutters it up.

I see the time is in 24 hour format already for me, so that's great. Does it automatically change to 12 hour format based on location or operating system locale?

[2017-11-10 07:52] #702 closed

[2017-11-10 16:00] wmbutler commented on #723
Or 'asset'

[2017-11-10 16:13] wmbutler opened #725 "[.25] The new chinese WP is not categorized properly right now"
It's marked as active even though it has not yet received the required number of votes. Your logic apparently marks is as active even though it doesn't have enough votes to get it paid. Active Proposals from the standpoint of the UI must be:

- Within the current time window
- Received enough votes to be paid

[2017-11-10 16:16] xeroc commented on #725
Could be it's getting confused because of the refund100k worker (instead of the refund400k worker)

[2017-11-10 16:20] wmbutler commented on #651
Looking great. Small cosmetic tweaks:

- [ ] A bit more spacing between QR code and address label
- [ ] Larger copy button that is positioned higher and spans label and address

Looking really really good!

[2017-11-10 16:41] fractalnode commented on #703
In the light wallet the new user should be able to type in the referrer and registrar manually. If user skip this optional field, then the default should be set committee-account or null-account.

[2017-11-10 16:44] wmbutler commented on #556
Add to header:

Sendbeta will bring up the new user modal instead of the old Send Screen. The other button will continue to work as before.

![screen shot 2017-11-10 at 10 43 14 am](https://user-images.githubusercontent.com/1254810/32668792-3068a658-c604-11e7-9130-12f0e44faaab.png)

[2017-11-10 17:11] wmbutler commented on #651
- [ ] Change Purchase to "Buy" to conform with Portfolio terminology.

[2017-11-10 17:12] wmbutler commented on #651
Question: Is the functionality you've build only intended to address the Deposit portion of the Blocktrades API? It's fine if it is, but I'd like clarity.

![screen shot 2017-11-10 at 11 09 51 am](https://user-images.githubusercontent.com/1254810/32670012-0867d7ce-c608-11e7-9fa4-ecf805b4c929.png)

[2017-11-10 17:16] wmbutler commented on #651
- [ ] Make sure there is a buy icon for each eligible symbol offered with Blocktrades

![screen shot 2017-11-10 at 11 15 07 am](https://user-images.githubusercontent.com/1254810/32670145-82ae4d6a-c608-11e7-83ed-edcf6fd73a2c.png)
![screen shot 2017-11-10 at 11 13 38 am](https://user-images.githubusercontent.com/1254810/32670146-82be485a-c608-11e7-93a8-39f7b26b9600.png)

[2017-11-10 17:21] startailcoon commented on #651
Thank you :)

It's built around the current Purchase functionality that we have in the wallet, so at the moment it's only for the Blocktrades API.

[2017-11-10 17:34] wmbutler commented on #651
Right, but the blocktrades API has three functions. I was just clarifying that you are only addressing what is currently referred to as the "deposit" portion right now (not the withdraw or transfer functions)

[2017-11-10 17:36] wmbutler commented on #651
Only BTS should be in the portfolio by default.

[2017-11-10 17:40] startailcoon commented on #651
- Yes, the API has more functions and here we're addressing the deposit and will be the only one worked on. Understand that you're just making sure I'm not going to large. The withdraw and transfer functions will be in the future modals, correct.

- We can work on a future task for making an easier way of accessing the modals different portions of buying other assets trough different bridges later

[2017-11-10 20:16] Xeldal commented on #719
@wmbutler
I'd call this a bug, unless your saying it is an intended function to not show the actual price in bBTC.

[2017-11-10 21:06] wmbutler commented on #677
@svk31 this need to be tested soon, prior to deployment on the 15th with the new .eu faucet.

r=
ref=
referral=

[2017-11-10 21:13] wmbutler commented on #676
#677

[2017-11-10 21:14] btsfav commented on #677
is the faucet active?

[2017-11-10 21:20] hubba1 opened #726 "passwords not working on Compumatrix Bitshares DEX"
why is it that passwords for old accounts that use bin files on openledger created accounts do not work on the Compumatrix Bitshares DEX?

[2017-11-10 21:21] wmbutler commented on #635
Keeping this UX pretty simple. From 11/15/2017 onwards for bitshares.org/wallet:

- [ ] Only display this endpoint: https://wallet.bitshares.org/#/settings
- [ ] Add an href telling the user to go to https://wallet.bitshares.org/ to restore their backup
- [ ] Change "No backup is needed" to "After creating your backup file, please restore it at https://wallet.bitshares.org. This will be your new p

[2017-11-10 21:29] btsfav commented on #726
this is bitshares reference wallet, please ask compumatrix.

[2017-11-10 21:49] wmbutler commented on #635
- [ ] If we do not detect indexdb, just display that this wallet is no longer available and that they should use: https://wallet.bitshares.org from now on.

[2017-11-10 23:05] #726 closed

[2017-11-11 01:22] compumatrix commented on #682
thanks @happyconcepts but what we need is the hash_history_dist.zip file for the current release.

[2017-11-11 16:13] wmbutler commented on #725
@svk31 keep in mind that this was the case for the WP starting on 9 Nov. It had not received the required number of votes, but it was currently Nov 10 and it was on the active tab.

[2017-11-11 17:15] startailcoon commented on #651
# Latest Preview as of 11/11
- [ ] Fix input value issue

Current update of the new modal. Found a new issue with the input when you type in a number with a decimal in it, as you can see. Other than that, it's almost complete.

![bitshares-buybts_modal_3](https://user-images.githubusercontent.com/12114550/32691697-ebb628c4-c70b-11e7-8165-39b20cdee174.gif)

[2017-11-11 20:01] landry314 commented on #641
You are right, @Xeldal, I don't like how many layers there are and how I have to switch tabs for every little thing. Before, it was all on one page just in sections... now margin is hiding somewhere and tabs stay there so switching to accounts keeps the old state which I don't even remember and It is called My Porfolio which isn't good for someone just storing coins in a wallet and the "My" sounds

[2017-11-12 01:26] ethanwillis commented on #723
I'd like to claim this.

[2017-11-12 01:28] ethanwillis commented on #722
I'd like to claim this.

[2017-11-12 01:46] ethanwillis commented on #704
@abitmore GraphQL solves this exact problem of letting frontend developers request only the fields they need. I'm still trying to wrap my head around both codebases since I'm new here :) but can a GraphQL API  be written as a plugin in core?

[2017-11-12 10:48] startailcoon commented on #651
Found an issue where the Buy Modal doesn't give the same assets for sending as the BlockTrades Bridge page gives.

For example, it's missing LTC and SBD.

![bitshares-buybts-modal](https://user-images.githubusercontent.com/12114550/32698096-0dd9db92-c79f-11e7-8a53-d89b6b7193d7.png)

![bitshares-brdigedeposit-sbd](https://user-images.githubusercontent.com/12114550/32698102-36917252-c79f-11e7-861e-5

[2017-11-12 11:53] abitmore commented on #704
Maybe. I didn't know GraphQL.

[2017-11-12 14:51] wmbutler opened #727 "[2][startailcoon] Count for proposed transactions doesn't match content"
![screen shot 2017-11-12 at 8 49 31 am](https://user-images.githubusercontent.com/1254810/32700146-9180544e-c786-11e7-9bac-ff5a597cc192.png)

[2017-11-12 15:41] startailcoon commented on #556
# Progress Tracker

### Send
- [ ] Clicking Transfer locks down all fields, adds the propose slider and changes the blue transfer button to a green confirm button.
- [ ] Tooltip next to Propose label is a tooltip for briefly explaining propose
- [ ] Clicking Confirm sends the transaction and closes the modal
- [ ] Clicking cancel returns the user to the Transfer activity, leaving the modal open

#

[2017-11-12 16:42] wmbutler commented on #722
It's yours!

[2017-11-12 18:00] wmbutler commented on #651
![screen shot 2017-11-12 at 11 55 54 am](https://user-images.githubusercontent.com/1254810/32701745-86e6b0d6-c7a0-11e7-9bfd-e99e19165ecc.png)

Cosmetic Changes

- [ ] The top part of the page (logo and label) take up too much vertical space. Reduce padding/margin
- [ ] The red warnings do not stand out on that color background. Maybe bold or choose a better color.
- [ ] Copy button is slightly too

[2017-11-12 18:33] wmbutler commented on #44
Thanks for the updated. I'll shift this issue to 171201

[2017-11-12 20:05] startailcoon opened #729 "[0][startailcoon] Available assets trough BlockTrades aren't represented correctly"
During my rebuild of the Buy Modal I came across an issue regarding the BlockTrades API. I think this should be looked at more closely why we have different sets of assets throughout different parts.

This is just my initial observation so far.

Possible places to look further on
https://github.com/bitshares/bitshares-ui/blob/a3057b3a25a45c1a7843941334ad45fbf9186f7a/app/components/Account/AccountO

[2017-11-13 06:22] mattbeckman commented on #689
I'll handle this one.

[2017-11-13 06:59] rngl4b commented on #703
There's another issue: as the description from the proxy field resides inside the box, when there's a default proxy new users can't read what that field is for.

I find the faucet's default proxy feature inappropriate. Not much different than encouraging centralized exchanges to vote with their customers stake without agreement.

[2017-11-13 09:42] svk31 commented on #651
Looks like I might have merged this too soon, @startailcoon would you like me to revert it or do you want to just make a new PR with the additional changes?

[2017-11-13 10:03] svk31 commented on #727
Unable to reproduce, need more info. Which account, console errors etc

[2017-11-13 10:04] svk31 commented on #725
Unable to reproduce, please take a screenshot next time. Was it below the refund400k worker?

[2017-11-13 10:07] svk31 commented on #699
Unable to reproduce, integer inputs work fine for me.

[2017-11-13 10:07] #699 closed

[2017-11-13 10:08] svk31 commented on #708
Closing since it works fine for me, reopen if you're still having issues and it's not because of using ws from a https host.

[2017-11-13 10:08] #708 closed

[2017-11-13 10:20] startailcoon commented on #651
@svk31, the layout fixes from Bill is in the commit you used so all good.

[2017-11-13 10:27] svk31 commented on #694
I think this is actually a bitshares-core issue, it seems there's no update of the account subscription following an asset creation event, so our chain state doesn't get updated. Try making an issue in the bitshares-core repo instead.

[2017-11-13 10:27] #694 closed

[2017-11-13 11:15] #724 closed

[2017-11-13 11:16] svk31 commented on #724
This was because the genius that created the asset set the asset itself as the preferred market, so the market link was going to the SBUZZ:SBUZZ market.

[2017-11-13 14:42] #695 closed

[2017-11-13 14:44] wmbutler commented on #729
I added two hours onto #651 Will that suffice for resolution? Was this bug addressed over there?

[2017-11-13 14:49] startailcoon commented on #729
I did not look further into this issue than my initial findings here, so it's not resolved yet. I can try to solve this issue for the added hours on the other issue.

[2017-11-13 15:03] wmbutler commented on #651
![screen shot 2017-11-13 at 9 00 48 am](https://user-images.githubusercontent.com/1254810/32732153-5f7a794a-c851-11e7-8b8f-bdf26c208505.png)

- [ ] Limit reached is causing a shift. Please right justify.
- [ ] See few items up top that are still issues on staging

Sorry to be so detail oriented here, but you are very very close to having this completed!

[2017-11-13 16:24] startailcoon commented on #651
Absolutely no worries. I want to have all the feedback you can give me so we can get this as good as possible. If that means I have to revisit it 10 times more because I missed something little in some weird case or screen resolution I will of course do it. All the tiny details that can be found I wish to have.

[2017-11-13 18:00] startailcoon commented on #651
@svk31, I will submit a new PR with the last few changes in a day or two. No need to revert this.

[2017-11-13 23:52] wmbutler opened #731 "[.5] Set BTS calculations in Portfolio =0 when not owned"
![screen shot 2017-11-13 at 5 49 16 pm](https://user-images.githubusercontent.com/1254810/32755527-54c65e2a-c89b-11e7-90b1-1b472cb84266.png)

In the current staging branch, BTS is always present in the portfolio even when the user does not own any BTS.

Price: Display price in selected currency
Quantity: 0
Value: 0

[2017-11-13 23:59] wmbutler commented on #651
This is hard to explain using licecap.

![buy](https://user-images.githubusercontent.com/1254810/32755688-1cc384b6-c89c-11e7-9333-6251149098a9.gif)

- [ ] The buy modal defaults to Qty 1. Let's default to Qty 0
- [ ] In the screen share, I highlighted the `1` and then typed `.2`. As you can see, it entered a `2` instead of `.2`

[2017-11-14 17:03] Xeldal opened #732 "[0.25][startailcoon] Color and Label settlement price to indicate which side it represents"
**Problem:**
The settlement line on the chart does not indicate which direction (buy or sell) that is represents.  This would be fine if markets were always oriented in one direction but flipping markets is possible.  It takes a bit of mental work to figure out which way the settlement backstops.

**Solution:**
Color the line to match the side of the book it represents.

The settlement price is es

[2017-11-14 21:01] landry314 opened #733 "[3.5][startailcoon] Refactor Open Orders"
In the Open Orders table it is not immediately clear which column stands for which asset of the two in the pair. "Qty" and "Total" are vague and the pairs can be inverted which flips them anyway so at quick glance there is some thinking the user has to do to figure it out. Sometimes it is obvious, sometimes not.

In other tables at exchanges I have seen the column headers "Amount", "Value", "Price

[2017-11-14 21:06] landry314 commented on #733
Solving this would solve issue #624 as well.

It is generally confusing which columns mean what in the Open Orders section... we could solve this all at once.

[2017-11-14 21:57] startailcoon commented on #732
I can do this task

[2017-11-14 22:00] startailcoon commented on #733
I can take this task

[2017-11-15 11:57] landry314 commented on #388
Why has no one claimed this?

A particular important instance of this problem I see is in the Find Markets. If you open the pulldown menu in Quote Currency you see both "BTC" and "OPEN.BTC". It is really unclear that OPEN.BTC is real BTC held by open ledger and BTC is bitBTC held on the BitShares blockchain. A new user might just assume BTC is real BTC and open.BTC is some other weird thing...

Of

[2017-11-15 14:53] startailcoon commented on #691
I can take this task

[2017-11-15 15:21] calvinfroedge commented on #705
@mattbeckman Any updates here?

[2017-11-15 15:23] wmbutler commented on #733
Should I move this into 171119?

[2017-11-15 15:24] wmbutler commented on #732
Should I move this into 171119?

[2017-11-15 15:28] wmbutler commented on #727
Sorry, This account was alpha-cat, but they aren't showing any proposed transactions anymore. I just happened to run across it. Note that the tab "Proposed Transactions" indicates "5", but there are no items listed in the table below it.

[2017-11-15 15:30] wmbutler commented on #725
It wasn't below the refund worker. It:

- Did not have the number of required votes to be active
- Was scheduled to begin 11/9 and the current date was 11/10

[2017-11-15 15:31] calvinfroedge commented on #698
@wmbutler To clarify here, you want a new column named "Quote" added that shows the current price quote for the asset. Should this go between "Order Value" and "Trade"?

[2017-11-15 15:33] #693 closed

[2017-11-15 16:00] startailcoon commented on #732
You could move it to 171201

[2017-11-15 16:56] startailcoon commented on #719
I can take this task

[2017-11-15 16:59] startailcoon commented on #715
I guess this is also related to #630 As well.

[2017-11-15 18:27] svk31 commented on #727
I can see that in your picture, but that count really is just the count of the number of proposed transactions, so if it says 5 there should be 5 shown inside the tab. The tab also only shows up if there are proposed transactions in the first place, suggesting this was perhaps a node issue or something.

Closing but feel free to reopen if you can reproduce it.

[2017-11-15 18:30] svk31 commented on #725
Most likely caused by you having an old budget object temporarily, as the GUI will need a second or so to fetch the most recent budget object. Old budget objects had a higher budget for workers which means you'll temporarily see workers below the refund400k worker as active. Closing as a non-issue.

[2017-11-15 18:30] #725 closed

[2017-11-15 18:55] wmbutler commented on #715
I doubt we will implement a 'scrolling menu'. It makes more sense for a user to go the accounts screen if they are keeping more items in the menu than will fit on their screen.

[2017-11-15 22:11] startailcoon commented on #733
Leave this for the milestone as it is. Thanks

[2017-11-16 08:41] mattbeckman commented on #705
@calvinfroedge Here is a screenshot. It's late and I haven't finalized it yet, so if you guys have any input, let me know. I should have the PR up tomorrow.

<img width="328" alt="screen shot 2017-11-16 at 12 40 17 am" src="https://user-images.githubusercontent.com/928380/32881650-c3be03ba-ca66-11e7-8ee9-9b38bddb402e.png">

[2017-11-16 12:13] svk31 commented on #649
I'm gonna close this since there's nothing actionable in this issue. The latency check in the light client can give different results from that of the web wallet, that's perfectly normal.

If you encounter specific bugs with nodes not working please raise new issues with concrete information.

[2017-11-16 12:13] #649 closed

[2017-11-16 12:15] svk31 commented on #558
This UX isn't very clear imo. Is the submit button used to cancel orders once selected? What are we filtering on?

[2017-11-16 12:22] svk31 commented on #463
I don't like losing even more vertical space, and frankly I don't see why we should even replace the current notification system. The current one works on mobile and desktop, this new one will be bad for mobile especially but also for laptops with low vertical resolution.

The issue in the OP is a fairly simple one to fix, it's simply because we don't store any state keeping track of what the last

[2017-11-16 12:36] svk31 commented on #714
The date format is set depending on the browser locale, which is not necessarily the language of the browser. The formats are limited to two types: en-US and "everyone else". In my case, the browser is in en-US, but my browser locale is no-NO. Therefore, I see dates formatted dd/mm hh:mm:ss, which is I want to see.

Bill, as you can see in his screenshot, has a en-US locale so his dates are format

[2017-11-16 13:24] tximiss opened #735 "[.5] GUI doesn't load with Firefox 57.0"
Recently updated to Firefox Quantum 57.0 (64-bit), the wallet is not loading.

No problems with Chromium:
Version 62.0.3202.89 (Official Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

[2017-11-16 14:11] wmbutler commented on #558
- I think the filter should work on any portion of the asset pair column.
- [ ] We could slide the Submit / Reset buttons off to the right if you think that will bring more clarity.
- I couldn't use the word 'cancel' for the cancel button
- Clicking on the word 'cancel' in the th could select all orders currently filtered by placing a check mark

[2017-11-16 14:15] wmbutler commented on #661
How about baby steps. Let's track what we can without core changes and make that a separate issue.

[2017-11-16 14:19] wmbutler commented on #705
@mattbeckman looks pretty awesome.

- [ ] Can you have price and value follow the same color scheme as 24hr?
- [ ] Also, can you change the label to just 24hr to keep the column narrow?

[2017-11-16 14:20] wmbutler commented on #719
It's yours!

[2017-11-16 14:21] wmbutler commented on #723
Can you have this finished today?

[2017-11-16 14:21] wmbutler commented on #722
Can you have this finished today?

[2017-11-16 14:22] wmbutler commented on #735
@svk31 would be nice if you could prioritize this since.

[2017-11-16 16:17] wmbutler commented on #689
@mattbeckman I added time to this and have included this screenshare to clarify the problem:

- [ ] Sort numerically and include `--` values as "lower" than 0

[code]

![sorting](https://user-images.githubusercontent.com/1254810/32902098-1a55855e-cab7-11e7-8b13-b7711a747984.gif)

[2017-11-16 16:20] wmbutler commented on #705
I added .5 to this issue:

- [ ] Allow user to sort on the 24hr column

[2017-11-16 16:48] ethanwillis commented on #723
@wmbutler Yes, this and #722 Will be finished today and Ill send over a PR

[2017-11-16 18:32] btsfav commented on #735
loads, no issues. check your extensions or something.

@wmbutler please close.

[2017-11-16 18:39] tximiss commented on #735
All plugins deactivated:
![image](https://user-images.githubusercontent.com/4522822/32908994-9c2f62a4-cb05-11e7-9e15-08236c908b8e.png)
Before Firefox update was running well.

[2017-11-16 18:48] btsfav commented on #735
![](https://i.imgur.com/njh3je1.png)

[2017-11-16 18:59] tximiss commented on #735
btsfav, seriously, do you want to open a issue saying that Firefox Quantum is not giving problems under Microsoft??  Mine is under Ubuntu, i don't know if it is goes well in all the Linux flavors.

[2017-11-16 19:09] btsfav commented on #735
browser behavior should make 0 differences between OS.

you could've just googled some of the errors + ubuntu and try some fixes first. don't want to waste worker time here if possible

[2017-11-16 19:13] landry314 commented on #735
@btsfav, why are you assuming this is the user's fault without any proof and being so dismissive of his issue? It might be a serious issue for all linux users, who knows? Wait to see if anyone else confirms this issue before trying to close it because "it works for you".

[2017-11-17 02:02] wmbutler commented on #735
We do have a working browser solution with Chrome and we have about 125 items that are more critical to adoption than figuring out Firefox. I'm going to close this since we won't realistically have the bandwidth to look at it for at least a few months. We issue a warning for non-Chrome Browsers.

[2017-11-17 02:02] #735 closed

[2017-11-17 02:08] wmbutler commented on #698
- [ ] Maybe it would be better between Market and Price

[2017-11-17 02:17] wmbutler commented on #158
I believe that Markets, and Starred favorites, hidden assets, and asset pair presentation order are stored in LocalStorage. Pretty sure it's json.

[2017-11-17 02:26] wmbutler commented on #463
I don't like the current notification system because it:

- Blocks areas of the screen while it's up
- Stays on for a predefined amount of time disallowing other user actions
- Has no color component to help the user understand whether it's informational or an error

[2017-11-17 02:51] wmbutler opened #737 "[.1] Math is wrong on Worker Proposal"
See how the first worker daily pay is not deducted from the top line budget.

![screen shot 2017-11-16 at 8 47 55 pm](https://user-images.githubusercontent.com/1254810/32926984-ca4d72a2-cb0f-11e7-9283-2eff621c1dbd.png)

[2017-11-17 09:57] abitmore opened #738 "[.25][startailcoon] Advanced account creation page and restore page need a "back" or "cancel" button/link"
https://wallet.bitshares.org/#/create-account/wallet
https://wallet.bitshares.org/#/wallet/backup/restore

[2017-11-17 11:20] svk31 commented on #737
On purpose, it shows how much remains for that worker to use.

[2017-11-17 15:54] #689 closed

[2017-11-17 19:28] wmbutler opened #739 "[.25] Latency displayed as undefined"
Can we identify what could cause latency to be undefined in the codebase? If we are connected, there is no reason that latency should be undefined. This is a quantifiable value.

![screen shot 2017-11-17 at 1 26 55 pm](https://user-images.githubusercontent.com/1254810/32965103-307f51a4-cb9b-11e7-858e-ee917d71bb5c.png)

[2017-11-17 21:34] mattbeckman commented on #705
Are you sure "Value" should be red/green? My approach uses MarketStats to get the 24 hour change, but MarketStats is based on the asset itself not the gain/loss for the user specifically based on qty/transaction.

[2017-11-18 05:17] landry314 commented on #463
And it pulls up the last activity for that account when switching to an account, no matter how long ago it occurred... which is a bug.

[2017-11-18 11:26] svk31 commented on #463
This can probably be worked around

There's a default timeout and a custom one, so you can set a specific timeout for different notifications

This is not true, the current notifications have a color component.

This is the notification library that's currently being used: https://github.com/igorprado/react-notification-system

Building something to replace it will be timeconsuming and in my opini

[2017-11-18 22:02] startailcoon commented on #735
No issues on Firefox 57.0 on Ubuntu for me.

![screenshot from 2017-11-18 23-01-31](https://user-images.githubusercontent.com/12114550/32985160-87f8ec82-ccb4-11e7-9329-d7ee996d5821.png)

[2017-11-18 23:54] landry314 commented on #735
Firefox 57 with no extensions enabled does NOT work for me.

This link just remains loading forever:
https://bitshares.org/wallet/#/

[2017-11-18 23:56] landry314 commented on #735
Firefox 57 for Mac OS with no extensions enabled does NOT load this link:

https://bitshares.org/wallet/#/

It just remains loading forever.

[2017-11-19 09:24] #719 closed

[2017-11-19 09:27] #705 closed

[2017-11-19 09:38] #158 closed

[2017-11-19 09:50] svk31 commented on #158
https://github.com/bitshares/bitshares-ui/commit/f310ddd07128a3d54c4f79f05ba96f937920bf3f

[2017-11-19 10:06] #739 closed

[2017-11-19 10:15] #676 closed

[2017-11-19 10:21] #651 closed

[2017-11-19 10:55] abitmore opened #744 "[7.5][startailcoon] Settle orders issues"
On this page: https://wallet.bitshares.org/#/market/BTS_CNY, data in the "settle orders" area has some issues:
* `price` column: currently it's showing settlement price (same to the one on top of the page), it's better to show `settlement_price * (1+settle_offset%)`, for example, current offset is 5% for bitCNY, settlement price is `0.691728 bitCNY/BTS`, so the price of settle orders should be `0.

[2017-11-19 11:13] startailcoon commented on #744
Additionally we could color the settlement rows or header in the buy/sale color depending inbwhatvside of the book you're looking at. Since we've done so with the depth graph in another issue.

If we add both assets we could hide something when the table is to small. Shouldn't be an issue.

[2017-11-19 21:24] btsfav commented on #735
tired on my ubuntu today, no issues too.

@landry314 wallet.bitshares.org is the supported domain

[2017-11-19 23:06] bitcoiners opened #745 "Improve Asset balance view"
Currently if an asset is in several open orders, there is no way to see how much of that asset belongs to an account.
All one can see if a bunch of orders, but not total amount.
Please add a view where one can see how much of an asset he has, regardless if it is in  open orders.

[2017-11-20 13:55] wmbutler commented on #737
If the daily budget is 28,045.09 and there was only 1 worker receiving 1,255.79, would that remaining budget be the same as the daily budget?

[2017-11-20 13:56] wmbutler commented on #718
@calvinfroedge you still working on this?

[2017-11-20 13:59] wmbutler commented on #558
@calvinfroedge

[2017-11-20 14:03] wmbutler commented on #745
We had another issue that suggested a column in My Portfolio titled: Reserved. This could include Open Orders and Margined securities. Agree that we need  a better way to display it but need to put some thought into it to avoid redundancy on the Open Orders / Margin Orders / My Portfolio screen.

[2017-11-20 14:08] wmbutler commented on #744
I had a suggestion to allow My Trades, Market Trades and Sell Orders span double width as tabs in the same container. If we also incorporated Settle Orders, this would give us room for the additional column you are proposing as well.

[2017-11-20 14:25] svk31 commented on #737
Yes. If we change it to be the way you're thinking the final worker (as long as the budget is being used up) will always have 0 in the remaning budget column.

In the screenshot you see how there's 25347.02 remaining of the budget for the refund400k worker, so that's how much it'll actually get paid (since it's asking for more than that, but there's not that much available).

[2017-11-20 14:52] bitcoiners commented on #745
A column called "On orders" can be added to portfolio view.

[2017-11-20 15:49] startailcoon commented on #513
I can claim this

I propose that we stick with a simple error message until the bitshares-core solves this in another way.

[2017-11-20 17:38] fractalnode commented on #745
Important information for me is the percentage share of the Asset in the total estimated value of the portfolio

[2017-11-20 19:39] landry314 commented on #513
The thing is, I think lifetime members get 80% back on the vesting fee itself so it get's more complicated.

[2017-11-20 19:59] startailcoon commented on #513
Yes, they do. But as I understand It, a user has to pay ~22 BTS for the vesting transaction. 80% of that goes back to the next vesting round because of the way the system works. You could essentially claim over and over again and lose 20% each time even though the system said you have BTS to claim.

This should ofcourse be factored in.

[2017-11-20 22:31] maiopirata commented on #639
@wmbutler, I will be happy to try focus on this if nobody has taken it..

[2017-11-21 15:59] wmbutler commented on #737
I can honestly say it makes no sense to me. I think I should be able to take a top line number and keep subtracting until it zero's out. I will close this because I'm clearly not bright enough to comprehend this math.

[2017-11-21 15:59] #737 closed

[2017-11-21 16:11] wmbutler commented on #731
No commit referencing this so it appears someone else completed it in another ticket.

[2017-11-21 16:11] #731 closed

[2017-11-21 16:12] wmbutler commented on #558
Pushing to 171201

[2017-11-21 16:16] wmbutler commented on #635
## Cloud Wallet Copy

### Notice
In an effort to provide enhanced security for the web-based wallet, we are migrating it, **effective immediately** to:

https://wallet.bitshares.org

[2017-11-21 16:27] #635 closed

[2017-11-21 17:25] #677 closed

[2017-11-21 17:25] #703 closed

[2017-11-21 17:33] Ashaman- commented on #238
@o5j5vg55bv5hv5j5f8799f9 You make a good point. I believe [shapeshift's API supports checking availability status of coins](https://info.shapeshift.io/#api-104).

[2017-11-21 18:30] rmawatson opened #747 "Chart snapping to the right on new tick"
When viewing a chart with "Clamp Chart Edge" unticked I am able to move the chart left to right. However when a new tick 'arrives' the chart snaps back to have the last bar aligned with the right hand side. I feel like it should stay where I have put it, or even better maintain a constant offset from the right hand edge.

Less important but relevant is that clicking the chart 'gear' icon also caus

[2017-11-21 21:49] startailcoon commented on #738
I can take this

[2017-11-22 00:50] Xeldal opened #748 "Re-imagine Menu and Navigation."
I think the entire Wallet UI menu structure and navigation should be re-imagined.

Problems:
Navigation is all over the place vertical and horizontal many levels deep.  Confusing.  Tables and menus in tables and menus... everywhere.

Much of information is horizontal.  Both the menus and data tables everywhere are all horizontal.  Which in general is terrible for mobile viewing.

First impression

[2017-11-22 01:01] leandrovaldez commented on #361
this is a really powerfull feature to improve the UI of bitshares, it's a must to get the real and usefull tools to drawing for TA

[2017-11-22 01:58] calvinfroedge commented on #558
@wmbutler @svk31 This is mostly implemented [here](https://github.com/bitshares/bitshares-ui/tree/iss-558).

However, one issue I'm running into is that each order requires a wallet unlock and confirmation. I tried passing some overrides to disable this, but then the issue is still that these cancellations execute at different times, resulting in multiple notifications and generally weird timing a

[2017-11-22 04:31] svk31 commented on #682
Still happened in this automated build so I updated it manually instead.

[2017-11-22 04:39] svk31 commented on #558
The functionality already exists to submit multiple operations in one transaction so you only get one confirmation dialog. Here's one example of this being done in the GUI code: https://github.com/bitshares/bitshares-ui/blob/staging/app/actions/MarketsActions.js#L378

Simply create a new action called `cancelOrdersBatch` or refactor `cancelLimitOrder`, pass it an array of IDs and loop over it as s

[2017-11-22 04:48] svk31 commented on #630
Removing the grey background kinda makes sense for the account page, but are you also implying that the background should be black everywhere else?

[2017-11-22 04:49] svk31 commented on #630
And what about really wide screens? Black everywhere?

![image](https://user-images.githubusercontent.com/6890015/33110562-f1f586b8-cf48-11e7-9196-33c12f6ca3a4.png)

[2017-11-22 05:04] bitcoiners commented on #745
I would also like to see balance in terms of USD, not just BTS

[2017-11-22 09:46] calvinfroedge commented on #698
@svk31 I'm almost done implementing this but need to know how to retrieve the current quoted price.

[code]

I'm assuming that the `1s` need to be the highest current offer price...can you validate that assumption and let me know how I can retrieve that value?

[2017-11-22 10:53] svk31 commented on #639
As long as we're only fetching post titles and not displaying the full post content ourselves (which would require markdown parsing) this should be fairly easy to implement, so go ahead @maiopirata.

I recommend adding https://github.com/steemit/steem-js in order to fetch data from Steem.

@wmbutler where should this actually go?

[2017-11-22 11:55] svk31 commented on #698
I added a new utility component you can use to get the latest market price, MarketPrice.jsx.

Syntax:

[code]

[2017-11-22 13:59] xkrajnan opened #751 "Fix export of operation history to CSV"
The CSV contains a column titles which are misleading. Example:

DATE | OPERATION | MEMO | AMOUNT
-- | -- | -- | --
11/14/2017, 3:04:33 PM | transfer | xkrajnan-wallet sent 302 BTS to xkrajnan-wallet-2 | 0.21851 BTS
11/14/2017, 2:53:39 PM | account_create | openledger registered the account xkrajnan-wallet-2 | 1.22740 BTS

Column labeled AMOUNT in fact is transaction fee.

Column labeled MEMO is n

[2017-11-22 16:31] landry314 commented on #748
Thank you for all your thoughts and effort to improve this program!

I absolutely agree that the exchange should not be the first thing you see. It should function as a simple wallet for people who just want a bank account to hold some bitusd. The trading might scare them away.

[2017-11-22 16:40] jedebel opened #752 "Market does not load after inverting price"
I have noticed that when I invert the price on the margin tab and than go to market the page will stay blank indefinitely with the three dot animation. If I hit the reload icon on the browser the market will load immediately. The failure to load the market only happens after inverting the price.

Mac OSX Sierra
Chrome Version 62.0.3202.75