[2017-01-19 18:55] grctest opened #15 "Build environment (npm install w/ v6) issue (peer dependency)"
Using nvm v6 since the recent update.

I managed to successfully install coffeescript via 'npm install coffee-script@1.x'

Edit: This is admitedley a bit of a non-issue since you can just manually install the missing package..

[2017-01-19 18:58] brekyrself opened #16 "UI 170118 - Market Depth Charts don't flip with market flip"
When you flip the market, the depth charts do not flip.  Once you flip the market you must click back to the price chart and then go back to the depth chart for it to update.

Price chart automatically flips when you flip the market as it should.

[2017-01-19 19:36] svk31 commented on #16
I'm unable to reproduce this, which market are you using? And browser?

[2017-01-19 19:46] brekyrself commented on #16
The latest light wallet exe on Win10 x64.  BTS : open.STEEM.

[2017-01-19 19:52] #15 closed

[2017-01-19 19:54] svk31 commented on #16
Right you are, seems to only happen with UIA markets, not ones involving bit assets

[2017-01-19 19:59] #16 closed

[2017-01-19 20:01] svk31 opened #17 "[5][gibbsfromncis] Exchange: Set Expiration time for orders"
_From @valzav on June 23, 2015 18:52_

_Copied from original issue: cryptonomex/graphene-ui#6_

[2017-01-19 20:02] svk31 opened #18 "add "generate key" button to account permissions' key input"
_From @valzav on September 29, 2015 22:43_

_Copied from original issue: cryptonomex/graphene-ui#255_

[2017-01-19 20:02] svk31 commented on #18
_From @wmbutler on November 20, 2015 21:4_

Can this be closed @valzav ? If not how important it is?

[2017-01-19 20:02] svk31 commented on #18
_From @wmbutler on December 2, 2015 23:16_

Moving to January

[2017-01-19 20:02] svk31 commented on #18
_From @wmbutler on December 10, 2015 3:41_

@valzav status?

[2017-01-19 20:02] svk31 opened #19 "Wallet auto lock"
_From @valzav on October 1, 2015 21:31_

- [x] setting to control timeout
- [x] lock wallet automatically after timeout has elapsed

_Copied from original issue: cryptonomex/graphene-ui#265_

[2017-01-19 20:02] svk31 commented on #19
_From @jcalfee on February 17, 2016 17:30_

Can the wallet auto-lock reset itself on activity?  The wallet just locked on me in the middle of using it.

The console reported:  `auto locking after 600 s`

[2017-01-19 20:02] svk31 opened #20 "[1] Need ability to click on the Block number"
_From @kenCode-de on November 6, 2015 8:59_

I want to easily prove to someone that I paid their bill.

I open the light client, I find that transaction and click on it. It shows me the block number at the top of the screen.

I would like to be able to click on that block number so that it loads up the block explorer (so I can email the link to my creditor), ie:
http://cryptofresh.com/b/677376

_C

[2017-01-19 20:02] svk31 commented on #20
Not sure I get what you want here. You want a link from the internal block explorer to an external one link cryptofresh?

[2017-01-19 20:02] svk31 commented on #20
_From @kenCode-de on November 11, 2015 12:35_

yes please. this way it will open the users default browser with cryptofresh displaying that blocks info. makes it easier to send a URL to someone as proof that you paid them or vice versa.

[2017-01-19 20:02] svk31 commented on #20
_From @wmbutler on November 11, 2015 20:21_

@svk31 This is on a later milestone. Don't sweat this for a couple of weeks.

[2017-01-19 20:02] svk31 opened #21 "Buy/Sell BTS"
_From @wmbutler on November 6, 2015 17:3_

The idea here is to create a dead simple, one stop process for assisting users with acquiring BTS from their BTC wherever they may have it stored. Making it easy for people to acquire BTS is critical and although technically it can be done with the existing wallet, is needs to be easier. Coinbase handles this function for millions of people and it's a pre

[2017-01-19 20:02] svk31 commented on #21
_From @wmbutler on November 6, 2015 17:4_

![screen shot 2015-11-06 at 12 04 20 pm](https://cloud.githubusercontent.com/assets/1254810/11003076/8b71de08-847e-11e5-9b56-f0618690a147.png)

[2017-01-19 20:02] svk31 commented on #21
_From @cassiopaia on November 6, 2015 18:25_

![screen1](https://cloud.githubusercontent.com/assets/6280810/11005095/2fe2807c-84bc-11e5-946d-d095fb21e2e8.png)

[2017-01-19 20:02] svk31 commented on #21
_From @cassiopaia on November 6, 2015 18:35_

if we develop this as own component, we would be able to use it as well — let’s say for example — user register a new account - first time user … then after register

he would get a modal with this BTC > Buy — and at bottom .. a checkbox ..
where he is able to remove this modal each time when he logs in .. opt-out

[2017-01-19 20:02] svk31 commented on #21
_From @clayop on November 6, 2015 18:55_

Great idea. Just don't forget include all fees in the final statement. (So it should be 0.9813 BTC)

[2017-01-19 20:02] svk31 commented on #21
_From @wmbutler on November 6, 2015 19:15_

Absolutely. We will UX/UI this out here.

[2017-01-19 20:02] svk31 commented on #21
_From @wmbutler on November 7, 2015 21:4_

Will do. Personally, I'd prefer to handle the gateway / deposit in an altogether different way. I'd like to propose a design for this in the next day or two. Maybe it'll make more sense after I post it. The basic gist is that our end users should be able to bring in funds natively or convert them while bringing them in and this should be a single operatio

[2017-01-19 20:02] svk31 commented on #21
_From @wmbutler on November 8, 2015 1:38_

Deposit/Withdraw was UX'd as issue #465. Renaming this this to Buy/Sell BTS

[2017-01-19 20:02] svk31 commented on #21
_From @wmbutler on November 8, 2015 4:38_

OK, here is an initial proposal for Buy / Sell BTS. This has a lot of moving parts but I think it could be a solid revenue generator. Essentially, what's happening with this is that, much like Coinbase, we would be removing the confusion of the trading platform for people who just want to acquire BTS. The fees are higher, but it's because we can essential

[2017-01-19 20:02] svk31 commented on #21
_From @wmbutler on November 8, 2015 4:42_

![screen shot 2015-11-08 at 12 13 50 am](https://cloud.githubusercontent.com/assets/1254810/11018916/a0751844-85ad-11e5-93fa-184477e1edda.png)

[2017-01-19 20:02] svk31 commented on #21
_From @clayop on November 8, 2015 4:54_

+1
Is "59,400 BTS (USD 693.00)" correct?

[2017-01-19 20:02] svk31 commented on #21
_From @wmbutler on November 8, 2015 5:14_

Yes. updated.

[2017-01-19 20:02] svk31 commented on #21
_From @valzav on November 9, 2015 15:13_

A agree that Deposit/Withdraw can be improved and made more user friendly, but why BTS needs a dedicated buy/sell section?  Not much users care about BTS or even know it exists.

[2017-01-19 20:02] svk31 commented on #21
_From @wmbutler on November 9, 2015 16:27_

I don't understand your statement. "Not much users care about BTS or even know it exists."

BTS is the underlying asset that drives everything we are working on. An investment in BTS is implicitly an investment in the foundation of the Bitshares ecosystem. I would expect that creating an effortless way for people to acquire BTS within the web wallet woul

[2017-01-19 20:02] svk31 commented on #21
_From @wmbutler on November 20, 2015 16:1_

https://github.com/cryptonomex/graphene/issues/450

[2017-01-19 20:03] svk31 opened #22 "Deposit/Withdraw UX concept"
_From @wmbutler on November 8, 2015 0:36_

The deposit/withdraw functionality of the current wallet is functional, however, it hides important information that is necessary for new users to gain comfort. This is a particularly critical time for our interaction with the client. We have the benefit of knowing that they have a $0 balance when they first create their wallet and we should customize the

[2017-01-19 20:03] svk31 commented on #22
_From @wmbutler on November 8, 2015 0:37_

![screen shot 2015-11-07 at 8 51 05 pm](https://cloud.githubusercontent.com/assets/1254810/11018297/6af1f9c4-8591-11e5-959a-a27118d10b14.png)

![screen shot 2015-11-07 at 7 23 19 pm](https://cloud.githubusercontent.com/assets/1254810/11018115/eca04508-8586-11e5-8638-0ac2b5bb79af.png)

[2017-01-19 20:03] svk31 commented on #22
_From @wmbutler on November 8, 2015 1:32_

And the withdraw screen would look like this:

![screen shot 2015-11-20 at 3 57 41 pm](https://cloud.githubusercontent.com/assets/1254810/11311709/792f0ac8-8f9f-11e5-9b32-e92d6668ee83.png)

[2017-01-19 20:03] svk31 commented on #22
_From @clayop on November 8, 2015 1:40_

Good.
But instead of a long paragraph, I prefer simple expression like Coinbase, especially for non-English speaking users.

E.g. in your withdraw screenshot, the paragraph can be simplified as follows,

(Amount: 2.3 OPENBTC) - duplicated with AMOUNT TO WITHDRAW
Fee: 0.015 OPENBTC
Total Payout: 2.285 BTC

[2017-01-19 20:03] svk31 commented on #22
_From @wmbutler on November 8, 2015 1:48_

I agree. Updated the UX accordingly.

[2017-01-19 20:03] svk31 commented on #22
_From @clayop on November 8, 2015 1:51_

@wmbutler Thanks! Please do the same on deposit menu too.

e.g.

Gateway: Open Ledger
Amount: 2.3 BTC
Fee: 0.015 BTC
Total: 2.285 OPENBTC

[2017-01-19 20:03] svk31 commented on #22
_From @wmbutler on November 8, 2015 1:52_

yep, all updated.

[2017-01-19 20:03] svk31 commented on #22
_From @clayop on November 8, 2015 9:3_

One more thing. Transfer fee is also considered in the calculation.

[2017-01-19 20:03] svk31 commented on #22
_From @wmbutler on November 8, 2015 15:56_

@clayop so, what do you think, break down the transfer fee and the Bitshares Network Fee or just consolidate the two?

[2017-01-19 20:03] svk31 commented on #22
_From @clayop on November 8, 2015 15:59_

I think it's too informative. Consolidating the two may be enough for users.

[2017-01-19 20:03] svk31 commented on #22
_From @wmbutler on November 8, 2015 16:26_

OK, so the `Fee` line is good enough then? It can include all fees that the user pays as part of the transaction.

[2017-01-19 20:03] svk31 commented on #22
_From @clayop on November 8, 2015 16:28_

Yes. Thank you.

[2017-01-19 20:06] svk31 opened #23 "Indicators (Fib, EMA, Bollinger)"
_From @wmbutler on November 29, 2015 14:44_

- [ ] Fib levels (Fibonacci Retracements)
- [ ] EMA2 Period
- [ ] Bollinger Band

_Copied from original issue: cryptonomex/graphene-ui#561_

[2017-01-19 20:07] svk31 opened #24 "Indicators (MACD, Stoch, OBV)"
_From @wmbutler on November 29, 2015 14:45_

- [x] MACD
- [ ] StochRSI (see bitcoinwisdom)
- [ ] OBV (On Balance Volume)

_Copied from original issue: cryptonomex/graphene-ui#562_

[2017-01-19 20:07] svk31 opened #25 "Consistent Color Tone"
_From @clayop on December 3, 2015 20:20_

Currently three colors categories (green, red, and tortoise(blue)) are used. We need to have consistency in color tone. Maybe needs @cassiopaia 's input.

I personally prefer imitating bitcoinwisdom's color concept. (red/green in chart, and pale red and pale green in buy/sell orders)

_Copied from original issue: cryptonomex/graphene-ui#577_

[2017-01-19 20:07] svk31 commented on #25
_From @cassiopaia on December 3, 2015 20:23_

Yep.. Currently all chart stuff colors are directly included into the javascript files .. but after we would have export them to scss or somthing kinda .. i don't see any problems to get them consistent

[2017-01-19 20:07] svk31 commented on #25
_From @wmbutler on December 3, 2015 21:55_

@svk31 has articulated this quite a bit. I like consistency in the shades of red and green as well.

[2017-01-19 20:07] svk31 commented on #25
I'm fine with keeping things more consistent, I do find the turquoise more and more jarring tbh. Not a color guy though so happy to leave that up to cass or wmbutler. Colors for the pricechart are defined in PriceChart.jsx since they have to be in js for highcharts, but I'd appreciate it if you played around with the colors there directly instead of doing mockups because it's hard to get them righ

[2017-01-19 20:07] svk31 commented on #25
_From @wmbutler on December 4, 2015 17:15_

@cassiopaia Since you are working on the inverted color scheme as well, do you want to take it?

[2017-01-19 20:07] svk31 commented on #25
_From @cassiopaia on December 5, 2015 11:7_

yep .. i will  go over!

[2017-01-19 20:07] svk31 commented on #25
_From @wmbutler on December 29, 2015 15:45_

@cassiopaia placing this in 0106

[2017-01-19 20:07] svk31 commented on #25
_From @wmbutler on January 11, 2016 14:7_

@cassiopaia any progress on this?

[2017-01-19 20:07] svk31 commented on #25
_From @cassiopaia on January 11, 2016 14:26_

nope .. i've to wait till my worker is approved or not .. i can't contribute voluntary or per equity basis anymore .. sry!

[2017-01-19 20:07] svk31 opened #26 "Escape key should close popup windows/modals"
_From @kenCode-de on December 5, 2015 14:41_

Just a small UX request..

I am so used to hitting Escape to close dialogs that popup I thought it would be cool if the same functionality would work in the graphene-ui as well.

_Copied from original issue: cryptonomex/graphene-ui#588_

[2017-01-19 20:07] svk31 commented on #26
_From @wmbutler on December 6, 2015 1:14_

Love this. Easy win.

[2017-01-19 20:07] svk31 opened #27 "Electron light wallet --data-dir param"
_From @testzcrypto on December 10, 2015 12:57_

Please add possibility to specify electron light wallet data directory where to keep wallet data. In current version all data stores at %APPDATA%\BitShares2-light (under Windows).

**Related links:**
https://www.chromium.org/user-experience/user-data-directory
https://github.com/atom/electron/blob/master/docs/api/app.md#appgetpathname
https://github.

[2017-01-19 20:07] svk31 commented on #27
_From @wmbutler on December 29, 2015 16:6_

I'm not convinced this is an issue. @svk31 ?

[2017-01-19 20:07] svk31 commented on #27
I have no idea how the electron stuff works, @valzav can you take this one please?

[2017-01-19 20:08] svk31 opened #28 "Enhancement - Trade UI - Consider removing the "favorite" stars from "My Markets" tab and make them visible only when hovering. Reduces bloat"
_From @ValentinJesse on December 21, 2015 11:47_

Something similar to this:

![2015-12-21_13-45-18](https://cloud.githubusercontent.com/assets/7979136/11930107/4891edce-a7e9-11e5-926c-881e3eb604ed.png)

_Copied from original issue: cryptonomex/graphene-ui#621_

[2017-01-19 20:08] svk31 commented on #28
_From @wmbutler on December 29, 2015 16:9_

Not sure I understand. The star indicates that it's a favorite.

[2017-01-19 20:08] svk31 commented on #28
He wants the stars to be hidden unless you hover over a market.

[2017-01-19 20:09] svk31 opened #29 "Improvements aimed at increasing voting participation"
By neura-sx:
Voting apathy is a serious vulnerability for the blockchain. It can be assumed that a lot of users don't vote because they don't realize that. These are simple changes that are aimed to alleviate this problem to some extent:

(1) If the system finds out that an account has a balance of e.g. 100k BTS (or more) and is not voting (i.e. no proxy set and there is no support for at least 10

[2017-01-19 20:10] svk31 commented on #29
abitmore: Better to vote by select/click but not input. Currently only worker proposals are being voted this way.

wmbutler: @abitmore , very good point. I'll add it to the list above.

wbmutler: Voting needs a UX overhaul as well. I'll work on this.

abitmore: Some suggestions in this post: https://bitsharestalk.org/index.php/topic,20962.0.html, too long and unfinished so haven't copy&pasted here

[2017-01-19 20:10] svk31 opened #30 "[2.5][nikandrovalex][1][gibbsfromncis] UX Add support for recurring payments"
_From @svk31 on December 29, 2015 7:10_

_Copied from original issue: cryptonomex/graphene-ui#639_

[2017-01-19 20:10] svk31 commented on #30
Most likely even the 160120 milestone is too soon for this, it will require some digging to find out how stuff works and what's actually possible.

[2017-01-19 20:10] svk31 commented on #30
_From @noisy on February 2, 2016 0:50_

This feature will be very good for new businesses. :+1:

[2017-01-19 20:10] svk31 commented on #30
Copy paste of xeroc's explanation of how this works on the blockchain level:

1) you setup a withdraw permission:

[code]

All you need to define is
- The account from which to withdraw
- The account that is allowed to withdraw
- The asset and amount limit that is allowed to withdraw
- And the period in which the limit is reset (e.g. 1k$ monthly.)
- as well as the start time

2) The other party ca

[2017-01-19 20:10] svk31 opened #31 "Witness UI does not update when vote change takes effect"
_From @theoreticalbts on January 4, 2016 4:9_

A bunch of witness votes went into effect shortly after the meltdown just after midnight, Jan. 4, 2016, UTC.  Leaving the witness UI open to the table view left the "Active Witnesses" at 25 in the UI (when it had actually been reduced to 21) and the numbering had gaps, this was fixed on reloading the UI.

_Copied from original issue: cryptonomex/graph

[2017-01-19 20:11] svk31 opened #32 "Cursor moves improperly when inserting characters in edit box"
_From @dnotestein on January 10, 2016 19:4_

When you type a character into the middle of a text string in an edit box (e.g. in the amount field of the transfer form), it moves the cursor to the end of the edit box. This is extremely annoying.

_Copied from original issue: cryptonomex/graphene-ui#662_

[2017-01-19 20:11] svk31 commented on #32
_From @steempower on January 13, 2017 4:48_

This should be a high priority, it is very frustrating and hopefully should only take a very short amount of time to resolve
+5%

When selecting price box, default value should disappear or if not disappear when i place my cursor to the right hand side of the default value (0) and try to enter a '.' (so the price would be a fraction of the base currency

[2017-01-19 20:12] svk31 opened #33 "[3] Inconsistent password after password change"
_From @dnotestein on January 10, 2016 19:25_

I changed the password of an account while I had two tabs open to that account (in the same browser). The old page still uses the old password for locking and unlocking the account. I'm also wondering if it's possible that the old password could be inadvertently saved back to the browser cache by the page that still uses the old password.

_Copied from

[2017-01-19 20:13] svk31 opened #34 "BitShares 2.0.160121 - Fiat withdraw screen on Light Wallet - no navigation"
_From @bitsacer on January 22, 2016 14:39_

On the light-wallet navigation buttons missing on OpenLedger's withdraw screen

_Copied from original issue: cryptonomex/graphene-ui#682_

[2017-01-19 20:13] svk31 commented on #34
_From @valzav on January 22, 2016 15:29_

I don't see any issues, please post some screenshot

[2017-01-19 20:13] svk31 commented on #34
_From @bitsacer on January 22, 2016 17:50_

deposit link opens a tab on the browser, its the withdraw link that opens on the light wallet and there is no way to navigate back .

![screen shot 2016-01-22 at 7 38 19 pm](https://cloud.githubusercontent.com/assets/15133633/12518433/45a1497c-c141-11e5-8a9c-74c59fed613e.jpg)

[2017-01-19 20:13] svk31 commented on #34
_From @bitsacer on January 28, 2016 4:37_

once I arrive on this screen how do I navigate back ?

[2017-01-19 20:13] svk31 commented on #34
_From @bitsacer on February 5, 2016 7:38_

This issue still persists, Light wallet - withdraw screen. once on that page there is no navigating back, have to restart the application

[2017-01-19 20:13] svk31 commented on #34
@valzav You could try wrapping it in an iframe perhaps for the light client?

[2017-01-19 20:13] svk31 opened #35 "Fiat deposits and withdrawals - Links are confusing"
_From @kenCode-de on January 22, 2016 14:47_

Running latest v...121 light client
Just FYI, I have never used OpenLedger, but I do have a CCEDK.com account.

In Overview, click an account, click deposit/withdraw, click ccedk, click "Click here to register for deposits". This loads up an external browser window which looks a little shady. Can't I just enter my CCEDK login info here with the hash an

[2017-01-19 20:14] svk31 opened #36 "add asset description on mouseover"
_From @btswolf on January 22, 2016 22:30_

Display asset information when moving the mouse over the asset name.
There should be a quicklink to the corresponding asset page too.
![Github Logo](https://i.imgur.com/5V9MXSK.png)

_Copied from original issue: cryptonomex/graphene-ui#686_

[2017-01-19 20:14] svk31 opened #37 "the new ccedk fiat thing is very confusing"
_From @kenCode-de on January 25, 2016 13:53_

deposit/withdraw screen, click ccedk tab.

this text is displayed 3 times:
Click here to register for deposits

this text is displayed 3 times too:
Click here to register for withdrawls

VERY confusing.
Worse yet, both of the "here" hyperlinks appear to load the same form, but one is in my external browser and the other keeps you in the wallet with no

[2017-01-19 20:14] svk31 opened #38 "On Voting/Workers page it's not obvious that changes take no effect until published"
_From @valzav on February 5, 2016 19:26_

So maybe after Approve button is pressed, it needs to say something like "Supported (publish to cast your vote)" in the status field?

_Copied from original issue: cryptonomex/graphene-ui#718_

[2017-01-19 20:14] svk31 commented on #38
_From @abitmore on February 6, 2016 4:51_

And best if we have a warning before user leave the page, if some changes made but not published.

[2017-01-19 20:14] svk31 commented on #38
_From @abitmore on February 6, 2016 4:52_

And/Or maybe just pop up the confirmation window.

[2017-01-19 20:14] svk31 commented on #38
_From @dnotestein on February 6, 2016 5:4_

Requiring the user to either publish or cancel pending changes before they leave the page (as I think abit is suggesting) sounds like a reasonable idea. As I understand current operation, it doesn't immediately pop up a confirm when you press the button so that you can "batch" several votes into one transaction.

[2017-01-19 20:14] svk31 opened #39 "add client-server connection status"
_From @btswolf on February 5, 2016 21:34_

For troubleshooting reasons is would be great to have an indicator that shows the connection quality to the server.

maybe at the bottom left of the Blocks.
GOOD (<30ms), SLOW (<150ms), POOR (>150ms)
GREEN/YELLOW/RED

_Copied from original issue: cryptonomex/graphene-ui#719_

[2017-01-19 20:14] svk31 opened #40 "UI proposal: View vertical menu on any page by toggling hamburger icon"
_From @jonnybitcoin on February 19, 2016 1:53_

See proposed UI mockup image below.
I personally find navigating to pages listed on the vertical menu too slow.
- Add burger icon to top left corner which will slide out/in the vertical menu.
- Move account selection drop down (in header) to far left and show on every page.

Disadvantage would be the slide out vertical menu would cover some of the in

[2017-01-19 20:15] svk31 opened #41 "GUI development for BSIP10 percentage based transfer fee"
_From @abitmore on March 1, 2016 11:33_

This ticket is for tracking GUI works of BSIP10.
- The BSIP10 feature requirement/description is [here](https://github.com/bitshares/bsips/blob/master/bsip-0010.md).
- main back-end develop branch is [here](https://github.com/abitmore/bitshares-2/tree/dev-transfer-fee).

Things to be done:
- [ ] check whether the transfer feature in current GUI is compatibl

[2017-01-19 20:15] svk31 opened #42 "I want to have dates not useless information about blocknumber in my history!"
_From @noisy on March 3, 2016 3:5_

I am not a robot. As a user I prefer to you see and use well formmated dates like 03/03 02:51:12, rather than seeing a useless information about block number.

![selection_165](https://cloud.githubusercontent.com/assets/201263/13483427/879d8336-e0f4-11e5-83de-3942bccf1b11.png)

The interesting part is... that this is not only wrong.. but this is not even a consi

[2017-01-19 20:15] svk31 commented on #42
There's a simple reason for this: the date is not available in the data from the api but the block number is. We have a component that calculates the date from the block number, but I tested it here and it's inaccurate due to missed blocks, so you end up displaying a date that could be several days off.

I could instead display a date like "4 months ago", which means the accuracy becomes less of a

[2017-01-19 20:15] svk31 commented on #42
_From @abitmore on March 3, 2016 11:29_

@svk31 Can you call `get_block` API to fetch the real timestamp?

[2017-01-19 20:15] svk31 commented on #42
_From @abitmore on March 3, 2016 11:34_

By the way on my laptop the timestamp in all history always shows as format "yyyy/m" but not "m/d" or "d/m", very strange. Win7 64bit. Default language in my laptop is set to Simplified Chinese. BitShares GUI language is English. Default date format of my laptop is "yyyy/m/d" (which shows in the system tray).

[code]

[2017-01-19 20:15] svk31 commented on #42
_From @abitmore on March 3, 2016 11:43_

And the history box is too narrow in vertical-order-book mode (screen of my laptop is small though). Can it be placed at the bottom in this case (for example aside "my orders" box)?

[2017-01-19 20:15] svk31 opened #43 "[4] Notify users about available update in the wallet"
_From @btswolf on March 9, 2016 16:7_

If there is a new public release of the light wallet there should be an indicator that a newer version is available. Could be at the bottom. Update available.... outdated etc...

_Copied from original issue: cryptonomex/graphene-ui#765_

[2017-01-19 20:15] svk31 opened #44 "UI/UX: Need ability to search Recent Activity"
_From @kenCode-de on March 10, 2016 15:49_

Right next to the CSV link would be a great place to put a search field. Maybe even add from/to date range fields.

Then, ability to export just those search results to CSV would be cool too. I need to be able to quickly prove every payment that was received from someone.

_Copied from original issue: cryptonomex/graphene-ui#769_

[2017-01-19 20:15] svk31 commented on #44
_From @cryptokarnal on June 27, 2016 21:10_

Agreed, this would be very useful.

[2017-01-19 20:15] svk31 opened #45 "Transfer: update "available" after empty"
_From @abitmore on March 12, 2016 8:7_

Assume I have 10 IOU and 100 BTS in my account.
Steps:
- click on "Send"
- input "to", select "IOU" from "amount" box: the "available" amount is updated
- click "available", click "send": asset in the amount box is updated to "BTS" and unable to change, "available" is updated to "0 IOU" but didn't change to "XXX BTS"

_Copied from original issue: cryptonomex

[2017-01-19 20:15] svk31 opened #46 "[4] Asset update: Claim asset fees amount checking issue"
_From @abitmore on March 12, 2016 9:19_

When there is 1,000,000,000 fee accumulated, it's unable to claim more than 1000 each time, otherwise the "claim" button got disabled. (CER = 1,000,000 asset : 1 BTS)

_Copied from original issue: cryptonomex/graphene-ui#773_

[2017-01-19 20:16] svk31 opened #47 "[1.5] Missing wallet preferred currency on hover at total sum"
_From @btswolf on March 13, 2016 19:2_

![image](https://cloud.githubusercontent.com/assets/11035520/13730692/5f7022d2-e956-11e5-999e-a518d6a18448.png)

_Copied from original issue: cryptonomex/graphene-ui#777_

[2017-01-19 20:16] svk31 opened #48 "[2] Ignored accounts appear again after relaunch"
_From @abitmore on March 15, 2016 8:58_

It seems current size of ignore_account_list is still too small for me? After relaunched the light client, about 10 accounts appear again, other accounts are still hidden well.

_Copied from original issue: cryptonomex/graphene-ui#781_

[2017-01-19 20:16] svk31 opened #49 "[7] Show status of all API servers?"
_From @abitmore on March 15, 2016 22:16_

Show status of all API servers on init-error page and/or config page and/or a dedicated page? Status includes:

- up/down
- latency
- ~~load~~
- location
- ~~description~~

So user can select fastest server, or maybe eventually auto-select.

Related to #770.

_Copied from original issue: cryptonomex/graphene-ui#784_

[2017-01-19 20:16] svk31 commented on #49
_From @btswolf on April 5, 2016 21:0_

GUI should ask automatically (timeout) to switch API connection after lost connection/blockchain sync problems.

[2017-01-19 20:16] svk31 opened #50 "Check BTC/PTS addresses on key/balance import?"
_From @abitmore on March 15, 2016 23:49_

Latest CLI has the ability to import BTC/PTS keys. Is it possible with GUI?
See
https://github.com/cryptonomex/graphene/pull/558
https://github.com/cryptonomex/graphene/issues/557

_Copied from original issue: cryptonomex/graphene-ui#785_

[2017-01-19 20:16] svk31 opened #51 "Pricing in order confirmation window"
_From @abitmore on March 18, 2016 21:37_

https://bitsharestalk.org/index.php/topic,21961.msg192149.html

Copy & paste here:

Another UI fix would be to adjust the price in the order confirmation windows to be quoted in the same asset base as the market. For instance, we can view any of the markets in either ASSET-BTS or BTS-ASSET --i prefer using ASSET-BTS to normalize them all to a BTS base; how

[2017-01-19 20:16] svk31 opened #52 "Request: show a warning about core_exchange_rate at asset create/update page"
_From @abitmore on March 23, 2016 13:10_

The fact:
1. half of asset creation fee will go to the fee pool.
2. funds in the fee pool belongs to the asset issuer, and it can be withdrawn safely if no outstanding asset exists (a bit tricky though)
3. any asset holder can sell the asset back to the issuer at core_exchange_rate if the fee pool is not empty. If the issuer didn't set the rate correctly/s

[2017-01-19 20:16] svk31 commented on #52
_From @abitmore on March 26, 2016 9:42_

See http://docs.bitshares.org/bitshares/user/assets-faq.html#fee-pool

[2017-01-19 20:17] svk31 opened #53 "[4] Voting: show standby witnesses and committee members"
_From @abitmore on March 31, 2016 13:13_

We should show standby witnesses and committee members in GUI, so people can vote for them.

_Copied from original issue: cryptonomex/graphene-ui#801_

[2017-01-19 20:17] svk31 opened #54 "Troll box can eat up all socket connections for firefox"
_From @dnotestein on May 5, 2016 14:58_

This results in web sites not resolving via DNS until OpenLedger web page is closed.

_Copied from original issue: cryptonomex/graphene-ui#844_

[2017-01-19 20:17] svk31 opened #55 "Trollbox causes high and increasing CPU usage"
_From @svk31 on May 12, 2016 6:35_

Looks like this is a Chrome/browser bug related to WebRTC connections. It has been present for quite some time but will apparently be fixed in an upcoming release, as reports are saying it's fixed in the current Chrome Canary build (v52).

https://bugs.chromium.org/p/webrtc/issues/detail?id=5733

_Copied from original issue: cryptonomex/graphene-ui#846_

[2017-01-19 20:17] svk31 opened #56 "Populate withdraw amount with a click"
_From @nmywn on May 17, 2016 14:39_

![openledger](https://cloud.githubusercontent.com/assets/18205812/15326061/d3ec8140-1c4c-11e6-9f86-612285386816.png)

_Copied from original issue: cryptonomex/graphene-ui#848_

[2017-01-19 20:17] svk31 opened #57 "Privacy enhancements to wallet network behavior"
_From @cryptokarnal on June 17, 2016 9:5_

Based on a discussion ~1week ago on bitsharestalk.org, I'd like to propose the following:
- Allow selecting a wss:// endpoint per wallet, to help prevent the server from correlating requested balances (that map to account name) with the users' ip address.
- When switching between wallets, tear down the connection to the server; Add an option to re-establi

[2017-01-19 20:17] svk31 opened #58 "Wallet UI needs SOCKS5 proxy support"
_From @cryptokarnal on June 27, 2016 15:27_

Presently, other than transparently proxying the wallet (for power users/sysadmins only), there is no support to proxy the connection to the api server from the wallet.

Please consider adding proxy support, to better protect the privacy of bitshares users, thank you.

_Copied from original issue: cryptonomex/graphene-ui#857_

[2017-01-19 20:17] svk31 opened #59 "add date/time to trollbox chat"
_From @btswolf on July 8, 2016 22:18_

_Copied from original issue: cryptonomex/graphene-ui#861_

[2017-01-19 20:17] svk31 commented on #59
_From @chris4210 on July 26, 2016 8:28_

Yes, that feature would be great! Please add.

[2017-01-19 20:17] svk31 opened #60 "Reset config button"
_From @xeroc on July 11, 2016 5:46_

It would be great if there was a "reset config" button in the settings so that we have a chance of changing settings for a hosted wallet (e.g. the faucet url, or the websocket url .)

_Copied from original issue: cryptonomex/graphene-ui#862_

[2017-01-19 20:17] svk31 opened #61 "add price at pointer location on the price chart"
_From @donvito-pl on July 27, 2016 19:30_

While hovering over the price chart there should be a price label somewhere showing the price pointed by cursor.

https://bitsharestalk.org/index.php/topic,18614.msg296973.html#msg296973

_Copied from original issue: cryptonomex/graphene-ui#864_

[2017-01-19 20:18] svk31 opened #62 "Please add detail of a multi signature transaction"
_From @imYao on August 21, 2016 15:23_

Why GUI wallet didn't offer a view of multi signature transactions? Very inhuman!
Each one of multi-signer need to know the detail of the multi-sig transaction to prevent cheating.

Such as:
- Transfer?
- Trade Oder?
- Modify the weights and thresholds?

Thanks for your job.

_Copied from original issue: cryptonomex/graphene-ui#867_

[2017-01-19 20:18] svk31 commented on #62
_From @xeroc on August 21, 2016 17:55_

Multisig is not per-transaction, but per account:
http://docs.bitshares.eu/bitshares/user/account-permissions.html

Once you proposed a transaction you will see the proposal and it's details in the overview

[2017-01-19 20:18] svk31 commented on #62
_From @imYao on August 22, 2016 5:10_

Where I can see the overview when someone initiate a multi signature transaction? He may cheating me if I don't know what he want to do.
![https://s19.postimg.org/kuyqx98gj/details_of_multisig_transaction.png](https://s19.postimg.org/kuyqx98gj/details_of_multisig_transaction.png)
![https://s19.postimg.org/3vpshzx8z/details_of_multisig_transaction_02.png](http

[2017-01-19 20:18] svk31 commented on #62
This is a valid concern at least for account update operations because the actual details are hidden. The reason for that is simply that there's too much data to display concisely in the overview. I'll see if I can add a popup that shows the full operation details.

[2017-01-19 20:18] svk31 commented on #62
_From @imYao on August 22, 2016 6:51_

@svk31 Thanks so much!

[2017-01-19 20:18] svk31 commented on #62
_From @xeroc on August 22, 2016 15:16_

@svk31 could you please also show the proposal ID somewhere in the overview already?
Makes searching them on cryptofresh.com alot easier! Thanks

[2017-01-19 20:18] svk31 opened #63 "User experience Optimization: API & Language selection should displayed in the home page and start page"
_From @imYao on August 21, 2016 16:16_

User experience Optimization: API & Language selection should **displayed in the home page and start page.**
Thanks for your job.

_Copied from original issue: cryptonomex/graphene-ui#869_

[2017-01-19 20:18] svk31 commented on #63
_From @xeroc on August 21, 2016 17:56_

I don't understand this issue ..
you looking for something like this?
http://docs.bitshares.eu/api/

[2017-01-19 20:18] svk31 commented on #63
_From @imYao on August 22, 2016 5:1_

@xeroc sorry, I didn't explain it clearly. I mean, for **newbies**:

If you are an American, don't understand Chinese, what do you want to do when you open a Chinese website? I will change the Default Language first.

API servers are in different countries, the default API server of BitShares 2.0 GUI is OpenLedger, some people may be difficult to access OpenLe

[2017-01-19 20:18] svk31 commented on #63
This is something we talked about for the revamp of account creation but got lost somewhere, it's definitely something we should do.

[2017-01-19 20:18] svk31 opened #64 "Show indication for insufficient funds for proposed transaction fee"
_From @svk31 on August 23, 2016 8:4_

See issue #870 for background.

_Copied from original issue: cryptonomex/graphene-ui#871_

[2017-01-19 20:18] svk31 opened #65 "The unit of fee is wrong when create a new bitshares account with 0 bts in balance."
_From @kimziv on August 29, 2016 8:32_

![42b056fb15cc34c0986d0d95ed36750a](https://cloud.githubusercontent.com/assets/301489/18045396/3de8ae20-6e05-11e6-895c-3ae78bbc8e08.jpg)

The unit of fee is wrong when create a new bitshares account whith 0 bts in balance.
1. create a new bitshares account A.
2. dposit some BTC to  account A.
3.  sent open.BTC to another account B.

you will see the unit fee

[2017-01-19 20:18] svk31 opened #66 "[1] MARKET TRADE / MY TRADES"
_From @wmbutler on August 31, 2016 22:10_

![screen shot 2016-08-31 at 6 07 45 pm](https://cloud.githubusercontent.com/assets/1254810/18148131/e73132ee-6fa5-11e6-8dc1-8a7e08325a80.png)

This is a cosmetic bug. To reproduce, you must be on an asset that you have already traded in the past in the Exchange tab.
- choose the MARKET TRADES tab
- Scroll down a bit
- Switch to MY TRADES tab
- None of you

[2017-01-19 20:18] svk31 commented on #66
_From @steempower on January 13, 2017 4:10_

This also occurs on all list boxes including buy / sell orderbook's

[2017-01-19 20:18] svk31 opened #67 "Balances Asset display idea"
_From @wmbutler on September 19, 2016 15:37_

This might be pretty complicated, but it would really be great to see the
- [ ] market value per share in the chosen currency on the balances screen
- [ ] green/red based upon whether it's up or down in the past 24 hours
- [ ] Numbers aligned to the decimal regardless of the length of the symbol

![screen shot 2016-09-19 at 11 33 08 am](https://cloud.g

[2017-01-19 20:19] svk31 opened #68 "Show more/all history for 'My Trades' in the DEX"
_From @steempower on January 13, 2017 5:20_

The 'My trades' box within the DEX should provide a longer history of trades by default and include a button to show all trades which would fetch the entire history of the users trades for that market pair

_Copied from original issue: cryptonomex/graphene-ui#895_

[2017-01-19 20:19] svk31 opened #69 "Account::Balances list should show all balances including those that are in open orders"
_From @steempower on January 13, 2017 5:31_

On the Account tab the 'Balances' list should show all balances including those that are in open orders alternatively another column should be added that shows the assets in open orders.

Currently if i own 100 x.assets and i have them all in open orders; x.assets does not appear in the my 'Balances' list at all. Another scenario is if i own 100 x.asset

[2017-01-19 20:19] svk31 opened #70 "[1] Asset Whitelist Authority"
_From @xeroc on January 17, 2017 14:22_

We need to update the asset-update page to allow adding/removing of white- and blacklist authorities.
Basically, it's just an array of user-ids and can be changed with the issuers active key by using `asset_update` op

_Copied from original issue: cryptonomex/graphene-ui#899_

[2017-01-19 20:23] jonnybitcoin commented on #40
I still like this idea 11 months later.

[2017-01-19 21:13] valzav commented on #27
I'll take a look if it's doable.

[2017-01-20 12:38] grctest commented on #29
I've been discussing the potential concept of vote weight degradation - once you vote, it slowly degrades over a period of say 6 months (or longer, depending on voting participation), which would encourage witnesses to continuously interact with the community in an attempt to remain in power.

https://bitsharestalk.org/index.php/topic,23330.0.html

[2017-01-20 13:52] testzcrypto opened #71 "Parameters in translation strings"
Some strings uses %(param)s parameters like %(account)s, some {account} can we change all parameters to same notations {param}?

[2017-01-20 14:09] svk31 commented on #71
No, they are different because they have to be. %(param)s is the default interpolation provided by react-translate-component, which only supports pure strings. {param} is an additional interpolation layer used by the TranslateWithLinks component that lets you use actual react components to provide things like links to assets and proper prices.

[2017-01-20 14:12] testzcrypto commented on #71
Thanks for clarification.

[2017-01-20 14:12] #71 closed

[2017-01-20 14:38] testzcrypto opened #72 ""languages" section in translations"
Every translation file has "languages" section with all available languages names ("en": "English", "fr": "Français", etc). Almost all translation file has same translations for these strings because it's very useful to have language name in this language. Every time when we add new language we should add and translate these language string into all other translations.

In order to make this proce

[2017-01-20 14:59] testzcrypto opened #73 "Remove empty translation string wallet -> brainkey_no_match"
Should we remove this string? https://github.com/bitshares/bitshares-ui/blob/bitshares/web/app/assets/locales/locale-en.json#L916

[2017-01-21 11:05] kenCode-de opened #74 "Large memos cannot be viewed, they get cut off"
I telegrammed @svk31 a screen capture on this one today.

If you have a ton of characters in a memo field with no spaces, only part of the memo text is viewable, and the edges and bottom of the memo are sliced off, instead of text-wrapping properly.

The textarea/cell itself does not have the little drag-corner in the bottom right corner either, so I cannot expand the field to view all of the memo

[2017-01-23 08:02] #73 closed

[2017-01-23 09:07] #74 closed

[2017-01-26 13:41] #69 closed

[2017-01-26 15:08] iPerky opened #77 "Mini Market Depth Graph - bitshares-ui 2.0.170123"
The mini market depth graph Settlement price line is too far right compared to the large graph.

[2017-01-29 00:07] jonnybitcoin opened #78 "Add "Borrow" as an action next to Bitassets on account page"
Current actions next to bitUSD are  Trade | Transfer | Settle
why not add Borrow
this might encourage more people to borrow bitassets in to existentence.

![screen shot 2017-01-29 at 00 00 01](https://cloud.githubusercontent.com/assets/15330829/22400781/612429d6-e5b6-11e6-84b3-eec346310806.png)

[2017-01-29 00:52] jonnybitcoin commented on #77
I think we should get rid of mini depth graph and just let the list of trade pairs continue all the way down.

[2017-01-29 15:51] iPerky commented on #77
Could also make it optional.

[2017-01-30 08:37] #77 closed

[2017-01-30 09:03] #78 closed

[2017-01-30 09:39] #60 closed

[2017-01-30 10:07] svk31 commented on #59
![image](https://cloud.githubusercontent.com/assets/6890015/22419124/4fd93384-e6dc-11e6-86e1-fe09596ef938.png)

[2017-01-30 10:08] svk31 commented on #59
Coming next update, a tooltip shows the full date.

[2017-01-30 10:09] #59 closed

[2017-01-31 15:07] jonnybitcoin opened #79 "Add drop down for other faucets"
Would be good to see the list of available faucets even though the only time you'll use it is on the first visit.

https://secure.freedomledger.com is another faucet that can be listed other than openledger

[2017-02-01 13:19] #23 closed

[2017-02-01 13:19] #45 closed

[2017-02-01 13:19] #61 closed

[2017-02-01 13:39] svk31 commented on #65
Closing as I'm unable to reproduce it, seems ok now.

[2017-02-01 13:39] #65 closed

[2017-02-01 16:53] testzcrypto opened #80 "Fixes in 'GUI Release v2.0.170201' release description"
https://github.com/bitshares/bitshares-core/releases/tag/2.0.170201

Please change 'Russian language translation thanks to @testzcrypto' to:
'Russian language translation thanks to [@rusteemitblog](https://steemit.com/@rusteemitblog) and @testzcrypto'

[2017-02-01 18:53] svk31 commented on #80
Done

[2017-02-01 18:53] #80 closed

[2017-02-16 16:18] jonnybitcoin opened #83 "Access to API and selection Renaming?"
On the Access page there's a dropdown to chose API connection which is great.

I was just thinking about the wording.
Bitcoiners and less technical people would have a better understanding of what was actually happening if this was called.
"Choose which full node you want to connect to"

I as a noob didn't realise for ages that you could connect to a full node that wasn't run by openledger when br

[2017-02-16 19:50] jonnybitcoin opened #84 "Maybe move HELP to EXPLORER page"
Maybe move HELP to EXPLORER page?

Also could put WORKERS on the EXPLORER page as well as it has witnesses and committee members already

[2017-02-26 14:02] fractalnode commented on #84
and move EXPLORER next to SETTINGS.
Dropdown only for accounts list

[2017-02-26 21:30] abitmore opened #85 "[7] Unable to withdraw entire funds, must leave a satoshi dust"
This is a repost of https://github.com/bitshares/bitshares-core/issues/238.

The withdrawal will only go threw if you manually remove a portion (as little as a satoshi) of the asset.

[2017-03-04 17:45] jonnybitcoin opened #87 "remove Deposit/withdraw from vertical menu"
remove Deposit/withdraw from vertical menu.

not needed as it is always shown in header menu

[2017-03-05 18:56] vikramrajkumar opened #88 "[.5] Turkish characters do not display properly"
_From @JianJolly on March 4, 2017 17:59_

When Turkish language is chosen, special characters won't show up in the same font type as the rest of the page. See the letters 'Ö', 'ı' and 'ç' in the screenshot below.

![1](https://cloud.githubusercontent.com/assets/19493352/23580996/cc44b112-0114-11e7-8d0c-fb2501672cc7.png)

_Copied from original issue: bitshares/bitshares-core#244_

[2017-03-05 18:57] vikramrajkumar commented on #88
_From @abitmore on March 5, 2017 0:7_

UI issues belong to https://github.com/bitshares/bitshares-ui/issues

[2017-03-06 19:17] JianJolly opened #89 "Fee calculation error"
In the buy and sell widgets, when the fee is to be paid in BTS, the "use all my balance" function seems to calculate the fees in satohis, but doesn't divide the result by 1e+8 at the end. See below for examples.

![corewalleterror2](https://cloud.githubusercontent.com/assets/19493352/23625555/4383df70-02b2-11e7-89da-07df7c62d002.jpg)

![corewalleterror1](https://cloud.githubusercontent.com/assets/

[2017-03-06 20:54] #89 closed

[2017-03-06 20:54] svk31 commented on #89
Good catch, thanks.

[2017-03-07 12:05] JianJolly opened #90 ""Valid positive number" error in BTC withdrawals"
When a number less than 1 is entered in the Amount field, the BTC withdrawal window gives the following error:

![photo_2017-03-07_15-03-46](https://cloud.githubusercontent.com/assets/19493352/23655747/105d9f36-033f-11e7-993f-d2a4244051cf.jpg)

[2017-03-07 12:15] svk31 commented on #90
Already fixed here https://github.com/bitshares/bitshares-ui/commit/f52647be5bd0d3c158007be15c3cd4dc1dfa8b15

[2017-03-07 12:15] #90 closed

[2017-03-10 10:46] #87 closed

[2017-03-10 15:08] iPerky opened #93 "TROLLBOX link to bitshares.org and telegram"
Could we add the light wallet trollbox to https://bitshares.org/
and possibly link to telegram https://t.me/BitSharesDEX

[2017-03-14 06:11] steempower opened #96 "[4] Exchange charts only show 200 bars of data"
Exchange charts only show 200 bars of data; This means if you zoom out instead of showing more data the bars just get condensed into the center of the screen.

i have been informed that this is due to the API only returning 200 items. Suggest upon zoom out if more data is required the next 200 items should be pulled from the API server as required

[2017-03-15 06:31] JianJolly opened #98 "Missing translation keys"
The explanations under "deposit/withdraw" don't seem to have a key to translate.

![1](https://cloud.githubusercontent.com/assets/19493352/23936270/b7d299cc-0959-11e7-9edf-40c32c79c360.jpg)

https://github.com/bitshares/bitshares-ui/blob/bitshares/web/app/assets/locales/locale-en.json

[2017-03-15 09:49] svk31 commented on #98
They're in here: https://github.com/bitshares/bitshares-ui/blob/bitshares/help/en/components/DepositWithdraw.md

[2017-03-15 09:49] #98 closed

[2017-03-15 09:50] svk31 commented on #84
Help and Explorer links can now be found in a dropdown together with Settings.

[2017-03-15 09:50] #84 closed

[2017-03-15 09:50] #83 closed

[2017-03-15 09:53] svk31 commented on #34
It no longer opens inside the light wallet but instead in an external browser.

[2017-03-15 09:53] #34 closed

[2017-03-15 09:54] #35 closed

[2017-03-15 10:14] #37 closed

[2017-03-16 17:30] xeroc opened #101 "Button to provide new (unused) pubkeys from the brainkey"
It would be nice to have a feature that allowed people to generate a set of fresh pubkeys from the brainkey.
This would allow them to easily replace account keys while being able to recover them from a brainkey.
It also enables to setup a new brainkey and migrate existing accounts to a new brainkey/wallet

[2017-03-21 17:16] JianJolly opened #105 "Missing translation keys"
Below are a few strings for which there is no translation key.

1) Input placeholders: "Account Name (Public)" in Registration, "Enter password" in Unlock Wallet, and "Current password" in Settings.

http://prntscr.com/em02py
http://prntscr.com/elzw6l
http://prntscr.com/em06mu

2) "Choose closest automatically" in API node list.

http://prntscr.com/em07pg

[2017-03-23 06:56] #105 closed

[2017-03-28 18:48] vikramrajkumar opened #109 "remove the ability to execute external code in the light client"
_From @btswolf on March 26, 2017 18:24_

The light client should not connect to any external sources other than default API and Chat.
Embedded websites like the one from BitKapital in the Deposit/Withdraw section represents an unnecessary security issue and should be removed.

_Copied from original issue: bitshares/bitshares-core#252_

[2017-03-28 18:48] vikramrajkumar commented on #109
_From @oxarbitrage on March 28, 2017 12:50_

please lets move this issue to the bitshares-ui repo:
https://github.com/bitshares/bitshares-ui/issues

[2017-03-28 18:48] vikramrajkumar opened #110 "[1] Provide info which node is active in GUI if automatically selected"
_From @btswolf on March 26, 2017 19:32_

When Full Node API Server is selected automatically please add information which node is actually active.

_Copied from original issue: bitshares/bitshares-core#253_

[2017-03-28 18:48] vikramrajkumar commented on #110
_From @oxarbitrage on March 28, 2017 12:50_

please lets move this issue to the bitshares-ui repo:
https://github.com/bitshares/bitshares-ui/issues

[2017-04-10 18:35] vikramrajkumar opened #116 "[0.25] Display Asset names exactly as they exist"
_From @iPerky on February 1, 2017 17:57_

Bitshares community wallet needs to be impartial, clear and open!
Our wallet should clearly mark all assets and the differences between them.

It it misleading for BitShares to drop "open" for all openledger assets (or for any other asset).

This issue is about clarity and transparency. It has no reflection on the great work of both Ronny (of Openledger) a

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @fractalnode on February 1, 2017 19:18_

What name will the next similar company choose for their IOU.BTC then?

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @jonnybitcoin on February 1, 2017 20:3_

In the backend the OPEN. will remain. It's just easier in the front end to not have it while openledger has no competition.
When openledger has some competition we can change it back again.

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @iPerky on February 2, 2017 12:36_

In my opinion this is a bad precedent.

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @grctest on February 2, 2017 13:1_

Is this not promoting OL over other EBA providers? Will this not confuse users who have trade.btc instead of open.btc?

If there was an automatic bridge of [<Any_EBA_Provider>.BTC -> BTC (when trading BTC:<whatever_token>] then this would make more sense & be fairer, no?

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @dnotestein on February 2, 2017 13:4_

To me it's simply confusing from the perspective of things like BitBTC. I find it confusing now to figure out if an asset is OPEN.BTC or BitBTC (which has a symbol of BTC). This is reason why I don't like dropping the prefixes.

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @abitmore on February 2, 2017 13:35_

I like the old behavior which lists
* bitCNY
* open.CNY
* iou.CNY

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @abitmore on February 2, 2017 13:38_

A little off-topic here, since this repo has been renamed to bitshares-core, I think it's better to tag future GUI releases in the bitshares-ui repository directly.

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @dnotestein on February 2, 2017 13:47_

yes, I also liked the display as mentioned by abitmore

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @kenCode-de on February 25, 2017 20:36_

I agree 100%. Let's please find a way to be transparent, and show the full asset names, without having to rely on a Tooltip or other event.

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @oxarbitrage on April 6, 2017 16:51_

Agree with @abitmore this discussion is a bit off-topic here as @jonnybitcoin mentioned the backend will not change the asset names.

How the GUI display the assets should be discussed here:
https://github.com/bitshares/bitshares-ui/issues

Anyways, by now this seems to be resolved in by removing the OPEN prefix from the wallet:

![228_1](https://cloud.g

[2017-04-10 18:35] vikramrajkumar commented on #116
_From @dnotestein on April 6, 2017 17:3_

The proper action is to move it, IMO.

[2017-04-11 15:06] steempower opened #117 "'My Trades' only shows a small amount of history"
I would like the ability to fetch all my trades; by default showing the last x amount is fine but on request we should be able to provide a user with their complete history of buy and sells for the selected market/asset

[2017-04-14 14:14] nmywn opened #118 "Remove password change option in "Account model""
It is misleading.
Also please look:
https://bitsharestalk.org/index.php/topic,23645.msg304646.html#msg304646 this is urgent  imo.

[2017-04-14 14:47] nmywn opened #119 "[Deposit/withdraw] Openledger dropdown list does not contain all available assets."
It looks like slider is missing and rest is hidden. Firefox/Chrome/light-client.
Openledger gui shows all.

[2017-04-18 06:38] #119 closed

[2017-04-18 07:44] xeroc opened #121 "Invoice.jsx needs update"
The invoice.jsx needs updating.

* the "pay" button misses a label
* the redirect to the callback as offer in the query string is not taken into account

Example:
    https://wallet.bitshares.eu/invoice/JLNHPVjqNdeaeXvP3A42vby858DvomCLVoMwbHNhrUFDvMBUHYabpXeZKCEhvKwKpvhSY9k3zvEJsmgqHywd8WVdj9bKyYrkKsA179o7mvHofS39rMYjNeCEWyrgqCDZcM9ZJuVk2S482rUa3tCFkTz3c9cBuuCVZVNYsaskQeLsdRntW2ZaejXrjshFKKqmTzTPo

[2017-04-22 19:34] nmywn opened #124 "Must I create a new account in order to import backup?"
I know answer to this question.
Wallet mode user after cookie clean up will see this:

![create_account](https://cloud.githubusercontent.com/assets/18205812/25491670/f536b9b8-2b70-11e7-9ae2-cf096b8ef5cc.png)

In order to import backup he must click "Create account" button, which lead to login type selection, then, if lucky enough...

![login_selection](https://cloud.githubusercontent.com/assets/18

[2017-04-22 23:35] JianJolly opened #125 "NaN for very small numbers"
![1](https://cloud.githubusercontent.com/assets/19493352/25309130/558e79c4-27cd-11e7-910b-f8a819838c72.png)

The open.LTC balance is 0.00000055. The "balance" field reads "NaN".

[2017-04-25 09:44] nmywn opened #126 "Add OPEN.SBD to default markets"
Due to USDT issues, SBD volume on Poloniex is raising ($1.8kk last 24h).

* bitUSD:OPEN.SBD => poloniex.SBD => poloniex.BTC is fast and could encourage borrowing.
* It is super easy to make bitUSD:OPEN.SBD market.
* It could be preferred way of moving value between Steem and DEX.

Currently:
* It is imposiblle to deposit SBD in Openledger's "basic mode"
* It is imposiblle to spot that market becau

[2017-04-30 13:23] imYao opened #127 "BTS account which created by Account Model can't unlock memo?"
![image](https://cloud.githubusercontent.com/assets/5551341/25564654/88d3a872-2dea-11e7-8469-7bada9605031.png)
![image](https://cloud.githubusercontent.com/assets/5551341/25564819/d1cb872c-2ded-11e7-9df1-239067fe8b5a.png)

I created a test account (test-20170426) with Account Model, as the picture show: I unlocked my wallet, but transaction memo locked and when I hit it there is nothing happened.

[2017-05-01 13:47] vikramrajkumar opened #128 "Deposit/Withdraw options not fully populated?"
_From @grctest on April 30, 2017 19:18_

Hey,

Is anyone else seeing the following difference between openledger and the bitshares light client?

We're unable to deposit GRC onto the light client as a result. Is this something that openledger will have to fix?

![image](https://cloud.githubusercontent.com/assets/15861527/25567275/0d12a0b0-2de2-11e7-8f2d-5d650cbfea79.png)

Cheers.

_Copied from ori

[2017-05-01 13:47] vikramrajkumar commented on #128
_From @abitmore on April 30, 2017 19:29_

Please post to https://github.com/bitshares/bitshares-ui/issues

[2017-05-06 13:44] dnotestein opened #133 "Need warnings for more phishing accounts in transfer page"
The web wallet has a warning for poloniex phishing account (real account for poloniex is poloniexwallet), but it needs more such warnings: blocktrade, locktrades, yun.bts, transwiser-walle, yun-btc, bittrex-deposits, poloneix. The account xgslym just created a bunch more last month, so you might want to look at those too.

[2017-05-07 14:13] ffallah opened #134 "Replace current charting library with Tradingview"
The current charting provided in Bitshares GUI is very bad and novice.
Is it possible to replace it with Tradingview ? it is free :
https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/
Almost all good exchanges use Tradingview and it is fantastic.

[2017-05-07 16:08] grctest opened #135 "Neutral proxy representation?"
Hey,

So I was interested in becoming a proxy and found that it's as simple as another user simply searching for your account name then hitting 'publish changes', but I found out that the 'known proxies' list is a static list.

In order to be neutral when promoting 'known' proxies, would it be possible to automatically display user accounts that others are trusting as a proxy, descending in terms

[2017-05-08 00:08] grctest commented on #128
It's now showing on the Bitshares light client, was this an Openledger issue rather than a UI issue?

[2017-05-08 00:11] grctest commented on #126
Shouldn't EBA tokens all be default market pairs? OPEN.GRC also doesn't show unless you go through 'Find Markets'.

[2017-05-08 07:01] svk31 commented on #135
It's a good idea for sure, but there's no API available for this I'm afraid which is why the list is hard-coded. If you know of any proxies that you'd like to have added to the list, just let me know and I can add them.

[2017-05-08 07:02] svk31 commented on #125
This was fixed in a previous commit, the reason was a regression in the package 'numeral' that's used to format numbers.

[2017-05-08 07:02] #125 closed

[2017-05-08 07:11] svk31 commented on #126
Both of those are naturally low volume assets, but I'll add them to the default list of assets in the exchange.

[2017-05-08 07:14] #126 closed

[2017-05-08 07:18] #133 closed

[2017-05-08 17:52] nmywn commented on #126
Thank you very much. Coins not present on that list are not available to deposit on Openledger's basic mode. So SBD and GRC will show if they merge your update, but rest remain hidden. This make no sense for me. I'm not sure if this is their choice  or just lack of attention. Any market making attempt will be failure on those markets - nobody will notice.

[2017-05-08 21:48] grctest commented on #135
I'd greatly appreciate having my account listed as a proxy: "customminer"

My background:
I've been a BTS holder since the BTSX days, I'm heavily involved within the Gridcoin community and aim to promote the use of Bitshares for trading OPEN.GRC instead of using centralized exchanges.

Aims as a proxy:
* Simplifying the voting process for Gridcoin community members.
* Voting for reliable witnesses

[2017-05-08 23:55] grctest commented on #135
Would such a feature require a BSIP within the Bitshares-Core repo? A similar descending vote listing is shown for Witnesses, so it should be theoretically possible for Proxies.

[2017-05-09 04:34] wmbutler opened #137 "Multiple decimals can be entered into exchange input fields"
## The Bitshares lite wallet doesn't handle decimals or initial justification in a very friendly way. This can lead to unintended orders.

### Reproduce
- OS X
- Lite Wallet 2.0 v 170328
- Go to BTS/bitUSD exchange
- Focus your cursor in the BUY BTS Price field

**First Issue**
The cursor appears to the left of the zero. This isn't a huge issue, but it would make more sense for the 0 to either be

[2017-05-09 05:30] wmbutler opened #138 "Voting for a Proxy UI"
## When manually entering a proxy to vote for, the UI is confusing.

### Reproduce

The confusion seems to stem largely from the **Goto** control next to the manual input field. I think eliminating this button would be an easy improvement. The pattern that's easy to fall into if I were to vote for `xeroc` would be to:

- Click `Set` next to xeroc's Known Proxy
- Click `Goto`
- Click `Publish Chang

[2017-05-09 05:47] wmbutler opened #139 "[1] Hot Switching between accounts and proxy interface"
If a user has multiple accounts in their wallet and uses the dropdown to switch between them, the value for proxy is being carried across rather than being read from the blockchain.

### Reproduce
- Account A has **no** proxy set
- Account B has a proxy set
- On account A, navigate to the Voting / Proxy area
- Hotswitch to account B. Even though Account B has a proxy set, it will still show the sa

[2017-05-09 22:01] grctest commented on #138
I agree, I found the 'Go To' button confusing.

Relevant proxy UI issue: https://github.com/bitshares/bitshares-ui/issues/135

[2017-05-10 11:40] #127 closed

[2017-05-15 19:35] Xeldal opened #142 "New Entries Disapear on Permissions and Voting tabs"
After adding a new key before you have time to press Publish Changes, the screen automatically refreshes and removes everything I've added back to the original state.  The same thing happens on the voting screen when adding new witnesses or committee before publishing.

Wait long enough and it will revert to the original state.

bitshares. org/wallet bitshares.170508   and Lightwallet bitshares.17

[2017-05-15 19:59] Xeldal opened #143 "Light Wallet doesn't recognize 'send to' accounts"
Often when trying to send, entering "poloniexwallet" or "bittrex-deposit" into the light client (bitshares.170508 Win64) I get the error "Unknown account".  I don't think it's limited to those accounts it seems to be near all accounts not specifically in my wallet are Unknown.

Sometimes reloading fixes this but most often not.  This problem does not appear to be in the webwallet(chrome/firefox)

[2017-05-15 20:15] dnotestein commented on #143
I had the same problem with the web wallet, resolved it by reloading the page.

[2017-05-16 06:35] abitmore opened #145 "Transwiser memo issue"
Moved from https://github.com/bitshares/bitshares-core/issues/283:
@imYao wrote:

Two Chinese characters are replaced by strange characters and numbers. Is there something wrong with text coding?

The bad characters are generated by transwiser withdrawal page.

@AlexChien is aware of this and will provide a fix, probably together with moving this PR https://github.com/cryptonomex/graphene-ui/pull/

[2017-05-16 16:37] SahkanDesertHawk opened #146 "[4] Sell Order Does not Show on the GUI"
In  BLOCK #16539841there is 2MLN BTS/BTC sale that does not sow on the orders book, and does not show under 'my open orders' on the that page.

[2017-05-17 20:45] #145 closed

[2017-05-18 22:26] wmbutler opened #148 "Voting Page hyperlink for known proxies is not necessary"
This adds additional confusion to have a link for known proxies. The only action that makes sense in this case is the "Set" button next to the known proxies.

[2017-05-19 03:12] wmbutler opened #150 "Modifications to Exchange Terminology"
- The units of price should technically be a fraction. Adde a ratio here to make it more clear
- Increase the width of the buy-sell-box to accommodate the longer price units
- decrease buy-sell-label and buy-sell-input
- Change ambiguous label `Amount` to `Price`

![screen shot 2017-05-18 at 11 04 45 pm](https://cloud.githubusercontent.com/assets/1254810/26231641/977dd00e-3c1e-11e7-904f-e12c35de4c

[2017-05-19 03:22] wmbutler opened #151 "Multiple decimals in numeric field"
User is able to enter multiple decimals into number fields. This should not be allowed.

![screen shot 2017-05-18 at 11 21 58 pm](https://cloud.githubusercontent.com/assets/1254810/26231989/d535c8fa-3c20-11e7-9efb-c303c295d1b4.png)

[2017-05-19 19:21] abitmore opened #152 "Missing translation keys"
At least `unlock_password`, `password_login` and a few other keys are in English file but not in some other files.

[2017-05-20 08:55] xiangxn opened #153 "locale-xx.json bug"
locale-cn.json
    If you want to output “%”, use two “%%”.
    `gateway.assets.bit = "它是100%去中心化" to "它是100%%去中心化"`

[2017-05-22 05:54] todasun opened #154 "[1] Allow user to type in and jump to a specific block"
when user want to check a specific Block for  trans details(such as memo)
the chain explorer can't Quick location
click the arrow  so many times to find an old  specific Block (3s/block   a block 24h ago,needs 24*60*20=28800 click)

![image](https://cloud.githubusercontent.com/assets/10720816/26294420/304cd0da-3ef6-11e7-8cf4-2e4166b06430.png)

[2017-05-22 06:16] todasun commented on #154
when use web wallet  ,modify URL can Quick location   a specific Block

[2017-05-22 10:39] #153 closed

[2017-05-22 11:07] svk31 commented on #143
This is just an issue with API server latency since the GUI does a lookup to resolve names.

[2017-05-22 11:07] #143 closed

[2017-05-22 11:09] svk31 commented on #128
There's filtering happen depending on what coins are currently available via the gateway. If the gateway is having issues with the wallet of a particular coin it will disappear from this list.

[2017-05-22 11:09] #128 closed

[2017-05-22 11:12] #148 closed

[2017-05-22 11:12] #150 closed

[2017-05-22 11:14] svk31 commented on #142
Unable to reproduce, anyone else seeing this?

[2017-05-22 11:16] #138 closed

[2017-05-22 11:16] svk31 commented on #135
This is something that would be ideal for a micro-service similar to what the Steemit team is currently building for Steem.

[2017-05-22 11:49] #135 closed

[2017-05-26 13:48] btswolf opened #158 "[2] add function to import/export favorites"
https://steemit.com/bitshares/@mirda/my-bitshares-problem-help-needed

Favorites are not stored in the wallet backup and get messed up after webwallet update.
An import/export function so save the favorites would be awesome.

[2017-05-29 16:57] nmywn commented on #110
I've set my api access at local host and it is display as in use, which can't be true because I don't run API server:
Provide information that API is "selected" automaticaly if user choice is not available.

[2017-05-31 16:58] wmbutler commented on #137
This is looking pretty good, just one small fix to resolve the issue of multiple decimals in a number field on the exchange:
![screen shot 2017-05-31 at 12 57 37 pm](https://cloud.githubusercontent.com/assets/1254810/26643900/e169006c-4600-11e7-8bbc-1d1a203c9fc7.png)

[2017-05-31 17:02] wmbutler opened #160 "[0.5] Hot Switching accounts in vesting balances screen"
When changing from one user to another, the wallet should load the appropriate vesting balances for each account. Currently, it's not updated.

See the two different accounts at the top, but the vesting data did not update.

![screen shot 2017-05-31 at 1 01 29 pm](https://cloud.githubusercontent.com/assets/1254810/26643996/4a88b6a0-4601-11e7-91e2-e4c791660dcf.png)
![screen shot 2017-05-31 at 1 01

[2017-05-31 17:03] wmbutler commented on #151
Referenced this is #137 closing as duplicate.

[2017-05-31 17:03] #151 closed

[2017-05-31 17:04] wmbutler commented on #142
I haven't seen this happen.

[2017-05-31 17:30] grctest opened #161 "Enable easier searching for active trading pairs?"
Would it be possible when searching for trading pairs to only put in a single token name, and have a list of trading pairs with active buy/sell orders? It might make finding potential trades easier? Or would it be too computationally expensive to perform?

[2017-06-01 21:01] vikramrajkumar opened #163 "[2] Light-Wallet: Text cut-off"
_From @btsfav on May 28, 2017 14:54_

![3d40d199-c23c-453b-944d-c65a16d10e6a](https://cloud.githubusercontent.com/assets/15261692/26529751/3143dbbc-43c6-11e7-94ea-8b9fd96f2cb6.jpg)

gateway drop-downs are cut-off in the most recent version.

win7 64bit here

_Copied from original issue: bitshares/bitshares-core#293_

[2017-06-01 21:01] vikramrajkumar commented on #163
_From @abitmore on May 28, 2017 21:4_

Please report UI issues to https://github.com/bitshares/bitshares-ui/issues/

[2017-06-05 04:49] Sepero opened #164 "Insufficient funds error"
I hope I'm posting this issue in the correct place. Please forgive me and make correction if I have made a mistake.

Steps to reproduce issue:
1. Open trading platform
2. Go to any exchange where you own assets for both sides (for example if you own BTS and bitUSD, go to that exchange)
3. Attempt to sell all of one asset, and pay for the fee with your other asset.
4. You will receive the error "In

[2017-06-06 12:48] o5j5vg55bv5hv5j5f8799f9 opened #165 "send window issues with memo"
Here's what I'm doing

1. bitshares.org/wallet/#/transfer
2. put in name
3. put in quantity e.g. 10
4. put in memo "ty"
5. hit send
6. unlock wallet window pops up (account model)
7. do it, hit login
8. nothing happens
9. hit send again, no response

If I skip memo, step 4, it works

chrome / windows 7

[2017-06-08 08:24] o5j5vg55bv5hv5j5f8799f9 opened #166 "errors/no-reaction hitting withdraw button"
A user reported seeing this error while trying to withdraw btc through openledger gateway http://i.imgur.com/kltxd2g.png (bitshares.org/wallet portal)

I tried to replicate and withdraw open.btc through openledger gateway using bitshares.org/wallet portal and chrome/windows7. Wallet was unlocked. I had open.btc & bts. Filled out the form to withdrar 0.09 btc to my own bitcoin address, hit withdraw

[2017-06-08 12:18] abitmore opened #167 "[1.5] Feature: friend list / address book / known contact"
We badly need this feature, to reduce human errors while sending funds. Sorry if it's a duplicate feature request.

[2017-06-11 10:54] o5j5vg55bv5hv5j5f8799f9 commented on #166
Solved my issue - memo key didn't match new active permission key after switch from wallet model to account model. copied new active permission key to memo key - everything works.

[2017-06-11 10:55] o5j5vg55bv5hv5j5f8799f9 commented on #165
Solved my issue - memo key didn't match new active permission key after switch from wallet model to account model. copied new active permission key to memo key - everything works.

[2017-06-13 00:21] grctest opened #169 "[1] Add links to asset details within exchange view?"
What do you think about including a link to the asset page from within the exchange view?
https://openledger.io/market/BTS_USD
https://openledger.io/asset/BTS
https://openledger.io/asset/USD

It might make it easier for users to find more information about assets when they're actively trading on the DEX, more so than just the hover info.

Cheers

[2017-06-13 00:21] grctest commented on #167
It's a good idea - most cryptocurrencies have an address book.

[2017-06-13 00:41] o5j5vg55bv5hv5j5f8799f9 opened #170 "Referral links don't work on bitshares.org (work on openledger.io)"
I have tried creating several accounts using bitshares.org interface

for example https://bitshares.org/wallet/#/market/BTS_OPEN.BTC?r=mybtsname
or https://bitshares.org/?r=mybtsname

Using account model. Every time the membership said my referral was from openledger

Doing same thing but with https://openledger.io/?r=mybtsname
or https://openledger.io/market/BTS_CNY?r=mybtsname

did however regis

[2017-06-13 08:14] pmconrad commented on #170
The first is a user error. The part of the URL after the hashtag is not transmitted to the server. You must insert the referrer parameter before the hashtag, i. e. https://bitshares.org/wallet/?r=mybtsname#/market/BTS_OPEN.BTC should work.

The second is strictly speaking not a ui issue. Apparently the bitshares.org site doesn't forward the referrer parameter to the wallet. I don't know who operat

[2017-06-13 10:42] btsfav opened #171 "Change Referral Link under Membership Tab"
Currently pointing to https://bitshares.openledger.info - OL recently changed to https://openledger.io as default domain,

https://openledger.io?r=ID should be the correct link

[2017-06-15 23:13] grctest opened #173 "Create worker proposal via the GUI"
Hey,

I feel that we would have more worker proposal attempts if it was possible for users to create a worker proposal via the GUI rather than via the CLI/Console.

Would it be possible to add a form for creating a worker proposal?

Cheers.

[2017-06-16 07:19] svk31 commented on #173
I did so a few days ago: https://github.com/bitshares/bitshares-ui/commit/ea8b14494ccd1bc2f09a83a143a0624869959bfb

[2017-06-16 07:19] #173 closed

[2017-06-16 11:15] btswolf opened #175 "[.5] add additional Memo field description"
Some users get confused with the Memo field.
Please change field description to something like:

Memo / Message / Description

[2017-06-16 20:42] Ashaman- opened #176 "[2] Add candlesticks and zoom functionality"
Additionally, can we add 15min, 30min, 4h, and 6h (maybe 12h too? candlestick options added to the chart? With only the options of 5m and 1h on the low end, the utility of 2d and 4d charts is rather lacking. Even better would be to make Zooms and Candlesticks configurable in settings so users can select which options to show.

[2017-06-16 22:49] arhag opened #177 "Allowing user-chosen passwords for the Account Model is dangerous"
The BitShares GUI is meant to be used by regular users. Regular users cannot be trusted to do the right thing when it comes to choosing high-entropy passwords. Learn from the [mistakes](https://steemit.com/steem/@robinhood/offline-attack-on-steem-user-credentials) of [Steemit](https://steemit.com/steemit/@steemitblog/steemit-to-update-password-policy). If you want to bring aboard mainstream users,

[2017-06-17 11:15] abitmore commented on #167
We already have "follow account" feature in the wallet (advanced mode). There is a "pay" button when viewing a followed account. Currently it's best/safest practice to send funds via these features. Perhaps we can improve the UI/UX though.

[2017-06-18 18:07] abitmore commented on #177
How about force existed users to change password to a generated one (if not done already)?

[2017-06-22 16:46] #165 closed

[2017-06-22 23:50] ProZachJ commented on #121
@xeroc Couple things.

1. The documentation shows the url being /#/invoice, but I've confirmed the URL provided above /invoice is the correct URL. I'm using the python script in the docs to generate the invoices but had to modify it just a bit to get a working invoice URL
[code]
2. What do you mean by "the redirect to the callback as offer in the query string is not taken into account"?  I'm not s

[2017-06-23 00:31] ProZachJ commented on #121
Doing a bit of debugging it looks like the then() method here: https://github.com/bitshares/bitshares-ui/blob/bitshares/web/app/components/Transfer/Invoice.jsx#L102 is not being called. That would explain the callback not happening.

Reading backwards to see what is going on.

[2017-06-23 06:15] Ashaman- commented on #176
The price that trades for these tiny amounts (really all trades) execute at should be supplied to the chart before the transaction fee is subtracted. Right now it is done after.

[2017-06-23 16:54] ProZachJ commented on #121
Still haven't figured out the issue with `then()` not being called after transfer, but I've managed to fix the display issue with the send button.
![screen shot 2017-06-23 at 11 53 22 am](https://user-images.githubusercontent.com/2414138/27492111-9cef3232-580a-11e7-96cd-1dd90e3f6bd0.png)

[2017-06-23 18:23] ProZachJ commented on #121
I don't know if it is desired but I've changed the routing to pass the invoice data in the hash per the documentation.

[2017-06-23 20:02] ProZachJ commented on #121
Tracing back why the callback is not being respected...

`onBroadcastAndConfirm` does not appear to ever get called.
https://github.com/bitshares/bitshares-ui/blob/bitshares/web/app/components/Transfer/Invoice.jsx#L74

Similarly in Transfer.jsx  `onTrxIncluded` doesn't appear to ever get called either.
https://github.com/bitshares/bitshares-ui/blob/bitshares/web/app/components/Transfer/Transfer.js

[2017-06-23 21:26] ProZachJ commented on #121
Ok this is strange behavior, if you visit the invoice link and pay, the first time the transaction is confirmed nothing happens. No redirect, none of the confirmation callbacks get called. However, if you wait till the transaction completes and then pay a second time all of the callbacks fire and the user is redirected. I'm thinking there must be some state issue going on.

[2017-06-24 05:32] svk31 commented on #121
The reason this component is outdated is that it's never really been included and maintained. It was developed for a bank demo in the early days of BTS 2 but hasn't really been touched since then.

[2017-06-26 14:12] testlump commented on #177
I wanted to add to this. You should consider disabling Account mode entirely. Not only is there a risk of malicious third parties attempting to deceive a user into exposing their password, it's also the only protection layer on the account. Every exchange these days offers at the very least two factor authentication. A single password as the first and last line of defence - no matter how long and

[2017-06-28 15:59] grctest opened #181 "Github Repo Issue: Unable to search the Bitshares-UI code within GitHub because it's a fork of the Graphene repo"
![image](https://user-images.githubusercontent.com/15861527/27647328-0a5b20d0-5c23-11e7-873d-9701cec93162.png)

I'm unable to search the Bitshares-UI code within GitHub because it's a fork of the Graphene repo, would we be able to change this?

Thanks 👍

---

That said, you can easily search the code by forking the repo locally and searching with a text editor.. so perhaps worth closing this issue

[2017-06-29 09:26] luanhaipeng opened #182 "Cannot compile the package"
ERROR in ./~/_react-foundation-apps@0.7.0@react-foundation-apps/src/modal/index.jsx
Module parse failed: /Users/luanhaipeng/github/bitshares/bitshares-ui/web/node_modules/_react-foundation-apps@0.7.0@react-foundation-apps/src/modal/index.jsx Unexpected token (60:6)
You may need an appropriate loader to handle this file type.
|     }
|     return (
|       <Animation active={this.state.open} animat

[2017-06-29 12:17] ppitonak opened #183 "Random asset chosen for fee payment when no BTS available"
If an user has no available BTS (either zero balance or all are in open orders), the UI chooses other assets for paying fees. In my case it chose TRADE.BTC for cancelling order and QORA for chaning a vote and I couldn't change that.

It might be quite confusing for users so there are few suggestions:

1. If a user opens a new order with (almost) all available BTS amount, show a warning that other

[2017-07-01 04:42] o5j5vg55bv5hv5j5f8799f9 commented on #177
An average user is not going to keep a wallet file around and almost every horror story involved losing that file.

Account model is by far the best and most accessible solution, although I think passwords should be an automatically generated lets say 24 word mnemonic seed like other blockchains use, and it can generate entropy partially from the mouse movements for example or at least minimum cha

[2017-07-01 11:05] testlump commented on #177
This is why the 'Wallet' model offers a Brainkey. Protecting an account by a single password - which most users will not change - is significant attack vector. Few financial institutions protect their customer with anything less than two-factor these days for this exact reason. Username and password alone have not be shown to be secure.

[2017-07-05 00:38] grctest opened #185 "Readme - broken telegram link?"
In the readme.md, the following section links to an invalid telegram group:
[code]

[2017-07-07 18:09] steempower opened #186 "[0.5] Non divisible asset vs Non divisible asset in the DEX allows fractional pricing in orderbook"
Whaleshare and Beyondbit are non divisible assets. On the DEX for example Whaleshare:Beyondbit the GUI is allowing decimal pricing despite BOTH assets being non divisible.

In the GUI orderbook it display's as a whole number followed by a decimal place but no decimals. For example a price of .76 or 1.26 displays on the GUI DEX as '1.' if a user was to click on that order in the orderbook then the

[2017-07-08 06:56] btsfav opened #187 "Add a clickable clipboard that copies your BTS "Address""
Lots of confused users do not know that your name = address, so my proposal is to add a little clipboard sign which copies user name.

![2017-07-08 08_54_03-bitshares](https://user-images.githubusercontent.com/15261692/27983392-349041e2-63bb-11e7-8342-b1c2ef898ea1.png)

here are some public domain clipboards: https://pixabay.com/en/photos/?q=clipboard&hp=&image_type=&cat=&min_width=&min_height=

[2017-07-09 02:38] Ashaman- commented on #183
Came here to open an issue about this. In my case, it was CADASTRAL, and any attempts to transact would result in an error due to an insufficient fee. If I didn't have multiple accounts with BTS in them, this would have rendered my client completely unusable.

[2017-07-09 06:52] steempower opened #188 "[1] DEX: Total calculation (BTS) is not displayed correctly"
Total which should be a calculation of cumulative BTS on the orderbook sometime does some other calculation which results in weird display to total

http://i.imgur.com/9EJchqJ.png

[2017-07-12 19:20] o5j5vg55bv5hv5j5f8799f9 opened #190 "Large collection of suggestions I heard about from others"
http://imgur.com/a/QAt6a (a-f images)

Quick summary:

a) buy borrow buttons are distractingly bad and different compared to rest of exchange design
b) newcomers mistake balance on top for how much bts they have, change to net worth or estimate e.g..
also all caps on name when everywhere else it's lower caps is confusing
c) no way to log out or make browser forget you easily
d) layouts should be a

[2017-07-12 23:49] Ashaman- opened #191 "[1] Warning message pops up when placing bid on pair that has no asks"
When you made a bid on a pair that has no asks on the books, a warning message that says "Please confirm the transaction, Your order is times higher than the lowest ask, are you sure?" pops up.

[2017-07-14 01:49] o5j5vg55bv5hv5j5f8799f9 opened #192 ""Switch to wallet model" on login doesn't explain where to put .bin file"
People returning with both .bin and password can't figure out how to log in using wallet model. This issue came up 5 times this month alone.

Typical process goes as such:

1) bitshares.org/wallet
2) login with password button (since there's no other)
3) switch to wallet model bottom right (if they notice it after failing to log in using password alone)
4) http://i.imgur.com/cJjbeBi.png All they s

[2017-07-14 04:25] Ashaman- commented on #170
My experience was the exact opposite - it works on bitshares.org/wallet, but openledger seems to ignore it....

[2017-07-14 16:49] happyconcepts commented on #170
This does not appear to be either satisfactory system behavior or user error.

The referral link shown on my LTM screen is an openledger address. New account opened with that link is ok on openledger...but not on bitshares.org. Attempting login on bitshares will disappoint the new account because it will force a create account option _and_ inform the user that the accountname they just registered

[2017-07-15 10:36] fractalnode commented on #183
In my case it was 0.00001 BTWTY ~5 BTS

[2017-07-15 23:44] grctest opened #193 "Displaying MPA collateral ratios ?"
Hey,

Would it be possible to display users MPA collateral ratios from within the Bitshares UI?

The only place to view this is on cryptofresh which is sometimes down, having this information within the client will enable users to set more appropriate collateral ratios in comparison to other users, so as to not be the least collateralized user.

Cheers 👍

[2017-07-18 09:46] ppitonak commented on #183
Another user with basically the same issue https://bitsharestalk.org/index.php/topic,24656.msg309112/topicseen.html#new

[2017-07-20 16:36] landry314 commented on #69
this only happens if an open order is holding ALL of an asset and you see "Unknown value" in the equivalent value column. if you leave a little bit (truncate the amount less than 1 BTS) before placing your order then the balance will calculate fine.

this is silly and wastes time. it is also something newbies have to figure out and it is scary to see Balance: 0 at the top. is this bug being fixed?

[2017-07-20 18:01] viridys commented on #190
I support all of these suggestions. Maybe someone can make one or more workers for their development?

[2017-07-20 20:59] landry314 opened #196 "Importing Private Keys Makes An Account Which Doesn't Show Up In Settings"
I tired to import an account into a wallet on my computer by using the three private keys and was successful at seeing my balance and username and public keys but it will not show up in Settings -> Accounts.

It actually did at first, for a short time, then disappeared. I have tried creating a new wallet and doing it again, same problem, it doesn't show up in accounts, it wont show up in my list o

[2017-07-20 22:49] landry314 commented on #196
i am thinking can i generate new keys and delete the old ones? might that work?

how about paying for a lifetime membership? would that fix it? i dont want to waste it on a broken account.

i want the name, that is why, someone sent it to me. if i am not a lifetime member YET can i see premium accounts in my wallet? i was going to buy a lifetime for it as soon as it was working smoothly.

[2017-07-21 04:51] happyconcepts commented on #170
Maybe Stan or cryptonomex can check it.

[2017-07-21 05:57] landry314 commented on #196
Well, not like anyone cares (this seems like a ghost town) but after deleting the bitshares library folder and restoring into a fresh wallet in a clean bitshares application, I can access both my accounts.

[2017-07-21 06:46] ppitonak commented on #183
Yet another report https://bitsharestalk.org/index.php/topic,24679.msg309209/

+ there is at least one new confused user with 0 BTS balance on Telegram every day

[2017-07-21 07:53] abitmore commented on #196
If there is next time, try this: From application menu, view -> reload, then in the UI, click Browse -> Accounts, input your account name, click the account, on the left, perhaps you'll see a "unignore" button, click it.

[2017-07-21 11:17] landry314 commented on #171
the ".io" address does not work for me.

but, actually, links on mobile phones in messengers will not highlight the entire link in this format without the / after .info ; the referral name will get lost if it is simply tapped on instead of copied and pasted.

this format will insure that tapping the link will include the referrer:

https://bitshares.openledger.info/?r=REFERRERNAME

[2017-07-21 11:18] landry314 commented on #171
please update the GUI to make the link highlight correctly by adding a "/".

[2017-07-21 18:25] wmbutler commented on #20
![screen shot 2017-07-21 at 1 24 45 pm](https://user-images.githubusercontent.com/1254810/28477069-01114bce-6e18-11e7-8ff1-48ab0cee2d2d.png)

[2017-07-21 18:33] wmbutler commented on #28
There is no spacing benefit to this and I think it's more user-friendly to show the dimmed star when not hovered.

![screen shot 2017-07-21 at 1 32 06 pm](https://user-images.githubusercontent.com/1254810/28477305-03cb1830-6e19-11e7-9306-5369400cb5b3.png)

[2017-07-21 18:33] #28 closed

[2017-07-21 18:34] wmbutler commented on #29
Need a UI overhaul for voting. This will likely be an epic.

[2017-07-21 18:37] wmbutler commented on #32
Addressed and fixed in #137

[2017-07-21 18:37] #32 closed

[2017-07-21 18:39] wmbutler opened #198 "Voting"
The voting area needs an overhaul. This epic will contain issues related to voting issues of all sorts.

[2017-07-21 18:41] wmbutler commented on #39
Agreed that this is an important feature. I'll generate a UI for this.

[2017-07-21 18:43] wmbutler commented on #40
Agreed. I think the vertical menu needs to be thought out more as well.

[2017-07-21 18:45] wmbutler commented on #42
Agreed that the API limitation needs to be thought through so we can display at least a rough date/time.

[2017-07-21 18:47] wmbutler commented on #43
Agreed. The client needs to be able to report this only after the binaries are in place. To enhance this further, the client would initiate the download and self-update once the user agrees.

[2017-07-21 18:51] wmbutler commented on #50
This is legacy. Probably not worth the effort.

[2017-07-21 18:51] #50 closed

[2017-07-21 18:53] wmbutler commented on #51
This brings up the issue of the last trade being populated after the trade. We should clear the values after the trade. This issue needs more discussion and clarification.

[2017-07-21 18:56] wmbutler commented on #54
I would vote to remove the troll box completely. I think it's more trouble than it's worth. Interested in upvotes to my comment here.

[2017-07-21 18:56] wmbutler commented on #55
Another good argument for removing the trollbox. Upvotes on this comment please.

[2017-07-21 18:59] wmbutler commented on #56
Easy win.

[2017-07-21 19:38] wmbutler commented on #93
I'd suggest removing the trollbox entirely.

[2017-07-21 19:40] wmbutler commented on #68
This needs an infinite scrolling strategy.

[2017-07-21 19:42] wmbutler commented on #79
This might be more technical that is necessary. I'd suggest closing this.

[2017-07-21 19:42] #79 closed

[2017-07-21 19:44] wmbutler commented on #96
Bars should condense right justified for at least an initial fix.

[2017-07-21 19:46] wmbutler commented on #109
This merits discussion and is probably high priority. This is yet another reason to remove the trollbox.

[2017-07-21 19:47] wmbutler commented on #110
The screen for managing API nodes does need some TLC.

[2017-07-21 19:48] wmbutler commented on #116
This is a policy discussion.

[2017-07-21 19:54] wmbutler commented on #124
I can UX this. Agreed that the user should be able to restore without going through the account creation process.

[2017-07-21 19:54] wmbutler commented on #134
I'd suggest we make incremental fixes to the current library.

[2017-07-21 19:54] #134 closed

[2017-07-21 19:56] wmbutler commented on #142
Closing due to inadequate evidence of issue.

[2017-07-21 19:56] #142 closed

[2017-07-21 19:57] wmbutler commented on #146
Please provide additional evidence. I'll reopen when you do.

[2017-07-21 19:59] wmbutler commented on #158
Nice to have but not urgent

[2017-07-21 20:02] wmbutler commented on #163
Need to get a windows dev to confirm and fix.

[2017-07-21 20:06] wmbutler commented on #164
@svk31 can you confirm this fix and close?

[2017-07-21 20:07] wmbutler commented on #166
Closing.

[2017-07-21 20:07] #166 closed

[2017-07-21 20:07] wmbutler commented on #167
Agreed. Part of an Account UX rewrite.

[2017-07-21 20:09] wmbutler commented on #169
Would be helpful as a favorites tab to show currencies you hold. Will keep this on the books.

[2017-07-21 20:10] wmbutler commented on #170
I've used the referral link successfully. Please provide evidence of the failure and will reopen.

[2017-07-21 20:10] #170 closed

[2017-07-21 20:14] wmbutler commented on #171
Easy win by adding a `/` before the `?`

![screen shot 2017-07-21 at 3 14 08 pm](https://user-images.githubusercontent.com/1254810/28480643-43b26dd2-6e27-11e7-9926-afee9daede60.png)

[2017-07-21 20:17] wmbutler commented on #175
Maybe a better approach would be a tooltip explaining what a memo is for.

[2017-07-21 20:18] wmbutler opened #200 "[7][svk] Fractional trade dust left over sometimes"
When you click on a buy/sell order on an asset paired with BTS to fill it in the UI, and execute it, sometimes the UI places the order with an error of +/-0.0001 of the asset being traded. When this remaining order for 0.0001 subsequently fills, due to the small size of the order and the fees involved it winds up executing at a much higher/lower price than listed (ie. a sale at 2.2bitCNY coming to

[2017-07-21 20:21] wmbutler commented on #182
Not enough detail here.

[2017-07-21 20:21] #182 closed

[2017-07-21 20:29] landry314 commented on #196
in the light wallet are you talking about "explore -> accounts"?

i see no unignore button.

[2017-07-21 21:21] landry314 commented on #171
super easy! i bet a lot of people's promotional distribution of their referral links didnt lead to them being the referrer due to the tap not using the whole link.

[2017-07-21 21:23] landry314 commented on #171
also, if there is a way to add the referrer in the light wallet there should be some help there about this too!

let's say i go to a friend's place and set up the wallet on his computer, how would i make myself the referrer? this should be explained there! (i acutally dont know and i need to know)

[2017-07-21 21:44] Sepero commented on #164
My apologies. It appears to be fixed for me now. Thank you

[2017-07-21 21:44] #164 closed

[2017-07-21 23:14] testlump opened #201 "[6] Unable to broadcast transaction when account does not contain BTS or UIA BTS fee pool is empty"
**Issue Description**
------------------------
When attempting to use a User Issues Asset (OPEN.BTC in this case) to pay the network fee where no other assets exist on an account, the transaction fails to broadcast with the following error:

![image](https://user-images.githubusercontent.com/29457910/28484899-221842fa-6e6d-11e7-844b-89024fe70c52.png)

Prior screens indicate that the fee payable in

[2017-07-22 03:07] destenson opened #202 "[10] UI calls get_full_accounts for a lot more accounts than are in my wallet"
... that make the bitshares platform frustrating to use and often a significant waste of time.

I would love to begin fixing many of the bugs that plague me and others (mostly in the gui, and some in the native code too), but I cannot get it to build either on linux or windows, in docker or vagrant or otherwise. Can someone who can help me take a little time & help me get my clones into a state wh

[2017-07-22 04:47] happyconcepts commented on #200
I can confirm. I watched $0.0003 execute ETH/bitUSD the other day on the chart and confirmed the trade history...yes that is 3/10,000 of one penny in value for that trade. Is this the 'sig fig' issue or else why is this dust reported?

[2017-07-22 05:13] happyconcepts commented on #163
![image](https://user-images.githubusercontent.com/14145836/28488558-bd3cc640-6e61-11e7-80dc-12aa40075115.png)

Confirmed in win7 64 bit.

[2017-07-22 08:47] abitmore commented on #163
Likely a DPI scaling issue.

[2017-07-22 09:03] landry314 opened #204 "[0.5] Add Ability to Invert the Call Price Ratio For Borrowed Assets"
Under ACCOUNT tab under Margin Positions I see:

x bitCNY	   y BTS	  RATIO 	(CALL PRICE)    BTS/bitCNY

but I would rather it was:

x bitCNY	   y BTS	  RATIO 	 (CALL PRICE)    bitCNY/BTS

You have the ratio flipped the least useful way.

(EDITED AFTER ERROR I MADE)

[2017-07-22 09:21] landry314 commented on #202
yes, please help this man help save us all!

the gui needs so much work. the core is such incredible code it is a shame to have a basically BETA gui still running on top of it!

[2017-07-22 09:27] landry314 commented on #201
does bitshares core not allow a delay to pay the fee? if the fee could be paid AFTER the exchange to BTS (or a BTS asset) instead of before, then the problem would be solved!

or the network could loan the fee if the balance is zero, use it to pay and have the loan paid back. i don't know the limitations of bitshares here.

i had this problem once before too just because my BTS was all in open ord

[2017-07-22 10:42] landry314 commented on #204
By the way, on cryptofresh we see the same error under "CNY Debt Positions (Call Orders)":

https://cryptofresh.com/a/CNY

[2017-07-22 18:06] happyconcepts commented on #68
When exporting the history as csv, the filename defaults to using zero-based month which may be confusing to end users.

Example: btshist-2017-6-22.csv is generated for a history exported on July 22.

[2017-07-23 15:59] wmbutler commented on #183
We need to provide more clarity in the error message sent to the front end. This requires some discussion.

[2017-07-23 16:01] wmbutler commented on #186
Seems like the front-end should do the rounding as the user enters the value based upon the known precision of the currency.

[2017-07-23 16:02] wmbutler commented on #187
It would be nice for it to be clickable, especially for those accounts that have long random names. This needs to be UX'd.

[2017-07-23 16:07] wmbutler commented on #188
I don't think I understand the problem based on your description. Can you clarify?

[2017-07-23 16:08] wmbutler commented on #190
I'll break these into separate issues.

[2017-07-23 16:09] wmbutler commented on #191
We need an exception for this case. Maybe the warning should say.

"You are placing a trade order in a market with no open orders. Are you certain you wish to proceed?"

[2017-07-23 16:10] wmbutler commented on #192
Agreed that the onboarding process needs more clarity.

[2017-07-23 16:12] wmbutler commented on #193
Agreed that this would be a nice feature. In particular, it would be nice to see where your account stands relative others to see when / if you might be margin called. A further addition would be a means of notifying a user so they can take action.

[2017-07-23 16:16] wmbutler commented on #196
@landry314 I'll try to carve out some time to test this on the test net. Is it showing up in other areas besides settings -> accounts? Are you able to make trades and send/receive funds from the imported account?

[2017-07-23 16:19] wmbutler commented on #201
I think the solution here is to create a very clear error message. Additionally, we know ahead of time if the user has no BTS so we should manage it accordingly. We should disallow the trade execution button when we know the trade will fail.

[2017-07-23 16:20] wmbutler commented on #202
@destenson You comments are appreciated. Do you have React chops?

[2017-07-23 16:22] wmbutler commented on #204
Needs to be researched and once confirmed, we can classify it as a bug.

[2017-07-23 20:28] wmbutler commented on #56
Tested. This works according to the description above.

[2017-07-23 20:28] #56 closed

[2017-07-23 20:28] fletchertyler914 commented on #56
This functionality already appears to exist. Should we close this issue?

[2017-07-23 22:56] abitmore commented on #68
Best report it as a separate issue. Thanks.

[2017-07-23 23:15] landry314 commented on #196
yes, the account was working and in the dropdown menu above but not in the accounts list in the first tab or in the accounts list in settings.

it is working fine now after a clean install and restore.

[2017-07-23 23:19] landry314 commented on #204
considering this error is also on cryptofresh, it could be in the core. you need to find where the inverse is being made as a miscalculation.

the call price is most useful as  BTS/bitCNY because that is what most people are looking at i assume. you have that label shown but the value is calculated as bitCNY/BTS.

[2017-07-23 23:26] landry314 commented on #201
if you disallow the trade execution button then there needs to be an explanation right there as to why or people will get very frustrated.

the problem goes much deeper than an error message. the problem is that people trying to fund their EMPTY wallet with BTC with NOT BE ABLE TO. this is a HUGE problem. if people migrate their crypto funds to this new awesome Bitshares system they just heard abo

[2017-07-24 02:07] happyconcepts opened #205 "History CSV filename defaults to using zero-based month"
When exporting history as csv from the GUI, the filename defaults to using zero-based month which may be confusing to end users.

Example: btshist-2017-6-22.csv is generated for a history exported on July 22.

[2017-07-24 02:11] landry314 opened #206 "[2][rrandom] Balance: 0 Displayed at Top When All of an Asset is in Open Order"
If an open order is holding ALL of an asset and I see "Unknown value" in the Equivalent Value column in Balances then the Balance calculation at the top on the bar says "Balance: 0". If I leave a little bit (truncate the amount to a whole number for example) before placing the order than the balance will calculate fine.

It is funny that this does NOT affect the TOTAL VALUE in the Accounts area un

[2017-07-24 09:05] landry314 commented on #205
i think you mean JUNE 22.

also, that is NOT a zero based month in your example, so what are you saying?

i think file names SHOULD have months with leading zeros to keep them conformed in length and therefore easier to search for when in a large list.

[2017-07-24 09:33] landry314 opened #207 "Controlling Which Accounts Are in Drop Down Menu on Top Bar"
I can't figure out how to control which accounts are in the drop down switching menu at the top.

I have an old trading account which won't go away, I don't want it there, how can I make it leave?

Is it that there is the teeeeeeniest little bit of BTS left in it which for some reason did not transfer over when I clicked on AVAILABLE when I swept the funds? (another bug, actually). To get that amo

[2017-07-24 09:49] landry314 opened #208 "First Wallet Has to Be Named "default""
When creating the first wallet in the light wallet program you HAVE to call it "default". This is annoying.

I simply created another wallet with a name I wanted then deleted the "default" wallet and everything is fine. There is nothing "default" about it, JUST FIRST, which is bad programming because its name implies something about it which isn't true, nothing defaults to it for any reason.

Many

[2017-07-24 10:01] landry314 opened #209 "Keep Download on bitshares.org Up-To-Date"
I know this isn't actually about the development of the Bitshares UI so I hesitated to post it here but, in the end, maybe it will work to fix the issue.

When a new version of the GUI is released, can whoever controls the bitshares site please compile it and release it for download here:
  https://bitshares.org/download/

I am doing bug testing here with many more bugs to post so not having the n

[2017-07-24 10:03] landry314 opened #210 "[0] Switching Between Wallets Shows Other Wallet's Accounts Until Reload"
In Settings -> Wallet when you change the active wallet then go to Settings -> Accounts, you see all the accounts from the last wallet still there.

You can switch tabs, make trades, do a bunch of things but until you RELOAD, they sit there.

The easy solution is to force a reload after switching wallets.

I am using the light wallet program on Mac OS X.

[2017-07-24 10:12] landry314 opened #211 "[1] [rrandom] Clicking EXCHANGE defaults to "bitUSD : BTS" if Already in Exchange"
I am almost always using BTS : bitCNY and it stays as the default for me as I change tabs and move around the GUI but if I accidentally click on EXCHANGE at the top WHILE I am already in the exchange area then it switches to "bitUSD : BTS". Why this is the default, I don't know.

The expected behavior for a GUI when you click into somewhere you already are is to DO NOTHING. To change the pair to a

[2017-07-24 10:36] landry314 opened #212 "Add Account Transfer Feature"
Right now, in order to fully transfer an account to you from another user, you need to generate new private keys in a paper wallet program then send the public keys to them, have them import the public keys into the account being transferred to give you control over that account then you have to delete their old public keys.

This is way too technical for the average user and uncomfortable as well

[2017-07-24 11:49] landry314 commented on #200
Absolutely, this is an incredibly important bus to squash for a few reasons:

1) The candles are drawn with huge wicks (and sometimes, if the timing is exactly at the end of a candle's period, a huge candle is drawn) because the little orders left over are executed way out of range and the candle drawing program is not designed to ignore these order executions. This makes the built-in chart hard t

[2017-07-24 12:34] landry314 opened #213 "Incorrect Max Amount Calculations in Sell Orders to Allow Room for Fees"
If I am trying to place an order and I want to sell the maximum amount of an asset then sometimes the system makes a miscalculation as to what to make the maximum amount in order to cover the fee at the same time. When the order attempts to place, instead of it placing, an error is triggered that is a human unreadable code dump. If you look carefully you can see the word "Fee" in the code somewher

[2017-07-24 14:24] landry314 opened #214 "Toggle Preferred Unit of Account by Clicking on ACCOUNT VALUE in Header"
I quite frequently want to change the preferred base unit in which balances are calculated like when I change the assets I am holding or when I am just curious what value I hold in a variety of other currencies.

Currently to do this we need to go into Settings -> General then find the pulldown there.

I offer a feature request here to make the balance calculation on the top bar be clickable and w

[2017-07-24 16:01] landry314 opened #215 "[3][skenan] Hiding Some Brand New Accounts Removes Them From the List Until Reload"
After creating a few new accounts then going to Settings -> Accounts and clicking on Hide next to those accounts, a few of the new accounts disappear completely and a reload is necessary to see them again.

This has happened to me a few times after creating a few new accounts in a row.

The last time it made my main account disappear and I still haven't gotten it back in that list.

The account ma

[2017-07-24 16:03] landry314 commented on #196
OK, now it isn't there anymore after I created a few new accounts. The new accounts are in the accounts list but my main account with funds is not. I can access it from the top drop down and trade with it but it will not show up in Settings -> Accounts nor in the Accounts list under the Main Bitshares tab on the upper left. So maybe it wasn't importing that account that did this?

Funny too, one o

[2017-07-24 16:12] landry314 opened #216 "Clicking on Wallet Setting while looking at Wallet Setting Causes "select wallet to delete" to Disappear"
This is barely a bug, but rather a curiosity.

Go to Settings -> Wallet then click on Wallet again, you will see the "Select wallet to delete..." text under "Delete Wallet" disappear. It is just changing the option to the blank one instead of "Select wallet to delete...". Weird. I just mention this because it is not something a user would expect. The user would expect NOTHING to happen if you clic

[2017-07-24 17:12] wmbutler commented on #207
This is handled with the "star".

[2017-07-24 17:12] #207 closed

[2017-07-24 17:50] wmbutler commented on #215
Agreed.

[2017-07-24 17:52] wmbutler commented on #214
Nice as a feature request. This could become cumbersome with a lot of currencies. Maybe a link to take the user to the settings page where this control can be modified.

[2017-07-24 17:54] wmbutler commented on #213
This is too general. Please submit specific issues to help resolve specific problems. I do agree with your assessment, but devs need reproducible steps in order to fix problems. Thanks for your help.

[2017-07-24 17:57] wmbutler commented on #210
This is a react logic problem and definitely should be viewed as a high priority bug.

[2017-07-24 17:59] wmbutler commented on #209
Definitely need a procedure for this to happen in an automated way.

[2017-07-24 18:00] wmbutler commented on #206
I'll leave this as a question until you can reproduce reliably.

[2017-07-24 18:03] wmbutler commented on #205
I'd agree that if you export a file on July 22, it should probably be named appropriately. I'd also advocate a time on the filename down to the second to differentiate it from other files downloaded on the same day. Maybe this:

[code]

[2017-07-24 18:05] wmbutler commented on #208
Can you submit some screenshots or a video of the process you are referring to? Thanks!

[2017-07-24 18:36] landry314 commented on #207
Well, that is good to know, but this certainly needs to be documented or explained in a help dialog somewhere. The problem is I HID THE ACCOUNT before I ever unstarred it so it remained starred even though I couldn't see it was starred. This is bad design. I just unhid it then unstarred it and it worked. Thanks.

I recommend that "hiding" and account also "unstars" it. Does this make sense as a de

[2017-07-24 18:41] landry314 commented on #214
As of now, there are only 6 currencies in my list. That isn't much to toggle through. I only really need 3 of them. If I could select my preferred currencies from a list in the Settings and have only those be the ones that toggle through that would be ideal.

Of course, while we are making this feature, why not add the ability to select ANY ASSET for the display of Balance. Let's say I want to dis

[2017-07-24 18:47] landry314 commented on #213
You closed this already? This is a HUGE problem for many users and I said I would take a screenshot next time. Maybe another user browsing this github would find this and upload their screenshot or comment that they had the same issue. I have this issue quite often.

Also, the second part about the dialog with the code dump, that is something you have to agree on, right? When I get a screenshot, I

[2017-07-24 19:12] landry314 commented on #206
I will, thanks. I'll even try to use the DevTools. Is there documentation on how to capture bugs with the DevTools? I would like to get the actual code for bugs like this.

[2017-07-24 19:41] landry314 commented on #208
Steps to reproduce:
1) Go to https://bitshares.openledger.info/create-account/wallet
2) Click on Settings cog
3) Click on Wallet
4) You see no active wallet
5) Click on New Wallet
6) You are not given the option to name the wallet
7) The wallet created has the name "default"
8) Click on New Wallet again
9) Name the new wallet whatever you like

You must create the wallet named "default" before you

[2017-07-24 19:43] landry314 commented on #208
![no wallet yet](https://user-images.githubusercontent.com/6866501/28541368-c5306d6c-7086-11e7-8620-c10c87940046.jpg)
![no wallet name choice](https://user-images.githubusercontent.com/6866501/28541372-c889c9a4-7086-11e7-920d-c303a595284f.jpg)

[2017-07-24 21:34] landry314 commented on #208
And I just found another bug with the default wallet name...

I just did a clean install of my light wallet then restored the backup I just made. Guess what? My wallet is now called "dafault". The restore feature just ignored the name of the wallet and called it "default". Why? Probably because it is the first wallet in this instance of the program...

The wallet management just loves the name the

[2017-07-24 21:44] landry314 commented on #196
Clean install brought my main account back to the accounts list... This is the second time I have had to do this. I think this particular account has been disappearing because it was transferred to me, I didn't create it originally... but I am just guessing. On cryptofresh it is still listed as one of the original creator's registered accounts.

[2017-07-24 21:58] landry314 commented on #207
Well, I just did a clean install of my Mac OS Light Wallet Application to fix my disappearing account
problem and I ran into some issues related to this thread.

When I first restored the Wallet, ALL of the accounts in the Wallet were in the dropdown menu above even though none of them were "starred". As I started hiding most of them, they started disappearing from the dropdown. I made sure to sta

[2017-07-24 22:05] landry314 commented on #207
I could create a new thread but the subject of this thread could just be changed to "Account Management Overhaul". I have posted a few issues now related to account management. It is getting a little confusing, I know, I am sorry. I could create a whole new thread with ideas on how Settings -> Accounts could be rehauled but I haven't looked at the code, only been using the application.

[2017-07-24 23:47] landry314 commented on #207
Had another idea about this... I suggest renaming the Accounts section in the bitshares menu on the left to "Followed Accounts" or something like that. It would be cleaner because the Settings -> Accounts section has the same name. Then of course there is the Account section just about the current personal account so maybe change Settings -> Accounts to "Account Management" or something like that.

[2017-07-25 00:04] happyconcepts commented on #200
For at least 20 minutes today ETH showed $400 price, dusted.

[2017-07-25 18:10] destenson commented on #202
@wmbutler, I am no expert, but I've dabbled a bit, and always willing to learn more. I intend to make minor modifications at first. Hopefully, then make more significant contributions as time goes on. Do you know who I can talk to, to get my development environment up to snuff so I can start looking at some of this stuff?

@landry314, That's my impression too. Much of the lower level code appears

[2017-07-25 20:26] happyconcepts commented on #163
![image](https://user-images.githubusercontent.com/14145836/28592066-bc58084c-713c-11e7-8976-b8fd257838fa.png)

So the dropdown does not obscure the text for me in the account page. The dropdown on the deposit page obscures the text.

[2017-07-25 20:50] happyconcepts commented on #200
I believe this is a top priority bug from a UX perspective. The crypto space is uncomfortable enough for newbs without their balances recalculating for no good reason.

How about enforcing a minimum order size or even better, letting users set a filter to ignore insignificant trades in charts and trade history?        @svk31 @bytemaster @wmbutler

[2017-07-25 21:04] landry314 commented on #200
@happyconcepts No user would WANT to have those wicks or a poorly calculated balance so making it a filter is not the issue. The issue will be solved from finding how to define the dust in the code and how to clear it away in the GUI.

[2017-07-25 21:05] happyconcepts opened #217 "Missing TRADE link for BTS in Account Screen"
In the Account screen on the Windows Light Client there is no link to trade BTS in the right column:
![trade_bts_option](https://user-images.githubusercontent.com/14145836/28593720-39486612-7142-11e7-95e5-e75931ca9d0c.png)

[2017-07-25 21:12] wmbutler commented on #217
That's because it wouldn't know which market to go to BTS/BTS? Closing this. The accounts area needs a full rewrite anyway.

[2017-07-25 21:12] #217 closed

[2017-07-25 21:23] happyconcepts commented on #217
Wow closed so fast.

On Jul 25, 2017 2:12 PM, "Bill Butler" <notifications@github.com> wrote:

[2017-07-25 21:27] happyconcepts commented on #200
Landry will you kindly explain to me why you feel the need to minimize each
and every one of my meager contributions to this repo? Is there no room for
my contribution because you don't understand the 0th element of arrays?

On Jul 25, 2017 2:04 PM, "Landry Racoon" <notifications@github.com> wrote:

[2017-07-25 23:51] landry314 commented on #200
What? I am saying this is a bug and there is no need to add an option to users to leave the bug in once it is solved.

It may sound easy to you to simply add a filter but it is not that easy. The devs have to find out exactly how to isolate the trades in question and how to change to GUI to ignore it. It is not like they WANT to have long meaningless wicks and bad balances; they just haven't been

[2017-07-26 00:00] happyconcepts commented on #200
Perhaps you would share where you see the value of my contribution instead
of useless platitudes about how much you love me at the end of your egoist
diatribes.

On Jul 25, 2017 4:51 PM, "Landry Racoon" <notifications@github.com> wrote:

[2017-07-26 02:53] calvinfroedge commented on #137
This PR should resolve the issue https://github.com/bitshares/bitshares-ui/pull/219

[2017-07-26 02:58] happyconcepts commented on #51
This is a trade confirmation window.
The dex is supposed to be an Exchange.

Lets please stay focused on the issue because it is very bad UX to force a confirm of the user's input back to them in a different unit. I am amazed that I must point this out. Instead this gets conflated with sticky form inputs ... and pushed back as a request instead of elevated as a bug.

[2017-07-26 03:17] happyconcepts commented on #93
I would suggest keeping the trollbox but Bill is hell bent to remove it.

[2017-07-26 03:27] happyconcepts commented on #205
Is this why the Bitshares GUI is so poor? This is a simple fix to an obvious (minor) bug. Yet here it gets stalled to a feature request because you want to add a time stamp.

[2017-07-26 06:42] landry314 commented on #205
I agree that this should be fixed immediately but they don't have enough programmers working to get things done quickly. This is actually the fault of the shareholders of BTS for not voting worker proposals in. We need development money asap!

I am frustrated too.

[2017-07-26 06:52] landry314 commented on #206
#
![balance 0](https://user-images.githubusercontent.com/6866501/28608220-7cf5dec4-71ad-11e7-9f83-b1b9a106352c.jpg)

[2017-07-26 07:06] landry314 commented on #206
When every unit of an asset is in a open order then "Unknown value" shows up for me in the Equivalent Value column. I don't know why.

When there is nothing else in the Equivalent value column but unknown values then "Balance: 0" appears on the upper right.

The way I solve this is to truncate the order before placing it so there is a little bit of BTS left over in Balances then "Unknown value" do

[2017-07-26 07:40] landry314 opened #220 "[1] Hidden Asset Count is Wrong in Balances"
![hidden assets](https://user-images.githubusercontent.com/6866501/28609825-2bfe0ad0-71b4-11e7-9755-fc246dc7c695.jpg)

[2017-07-26 07:45] landry314 commented on #220
And it changes quite randomly, every day it seems the assets are different and there is a different number of them but the count is ALWAYS 1 higher at any given time than the actual number of assets marked as hidden.

Seems like an off-by-one error in the code.

The fact that these assets have been chosen for me to be in my Balances unless I hide them is strange. Why not have a button "Add Assets

[2017-07-26 07:47] landry314 commented on #220
Oh, and why is there a count anyway??? Who cares how many are there?

[2017-07-26 08:25] iPerky commented on #93
Why remove something that is easily disabled by shareholders

[2017-07-26 17:06] happyconcepts commented on #205
Landry instead of changing your username and  deleting your earlier disparaging comment .... why not be supportive or even friendly? Is there some way you might even contribute toward helping solve this issue?

[2017-07-26 18:25] landry314 commented on #205
i deleted my earlier comment because i researched and realized it was technically wrong, that is all. i have not changed my username, i dont know why you think that. could you please stop using this forum for anything other than improving the software? thank you.

[2017-07-26 18:45] wmbutler commented on #208
Thanks!

[2017-07-26 18:48] wmbutler commented on #196
Seems reasonable to create an Epic for this and lump them all into it.

[2017-07-26 18:56] wmbutler commented on #207
I'm going to leave this closed since your question was addressed. I did, however, create an Epic to contain the account related issues.

[2017-07-26 19:01] wmbutler commented on #202
I'm going to distill this into one issue, your claim that 5MB is downloaded on every page load. Other than that, a general venting does nothing to solve indicual items. I would encourage you to:

1. First search issues to see if your particular concern has been booked
2. Post each issue as a separate issue with finite reproducible steps

This will allow us to prioritize and fix items. Thanks for y

[2017-07-26 19:16] landry314 commented on #196
That would be wonderful! The entire accounts management system needs a rehaul.

I highly suggest some differentiation in the names for sections.

"ACCOUNT" tab becomes "MY ACCOUNT"

"Accounts" in the "b" menu on the left becomes "Followed Accounts"

"Settings -> Accounts" just stays "Accounts" but a subcategory called "Account Management" is a rehaul to include the starring feature and all the bug

[2017-07-26 19:18] landry314 commented on #212
And a question, I had an account transferred to me and it works fine but it is still a registered account under the person who created it. Is there is a way to change this? To officially transfer it other than just making new keys and deleting the old?

[2017-07-26 20:06] destenson commented on #202
There are so many issues that it came off as general venting since most are
minor, and I don't plan to enumerate each one. I'd rather try and fix them
myself. And that was the whole point of raising this issue. I am running a
local full node which I have the client use as an API server. This allows
me to see each time the client connects and disconnects, and each time it
requests the full battery

[2017-07-26 21:02] landry314 commented on #202
he is trying to help develop, make real contributions in code, not just point out bugs and suggest features. i never saw it as venting, i saw it as an offer of help, from the very first comment.

please help him build the native code!

[2017-07-26 22:55] landry314 commented on #204
This is a bug, not a question. Just go into margin and look at the column, the ratio is flipped.

[2017-07-26 22:57] landry314 commented on #213
Steps to Reproduce:
1) Have an account with ONLY bitCNY
2) Go to EXCHANGE
3) Choose a price
4) In the BUY BTS window, click on the total amount of bitCNY you have next to "Balance: ___"
5) Notice Fee is 0.0114 bitCNY
5) Click BUY, log in, click CONFIRM
6) You get an error message, "Failed to broadcast the transaction:"
7) Notice the Fee in the bottom row. It says "0.0115 bitCNY"

So, the autocalcu

[2017-07-26 23:50] landry314 opened #221 ""Failed to broadcast the transaction" Dialogs Should Be More User Friendly"
There is a dialog with title "Failed to broadcast the transaction" which arises a lot when fees are not available to make a transaction. This is explained in issues #201 and #213.

Error dialogs should never have a code dump which is unreadable to the average user. Instead they should have a human readable explanation and a LINK or pulldown tab to the raw code if needed to troubleshoot. A code dum

[2017-07-26 23:57] happyconcepts commented on #217
Bill, you should reconsider reopening this issue, right? I heard a rumor
this was an open source project but it looks like you just want to control
every commit.

Rather than call you emporer, I would point out that users can set their
display currency in the preferences (why not give them what they ask for
huh) and that if the default BTS is the user setting then you might just
send them to a BTS

[2017-07-27 00:04] landry314 commented on #212
Transferring an account from one wallet to another within the same client is almost as difficult. This is another reason we need this new feature.

[2017-07-27 02:07] Ashaman- commented on #208
I think the wallet name should default to something, rather than be an extra blank for the user to fill in during account creation. Defaulting it to the name of the first account registered instead of 'default' would make a lot of sense.

[2017-07-27 02:11] Ashaman- commented on #211
I only observe this after a wallet reload. Otherwise switching between exchange and other tabs returns me to the last trading pair I had open - BTS:bitCNY.

[2017-07-27 02:37] Ashaman- commented on #185
This one can be closed, I think...

[2017-07-27 02:40] Ashaman- commented on #183
I think #201 is the same issue. I would label this bug (high priority?) rather than proposed feature. As it is now, it can render an account unusable, under rather easy to produce circumstances.

[2017-07-27 08:45] landry314 commented on #183
Wait, so the intended feature is that if a user has no BTS or bitAssets then they can not make any trades? Is this really how the DEX is SUPPOSE to work? This is not a bug? I could see how maybe it is not a bug but then it must be a HIGH PRIORITY feature to be fixed immediately. I entirely agree with @Ashaman-.

Can we stop turning away potential users every day please?

[2017-07-28 00:27] landry314 commented on #204
The ratios are also inverted in the recent activity feed. Can't you see this? LOOK. This is an incredible mistake.

[2017-07-28 15:21] wmbutler commented on #204
Man, I've got to say, your tone sucks. We are all here to help so try not to be so condescending, please.

[2017-07-30 00:35] happyconcepts commented on #205
Closed thx Ash

[2017-07-30 00:35] #205 closed

[2017-07-30 11:35] #137 closed

[2017-07-30 11:38] #171 closed

[2017-07-30 11:54] svk31 commented on #204
Agree with Bill about the tone.

On the issue itself, your missing the fact that there is no "right" way of displaying prices, you may prefer one market direction while I prefer the other. In the recent activity feed you can click the price and invert it so it uses the direction you prefer. We could certainly enable that for the call prices as well.

[2017-07-30 11:58] svk31 commented on #202
It actually is necessary for the GUI to use get_full_accounts in order to stay synced with the blockchain, so the real issue here is that you're using a wallet with tons of accounts, something the GUI was never designed to handle.

I'm not sure what your building issues are, it works fine for me on multiple computers, although I never tried in Windows. When you say native code are you referring to

[2017-07-30 16:33] wmbutler commented on #205
It's important that we have constructive comments here. If you choose to conduct your family or business in a disrespectful manner, that is your prerogative, but kindly refrain from gross generalizations about people's perceived capabilities or character.

[2017-07-30 16:37] wmbutler commented on #205
@happyconcepts a time stamp doesn't stall a feature. There are many things playing into the current ui state of affairs. The time stamp suggestion plus the account name was just a suggestion designed to add more clarity to the file. This would also prevent overwriting a previous file of more than one export was pulled in a day. Also, it was a suggestion designed to be discussed on its own merits.

[2017-07-30 16:45] wmbutler commented on #183
You know what. I am tired of reading your issues. It's demoralizing. Has anyone ever told you that? Speak to the issue, not the person. Speak to the solution, not the current problem.

[2017-07-30 16:53] wmbutler commented on #213
Thanks for the update. Reopened and we will take a look if the WP is accepted.

[2017-07-30 16:56] wmbutler commented on #93
Because it is external JavaScript in a financial application. A serious financial app doesn't need it in my opinion. Risking security to watch anonymous trolls doesn't scream professionalism to me.

[2017-07-30 17:01] wmbutler commented on #200
OMG, between the two of you I don't know which one ruins my Sunday more.

[2017-07-30 23:11] #26 closed

[2017-07-30 23:37] wmbutler opened #224 "[18] Automate build process for Linux, Windows"
We need to automate the builds for all three binaries and the web wallet:

- [x] Web
- [x] Windows
- [x] Linux

This task will be considered complete when the creation and posting of all wallets is handled by a single turn key operation. It has been placed into the 100914 Milestone.

[2017-07-30 23:38] wmbutler opened #225 "Improve Release Process"

[2017-07-31 00:01] wmbutler commented on #43
This isn't pixel perfect, but the idea here is that the cloud download icon would open an external browser to reveal: https://bitshares.org/download/

This is a screenshot of the lower left corner of the Bitshares light wallet when it has detected that there is an update that can be downloaded by the user. It's important that the notification detect an actual downloadable binary. If we don't do th

[2017-07-31 00:05] #209 closed

[2017-07-31 00:05] wmbutler commented on #224
Worded this differently and closed #209

[2017-07-31 03:17] wmbutler commented on #93
This is usually what the activity looks like on the trollbox.

![screen shot 2017-07-30 at 10 14 36 pm](https://user-images.githubusercontent.com/1254810/28761522-c72bf5b2-7574-11e7-9199-354f774a83c1.png)

[2017-07-31 07:38] xeroc commented on #224
I can help you with this .. if you take a look at the wallet.bitshares.eu repository in the bitshareseurope organization, you can find a bunch of additional files in the root dir along with a .travis.yml file that shows how to use travis-ci for automated building

[2017-07-31 15:36] destenson commented on #202
Hi Sigve, it's been over a year since I've worked on BitShares's code. I'm not sure if you remember me, but I had a few PRs approved in the spring of last year. At that time I was still pretty new with Javascript development and especially React, so my contributions weren't very substantial.. Anyway some issues have been bothering me for quite a while and since I recently quit my employer of the l

[2017-08-01 23:33] Ashaman- commented on #192
A restore backup button next to Login with Password would solve this.

[2017-08-02 14:08] iPerky commented on #93
Scream professionalism, I like!

Ok drop The troll box

[2017-08-02 14:08] #93 closed

[2017-08-02 14:11] iPerky commented on #116
Masking asset names does not scream professionalism!

[2017-08-03 10:34] startailcoon opened #227 "[4] Visual Issue in Trading Price Buy/Sell Table"
There is a visual issue in the table for selling and buying prices in the UI.

Navigating to the GRC:BTS market it appears to bee buy and sell orders at the same price. But when you click on them to get the price that they are set to you get a different number.

Clicking the Sell Price, that looks like

BTS|GRC|Price
-|-|-
0.40887 | 1.514298 | 0.27000

You get the correct numbers, looking like thi

[2017-08-03 17:42] wmbutler commented on #227
Agreed. Thanks for a detailed, complete report.

[2017-08-03 17:56] SahkanDesertHawk commented on #146
This is easy to check you can put a high price order like 200BTS for 1BTC each and it will not show on the order book on the main page. It shows on the ACCOUNT, OPEN ORDERS list.

[2017-08-03 18:53] wmbutler commented on #33
@dnotestein can you assist with reproduction of this issue including screenshots?

[2017-08-03 18:54] wmbutler commented on #46
@abitmore can you help us reproduce this?

[2017-08-03 18:55] wmbutler commented on #47
Hours: 1

[2017-08-03 20:30] wmbutler commented on #49
I'll UX this first.

[2017-08-03 20:34] wmbutler commented on #110
Related to #49

[2017-08-03 20:35] wmbutler commented on #139
Time allocated here reflects a rip and replace to account switching. This needs some serious attention.

[2017-08-03 20:36] wmbutler commented on #160
#139 carried the hours for this issue.

[2017-08-03 20:40] wmbutler commented on #210
Related to #139

[2017-08-03 20:48] wmbutler commented on #146
This sounds to me like it's a lazyload issue? I'll see if I can reproduce and post some images.

[2017-08-03 21:04] wmbutler commented on #220
Simple fix

[2017-08-03 21:06] wmbutler commented on #216
This seems intuitive to me and while I agree it could be organized better, let's handle that during a bigger UX push. Closing this but keeping it in mind.

[2017-08-03 21:06] #216 closed

[2017-08-04 13:42] testlump commented on #225
This user story should encapsulate an improvement to the process flow for testing, packaging and deploying stable branch releases for MAC OSX (dmg), LINUX (.deb) and WINDOWS (.exe) to the https://bitshares.org/download - automated nightly/weekly packaged builds from development branch would also be handy.

[2017-08-04 14:19] testlump opened #228 "[0] Update Available Notifcation in the UI"
Description
-----
In order to ensure users are notified when new releases are available and keep their clients up to date, it would be helpful to have a message along the base of the UI to indicate when a new official release is available.

![image](https://user-images.githubusercontent.com/29457910/28971766-1a15ebee-7925-11e7-8b57-e3b61f9921ff.png)

Expected Behaviour
------
When a new release is

[2017-08-04 16:32] wmbutler commented on #228
Duplicate #43

[2017-08-04 16:34] wmbutler commented on #225
Actually, this is the Epic. Issue #224 covers this topic and is tied to this Epic.

[2017-08-04 16:38] wmbutler commented on #224
Great, adding this to milestone 171001. This will allow us to knock out bugs while manually building and then hopefully have a complete build -> save -> notify loop to ensure that end users are aware of upgrades as they are released.

[2017-08-04 16:47] testlump commented on #43
The development should take into account differing releases of the UI. For example RuDEX create their own builds based off of the bitshares-ui core repository.

Basic security features such as possibly signing update notification alerts should be implemented alongside ways to ensure differing UI releases can easily override signing keys (possibly global constant?) to provide their own notification

[2017-08-04 17:03] wmbutler commented on #201
I think this needs a two-pronged approach. I think we've identified that the core problem is caused by UIA issuers who fail to keep their pools funded.

- While we all agree that UIA creators should be responsible, a notification system would go a long way towards solving this. Ideally, the blockchain could send a transaction to the UIA creator with a memo indicating that the pool is getting low.

[2017-08-04 17:45] wmbutler commented on #43
I'd suggest that RuDEX create their own notification system. They can fork this REPO and follow our lead if they decide to.

[2017-08-04 17:52] wmbutler commented on #202
Unfortunately, I had no problems starting the bitshare-ui project on my Mac. Maybe you could open a separate issue about building and I could see the errors you are getting during your npm install step...

Definitely placing this in an early Sprint to evaluate. We have a Worker Proposal for dealing with UI issues active. Please vote for it if you'd like to see progress in this area.

[2017-08-04 18:19] happyconcepts commented on #201
What if an error messaging simply showed the reason for the broadcast
failure in a UX'd manner?

"Not enough BTS for this transaction. Click here to deposit bitcoin."

Also in general I do not favor changes just to babysit for derelict or
distracted coin issuers...that seems like a slippery slope.

On Aug 4, 2017 10:03 AM, "Bill Butler" <notifications@github.com> wrote:

I think this needs a two-p

[2017-08-04 18:31] testlump commented on #201
The problem with prohibiting any sort of gratis transaction is how you deal with fee pools that are empty but for which the issuer cannot - for a potentially legitimate reason (holiday, afk, accident etc) - fill?

We saw this with Openledger OPEN.BTC - the UIA was not tradeable if you had no BTS in your account for upwards of 24 hours. It was an accident in this instance and the pool was temporari

[2017-08-04 18:50] destenson commented on #202
I am also not having a problem running the UI anymore.  I still can't get bitshares-core working, but I'll open an issue on that repo when I decide to tackle it again.

After tracking down the assertion on the native side (and finding it's being reported away from where the problem is occurring), I noticed that the assertion only occurs when you try to auto-subscribe too many accounts and that `ge

[2017-08-04 18:56] happyconcepts commented on #201
I remain unconvinced. You are introducing a precedent of free transactions,
with a potentially negative consequence to network fee revenue.

When I am still looking at untouched (reference?) debugging error messaging
in the UI...why are you de-valuing bitshares?

On Aug 4, 2017 11:31 AM, "testlump" <notifications@github.com> wrote:

[2017-08-04 19:10] testlump commented on #201
How does providing a usable experience via limited free transactions to users (typically new users) who do not hold Bitshares _de-valuing bitshares_?  There has been no suggestion of providing limitless free transactions.

Centralized exchanges permit users to trade in any listed asset that they hold - what would be the benefit of the DEX adopting a non-standard model requiring BTS *and* _listed a

[2017-08-04 21:44] happyconcepts commented on #201
You missed this part:
When I am still looking at untouched (reference?) debugging error messaging
in the UI.

On Aug 4, 2017 12:10 PM, "testlump" <notifications@github.com> wrote:

How does providing a usable experience via limited free transactions to
users (typically new users) who do not hold Bitshares *de-valuing bitshares*?
There has been no suggestion of providing limitless free transactions

[2017-08-04 21:53] testlump commented on #201
While the message needs addressing (it's in the original bug report), how does changing the message the user sees alter fact that the user cannot transact if they have only assets in their account that have no Bitshares tokens in their fee pool(s)?

[2017-08-04 22:50] happyconcepts commented on #201
Your question is better directed to bitshares-core I think. Xero, Ox, etc.

My point is, you only need to fix the messaging to solve this UI issue
sufficiently. The rest is inappropriate feature creep. I
 believe bytemaster would agree.

Second point: bitshares is an ecosystem and should remain open enough to
support many businesses....including those business models that may not
benefit from givi

[2017-08-06 01:11] landry314 commented on #204
I apologize about my tone. I appreciate all the work you have done.

I agree that adding INVERT THE PRICE for the Call Price would be a good feature to please everyone.

[2017-08-06 01:25] landry314 opened #229 "Make Setting a Referrer Possible in Light Client"
Currently, in order to set up a new account in a light client for a friend where I am trying to be his referrer, I have to do it with the web address referral link in a browser then backup the wallet then restore it into a light client.

Can we make a way to set the referrer for a new account directly from the light client?

[2017-08-07 22:40] wmbutler commented on #229
You might want to propose a mechanism to accomplish this. The Electrum wallet is not called by a URL. The only way I can think to handle it would be to ask who referred them prior to registering their first account. Alternatively, you could initially refer the user to the bitshares.io url and then encourage them to download the light wallet.

[2017-08-07 22:47] wmbutler commented on #201
I could be swayed either way on this topic. Probably the most responsible way to handle this is to ensure:

- UIA pools are all funded
- The end user understands who is responsible for their failed transactions and who to contact in order to resolve the issue.

[2017-08-08 18:42] landry314 opened #230 "[.5] Make "wss" default in ADD API"
In Settings -> Access -> Add API the default string starts "ws://" but almost all nodes use "wss://" so it would make more sense to have that as the prefilled beginning of the address.

[2017-08-08 20:34] robrigo opened #231 "[3] Throw error on form when gate fee >= quantity to withdraw"
There has been a lot of confusion with the OpenLedger gateway asset OPEN.MUSE, as people attempting to withdraw a test amount see nothing come through. This is usually because the test amount is less than the gate fee. Instead of donating their tokens to the gateway, the interface should prevent them from submitting an amount less than the gateway fee. Another problem is that in the latest release

[2017-08-08 20:39] robrigo opened #232 "Dynamically populate gateways and supported gateway assets"
Currently anytime a gateway add support for an asset, or a new gateway comes into being, an update must be released to the reference wallet in order to hardcode that new gateway or asset into the user interface. Instead, I propose that a method be devised in order to allow the list of gateways and supported assets for each gateway to be populated dynamically, using JSON manifests that are publishe

[2017-08-09 07:12] ppitonak commented on #232
This is an awesome idea! Just make sure that the implementation is secure. Two basic issues come to my mind:

1. sign the content of this public file with a reputable key
2. (do your best to) prevent man in the middle attack

[2017-08-09 14:47] xeroc opened #233 "Sign any message with any account key"
I would like to have a feature that allows the wallet to sign any message with any key in the wallet.
Ideally, this can be used to prove ownership of an account.
The page would have these input fields

* message
* key (list accounts, then pick from active, owner, memo - if pressent ... or pick `other key` to list all known keys in the wallet)
* signature (signature for the message)

I would recomm

[2017-08-09 18:34] btsfav commented on #233
yes, please!

[2017-08-09 18:36] btsfav opened #234 "Add Button to copy "Address""
this may sound very basic, but many crypto users have no idea that the user name = address.

suggestion: add a "Copy Address" + with an info on mouse over "Your Address = $NAME".

edit: added this issue the other day actually... please close

[2017-08-09 20:07] landry314 commented on #229
I think the label "proposed feature" works here.

The feature I propose is to have a mechanism to set a non-default referrer within the light client upon initial creation of the first account in a wallet.

[2017-08-09 20:10] landry314 commented on #234
You can close your own issue. Look below to the left of the green comment button.

Before you do so, it would be good to refer to the issue that you are saying it is a duplicate of by typing the # sign then the issue number.

[2017-08-10 19:14] wmbutler commented on #230
Agreed that this can default to wss://

[2017-08-10 19:17] wmbutler commented on #234
#187 addresses this.

[2017-08-10 19:17] #234 closed

[2017-08-10 19:18] wmbutler commented on #232
This issue requires quite a bit of discussion for implementation. Not part of Milestone yet.

[2017-08-10 19:23] wmbutler commented on #231
The Bitshares Light Wallet should display the gateway fee. We should also have better feedback regarding how many funds the user should expect to see in their target account once the transaction is complete like:

Amount to Withdraw: 11.6726
Gateway Fee: 8
Transaction Fee: .21851
Net Deposit: 3.45409

[2017-08-10 19:30] wmbutler commented on #229
The only thing I can come up with is something allowing the account creator to enter the referrer's username.

[2017-08-10 19:42] landry314 opened #235 "[2] Prevent Auto Return to Top Refresh while Scrolling Down the Open Orders List"
Currently when a user is scrolling down the orders list to look at open orders far from the spread and new orders come then there is a refresh of this list which automatically returns the list to the top.

Since new orders are always coming in, this makes it very hard to study the order list beyond the top.

I propose that the adding of new orders which refreshes the list does not return the order

[2017-08-13 06:14] btsfav opened #236 "[.5][ariesjia] Delete "Try To Claim All" Button"
Account > Vesting Balances

after a short discussion with @svk31 - this button should be obsolete.

![](https://i.imgur.com/MDEEdOJ.png)

[2017-08-13 09:05] startailcoon opened #237 "[1][ariesjia] UI Visual Issue: Switching Trading Pairs when using Horizontal Mode"
There is a UI Visualization Issue when using the Horizontal Price Trading Ledger.

If you pick a trading pair, say `GRC : BTS` and then switch to `SBD : BTS` the list will not go back to the bottom. I think the issue here is that the list is made for the normal Vertical Price Trading Ledger and it hasn't been taken in to consideration that this works the opposite way.

Doing this when not using th

[2017-08-13 11:17] Ashaman- opened #238 "Integrate shapeshift.io as a bridge via their API"
While it is my understanding that traditionally a company who wishes to provide a bridge or gateway service is responsible for contributing the code necessary to enable their service, I don't think ShapeShift would consider this to be a high priority for them (they're busy establishing partnerships with companies like OverStock), and as much as I hate to admit this - as thing are today, we need th

[2017-08-13 16:25] abitmore commented on #236
Actually all needed data is in the object, so we can get the exact amount that can be claimed with calculations. However, looks like it's hard to do 128 bit calculations with JS? Perhaps it's best to add an API to get claim-able amount.

[2017-08-13 23:39] wmbutler commented on #236
@svk31 I think we'll need your input on this to estimate unless it's going to be a simple button removal. If it's just a button removal, I'd give it .5 hours.

[2017-08-13 23:41] wmbutler commented on #237
Well documented bug. I've experienced this as well.

[2017-08-13 23:42] wmbutler commented on #238
Might make sense for a BTS general fund to receive a commission for this. @xeroc might have some thoughts.

[2017-08-13 23:50] wmbutler opened #239 "Update README.md to explain bounty system"

[2017-08-14 00:38] calvinfroedge commented on #163
Estimate: 2 hours or less, I think I padding / margin / height issue (windows browsers can interpret box model a bit differently)
Fix process: Use windows VM to test local modifications

[2017-08-14 00:44] wmbutler commented on #230
![screen shot 2017-08-13 at 7 44 34 pm](https://user-images.githubusercontent.com/1254810/29254775-dbdbd450-805f-11e7-81a6-ff1b828c79cf.png)

[2017-08-14 00:49] calvinfroedge commented on #47
I can take this issue

[2017-08-14 00:49] calvinfroedge commented on #163
I can take this issue

[2017-08-14 00:49] calvinfroedge commented on #210
I can take this issue

[2017-08-14 00:49] calvinfroedge commented on #66
I can take this issue

[2017-08-14 00:50] calvinfroedge commented on #85
I can take this issue

[2017-08-14 04:10] #239 closed

[2017-08-14 08:37] svk31 commented on #236
In a previous commit I added the get_vesting_balance api call to make sure the claiming amount was correct, but also added this 'try to claim all' button just in case the api gave incorrect data. There might also be rounding errors like abit mentioned. I suggest we try to simply remove it, then if we get reports of people being unable to claim the full amounts we can look into it then.

[2017-08-14 11:29] abitmore commented on #85
I think gateway code should be managed by 3rd parties that submitted them, unless there are security issues. They make profit from it, so it shouldn't be funded by the worker.

[2017-08-14 11:34] abitmore commented on #210
I think we can set a "default" account for each wallet when there are more than one accounts inside. When switching wallets, choose that one. Or use the first one. Or maybe use last clicked one.

[2017-08-14 11:35] abitmore commented on #210
By the way I don't think this is very high priority. Most users have only one wallet in the browser.

[2017-08-14 11:38] abitmore commented on #208
From the steps we know this is for advanced users. I don't think this is high priority.

[2017-08-14 13:03] Ashaman- commented on #68
Is it possible to have the wallet save trade history locally? And if there are gaps due to a wallet being offline when a bunch of orders execute, maybe it can use `get_relative_account_history` to fill them in?

[2017-08-14 16:11] wmbutler commented on #88
@JianJolly, Are the characters accurate? Is this strictly cosmetic?

[2017-08-14 17:33] wmbutler commented on #49
![screen shot 2017-08-14 at 12 33 04 pm](https://user-images.githubusercontent.com/1254810/29283527-c35530ba-80ec-11e7-89d1-70ec11726aa9.png)

[2017-08-14 17:39] wmbutler commented on #49
Key for colors based upon latency

![screen shot 2017-08-14 at 12 38 33 pm](https://user-images.githubusercontent.com/1254810/29283722-8398fbb8-80ed-11e7-9851-276cead9ec26.png)

[2017-08-14 17:54] wmbutler commented on #49
- Placeholder text for both input fields.
- Validation for ws:// and wss:// in address field

![screen shot 2017-08-14 at 12 52 31 pm](https://user-images.githubusercontent.com/1254810/29284242-7ce30424-80ef-11e7-98a8-b7cb428df779.png)

[2017-08-14 18:36] wmbutler commented on #49
Modal for node removal

![screen shot 2017-08-14 at 1 36 33 pm](https://user-images.githubusercontent.com/1254810/29285869-a3d7c618-80f5-11e7-893c-143cc79e7e2b.png)

[2017-08-14 18:43] wmbutler commented on #230
Addressed this in #49 closing as duplicate.

[2017-08-14 18:43] #230 closed

[2017-08-14 19:03] wmbutler commented on #231
Bill to UX

[2017-08-14 19:59] wmbutler commented on #231
- [ ] If fees > total withdrawal, leave withdrawal button DISABLED
- [ ] Only display warning if AMOUNT TO WITHDRAW is populated
- [ ] Remove dropdown from withdrawal address
- [ ] Ensure that neither Network fee or Gateway fee are editable

![screen shot 2017-08-14 at 2 56 34 pm](https://user-images.githubusercontent.com/1254810/29289213-2b16e5c2-8101-11e7-8577-30d964c87983.png)

[2017-08-14 20:20] wmbutler commented on #68
@Ashaman- Your question is unrelated to the issue. I do not think the wallet should store history. The wallet should query the API to obtain the history.

[2017-08-14 20:21] wmbutler commented on #68
As I think about this, paging would be the easiest to implement.

[2017-08-14 20:23] wmbutler commented on #85
Ah, so memos affect the fee? Is there an equation for this? If there is, I think it's important for us to spend time on this to factor in the cost of the memo.

[2017-08-14 20:24] calvinfroedge commented on #66
@svk31 @wmbutler I am having a bit of trouble reproducing this issue. Please see the following screen cast:

![issue-66](https://user-images.githubusercontent.com/632938/29290139-9babea78-8104-11e7-9f8b-155a6011981a.gif)

Please upload your own screen cast (I used licecap) if you are seeing something different so that I can reproduce.

[2017-08-14 20:29] wmbutler commented on #236
Agreed. Remove it. Please claim it if you decide to work it.

[2017-08-14 20:30] abitmore commented on #85
We can reuse the code of "transfer" feature.

[2017-08-14 20:34] abitmore commented on #231
Gateway fees are charged by the UIA issuer, in addition to the fees that are paid to the network and referral program. They should maintain them, not us.

[2017-08-14 20:34] wmbutler opened #245 "[8] Automate Light Wallet Build Process"
Light Wallets for Linux, Mac, WIndows need to be built automatically and posted to the download site automatically. This issue is critical to rapid delivery of our client.

[2017-08-14 22:02] JianJolly commented on #88
The characters are accurate, but they don't look as a native part of the font family.

[2017-08-14 23:45] wmbutler commented on #88
OK, I'm going to de-prioritize this since it's not a major bug.

[2017-08-14 23:50] wmbutler commented on #231
@abitmore Maybe I've misunderstood this issue. Users were complaining that they did not have visibility into all the fees being charged when withdrawing funds. My UX proposes to include the gateway fee on the withdraw screen so users have all the information needed to determine how much they need to send for say, a test transaction. There are cases where they might send 1 MUSE for a test, but sinc

[2017-08-15 00:44] robrigo commented on #231
I think what @abitmore was getting at, was that hardcoding gateway fees set by the UIA issuer (in this case OpenLedger) into the client for each pair offered by a gateway is a lot of maintenance work. I tend to agree.

Perhaps this could be solved as a piece of the #232 proposed feature to dynamically populate gateway data, by including the gateway fee for each trading pair in the manifest that a

[2017-08-15 05:09] skenan commented on #215
Can I take this one?

[2017-08-15 05:56] ppitonak commented on #220
Reproducible only if one of selected assets is hidden - bitCNY, OPEN.BTC, OPEN.DASH, OPEN.ETH, OPEN.MAID, OPEN.STEEM, OPEN.USDT

[2017-08-15 06:26] landry314 commented on #206
This is not a question, it is a bug. Did I reproduce it properly? Should I study it more to find out even more about how to reproduce it? For me it always happens when EVERY ASSET is zero OR completely in an open order causing its balance to be "Unknown Value". In essence, When the calculation consists only of "0" or "Unknown value" for every asset it thinks the balance is "0" ON THE TOP BAR. It i

[2017-08-15 06:52] landry314 opened #247 "Create Better System to Decide Which Assets are in Account --> Balances"
Currently the assets in the Balances list are decided for us and, yes, we can hide what we don't need but they change seemingly randomly and we can not add other assets that we want fixed in there regardless of if we own them currently. The assets that are fixed are chosen for us unless we unhide them.

I suggest a rehaul of the Balances system where ANY asset can be fixed into the list and any as

[2017-08-15 07:31] landry314 opened #248 "[1.5] Deleting Active Wallet Has Semi-Switching Effect Until Reload"
Steps to Reproduce:

1) Go to Settings --> Wallet
2) Create a new wallet - This should switch you to it automatically
3) Delete the new wallet while it is still the current active wallet:

This will have a strange effect of not updating the upper right where balances and the current account are shown so it appears to still be in the old wallet. This is not right.

4) Go to Settings --> Accounts -

[2017-08-15 07:40] landry314 commented on #210
Check out issue #248 I just created. I believe these issues can be solved with the same fix.

I agree, @abitmore, this is not HIGH priority because most users never create another wallet, but if they do, being confronted with bizarre behavior like this is very off-putting and does not instill trust. If we want bitshares to "replace the legacy financial system" then we must have a GUI which is seam

[2017-08-15 08:59] abitmore commented on #231
Best if gate fee is defined in the asset info. However, many people can setup gateways for assets like bitCNY with different fee, so it's not a perfect solution. alternatively, the 3rd gateway providers can provide an API for gate fees, so the wallet will know the latest fee rate. We can define a general format for this kind of APIs.

[2017-08-15 09:07] abitmore commented on #232
This idea is not bad. However, there may be security/privacy related concerns. Some people believe the wallet should not request data from 3rd parties by default. This is already happening, for example, OL is now the default gateway even if I don't use it, when clicking "withdraw" from the menu, the wallet will automatically sent requests to OL's server to fetch my open.BTC deposit address, so my

[2017-08-15 09:09] abitmore commented on #231
Agreed. This issue can be closed. Let's discuss in #232 .

[2017-08-15 09:12] abitmore commented on #68
It may require API support/changes. but I'm not sure. Please open an issue in the bitshares-core repository. Or ask in the dev channel first.

[2017-08-15 09:23] abitmore commented on #66
In "market trades" tab, there is a scroll bar that you can scroll down, if it's not there, please check another pair that has more records, for example `BTS:bitCNY`. Scroll down, then click "my trades".

[2017-08-15 09:31] abitmore commented on #66
PR #246. Next time it's best link the PR and the issue explicitly (putting issue number in title of PR won't link them automatically).

[2017-08-15 10:53] startailcoon opened #249 "Visual Issue: Fee in trading currency displayed wrong"
When trading currencies and using the currency to trade as the fee currency, paid by the fee pool, the value is misleading. The fee is correct, but displayed wrong to the user.

The value is the same whether you use BTS or the trading currency, resulting in some confusion.

On the confirmation screen the value is correctly displayed in BTS again.

### Fee displayed correctly in BTS
![bitshares_fee

[2017-08-15 12:37] wmbutler commented on #247
While I agree that you may want to have certain assets available whether you own them or not, I think they deserve to be in a heading other than "Balances". Let's face it, balances are indeed balances. Seems to me that we should always show an asset under the balance heading if you own it.

Seems to me that there should be another area to create a portfolio or watchlist with a custom name where yo

[2017-08-15 12:38] wmbutler commented on #248
Classified as a bug and added to 9/14 milestone.

[2017-08-15 12:42] wmbutler commented on #249
This dropdown is not present in the light wallet. Please specify the URL for this site.

[2017-08-15 12:48] startailcoon commented on #249
It's from the light wallet, version 170522 for Windows from https://bitshares.org/download/

![bitshares_lightwallet_windows](https://user-images.githubusercontent.com/12114550/29316454-6fb773a0-81c8-11e7-92df-39dde76e9bb3.PNG)

[2017-08-15 12:51] wmbutler commented on #249
Interesting, because the dropdown is not present on the MacOS version. Might need @svk31 to duplicate this or explain the difference on it.

![screen shot 2017-08-15 at 7 50 10 am](https://user-images.githubusercontent.com/1254810/29316657-72987d7e-818e-11e7-9ad8-75c6b957f7e3.png)
![screen shot 2017-08-15 at 7 50 04 am](https://user-images.githubusercontent.com/1254810/29316656-728fdcbe-818e-11e7-

[2017-08-15 12:54] startailcoon commented on #249
That is really strange. You're using the `BTS:openGRC` trading pair?

[2017-08-15 12:55] wmbutler commented on #68
Mentioned this in the dev channel.

[2017-08-15 12:56] wmbutler commented on #249
Yes

![screen shot 2017-08-15 at 7 55 52 am](https://user-images.githubusercontent.com/1254810/29316883-3495f3ca-818f-11e7-83a9-ab37e4ad6137.png)

[2017-08-15 12:59] wmbutler commented on #231
Oh, I assumed that the gateway fee was defined in the asset info. Sorry for the disconnect here. Closing as suggested to work as part of #232.

[2017-08-15 12:59] #231 closed

[2017-08-15 13:07] wmbutler commented on #68
**get_relative_account_history**(account_id_type account, uint32_t stop = 0, unsigned limit = 100, uint32_t start = 0) const

Get operations relevant to the specified account referenced by an event numbering specific to the account. The current number of operations for the account can be found in the account statistics (or use 0 for start).
### Return
A list of operations performed by account, ord

[2017-08-15 13:20] #163 closed

[2017-08-15 13:29] svk31 commented on #85
Memos add a per kb fee, and I never found a way to properly estimate that so no, there's no code to calculate that. The transfer fee estimate is simply for a transfer without the memo. The final fee that's attached to the operation before broadcasting is retrieved from the API, it could be used but I didn't want to fire tons of API requests just for that so I've just left it as is.

[2017-08-15 13:34] wmbutler commented on #68
In order to fully satisfy this requirement, we need to be able to **optionally** request:

- type of operation
- date range
- trading pair

in addition to the features of **get_relative_account_history**

[2017-08-15 13:47] wmbutler commented on #224
https://blog.axosoft.com/2016/12/07/continuous-integration-cross-platform-application-building/

Windows CD Tool
https://www.appveyor.com/

[2017-08-15 13:49] wmbutler commented on #85
@xeroc may need your help here. Really hate to abandon this bug if there is a solution. Happy to increase the estimate if it requires it.

[2017-08-15 13:56] wmbutler commented on #210
The reason I view this as a high priority bug is that it would allow a user to perform operations on the wrong account. Even though it may affect few people, it's fairly serious in nature.

[2017-08-15 13:59] wmbutler commented on #206
Looks like this has been reproduced and documented well. Added it to the 170914 milestone.

[2017-08-15 14:06] svk31 commented on #201
I can add an error message when the pools are empty and the user has no other balance to use, it requires some code to be added to bitsharesjs.

[2017-08-15 14:27] wmbutler commented on #201
I think it would be best to notify the user prior to the buy/sell operation by presenting the message prior to the user initiating the buy/sell.

![screen shot 2017-08-15 at 9 26 23 am](https://user-images.githubusercontent.com/1254810/29320157-ec7845ea-819b-11e7-9d74-21b0f95e3682.png)

[2017-08-15 14:29] wmbutler commented on #215
Sure. @svk31 will you take a look an ensure that a 3 hour estimate is fair on this one? Then we can allow @skenan to work the bounty on it.

[2017-08-15 14:49] rrandom commented on #211
Hi, I could take this issue

[2017-08-15 15:04] wmbutler opened #252 "[1.5] Build OS X Electron Wallet"
A manual build of Electron Wallet for OS X. This will eventually be automated. First time for @calvinfroedge so including setup and orientation time.

[2017-08-15 15:05] wmbutler opened #253 "[1] Build Windows and Linux Electron Wallet"
Manual task until automated.

[2017-08-15 15:09] wmbutler commented on #96
https://v.usetapes.com/99mFY4AKDq

[2017-08-15 15:12] wmbutler commented on #211
The bounty is for 1 hour. Assigned to @rrandom. Thanks!

[2017-08-15 15:25] btsfav opened #254 "[4][hyper-bola] Alignment and spacing fixes"
Light Wallet latest version

Issued Assets > Update Assets

Here's the normal view:

![](https://i.imgur.com/vgBekPY.png)

here's the wrong alignment

![](https://i.imgur.com/M74vtJY.png)

[2017-08-15 15:27] btsfav commented on #238
please make sure to measure the safety as well before integration.

can shapeshift widget be sandboxed?

[2017-08-15 16:22] abitmore commented on #85
We can port the [fee calculation code](https://github.com/bitshares/bitshares-core/blob/2.0.170710/libraries/chain/protocol/transfer.cpp#L28-L34) from bitshares-core, I think it should be doable in UI.
[code]
Serialize the `memo` field, get the size, times the fee rate.

Perhaps yoyow team has figured it out. I'll ask.

[2017-08-15 16:31] abitmore commented on #68
Just a note here, there is a `get_account_history` API with a type filter, but the implementation is inefficient and hard to improve as of writing, so I won't recommend that. Yes, we can improve the `get_relative_account_history` API, but perhaps need to create a new API for backward compatibility.

[2017-08-15 17:16] btsfav opened #258 "[6] Make sign-up newbie friendly"
A lot of support requests start with people not knowing how they registered their account.
followed by "what's a .bin?"

Proposal: Only offer Account Model, hide full wallet behind an explanation

+ Display a Link to a Secure Password Manager: https://www.keepassx.org/

![](https://i.imgur.com/iLM7cwu.png)

[2017-08-15 18:29] landry314 commented on #247
I agree, @wmbutler, it is called Balances and should only hold balances.

Therefore, below it and above "Open orders" let's create a new category called "Favorite Assets" or "Followed Assets" or something like that where the user can choose which coins and bitassets he wants to keep easy access too. Instead of the current system of having some default coins placed in Balances and allowing them to

[2017-08-15 18:39] calvinfroedge commented on #252
Latest OSX build: https://drive.google.com/file/d/0BzvuEYutkmtdSk45RUpCb2ozTkE/view?usp=sharing

sha1: acb78293a129e06399f5959150065d6d6b9c3540
sha256: d271edeece9c04165a84cbf3e6b5ed2060af87a5b42810e4f7048696d8f0ca27

[2017-08-15 18:41] calvinfroedge commented on #252
PR: https://github.com/bitshares/bitshares-ui/pull/259

[2017-08-15 18:55] landry314 commented on #207
I can not find the epic to deal with this issue, @wmbutler. Can you reference it here if you indeed made one?

[2017-08-15 18:56] landry314 commented on #248
So I just opened my light client today for the first time after bug testing last night and the Accounts, Send and Exchange tabs are working fine and my account is showing up there but every tab to the right of Exchange is not there just like after I deleted the wallet but hadn't reloaded yet as explained in the steps above.

This time reloading is not working and I am going to have to restore my w

[2017-08-15 19:03] calvinfroedge commented on #110
@wmbutler @vikramrajkumar Can we get some additional clarification on UI required for this issue?

[2017-08-15 19:09] calvinfroedge commented on #146
@wmbutler Possible to have more exact reproduction steps here?

[2017-08-15 19:10] calvinfroedge commented on #33
@wmbutler @dnotestein Possible to have more exact reproduction steps here?

[2017-08-15 19:12] landry314 commented on #258
I highly disagree that the Account model should be the default and the Wallet model be a small link somewhere because the Wallet model is the most secure of the two.

I can imagine people using the account model with the name of their dog followed by the digits in their birthday and then having someone hack their account and steal all their funds. It really is not safe.

I do think that it needs t

[2017-08-15 19:12] calvinfroedge commented on #200
@wmbutler Can you provide exact reproduction steps for this?

[2017-08-15 19:13] wmbutler commented on #146
@SahkanDesertHawk moving this to question and taking out of the current Sprint until you can post screenshots fully reproducing this issue.

[2017-08-15 19:13] calvinfroedge commented on #46
@wmbutler @abitmore Need exact reproduce steps

[2017-08-15 19:16] calvinfroedge commented on #202
@destenson @wmbutler Can we get simplified / condensed / step by step reproduction steps for this issue?

[2017-08-15 19:16] wmbutler commented on #200
I've observed it but cannot reliably reproduce. @svk31 says it's caused by the fees associated with a variable length of the memo field. I'll close it since it's my issue and I can't reproduce.

[2017-08-15 19:17] calvinfroedge commented on #252
@wmbutler Estimate was updated to 1.5

[2017-08-15 19:19] wmbutler commented on #33
Closing this after two requests for clarification with no response.

[2017-08-15 19:19] #33 closed

[2017-08-15 19:20] calvinfroedge commented on #48
@abitmore @svk31 Can we get exact reproduction steps for this issue?

[2017-08-15 19:23] wmbutler commented on #202
@calvinfroedge I think it would be wise to increase the hourly value for this and claim it and research it. There is a lot of detail here and the fix may involve the creation of a better api call from bitshares-core in cooperation with @oxarbitrage. This is a good project for you to research personally.

[2017-08-15 19:26] wmbutler commented on #110
This ties into #49. I've provided a UX/UI for this.

[2017-08-15 19:26] svk31 commented on #200
No I do not think it's due to fees. The dust orders execute at a different price because Bitshares has no concept of price, only ratios of amounts to buy and sell. When there's only one satoshi left, the trade has to execute at a ratio (aka price) that is different from that originally defined for the order. The actual issue here is the existence of dust orders.

 I've spent countless hours on thi

[2017-08-15 19:27] #236 closed

[2017-08-15 20:01] wmbutler commented on #248
I forgot that I use zenhub.io for epic creation and it's not native to github. I'll try to come up with another way to group these. I really like zube.io for managing issues, epics and sprints but need to talk with the team about the best way forward. One thing is for certain. Until we have a good management platform, these issues, especially the bug related issues need to be atomic. Note the bug,

[2017-08-15 20:05] wmbutler commented on #247
Sounds like a plan. I'll get a UX going for this.

[2017-08-15 20:09] wmbutler commented on #254
I'd really like to see this left justified with 20px of padding/margin. Does anyone object to this? I always thought the center justification felt a bit hokey.

[2017-08-15 20:15] wmbutler commented on #258
Further discussion: I think there are 3 options for anyone arriving at the reference wallet for the first time:

- Wallet
- Login
- Restore

I think that wallet and Login should carry equal weight as well. I also believe that the restore operation should stand on its own. I think we need recognizable icons for each with descriptions that are revealed when the user hovers over each. I'll start subm

[2017-08-15 20:21] svk31 commented on #85
Hm ok so it's only the size of the memo itself we need, that makes it clearer. Maybe I can use Buffer to get the size then, that's the only real issue.

[2017-08-15 20:54] wmbutler opened #260 "[.5] Add Openledger gateway assets to reference wallet"
Missing: SBD, PPY, STEEM, PPC, GOLOS, GBG

Light Wallet
![screen shot 2017-08-15 at 1 18 47 pm](https://user-images.githubusercontent.com/1254810/29335710-30f01e3e-81d1-11e7-8e5d-922ec7cdeea7.png)

Openledger Wallet
![screen shot 2017-08-15 at 1 18 24 pm](https://user-images.githubusercontent.com/1254810/29335709-30eb8022-81d1-11e7-89e7-4a9dd1463fb8.png)

[2017-08-15 20:55] landry314 commented on #248
I agree, @wmbutler, the way it is laid out now is not easy to read or think about. I am open to a better way.

[2017-08-15 20:57] wmbutler commented on #248
@landry314, does the bug, as portrayed in the original description exist or not?

[2017-08-15 21:00] landry314 commented on #258
Excellent idea to add Restore to the options, this will make it clearer.

I suggest "New Wallet" and "Restore Wallet" to further clarify.

[2017-08-15 21:24] wmbutler commented on #258
Is there a Restore function for the user account with a brainkey?

[2017-08-15 21:29] btsfav commented on #254
@wmbutler not sure how/if this would affect user experience. Pretty sure there are some studies on eye movement and design, but that's way beyond my experience

[2017-08-15 21:39] wmbutler commented on #254
There is an arbitrary amount of margin depending on the width of the users' browser. Seems like it wasn't thought out very clearly.

## Browser Wide
![screen shot 2017-08-15 at 4 37 33 pm](https://user-images.githubusercontent.com/1254810/29337747-20c34af2-81d8-11e7-890d-dedbc5beee0e.png)

## Browser Narrow
![screen shot 2017-08-15 at 4 37 45 pm](https://user-images.githubusercontent.com/1254810/2

[2017-08-15 21:41] landry314 commented on #248
yes it does

[2017-08-15 22:05] SahkanDesertHawk commented on #146
![ppy trade screen](https://user-images.githubusercontent.com/28378150/29338559-755d3bbc-81b1-11e7-8942-2e64015cc2c6.png)
I am running Linux Light Client v.170522. There are 3 trades waiting to execute on the main trade screen.
But I really have 4 Open orders:
![open orders](https://user-images.githubusercontent.com/28378150/29338650-dec9fe00-81b1-11e7-9073-308ce74fdb8a.png)

That order of 25/PPY

[2017-08-15 22:05] landry314 opened #261 "[1.5][svk] Restoring Wallet Defaults to Followed Account Not Owned By User"
When I restore my wallet into a fresh install of the light client it opens an account I am following but which I do not have private keys for.

Steps to Reproduce:
1) Follow a few accounts you don't own
2) Make sure only one account is "starred" and in the top pulldown to switch accounts
3) Backup wallet
4) Delete library files or install client on another computer, whatever to get a fresh install

[2017-08-15 23:54] landry314 opened #262 "Worker Payouts for Submitting Bug Reports that Got Solved?"
I propose that the users who submit issues to this github which eventually get merged should get paid something for their time and effort out of the 201708-bitsharesui worker proposal.

Obviously the coders should get more, but the bug testing and reporting is work. Beta Testing and Program Design is real work.

Personally, I have submitted many bug reports and feature requests and commented on ma

[2017-08-16 00:40] skenan commented on #215
The cause for this bug is after creating a new account, the AccountRefsStore didn't update. I suggest to resync the ChainStore after creating.

[2017-08-16 04:40] btsfav commented on #254
Sounds good!

[2017-08-16 04:43] btsfav commented on #258
@wmbutler @landry314 excellent ideas! I'd like to test this one please

[2017-08-16 06:08] btsfav commented on #201
@wmbutler how about adding an addtional link with

"Click Here to buy BitShares (10 BTS ~ 50 Transactions)"

link it to shapeshift (referral?) and prefill bitshares user name.

referral income should be forwarded to the dev fund

[2017-08-16 06:35] svk31 commented on #48
I can't help with that I'm afraid, never seen this happen myself.

[2017-08-16 06:36] svk31 commented on #260
This will probably get fixed by the PR #241

[2017-08-16 06:44] svk31 commented on #224
https://github.com/electron-userland/electron-builder/wiki/Multi-Platform-Build

Looks we can use the free github integrations from AppVeyor and Travis.

[2017-08-16 06:47] svk31 commented on #193
This is impossible given the current available APIs, and highly unlikely to get added since it would require the witness_node to track all asset holders for all assets which is probably way too expensive in terms of performance and memory.

[2017-08-16 11:14] svk31 opened #263 "[0.5] Withdraw dropdown does not remember your last selected coin for withdrawal"

[2017-08-16 11:32] grctest commented on #193
You mean the full_node rather than the witness_node, given that the web/light wallets talk to full nodes not the witnesses?

So this would require a change in bitshares-core prior to being possible within the bitshares-ui? Time to make a new github issue: https://github.com/bitshares/bitshares-core/issues/362

[2017-08-16 11:40] destenson commented on #202
@calvinfroedge, I'd be glad to help with what I can. Which particular issue are you referring to? I've found that most of my problems stem from having "too many" accounts in my wallet. I'd be glad to share one particularly troublesome wallet, if there is a way to remove the password and some especially confidential accounts from it.

@wmbutler, I don't think the API from bitshares-core needs chang

[2017-08-16 11:49] calvinfroedge commented on #202
@destenson What I need to do in order to be able to resolve the issue is essentially start from a fresh wallet / account, and follow a deterministic series of actions until the issue occurs. That way I can see at what point the issue actually starts occurring and why.

[2017-08-16 11:51] destenson opened #264 "Split a wallet into two and/or remove accounts from a wallet."
I have some wallets with "too many" accounts in them. Most of these accounts are not used anymore, so they don't need to be included in my normally active wallet. So, it would be very useful for wallet management if there were a way to split a wallet into two wallets, with the ability to select which wallet different accounts should go into. It should also be possible to remove accounts from a wal

[2017-08-16 11:54] grctest opened #265 "[.5] When creating asset - edit middle of 'symbol' and 'asset name' fields forces append mode"
Hey,

I've only tested this on OpenLedger, but when I was creating the 'pololostkeys' token, I noticed that the 'symbol' and 'asset name' fields don't allow you to edit the middle of text, instead it forces you to append to the existing text after the first character.

Example term 'TESTING' has word 'MIDDLE' typed between the S & T. The result is 'TES**M**TING**IDDLE**' instead of 'TES**MIDDLE**T

[2017-08-16 11:57] grctest commented on #198
Merging the [FollowMyVote stake weighted voting](https://github.com/FollowMyVote/StakeWeightedVoting) functionality into Bitshares and enabling it for any UIA would be great.

[2017-08-16 12:02] destenson opened #266 "My Markets should only show markets I care about"
"My Markets" is a misleading title since I can't easily add markets to that list, and none of the defaults can be removed from it.

[2017-08-16 12:09] destenson opened #267 "Add "Active Markets""
Instead of, or in addition to, the "My Markets" section of the Exchanges screen, there should be an Active Markets section. It should show only markets that are "active", those which have had orders filled "recently" (in the last few months). There should also be a way to select, search for, or get a list of all markets that have open orders waiting to be filled. I'm sure that more people would be

[2017-08-16 12:34] grctest commented on #267
Perhaps taking the closeness of open orders to feed price for MPA trading pairs into account would be wise, otherwise I could create bitUSD:randomUIA at an inflated rate to spam the active section.

I do like this idea, trying to find possible trades (without the use of a bot to monitor favourite trading pairs) is quite difficult.

[2017-08-16 12:37] grctest commented on #266
You can add markets to your 'favourite' trading pair tab, that's about it in terms of 'my market' personalization. I do agree that 'my markets' is more of 'featured markets' than your personalized trading pair tabs.

[2017-08-16 12:40] grctest commented on #84
Sorry to reply to a very old closed issue, but why was it decided to move the explorer to the settings drop down menu?

As it stands, the explore button is effectively hidden out of view & the majority of new users likely won't see this functionality as a result.

Wouldn't it make sense as the following? So as to promote the use of the explore functionality?

![image](https://user-images.githubuse

[2017-08-16 12:46] wmbutler commented on #266
The Markets needs a full UI treatment. This isn't really an actionable issue.

[2017-08-16 12:46] #266 closed

[2017-08-16 12:46] #47 closed

[2017-08-16 12:48] grctest opened #268 "Enable creating a new committee member via GUI?"
Similar to how recently the worker proposal system had GUI functionality added for the creation of worker proposals, perhaps it'd be worth enabling creating a committee member via the GUI so that more committee members (who may not be technically able to run a full/cli node) may have a chance at becoming a committee member? We've only got 11 committee members to vote from at the moment which isn't

[2017-08-16 12:49] wmbutler commented on #265
Legitimate bug. Easy fix.

[2017-08-16 12:49] svk31 commented on #193
I mean witness_node as in the bitshares-core executable, which is what's run by both witnesses and API servers. What differs between them is simply their configuration settings.

[2017-08-16 12:51] grctest opened #269 "Asset details allow for HTML"
Just a quick check - An asset issuer is allowed to use HTML within their asset details, right?

Because it's possible to do so within the web/light wallets: https://openledger.io/asset/HERTZ

On cryptofresh, the HTML is escaped and shows the true asset details:
http://cryptofresh.com/a/HERTZ

[2017-08-16 12:51] wmbutler commented on #202
@calvinfroedge I have a lot of accounts in my wallet. Want to do a screenshare?

[2017-08-16 12:53] wmbutler commented on #269
I checked it on the light client and the answer is yes.

[2017-08-16 12:53] #269 closed

[2017-08-16 12:55] wmbutler commented on #260
But will #241 happen by end of month? Just think we should manually add these in the meantime.

[2017-08-16 12:56] wmbutler commented on #224
Should I purchase the account at appveyor?

[2017-08-16 12:57] wmbutler commented on #48
Closing since no further clarifications or comments.

[2017-08-16 12:57] #48 closed

[2017-08-16 12:58] wmbutler commented on #201
Out of scope in my opinion. Open a separate issue.

[2017-08-16 12:59] svk31 commented on #260
Yes, I have it almost ready to merge now.

[2017-08-16 13:00] svk31 commented on #224
No, it's free for open-source projects.

[2017-08-16 13:01] wmbutler commented on #224
Awesome, so you need nothing from me on this?

[2017-08-16 13:05] wmbutler commented on #254
Left justify the main body block of the reference wallet. Likely 20px of padding on the left. This will be a change that affects many screens so some testing is in order. Made the issue 2 hours to accommodate testing.

[2017-08-16 13:07] wmbutler commented on #215
@skenan are you planning to submit a PR?

[2017-08-16 13:08] wmbutler commented on #262
People who submit bugs do not get paid. People who submit PR's that get accepted get paid.

[2017-08-16 13:08] #262 closed

[2017-08-16 13:11] wmbutler commented on #261
I wouldn't classify this as a bug but it is unexpected. Tell me which account should be the default account when importing your wallet. Is the default account the first one alphabetically? Anything obvious here?

[2017-08-16 13:15] wmbutler commented on #146
Trying to understand the issue still. I see prices and qty that don't correspond in any meaningful way. Can you clarify?

[2017-08-16 13:20] svk31 commented on #249
It's only present if you actually have the asset. There are actually multiple issues here, first of all the fee is the same because the Core Exchange Rate of OPEN.GRC is 1 OPEN.GRC/BTS, so that's correct. Since that rate is terrible you really shouldn't pay your fees in GRC anyway but that's a different issue.

Secondly, the OPEN.GRC fee pool is empty, so even though you attempt to pay your fees u

[2017-08-16 13:22] wmbutler commented on #249
Cool, and this would also display insufficient funds per #231 if there were no BTS.

[2017-08-16 13:25] grctest commented on #269
External javascript seems blocked though it could just be because the UI uses react. The script tags were not however excluded from the asset details, perhaps an external site like cryptofresh or the new block explorers will have to prevent this from executing on their own websites.

You are however able to import your own CSS from an external source (though it is blocked by some, not all web wall

[2017-08-16 13:26] abitmore commented on #193
The `get_call_orders` API doesn't work? It can be used to get all short positions of one MPA.

[2017-08-16 13:26] abitmore commented on #193
I think this can be added in the asset info page.

[2017-08-16 13:31] svk31 commented on #146
Your orders' prices are far too low to be visible in your screenshot, you need to scroll down the Buy Orders list:

![image](https://user-images.githubusercontent.com/6890015/29365602-e0b3915e-8297-11e7-91f9-e5b74394047c.png)

[2017-08-16 13:33] svk31 commented on #146
The original issue is probably just from filtering out of orders with extreme price values, prices that are too far removed from the current market prices. They're filtered out for display purposes since prices with say 15 digits completely mess up the tables.

[2017-08-16 13:34] wmbutler commented on #264
So, you have say 3 wallets with 5 accounts each and you'd like to be able to arbitrarily move them from wallet to wallet correct, as well as delete accounts? Maybe you'd rather hide accounts. This issue is really broad in scope. It'll need to be broken into user stories that are bite sized. Maybe:

- Procedure to transfer account from one wallet to another
- Ability to hide accounts (we have this

[2017-08-16 13:40] wmbutler commented on #146
What if we removed the total bts column (turned this value into a hover tooltip instead). Would this free up room to display the entire order book? This is a recurring theme and I'm not sure how else to get around it.

[2017-08-16 13:42] wmbutler commented on #193
This issue has a lot of positive feedback. Agreed it make a lot of sense in the asset explorer. I'll UX this. Current HERO asset view pre UX:

![screen shot 2017-08-16 at 8 41 34 am](https://user-images.githubusercontent.com/1254810/29366134-c8f9bf54-825e-11e7-86d0-3e5e5c67bb19.png)

[2017-08-16 13:44] svk31 commented on #146
No the total is very useful imo, much more so than showing irrelevant orders.

[2017-08-16 13:46] wmbutler commented on #146
"irrelevant" is subjective. Ultimately, we can't censor data. Need to be creative about how to show the full picture.

[2017-08-16 13:54] #263 closed

[2017-08-16 14:22] destenson commented on #264
More like, I have 1 wallet with 150 accounts, and I'd like to split it into two wallets, one with 25 accounts and the rest in the other. I would be open to doing this manually (and I have to some degree), but there doesn't seem to be any way of removing an account that I've already added to a different wallet.

I would be fine with hiding accounts, but that's not sufficient since, as you mentioned

[2017-08-16 14:55] wmbutler commented on #264
This is a transfer operation (moving an account from wallet a to wallet b). Then obviously we need a bug free way to hide accounts which is being worked. So I'd suggest you modify this issue something like: "Provide an easy way to transfer an account to a different wallet". We can then groom and refine this issue until it can go into a sprint.

[2017-08-16 15:22] svk31 commented on #85
@abitmore In the code you linked, where does the `memo` come from? It's not defined anywhere as far as I can tell.

[2017-08-16 16:11] skenan commented on #215
@wmbutler  Yeah. Will do that this week.

[2017-08-16 17:20] #235 closed

[2017-08-16 17:40] #265 closed

[2017-08-16 17:41] #211 closed

[2017-08-16 17:44] #237 closed

[2017-08-16 17:45] svk31 commented on #260
Fixed by #270

[2017-08-16 17:45] #260 closed

[2017-08-16 17:56] #220 closed

[2017-08-16 18:46] svk31 commented on #85
Ok so I've been looking into this and so far I can't seem to get it right, whether I use the whole memo_data object, just the message itself, an object containing {"message": "azdazd"}, and utf8 or binary encoding the byte size never fits what the witness_node seems to use.

Another major issue here is that the byte length depends on the encoded message, and in order to encode the message the wall

[2017-08-16 19:28] wmbutler commented on #85
@svk31 increase the estimate on this as you put work into it. This is a problem worth solving.

[2017-08-16 19:42] wmbutler commented on #49
@svk31 Is it possible for a node to be up and have low latency but for the socket to be down or out of sync? If so, I need to expand upon the latency and up/down status. I think if the node is out of sync, it may be wise to have a third indicator, but I'm not sure what it would be called or how we would test for an out of sync node.

[2017-08-16 19:52] btsfav commented on #264
Personally wouldn't pay one cent from developers fund for this. account squatters should pay for this themselves, as it only affects 3-4 people.

[2017-08-16 20:18] wmbutler commented on #264
I have reserved a number of accounts for friends and have managed on their behalf until they were ready to do so on their own. This is not just for squatters in my opinion. Users should be able to move accounts between wallets with minimal effort.

[2017-08-16 21:45] destenson commented on #264
@btsfav, you make a good point. I hadn't thought of the feature assisting squatters. But, personally, I don't care who pays for it, or if it's a public feature, or what... I just want to be able to get many of these accounts out of my main wallet and into one I can monitor less often. This has been giving me frustration and a negative experience with bitshares for about a year, though I've only br

[2017-08-16 23:59] wmbutler commented on #188
@steempower need clarification and steps to reproduce or I'll close this bug.

[2017-08-17 00:01] wmbutler commented on #206
Estimated at two hours if someone wants to claim this bounty.

[2017-08-17 00:02] wmbutler commented on #204
Could use some help estimating this @svk31

[2017-08-17 00:08] SahkanDesertHawk commented on #146
My order of 25per sometimes shows up and sometimes goes away. We should be able to show the most accurate picture of the order book. 25/PPY is not 15 digits. I tested it with 1MLN BTS, and once the order is dropped from the open orders screen on the right, the SELL ORDERS total gets adjusted by the amount and it also gets dropped from the Show all asks, so no I cannot scroll down the orders and se

[2017-08-17 01:26] rrandom commented on #206
@wmbutler  Can I take this one? Thanks

[2017-08-17 05:06] xeroc commented on #224
I just pushed a new branch which adds .travis.yml and a few build scripts for automation.
https://github.com/bitshares/bitshares-ui/commit/921f9eba60249d12c93c90590421677b5515e56d

Travis compile progress can be found here.
https://travis-ci.org/bitshares/bitshares-ui/branches

What needs to be discussed is, if we want it to auto-deploy on bitshares.org/wallet
https://github.com/bitshares/bitshare

[2017-08-17 07:06] svk31 commented on #201
@wmbutler I like the error message mockup, but don't you think the user would still like to know how much BTS they actually need to pay that fee so they can go get it somewhere?

[2017-08-17 09:05] landry314 commented on #264
@destenson, are you copying the private keys manually then creating a new wallet and importing them there? This should create a new wallet with a small number of accounts.

Of course, then the old wallet will also have those accounts. Do you then switch to those accounts and remove the keys in Account --> Permissions? Does this remove those accounts from the old wallet?

I am wanting to do this my

[2017-08-17 09:20] landry314 commented on #267
@destenson, I agree that the markets section is a bit wonky and misnamed but did you know that you can click on the star to the left of the asset to label it as a favorite then click on "SHOW [STAR] ONLY" at the top to turn it into the My Markets it actually should be?

I think that "MY MARKETS" should be renamed to "MARKETS". It is only "MY MARKETS" when "SHOW [STAR] ONLY" is selected.

[2017-08-17 09:38] landry314 opened #275 "[1][ariesjia] Chart Height Value Becomes Meaningles and "Random" When Edited to Be Blank"
It was hard to pick a title for this one.

Steps to Reproduce:
1) Switch to the Price Chart
2) Click on the gear to the right of TOOLS
3) Try to edit the chart height by deleting the entire number
4) When the last digit is deleted, a seemingly random negative number is filled in for that value.

So, in order to change the Chart Height value you have to append your value to the current value THEN d

[2017-08-17 09:44] landry314 commented on #261
That is a good question, I don't know which account should be the default account on a new wallet restore BUT I absolutely know it should NOT be SOMEONE ELSE'S account.

This is a bug because opening someone else's account like it was my own BY DEFAULT is very bizarre and certainly not as a user would expect.

[2017-08-17 10:09] abitmore commented on #85
@svk31 `memo` is defined [here](https://github.com/bitshares/bitshares-core/blob/2.0.170710/libraries/chain/include/graphene/chain/protocol/transfer.hpp#L60):
[code]
and `memo_data` is defined [here](https://github.com/bitshares/bitshares-core/blob/2.0.170710/libraries/chain/include/graphene/chain/protocol/memo.hpp#L40-L67):
[code]
Perhaps you didn't serialize the `optional` part?

[2017-08-17 10:11] abitmore commented on #85
While this is true, perhaps we can try to use a dummy key to encode, I guess the size should be same.

[2017-08-17 10:17] landry314 commented on #262
Right, a coder who spends 30 minutes fixing an easy bug gets paid but someone who spends 10 hours researching and posting 20 relevant bugs and descriptions on how to reproduce gets nothing, sure, that is fair, closed.

[2017-08-17 10:20] btsfav commented on #262
Current worker pays for bug fixes not bug reports

[2017-08-17 10:27] #201 closed

[2017-08-17 10:29] svk31 commented on #249
Should be fixed in https://github.com/bitshares/bitshares-ui/commit/f1141a587a8977ff1c34dd914c97bc377a39c565

[2017-08-17 10:29] #249 closed

[2017-08-17 10:31] svk31 commented on #227
Unable to reproduce this.

[2017-08-17 10:51] btsfav commented on #201
I still think it would make sense to add a direct method to buy btishares within this error.

it's in-scope in my opinion

[2017-08-17 10:56] startailcoon commented on #227
So am I. It was only there for a while during the time there wasn't any change in the trading. If I encounter is again I will post about it again.

[2017-08-17 12:13] #191 closed

[2017-08-17 13:13] destenson commented on #264
@landry314, yes, I've done that. That's my current workaround for the issue, but it prevents me from being able to monitor a number of accounts that I'd like to.

As for removing keys from the wallet. I haven't tried that in a long time, but I've not been successful removing any keys (except by hacking the browser's local DB where it stores them).. Once a wallet is too full and suffering from the

[2017-08-17 14:18] #227 closed

[2017-08-17 14:34] wmbutler commented on #201
Maybe something like this then? Still think that users can handle purchasing BTS without additional prompting. This issue is more about improving the error reporting rather than facilitation the purchase.

![screen shot 2017-08-17 at 9 33 36 am](https://user-images.githubusercontent.com/1254810/29417587-4b55481c-832f-11e7-9819-f1fe92a42983.png)

[2017-08-17 14:37] wmbutler commented on #261
Without a suggestion on how best to proceed, there isn't much actionable detail here.

[2017-08-17 14:40] wmbutler commented on #275
Either remove chart height indicator or fix intended functionality.

![screen shot 2017-08-17 at 9 39 34 am](https://user-images.githubusercontent.com/1254810/29417810-147e4a86-8330-11e7-9ce6-60af62cec9bf.png)

[2017-08-17 14:42] wmbutler commented on #267
Markets needs an overall rewrite. Leaving this open for discussion.

[2017-08-17 14:45] svk31 commented on #275
It's an easy fix, just force a min height.

[2017-08-17 15:04] wmbutler commented on #224
My opinion on the matter is that we should do the following for each Sprint:

- In a perfect world the `bitshares` branch goes away in lieu of 'master`
- `master` is merged into `staging`
- Contributors should create an issue# branch from `staging`
- @svk31 would merge all accepted issues into `staging`
- Once `staging` has been fully tested, those completed changes are merged into `master`
- `mas

[2017-08-17 15:07] wmbutler commented on #206
It's yours. Adding it to 170901 if you think you can have it resolved by then.

[2017-08-17 15:09] wmbutler commented on #146
@SahkanDesertHawk a screenshot would help this.

[2017-08-17 16:21] wmbutler opened #276 "[.5] Move faucet selection to Settings -> Faucet"
It's currently under the Access menu. Quick fix.

[2017-08-17 17:50] calvinfroedge commented on #49
![issue-49](https://user-images.githubusercontent.com/632938/29425866-68a2aef8-834a-11e7-8188-1186ddc52eb8.gif)

[Pull request 278](https://github.com/bitshares/bitshares-ui/pull/278) has been added to address this issue. One thing to note is that when the user sets "Choose closest server automatically", that is shown as the active node rather than the node actually in use.  Will need to dig furth

[2017-08-17 18:34] wmbutler commented on #254
@hyper-bola great work. If you can remember to do so, please reference the issue in your commits like:

[code]

It's helpful because then we see the commits in the actual issue that you are getting the bounty for. Also, let me know how much extra time you put into this issue. I know you had already put about 2 hours in for the previous work.

[2017-08-17 18:37] wmbutler commented on #276
The "FAUCET ADDRESS" control is currently under Settings -> Access as shown in this screenshot.
![screen shot 2017-08-17 at 1 35 41 pm](https://user-images.githubusercontent.com/1254810/29427960-178adf66-8351-11e7-98a9-c6b7f1282156.png)

Let's create another category inside **Settings** called **Faucet** and move the Faucet address dropdown there.

[2017-08-17 18:40] wmbutler commented on #276
Note that this text needs to be moved as well:

### Faucet
The faucet is used to pay the registration fee for new users.

[2017-08-17 18:47] wmbutler opened #279 "[4][calvinfroedge] [2][svk] When selecting a new Node under Settings -> Access, don't hard reload the browser"
We should be able to connect to the new node without reloading the browser. This is more of a refinement than a requirement.

[2017-08-17 18:56] hyper-bola commented on #254
@wmbutler done, thanks. And I put about 2 extra hours into this issue and code refactoring related in #277.

[2017-08-17 19:25] wmbutler commented on #254
Update to 4 hours per additional hours stated above.

[2017-08-17 19:33] btsfav commented on #276
but why do you even need a faucet after registration?

is it even worth getting a dedicated menu?

[2017-08-17 19:39] wmbutler commented on #254
There is a second PR related to this issue. Re-opening until updated.

[2017-08-17 19:48] wmbutler commented on #252
The intention here was to have a manual build for the 170901 release. I was thinking I'd leave it open until the last day since it depends upon the rest of the code being complete.

[2017-08-17 19:51] wmbutler commented on #276
The new node selection UI for #49 effectively buried it.

[2017-08-17 19:56] calvinfroedge commented on #66
@wmbutler Can you close this issue? Code has been merged

[2017-08-17 19:56] wmbutler commented on #110
I think we are safe to close this and collect the bounty as part of #49.

[2017-08-17 20:08] grctest opened #280 "Link from exchange/trading view to the asset detail page?"
What do you think about including subtle links on the exchange page '/market/BTS_USD' to the '/asset/USD' and '/asset/BTS' pages (one or both)? (bts/usd for example)

Rather than having to click the following to access the full asset details:
settings cog -> Explore -> Assets -> Pick asset type -> Search for asset -> Click correct asset name

[2017-08-17 20:14] wmbutler commented on #280
I do fundamentally like the idea because it allows a user to get to all the details of the asset. We have a conflicting control on the pair `ASSET1:ASSET2` in that the user can opt to swap the trading pair, but I think that we could provide a different control for that and let a click event take the user directly to the asset explorer.

Setting as a proposed feature to allow for discussion.

[2017-08-17 20:15] ThomasFreedman commented on #49
I like the direction these changes are heading.

Where does the location info come from, the IP address? Compiled into the binary? Although I have a public, load balanced API server running I haven't added it with a PR (if that is the way it *should* be added) so I am not sure what info is required.

One consideration is not to be too specific but rather limit location to a regional description. W