[2018-05-23 10:43] startailcoon commented on #1549
In my opinion, I don't think that TV should handle scroll events, like zoom in/out.

Optimal would be a "lock" feature if you wish to handle it that way manually by user choice.

[2018-05-23 10:44] gibbsfromncis commented on #1549
@startailcoon I'm not sure it's possible but nice idea. I'll check it today

[2018-05-23 11:10] ahdigital commented on #1549
Google gets around this type of issue on its [mapping service](https://developers.google.com/maps/documentation/embed/guide) by allowing the user to zoom in/out with either:

- Mouse down and scroll wheel, or
- 'CTRL/CMD' and scroll wheel

As the user scrolls over the map there's an overlay to provide the user with a hint. Perhaps this would be an avenue to explore.

I can't find any documentation

[2018-05-23 18:30] wmbutler commented on #1549
I think this a temporary problem until the excahnge redesign. Can we live with it until that point?

[2018-05-23 22:34] Bluffet commented on #1468
There is one already. Cryptofresh has it. Problem is it's out of sync and dont reflect recent changes. And it does not summarise it into a denominated currency. A major flaw for anyone who has to report their holdings.

[2018-05-24 07:47] mikakoi opened #1550 "[1.5] Unable to access the test network on the latest release"
**Describe the bug**
Using the test network nodes seems to crash the client on the latest release (2.0.180512).
Not sure in what version the bug was introduced but I reverted my client back to version 2.0.180418b and it seems to work just fine.

The problem appears in both the desktop client and the web client

**To Reproduce**
Just change the node to either wss://node.testnet.bitshares.eu or wss:

[2018-05-24 09:27] ppitonak opened #1553 "[1] Cannot cancel orders in Firefox from Open Orders page"
**Describe the bug**
Cannot cancel orders in Firefox 60 from Open Orders page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Open Orders page
2. Select a checkbox next to any open order, Reset & Submit buttons appear
3. Click Reset or Submit button

**Expected behavior**
* Reset - form is cleaned, i.e. no open order is selected
* Submit - order is cancelled

**Screenshots**
![peek 201

[2018-05-24 09:29] ggq89 commented on #1489
@mahfuj001
I have the same log as mentioned above.Downgrading to npm@5.6.0 works.

`npm i -g npm@5.6.0`

solved me thanks.

[2018-05-24 09:41] ggq89 commented on #1489
@mahfuj001

I have the same log as mentioned above.Downgrading to npm@5.6.0 works.

`npm i -g npm@5.6.0`

solved my problem.

[2018-05-24 11:04] #1184 closed

[2018-05-24 11:10] #1502 closed

[2018-05-24 19:59] TBAPI-0KA commented on #1447
@svk please close this issue as PR #1513 was reviewed and merged successfully.

[2018-05-24 21:03] startailcoon opened #1555 "[2] Market Picker Issues"
The new market picker behaves very slow at times and requires some more hands-on.
The component has issues on handling updates on received props properly, and this issue is to track the work done.

### Work to be done:
- [x] Add input delay so it doesn't search on every keystroke
- [x] Break out the component to be handling it's own props
- [x] Debug and refactoring
- [x] Speeding up searches

[2018-05-24 21:57] gibbsfromncis commented on #1512
Closing as it was merged

[2018-05-24 21:57] #1512 closed

[2018-05-24 21:57] gibbsfromncis commented on #1448
Closed as it was merged

[2018-05-24 21:57] #1448 closed

[2018-05-25 08:55] abitmore commented on #1536
Creating a proposal or not, should be decided by the user but not an opinionated UI. That said, even the user has the key, he should also be able to propose.

Proposing is a complicated feature, IMHO not good to duplicate it everywhere, but better to make it as a dedicated feature, like transaction confirmation modal.

[2018-05-25 08:57] abitmore commented on #1536
See more discussions here: https://github.com/bitshares/bitshares-ui/issues/1284#issuecomment-376590841

[2018-05-25 09:08] abitmore commented on #1493
Please help make it.

[2018-05-25 09:10] abitmore commented on #1547
Updated https://github.com/bitshares/bitshares-ui/issues/1493 to include this.

[2018-05-25 10:11] sschiessl-bcp commented on #1541
This might be old nodes that are no longer in the apiConfig as default and only in the local cache.

[2018-05-25 10:47] tianyekuo opened #1556 "[1] Propose transfer of BTS asset has precision issue"
**Describe the bug**
When send BTS asset to other user with proposal, the quantity will be round with 0 precision.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Send(legacy)
2. Input "From" field with a mutil-signed account.
3. Click Propose link
4. Input 1.1 BTS
5. Begin to propose
6. Check the confirm dialog

**Expected behavior**
Step 6 show proposed operations: Transfer 1.1 BTS

[2018-05-25 10:58] abitmore opened #1557 "[2] Show Order ID consitently"
**Is your feature request related to a problem? Please describe.**
When an order is cancelled, the order ID will show in account history. But the ID doesn't show elsewhere, so the user doesn't know which order is cancelled.

* Has ID when cancelled an order
* No ID when created an order
![image](https://user-images.githubusercontent.com/9946777/40541137-dbc4ac08-601a-11e8-9dd9-838dfe36684b.png)

*

[2018-05-25 11:13] clockworkgr commented on #1541
Dunno about the CN one but mine should be in the apiConfig (and i believe it is)

[2018-05-25 17:58] #1549 closed

[2018-05-25 19:34] btsfav opened #1558 "wallet.bitshares.org Margin Screen does not work"
trying to adjust margin pops up a blank screen.

errors:

![image](https://user-images.githubusercontent.com/15261692/40562992-75fac486-6063-11e8-8645-9fa5cec72c90.png)

[2018-05-25 19:36] clockworkgr commented on #1558
same here

[2018-05-25 19:42] tbone-bts opened #1559 "Tradingview chart toggle and sizing buttons"
It's really great to see Tradingview charts in the Bitshares wallet.  Nice work!  I just have a couple items of feedback:

1. It's incredibly inconvenient to switch between price chart and depth chart now.  There used to be a toggle, now it's a drop down AND it's buried within Chart Options.  I really hope to see re-implementation of the toggle at the top of the page.

2. Having to go into the Cha

[2018-05-25 19:46] tbone-bts commented on #1549
I understand OP's frustration.  But I also get the other side of the equation since I'm a Tradingview user who relies very heavily on the trackpad scroll gesture (equivalent to scroll wheel) to zoom the charts in/out.  So if there is an elegant solution that can be implemented (like holding down ctrl when you want to zoom instead of scroll) that would be the best of both worlds.  Until something l

[2018-05-25 20:08] tbone-bts commented on #1477
Not sure if this is currently the best place to offer general input re: the exchange redesign.  If not, please let me know where I should re-post this.

In any event, I mainly wanted to make sure a couple of subtle but important features don't get lost in the redesign:

1. Primarily I'm talking about how each order book row has a running sum that includes all prior rows.
2. Also, when the user cli

[2018-05-26 05:45] startailcoon commented on #1477
I can only agree with you and say that these functions are not to dissappear during this transition.

[2018-05-26 07:30] clockworkgr commented on #1558
hotfix?

[2018-05-26 07:58] svk31 commented on #1558
Building, might be live already. 2.0.180526

[2018-05-26 08:50] alcafo commented on #1559
Me too I do not see any drawing tools same issue (even If I click right button and drawing tools are ON) and if I add any indicator after restarting the dex all indicators are gone

[2018-05-26 16:28] abitmore opened #1560 "Software quality control: longer staging period"
Now we have a staging environment, and the community is engaged to help on testing, in order to deliver product with better quality, I'd recommend that we have a longer staging period before every release, perhaps 2 weeks.

That said, we need a real `staging` branch which is relatively stable, and a `develop` branch or several branches for development that iterates fast.

Please discuss.

[2018-05-26 16:33] #1555 closed

[2018-05-26 16:55] startailcoon commented on #1532
With an decreased font size, we can easily accomedate the password inside the input box.
![image](https://user-images.githubusercontent.com/12114550/40578532-e2ef0bee-6115-11e8-9fdf-d24c543a63a0.png)

However, there is an issue when the user is on a mobile device. The input field is now much more narrow, not viewing the whole string. However, the user doesn't copy the password by selecting it in t

[2018-05-26 16:59] #1532 closed

[2018-05-26 17:27] startailcoon opened #1563 "Account Handling Issues (Local/Cloud) when removing accounts"
**Describe the bug**
1. Have a local wallet account on both main network and test network.
2. Connect to testnet
3. Remove the default account for testnet
4. Connect to main network

Account is no longer set to local wallet, and doesn't allow you to handle your account. To change this back the user has to navigate to Settings -> Accounts -> Enable Local Wallet

[2018-05-26 17:31] startailcoon commented on #1563
This may be due to some compiling issues, I'm not entirely sure.

Closing issue for the moment.

[2018-05-26 17:31] #1563 closed

[2018-05-26 20:45] abitmore commented on #1062
Seems it has been implemented here: https://www.hellobts.com/market/BTS_CNY

[2018-05-27 09:00] startailcoon commented on #1559
I propose that we remove the chart controls from the exchange header, as we will need all the space we can get for other things.

My UX proposal for this is as follows

The buttons `Increase` and `Decrease` will change the chart height by a fixed number, example 50px +/-.
Do we need the user to be able to set a number of their own?

![image](https://user-images.githubusercontent.com/12114550/40584

[2018-05-27 12:30] startailcoon opened #1564 "Clicking 'Market Pair Link' results in blank page"
**Describe the bug**
Clicking the link of the asset pair results in a blank page. Visible on many places.

![image](https://user-images.githubusercontent.com/12114550/40585947-630399b8-61ba-11e8-9265-e3cb1d2e5500.png)

**Expected behavior**
Popup to select inverted asset pair or market link.

**Screenshots**
![image](https://user-images.githubusercontent.com/12114550/40585950-798930e4-61ba-11e8-99

[2018-05-28 10:49] gibbsfromncis commented on #1447
@svk31 I'm closing this issue by @TBAPI-0KA request to help him able to receive bounties for this issue

[2018-05-28 10:49] #1447 closed

[2018-05-28 19:32] startailcoon commented on #1559
@svk31 @wmbutler @abitmore, any comments regarding the UX?

[2018-05-28 19:36] startailcoon commented on #1525
I can take this and change it to a non-typeahead style so we can handle empty inputs.

[2018-05-29 17:47] svk31 commented on #1559
Not a big fan but I'm not a UX guy either... We used to have increase/decrease with just a + and a - sign, I think that might look better. The code is still there so would be easy to add anyway.

About the drawing tools, they're probably hidden if you're on a small screen which triggers the `mobile` version. I see them just fine on the left side of the chart:

![image](https://user-images.githubus

[2018-05-29 18:11] wmbutler commented on #1559
My thoughts on the contents of the tradingview area:

- [ ] Remove market pair indicator, This is redundant in our case.
- [ ] Remove Volume indicator
- [ ] Revert to toggle for Market Depth

I don't see a huge need to have the height controls displayed so prominently. This should be a set it and forget it option.

[2018-05-29 18:16] #1541 closed

[2018-05-29 18:18] wmbutler commented on #1557
- [ ] Add order id to Open Orders

[2018-05-29 18:54] abitmore commented on #1557
@wmbutler also to account history when
- [ ] a new order is created
- [ ] an order is partially filled

[2018-05-29 18:58] abitmore commented on #1560
@wmbutler 3 days? I don't think it's enough. Look at this issue, you haven't even replied within 3 days. Please be aware that you play a key role in the process.

[2018-05-29 19:04] alcafo commented on #1559
@startailcoon thanks for your answer, I am running bitshares latest version in MAC and I tried too in a laptop with ubuntu, both without drawing tools, here is my screenshot and as you can see drawing tools are ON
![screenshot](https://user-images.githubusercontent.com/39630646/40679575-d4acc718-6383-11e8-8f75-669b27ecd3aa.png)

[2018-05-29 19:06] abitmore commented on #1536
Actually, the user stories listed above fit all actions (including placing an order, cancelling an order, fund fee pool, issuing asset and etc), but not only limited to transfer. That's why I think it should be a generic feature.

[2018-05-29 19:57] svk31 commented on #1559
You don't have the toolbar on the left, which means you have a small screen (low horizontal resolution). Try resizing to fullscreen, you might need to refresh afterwards.

[2018-05-29 19:58] svk31 commented on #1559
Why remove the volume?  It's very useful imo

[2018-05-29 21:19] tbone-bts commented on #1559
I totally disagree, this is not a set it and forget control.  It depends on what you are doing.  It also depends on whether you are in horizontal or vertical order book mode.  Burying these controls in "Chart Options" is frustratingly inconvenient.

Vertical chart resizing controls don't need to take up much space.  Bitfinex handles it with an up and down arrow (see link below).  Also, "Chart Opti

[2018-05-29 21:22] pstrident opened #1565 "chart area scroll"
scrolling down in the chart area to bid and offers has been removed.

please reinstall it..

tradingview looks great though...

tia
pstrident

[2018-05-29 22:16] clockworkgr commented on #1559
@svk31  Just want to confirm that under Chrome in Windows 10, 1920x1080 res:

Drawing tools are NOT visible.

100% Zoom:
![image](https://user-images.githubusercontent.com/6826762/40688401-9e84ec42-63a6-11e8-86a2-c347fd1c8aad.png)

90% Zoom: (What I normally run it at. 100% zoom font sizes are way too big)
![image](https://user-images.githubusercontent.com/6826762/40688446-c4c925c6-63a6-11e8-9733-

[2018-05-29 22:39] tbone-bts commented on #1559
I should have mentioned that I'm using 1920x1080 here as well.

Anyway, I'm thinking there must be a TradingView setting to handle this problem.  It appears currently that **if** there isn't enough room to display 14 tool icons plus a scroll button to show more, then the toolbar doesn't display at all.  Maybe that 14 can be set to a lower number.  Or even better, maybe there is a setting that will

[2018-05-30 06:00] svk31 commented on #1565
Incorrect. Please search for existing issues before cresting new ones. Duplicate of https://github.com/bitshares/bitshares-ui/issues/1549

[2018-05-30 06:00] #1565 closed

[2018-05-30 12:08] sschiessl-bcp commented on #1560
I would very much welcome this! Develop branch is very useful.

To add to the comment:
Currently @svk31 does pull requests very short term before release date, thus the staging is only very shortly at the state of the next release. If the current workflow (staging -> master) should not be changed (i.e. it is decided to not have a develop branch), I would add suggest:

Let's say the release cycle i

[2018-05-30 20:38] happyconcepts commented on #1560
I think big features deserve their own feature branches while under development.

Many OSS projects sensibly do this, and it let's staging branch remain as ... staging branch.

[2018-05-30 20:51] clockworkgr commented on #1560
I'm with @abitmore  on this one.

Switch to at least a master/develop/staging model.

There already is essentially a feature-list/feature-lock in effect for releases. Just use that as a guide as to what goes on staging. The only difference is that @svk31 does his fast iterations on develop branch instead.

I reckon we should just bite the bullet and delay one of the future releases for 2 weeks to

[2018-05-30 22:39] wmbutler commented on #1560
Fine with me. We do 3 day testing periods on our codebase, but it's fine with me if we extend it to whatever you guys agree on.

[2018-05-30 22:45] wmbutler commented on #1559
Keep in mind, that the exchange redesign has not yet been completed. I'd say we should avoid any extra work until the new UX https://github.com/bitshares/bitshares-ui/issues/1449 is complete.

[2018-05-30 22:49] wmbutler commented on #1536
Is this a true statement?

"I cannot send funds if I do not hold the keys"

If so, I should only see a "Propose" button for situations where I do not hold the keys, correct?

[2018-05-30 23:29] clockworkgr commented on #1559
@wmbutler totally agree... I only commented cause the conversational exchange makes me feel there is the need for better testing across resolutions.

Are you all on Macs? :D

[2018-05-30 23:38] clockworkgr commented on #1560
To be honest, the testing period needs depend on the change-log. It's obvious that TV integration (to pick a recent example) would require more testing than other changes.

Seeing as it's not practical to keep changing the length of the testing period, picking a longer one is probably best to allow for testing of "bigger" changes.

Also, considering timezones and that for most of us this is not ou

[2018-05-31 01:31] oxarbitrage opened #1566 "numbers in create asset"
**Describe the bug**
https://testnet.bitshares.eu/account/oxarbitrage-test/create-asset/
does not allow numbers to be inputted into asset name. Current asset name rules allow to have numbers in the middle of the name and testnet should be allowing also numbers at the end(https://github.com/bitshares/bsips/blob/master/bsip-0037.md)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create

[2018-05-31 10:44] abitmore commented on #1566
https://github.com/bitshares/bitshares-ui/issues/1493

[2018-05-31 10:54] abitmore commented on #1536
@wmbutler you're correct.

By the way, do we know whether the user hold the keys if she didn't login/unlock?

[2018-05-31 12:56] svk31 commented on #1536
Only for wallet mode, in cloud mode you can't really be sure.

[2018-06-01 11:35] KristerV commented on #1550
Hmm, I connected to the EU testnet and the browser went crazy, website is blank. Full output is on [Pastebin](https://pastebin.com/eeyGQHZH), here's the notable lines:

[code]

Node.js server console has not said anything at all. Hmm.. I'm on the branch staging at 99867a665aaa936c5d5f8a5273c2c6a70e596623.

[2018-06-01 12:31] ashisht24 opened #1567 "Unable to install Bitshares dex client for windows 7"
I first signed up for bitshares acocunt on bitshares.org by clicking on online exchange. I then downloaded the windows 7 client by clicking the download button on there. Below link I used.

https://bitshares.org/download/

I chose the first one which is for windows and downloaded the .exe file.

Double clicked the .exe file and installed and received some BTS to the newly created account "archanat

[2018-06-01 12:33] ashisht24 commented on #1567
![bitshare install error](https://user-images.githubusercontent.com/38988375/40840861-0bb0ddfa-65c6-11e8-8a78-6664598fbf75.JPG)
Error Screenshot

[2018-06-01 12:55] KristerV opened #1568 "React crash: Assets missing when connecting to Testnet"
**Describe the bug**

Connecting to testnet in the staging branch crashes the frontend with errors. Full output is on [Pastebin](https://pastebin.com/eeyGQHZH), here are the notable lines:

[code]

**To Reproduce**

1. `git checkout staging`
1. `npm i && npm start`
1. `go to localhost:8080`
1. Run command in console: `localStorage.clear()`
1. Enable the Europe Testnet server.
1. Navigate around to

[2018-06-02 08:58] btsfav commented on #1560
after today's OL breach there's no excuse any more for the desktop wallet.

increase the quality, probably start a 4 week sprint with with 2 weeks of testing.

[2018-06-02 23:50] clockworkgr opened #1569 "Memo key set to Active key on new account creation."
Why is this done?

It seems like it was done on purpose back in 2015 judging by commit history.

Shouldn't we make sure unique keys are being generated for memo authority as well.

My guess is compatibility with pre- separate memo key days. But it's been 3 years now.

[2018-06-03 18:52] happyconcepts opened #1570 "User Management of Nodes - Hide"
I would like to manage the nodes in my client a bit more carefully.

In order to deal with the [OpenLedger situation about compromised domains and certificates](https://steemit.com/bitshares/@themarkymark/psa-open-ledger-hacked), I would like to prevent the client from trying to connect to specific domains. I anticipate changing my settings back to normal once it is sorted out.

In the Settings>Ac

[2018-06-04 08:29] bangzi1001 commented on #1569
This is a huge security risk. Any bad guys can setup DAPP or Airdrop ask for memo key for verification. But they do not aware memo key is same as private key.

[2018-06-04 08:52] abitmore commented on #1569
Never give out any of your keys. Verification should be done via signatures.

[2018-06-04 10:00] clockworkgr commented on #1569
First of all, I totally agree with @abitmore . It's the way we verify LTM users in discord for example.

If you don't share PKs (which you shouldn't) it should not be a security risk by itself so let's not freak people out.

However, it's still incorrect behaviour and defeats the purpose of having a memo key in the first place and should probably be fixed (depending on the impact it has to existin

[2018-06-04 17:23] startailcoon commented on #1570
Hidden nodes are **not** used for automatic connecting. You can always decide to connect to them manually without hiding them.

[2018-06-04 21:03] startailcoon commented on #1496
![bitshares-lockedcr](https://user-images.githubusercontent.com/12114550/40941545-6f957fec-684b-11e8-95ac-1e03dc1c58fc.gif)

[2018-06-04 21:03] #1496 closed

[2018-06-04 22:09] #1525 closed

[2018-06-05 12:19] KristerV commented on #1568
Okay so I've been debugging the last error for two days now. I know that's long, but getting into this program from scratch is quite a hurdle :)

So anyway it appears that the `wss://node.testnet.bitshares.eu` server is not returning all of the required currency symbols. Specifically BTC.

**Steps to reproduce**

1. checkout the staging branch.
1. switch node to Testnet `wss://node.testnet.bitshar

[2018-06-05 13:24] abitmore commented on #1568
IMHO, please do:
* Hide assets that don't have all of the required information so the frontend wouldn't crash.
* Give a better error if the asset is not available in the console.

In regards to "Contact the server admin (who, where, how?)", please be aware this is a block chain, if some data doesn't exist on the block chain, it's not a server admin's fault. In your case, "BTC" doesn't not exist on

[2018-06-05 14:50] bangzi1001 commented on #1569
FYI: Some Top BTS Holders and Top BTS Proxies have same owner, active and memo key. I notified some of them and hopefully they know what to do.

[2018-06-05 21:55] clockworkgr commented on #1292
@startailcoon Still haven't got it working either so I'm not gonna do a PR but left you a comment to fix the undefined error.

[2018-06-05 23:19] clockworkgr commented on #1292
@startailcoon  done @ https://github.com/bitshares/bitshares-ui/pull/1573

[2018-06-06 05:52] startailcoon commented on #1292
Thanks to @clockworkgr with some final touches, we now have a working auto scroller.

## Preview
![bitshares-autoscroll](https://user-images.githubusercontent.com/12114550/41019331-6c78673e-695e-11e8-9f9a-7300d54bd10f.gif)

[2018-06-06 06:00] #1292 closed

[2018-06-06 08:29] sschiessl-bcp commented on #1560
Bill is currently sick, but I expect that he follows up in here as soon as he can

[2018-06-06 11:09] HarukaMa opened #1575 "[UI:3][JS:1] BSIP38: Allow user to specify target_collateral_ratio when updating margin positions"
**Is your feature request related to a problem? Please describe.**
[BSIP38](https://github.com/bitshares/bsips/blob/master/bsip-0038.md) allows users to specify target collateral ratios for margin positions to prevent them from closing completely when being called.

If the ratio is set, the position will only buy enough borrowed assets to make the final ratio higher than the set one, and will not

[2018-06-06 11:14] HarukaMa opened #1576 "[6] BSIP38: Only show executable part of the called positions in the order book"
**Is your feature request related to a problem? Please describe.**
[BSIP38](https://github.com/bitshares/bsips/blob/master/bsip-0038.md) allows users to specify target collateral ratios for margin positions to prevent them from closing completely when being called.

If the ratio is set, the position will only buy enough borrowed assets to make the final ratio higher than the set one, and will not

[2018-06-06 11:30] HarukaMa opened #1577 "[4] BSIP30: Always allow increasing the ratio of margin positions"
**Is your feature request related to a problem? Please describe.**
[BSIP30](https://github.com/bitshares/bsips/blob/master/bsip-0030.md) allows the users to increase the ratios of their short positions even if the ratio is still below the MCR. UI should allow that too after the hardfork.

**Describe the solution you'd like**
If the position is being called and the ratio is being increased when upd

[2018-06-06 11:34] HarukaMa commented on #1569
I think accounts with all the same keys comes from BTS1.0 conversion though. Without #101 it could be difficult for some people to change it securely.

[2018-06-06 17:46] abitmore commented on #101
There was issue #18

[2018-06-07 01:34] gibbsfromncis opened #1578 "[gibbsfromncis] Market Depth Redesign"
_This issue was a part of #1484 and was moved to separate issue_

Suggestions for use design from GDEX:

![market](https://user-images.githubusercontent.com/1254810/39676192-f9546036-512b-11e8-9788-d21020198ac2.gif)

[2018-06-07 01:45] gibbsfromncis commented on #1484
@wmbutler I've moved Market Depth to separate issue: #1578. Lets discuss it on this issue and put estimate.

There are some screenshots of TV redesign based on Dominic UX:

<img width="1329" alt="dex6" src="https://user-images.githubusercontent.com/35899973/41073601-56593fb8-6a04-11e8-81f7-3a3945345a65.png">
<img width="1330" alt="dex5" src="https://user-images.githubusercontent.com/35899973/41073

[2018-06-07 01:48] gibbsfromncis commented on #1578
@wmbutler do you want to use different Chart library or just redesign this chart?

If redesign only I suppose we won't get much changes - only colors and tooltip. Or these changes exactly what you want to get in result of this task?

[2018-06-07 02:58] gibbsfromncis opened #1579 "[2][gibbsfromncis] Update style-guide builder & configure eslinter"
This task relates to our ant style-guide - https://github.com/bitshares/bitshares-ui-style-guide

- Add new webpack config which builds demo page on "docs folder" (We need this to be able to host our style-guide on github-pages so our users can see and touch style-guide before use)

- Configure style-guide linter to be similar to bitshares-ui eslint config, fix current project code to fit new esli

[2018-06-07 03:14] gibbsfromncis opened #1580 "[gibbsfromncis] Integrate bitshares-ui-style-guide into bitshares-ui"
Since we already moved to React v16 we can integrate style-guide into bitshares-ui.

@wmbutler please put .5h estimate for this task

[2018-06-07 04:03] #1326 closed

[2018-06-07 06:16] MarkoPaasila commented on #1578
I would logarithmic horizontal scale. Otherwise orders get cramped on the left side and look very deep, and the right side gets stretched And looks thin.

It would also be nice if you could zoom in or out

[2018-06-07 08:15] clockworkgr opened #1582 "Unclear UX in accounts dropdown"
Stemming from a telegram discussion after the following question:

It was found that this: https://wallet.bitshares.org/#/accounts

Is hard to find from the existing navigation.

I suggest that the Accounts entry in the dropdown:

![image](https://user-images.githubusercontent.com/6826762/41086682-6f8db696-6a43-11e8-8b6d-b9490315c113.png)

is changed to something like "All accounts" with a differe

[2018-06-07 08:21] abitmore opened #1583 "[2] Market guide scrolling issue"
**Describe the bug**
Market page scrolling issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new incognito window, **resize it to 1366*768 or so, or use a PC with a small screen** (haven't checked with mobile phone).
2. Go to https://wallet.bitshares.org/#/market/BRIDGE.BTC_USD
3. Click on 'next' several times
4. Don't know how to scroll down

**Expected behavior**
- [ ] Show ful

[2018-06-07 08:59] KristerV commented on #1568
Oky, on it!

While I work here's two more questions:

1. How do the devs currently work on the code since I'm assuming this bug doesn't only affect me?
2. This issue is not part of any milestone yet is probably bounty eligible otherwise - is it possible to attach a [1] or [2] to this? (probably a question for @wmbutler)

[2018-06-07 09:52] svk31 commented on #1568
We don't use preferred currencies other than the default on the testnet since none of those assets actually exist on the testnet...

[2018-06-07 10:02] KristerV commented on #1568
whoah, sorry, why did you close this issue @svk31 ? I'm right in the middle of fixing it. `settings/general` crashes regardless of what currency you use or don't use. Did you try to confirm this at all?

[2018-06-07 10:03] svk31 opened #1584 "[8] Upgrade to react-router v4"
**Is your feature request related to a problem? Please describe.**
Hot reloading is partly broken after upgrading to webpack v4 and react v16. The reason is we're still using the old react-router v3 which has issues with reloading.

**Describe the solution you'd like**
Upgrade to react-router v4

[2018-06-07 10:09] svk31 commented on #1568
Only closed it because I fixed it

[2018-06-07 10:37] abitmore commented on #1568
Actually, I think in local storage or elsewhere where user settings are stored locally, we should store certain data (e.g. favorite assets) under different keys for different chain_id. That said, save a set of data for mainnet, another set for testnet, when switching from or to to testnet node, reload all related settings. Is it done this way? Perhaps need to create another issue for this.

Tempor

[2018-06-07 12:49] gibbsfromncis commented on #1584
@svk31 I suppose it's huge task. I have project similar to this and so large like bitshares-ui and when I started to work on upgrading to react-router v4 it took so much time on the beginning and then I stoped and left router v3.

I you want I can take / help you with this one. We can split responsibility of course if you need my help

[2018-06-07 12:59] gibbsfromncis commented on #1582
@clockworkgr This is how it looks now:

<img width="332" alt="screenshot 2018-06-07 14 57 41" src="https://user-images.githubusercontent.com/35899973/41101020-37b44c24-6a63-11e8-8142-443ed9099207.png">

You can click on username & then you will see list of your accounts and link to manage those accounts.

this is new UX we are going to implement soon:

![explore with new nav v4](https://user-image

[2018-06-07 13:38] svk31 commented on #1584
Yea it's pretty big, and I've made a couple false starts, but I've made some good headway today so I should be able to handle it, but thanks anyway!

[2018-06-07 13:39] happyconcepts opened #1585 "Moment.js attempts to load locale.fa"
Anyone else getting this error?

moment.js is a 3rd party javascript library that was added recently as a dependency.

Why the error? Security issue?

* fa is the locale file for Farsi and I do not have any use at all for the Persian language at this time.
* The fa.js file does exist in my node_modules/moment/locale/

I tend to be distrustful of 3rd party javascript ...

[2018-06-07 13:44] happyconcepts commented on #1584
![4](https://user-images.githubusercontent.com/14145836/41103531-357dd5aa-6a1e-11e8-982d-ea944317d45b.png)

[2018-06-07 13:50] happyconcepts commented on #1585
VM1901:1 Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.79 Safari/537.36

VM1907:1 Uncaught ReferenceError: moment is not defined
    at <anonymous>:1:13
(anonymous) @ VM1907:1**

VM1909:1 Uncaught ReferenceError: moment is not defined
    at <anonymous>:1:13
(anonymous) @ VM1909:1

[2018-06-07 16:52] clockworkgr commented on #1582
@gibbsfromncis new ui looks good. still, it wasnt the dropdown that was unclear but the  specific choice for all accounts..so yes, please plan a label/icon change

[2018-06-07 17:00] svk31 commented on #1585
It's from datepicker for which we're using a fork made by a guy that included farsi. I've stripped all the unnecessary locale files using webpack though which is why we get this error.

[2018-06-07 18:38] btsfav commented on #595
current errors:

![image](https://user-images.githubusercontent.com/15261692/41119287-bf6033ac-6a92-11e8-806c-4ad59be1c005.png)

[2018-06-07 22:39] happyconcepts commented on #1570
So I would like to believe you @startailcoon but the software is not behaving as you describe.

Despite being "hidden" by me, at least one openledger node is contacted by the bitshares client.
So my question remains unanswered?

![ol_connects](https://user-images.githubusercontent.com/14145836/41129710-37cac15c-6a68-11e8-8f27-7195db04d063.png)

[2018-06-08 12:21] svk31 commented on #1570
What makes you think that node is being contacted?

[2018-06-08 12:44] clockworkgr commented on #1570
I think he means that hidden nodes shouldn't even report latency/not be connected to at all.

[2018-06-08 13:49] #1585 closed

[2018-06-08 13:49] happyconcepts commented on #1570
Yes it would seem to me that there is no other way to assess the latency except by making a connection.

@startailcoon Thanks but this is obvious. Do you understand my question?

You opened #1222 titled *Allow wallet to connect to hidden nodes when none other are available* and yet ...

Such very very timing with the OL steal.

[2018-06-08 14:10] svk31 commented on #1570
Latency stats are stored in localStorage, so if it's been connected to at some point in the past it will have a latency number. That doesn't mean it's being connected to while hidden...

[2018-06-08 14:14] svk31 commented on #1567
The executable does not depend on any of the libraries you're mentioning. It's also impossible to debug something like this without a way to reproduce the issues. I suggest you download a new version of the executable and try reinstalling it, might help to uninstall it first?

[2018-06-08 14:14] #1567 closed

[2018-06-08 14:43] svk31 commented on #1560
I'm fine with moving to a develop/staging/master model and a 2 week testing cycle.

[2018-06-08 15:08] svk31 commented on #1560
https://develop.bitshares.org/#/ now available

[2018-06-08 15:42] clockworkgr commented on #1560
Cool...speaking of which...how easy would it be for develop/staging URLs to have the commit id as the version on the bottom left (rather than the last release date)

[2018-06-08 16:36] svk31 commented on #1560
Yea I actually already coded that, but it turns out Travis doesn't actually use the git branch but works from a detached state, so my code only works while developing and building locally...

I found an old issue concerning this and apparently there's no easy workaround, but I'll see if I can figure out something.

[2018-06-08 18:31] startailcoon commented on #1532
Using `<textarea>´ instead, resulting in the following layout.

Field is readonly and disabled, forcing the user to click the copy button as before. Firefox allow the textarea to be resized by standard.

# Edge
![image](https://user-images.githubusercontent.com/12114550/41174379-494a261e-6b5a-11e8-968a-dd5cc312b16c.png)

# Firefox
![image](https://user-images.githubusercontent.com/12114550/4117440

[2018-06-08 20:10] startailcoon commented on #1557
# Open Order
![bild](https://user-images.githubusercontent.com/12114550/41178675-56d970c4-6b68-11e8-9244-4bc7aab3c39a.png)

# Account Activity
![bild](https://user-images.githubusercontent.com/12114550/41178795-af28cef0-6b68-11e8-8053-97e7d1e7e0b7.png)

[2018-06-08 20:16] #1557 closed

[2018-06-08 21:38] startailcoon commented on #1556
Removing `decimalOffset` for proposed transaction solves this issue.

Preview below views that BTS, USD and Peerplays are rounded as expected even without this code.

![bitshares-propose](https://user-images.githubusercontent.com/12114550/41182220-fac49fd6-6b74-11e8-8378-93b6ae848cb9.gif)

[2018-06-08 21:38] #1556 closed

[2018-06-08 22:00] startailcoon commented on #1553
Issue was due to the click event was not set to the button, but the translation.

Fixed for Firefox, and other browsers

![bitshares-cancel](https://user-images.githubusercontent.com/12114550/41182901-0e4fc8d4-6b78-11e8-8b0d-bff003a46ba5.gif)

[2018-06-08 22:00] #1553 closed

[2018-06-08 22:00] happyconcepts commented on #1570
Ok I understand you @svk31 and thanks!  But it just seems messier the more I look.

Here is even further unexpected behavior that just occurred and likely related; this was **after restarting the local server** and without altering localstorage:

![nodes_hidden_are_wrong](https://user-images.githubusercontent.com/14145836/41182091-13d36da0-6b29-11e8-932e-19cc5b3a18ac.png)

* System retains 'notifi

[2018-06-08 22:14] startailcoon commented on #1526
They did not, but they are now since PR #1561

@wmbutler, solved in PR #1561 for issue #1555

[2018-06-08 22:14] #1526 closed

[2018-06-08 22:18] startailcoon commented on #1494
How would be calculate this if a user already has a value of the asset it borrows?

Say that I have 100 USD since before, but I wish to aquire more of another asset. I then borrow another 100 USD and buy 200 USD worth of the new asset.

The user has now used 50% of the new aquisition with a loan and another 50% with its own assets.

[2018-06-09 11:44] svk31 opened #1591 "[5] Make use of webpack v4 code splitting and dynamic imports"
**Is your feature request related to a problem? Please describe.**
The initial download of the web application is quite large, requiring users to download a javascript file larger than 4mb.

**Describe the solution you'd like**
Use webpack v4 splitChunksPlugin and dynamic imports to reduce initial file load.

[2018-06-09 11:47] #1591 closed

[2018-06-10 12:16] #1579 closed

[2018-06-10 21:17] startailcoon commented on #1477
Another question is how we should handle smaller screens. Today it does this by wrapping lines for the boxes, but the current mockup does not view any handling of this.

[2018-06-11 10:14] #1580 closed

[2018-06-11 18:15] HarukaMa commented on #1538
I'd like to claim this, but I think this does not worth 1hr. My initial try only added 2 lines of code to achieve this.

[2018-06-11 18:20] HarukaMa commented on #1537
I'd like to claim this, but have one extra question: is it true that only PMs can't be used as backing asset?

Should have researched it myself, but like to confirm it here.

[2018-06-12 04:16] johndba commented on #906
I get the same thing .. what was the solution please ?
Much appreciated John

[2018-06-12 04:17] johndba commented on #906
But mine doesn't work in incognito or otherwise
Cheers John

[2018-06-12 04:51] GildedHonour commented on #906
Hahahaha

Aaaaahahahaha....

El 12 de junio de 2018 11:17:04 GMT+07:00, johndba <notifications@github.com> escribió:

--
Enviado desde mi dispositivo Android con K-9 Mail. Por favor, disculpa mi brevedad.

[2018-06-12 07:22] svk31 commented on #1584
Haven't seen any more issues so closing this now, already live on https://develop.bitshares.org

[2018-06-12 07:22] #1584 closed

[2018-06-12 11:22] startailcoon commented on #1477
# Current Issues and Questions for the new design
ping @wmbutler @gibbsfromncis

Based on the design at https://www.behance.net/gallery/64871121/BitShares-Exchange

For easier understanding, I'm referring the layouts below as follows
Layout 1 = Vertical Order Book A
Layout 2 = Vertical Order Book B (identical, just mirrored panel)
Layout 3 = Horizontal Order Book A
Layout 4 = Horizontal Order Book

[2018-06-12 11:50] #1569 closed

[2018-06-12 15:58] bangzi1001 commented on #1560
Telegram: @harukaff_bot suggest that the "contributing" part of the readme should be updated.

[2018-06-12 23:45] ebit116 opened #1592 "The UI often crash in win10"
The UI often crash in win10 .
Previously,it shows loading when the node is high delay .
Now it is a piece of black screen  even if reload  many times.

[2018-06-13 07:12] svk31 commented on #1592
Which part of the UI? The Exchange? Does your computer have low RAM?

[2018-06-13 07:20] svk31 commented on #1477
Would be great if you could make a branch for this and push your changes there, that way we can try it out ourselves instead of looking at gifs.

[2018-06-13 07:47] startailcoon commented on #1477
Idd, I'll do that today.

[2018-06-13 08:19] svk31 commented on #1585
Fixed here: https://github.com/bitshares/react-datepicker2/commit/9d4c2c28a23c970badcf765c35c5493d5a49afde

[2018-06-13 10:09] Agorise commented on #1512
![photo_2018-06-13_13-04-06](https://user-images.githubusercontent.com/31280836/41344652-52019824-6f0a-11e8-9e3b-5d7859503e10.jpg)

GREAT work you guys!!!!! :)
Sorry I don't have a way to test it, can it scan this version 10 QR code? If so, then it already supports PalmPay merchants too.

[2018-06-13 14:20] snakebitekit opened #1593 "[2] adding new gateway to ui"
Hi, I'm trying to add a new block trades-like gateway. But got stuck a bit.
I've checked your[ wiki page ](https://github.com/bitshares/bitshares-ui/wiki/Gateway-Integration-Requirements) and my backend setup is suitable for this, but i couldn't find suitable information how to prepare a frontend part for this.

What I've done so far for this:
- edited apiConfig.js with suitable urls and ws server

[2018-06-13 15:30] abitmore commented on #1593
https://github.com/bitshares/bitshares-ui/wiki/Gateway-Integration-Requirements

[2018-06-13 19:36] startailcoon commented on #1593
I'm not sure why you're copy/paste anything on the wallet frontend. If the backend complies to the wiki you're linking to, the front end should only need to be updated in two files, `apiConfig.js` and `gateways.js`.

[2018-06-13 20:11] snakebitekit commented on #1593
@startailcoon hi. thanks for your reply

here's how i modified `apiConfig.js`:

[code]
[code]
and `gateways.js`:
[code]
and here's full api [documentation](https://citadel.li/apidocs/#/) (u need to choose gateway tab)
everything seems like on gateway wiki page

[2018-06-13 21:15] startailcoon commented on #1547
Please verify that the follow is correctly translated

### Account Transaction
![bild](https://user-images.githubusercontent.com/12114550/41378490-7bd30318-6f5f-11e8-9f10-86dd7337b7d1.png)

### Block Operation
![bild](https://user-images.githubusercontent.com/12114550/41378524-9417ddae-6f5f-11e8-917f-10020005d304.png)

[2018-06-13 21:45] startailcoon commented on #1547
## New OPs to support in UI from BitsharesJS
- [ ] fba_distribute: 44,
- [ ] bid_collateral: 45,
- [ ] execute_bid: 46,
- [x] asset_claim_pool: 47,
- [x] asset_update_issuer: 48

[2018-06-13 22:01] abitmore commented on #1547
Thank you @startailcoon.
* "claim pool asset" sounds a bit strange. Perhaps better name it "claim asset fee pool"?
* I think it's better to use "ACCOUNT claimed x YYY from asset ASSERT's fee pool" as description
* "transfered" is typo, should be "transferred".

[2018-06-13 22:20] startailcoon commented on #1547
@abitmore new snaps according to your suggestions
![bild](https://user-images.githubusercontent.com/12114550/41381560-a813c6d4-6f68-11e8-920a-e60fbb4fe83f.png)

![bild](https://user-images.githubusercontent.com/12114550/41381524-87aa034a-6f68-11e8-9537-392589e4e7ab.png)

[2018-06-13 22:29] wmbutler commented on #1578
Are we suggesting that we rebuild this from scratch or use some existing software?

[2018-06-13 22:30] startailcoon commented on #1564
This seems to be fixed in `develop` branch. It's still present in the latest version of the UI.

[2018-06-13 22:31] wmbutler commented on #1484
Looks pretty awesome!

[2018-06-13 22:32] startailcoon commented on #1583
Perhaps the new react-scroll package introduced in https://github.com/bitshares/bitshares-ui/pull/1574 can be of use for this issue.

[2018-06-13 22:45] wmbutler commented on #1536
What if we keep the button labeled as "Send". So the user fills in all the values, they click send. The subsequent dialog offers the user two options:

1. Login to complete the transaction
2. Propose this transaction

We could add a circle question mark to help users understand the nature of the propose transaction.

[2018-06-13 22:47] wmbutler commented on #1559
I'm on a Mac with a crazy large and wide monitor.

[2018-06-14 00:05] gibbsfromncis commented on #1578
@wmbutler It was a part of Exchange redesign (I was assigned to task about Trading View restyle and idk why Market Depth restyling was included too). I'm not sure there is any reason restyling it without replacing it for more nice library. Lets unassign me and put it for later. What do you think?

[2018-06-14 00:39] ebit116 commented on #1592
After I switch any button , my wallet will be black screen.Include the Exchange.My RAM is 8G .The previous version is normal.

[2018-06-14 09:09] startailcoon opened #1596 "Support BSIP-0029 - Changed operation to update issuer of an asset"
# BSIP-0029 Changes

BSIP-0029 makes a change in the core that moves the way you change issuer of an asset.
[See BSIP-0029](https://github.com/bitshares/bsips/blob/master/bsip-0029.md).

### Current Implementation
Currently, any asset can be updated with `asset_update_operation`. This operation contains an optional `new_issuer` that changes the issuer of the asset.

### New Implementation
`new_iss

[2018-06-14 09:11] startailcoon commented on #1577
Bitshares-core is due for hardfork on 2018-07-19 14:00:00 UTC, this should be prioritized.

[2018-06-14 09:14] snakebitekit commented on #1593
@startailcoon ty, i'm waiting

[2018-06-14 09:28] startailcoon opened #1598 "[3] Support BSIP-0027 - Asset Issuer Reclaim Fee Pool Funds"
# BSIP-0027 Changes
BSIP-0027 makes it possible for an asset issuer to withdraw BTS from the asset pool, [see BSIP-0027](https://github.com/bitshares/bsips/blob/master/bsip-0027.md).

We need to implement the `asset_claim_pool_operation` operation in the UI to support this new feature.

Bitshares-core HF is scheduled for 2018-07-19 14:00:00 UTC.

[2018-06-14 10:13] clockworkgr commented on #1559
figures :)

[2018-06-14 11:37] sschiessl-bcp commented on #1570
Connecting to nodes is handled in routerTransition.

All nodes that are considered for connection are populated here:
https://github.com/bitshares/bitshares-ui/blob/a9ee9e4c8c70c59276d19fb6b58f6bda57bda50a/app/routerTransition.js#L328

Just looking at the code it should filter out all hidden ones. May it be that clicking hide in the UI does not forward the hidden flag into the Settings properly?

[2018-06-14 13:27] abitmore commented on #1596
Personally I prefer this one: Add a "Change Asset Issuer/Owner" button on the Update Owner section of account/<account>/update-asset/<asset>.

[2018-06-14 18:54] startailcoon commented on #1578
I think we have more present needs at the moment, as the current market depth chart works. As it needs some hands-on I think it would be better to find a nice library later on that does this in a really nice manner, and that would take some implementation time.

Maybe adding this to a task later, as I still think we should replace it at some point.

[2018-06-14 20:38] startailcoon commented on #1547
# OP 45 - bid_collateral

### Block TX
![image](https://user-images.githubusercontent.com/12114550/41434540-691ea3a4-701c-11e8-9252-9cfa04f22267.png)

### Account History
Since I can't see the tx in the account history, since it's to old, this is how it would look like

```abit updated collateral with 2,000,000 BTS for 79.813058 bitGOLD```

# OP 46 - execute_bid
This operation is a virtual OP and

[2018-06-14 21:31] gibbsfromncis commented on #1578
@startailcoon agreed.

[2018-06-14 21:39] abitmore commented on #1547
@startailcoon all these entries should be in account history.

For description for the 2 bid related operations please check [BSIP18](https://github.com/bitshares/bsips/blob/master/bsip-0018.md).

For the FBA operation, please check histories of these accounts:
* https://wallet.bitshares.org/#/account/stealth-buyback
* https://wallet.bitshares.org/#/account/stealth-mgmt

Unfortunately I didn't fin

[2018-06-14 22:08] abitmore commented on #1575
[ ] One important sub-task is serialization of `extension` struct.
[ ] the other is UX

@wmbutler 2 hours is too few IMHO.

[2018-06-15 00:02] happyconcepts commented on #1596
This does not sound right. Please show me where this is even intended.

Why not simply update the existing button in the existing UI to reference the new operation?

No functionality is changing, so why create UX and other work here?

[2018-06-15 07:52] abitmore commented on #1596
@happyconcepts
1. user story: if someone sent me some shitcoin and I don't want it, I burn it.
2. functionality IS changing.

[2018-06-15 08:55] startailcoon commented on #1596
Just as @abitmore sais, this is labeled UX because we have a change in functionality. UX label doesn't mean a massive workload, but rather that we need to find a good standpoint on it for the issue.

The change in functionality is that the asset owner change is no longer inside the same operation as the rest of the asset properties. We then need to find a good stance on where this function should

[2018-06-15 11:13] ebit116 commented on #354
I don't know why?  Why don't list in the UI?

[2018-06-15 11:36] sschiessl-bcp opened #1600 "[1.5][gibbsfromncis] Add Language selection by available locales"
**Describe the bug**
Account creation indicates flags as languages

http://www.flagsarenotlanguages.com/blog/why-flags-do-not-represent-language/

**To Reproduce**
![image](https://user-images.githubusercontent.com/33128181/41465901-4d0adeb0-70a0-11e8-963f-0f75d052b208.png)

**Expected behavior**
Remove flag, show the state-of-the art language indicator and language as text instead of solely the f

[2018-06-15 12:28] ahdigital commented on #1477
I think that it makes sense to do this, and utilise the space available. As you say, the app does this now so it wouldn't be unexpected.

I suppose it should appear at the end of the other stacked content boxes. Though depending on the implementation of this in the mark up, it seems to me that if the screen width is too narrow to display the side bar the user is likely using a smartphone - and for

[2018-06-15 13:19] #1538 closed

[2018-06-15 13:23] happyconcepts commented on #1596
Both of you need to start taking me seriously, please.

This bsip is to make it harder for any attacker to change the issuer of a coin.

@xeroc

[2018-06-15 13:55] happyconcepts commented on #1596
@abitmore with respect ...

1. This issue is related to **changing the issuer of a coin**  so ... wtf does your shitcoin burning story have to do with it?

If @dan over at eos wakes up tomorrow and decides that BTS is a shitcoin (example only, ) you are going to let him burn all his BTS and wreck the system huh.

2. So disappointed that you think I cannot read the bsip in my own mother tongue and

[2018-06-15 14:10] clockworkgr commented on #1596
With respect to both of you, I believe there was a misunderstanding here.

@abitmore mentioned that "everyone can burn any UIA" as a side-note, NOT related to this issue simply to point out that BURN ASSET should not be in that page because it's not only the issuer that can burn but everyone else as well.

[2018-06-15 14:50] happyconcepts commented on #1596
When the intent of Fabien's bsip 0029 is so clear ...

And this work issue to implement it is so conflated, and padded with UX for no reason, and simply misdirected ...

Was the Burn Asset button sensibly placed  for a sensible reason in the ASSET Management screen? Yes, because only the issuer should be able to control this function.

Why is your attitude to continue to take away the issuer's con

[2018-06-15 15:06] clockworkgr commented on #1596
II don't know if there are personal differences here , but as an outsider, it's not that big of a deal. Just 2 things:

a) The change does need UX, because it used to be the case that you clicked on UPDATE ASSET and could update everything including issuer. This is now a different operation, therefore it needs somewhere to go so the issuer can execute it. That is all.

b) as a sidenote due to the

[2018-06-15 16:55] svk31 commented on #1596
You're misunderstanding the burn comments by abit. Anyone can burn an asset *they have in their wallet* is what he means. I can burn the open.btc I have in my wallet for example, but openledger cannot, that's why this burn option doesn't really belong in this page.

[2018-06-15 18:53] happyconcepts commented on #1596
@svk31 ty for clarifying for me about the burn
@abitmore apologies for my misunderstanding on the burn.

Now, back to this issue about changing issuers of coins..please.

User story: my bot now issues [my coin SPARK](http://cryptofresh.com/a/SPARK) and is ready to issue coins for other coin owners so .... this bsip seems highly relevant.

So when George and Maxine over at bitSPARK hire me and my b

[2018-06-15 19:11] abitmore commented on #1596
@happyconcepts "issuing" coins doesn't need owner key. I think it's not related to this issue. Only changing an asset's issuer need owner key, and need to be done with a new operation `asset_update_issuer_operation` after the scheduled hard fork time (July 19). In addition, after that time `asset_update_operation` can not be used to change assets' issuer.

When talking about your bot, if it's desi

[2018-06-15 21:03] clockworkgr commented on #1596
@happyconcepts  considering the use case you mentioned, you might also want to have a look at https://github.com/bitshares/bitshares-core/issues/1061 which I'm hoping will turn into a BSIP.

Will be happy to hear any comments you might have.

[2018-06-15 23:28] happyconcepts commented on #1596
But the owner key is still always in my light client, since the light client UI is used in my business.

So I am concerned with the security of the owner key in the UI in general, and specifically more so when you propose adding a change asset issuer feature to the UI.

@abitmore where please in the current bitshares UI to change the owner of a UIA?

[2018-06-15 23:28] gibbsfromncis commented on #1583
There is no reason to work on this issue while we have Exchange Redesign is not finished: #1477

[2018-06-15 23:34] gibbsfromncis commented on #1559
Redesign of TradingView #1484 was finished and tools now are displayed on any screen size.

[2018-06-15 23:37] gibbsfromncis commented on #1543
@wmbutler if it's possible to increase bounty for this issue I can take it. I have no experience with these parts of the app so it would take more than 1 hour.

[2018-06-15 23:38] gibbsfromncis commented on #1539
@wmbutler looks like easy task. I'll take it but if it take more time I'll let you know

[2018-06-15 23:42] gibbsfromncis commented on #1536
@wmbutler @abitmore I understand the issue in general terms but can you please specify requirements and I'll work on it

[2018-06-15 23:44] gibbsfromncis commented on #1530
@wmbutler If you agree to increase bounty if this task take more time - I'll take it

[2018-06-15 23:46] gibbsfromncis commented on #1503
@abitmore Do we support it on server side?

[2018-06-16 00:08] sschiessl-bcp commented on #1600
I wouldn't even go so far as to have it searchable.

We have not so many languages right now, get more sophisticated when needed.

[2018-06-16 05:53] svk31 commented on #1596
It's in the update asset screen now, but that doesn't work anymore now that the HF is live.

[2018-06-16 05:56] svk31 commented on #1503
No, it would need to be done in the ui using multiple regular limit orders. That should be possible though, you can add multiple operations to one transaction.

[2018-06-16 06:14] clockworkgr commented on #1596
@svk31 HF is not live till july...so still working till then

[2018-06-16 11:43] abitmore commented on #1596
@happyconcepts yes you do need to import keys to sign certain operations. For better security, you follow better practice, for example use multi-sig, offline signing and etc. Every change comes with pros and cons, if you have a question or demand about the back end (chain logic change but not only the UI), please create an issue or even BSIP in https://github.com/bitshares/bsips repository. It's u

[2018-06-17 00:44] ebit116 opened #1601 "An old UI issue:The UI should list TXID"
The txid is useful for me to contact with exchange customer service.So I like to get the txid easyly in the bitsharesUI .
This is basic service ,I don't think it is need to search cryptofresh.com.
No resistance is our mission。
more detail:Within explore: Add support for searching TXID? #354
bitshares/bitshares-ui#354

[2018-06-17 07:11] startailcoon commented on #1601
I agree with OP that we should try to add more capabilities to the inbuilt explorer.

Closing as we already have an open issue for this task.

[2018-06-17 07:11] #1601 closed

[2018-06-17 07:13] startailcoon commented on #354
Do we lack anything that we need to request the core team about for this issue to be worked on?

It would be useful to be able to search for
- Block number
- Tx id

[2018-06-17 07:18] startailcoon commented on #1600
Nice idea. I totally agree that we shouldn't rely on flags. The UI had a language list drop down before, but was replaced with this at one point.

Can we have a nice drop down list of available languages to start with that is populated by what locales we have?

Once we have a larger list, we could look for better ways of populating the list, but this would do for now.

[2018-06-17 11:35] grctest commented on #1319
@wmbutler Has this been merged into production? I don't see asset descriptions within asset pages still.

[code]

[2018-06-17 14:19] startailcoon commented on #1319
It seems to be working just fine when you check the staging branch at https://staging.bitshares.org/#/asset/hertz

The current Web-wallet on https://wallet.bitshares.org/#/asset/hertz is not updated yet, it seems.

Ping @svk31

[2018-06-17 16:56] startailcoon commented on #1529
@happyconcepts how is your work progressing? You mentioned that this would be delivered to "next sprint" last month. Do you still plan on completing this task or release it?

[2018-06-17 20:30] startailcoon commented on #1530
I'm sure we can increase the hours to support this issue to be completed.

Let's increase it to two hours and track your time off it takes much more.

[2018-06-18 09:58] abitmore commented on #354
Block number is already in account history but is not searchable; tx id is not in. Won't add those to core anytime soon.

Both are available in Elastic Search plugin, and are searchable.

[2018-06-18 17:23] happyconcepts commented on #1529
@startailcoon The wrong information you gave me on #1570 has only delayed me momentarily on this issue.

[2018-06-18 17:51] startailcoon commented on #1529
Just checking in on uncompleted issues. Sorry for the unintentional confusion on your other issue.

[2018-06-18 18:05] happyconcepts commented on #1570
I was looking at `getNodes()` line 260 ... so I thank you for your help and will have a look at the button action I guess.

I just want it to work. @startailcoon would rather fuzz my other issues than contribute help here, I guess.

[2018-06-18 18:08] happyconcepts commented on #1529
I believe you could help with debugging on #1570 and finish what you started with the node selection mess, but it's not my job to set your priorities.

[2018-06-18 18:11] happyconcepts commented on #1529
I guess I will do this today for the new develop branch @wmbutler thanks for your support.

[2018-06-18 18:45] gibbsfromncis commented on #1503
@svk31 got it. Nice.

[2018-06-18 18:51] gibbsfromncis commented on #1503
@wmbutler Can I just start to work on it or you want some UX changes there? (if yes please describe what exactly do you want to change and I'll ask some my designer to work on UX)

This feature looks very useful for me and nice path to attract more traders. We already have useful charts (TradingView) and it's nice to work on orders part.

[2018-06-18 18:53] gibbsfromncis commented on #1600
@startailcoon did you ask me or somebody else about dropdown list?

[2018-06-18 18:59] #1484 closed

[2018-06-18 19:07] sschiessl-bcp commented on #1600
+1

[2018-06-18 19:50] startailcoon commented on #1600
@sschiessl-bcp @gibbsfromncis I fully agree with you guys.

[2018-06-18 20:14] svk31 commented on #1529
@happyconcepts what's with the attitude? I looked at the issue and he didn't give you any wrong information.

[2018-06-18 20:18] gibbsfromncis commented on #1458
I have no idea why but it's already fixed

[2018-06-18 20:18] #1458 closed

[2018-06-18 20:59] gibbsfromncis commented on #1582
@clockworkgr was replaced for this:

<img width="322" alt="screenshot 2018-06-18 22 58 53" src="https://user-images.githubusercontent.com/35899973/41561822-34c48c04-734b-11e8-8f3b-66d89e3b6fbf.png">

[2018-06-18 22:59] gibbsfromncis opened #1604 "[UX:20+UX:6][gibbsfromncis] Asset Creation & Edit Redesign"
**Is your feature request related to a problem? Please describe.**

I was working on Issue #1530 and tested issue creation. I've never seen and worked with this part before and a lot of things looks not clear or not user friendly.

**Describe the solution you'd like**
1) It would be nice to make Issue asset as step by step (ant component for this: https://ant.design/components/steps/)

2) Provide

[2018-06-18 23:00] gibbsfromncis commented on #1604
@wmbutler @startailcoon please put your things here. What do you think about this. Is it a nice time to start to work on redesign or lets leave it for later

[2018-06-18 23:10] gibbsfromncis commented on #1604
Btw mentioned ant components wasn't included on style-guide. This part requires styling of these components if them require it (a lot of components was restyled by colors changing but some of them requires css overrides)

[2018-06-19 02:10] xiangxn commented on #1575
I can complete the serialization, this modify should be in bitsharesjs.

[2018-06-19 06:51] svk31 commented on #1530
That's from bitsharesjs and the long lib, can you give me a test case to reproduce it?

[2018-06-19 07:35] ruslansalikhov opened #1605 "white screen after order creation"
I'm getting "white screen" when I create new order

Steps to reproduce the behavior:
1. Go to https://staging.bitshares.org/#/market/BTS_USD
2. Create any order
3. See error

**File:**

https://github.com/bitshares/bitshares-ui/blob/2.0.180629-rc1/app/components/Blockchain/Operation.jsx#L330

**Screenshots**
http://prntscr.com/jwls06

**Desktop:**
 - Device: mac
 - OS: any
 - Browser: chrome
 - Ve

[2018-06-19 07:42] sschiessl-bcp commented on #1560
https://steemit.com/bitshares/@sschiessl/bitshares-ui-release-180629-20180619t073242585z-post

[2018-06-19 07:46] startailcoon commented on #1529
@happyconcepts I don't see the reason for your tone here. Please keep your comments constructive.

I don't understand what you mean about "finish what you started with the node selection mess". I've only made a comment in the discussion. The node handling have been worked on for several different issues before and can still need more attention as mentioned there.

[2018-06-19 08:46] clockworkgr commented on #1560
so this release is basically in testing (frozen in staging)  for the next 10 days ?

[2018-06-19 08:50] sschiessl-bcp commented on #1560
Yes exactly.

Testing was done on development build on local deployments, and now the same on staging public deployment.

This would be a good point to have a fixed test checklist that is required to be passed before actual release @bill_butler

[2018-06-19 08:55] clockworkgr commented on #1560
@btsfav

[2018-06-19 09:18] happyconcepts commented on #1570
#1223

[2018-06-19 09:37] happyconcepts commented on #1529
Hidden nodes do not autoconnect? My client connected to a compromised Open Ledger domain despite being hidden. But that's another issue #1570 not this one.

[2018-06-19 09:50] happyconcepts commented on #1529
@startailcoon:

You know, I was about to say the say exact thing to you. Because here we are, in the only two issues I have right now on this project, and you @startailcoon have not provided a single constructive comment.

My neck happens to be broken from a car accident, but that's not going to change the disgustingly dismissive tone you have used toward me and any of my comments, contributions,

[2018-06-19 10:40] svk31 commented on #1605
@startailcoon caused by this commit: https://github.com/bitshares/bitshares-ui/commit/754f6926a3a5fa00bfce4daa14a94566a0a4f44f

I guess `result` is sometimes undefined

[2018-06-19 11:45] startailcoon commented on #1529
happyconcepts you having an accident is unfortunate, but I don't see the relevance of bringing it up here. If you have found my comments disgruntled, it was not my intention.

As soon as I have some time over, probably tomorrow, I can help you out with debugging your other issue, which are indeed relevant as you've mentioned. I have never tried to say otherwise.

Let's move forward and find soluti

[2018-06-19 12:33] Bluffet opened #1607 "Missing delete orders in open orders pane RC1.1411"
I tested out the release candidate RC1.1411 and found to my surprise the delete orders function was gone from the open orders pane.

/Users/FunkIT/Dropbox/Screenshots/Screenshot 2018-06-19 14.07.55 copy.png

I know it's a prerelease, but I thought I'd mention it.

Running it on a Mac OS 10.9.5

[2018-06-19 12:34] Bluffet commented on #1607
/Users/FunkIT/Dropbox/Screenshots/Screenshot.png

[2018-06-19 12:36] Bluffet commented on #1607
Fuck. Github don't like images.

[2018-06-19 12:36] Bluffet commented on #1607
Fuck. Github don't like images.

[2018-06-19 12:38] Bluffet commented on #1607
https://t.me/BitSharesDEX/295915

[2018-06-19 13:20] clockworkgr commented on #1607
Just copy the image (the image...not the filename) and paste in the textarea...

[2018-06-19 13:23] clockworkgr commented on #1607
![image](https://user-images.githubusercontent.com/6826762/41599884-137b82c2-73dd-11e8-9a29-a7fc846920c0.png)

[2018-06-19 15:07] svk31 commented on #1607
Are you referring to 2.0.180629-rc1? I have no idea what RC1.1411 is...

[2018-06-19 18:07] startailcoon commented on #1607
Do you have the keys for the current account you're showing? Unless you have those, these components aren't visible as they have no function to you.

They are visible for my accounts on the 2.0.180629-rc1 version.

![image](https://user-images.githubusercontent.com/12114550/41615775-7072fd7e-73fc-11e8-94f3-ad4fd428ca40.png)

[2018-06-19 18:09] startailcoon commented on #1605
There was an issue in the notification where there was yet no order ID to view. This has been fixed the supplied PR.

[2018-06-19 18:09] #1605 closed

[2018-06-19 19:28] gibbsfromncis commented on #1530
@svk31 Hm.. I cannot push my code to bitshares-ui directly so I've pushed to my fork: https://github.com/gibbsfromncis/bitshares-ui/commit/c340305918f8ab8a44009d99585bcd1bf2a5c6eb

Steps:
1) Create any asset
2) Tap "Issue Asset" on created asset and put number larger than supply
3) Submit form and you get this error.

Btw don't forget to add error handler (take a look my commit above)

Thx

[2018-06-19 19:42] gibbsfromncis commented on #1529
@happyconcepts stop to be like a dick. Anyway, your personal things or accidents or anything else don't give you any reason to rude or blame other guys who tries to help you and bitshares at all. Be polite anytime. If you can't deliver your work just unassign yourself or wait while somebody other will unassign you.

[2018-06-19 19:45] gibbsfromncis commented on #1529
@happyconcepts Anyway, nobody shouldn't help you. Guys expect from you just 2 things - request to claim and pull-request with the done issue. We spend our time to help you earn money and deliver your work. If you continue to be like an asshole you won't get any help or responses (especially from my side, I cannot answer from other guys)

[2018-06-19 20:02] startailcoon commented on #1596
Well, if we can get back on track with this issue, this is what we need to work on.

# UX
[ ] Placement of `Asset Issuer Change`

It has been proposed to add this button within the Asset Update section. This has to clearly visible that it requires the action within that page, and isn't included within the normal update.

Another possible way to this is to make use of sending multiple transactions

[2018-06-19 20:10] startailcoon commented on #1596
Previous discussion here #1155

[2018-06-19 20:52] gibbsfromncis opened #1609 "[0.5] Bitshares StyleGuide & React Hot Reload conflicts"
When I started to work on some feature I got this error on my console for each component I use from style-guide (ant components) (2 Buttons & 1 Modal):

<img width="1403" alt="screenshot 2018-06-19 22 49 25" src="https://user-images.githubusercontent.com/35899973/41623442-15f4369e-7413-11e8-9778-7fd3d01a8c23.png">

I didn't see this issue when added `bitshares-style-guide` to our `package.json` an

[2018-06-19 20:55] svk31 commented on #1609
Hm, how do I reproduce it?

[2018-06-19 21:16] gibbsfromncis commented on #422
@wmbutler @startailcoon

I have troubles regarding this issue. I've started to use `bitshares-ui-style-guide` but `bitshares-ui` uses references to global html tags on his css.

This is screenshot to help you understand issue better:
<img width="967" alt="btsuiconflict" src="https://user-images.githubusercontent.com/35899973/41624580-739ec5ea-7416-11e8-8b79-9c143349be2b.png">

This is how Style Gu

[2018-06-19 21:47] gibbsfromncis commented on #1609
@svk31 Just import any component from `bitshares-ui-style-guide` like:
`import {Button} from "bitshares-ui-style-guide"` and use this Button anywhere.

[2018-06-19 22:42] abitmore commented on #1607
@startailcoon your reply got the situation into scope of https://github.com/bitshares/bitshares-ui/issues/1285.

[2018-06-20 00:52] Bluffet commented on #1607
Correct, @svk. I got that version number from the about-box.

@startailcoon, yes I have the keys.

[2018-06-20 02:05] Bluffet commented on #1607
Update: I have since managed to get the boxes back again by changing node. And I have managed to get them to disappear when connecting to the Nuremberg and  the Berlin node.

Connecting to ihashfurys french node AND a restart fixes the issue.

So far so good. I got rid of the orders I wanted. And am about place new ones. Which results in a NEW issue. I get a white screen when I confirm the new ord

[2018-06-20 06:50] ahdigital opened #1610 "[1] 'Create account' doesn't jump user to form"
### Describe the UX issue

These are mostly UX issues with mobile:

**Part A)** As a user I want to create an account, but when I click the 'create account' button from the landing page I don't notice the form because it loads in close to/below the viewport bottom whilst the UI.

**Part B)** As a user I want to create an account, but when I click the 'create account' link from the burger menu I do

[2018-06-20 06:52] Bluffet commented on #1607
Update: I have since managed to get the boxes back again by changing node. And I have managed to get them to disappear when connecting to the Nuremberg and the Berlin node.

Connecting to ihashfurys french node AND a restart fixes the issue.

So far so good. I got rid of the orders I wanted. And am about place new ones. Which results in a NEW issue. I get a white screen when I confirm the new orde

[2018-06-20 06:54] Bluffet commented on #1607
![Screenshot 2018-06-20 03.59.15.png](https://cdn.steemitimages.com/DQmfMfowNecitVpiH581LkNSjtdXcbekx44YW4EAy2vqagU/Screenshot%202018-06-20%2003.59.15.png)

[2018-06-20 07:19] Bluffet commented on #1607
Again with a fresh restart and straight to placing an order:

![Screenshot 2018-06-20 09.12.41.png](https://cdn.steemitimages.com/DQmfS8JHsGYnkjsNhxpKmuZQFaxC7hxCajaW28xLNAZHjJW/Screenshot%202018-06-20%2009.12.41.png)

[2018-06-20 07:20] Bluffet commented on #1607
Result: white screen

[2018-06-20 07:37] startailcoon commented on #1607
Issue when placing orders is fixed with issue https://github.com/bitshares/bitshares-ui/issues/1605

[2018-06-20 07:38] ahdigital opened #1611 "[0.25] STAGING - Withdraw (beta) modal is blank"
### Describe the bug
**Part A)** The withdraw (beta) modal is blank on desktop.

~~**Part B)** On mobile, the withdraw (beta) modal displays a white screen after an asset is selected.~~

### To Reproduce
Steps to reproduce **Part A)**:
1. Open burger menu
2. Click on 'Withdraw (beta)'

~~Steps to reproduce **Part B)**:~~
~~1. Open burger menu~~
~~2. Tap on 'Withdraw (beta)'~~
~~3. Choose any asset

[2018-06-20 08:02] ahdigital opened #1612 "[0.25] STAGING - Add contact link throws error"
### Describe the bug
The 'Add contact' link shown in the burger menu does nothing when clicked, and there is not an account  name shown in the top right hand side of the header.

### To Reproduce
Steps to reproduce the behavior:
1. Clear cache and make sure no account is shown in top right
2. Open burger menu
3. Click on 'Add contact'
4. See error in console

### Console error
`Uncaught Error: Inv

[2018-06-20 08:30] svk31 commented on #1611
You don't have any accounts to withdraw from that's why, the withdraw option should just be hidden in that case.

[2018-06-20 16:23] happyconcepts commented on #1529
You have never helped me @gibbsfromncis, so it's quite shallow and egotistical for you  to suggest that you will "stop" helping me.

This remains the technical issue, but instead of help you continue to choose to attack me with ad hominem...

This is the communication issue, and what I replied to @startailcoon:

You know, I was about to say the say exact thing to you. Because here we are, in the o

[2018-06-20 16:53] svk31 commented on #1529
@happyconcepts please just stick to the issue, the simple question that triggered your ranting still remains unanswered: do you intend to complete the issue or can someone else take it over?

[2018-06-20 19:12] startailcoon commented on #1610
Using an anchor and the new react-scroll library, this would be an easy task to complete.

[2018-06-20 20:50] startailcoon commented on #1477
## Preview

Just wanted to show that the new AntD component works like a charm in the UI thanks to the work on bitshares-ui-style-guide.

![image](https://user-images.githubusercontent.com/12114550/41683884-411b0932-74dc-11e8-9d21-f224a057ded5.png)

[2018-06-20 21:49] startailcoon commented on #1593
I've taken some looks at the code now and there is an error in your API, other than that it seems to be just fine with a few small additions to the code.

The `components/DepositWithdraw` and `components/Account/AccountDepositWithdraw.jsx` files are legacy code. With the new modal deposit/withdraw there is no longer any need to do all these modifications.

### Here is the change that you need to d

[2018-06-21 06:32] sschiessl-bcp opened #1613 "Branding template"
This feature aims to facilitate branding/customizing the reference wallet, e.g. for a white-label customized exchange. It's intent is to have a single point of entry that controls key branding aspects. The most simple customization job will then only require to edit this one single file.

Reasons are:
a) It facilitates the work of anyone that wants to create their own exchange or simply have a sli

[2018-06-21 19:18] happyconcepts commented on #1529
it's basically done @svk31. I just have to figure out how to migrate my process to the develop branch, and with a broken neck it's hard enough. All the fuzzing and heckling just delays it. Anyone else's issues languish for months but mine is selectively enforced because ... there is so much love here for me?

So this PR should arrive by Saturday June 23 to develop and I hope that is acceptable wit

[2018-06-21 19:27] startailcoon opened #1614 "[3] Include Collapses component in the UI style guide"
For the new Exchange design we require the collapsed component from AntD.

The bitshares-UI-style-guide is started and as we progress we will require more components to be included, as all aren't yet.

As the style guide is still early in development, @gibbsfromncis will make sure this is included and will handle workload between UX and UI integration.

[2018-06-21 21:58] startailcoon commented on #1610
@sschiessl-bcp I forgot to remove the "staging" name from the user issue. This is of course not something that would be fixed to the staging branch. I belelive this is something that has always been there, and is thus labeled as a feature.

Only bugs should be pushed to staging.

[2018-06-22 05:16] sschiessl-bcp opened #1615 "STAGING - Put market order breaks UI"
**Describe the bug**
After putting an order the UI crashes and recovers by reconnecting / blank white screen. The gets put properly, but UX is broken

**To Reproduce**
Place any order on any market

**Expected behavior**
Should work and remain on exchange tab

**Screenshots**
![image](https://user-images.githubusercontent.com/33128181/41758972-20062202-75ec-11e8-8161-58de2077212b.png)

[2018-06-22 05:21] startailcoon commented on #1615
This issue is fixed with PR https://github.com/bitshares/bitshares-ui/pull/1608

[2018-06-22 05:22] #1615 closed

[2018-06-22 10:29] ahdigital commented on #1610
In my original post I mentioned the on boarding pages used to load as separate pages. Check the current live release against staging and you can see they are different.

[2018-06-22 19:17] #1611 closed

[2018-06-22 19:17] #1612 closed

[2018-06-23 07:22] startailcoon commented on #897
Reopened as this may not be that hard to fix. All components should view the same amount when the backend is queried.

• [ ] investigate why header isn't aligned with the rest of the UI on call prices.

[2018-06-24 07:05] #1609 closed

[2018-06-24 07:06] svk31 commented on #1609
Updating react hot reload seems to have done the trick; although I also updated antd in bitshares-ui-style-guide.

[2018-06-24 07:22] svk31 opened #1618 "[0.25] Add missing translation keys for vertical orderbook"
**Describe the bug**
The vertical order book is missing some translation keys, partly fixed here https://github.com/bitshares/bitshares-ui/pull/1617

[2018-06-24 07:23] #1618 closed, assigned to svk31

[2018-06-24 07:32] #1529 closed

[2018-06-24 08:02] #1106 closed

[2018-06-24 17:19] startailcoon commented on #1428
@kapeer42 how did work progress on this? Was it completed in a PR? If not, do you intend to complete this task?

[2018-06-24 17:30] startailcoon commented on #361
Issue #905 has been closed, expiring this issue tracker.

[2018-06-24 17:30] #361 closed

[2018-06-24 17:47] #1155 closed

[2018-06-24 17:47] startailcoon commented on #1155
Further tracked on issue #1596, closing.

[2018-06-24 17:52] kimchi-king commented on #890
@startailcoon I'm still waiting for this to be added.

I'm looking for a tracker to be added to the reference wallet explorer that keeps track of the actual circulating supply of BTS that aren't locked up as collateral for MPAs.

Right now, the explorer only shows the "Current Supply" but doesn't not take into account the amount of BTS that's locked up in smart contracts. I think this information

[2018-06-24 18:56] startailcoon commented on #890
I think this makes total sense.

## Tasks
Together with all other blockchain data on the explorer section, besides amount of total supply, we should display this as well.

- [ ] Display amount of locked BTS (collateral etc)
- [ ] Display amount of free BTS

It may need some additional code to the bitshares-core, which the taker of this issue should investigate and request if so.

[2018-06-24 18:57] abitmore commented on #890
I think we need a new API or a new data field in asset dynamic data object to implement this feature. Please submit a feature request to bitshares-core.

[2018-06-24 19:08] abitmore commented on #890
@startailcoon I think the API won't be ready in bitshares-core until a release in August, perhaps even later.

[2018-06-24 19:54] startailcoon commented on #890
Thanks @abitmore. I've put this task for future planning for Q4 in the meantime.

[2018-06-24 20:12] kimchi-king commented on #890
@startailcoon @abitmore Thanks for looking into this guys. I really look forward to seeing this new feature.

[2018-06-24 20:44] startailcoon commented on #1436
@ahdigital has completed the UX of this task, as I can see.

I also believe that there isn't really a need to display the URL on the page, as it can be to long to view. A hover state would suffice, it's our witnesses here we are talking about. If one is unsure about an URL, it shouldn't be opened directly anyway.

@kapeer42, are you still interested in taking this task?

[2018-06-24 20:47] startailcoon commented on #1407
@sschiessl-bcp will you work on this as mentioned here before?

[2018-06-24 20:49] startailcoon commented on #1392
I believe this is no longer an issue as none has reported it in for almost 2 months now.

[2018-06-24 20:49] #1392 closed

[2018-06-24 20:50] startailcoon commented on #1389
@svk31 will you take this task?

[2018-06-24 20:52] startailcoon commented on #1270
@abitmore @MannyMeadows is this issue stil present?

[2018-06-24 20:55] startailcoon commented on #1202
Whan a portfolio has many assets, it takes a very long time to load. Could this be related? I guess we would need some debugging to make the code cleaner and quicker to resolve this issue?

[2018-06-24 21:02] startailcoon commented on #1045
I'm not sure we have another issue about this in the UI, but think it would be a great addition to have it within the UI itself. It may require some bitshares-core updates, depending on the data we can retrieve from the nodes about committee members.

## Tasks
- [ ] Include committee member preferences within the committee details page. Preferreble with a expandable section that is hidden untill y

[2018-06-24 21:06] startailcoon commented on #1131
I believe this would be a good feature to the UI. It would require some updates to bitsharesjs as well.

## Tasks

- [ ] View a `post price` form on an assets page.
- [ ] Visible only for users that are allowed to post prices
- [ ] Add capability to bitsharesjs if required

[2018-06-24 23:41] snakebitekit commented on #1593
@startailcoon ty for your answer
i tried to apply this, fixed api, but got an error as well
when i try to make a deposit, i got an unknown address
<img width="505" alt="screen shot 2018-06-25 at 01 26 05" src="https://user-images.githubusercontent.com/40239947/41824314-fe4076fe-7816-11e8-876e-f24ec98edbeb.png">

[2018-06-25 04:18] MannyMeadows commented on #1270
I haven't had this issue again since.

[2018-06-25 05:24] #1270 closed, assigned to nobody

[2018-06-25 05:53] startailcoon commented on #1462
@kapeer42, how is your progress on this issue? Will you have something ready for this milestone or should be release it for someone else to take over?

[2018-06-25 09:36] startailcoon commented on #729
This issue has been resolved by another PR.

[2018-06-25 09:36] #729 closed

[2018-06-25 11:11] Bluffet opened #1620 "[0.25] White screen RC 180629 RC2"
Hitting the explore tab renders a white screen after a few seconds

Not a very serious phenomena. Irritating, nonetheless if you want to search up something or review witness performance.

Remedy: Reload or restart application

OS: Mac OS 10.9.5, RC2 client

Console says:

vendor.86a5805f626d17664911.js:199 TypeError: e.props.result[1].substring is not a function
    at Object.children (app.7f06fb

[2018-06-25 12:35] abitmore commented on #1045
@startailcoon don't need additional committee member preferences data (we don't have that data in core nor will add it anytime soon). UI can just fetch global data. Related API is mentioned in OP.

[2018-06-25 19:44] startailcoon commented on #1045
Then we should add the global object details for the network preferences ideally.

[2018-06-26 00:20] gibbsfromncis opened #1621 "[2][gibbsfromncis] Bitshares Style Guide less issue"
For now themes support for ant components works on this way:
[code]

But it doesn't work well for the following case of less code:
[code]

The compiled output looks like:
[code]

I do not see any easy solution how to fix it on our side without touching ant sources.

This fix requires some time and investigation

[2018-06-26 00:21] gibbsfromncis commented on #1614
Front-end part was blocked by the following issue: https://github.com/bitshares/bitshares-ui/issues/1621

UX ready:
![dark theme_collapse](https://user-images.githubusercontent.com/35899973/41882060-0c2d7fe8-78e7-11e8-8677-73bcfbd99500.png)
![light theme_collapse](https://user-images.githubusercontent.com/35899973/41882061-0c4925c2-78e7-11e8-8eaf-301228dc86d6.png)
![midnight theme_collapse](https:

[2018-06-26 08:18] startailcoon commented on #1593
Hi @snakebitekit

This issue is related to the fact that your `inputCoin` is set to XMR, and not Monero. The API requests a deposit address with the coin name, without the prepended exchange name.

![image](https://user-images.githubusercontent.com/12114550/41898352-17086e6c-792a-11e8-8007-af0fc341ed59.png)

Once this is fixed, you will be able to fetch an address from your API backend. You may ha

[2018-06-26 08:22] bangzi1001 opened #1622 "Set Recommended/Default Collateral Ratio to At Least 5 to Avoid Newbie Get Burned Easily"
**Is your feature request related to a problem? Please describe.**
Newbie who borrow bitCNY/bitUSD get burned easily because they are more likely to set 1.75 Collateral Ratio until they get margin call. Once they get margin call, they will either become conservative or stop borrow bitCNY/bitUSD. If they stop borrow bitCNY/bitUSD, then is not good for Bitshares.

**Describe the solution you'd like*

[2018-06-26 09:20] startailcoon commented on #1620
It appears that the result sent from nodes are not always the block ID. When there is no block ID we just write out that the user made an order, without the ID.

Fixed in supplied PR.

[2018-06-26 09:20] #1620 closed

[2018-06-26 09:43] startailcoon commented on #897
I've tried to observe this behaviour now and can only come to the conclusion that this is no longer an issue. The header is updated according to the order table.

## Screen 1
Here we have the same price in header as in the order stock. The minature orders that is in blue are dust order and probably has a bit different value due to this.

![skarmklipp-1](https://user-images.githubusercontent.com/12

[2018-06-26 09:45] startailcoon commented on #897
@HarukaMa please notify me if you have further data in this issue that you can provide if you still think this is an issue.

[2018-06-26 10:16] startailcoon commented on #1577
I hope that I understand this correctly, please review the following.

Today we have a Call Price even on bitUSD, involving a bunch of users. One of these are `gamma-rabit`, which I'll use as an example here.

## Exchange View
Here we can see that this user has a larger position for sale. It's the users entire debt.

![bild](https://user-images.githubusercontent.com/12114550/41904896-e1d918b2-7939

[2018-06-26 10:59] sschiessl-bcp commented on #1407
Yes ... I simply forgot about it, apologies.

[2018-06-26 11:01] grctest commented on #1613
Would custom themes be in scope of this? Or solely a method of easily replacing the branding throughout the web wallet?

[2018-06-26 11:10] sschiessl-bcp commented on #1613
After migration to the new [bitshares styleguide](https://styleguide.bitshares.org) is done it should be easily doable (right now possibly too, but waste of effort).

With the new styleguide it **should** boil down to copying one of the existing themes and adjusting it,
 [find the new dark theme here](https://github.com/bitshares/bitshares-ui-style-guide/blob/master/app/bitshares-ui-style-guide/da

[2018-06-26 12:46] clockworkgr opened #1625 "Improve enabling local wallet mode from cloud mode process."
In the last month, I have walked at least 5 people through recovering access to their account after they enabled local wallet.

It seems people mistakenly thing that enabling local wallet automatically converts the account use mode. They then download the .bin file as prompted and believe that everything is fine.

In fact, the wallet is empty with no keys in it. Next time, they unlock it and get t

[2018-06-26 13:49] startailcoon commented on #1577
## End Result

Note, this function will not work until the next core is released fully, which would correspond nicely with when the next Release Candidate goes into action.

![bitshares-margincalled](https://user-images.githubusercontent.com/12114550/41916442-57087cb8-7958-11e8-8451-06ee46fe5d25.gif)

[2018-06-26 15:25] abitmore commented on #897
@startailcoon about the strange price probably caused by dust, please:
* find if the result has a "fill_price" field, it there is one, use it; otherwise (for old API nodes), calculate price by amounts.

[2018-06-26 15:31] abitmore commented on #1577
Need to be able to reduce debt, so don't lock it.

[2018-06-26 16:00] startailcoon commented on #1577
Right, good catch.

[2018-06-26 19:12] startailcoon commented on #1577
Debt can be changed as long as ratio isn't decreased.

Changed the message slightly

![bild](https://user-images.githubusercontent.com/12114550/41933962-a886a88a-7985-11e8-8e09-ab21598ba0ee.png)

[2018-06-26 19:21] startailcoon commented on #1625
This sounds to me like a good plan. You've identified a user issue where there is lack of documentation and/or specific guidence to users.

May I suggest that we specify this even a little stronger with something like this:

[2018-06-26 19:44] startailcoon commented on #1622
I'd like to hear from others before we start changing the CR requirements. Today you get a warning when your ratio is +.5 from the assets MCR.

I can agree that we could show this error up to a higher number, making users aware of the risks involved because of a volatile market.

[2018-06-26 20:44] abitmore commented on #1577
... as long as **ratio is increased** and **debt isn't increased**.

[2018-06-26 20:59] startailcoon commented on #1575
@xiangxn how are your serialization work going?

We should try to aim to implement this to enable an easy change in the UI.

[2018-06-26 21:01] startailcoon commented on #1576
This is more of a task than a feature, as it is a requirement that we do this to show the orderbook correctly.

[2018-06-26 21:42] startailcoon commented on #1577
@abitmore lets see if I got it right this time then :)

![bild](https://user-images.githubusercontent.com/12114550/41940876-867afb82-799a-11e8-9b3c-90ccb731a434.png)

![bild](https://user-images.githubusercontent.com/12114550/41940889-8fc73836-799a-11e8-884e-d6498427c946.png)

[2018-06-26 22:05] abitmore commented on #1577
@startailcoon I'm not sure if it's correct.

Logic in bitshares-core:
* after adjusted a position, if it's not closed
  * if it got totally filled immediately (which means new rate < MCR, and there was sufficient depth on the book)
    * pass
  * else if new rate > MCR
    * pass
  * else if new rate > old rate
    * if new debt > old debt
      * error
    * else
      * pass
  * else
    * error

[2018-06-27 04:50] startailcoon commented on #1577
@abitmore hmm, ok. Lets go over it

## Previously
Possible to update any margin position
- If new rate < MCR
  - error
- Else
  - pass

## Current change
Possible to update any margin position
- If debt below MCR
  - If new rate < old rate
    - error
  - If new debt > old debt
    - error
  - Else
    - pass
- Else
  - If new rate > MCR
    - pass

The only question may be the `if it got totally

[2018-06-27 04:57] startailcoon commented on #897
@abitmore sounds good to be able to solve the dust orders, but that's not related to the topic, is it?
I will definetly take a look at it though.

[2018-06-27 07:07] xiangxn commented on #1575
I think at least 3-4 hours, this problem should also have C++ support.

[2018-06-27 07:32] abitmore commented on #1577
If ignore the immediate filling mechanism, the logic shoud be:

Possible to update any margin position
- If <del>debt below</del> **new rate <=** MCR
  - If new rate <del><</del>**<=** old rate
    - error
  - If new debt > old debt
    - error
  - Else
    - pass
- Else
<del>  - If new rate > MCR</del>
    - pass

[2018-06-27 07:57] startailcoon commented on #1577
I think I have this now

- If position is in margin call (what I ment with `If debt below MCR`)
  - If new rate <= MCR
    - If new rate <= old rate
      - error
    - If new debt > old debt
      - error
    - Else
      - pass
- Else if new rate > MCR
  - pass

[2018-06-27 08:11] startailcoon commented on #1575
@xiangxn thanks for you reply. About the requirements in code I'll have to leave it to @svk31 to assess what the requirements are. Someone from the team will reply to this thread as soon as we have an answer.

[2018-06-27 08:49] xiangxn commented on #1575
I first submitted the changes to "bitsharesjs". This workload is only one hour. However, if you want to change the "operations", it will take at least 3 hours, because there are changes as long as the "ext" is used.

[2018-06-27 16:49] snakebitekit commented on #1593
@startailcoon thanks for help!
everything seems working
i will test it and make a pr soon
i think there's a bug by the way:
deposit & withdraw modal shouldn't work if user isn't logged in and should show sign up/log in buttons, 'cos in not-logged in scenario we don't get `outupAddres` (account name)

[2018-06-28 01:50] gibbsfromncis commented on #1621
@startailcoon It was not so easy to fix it but I'm done.

###What is the issue
As described above, some styles of ant were broken because of LESS specifics. Unfortunately there is no way for now to avoid mentioned behavior of LESS compiler. There are issues regarding this: https://github.com/less/less.js/issues/3232 (Thats mine, I'm still waiting for feedback from LESS contributors)
https://github

[2018-06-28 02:39] compumatrix opened #1628 "[0.5] Typing amount on Deposit/Withdraw results in blank page"
**About the bug**
This just recently occurred while typing on any of the amount fields on Deposit/Withdraw on Blocktrades. Just one keystroke turns the entire page blank.
![capture](https://user-images.githubusercontent.com/2491389/42010059-84c44e26-7abf-11e8-9f25-8a9506c01e9e.JPG)

[2018-06-28 03:39] gibbsfromncis opened #1629 "[2] Assets Redesign"
**Main Requirements**
1. Cross-devices support (for smartphones, tablets, laptops)

**Assets Home page**
1. Replace old tabs for tabs from style-guide
2. Hide table is user has no any assets on his list:
2.1 Add description for assets like what is Assets and how user can use them
2.2 Center description and "Create asset" button
3. Remove "Burn Asset" from Assets section because this is action whic

[2018-06-28 04:21] gibbsfromncis commented on #1613
@sschiessl-bcp right. For now style-guide contains styles only for UI components we are going to use on bitshares-ui. Later I want to integrate it more close to bitshares-ui themes or even create separate repo with themes for bitshares-ui and bitshares-ui-style-guide where all info about theme will be placed in one json file.

[2018-06-28 06:36] gibbsfromncis commented on #1614
@startailcoon Added support of Collapses for UI & redesigned - https://styleguide.bitshares.org/

I'll close this task. If something wrong feel free to reopen

[2018-06-28 06:36] #1614 closed

[2018-06-28 06:56] sschiessl-bcp commented on #1629
**Asset Creation**

- Highlight the difference of SmartCoin and UIA and give an explanatory text
- Give a general explanation into permissions and flags of an asset

**Asset Update**

- Prepare two buttons for Claim and Fund fee pool, I think it should **also** be in here, additionally to those buttons in Asset View

[2018-06-28 08:57] clockworkgr commented on #1629
Agreed on "Burn asset" coming with a warning but should be moved out of the assets page completely since if I'm not mistaken it's not only the issuer that can burn an asset.

[2018-06-28 09:38] startailcoon commented on #1629
@clockworkgr indeed. Anyone that has the asset in their portfolio can burn an asset to remove it from their holdings.

Burn asset is more of an asset details function than an asset management function.

[2018-06-28 09:46] lilianwen opened #1630 "A TLS packet with unexpected length was received."
OS：ubuntu 16.04
branch:develop

when I run the command npm install,an error occurs:

npm ERR! git clone --template=/root/.npm/_git-remotes/_templates --mirror https://github.com/cryptonomex/jdenticon.git /root/.npm/_git-remotes/git-https-github-com-cryptonomex-jdenticon-git-0700db8c: Cloning into bare repository '/root/.npm/_git-remotes/git-https-github-com-cryptonomex-jdenticon-git-0700db8c'...
n

[2018-06-28 10:14] startailcoon commented on #1628
@compumatrix can you please specify where exactly you have this issue, and what version of the application you are running?

By the looks of your comment I assume it's on `/deposit-withdraw` your having an issue when selecting Blocktrades as a bridge?

![bild](https://user-images.githubusercontent.com/12114550/42028503-baa87ce4-7acc-11e8-82d1-8d3245deb244.png)

[2018-06-28 11:04] startailcoon commented on #1577
Now, lets try this again then.

I've removed the disabled button on error, because this means an order can be set to a ratio where it can be margin called directly, if the user knows what he does. If the core doesn't like the operation it will fail in any case. We still display error messages, notifying the user about the possible issue with the new ratio.

The current math is as follows, which is

[2018-06-28 11:18] abitmore commented on #1577
- If **new** position is in margin call **// which means new rate <= MCR**
  - If new rate <= old rate
    - show error `can't be below old rate on margin call`
  - else if new debt > old debt
    - show error `can't increase debt on margin call`
  - **else**
    - **show error `below MCR`**
- else
  <del>- if new rate < MCR</del>
    <del>- show error `below MCR`</del>
  - <del>else</del> if new

[2018-06-28 11:32] abitmore commented on #1629
Please be aware that each "save" involves a transaction fee, specifically, asset updating fee, which is a bit expensive. User may want less cost rather than more convenience.

[2018-06-28 11:39] startailcoon commented on #1577
Yeah, well. That works to 👍

[2018-06-28 11:42] sschiessl-bcp commented on #1407
Fixed couple of things in the branch. I will also add that the reconnection only triggers when the user is actually looking at the screen.

Also addresses #1443, I have implemented incremental pinging and adds a Ping nodes button. Spent 4.5 hours so far.

Following questions I have:
- the reconnection only triggers when auto selection is on
- on startup quick ping strategy is used, when user click

[2018-06-28 11:43] sschiessl-bcp commented on #1443
The ping strategy doesn't matter too much as long as it its the same for all nodes as its only a metric for comparison.

[2018-06-28 11:44] sschiessl-bcp commented on #1353
With my commit a LoadingIndicator will appear when the UI is reconnecting

[2018-06-28 11:44] sschiessl-bcp commented on #1074
This was adressed by adding the "Connecting to ..." LoadingIndicator. My commit merely fixed a small bug in it.

[2018-06-28 11:46] startailcoon commented on #1577
Well, that wouldn't work as

`position is in margin call` != `new rate <= MCR`
`position is in margin call` == `original position is in margin call`

One is taken from what the original position is currently at, and the other what the user sets it to in the form.

Only original positions that is already in margin call are allowed to update the new rate to a value below the MCR.

This doesn't make

[2018-06-28 11:57] compumatrix commented on #1628
It is on Bitshares Version: 180526 On Blocktrades Gateway. I wanted to send the exact amount of bitcoins. But it goes blank the minute I type.

![gif](https://user-images.githubusercontent.com/2491389/42032749-3453ef5c-7b0d-11e8-9d28-0101a05d069a.gif)

[2018-06-28 13:22] xiangxn commented on #1575
After analyzing the C++ code, in fact, this issue not needs to be serialize by the "extension" type, and the object can be assigned directly.

[2018-06-28 14:33] startailcoon commented on #1577
Another update as a margin call order would not show a `near MCR` error.

**NOW** I belive this should be done.

[2018-06-28 16:28] svk31 commented on #1630
Never seen that, might be a node/npm issue if you're using an old version. Try upgrading if that's the case

[2018-06-28 16:31] svk31 commented on #1629
Agree with abit, don't force saving on each tab.

Ideally we'd have a nice summary of the intended changes before submitting.

[2018-06-28 16:32] svk31 commented on #1353
I actually already fixed this with the upgrade to react router 4.

[2018-06-28 16:34] startailcoon commented on #1629
@svk31 we have a summary since before that I did a while ago. We never did an update to the UI back then though.

I agree that we shouldn't make a transaction on each tab change. Tabs are there just to make it more convenient for the user. We shouldn't force users to do something they don't need due to the UI layout.

[2018-06-28 19:41] startailcoon commented on #1621
I'm okay with increased hours, it's an issue that wasn't possible to forsee and that was found now.

@wmbutler you have final say in this I'd think.

[2018-06-28 21:14] gibbsfromncis commented on #1629
I've updated "Burn asset" requirement. I think we should remove it from Assets at all because it doesn't  relate to Asset management

[2018-06-28 21:15] gibbsfromncis commented on #1629
@abitmore can you please clarify what is the difference between Defund fee pool and Claim Fee Pool?

[2018-06-28 21:57] #1577 closed

[2018-06-29 07:18] startailcoon commented on #1629
@gibbsfromncis if I'm not mistaken, one is for taking out the trading fees for the asset. Like an asset that has 0.2% fee. The other is to take out BTS, which is a new function.

[2018-06-29 07:40] sschiessl-bcp commented on #1380
If this is fixed already in bitsharesjs please close. If not, consider my fix #1434

Even if it's already fixed, it gives less code repetition.

[2018-06-29 07:41] sschiessl-bcp commented on #1485
I assume you had the exchange tab open there?

#1407 automatically reconnects, I want to include active tab recognition as well.

[2018-06-29 08:33] startailcoon opened #1632 "[2][gibbsfromncis] Implementing Ant Popover to UI Styleguide"
Implementing AntD component popover for Issue #1477

https://ant.design/components/popover/

1h for UX
1h for UI

[2018-06-29 10:14] sschiessl-bcp commented on #1353
How did you implement the feedback?

[2018-06-29 10:18] sschiessl-bcp commented on #1407
Added connectivity check when user switches between tabs / was idle. Tried manual implementation on blur/focus until I found ifvisible package, roughly an additional hour.

[2018-06-29 10:40] sschiessl-bcp opened #1634 "Removing known SCAM coins and accounts"
**Is your feature request related to a problem? Please describe.**
The UI is already highlighting suspected scam accounts
![image](https://user-images.githubusercontent.com/33128181/42088170-f115514a-7b98-11e8-9348-e34fbb4da17e.png)
and it should include the same feature for assets. I haven't checked the actual implementation there yet but I envision to have single source of truth for both scammer

[2018-06-29 10:46] sschiessl-bcp commented on #1634
@bitshares/ui-dev

[2018-06-29 18:34] happyconcepts commented on #1634
Before you stigmatize all 100% market fee coins I would ask you to at least show us an example of where there is a problem.

A few of my clients are at MVP with flat fee business models on bitshares, and it requires setting 100% to do that. So what you propose basically pulls the rug out from under those potential businesses.

[2018-06-29 18:36] happyconcepts commented on #1570
Why would I care at this point after I fixed #1529and didn't get paid the agreed bounty? Even after the fact haters like @startailcoon are in the pull request saying that my code doesn't work, when it does.

[2018-06-29 18:37] happyconcepts commented on #1570
Since mine were the only keys stolen in the hack and no one else seems to care, I am closing this issue,

[2018-06-29 18:37] #1570 closed

[2018-06-29 20:00] startailcoon commented on #1575
I can work on this for next milestone 180715, unless someone else wants to take this

[2018-06-29 20:00] startailcoon commented on #1576
I can work on this for next milestone 180715, unless someone else wants to take this

[2018-06-30 12:33] snakebitekit commented on #1593
@startailcoon
one more question, please
how is outputMemo generating in withdraw interface?
because i'm getting `'monero:addr....'` but `'xmr:addr...'` is needed, wanna debug this

[2018-06-30 14:14] wmbutler commented on #1634
@happyconcepts can you further explain a "flat fee business model"?

[2018-06-30 14:18] wmbutler commented on #1353
If this was merged, please close.

[2018-06-30 14:29] wmbutler commented on #1485
I'll break this down more comprehensively.

Steps to reproduce.

1. Load the wallet.bitshares.org
1. Confirm node is connnect in lower right
1. Open inspector (network)
1. Disable WIFI and Ethernet connection
1. Observe that it takes about 60 seconds for DISCONNECTED state in lower right corner
1. Turn WIFI or Ethernet back on
1. Observe that browser never reconnects to socket
1. Refresh the brows

[2018-06-30 14:31] wmbutler commented on #1380
We can close this as resolved but #1485 still stands.

[2018-06-30 14:31] #1380 closed

[2018-06-30 14:32] wmbutler commented on #1613
Please post your expected hours for this.

[2018-06-30 14:34] #1621 closed

[2018-06-30 14:38] wmbutler commented on #1074
Closing this a duplicate of #1407

[2018-06-30 14:38] #1074 closed

[2018-06-30 14:39] wmbutler commented on #1443
I do think that latency should reflect current latency and not just the recorded value when we first connect to a node. Does anyone else agree?

[2018-06-30 14:41] wmbutler commented on #1622
I agree with @fractalnode. Maybe a link to the help section with a practical explanation of how investors can use the ratios to their advantage.

[2018-06-30 14:43] wmbutler commented on #897
@startailcoon if this issue is fixed, please close and open a dust orders issue.

[2018-06-30 14:45] fractalnode commented on #1503
basically, I meant a much simpler version.
In fact, something like that would be enough
![image](https://user-images.githubusercontent.com/20418259/42126208-9fdbea18-7c84-11e8-8ae9-301c3ad1183c.png)

[2018-06-30 14:45] wmbutler commented on #1625
Can we recognize cases where the wallet is empty with no keys and disable the download of the .bin file or better yet, not present that as an option? I view this as a fairly serious bug as it relates to UI.

[2018-06-30 14:47] wmbutler commented on #1503
This definitely needs UX proposed first and should fit into the Exchange redesign with ANT.

[2018-06-30 14:49] wmbutler commented on #1462
Unassigned @kapeer42

[2018-06-30 14:49] wmbutler commented on #1131
Needs UX submitted first.

[2018-06-30 14:50] fractalnode commented on #1634
I propose to approach this from a different angle
[code]
https://github.com/bitshares/bitshares-core/issues/1044

[2018-06-30 14:51] wmbutler commented on #1202
Possibly retrieve and display the assets from localstorage first and then merge in the price updates without freezing the UI.

[2018-06-30 14:56] wmbutler opened #1636 "[2][gibbsfromncis] Improved Witness Information Page"
See UX at #1436

[2018-06-30 14:57] #1436 closed

[2018-06-30 15:00] wmbutler commented on #1610
Somebody want to claim this?

[2018-06-30 15:02] wmbutler commented on #1477
Do hours need to be adjusted here?

[2018-06-30 15:05] wmbutler commented on #1607
@Bluffet please close if resolved.

[2018-06-30 15:06] wmbutler commented on #422
@gibbsfromncis did you resolve this in a different issue?

[2018-06-30 15:13] wmbutler commented on #1596
Good dialog. This clearly needs UX before we move forward.

[2018-06-30 15:14] wmbutler commented on #1530
Pending @svk31

[2018-06-30 15:16] #1560 closed

[2018-06-30 15:18] wmbutler opened #1637 "[2] Staging Test Checklist creation"
Create a checklist of items to test in staging. Create it as a github issue that we can duplicate and extend each sprint.

[2018-06-30 15:31] startailcoon commented on #897
Closing as no additional feedback has been submitted.

[2018-06-30 15:31] #897 closed

[2018-06-30 15:31] wmbutler commented on #354
Blocks are searchable but the UX could use some improvement. Agreed that txid needs to be searchable.

![block](https://user-images.githubusercontent.com/1254810/42126664-bf3bc0c4-7c50-11e8-9fbf-04fece4f22c9.gif)

[2018-06-30 15:34] wmbutler commented on #1543
Increased to 2.5

[2018-06-30 15:34] startailcoon opened #1638 "[5] Handle Exchange Dust Orders"
As mentioned in issue #897

When orders on the exchange is dust, it can solved by the following suggestion

[2018-06-30 15:35] wmbutler commented on #1559
Closing per @gibbsfromncis. Please re-open if disssatisfied.

[2018-06-30 15:35] #1559 closed

[2018-06-30 15:39] wmbutler commented on #1547
Was your time fair on this?

[2018-06-30 15:41] startailcoon commented on #1477
@wmbutler I've been taking a little "creative" freedom on this and will post an update with a push of the code that can be explored by the devs and experienced users.

May need to be pushed to next milestone due to some issues with CSS and AntD components.

[2018-06-30 15:46] startailcoon commented on #1547
I still need to fix the remaining OPs. Keep this open and increase to 3 hours in total.

It will need a second PR to be done.

[2018-06-30 16:00] sschiessl-bcp commented on #1634
Either way, sorry for doing generalizations.

 The idea is that every coin/account that would be considered receives an issue that allows discussion. Your use case would of course be heard @happyconcepts.

We don't need to discuss this in here, this issue is to create a general framework for it.

[2018-06-30 18:42] luka-magnotta commented on #1593
@snakebitekit
I believe you're looking for https://github.com/bitshares/bitshares-ui/blob/51734c9ec558486da08c0f95f36ef04be2a0e1a1/app/components/Dashboard/SimpleDepositWithdraw.jsx#L187

[2018-06-30 19:40] svk31 commented on #1443
I believe that's already the case, the latency is updated whenever you connect to a node.

[2018-06-30 20:30] svk31 commented on #1202
I'm not sure the sorting is still unstable, I think that was solved. However the performance is definitely an issue. It's partly because so much data needs to be fetched, and partly because rendering long lists of pretty much anything has bad performance. Ideally we'd implement a solution to both problems using something like this library to reduce the amount of rows being rendered: https://github

[2018-06-30 20:35] startailcoon commented on #1131
UX should be part of #1629 #1604

[2018-06-30 20:37] startailcoon commented on #1593
@snakebitekit @luka-magnotta that is not the place this is handled for the modal. I'll get back to you as soon as I can.

[2018-06-30 22:07] startailcoon commented on #1477
## Quick Preview
Here's a quick preview of the current state of the design. I've marked the visible changes.

### NOTE: This is not a final product

![bild](https://user-images.githubusercontent.com/12114550/42129343-9f23925e-7cc2-11e8-870f-39f62fdf0e98.png)

[2018-06-30 23:04] sschiessl-bcp commented on #1477
Nice!

So this is basically 5 areas that are predefined in size and location. How do you feel about putting that in a user configurable space (I think that would be awesome), like https://www.npmjs.com/package/react-grid-layout?

[2018-07-01 02:49] ares89 opened #1639 "Failed to compile.@2.0.180629"
**Describe the bug**
I git clone the repository and checkout the branch 2.0.180629.
then I follow the Readme file, install and start. but I get an error "**Failed to compile.**"

My OS:Windows_NT 10.0.17134
using npm@5.6.0
using node@v8.11.2
BitShares2-light@2.0.180629

Following is "npm start" output.

So how to solve this?thank you.

`npm start`

[2018-07-01 05:45] startailcoon commented on #1477
@sschiessl-bcp that package looks like an awesome thing, but may be a little out of scope right now. We should have it in mind in the future though, really.

[2018-07-01 05:51] sschiessl-bcp commented on #1477
Implementing those 4 different ways to arrange the components like shown in the mockup manually is effort in veign I think.

I would suggest to only implement one arrangement then and implement this or another framework consecutively, which will give the other arrangement basically for free.

I disagree about having it in mind for the future..it seems it also facilitates responsiveness

[2018-07-01 05:59] sschiessl-bcp commented on #1613
No expected hours since this facilitates my commercial use of the wallet

[2018-07-01 07:04] startailcoon commented on #1477
I need some guidance here as I've already invested several hours in this.

Implementing the suggested framework would be possible, but hours would surely increase.

I agree that it would be beneficial to use this, but it would make the UX inaccurate.

Do we want this? Increased hours and time frame would be required if so.

@ahdigital @wmbutler

[2018-07-01 08:45] startailcoon opened #1640 "Implementing React Grid Layout"
With the usage of https://www.npmjs.com/package/react-grid-layout we can easily let the user rearenge the cards of data.

Part of discussion on #1477

## Test Code
A small test shows this code works well, but needs to be worked on to handle what we need.

[code]

[code]

[2018-07-01 09:18] svk31 commented on #1639
Your need to install the node modules with 'npm install' first

[2018-07-01 10:10] gibbsfromncis commented on #1604
@wmbutler I want to use steps only for Assets Creation. On Asset Manage/Update screens we will use simple tabs. Or you are talking about when user want to come back to previous steps when creating asset?

[2018-07-01 10:19] gibbsfromncis commented on #422
@wmbutler me and @startailcoon decided to fix what we need on specific file on bitshares-ui like style-guide-fixes.scss so I will be able to delivery this issue on the next sprint

[2018-07-01 10:20] gibbsfromncis commented on #1503
@wmbutler I'll work on UX and UI both.

[2018-07-01 11:35] shulthz commented on #1615
can't creat a new worker!!!

[2018-07-01 11:38] sschiessl-bcp commented on #1615
Can you be more precise please? The issue talks about market orders, you talk about worker proposals?

[2018-07-01 11:41] shulthz commented on #1615
OK, SORRY

[2018-07-01 11:44] sschiessl-bcp commented on #1615
What is it.that is not working?

[2018-07-01 11:46] shulthz commented on #1615
![1](https://user-images.githubusercontent.com/34892308/42134114-7927d11e-7d67-11e8-870b-f70f292af0b2.png)

[2018-07-01 11:54] sschiessl-bcp commented on #1615
How did you get to that screen?

[2018-07-01 11:57] shulthz commented on #1615
When i click the ”creat a new worker“ in the voting，then turned to this page.

[2018-07-01 12:57] svk31 commented on #1615
Probably a missing route, it needs a new issue though since it's completely unrelated to this one.

[2018-07-01 13:38] CryptoKong opened #1641 "Add Gateways to deposit/ withdraw page"
**Is your feature request related to a problem? Please describe.**
Cryptobridge and easydex are missing from the drop down menu which allows you to select deposit/ withdraw gateway.

**Describe the solution you'd like**
Cryptobridge & EasyDex should be added to the list.

![image](https://user-images.githubusercontent.com/33036236/42134957-5aad3c86-7d3c-11e8-93a6-64fe69759d03.png)

[2018-07-01 13:44] CryptoKong opened #1642 "[8] Customisable asset tab on exchange page"
**Is your feature request related to a problem? Please describe.**
On the exchange page there are various asset tabs, eg: bitUSD, bitCNY, open.BTC, bitBTC, other. Some of these tabs are never used and others are often required rather than jumbling it all up in "other".

**Describe the solution you'd like**
I would like to be able to remove tabs like bitCNY and bitBTC if I want and add another tab

[2018-07-01 14:30] wmbutler commented on #1477
@sschiessl-bcp is probably right. We will likely get requests for combinations that we cannot predict.

[2018-07-01 14:36] wmbutler commented on #1202
I'll close this and open a separate issue for long lists of assets.

[2018-07-01 14:36] #1202 closed

[2018-07-01 14:39] wmbutler opened #1643 "[10][svk] Browser freezes while long lists of assets load"
**Describe the bug**
Long lists of assets take a while to render

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Portfolio with > 100 assets (billbutler - hidden assets tab)
2. Observe the time it takes for scrolling to begin

**Expected behavior**
Screen should show a loading indicator or should load gracefully in the background allowing the user to scroll.

[2018-07-01 14:41] wmbutler commented on #1443
I wasn't clear. I think the latency should reflect the immediate current latency, **not** limited to the value derived when the user first connected to the node. If I connect to the node on Tuesday and it's now Friday, I'd like to see the latency as it is on Friday.

[2018-07-01 15:55] wmbutler commented on #1592
Please post a licecap and include version of your current client.

[2018-07-01 16:51] abitmore commented on #1575
Serialization is needed for signing the transaction. @xiangxn your code pasted in this issue perhaps works for jsonification, but I believe it won't work for signing. Can you please provide a test case?

[2018-07-01 17:15] abitmore commented on #354
@wmbutler the link on block number is terrible UX. I do want a way to search blocks, but I didn't realize I need to click the number.

By the way, searching by TXID need to query Elastic Search, but not witness_node.

[2018-07-01 17:34] abitmore commented on #1634
@wmbutler: it's a smart idea. Because order creation fee is much lower than transfer fee, it can be (ab)used by businesses as payment method. By setting a 100% market fee, it's guarantees that nobody else can create another order on the market competing with the asset issuer.

[2018-07-01 19:14] EasyDexOOD commented on #1641
Cool... can you let us know when that's ready and how to get added to it?

[2018-07-02 01:18] wmbutler commented on #1641
It's already active. Here is the Wiki:

https://github.com/bitshares/bitshares-ui/wiki/Gateway-Integration-Requirements

[2018-07-02 01:19] #1641 closed

[2018-07-02 01:32] wmbutler commented on #1634
You are saying that the asset can be abused by businesses as a payment method? You mean arbitrary businesses or the business that created the asset?

Hrmmm, I thought it was the nature of markets to compete. I'm not trying to argumentative. Just trying to understand the various use cases and how we can resolve them.

In these cases, are the issuers of the asset electing not to use the exchange at

[2018-07-02 01:34] wmbutler commented on #354
@abitmore as stated, I agree it could use some improvement :) Not sure if it's terrible..

[2018-07-02 07:28] svk31 commented on #1443
That's what I'm saying, the value is updated when you reconnect, so you see the value from Friday in your example.

[2018-07-02 08:16] clockworkgr commented on #1625
@wmbutler well. it's both a bug and expected behaviour. Any time you create a new local wallet, it's empty (except if you're creating it as part of the process for creating a new account for the very first time).

So there's 2 aspects to this.

1. The process described by me and @startailcoon at first to ensure the user can import his potentially existing cloud keys to the newly created local wall

[2018-07-02 12:09] svk31 commented on #1530
The overflow error happens before trying to process the transaction, that's why you can't catch it. I've made some minor changes to how the issue asset method is used and handles errors, for now it just pops up a notification that the asset issue failed.

[2018-07-02 13:07] ares89 commented on #1639
maybe it's because of the version of git module?

[2018-07-02 14:11] jonnybitcoin opened #1644 "Remove the BIT.BTC Tab"
BIT.BTC is barely used by anybody has it is not a reliable way to deposit and withdraw on to the BitShares blockchain. It never has been, please look at 24hr volumes for BIT.BTC, smartcoins only work well for non digital, low volatility, assets like fiat and precious metals.
Removing this tab won't stop anyone from trading BIT.BTC as the other coins it does occasionally trade with have their own t

[2018-07-02 14:52] sschiessl-bcp commented on #1443
I have removed updating the latency when connections are established because it is not a comparable measure to the ping from the ConnectionManager.

We could add some ping the node via the ConnectionManager on defined user events to update the latency.

[2018-07-02 14:55] sschiessl-bcp commented on #1485
This is included in the PR for #1407

[2018-07-02 15:59] gibbsfromncis commented on #1530
@svk31 Do I understand correct that you already fixed this bug and I should just unassign myself and assign you?

[2018-07-02 16:33] wmbutler commented on #1443
@svk31 what if I never reconnect (i.e. I hold the socket connection for 4 days without ever reconnecting).

[2018-07-02 16:34] wmbutler commented on #1644
I think this falls into users being able to arbitrarily add/remove main tabs. #1642

[2018-07-02 16:34] #1644 closed

[2018-07-02 18:02] happyconcepts commented on #1634
So a classic example would be the network fee to place buy orders via `limit order create`. The same fee amount (e.g. flat) is applied regardless of the amount of the order.

Hey @wmbutler @sschiessl-bcp @svk31 on a side note can you review #1529 with me to reinstate the agreed, original [2] bounty? These browser timezone issues are tricky at best and messy at worst, which I knew at the outset, bu

[2018-07-02 19:54] gibbsfromncis commented on #1634
@happyconcepts please move your discussions about another issue in this issue.

[2018-07-02 20:01] gibbsfromncis commented on #1643
@svk31 Do you have an idea, does it freeze because of much rerenders or there are some other reason?

[2018-07-02 20:03] gibbsfromncis commented on #1636
On the mentioned UX was used old styles. Please make sure to use new styles from style-guide (like tables) - https://styleguide.bitshares.org/#/dark

[2018-07-02 20:04] gibbsfromncis commented on #1636
I've decided to take it

[2018-07-02 20:08] gibbsfromncis commented on #1637
@wmbutler do you mean like a simple list of features we already have to test them before deploy like:
(example)
- [ ] Create account via cloud wallet
- [ ] Create account via local wallet
etc.

[2018-07-02 20:16] startailcoon commented on #1610
![bitshares-scrolloncreate](https://user-images.githubusercontent.com/12114550/42184356-8ac87606-7e45-11e8-9b3e-d87da7154d88.gif)

[2018-07-02 20:16] #1610 closed

[2018-07-02 20:29] #1510 closed

[2018-07-02 20:35] svk31 commented on #1634
@happyconcepts You may not have noticed but as startail pointed out your PR for that issue actually caused 'invalid date' to appear in Firefox, so I fixed the issue myself in a new commit. You'll still get the 0.5 hours but please stop asking for 2 hours for a PR that in the end did not even solve the issue.

[2018-07-02 20:37] CryptoKong commented on #1642
Yes as you see fit, it was just a suggestion on my part and appreciate it being taken on board. Thanks. :)

[2018-07-02 20:44] svk31 commented on #1639
Did you try my suggestion? Cause the error clearly states you're missing some of the dependencies..

[2018-07-02 22:12] sschiessl-bcp commented on #1634
First candidate: TELETON

[2018-07-02 22:12] abitmore commented on #1634
@wmbutler yes. They're effectively transferring funds with market creation fee rate which is much lower according to current fee schedule.

[2018-07-03 03:03] gibbsfromncis commented on #1636
@wmbutler Unfortunately Dominic didn't provide UX for Card View of witnesses:

<img width="1401" alt="screenshot 2018-07-03 05 01 58" src="https://user-images.githubusercontent.com/35899973/42196447-45fb03de-7e7e-11e8-9492-b3ae57b540ed.png">

Should I leave Card View as it or we can redesign it in scope of this issue? If we are going to redesign Card View too please set hours for UX to this issue

[2018-07-03 03:20] gibbsfromncis commented on #1604
@wmbutler Idea of using Steps is to help user prevent mistakes, miss something or do unnecessary action like scroll up and then click on the next tab. Also Steps for creation process more user-friendly. I hate when UX expect something from user like "scroll up and click on the next tab". We should limit user in his own decisions and show him what he should do next.

From technical perspective and

[2018-07-03 06:30] svk31 commented on #1530
I just investigated the error catching you pointed out, and once fixed I simply moved the existing error message to the correct location.

I guess that did fix the issue, in that case the hour estimate was too high, only took me 45mins or so. You probably spent some time on this as well though so we can add that.

[2018-07-03 06:33] svk31 commented on #1644
@wmbutler if so then add a discussion of what the default tabs should be to that issue.

[2018-07-03 06:38] svk31 commented on #1643
Partly because of the list itself and partly because of all the market and asset data that needs to be frtched, hard to say which one is more important. You could try disabling the market stats checking when viewing bill's account.

Pagination/virtualized rendering would solve the issue imo. However, sorting by value for example depends on having all the market data which in turn requires all the

[2018-07-03 06:40] svk31 commented on #1636
I say we just remove the card views. The committee member page also uses the same structure and could be updated as well.

[2018-07-03 09:39] sschiessl-bcp commented on #1443
@wmbutler How often and when do you think pinging the nodes is appropriate?

[2018-07-03 09:50] sschiessl-bcp commented on #1634
Before we get further into discussion of actual assets, this issue is to decide if we want such a feature in the UI.

I imagine:
 - if the market fee is above a certain %, always notify the user (non invasive) to double check what he is doing
 - if the asset is on the blacklist, notify the user when transferring (invasive) , viewing balance (non-invasive) and trying to trade (invasive), additional

[2018-07-03 10:38] sschiessl-bcp commented on #1207
Are those tests included in the UI? Can someone point me to it please?

With the new release cycle this should be revisited!

[2018-07-03 10:39] sschiessl-bcp commented on #1203
With the new release cycle automated and mandatory manual tests should be conducted that every release needs to pass.

What is the current stage of this issue?

[2018-07-03 10:45] sschiessl-bcp commented on #1062
@startailcoon

Has this been picked up for your restyling? If not, I could evaluate after you are done and work out if anything should be added from here.

[2018-07-03 10:55] sschiessl-bcp commented on #776
Is this still desired?

[2018-07-03 10:56] sschiessl-bcp commented on #769
@wmbutler

I assume with the new owner of bitshares.org and their own efforts for a new landing page this can be closed?

[2018-07-03 10:57] sschiessl-bcp commented on #640
I assume this is outdated?

[2018-07-03 11:04] sschiessl-bcp commented on #44
Which is the duplicate issue here?

I would be interested to start on working how the elastic search database can finally be integrated from a code framework point of view.

[2018-07-03 11:06] sschiessl-bcp commented on #30
I don't think that this should keep UI implementation for this feature to happen. I'd be happy to look into it again if wanted?

[2018-07-03 11:08] sschiessl-bcp commented on #68
Anyone working on this?

[2018-07-03 11:10] sschiessl-bcp commented on #554
@wmbutler What storage did you imagine to be used to store the old memo key?

[2018-07-03 11:41] hubba1 opened #1647 "why the hell stunt the growth by implementing a rule of one account per IP address??"
and why would you IP addresses be looked at in a decentralized ecosystem??????????

this is total BS

[2018-07-03 11:59] pg25blue opened #1648 "why do you need to see my ip address when I am using a decentralised exchange and why are you restricting us to one IP address as my wife also has her own account?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-07-03 12:04] f30d opened #1649 "Shitty 1 ip per account rule"
Being called as Decentralised exchange and then coming up with a draconian rule is more like contradicting yourself and your own policy.
you should not limit or control sign ups with 1 ip per account rule. shared internet is what many using and some use static ip this rule will kill this whole project.
May be thats what you want ?

[2018-07-03 12:30] IngaBMolin opened #1650 "Why the 1 dex per IP rule? I want to open more than one DEX account but now I can't..."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-07-03 12:33] IngaBMolin opened #1651 "I do not like the idea that you need to see my IP! What interest do you have in where I am from?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-07-03 13:31] tex7979 opened #1652 "why 1 ip address and why do you need to even see my ip address."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-07-03 13:50] AHeatley73 opened #1653 "Only one"
Only one account per IP address is Ludacris and unnecessary. What is it to accomplish. I see it as only able to have one bank account per mailing address. Why are IP addresses an issue. Multiple families do stay in one home.

[2018-07-03 14:16] lizamae opened #1654 "New Account Rule"
Hello Bitshares,
Can you please explain why the new rule allowing one one DEX account per IP address when Bitshares is a Decentralized Platform?

Thank you.

Peace,
Liza

[2018-07-03 14:19] ares89 commented on #1639
I did  ``npm install`` before using ``npm start``

[2018-07-03 14:21] jealuc opened #1655 "Why 1 account per IP address ?"
**Is your feature request related to a problem? Please describe.**
1 account per IP is really a very bad move and impedes growth. It will result in more people not using Bitshares. Also it hurts privacy. It is not possible to understand why that move would be implemented in a decentralized platform.

**Describe the solution you'd like**
Removing the 1 account per IP restriction.

**Describe altern

[2018-07-03 14:49] cniijane-compumatrix opened #1656 "New IP Rule unfair to families"
Your new "One account per IP" is unfair to families that share the same IP.    There are three adults in the family and a few others that come and use the same IP at my home. Then there is the issue of having a separate account to do the majority of trading and wanting a "holding" account for security.  You have swept away the ability for both to be handled with this new "rule".  And given Bitshar

[2018-07-03 14:54] abitmore commented on #776
Yes.

[2018-07-03 15:23] svstoneage commented on #1655
Agreed.  Only one account per isp is crazy...  I do understand the reason.. Upgraded accounts earn fees and those fees can be stacked.
Solution...  Only one UPGRADED  account per isp.  As many 'free' accounts per isp as a member would like.

[2018-07-03 16:07] DustBuster1 commented on #1656
New IP Rule unfair especially when we have family members living with us....please reconsider this rule.

[2018-07-03 16:09] DustBuster1 opened #1657 "New IP Rule unfair!"
New IP Rule unfair especially when we have family members living with us....please reconsider this rule. Why do you need to know my IP address, it is really none of your business where I am from.  This is a decentralized system no need for the IP address.

[2018-07-03 16:43] michaelgeneubass opened #1658 "ISSUE WITH IP RESTRICTION AND CENTRALIZATION"
Why am I being restricted to only one account from my IP address, and why is my IP address being looked at to begin with? This is not decentralized ! Is this company gathering info to turn over to the highest bidder? Are you selling us out for profit? This is very unsettling and disgraceful and needs to be handled at once !

[2018-07-03 16:53] gp1111 opened #1659 "Why would you even be looking at our IP address being a decentralized area. Not fair to family members using this . PLEASE CHANGE THAT ASAP."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-07-03 16:54] gp1111 commented on #1659
Why would  you even be looking at our IP address anyway being a decentralized area  ??  Not fair to family members . PLEASE CHANGE THIS ASAP .

[2018-07-03 17:16] andott opened #1660 "New IP rule? That is totally unfair to family members!!!!"
Why are you limiting family from using this site?
Obviously anyone using computers from same home will have this issue.
This is insane.
And it is no way to grow your business - quite the opposite!
This needs to be changed NOW!

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2018-07-03 17:39] fingrowth opened #1661 "IP Rule"
We have a number of people living in the same house, all sharing 1 pc. How can all have equal opportunity with this IP rule?
As a decentralized company, why would you need our IP details anyway?
Please revise this?

[2018-07-03 18:21] #1647 closed

[2018-07-03 18:50] #1648 closed

[2018-07-03 18:50] #1649 closed

[2018-07-03 18:50] #1650 closed

[2018-07-03 18:50] #1651 closed

[2018-07-03 18:50] #1652 closed

[2018-07-03 18:50] #1653 closed

[2018-07-03 18:50] #1654 closed

[2018-07-03 18:50] #1656 closed

[2018-07-03 18:50] #1657 closed

[2018-07-03 18:50] #1658 closed

[2018-07-03 18:50] #1659 closed

[2018-07-03 18:50] #1660 closed

[2018-07-03 18:50] #1661 closed

[2018-07-03 18:51] sschiessl-bcp commented on #1655
Please do not open another issue on that, keep the conversation in here.

[2018-07-03 19:13] clockworkgr commented on #1655
Hello to everyone in the Compumatrix community that raised this issue.

Although we appreciate your enthusiasm, it makes the UI team's work much much harder if you are opening multiple tickets for the same issue, so please conversation in one place from now on.

Now, to the issue at hand, as I explained at your Discord server, BTS accounts are NOT free. There is in fact a registration fee attached

[2018-07-03 19:23] sschiessl-bcp commented on #1647
#1655

[2018-07-03 19:23] sschiessl-bcp commented on #1661
#1655

[2018-07-03 19:23] sschiessl-bcp commented on #1660
#1655

[2018-07-03 19:24] sschiessl-bcp commented on #1659
#1655

[2018-07-03 19:29] sschiessl-bcp commented on #1655
I reopened this issue for visibility of Alex's statement if any more Compuceeds members are coming

[2018-07-03 19:31] hubba1 commented on #1655
I would still like to know WHY our IP addresses are being looked at...that is un-nerving

[2018-07-03 19:32] hubba1 commented on #1655
BTS discord channel isn't welcoming of inquiries ....kind looked at like a cow with two heads...

[2018-07-03 19:41] clockworkgr commented on #1655
@hubba1 I explained why IP addresses are looked at above. To stop automated account creation that would drain the faucet.

If that is unnerving you should take a look at: https://www.compumatrix.com/privacy/

I don't remember any inquiry from compumatrix members and I'm a mod there. Community discussion is more active on telegram to be honest.

[2018-07-03 21:17] clockworkgr commented on #1655
Your IP address is visible to anything you use / visit on the internet. The reference wallet faucet is very specific on what it's used for. If you don't like it, please petition compumatrix (whose privacy policy is much much worse) to run their own faucet instead of taking advantage of the community while fudding it at the same time.

[2018-07-04 04:04] gibbsfromncis commented on #1636
@svk31 is it proposal or already agreed decision to remove card view?

[2018-07-04 05:30] gibbsfromncis commented on #1530
@svk31 I've assigned you to this issue and splitted hours between both of us

[2018-07-04 05:31] #1530 closed

[2018-07-04 07:20] svk31 commented on #1636
It's a proposal from me since the data can be presented in a much cleaner way using tables like the proposed UX from ahdigital.

[2018-07-04 08:16] gibbsfromncis opened #1662 "[3] Tables Style-Guide improvements"
Working on this issue #1636 I've discovered that style-guide's Tables with sorting/filtering options doesn't have proper styles (dark columns when sorted, wrong color of sorting triangles) :

<img width="1381" alt="screenshot 2018-07-04 10 07 09" src="https://user-images.githubusercontent.com/35899973/42264832-12141a8e-7f72-11e8-979d-f1b1abd5456a.png">

To do:

- [ ] UX for tables with sorting & f

[2018-07-04 09:21] gibbsfromncis opened #1663 "Fix global tags usage on scss"
There is an example of issue using bitshares-style-guide in bitshares-ui: https://github.com/bitshares/bitshares-ui/issues/422#issuecomment-398548832

Global html selectors usage in scss in bitshares-ui breaks ant components. There is an example of usage style-guide Input component:

Original Input:
<img width="411" alt="screenshot 2018-07-04 10 45 14" src="https://user-images.githubusercontent.co

[2018-07-04 09:30] #1663 closed

[2018-07-05 07:53] sschiessl-bcp opened #1664 "[1] Modal styling"
The basic ConfirmModal currently looks like this:

https://user-images.githubusercontent.com/33128181/42172768-43d4f36e-7e1d-11e8-8e92-76c6cb4110e1.png

This issue is to update to new styleguide.

[2018-07-05 08:32] sschiessl-bcp commented on #1640
Currently evaluating

https://www.npmjs.com/package/react-grid-layout

https://github.com/caplin/FlexLayout

https://www.npmjs.com/package/react-golden-layout
https://golden-layout.com/

[2018-07-05 11:52] HarukaMa opened #1665 "Account history only requests first 100 items"
**Describe the bug**
Account history (activity) page only tries to get the first 100 items of history, regardless of server capacity.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Activity" tab of dashboard
2. The page only loads 100 items
3. Clicking on the arrow at the bottom doesn't trigger further loading action

**Expected behavior**
UI should try to load more history.

**Deskt

[2018-07-05 12:07] abitmore commented on #1665
It was for better performance, because API servers had performance issues when fetching data which is not latest (which has been fixed in a recent release).

Another thing is it requires too much RAM for API nodes to track a lot of account history data. I've created a pull request to track less data by default: https://github.com/bitshares/bitshares-core/pull/1120.

[2018-07-05 12:29] startailcoon commented on #1665
If I'm not mistaken, wasn't ES something that was mentioned as a solution for this before?

[2018-07-05 13:03] sschiessl-bcp commented on #1640
- https://github.com/caplin/FlexLayout
  Not responsive

- https://www.npmjs.com/package/react-golden-layout
  Unresolved issues with React 16

- https://www.npmjs.com/package/react-grid-layout
  No tabs support

[2018-07-05 13:03] sschiessl-bcp commented on #1640
Testing https://www.npmjs.com/package/react-grid-layout
![image](https://user-images.githubusercontent.com/33128181/42324810-9092c2fa-8064-11e8-8929-df18c90ec9dd.png)

Basic functionality is working, missing resize buttons

[2018-07-05 18:03] wmbutler commented on #1665
ES should be used to solve this in my opinion.

[2018-07-05 18:05] wmbutler commented on #1662
Can we agree to avoid zebra striped rows? This creates visual problems with a hover state.

[2018-07-05 18:06] wmbutler commented on #1636
I agree that removing the card views would be a good idea.

[2018-07-05 18:12] wmbutler commented on #554
I think the idea was to encrypt the old memo key with the new memo key and store it on-chain.

[2018-07-05 18:13] wmbutler commented on #68
No, but it's needed.

[2018-07-05 18:14] wmbutler commented on #30
Feel free, but without a window for backend changes, I don't see the point in expending a lot of effort here.

[2018-07-05 18:16] sschiessl-bcp commented on #554
Yea, but store it where? In a transfer to himself?

[2018-07-05 18:18] wmbutler commented on #44
We have a number of areas where search via ES would offer massive improvements:

- [ ] Dashboard -> Activity
- [ ] Exchange -> My Trades
- [ ] Exchange -> Market trades
- [ ] Explore -> Assets

These need to be broken into separate issues and worked. The tricky part is that they all need to be backwards compatible so if the ES server is inaccessible, the info can still be queried on-chain.

[2018-07-05 18:19] wmbutler commented on #554
Maybe as a memo in a transaction. This was suggested by either @svk31 or @abitmore a while back if memory serves.

[2018-07-05 18:21] #640 closed

[2018-07-05 18:22] #769 closed

[2018-07-05 18:23] wmbutler commented on #1062
I submitted a proposed style as the first comment here. I like it because it allows the order book to serve two roles. @startailcoon would love to see where you end up with this.

[2018-07-05 18:28] wmbutler commented on #1634
@happyconcepts credited you two hours but please note @svk31 comment. @sschiessl-bcp agreed on all three. Really need UX on those three first.

[2018-07-05 18:29] wmbutler commented on #1443
A ping is so trivial, maybe one every 60 seconds.

[2018-07-05 18:31] wmbutler commented on #1643
ES could possibly benefit this as well but seems to me that if we stored these assets in localstorage or indexdb and then let the merge of new data into localstorage happen first, we could avoid the browser freeze while fetching.

[2018-07-05 18:33] wmbutler commented on #1642
Default tabs can initialize the same as what they currently are, but any tab can be arbitrarily dismissed. Need a method to:

- [ ] Add a tab
- [ ] Remove a tab

[2018-07-05 18:34] wmbutler commented on #1604
If you want to use steps, I think I'd suggest a vertical steps rather than horizontal.

[2018-07-05 18:36] wmbutler commented on #1637
Yes, specific testable items.

[2018-07-05 18:52] HarukaMa commented on #1665
The problem here is the UI is only _requesting_ for 100 items, even if the server supports more.

We are writing a websocket proxy to temporarily address that before ES history APIs are in the core by redirecting current account history API requests to a ES backend, and found out that UI is only requesting for 100 items. When ES APIs are officially online this needs to be changed after all.

[2018-07-05 19:04] wmbutler commented on #1665
I don't fully agree...why stress out nodes for >100 items when ES will handle it with a sweat? I think limiting the requests to 100 for direct to the node will provide incentive for ES to become the preferred method. This is important for us to scale in a responsible manner.

[2018-07-05 20:38] HarukaMa commented on #1665
Abit has stated that the performance issue has been fixed in a recent release. @abitmore could you confirm it?

The second point he states will NOT stress the nodes more as it's a server-side configuration.

[2018-07-05 21:34] abitmore commented on #1665
The was a performance issue in bitshares-core which has been fixed with this PR: https://github.com/bitshares/bitshares-core/pull/628, included in `2.0.180328` release.

[2018-07-05 21:43] HarukaMa commented on #1665
Considering the following hardfork all nodes would have the fix, I think the "stressing" doesn't exist anymore and there is no point still request for 100 items only. It also makes full history node almost useless to UI users.

[2018-07-06 00:08] froooze opened #1666 "Summarize Total Open Orders"
With a lot of open orders you loose easy track how much is in the open orders.

Creating a summarize table before the open orders to get an overview.

Asset  |  Buy  | Sell |  Delta
 ---------| ------ | ------ | ------
BTS           |  400  | 100 |  300
Dollar        |  50    | 200 | -150
open.BTC |   0     | 0.01| -0.01

[2018-07-06 00:27] froooze opened #1667 "[0.25] change order of TRADE/CANCEL collumn in open orders"
I think the CANCEL and TRADE columns should not be at the end of the row, because they are often used and belong to the Order ID & DESCRIPTION.

New order should look like:
ORDER ID | CANCEL | DESCRIPTION | TRADE | PRICE | MARKET PRICE | VALUE

Or:
CANCEL | ORDER ID | DESCRIPTION | TRADE | PRICE | MARKET PRICE | VALUE

[2018-07-06 00:40] froooze commented on #1642
I am looking for a custom tab, which can save any trading pair and is not limited to a specific pair.

[2018-07-06 00:54] froooze opened #1668 "save switching trading pair status"
Switching the trading pair after every revisit is just annoying.

When I click to a trading pair the last switching state should be saved.

[2018-07-06 01:07] froooze commented on #1416
The UI / chart should just ignore orders under one BTS.

[2018-07-06 01:24] froooze opened #1669 "[1.5] Tradingview save template storage"
The trading view has the option to save a template, but last time the list was cleared and I had to redo the whole theme.

Are there any plans how this is moderated in the future?

[2018-07-06 02:00] froooze opened #1670 "missing BTS logo for window icon (Linux)"
The window icon on the Linux client does not show the BTS logo.

[img]https://s8.postimg.cc/9fyngqpkx/Windowicon-_BTS.png[/img]

[2018-07-06 05:43] startailcoon commented on #1638
Include #1416

[2018-07-06 05:50] startailcoon commented on #1666
This is a great idea. I think it would be more useful to have it before the open order table though.

We also need to make sure we have no performance issues with large open orders lists.

[2018-07-06 07:15] kohako commented on #68
While waiting for this update is there a way to view the market trades for a pair somewhere else ?

[2018-07-06 08:04] #1613 closed

[2018-07-06 08:40] startailcoon commented on #68
http://open-explorer.io/ is a good start to look at

[2018-07-06 09:25] svk31 opened #1671 "[0.25] Create worker returns a 404"
**Describe the bug**
Create worker no longer works

https://github.com/bitshares/bitshares-ui/issues/1615#issuecomment-401601984

Missing route after react-router v4 upgrade

[2018-07-06 09:26] #1671 closed, assigned to svk31

[2018-07-06 11:16] froooze commented on #1666
You are right the table fits better on the top.

[2018-07-06 17:41] sschiessl-bcp opened #1672 "[2] Orders Api"
To investigate

Christopher Sanborn:
I’m having trouble connecting the latest light-wallet to my recently updated witness (non-producing) and API node.  If I’m understanding the electron console errors correctly, it’s because of “Assert Exception: _orders_api:”

In the witness logs I see “!ec: websocket send failed: invalid state” and “{"msg":"invalid state”}” after “creating database api” and “fr

[2018-07-06 20:33] sschiessl-bcp commented on #1672
Abit More:
if orders_api is the issue, add it to api-access file

you may need to add grouped_orders to plugins

[2018-07-06 20:33] sschiessl-bcp commented on #1672
Is grouped mandatory? We might need to add fallback

[2018-07-06 20:39] abitmore commented on #1672
@sschiessl-bcp please check this and related commits: https://github.com/bitshares/bitsharesjs-ws/commit/d00716f4bb7c9e50b0ecabc0a2d0cb2fa40a2378

[2018-07-06 20:42] sschiessl-bcp commented on #1672
I have seen orders_api error on couple nodes. I assume it's not on per default @abitmore ?

[2018-07-06 21:00] abitmore commented on #1672
@sschiessl-bcp it's enabled by default, but only for new API nodes or nodes didn't use `plugins` option.
* when upgrading a node from an old version, if `plugins` option is used, need to manually add `grouped_orders`;
* the plugin is added in `2.0.180328` release, I guess some API nodes haven't upgraded.

[2018-07-06 21:04] svk31 commented on #1672
I made it mandatory to basically filter out nodes that had not upgraded yet. Last few days I've also seen some issues with nodes running without market_history enabled which the GUI requires to run, should make that mandatory as well.

[2018-07-06 21:53] abitmore opened #1673 "[2.5][kapeer42] Permanently reject a proposal"
**Is your feature request related to a problem? Please describe.**
There is a "proposal_delete_operation" in the core, although a little buggy when using on multi-sig accounts, it would be quite easy and useful for normal accounts (e.g. to fight scams/phishing). Especially, as of writing, on BitShares mainnet, the required fee is zero.

**Describe the solution you'd like**
Able to permanently reje

[2018-07-06 21:56] abitmore opened #1674 "[0.5] Proposed transactions page: show proposer"
**Is your feature request related to a problem? Please describe.**
Since a release, "proposal_object" has a "proposer" field. Best if it can be shown on UI.

![image](https://user-images.githubusercontent.com/9946777/42418627-aca8ef36-82a4-11e8-89d5-fe22219ec391.png)

![image](https://user-images.githubusercontent.com/9946777/42418737-c5fcbe0c-82a6-11e8-976e-635ca83b40f6.png)

**Describe the solut

[2018-07-06 22:48] sschiessl-bcp commented on #1672
Okay, then we need to check all nodes in the reference faucet.
If the nodes doesn't support it contact the operator. If no response, remove from list and create issue for readding after upgrading. New staging release was done today, thanks Sigve, this should be doable for this cycle.

I ll be happy to manage that

[2018-07-07 01:50] froooze commented on #1669
My saved template is lost again. It looks like a bug.

[2018-07-07 02:43] happyconcepts commented on #1634
@wmbutler thank you, and noted.

@abitmore can someone provide a real example so I can look at it and understand the problem? Who does this hurt?

Im surprised to hear of this use case, but pleasantly surprised at that. This sounds like innovation, something that bitshares needs to encourage instead of blacklisting it.

[2018-07-07 10:59] CryptoKong opened #1675 "[0.5] Search function on exchange doesnt list all assets"
**Describe the bug**
When using the search function after typing part of the asset name it doesn't list all available assets.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to exchange page
2. Click on search field
3. type "QTUM"

**Expected behavior**
I would expect it to list bridge.QTUM, open.QTUM, gdex.QTUM, rudex.QTUM

**Screenshots**
![image](https://user-images.githubusercontent.c

[2018-07-07 11:16] abitmore commented on #1634
The DAC itself. It may loss some income due to this. On the other hand, perhaps the DAC will get more adoption due to the low fee. Who knows. I'm not judging here, just analyzing.

[2018-07-07 11:22] sschiessl-bcp commented on #1634
The goal is not to eliminate all assets with 100% market fee.

But there are scam coins, there was one for Tron. Essentially the attempt is to have a similar or even the exact name as the real token and put 100% market fee. The unknown user thinks it's the actual token and buys it, ending up losing his complete investment.

@happyconcepts what do you mean by "Im surprised to hear of this use case,

[2018-07-07 15:23] startailcoon commented on #1675
This is because the search on `Find Markets` only searches for for assets starting with `Q` + ~20 names (I belive). There is a change that we can do to include known gateway assets. This is a minor change and is already implemented on the Market Picker (#1379).

[2018-07-07 17:08] happyconcepts commented on #1634
Thanks for discussion and pointing out a scam example.

This approach surprised me because both of the projects I am backing are designed to conduct transactions via the DEX just like regular trades. We set the market fee max and make the fee 100%.

So what we obviously need to avoid is presenting new users with a big warning about our 100% fee when it is not a problem at all.

Your and the Founda

[2018-07-07 19:58] sschiessl-bcp commented on #1634
Of course, collecting facts and always curious about business models. Anyways, nothing I do with this account is representing the Foundation.

The market fee is already displayed, but many users do not notice it. I'm thinnking to include another notice in the Confirm Transaction Popup.

[2018-07-08 07:48] abitmore opened #1676 "[0.5] Show full precision of amounts in account history"
**Describe the bug**
OPEN.BTC has 8 decimals, but only shows 6 in account history.

**To Reproduce**
See screenshots below.

**Expected behavior**
Show full precision.

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/42417806-74c7d8b8-8293-11e8-8cf8-438bb4de2133.png)

**Additional context**

[2018-07-08 08:16] startailcoon commented on #1676
This should indeed be using the assets decimal precision

[2018-07-08 08:19] startailcoon commented on #1672
[bitshares.crypto.fans](https://bitshares.crypto.fans) is updated. This had me confused until I read that it coule be missing in the API Access settings file, and adding `orders_api` to my access file solved this.

[2018-07-08 08:50] startailcoon commented on #1675
Updated Find Market with the following changes
- Require at least 3 characters to initiate a search
- Wait timer on key input to reduce unessesary queries when typing
- Include backedAssets, defined in AssetActions and currently including `let gatewayPrefixes = [
                        "BRIDGE",
                        "GDEX",
                        "RUDEX",
                        "OPEN",

[2018-07-08 08:55] #1675 closed

[2018-07-08 09:16] startailcoon commented on #1676
Account History had a decimal offset setting, which I think isn't something we should have in there. If a user buys/sells an asset with 8 decimal precission, they wish to see the total amount they sold/bought and not a rounded value.

![bitshares-accountassetprecission](https://user-images.githubusercontent.com/12114550/42418408-2d135044-82a0-11e8-803f-24dcac68b12f.gif)

[2018-07-08 09:16] #1676 closed

[2018-07-08 09:31] startailcoon commented on #1674
What I can see, this is already implemented.

If there is a specific transaction that you see that should have this value, but hasn't, please open this issue again and specify where this is the case.

[2018-07-08 09:48] abitmore commented on #1674
@startailcoon OP updated with a screenshot. Do you know which account proposed that proposal?

[2018-07-08 09:51] startailcoon commented on #1674
I may miss something, but the operation does not contain a `proposer` field. I don't see another object ID that can be fetched for this either.

@abitmore

Object: [1.10.11600](http://open-explorer.io/#/objects/1.10.11600)
[code]

[2018-07-08 09:52] abitmore opened #1679 "Account page blank screen"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new incognito window
2. Go to https://develop.bitshares.org/#/account/abit-worker

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/42418666-48a733a2-82a5-11e8-95fa-82644d58e588.png)

![image](https://user-images.githubusercontent.com/99467

[2018-07-08 09:58] startailcoon commented on #1674
However, when a proposal is created and recorded on the chain, we have a TX that links to said Proposal Object.

Object: [1.11.263437318](http://open-explorer.io/#/objects/1.11.263437318)

[code]

[2018-07-08 10:03] abitmore commented on #1674
@startailcoon please use an up-to-date API server.

[2018-07-08 10:32] startailcoon commented on #1674
@abitmore not sure why I wasn't able to see it, maybe it was an outdated node. But this works now.

![bild](https://user-images.githubusercontent.com/12114550/42418924-f6f06172-82aa-11e8-8ea5-11f4f5294eec.png)

[2018-07-08 12:04] startailcoon commented on #1131
Releasing this for now

[2018-07-08 14:03] HarukaMa commented on #1675
@startailcoon User reports that there are assets which names only contains two letters, for example bridge.xp, and limiting to 3 characters would make assets like those difficult to search.

[2018-07-08 14:20] abitmore opened #1681 "[.5] Back/forward buttons are broken"
**Describe the bug**
Valera Cogut reported:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.

[2018-07-08 15:49] startailcoon commented on #1675
@HarukaMa noted and fixed

[2018-07-08 16:24] startailcoon opened #1682 "[0.5] DropDownMenu issue on isContact"
The new DropDownMenu throws an error.

`onClick={this[isContact ? "_onRemoveContact" : "_onAddContact"].bind(this)}`

Due to the missing functions of `_onRemoveContact` or `_onAddContact`.

[2018-07-08 16:34] #1682 closed

[2018-07-08 17:47] svk31 opened #1684 "[svk][1] The account switcher doesn't work properly"
**Describe the bug**
The account switcher does not always switch the active account when viewing the account page.

**To Reproduce**
1. Load the app anywhere other than the /account/xx path.
2. Navigate to Dashboard
3. Switch the account in the accounts dropdown

**Expected behavior**
The account being viewed should switch to the chosen account

[2018-07-08 17:48] #1684 closed

[2018-07-08 20:20] startailcoon commented on #1667
I see this as a good proposal. having the checkbox at the far right is quite weird in my opinion.

Feedback?

[2018-07-09 07:53] svk31 commented on #1320
Fixed by @startailcoon in #1677, not sure what to do about the rewards here. @wmbutler ?

[2018-07-09 15:35] svk31 commented on #1643
I've been investigating this today, and I've discovered that the main cause of the freezing is the calling of callbacks in the AltStore pubsub model. When you have a ton of assets in your portfolio there can be several hundred callbacks which need to be run every time onGetMarketStats triggers the `emitChange` method of AltStore. Before I added the queuing system that meant for every get_ticker ca

[2018-07-09 16:24] wmbutler commented on #1320
@startailcoon did you get paid fairly in #1677? If so, please remove the bounty and close this.

[2018-07-09 16:33] wmbutler commented on #1106
@abitmore can you post the BTS address where you expect to receive payment?

[2018-07-09 17:08] startailcoon commented on #1320
@wmbutler I would say yes. Removing bounty on this issue.

[2018-07-09 17:08] #1320 closed

[2018-07-09 17:41] wmbutler commented on #1667
The checkbox should be at the leftmost or rightmost column. I have no opinion either way.

[2018-07-09 17:48] wmbutler commented on #1669
Worth investigating. @froooze just want to verify that you are connecting from the same browser on the same machine first.

[2018-07-09 17:50] wmbutler commented on #1673
This sounds like a blacklist operation. Would this be a core function that we would provide a UI for?

[2018-07-09 18:02] svk31 commented on #1106
It's here: https://github.com/bitshares/bitshares-ui/pull/1467#issuecomment-403010671

ety001.worker

[2018-07-09 18:04] wmbutler commented on #1666
This seems rather trivial when looking at the big picture. Some comments:

- Open orders have 2 sides to the trade. Your Asset column doesn't reflect this reality.
- We already have a filter column to allow users to isolate assets.

[2018-07-09 18:07] svk31 commented on #1673
It's an existing operation.

Right now in the GUI you can only add or remove authorities to a proposal, you can't reject a spam proposal like abit's example, or cancel a proposal if you did something wrong in it. Using proposal_delete_operation you can do those things.

[2018-07-09 18:07] wmbutler commented on #1670
Please post screenshot and any console logs.

[2018-07-09 18:09] wmbutler commented on #1673
It sounds like @abitmore wants something that will perform a recurring reject. I was trying to come up with a way for the frontend to know who to perform that operation against.

[2018-07-09 18:10] wmbutler commented on #1416
What if BTS is worth $200 at some point? Not sure I agree with @froooze on the ignore logic.

[2018-07-09 18:11] wmbutler commented on #1668
When you star a particular market, and return to that starred market it is saved.

[2018-07-09 18:12] wmbutler commented on #1642
I agree, but this issue is not really related. Maybe a tab called favorites that includes all starred markets, but you should open a separate issue for this.

[2018-07-09 18:16] wmbutler commented on #1665
I stand by the fact that we are best served by letting ES do what it does best. The performance increase by querying a true NOSQL datasource is literally an order of magnitude more efficient.

[2018-07-09 18:22] froooze commented on #1666
- I have two columns in my example (Buy/Sell), so reality is reflected.
- People who provide liquidity, need to know how much they buy and sell from a specific asset class.
I never used the filter function, but i have to calculate every time the sums of my open orders.

[2018-07-09 18:23] wmbutler commented on #1666
But you do not state the asset on the other side of the trade...

[2018-07-09 18:31] wmbutler commented on #1667
I have no idea what you are asking me.

[2018-07-09 18:33] svk31 commented on #1670
I already fixed an issue like this here: https://github.com/bitshares/bitshares-ui/issues/1367

It certainly works for me in Ubuntu:

![image](https://user-images.githubusercontent.com/6890015/42469225-6395b64e-83b7-11e8-862a-2f49fe8465ca.png)

[2018-07-09 18:38] svk31 commented on #1669
The TradingView library doesn't offer any storage so we'd have to set one up. Their docs assume you run a server for this, with user login etc, but that's not an option for us imo. Another option is to use localStorage which might work, but I disabled localStorage for tradingView because it messed with the themeing.

If someone wants to handle the issue I can send them a copy of the tradingview wi

[2018-07-09 18:41] svk31 opened #1685 "[0.5] No market matched when loading the root view"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Click on the logo in the header or load the website at the root path.

**Expected behavior**
A list of markets is shown. Instead, it first says "No market matched" before loading the markets a second or two later.

**Screenshots**
![image](https://user-images.githubuserconten

[2018-07-09 18:50] #1685 closed

[2018-07-09 18:58] froooze commented on #1666
You mean the difference between actual price and trading price?
Don't understand the problem, could you make an example?

[2018-07-09 19:06] froooze commented on #1670
![Window Icon, MX Linux17.1](https://image.ibb.co/kAZFwo/Windowicon_BTS.png)

[2018-07-09 19:33] froooze commented on #1667
Why not next to DESCRIPTION, which is already clickable ?

[2018-07-09 19:49] froooze commented on #1666
I split one trading pair in two different rows and columns,  there is no duplication.
I just combine all orders in one view and the delta shows me the difference after all orders are filled.

[2018-07-09 19:52] wmbutler commented on #1666
If someone can make sense of this, go for it.

[2018-07-09 19:53] wmbutler commented on #1667
Because Action items make sense at one end or the other.

[2018-07-09 19:59] froooze commented on #1669
I can take a look at the docs, but need maybe a little help for the first time.

[2018-07-09 20:05] froooze commented on #1416
Or we define a minimum ammount in bitCNY/bitUSD for the UI?

[2018-07-09 20:57] froooze commented on #1668
The market is only saved in one direction. When I switch the trading pair, visit another market and revisit the switched market, it is not saved.

[2018-07-09 21:03] abitmore commented on #1673
@svk31 has said what I wanted to say. Thanks.

[2018-07-09 21:07] abitmore commented on #1673
According to the [(buggy) back end code](https://github.com/bitshares/bitshares-core/blob/90f365a8b0c304ce025ed4d4f5239fba698fb792/libraries/chain/proposal_evaluator.cpp#L292-L296), every account in `required_xxx_approvals` of a proposal can reject the proposal.

[2018-07-09 23:43] wmbutler commented on #1668
Your experience is different from mine:

![markets](https://user-images.githubusercontent.com/1254810/42481430-02dd3ae8-83a8-11e8-8833-ddaa52bef820.gif)

[2018-07-09 23:45] wmbutler commented on #1416
Not scalable IMO and too subjective.

[2018-07-09 23:45] wmbutler commented on #1669
Would you like to claim this issue?

[2018-07-10 01:07] froooze commented on #1669
Yes, how can I do that ?

[2018-07-10 07:15] svk31 commented on #1681
Actually none of the links work once you're on the help page, looking into it but it's not immediately obvious why.

[2018-07-10 07:59] pluswave commented on #1575
https://github.com/bitshares/bitsharesjs/pull/25

[2018-07-10 09:43] svk31 commented on #1575
The PR has been merged so this can be implemented now

[2018-07-10 10:19] svk31 commented on #1679
This was fixed by @startailcoon in #1683 , the issue for that was #1682 , reward should be assigned from there.

[2018-07-10 10:19] #1679 closed

[2018-07-10 10:20] svk31 commented on #1670
Are you installing using the .deb package? Which version of the client?

[2018-07-10 10:23] svk31 opened #1687 "[1.5] Add more feedback to app init phase"
**Is your feature request related to a problem? Please describe.**
The spinning loading indicator may appear for a long time with no indication as to what's happening.

**Describe the solution you'd like**
Add text feedback to the loading indicator.

[2018-07-10 10:24] #1687 closed

[2018-07-10 10:32] #1681 closed

[2018-07-10 12:32] froooze commented on #1670
My client version is: BitShares2-light_2.0.180629_amd64.deb

[2018-07-10 12:37] froooze commented on #1666
The calculation for the sum table could be done client side via JavaScript, therefore no extra API calls are needed.

[2018-07-10 13:17] froooze commented on #1667
This discussion will never end, we can close this one and I will start a new one to allow customize column arrangement with hide option for columns.

[2018-07-10 14:05] froooze commented on #1668
Maybe I wasn't clear enough about the problem. With switching the trading pair I mean the two arrow icon under the pair names. This setting doesn't get saved.

[2018-07-10 14:11] froooze commented on #1642
With further adoption a FIAT tab for BTS / FIAT trading pairs would give a better experience for other currencies.

[2018-07-10 14:22] froooze opened #1688 "Add TRADE column to Margin Position table"
In the Margin Positon window there is no direct way to go to the market with the TRADE column like in Open Orders, but often needed.

[2018-07-10 16:47] froooze commented on #1688
TRADE | ASSET | ADJUST | BALANCE | ... ... | CLOSE

ASSET | ADJUST belong to each other

[2018-07-10 18:13] wmbutler commented on #1642
I think this can be distilled into the following:

- [ ] Allow users to add/delete arbitrary tabs (up to 5 total)
- [ ] Adding a tab would need a picker so the user can pick which asset the tab refers to
- [ ] Change the label of "Other" tab to "Favorites" and make it permanent (non-removable) This tab would show all favorited (starred) markets

Essentially, this would allow users to to create one

[2018-07-10 18:14] wmbutler commented on #1668
My licecap clearly shows that the market shows up according to which pair you choose from the picker on the the right.

[2018-07-10 18:14] #1668 closed

[2018-07-10 18:15] wmbutler commented on #1667
I disagree with custom column arrangement but go for it.

[2018-07-10 18:20] wmbutler commented on #1669
It's yours.

https://github.com/bitshares/bitshares-ui/blob/develop/README.md

[2018-07-10 20:30] startailcoon opened #1689 "Exchange Vertical OrderBook Centering Issues"
**Describe the bug**
The vertical orderbook is at times jumpy when the centering isn't updated properly. There is at times a timedelay when the orderbook is populated before the centering is issued.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Exchange'
2. See error

**Expected behavior**
Centering done without visual delay

**Screenshots (LiceCap, wait for it)**
![bitshares-pricej

[2018-07-10 20:34] startailcoon commented on #1665
@HarukaMa This is why we have the independent BitShares infrastructure worker.

One of their goals this section is

# Elasticsearch BitShares nodes for public use

Advanced features of the reference wallet require full history and advanced searching capabilities to function smoothly, which requires publicly available nodes with Elasticsearch support. This worker aims to deploy a ES cluster that wi

[2018-07-10 23:00] landry314 commented on #1416
Why not just fix the bug?

Clicking on a fractional dust order in the order book should not enter the price the fractional dust order came from but rather the actual price and amount of the fractional dust order.

This is just a bug that needs to be squashed.

[2018-07-10 23:32] abitmore commented on #1416
@landry314 as I've mentioned above, an order's price won't change after partially filled.

[2018-07-10 23:46] abitmore commented on #1416
@landry314 Can you please add screenshots or video clips for this issue? Seems there are misunderstandings.

[2018-07-11 02:36] netmla9393 opened #1690 "Block Inquiries of member's accounts by non-members"
1. **Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The problem is that strangers are able to view your Openledger (wallet) accounts contents. You don't let strangers see what's in your bank account. Why would you want to let strangers see how rich or poor your are, what coins you have o

[2018-07-11 06:21] #1564 closed

[2018-07-11 10:51] froooze commented on #1667
Customize column is not that important at the moment.

And Feedback on this order?
 CANCEL | TRADE | DESCRIPTION | ORDER ID | PRICE | MARKET PRICE | VALUE

[2018-07-11 10:55] froooze commented on #1669
Ok and what is the easiest way to send me the private wiki from tradingview?

[2018-07-11 13:36] svk31 commented on #1669
https://drive.google.com/open?id=1D3ixMYoGB-AyMBd38ljt9Nq0gWW7Cmon

Try that. Let me know when you have it and I'll take it down again

[2018-07-12 11:04] #1638 closed

[2018-07-12 13:09] shulthz opened #1692 "Request some menu change"
![2](https://user-images.githubusercontent.com/34892308/42635031-770ee968-8617-11e8-898b-7ed7c8e8bec0.png)
Some advices of change please check the picture.

[2018-07-12 14:45] froooze commented on #1668
The problem exists with the BTS Tab. I can only enter the market with bitFIAT / BTS.
When I wanna have BTS / bitFIAT, I have to change the pair with the two arrows, after every revisit.

There are two solutions:
1. Save the switched state 1/BTS Tab
2. introduce a custom Tab, where any pairs can be saved.

[2018-07-12 15:57] svk31 commented on #1642
I got inspired today to work on a slightly different solution to this issue. While adding/removing tabs would still be nice, what I've done is combine all gateway.BTC and bitBTC assets into one tab, same with any other assets that are offered by multiple provides (OPEN.USD goes in the USD tab with bitUSD for example).

![image](https://user-images.githubusercontent.com/6890015/42644797-be9df442-85

[2018-07-12 15:59] svk31 commented on #1642
Creating a Favorites tab putting all starred markets together is problematic imo because it won't let you sort by volume anymore in a reliable manner.

[2018-07-12 18:55] froooze commented on #1642
1. combining the two BTC market tabs in one is good idea
2. creating a favorite tab for all favorites doesn't make sense
3. Just call it custom tab, with the ability to rename it, therefore anybody can use it for a special use case
4. We can ignore the favorite settings because we already have our favorites in the custom tab
5. We need some UI to easy fill the custom tabs

[2018-07-12 20:12] froooze commented on #1692
Adding extra words doesn't help the reading or getting easier.

[2018-07-13 01:11] shulthz commented on #1692
yes, but more easier understand than now.

[2018-07-13 12:08] #1642 closed

[2018-07-14 03:51] happyconcepts commented on #1634
So when we bring a new user to Bitshares to transaction in our token, you are going to alert that user with SCAM about us.

Solely because we set market fee % parameter of the token to 100%.

Is this really the best approach for Bitshares? To squeeze out entrepreneurs like me and justifying it over paranoia about some potential scam?

[2018-07-14 10:14] sschiessl-bcp commented on #1634
A customized UI that looks like a transfer but uses a 100% market fee UIA would certainly be the best approach.

Nevertheless @happyconcepts my concept idea would still stand. Every asset that gets a scam popup warning would be inserted via github issues, which allows discussion for every asset. A 100% market fee asset that has not been included via an issue would only receive a non-inversive warn

[2018-07-14 19:38] abitmore commented on #1634
@happyconcepts if you're willing to help, would you please provide a constructive solution? Emotional words aren't helping.

[2018-07-14 19:52] happyconcepts commented on #1634
Then do it on the confirmation page, please. For the following very important reason:

Not true. Simply not true. When you buy our SPARK asset on the exchange page the most you could lose is less than $1.00 because the amount of our fee is capped by the maximum fee parameter.

@abitmore thank you I am still trying. To re-state it, why not show the market fee in actual amount that will be charged,

[2018-07-14 20:16] abitmore commented on #1634
Makes sense.

[2018-07-15 01:04] svk31 commented on #1634
Sure, but the above scenario of a legit use of a 100% fee also implies that the max fee is set to a high enough value that it never comes into play. A market as you describe with 100% that is capped by a maximum fee doesn't fall into that scenario, so then the question becomes we need answered is why such a market should be treated as a legitimate market. Anyone making trades in such a market will

[2018-07-15 07:49] startailcoon commented on #1692
Thank you for your feedback. Many of the changes you've highlighted are legacy items and will be removed later on.

- Send (legacy), changing to classic makes nothing more clear.
- Send will be the default, no need to change that
- Changing Deposit to Gateway is more confusing to new users
- Changing Withdraw to Bridge is more confusing to new users
- Deposit (beta) and Wirhdraw (beta) will be def

[2018-07-15 15:34] startailcoon commented on #1690
Before I answer your comment I'd like to point out that this repository is **not** OpenLedger. This is the Bitshares Reference Wallet,. OpenLedger uses the codebase for their own wallet online. Any issues or requests you have with OpenLedger should be posted to them on [OpenLedger Support](https://openledger.freshdesk.com/support/home)

Now, let me try to answer some of your quests as well.

BitSh

[2018-07-15 15:34] #1690 closed

[2018-07-15 15:36] #1692 closed

[2018-07-15 15:38] happyconcepts commented on #1634
People buying our coin are to pay a market fee. A flat fee of approx $1 is what we would like to do.

Assuming the bitshares system is smart enough, will you kindly suggest, then, another way to accomplish this @svk31?

[2018-07-16 10:21] sschiessl-bcp opened #1696 "[3] Create debug report for users"
**Is your feature request related to a problem? Please describe.**
Users are having a hard time reporting found bugs that are not perfectly visible, e.g. report console log

**Describe the solution you'd like**
Add a button in the UI somewhere that allows creating an error report that is copy and pastable.

What could be included in such a button?
- calls to local storage
- console log
- remote ca

[2018-07-16 11:12] sschiessl-bcp commented on #1353
@svk31 see my comment and question above

[2018-07-16 14:22] kimchi-king opened #1697 "[1] 404 Error When Creating New Worker Proposal"
Whether using the desktop client or web version when you try to create a new worker proposal you get a 404 error.

Steps to reproduce the behavior:
1. Go to 'voting' in the menu.
2. Click on 'Workers'
3. Then click on 'Create New Worker'
4. See error

**Expected behavior**
Should see the next step to create a new worker proposal.

**Screenshots**
If applicable, add screenshots to help explain your

[2018-07-16 14:39] sschiessl-bcp commented on #1640
I have refined the view now, for a better drag&drop feeling I need to wait for React16 issues to be resolved within react-grid-layout.

Here is an example, rearranging disabled:
![image](https://user-images.githubusercontent.com/33128181/42764746-aae426a2-8916-11e8-9217-cceb46ecf158.png)

Here is rearranging enabled:
![image](https://user-images.githubusercontent.com/33128181/42764781-c3ca75f4-891

[2018-07-16 16:14] happyconcepts commented on #1634
@bytemaster greetings bitshares 3 needs flat market fee parameter thanks

[2018-07-16 17:30] jademont opened #1698 "Market buy/sell orders in overlap due to too many digits"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/28012958/42773695-a04146cc-8960-11e8-82a7-a9b96cdf2803.png)

If the color of buy/sell order can be different, then it will be avoided.

[2018-07-16 19:07] wmbutler commented on #1642
I still think it would be a good idea to be able to remove tabs that users feel are not useful for their needs. I also think that a definitive tab that shows all starred assets is a good idea (with or without volume display). The two-tiered approach to locating an asset pair and then starring it is still overly complex and needs an elegant solution. Looks like this was a step in the right directio

[2018-07-16 19:10] wmbutler commented on #1698
The proper solution is to:

- [ ] Widen the overall container
- [ ] Reduce font size
- [ ] Account for max possible digits

I'm hoping that @startailcoon has taken this into account with his ongoing #1477

[2018-07-16 19:13] wmbutler commented on #1634
@happyconcepts Why wouldn't these companies offering these assets just fork the reference wallet and display what they like?

[2018-07-16 19:31] sschiessl-bcp commented on #1634
Please stop the pointless discussion now.

This issue is for a general framework. Your discussion is for one specific asset and if it should be included in the list or not. You can do that later in the corresponding future issue.

If anyone has contributions to the actual framework on how to mark such assets please go ahead.

[2018-07-16 20:09] wmbutler commented on #1696
Could potentially post these contents directly to a github issue...

[2018-07-16 21:01] abitmore commented on #1698
A smart workaround mentioned by @xiangxn is to use different colors or background for different columns.

[2018-07-16 21:04] abitmore commented on #1696
Just a note, please avoid including private keys in the report.

[2018-07-16 23:54] abitmore opened #1699 "Help button does not help"
**Describe the bug**
The help button on the right-bottom corner now links to https://docs.bitshares.org/ which is outdated and does little help.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/'
2. Click on 'HELP'

**Expected behavior**
Open a page, links to
* in-wallet help document
* Telegram help channel
* Discord help channel
* Forum technical support

[2018-07-17 01:13] Bluffet commented on #1468
Sure. Csv, tab delimited copy-paste or whatever makes life easier. I'm not familiar with elastic search but understand it is a godsend for large data sets.

[2018-07-17 02:56] happyconcepts commented on #1634
I cannot think of a better way to destroy public confidence in bitshares than by introducing the thought of scam to as many users as prominently as possible, which is why I am really surprised that this issue is being approached this way at all.

Thus, again, I urge you to place your scam warnings, alerts, emotions on the confirmation page and not in the OE box which as I have said before is crowd

[2018-07-17 03:11] happyconcepts commented on #1634
Do you mean like bitSPARK launching their Sendy app last week? I would presume that to be a custom front end.

But to answer your question, at Spark we want to stay with the reference UI for two main reasons, one internal and one external:

1. Because we aren't selfish. We want to introduce our users to the bitshares DEX and see them trade happily on the bitshares DEX. Seeing our users trade other

[2018-07-17 03:53] svk31 commented on #1697
Duplicate of https://github.com/bitshares/bitshares-ui/issues/1671, already fixes in develop.

[2018-07-17 03:53] #1697 closed

[2018-07-17 03:55] svk31 commented on #1642
I did add the ability to remove tabs.

[2018-07-17 08:39] rlsz opened #1700 "function DataFeed.getBars received wrong resolution for some special interval"
problem: When set tradingview interval to 2D～6D, the parameter 'resolution' of DataFeed.getBars is always 'D'.
file location: charting_library/static/bundles/library.19c99ed5d0307c67f071.js
code location: search 'c.host.subscribe(', the second parameter 'r(i)' should be replaced by r(o)
description: The second parameter will be assigned to this._resolution. For example,  when I set interval to '2D

[2018-07-17 14:25] clockworkgr commented on #1596
so not gonna be able to update issuer via UI when the HF hits in 2 days?

[2018-07-17 15:35] #1485 closed

[2018-07-17 15:36] sschiessl-bcp commented on #1485
@wmbutler please include in 180721 invoice

[2018-07-17 15:36] sschiessl-bcp commented on #1407
@wmbutler please include in 180721 invoice

[2018-07-17 15:36] #1407 closed

[2018-07-17 17:32] sschiessl-bcp commented on #1443
I have played around with automatic repinging and I believe it causes too much distractions.

If the user is on "automatically connect" one would also expect to trigger a reconnect if the ping changes, but that would be very intrusive behavior. The UI is repinging on every 5th connection attempt and has the Ping nodes button now.

[2018-07-17 17:34] sschiessl-bcp commented on #1353
I see it now, you probably refer to the statusCallback in routerTransitioner. So I guess we implemented similar features. Anyways, this is closed now as fixed by Sigve.

[2018-07-17 17:34] #1353 closed

[2018-07-17 17:59] sschiessl-bcp opened #1701 "Advanced ping strategy on application init"
At a fresh start or after every 5th connection attempt the UI is pinging all nodes. This issue is to refine the initial ping strategy.

**Current behavior**
It pings in a way that looses half of the nodes depending on their order in apiConfig. The ping seems also inaccurate due to the sheer amount of connection attempts in a very short period of time.

**Suggested behavior**
Ping all nodes subsequ

[2018-07-17 20:12] grctest opened #1703 "Configure an asset's user whitelist/blacklist from within UI"
**Is your feature request related to a problem? Please describe.**

Cannot configure an asset's user whitelist|blacklist from within the UI.

**Describe the solution you'd like**

Enable configuring an asset's user whitelist|blacklist from within the UI (when configured as an authority).

**Describe alternatives you've considered**

Configure an asset's user whitelist|blacklist via python script.

[2018-07-17 20:35] grctest opened #1704 "[0.25] Light theme 'Explore -> Assets' page shows white 'Exchange' text on white row background"
**Describe the bug**
When using the light theme, the assets explore page has 'Exchange' buttons with white text on white background, thus it appears blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable light theme
2. Navigate to asset explore page
3. View 'exchange' button column
4. See white text on white background within button

**Expected behavior**
Able to read button text.

**

[2018-07-17 20:37] grctest commented on #1698
https://github.com/bitshares/bitshares-ui/issues/1317 related?

[2018-07-17 20:47] svk31 commented on #1353
That was more recent, I first added feedback during the react router 4 upgrade because that removed the onEnter callback for routes. That meant I had to refactor willTransition to be a pure promise which is now resolved in AppInit.

[2018-07-17 20:56] svk31 commented on #1701
What happens if no nodes are found with ping below 200? That seems quite low to me.

[2018-07-17 20:57] svk31 commented on #1703
Don't have a computer nearby but pretty sure this already exists. For assets you set a whitelisting authority (an account) which in turn sets a whitelist of other accounts.

[2018-07-17 21:15] grctest commented on #1703
Ah, so you add an user to the whitelist authority, then the user's whitelist page is enforced on the asset?

It does look like it's existing functionality in the UI then. A little description that this is how the whitelist system works in the asset update whitelist authorities page would be neat 👍

[2018-07-17 21:15] #1703 closed

[2018-07-18 05:41] sschiessl-bcp commented on #1701
I included it in the initial description. Short answer: Then all nodes a pinged like before. The number 200ms was chosen arbitrarily

[2018-07-18 06:21] cloud-8 commented on #354
Searching by TXID and displaying TXID per transaction is absolutely necessary functionality.

[2018-07-18 12:13] startailcoon commented on #1698
Will see what can be done for this issue while working on #1477

[2018-07-18 12:59] #1655 closed

[2018-07-18 13:15] sschiessl-bcp commented on #1672
During investigating and working on this I somehow ended up refactoring ... I don't expect to get hours for that.

Anyways, I will add a feature that automatically disables nodes that don't support required apis which could use some points.

[2018-07-18 13:16] sschiessl-bcp commented on #1521
During working on #1672 and refactoring I realized that this issue is probably gonna be solved on the. Can this be rated please?

[2018-07-18 14:10] sschiessl-bcp opened #1705 "[10] Maintaining translation files"
Our language files are horribly out of sync. I am currently experimenting with Translation Management Systems that provide a web frontend for visualized editing and maintaining the files.

Currently looking good: Weblate

Thoughts?

[2018-07-18 14:28] abitmore opened #1706 "[0.75] Add new phishing accounts to scam accounts lists"
IMHO we can add all accounts registered by this https://cryptofresh.com/u/issuer

[2018-07-18 14:55] grctest opened #1707 "[0.5] Portfolio table's MPA settle flag assumes backing is BTS (Typo)"
**Describe the bug**
Within the dashboard (portfolio) page, the table rows with MPA assets have a settle flag which states that the MPA can be settled for BTS, however it does not replace the 'BTS' text with the MPA's actual backing asset.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard portfolio page.
2. Have an entry for any MPA.
3. Hover over the settle MPA flat
4. See tex

[2018-07-18 16:43] snakebitekit commented on #1593
@startailcoon ty for your help.
i've made a pr with our gateway integration: https://github.com/bitshares/bitshares-ui/pull/1695

[2018-07-18 19:52] startailcoon commented on #1477
I've pushed another update to the fork for the new exchange layout, for those that wish to take a view at it and leave some feedback. Rember that I'm working out of the UX of https://www.behance.net/gallery/64871121/BitShares-Exchange, while adding a few changes to make it work with mobile.

 There are a few visual issues, but I've got Layout 1,2 and 3 functional pretty much 99%.

Layout 4 is stil

[2018-07-19 10:43] sschiessl-bcp commented on #1521
During my work on this I found a bug in the SettingsStore. If any default values change (removing nodes, changing faucet), the user does not get those changes due to local storage having old values. Will include a fix for that as well

[2018-07-19 12:04] abitmore commented on #1521
Is there a way to not trigger chrome warning when one of the nodes has a bad SSL certificate?

[2018-07-19 12:11] sschiessl-bcp commented on #1521
No, that can only be deactivated by the user. Even if the UI wanted to evaluate certificates itself and not connect if invalid the user would still get a notification.

[2018-07-19 23:12] shulthz commented on #1705
support

[2018-07-20 04:25] #1643 closed

[2018-07-20 04:27] svk31 commented on #1630
[code]
Those are way too old, I'm using node v9 and npm v6

[2018-07-20 04:27] #1630 closed

[2018-07-20 04:28] #1607 closed

[2018-07-20 04:43] #1701 closed

[2018-07-20 04:44] svk31 commented on #1701
@sschiessl-bcp Shouldn't this have a time estimate?

[2018-07-20 05:13] MarkoPaasila commented on #1701
What determines this order? Is it sorted earlier by ping time?

[2018-07-20 05:50] sschiessl-bcp commented on #1493
@wmbutler @startailcoon
This needs grooming and prioritizing. Especially BSIP38, which should probably be included in a hotfix.

[2018-07-20 06:00] sschiessl-bcp commented on #1701
@MarkoPaasila The initial order is determined by https://github.com/bitshares/bitshares-ui/blob/269506c81fcce7a78a499c548a7218083ff84a86/app/api/apiConfig.js#L70 The order is arbitrary in there.

Afterwards it is sorted by former ping when re-pinging.

[2018-07-20 06:02] sschiessl-bcp commented on #1701
@svk31 I don't have authority to assign hours (at least no one told me I am allowed to do that :) )

[2018-07-20 06:39] svk31 commented on #1701
Hehe well just tell us your estimate of how long it took you and we'll add that, assuming it's reasonable ofc :)

[2018-07-20 07:15] startailcoon commented on #1493
BSIP 38 is already tagged `high priority`. None has shown interest in working on the UI so far. I've taken the task and will work on whatever I can/have time with this weekend.

[2018-07-20 07:16] startailcoon commented on #1493
BSIP 29 was assigned to gibbsfromncis, but it's still in progress.

[2018-07-20 07:46] clockworkgr commented on #1701
![image](https://user-images.githubusercontent.com/6826762/42990024-2afcf79c-8c0a-11e8-8477-849f3f8911df.png)

1 million hours :)

[2018-07-20 08:40] clockworkgr commented on #1643
performance so much better on this now.

and yes, you're right, api node doesn't care.

[2018-07-20 08:58] abitmore commented on #1493
@gibbsfromncis is on vacation.

[2018-07-20 10:18] clockworkgr opened #1711 "Filter out settlement fills from chart data."
If I've followed a conversation in telegram correctly today, it appears that market history includes both trading fills AND settlement fills (which are performed at a percentage premium compared to feed price).

This leads to occasional spikes in the chart that do not correspond to trading activity in the sense that noone actually placed an order to buy or sell the orderbook up to settlement_premi

[2018-07-20 10:43] startailcoon commented on #1493
he is, so the tasks of his are free for others to work on.

[2018-07-20 12:50] startailcoon commented on #1575
## Proposed UI

This is a preview of my proposed UI

![bild](https://user-images.githubusercontent.com/12114550/43003221-06763c54-8c2c-11e8-935e-c78595b7f9b0.png)

[2018-07-20 15:58] jcalfee opened #1712 "Include full serach results under the main Featured Markets search tab"
Please consider including full results under the main Featured Markets search tab (just put the featured ones at the top).

We had a hard time finding the new open.EOSDAC pairs.  This is not easy to find on wallet.bitshares.org .. We found it only after loading the Exchange tab then using Find Markets on the right.

![image](https://user-images.githubusercontent.com/204121/43012511-f85d0e24-8c0b-1

[2018-07-20 17:55] abitmore commented on #1711
Screenshot:
![image](https://user-images.githubusercontent.com/9946777/43017220-9cab6400-8c55-11e8-8f2f-e1e26112a852.png)

On the other hand, force settlement fills are real volume as well as real prices, they do show in "market trades" panel. Also there is a "settle orders" panel in the page. So whether to filter them out is debatable.

[2018-07-20 19:09] abitmore commented on #1706
Another one: https://cryptofresh.com/u/binancecleos

[2018-07-20 19:11] btsfav commented on #1706
and spin-offs

https://cryptofresh.com/u/ls123
https://cryptofresh.com/u/mai1100
https://cryptofresh.com/u/n0stradumpus

[2018-07-20 19:12] abitmore commented on #1706
Check https://github.com/bitshares/bitshares-ui/issues/133 for how to add new accounts to the list.

[2018-07-20 20:44] #1575 closed

[2018-07-21 09:33] gibbsfromncis commented on #1596
@clockworkgr I'm going to close this one asap when I come back from vacation. If somebody want to close it before I come back they are free to assign it.

[2018-07-21 09:44] gibbsfromncis commented on #1493
@abitmore I'm in vacation and I've posted a message in each issue that anyone can assign it if want.

Today I've added `free to assign` title. Maybe this will help to close these issues before I come back.

[2018-07-21 09:57] startailcoon commented on #1576
After my work yesterday on the modal I'm working on this next.

Right now I need to wait for a market to have enough settle orders to confirm the next approach of handling the visualisation of the order book.

[2018-07-21 12:36] grctest commented on #1301
@wmbutler For calculations which involve UIA, where would their reference value be drawn from? For MPA:MPA we have their median feed price, but for UIA there would only be market history or open orders - both of which probably wouldn't be accurate for non-liquid markets?

Do you envisage a modal popup calculator instead of just text alongside the feed price headers?

I'm really looking forwards to

[2018-07-21 15:18] grctest opened #1714 "Tradingview indicator import functionality"
**Is your feature request related to a problem? Please describe.**

I'm unable to import my own tradingview indicator. I want to create a sine wave indicator for the [Hz](http://open-explorer.io/#/assets/hertz) MPA which other Hz users can import to improve hertz sine wave visualization.

**Describe the solution you'd like**

Support client-side import of tradingview indicators.

**Describe altern

[2018-07-21 17:52] abitmore commented on #1634
![image](https://user-images.githubusercontent.com/9946777/43038736-6ff401b8-8d1f-11e8-9800-245d3527f48a.png)

[2018-07-21 19:35] GabrielLeonte opened #1715 "Cannot create accounts"
Failed to create account: somename -  Uncaptured Faucet-API Exception Error loading Base58 object
Some help ?

[2018-07-22 13:00] startailcoon commented on #1715
Hi,

Did you use the Bitshares Reference wallet to sign up?
It's located on wallet.bitshares.eu

[2018-07-22 13:02] startailcoon commented on #1714
I know there are still things for the Trading View software integrated to the UI that aren't fully available yet.

This could be a good addition to the features that could be added to it.

[2018-07-22 13:03] startailcoon commented on #1669
@froooze Another request for this on https://github.com/bitshares/bitshares-ui/issues/1669

[2018-07-22 15:12] startailcoon commented on #1712
Do I understand you correctly, that you wish to have a way to find pairs not listed in the featured markets to show up when you search for an asset?

As in your case, you can't find open.EOSDAC since it's not in the list to begin with, and you wish to have it show up when you search for it even though it's not in the list.

The current develop version, soon to be released, contains a feature on th

[2018-07-22 16:07] startailcoon commented on #1707
The UI had no translation for another backing asset, and BTS was a fixed value.

bitXCD is backed by bitUSD and is properly displayed now.

![bitshares-backingassetsettle](https://user-images.githubusercontent.com/12114550/43047599-f9d6ce96-8dd9-11e8-939e-77075638e3af.gif)

[2018-07-22 16:11] #1707 closed

[2018-07-22 16:29] startailcoon commented on #1704
There are a few theme issues since a while back, always happy to see these come in to help everyone. Nice catch.

Fixed

![bild](https://user-images.githubusercontent.com/12114550/43047780-2302c70e-8ddd-11e8-9a67-ae2378f2f535.png)

[2018-07-22 16:34] #1704 closed

[2018-07-22 16:56] startailcoon commented on #1667
Moved the table to place `Cancel` and `Trade` at the start of the table.

![bild](https://user-images.githubusercontent.com/12114550/43048009-dfa4adca-8de0-11e8-8441-0d11466091cf.png)

[2018-07-22 17:00] #1667 closed

[2018-07-22 17:17] startailcoon commented on #1688
Instead of making a whole new column, I've placed the `Trade` icon space before the Asset name.

![bild](https://user-images.githubusercontent.com/12114550/43048189-db3d0dce-8de3-11e8-9af6-bd1785aea383.png)

[2018-07-22 17:30] startailcoon commented on #1673
Increased bounty as this would need some reading up on how to make it work.

[2018-07-22 17:38] startailcoon commented on #1629
I like what you've made. I agree with the others that we should keep the "Save" feature for all tabs, and try to make it a one transaction save. I like the warning idea if you leave without saving your changes.

@gibbsfromncis supply your UX working hours if you are statisfied with the end result of this UX task. I assume we're free to work on the UI tasks from this as no new comments have been po