[2018-07-22 17:59] startailcoon commented on #1628
After some searching I've found that the code misses some checks, and throws the page in error whenever you type in an amount manually on withdraw.

This has been fixed

[2018-07-22 18:02] #1628 closed

[2018-07-22 19:08] svk31 commented on #1712
Hey James, long time no see :)

We've already had multiple issues about the search already, the main reason it's clunky is that the asset search api is shitty and always has been.

If open.eosdac is the official openledger eos asset we can add that to the list of assets included in the default markets list.

[2018-07-22 19:17] jcalfee commented on #1712
HI, come to Alacapulco and we can hang out!  Ken Code, Thom plan to go.  I usually see onceuponatime there too and I would like Luke Stokes is going again..  Lots of fun..  Modprobe is in that area too, we may see him.

If I recall, the open. ensures it must be an openledger asset..  If that is the case, that would be great, Luke is doing great work on that project..

Ok, hope you can find a low m

[2018-07-22 19:28] jonnybitcoin opened #1723 "[0.25] Proxy vote input field has no text to describe what it is"
When voting for a proxy for the first time how are you supposed to know that the box with no description is where you should enter your proxy?

[2018-07-22 20:40] startailcoon commented on #1723
The whole voting page is in need for an update, entering your voting details should be simple and self explanatory.

[2018-07-22 21:00] Kennybll commented on #1662
I would like to claim this! We don't need a UI, just the UX, it's just a few style rules needed.

[2018-07-22 21:08] startailcoon commented on #1662
@Kennybll @gibbsfromncis have intended to work on this. He is unable to post about this here as he is unable to access his github account currently.

[2018-07-22 21:10] abitmore commented on #1706
* btsmoney
* hackers
* aex-bitcny-deposit

[2018-07-22 21:46] Kennybll commented on #1662
@startailcoon Okay, but it doesn't help that there are so many github issues that are claimed by so few, and possibly on vacation too. I would like to help on some that seem to be claimed, but still are open. Just to put that out there.

[2018-07-23 00:42] wmbutler commented on #1407
This is such an important issue. Thanks for your work on it.

[2018-07-23 07:30] GabrielLeonte commented on #1715
No. I m using a custom server with bitshare-ui and a custom chain

[2018-07-23 07:53] GabrielLeonte commented on #1715
I must install this to allow users to register ?  http://docs.bitshares.org/testnet/7-faucet.html

[2018-07-23 08:11] sschiessl-bcp opened #1724 "[2] Private login feature"
**Is your feature request related to a problem? Please describe.**
When the user logs in via cloud login, the user's account name are retained even after "logging out", together with other user related values (mostly currentAccount in localStorage).

**Describe the solution you'd like**
Current behavior should not be changed in its defaults. Add a checkbox to the login modal "Remember my account(s

[2018-07-23 08:13] clockworkgr commented on #1724
+5%

[2018-07-23 11:47] sschiessl-bcp commented on #1521
I am calling out to all node operators, please provide me with the additional information to be able to give the user a more sophisticated selection process and filtering options.

See my comment above for the format, please simply comment in here with your updated node configuration in the same style (so I can copy and paste). Expectancy of a post:

Please update
[code]
to
[code]

Short explanati

[2018-07-23 11:59] clockworkgr commented on #1521
{
            url: "wss://bts-seoul.clockwork.gr",
            region: "Southeastern Asia",
            country: "Korea",
            location: "Seoul",
            operator: "Witness: clockwork",
            contact: "email:alex@clockwork.gr"
        }

[2018-07-23 12:06] dls-cipher commented on #1521
Listing emails in pages in their native structure mailbox@domain.com that can end up in Search Engines is just an open-invite for crawlers, bots, spam and unusual activity over https://wallet.bitshares.org so no, I don't agree with adding emails as contacts.

I would also added line entry that is saying is the node standard/full so we can end that endless question of users "is there any full node"

[2018-07-23 12:18] clockworkgr commented on #1521
After DL's comment I suggest a history_ops entry specifying amount of history. 0 for full node, or number for max ops held.

Updated my comment accordingly

[2018-07-23 14:42] sschiessl-bcp commented on #30
Just FYI, I plan to pick this up beginning/middle of august

[2018-07-23 14:48] oxarbitrage commented on #30
this is the correct pull that was merged, this are the api calls available:
https://github.com/bitshares/bitshares-core/pull/676

[2018-07-23 15:14] oxarbitrage commented on #30
there are 2 things needed in the core to make the feature more complete, not any of the 2 are needed to develop UI interface but i think it will help the whole:
- be able to do the process from client/seller with dedicated cli wallet calls.
- have test cases with different scenarios.
maybe open an issue in the core for this ...

[2018-07-23 19:36] startailcoon commented on #1045
Releasing this task for anyone else to pick up

[2018-07-23 19:37] startailcoon commented on #1598
Unasigned @gibbsfromncis for the moment. Free to claim by anyone

[2018-07-23 19:37] startailcoon commented on #1596
Unasigned @gibbsfromncis for the moment. Free to claim by anyone

[2018-07-23 19:59] abitmore commented on #1521
@clockworkgr 0 for mini node with no history.

[2018-07-23 20:01] startailcoon commented on #1539
Unassigned @gibbsfromncis, free to claim by anyone.

[2018-07-23 20:03] startailcoon commented on #1592
No additional input for 1 month, closing issue.

[2018-07-23 20:03] #1592 closed

[2018-07-23 20:08] startailcoon commented on #1521
[code]

[2018-07-23 20:49] abitmore commented on #1521
[code]

Actually I think UI can detect number of `history_ops` by itself.

By the way, how about enabled plugins / apis? Version? Compile-time options(https://github.com/bitshares/bitshares-core/pull/1099,https://github.com/bitshares/bitshares-core/pull/1140)? Will the UI code detect them automatically?

[2018-07-23 21:42] Kennybll commented on #1673
I would like to claim this.

[2018-07-23 21:54] sschiessl-bcp commented on #1521
@abitmore Yes, after connecting to the node that could be evaluated, but the main spirit of this update is to give the user filtering before connecting. All meanwhile the user should not be able to discriminate on facts other than location. Users like bigger numbers, running a full node is already more expensive and I want to avoid that traffic focuses there then.

After connection has been establ

[2018-07-23 21:55] startailcoon commented on #1673
it's yours @Kennybll

[2018-07-24 13:14] TheTaconator commented on #30
@svk31 @wmbutler: I drafted suggestions in [a document that describes two user experiences, and supporting GUI for them](https://github.com/TheTaconator/bsips/blob/bsip42-draft/bsip-0042.md) in case they might be helpful

[2018-07-25 09:47] ihashfury commented on #1521
[code]

[code]

[2018-07-25 17:02] HarukaMa commented on #1705
Out-of-sync language files are indeed annoying, as if the keys are not in the same order it's quite impossible to diff them.

Did once on SimpChinese and manually rearranged all the keys, and gave up since then...

[2018-07-25 17:08] HarukaMa opened #1727 "Incorrect target collateral ratio being set"
**Describe the bug**
I believe that internally 1.00 is 1000, and currently UI sends as 100. I think all percentages related to assets are using 1000. (Referral fee related are 10000)

Call orders of CNY:

[code]

It's only reasonable that they are actually 1.75.

Set the ratio of my own position to 6:

[code]

**Additional context**
A quite serious bug if this get uncaught on release...

[2018-07-25 18:19] startailcoon commented on #1727
You are indeed correct. At some point I've gone from a factor of 1000 to 100 in my code.
I'm sorry for the blunder, very nice catch!

[2018-07-26 05:07] cogutvalera opened #1729 "Inconsistent asset quantity shown in Portfolio"
**Describe the bug**
Inconsistent asset quantity shown in Portfolio (see screenshot below)

**Expected behavior**
Asset quantity must be equal everywhere.

**Screenshots**
![screenshot from 2018-07-26 08-00-58](https://user-images.githubusercontent.com/36471515/43242588-93ba9330-90aa-11e8-9f76-268fe12c7190.png)

**Desktop (please complete the following information):**
 - OS: [e.g. Ubuntu 16.04]
 -

[2018-07-26 05:10] cogutvalera commented on #1729
ah, sorry, that's because I has some other coins else too ... :-) not an issue, just my fault :-)

[2018-07-26 05:10] #1729 closed

[2018-07-26 07:37] cogutvalera commented on #1729
yes you're absolutely right :-)

[2018-07-26 08:04] svk31 commented on #1462
@sschiessl-bcp I'm assigning this to you since your refactoring in #1726 fixes this, not sure if you were aware of this issue.

[2018-07-26 08:05] #1462 closed

[2018-07-26 08:13] sschiessl-bcp commented on #1462
No, I wasn't, thanks.

[2018-07-26 09:34] #1712 closed

[2018-07-26 20:21] roelandp commented on #1521
[code]

[2018-07-27 02:11] pluswave commented on #1521
{
     url: "wss://bts.open.icowallet.net/ws",
     region: "Eastern Asia",
     country: "China",
     location: "Hangzhou",
     operator: "Witness: magicwallet.witness",
     contact: "telegram:plus_wave",
     history_ops: "300"
}

[2018-07-27 06:28] Tamizhanstalin opened #1731 "Tradeview chart slow processing in CEX exchange"
I am trying to implement tradingview chart using UDF method on CodeIgniter with PHP 5.6 in my website. I am trying to show records of six months for the following intervals: 1min view, 3min, 5min, 1day, 1week, 1month views. It's working but it's too slow, like the whole chart display takes more than 30sec.

Here I am using the api-btc-alpha.com for getting the result and display using JSON. How ca

[2018-07-27 06:50] startailcoon commented on #1731
I'm not sure if we would be able to provide a good solution to your question here. @svk31 is the one that implemented the new charts in our app and could perhaps provide some insight on problem you have.

Otherwise I'd advise you to use the support from the Trading View website.

[2018-07-27 07:43] #1723 closed

[2018-07-27 07:44] svk31 commented on #1711
This is not something that can be done by the GUI since we only have ohlc data, if you still want this to happen it should be done in bitshares-core.

[2018-07-27 07:44] #1711 closed

[2018-07-27 08:18] svk31 commented on #1259
It did not, trying again now

[2018-07-27 08:35] svk31 commented on #1670
I'm unable to reproduce so marking as low priority.

[2018-07-27 08:58] #1550 closed

[2018-07-27 08:58] svk31 commented on #1568
Fixed here: https://github.com/bitshares/bitshares-ui/commit/adc8a8a80c003983c5868fda5d8c01008824c17d

[2018-07-27 08:58] #1568 closed

[2018-07-27 09:00] svk31 commented on #1131
Nothing is needed in bitsharesjs

[2018-07-27 09:12] svk31 commented on #554
Can probably be unassigned. @dot5enko are you still around?

[2018-07-27 10:31] abitmore commented on #1706
https://cryptofresh.com/u/issuer registered more than 200 accounts. Need me to find them out, or someone else will do it?

[2018-07-27 11:29] kimziv commented on #1521
{
	url: "wss://kimziv.com/ws",
	region: "North America",
	country: "USA",
	location: "New Jersey",
	operator: "Witness: witness.yao",
	contact: "telegram: imyao",
	history_ops: "1000"
	bucket - size: "15,60,300,3600,86400"
}

[2018-07-27 13:02] abitmore commented on #1706
@svk31 here is the list https://github.com/abitmore/BTS-Core-work/blob/master/issuer.created.txt

[2018-07-27 19:34] svk31 commented on #1706
I already added every one of his registered accounts in that commit, I took them from cryptofresh.

[2018-07-28 07:55] DATSEC opened #1732 "How to disable or delete tradingview?"
I'm interested in the old indicator, can it be returned without consequences?

![Image alt](https://i.ytimg.com/vi/2U3QTfFkw2A/maxresdefault.jpg)

[2018-07-28 10:21] startailcoon commented on #1732
Is there some data you think are missing in the new Trading View graphs? What are your specific reason to view the old indicators?

@svk31, what is the impact of retaining the old graphs for backwards compatibility?

[2018-07-28 12:45] DATSEC commented on #1732
@startailcoon The old graph is better than api it can be improved and changed.
I believe that tradingview has monopolized the technology and each exchange uses their api

[2018-07-29 17:50] startailcoon commented on #1477
A new commit has been pushed to the forked version of the UI
https://github.com/bitshares/bitshares-ui/tree/1477-ExchangeRedesign

**Note that there are still changes to be made**

Right now I'd love to hear from you what you think about it

### What's done
We have four layouts, each with its own difference. You can now hide the panel, making the use of the space better. If you wish to hide the pa

[2018-07-29 19:31] #1731 closed

[2018-07-29 19:48] startailcoon opened #1733 "Implementing Elastic Search"
This is a placeholder issue for tracking implementation of Elastic Search to the UI.

By the end of the current Worker Priod (2019-03-01) we should try to complete integrating as much ES features as possible.

### Why ES
Elastic search is a highly dynamic and less resource required searchable database for various data on the chain. Instead of relying on nodes, that can change various parameters at

[2018-07-29 19:56] startailcoon commented on #1665
Duplicate of #68

[2018-07-29 19:56] #1665 closed

[2018-07-29 20:02] startailcoon opened #1734 "[10] Elastic Search Wrapper"
We need to implement Elastic Search to the UI.

This work issue is for implementing the base for connecting, identifying, verifying and quering such servers, much like how we do towards bitshares nodes today.

Work for this is estimated, meaning that the assignee should report back if work takes longer/shorter time than estimated.

Assignee should work for a good base so issues in #1733 could be w

[2018-07-29 20:05] startailcoon commented on #1422
Will be fixed in issue #1477

[2018-07-29 20:05] #1422 closed

[2018-07-29 20:05] #1212 closed

[2018-07-29 20:06] startailcoon commented on #1125
Do we have Safari support yet, and can we close this issue?

[2018-07-29 22:54] abitmore commented on #1665
@startailcoon I didn't see why it's a duplicate. Looks like #68 is about market history, this issue is about account history.

Actually #68 is getting too long, and there are a lot of unrelated discussions inside. I think it's better to start a new issue with clear user story and requirement specifications, like this one.

[2018-07-29 22:56] abitmore commented on #1734
If I'm correct, a friend of @HarukaMa already has a working wrapper, with same interface to the node. Please contact to avoid duplicate efforts.

[2018-07-30 04:33] startailcoon commented on #1734
If there is already a developed wrapper by someone, they can post their claims for this issue here.

[2018-07-30 08:13] svk31 commented on #1731
No idea tbh; I never had to do anything to boost loading speeds.

[2018-07-30 08:36] svk31 commented on #1125
I don't have a Mac anymore so I can't test, if someone can install the latest version of filesaver and then try to download a backup bin file that would answer your question.

[2018-07-30 09:08] Tamizhanstalin commented on #1731
ok

[2018-07-30 10:18] #1598 closed

[2018-07-30 11:10] svk31 commented on #1596
Gonna implement this, the UX might be temporary but at least the functionality will be there. I'm gonna move it to the Asset page but just keep the current UX for it. Then I'll split the asset page into two tabs: Info and Actions. Claiming balance pool, funding fee pool, changing owner etc will go into the Actions tab.

[2018-07-30 11:16] dot5enko commented on #554
@svk31 yup. But the question with old memos is still unanswered

[2018-07-30 16:43] HarukaMa commented on #1734
in fact, only #1665 was blocking the wrapper from running at the time we wrote the wrapper. As the elastic search core plugin has updated since then, we still need to modify the wrapper a little bit.

Please be noted that our wrapper is an api node wrapper which acts like a ordinary api node server, thus no modifications on UI is needed (except for the fore-mentioned issue. So I'm not quite sure i

[2018-07-30 17:31] startailcoon commented on #68
ES Wrapper call implemented as `get_account_history`. https://eswrapper.bitshares.eu/apidocs/#!/wrapper/get_account_history

[2018-07-30 17:33] startailcoon commented on #354
ES Wrapper API implemented as `get_trx`
https://eswrapper.bitshares.eu/apidocs/#!/wrapper/get_trx

[2018-07-30 17:34] abitmore opened #1736 "Make the clickable prices more obvious on margin adjustment page"
The "feed price" and "call price" here are clickable, can we make it more obvious?

![image](https://user-images.githubusercontent.com/9946777/43413139-80545244-942f-11e8-9dc2-570f14c13e00.png)

[2018-07-30 17:53] startailcoon commented on #1734
@HarukaMa your work was integrated to the ES API wrapper and I've added the call to #1665.

This issue is rather directed towards adding an easy to use UI wrapper for the ES calls and to handle cases when no ES nodes are available.

[2018-07-30 17:55] startailcoon commented on #1665
ES Wrapper call implemented as `get_account_history`. https://eswrapper.bitshares.eu/apidocs/#!/wrapper/get_account_history

[2018-07-30 18:43] clockworkgr commented on #1665
also available:

http://bts-es.clockwork.gr:5000/apidocs/#!/wrapper/get_account_history

[2018-07-30 18:48] startailcoon commented on #1665
@clockworkgr no need to post urls for ES APIs here. Should be collected on #1734 for the UI ES wrapper.

[2018-07-30 18:54] clockworkgr commented on #1665
Oh ok... I looked at both issues but I saw you posted it here so wanted to provide an alternative :)

[2018-07-30 18:54] clockworkgr commented on #1734
Another ES API avail here:

http://bts-es.clockwork.gr:5000/apidocs/#!/wrapper/get_account_history

[2018-07-30 20:16] bitsniper1 opened #1737 "[0.5] TradingView chart hangs when switching timeframes"
Using local wallet when trading on exchange view and change the timeframe, I get never ending "buffering dots array" have to switch to dashboard view and switch back to exchange view then I can use the newly selected timeframe. This only started after this most recent update.

![image](https://user-images.githubusercontent.com/9946777/43424214-e15432b6-944e-11e8-8fd6-36f88b4549e6.png)

[2018-07-30 21:03] abitmore commented on #1131
@svk31 I noticed that on the image, MCR is 175 but not 1750, MSSR is 110 but not 1100, please make sure the data is correct. By the way, perhaps better to use the same style used elsewhere:

![image](https://user-images.githubusercontent.com/9946777/43423364-8aed2696-944c-11e8-89f8-9943b6516507.png)

[2018-07-31 03:29] wmbutler commented on #1699
Probably the in wallet help for now.

[2018-07-31 03:32] wmbutler commented on #1737
Can you manually switch nodes and make sure you aren't on a VPN and let us know if the problem persists?

[2018-07-31 03:34] wmbutler commented on #1665
Trying to figure out how to estimate this.

[2018-07-31 03:36] wmbutler commented on #1736
- [ ] Blue underlines typically denote links. Since we have blue on other clickable areas, maybe we go with that. Seems that the Call price could lose the red color.

[2018-07-31 03:38] wmbutler commented on #354
Now we just need UX. Anyone claiming this?

[2018-07-31 03:42] wmbutler commented on #1629
@gibbsfromncis any estimates for your work on this?

[2018-07-31 03:45] wmbutler commented on #1125
I just tested with Safari and it's not possible to restore from a backup.

[2018-07-31 03:49] wmbutler commented on #1732
We are moving forward with tradingview. Feel free to fork an old version if you want the old charts.

[2018-07-31 03:49] #1732 closed

[2018-07-31 04:01] wmbutler commented on #1673
@Kennybll anticipated timeframe?

[2018-07-31 04:05] wmbutler commented on #1724
As long as this is restricted to cloud login and is tested thoroughly, this seems fine. Seems a bit redundant since a user could just use incognito.

[2018-07-31 04:07] wmbutler commented on #1662
@Kennybll understood, but I think @gibbsfromncis is deep enough into the styleguide that it might make sense for him to keep this one.

[2018-07-31 04:07] wmbutler commented on #1669
@froooze timeframe?

[2018-07-31 04:11] wmbutler commented on #1634
@happyconcepts are you a representative of BitSpark? I have no idea what point you are trying to prove.

[2018-07-31 04:12] wmbutler commented on #1634
@sschiessl-bcp I'd suggest you display percentages and close this issue.

[2018-07-31 04:25] wmbutler commented on #704
Just noting that we have ElasticSearch to help here.

[2018-07-31 04:29] wmbutler commented on #1672
Is this going to be claimed or just serving as reference?

[2018-07-31 04:31] wmbutler commented on #1468
@Bluffet please provide more detail including desired column headers and data contained within.

[2018-07-31 04:38] svk31 commented on #1131
It's being displayed as % in the current price feed table so I kept it the same here, but I can change both to be ratios of 1.x if that makes more sense.

[2018-07-31 04:47] HarukaMa commented on #1734
@startailcoon I don't think our work was integrated though, they are different approaches.

[2018-07-31 07:00] nowcoin-official opened #1738 "[2] Estimated blocktime is incorrect"
**Describe the bug**
If you check tx number 3b47eae38092807e4e9d2f38b7b49a4dd8944cc7 on open-explorer, then you will see the timestamp being different from what the BitShares Wallet Explorer is showing. Upon crosscheck with other explorers (cryptofresh, btsai) you can see that only the BitShares Wallet Explorer is showing a different timestamp, all explorers are showing the blockchain data correct

[2018-07-31 07:07] svk31 commented on #1738
No, the explorer timestamp is in UTC, the wallet timestamp is shown in your local time.

CEST = UTC + 2 hours.
02:51 UTC = 04:51 CEST

[2018-07-31 10:05] froooze commented on #1669
I can give an update at the end of the week.

[2018-07-31 10:13] nowcoin-official commented on #1738
It is not about timezones. The explorers are all showing correct time of 2:51, while the Wallet is showing 2:52, which is different from the block timestamp.

[2018-07-31 10:43] sschiessl-bcp commented on #1724
Icognito implementations may vary across browsers (mobile included). This offers a reliable way for the user, additionally to any icognito features.

What is the reason you want to exclude Local Wallet?

[2018-07-31 10:44] sschiessl-bcp commented on #1634
I suppose that would be the way with least resistance. Will look into it

[2018-07-31 10:47] sschiessl-bcp commented on #1672
This is already done, most time went into manual testing and filtering nodes.

[2018-07-31 10:47] #1672 closed

[2018-07-31 11:42] svk31 commented on #1738
Oh, I see what you mean now. The reason is that in the Activity view you're looking at the data we have does not include the actual timestamp of the operation, only the block number it happened, so we estimate the time based on the block number, the current block height and the time between blocks.

If you click the "Transfer" block it'll take you to the actual Explorer part of the wallet showing

[2018-07-31 12:48] nowcoin-official commented on #1738
Okay, I leave it to you from there. Just noted, hope it was useful :)

[2018-07-31 16:25] startailcoon commented on #1131
@svk31 just make sure it's defined, since feed publishers are used to the first type you had. Either is fine I guess, as long as its understandable.

[2018-07-31 19:51] abitmore commented on #704
ES doesn't help here.

[2018-07-31 20:06] abitmore commented on #1738
@svk31 just FYI there are database APIs to fetch block headers only rather than full blocks
* get_block_header
* get_block_header_batch

[2018-07-31 21:46] abitmore commented on #1706
@svk31 will you add the rest in next RC?

[2018-08-01 06:49] bangzi1001 commented on #1521
{
url: "wss://btsfullnode.bangzi.info/ws",
region: "Western Europe",
country: "Germany",
location: "Munich",
operator: "Witness: Bangzi",
contact: "Telegram: Bangzi",
history_ops: "1000",
bucket-size: "60,300,900,1800,3600,14400,86400"
}

[2018-08-01 07:33] #1576 closed

[2018-08-01 07:37] svk31 commented on #1738
Proposed solution: refactor the BlockTime component to instead use an api call to get_block_header, and add in memory caching of block_header data to prevent calling it over and over again.

[2018-08-01 07:38] svk31 commented on #1706
Sure.

[2018-08-01 07:50] #1706 closed

[2018-08-01 07:53] ruslansalikhov commented on #1521
{
     url: "wss://api.bts.blckchnd.com",
     region: "Western Europe",
     country: "Germany",
     location: "Falkenstein",
     operator: "witness:blckchnd",
     contact: "email:admin@blckchnd.com;telegram:ruslansalikhov;github:blckchnd",
     history_ops: "1000"
     bucket-size: "60,300,900,1800,3600,14400,86400"
},
{
     url: "wss://api-ru.bts.blckchnd.com",
     region: "Eastern Europe"

[2018-08-01 07:59] svk31 commented on #1700
Where are you setting it to 2D? Which API node are you using? The node I'm using doesn't support that interval.

[2018-08-01 08:05] svk31 commented on #1531
@xeroc A testnet GUI update would fix this.

[2018-08-01 08:05] #1531 closed

[2018-08-01 12:06] svk31 opened #1740 "[4] Add pagination to long tables"
**Is your feature request related to a problem? Please describe.**
Having long lists to scroll through like in portfolio with many assets, or Assets page, is bad for performance and usability.

**Describe the solution you'd like**
Using the Antd Pagination component, add pagination to some of the tables:

- [x] Portfolio
- [x] Account orders
- [x] Assets search
- [x] Accounts search
- [x] Recent t

[2018-08-01 12:28] #1740 closed

[2018-08-01 12:36] yuzhongzhen commented on #1521
{
url: "wss://bitshares.bts123.cc:15138/",
region: "North China",
country: "China",
location: "Hangzhou",
operator: "Witness: delegate.freedom",
contact: "telegram:eggplant",
history_ops: "100",
bucket-size: "60,300,900,1800,3600,14400,86400"
}
{
url: "wss://freedom.bts123.cc:15138/",
region: South China",
country: "China",
location: "Changsha",
operator: "Witness: delegate.freedom",
contact: "tel

[2018-08-01 12:37] Xeldal commented on #1521
{
     url: "wss://kc-us-dex.xeldal.com/ws",
     region: "North America",
     country: "USA",
     location: "Kansas City",
     operator: "Witness:xeldal",
     contact: "telegram:xeldal",
     history_ops: "3000"
     bucket-size: "300,900,1800,3600,14400,43200,86400"
}

[2018-08-01 12:40] sschiessl-bcp commented on #1738
Another API call just for the time seems unnecessary.

I understand that the diplayed BlockTime is interpolated?

One could do a popup onHover that explains how the interpolation happens and onClick go to the block details, which shows the correct time.

[2018-08-01 12:49] axin313 commented on #1521
{
url: "wss://ws.winex.pro",
region: "Asia",
location: "Singapore",
operator: "Witness: winex.witness",
contact: "telegram: zmaxin",
history_ops: "1000"
bucket-size: "60,300,900,1800,3600,14400,86400"
}

[2018-08-01 12:54] Zapata commented on #1521
[code]

[code]

Note: There is no way to specify if it's a testnet node or not, I have added a `network: mainnet|testnet` field.

[2018-08-01 13:09] sschiessl-bcp commented on #1521
Thank you.

@Zapata every node that has testnet in its URL is recognized as such

[2018-08-01 13:18] lzmlam commented on #1521
{
url: "wss://blockzms.xyz/ws ",
region: "North America",
country: "America",
location: "New Jersey",
operator: "Witness: delegate-zhaomu",
contact: "telegram:@lzmlam wechat:lzmlam",
history_ops: "100",
bucket-size: "60,300,900,1800,3600,14400,86400"
}

[2018-08-01 14:26] svk31 opened #1744 "[0.5] Navigating to non-existant accounts/assets does not trigger 404"
**Describe the bug**
Navigating to non-existant accounts/assets does not trigger 404 which used to be the case.

**To Reproduce**
Go to /asset/AZDAZDAZDAZDAZD

[2018-08-01 14:32] #1744 closed

[2018-08-01 15:15] abitmore commented on #1738
This won't be an issue after switched to ES.

In the meanwhile, best UX would be to store timestamps directly in the account history objects (modify core plugin).

By the way, what timestamps are being showed in "my trades" tab of exchange page?

[2018-08-01 16:01] svk31 commented on #1738
Those are using the same component to interpolate the time, since only the block number is available.

[2018-08-01 18:34] Kennybll commented on #1673
Please remove me from this task @wmbutler

[2018-08-01 18:46] abitmore commented on #1117
Who will work on this?

[2018-08-01 19:02] wmbutler commented on #1734
I'd agree that ES Wrapper is better. It requires less involvement from node operators.

[2018-08-01 19:05] wmbutler commented on #1724
I wasn't suggesting we exclude the local wallet. I was referring to the cloud login (using a username and password rather than a stored file).

[2018-08-01 19:29] sschiessl-bcp commented on #1724
From how I understand you would NOT want a private login feature for local wallet, is that correct?

[2018-08-01 23:16] BhuzOr commented on #1521
[code]

[2018-08-01 23:59] Bluffet opened #1745 "Add market feature bug RC1 189808"
Enabeling adding of custom markets is a good idea. But putting it to the test was an awkward experience.

I have for a long time wanted bit.EUR as a default market. So I clicked the + sign to create it. But it results in a white screen when typing in "bit.eur". I also tried the asset ID "1.3.130" to see if it could work around it, but no.

Sampled some console data if it helps:

ypeError: Cannot u

[2018-08-02 04:16] startailcoon commented on #1117
It's still up for claims. We need a UX for a coder to work from.

I've increased hours

[2018-08-02 05:54] svk31 commented on #1745
Thanks for the report, I'll look into it why it triggers a white screen.

For bitEUR you need to use EUR which is what it's really called, none of the inputs you used will work.

[2018-08-02 08:05] Bluffet commented on #1745
I see. I will try that too. And if possible update or close it.

Thanks svk.

[2018-08-02 08:13] Bluffet commented on #1745
Ehhh... NO!

I get to the last letter and it is white screen. Tried another asset, EZIRA too and same issue. It gets to the last char and booom.

[2018-08-02 08:53] crazybits commented on #1521
{
url: "wss://crazybit.online",
region: "Asia",
country: "China",
location: "Shenzhen",
operator: "Witness: crazybit",
contact: "Telegram: crazybits, Wechat: JamesCai",
history_ops: "1000",
bucket-size: "60,300,900,1800,3600,14400,86400"
}

[2018-08-02 11:27] TechsUsInc opened #1746 "Market Page- asset listings"
Bug Description:
Please see images. On the sample Markets page, under BTC, there are multiple market pairs; asset name/percentages don't match; values/percentages change upon switching pairs but remain the same for others; Market page, Market pair, and Market bid pair names don't match

Steps to reproduce the behavior:
1. Download and install 180808; Click on BTC tab.
2. Notice pairs within the BT

[2018-08-02 11:40] TechsUsInc opened #1747 "Market page - Custom Quote addition"
White screen hangs when adding a custom quote to the market page.

Steps to reproduce the behavior:
1. Click on Exchange tab.
2. Click on the plus sign to add a custom quote.
3.Type BTD (red typed asset does not exist should appear). Backspace to type BTS or BTC.
4. White screen hangs; clicking view->reload restores.
5. Typing random asset names with 5 or more characters then backspacing also resu

[2018-08-02 11:48] TechsUsInc opened #1748 "[0.25] Disable new version available notification for release candidates"
Notification of a new update appears under the newly installed 180808 version.
When clicked, it redirects to the latter version; https://bitshares.org/download/

Steps to reproduce the behavior:
1. Download and install 180808.
2. Note the version 180808 appears in the bottom left corner.
3. Note the highlighted update available below the version number 180808.
4. Click to update - redirects to htt

[2018-08-02 11:57] startailcoon commented on #1748
Perhaps it's better to direct the user to the github releases @svk31?

[2018-08-02 12:24] svk31 commented on #1746
Those are all different markets, the BTC tab now combines all BTC markets, so you'll get OPEN.BTC vs BTS, and RUDEX.BTC vs BTS etc. I did expect this to confuse people, but still think it's better to show all markets this way.

The white screen issue is a duplicate of #1745

[2018-08-02 12:36] #1745 closed

[2018-08-02 12:37] ryanRfox commented on #1521
{
     url: "wss://api.bts.network/",
     region: "North America",
     country: "USA",
     location: "Virginia",
     operator: "Witness: fox",
     contact: "telegram:ryanRfox",
     history_ops: "1000",
     bucket-size: "60,300,900,1800,3600,14400,86400",
     network: "mainnet"
}

[2018-08-02 12:37] svk31 commented on #1748
This is a release candidate,the notification won't go away until a final release is made.

[2018-08-02 12:38] svk31 commented on #1745
Ok this was a completely unexpected side-effect of this commit: https://github.com/bitshares/bitshares-ui/commit/3d142f2ce6b4c96461629228954c793d7939077c

[2018-08-02 12:52] TechsUsInc commented on #1748
Or add a new notification for RC builds - RC build - pending release.
Disabling the notification for builds would remove any doubt or confusion though.

[2018-08-02 12:54] #1748 closed

[2018-08-02 13:13] TechsUsInc commented on #1746
Perhaps an asset icon next to the buy/sell buttons would help visually, yet subliminally confirm to the user before initiating a transaction. The same asset icon could also be placed next to the star, or within the market asset description. And/or, the asset line could be injected with the asset color for quick identification and differentiating from the others.
 Within the BTC tab, hovering the p

[2018-08-02 14:51] TechsUsInc opened #1749 "Find Markets - ability to search for a specific asset OR all assets from a issuer"
Please consider adding the ability within the Find Markets search tab to not only be able to search for a specific asset, but all UIA pairs within each market from a specific issuer. (Search->Asset or Issuer).

For example, typing Open lists all Open.xxx assets within that market tab and coincidentally the issuer for most (Openledger). Conversely, Typing Openledger does not reveal all of the asset

[2018-08-02 18:25] TechsUsInc opened #1750 "Withdrawal - GDEX"
**Describe the bug**
(From both the local wallet and https://staging.bitshares.org)

With the account lock engaged, a user is able to read the GDEX deposit/withdrawal service agreement.
With the account lock engaged, a user is able to tick having read and agreed to the GDEX deposit/withdrawal service agreement without having to first unlock the account. Once accepted (account locked or unlocked),

[2018-08-02 21:50] abitmore commented on #1749
I don't think the voting mechanism need to be done as a core consensus feature. This kind of voting can be manipulated in many ways, it's hard to define a perfect rule, especially the rule need to be somehow static if put it in consensus.

[2018-08-03 06:51] btsabc commented on #1521
{
     url: "wss://bit.btsabc.org/ws",
     region: "Eastern Asia",
     country: "China",
     location: "Hong Kong",
    operator: "Witness: abc123",
    contact: "QQ: 58291,email:58291@qq.com",
    history_ops: "1000",
    bucket-size: "15,60,300,3600,86400"
}

[2018-08-03 07:39] svk31 commented on #1477
Some comments:

Minus
- I had to remove the 100% height on the vertical orderbook since that made it take up 1000s of pixels vertically
- I still dislike having a vertical orderbook since it makes it impossible to survey bids and asks independently, and you lose the sum information
- The asset name/price boxes (BTS / bitUSD) (bitUSD) in Buy/sell no longer align properly which makes them look weird

[2018-08-03 08:14] svk31 commented on #1737
I think this is caused by using an API node that doesn't support grouped orders, the data fetching fails in that case because another api call fails.

[2018-08-03 08:46] #1737 closed

[2018-08-03 09:39] svk31 opened #1751 "[8] Improve the dashboard Featured/Starred Markets tables"
**Is your feature request related to a problem? Please describe.**
The current tables display a lot of information but in a completely unsorted way with all kinds of markets jumbled together.

**Describe the solution you'd like**
The list of markets should be sortable by:
- [x] Volume
- [x] Price
- [x] 24hr change

The markets should be sorted by quote asset, similar to what's done in the Exchange

[2018-08-03 13:38] sschiessl-bcp opened #1752 "STAGING fix: Dashboard breaks on empty accounts"
Try loading https://staging.bitshares.org/#/account/blockchainprojectsbv-test-2

This account has no assets

[2018-08-03 13:39] sschiessl-bcp commented on #1752
@svk31

[2018-08-03 13:45] sschiessl-bcp opened #1753 "[1.5][nikandrovalex] White Theme Issues"
In asset details e.g.

![image](https://user-images.githubusercontent.com/33128181/43646102-3b2b269a-9734-11e8-869f-446f8a3eac2d.png)

and probably other places?

[2018-08-03 14:08] startailcoon commented on #1477
Thanks for your feedback svk31

There are some things that may be required to change, like your height issue. I'll see to that.

I'm working out of the exchange redesign UX, which has 2 vertical and 2 horizontal layouts. We can add more if required. But for now this is what I have to work from. Some may find vertical books easier, but I get your point.

I'll have another look at the scrollbar alig

[2018-08-03 14:19] svk31 commented on #1752
Nice catch

[2018-08-03 14:22] svk31 commented on #1753
Please be a bit more specific. Are you talking about the tabs? Anything else?

[2018-08-03 14:34] sschiessl-bcp commented on #1753
Yes, the tabs. It's 36 degrees here, can't focus -_-

I will add screens if I find it in other places

[2018-08-03 14:49] sschiessl-bcp commented on #1521
All added up till here.

[2018-08-03 15:02] sschiessl-bcp commented on #1521
These nodes are still to be updated:
 - ws.hellobts.com
 - api.bts.ai, witness.hiblockchain
 - bts-api.lafona.net/ws, delegate-1.lafona
 - api.btsxchng.com, elmato
 - btsza.co.za:8091
 - dex.rnglab.org, rnglab
 - ws.gdex.io
 - node.btscharts.com

If anyone has contacts there, please ping

[2018-08-03 22:42] abitmore opened #1755 "[4] Handle proposals related to phishing accounts"
**Is your feature request related to a problem? Please describe.**
There are phishing attempts using proposals.
![image](https://user-images.githubusercontent.com/9946777/43668552-de3e26ea-977d-11e8-9f49-224040ece503.png)

Before a proposal is expired, it will be shown in the "proposals" tab.

**Describe the solution you'd like**
* Warn the user if the proposal is related to a phishing account
  *

[2018-08-04 03:47] tianyekuo commented on #1521
"ws.gdex.io" does not support any more, it's better remove it from the node list, thanks.

[2018-08-04 10:46] startailcoon commented on #1750
The mentioned service agreement is implemented by the GDEX Team and is nothing the Bitshares Reference Wallet have implemented.

Any changes to the way GDEX handles their agreements to users should be pushed as an update by their official sources as PR. Additionally, any changes to their agreements, like mentioned names and possible confusion, should be handled by their respective sources as well.

[2018-08-04 10:46] #1750 closed

[2018-08-04 10:59] startailcoon commented on #1755
We should try to implement #1673, to make it possible to reject invalid proposals. I can see other accounts get these types of proposals as well any day. The committee-trade account is well knowledge people, but smaller accounts and new users may fall into this.

Based on sources for phishing accounts, as mentioned by #1706, we should update the UI to highlight these accounts more prominent.

## W

[2018-08-04 11:04] startailcoon commented on #1753
@sschiessl-bcp I assume that it's the white theme you have found some issues with, and that it is the buttons for the asset details page.

I've added an hour for searching trough CCS issues for the theme and address potential issues.

[2018-08-04 11:11] startailcoon commented on #1746
@svk31 I know we're short on space for this section, but could it be worth adding a "Tag" image to show the mentioned exchange handling the asset pair?

Example 1: When you press BTC and pick the first BTS line, you're chosing the BTS/OPEN.BTC market, we could add a simple `OPEN` image before it. Same with the others like `GDEX`, `BRDIGE` etc.

Example 2: When you press USD and pick open.BTC you'r

[2018-08-04 11:56] abitmore opened #1756 "Able to detect / restrict unexpected outgoing traffic?"
**Is your feature request related to a problem? Please describe.**
If there is a phishing URL get included in the wallet, is the application able to detect and even prevent it from loading?

**Describe the solution you'd like**
Things that I've thought of:
* use a white list which contains known API nodes and gateways and probably access to some internal components, known friendly URLs e.g. block

[2018-08-04 12:09] grctest commented on #1756
Outbound hyperlinks perhaps we could provide a warning prompt (upon being clicked) like "WARNING YOU'RE LEAVING THE BTS DEX! BEWARE OF SCAMS!". Nothing to stop the user copy/pasting an URL into the web browser, side-stepping warning prompts though 🤔

The wallet's content security policy stops any remote connections which aren't intended, though following a hyperlink (like witness link) is more of

[2018-08-04 12:16] grctest commented on #1696
Sort of on topic, Google has a 'send feedback' button which shows the following prompt:

![image](https://user-images.githubusercontent.com/15861527/43676385-4d454856-97e8-11e8-9bf8-ed11cd49ffe4.png)

Perhaps the above wouldn't be suitable for raising github issues, and it may result in customer support requests instead of bug reports, but something similar to the above which sent the feedback to

[2018-08-04 12:34] startailcoon commented on #1756
I believe it's a good thing to actually show if you will leave the app/page or not when clicking on something.

An easy implementation to notify users about this is to show an icon or symbol to notify this to the user. Steem does this like the following example

![image](https://user-images.githubusercontent.com/12114550/43676515-4f27bcac-97f3-11e8-9535-c5dd54fd5f7e.png)

We could just add the ico

[2018-08-04 12:40] startailcoon commented on #1749
This is part of #1733, waiting for Elastic Search implementation.

[2018-08-04 14:38] TechsUsInc opened #1757 "Explore Assets - pagination fields"
**Describe the bug**
1.	Screen hangs on the “three dots” when loading the assets page from the Explore tab.
With 180802-RC2, the screen intermittently hangs on the “three dots” for several seconds, then loads while other times it loads fine. With 180802-RC1, the screen hung each time, and anytime trying to tab to UIA or PMA without ever loading.
2.	The Asset pagination tabs jump to the right withi

[2018-08-04 14:58] ety001 commented on #1521
`{
            url: "wss://bts.to0l.cn:4443/ws",
            region: "Eastern Asia",
            country: "China",
            location: "Shandong",
            operator: "Witness: liuye",
            contact: "email:work@liuye.tech",
            history_ops: "100",
            bucket-size: "60,300,900,1800,3600,14400,86400"
}`

[2018-08-04 15:39] abitmore commented on #1756
How to prevent XSS from application level?

[2018-08-04 16:00] viaNull commented on #1521
{
url: "wss://api.bts.ai",
region: "Eastern Asia",
country: "China",
location: "Beijing",
operator: "Witness: witness.hiblockchain",
contact: "telegram:vianull ,Wechat: strugglingl",
history_ops: "400",
bucket-size: "60,300,900,1800,3600,14400,86400"
}

[2018-08-04 17:05] startailcoon commented on #1757
The pagination is part of https://github.com/bitshares/bitshares-ui-style-guide, based on Ant Design.

The spacing between the numbers is how the component works when there are more than ~10 pages, so this needs to be pushed upwards to their repo on https://github.com/ant-design/ant-design.

One solution could be to right align the pagination component, making the right click never to move away fr

[2018-08-04 18:14] TechsUsInc commented on #1757
That would be ideal for most users mobile and desktop alike, but my personal preference was one page, scrollable, up and down. Same for Portfolio, Open Orders, Margin Positions, and Activity within the Dashboard.Faster, easier, more user friendly by having less to navigate.

[2018-08-04 19:18] TechsUsInc opened #1758 "[0.5] Margin tooltips - Do not react to mouse hover"
Version: 180808-RC1, 180808-RC2, https://staging.bitshares.org

**Describe the bug**
Margin help tooltips (6) do not react with a mouse hover. I checked the main markets, but not all.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Exchange.
2. Click on the BTC tab within the market.
3. Click on the Bit.USD tab within the market to create the pair.
4. Scroll down to Borrow Bit.USD.

[2018-08-04 19:44] ppitonak commented on #1125
There is the same problem with Firefox 61 on Fedora 28 so it's not Mac/Safari only.

[2018-08-04 22:30] happyconcepts commented on #1634
No, but I understand George has started calling themselves spark instead of bitspark. Perhaps a future discussion will result in their use of the spark token I created here last year, but I don't appreciate being railroaded and labeled a scam here with no basis in the meantime.

I am just providing the community with a spark price tracker now. Pivoted development to waves for our flat fee business

[2018-08-05 00:26] SahkanDesertHawk commented on #1521
{
url: "wss://la.dexnode.net/ws",
region: "Northern America",
country: "USA",
location: "Los Angeles",
operator: "Witness: Sahkan"
contact: "telegram:Sahkan_bitshares",
history_ops: "1000",
bucket-size: "15,60,300,3600,86400",
network: "mainnet"
},
{
url: "wss://dexnode.net/ws",
region: "Northern America",
country: "USA",
location: "Dallas",
operator: "Witness: Sahkan"
contact: "telegram:Sahkan_bi

[2018-08-05 03:12] jademont commented on #1521
{
url: "wss://ws.hellobts.com",
region: "Eastern Asia",
country: "Japan",
location: "Tokyo",
operator: "Witness: xman",
contact: "Wechat: hidpos , Email:hellobts@qq.com",
history_ops: "500",
bucket-size: "60,300,900,1800,3600,14400,86400"
}

[2018-08-05 14:33] sschiessl-bcp commented on #1696
Agreed, i would not want automatic GitHub issue generation. But when supporting someone a report coming from that button will help enourmously

[2018-08-05 14:40] sschiessl-bcp commented on #1634
Please read what I wrote, no one is labeling you. Also we"ll probably go with Bill's approach.

Much success on the Waves platform, we'd be happy to still have you here as well

[2018-08-05 15:59] startailcoon commented on #1689
Any progress on this @mattbeckham?

[2018-08-05 17:35] startailcoon commented on #1477
- [x] 100% height is apparently working different on browser/OS level. I see the issue on Chrome. *Fixed*
- Just don't use the vertical order book? :)
- [x] Asset Name/Price boxes was set to dynamic width. I'm changing back to fixed percentage as it does look better. *Fixed*
- It's more dynamic and mobile friendly. I think it's a step forward, but any changes can still be made to improve it.
- [x]

[2018-08-05 17:40] startailcoon commented on #1477
I will build a fifth layout, as I understand what @svk31 is thinking here. Both horizontal order book layouts (3+4) has the Buy/Sell forms on the side.

A fifth layout will be a merge of the 3rd layout, but with the buy/sell boxes.

[2018-08-05 19:39] sschiessl-bcp commented on #1752
This account shows the same behavior

https://staging.bitshares.org/#/account/sean-sgtreport1

[2018-08-05 19:43] sschiessl-bcp commented on #1705
Weblate was working fine, but more manual work needed.

Community pointed me to transifex.com, which provides free services for OpenSource project and seems more sophisticated / better maintained than Weblate. BitShares Organization existed there so I needed to get admin access. That is now done and I will continue to refresh the translation files once my personal account has write permission.

[2018-08-05 20:01] sschiessl-bcp opened #1760 "Send modal evaluates receiving account incorrectly"
**Describe the bug**
blob:https://web.telegram.org/0934356d-2b6d-456c-a11a-b534d69cb18e

**To Reproduce**

1. Open https://wallet.bitshares.org/#/
2. Click transfer and enter any account that is not your own. The above unknwon account message will appear.
3. Delete last letter and retype it, and ta-da

I would recommend to push this onto staging and current release on Wednesday

[2018-08-05 20:09] sschiessl-bcp commented on #1760
@startailcoon please evalulate my last comment

[2018-08-05 20:10] startailcoon commented on #1760
I can confirm

[2018-08-05 21:15] lafona commented on #1521
{
url: "wss://bts-api.lafona.net/ws",
region: "Northern America",
country: "Canada",
location: "Montreal",
operator: "Witness: delegate-1.lafona",
contact: "Telegram: lafona",
history_ops: "1000",
bucket-size: "60,300,900,1800,3600,14400,86400"
}

[2018-08-05 21:43] DATSEC opened #1761 "[.5] White screen when downloading an exchange"
You need to add a preload
![Image alt](https://i.imgur.com/3SWDPLO.jpg)

[2018-08-06 04:37] cogutvalera opened #1762 "[.5] Final entry in Market history gets cut off (css issue)"
**Describe the bug**
Cannot see all Market Trades (see screenshot below) BitShares-UI 180720 in Chrome & Desktop Ubuntu 16.04 64bit

**Screenshots**
![market trades ui bug](https://user-images.githubusercontent.com/36471515/43697238-8083786e-994b-11e8-8573-982b920b5b44.png)

[2018-08-06 05:27] sschiessl-bcp commented on #1762
Can you be more specific?
What orders are missing? How can we reproduce?

[2018-08-06 05:28] sschiessl-bcp commented on #1761
Could you provide browser console output please? What is your OS / browser?

It works with current release, just not with staging?

[2018-08-06 05:37] sschiessl-bcp commented on #1521
All added until here.

Still remain:
- api.btsxchng.com, elmato
- btsza.co.za:8091
- dex.rnglab.org, rnglab
- node.btscharts.com

[2018-08-06 06:02] cogutvalera commented on #1762
isn't my screenshot specific as much as possible ? :-) look please more accurately on my screenshot and you will understand that I cannot scroll down in Market Trades panel to see other orders, I don't know which exactly orders I don't see because I cannot see them.

[2018-08-06 06:51] sschiessl-bcp commented on #1521
Changed hours to incorporate:
 - finding node operators
 - optimize ping strategy for lower connectivity (feedback from members in chinese community on staging release)

[2018-08-06 07:32] Tamizhanstalin commented on #1731
@svk31 ,  It is possible to create a DEX using the bitshare-ui , because i had downloaded from https://github.com/bitshares/bitshares-ui and it working on localhost, If possible kindly guide me i am on correct track if yes means what i do next

[2018-08-06 07:49] svk31 commented on #1761
This isn't the way to do it, you have to override it in the custom css files. I'm making a commit for that, but at least on my end it's still flashing white a little bit even after applying the loading-indicator background override..

[2018-08-06 10:32] svk31 commented on #1731
I'm not sure what you're asking for

[2018-08-06 10:33] svk31 commented on #1762
I do now, hence the title change, but it took some time to figure out and that's quite annoying when it would've been so easy to just explain what the issue was.

[2018-08-06 10:53] cogutvalera commented on #1762
I've described the bug and showed screenshot, I didn't just place only screenshot without any describing words.

"Cannot see all Market Trades" - is it so hard to understand ? isn't it self explanatory in conjuction with my screenshot ? I don't think that for this little bug we need a lot of describing words, right ? isn't so ?

[2018-08-06 11:16] cogutvalera commented on #1762
sorry if I've wasted your time ! Really sorry ! I really appreciate all your efforts and your time as well ! I don't like also when people tells about bugs without any directions and descriptions or with just a few describing words about founded bugs which isn't enough in most cases, it's really annoying ! You're absolutely right ! At the same time I don't like a lot of words when it isn't require

[2018-08-06 12:09] Tamizhanstalin commented on #1731
I have installed bitshare-ui in my localhost i need to change my coin instaed of BTS that i asking, Thanx

[2018-08-06 13:33] MikhailKavalenka commented on #1521
{
            url: "wss://na.openledger.info/ws",
            location: "Canada, Quebec",
            operator: "Witness: openledger-dc",
            contact: "telegram:mtopenledger",
            history_ops: "100",
            bucket-size  : [15,60,300,3600,86400]
}

One more from Openledger

[2018-08-06 18:06] wmbutler commented on #1689
I'd suggest that we remove the centering completely and let the user scroll determine where this is positioned. Thoughts?

[2018-08-06 18:10] wmbutler commented on #1696
So maybe an element in the Help area that stores the important info so we can ask users to copy and paste it into a github issue.

[2018-08-06 18:12] mattbeckman commented on #1689
Sorry, forgot I self assigned. I started work on it, and I think we should split the bid/ask/center so that we aren't trying to center vertically across a large set of rows. Separate scroll for top/bottom. I'll get a screen capture soon.

[2018-08-06 19:00] startailcoon commented on #1762
I can say that this really took me some time to see as well, and I think it would have been much help to describe what the issue was in more detail *OR* made a circle on the image pointing to the actual issue.

Something that may have looked obvious to you can take some time for someone else. At least the issue is defined and can be fixed now.

For the record for those still trying to find this is

[2018-08-06 19:10] cogutvalera commented on #1762
Perfect ! Really forgot about RED CIRCLE in screenshot ! My fault ! Sorry !

[2018-08-07 04:32] startailcoon commented on #1669
Ping @froooze

[2018-08-07 06:02] KKCoinLeo commented on #1521
{
url: "wss://node.btscharts.com/ws",
region: "Eastern Asia",
country: "China",
location: "Beijing",
operator: "leo2017",
contact: "Wechat: wx8855221 , Email:8855221@qq.com",
history_ops: "1000",
bucket-size: "15,60,300,3600,86400"
}

[2018-08-07 08:48] sschiessl-bcp commented on #1521
Added

[2018-08-07 11:11] Tamizhanstalin commented on #775
is there any bitsahre api to craete wallet for new user along with login
https://github.com/carlo-fontanos/bitshares-api-cli-wallet
This is not working for me, perhaps i think i am running in a wrong way any guide pls

[2018-08-07 14:18] startailcoon commented on #1363
@dot5enko does this issue have any updates? Should I remove your assignment?

[2018-08-07 17:54] svk31 opened #1767 "[8] Add proper csv account history export"
**Is your feature request related to a problem? Please describe.**
The current csv export is limited to 100 entries.

**Describe the solution you'd like**
Use https://github.com/svk31/bitshares-report to fetch account history using elastic search, and parse the results in standard cointracking format.

[2018-08-07 18:03] startailcoon commented on #1767
Great work to have this directly in the app!

[2018-08-07 18:16] cogutvalera commented on #1762
also it seems like MY OPEN ORDERS table is cutted off (the same bug as for MARKET TRADES)

[2018-08-07 18:39] startailcoon commented on #1762
It's not exactly cut of, it's just not spanning all the space it have when the boxes on the same row are taller.

[2018-08-07 18:41] cogutvalera commented on #1762
@startailcoon I think the same, but used "cut off" as @svk31 mentioned in title

[2018-08-07 19:45] MarkoPaasila opened #1768 "New orders don't appear in "MY OPEN ORDERS""
At least in less common markets, when I place a new sell or buy order, it gets confirmed, the balance is reduced, the order appears in SELL/BUY ORDERS, but doesn't appear in MY OPEN ORDERS. If I close the DEX and reopen it, the orders get listed correctly. If I remember correctly, this bug appeared in versions beginning from February or March.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2018-08-07 20:08] #1758 closed

[2018-08-07 20:13] startailcoon commented on #1768
This doesn't happen for me on the latest RC-2 build.

Placing 2 orders on the BTS:PPY market

![bitshares-myorderissue](https://user-images.githubusercontent.com/12114550/43799875-f9a52794-9a8e-11e8-957a-ae0aed3246d9.gif)

[2018-08-07 20:26] startailcoon commented on #1479
*Pasting conversation on PR:https://github.com/bitshares/bitshares-ui/pull/1695*

@sschiessl-bcp

I'm not sure, but we've talked about doing something about it. They are more Gateway specific, and could probably stay in one form or another. They provide some more space for gateway specific features and functions, like updates, news, contact details etc. I see these sections more of a space where t

[2018-08-08 18:30] cogutvalera opened #1770 "[1] White screen after losing connection or failing to ping/connect to any nodes"
**Describe the bug**
White screen only is seen on Ubuntu (16.04 and 18.04) for BitShares UI 180808 .deb release

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://github.com/bitshares/bitshares-ui/releases`
2. Download `.deb` 180808 release
3. Install `.deb` on Ubuntu 16.04 or 18.04
4. Run 180808 release on Ubuntu and you will see only white screen

**Desktop (please complete the

[2018-08-08 21:40] cogutvalera commented on #1770
after some hours I've checked again on Ubuntu 18.04 and it works now well enough ! I close this issue !

[2018-08-09 00:32] gibbsfromncis commented on #1662
@Kennybll Feel free to take any issues regarding bitshares-ui. If you want to work on style-guide too please start from bitshares-ui.

[2018-08-09 04:21] startailcoon opened #1771 "Improving Gateway/Bridge Documentation and Codebase"
The current system used for gateway/bridge access and communication is now a few years old and was introduced with the addition of Openledger.

The lack of documentation and knowledge of the workings of this has greatly limited the introduction of new gateways to the platform. Some work has been made to enhance the quality, but it still lacks some documents and has some confusing questions.

As a

[2018-08-09 05:16] clockworkgr commented on #1771
Can we get someone from OL to comment on what all the fields are? Anyone who worked on the UI side from back then who can comment on what they're used for/what's implemented?

[2018-08-09 05:39] startailcoon commented on #1771
I have a pretty good understanding of the system that we have today from when I enhanced it for the current unified config system. I know where to look in the code and have an overall picture of it.

Anyone that has an understanding of the system is free to help.

[2018-08-09 06:31] clockworkgr commented on #1770
this happens on my android as well...white screen after intialising local databases

[2018-08-09 11:15] grctest opened #1772 "Testnet light client debug menu"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When using the light client on a private testnet, the lack of URL navigation (which is present in the web ui) prevents working around application initialization errors & missing data pages (such as USD_BTS market default pair of which both

[2018-08-09 12:29] grctest opened #1773 "Faucet configuration checks"
**Is your feature request related to a problem? Please describe.**
When connecting to a private testnet, the client will attempt to use the default configured public/prod faucet without warning. The user may think that they're connected to their private testnet, but they're attempting to create user accounts on the public testnet.

When you configure an alternative faucet, no checks are performed

[2018-08-09 14:59] sschiessl-bcp commented on #1705
Current master now setup:

https://www.transifex.com/bitshares/bitshares-ui-1/dashboard/

[2018-08-09 15:01] startailcoon commented on #1772
It may indeed pose a problem sometimes. The UI should handle the lack of the defined markets gracefully and navigate to another, valid, page.

Not sure how easy it would be to implement a "Navigate To" feature, but it's a good idea for quick navigating if you know where you want to go, like a app-map list.

[2018-08-09 19:51] svk31 commented on #1705
Cool. Not sure if transifex will also do this for you, but thought I'd make sure you know that there's a script in bitshares-ui you can run that uses locale-en.json as a template and fills all the other files with any keys they're missing. That script also sorts all keys alphabetically, and can be very nice to run whenever you add new keys.

`npm run fix-locale-files`

[2018-08-10 07:12] BazkieBumpercar commented on #1770
Nope, still happens on my Debian.

Solution: cleared application data. Now it works. This should happen automagically though (and ideally only the applicable keys)

[2018-08-10 14:40] startailcoon commented on #1770
@svk31 mentioned that this issue only required a refresh (F5). But if this is not the case it should have someone taking a deeper look at why this happens.

[2018-08-10 14:42] cogutvalera commented on #1770
Refresh (F5) didn't help me, just after some time it started to work on my both Ubuntu 16.04 & 18.04 magically well enough without white screen issue

[2018-08-10 14:43] cogutvalera commented on #1770
also @clockworkgr Alex mentioned the same issue on his Android devices

[2018-08-10 20:48] startailcoon commented on #1689
By adding the following to the code here we can handle centering much better

https://github.com/bitshares/bitshares-ui/blob/043a2d35523e83b0204f0f31dc5c9ab1f5c59ddd/app/components/Exchange/OrderBook.jsx#L366

[code]

This makes this redundant in the prepending statement on line 362

[2018-08-11 07:47] elmato commented on #1521
{
     url: "wss://api.btsxchng.com",
     region: "Multiple",
     country: "Worldwide",
     location: "Singapore / N. Virginia / London",
     operator: "Witness: elmato",
     contact: "telegram:elmato",
     history_ops: "300",
    bucket-size: "60,300,900,1800,3600,14400,86400"
}

[2018-08-11 10:10] dot5enko commented on #1363
@startailcoon don't remove, i'll fix it in few days

[2018-08-11 15:00] webpubrepo commented on #1770
This white screen is on Mac as well using Firefox.  Since the 180808 release 3 days ago it has been impossible to connect with the wallet.bitshares.org interface as usual.

[2018-08-12 08:34] svk31 commented on #1770
The initial bug report is two different issues, the 18.04 issue is from using an API node that's out of sync, which apparently causes the init chain to fail.

The 16.04 is from failing to load the indexeddb properly, which is an issue we've encountered before and fixed but is apparently back. It's something that's extremely hard to debug since it's impossible to reproduce.

One thing that's essent

[2018-08-12 16:00] BazkieBumpercar commented on #1770
I'm using the Linux gui client; if I open the developer console inside it, it seems to be running Chrome 61 internally.

[2018-08-12 18:56] MikeD10375 opened #1774 "[5] Snap Packaging for Linux!!!"
I had a problem with an earlier version of the platform where it would not open in Ubuntu 18.04. I'm requesting that you create a snap package downloadable version for Linux distributions.

ADVANTAGES:
- will work with all linux distributions because dependencies are included in package
- upgrades automatically
- is sand-boxed for security
- makes it easier for users
- etc...
You can find instruct

[2018-08-12 19:42] weelmen opened #1775 "installation problems (installable wallets)"
i have problems when installing the installable wallets
after running (docker-compose up)
i find some errors
i need help

root@vps570361:~/test/bitshares-ui# docker-compose up
The program 'docker-compose' is currently not installed. You can install it by typing:
apt install docker-compose
root@vps570361:~/test/bitshares-ui# apt install docker-compose
Lecture des listes de paquets... Fait
Construct

[2018-08-12 19:50] startailcoon commented on #1775
I'm not sure what you're trying to achive, but the bitshares-ui run with npm. If your goal is to make a docker image with the Bitshares UI wallet, perhaps it's bestter to ask about specific issues with docker on their support forums.

When you have cleared any specific issues that makes the app not work together with docker, you could file a thoural issue report stating what the problem is, then w

[2018-08-12 19:50] #1775 closed

[2018-08-12 19:55] startailcoon commented on #1477
Another update has been pushed to branch for review. Still work to be done.

This changes the MarketPicker and Settings to Modal types, as well as adding the "My Markets" to small screen view.

[2018-08-13 01:55] weelmen commented on #1775
thanks this is very helpful

[2018-08-13 04:40] hubba1 opened #1776 "white screen on the newest release"
**Describe the bug**
A clear and concise description of what the bug is.

Using release 180808
**when I sign into https://www.compumatrix.co/?r=compumatrix#  and then click on the exchange button, the page flashes and the screen turns white and freezes.  However, when I sign in with this link  https://wallet.bitshares.org/  and click on the exchange tab it goes right to the area with no white scre

[2018-08-13 08:02] svk31 commented on #1776
Possible duplicate of #1770 , this is also not the place for Compumatrix issues.

[2018-08-13 08:02] #1776 closed

[2018-08-13 08:07] svk31 commented on #1483
I missed this issue but added pagination here: https://github.com/bitshares/bitshares-ui/commit/284bf838e8e9461a562298bae501b0d88c61b7c2

There are still some UX items from this issue to handle but I think the hour estimate should probably be reduced.

[2018-08-13 08:10] #1761 closed

[2018-08-13 09:18] #1738 closed

[2018-08-13 17:35] RakyCoder opened #1777 "please how i get payed and the fees are shared ."
I have forked the bitshres ui repository and made all modification  and installation  on the project rakydex.org  but I don't  understand  how I will get the Fees  . if  there is a special wallet to  setup with the software . how I get payed as a project rakydex  owner .  thanks for help

[2018-08-13 20:08] abitmore opened #1778 "[1.5] Market page, margin call order amount incorrect"
**Describe the bug**
Amounts of the yellow (margin call) order seems incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://develop.bitshares.org/#/market/BTS_USD
2. Scroll down

**Expected behavior**
`Price * BTS amount = bitUSD amount`

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/44055225-f8fb8cc4-9f44-11e8-80bc-2aa59b6104df.png)

[2018-08-13 20:18] abitmore opened #1779 "[0.25] Asset info page, debt column in margin positions table shows strange data"
**Describe the bug**
See screenshot below. Many debt amounts are 0.000x which seems incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://develop.bitshares.org/#/asset/CNY
2. Scroll down

**Expected behavior**
Show real debt amounts.

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/44055697-73f5d492-9f46-11e8-9067-9f71f6b53a73.png)

[2018-08-13 20:34] startailcoon commented on #1777
This repository is for the Bitshares UI (user interface) app.

This is not the right place to post about chain specific questions, especially forked chains.

[2018-08-13 20:34] #1777 closed

[2018-08-14 05:51] svk31 commented on #1779
It's displaying the max debt to sell instead of the actual debt that's why, forgot to modify the values used when adding the new calculations.

[2018-08-14 07:27] #1778 closed

[2018-08-14 07:27] #1779 closed

[2018-08-14 07:27] svk31 commented on #1778
Will do a hotfix release for this

[2018-08-14 07:31] sschiessl-bcp opened #1780 "Duplicate entries in MyMarkets"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/33128181/44077713-d88c9e3c-9fa4-11e8-8f56-ec5d37d994d4.png)

**To Reproduce**
Open My Markets and observe, BTS and bitUSD appears duplicated

[2018-08-14 07:57] svk31 commented on #1780
Duplicate issue of #1746.

Not actual duplicate entries, but different assets.

[2018-08-14 07:57] #1780 closed

[2018-08-15 18:39] startailcoon commented on #1669
What's your progress on this issue @froooze?

[2018-08-15 19:16] startailcoon commented on #1699
What I can see the help button uses a walkthrough model when the navigated to page has one, otherwise it directs the user to a webpage.

Is there another official Bitshares Documentation page that we should direct users towards?

[2018-08-15 19:19] startailcoon commented on #1699
Increased hours to accomedate a better help landing page when navigating to the in-app help section or a specific page with details that would solve this issue.

[2018-08-15 19:40] clockworkgr commented on #1699
greatest issue title ever

[2018-08-16 05:51] svk31 commented on #1774
Available here: https://snapcraft.io/bitshares2-light

[2018-08-16 05:51] #1774 closed

[2018-08-16 06:05] #1767 closed

[2018-08-16 06:06] svk31 commented on #1629
pinging @gibbsfromncis again

[2018-08-16 07:04] Bluffet opened #1781 "[0.5] Additional information on openledger"
Due to reorganization of open Ledger's support practices, I get more and more questions about their support and where to reach them.

The only information available in the reference client is openledger.io, which lands the user in another dex environment, Which is confusing. I talked to Ronny about this and we agreed it would be better if the link was to

https://dex.openledger.io/ Which is a more

[2018-08-16 15:09] grctest opened #1782 "Perform asset search via URL"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

You cannot perform asset search in the web UI via the URL, rather you have to perform manual UI operations including typing, selecting asset types and typing the name, or link directly to an asset's page or a market trading pair.

With URL

[2018-08-16 16:26] startailcoon commented on #1782
We have the asset page, which is a static URL like the form you suggest, https://staging.bitshares.org/#/asset/BTS

I guess though, that you think more of a pair table, with the selected asset (BTS in this case) similar to what we have on cryptofresh (http://cryptofresh.com/a/USD) ?

[2018-08-16 19:56] svk31 commented on #1770
OK I was able to reproduce this by accident, I had a wallet session open and while I was away the internet fell out and this happened, which allowed me to debug it. It's caused by all nodes failing and the Footer component ending up with an empty array of nodes that it tries to use to dispay current node information.

[2018-08-16 19:57] #1770 closed

[2018-08-16 20:15] svk31 commented on #1782
I must admit I don't understand the purpose of your request and why it would be useful. It sounds more like something that would best be provided through an API, which is not something we're offering.

[2018-08-17 06:47] #1781 closed

[2018-08-17 06:50] svk31 commented on #1762
I'm unable to reproduce this on my end, the orders align perfectly with scrollbox here.

[2018-08-17 07:07] svk31 commented on #1493
@abitmore The global object doesn't contain any fee information for the new operations as far as I can tell, so there's no way for us to display fee information for them. The current_fees array stops at operation 43:

![image](https://user-images.githubusercontent.com/6890015/44252597-f50e8480-a1fc-11e8-9f71-049f5866ef63.png)

[2018-08-17 07:28] svk31 commented on #1493
I've added the relevant operations to the page, but until they show up in the global object no info will be displayed.

[2018-08-17 07:42] svk31 opened #1784 "[0.5] Add new operations to the fee schedule page"

[2018-08-17 07:42] svk31 commented on #1784
Fixed here: b4e53692c618c87fcf0b13ab990a1135d09e9761

[2018-08-17 07:42] #1784 closed

[2018-08-17 07:43] #1493 closed

[2018-08-17 13:43] startailcoon commented on #1762
I think OP refers to the unused space below the box. Also visible on your screenshot.

[2018-08-17 19:14] abitmore commented on #1493
@svk31 before the committee explicitly set fees for those operations, they are implicitly applied as follows:
* bid_collateral_operation -> call_order_update_operation
* asset_update_issuer_operation -> asset_update_operation
* asset_claim_pool_operation -> asset_fund_fee_pool_operation

The others are virtual operations so the fees are zero.

Related code is [here](https://github.com/bitshares/bi

[2018-08-17 20:42] startailcoon commented on #1768
@MarkoPaasila Please provide more details on this issue as it can't be replicated.

[2018-08-17 20:55] MikeD10375 commented on #1774
Thanks svk31 works great... However the link on the https://bitshares.org/download/ for Linux is still in .deb form. I don't know if you forgot, don't have access to that link, or are just going to keep that the same? By the way I tweeted the info to the community that it is now available in Snap form.

[2018-08-18 05:52] svk31 commented on #1762
No, in his screenshot part of the last line is not visible even though he's scrolled all the way down.

[2018-08-18 06:32] startailcoon commented on #1762
Oh, didn't catch that. You're right 👍

[2018-08-18 12:09] gibbsfromncis commented on #1629
@svk31 Honestly I lost the idea of this issue. Are we still talking about redesign of all Assets pages (Home/Create/Edit) ?

[2018-08-18 12:10] gibbsfromncis commented on #1483
@svk31 good job. I'll pull your changes and check what you have done. After that I'll ask to update estimate.

[2018-08-18 21:34] startailcoon commented on #1477
I'm getting very close to a final submission of this.

Collapse component is looking very good and a fifth layout will be applied that will look similar to what the user has today.

[2018-08-18 22:04] froooze commented on #1669
Couldn't work on the problem, had some health and internet problems. I hope it will now work out.
Last time I ad some compiling issues.

[2018-08-19 13:02] gibbsfromncis commented on #1768
@startailcoon maybe I'm wrong but `MY TRADES` is only for successfully closed orders. Thats why you see orders on `MY OPEN ORDERS`

[2018-08-19 15:35] abitmore opened #1785 "[3][kapeer42] Settlement description in account activities"
**Is your feature request related to a problem? Please describe.**
People got confused when it just says asset settlement (in account activities) and not a single note of an exchange taking place, just the amount settled.

**Describe the solution you'd like**
UI should distinguish "A settled M amount of asset X instantly, got N amount of asset Y" and "A created a settle order for M amount of asset

[2018-08-19 15:44] Bluffet commented on #1785
That was quick abit.

I also envision a clear text note on the asset in question, and what it implies for the end user. For oversight, color code the GS assets. And why not dim down the settlement price, since it has no longer any practical function?

[2018-08-19 18:10] sschiessl-bcp commented on #1640
This is intentionally not completed yet as the framework might evolve when it's actually being used, e.g. for a landing page

[2018-08-19 18:40] startailcoon commented on #1477
# Ready for Testing

The new layout is finally finished and ready for final approval. This redesign changes alot of the code and has various improvements on many sections, I will try to explain them below.

- The original +4 new layouts is now possible to pick from the exchange settings, where the original layout should be default.
- Mobile friendly Exchange!! This I'm very pleased with, and makes

[2018-08-19 19:17] startailcoon commented on #1477
# Mobile View

![image](https://user-images.githubusercontent.com/12114550/44312210-bba06980-a3f4-11e8-81a4-09b38b18075e.png)

![image](https://user-images.githubusercontent.com/12114550/44312213-d70b7480-a3f4-11e8-97b2-e514d9178a83.png)

![image](https://user-images.githubusercontent.com/12114550/44312203-a9263000-a3f4-11e8-92d4-6047256e7db4.png)

# Settings

![image](https://user-images.githubus

[2018-08-19 19:25] startailcoon commented on #1547
I will still find time to look at this and verify the need for any missing logic. Pushing it to next release for now.

[2018-08-19 19:31] startailcoon commented on #1785
I assume this is referring to when users are forced settled by either a lack of collateral **or** when another user is settling their holdings and the least collateralized users has to pay for it.

The lack of notice in the logs can be both chocking and confusing to users and I've seen posts about this before from very upset users wondering where their assets went.

I need the help of @svk31 to de

[2018-08-19 20:49] Bluffet commented on #1785
No, you are mistaken there, @startailcoon

This is about settling an asset (from the portfolio page)  that has black swaned (global settlement, GS)

My previous comment has what I would like to see to make it clearer.

I tried doing this on som BitBTC the other day and to my surprise, it did not show up as a sell after 24 hrs like I expected. Got the explanation from xeroc that it is immediately c

[2018-08-19 20:55] wmbutler opened #1787 "[0.5] Quantity fails to populate for withdraw modal (bridge.ltc)"
**Describe the bug**
Quantity does not auto-populate for bridge.ltc when clicking on Available Balance in Withdraw Modal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Click on icon for withdrawing bridge.ltc
3. Quantity does not populate

**Expected behavior**
When clicking on the available balance, the Quantity should populate

**Screenshots**
![withdraw](https://user-i

[2018-08-19 21:49] wmbutler opened #1788 "[0.5] Debounce needed for Market Picker"
**Describe the bug**
When utilizing the typeahead in the market picker, it looks like we are querying for it immediately on each keystroke. It would a good idea to add a debounce of around 250-400 ms to reduce calls to the chain/es. In this example case, typing just an `l` appears to wait for over 10 seconds. In my case it didn't pull any results at all. Regardless, debounce is a good option for m

[2018-08-20 04:03] startailcoon commented on #1785
Thanks for the clarification. 👍

[2018-08-20 04:32] startailcoon commented on #1788
Not sure why this issue still persists. It is an easy fix.

[2018-08-20 04:34] startailcoon commented on #1787
First time I've seen this

[2018-08-20 04:40] startailcoon commented on #1756
I will look at making it more transparent for the user what external addresses is used by the client. We can do an output in console, and maybe even display it on a debug type of page later on to work together with #1696

[2018-08-20 12:16] grctest commented on #1537
@HarukaMa How have you gotten on with this change? I think this will encourage a lot of new MPA being created via the UI.

I don't think there's a limit to how many times you can nest an MPA, nor should there be. It makes sense to prevent prediction market assets from being backing collateral since they can drop to 0 (forever) once resolved.

[2018-08-20 16:10] startailcoon commented on #1787
Running the latest staging version 180815-RC1 doesn't give me this issue.

![bitshares-withdrawmodal](https://user-images.githubusercontent.com/12114550/44352306-48563080-a4a4-11e8-8e9c-f81df206876c.gif)

[2018-08-20 16:53] #1788 closed

[2018-08-20 16:58] startailcoon commented on #1593
Work on adding the Citadel Gateway is completed and submitted to PR #1695

[2018-08-20 16:58] #1593 closed

[2018-08-20 17:46] abitmore commented on #1537
@happyconcepts you can only change backing asset id when there is exactly `0` supply.

[2018-08-20 19:35] startailcoon commented on #1317
Included in PR #1786

[2018-08-20 19:35] #1317 closed

[2018-08-21 09:16] svk31 commented on #1785
@Bluffet if you have an account we could use to look at for examples the t would be helpful. It's ok if you don't want to disclose that publicly though.

[2018-08-21 09:18] svk31 commented on #1738
Thanks, must have forgotten to assign myself.

[2018-08-21 11:10] froooze commented on #1669
I have zero experience in Tradingview and Bitshares coding and couldn't make any progress, therefore I would give the problem to another person and use my resources for other things first.

[2018-08-21 11:38] froooze opened #1791 "Market Picker hangs after one letter"
When I write a letter in the MARKET PICKER the text fields doesn't accept the second letter.
When the whole phrase is copied in the Asset name it works as expected.

Tested software: BitShares2-light_2.0.180814_amd64.deb

[2018-08-21 11:46] svk31 commented on #1791
Already fixed here: https://github.com/bitshares/bitshares-ui/pull/1789

[2018-08-21 11:46] #1791 closed

[2018-08-21 12:00] froooze opened #1792 "Introducing spotlight search"
Seaching for new assets can be unsuccessful, because you didn't switch from MY MARKETS to FIND MARKETS.

The search should first list the items in MY MARKETS and afterwards the items in FIND MARKETS with the option to add it to MY MARKETS.

Therefore no need to switch markets for extra search and prevent people from not finding new markets.

[2018-08-21 12:02] froooze commented on #1768
I had sometimes this problem, too. But now it looks fine.

[2018-08-21 15:34] abitmore opened #1794 "[2.5][kapeer42] Notify if settle is worth less than market value"
**Is your feature request related to a problem? Please describe.**
There are periods (E.G. now) that settling an asset will result in less income in comparison to selling to market directly.

**Describe the solution you'd like**
https://bitsharestalk.org/index.php?topic=26948.msg321299#msg321299

**Describe alternatives you've considered**

**Additional context**

[2018-08-22 13:31] svk31 opened #1795 "[0.5] Withdraw modal triggers white screen"
**Describe the bug**
White screen when trying to withdraw certain Openledger assets like OPEN.EOS. From telegram user oco101:

"I have local wallet bitshares version 180814 when trying the withdraw open.eos I got a white screen . Tried  different other whidraws option like open.btc it is working normally.  It looks like a bug or is just me ?"

**To Reproduce**
Try to withdraw OPEN.EOS on the accou

[2018-08-22 13:33] #1795 closed

[2018-08-23 18:52] oxarbitrage opened #1796 "question about how the UI is using get_limit_orders and get_call_orders"
In the bitshares-core we are refactoring some API calls to accept accept symbol or id instead of just id or just symbol string.

While doing so we found certain api calls like `get_limit_orders`, `get_call_orders` and `get_settle_orders` all use a limit parameter but this limit is not checked core side.

I will like to know what limit is the UI using in this calls so we can adjust the core accordi

[2018-08-24 12:00] sschiessl-bcp opened #1797 "[14] Refactoring SettingsStore and AccessSettings"
Refactoring of SettingsStore, also
- remove settings default bug that defaults are not overwritten (settings_v4 now) and another loading bug
- activeNode doesnt need to be in local storage

Refactoring of AccessSettings, also
- moved all logic into ApiNode and seperated where necessary

Helper issue to track refactoring efforts of #1726

[2018-08-24 12:01] sschiessl-bcp commented on #1797
Closed by #1726

[2018-08-24 12:01] #1797 closed

[2018-08-24 16:31] startailcoon commented on #1794
@abitmore Am I correct that you wish that the UI should notify the user when settling an asset on the dashboard would be settled emiedetly, and that would be for less value than selling at the desired market.

This shouldn't be to difficult to do. We just need to read the current market and see if there is
1. An ongoing settlement
2. Market settle is not the best buyer

This would be part of impro

[2018-08-25 19:11] froooze opened #1798 "Exchange black screen after first visit"
When the light client is started and I go to Exchange tab, I get on the first time a black screen.

After a reload the Exchange loads normal. A second visit also works normal.

The problem came with version: BitShares2-light_2.0.180815_amd64.deb

vendor.7979393919a407f0d0e7.js:12 Checked 5 connections, 0 failed
app.feeadc2670e8c6b26526.js:1 Following nodes have been pinged: Object
app.feeadc2670e8

[2018-08-25 19:43] startailcoon commented on #1798
Seems a little related to https://github.com/bitshares/bitshares-ui/issues/1770, but that should have been fixed since the latest release.

Regarding testing, we do have a RC period before releasing, but all depends on testing resources. Community members are encouraged to perform testing of the release candidates as well, and help us catch any issues.

This needs more looked at, thanks for your r

[2018-08-25 19:52] TechsUsInc commented on #1798
I experienced the same thing in both this release and the RC, but didn't have time to report it. Complete black screen upon first use followed by a reload.

[2018-08-25 20:25] startailcoon opened #1799 "[3][kapeer42] Proxy Change Issue"
There is an issue when changing proxy for voting. Setting proxy works fine, but the app fails when trying to input a new proxy account.

It's also difficult to remove the proxy all together, removing the input and save isn't an obvious way to do it. We should add a button for nullifying the proxy selection.

## Todo
- [ ] Enable easy removal of proxy, setting no proxy
- [ ] Fix changing of proxy

[2018-08-25 20:28] startailcoon commented on #1798
Any reports or logs from these events when they occurs are appreciated.

[2018-08-25 20:30] startailcoon commented on #1669
@froooze I will remove your assignment. You're welcome back if you find any solution.

[2018-08-25 20:36] startailcoon commented on #1537
I can't see that this issue is resolved. A UIA can still not be selected in the UI.
@HarukaMa

[2018-08-25 20:49] startailcoon commented on #1521
@sschiessl-bcp is all nodes updates so we can close this issue?

[2018-08-25 20:52] startailcoon commented on #1689
@mattbeckman will you complete this issue?

I think we should just set the order book market price in the middle and have two separate columns that can be scrolled independently instead. This would remove the jumping of the  middle column with the price.

Thoughts?

[2018-08-25 20:56] startailcoon commented on #1705
@svk31 running that script today gave me a locale file with many moved keys and changes. Almost all of the file changed :D

@sschiessl-bcp how can we handle translations easy via transifex? I assume we need to push updates to the site as well as pulling them when we make new builds to catch new translations. Can this be done automatically or is a manual work that someone needs to maintain?

[2018-08-26 10:17] startailcoon opened #1800 "[0.5] Landingpage fails for logged in users when no markets set for MarketsTable"
When no markets are set in the `<MarketsTable>` component the users main landing page will not be able to render.

If `props.markets` are less than 1, we should just send back an empty array instead, making the rendering section not fail.

Primarily this affects testnet as no markets are usually set by default. Main network usually has these set, but can be happening if a user removed all markets

[2018-08-26 10:37] #1800 closed

[2018-08-26 11:12] startailcoon commented on #1787
I'd say this is related to some local circumstances on your end as no other reports have been submitted and I'm unable to reproduce it.

[2018-08-26 11:12] #1787 closed

[2018-08-26 12:01] startailcoon commented on #1753
Going with a more unified color of buttons
# Light
![image](https://user-images.githubusercontent.com/12114550/44627948-7d94cf80-a937-11e8-826d-bcb9a4a20380.png)

# Dark
![image](https://user-images.githubusercontent.com/12114550/44627942-6bb32c80-a937-11e8-9d36-480847316c10.png)

[2018-08-26 17:26] wmbutler commented on #1787
Agreed, no longer seeing this bug.

[2018-08-26 17:28] wmbutler commented on #1689
@startailcoon that's the way it was before, but it doesn't make a lot of sense to scroll independently since the center is where the buy and sell meet.

[2018-08-27 06:29] sschiessl-bcp commented on #1751
I am trying to figure out what changed here.

I see that `getFeaturedMarkets` is no longer used. Can you elaborate on the now implemented prosa way how they are created? Or even better, add in-code documentation for it please? :)

[2018-08-27 08:53] sschiessl-bcp opened #1803 "MyMarkets does not use replaceName for assets"
In MyMarkets overview

![image](https://user-images.githubusercontent.com/33128181/44650610-5695d680-a9e7-11e8-8d24-adb509a53307.png)

symbols are directly printed (for base and quote), without using utils.replaceName or AssetName component, see

`https://github.com/bitshares/bitshares-ui/blob/1ee0ba3264abb63a3c06353e35731e80c7aee56d/app/components/Exchange/MyMarkets.jsx#L1048`

[2018-08-27 09:16] sschiessl-bcp commented on #1751
https://github.com/bitshares/bitshares-ui/blob/1ee0ba3264abb63a3c06353e35731e80c7aee56d/app/components/Dashboard/DashboardPage.jsx#L62-L66

This creates incompatibilities with other gates, e.g. if in branding.js rudex.BTC would be defined.

[2018-08-27 09:33] MarkoPaasila commented on #1768
@startailcoon It happened to me again, but what information could I provide and how to acquire it?

[2018-08-27 12:10] grctest commented on #1302
In light of [this bitsharestalk thread](https://bitsharestalk.org/index.php?topic=26955.0), we could be going further than just filtering by activity to direct users to more legitimate MPAs:

* Price feed publisher count (many > one) & quality (witness|committee|only-private-publishers).
* Enabled/Available/Disabled flags/permissions (many MPA&UIA retain potentially dangerous flags/permissions - r

[2018-08-27 15:36] startailcoon commented on #1799
It's yours @kapeer42

[2018-08-27 15:42] startailcoon commented on #1689
Right, but we need to make sure the center stay center and doesnt jump around.

Can we achieve that?

[2018-08-27 15:43] startailcoon commented on #1768
Strange behaviour indeed. Not sure right now what can be used to track this better.

Same markets again?

[2018-08-27 18:15] startailcoon commented on #1803
I'm not sure what the problem is, but the value on L1048
https://github.com/bitshares/bitshares-ui/blob/1ee0ba3264abb63a3c06353e35731e80c7aee56d/app/components/Exchange/MyMarkets.jsx#L1048

Comes from
https://github.com/bitshares/bitshares-ui/blob/1ee0ba3264abb63a3c06353e35731e80c7aee56d/app/components/Exchange/MyMarkets.jsx#L1035

preferedBases comes from Settings and is defined on
https://github

[2018-08-27 18:53] startailcoon commented on #1803
I guess your referring to the header tabs that is printed with L1048, that you refer to, isn't using using the asset replace. Then I understand and agree.

It should be used so assets like open.BTC is viewed correctly.

[2018-08-28 03:59] TechsUsInc commented on #1768
Testing on both the local wallet and browser wallet using Chrome, 180815 Release, I noticed my orders were not instantly appearing in My Open Orders as well. Prior to placing an order, I had the black screen issue after clicking on the Exchange tab, then I was placing an order on a UIA when I noticed that they were not posting in the Open Orders book. I then placed an order on a Smartcoin asset fo

[2018-08-28 06:32] svk31 commented on #1803
It doesn't make sense to use replaceName or AssetName here, because the tabs actually show all x.BTC assets etc. Even for USD, OPEN.USD is included as well as any future USD assets by one of the supported gateways.

[2018-08-28 06:36] svk31 commented on #1796
The GUI uses a limit of 300 for get_limit_orders, get_call_orders and get_settle_orders

The relevant code is here:

https://github.com/bitshares/bitshares-ui/blob/develop/app/actions/MarketsActions.js#L428
https://github.com/bitshares/bitshares-ui/blob/develop/app/actions/MarketsActions.js#L369

[2018-08-28 06:38] svk31 commented on #1798
Your API requests are timing out indicating either a poor internet connection or a slow API node.

[2018-08-28 06:45] svk31 commented on #1751
Good catch.

The logic is basically the same as what's in MyMarkets of the exchange: instead of using an additional set of featured markets the dashboard now just displays all the markets defined in SettingsStore as defaultMarkets. Those are from getMyMarketsQuotes in branding. We also look for any gateway assets to use as quote assets, so for example the BTC tab also includes markets with OPEN.BT

[2018-08-28 06:58] MarkoPaasila commented on #1768
This occurs in lots of markets, and I have the feeling that they are not the most popular markets. Next time when it happens I can test all releases backward until it doesn't occur. Would that be of any help?

[2018-08-28 07:44] sschiessl-bcp commented on #1803
Yes, but only because you did a special hack to treat OPEN.BTC as BTC.

Following points:

1. This needs to be refined such that you give it a wildcard symbol (*BTC) as base, which means that all similar assets are shown (bitBTC, OPEN.BTC, GDEX.BTC etc.). The implicit nature of simply putting BTC and it searches for all is confusing, some users might want to actually specify only one of those. Thi

[2018-08-28 07:45] svk31 commented on #1753
Reverted because I don't think the blue background fits with the themes.

[2018-08-28 07:49] startailcoon commented on #1753
Fair enough. Needs some more discussion to find a good option to the current black ones.

[2018-08-28 07:52] sschiessl-bcp commented on #1751
I really like the grouping feature, as mentioned in https://github.com/bitshares/bitshares-ui/issues/1803#issuecomment-416484040 I would suggest to refine the logic.

If an actual symbol is given, treat it as only this symbol, no implicit grouping. If grouping is desired, symbol should have leading wildcard, e.g. '*BTC'

[2018-08-28 07:54] svk31 commented on #1803
1. Not just OPEN.BTC, all the gateways returned by getPossibleGatewayPrefixes here: https://github.com/bitshares/bitshares-ui/blob/develop/app/lib/common/gateways.js#L82

I'm open to suggestions as to how to visually indicate what gateway the market belongs to in the case of "duplicate" markets though, and there's already an issue discussing that.

3. replaceName/AssetName is applied in the rows a

[2018-08-28 07:59] sschiessl-bcp commented on #1803
Ah sorry, I mixed it up with the new Dashboard feature.

We define

https://github.com/bitshares/bitshares-ui/blob/f66bd9675db538ecc645b8e3965a738907634445/app/branding.js#L79-L81

which should correlate to the bitAssets. If you would e.g. replace BTC with OPEN.BTC in branding.js, it would be displayed as OPEN.BTC, even if "OPEN." is a hidden namespace. In my opinion, BTC should lead to only displ

[2018-08-28 07:59] sschiessl-bcp commented on #1803
Could you point me to it please?

[2018-08-28 08:05] svk31 commented on #1803
https://github.com/bitshares/bitshares-ui/issues/1746

[2018-08-28 08:06] svk31 commented on #1803
I think it's very important to group markets this way in order to provide access to all liquid markets, and it also makes it easier for users to actually find the best, most liquid markets.

[2018-08-28 08:16] sschiessl-bcp commented on #1803
Certainly. I am not saying it should not be on by default. I am saying it should not abuse the bitAsset symbols to do so, but rather be explicitly set.

[2018-08-28 08:29] sschiessl-bcp commented on #1803
Found a new issue with the implicit approach by looking into ETH.

There is actually an asset called ETH, which is neither a bitAsset or from a trusted gateway. It is highlighted in the current reference UI
   https://wallet.bitshares.org/#/market/OPEN.DOGE_ETH

Having said that, the logic should be even more refined that you can either
1. Set a wildcard to include all, but the base symbol without

[2018-08-28 15:39] startailcoon commented on #1799
Yes. In my case it was when I tried to change the proxy to another name by highlighting the current proxy name. When I started typing, one of the hooks got stuck in an endless loop.

Setting proxy for the first time didn't give me an issue, but I haven't tested it enough to say it doesn't have issues.

[2018-08-28 16:09] HarukaMa commented on #1537
PR is on #1804. Checked "a bitasset backed by a bitasset backed by a bitasset" and made create button gray out if backing asset is not acceptable.

[2018-08-29 11:27] kapeer42 commented on #1799
Ok I'm able to reproduce it now, it only happens on main net for me and boii it's nasty.

First I reproduced it in Firefox then I hoped I could get a better stack trace with chrome but chrome did nothing to prevent the page from sucking up all resources and it ended up crashing my computer with it.

I found a fix, will push soon.

By the way there is a bug in the `AccountSelector` component when t

[2018-08-29 12:52] TechsUsInc opened #1805 "Blocktrades Gateway- Doesn't load Deposit screen"
**Describe the bug**
Unable to deposit BTC via Blocktrades on the CLI
1. CLI Release 180815 does not load the Blocktrades deposit page- hangs on retrieving current data.
2. https://staging.bitshares.org/#/deposit-withdraw loads properly though

**To Reproduce**
Steps to reproduce the behavior:
1. From the 180815 CLI release; Click hamburger menu
2. Click on deposit
3. Scroll down to Blocktrades
4.

[2018-08-29 13:10] happyconcepts commented on #1803
Why so much effort toward curating and controlling the content of the blockchain?

This attitude seems precariously exclusionary to me.

[2018-08-29 13:18] sschiessl-bcp commented on #1803
@happyconcepts
See #1613

[2018-08-29 13:18] happyconcepts commented on #1803
Actually, since you are meeting in Amsterdam with George and bitSpark very shortly, and apparently he is launching Spark DEX tomorrow ...

I am the issuer of Spark UIA on BitShares, so the same "crucial" conflict must logically exist for Spark Dex and my coin.

And I am simply not delighted at being left out of searches or lists of assets since you are suggesting to redesign the BitShares oftware

[2018-08-29 13:21] sschiessl-bcp commented on #1803
On the dashboard of the Reference UI markets of bitAssets and included Gateways are highlighted. No other private asset is being left out, as no other private asset *should* be included. That the dashboard potetntially shows ETH markets (markets that include the symbol ETH, which is private, no gateway and no bitAsset) is merely a mistake.

[2018-08-29 13:25] happyconcepts commented on #1803
How is it you choose to speak so, shall we say imperially, when I am trying to have a discussion. It feels very one sided.

[2018-08-29 13:29] happyconcepts commented on #1803
This. I believe you need to fundamentally change this attitude, for the best of BitShares.

It's 6:30am here, please unban me from telegram if you want to discuss it further.

[2018-08-29 13:37] happyconcepts commented on #1803
You will never trust my Spark coin, then, because it is a non prefixed UIA?

Or just because I came here as Spark to Bitshares before bitSpark?

[2018-08-29 13:47] MarkoPaasila commented on #1768
It seems to me that this happens most often, if not exclusively, when I cancel an order and replace it with a slightly bigger one at the same price. Usually I have at least 40 open orders for the account.

[2018-08-29 16:18] kapeer42 commented on #1539
Can I claim this?

[2018-08-29 16:33] mattbeckman commented on #1689
Only had a few intermittent evenings to hit this. I couldn't solve the jump factor consistently without splitting. Pulled out StickyTable, and I have it working, but I will need to confirm it's responsive.

[2018-08-29 16:54] ety001 commented on #595
Because of ZeroNet using 127.0.0.1:43110 as its host url, We can add http://127.0.0.1:43110 to the CSP meta config.
But this will bring another secure issue.
All of sites on ZeroNet display in a sandboxed iframe. If we set http://127.0.0.1:43110 in the CSP, it may have a chance to load another sites' scripts.
Also the sandboxed iframe has banned the localStorage and cookies which are needed by Bit

[2018-08-29 22:35] gibbsfromncis commented on #1629
@svk31 ping

[2018-08-30 07:32] sschiessl-bcp commented on #1705
Transifex is not for maintaing the files when adding new keys. It is to easily track translation status of the files.

In that matter the script that automatically fills in the english translation is actually hindering the progress. Transifex thinks that the translation is done then. Can the script easily be altered that it removes english duplicates in other languages (so I can run it before uplo

[2018-08-30 07:45] sschiessl-bcp commented on #1803
Will you be in Amsterdam too @happyconcepts ?

I don't even know how to do that

I am only talking about highlighting it on the Dashboard. The reference UI allows to search and display any asset. I suppose the UI could do some promotion for assets on the Dashboard, but that would need to be a completely new format.

What is your telegram handle and which channel are you talking?

The reference UI

[2018-08-30 07:50] dls-cipher commented on #1521
{
url: "wss://bitshares.nu/ws",
region: ""Northern Europe"",
country: "Sweden",
location: "Stockholm",
operator: "DAO Collaboration - Infrastructure Worker",
contact: "telegram:StaflunD",
history_ops: "100",
bucket-size: "60,300,900,1800,3600,14400,86400"
}

[2018-08-30 08:02] svk31 commented on #1629
Apart from the Home part it's still remains the same as far as I can tell.

[2018-08-30 08:06] sschiessl-bcp commented on #653
This is solved with the introduction of branding.js and getDefaultLogin / getAllowedLogins

[2018-08-30 08:06] #653 closed

[2018-08-30 08:11] sschiessl-bcp commented on #1799
This is probably related to the changes made in #1760, please have a look

[2018-08-30 08:30] svk31 commented on #1705
Yea should be easy to look for identical strings in non-English files and then remove them.

[2018-08-30 12:07] froooze commented on #1798
There must be another reason to this problem, because I never had the problem on the last build and now I get the bug every time, when the client is new started.

[2018-08-30 13:51] oxarbitrage commented on #1796
thank you @svk31 , i added a limit of 300 in our side to remain compatible.

[2018-08-30 13:51] #1796 closed

[2018-08-30 15:41] gibbsfromncis commented on #1629
@svk31 what about Home part? I've checked production and it looks the same as it was

[2018-08-30 16:50] happyconcepts commented on #1803
Well there is a private offering so I will be here on BitShares with Spark for at least a little longer now.

I must have somehow missed the invitation to Amsterdam. I am Spark token on telegram, banned from the BitShares group last summer within just two weeks of joining.

Maybe to make way for bitspark's arrival, or maybe coincidence, or maybe unfairly branded as an enemy-of-the-state, who knows

[2018-08-31 02:15] rngl4b commented on #1521
{
url: "wss://dex.rnglab.org",
region: "Northern Europe",
country: "Netherlands",
location: "Amsterdam",
operator: "Witness: rnglab",
contact: "keybase:rnglab",
history_ops: "100",
bucket-size: "60,300,900,1800,3600,14400,86400,604800"
}

[2018-08-31 03:49] rlsz commented on #1700
@svk31  websocket request 'get_market_history_buckets', current result is '[60, 300, 900, 1800, 3600, 14400, 86400]'. Add 172800 in server config file.

[2018-08-31 14:14] CryptoKong opened #1808 "Login: Wallet Type Detection"
At the login page new users are often confused about cloud or local wallets. They often have a local wallet and try to login as though they had a cloud wallet, not realising they need to restore. It would be good if at the login page, after entering the wallet address the client/ browser detected the wallet type and directed users to the appropriate page. This would save a lot of time and frustrat

[2018-08-31 14:45] ThomasFreedman commented on #1521
{
url: "wss://bts.proxyhosts.info/wss",
region: "",
country: "Germany",
location: "",
operator: "Witness: verbaltech2",
contact: "keybase:jgaltman",
history_ops: "300",
bucket-size: "60,300,900,1800,3600,14400,86400"
}

[2018-08-31 15:22] #1799 closed, assigned to nobody

[2018-08-31 18:12] startailcoon commented on #1805
Works for me with 180815 Light Wallet on Windows 10.
May be a fluke on the BlockTrades.us site?

We will incorporate better external requests based on #1756, which should also handle outputs when errors occur if not done so today.

[2018-08-31 18:38] gibbsfromncis commented on #1808
Sounds cool but for local wallet users shouldn't type username because they need only wallet file and password to login.

I suppose it should be solved on UX level when user create wallet for the first time

[2018-08-31 18:43] gibbsfromncis commented on #1632
UX:

![dark theme_style guide_popover_v2 copy](https://user-images.githubusercontent.com/35899973/44930430-8b46bc80-ad5e-11e8-8abf-1ce449bef583.png)

![light theme_style guide_popover_v2 copy](https://user-images.githubusercontent.com/35899973/44930431-8bdf5300-ad5e-11e8-8e18-3221be561158.png)

![midnight theme_style guide popover_v2 copy](https://user-images.githubusercontent.com/35899973/4493043

[2018-08-31 18:48] kapeer42 commented on #1479
Can I claim this?
This is tagged UX but the issue seems clear enough for implementation.

[2018-08-31 19:05] CryptoKong commented on #1808
Yeah but thats the point. They do then wonder why they cant log in. So if a local wallet address is typed into the cloud login could they be re directed or an error/ advice message be displayed telling them to use the restore function?

[2018-08-31 19:55] CryptoKong commented on #1808
I thought cloud/ local had different keys? Could the wallet not detect the difference? Apologies if im basing my assumptions on incorrect facts.

[2018-08-31 20:06] gibbsfromncis commented on #1808
@clockworkgr I thought there is the way to detect which type of login user uses.

@startailcoon anyway I suppose it's interesting point to think about UX redesign because when my friend started to use bitshares he asked me about this too.

[2018-08-31 20:30] clockworkgr commented on #1808
@gibbsfromncis as far as the chain is concerned no...the chain only has public keys and no way of knowing how they were derived.

So if I created a cloud account on one browser and then tried logging in from a different one (meaning there was no prior interaction/local data) , there is NO way of knowing from the account data on chain what type of login i originally used.

[2018-09-01 00:09] mazaw19 opened #1810 "[.5] White Screen"
**Describe the bug**
Build 2.0.180815: I just updated to the latest build, and nothing loads. I just get a white screen. I try to reload the page, but nothing
<img width="1920" alt="bitshares bug" src="https://user-images.githubusercontent.com/42746281/44940225-cf2ec700-ad48-11e8-98e3-2bc886b3d05b.png">
.

**To Reproduce**
I just updated to the latest Ui. I did nothing else.

**Desktop (please com

[2018-09-01 00:14] mazaw19 commented on #1810
Note: 2.0.180808-rc2 is the latest build working for me.

[2018-09-01 07:07] #1805 closed

[2018-09-01 07:08] startailcoon commented on #1810
Can you please post some of the logging output you have when you open "View" -> "Toggle DevTools" and check the tab "Console".

[2018-09-01 12:49] startailcoon commented on #1477
Regarding clearing of the input forms

The forms will be cleared upon a successfull order submission.
There will be no clear button on the form directly, as it doesn't fit well with the layout.

![bild](https://user-images.githubusercontent.com/12114550/44946123-41a9b080-adf6-11e8-878a-e3e68a382105.png)

[2018-09-01 18:59] mazaw19 commented on #1810
<img width="1331" alt="bitshare bug" src="https://user-images.githubusercontent.com/42746281/44949048-c987be80-ade6-11e8-9dfc-fc9452d5ad3e.png">

[2018-09-02 17:54] startailcoon commented on #1810
It seems like there is an issue with a field not being correct when you start your client. Something is missing the `url` field.

You can try to remove a few settings stored in the app to get you started again. As this shouldn't be happening, and it used to work for you before, I suspect there is a field somewhere in the settings that doesn't comply with the app anymore.

**Note that you should NO

[2018-09-02 18:40] gibbsfromncis commented on #1632
Done.

[2018-09-02 18:40] #1632 closed

[2018-09-02 21:57] froooze commented on #1798
The problem looks solved now. Can't reproduce the bug now.

[2018-09-03 00:09] mazaw19 commented on #1810
Hey that did it!

[2018-09-03 09:42] sschiessl-bcp commented on #1810
nodes[currentNodeIndex] is null if a node got removed from defaults that did exist before.

https://github.com/bitshares/bitshares-ui/blob/f40e94928a04e3bde9e24be2ee57724404ca29e3/app/components/Layout/Footer.jsx#L316

Fixed like that
![image](https://user-images.githubusercontent.com/33128181/44979803-5b6e0380-af6e-11e8-8185-2e7ac02ba158.png)

I had that done locally but didnt push it yet..

[2018-09-03 11:37] froooze commented on #1792
Any thoughts on trigger the FIND MARKET search after the MY MARKET search and display the search results below the FIND MARKET search with adding option to MY MARKET?

[2018-09-04 05:35] gibbsfromncis opened #1812 "[10] Update, Clean and Simplify Theme Templates"
For now on `_theme-template.scss` are the mess:
1) Some colors not used as variables
2) Some variables used in wrong places (like `$secondary-text-color` used as `background-color` on some places)

This issue includes the following work:
1) Review all variables usage and manage them on the right way (split, add new or delete variables)
2) Develop & provide simple instruction in the form of comment

[2018-09-04 06:46] gibbsfromncis commented on #1669
@svk31 I've requested an access to Wiki. Please share it and if it's clear I'll work on this one

[2018-09-04 07:05] sschiessl-bcp commented on #1812
This will be perfect in combination with #1613

At the end we could have a easy to customize framework for theming of the UI, at which point we can present that to the community in the hopes of some motivated members creating their own styles!

[2018-09-04 17:33] startailcoon commented on #1798
Maybe you got connected to a bad node automatically and you're no longer using the same node or it was fixed.

[2018-09-04 17:34] #1798 closed

[2018-09-04 17:41] startailcoon commented on #1792
I'm not really sure that I follow you here @froooze, maybe I'm missing something.

I use `My Markets` when I search for assets in the tabs that I have, say I'm searching for the asset GRC and wants to trade with BTC, so I have that tab open and search. If I know it's a low liquid market, I make sure to uncheck the `Show Liquid Market Only`.

If I for some reason wants to find a rare pair, say LTC/

[2018-09-04 17:59] wmbutler commented on #1792
I think we should ultimately simplify this so that:

My Markets = Starred Markets

It doesn't make much sense for there to be a distinction between the two.

[2018-09-04 19:33] Bluffet opened #1813 "Possible security flaw"
**Describe the bug**
I just had a long conversation with a Russian who had problems with the app. He had tried many things on three different computers. I noticed right away that the password was too short for a cloud account which was evident that he tried to from a screen shot.

I went on and suggested that it might be the problem and yes, he had a backup of a .bin file.

He went on trying to re

[2018-09-04 23:34] dot5enko commented on #1363
done

[2018-09-05 06:05] gibbsfromncis commented on #1636
@startailcoon I've updated both pages: Committee and Witnesses. Also I played with tabs content background because it looks terrible:

Production:
<img width="1400" alt="screenshot 2018-09-05 07 59 05" src="https://user-images.githubusercontent.com/35899973/45073898-93498800-b0e1-11e8-81a1-b472f32131a3.png">
<img width="1401" alt="screenshot 2018-09-05 07 59 18" src="https://user-images.githubuser

[2018-09-05 06:21] gibbsfromncis opened #1816 "[3] Update Asset UX"
Based on feedback on this issue - https://github.com/bitshares/bitshares-ui/issues/1757 I guess we should increase max items on the page.

[2018-09-05 09:36] #1537 closed

[2018-09-05 09:50] sschiessl-bcp commented on #1636
Closed via #1815

[2018-09-05 09:50] #1636 closed

[2018-09-05 09:53] sschiessl-bcp commented on #1537
Done & Closed

[2018-09-05 13:17] froooze commented on #1792
We have 3 basic tasks for the UI:
- Show List of all assets
- Show my favorites
- Search for an asset
but two different UI with MY MARKET and FIND MARKET, therefore we should support the search task in MY MARKETS and remove the MY MARKET and FIND MARKET Buttons.

Two different markets and two different search boxes is more confusing than helping.

[2018-09-05 14:01] svk31 commented on #1816
I don't think that would help, you'd then have to scroll to see all items between clicking next page, making things worse.

[2018-09-05 14:34] wmbutler commented on #1808
@CryptoKong one telltale is that Cloud Wallets have a certain prefix to the auto-generated password.

[2018-09-05 14:35] wmbutler commented on #1479
@kapeer42 Yes. can you post a basic mockup to make sure we are on the same page?

[2018-09-05 14:36] wmbutler commented on #1521
Is this ready to get closed out and paid?

[2018-09-05 14:41] wmbutler commented on #1803
@sschiessl-bcp I support where you are going with this. It's important that users be able to easily identify trusted gateways and their associated tokens that represent real world crypto. @happyconcepts you are also able to reserve a prefix and do the same.

[2018-09-05 14:44] wmbutler commented on #1689
@mattbeckman can you sneak this into the current sprint?

[2018-09-05 14:45] wmbutler commented on #1539
It's yours @kapeer42

[2018-09-05 14:46] wmbutler commented on #1768
Please post a licecap.

[2018-09-05 19:30] ruslansalikhov opened #1818 "bitasset.options - Cannot read property 'toJS' of undefined"
Sometimes when bitasset has no options fields - user will get "white screen"

Steps to reproduce the behavior:
1. Open - https://staging.bitshares.org/#/account/committee-usdoperator
2. You will get "white screen"
3. See error in console: Cannot read property 'toJS' of undefined

**Screenshots**
https://prnt.sc/kr0ueb

**Additional context**
Reproducing only in version which includes this commit -

[2018-09-05 21:01] startailcoon commented on #1604
5 hours set for UX work on the design of Asset Creation and Edit sections.

[2018-09-06 11:01] sschiessl-bcp opened #1822 "[Staging] Visualization issues with new Exchange Layout"
Visualization issue with new Exchange Layout

- [x] Contrast of fee in Buy and Sell are is insufficient in Light and Dark theme. Adjust for clear contrast
Example dark theme: Left is normal, right on hover
![image](https://user-images.githubusercontent.com/33128181/45153795-7ee6b780-b1d5-11e8-8197-f9f6b374eeb7.png)
- [x] When first opening the Exchange, neither My Markets or Find Markets is select

[2018-09-06 13:36] grctest commented on #1822
GDEX tooltip hover in market/exchange page shows a missing translation error.

![image](https://user-images.githubusercontent.com/15861527/45160804-3bdf1100-b1e2-11e8-863d-9675be772aec.png)

[2018-09-06 15:14] startailcoon commented on #1822
Thanks for testing this out. All issues will be ironed out an pushed in a new PR.

Keep them coming as I may have missed a few things.

[2018-09-06 17:32] startailcoon commented on #1822
# Regarding Quick Buy (Bridge)
Since before we used a simple `Buy xxx` in the header, together with a `Borrow xxx` we had to find a new place for these options.

I can agree that the `Quick Buy` isn't the best wording thinking on the close placement to the trading buy button. Perhaps a `Quick Deposit` is a better word to use. The usage of BlockTrades for quick deposits are indeed a very valuable s

[2018-09-06 20:57] startailcoon opened #1824 "[0.5] Asset Details Theme Issues"
The Asset Details page has theme issues.

https://staging.bitshares.org/#/asset/USD

![image](https://user-images.githubusercontent.com/12114550/45184734-24c31200-b228-11e8-8362-3bb48930e9bd.png)
![image](https://user-images.githubusercontent.com/12114550/45184746-33112e00-b228-11e8-987f-a41aeaeb7351.png)

[2018-09-06 21:01] startailcoon commented on #1479
Including a "Use Advanced" would be a good option until we can find a good way to get the new send modal to work the same way.

The old gateway sections has options as mentioned above, and I think it could be considered to be their "front page in-app" section.

[2018-09-06 21:07] startailcoon opened #1825 "[UX:2][UI:x] Add "Propose" Transaction to Send Modal"
The current Send modal does not yet support Proposed Transactions fully.

I'm fairly certain that this could be achieved easily, but would require some finess in the current UX to make it understandable by our users in the small space that the modal has. When I initially created this I experimented with adding proposed transactions, but we could not find a final result that looked good and wasn't

[2018-09-07 05:11] Bluffet opened #1826 "White screen of death"
**Selecting deposit/withdraw presents with a white screen**
It has been this way for a while now and I thought it would go away since it's so obvious.

**Expected behavior**
Selecting dep/withdraw turns the screen white.

**Desktop (please complete the following information):**
 - OS: Mac OS 10.9.5
 - Reference
 -180912 -RC1

**Console dump:**
vendor.8d2fbf008c934d3bf9c7.js:63 Uncaught TypeError:

[2018-09-07 06:40] Bluffet commented on #1826
For shits and giggles, I tried to reset the app with no visible difference.

[2018-09-07 11:46] #1822 closed

[2018-09-07 12:34] sschiessl-bcp commented on #1826
Does this happen on
    https://staging.bitshares.org/#/deposit-withdraw

or when you use the new popup deposit / withdraw (beta) menu items?

[2018-09-07 13:06] #1363 closed

[2018-09-07 13:42] froooze opened #1828 "[2] Accept comma input for fractional part sign"
Many user from other countries have the comma as a sign of the fractional part instead of the point on their keyboards/numpads.

The UI should also accept comma and point as a fractional part sign.

[2018-09-07 14:28] froooze opened #1829 "Simplify Margin Position window"
The last discussion on this topic wasn't successful, but I got some negative feedback from other users and I don't like the layout either, therefore we should simplify the things.

- Move the MARKET column on the second position and put it on the same place as on Open Orders
- Make the column DEBT till TOTAL (BTS) clickable to adjust margin position and use a different background for :hover to mak

[2018-09-07 16:02] froooze commented on #1792
Found a similar topic:
https://github.com/bitshares/bitshares-ui/issues/499

[2018-09-07 18:07] clockworkgr commented on #1828
If we do this it should be user locale/regional settings dependant

[2018-09-07 19:20] AboShanab opened #1830 "Bitshares-ui not working with Firefox"
**Describe the bug**
As the title, I can't connect at all. it shows Application initialization issues page.

**To Reproduce**
Just open develop or staging. not working.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img width="943" alt="firefox_2018-09-07_22-23-14" src="https://user-images.githubusercontent.com/12101368/45239080-a67c7380-b2

[2018-09-07 19:35] AboShanab opened #1831 "Empty list by default"
**Describe the bug**
When browse the wallet, it shows empty list by default (My Markets tab isn't selected by default)

**To Reproduce**
Just browse staging or develop wallet using Chrome

4. See error
<img width="960" alt="chrome_2018-09-07_22-33-04" src="https://user-images.githubusercontent.com/12101368/45239475-15a69780-b2ee-11e8-912f-eedf868350d3.png">

**Expected behavior**
A clear and conci

[2018-09-07 19:44] startailcoon commented on #1831
Thanks for your report. This issue was resolved in PR #1822, but hasn't been pushed for the update yet.

[2018-09-07 19:44] #1831 closed

[2018-09-07 19:47] startailcoon commented on #1830
This issue is most likely related to some network issue on your end or a temporary glitch somewhere.

### Right now for me it's working just fine
![image](https://user-images.githubusercontent.com/12114550/45240038-92824300-b2e7-11e8-9050-f31f064c699a.png)

[2018-09-07 19:47] #1830 closed

[2018-09-07 21:52] gibbsfromncis commented on #1828
@froooze could you please provide an example of those countries?

[2018-09-07 21:54] gibbsfromncis commented on #1816
@svk31 agree. Could we reach an agreement on adding option to select how many items user want to see on the page?

[2018-09-07 22:02] gibbsfromncis opened #1832 "[96][charyury][3][gibbsfromncis] Update Sign Up UX"
After this issue #1808 I suggested that misunderstanding of wallet types is on Sign Up page. When user sees Sign Up for the first time he can't make conscious choice between wallet types because he has no idea that we support 2 different wallet types. When user opens Sign Up the sees only that he can create account using **advanced** form.

Also my friend had some another problems on sign up like

[2018-09-07 22:03] gibbsfromncis commented on #1808
@CryptoKong To be honest I think we should fix this misunderstanding on Sing up level and make users understand the difference between those account types.

I'll close this issue as it's not real to implement

[2018-09-07 22:03] #1808 closed

[2018-09-07 22:16] froooze commented on #1832
I like the layout from https://openledger.io/create-account Openledger, where I have two columns with a list to compare each other.

[2018-09-07 23:08] froooze commented on #1828
I fount a map. :)
http://assets.datacamp.com/blog_assets/the_map.html

[2018-09-07 23:27] dot5enko commented on #1543
take it

[2018-09-08 10:28] startailcoon commented on #1832
The two types are very similar for users when they sign up nowdays indeed. Nothing really speaks about the difference.

OoenLedger has made it much more clear and could be a good place for inspiration on this.

[2018-09-08 13:44] kapeer42 commented on #1479
I agree with @sschiessl-bcp and @startailcoon.

Here's what it would look like:

### Burger menu:
![burger-demo](https://user-images.githubusercontent.com/35779885/45254736-5c8f9e00-b37d-11e8-90af-2c86a932251d.png)
### Button:
![advanced-button-demo](https://user-images.githubusercontent.com/35779885/45254738-62857f00-b37d-11e8-9f74-e85815f18521.png)
I think a button that simply reads "Advanced" w

[2018-09-08 14:43] kapeer42 commented on #1634
Can I claim this?

[2018-09-08 14:44] kapeer42 commented on #1794
Can I claim this?

[2018-09-08 14:48] kapeer42 commented on #1785
Can I claim this?

[2018-09-08 17:47] dot5enko commented on #1543
@abitmore from information you give its not clear what collateral do you have.
Steps to reproduce doesn't contain steps to reproduce: what the preconditions ?

It seems like current ui resembles what you need and this issue is already resolved.

Also, the testnet is dead:
![image](https://user-images.githubusercontent.com/5626922/45257008-5dd5c080-b3a7-11e8-83c1-c4b6857d79dc.png)

[2018-09-08 18:11] dot5enko commented on #1753
@startailcoon tradingview chart is always dark, even in the white theme

[2018-09-08 18:56] startailcoon commented on #1536
@dot5enko do you intend to do work on this?

It seems that @gibbsfromncis is waiting for some details by @wmbutler or @abitmore here. What is the status of this issue?

[2018-09-08 19:00] startailcoon commented on #1785
@kapeer42 it's yours. Make sure to have enough discussion on the topic if required.

[2018-09-08 19:02] startailcoon commented on #1794
@kapeer42 it's yours.

[2018-09-08 19:08] startailcoon commented on #1634
I feel this issue needs more discussion.

@wmbutler you renamed this to *Display percentage for fees in Market Order area*. What exactly does this refere to? As we already have market fee displayed on the market, what else do we need to display?

The Discussion started with hiding accounts that was potential scammers, but the topic has changed since the start. What is the goal of this issue, what

[2018-09-08 19:33] startailcoon commented on #1539
@kapeer42 I believe you're right here. The issue has been fixed by another.

However, I ran in to a new problem when I tried to verify this myself.
Using testnet I navigated to update asset for one of my smart coins, and once I clicked the tab for smartcoin options I recieved the following.

[2018-09-08 19:45] startailcoon commented on #1828
Why do we need to depend on the locale/regional settings?

I can only take myself as an example. My regional settings would have a comma for decial placement, but I usually have the english local/keyboard layout when I type in english, which has the dot as a decimal placement.

Wouldn't it just suffice that we make both `,` and `.` both acceptable decimal placements in the UI, and when we generate

[2018-09-08 19:49] startailcoon commented on #1816
Once all the assets are loaded, as they always has to be like @svk31 states, the user should be able to change the amount of rows placed on their screen.

I suggest we make it possible to change it between `20, 50, 70, 100, 200` per page.

[2018-09-08 20:06] clockworkgr commented on #1828
@startailcoon keyboard has nothing to do with it...your regional settings define whether a number is displayed as 1,234.00 or 1.234,00 and also how what you type is interpreted in a locale aware app.

The assumption being that a user that cares enough about how his numbers are displayed and interpreted will have also set the regional settings to his preferences.

[2018-09-08 21:11] clockworkgr commented on #1828
you can accept it...how do you know what the user means though?

[2018-09-08 21:56] startailcoon commented on #1828
That is a good question though.

Some users _may_ believe that a `,` means a thousand delimiter and be confused once the app interpreted it as a decimal placement.

Since we only allow one of bith, its either a comma OR  dot. A misinterpretation would only mean that the user buys/sells less than intended.

[2018-09-08 21:58] clockworkgr commented on #1828
I guess...but you see what I'm getting at.

For me the proper behaviour is to accept whatever regional settings say the decimal separator is

[2018-09-09 00:15] abitmore opened #1833 "[0.5][kapeer42] Use correct Backing asset on Asset Actions/Info, not default to core asset"
**Describe the bug**
I have a private smart coin on testnet backed by an UIA. I can't publish price feeds.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://testnet.bitshares.eu/asset/ASDFUSDA
2. Click on 'Asset actions'
3. Scroll down to 'publish feed'
4. See error

**Expected behavior**
Able to publish price feed.

**Screenshots**
![image](https://user-images.githubusercontent.

[2018-09-09 00:28] abitmore commented on #1536
@startailcoon I don't think the issue is pending my input. It does need UX.

[2018-09-09 00:46] abitmore commented on #1828
If to honor regional setting, we need to be consistent through the whole UI. It would be a mess if we accept comma in one page, but shows a dot elsewhere.

[2018-09-09 09:45] abitmore commented on #1536
Hmm, just checked latest UI (develop branch), it seems that the "send" button/menu has disappeared if I'm not logged in. But other menus are there. Not sure why. Can we be a bit more consistent? @startailcoon

![image](https://user-images.githubusercontent.com/9946777/45263098-a9c64b00-b423-11e8-8d63-cf63b24e650d.png)

Unable to send nor propose a send via the "send(legacy)" menu as well.
![image]

[2018-09-09 11:46] gibbsfromncis commented on #1536
@abitmore what's wrong? Looks like I can do it:

<img width="714" alt="screenshot 2018-09-09 13 46 33" src="https://user-images.githubusercontent.com/35899973/45264075-c6b84980-b436-11e8-924b-4705625752eb.png">

Yep UX is terrible but anyway it's possible

[2018-09-09 11:51] gibbsfromncis commented on #1832
@froooze,@startailcoon, yep, that's what I mean exactly.

@startailcoon I'll prepare the list of requirements & try to estimate it.

[2018-09-09 11:57] Bluffet commented on #1826
Like i stated, it concerns the app. I'm not so keen on the browser version.

The beta dep/withdraw is fine, it's only the legacy part that does this.

[2018-09-09 12:16] froooze commented on #1816
25, 50, 100 and 200 steps makes more sense to me.

[2018-09-09 13:00] kapeer42 commented on #1539
Woops, forgot to open an issue for that.
The `default` case in the `onChangeBitAssetOpts` `switch` is wrong, it should do nothing I think.
Here goes the PR: #1834

Not related to this, @svk31  (`git blame` shows it's you who wrote those lines, pardon me if I'm mistaken) [this](https://daveceddia.com/why-not-modify-react-state-directly/) could be a good read on why mutating state directly and using

[2018-09-09 15:30] kapeer42 commented on #1794
@startailcoon  Yes please I need more details.

To me it seems you and @abitmore are talking about two different things.

Your description is not clear to me.
Could you explain in what case an MPA would be settled immediately?
If there is something returned by `get_settle_orders` does that means there is

?
What does

means?

To me, the initial issue seems to be about showing a warning like:
![war

[2018-09-09 15:48] kapeer42 commented on #1785
I think there is enough info.
I wish I knew a way to provide price feeds for the bitAssets I created on the testnet.
Otherwise I will probably need to dig for an account that have this type of transactions or run my own testnet.

[2018-09-09 15:56] kapeer42 commented on #1833
I think I need this to get #1785 and maybe #1794 done and tested.

[2018-09-09 17:34] startailcoon commented on #1816
The cide fetches all by api, you can tell the pagination to use any number I guess?

[2018-09-09 17:35] gibbsfromncis commented on #1816
@startailcoon exactly but If I remember correct the limit of items to fetch per one call is 100 to do not overload backend

[2018-09-09 18:50] abitmore commented on #1794
@kapeer42 I agree that you understood me correctly.

[2018-09-09 18:53] abitmore commented on #1785
@kapeer42 if your asset is backed by `TEST` on testnet, you can publish feeds in action tab of asset info page.

[2018-09-09 20:39] dot5enko commented on #1477
@sschiessl-bcp,@wmbutler this issue can't be closed, because from what i've seen on [staging](https://staging.bitshares.org/#/market/BTS_USD) it looks really freaky. I've seen really cool mockups made in https://github.com/bitshares/bitshares-ui/issues/1449, but current task not even close implementing them. I don't judge anyone, but we can't show this to the community: vertical order book is abse

[2018-09-10 02:38] cloud-8 opened #1835 "[0.5] Deposit/Buy Modals scrolling issues"
**Describe the bug**
When clicking Quick Buy a modal is launched and it generates a QR from the desired Bridge. However only a portion of the QR code is visible and the window is not scrollable. Scrolling the mouse on the modal doesnt move it and scrolling it outside the modal scrolls the background exchange view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Quick Buy on a market t

[2018-09-10 05:32] startailcoon commented on #1477
Hi @dot5enko.

Appreciate any and all input, so no need to apologise.

First of all, you can choose different layouts by pressing the cogwheel on the right top menu. There you have 5 different layouts to choose from.

You have the order book hidden, that's why you don't see it.

Please explain why you find 'all blocjs useless for trading'. They behave just like they used to do.

The mobile view is

[2018-09-10 06:05] sschiessl-bcp opened #1836 "[2][Exchange Redesign] Rework Help design"
This issue is two fold.

<h3>One</h3>
When the exchange is opened the first time, or help is requested the explanation popup circles between the first two.

**Reproduce**
1. Open Exchange in mobile view
2. Click help
3. Click next in popup
4. Continue clicking

<h3>Two</h3>
Implement new help popups that explain the user the usage of Personalize etc.

[2018-09-10 06:09] startailcoon commented on #1836
It doesn't loop what I can see.

When you are on the second item, next is the replaced with back.

Done is on the left of the info window.

[2018-09-10 06:33] sschiessl-bcp commented on #1477
Big difference is in the Buy BTS dialog, current staging looks like this
![image](https://user-images.githubusercontent.com/33128181/45280221-d5087300-b4d3-11e8-953d-2d23f9af96ec.png)
Was there a discussion to deviate from the mockup and stick to the current layout?

I strongly agree with the sentiment. I tried it on my phone (Sony Z5 Compact). It is much better than before, but it is sluggish.

[2018-09-10 06:49] sschiessl-bcp opened #1837 "[Exchange Redesign] Order Book details"
Deviates from suggested mockup. Furthermore does not persist settings auto scroll:
Click on locked icon, wait until book is updated. Icon reverses to locked. Also the description might be wrong? If I see the locked icon, I expect that the order book split is always in the middle of the view, but the help text says "Enable auto scroll", which would indicate once I click the order book is auto-scrol

[2018-09-10 07:04] sschiessl-bcp opened #1838 "[Exchange Refinement] Scrolling Behavior Part 1"
While being on mobile view it is a pain to scroll up and down when the boxes have their own scrollbars / eat the scroll event.

Current behavior:
 - Buy / Sell Orders, Market trades etc. implement their own scrollbar, thus scrolling the whole view becomes difficult

Suggestion:
 - [x] Add option to "Personalize": "Reduce scroll bars"
 - [x] If option enabled, Sell and Buy orders / My trades / Mark

[2018-09-10 07:04] sschiessl-bcp opened #1839 "[Exchange Refinement] Scrolling Behavior Part 2"
While being on mobile view it is a pain to scroll up and down when the boxes have their own scrollbars / eat the scroll event.

Current behavior:
 - Trading View eats scrolling event even in mobile view

Suggestion:
 - [x] In mobile view, TradingView should not be listening to scroll events
 - [ ] If possible, implement zooming on two finger drag

[2018-09-10 07:07] sschiessl-bcp commented on #1836
On Android the "Next" button is still visible

![screenshot_20180910-082054](https://user-images.githubusercontent.com/33128181/45281705-eb64fd80-b4d8-11e8-9c79-02e3bd0a7785.png)

![screenshot_20180910-082111](https://user-images.githubusercontent.com/33128181/45281709-ee5fee00-b4d8-11e8-944d-552292a25774.png)

Seems to be a browser capabilities issue.

[2018-09-10 07:14] startailcoon commented on #1836
That is a browser compatible issue.

This is how it looks for me on Edge for Android.

![](https://i.imgur.com/64WlWEi.jpg)

[2018-09-10 07:37] startailcoon commented on #1836
It's not part of the exchange section. It's a global help box component that runs independently.

[2018-09-10 10:03] sschiessl-bcp opened #1841 "[2][2] Implement new ANT tabs for Explorer"
Explorer to be found at
https://wallet.bitshares.org/#/explorer/blocks

It  has been gradually improvement in last release to include new table for committee and witnesses. This issue is to update the Explorer to generally use the new ANT tab component from BitShares Style Guide.

- [x] Evaluate current code, if not already the case then
  - [x] Move every Tab into a separate component
  - [x] Rem

[2018-09-10 14:10] dot5enko commented on #1477
@sschiessl-bcp, @wmbutler, @startailcoon sorry, didn't seen that button and options (and that's sad - i need to research ui to get it up and shining)

Look at the binance, its a perfect ui for most of `usual` traders (not professionals). They have two (not five or ten) layouts: advanced and this, simple one: ![image](https://user-images.githubusercontent.com/5626922/45301072-c85a3e00-b518-11e8-819

[2018-09-10 18:38] startailcoon commented on #1835
There is an issue with this modal compared to the Borrow modal. When I open this modal in Firefox on Windows it will scroll the content behind it, while the Borrow modal scrolls the content of the modal.

On Mac and Chrome this may be the reason for the lack of scrollbar.

This has been an issue from before and is present on the current release, and isn't related to the change on issue #1477

[2018-09-10 19:07] startailcoon commented on #1477
First of all I'd like to say thanks for the feedback.

**My advice right now is that we delay the release of the new Exchange design for a later date, and address any open questions and issues before we merge it again.**

## So, let me try to summarize this.

I've worked out of the UX mockup as close as possible, which hasn't been easy since it hasn't been created with different window sizes in mi

[2018-09-10 19:36] startailcoon commented on #1477
As we open this issues back up I see we have a few options here
I'm open for all suggestions.

### Option 1
Continue work and change whatever isn't working from the UX mockup.
This is an option I think would still be possible, but we need to iron out the design issues.

### Option 2
Keep the design we had, but implement a mobile view to enhance the mobile experiece.
This would be a good option for

[2018-09-10 20:41] dot5enko commented on #1477
@startailcoon of course there is no reason to rework whole UX, we should make something worse from what we have, so this is `option 1`

Please, make the default layout to be one with left or right orderbook (Horizontal layout) cause i guess nobody from people who trade now on bts would find the way to show it and this is most suitable for trading layout

[2018-09-11 00:11] gibbsfromncis commented on #1841
@sschiessl-bcp if you OK I'll assign myself

[2018-09-11 04:57] sschiessl-bcp commented on #1841
Needs rating first

[2018-09-11 08:29] startailcoon commented on #1836
There should be many help steps added to this on the new exchange design.

This would probably be a requirement before we release the update.

I see items like, but not limited to
- Hide side panel
- Switch order book order
- Personalised design settings

And more

[2018-09-11 08:35] sschiessl-bcp commented on #1539
Adjusted hours to accomodate https://github.com/bitshares/bitshares-ui/issues/1539#issuecomment-419714431

[2018-09-11 08:36] sschiessl-bcp commented on #1537
Increased hours due to https://github.com/bitshares/bitshares-ui/issues/1539#issuecomment-419645671

[2018-09-11 08:43] sschiessl-bcp commented on #1539
The UI allows to change parameters of a smartcoin with > 0 supply, which is not supported by the backend.

UI should indicate that to the user in some way

[2018-09-11 08:52] sschiessl-bcp commented on #1816
I suggest to add a "Show XX" combobox on the right side of
![image](https://user-images.githubusercontent.com/33128181/45349113-b7f5a200-b5b0-11e8-87d9-dcba883698b6.png)

This combobox has 10 / 25 / 50 / 100 and All options, but also allows that the user enters a number by himself.

This needs evaluation / rating before claiming

[2018-09-11 08:53] kapeer42 commented on #1539
Aye

[2018-09-11 11:51] kapeer42 opened #1848 "[0][kapeer42][Develop] Can't update bitasset 'Minimum number of feeds'"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Assets'
2. Click on 'Update asset' on a bitasset
3. Click on 'SmartCoin options'
4. Try editing the minimum number of feeds, it's locked.

**Additional context**
This was probably the original intent of the `default` case removed in #1834, my bad for not testing more.

[2018-09-11 15:16] sschiessl-bcp commented on #1539
@abitmore

Could you please confirm which parameters are NOT allowed to change if supply > 0 from the backend?

[2018-09-11 17:19] abitmore commented on #1539
@kapeer42 can you tell us the block number of your test on testnet, and/or your account?

@sschiessl-bcp when supply > 0, unable to change
* backing asset,
* issuer_permissions.

[2018-09-11 17:27] abitmore commented on #1539
The screenshots in OP is an example to indicate: if I changed "delay of forced settlements", the "save" button will be enabled; if I changed "backing asset", the button remains disabled.

[2018-09-12 08:59] cloud-8 commented on #1835
Why is it part of exchange redesign [Feature] when it is a bug with the current RC? @sschiessl-bcp

[2018-09-12 09:38] CharlesZHENG opened #1850 "application initialization issue"
**Describe the bug**
I set up a private testnet, but when i refresh the web wallet,i always get the webpage

![Uploading 图片.png…](https://note.youdao.com/yws/api/personal/file/CA45827A59C34CAF9C600B6588D1C387?method=download&shareKey=c5d48071550b20f4701bd3fb7a68f5b6)
try local node is no luck.
then I switched the other node,click `retry` button is ok.Then I click `Settings`-->`Nodes`, select my lo

[2018-09-12 14:13] kapeer42 commented on #1673
Can I claim this?

[2018-09-12 14:33] startailcoon commented on #1673
It's yours @kapeer42

[2018-09-12 15:15] kapeer42 commented on #1734
I'd like to claim this but I need a clarification:
Is this about writing a client side wrapper to connect to the:
- bitshares nodes elasticsearch plugin https://github.com/bitshares/bitshares-core/wiki/ElasticSearch-Plugin

or
- server side wrapper https://github.com/oxarbitrage/bitshares-es-wrapper

If it's the first one, I can't find any public nodes exposing it, didn't look too deep tho.

[2018-09-12 18:45] startailcoon commented on #1734
@kapeer42 my initial idea/proposal is to make a local client side wrapper that handles the ES connections, like the node connections are done today. It should support wrapping the desired functions that the ES servers supply, making it easy to integrate by developers in the future. It should also notify if no servers are present.

My knowledge of the ES system is limited, so some expert opinion is

[2018-09-12 18:48] startailcoon commented on #1835
This will be fixed independently of the exchange redesign as it's also present in todays release as noted.

[2018-09-12 18:53] startailcoon commented on #1848
Set reward to 0 as it's a fix of your previos PR, nice catching it on your testing of the dev build aftewards though.

[2018-09-12 18:57] startailcoon commented on #1816
I like the option of a few predefined options for the user to chose from, but letting them input one by their own design as well.

It will need testing to make sure the UX is looking good/working in different window sizes and browsers.

As there is no change in how the data is fetched from server based on the users choice I see no reason to evaluate any API load.

[2018-09-12 19:28] startailcoon commented on #1477
I've assigned myself to these issues to work on the polishing. Work will continue on thebranch of this issue https://github.com/bitshares/bitshares-ui/tree/1477-ExchangeRedesign

This issue is kept open for general discussion and tracking outside the current open issues.

[2018-09-13 01:35] wmbutler opened #1854 "[40] BEET Development"
https://github.com/bitshares/beet/issues/23

[2018-09-13 01:35] #1854 closed

[2018-09-13 01:47] wmbutler commented on #1477
I've closed this so it can be paid. Please do not re-open.

[2018-09-13 01:47] #1477 closed

[2018-09-13 02:30] gibbsfromncis commented on #1841
@sschiessl-bcp

Can you please clarify what do you mean?

Ant Tabs already have this feature.

Tabs used in 15th places in our project. Some tabs replacing will be hard because there may be UX issues like for Asset Update:
<img width="1397" alt="screenshot 2018-09-13 04 25 05" src="https://user-images.githubusercontent.com/35899973/45463636-51d26180-b70d-11e8-9d10-f414857f06ba.png">

It's not poss

[2018-09-13 02:35] gibbsfromncis commented on #1832
@startailcoon @sschiessl-bcp

I suppose we can keep Sign Up components we already have but provide additional step when user should decide about account type.

I don't think we should wait for somebody's response or ask for a back port.

Estimate for UX is 3h and 3h for development.

In result it will be additional page which user will see when press "Create account" (step before registration form

[2018-09-13 02:44] gibbsfromncis commented on #1816
@sschiessl-bcp @startailcoon

Agree. I've checked the code and it looks like it fetches all items before page load.

Task is:
- [ ] Add Select component to be able to manage amount of items on the page from the predefined list
- [ ] Add Number component to be able to manage amount of items on the page manually

During this task screenshots of realization should be provided to approve it looks nice

[2018-09-13 03:18] gibbsfromncis commented on #1662
Screenshots of updated tables design:

<img width="1260" alt="screenshot 2018-09-13 05 10 09" src="https://user-images.githubusercontent.com/35899973/45464970-4eda6f80-b713-11e8-9ae2-bdb8593b0a7e.png">
<img width="1241" alt="screenshot 2018-09-13 05 10 04" src="https://user-images.githubusercontent.com/35899973/45464971-4eda6f80-b713-11e8-8bf6-6547b8571122.png">
<img width="1218" alt="screenshot 2

[2018-09-13 03:18] #1662 closed

[2018-09-13 03:27] wmbutler commented on #1662
It would be nice for the "No Data" area to be a placeholder that is centered vertically and horizontally without a table row.

"No items to display"

[2018-09-13 03:30] gibbsfromncis commented on #1662
@wmbutler like this?
<img width="1196" alt="screenshot 2018-09-13 05 30 36" src="https://user-images.githubusercontent.com/35899973/45465575-29029a00-b716-11e8-83e1-ac722394cb3d.png">

[2018-09-13 03:31] wmbutler commented on #1662
I like that better, yes.

[2018-09-13 03:35] wmbutler commented on #1634
The original issue was to display accounts with high market fees. The conversation led to adding the percentage next to the actual fee to make it obvious that it was a high value.

[2018-09-13 03:37] wmbutler commented on #1479
I disagree. I think we should phase out the old way completely once the new modal has the propose capability. There is nothing "advanced" about the other method.

[2018-09-13 03:46] gibbsfromncis commented on #1600
Added Ant Select with autocomplete

<img width="505" alt="screenshot 2018-09-13 05 45 25" src="https://user-images.githubusercontent.com/35899973/45466047-3caf0000-b718-11e8-9fc3-c989c9d70091.png">

<img width="468" alt="screenshot 2018-09-13 05 45 29" src="https://user-images.githubusercontent.com/35899973/45466045-3c166980-b718-11e8-9248-39271087e92a.png">

[2018-09-13 03:49] gibbsfromncis commented on #1600
PR: #1855

[2018-09-13 04:01] gibbsfromncis commented on #1662
@wmbutler updated based on your feedback:

<img width="1170" alt="screenshot 2018-09-13 06 01 17" src="https://user-images.githubusercontent.com/35899973/45466493-7123bb80-b71a-11e8-80e2-a536b3c35d3c.png">
<img width="1172" alt="screenshot 2018-09-13 06 01 11" src="https://user-images.githubusercontent.com/35899973/45466494-7123bb80-b71a-11e8-9518-815a193576d8.png">
<img width="1170" alt="screensh

[2018-09-13 07:04] sschiessl-bcp commented on #1816
I'd like to include one more thing if you are already touching it.

While the asset list is loading a loading indicator is shown over the whole page, disabling me to search or click on an asset (if e.g. the one I am looking for is already on first page).

I suggest to put the loading indicator in the top left of the screen (in your mockup in the same row as the Select component), which allows user

[2018-09-13 07:07] sschiessl-bcp commented on #1841
There are no buttons in explorer. Did you mix it up with asset details page?

[2018-09-13 09:45] happyconcepts commented on #1477
I can't stand it. You pay yourself thousands of dollars, but the redesign does not impress...and then new issues (many) are created to "polish" the design and the very same selfish Dev immediately claims the new bounties.

I suggest you let someone else take a shot so you don't stall the whole bitshares-core community another 3 months while you get paid to fool around.

[2018-09-13 09:50] happyconcepts commented on #1634
Sure would be nice if there were room in the repo for others.

[2018-09-13 09:54] happyconcepts commented on #1832
This is pointless when there are more serious ui deficiencies that should be the  focus of this worker.

This worker was to improve the UI and not be a Slush fund for a small group to enrich themselves at the expense of the other participants in the chain.

[2018-09-13 09:54] sschiessl-bcp commented on #1634
For this issue kapeer42 is in line, I assume your comment was against startail. Can you elaborate?

[2018-09-13 09:55] happyconcepts commented on #1634
Again? Please....

[2018-09-13 09:56] sschiessl-bcp commented on #1832
Please open issues for those if not already existent.

Can you give more detail in your accusation here?

[2018-09-13 09:57] sschiessl-bcp commented on #1634
I want to see if there are any ongoings I wasn't aware of

[2018-09-13 09:59] sschiessl-bcp commented on #1477
- The redesign followed the mockups
 - The issues, if they are a bug introduced through the new design, should be rated taking that into account (i.e. could be rated 0 depending on the case)

[2018-09-13 10:06] happyconcepts commented on #1634
Send me an email or unban me from telegram if you are going to confront every single comment of mine, does that sound reasonable?

[2018-09-13 10:07] sschiessl-bcp commented on #1634
GitHub does not expose emails, what is yours? Please contact me in telegram @sschiessl

[2018-09-13 10:09] happyconcepts commented on #1832
No. It would just get me banned here as in telegram, for telling the truth to those who want to hide it.

iIRC It's simple math to add up who has been enriched on the UI worker.

[2018-09-13 10:10] happyconcepts commented on #1634
Can't , banned. Convenient for the thieves, all too convenient...

[2018-09-13 10:11] kapeer42 commented on #1673
@abitmore

This is not true on the testnet now.

[2018-09-13 10:11] sschiessl-bcp commented on #1634
What do you mean banned? If you have Telegram you can contact me personally, independent which channels you are banned. My handle is sschiessl

[2018-09-13 10:14] happyconcepts commented on #1634
I deserve venue in the group channel, as an investor, as a contributor. Gee I wonder why I am not enthused about bitshares?

[2018-09-13 10:15] sschiessl-bcp commented on #1634
I can't help you to get unbanned if I don't know your nick, and it is easier to communicate if you find me there

[2018-09-13 10:34] yurastich commented on #1696
We have chosen the following method for catching console.log, console.warn, console.info, console.error - https://stackoverflow.com/questions/19846078/how-to-read-from-chromes-console-in-javascript
Also, the unsuccessful requests are caught using the React method  - componentWillCatch.

We keep 20 last records in the local.storage and use them for the further actions. The records are updated autom

[2018-09-13 14:03] abitmore commented on #1536
@wmbutler as I've commented above, IMHO we need an overall UX (re)design for creating proposals. Proposals are not only for "send" feature.

[2018-09-13 14:52] abitmore commented on #1696
I noticed there was a new comment deleted but I'm not sure why. Anyway, please keep in mind that we should avoid including private keys in the report (I guess there are risks when uploading `local.storage` and etc).

[2018-09-13 15:37] kimchi-king opened #1856 "[0.5][kapeer42] Unable to change password on latest reference wallet"
While using the desktop wallet version 180912 it's not possible to enter your current password on the password change page. Therefore, it's not possible to update your password for local wallets.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings --> Password
2. Unable to enter current password

**Expected behavior**
You should be able to enter your current password and then set

[2018-09-13 18:35] froooze commented on #1832
The registration process is critical and not very helpful atm.

@gibbsfromncis: We don't need another page, we just need to redesign the actual one like open ledger did it.

@ happyconcepts: You should open some tickets and post on other platforms things you don't like.

[2018-09-13 18:37] froooze commented on #1705
Any information, how I can improve the German translation?

[2018-09-13 21:55] sschiessl-bcp opened #1857 "[1.5][gibbsfromncis][X][sschiessl-bcp][Showcases] General frame"
<h1>Showing the strengths of the blockchain</h1>
It happens quite often in telegram channel that people look for approaches how to solve their task, and quite often it happens that the existing features can already help to realize it. The reference UI should show the strength of the blockchain, and currently it mostly leverages the exchange. The showcases intend to open new possibilities.

<h2>Gen

[2018-09-13 21:57] sschiessl-bcp opened #1858 "[Showcases] Timed transfers"
<h1>Showing the strength of the blockchain</h1>
It happens quite often in telegram channel that people look for approaches how to solve their task, and quite often it happens that the existing features can already help to realize it. The reference UI should show the strength of the blockchain, and currently it mostly leverages the exchange. The showcases intend to open new possibilities.

<h2>Time

[2018-09-13 22:12] sschiessl-bcp opened #1859 "[Showcases] Escrowed transfer, or off-the-book trade"
<h1>Showing the strength of the blockchain</h1>
It happens quite often in telegram channel that people look for approaches how to solve their task, and quite often it happens that the existing features can already help to realize it. The reference UI should show the strength of the blockchain, and currently it mostly leverages the exchange. The showcases intend to open new possibilities.

<h2>Escr

[2018-09-13 22:18] sschiessl-bcp opened #1860 "[Showcases] Recurring payments / Withdrawal permission"
<h1>Showing the strength of the blockchain</h1>
It happens quite often in telegram channel that people look for approaches how to solve their task, and quite often it happens that the existing features can already help to realize it. The reference UI should show the strength of the blockchain, and currently it mostly leverages the exchange. The showcases intend to open new possibilities.

<h2>Recu

[2018-09-13 22:37] sschiessl-bcp commented on #1832
OpenLedger signaled that they would be willing to backport there approach. Do we like the UX?

[2018-09-13 22:58] abitmore commented on #1857
IMHO we need a showcase for proposals.

[2018-09-13 23:00] abitmore commented on #1131
@wmbutler I believe this has been done already.

[2018-09-13 23:17] abitmore commented on #1832
@happyconcepts please stay in topic. I know you're a talent and have a desire to improve things and have done some, but some other things you've done have led to the opposite. BTW I guess admins can ban you here as well if you're identified as "not-welcome".

[2018-09-14 00:30] gibbsfromncis commented on #1841
Yeah.

@sschiessl-bcp I suppose it's better to replace our tabs by ant tabs everywhere right away. I don't see any reasons to keep old tabs somewhere if we start its replacement.

[2018-09-14 00:33] gibbsfromncis commented on #1816
@sschiessl-bcp definitely agreed. Also it would be nice to make overlay over the table "white" or "dark" depending on theme. Because it makes me crazy when I'm trying to click and nothing happened because of transparent overlay...

[2018-09-14 01:40] froooze commented on #1832
With backport I thought of copying the code from Openledger to the bitshares-ui? Where is the extra work of replacing?

[2018-09-14 01:40] gibbsfromncis commented on #1832
@froooze it may be not so easy to just copy-paste code. Lets wait for OpenLedger team estimates

[2018-09-14 06:56] sschiessl-bcp commented on #1857
Thanks abit! I should have done a better research for past issues

[2018-09-14 08:56] barefootmouse commented on #1521
[code]

[2018-09-14 09:28] gibbsfromncis commented on #1841
@sschiessl-bcp what kind of refactoring are we talking?

[2018-09-14 12:00] froooze commented on #1832
Why do we need OpenLedger, when we are allowed to backport it?

[2018-09-14 12:01] sschiessl-bcp commented on #1832
OpenLedger is closed-source afaik

[2018-09-14 12:01] gibbsfromncis commented on #1832
@froooze they can do it more cheap than I requested.

[2018-09-14 14:39] dot5enko commented on #1477
@sschiessl-bcp i support @happyconcepts

- tons of issues are self assigned for month and that people do nothing -  thus removing possibility of taking this issues from another people.
- Cant say that this task was followed the mockups - they really look great, which i can't say about implementation.
- @wmbutler, why this issue should be paid as its not completed (did bounty section of repo change

[2018-09-14 15:06] sschiessl-bcp commented on #1705
Apologies. I want to setup the transifex account with the latest translation files while removing the english duplicates to see the actual missing entries.

The plan is to distribute the points of this issue mostly for the translation work then.

[2018-09-14 16:59] wmbutler commented on #1634
@happyconcepts if you were kind it would make a difference.

[2018-09-14 17:01] wmbutler commented on #1131
Cool, I guess @svk31 should close it if he agrees.

[2018-09-14 17:02] HarukaMa commented on #1826
I remember seeing reports for white screen quite a lot, but unfortunately couldn't reproduce even once...

[2018-09-14 17:03] wmbutler commented on #1536
@abitmore but we don't have to solve all the problems at once. If I want to propose a send operation, it makes sense to do that from the send modal.

[2018-09-14 17:47] wmbutler commented on #1536
Proposed UX

- User clicks Send and gets modal
- Modal has pills at top for Send / Propose
- Send is default
- Add from input field but lock it down to active account for the "Send operation"
- If user toggles to "Propose" operation, unlock the FROM field and incorporate typeahead
- Also change label on Send button to "Propose"

![screen shot 2018-09-14 at 12 43 18 pm](https://user-images.githubus

[2018-09-14 17:59] wmbutler commented on #1479
I've submitted UX for proposed send/transfer operations here:

https://github.com/bitshares/bitshares-ui/issues/1536#issuecomment-421018790

[2018-09-14 18:01] wmbutler commented on #1536
@gibbsfromncis you may want to antify this...

[2018-09-15 02:44] happyconcepts commented on #1634
There is a role on every competitive team for someone like me who isn't afraid to call bullshit on sight.

[2018-09-15 17:30] startailcoon commented on #1857
If I understand this issue correctly You're talking about making sort of a FAQ/How-to section, containing answers on tasks that user may find useful. The chain is, as you state, a powerful tool and many thing may not be known by the user.

I think this would be a nice addition to the app as long as we can find a good way to implement it and have it easily accessible on the sections the user may ne

[2018-09-15 17:33] sschiessl-bcp commented on #1857
Not only FAQ, actually providing easy to use UI for it!

[2018-09-15 17:59] startailcoon commented on #1816
Would be very nice if you could make the loading asynchronous in the background and let the user interact with the list, filter and options during this time. The user should be notified that the list is still populating during this time though.

I think the pagination at the bottom and selection props at the top looks good.

- View options to `10 / 25 / 50 / 100` is good options
-  Make sure it's

[2018-09-15 18:06] kapeer42 commented on #1479
So to sum it up:
- no changes to the modals
- this change to the menu:
![burger-legacy-demo](https://user-images.githubusercontent.com/35779885/45589128-b31e4e80-b920-11e8-894c-b57cfce86d1f.png)
- adding the [previously shown](https://github.com/bitshares/bitshares-ui/issues/1479#issuecomment-419643031) warning on the legacy pages

?

If I may, I propose to join the legacy deposit and withdraw but

[2018-09-15 18:14] startailcoon commented on #1832
As I find some things on OpenLedger pretty nice, I still think we shouldn't backport their style directly.

## What I think we need
- More clear distinction between bin-file and account/cloud
- Prettier UX for selecting, inputting and verifying.
- Include `Restore from brain-key` with a prettier UX

Today our UX is confusing at best when you sign up, with options to type in a form, or restore, or

[2018-09-15 18:29] startailcoon commented on #1841
I would agree that we should implement the new ANT tabs for the whole application, but we should make one section at the time. I understand your point in replacing all Tabs at once @gibbsfromncis, but as buttons aren't possible in the ANT tabs, we would be required to make a new UX for those places.

If a section with Tabs needs to be reworked, we should do it within their own issues. Create/Updat

[2018-09-15 18:33] kapeer42 commented on #1536
@dot5enko Was [this](https://github.com/bitshares/bitshares-ui/issues/1536#issuecomment-419663041) a claim?
If not and the UX by @wmbutler is validated I'd like to claim it.

[2018-09-15 18:38] startailcoon commented on #1857
After discussing this with @sschiessl-bcp , I've come to understand the goal a bit better. The usage of the word "Showcase" gave me the impression of it being a HowTo/FAQ section that visualized how users can use the app, which in itself isn't a bad idea either, but that wasn't the idea here.

@sschiessl-bcp wish to implement more of the "on-chain-ops" that we have. Like timed and recurring paymen

[2018-09-15 18:44] kapeer42 commented on #1734
@startailcoon  We need some feedback from backend devs and node runners I think.
Do they intend to allow querries to elasticsearch directly or only make the @oxarbitrage wrapper public?
There is a recommendation [here](https://github.com/bitshares/bitshares-core/wiki/ElasticSearch-Plugin):

So I guess the answer to my [previous question](https://github.com/bitshares/bitshares-ui/issues/1734#issuec

[2018-09-15 18:49] svk31 commented on #1816
It's already async, it's just the loading indicator that blocks input.

[2018-09-15 18:57] startailcoon commented on #1833
This is the same as for bitXCD (Eastern Caribbean Dollar), which is backed by bitUSD.
http://cryptofresh.com/a/XCD_USD

Assets Details should make sure to view all sections based on the correct backing asset, not default to CORE asset.

![image](https://user-images.githubusercontent.com/12114550/45589672-d7325d80-b929-11e8-8270-6a6063d0cde0.png)

[2018-09-15 19:11] startailcoon commented on #1828
Pushing this task to 2 hours in total to implement the following
- [ ] Accept both `.` and `,` as form input type for decimal placement
- [ ] Update UI to view decimal placement based on regional settings, on all sections required.

[2018-09-15 19:29] startailcoon commented on #1825
Duplicate of https://github.com/bitshares/bitshares-ui/issues/1536

[2018-09-15 19:29] #1825 closed

[2018-09-15 20:55] sschiessl-bcp commented on #1857
The cases that have been already created are all possible already, merely require several operation and/or a Proposal Builder.

I ll try to give a more comprehensive update next week

[2018-09-15 21:58] abitmore commented on #1828
@startailcoon please be VERY careful about this. People may pasting a number with no "." but only a "," E.G. `1,000` and meant to input `1000` but not `1`. BitShares is somewhat a financial system, the consequence of false detection would be serious. My opinion is to stick to one decimal placement, unless the user explicitly specified another somewhere e.g. in settings.

[2018-09-16 03:59] happyconcepts commented on #1634
Not in my opinion. Indeed that is a very rough paste to put the fee on the wrong line...are you sure you understand the issue?

This is the Order Entry (OE) box.  . .

It is really, really important to the future of the DEX that people can trade ... and trade quickly ... and trade accurately. So the Price, Pair, and Quantity are important. I would not marginalize them by using such small size rela

[2018-09-16 04:04] svk31 commented on #1828
I think we need to be careful with this too. Personally my regional settings indicate a comma being used, but I would prefer using a dot.

Supporting both makes input validation more complicated so I'm inclined to say we just support one style which would be the dot.

[2018-09-16 09:49] gibbsfromncis commented on #1841
@startailcoon Do you want to replace tabs for a whole application in a scope of #1604 issue?

[2018-09-16 09:55] gibbsfromncis opened #1861 "[3] Add Radio & Button groups to style-guide"
This task is to include Radio Button Group & Button Group to style-guide.
- [Button Group](https://ant.design/components/button/#components-button-demo-button-group)
- [Radio Button Group](https://ant.design/components/radio/#components-radio-demo-radiobutton)
- [Radio Button Solid Group](
https://ant.design/components/radio/#components-radio-demo-radiobutton-solid)

Required estimate: 1.5h for UX

[2018-09-16 09:57] gibbsfromncis commented on #1536
@startailcoon please give your feedback for @kapeer42

@kapeer42 if you would take it make you you will use our [style-guide ](https://styleguide.bitshares.org/#/dark) for this window. Do not use old inputs or create your own buttons groups ( Send, Propose ). Also this task is blocked by this one https://github.com/bitshares/bitshares-ui/issues/1861. So you should wait while I finish required UI e

[2018-09-16 10:00] gibbsfromncis opened #1862 "[1.5] Style-Guide usage instruction"
As new users start to using our [style-guide](https://styleguide.bitshares.org/#/dark) it would be nice to have an instruction for this one how to use it. Because only internal team know that this style-guide is built on ant and where the doc is..

Required estimate: 1.5h

[2018-09-16 10:52] startailcoon commented on #1837
Grouping is moved to Personalize modal as a global default setting. Grouping is removed on vertical panel, but left unchanged on horizontal as it has the space to contain it. We could remove it there as well if it's desired.

Autoscrolling persists on change now. Autoscrolling is also available on the Personalize modal as a global setting, and sets the desired default option. A temporary change is

[2018-09-16 10:55] startailcoon commented on #1837
I would suggest we remove the "Latest" title on the middle section as seen below. Having a market with to many digits will make the orderbook unnecessary wide.

![image](https://user-images.githubusercontent.com/12114550/45595675-c9bfb680-b9af-11e8-854e-c5ff45cbfb7a.png)

[2018-09-16 12:04] kapeer42 commented on #1634
@wmbutler
Can you explain what

means please?

Should it be like shown in @abitmore [comment](https://github.com/bitshares/bitshares-ui/issues/1634#issuecomment-406812752) ? This doesn't seem like a percentage next to a fee.

@happyconcepts

 Thanks for catching this, I try to extract information without spending too much time reading. My bad. I understand now that this is about market fee.

No, h

[2018-09-16 15:13] startailcoon commented on #1828
@abitmore @svk31 I agree with both of you on this. I've pointed out what the issue would be about when implementing it, but as you state we also have to make sure to catch any edge case when doing this change.

Today you can't paste an input with a comma sign in it. The form will just not accept it. Pasting with a dot will mean `1.000` turns to `1`.

We could deny any paste of input with anything

[2018-09-16 17:09] grctest commented on #1850
I'm also getting this. If I select a public api node (non-private testnet) it will connect, to which I can switch to my private testnet servers but upon attempting to import the nathan WIF keys into the client it gets stuck and eventually I get kicked back to this application initialization issues page.

I've changed the chainId and default asset names for my private testnet.

semi-related issue r

[2018-09-16 18:39] startailcoon opened #1863 "[Exchange Refinement] Ideas for Future Changes"
As the new design from #1477 had a few issues once completed I have a few ideas that I wish to bounce to the community.

I think the new layouts wasn't the best ones, and would rather wish to change it to something like the following. I'm terrible at UX design, so I'll describe my ideas as best as I can.

1. A layout with the original design, where you have the markets on the right and the order b

[2018-09-16 20:04] startailcoon commented on #1837
## New Personalize settings modal (in progress)
Still refining the modal, but this is a first draft of it.
It's now using the Ant components.

![image](https://user-images.githubusercontent.com/12114550/45600390-4ed0bd00-b9fc-11e8-8836-77f61294edc6.png)

[2018-09-16 20:18] startailcoon opened #1864 "[1][kapeer42] Include changes on 'Changed/Deleted Proposal' in history"
Issue #1673 included the ability to change/delete a proposed transaction. The conversation of the PR #1853 created work out of scope of that issue.

This issue is for hour tracking for changes mentioned in the PR comment https://github.com/bitshares/bitshares-ui/pull/1853#issuecomment-421643371

#### startailcoon commented

The delete may not require the object to be printed out, but could be of i

[2018-09-16 22:04] gibbsfromncis commented on #1841
@startailcoon I remember some problems I met when start to use ant tabs in our app. I'm not sure actually that 1h estimate is enough but lets see when I finish

[2018-09-16 22:23] abitmore opened #1865 "Hide/remove settlement price and feed price from exchange page for bitCNY and other committee-controlled assets"
**Is your feature request related to a problem? Please describe.**
Due to [BSIP42](https://github.com/bitshares/bsips/blob/master/bsip-0042.md), witnesses are feeding adjusted price for at least bitCNY. The result is good so far, according to https://coinmarketcap.com/currencies/bitcny/, bitCNY is now trading almost at par.

![image](https://user-images.githubusercontent.com/9946777/45601594-c65c1

[2018-09-16 22:31] gibbsfromncis commented on #1604
@startailcoon @clockworkgr

Comments from Alex (designer) regarding his design:

I want to show three possible options for the improvements of the Assets creation form.

I worked on the appearance of UI using strictly the guideline from https://styleguide.bitshares.org/#/light

Also, using the ANT steps https://ant.design/components/steps, I created several versions of the interaction of a person

[2018-09-16 22:33] gibbsfromncis commented on #1604
Things left to do:
- [ ] Move Market Fee from Flags section to Primary Settings
- [ ] Edit screen example
- [ ] Decide something about Fields Validation (Error displaying)
- [ ] Put "Quote Asset Amount (n/a)" on the first screen with vertical steps some where. It's not good to see it in the left side of button

@startailcoon @clockworkgr would be glad to hear your comments :)

[2018-09-17 05:38] sschiessl-bcp opened #1866 "[Exchange Refinement] Add setting to hide function buttons"
As stated in https://github.com/bitshares/bitshares-ui/issues/1837#issuecomment-421823734

The buttons spread out throughout the exchange layout that allow adjusting the layout should almost all be hidden if the user ticks the new setting "Hide most control buttons" in the "Personalize" Modal.

Example for a control button that can always be visible:
 - Auto-scroll for Order Book
This button is ex

[2018-09-17 05:43] sschiessl-bcp commented on #1837
I suggest we include another Setting: "Hide most control buttons". If activated, all non-trade related, settings adjusting buttons are hidden, see #1866

What does "Globally" mean in this context?

[2018-09-17 05:47] sschiessl-bcp commented on #1477
I have updated the new issues in two categories, my personal opinion and if not acceptable please restructure
- [Exchange Redesign]:
This is a helper issue to finalize this task, *should* not be rated imo
- [Exchange Refinement]
The community feedback led us to new ideas how the exchange *should* look like. These issues are further refining the layout, are not part of this issue and should be rate

[2018-09-17 05:50] sschiessl-bcp commented on #1839
I have found the TradingView options, they are included as shown below

https://github.com/bitshares/bitshares-ui/blob/820b055259deb616820da2051ddcac713fe08f09/app/components/Exchange/TradingViewPriceChart.jsx#L44-L47

[2018-09-17 06:12] sschiessl-bcp opened #1867 "[1][HarukaMa] Can't create a smartcoin which is backed by an UIA"
Missing point for https://github.com/bitshares/bitshares-ui/issues/1537#issuecomment-420194003

[2018-09-17 06:12] #1867 closed

[2018-09-17 08:16] #1848 closed

[2018-09-17 08:19] #1785 closed

[2018-09-17 08:57] startailcoon commented on #1841
We can increase hours if required of course

[2018-09-17 09:00] startailcoon commented on #1477
All acceptable 👍

Items related to "Exchange Redesign" issues will be without any extra charge. I'll assign these to me.

New features and ideas, refinements, will be estimated.

[2018-09-17 10:32] sschiessl-bcp commented on #1673
When using cloud mode, or local wallet with one account it would be nice to have fee payer account preselect, wouldn't it?

![image](https://user-images.githubusercontent.com/33128181/45618386-bf67f000-ba75-11e8-9d8a-387c1ec17117.png)

[2018-09-17 11:01] sschiessl-bcp commented on #1600
Most users will be happy with default language. Having it look like a combobox is too prominent IMO.

I would suggest something like
![image](https://user-images.githubusercontent.com/33128181/45619488-bed15880-ba79-11e8-9cb9-0fde8ceec29b.png)

From top to bottom:
 - normal
 - onhover
 - onclick
The language selector icon could be omitted, but I personally like it to be showing up non-intrusive.

[2018-09-17 12:51] gibbsfromncis commented on #1600
@sschiessl-bcp I thought English is default language. Isn't?

I can add icon and handle hover/click actions but what you're asking to make with dropdown is not provided by our Style-Guide. We can use [dropdown](https://ant.design/components/dropdown/#) for it but it hasn't autocomplete.

[2018-09-17 12:54] gibbsfromncis commented on #1841
@startailcoon I've added label, project and sprint to this one.

[2018-09-17 13:03] sschiessl-bcp commented on #1600
Exactly, that is way I think the language selector mustn't be so prominent

[2018-09-17 13:08] gibbsfromncis commented on #1600
@sschiessl-bcp So lets replace it for dropdown?

[2018-09-17 14:17] kapeer42 commented on #1673
Well, actually it's the case if you click delete without selecting an account.
The AccountSelect component used does not seem to allow for a preselection. I tried to modify it quickly but it wasn't trivial. Will dig deeper.

[2018-09-17 14:37] kapeer42 commented on #1479
@abitmore
Are you referring to the screenshot I posted or current implementation?
The current implementation has the send button in the page header.
The screenshot is based off that so it isn't in the menu there either.
I don't think this is a bug.

[2018-09-17 14:55] froooze commented on #1832
@startailcoon: The OpenLedger is a good base, but needs further tweak and we should discuss some improvements.

[2018-09-17 16:04] kapeer42 commented on #1864
@startailcoon

The proposal object being deleted, I think that the only way to get the proposal content after deletion is to find the `proposal_create` operation which, to my knowledge, is only listed in the account history.
This seems to contradict why you want the description in the `proposal_delete` in the first place.

Even if we did go through all the transaction in the account history to fin

[2018-09-17 16:56] kapeer42 commented on #1689
Can I claim this?

[2018-09-17 17:32] mattbeckman commented on #1689
@kapeer42 Yes, but check with @startailcoon that it's still needed. I have a branch where StickyTable was pulled out of OrderBook, but OrderBook has been refactored since then, and due to conflicts may be faster to rethink it if the issue still exists.

[2018-09-17 19:55] startailcoon commented on #1839
This works for disabling the controls of the widget on mobile, but it disables all controls. I think @svk31 needs to supply us with some more documentation regarding this, but it's disabled for the moment to satisfy the mobile design better.

Optimal would be to have pin zooming still enabled, if there is more data to display of course.

[2018-09-17 20:03] startailcoon commented on #1838
I've managed to find a good way to solve this and has so far successuflly managed to get the order book component to handle this.

Still need to rework the rest of the exchange components to be able to hide/show the content.

- [x] Option `Reduce scroll bars` in Personalize Exchange
- [x] Order Book
- [ ] Market Trades
- [ ] My Trades
- [ ] My Open Orders
- [ ] Settle Orders

Estimated work: 2 hrs

[2018-09-17 20:09] startailcoon commented on #1689
StickyTables are still present as before, even on the new Exchange Design, and the current issue is still present on it.

Give it your best crack @kapeer42 👍

[2018-09-17 20:14] startailcoon commented on #1833
Sure, it's yours @kapeer42

Looking at this issue again, I think it's a bit to much to have this set to 2 hours. I'm setting it to 0.5 hour and you tell me if there is anything that makes it take much longer. It should be a fairly simple task.

[2018-09-17 20:18] startailcoon commented on #1864
Obviously, I rest my case 👍
Thanks for making a great clarification about the topic.

[2018-09-18 07:28] HarukaMa commented on #1403
Reviving this as I was reproducing on my development environment.

This time we have:
![image 0030-09-18 16 19 29](https://user-images.githubusercontent.com/861659/45670770-9f602b80-bb5e-11e8-8eda-dacd27743714.jpg)
![image 0030-09-18 16 19 33](https://user-images.githubusercontent.com/861659/45670772-a129ef00-bb5e-11e8-8c12-96ebe255d449.jpg)

which involves these accounts:
![image 0030-09-18 16 19

[2018-09-18 08:52] abitmore commented on #1403
We found the reason. The generated brain key is not used, instead, an empty string was used to derive the public keys. I guess we can add an assertion somewhere in the public/private key pair derivation code, if the input is empty, refused to execute and throw an error?

[2018-09-18 10:29] gibbsfromncis commented on #1600
@sschiessl-bcp I agree with @startailcoon. Please put your thoughts. I want to close this task before the end of this sprint

[2018-09-18 10:54] LeeGG opened #1868 "its a start error"
**npm -v
5.6.0**

**node -v
v6.0.0**

[2018-09-18 11:18] LeeGG opened #1869 "error about start ui"
**npm -v
5.6.0**

**node -v
v6.0.0**

**git branch
* master**

when I start  "npm start ":

<img width="998" alt="image" src="https://user-images.githubusercontent.com/22726673/45683025-d17c8800-bb74-11e8-81b8-bb0a73333ebd.png">

source:

<--- Last few GCs --->

   37070 ms: Mark-sweep 1327.0 (1434.6) -> 1326.0 (1434.6) MB, 643.6 / 0 ms [allocation failure] [GC in old space requested].
   37733 ms

[2018-09-18 12:07] sschiessl-bcp commented on #1600
I guess we need to agree to disagree (which is fine, no UX expert here, just gut feeling).

Is this considered completed then?

[2018-09-18 12:08] sschiessl-bcp commented on #1868
duplicate #1869

[2018-09-18 12:08] #1868 closed

[2018-09-18 12:10] sschiessl-bcp commented on #1673
If this causes more work raising hours is fine. UX should have preselection if only one account.

[2018-09-18 12:13] gibbsfromncis opened #1870 "[2] Fix copy issue on Withdraw modal"
When I try to copy anything inside Withdraw modal (even amount of money) I copy the following:

`PLEASE USE COPY BUTTON TO MAKE COPY OF ADDRESS OR MEMO ON THIS PAGE`

Estimate: .5h

[2018-09-18 12:30] gibbsfromncis commented on #1600
@sschiessl-bcp I'll add `language` icon near select and it would be fine.

[2018-09-18 12:55] gibbsfromncis opened #1871 "Investigate & Fix issues regarding OpenLedger Withdraw modal"
@sschiessl-bcp @startailcoon

The second time I'm trying to withdraw only part of OPEN.X and I get withdrawn all my coins.

Should be investigated & fixed or we need to disable an ability to withdraw money for OPEN.X while it's not fixed. The second time I use some online-exchangers and lose my money because their automatic system don't care than I send more money than requested on my application.

[2018-09-18 13:12] gibbsfromncis commented on #1871
@startailcoon I have no idea about estimate. I'll spend around 1h for investigation and let you know.

If you want to work on it please feel free to let me know and assign yourself

[2018-09-18 13:16] gibbsfromncis opened #1872 "[6] Gateway Modal ANT Implementation"
1. Update UI (use style-guide, fix UX issues)
2. Test it well for all bridges/gateways
3. Remove word "Beta" from menu
4. Decide something about old withdraw page

[2018-09-18 13:26] sschiessl-bcp opened #1873 "[Exchange Refinement] Vertical Order Book left"
Bring back the "Pin Order Book" icon for the new exchange layout that resembles the old one. This allows to have a feeling of the old layout while users may want to explore the new "Personalize" option.

[2018-09-18 15:34] startailcoon commented on #1872
Related to #1479, UX for Send/Deposit/Withdraw beta -> legacy

[2018-09-18 15:38] startailcoon commented on #1837
Only thing left on this would be _Evaluate visualization of auto scroll icon_.

Any suggestions on this topic?

[2018-09-18 15:40] charyury commented on #1832
Hello friends! I will provide detailed information about the effort we spent for sign up, login and logout screens, waiting for details from the developers. Anyhow, this will be definitely far from 6 hrs mentioned above, so if we somehow block the progress, please go ahead.
Still we would love to be 100% transparent and make sure we compare apples to apples when talking about estimation.

[2018-09-18 16:47] kapeer42 commented on #1873
Not sure if this deserve a new issue:
On current develop, in the Personalize modal, you have to click on "Horiz. (...)" to get the vertical order book, I would expect it to be the other way around.

[2018-09-18 16:50] kapeer42 commented on #1856
Can I claim this?

[2018-09-18 16:50] startailcoon commented on #1873
I think what @sschiessl-bcp refers to is the layout called "Vert. Orderbook, Original" which was added to resemble the old layout we had for old users. It lacks the option to "pin" the order book to the left though.

As I've described in my issue #1863 , I write about this as well.

[2018-09-18 16:55] kapeer42 commented on #1578
Can I claim this? Won't be able to deliver for 180919 though.

[2018-09-18 17:03] startailcoon commented on #1871
As all gateways have their own sets of files that they've submitted to the legacy section of "deposit-withdraw" ideally it would be on them to make sure it works, though the code has been reviewed by the UI team on inclusion and accepted.

### Short term
Would be to help OL with their form, if possible. I'd estimate 1 hour for this.

### Long term
Would be to replace the Legacy exchange section wi

[2018-09-18 19:43] gibbsfromncis commented on #1578
@kapeer42 please make sure you have all information needed before claim this

[2018-09-19 05:01] MarkoPaasila commented on #1403
Does this mean that anyone for whom this happens get's access to all other accounts generated this way?

[2018-09-19 06:57] #1794 closed

[2018-09-19 06:58] #1673 closed

[2018-09-19 06:58] #1864 closed

[2018-09-19 07:15] #1833 closed

[2018-09-19 07:17] sschiessl-bcp commented on #1689
@startailcoon
Please make sure this is also reflected in the new Exchange Design

[2018-09-19 07:30] gibbsfromncis commented on #1600
<img width="467" alt="screenshot 2018-09-19 09 30 14" src="https://user-images.githubusercontent.com/35899973/45737627-a767ac00-bbee-11e8-86a6-f0dbe71ed7a7.png">
<img width="463" alt="screenshot 2018-09-19 09 30 28" src="https://user-images.githubusercontent.com/35899973/45737628-a8004280-bbee-11e8-89c7-f88c3721d1a7.png">

[2018-09-19 07:33] gibbsfromncis opened #1881 "[.5] Fix tabs content background on Assets page"
<img width="1230" alt="screenshot 2018-09-19 09 34 01" src="https://user-images.githubusercontent.com/35899973/45737837-265ce480-bbef-11e8-94ca-e2214c0820c3.png">

[2018-09-19 07:41] #1824 closed

[2018-09-19 09:10] sschiessl-bcp commented on #1837
Look at the tooltip and which icon is used at what visible state. I think the icon should represent the current state, whereas the tooltip tells you what happens on click. Current tooltip is wrong.

[2018-09-19 09:27] sschiessl-bcp commented on #1873
Yes exactly. Introduce the new layouting options via "Personalize" while having minimal friction through providing something very similar to old one

[2018-09-19 12:59] abitmore commented on #1403
That means we (and anyone who know how to do it) now have access to all those accounts because we now know the private keys. Specifically, 11 accounts, with total balance around 0.2 BTS. If a new account created with same public key, we'll have access as well.

Normal accounts aren't affected.

[2018-09-19 14:26] sschiessl-bcp opened #1886 "Preselection of AccountSelect"
If there is only one account to be selected from (e.g. CloudWallet), preselect this one.
Ensure that all listeners are notified properly (e.g. when proposing a transfer).

Continue from here
https://github.com/bitshares/bitshares-ui/blob/20aee1b5429b3cf1166f97a37634d9e050e4c931/app/components/Forms/AccountSelect.jsx#L25-L32

[2018-09-19 14:27] #1881 closed

[2018-09-19 17:50] startailcoon commented on #1837
I would probably go for https://static.thenounproject.com/png/204136-200.png
<img src='https://static.thenounproject.com/png/204136-200.png' height='100px'>

You've missed the icon for inverting the order book, switching places of sell and buy orders, which was a task in the redesign UX. However, I think we could achieve a good result by putting the toggle on the latest price. By adding a tooltip

[2018-09-19 19:35] sschiessl-bcp commented on #1837
This goes hand in hand with #1866

Following suggestion:
Per default all icons are gone besides auto scroll and grouping indicator,  which can be displayed next to each other. Auto-scroll click stays as is, group indicator click could open the selection popup as it does now. If user enables to show control buttons, the auto-scroll icon switches into the the above mentioned icon group popup icon an

[2018-09-19 23:45] froooze commented on #1863
- temp drawer on the side for BUY/SELL
- use three column design till bottom
- MARKET TRADES/MY OPEN ORDERS and MY ORDERS in one column
![Exchange](https://i.postimg.cc/xTDQBSxb/Exchange-_Redesign.png)

[2018-09-21 11:12] froooze commented on #1705
Can I work on the German translation?

[2018-09-22 10:03] wmbutler commented on #1065
Added 5 hours as a starting point.

[2018-09-22 10:15] wmbutler commented on #1578
@kapeer42 important for you to work closely with @startailcoon and @gibbsfromncis for UX with ANT.

[2018-09-23 15:27] wmbutler commented on #1479
I think we should instead show:
[code]
on the same item. I'll mock this up.

[2018-09-23 15:53] wmbutler commented on #1479
This mockup does not include the appropriate icons. Use the existing icons.

State with nothing selected
<img width="776" alt="screen shot 2018-09-23 at 10 50 02 am" src="https://user-images.githubusercontent.com/1254810/45929969-7523ba80-bf1e-11e8-8fbd-63991f96e5bd.png">

State with Send row selected but not "or Legacy Send"
<img width="744" alt="screen shot 2018-09-23 at 10 51 11 am" src="https:

[2018-09-23 15:56] wmbutler commented on #1479
@abitmore I'd propose that we also move the Send out of the header and into the menu bar.

- [ ] Move Send out of header and into menu bar

[2018-09-23 15:56] wmbutler commented on #1479
@kapeer42 I feel this is groomed and ready for execution.

[2018-09-23 16:05] wmbutler commented on #1604
I like where this is going. A couple of questions.

1. If the user returns to this screen after asset creation, will they continue to use this step system or will we have to build another way to modify existing settings?
1. As I recall, either the Permission or Flags had some non-reversible action that may require extra warnings. @xeroc or @abitmore I may need you to chime in here to confirm or de

[2018-09-23 16:09] startailcoon commented on #1873
This will be fixed and pushed to the Branch of #1477.

Requested hours: 1 hour

![image](https://user-images.githubusercontent.com/12114550/45930101-ae2e5000-bf5b-11e8-89a1-c99e69b6093b.png)

[2018-09-23 16:14] wmbutler commented on #1604
@gibbsfromncis I think that Alex has some talent. Does he have any interest in working on UI for 15-20 hours per week?

[2018-09-23 16:38] startailcoon opened #1888 "[Exchange Refinement] Scrap Layout Selections"
I think that we should scrap the Layout Selections as part of the design in #1477.

As I've added back the option to pin the order book as part of issue #1873, we can do the following changes.

### Layout 1 and 2
Layout 1 and 2 has OrderBook, My Markets and Find Markets in the same column, which is very awkward I think. Switching tabs to look for a new market, to then switch back after the market

[2018-09-23 17:59] sschiessl-bcp commented on #1888
If this is doable for the next release, my vote it has.

[2018-09-23 18:08] startailcoon commented on #1888
It's doable, we just need to finetune it in the end.

[2018-09-23 18:50] sschiessl-bcp commented on #1857
This is a very basic and bad mockup, but it allows me to talk about the idea more (done with touchpad of laptop.. apologies):
![grafik](https://user-images.githubusercontent.com/33128181/45931689-c14c1a80-bf71-11e8-87da-3a7fc6d2f09c.png)

The UX is clear: Display parent component that holds a list of tiles that get displayed somehow. For the actual styling I imagine a separate issue after the basi

[2018-09-23 19:17] startailcoon opened #1889 "[Exchange Refinement] Order Form"
As part of Issue #1477, there was some changes to the Order Form.

There where some inconsistency in the design, as some things where missing. The design did not follow through in that place, and I ended up with a design based on the old layout.

Here is a design that I think would be as good as possible in regards to how the UX was provided.

## UX Proposal
<img src='https://user-images.githubuse

[2018-09-24 05:36] startailcoon commented on #1536
Since there is no reply from @dot5enko, and @kapeer42 posted a claim request I would suggest we can add this to claim the later.

@kapeer42 remember to make sure the transaction confirmation dialog remains consistent with the choices that is made in this section.

[2018-09-24 06:47] startailcoon commented on #1871
I'm unable to reproduce this issue.

When I try to withdraw, the same amount that I wish to withdraw + the Gate fee is used.
See liceCap.

![bitshares-ol_withdraw](https://user-images.githubusercontent.com/12114550/45939919-4a953880-bfd6-11e8-9ee9-3166f53df7d2.gif)

[2018-09-24 06:59] sschiessl-bcp commented on #1871
Is it possible that if you do it in a specific order the listeners are misfiring?

[2018-09-24 11:27] froooze commented on #1832
Before working on the signup window and integrate it, a draft is needed for discussion.

[2018-09-24 11:48] froooze commented on #1829
This needs more feedback before I can work on the code base?

[2018-09-24 12:11] sschiessl-bcp opened #1891 "Add Whitelist/Blacklist authority setting for Asset Actions"
An asset can have a whitelist and blacklist authority. The UI needs to support setting / removing it, to be included in Asset actions.

[2018-09-24 12:14] sschiessl-bcp opened #1892 "Support force transfer from issuer"
This might be only a question ....

Does the UI support to force transfer UIAs if the permission is set?

[2018-09-24 12:16] sschiessl-bcp opened #1893 "[Showcases] Advanced Asset management"
full description later..

Needs to leverage use cases for #1891 #1892 and explain how it can be used

[2018-09-24 13:09] startailcoon commented on #1871
I will continue to see if I can make this happen, but it would be good if @gibbsfromncis could catch this in a liceCap when it happens.

[2018-09-24 13:40] froooze commented on #1477
The UI-Team needs to accept the [KISS principle](https://en.wikipedia.org/wiki/KISS_principle), and that means we don't need 5 different layouts, which have no advantage other than confusing.

We should only implement two different layouts with options to change/add/hide some things.
A basic layout as simple as possible for people with small screens or beginners and one layout for advanced user or

[2018-09-24 14:32] azartpay opened #1894 "TypeError: "u is undefined, can't access property "assetWithdrawlAlias" of it""
TypeError: "u is undefined, can't access property "assetWithdrawlAlias" of it"

![a288796772](https://user-images.githubusercontent.com/39407862/45958265-73e2b280-c030-11e8-965d-3f2a64cfc10f.png)
![478849c8d6](https://user-images.githubusercontent.com/39407862/45958305-8d83fa00-c030-11e8-9593-14142b844720.png)

[2018-09-24 16:03] wmbutler commented on #1857
I think `Showcase` is a great term (rather than features). We should probably put it into the menu since it's not something our regular users need to see constantly. Obviously, we can link directly to the endpoint from other sites who wish to discuss the various showcases.

[2018-09-24 16:11] startailcoon commented on #1835
I will sherry pick the fix for this from the above PR and push a new PR for the development branch in a few days.

[2018-09-24 16:13] startailcoon commented on #1689
@kapeer42 @sschiessl-bcp As it was based on the new exchange design I've cherry picked the code for PR #1875 and merged it to its branch. However, it still seems to be a slight issue with the centering, please see my comment on https://github.com/bitshares/bitshares-ui/pull/1875#issuecomment-422914176

[2018-09-24 16:15] startailcoon commented on #1543
@dot5enko what is your progress on this issue? Does it require more details from the submitter and/or time?

[2018-09-24 16:16] kapeer42 commented on #1689
I'm working on the issue on latest develop

[2018-09-24 16:17] startailcoon commented on #1856
@kapeer42 it's yours. Please make sure that you don't miss any of your other issues that are still open.  Make sure it's tested well, as it's a security feature on chain we're handling here.

[2018-09-24 16:19] startailcoon commented on #1762
This will be fixed part of the Exchange Redesign.
Closing.

[2018-09-24 16:19] #1762 closed

[2018-09-24 16:20] startailcoon commented on #1497
@svk31 is this an issue and does it require some hours to be looked at or fixed?

[2018-09-24 16:28] startailcoon commented on #1583
I will take a closer look at this as part of #1836

[2018-09-24 16:49] startailcoon commented on #1689
There is no specific change to that part based on the new exchange design, so I wouldn't have any issue making it work once you have it ready.

[2018-09-24 18:54] startailcoon commented on #1477
This is why I propose to scrap the layouts as part of #1888

We will make this work

[2018-09-24 20:45] abitmore commented on #1891
I think it's in asset management/update page.

[2018-09-25 07:01] sschiessl-bcp commented on #1835
Thanks!

[2018-09-25 07:03] sschiessl-bcp commented on #1689
Perfect, thanks!

[2018-09-25 07:03] sschiessl-bcp commented on #1689
Perfect, thanks!

[2018-09-25 08:55] charyury commented on #1832
Hello friends!
Sorry for the delay, below are efforts we spent for our implementation.
As expected, those are much bigger than estimated by your team, still I am willing to share, this might help to understand if there is something wrong with our process, or maybe your team is underestimating, or maybe we are comparing completely different solutions.

Here we go:

### **Registration**

**Selection

[2018-09-25 09:12] gibbsfromncis commented on #1604
@wmbutler This is how tabs looks like on Edit mode. He did it 6 days ago but I didn't have a time to post it:

(Vertical tabs on the left)
<img width="726" alt="screenshot 2018-09-25 11 11 26" src="https://user-images.githubusercontent.com/35899973/46004727-db8e1180-c0b3-11e8-95b3-a6b4e644ebd3.png">

(Horizontal tabs)
<img width="1019" alt="screenshot 2018-09-25 11 11 15" src="https://user-images.

[2018-09-25 09:57] gibbsfromncis commented on #1604
@wmbutler it's permissions tab and it already has some text of warning:
<img width="963" alt="screenshot 2018-09-25 11 56 24" src="https://user-images.githubusercontent.com/35899973/46007351-227f0580-c0ba-11e8-8054-e54bac635070.png">

But I suppose we can use the styles of warning like on Primary Settings to make sure user will pay attention to the text:

<img width="461" alt="screenshot 2018-09-2

[2018-09-25 10:12] gibbsfromncis commented on #1832
@charyury can I ask you please to give me more clarification on estimates for Logout part? Because as for me like a developer who has deep knowledge in Bitshares-UI this estimate look really not fair. I mean 20h for development of Logout part.

[2018-09-25 14:39] kapeer42 commented on #1536
@wmbutler
What is the asset used if the button in the header drop down is used?

[2018-09-25 14:43] kapeer42 commented on #1536
@gibbsfromncis There is no `textarea` component (for the `memo / message` section) currently in the style-guide.

[2018-09-25 14:45] wmbutler commented on #1832
@charyury Thanks for this. I received your email and we are excited to begin collaborating with Openledger and all of the gateway providers who have created added value for their own gateways and are interested in contributing back to core.

I reviewed your signup procedure and only have a few comments:

- 7 character password minimums on "Account Model", (Cloud Wallet) should be brought up to 16

[2018-09-25 16:12] nick1217 opened #1899 "Unable to claim the accumulated asset fees using an account, which controls the asset issuer"
**Description**
Assume there's an asset "A", created by an account "a", which is 100% controlled by the account "b".
There's no way to claim the accumulated asset fees using the account "b" as the transaction is created from the account "b" and the following error message is received: _o.amount_to_claim.asset_id(db()).issuer == o.issuer: Asset fees may be only claimed by the issuer_.
And it works

[2018-09-25 16:20] kapeer42 commented on #1536
@wmbutler What account is used to propose?
What happens when you have multiple accounts in a key file and want to propose with a particular one?

[2018-09-25 18:02] akledirs opened #1900 "Not find markets UIA-UIA, private MPA-UIA"
Some markets not find in search although in previous versions these markets was findable
Here some this markets:
GRIDCOIN-OPEN.GRC
GRIDCOIN-RUDEX.GRC
RUDEX.GRC-OPEN.GRC
RUDEX.GOLOS-GOLOS
and many other not in expand list for searching.
Problem have as minimun in last 2 builds.

[2018-09-25 18:30] wmbutler commented on #1604
Need more clarification on the UX for editing. For example, if the user changes a value, what prompts the user to continue to the final step to save the changes?