[2019-03-29 22:57] sschiessl-bcp opened #2557 "[2.0.190410-rc1] Integration Testing"
Release notes of the corresponding candidate can be found here:
https://github.com/bitshares/bitshares-ui/releases/tag/2.0.190410-rc1

<h1>Looking for Integration testers</h1>

This issue is to track integration tests of the mentioned release candidate. Targets are the most popular platforms
 - Mac
 - Windows 7 / 10
 - Linux
 - Android
 - iOS

and for each for the most popular browsers
 - Chrome

[2019-03-29 23:00] sschiessl-bcp opened #2558 "[2][2.0.190410-rc1] Maintain Language"
Translations are done through transifex, please find the file here

https://www.transifex.com/bitshares/bitshares-ui-1

Bounties:
 - Translate per Word: Complete Chinese, Russian, German and Spanish. When assigning a language, please state before how many words are missing. Bounty $0.15/word, according to https://search.proz.com/employers/rates plus BitShares knowledge as bonus, open to discussion

[2019-03-29 23:22] sschiessl-bcp commented on #1065
I think this would be nice as a Spotlight! I ll put some thought in it

[2019-03-29 23:26] sschiessl-bcp commented on #2543
Tasks:

- [ ] Properly center the icon vertically
- [ ] Add a label on the right side of the icon
- [ ] Add a choice modal to allow
  - a) cointracking report (current export)
  - b) full report (merely put raw data in excel file)

[2019-03-29 23:35] sschiessl-bcp commented on #2244
For reference

![image](https://user-images.githubusercontent.com/33128181/55267633-ac837300-5283-11e9-8d0f-a3b56ed8dd60.png)
![image](https://user-images.githubusercontent.com/33128181/55267636-b1e0bd80-5283-11e9-927d-7ece5e3ad90c.png)

[2019-03-29 23:38] sschiessl-bcp commented on #2512
Now part of #2543

[2019-03-29 23:38] #2512 closed

[2019-04-01 09:40] sschiessl-bcp opened #2559 "Do direct WebSocket pings instead of using ChainWebSocket"
Currently the UI uses ChainWebSocket to ping. This causes great overhead. To speed up the ping, implement
 - [ ] direct ping via websocket
 - [ ] re-introduce parallel ping
 - [ ] increase latency acceptance (lifting good from 200 to 500ms)

[2019-04-01 09:40] #2559 closed

[2019-04-01 09:43] sschiessl-bcp commented on #2559
Took 1.25 for adjusting and testing clockworks base

[2019-04-01 09:44] clockworkgr commented on #2559
original work on base DirectPinger and testing  took about 1.5

[2019-04-01 10:49] sschiessl-bcp commented on #2558
@ruslansalikhov

[2019-04-01 10:50] sschiessl-bcp commented on #2558
@TechsUsInc

[2019-04-01 11:35] bieglich commented on #2558
I'd be interested in reviewing german.

[2019-04-01 12:41] react-cat commented on #1964
@startailcoon This task took more time that was estimated, so it would be great to raise estimate for 2 hours

[2019-04-01 13:13] TechsUsInc opened #2560 "[0.5][MikhailKavalenka] Spotlight Direct Debit - Authorization accessible with account locked"
**Describe the bug**
New debit feature authorization is accessible with the account locked.

**To Reproduce**
Steps to reproduce the behavior:
1. Go toHamburger Menu
2. Click on Spotlight
3. Scroll down to Direct Debit
4. Ensure account is logged in but locked
5. Click on Direct Debit
6. See error
7. Unlock the account and retry with any account, any asset, any length
8. See creation error - unabl

[2019-04-01 13:49] TechsUsInc commented on #2557
My OS:
- Windows, Version: 8.1 (Primary)
-  Windows, Version 10
- Linux Ubuntu Version 16.04
- Linux Ubuntu Version 18.04
- Android 7.1.1 (Nougat)
- Apple IOS

My Browser:
- Opera 58.0.3135.127 (Primary)
- Google Version  73.0.3683.86 (Official Build) (64-bit)
- Firefox Version 63.0.3(64-bit)
- Brave Version 0.25.2 V8 6.9.427.23 OS Release 6.3.9600
- Bitorrent Version 7.10.4.44847

[2019-04-01 14:40] TechsUsInc commented on #2558
@sschiessl-bcp
Request to complete Japanese

[2019-04-01 15:17] shulthz commented on #2558
@sschiessl-bcp
Chinese translation finished.

[2019-04-01 16:02] froooze commented on #2558
@sschiessl-bcp: I found some errors in German translation, can edit and afterwards @bieglich makes the review?

[2019-04-01 16:47] TechsUsInc commented on #2558
Spanish translated;reviewed

[2019-04-01 16:51] froooze commented on #2557
My OS:
- MX-Linux 18.1

My Browser:
- Firefox 66.0.2
- Chromium 72.0
- Opera 58

[2019-04-01 17:02] froooze commented on #2526
Why not 0%?

[2019-04-01 17:04] sschiessl-bcp commented on #2526
0% also means it went up and down and now there is the same value. Different than nothing happened

[2019-04-01 17:12] froooze opened #2561 "[0.25] [RC] No boarder after Tradingview chart"
**Describe the bug**
No boarder after Tradingview chart.

**To Reproduce**
Go to Exchange Tab

**Expected behavior**
A boarder between Tradingview and the rest

**Screenshots**
![CSS](https://user-images.githubusercontent.com/40874087/55346258-5d6f5500-54b2-11e9-87d6-eb48c4711933.png)

**Desktop (please complete the following information):**
- MX-Linux
- BitShares2-light_2.0.190410-rc1_amd64.deb

[2019-04-01 17:30] froooze opened #2562 "[Exchange] No complete order book for BitEUR/BTS market"
**Describe the bug**
Showing the complete order book does not work on the BTS/BitEUR Market

**To Reproduce**
Go to the BTS/BitEUR and click on "show all bids"

**Expected behavior**
To list all open orders

**Screenshots**
![Biteuro](https://user-images.githubusercontent.com/40874087/55347047-28640200-54b4-11e9-986b-125d000f3856.png)

**Desktop (please complete the following information):**
- MX-

[2019-04-01 17:39] froooze opened #2563 "[Exchange] Cancel order option in BUY/SELL ORDERS"
**Is your feature request related to a problem? Please describe.**
Scrolling through order books and cancel a order needs a switch to MY OPEN ORDERS.

**Describe the solution you'd like**
Add the cancel order icon also to the BUY/SELL ORDERS afterwards.

**Describe alternatives you've considered**
Only make a right-click context menu to cancel the order in BUY/SELL ORDERS.

[2019-04-01 17:53] froooze opened #2564 "[0.5][Tradingview] Quick Chart resize does not honor limit values"
**Describe the bug**
The up and down arrows for Tradingview chart size don't work.

**To Reproduce**
Go to Exchange and click on the arrows

**Expected behavior**
Change size of Tradingview

**Screenshots**
![Resize-chart](https://user-images.githubusercontent.com/40874087/55348399-6c0c3b00-54b7-11e9-8271-d0250aa01bad.png)

**Desktop (please complete the following information):**
 - MX-Linux
-  Bi

[2019-04-01 17:53] ruslansalikhov commented on #2558
@sschiessl-bcp blckchnd will continue Russian

[2019-04-01 18:06] TechsUsInc commented on #2558
Chinese reviewed for 2nd time. Transifex doesn't seem to reflect 30% Spanish/Russian/Chinese translations previously translated/reviewed

[2019-04-01 21:25] froooze opened #2565 "[0.1][Footer] Ping time as integer"
**Describe the bug**
Ping time is shown as a float number, which has no benefit. I liked the old version as integer better.

**To Reproduce**
- Open RC

**Expected behavior**
- Ping in ms should be as integer displayed.

**Screenshots**
![Latency](https://user-images.githubusercontent.com/40874087/55360553-04fd7f00-54d5-11e9-9ee8-d789fec3b3cd.png)

**Desktop (please complete the following informat

[2019-04-01 21:37] froooze commented on #2558
The percentage numbers can not be trusted on transifex.

[2019-04-01 21:41] froooze opened #2566 "[Exchange] Add asset info to BUY/SELL ORDERS"
**Is your feature request related to a problem? Please describe.**
When a users has the order book on top of the layout, there is the asset info missing.

**Describe the solution you'd like**
Add asset info to SELL and BUY ORDERS

**Additional context**
![Oders-Asset-Info](https://user-images.githubusercontent.com/40874087/55361503-a685d000-54d7-11e9-9eda-6879bb57167b.png)

[2019-04-02 00:11] froooze opened #2567 "¼Open Order search bugs"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-04-02 00:11] froooze opened #2568 "¼[Open Order search bugs"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-04-02 00:17] #2567 closed

[2019-04-02 07:40] shulthz opened #2569 "missing translation: en.settings.undefined"
![图片](https://user-images.githubusercontent.com/34892308/55384587-ae885300-555d-11e9-9f71-2f08f3a18d04.png)

[2019-04-02 08:19] shulthz commented on #2569
all is ok now.

[2019-04-02 09:14] abitmore opened #2570 "[Keegan-lee][1] Add cumulative amount in collateral bids table"
**Is your feature request related to a problem? Please describe.**
https://wallet.bitshares.org/#/asset/USD
Current collateral bids table:
![image](https://user-images.githubusercontent.com/9946777/55390677-feecba00-5537-11e9-87e9-cebdb244b64c.png)

It would be more convenient if there is a "cumulative debt" column, just like the order book:

![image](https://user-images.githubusercontent.com/9946

[2019-04-02 10:24] shulthz opened #2571 "[Tradingview]Font format and size"
left is https://www.huobi.co/en-us/exchange/，right is our wallet.

![图片](https://user-images.githubusercontent.com/34892308/55395392-06ca4f80-5574-11e9-8404-24822a9602aa.png)

i think the font is better than ours.
thoughts?

[2019-04-02 11:47] OpenLedgerApp opened #2572 "Adaptation to the new openledger api"
Openledger backend team implemented new api, which include these methods:
/exchanges (returns the list of supported exchange options, i.e what asset can we exchange to what. It contains information about gateway fee for each exchange option in the list.)
/exchanges/{exchange_id}/transfer/source/prototype?destination_address=<string>&destination_memo=<string> (returns to a user a "prototype" of a t

[2019-04-02 14:48] iamredbar commented on #2532
Here is another example from today:

![](https://cdn.steemitimages.com/DQmPjU7rr2AfWjizVzqUmv8THYotYtq9NQj3WRzG1NtUJDx/Screen%20Shot%202019-04-02%20at%209.38.38%20AM.png)

![](https://cdn.steemitimages.com/DQmUMiUkHTusjJ3MGhCfhJw62GMnE7NkvhMhNkMrkdTDSuJ/Screen%20Shot%202019-04-02%20at%209.38.25%20AM.png)

Even though it has been enough days to withdraw, I can only withdraw it on CryptoBridge.

Cou

[2019-04-02 20:40] Keegan-lee commented on #2543
I'd like to claim this.

[2019-04-02 21:13] sschiessl-bcp commented on #2543
Cool, will give some more details tomorrow I had some thoughts on

[2019-04-03 07:18] sschiessl-bcp commented on #2572
The current implementation of the OpenLedger API still works?

The gateway code currently receives refactoring.

[2019-04-03 08:22] sschiessl-bcp commented on #1860
Duplicate of #2457

[2019-04-03 08:22] #1860 closed

[2019-04-03 09:01] clockworkgr commented on #2568
Technically "bit" is not part of the asset name...it's just added by the UI if issuer = committee-account.

But yes, we should probably account for that in searches

[2019-04-03 10:11] abitmore commented on #2532
It's due to bitshares-core's lazy-updating design: API only returns `last_update_time` and `coin_seconds_on_last_update`. Ideally UI should calculate and show current coin-second value based on the results. However, strictly speaking, it needs 128-bit multiplication, I don't know if it's hard for JS.

[2019-04-03 10:24] sschiessl-bcp opened #2574 "[32] Beet development (March)"
This issue includes review, on-going development for beet in march.

 - integrate bitcoin
 - Integrate binance chain
 - abstract frame to request account details
 - alternate import options for bitshares (keys, bin file, password)
 - integrate direct calls for transfer of all chains
 - major refactoring for maintenance's sake

[2019-04-03 10:27] #2574 closed

[2019-04-03 10:32] sschiessl-bcp opened #2575 "[19] Beet development (until 12th of April)"
- review https://github.com/bitshares/beet-js/pull/17 and clean up branches
- review https://github.com/bitshares/beet/pull/82

[2019-04-03 11:38] sschiessl-bcp commented on #2498
Basically you want that BindToChainState renderes an error "required props not given" instead of nothing?

[2019-04-03 12:25] froooze opened #2577 "[1][OpenLedgerApp] Honor setting on "View only mode" after restart"
**Describe the bug**
When I switch an account after a restart of the light client it doesn't remember my decision of not warning me again.

**To Reproduce**
Switch Account -> Never show again -> Restart light client -> Switch Account again -> Never show again

**Expected behavior**
Decision should be saved permanent.

**Screenshot**
![Never-Show-Again](https://user-images.githubusercontent.com/408

[2019-04-03 12:40] sschiessl-bcp commented on #2558
Sounds perfect, go ahead. Please post the word count.

[2019-04-03 12:41] sschiessl-bcp commented on #2558
I might come back to you on Japanese, Russian will be done by BLCKCHND (since they did that always in the past)

[2019-04-03 12:42] sschiessl-bcp commented on #2558
Please state the word count. Did you approve the translations in Transifex (there is an explicit review step)?

[2019-04-03 12:43] sschiessl-bcp commented on #2558
Please state your word count.

[2019-04-03 12:47] sschiessl-bcp commented on #2557
@TechsUsInc Please go ahead with
 - Windows 8.1, Opera and Firefox
 - Linux Ubuntu Version 16.04, Chrome and Firefox

@froooze Please go ahead with
 - MX-Linux 18.1, Firefox and Chromium

[2019-04-03 13:08] iamredbar commented on #2532
I don’t do JS, so I wouldn’t know either. I hope this is something that can be done, it would be nice to be able to get vesting balances in whatever wallet you are using.

[2019-04-03 17:26] startailcoon commented on #2571
What parts are you referring to, the numbers in the tables I assume as they are the main part of your screens. I see no direct difference in font between these two.

There is a size and space difference though, as we have a slight larger size and some space between lines, which I think makes it easier to overlook.

[2019-04-03 17:35] startailcoon commented on #2566
Not sure I see the reason for this. What I assume you refer to is the fact that the order form has the asset name in the title, while the orders list doesn't.

If any I'd rather state that the order form should be named "Buy Form" / "Sell Form" rather than having the asset in it. The asset you trade is already state once in the header.

Secondly the title would be to long to be able to include eve

[2019-04-03 17:36] startailcoon commented on #2569
Based on your comment I assume this was resolved and a single fluke event.

[2019-04-03 17:36] #2569 closed

[2019-04-03 17:39] startailcoon commented on #2564
This seems like a very specific local issue for you. Have you been able to confirm the problem with a second unit using the same setup and software?

[2019-04-03 17:41] startailcoon commented on #2563
Does this imply that you want a single button to cancel all your open orders on said market pair?

[2019-04-03 17:46] startailcoon commented on #2562
Clicking `Show All Bids` reveals a longer list of open orders to me when testing. The list viewed is limited by a maximum node limit as far as I know, if you expected it to view more than what is viewed.

[2019-04-03 18:54] froooze commented on #2566
I found it confusing, to not see the asset name of what to buy and to sell on top anymore.

[2019-04-03 18:57] froooze commented on #2563
It was not intended, but we can include check boxes with one master box on top for check and uncheck all orders of one asset.

#2317

[2019-04-03 18:59] froooze commented on #2564
Best thing would be a test on another Debian distro?

[2019-04-03 19:12] froooze commented on #2562
I get for the BitCNY/BTS market a lot more entries on the same node. Other markets look fine only bitEUR/BTS looks very limited.

[2019-04-03 19:46] froooze commented on #2558
@sschiessl-bcp: What happens to the unfilled brackets?
Some look important others not so much.

[2019-04-03 19:50] sschiessl-bcp commented on #2558
Can you show an example plz?

[2019-04-03 20:03] froooze commented on #2558
@sschiessl-bcp :

[code]
[code]
` "scaled": "",`
[code]
Is there a easy way to find out about words by comparing two files?

[2019-04-03 21:42] froooze commented on #1792
#499

[2019-04-04 07:34] sschiessl-bcp commented on #2558
Transifex states the remaining words to be translated here
![image](https://user-images.githubusercontent.com/33128181/55537564-cb876800-56bc-11e9-909d-076445efb4de.png)

But how can that be for german? I thought you translated everything already? I didn't check in Transifex back then, but it appears there is lots missing in there.

[2019-04-04 09:39] sschiessl-bcp commented on #2575
- https://github.com/bitshares/beet/pull/83

[2019-04-04 11:44] sschiessl-bcp commented on #2577
Never show again what?

[2019-04-04 11:45] sschiessl-bcp commented on #2562
bitEUR is quite a thin market ....

[2019-04-04 14:02] MikhailKavalenka commented on #2572
@sschiessl-bcp , yeah, the current implementation is still supported both on UI and BE.

[2019-04-04 14:36] froooze commented on #2558
I translated every phrase, which was in English to German, but there are a lot of phrases, which have no English entry and are empty, like I posted above.

The number of untranslated words doesn't make any sense. I see this as a bug in the UI.

[2019-04-04 14:46] froooze commented on #2577
Included a screenshot in first post.

[2019-04-04 14:47] sschiessl-bcp commented on #2543
The logic is currently built into `RecentTransactions` method `_generateCSV`.
I would like to separate business logic from the frontend, therefore please create a new class `AccountHistoryExporter` (or similar) that receives an account name or id and what type of history it should export (full or cointracking).

The export uses the bitshares-report from sigve, which I had to modify to match the la

[2019-04-04 14:52] froooze commented on #2562
@sschiessl-bcp:
Yes bitEUR is a thin market, but why do I get only half of the possible entries, compared to other markets?
What is your last order you see in the market?

[2019-04-04 15:07] startailcoon commented on #2566
Not all assets have an icon to display

[2019-04-04 15:09] startailcoon commented on #2564
Indeed

Does resizing of the chart work by changing it in the settings, or doesn't that work either?
Does the client give you any errors in console when you do this?
Is this problem a new one, or has it never worked?

[2019-04-04 15:11] startailcoon commented on #2563
Is issue #2317 what your looking for? Then we can close this issue.

[2019-04-04 15:17] startailcoon commented on #2562
Smallest order in the UI client is 0.034602, which is probably because there are a lot of tiny orders on that price.

When the client requests the list of orders it's limited to a maximum amount of orders in the response. With this many small orders it's not going to view the smaller ones.

![image](https://user-images.githubusercontent.com/12114550/55567166-67d15f00-56fd-11e9-9474-c5b3a2de8393.pn

[2019-04-04 15:21] gibbsfromncis commented on #2498
@sschiessl-bcp exactly

[2019-04-04 17:19] froooze commented on #2563
When #2317 gets integrated in the order book you can close this.

[2019-04-04 17:37] froooze commented on #2564
The Problem was in Personalize. The height was under 420px, which looks like the minimum height.
When the height is set to 300px it takes several clicks to see any action.

To solve this problem:
The increasing button needs to set the height to 430px, when the start value is under 420px.

[2019-04-04 17:38] froooze commented on #2564
The Problem was in Personalize. The height was under 420px, which looks like the minimum height.
When the height is set to 300px it takes several clicks to see any action.

To solve this problem:
The increasing button needs to set the height to 440px, when the start value is under 420px.

[2019-04-04 17:53] froooze commented on #2551
A 100% support, but this is a duplicate of #1792.

[2019-04-04 18:53] startailcoon commented on #2027
New section added to Help doc under TOC for `Development` including a "Hack the Dex" section

[2019-04-04 19:18] startailcoon opened #2581 "[0.25] Notify user on Asset Burn"
When a new user uses "Asset Burn" feature in the wallet there is currently no information what this action does.

Initially we should add a notification alert that any submitted action to the chain when using burn/reserve will destroy said asset amount.

![image](https://user-images.githubusercontent.com/12114550/55581911-62384100-571e-11e9-979b-a30a1baf4c6c.png)

[2019-04-05 02:23] Keegan-lee commented on #2570
I'd like to claim this.

[2019-04-05 03:01] shulthz commented on #2581
yes,we need this notification

[2019-04-05 04:27] chadbernal opened #2583 "I created new Theme Template and i think the modals are not working, help please :)"
![issue](https://user-images.githubusercontent.com/34367744/55603601-10370000-579e-11e9-9688-47031e5912ed.png)

[2019-04-05 06:50] sschiessl-bcp commented on #2498
Ok, will you have time this sprint?

[2019-04-05 06:54] sschiessl-bcp commented on #2558
Here is an example:
https://github.com/bitshares/bitshares-ui/blob/develop/app/assets/locales/locale-en.json#L209
https://github.com/bitshares/bitshares-ui/blob/develop/app/assets/locales/locale-de.json#L209

https://github.com/bitshares/bitshares-ui/blob/develop/app/assets/locales/locale-en.json#L389
https://github.com/bitshares/bitshares-ui/blob/develop/app/assets/locales/locale-de.json#L389

[2019-04-05 06:56] sschiessl-bcp commented on #2558
I think I found the missing step ...

Somehow your translation got only added as suggestion in transifex
![image](https://user-images.githubusercontent.com/33128181/55609204-6d23bd80-5780-11e9-9f14-bee8ff53b545.png)

But for others that is also missing
![image](https://user-images.githubusercontent.com/33128181/55609281-93495d80-5780-11e9-8cec-e60df14b0259.png)

I would suggest that bieglich does

[2019-04-05 07:02] sschiessl-bcp commented on #2572
Ok, this will likely take some time. Mid of next week we have a meeting to discuss our refactoring/streamlining of the gateway API.

Do you have a high level document describing the exact definition/arguments/outputs of your new API?

[2019-04-05 07:14] sschiessl-bcp opened #2584 "[shulthz][2.0.190410-rc1] Maintain Language"
@shulthz Here is your breakdown for this issue #2558

## Chinese
![image](https://user-images.githubusercontent.com/33128181/55610373-110e6880-5783-11e9-9923-8b905811bf1c.png)

874 words come out as a bounty of 1.05, please confirm.

[2019-04-05 07:18] sschiessl-bcp commented on #2584
You have been a very active translator even before the above issue and I would like to reimburse you for that
![image](https://user-images.githubusercontent.com/33128181/55610502-5d59a880-5783-11e9-914a-23f3c5b08482.png)

I see 5941 words translated, and I want to offer an additional bounty of 4 to you.

[2019-04-05 07:21] sschiessl-bcp opened #2585 "[TechUsInc][2.0.190410-rc1] Maintain Language"
@TechsUsInc Your breakdown for #2558

## Chinese

I can't see any translations submitted by your account, can you please check?
![image](https://user-images.githubusercontent.com/33128181/55610892-3354b600-5784-11e9-95ed-16c7dc978238.png)

[2019-04-05 07:24] sschiessl-bcp opened #2586 "[blockchained-fond][2.0.190410-rc1] Maintain Language"
@ruslansalikhov #2558

## Russian
![image](https://user-images.githubusercontent.com/33128181/55611018-8a5a8b00-5784-11e9-923a-227fdd7591ae.png)

540 words give a bounty of 0.65. Please confirm

[2019-04-05 07:26] sschiessl-bcp commented on #2586
Since you have always been an active contributor I want to offer an additional bounty of 0.75 for past translations that are out of scope of the above issue

![image](https://user-images.githubusercontent.com/33128181/55611118-e6251400-5784-11e9-8787-bc4e203f2543.png)

[2019-04-05 07:27] sschiessl-bcp commented on #2585
Please mention which languages you have been contributing to in Transifex

[2019-04-05 07:30] shulthz commented on #2584
total: 4265+540=4805 words; i only translated these in March and April.

BTS: binggo

[2019-04-05 07:37] sschiessl-bcp opened #2587 "[frooze][2.0.190410-rc1] Maintain Language"
@froooze #2558 This is for your breakdown

## German
So far 43 words for above issue, does that seem correct? No contribution since last issue #2426 (19th of february)
![image](https://user-images.githubusercontent.com/33128181/55611610-4d8f9380-5786-11e9-84f5-690f1fe5ce74.png)

[2019-04-05 07:40] sschiessl-bcp commented on #2584
Where do you see those numbers?

I found 874 words from 30.03. until now, and 5941 words from 01.01.2019 until 30.03.

[2019-04-05 07:41] sschiessl-bcp commented on #2583
@gibbsfromncis

[2019-04-05 07:44] clockworkgr commented on #2584
Ack...fine by me with above mentioned bounty

[2019-04-05 07:56] shulthz commented on #2584
![图片](https://user-images.githubusercontent.com/34892308/55612693-61092180-57bb-11e9-86a1-200193168fde.png)
![图片](https://user-images.githubusercontent.com/34892308/55612712-6cf4e380-57bb-11e9-81c9-ba8e764346a3.png)

[2019-04-05 08:58] bitcrab opened #2588 "failed to broadcast transaction while adjust bitUSD position using a MULTI SIG account"
**Describe the bug**
failed to broadcast transaction while adjust bitUSD position using a MULTI SIG account

![bug](https://user-images.githubusercontent.com/5886543/55616267-ff998080-57c3-11e9-82ea-723e1208d247.jpg)

[2019-04-05 09:02] clockworkgr commented on #2588
@bitcrab  Can you get us a console log Jerry?

[2019-04-05 09:13] bitcrab commented on #2588
console log:

log: Checked 1 connections, 1 failed
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: fetchCoins error from https://ol-api1.openledger.info/api/v0/ol/support/coins: TypeError: Failed to fetch
log: synced and sub

[2019-04-05 09:19] ruslansalikhov commented on #2586
@sschiessl-bcp Hi

Not yet, we are waiting review from one of our teammate. He should make it this weekend.

[2019-04-05 10:03] chadbernal commented on #2583
I created it from scss templates located in bitshares-ui, I hope its okay, :(

[2019-04-05 10:45] sschiessl-bcp opened #2589 "[10][dot5enko] Add support for HTLC operations"
Add
 - [htlc_create_operation](https://github.com/bitshares/bitshares-core/blob/8c1a78b7f3f0083abee695c1b8a9b944f2c4a1be/libraries/chain/include/graphene/chain/protocol/htlc.hpp#L48)
 - [htlc_redeem_operation](https://github.com/bitshares/bitshares-core/blob/8c1a78b7f3f0083abee695c1b8a9b944f2c4a1be/libraries/chain/include/graphene/chain/protocol/htlc.hpp#L87)
 - [htlc_extend_operation](https://git

[2019-04-05 11:03] froooze commented on #2544
Duplication of #1792

[2019-04-05 11:09] froooze commented on #1792
As @CryptoKong mentioned in #2551 we should completely remove the MY MARKETS checkbox and only have the option:
- Show complete list of assets
- Show only favorite list of assets

[2019-04-05 12:03] clockworkgr commented on #2588
working as intended: see: https://github.com/bitshares/bitshares-core/pull/1566

[2019-04-05 12:03] #2588 closed

[2019-04-05 14:41] froooze commented on #2558
When I select German on transifex I get this dialog.
![transifex](https://user-images.githubusercontent.com/40874087/55635403-dd523380-57c0-11e9-8816-a96b9aaa7a80.png)
I went with *Download file to translate* and got this:
[for_translation_bitshares-ui-1_locale-enjson_de(2).json.zip](https://github.com/bitshares/bitshares-ui/files/3048405/for_translation_bitshares-ui-1_locale-enjson_de.2.json.zip)

[2019-04-05 15:58] MichelSantos opened #2591 "White Screen of Death due to User System Clock not being Synchronized"
**Describe the bug**
A user has reported getting the white screen of death (WSOD) because his clock time was not synchronized with standard time (approximately 5 minutes of difference).  This occurred when starting the reference wallet.  No indication about the problem was indicated except through the debug log.

**To Reproduce**
Steps to reproduce the behavior:
1. Perturb system clock from standa

[2019-04-05 16:41] Agorise commented on #2591
kenCode (on telegram) reported the issues.
Great initiative @MichelSantos thank you! :)

[2019-04-05 21:02] fractalnode opened #2592 "[14][TBAPI-0KA] Open Orders Tab: Group By "Trading Pair""
I would like to propose some improvements in Open Orders Tab
I currently have many open orders on many diferent markets and I'm always looking to find answers for few questions:

- What is the sum of every base asset I want to sell or buy on each pair.
- What is the sum of every quote asset I want to sell or buy on each pair.
- What is the average order price on each pair.
- What is the current or

[2019-04-06 07:20] shulthz opened #2593 "[1] request settlement tab <settlement price> is wrong"
![图片](https://user-images.githubusercontent.com/34892308/55666308-9f681480-587f-11e9-95b2-3517c3ea3381.png)

the settlement price should be feed price*1.02, now it is feed price.

[2019-04-06 10:07] abitmore opened #2594 "[1][dot5enko] Add support for market fee sharing"
**Is your feature request related to a problem? Please describe.**

`extensions` field of `asset_options` has a new type in bitshares-core 3.0.0: https://github.com/bitshares/bitshares-core/blob/3.0.0/libraries/chain/include/graphene/chain/protocol/asset_ops.hpp#L85, we need to
- update serialization https://github.com/bitshares/bitsharesjs/issues/45
- update UI to add support for the new extensio

[2019-04-06 10:09] abitmore opened #2595 "[0.5] Vesting balance type"
**Is your feature request related to a problem? Please describe.**

`vesting_balance_object` has a new field `balance_type` in bitshares-core 3.0.0, to indicate the source of the balance. See https://github.com/bitshares/bitshares-core/blob/3.0.0/libraries/chain/include/graphene/chain/vesting_balance_object.hpp#L148-L170

We need to
- [ ] update the "vesting balances" page in bitshares-ui

**Descr

[2019-04-06 10:11] abitmore commented on #2589
Also need to support the new virtual operations, in order to show them in account activities.

[2019-04-06 11:19] froooze commented on #2587
Yes this looks right.

[2019-04-06 11:24] froooze commented on #2592
Good idea, can be merged with #1666 ?

[2019-04-06 12:41] froooze opened #2596 "[0.5][2.0.190410-rc1] Integration Tests with Firefox by <frooze>"
My OS:
  - MX-Linux 18.1

My Browser:
 - Firefox 66

General
 - [x] Wallet loads and connects
 - [x] Login via cloud login and local wallet
 - [x] Transfer between accounts (with and without memo)
 - [x] Exchange opens, orders are visible and limit orders can be put
 - [x] Margin creation and adjustment is possible
 - [x] Voting is possible (committee, witness, proposals)

Specific components:
 -

[2019-04-06 12:50] froooze opened #2597 "[0.5][RC] - [Withdraw] Replace default empty result"
**Describe the bug**
When I enter for example BTC in the first box of Withdraw I get no results.

**Expected behavior**
The search results of available coins should get listed after the first letter.

**Screenshots**
![BTC-withdraw](https://user-images.githubusercontent.com/40874087/55669682-9294f200-587a-11e9-9539-1d22a495bdaa.png)

**Desktop (please complete the following information):**
 - Fire

[2019-04-06 12:52] froooze opened #2598 "[0.5][2.0.190410-rc1] Integration Tests with Chromium by <frooze>"
My OS:
  - MX Linux 18.1

My Browser:
 - Chromium 72

General
 - [x] Wallet loads and connects
 - [x] Login via cloud login and local wallet
 - [x] Transfer between accounts (with and without memo)
 - [x] Exchange opens, orders are visible and limit orders can be put
 - [x] Margin creation and adjustment is possible
 - [x] Voting is possible (committee, witness, proposals)

Specific components:
 -

[2019-04-06 15:32] froooze opened #2599 "[0.5][MikhailKavalenka][RC] - [Scaled Order] - Problems with long asset names"
**Describe the bug**
The name boxes for price lower and upper only show a fraction when asset name is longer.

**To Reproduce**
Go to scaled orders on Sparkdex.BTC / BTS

**Expected behavior**
Show full name in the box.

**Screenshots**
![scaled-orders-name](https://user-images.githubusercontent.com/40874087/55671590-df37f780-5891-11e9-8cc7-df82744821bc.png)

**Version:**
 - 2.0.190410-rc1

[2019-04-07 00:32] shulthz opened #2600 "[0.1] The tooltip of Market fee have two %"
![图片](https://user-images.githubusercontent.com/34892308/55676768-e56bb980-590d-11e9-8b3a-bfe6d4b3a387.png)
The tooltip of Market fee have two %, should be one %.

https://github.com/bitshares/bitshares-ui/blob/c5edb498b6e2db7abdfb1f7974a02222378cd58e/app/assets/locales/locale-en.json#L1942

[2019-04-07 10:05] startailcoon commented on #2597
This seems like an issue due to the list having nothing to view. I've not seen this before. Would need some investigating.

[2019-04-07 10:17] startailcoon commented on #2594
Blocked By bitshares/bitsharesjs#45

[2019-04-07 10:35] startailcoon commented on #2593
Indeed, this view is missing the settlement offset for the asset.

[2019-04-07 10:40] startailcoon commented on #2593
Should fix following
- [ ] Settlement price should include correct settlement offset percentage
- [ ] Remaining settleable volume
- [ ] Notify user an estimated delay based on variables `Max. settlement volume each maintenance period`, `Already settled supply` and `Remaining settleable volume`.

[2019-04-07 10:51] startailcoon commented on #2592
Very interesting idea, indeed. Would most likely be doable, and a good reason to look on a possible way of #1666.

[2019-04-07 10:56] startailcoon commented on #2591
@sschiessl-bcp you've been working on this the most. Care to take a look at this?

[2019-04-07 12:42] startailcoon commented on #2593
Settlement price fixed to include % offset.
Also views current asset price % offset.

## Normal Asset
![image](https://user-images.githubusercontent.com/12114550/55683612-f6ceb900-5941-11e9-8138-fbff367709d8.png)

## GS Asset
![image](https://user-images.githubusercontent.com/12114550/55683632-1665e180-5942-11e9-8aae-4f683c5322b0.png)

Notifying on remaining settleable volume will require more wor

[2019-04-07 12:46] startailcoon opened #2602 "[1.5][MikhailKavalenka] Include "Remaining Settlement Volume" in Settlement Modal"
When a user wants to settle a specific volume, the network has a limit per maintenance period that is allowed for the asset to be settled. This should be included in the information for the user _if_ the limit is reached.

- [ ] Remaining settleable volume
- [ ] Notify user an estimated delay based on variables `Max. settlement volume each maintenance period`, `Already settled supply` and `Remaini

[2019-04-07 12:50] shulthz opened #2603 "[0.25][Translation]"SETTLEMENT PRICE" in the price feed data should be "Feed price""
![图片](https://user-images.githubusercontent.com/34892308/55683795-4d55ea80-5976-11e9-9d28-fb549da51bc4.png)

"SETTLEMENT PRICE" in the price feed data should be "Feed price".
https://github.com/bitshares/bitshares-ui/blob/c5edb498b6e2db7abdfb1f7974a02222378cd58e/app/assets/locales/locale-en.json#L772

[2019-04-07 14:16] shulthz opened #2605 "[alexandr-masl][0.25][Translation]"Force Settlement price" in the Publish feed should be "Feed price"?"
![图片](https://user-images.githubusercontent.com/34892308/55684789-e2aaac00-5981-11e9-8156-297cad9276f3.png)

"Force Settlement price" in the Publish feed should be ""Feed price"?
https://github.com/bitshares/bitshares-ui/blob/c5edb498b6e2db7abdfb1f7974a02222378cd58e/app/assets/locales/locale-en.json#L763

[2019-04-07 15:26] froooze commented on #2599
Column size and position should be the same for LIMIT and SCALED ORDERS.

[2019-04-07 15:30] froooze commented on #2603
*Settlement price* includes the discount from *force settlement offset* and is not the same as *feed price*.

[2019-04-07 15:47] shulthz commented on #2603
I know, but there should be feed price.

[2019-04-07 17:45] froooze commented on #2603
Ok I see your argument now. Feed price suites better than settlement price.

[2019-04-07 18:27] startailcoon commented on #2317
The following feature will enable the same feature on exchange as available in "Open Orders" today.

Each row has a checkbox that can be selected. It's also possible to use the "global" checkbox to toggle/un-toggle all checkboxes.
Once at least one checkbox is checked, the cancel button is visible. This is today limited to one OP per order that you wish to cancel.

## Order Rows
![image](https://u

[2019-04-07 18:48] startailcoon commented on #801
I'd like some feedback on this. I think we should re-introduced these security images since they are part of other sections of the application, like account manager drop-down.

They look good and don't take up any unnecessary space for the user and at the same time they provide some security enhancements for those that do use them.

[2019-04-07 18:54] startailcoon commented on #2570
@Keegan-lee I've assigned you to this issue.

[2019-04-07 18:56] startailcoon commented on #2564
So the chart was below the minimum by setting, and when you tried to expand it, it took seveal clicks to go over the minimum height?

This should really not be possible and should be looked at. Thanks for the find.

[2019-04-07 19:00] startailcoon commented on #2563
You mean you wish to have a cancel option directly in the orderbook where you have orders placed?

[2019-04-07 23:50] froooze commented on #2564
Right!

[2019-04-08 00:03] froooze commented on #2563
Yes, how about a right click context menu to cancel the order, which doesn't take extra space?
Scrolling through order books, need a simple and direct way to cancel a specific order, without removing the focus.

To cancel multiple orders is more important for MY OPEN ORDERS, than in the BUY/SELL ORDERS.

[2019-04-08 11:16] sschiessl-bcp commented on #2244
Task for this issue:

- [ ] Restore the old wallet merchant protocol

For a future issue we will then refactor it.

[2019-04-08 11:22] sschiessl-bcp commented on #2597
It shows only coins you have available in the account. Did you do this on an empty account?

[2019-04-08 11:50] #2027 closed

[2019-04-08 12:07] #2581 closed

[2019-04-08 12:08] #2600 closed

[2019-04-08 12:16] sschiessl-bcp commented on #2593
Please refrain from finalizing the issue until merged

[2019-04-08 12:17] #2593 closed

[2019-04-08 12:22] sschiessl-bcp commented on #2603
Is the translation wrong, or should the complete column be exchanged to feed price?

[2019-04-08 12:24] sschiessl-bcp commented on #2605
Task is to:
 - [ ] Double check in the code that the value is properly pushed as the feed price (no meddling with offset whatsoever
 - [ ] Fix the translation by switching to the correct key

[2019-04-08 12:38] shulthz commented on #2603
Translation wrong.

[2019-04-08 13:38] sschiessl-bcp commented on #2603
Task
- [ ] Check that the displayed price is in fact the feed price for the column currently displayed as Settlement price
- [ ] Switch the column header to the correct key (feed price)

[2019-04-08 14:31] MikhailKavalenka commented on #2599
@startailcoon , I can take this issue.

[2019-04-08 14:32] MikhailKavalenka commented on #2560
@startailcoon , I can take this one.

[2019-04-08 15:47] manikey123 commented on #2504
Wanted to confirm what information needs to be printed for each asset.
For illustration purpose, considering two assets (bitBTC and bitGOLD)

1.	bitBTC From https://wallet.bitshares.org/#/asset/btc
Do you need to display only below part (image below)

![image](https://user-images.githubusercontent.com/22608398/55737785-7abc9a00-5a43-11e9-883a-8bf49c4994eb.png)

2.	bitGOLD From  https://wallet.bits

[2019-04-08 15:48] sschiessl-bcp commented on #2504
On the dashboard of the user, only show bids that were done by that same user. Also, please use the style-guide table to display and not the old component, the shown columns should be the same.

[2019-04-08 16:05] manikey123 commented on #2504
1. can you share the link for the new style guide ?
2. currently collateral bid order shows up at "Dashboard>>Activity" (image below). should the same styling be applied over to the new Tab or there are some improvements in style guide ?
![image](https://user-images.githubusercontent.com/22608398/55739152-1fd87200-5a46-11e9-8882-0fcb249d0607.png)

[2019-04-08 16:11] sschiessl-bcp commented on #2504
The table should look like https://wallet.bitshares.org/#/asset/GOLD.

Please find another implementation in the UI that uses Table from bitshares-styleguide, should be straightforward. I'm not in office atm

[2019-04-08 17:06] manikey123 commented on #2504
So a given user should only see his order and not all orders as outlined in below format :
![image](https://user-images.githubusercontent.com/22608398/55742903-8a8dab80-5a4e-11e9-9f70-25af96dff723.png)

ok. thanks.

[2019-04-08 17:23] froooze commented on #2597
I bought extra some Sparkdex.BTC to find out, if it depends on this, but didn't change anything.

[2019-04-08 17:53] froooze opened #2608 "Include "Vesting Balance" in "Membership stats""
**Is your feature request related to a problem? Please describe.**
The drop down menu is getting fuller and Vesting balance is a very small entry, which is always part of the membership.

**Describe the solution you'd like**
Remove the Vesting balance menu entry and include the Vesting balance function to "Membership stats" page.

[2019-04-08 18:13] froooze opened #2609 "[0.1][froooze] Remove the "Help" entry from burger menu"
**Is your feature request related to a problem? Please describe.**
We have a lot of entries in the burger menu and we already have a good place on the right corner for the help button, which is also better visible.

**Describe the solution you'd like**
Remove the "Help" entry from the burger menu.

[2019-04-08 19:11] startailcoon commented on #2609
Haven't even thought about that. They do the same thing, +1 for this

[2019-04-08 19:14] startailcoon commented on #2599
@MikhailKavalenka 👍

[2019-04-08 19:16] startailcoon commented on #2597
That would be the issue. I've tested it with an empty account and it display the same. We should replace the default behaviour to something that better suits our case.

[2019-04-08 20:11] abitmore commented on #2608
Vesting balance is not a part of membership stats page, although related. See #2595

[2019-04-08 21:36] froooze commented on #2608
But to have the vesting option I need at first a LTM?
It is not part of the membership but related to the membership?

[2019-04-09 11:52] clockworkgr commented on #2537
@xiaolujidan ping

[2019-04-09 11:53] clockworkgr commented on #2327
@twksos ping

[2019-04-10 01:32] dot5enko commented on #2589
i can't upload to `bitsharesjs` cause i don't have permissions. Also i have trouble to sign tx and actually test if it works: `missing required active authority: Missing Active Authority`, i've tried different keys but none works  :) , so need someone's help here @sschiessl-bcp

[2019-04-10 05:13] sschiessl-bcp commented on #2589
Please fork it and do a PR, we ll discuss in it then

[2019-04-10 06:09] dot5enko commented on #2589
it was  a very late night and i wanted to push the pr directly to branch into `bitsharesjs` ))
done - https://github.com/bitshares/bitsharesjs/pull/47

[2019-04-10 07:15] alexandr-masl commented on #2605
Hi, can i take this issue ?
thanks in advance .

[2019-04-10 07:17] sschiessl-bcp commented on #2605
It's yours. Since this is a release candidate blocker, please work on this asap

[2019-04-10 07:17] sschiessl-bcp commented on #2605
Also intereted in #2603?

[2019-04-10 07:18] alexandr-masl commented on #2605
yes, thank you.

[2019-04-10 07:35] alexandr-masl commented on #2603
would like to take this one too.
thank you.

[2019-04-10 11:14] alexandr-masl commented on #2603
excuse me, i made all changes in code, but how can I reproduce the bug, to check the fix ?
can't understand from the screenshot.
thank u.

[2019-04-10 11:15] sschiessl-bcp commented on #2603
Go to any SmartCoin (bitUSD, bitCNY) and check if the feed price is properly labeled and displayed as such

[2019-04-10 11:18] alexandr-masl commented on #2603
ok, thanks

[2019-04-10 11:37] sschiessl-bcp commented on #2526
fixed during review

[2019-04-10 11:38] #2526 closed

[2019-04-10 11:57] sschiessl-bcp commented on #2599
Done with #2611

Please use the PR template in the future

[2019-04-10 11:57] #2599 closed

[2019-04-10 12:10] sschiessl-bcp opened #2612 "Point of subscriptions"
This is to collect all points with automatic subscriptions, to get an overview

| backend call  | subscribes | opt out |
|---|---|
| get_key_references  | ?  | ? |
| get_objects  | ?  | ? |

| function  | subscribes  | opt out |
|---|---|
| ChainStore.getAccount  | yes  | yes |
| FetchChainObject  | yes  | no |

[2019-04-10 15:28] bangzi1001 commented on #2529
![2019-04-10_23h26_03a](https://user-images.githubusercontent.com/36911788/55892112-4a623080-5be8-11e9-97a8-9322f4ef5c92.jpg)

[2019-04-10 16:48] alexandr-masl commented on #2603
this fix must be for all languages, or only for english, because in other languages  the same situations ?

[2019-04-10 18:37] alexandr-masl commented on #2545
hi everyone, can I take this one.
thanks in advance.

[2019-04-11 01:04] gibbsfromncis commented on #2583
@chadbernal please provide me more details

[2019-04-11 06:14] chadbernal commented on #2583
I configure bitshares-style-guide and it works already :)

[2019-04-11 08:07] sschiessl-bcp commented on #2583
What was the issue you have faced and how did you solve it?

Any insight will help others in the future!

[2019-04-11 10:18] chadbernal commented on #2583
When creating another template for your theme, modals and other style are not in place.
What i did is edit the node_modules/bisthares-style-guide/dist/style/style.css.
add your theme.
And it works! :)

[2019-04-11 10:27] MikhailKavalenka commented on #2572
[OL-gateways-api.pdf](https://github.com/bitshares/bitshares-ui/files/3068123/OL-gateways-api.pdf)
@sschiessl-bcp  here is the doc.

[2019-04-11 12:53] shulthz opened #2613 "[Inaccurate description] Inaccurate description of direct debit"
This is a Inaccurate description of direct debit, as you didn't give anyone the authorization or active Permissions to use your founds, you just make an autopay.

[2019-04-11 14:24] MikhailKavalenka commented on #504
@startailcoon , I can take this one.

[2019-04-11 14:26] MikhailKavalenka commented on #2599
Will do, thnx)

[2019-04-11 14:57] TBAPI-0KA commented on #2592
Please assign to me.

[2019-04-11 17:54] #2583 closed

[2019-04-11 18:29] gibbsfromncis commented on #2583
@chadbernal by best practices you can create a fork of `bitshares-ui-style-guide`, update link in package.json and then modify bitshares-ui-style-guide.

I'll create more detailed instruction soon.

[2019-04-11 18:30] gibbsfromncis commented on #2498
@sschiessl-bcp I suppose not :) I'll work on next one

[2019-04-11 21:35] dot5enko commented on #2589
@sschiessl-bcp  how you want it to be done? i've created two examples for create and redeem ops in examples folder

[2019-04-11 22:21] gibbsfromncis commented on #1964
@startailcoon please pay attention to message above :)

[2019-04-12 05:29] sschiessl-bcp commented on #2589
Please state your effort. I like the HTLCActions idea, go for it!

How about adding the "How to adjust serialization" into Wiki? To point out the required steps, doesnt have to be much text.

[2019-04-12 05:38] chadbernal commented on #2583
Thank you, thats what i did :)

[2019-04-12 09:18] startailcoon commented on #504
It's yours Mikhail Kavalenka

[2019-04-12 09:19] startailcoon commented on #2560
it's yours Mikhail kavalenka.

[2019-04-14 16:35] startailcoon commented on #2545
@alexandr-masl it's yours.

The changes mentioned will be live in version 3.1.0, Testnet relase 16 April, and main network release 30 April.

Make sure to check if it's required to keep backwards compatibility.

[2019-04-14 16:38] sschiessl-bcp commented on #2545
There is also a PR for this one in our repo, will be forwarded after RC is done

[2019-04-14 16:41] startailcoon commented on #2543
@Keegan-lee got a status update for us?

[2019-04-14 16:44] sschiessl-bcp commented on #2543
There is a PR for this https://github.com/bitshares/bitshares-ui/pull/2590

[2019-04-14 16:54] startailcoon commented on #2400
@twksos please report your progress on this task.

[2019-04-14 16:56] startailcoon commented on #2358
@clockworkgr still present in 190410-RC1 what I can see.

[2019-04-14 16:58] startailcoon commented on #2356
@calvinfroedge please notify if you still intend to submit a PR for this task. Otherwise, free for claims.

[2019-04-14 16:59] startailcoon commented on #2349
@clockworkgr, any input on this task that can enlighten us on the issue experienced?

[2019-04-14 17:01] startailcoon commented on #2337
From PR

Will continue to work on this when time lets me.

[2019-04-14 17:02] startailcoon commented on #2357
@twksos any updates on the progress for this task?

[2019-04-14 17:08] startailcoon commented on #2311
@sschiessl-bcp do you have an update on the progress of this task?

[2019-04-14 17:10] startailcoon commented on #2293
@gibbsfromncis do you have a progress update?

[2019-04-14 17:15] startailcoon commented on #2288
@sschiessl-bcp you should probably open an issue on bitshares/bitshares-core for this I believe.

This was implemented on https://github.com/bitshares/bitshares-core/commit/9d54a5ce0bc3f8da33758d8d4b3b641e501f321a through PR https://github.com/bitshares/bitshares-core/pull/1036.

As it seems it doesn't seem to add any value to the `fail_reason` string.

[2019-04-14 17:18] startailcoon commented on #2230
@sschiessl-bcp @calvinfroedge what is the progress on this?

[2019-04-14 17:19] startailcoon commented on #2180
Will dig into this this sprint to sort out this and some other gateway specific issues.

[2019-04-14 17:22] startailcoon commented on #2158
Removed from milestone as it's unclear on the requirements of working on this issue at the moment.

[2019-04-14 17:25] startailcoon commented on #2065
@sschiessl-bcp do you have any progress updates on this task?

[2019-04-14 17:26] startailcoon commented on #1985
@clockworkgr did you have any good results on this on the recent blocks page?

[2019-04-14 17:30] startailcoon commented on #1964
Updated issue hours @react-cat.

[2019-04-14 17:51] startailcoon commented on #1578
@sschiessl-bcp I can't see that we an open PR for this issue anymore, was the PR rejected?

[2019-04-14 17:54] startailcoon commented on #268
Needs UX, open for claiming.

[2019-04-14 17:55] startailcoon commented on #354
Needs UX, open for claiming.

[2019-04-14 17:58] startailcoon commented on #801
Will submit a PR this milestone to implement these again

[2019-04-14 17:59] startailcoon commented on #2004
Needs UX, open for claim

[2019-04-14 18:02] startailcoon commented on #1963
@react-cat do you have a progress report on this task?

[2019-04-14 18:03] startailcoon commented on #1908
As @kapeer42 is MIA, this issue is open for claims

[2019-04-14 18:09] startailcoon commented on #1625
Needs UX, open for claims

[2019-04-14 18:23] startailcoon commented on #2592
@TBAPI-0KA I've assigned you.

[2019-04-14 19:34] react-cat commented on #1963
@startailcoon A part of task is already done, currently I met next issues.
 AssetSelector component is used in Exporer/Markets -> find markets page. That component needs to be replaced with an ant components. AssetSelector was already replaced by AssetSelectorStyleGuide in #1927, but after my review, firstly it was replaced with AssetSelectorStyleGuide in #2099 PR, but then as states in [this](htt

[2019-04-15 05:59] twksos commented on #2400
@startailcoon busy working on a game in last few weeks.
just finished up the left part (issuer may not be load at once) and created a PR.

[2019-04-15 13:57] sschiessl-bcp commented on #2560
Status? RC blocker means exactly that, it's blocking the release of release candidate

[2019-04-15 18:01] DimaBLCKCHND commented on #2586
@sschiessl-bcp Hi, sorry for the delay,
Everything is ok, confirmed.
The payment can be sent to `blockchained-fond`

[2019-04-16 01:53] dot5enko commented on #2589
here's "wiki" on how to add new ops to bitsharesjs cause i haven't seen where to add it

# How to adjust serialization
### Generating new operations serialization objects
1. [Compile](https://github.com/bitshares/bitshares-core/wiki#building) [`js_operation_serializer`](https://github.com/bitshares/bitshares-core/tree/master/programs/js_operation_serializer) program of `bitshares-core` with
--  `m

[2019-04-16 02:38] dot5enko commented on #2589
@sschiessl-bcp  need new bitsharesjs with htlc ops to test bitshares-ui.  PR submited

[2019-04-16 09:25] sschiessl-bcp commented on #2613
It's correct IMO since I am allowing another account to take a specified asset and specified amount out of my account every X time interval.

Would you have a suggestion how to formulate it differently?

[2019-04-16 09:32] sschiessl-bcp commented on #2575
Review https://github.com/bitshares/beet/pull/104

[2019-04-16 09:32] sschiessl-bcp commented on #2575
Review https://github.com/bitshares/beet/pull/103

[2019-04-16 09:33] sschiessl-bcp commented on #2575
Implement https://github.com/bitshares/beet/pull/91

Implement https://github.com/bitshares/beet/pull/80

[2019-04-16 09:33] sschiessl-bcp commented on #2575
Polishing for beta release and binance code competition application https://community.binance.org/t/beet-is-coming-to-binancechain/1045

[2019-04-16 09:35] sschiessl-bcp commented on #2575
Update Readme for beet and beetjs

[2019-04-16 09:35] sschiessl-bcp commented on #2575
https://github.com/bitshares/beet/issues/94
https://github.com/bitshares/beet/issues/95
https://github.com/bitshares/beet/issues/92

[2019-04-16 09:36] #2575 closed

[2019-04-16 09:42] sschiessl-bcp commented on #2605
Status?

[2019-04-16 09:52] clockworkgr opened #2617 "[25] Beet development (until 12th of April)"
* Major update  fixing relinking logic, enhancing key security improving event-bus, layout changes and more :https://github.com/bitshares/beet/pull/82

* Introduce settings panel, add backup/restore beet functionality https://github.com/bitshares/beet/pull/99

* Wallet Store improvements https://github.com/bitshares/beet/pull/104

* Add auto-locking timeout https://github.com/bitshares/beet/pull/1

[2019-04-16 09:53] #2617 closed

[2019-04-16 10:29] alexandr-masl commented on #2605
It's done. also as 2603. I replaced in all languages, if you don't mind can push it.

[2019-04-16 10:30] sschiessl-bcp commented on #2605
PR against develop please

[2019-04-16 10:47] #2564 closed

[2019-04-16 11:12] sschiessl-bcp commented on #2473
Confirmed, TradingView shows incorrect axis ticks.

[2019-04-16 11:14] sschiessl-bcp commented on #2473
Since this is not crucial and likely was there before, I ll remove it as blocker

[2019-04-16 11:19] sschiessl-bcp commented on #2603
Please send PR asap, preferably yesterday

[2019-04-16 11:19] sschiessl-bcp commented on #2605
Please send PR asap, preferably yesterday :)

[2019-04-16 11:21] sschiessl-bcp commented on #2557
Thanks for participating, this is closed now.

[2019-04-16 11:21] #2557 closed

[2019-04-16 11:23] sschiessl-bcp commented on #2596
Were any issues reporting during that?

[2019-04-16 11:23] sschiessl-bcp commented on #2598
Were any issues reporting during that?

[2019-04-16 11:25] alexandr-masl commented on #2605
Got it
will push today

[2019-04-16 11:38] shulthz commented on #2613
You send a specified asset and specified amount to another account every X time interval.

[2019-04-16 11:41] sschiessl-bcp commented on #2613
It does not happen automatically, in each interval you need to claim the transfer and specify the amount (up to the limit)

[2019-04-16 11:49] sschiessl-bcp commented on #2004
Let's wait what gibbs comes up with before redesigning this in here

[2019-04-16 11:52] sschiessl-bcp commented on #1578
Not that I know, can you see if you can find the old PR? Or possibly the branch in kapeers repo for it?

[2019-04-16 11:55] sschiessl-bcp commented on #2065
Unfortunately not ... yet

[2019-04-16 11:57] sschiessl-bcp commented on #2288
Can this be due to lack of proper JSON object in bitsharesjs?

@dot5enko you are a pro now, care to check please?

[2019-04-16 11:58] sschiessl-bcp commented on #2311
Yes, PR soon

[2019-04-16 12:01] sschiessl-bcp commented on #2357
Someone should have mentioned that antd comes with a datepicker. What to do?

[2019-04-16 12:03] sschiessl-bcp commented on #2357
Could go hand in hand with checking #2358

[2019-04-16 12:11] sschiessl-bcp commented on #2597
Please give a description of the cases and how they should be handled when opening the modal

[2019-04-16 12:13] shulthz commented on #2613
This maybe as a description.

[2019-04-16 12:14] sschiessl-bcp commented on #2587
Bounty is then 6.45 bitUSD

[2019-04-16 12:17] sschiessl-bcp commented on #2584
Considering the somewhat blurry timeline in transifex bounty is estimated to 5.5.

[2019-04-16 12:17] #2584 closed

[2019-04-16 12:20] sschiessl-bcp commented on #2558
English text is always missing because english duplicates are removed before upload. English shuold only be present in english language file.

[2019-04-16 13:12] dot5enko commented on #2288
@sschiessl-bcp sure, i'll check it today. if its already in release of bitshares-core we can add it to bitsharesjs as well

[2019-04-16 13:54] MikhailKavalenka commented on #2560
@sschiessl-bcp , @TechsUsInc , tried to avoid the error on the picture by disabling invalid dates in the DatePicker input.
Didn't face any other issues while was trying to reproduce.
The form asks user to unlock account before the Debit is created.

I found the form validation not obvious for the user, it may need some validation messages to be more informative.
If changing validation is in the sc

[2019-04-16 15:48] #2565 closed

[2019-04-16 18:19] startailcoon commented on #2597
Currently the user receives a message that the list has no data when user has no withdrawable assets (ie, no assets that the gateways can handle).

The user should receive a clearer message that this is the case.

![bild](https://user-images.githubusercontent.com/12114550/56229371-12d90580-607a-11e9-9fea-c6ff4242d7ce.png)

[2019-04-16 21:38] froooze commented on #2598
No extra issues.

[2019-04-16 21:38] froooze commented on #2596
No extra issues.

[2019-04-16 22:59] gibbsfromncis commented on #2592
@TBAPI-0KA,
cc @startailcoon

I would like to ask you @TBAPI-0KA to follow my personal requirements when you work on a tasks which relates somehow to UI part:

1) We use only ant framework - http://ant.design but using our personal wrapper (style-guide):
Live: https://styleguide.bitshares.org/#/dark
Github: https://github.com/bitshares/bitshares-ui-style-guide - there you can find all integrated c

[2019-04-16 23:02] gibbsfromncis commented on #2592
@TBAPI-0KA Just for example in your case you should use 3 ant components:
- Collapse (to show/hide tables of pairs)
- Table (you should replace existed table by Table component from `bitshares-ui-style-guide`)
- Checkbox (to use Check All feature - https://ant.design/components/checkbox/#components-checkbox-demo-check-all)

[2019-04-17 06:47] #2603 closed

[2019-04-17 06:47] #2605 closed

[2019-04-17 06:49] sschiessl-bcp commented on #2603
Issue escalated https://github.com/bitshares/bitshares-ui/commit/a4d4960c2502a0018efe09998a3b24053c6c92d3

[2019-04-17 06:49] sschiessl-bcp commented on #2605
Issue escalated https://github.com/bitshares/bitshares-ui/commit/a4d4960c2502a0018efe09998a3b24053c6c92d3

[2019-04-17 07:20] #2561 closed

[2019-04-17 07:23] sschiessl-bcp commented on #2560
The fix you done is fine for now, please open a new issue and state what you find weird in validation and we continue there.

[2019-04-17 07:29] #2560 closed

[2019-04-17 07:38] sschiessl-bcp commented on #2586
Did you do review as well, or only translation now? I can't see any reviews in transifex

[2019-04-17 07:38] sschiessl-bcp commented on #2586
Did you do review as well, or only translation now? I can't see any reviews in transifex

[2019-04-17 07:39] sschiessl-bcp commented on #2586
Bounty 0.75 + 0.65

For review we will do a seprate issue

[2019-04-17 07:39] #2586 closed

[2019-04-17 07:42] #2598 closed

[2019-04-17 07:42] #2596 closed

[2019-04-17 09:13] MikhailKavalenka commented on #2356
@startailcoon , I can take this one.

[2019-04-17 10:47] OlegBrazhnichenko commented on #1963
@startailcoon Need your approve to rewrite table render to continue work on this task

[2019-04-17 10:48] react-cat commented on #1963
@startailcoon Need your approve to continue work on this task

[2019-04-17 12:27] MikhailKavalenka commented on #2602
@startailcoon , I can take it.

[2019-04-17 12:30] shulthz commented on #2613
I know.
You make a withdraw permission, this permission allows another account to withdraw from your account, with a limit on the amount for defined time intervals.

[2019-04-17 15:45] startailcoon commented on #2602
That's great. It's all yours Mikhail

[2019-04-17 15:46] startailcoon commented on #2356
Great, it's yours Mikhail

[2019-04-17 17:32] alexandr-masl commented on #2595
Hi, if I understand correctly you want update the "vesting balances" page which is on screenshot below?
and if I'm right -  what values you want to publish from  the enum below ?
vesting_balance_type {   unspecified,
                                       cashback,
                                       worker,
                                       witness,

[2019-04-17 17:32] alexandr-masl commented on #2595
![photo_2019-04-17_20-32-01](https://user-images.githubusercontent.com/43892027/56308396-ec859980-614f-11e9-9a56-014de5f91fae.jpg)

[2019-04-17 17:51] sschiessl-bcp commented on #2595
Yes, and this issue is already assigned d

[2019-04-17 17:54] alexandr-masl commented on #2595
oh, sorry)

[2019-04-17 20:31] react-cat commented on #1964
@startailcoon thanks

[2019-04-17 23:01] dot5enko commented on #2288
@sschiessl-bcp this issue has no direct  attitude to bitsharesjs but i can fix it if someone point me a place where such error happen on wallet.

[2019-04-18 06:40] sschiessl-bcp opened #2624 "[14] Beet development (until 26th of April)"
- https://github.com/bitshares/beet/issues/108

[2019-04-18 07:30] #2558 closed

[2019-04-18 08:35] clockworkgr commented on #2613
Imo description is accurate...this is literally what a direct debit is.

![image](https://user-images.githubusercontent.com/6826762/56347941-141b4700-61ce-11e9-80c7-69c7ee32cdab.png)

[2019-04-18 09:00] shulthz commented on #2613
Got it.
A direct debit or direct withdrawal is a financial transaction in which one person (or company) withdraws funds from another person's bank account.

https://en.m.wikipedia.org/wiki/Direct_debit

[2019-04-18 12:35] #2509 closed

[2019-04-18 13:48] manikey123 commented on #704
Below is suggested approach for handling 'get_full_accounts' API. Please let me know your feedback @abitmore @clockworkgr @pmconrad

Step1: In #782 ticket get_account_history API is made configurable at node level. Plan is to use it to add limit to get_full_accounts.
Example: In config.ini file, the node operator can override default limit values and use new value
api_limit_get_account_history =50

[2019-04-18 13:48] manikey123 commented on #2456
Added a note to #2456

[2019-04-18 14:13] shulthz opened #2625 "The feed price disappear in the UI of new release"
#2605 #2603 maybe cause the bugs of feed price disappear， these two were only translation problem，don‘t need to change so much place.

[2019-04-18 14:20] manikey123 commented on #2568
@clockworkgr : claiming this . is this available ?

[2019-04-18 14:25] manikey123 commented on #2504
can anyone confirm Part A> so as to begin

[2019-04-18 14:36] shulthz commented on #2584
@sschiessl-bcp

My bts account：binggo

[2019-04-18 17:13] froooze opened #2626 "[2] Add a [Poll tab/function] to Voting page"
**Is your feature request related to a problem? Please describe.**
The Worker tab in Voting gets confusing, when it is misused for polls.

**Describe the solution you'd like**
Ad a new **Poll tab/function** next to Witnesses, Committee and Worker.

A extra UI for creating a poll is also needed:
- Poll question
- Poll options
- Options per user
- Poll duration

[2019-04-18 19:29] froooze commented on #2571
The huobi font us less horizontal space, with less space between the numbers, a serious pro argument.
The biggest difference is in the number 2 and 7.

[2019-04-18 19:56] akledirs opened #2627 "Margin Positions problems (v190410)"
1. Tab "Margin Positions" on AssetInfo screen not show these positions.
2. In header not shown collateral ratio for my low-collateralized open margin position, feed price and global setlement. These values shown only for blackswaned assets with feed price.

![image](https://user-images.githubusercontent.com/6587277/56387265-8a4e9680-622c-11e9-9083-3e6eda7a0ba9.png)

Version: Desktop 190410
OS: Win

[2019-04-18 21:28] clockworkgr commented on #2627
Duplicate of #2625

[2019-04-18 21:28] #2627 closed

[2019-04-18 21:55] dot5enko commented on #2288
so can somebody tell me how to fail execution of proposal?

[2019-04-18 21:57] sschiessl-bcp commented on #2288
Set one up with review period, and approve it. Set one up that transfers more than you have, and approve.

[2019-04-19 09:18] jieshuren commented on #2625
I can't borrow money!

[2019-04-19 09:53] shulthz commented on #2625
https://wallet.bitshares.org/

[2019-04-19 10:07] matle85 commented on #2274
Windows 10

Chrome
Firefox
Edge

Android Samsung S9

Chrome
Samsung internet
Duckduckgo

[2019-04-19 10:32] akledirs commented on #2274
Ready for testing...
OS: Windows 10 1809 (17763.379)
Browsers: Latest ver. Edge, Chrome, Firefox
OS 2: Android 6.0
Browsers: Standard Android Browser; Latest ver. Chrome, Firefox

[2019-04-20 11:23] froooze opened #2630 "Add [RUDEX.markets] to default markets"
**Is your feature request related to a problem? Please describe.**
We have a lot of new users, which can't find their favorite coin or don't realize there are also Rudex markets, because the problem #1792 still exists.

The Rudex Gateway has the best uptime and one of the lowest fees, it is a shame to not add them to the defaults markets.

**Describe the solution you'd like**
Add the following mar

[2019-04-20 19:14] startailcoon commented on #2626
Since we currently only display what data the chain holds on each of these tabs, in this case `Workers´, this would require a change in the core to incorporate some sort of poll feature.

Workers section are populated by the [Worker Object](https://dev.bitshares.works/en/master/components/lib_objects.html?highlight=worker#id31).

We are unable to create any extra UI for a feature that is non-exist

[2019-04-20 19:17] startailcoon commented on #2613
Based on these discussions I take this issue as completed without any required changes.

[2019-04-20 19:17] #2613 closed

[2019-04-20 19:24] startailcoon commented on #2608
@abitmore can you be more specific on the reason why vesting balance, as part of a specific user if LTM, could not be part of the membership page?

A user can have a vesting balance for a number of reasons, being a LTM getting refunds is just one as well. Crypto Bridge staking will make a vesting balance object as well.

What I see is that we today have two pages that can be combined to one, just

[2019-04-20 19:36] startailcoon commented on #2592
As well described by Gibbs, this would indeed include changes of the existing components to bitshares-ui-style-guide (ANT). The hours on this is a rough estimate, so please return back if you find it not enough.

[2019-04-20 20:12] startailcoon commented on #2504
### On Part A
Yes. Relevant information from that table should be visible on the users section.

### On Part B

You should follow the standard requirements when you work on a tasks which relates somehow to UI part:
1. We use only ant framework - http://ant.design but using our personal wrapper (style-guide):
Live: https://styleguide.bitshares.org/#/dark
Github: https://github.com/bitshares/bitshar

[2019-04-20 20:16] startailcoon commented on #2568
@manikey123 it's free. I've assigned you to it. If anything is unclear, please state in the comments.

[2019-04-21 13:06] froooze commented on #2626
Should I also open a ticket for the core?

[2019-04-21 20:03] Bluffet commented on #2274
For shits and giggles, I gave iOS another go. This time with BRAVE browser.

To my surprise it did not just die straight away, it counted through the nodes in my area and presented me with the familiar login dialogue.

Logged in and anticipation builds up: this is so cool... until I tried to maneuver to the dashboard.... white screen of death...

Close! But no cigar! And naturally I could not perf

[2019-04-22 05:26] clockworkgr commented on #2626
technically we could agree with core (on cli_wallet) and our worker proposal flow to add a "Poll:" to the worker title if user has chosen to create a poll worker and just display them separately based on that.

[2019-04-22 08:02] startailcoon commented on #2626
That would technically work. It would mean that everyone making a "Poll" through CLI would have to know about it. The UI could have a selector for it.

Needs to be approved by the core team.

[2019-04-22 10:48] froooze commented on #2609
Can I claim this?

[2019-04-22 12:39] sschiessl-bcp commented on #2626
I think this is a good idea as well, will add a new tab that simply does recognition and/or fixed list similar to Legacy proposals. Refine when core has agreed to something

[2019-04-22 18:57] startailcoon commented on #2626
Anything that goes into the new `Poll` tab should not show up on the worker tab though.

[2019-04-22 19:46] startailcoon commented on #2494
Increased the padding to the right of the chart to account for the scrollbar. The TV menu doesn't seem to view its own scrollbar though, which would probably need to be looked at further.

[2019-04-22 20:30] startailcoon commented on #2358
When markets are switched, the settings are set to default "YEAR" instead, unless the user has a specific date in mind.

If required, we should expand this to a new task to make it possible to make this more advanced.
Basic idea is to enable something like this for the settings tab for exchanges.
- Enable a exchange toggle setting to "Keep expiration date when switching market".
- Enable a exchang

[2019-04-22 22:40] dot5enko commented on #2288
@sschiessl-bcp  to my great regret last commiter forget to add `fail_reason` field into reflection meta of [ proposal_object.hpp](https://github.com/bitshares/bitshares-core/blob/develop/libraries/chain/include/graphene/chain/proposal_object.hpp#L107), so proposals get serialized without that field, and reason not propagated on rpc api. It took ~2 hours for me to find the problem :)

[2019-04-23 04:08] startailcoon commented on #801
Account Images re-enabled

![Screenshot from 2019-04-23 06-00-16](https://user-images.githubusercontent.com/12114550/56553266-2dd1db00-658e-11e9-8902-9212ba2f83ac.png)

[2019-04-23 04:11] startailcoon commented on #2609
@froooze it's yours

[2019-04-23 07:54] OpenLedgerApp commented on #504
@startailcoon please review PR

[2019-04-23 08:12] abitmore commented on #2608
I'm fine if showing cashback data in membership page. But a user can have multiple vesting balance objects.

[2019-04-23 08:29] abitmore opened #2634 "[3] 3.0.0 call_price field"
**Is your feature request related to a problem? Please describe.**

Margin positions' `call_price` field will be always `1` after the consensus upgrade (23rd Apr 2019). If we still want to show a "call price" field in UI, we should calculate using other fields. See https://github.com/bitshares/bitshares-core/wiki/Testing-HF-1270:-Effects-of-MCR-Change-on-Call-Price#-3-feed-publisher-changes-mcr-to

[2019-04-23 09:39] sschiessl-bcp commented on #2634
What's the reason for this change?

[2019-04-23 09:41] clockworkgr commented on #2634
does it matter? it's not like core can be changed back right now :)

[2019-04-23 09:48] sschiessl-bcp commented on #2634
Matters for my curiousity

Am 23. April 2019 11:41:39 schrieb Alex Megalokonomos
<notifications@github.com>:

[2019-04-23 09:49] clockworkgr commented on #2634
curiosity killed the cat

[2019-04-23 13:04] startailcoon commented on #2634
Will look at this today

[2019-04-23 14:00] abitmore commented on #2634
Because
1. we can't update it every time when MCR changes, we will not use it anymore in core after the upgrade, if leave it unchanged, the value would be probably inconsistent (aka wrong), see https://github.com/bitshares/bitshares-core/issues/1270
2. being always `1` has slightly performance than leaving it unchanged in the long run

[2019-04-23 14:06] shulthz opened #2635 "What's wrong with the call limit？！"
![图片](https://user-images.githubusercontent.com/34892308/56587318-e3933d00-6613-11e9-9238-965d4400da13.png)

[2019-04-23 14:09] dot5enko commented on #2594
@sschiessl-bcp as i've took related bitsharesjs issue i've handle this too

[2019-04-23 14:16] bangzi1001 commented on #2635
https://github.com/bitshares/bitshares-ui/issues/2634

[2019-04-23 14:43] #2635 closed

[2019-04-23 15:15] djlethalskillz commented on #2630
100%

[2019-04-23 16:24] RobJah commented on #1810
Sorry guys to reopen this one, but i got a white screen on my local wallet again. downloaded the latest release when it came out last week, and used it without a problem untill today.

![image](https://user-images.githubusercontent.com/43188591/56598485-dd419880-65f4-11e9-8cb0-6b3fc1529f35.png)

checked the system clock 10 times already, toggled the shit out of it, so now the FUD is starting to cr

[2019-04-23 17:19] RobJah commented on #1810
after changing nothing but reloading at least 50 times, the wallet responds again.
thanks :p

[2019-04-23 17:24] TBAPI-0KA commented on #2592
@startailcoon Sure. My typical workflow is to start the work, spent as little time as possible, and see if any estimate correction is required. From my conversation with @gibbsfromncis regarding this issue, I see that some refactoring of existing functionality (orders table should be transferred to ANT first) will be required additionally. At this point, I don't think that it will take more than 2

[2019-04-23 20:14] startailcoon commented on #2634
This should now be resolved in PR

[2019-04-23 20:17] startailcoon commented on #2608
Thanks for your input @abitmore. We'll see what we can do to make it look good and useful for the community.

[2019-04-24 05:21] twksos commented on #2327
@sschiessl-bcp @clockworkgr
My bitshares account is `twksos02`

[2019-04-24 07:56] clockworkgr commented on #2327
paid

[2019-04-24 08:02] clockworkgr commented on #2634
good job @startailcoon ...is it on staging or develop yet so we can test out if everything appears normal?

[2019-04-24 09:48] #2634 closed

[2019-04-24 22:26] TBAPI-0KA commented on #2592
@gibbsfromncis
cc @startailcoon

I've spent around 3 hours until this point. Things look a little bit more complicated than I expected. There are some questions which are related to Ant usage and refactoring.

The first issue is related to the combination of Table and Collapse from Ant.  On the one hand, Ant components are very smart and have a lot of properties. On the other hand, customization i

[2019-04-25 09:28] OpenLedgerApp commented on #2356
It took more time(6 hours) then planned, because:
-it was necessary to change logic for both forms(limit/scaled).
-Had some difficulties with implementation a datePicker into option of Select and re-change of "Specific" option.

[2019-04-25 13:28] gibbsfromncis commented on #2293
@startailcoon will work on it today/tomorrow

[2019-04-25 13:30] gibbsfromncis commented on #2158
@startailcoon closed. It will be refactored in new design

[2019-04-25 13:30] #2158 closed

[2019-04-25 13:32] gibbsfromncis commented on #2004
@sschiessl-bcp I've removed it from milestone because it is better to leave it for redesign

[2019-04-25 13:35] gibbsfromncis commented on #2592
@startailcoon this comment requires investigation from my part. I'll take a look on it more detailed today and provide you a summary

[2019-04-25 14:17] OpenLedgerApp commented on #2602
"Max. settlement volume of each maintenance period", "Remaining settleable volume" - where may we get these fields?
If a user enters a number greater than the limit where the notification should appear?here?
![image](https://user-images.githubusercontent.com/42674402/56742737-f9247600-677d-11e9-9c89-d3699d46e38d.png)

Where "Remaining settleable volume" should be displayed?

Now delay is displayin

[2019-04-25 21:41] sschiessl-bcp commented on #2625
Closed by https://github.com/bitshares/bitshares-ui/commit/1001b07a55b4ae1c9e2e4d3cb8e295a72285275f

Took 1.25

[2019-04-25 21:41] #2625 closed

[2019-04-26 19:51] gibbsfromncis commented on #2592
@TBAPI-0KA Lets use option #1 for Table Collapse and option #2 for TableRow.

Please, before to start provide your estimate to finish this task

[2019-04-26 21:24] sschiessl-bcp opened #2640 "[kennybll][2] Beet: #92"
https://github.com/bitshares/beet/issues/92

[2019-04-26 21:24] #2640 closed

[2019-04-26 21:37] sschiessl-bcp opened #2641 "[1][3.1.190618-rc1] Release notes"
<h1>3.1.190618-rc1 Release Candidate</h1>
Please report any bugs using the Github issue system. Final release is expected on June 18th

<h2>Installation warning</h2>
This build will *replace* your old version of the BitShares UI, whether it's a release candidate or production release. If you want a stable version, use only the latest production release

<h2>Web deployment</h2>
This release candida

[2019-04-26 21:40] sschiessl-bcp opened #2642 "Synchronize versioning with core"
Version to display: 3.0.19XXXX

Must account for automated build process scripts and UI version displays, as well as the update notification for light client

[2019-04-28 13:32] dot5enko commented on #2589
@sschiessl-bcp can we increase the bounty up to 10hrs as virtual ops requested above and HtlcActions was added after issue was created and it took me a little bit more time?

[2019-04-28 17:55] startailcoon commented on #2602
You can see the calculations for the remaining amount of settleble volume on the Assets details page currently. I'm not sure if this is done right, cause I've never seen this at any other value than 100%.

https://github.com/bitshares/bitshares-ui/blob/aebf2218e054d3ac3f7eee050e0fc00ac71714ed/app/components/Blockchain/Asset.jsx#L915-L933

This comes from the Assets that have the BitAsset option `m

[2019-04-28 18:02] startailcoon commented on #2592
I see this implementation as a good thing, I support extended hours for this. Just post your rough estimate once you and Gibbs have a good idea on how to realize this issue.

Please use @gibbsfromncis to bounce ideas on this as he's well versed on Ant Components and can assist you.

[2019-04-28 18:03] startailcoon commented on #2589
I've updated the estimate to 10 hours.

[2019-04-28 18:08] startailcoon commented on #2609
Got a PR for us @froooze ?

[2019-04-28 18:15] startailcoon commented on #2543
Missed it since github didn't link it to here :)

[2019-04-29 03:35] dot5enko commented on #2589
@sschiessl-bcp  work done, ready to merge
- added htlc ops to account activity, block explorer and fee schedule

[2019-04-29 09:38] sschiessl-bcp opened #2643 "[10] Basic HTLC support"
This issue is to create a simple HTLC overview and possibility to create / redeem, which can be used for any use case outside of trading.

Raw integration of HTLC was done with #2589, for simple usage please find `app/actions/HtlcActions.js`.

Additional usage for dead simple cross-chain trading, preferably built-in the exchange directly will be done in another issue.

The general layout should be

[2019-04-29 10:45] dot5enko commented on #2643
seems like i can take this too, like a person who integrated htlc. but if there's anyone interested more than me he could take it :)

[2019-04-29 12:27] sschiessl-bcp commented on #2556
Took 1

[2019-04-29 12:59] #1964 closed

[2019-04-29 13:10] sschiessl-bcp opened #2649 "Investigate `get_accounts`"
https://github.com/bitshares/bitshares-core/issues/1734#issuecomment-487572186

What does bitsharesjs do in that case?

[2019-04-29 14:19] #2543 closed

[2019-04-29 14:25] sschiessl-bcp opened #2650 "Publish bitsharesjs rc for release"
Release candidate `bitsharesjs@next`, must be finalized before releasing to staging

[2019-04-29 15:00] #2317 closed

[2019-04-30 06:31] sschiessl-bcp commented on #2589
For testing, connect to testnet and check http://localhost:8080/account/thtlc-3

`bnitsharesjs` examples can be used to create more for those accounts.

[2019-04-30 09:26] sschiessl-bcp commented on #2589
I will accept this ticket, minus fee schedule which was forgotton and have that on a new ticket.

[2019-04-30 09:27] sschiessl-bcp opened #2652 "Add HTLC to fee schedule"
Follow up of #2589

Add HTLC operations to https://wallet.bitshares.org/#/explorer/fees

[2019-04-30 09:27] sschiessl-bcp commented on #2652
@dot5enko ?

[2019-04-30 09:54] #2400 closed

[2019-04-30 09:58] #504 closed

[2019-04-30 10:15] dot5enko commented on #2652
@sschiessl-bcp hm, i've already added them

[2019-04-30 10:18] dot5enko commented on #2589
@sschiessl-bcp https://github.com/bitshares/bitshares-ui/commit/5dd4c2b8568388aec25aa22327a8a6030ddd9cad

[2019-04-30 11:11] #2597 closed

[2019-04-30 11:14] #2494 closed

[2019-04-30 11:16] #2358 closed

[2019-04-30 11:21] #801 closed

[2019-04-30 11:28] sschiessl-bcp commented on #2356
What exactly were the changes (in words) that were done?
Any reason it was not switched to styleguide DatePicker?

[2019-04-30 11:58] #2556 closed

[2019-04-30 12:05] sschiessl-bcp commented on #2400
@twksos Would you be interested to refine the "Find Markets" search in the same way?

[2019-04-30 12:12] #2527 closed

[2019-04-30 12:15] #2545 closed

[2019-04-30 12:16] #2595 closed

[2019-05-01 01:23] JRizzly commented on #2168
I get different number of orders using the web version vs the desktop version. 45 operations for fill type on desktop and 30 operations for fill type on web version. Why is there a difference?

[2019-05-01 08:37] startailcoon commented on #2649
This issue should be investiagted prior to the release of core change

### Core change schedule for 3.2.0
- Release to TESTNET: 18 JUL 2019
- Release to MAINNET: 2 JUL 2019

[2019-05-01 11:07] froooze commented on #1832
When is this available?

[2019-05-01 23:20] froooze opened #2653 "[0.5] Light client freeze with [German language]"
**Describe the bug**
After browsing to Exchange (German language) the client freezes.

**To Reproduce**
Change language to German, browse to "Börse" and click on several markets.

**Expected behavior**
No freeze.

**Screenshots**
![Börse-blank](https://user-images.githubusercontent.com/40874087/57049338-ee834880-6c77-11e9-8dc5-4ffdcd37334d.png)

**Desktop (please complete the following information

[2019-05-02 09:31] #2570 closed

[2019-05-02 09:52] sschiessl-bcp commented on #2652
Thanks, that's correct. I fixed some translation issues.

[2019-05-02 09:52] #2652 closed

[2019-05-02 10:00] sschiessl-bcp commented on #2653
Only crashes in light, or also webwallet?

[2019-05-02 10:21] froooze commented on #2653
Webwallet also freezes (Chromium).

[2019-05-02 10:46] OpenLedgerApp commented on #2356
what was done:
1. Added tooltips for options from 1 hour to 1 year
https://user-images.githubusercontent.com/42674402/56679132-07ff2000-66cd-11e9-8df7-6984823c786e.png
2. new logic for specific option:
- To open up the Calendar you should click on "Specific" option
(we hide DatePicker and then through datePicker ref we open it)
https://user-images.githubusercontent.com/42674402/56679173-1a795980-6

[2019-05-02 10:54] sschiessl-bcp commented on #2653
Can you please tell me exactly what you are clicking on?

[2019-05-02 11:23] froooze commented on #2653
Click on a market Open.EOS / BTS

[2019-05-02 22:19] twksos commented on #2400
@sschiessl-bcp Surely I would like to. However, my contribution time may not be stable until May 14. Could you show me the issue?

[2019-05-03 11:15] OpenLedgerApp commented on #2297
@startailcoon, we can take this one.

[2019-05-03 11:55] sschiessl-bcp opened #2654 "Do we want WalletConnect?"
Meaning, scan a QR code with your phone that will allow you to login (temporary session). I have not done any technical evaluations on that yet.

[2019-05-03 13:16] sschiessl-bcp commented on #2168
What versions do they both have? Might differ inbetween versions, but the same version on light or webwallet should produce the same.

[2019-05-03 13:16] sschiessl-bcp commented on #2649
Rather asap, because core might fix or not fix current behavior depending on our answer

[2019-05-03 13:18] sschiessl-bcp commented on #1832
The new login layout is done, but the integration into the login route and login popup is missing.  It is available here btw https://wallet.bitshares.org/#/login

[2019-05-03 13:41] sschiessl-bcp commented on #2400
https://github.com/bitshares/bitshares-ui/issues/1675
https://github.com/bitshares/bitshares-ui/issues/2544

[2019-05-03 14:47] sschiessl-bcp commented on #2293
Happened?

[2019-05-03 14:49] sschiessl-bcp commented on #2288
Awesome find, thank you so much!

[2019-05-03 14:50] sschiessl-bcp commented on #2288
The feature release is currently being deployed on testnet, once that is done you can start on this again.

[2019-05-03 22:24] abitmore commented on #1666
If need a new API please open an issue in bitshares-core repository.

[2019-05-03 22:30] abitmore commented on #2140
A summary in "portfolio" menu is good for overview. Open orders are details, although a summary there is also helpful (#1666).

By the way, besides of "in orders", we can have "in collateral", "in vesting balances" as well.

I can say most if not all data is available in result of "get_full_accounts" API call. If any is missing, please submit an issue in bitshares-core respository.

[2019-05-03 22:33] abitmore commented on #1666
IIRC the "open orders" data is obtained via `get_full_accounts` API, I guess we're able to calculate the summary from the results.

[2019-05-03 22:34] abitmore commented on #2280
IMHO this ticket is a duplicate.

[2019-05-03 22:35] abitmore commented on #2280
Please put this and/or the linked tickets to milestones. Thanks.

[2019-05-03 22:40] abitmore opened #2655 "[3][Keegan-lee] Portfolio Columns improvements"
**Is your feature request related to a problem? Please describe.**
Inspired by https://github.com/bitshares/bitshares-ui/issues/2140#issuecomment-489259913, we can have "in orders", "in collateral", "in vesting balances" columns in portfolio table.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear

[2019-05-04 09:18] startailcoon commented on #2654
I assume you're describing a feature similar to https://www.cryptoninjas.net/2019/05/03/trust-wallet-enables-walletconnect-for-connecting-to-desktop-dapps/

[2019-05-04 09:22] startailcoon commented on #2655
Sounds like good ideas, nice.

At the same time I'd like to suggest that we combine the static features to a drop-down menu. The following aren't required to be directly visible to have a function.

- Send, Buy, Deposit, Withdraw, Trade, Borrow, Settle, Burn

This would free up more space and make the dashboard more mobile friendly.

[2019-05-04 09:27] startailcoon commented on #2649
ASAP would be great, just setting a timeframe.

[2019-05-04 11:36] froooze opened #2656 "Offer Brainkey backup solutions on registration"
**Is your feature request related to a problem? Please describe.**
At the beginning it is hard to get, what options a Bitshares user have to backup his account.

**Describe the solution you'd like**
Integrate the option to see and backup brainkey in a save way.

**Describe alternatives you've considered**
Including also paper wallet option

[2019-05-04 11:52] abitmore opened #2657 "[2] Add raw json for operations and objects"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/9946777/57178570-d297c680-6e72-11e9-84be-4a4e6bda1379.png)

In some cases it's not clear what the ops means.
Pages that I thought of:
- [x] block explorer
- [x] account activities
- [x] proposed proposals
- [x] transaction confirmation page

**Describe the solution you'd like**
Add

[2019-05-04 11:57] froooze opened #2658 "Auto blacklist proposal scammers"
**Is your feature request related to a problem? Please describe.**
Getting scam proposals is still annoying and I don't have any information what the proposal does from the UI.

**Describe the solution you'd like**
Blacklist people, who abuse the system:
* Proposals per hour or day
* How old  the account is
* How much is the account value

With blacklist, they can still be visible, but in a less v

[2019-05-04 11:57] abitmore opened #2659 "[1][OpenLedgerApp] Show target collateral ratio in "my margin positions" page"
**Is your feature request related to a problem? Please describe.**
Unable to see target collateral ratio of my debt positions in my margin positions page. Need to click adjust icon to check.

**Describe the solution you'd like**
Show target collateral ratio directly in "my margin positions" page (add a column).

**Describe alternatives you've considered**
A clear and concise description of any alt

[2019-05-04 12:07] abitmore commented on #2658
I got an idea. Let someone or a group **with reputation** (manually) maintain a blacklist on chain, E.G. with the on-chain account blacklisting feature, so the list can be updated quickly enough, better for UX than current mechanism which only updates when a new release is out. Although it's a somehow centralized solution, IMHO it would work. The account(s) can be multi-sig thus would be decentral

[2019-05-04 12:10] froooze opened #2660 "Auto close margin position"
**Is your feature request related to a problem? Please describe.**
Closing margin position does need to remove BTS from the margin position to the market and selling

**Describe the solution you'd like**
Option to close a margin position, when DEBT is bigger than BALANCE
Offer the amount of BTS to the market to cover the difference between DEBT and BALANCE and auto close the margin position afterw

[2019-05-04 12:14] abitmore commented on #2529
https://github.com/bitshares/bitshares-ui/issues/2658#issuecomment-489321182

[2019-05-04 12:23] froooze opened #2661 "[0.5] No memo option in Withdraw"
**Describe the bug**
The Withdraw function has no memo field.

**To Reproduce**
Burger menu -> Withdraw -> select any coin

**Expected behavior**
A memo field after address

**Screenshots**
![no-memo](https://user-images.githubusercontent.com/40874087/57178922-15a86880-6e78-11e9-9d75-7f736c81d57e.png)

- MX-Linux
- Light Client: 190424

[2019-05-04 12:26] froooze commented on #2658
User should decide, if it should be removed complete from visibility.

[2019-05-04 12:30] froooze commented on #2654
I am not against it, but for me a low priority.

[2019-05-04 12:36] froooze commented on #2653
Other Gateways don't have the problem Open.LTC / BTS or Open.DODGE also crash.

[2019-05-04 14:14] froooze commented on #2637
A framework to post a teller or shop entry, to give on overview for goods and services.
Where do we store the data?

A comment section with a 5 star rating should also improve the experience.

[2019-05-04 14:30] gibbsfromncis opened #2662 "New Login integration to route"
https://github.com/bitshares/bitshares-ui/issues/1832

[2019-05-04 14:30] gibbsfromncis commented on #1832
@sschiessl-bcp https://github.com/bitshares/bitshares-ui/issues/2662 I'll work on it

[2019-05-04 14:36] #2589 closed

[2019-05-04 15:27] #2624 closed

[2019-05-04 16:51] react-cat commented on #1964
My username for payment: react-cat

[2019-05-04 20:24] Keegan-lee commented on #2655
I'd like to claim this.

[2019-05-06 00:48] TBAPI-0KA commented on #2592
@gibbsfromncis
I've tried the Nested Tables approach. It looks really ugly even if one column of the nested table has different width:

However, I've built a PoC of custom CollapsibleTable component. In fact, it's almost completed, because I wanted to be sure that no hacks will be used. I was able to create such a reusable component, with nice code inside, and fully-supported API from regular Ant'

[2019-05-06 18:22] startailcoon commented on #1963
Sorry for the late reply @react-cat. Right now I think it's better to stage the work you have completed and leave this, quite large, issue as it is. We could file it under a new issue to be looked at on a later state.

[2019-05-06 18:23] startailcoon commented on #2662
I'd assume this to be an easy task. Let me know if it's to optemistic.

[2019-05-06 18:26] startailcoon commented on #2661
Memo field is used by the gateway operator and should not be changed by the user directly.

[2019-05-06 18:32] startailcoon commented on #2660
Interesting idea, though a question on it. Do you expect this to work even when you're client isn't running? If this is the canse, then it would require an on chain OP.

If you're happy for this to only work when the client is running, then we could look at a feature like this. It would need some discussion on what would happen and when it would happend.

[2019-05-06 18:33] startailcoon commented on #2659
Good suggestion, should be there indeed.

[2019-05-06 18:36] startailcoon commented on #2658
We could, with abitmore's idea, also be able to handle whitelisted accounts as verified good accounts. The user could then toggle to hide all blacklisted accounts by this entity.

[2019-05-06 18:41] startailcoon commented on #2657
Good idea, it shouldn't be difficult to view and verify the json transaction, which is just what the blockchain is all about.

- "Click to view Raw TX" type of text
- Should view the raw json in a new modal window.
- On all TX and Blockchain OPs viewed in app

[2019-05-06 18:43] startailcoon commented on #2655
@Keegan-lee I'll assign you to this task. Let us know if there's anything you require.

[2019-05-06 18:45] startailcoon commented on #2654
Convince me why you need a QR code to make a temporary session from your PC, when you have a PC to do it on, and how this would make it any more efficient when you're not at a PC and need to use the DEX on a phone.

I have my keys on the phone as well, meaning I don't need this feature.

Perhaps I'm missing the point of this feature.

[2019-05-06 19:06] startailcoon commented on #2653
Unescaped percentage in locale file made the translation fail to render

[2019-05-06 19:11] startailcoon commented on #2643
If you're willing, I'll assign you to this task @dot5enko

[2019-05-06 19:12] startailcoon commented on #2643
Looks like @sschiessl-bcp already assign this task to himself.

[2019-05-06 19:17] startailcoon commented on #2592
If this comes out as good as you describe it, I'm all go for an increased estimate for it.
Looking forward to see your work.

cc @gibbsfromncis @sschiessl-bcp

[2019-05-06 19:29] startailcoon commented on #2563
I'm not sure what your request is when you state that it's **more** important in `My Open Orders` than in the `Buy/Sell Orderbook`. This was resolved by #2317.

Can we consider this closed?

[2019-05-06 19:32] startailcoon commented on #2562
Closed as no new input was submitted for this issue

[2019-05-06 19:32] #2562 closed

[2019-05-06 19:36] startailcoon commented on #2555
To allow a cookie we need to inform the visitor that we do so, and also enable the visitor to deny using cookies as per EU legislation on cookies, http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm#section_2

[2019-05-06 19:44] startailcoon commented on #2356
Please solve this with using Style Guide components available.

[2019-05-06 21:29] froooze commented on #2563
No, because this ticket is about a right click option for BUY/SELL ORDERS to cancel one order!

[2019-05-06 23:24] froooze commented on #2660
I considered this as on chain action.

This function could be also combined with target collateral ratio. Target collateral ratio becomes now only active, when collateral is under MCR.

[2019-05-07 02:17] abitmore commented on #2658
By the way users are able to configure their own black/white lists, I guess we can (ab)use the lists for this feature, although it was not by-design.

Actually, this is a non-consensus feature, ideally we can store user settings with custom_operation (rather than account_whitelist_operation which is consensus-related), then we need to write a plugin to track the data, with this approach, we can ev

[2019-05-07 02:33] abitmore commented on #2562
I guess @froooze enabled "Order Book Grouping". Amount of the last order in the screenshot was much bigger than 0.0002 EUR.

[2019-05-07 03:06] abitmore commented on #2660
@froooze for a new on-chain operation we need a BSIP, better submit an issue to https://github.com/bitshares/bsips and discuss there.

[2019-05-08 09:01] HB1github opened #2665 "Wallet updated, still showing update available?"
Wallet updated, still showing update available?

[2019-05-08 09:05] HB1github opened #2666 "Transfer open.EOS to Simple EOS not credited?"
Transfer open.EOS to Simple EOS not credited?

#20: TRANSFER |  
-- | --
From | hbscc
To | openledger-dex
Quantity | 9.339655 open.EOS
Memo / Message | eos:gmzdqmrqgene
Fee | 0.48132 BTS

[2019-05-08 15:16] froooze commented on #2666
I don't would call this a hack, it is more a scam you accepted yourself.
#2658

[2019-05-08 15:18] froooze commented on #2666
You accepted the hack!
#2658

[2019-05-08 15:49] Keegan-lee commented on #2655
Proposing a solution to the above comment.

Combining those "static" functions into a dropdown.

I propose the header in the table be "Action", where the options are whatever options are valid for that particular asset. In my screenshot. The options for BTS I have available are Buy/Sell/Burn. Those would be the three options in the "Action" dropdown.

See Screenshot for example reference.

<img wi

[2019-05-08 16:09] #2665 closed

[2019-05-08 16:10] #2666 closed

[2019-05-08 17:21] HB1github commented on #2658
How about several stages (2-3) until accepting a proposal and get an overview/information before last stage about what happens, if accepting proposal?

[2019-05-09 00:15] gibbsfromncis opened #2667 "[Wallet Redesign] Layout"

[2019-05-09 00:16] gibbsfromncis opened #2668 "[Wallet Redesign] Summary"
This is to collect all issues related to redesign of our current wallet.

**Features**:
1. Layout - https://github.com/bitshares/bitshares-ui/issues/2667
2. Landing Page
3. Dashboard
4. Manage Funds
5. Wallet
6. Beginners Guide
7. Orders
8. Business
9. Blockchain
10. Governance
11. Settings
12. Language Select / Propose
13. News
14. Invite & Earn
15. Membership
16. Permissions
17. Contacts
18. Acc

[2019-05-09 00:19] gibbsfromncis opened #2669 "[Wallet Redesign] Landing Page"

[2019-05-09 00:21] gibbsfromncis opened #2670 "[Wallet Redesign] Dashboard"

[2019-05-09 00:22] gibbsfromncis opened #2671 "[Wallet Redesign] Manage Funds"

[2019-05-09 00:23] gibbsfromncis opened #2672 "[Wallet Redesign] Wallet"

[2019-05-09 00:25] gibbsfromncis opened #2673 "[Wallet Redesign] Beginners Guide"

[2019-05-09 01:07] froooze commented on #2668
How does this apply to Ross UI?

[2019-05-09 01:26] gibbsfromncis commented on #2668
@froooze totally nohow. Beginning from the new worker proposal we're working on complete redesign of bitshares-ui interface. We started discussions in summer of 2018. And now, beginning from new worker proposal, I'm a person responsible for User Interface and User Experience (UI/UX) of our wallet and head of the design team.

Beginning from my first day I promote the idea of new modern interface w

[2019-05-09 09:29] DimaBLCKCHND commented on #2586
we spent 16 hours on Russian translation and review of mistakes that cause by previous translators that made a lot of mistakes and nobody told us about it
still, have nothing paid

[2019-05-09 09:30] DimaBLCKCHND commented on #2558
we spent 16 hours on Russian translation and review of mistakes that cause by previous translators that made a lot of mistakes and nobody told us about it
2 weeks ago
still, have nothing paid

[2019-05-09 09:33] DimaBLCKCHND commented on #2558
Due to an error by Stephan in handling out transifex translation permissions, someone without knowledge of Russian got translation permissions and did a lot of really bad translations, that none told us about.
We've spent 16 hours retranslation and reviewing.

And after 2+ weeks since the work we are yet to be paid.

[2019-05-09 09:33] sschiessl-bcp opened #2674 "[blockchained-fond][2.0.190410-rc1] Review Language"
https://github.com/bitshares/bitshares-ui/issues/2586#issuecomment-490830021

It was agreed in telegram that Blckchnd does review of the Russian translation, this is the missing issue for those efforts. Transifex was open to anyone and mistakes were done by other translators which were also corrected/reverted by Blckchnd.

Initial bounty for review was stated here https://github.com/bitshares/bits

[2019-05-09 09:33] sschiessl-bcp commented on #2586
Transifex account was open to anyone, it was my mistake that I did not check the old permissions on the project when taking it over. This was communicated to your team so I do not understand your attitude here. In total 69 keys were needed to be re-translated due to mistakes.

I have asked on 20th of April that you guys state your efforts in the issue, and your comment above is the first mentionin

[2019-05-09 09:35] sschiessl-bcp commented on #2674
From old issue

@DimaBLCKCHND
Please break it down for time needed to correct those 69 keys with mistakes vs reviewing everything

[2019-05-09 09:35] DimaBLCKCHND commented on #2586
as I see 24 days ago I confirmed and give you adress for payment

[2019-05-09 09:36] sschiessl-bcp commented on #2586
I must have missed that comment in the issue, got a link please?

[2019-05-09 09:37] DimaBLCKCHND commented on #2586
https://github.com/bitshares/bitshares-ui/issues/2586#issuecomment-483356706

[2019-05-09 09:41] sschiessl-bcp commented on #2586
You confirmed this issue (which is only for completing the translation), with no mention of correcting or reviewing translations, apologies that I do not remember what reference you had in mind back then.

[2019-05-09 09:46] sschiessl-bcp commented on #2558
See my comments below https://github.com/bitshares/bitshares-ui/issues/2586#issuecomment-490830021

[2019-05-09 11:02] sschiessl-bcp commented on #2674
The russian translation was generally quite flawed and re-translations were necessary.

Here is a breakdown of necessary translation
![image](https://user-images.githubusercontent.com/33128181/57448245-2b8fa200-7259-11e9-9998-04d11d96684a.png)

 - Correcting the mistakes should be paid according to the translation bounty (0.15 per word) since actual hours for that are not known. From the last issu

[2019-05-09 11:52] sschiessl-bcp commented on #2311
Hours needed was 11.5 due to increased complexity. Many components have been streamlined and refactored, see visual overview here https://github.com/bitshares/bitshares-ui/pull/2644#issue-274321369

Refactoring went also in the PaginatedList and Table component.

[2019-05-09 11:53] #2311 closed

[2019-05-09 14:31] DimaBLCKCHND commented on #2674
I confirm

[2019-05-09 14:38] sschiessl-bcp commented on #2674
Marked for payout in Sprint 190510.

[2019-05-09 14:39] #2674 closed

[2019-05-09 14:54] sschiessl-bcp commented on #2643
Yes I did. See progress here https://github.com/blockchainprojects/bitshares-ui/pull/105#issuecomment-490817743

[2019-05-09 14:55] sschiessl-bcp commented on #2654
As I understand it you would have your keys only on your phone, and only create temporary sessions on the PC. I'm indifferent at the moment, I just saw BinanceChain offered it. Have not investigated more yet

[2019-05-09 16:51] froooze commented on #2668
@gibbsfromncis: Yes, I wanna help and join the redesign process.

[2019-05-09 17:25] bangzi1001 commented on #2658
Just saw Openledger warn their users in this way and it is simple and effective.
![2019-05-10_01h24_03](https://user-images.githubusercontent.com/36911788/57473404-55c97a00-72c2-11e9-9196-f1bb178a1af6.jpg)

[2019-05-09 17:26] bangzi1001 commented on #2529
Just saw Openledger warn users with this method. It is simple but effective.
![2019-05-10_01h24_03](https://user-images.githubusercontent.com/36911788/57473486-85788200-72c2-11e9-920b-399e9af26ebd.jpg)

[2019-05-10 02:33] rsswlkr commented on #2658
Just fix at the root - can't create proposed transaction until users added <> to whitelist/contacts. There should be no legit reason for creating a proposed tx unless the other party has been informed first. Up to 3rd parties to make sure they're proposals aren't rejected. Auto-popup 'Reject' button if not on users whitelist/contacts; extreme version, auto-reject (or default user setting).

[2019-05-10 02:52] shulthz commented on #2658
This is the right way.

[2019-05-10 06:38] gibbsfromncis commented on #2668
@froooze please add me in telegram - @gibbsfromncis

[2019-05-10 08:16] gibbsfromncis commented on #2662
@startailcoon Took 1.5h

Changes took more time:
- find all usages of previous routes and replace them
- add "restore brain key" to home login and update all translations
- remove unused files and routes

[2019-05-10 08:44] gibbsfromncis commented on #2293
@startailcoon @sschiessl-bcp

![tooltip](https://user-images.githubusercontent.com/35899973/57514200-905e0180-7318-11e9-93f3-c8fc8653286d.gif)

I've looked more deep on this issue and my position is:
- I see no reason to change font, size or color. It is OK. I suppose @startailcoon you have something wrong (or had?) with your zoom.
- I've updated box-shadow for tooltip container and made it more s

[2019-05-10 08:44] sschiessl-bcp opened #2677 "[5] ANTify, restyle and refactor voting overview"
The new voting section should only using ANT style-guide components.

Here is a rough mockup of how I imagine the positioning

![image](https://user-images.githubusercontent.com/33128181/58248620-e725fb00-7d5c-11e9-9a33-268526ac0fb6.png)

- [ ] Proxy button and Save/Reset go in an area above the tables.
- [ ] Where proxy is now we need a filter button
- [ ] The coloring and margins of the mockup n

[2019-05-10 08:52] sschiessl-bcp opened #2678 "Prettify Settings after refactoring"
Margins look off, labels look off, needs styling. Open for suggestions.

[2019-05-10 08:56] #2626 closed

[2019-05-10 08:58] sschiessl-bcp commented on #2626
Due to heavier refactoring time needed is 4.5

[2019-05-10 09:15] sschiessl-bcp opened #2679 "On-chain powered Headline"
**Describe the bug**
The UI needs a way to quickly inform users of ongoing issues or other important news. For that, a new component is to be implemented that hooks in on the very top of the screen and acts like a newsfeed. The content of it will be dynamically fetched from github.

Estimate 3

Tasks:
 - [ ] Implement component that fetches directly from github
 - [ ] Allow different types of noti

[2019-05-10 09:53] OpenLedgerApp commented on #2356
@startailcoon done

[2019-05-10 09:56] gibbsfromncis commented on #2678
@startailcoon Time spent: 1h

50% of time took investigation to find out why it happened and how to fix it in a proper way

[2019-05-10 10:06] brandaccelerator commented on #2230
@sschiessl-bcp @startailcoon I stopped working on this as I had other things that came up with and getting the issue closed was taking a while. I can look back into closing out this issue if it's still a need.

[2019-05-10 10:15] calvinfroedge commented on #2230
@sschiessl-bcp @startailcoon I stopped working on this as I had other things that came up with and getting the issue closed was taking a while. I can look back into closing out this issue if it's still a need.

[2019-05-10 10:30] #2678 closed

[2019-05-10 10:33] #2293 closed

[2019-05-10 10:40] bitfanatic commented on #2658
Could the feature be enhanced with a extra step
Where the proposing account if not already is whitelisted
Has to be approved with a signed message?

[2019-05-10 10:47] OpenLedgerApp commented on #2659
@startailcoon, we can take this one.

[2019-05-10 10:50] abitmore commented on #2658
I don't think it should be default behavior in core. It just like saying "don't ring your phone if someone not in your contact list called you", or "reject emails from people not in contact list", usually a client-side feature. Although it's possible to implement it as a core parameter, I think it's better to make it opt-in.

The proposal IS informing the party. We just need to make it clear enoug

[2019-05-10 11:27] sschiessl-bcp commented on #2529
In the pipeline for next release #2679

[2019-05-10 11:31] #2653 closed

[2019-05-10 11:35] #2602 closed

[2019-05-10 11:40] #2280 closed

[2019-05-10 11:41] sschiessl-bcp commented on #2280
Let's define #1468 as main issue

[2019-05-10 15:28] react-cat commented on #1963
@startailcoon I pushed to my fork what I currently done. I spent up to 8 hours on this work. Most of that time I spent on research how table is currently implemented and how to replace it with ANT table and now I know how to replace it.

Considering that task wasn't completed it's ok if you would compensate only a part of my time or wouldn't compensate time at all.

I would like to continue this t

[2019-05-10 15:57] CryptoKong opened #2682 "Reserve fund spending allocation visualiser"
**Is your feature request related to a problem? Please describe.**
Not enough information on allocated active worker spending

**Describe the solution you'd like**
Have information available on a chart how reserve funds are being spent

**Additional context**
Create a page for charts that split spending up into groups over each financial year and the previous years for comparison. Then users can s

[2019-05-10 16:19] mistdale commented on #2682
Makes the system transparent, that would be really helpful.

[2019-05-10 19:40] startailcoon commented on #2297
@OpenLedgerApp sorry for the delay, missed your comment.

This issue relates to the following routes

- /wallet/backup/restore
- /existing-account
- /create-wallet-brainkey

It should
- [ ] Replace all old components with new style-guide.
- [ ] Make sure all components are visible correctly.
- [ ] Should refer to FAQ sections, like `/help/introduction/wallets` for the user to read more about the w

[2019-05-10 19:43] startailcoon commented on #2659
@OpenLedgerApp it's yours.

This sections is getting quite packed with information right now, but I'd suggest we add this to the page for now and look at optimizing the section later in a new task. It would need some looking at.

[2019-05-10 21:46] bitfanatic commented on #2682
Love the idea kong

And While we are brushing up on the voting page

Making improvements to witness pane and committee pane would be nice to do aswell

Giving the ability to tell who they are and what they stand for on the bitshares website
Would make it look more serious

And could add how they have voted in the past on different workers and witnesses and commitee members

[2019-05-10 22:39] abitmore commented on #2679
I like a blockchain-powered headline feature more, which avoids single point of failure.

Actually we only need a place to store the data.

One possible solution:
create a committee-owned UIA, set its active authority to a group of trusted community members (multi-sig), use the description field of the UIA to store the headlines. Every client subscribes to the asset.

[2019-05-11 05:01] sschiessl-bcp commented on #2679
That's an awesome idea!

@gibbsfromncis don't you have the TEST asset laying around?

@startailcoon @clockwork what do you think of that?

The multi sig active should then be between UI team and bitshares.org owner, I can create the account if we want that.

[2019-05-11 14:06] OpenLedgerApp commented on #2297
@startailcoon, sorry, it seems there is a misunderstanding about the last item "Should refer to FAQ sections".
Do you mean that (/help/introduction/wallets, /help/introduction/backups) should be links?
If yes, which routes and what names of the links should be (for example, "help" with question icon like in the header dropdown or smth else)?

[2019-05-11 14:22] startailcoon commented on #2666
A few questions,

- Did you use the "Withdraw" feature to withdraw your open.EOS assets to your EOS account?
- Are you the owner of the EOS account `gmzdqmrqgene`?

As `openledger-dex` is the official account for withdrawing funds from the Open Ledger exchanger, your assets are sent to the supplied account.

[2019-05-11 15:44] startailcoon commented on #2682
Indeed a nice idea. Bitshares is a transparent system, and we should try to view as much information as possible towards visualizing this.

Most of the time for this issue would be to summarize where to find all the data and request changes to fetch any missing data. Together with the below attached chart we should supply a table of each type and summarize nicely for the user.

We should investiga

[2019-05-11 15:47] startailcoon commented on #2679
I'd say that having it on-chain is a perfect proof-of-concept idea and something we should look at rather than having it on github.

👍

[2019-05-11 16:10] startailcoon commented on #2667
My initial reflections on the layout design.

## Overall
The layout needs to accommodate whatever links we have today from the top-nav menu, like Voting, Membership stats and vesting balance. While we should try to go for a "simpler" design, we shouldn't bury features to deep down in sub pages. I'm sure we won't, but just want to have that said.

## Top menu
As you've mentioned that you will submi

[2019-05-11 16:25] startailcoon commented on #2672
## Overall
This is pretty much what we have today on the "Portfolio" tab. I like that the table is condensed with the operations for each asset in a operation list instead.

## Favorites
I like this idea, and like we discussed last time, we should allow the user to have a "large" amounts of assets as favorites. I'd say that we should allow at least up to at least 10, if not an unlimited amount. Ro

[2019-05-11 16:53] startailcoon commented on #2626
👍

[2019-05-11 17:01] startailcoon commented on #1081
Fixed part of PR for issue #2602

[2019-05-11 17:01] #1081 closed

[2019-05-12 08:43] startailcoon commented on #2656
When you register or login with an account the first time on a new installation you will get a "Make sure to backup" message at the bottom of the client. I also think we have it after you create a new account where you get a "you really should backup" message that you can opt to not display again.

I assume you propose that we need to make it even more clear?

[2019-05-12 08:48] startailcoon commented on #2655
Action sounds like a good name for the title. These actions should use the style-guide drop down menu and only be populated with the options available, indeed. I would opt that `Hide` should stay at the far right as today.

BTS for example here, doesn't have withdraw, trade, borrow, settle actions.

Make sure you catch all places in code that this needs to be changed/added. We have the visible lis

[2019-05-12 08:50] startailcoon commented on #2649
This is free for claims. Adding 1.5 hour of bounty for taking this task and reporting back the results to the team.

[2019-05-12 08:53] startailcoon commented on #2643
Great, report back the results here when completed and we'll discuss.

[2019-05-12 08:57] startailcoon commented on #2630
@froooze It's yours. Supply a PR and we'll add them.
I agree with that we should give RuDEX a bit more love.

[2019-05-12 09:06] startailcoon commented on #2572
Pushed this to a milestone. Not added any hours to it as we need to look at the scope of this change requirements.

- Do we need to refactor the gateway system to handle the new API by OL?
- Can we implement the new API in the current gateway system?

[2019-05-12 09:08] startailcoon commented on #2568
@manikey123 please report in your progress on this issue. Do you need any assistance?

[2019-05-12 09:14] startailcoon commented on #2563
Sorry for the misunderstanding, now I understand your requirements :)

When a user has a position in the order book, enable right click to cancel all positions on that price that belongs to the user.
- [ ] Add tooltip to inform the user when hovering on a position in the order book that can be canceled.
- [ ] Add "right click" action to fire a cancel action. (Left click is used to send price to th

[2019-05-12 09:28] startailcoon commented on #1963
Sorry for the delayed response @react-cat. As the work involved is to much in contrast to how much we gain from it, I'd suggest we abandon it for now. What we have today doesn't require us to move to the new style-guide to work, though it would be nice at some point get it fixed. I also think we should concentrate on other issues.

You're a new developer to the UI, so I think you've learned a lot

[2019-05-12 12:36] abitmore commented on #2655
Can we make the "put actions to a drop down" a responsive design? For wide screen users, it's not wise to hide them by default, because that means additional clicks.

[2019-05-12 15:49] gibbsfromncis commented on #2679
@sschiessl-bcp why do you need TEST asset?

[2019-05-12 16:05] sschiessl-bcp commented on #2679
Read above comments.

Don't need test specifically, simply any asset. But since you have it and it was a mistake anyways, the UI

[2019-05-12 19:04] abitmore opened #2684 "[1] Add cumulative amount in margin positions table"
**Is your feature request related to a problem? Please describe.**
https://wallet.bitshares.org/#/asset/USD
![image](https://user-images.githubusercontent.com/9946777/57586653-2486bf00-74f9-11e9-923b-b59c08f885ee.png)

I think it's good to have a "cumulative debt" column and probably a "cumulative collateral" column.

**Describe the solution you'd like**
A clear and concise description of what you

[2019-05-12 19:28] startailcoon commented on #2684
To avoid making the table to wide, may I suggest we use a mouse over tooltip that can display the cumulative debt or collateral instead?

[2019-05-12 20:44] abitmore commented on #2684
How about responsive design? I don't know what if the user has no mouse.

[2019-05-12 21:03] startailcoon commented on #2684
A responsive design would be good, but not sure how we should design it. We should have it in mind for the next design.

However, I've pushed an update to allow for a tool-tip. A user without a mouse can still get the tool-tip by clicking on the field for collateral or debt.

[2019-05-12 21:24] abitmore commented on #2684
Honestly speaking, I don't like the mouse-over tooltip. The reason why I (as a trader) want a cumulative debt column is to quickly find out info: if I place an order to buy into the margin calls, E.G. buy BTS with 100K bitUSD, where my order will stop at.

Actually, this table has no such info right now because TCR isn't taken into calculation, total debt or collateral of a position is different t

[2019-05-13 04:54] startailcoon commented on #2684
Thanks for your feedback abit. I'll take another look at it to see what we can do to visualize it

[2019-05-13 06:58] TBAPI-0KA commented on #2592
@startailcoon
Well, it's always easy to check how good it comes out when the code is committed, right? Sorry for the delay -  PR (#2686) is ready now. The short list of changes is presented in the description there.

However, in total it took me more time than I expected initially. 32 hours and 4 minutes of pure tracked development time, without counting communication, etc. I have a more detailed

[2019-05-13 07:24] sschiessl-bcp commented on #704
Let's continue dicsussion once core is finalized.

[2019-05-13 08:17] OpenLedgerApp commented on #2577
@startailcoon, I can take this one.

[2019-05-13 08:35] #2659 closed

[2019-05-13 09:17] sschiessl-bcp opened #2687 "Obtain TEST asset"
I propose to take over the asset TEST and use it for the headline of #2679 initially.

@gibbsfromncis has accidently created this asset a while back and paid `5,789.18749 BTS` for it (fee pool etc. already substracted). If I create a new 5 digit asset now, this would cost the UI worker `1263.03811*0.2 = 252.60`, which would be significantly less. My reasoning is as follows

 - The UI does not care

[2019-05-13 10:09] abitmore commented on #2456
I think #2649 is related.

[2019-05-13 10:10] abitmore commented on #704
Currently `get_objects` API does auto-subscription by default. Behavior can be changed with the in-develop `set_auto_subscription` API (https://github.com/bitshares/bitshares-core/pull/1731,https://github.com/bitshares/bitshares-core/issues/777,https://github.com/bitshares/bitshares-core/issues/726) and "optional subscription" feature (https://github.com/bitshares/bitshares-fc/pull/126).

[2019-05-13 11:28] sschiessl-bcp opened #2688 "[1][dot5enko] Add support for market fee sharing"
https://github.com/bitshares/bitsharesjs/issues/45
https://github.com/bitshares/bitsharesjs/pull/51

[2019-05-13 11:29] #2688 closed

[2019-05-13 11:34] OpenLedgerApp commented on #2563
@startailcoon, I can take this one.

[2019-05-13 12:12] sschiessl-bcp commented on #2594
Available in `bitsharesjs@3.0.0-rc4`

[2019-05-13 12:45] froooze commented on #2563
@startailcoon: We should not overdo it with tooltips, I found them recently annoying, by blocking important UI elements.

[2019-05-13 12:51] froooze commented on #2684
How about a market depth chart with collateral and debt as parameter?

[2019-05-13 12:56] froooze commented on #2656
We have now only bin-file backup solution:
1. Make it clear to back up both: bin-File + Passwort = private key
2. Offer a button to show brainkey and copy brainkey

[2019-05-13 19:29] startailcoon commented on #2684
Does this look more like what you're looking for?

I've removed some of the Asset details, as I think it's unnecessary to  type them out in the headers, as the backing asset is the collateral. This could be explained better with a tooltip if anything needs to be cleared. TCR is explained by a tooltip as well.

![image](https://user-images.githubusercontent.com/12114550/57648499-f15e3180-75c5-11e9-

[2019-05-13 19:49] startailcoon commented on #2687
I agree.

TEST asset should be obtained to the community and can be used for the purpose of on-chain notifications, for example.  The UI worker is the payee account and is part owner together with the community and activity on the asset should be shared like proposed between UI and Bitshares.org.

[2019-05-13 22:12] react-cat commented on #1963
@startailcoon Okay, that's fine.
I'm new to the UI, but I spend enough time to figure out how to make this task done and on my estimate it will took not longer than 20 hours in total including those 8 that I already spend, so just keep in mind that I want to finish this task in future if it would be needed.

[2019-05-13 23:30] froooze commented on #2684
@startailcoon: I thought to put the graphic before the table.

Why not make the table clickable? Standard view with COLLATERAL and DEBT, and by clicking at any point, I get TOTAL COLLATERAL and TOTAL DEBT instead?

[2019-05-14 09:26] abitmore commented on #2687
I thought we had reimbursed the 5K BTS asset creation fee to @gibbsfromncis. @xeroc can you confirm?

[2019-05-14 09:51] abitmore commented on #2687
On 2019-01-10, block 33873691, txid afb204b49f22f57a3ec6b5a3bd1c5bd695be1f1d (tx_in_block=31), there was a proposal created for the committee to "buy" the `TEST` asset from @gibbsfromncis , but it seems @gibbsfromncis didn't approve it so it expired eventually. So it's still up to @gibbsfromncis to make a decision.

[2019-05-14 09:58] abitmore commented on #2563
How to do "right click" on a phone? Long press? How to do "hover"? Tap it? When designing please always remember that bitshares-ui is not for PC only. Thanks.

[2019-05-14 09:59] abitmore commented on #1117
Bump.

[2019-05-14 10:16] abitmore commented on #2684
@startailcoon that table now looks a bit confusing. Sorry. Wish a UX expert join the discussion.  @gibbsfromncis ?

[2019-05-14 11:10] froooze commented on #2684
@abitmore: Yes looks confusing now, what about my solution?

[2019-05-14 11:50] froooze commented on #1669
Can we put this on high priority?

[2019-05-14 12:06] ahdigital commented on #1117
Per discussion above, add option into the settings which will default to using BTS asset to pay fees. E.g.

![image](https://user-images.githubusercontent.com/3088454/57696268-45115f00-7648-11e9-9888-08fa4f3ed372.png)

If the user doesn't have enough funds to be able to pay a fee in the default fee paying asset, open a modal for them to select another asset to continue with.

The modal should idea

[2019-05-14 12:12] sschiessl-bcp commented on #1117
Are those Mockups, or are you secretly coding somewhere else? Glad to see UX from you, I will happily pick that up now :)

[2019-05-14 12:16] abitmore commented on #2684
@froooze click to toggle the column names and data? Sounds interesting, but I don't know if it's good UX, could be confusing as well.

[2019-05-14 12:21] ahdigital commented on #1117
Mock ups for this task.

[2019-05-14 14:30] froooze commented on #2684
@abitmore: If someone clicks without knowing, he will just click once again and get around it.
No extra space is needed.

[2019-05-14 14:33] froooze commented on #2609
I wanted to do a PR this week.

[2019-05-14 15:53] froooze commented on #1792
Can I claim this?

[2019-05-14 16:13] Keegan-lee commented on #2655
Thanks for the clarification. Working on this now. I'll let you know if there are any additional difficulties.

[2019-05-14 17:00] gibbsfromncis commented on #2687
@abitmore yeah, Xeroc contacted me to approve proposal but I miss it. Anyway, I'm still ready to provide all rights for `TEST` asset for community on the same  requirements - if community ready to compensate fee I paid for this asset creation without any profit for my self.

[2019-05-14 17:27] gibbsfromncis commented on #2684
@abitmore @froooze to be honest I'm not sure we will come to this point with new design soon. If it is really important feature we should implement it on old design.

I see the potential solution is to use fixed columns: https://ant.design/components/table/#components-table-demo-fixed-columns

If screen is too small to display any data we can make a scroll inside the page and make important column

[2019-05-14 17:29] gibbsfromncis commented on #2230
@calvinfroedge sure!

[2019-05-14 18:23] abitmore commented on #2687
@gibbsfromncis thank you.

In the proposal @xeroc created, the reimbursed fee was `4,631.34999 BTS`.

On block 31340011, txid cc54108010775464a008091b673c5277d58191c9, 2018-10-13T23:26:57 UTC gibbs-from-ncis created asset 'TEST'    (Fee: 11578.37498 BTS). 50% of total fee, aka 5789.18749 BTS went into asset fee pool then claimed by the owner later, 40% (4631.34999) went to referral program (I gues

[2019-05-14 18:27] sschiessl-bcp commented on #2687
I'm glad our numbers match :)

[2019-05-14 18:27] gibbsfromncis commented on #2687
@abitmore 👍 just let me know when I should move rights and whom

[2019-05-14 19:37] sschiessl-bcp commented on #2672
The user transition must be smooth, I would suggest we keep the wording similar.

Wallet was always the whole shebang, and what you present is the Dashboard.

I personally like the idea of Rossul that we allow "Widgets" on the Dashboard, with the hope that other devs get inspired to contribute fancy / creative widgets

[2019-05-14 19:41] sschiessl-bcp commented on #2671
- Group Transfer sounds nice, yet that would be phase 2. I don't see many users actually needing that
- The first time the users comes in contact with any kind of gateway related things there must be a disclaimer where the user opts-in for gateways. For that we need a gateway overview with quick comparison options. For that purpose we will provide the gateways that want to be listed with a questio

[2019-05-14 19:43] sschiessl-bcp commented on #2672
No, I misunderstood. You have Wallet and Dashboard. Maybe this could be "Balances" then?

[2019-05-14 19:49] sschiessl-bcp commented on #2667
- Sidebar can be solved b a pinnable solution
- While Report was a nice idea, no one uses it
- Footer is not necessary to be visible at all times. Most users don't care about blocktime and connectivtiy. Could be a floating symbol on the bottom right that expands when clicked, and auto expands if error

[2019-05-14 19:58] sschiessl-bcp commented on #2655
I'm with abit here, responsiveness is key.

On a side note: With the redesign going on I'd rather see the core of the wallet improved and not the UI

[2019-05-15 00:14] froooze commented on #2684
@abitmore & @startailcoon: We have a consensus to not use extra space and switch between standard and cumulative view?

I see two options to switch between the two views
1. Make columns clickable
2. Add a cumulative switch on top of the table

[2019-05-15 02:21] Keegan-lee commented on #2655
I don't think the actionDropdown is good UX. See the screenshot below. Once a person has selected the action they want to take, then what? Do they need to then click a confirm button of sorts to actually take the action? This introduces another click into the flow.

Thoughts or suggestions welcome.

<img width="1280" alt="Screen Shot 2019-05-14 at 11 19 31 PM" src="https://user-images.githubuserco

[2019-05-15 08:43] froooze commented on #2667
I want to combine these things:
- Need Help + Beginners guide = HELP
- Membership + Invite & Earn = Membership
- Contacts + Accounts = more in extra topic

News & Voting should have an entry.

Where do you put node info and node settings?

[2019-05-15 08:50] sschiessl-bcp commented on #2667
Yes, I would even say Voting or Governance needs to be a main point in menu

[2019-05-15 09:09] froooze commented on #2667
Where should we put, Spotlight, Asset creation?
Signed messages and Whitelist also in User menu?

[2019-05-15 10:34] ahdigital commented on #268
The feature UX could be as simple as adding a new button to the committee tab on the voting page:

![image](https://user-images.githubusercontent.com/3088454/57769109-0097c900-7705-11e9-954e-53b4f853a284.png)

Which, triggers a modal window:

![image](https://user-images.githubusercontent.com/3088454/57769265-5c625200-7705-11e9-8604-1d399961f55f.png)

[2019-05-15 11:38] sschiessl-bcp commented on #2643
Time spent is 18 due to needed refactoring, adding of spotlight and changes for UX due to user feedback

[2019-05-15 11:39] #2643 closed

[2019-05-15 11:42] dls-cipher commented on #2687
1) appreciate the respect and trust given to Move Institute (Zavod Premik) as owner of bitshares.org
2) @gibbsfromncis - +5
3) BitShares account to be added for multi-sig: zavod.premik

Chee®s

[2019-05-15 11:58] sschiessl-bcp commented on #2687
I have modified the account `bitshares.org-notifications`. I synced with Fabian who suggested in should be a 2/3 owner permission.

Please check @dls-cipher that the permissions are correct.

Once confirmation is done, asset can be transferred.

 @gibbsfromncis the easiest way would be you transfer ownership and get reimbursed through this issue. Is that acceptable?

[2019-05-15 11:59] gibbsfromncis commented on #2687
@sschiessl-bcp yep.

[2019-05-15 12:08] dls-cipher commented on #2687
@sschiessl-bcp - Confirmed and approved on blockchain.

Thanks and chee®s

[2019-05-15 12:11] gibbsfromncis commented on #2687
@sschiessl-bcp transfered.

Please, include additional `252.60273 BTS` as fee for rights transfer

Transaction - https://wallet.bitshares.org/#/block/37460534/18

[2019-05-15 12:13] sschiessl-bcp commented on #2687
Confirmed bounty 252.60273 BTS + 5,789.18749 BTS

[2019-05-15 12:13] #2687 closed

[2019-05-15 12:22] gibbsfromncis commented on #2687
`Total`: `6,041.79022 BTS`

[2019-05-15 12:37] gibbsfromncis opened #2692 "[Wallet Redesign] Texts for Landing Page"
@startailcoon

I need texts for this screen - https://projects.invisionapp.com/share/VHRXABKW786#/screens

You can use my titles and descriptions as idea or update it at all.

[2019-05-15 20:12] froooze commented on #2658
- Make clear proposed transaction means handing over private keys / account to the proposer
- Auto hide proposals from blacklisted accounts
- Two confirmations are needed for proposals, which are not whitelisted

[2019-05-15 22:13] froooze commented on #2630
I wanna claim 0.5 for doing some research and removing dead coins.
#2693

[2019-05-16 23:26] abitmore opened #2695 "BlockTrades requires users to create an account to trade"
**Is your feature request related to a problem? Please describe.**
https://steemit.com/blocktrades/@blocktrades/blocktrades-users-must-now-create-an-account-to-trade-with-us

**Describe the solution you'd like**
Update UI.

**Describe alternatives you've considered**
Disable blocktrades.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-05-17 09:26] dnotestein commented on #2695
I've assigned a members of our team to update the BitShares UI for this. In the meantime, the bridge should continue to function, but trade sizes will be limited.

[2019-05-17 19:24] startailcoon commented on #2684
Making it switchable between cumulative and standard view sounds to me like the most obvious plan, yes.

It would make it easier to overlook, compared to my previous post.

[2019-05-18 16:36] froooze commented on #2658
Three people were scammed only by openledger-security, why does this not have a high priority tag?

[2019-05-19 06:55] vanissoft commented on #1669
Days ago i could store tradingview settings but then this ability has gone.
![image](https://user-images.githubusercontent.com/4522822/57978777-d0596e80-7a13-11e9-87d4-9fe03f7cd4a9.png)

[2019-05-19 12:59] froooze commented on #1669
@vanissoft: Storage works only temporary.

[2019-05-19 22:34] froooze opened #2697 "Prevent BTS balance button from spending all BTS"
**Is your feature request related to a problem? Please describe.**
By clicking the BTS balance link all BTS are inserted for trade and no BTS are left for paying fees.

**Describe the solution you'd like**
The number, which is inserted to the trading form should be reduced by 10 time of the actual transaction fee, to have enough for paying fees.

**Additional context**
We already have this in the

[2019-05-19 22:39] froooze opened #2698 "[1][OpenLedgerApp] Delete button for search/filter input"
**Is your feature request related to a problem? Please describe.**
The old user interface search had a X to clear the input.

**Describe the solution you'd like**
Adding a X to delete the search input.

[2019-05-19 22:46] froooze opened #2699 "MY OPEN ORDERS ckickable for trading input"
**Is your feature request related to a problem? Please describe.**
I get the price from the BUY/SELL order book to the input fields, by clicking.
This does not work with the MY OPEN ORDERS

**Describe the solution you'd like**
MY OPEN ORDERS should also be clickable like the BUY/SELL ORDERS.

[2019-05-19 23:00] abitmore commented on #2697
IIRC we have a form somewhere leaves 10 BTS. I think we can apply the same logic to all forms.

[2019-05-19 23:10] froooze opened #2700 "Increment for BUY/SELL ORDER click"
**Is your feature request related to a problem? Please describe.**
When filling the order book, I want to place my order slightly ahead of certain spots.
Now it depends on the rounding error, where my new order will be placed or I have to manually edit my sell/buy price.

**Describe the solution you'd like**
The BUY ORDER click should be multiplied  by (1 + 10⁻5) for the input field number.
The SE

[2019-05-20 00:01] froooze opened #2701 "[froooze][0.1] Low latency as integer in Nodes"
**Describe the bug**
The low latency number is not a integer as in the footer.

**To Reproduce**
Go to Nodes

**Expected behavior**
The interface should display the ms numbers as integer.

**Screenshots**
![latency](https://user-images.githubusercontent.com/40874087/57990029-efeba800-7aa2-11e9-8073-0e04dc93b32a.png)

**Additional context**
The time in seconds, needs still two decimal places.

[2019-05-20 01:49] froooze commented on #2677
Can we add a filter box for voting to find things faster?

[2019-05-20 07:28] sschiessl-bcp commented on #1669
Corresponding (internal) PR is here if you are interested https://github.com/blockchainprojects/bitshares-ui/pull/89

[2019-05-20 14:16] sschiessl-bcp commented on #268
Should we create separate tasks for your UX that payment is faster?

[2019-05-20 14:44] gibbsfromncis opened #2702 "[13][Wallet Redesign] Dashboard first draft"
This task is about to make a first draft of a design for Dashboard - https://projects.invisionapp.com/share/ZHRXAC4JBRF#/screens in Light Theme to understand find the best stylistics we want.

Our team decided to use similar stylistics to this - https://dribbble.com/shots/4918360-DASHBOARD

Requested Estimate - 15h

This estimate includes:
1) New design of a Dashboard Screen
2) Basic style-guide o

[2019-05-20 14:54] ahdigital commented on #268
@sschiessl-bcp

If that is no problem, yes please.

[2019-05-20 18:31] abitmore commented on #2499
Just FYI BTS++ Mobile App (https://github.com/bitshares/bitshares-mobile-app) now shows detailed account updating info in proposal.

[2019-05-20 18:32] abitmore commented on #2499
By the way I don't understand why an issue with "critical priority" had no progress (?) in about 3 months.

[2019-05-20 19:42] startailcoon commented on #2684
Will make a new commit in a few days and post.

[2019-05-20 23:35] matle85 opened #2703 "State when a proposed transaction will handover control"
**Is your feature request related to a problem? Please describe.**

Scam proposals continue to be a problem and in every case people have not realised what they are accepting until it is too late. This is in part because the text is very generic and relates to 'updating account'.

**Describe the solution you'd like**

For this particular proposal that hands over control it should be stated that th

[2019-05-20 23:39] matle85 commented on #2658
Kencode suggested maybe having a sort of automated white list where only people you have sent funds to previously can create proposals for you.

Accounts could choose to 'accept proposals from everyone' somewhere in the permissions (i.e. for committee accounts that won't fall for scams and need to be open for proposals)

[2019-05-21 08:52] abitmore commented on #2703
For UI, see #2499. For core changes, please discuss in https://github.com/bitshares/bsips/issues/154

[2019-05-21 09:04] sschiessl-bcp commented on #2499
This is how `account_update` will look like
![image](https://user-images.githubusercontent.com/33128181/58082876-29fa9e00-7bb8-11e9-9731-c9b426fdbae2.png)

[2019-05-21 09:05] sschiessl-bcp commented on #2499
I agree that my choice to refactor everything was maybe too extensive for high priority .. Important and quick update was that the "Approve" button get's hidden and the user needs to manually make it visible by unchecking "Hide suspicious"

[2019-05-21 12:46] #2499 closed

[2019-05-21 12:49] sschiessl-bcp commented on #2592
Thanks for the detailed description!

[2019-05-21 12:52] #2592 closed

[2019-05-21 12:55] #2356 closed

[2019-05-21 13:01] sschiessl-bcp commented on #2655
Initial issue was about "in orders", "in collateral", "in vesting balances". Do you have a suggestion?

Maybe @ahdigital has an idea?

Basically following problem: We want to summarize the actions (withdraw, deposit, buy, maybe trade and send) and also add more information to where balances are (orders, collateral, vesting and normal balances). And that all should fit in one row. Since this is a c

[2019-05-21 13:32] Keegan-lee commented on #2655
Right there are two parts to this issue.

1. The addition of "in orders", "in collateral", and "in vesting balances".

2. The removal / tidying / combining into a dropdown menu. I still don't think this is a reasonable solution as the UX would suffer IMO. Open to suggestions here.

[2019-05-21 14:45] startailcoon commented on #2698
Can you give a place in the app where this is?

[2019-05-21 14:47] ahdigital commented on #2655
I agree that there are two issues at play here.

Regarding the second point - Send, Buy, Deposit, Withdraw, Trade, Borrow, Settle and Burn are all triggers to begin a new user journey, because each opens a modal window with a different form to complete. It's not just a 'confirmation' step.

The usage of a drop down comes down to how often each action is used. Are users acting on each row in quick

[2019-05-21 17:10] froooze commented on #2698
Explore -> Assets -> Filter ...
Exchange -> MY MARKET -> Filter

[2019-05-22 14:07] sschiessl-bcp opened #2705 "[3] Freshen up (light) template"
Usage of the styleguide makes the landing page inherently ugly, needs some attention

![image](https://user-images.githubusercontent.com/33128181/58181161-94d8d180-7cab-11e9-915e-6da36ddb6f08.png)

[2019-05-22 14:46] TBAPI-0KA commented on #2592
If you ask about _facts_, after all the fixes and changes, I've spent 34 hours and 32 minutes on development in total, and 4 hours and 45 minutes on the communication.
A fair amount of hours lies out somewhere between 14 and 35. If you ask about my _opinion_, I think qualified dev with good project knowledge (I assume that's what you mean by learning curve here?) would save 2-4 hours because of th

[2019-05-22 17:04] startailcoon commented on #2705
The "No Data" needs a default value so we don't display that icon everywhere we use something that has no data.

[2019-05-22 17:37] startailcoon commented on #2240
Pushed to July to add some discussion time for this issue.

[2019-05-22 17:39] startailcoon commented on #1065
@sschiessl-bcp did you get some thoughts assembled on this topic?
Pushing this to July to enable some discussion time.

[2019-05-22 17:43] startailcoon commented on #2452
Is this issue still relevant? I see we have checksum of files on publish. It still doesn't do PGP signatures though.

Is PGP signatures requested/standard/practice on releases?
If so, should we add some required investigation hours for this task so we can close it up?

[2019-05-22 17:44] startailcoon commented on #2642
I assume this is done, as we now do versioning according to 3.x.xxxx practice.

[2019-05-22 17:44] #2642 closed

[2019-05-22 17:46] startailcoon commented on #2244
@sschiessl-bcp progress on this?

[2019-05-22 17:48] startailcoon commented on #2349
Closing due to inactivity and unknown goal.

[2019-05-22 17:48] #2349 closed

[2019-05-22 17:52] startailcoon commented on #2406
## Update
- [x] https://github.com/bitshares/bitshares-core/issues/782 in Bitshares-Core 3.1.0 release
- [ ] https://github.com/bitshares/bitshares-core/issues/783 still scheduled for Bitshares-Core 3.2.0 Feature Release

[2019-05-22 18:00] startailcoon commented on #2357
When this issue was commented on I wasn't aware we had the DateTime-picker in the style-guide. We should have indeed used that.

AntD: https://ant.design/components/date-picker/
Style-Guide: https://styleguide.bitshares.org/

@twksos care to take a look at this with the style-guide DateTime-picker instead?

We'll increase the hours to accommodate the change. Since it's a new component, I'd say we

[2019-05-22 18:16] startailcoon commented on #2297
@OpenLedgerApp I would say that a `?` symbol is to vague at this place.

I'd say that we add a paragraph after the text, but before the form, stating `Read more about (wallet types) and (backup types)` where the text within `()` links to the pages.

[2019-05-22 18:19] startailcoon commented on #2288
This was blocked by a core issue that was fixed in 3.1.0. Do we have any results on this so we can merge it to main network yet?

[2019-05-22 18:21] startailcoon commented on #2230
Since we will use the same components on any new designs, I'd say we could try to get this merged. Correct @gibbsfromncis?

[2019-05-22 18:23] startailcoon commented on #1963
@react-cat feel free to discuss any other issues that we could assign you in the future as well.

[2019-05-22 18:23] #1963 closed

[2019-05-22 18:59] dot5enko commented on #2288
@startailcoon i'll check it

[2019-05-22 19:00] gibbsfromncis commented on #2705
@startailcoon what do you mean about "default value" ?

[2019-05-22 19:02] gibbsfromncis commented on #2230
@startailcoon sure. I'll take a look on PR in `style-guide` repo and check it. If something is wrong I'll fix and merge it.

[2019-05-22 19:15] startailcoon commented on #2592
It looks good, and it seems quick in response when used with an account with lots of open and active trades.

The new layout looks good imho. Only thing is, as you've noted, the headers of the collapsed tables that aren't aligned compared to each other. Due to the limitations and requirements of this issue I still find this acceptable. You've made a good result based on the limitations of the comp

[2019-05-22 20:01] startailcoon commented on #2705
What I mean is that the component `<Table />` doesn't have a default value when empty, resulting in the "No Data" image with the English text. This should be replaced with something language independent. We have/had a similar issue on forms in various places.

Not exactly sure what else @sschiessl-bcp is thinking on, but it could need a new overhaul/design/idea on what to have the space for?

[2019-05-22 20:27] abitmore commented on #2240
Maximum expiration time of a transaction is one day. Oldest possible TaPoS header is 65535 blocks old. So the user can not sign the order too early. Maybe best experience requires user keeping the wallet online and unlocked?

See https://github.com/bitshares/bsips/issues/170#issuecomment-493879661 "a stop-loss order, which is known to be dangerous if publicly known in advance."

[2019-05-23 13:12] sschiessl-bcp commented on #2679
![image](https://user-images.githubusercontent.com/33128181/58255382-278d7500-7d6d-11e9-89ec-3f8548f21eca.png)

[2019-05-23 13:13] sschiessl-bcp commented on #2679
![image](https://user-images.githubusercontent.com/33128181/58255443-4a1f8e00-7d6d-11e9-948f-83dbd96c62ef.png)

[2019-05-23 13:51] #2679 closed

[2019-05-23 15:42] startailcoon commented on #2679
Looks good. Quick and easy way to hand out a small message to all users.

👍

[2019-05-23 15:44] abitmore opened #2709 "On-chain powered headline for testnet"
**Is your feature request related to a problem? Please describe.**
In branding.js, the asset is hard-coded (#2708):
[code]
We can check the chain-id then use a different asset for testnet.

[2019-05-23 16:58] gibbsfromncis commented on #2702
There are 6 versions: https://www.figma.com/proto/IiodFPl5EckMtBbEHdBjyO3n/BTS-DASHBOARD?node-id=7%3A364&viewport=2009%2C246%2C0.38582053780555725&scaling=min-zoom

Please pay attention to the following things on each version and give your answer:

1. Left Side Bar
- [ ] Dark
- [ ] Light (Page # 6)
2. Left Side Bar Corners
- [ ] Rounded (Page # 5)
- [ ] Not Rounded (Page # 1)
3. Widgets Shadow
- [

[2019-05-23 20:05] startailcoon commented on #2702
1. Left side bar looks good in light/dark. Nothing special there. Personally not a fan of light themes, but I imagine it's as good as it can be in light?
2. Don't like the rounded corner and don't see the need for one. More clean without it.
3. I like the light shadowed boxes better.
4. With borders, personally. Makes them stand out better/easier from the background, with the shadow.
5. Larger rou

[2019-05-23 21:28] TBAPI-0KA commented on #2592
I agree with you regarding alignment. I think this should be fixed somehow. My idea was not to blow up the scope further but create smaller issues instead. This would give more clarity in terms of how much time which particular things take. If you like to, please create a separate issue, and you can assign it to me right over. I'll make all the changes required.
However, the question is "how this

[2019-05-24 00:47] dot5enko commented on #2288
![image](https://user-images.githubusercontent.com/5626922/58295203-ac60a900-7dd6-11e9-9c6e-8ded622864f4.png)

[2019-05-24 08:19] #2297 closed

[2019-05-24 08:37] sschiessl-bcp commented on #2288
Agree with the overhead, sync with core was necessary.

[2019-05-24 08:37] #2288 closed

[2019-05-24 08:41] abitmore commented on #2702
IMHO we don't really need a new look, if only for the look. What we more need is good/better UX, which should be easy to use and easy to understand. Or say, business flow is more important.

To do a re-design, before drawing pages (Visual Design), my questions would be: what do we want exactly? For example, what parts are hard to tweak in our current design but we badly need them?

The design Meth

[2019-05-24 08:48] #2709 closed

[2019-05-24 08:48] clockworkgr commented on #2702
pretty much agree with @startailcoon

[2019-05-24 09:07] sschiessl-bcp commented on #2702
Also agree with @startailcoon choices, except **Widgets border-radius**, which I find better if it's small. Ultimately thats a easily adjustable detail later on.

[2019-05-24 09:09] abitmore commented on #2702
OK, just found #2668 is the summary. I'm behind, will start from there. Sorry for the off-topic comments.

[2019-05-24 09:36] sschiessl-bcp commented on #2592
We have discussed your issue and agreed to a bounty of 24. I hope this meets your expectations, please do voice if not.

We are very happy with your delivery and quality, and would be very happy if you continue to contribute!

[2019-05-24 09:42] sschiessl-bcp commented on #2674
@DimaBLCKCHND Is blockchained-fond the bitshares payout account?

[2019-05-24 10:02] DimaBLCKCHND commented on #2674
@sschiessl-bcp yes it is `blockchained-fond`

[2019-05-24 10:26] clockworkgr commented on #2679
so should we register a few assets for different notifications?

[2019-05-24 10:40] TBAPI-0KA commented on #2592
I think it's a fair amount.

I'm glad you're happy with what I'm doing. I like to work on this project as well. For me, sometimes it's quite complicated to understand the exact requirements of the various issues, and I hardly understand how the priorities are defined. So, please ping me directly if you have any decent piece of work. I think with discussions with @gibbsfromncis I'm capable to do a

[2019-05-24 10:59] sschiessl-bcp commented on #2592
This one comes to mind
https://github.com/bitshares/bitshares-ui/issues/2592#issuecomment-495568105

[2019-05-24 14:27] froooze commented on #2656
Can I claim this? I want to do a draft first.

[2019-05-24 14:30] froooze commented on #2671
Barter, Direct debit, HTLC and Timed transfer to Manage funds menu?

[2019-05-24 15:04] froooze commented on #2655
The TRADE button is the only important one. Send, BUY ... can be put in drop down menu.

[2019-05-26 10:10] dltmd6262 opened #2712 "CORS and 403 error in TradingView when deployed on a server"
**Describe the bug**
There is a network error in TradingView when getting studies.
Two 403 errors occur when getting from 'https://saveload.tradingview.com/1.1/study_templates?client=tradingview.com&user=public_user_id'
and one CORS error from 'https://saveload.tradingview.com/1.1/study_templates?client=tradingview.com&user=public_user_id'

This leads to chart's color breaking (dark theme backgrou

[2019-05-26 11:26] startailcoon commented on #2712
I can see this issue occurring as well, but it doesn't affect me being able to switch the background color of the chart under the chart settings panel. What the file in location `https://saveload.tradingview.com/1.1/study_templates?client=tradingview.com&user=public_user_id` does, I'm not sure of or if it's required.

The trading view chart may not have all settings setup correctly. For example, c

[2019-05-26 11:27] startailcoon commented on #2703
Closed as duplicate

[2019-05-26 11:27] #2703 closed

[2019-05-26 11:31] startailcoon commented on #2700
When you click on the orderbook row of another order, that is the price your form will fill out. You have to manually change that price to suit your needs. I don't think we should manipulate the price to anything else as the user would expect the price to be that one and nothing else.

However, I see your point, but can't see that we have any good ways to handle them automatically for the user wit

[2019-05-26 11:33] startailcoon commented on #2699
Good point, been thinking the same thing recently.

[2019-05-26 11:35] startailcoon commented on #2699
# Task

- User clicks any of their rows in My Open Orders
- Price of row is used to fill in "Sell" and "Buy" for respectively in the same way order book does today.

[2019-05-26 11:40] startailcoon commented on #2698
# Task

- Add clear button on input
- Make it an optional item (ie. `onClearButton: ...` or the like)

Not sure if this requires changes to the style-guide base or can be implemented directly.

cc @gibbsfromncis

[2019-05-26 11:43] startailcoon commented on #2697
Good thinking, it really shouldn't use all BTS when clicking the balance. If the user really wants to use all balance they can edit the form by hand.

[2019-05-26 11:45] startailcoon commented on #2697
# Task

- Always leave 10 BTS when using BTS together with "Balance" links
- Should only apply for BTS. Other assets should use full balance.
- Ensure all forms that uses "Balance" links are doing the same
  - Exchange
  - Any other?

[2019-05-26 11:48] startailcoon commented on #2695
Awaiting PR from BlockTrades team.

[2019-05-26 11:52] startailcoon commented on #2677
Added a rough estimate of this task. Nice work!

[2019-05-26 12:46] dltmd6262 commented on #2712
Right I think what happens because of this error is random. I'm playing around with switching themes on bitshares wallet and I keep getting mixed up background colors. Maybe we should reach out to TradingView too?

[2019-05-26 16:13] startailcoon commented on #2656
@froooze sounds good. I've assigned it to you for 2 hours. Post some drafts of it so we can see your idea.

[2019-05-26 16:23] startailcoon commented on #2655
The actions we have that we can do something with are the following

- Send. Should be visible all the time, as send is an important part.
- Hide. Should be visible all the time, as you should easily be able to hide.
- Trade. Should be visible all the time, as trade is an important part.
- Buy. Most likely not used widely as it's a TradeBlock integration buy.
- Deposit. Somewhat used probably, but

[2019-05-26 16:30] froooze commented on #2701
Can I claim this ?

[2019-05-26 16:31] froooze commented on #2699
Can I claim this?

[2019-05-26 16:32] startailcoon commented on #2630
Approved

[2019-05-26 16:35] startailcoon commented on #2594
Ping @dot5enko

[2019-05-26 16:37] startailcoon commented on #2577
@OpenLedgerApp Assigned

[2019-05-26 16:39] heyasjack opened #2713 "npm ERR! code ELIFECYCLE npm ERR! errno 1 npm ERR! BitShares2-light@3.1.190604-rc1 start: `cross-env NODE_ENV=development node serve` npm ERR! Exit status 1"
Hello, I'm a beginner to bitshares, when I tried to run npm start in /bitshares-ui, it reported a great number of error
`

internal/modules/cjs/loader.js:550
    throw err;
    ^
Error: Cannot find module 'webpack'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:548:15)
    at Function.Module._load (internal/modules/cjs/loader.js:475:25)
    at Module.require (internal/modu

[2019-05-26 16:40] startailcoon commented on #2577
# Task

- When browsing another user, honor the "Never show" selection
- Enable option to show/hide "View only mode" in "Settings -> General"

[2019-05-26 16:42] startailcoon commented on #2568
Needs evaluation after PR https://github.com/bitshares/bitshares-ui/pull/2690.

[2019-05-26 16:51] startailcoon commented on #2563
How I see it, we could do this in two different ways

1. A icon, as we have on open orders. This is not very practical as not all orders can be canceled by the user. It would require some space, that we may not have.
2. A right click or long press to open a popup menu to enable cancel.

Some questions that arise are
- Can we detect a long press for mobile?
- How does one know there is a right clic

[2019-05-26 16:57] startailcoon commented on #2532
Obviously crypto-bridge does this correctly. We should check out their source for this.

[2019-05-26 17:01] sschiessl-bcp commented on #2656
Keep in mind there is a new registration form coming as well. Solution should be Easily transferrable.

[2019-05-26 17:27] startailcoon commented on #1578
Open for claims

[2019-05-26 17:44] startailcoon commented on #2713
Did you run `npm install` before you ran `npm start`?

[2019-05-26 18:15] startailcoon commented on #2609
Closed by the merger of PR https://github.com/bitshares/bitshares-ui/pull/2689

[2019-05-26 18:15] #2609 closed

[2019-05-26 20:02] froooze commented on #2700
My idea was to highlight a `border-top/bottom`, when mouse is on the edge, to another row.

1. Click on the center, nothing change.
2. Click on the edge with a border highlight, new behavior

[2019-05-26 20:09] froooze commented on #2516
Same color for light and dark template? Does this make sense?

[2019-05-26 20:13] froooze commented on #2697
And also the balance button for send?

[2019-05-26 22:26] froooze opened #2714 "[Tradingview] - no chart update"
**Describe the bug**
Tradingview doesn't update chart, when using the market button from asset info page

**To Reproduce**
Steps to reproduce the behavior:
1. USD tab
2. OPEN.EOS -> (OPEN.EOS/bitUSD)
3. Market Picker: OPEN.EOS
4. Find an asset to replace [open.EOS](url)
5. By clicking on open.EOS, I get to Asset info page
6. Clicking on market I get to open.EOS/BTS, but the Tradingview chart still

[2019-05-26 22:33] froooze commented on #2714
#2473?

[2019-05-26 22:51] froooze commented on #2478
Can you add  #1669?

[2019-05-26 22:57] froooze commented on #2563
The only right click function we have now is copy?
The right click menu keeps the UI clean and provides the tools for power user.

We could mention it in the start documentation?

[2019-05-26 23:06] froooze opened #2715 "Show ammount of backing asset"
**Is your feature request related to a problem? Please describe.**
The info page for a bitAsset doesn't show how many BTS where used to back the bitAsset.

**Describe the solution you'd like**
Add to the line **Backing asset** the amount of BTS, which are locked up.

![backing-asset](https://user-images.githubusercontent.com/40874087/58388179-a7406b80-801b-11e9-8162-9436e6b4ae06.png)

[2019-05-26 23:31] froooze opened #2716 "Incositent language for colon at the end"
**Describe the bug**
For normal orders we don't have a colon at the end. For SCALED orders we have a colon at the end.

**To Reproduce**
Go to Exchange:

**Expected behavior**
Always a colon at the end.

**Screenshots**
![Language](https://user-images.githubusercontent.com/40874087/58388439-19667f80-801f-11e9-9c50-7cedbd58f7a0.png)

[2019-05-27 09:21] OpenLedgerApp commented on #2698
@startailcoon, I can take this one.

[2019-05-27 10:45] heyasjack commented on #2713
@startailcoon yes, of course.
When I run npm install, it appeared more than ten error.

[2019-05-27 12:26] sschiessl-bcp opened #2717 "Spotlight: Prediction Market"
From the basic layout it behaves similar to Direct Debit and HTLC. A prediction market is a special kind of bitasset that can be used to allow the users to bet on the outcome of a real world event. In the text below BACKING refers to the collateral of the prediction market (BTS, USD, CNY), and PREDICTIONMARKET refers to the prediction market asset. For other wording, please try to create an asset

[2019-05-27 12:29] sschiessl-bcp commented on #849
Closed in favor of #2717

[2019-05-27 12:29] #849 closed

[2019-05-27 12:56] sschiessl-bcp commented on #1065
Will be added in #2717, but we should add it as an "Asset Action" in the asset overview, for example https://develop.bitshares.org/#/asset/TRUMPIMPEACH

Tasks for this issue:
 - Show a "Resolve prediction" asset actions
     - [ ] Only input is a "Yes" and "No" toggle and "Publish" button
     - [ ] "Publish" is only clickable after resolution date has passed, if not passed show a tooltip

[2019-05-27 13:03] sschiessl-bcp commented on #2717
Pending #1776 for further understanding.

[2019-05-27 13:16] sschiessl-bcp commented on #2679
1 is fine for now, also this one could contain multiple notifications.

[2019-05-27 13:16] sschiessl-bcp commented on #2658
The frontend will soon listen to the blacklist of the account `bitshares.org-notifications`, maintained by UI team and bitshares.org owner. Furthermore, a news headline is added through that account as well (more precisely through the asset `TEST`), see #2679

[2019-05-27 13:19] sschiessl-bcp commented on #2695
@dnotestein

Please present beforehand how you envision handling the user login from the UI side. Two options:
 - add a link to blocktrades signup, blocktrades registers the bitshares account
 - user can signup directly in the UI, which would require KYC input in the UI

In both cases after signup, the UI for the user should be as before, possible showing a "registered" or somethign indicator in t

[2019-05-27 13:23] sschiessl-bcp commented on #2712
TradingView library on our end is 8 months old. I would rather try updating to latest version / checking settings. Please create an issue for that and then close this one.

[2019-05-27 13:25] sschiessl-bcp commented on #2655
Please explore options to allow editing of visible columns through antd table and report back in here.

[2019-05-27 13:25] sschiessl-bcp commented on #2701
Sure, it should in AccessSettings.jsx.

[2019-05-27 13:26] sschiessl-bcp commented on #2699
You can if you really want to :) Exchange code / entanglement is a mess IMO

[2019-05-27 13:27] sschiessl-bcp commented on #2577
Note on the second: This is not meaning that user should not be able to use that mode anymore. Only if the popup comes again or not.

[2019-05-27 13:39] sschiessl-bcp commented on #2700
I find the idea quite interesting.

![image](https://user-images.githubusercontent.com/33128181/58423382-405f9880-8095-11e9-9049-1d14e32a60b1.png)

If you hover to the boarder, you see a label slide in, something like this
![image](https://user-images.githubusercontent.com/33128181/58423482-874d8e00-8095-11e9-9b62-b658e23de3da.png)
Clicking on label puts your order with an %-offset that can be def

[2019-05-27 13:40] sschiessl-bcp commented on #2516
I agree that is an unnecessary restriction. Contrast can be increased, but musnt be same for all templates.

[2019-05-27 13:43] sschiessl-bcp commented on #2697
The amount of minimum BTS left in account should be a Settings value. Furthermore I'd like to see some kind of more sophisticated UX in AmountSelector component. If selected asset is BTS, and some props flag is on, then user needs double click to send full amount. One click fills in amount - buffer amount and displays a yellow notifcation (popup or something) that says "Some BTS have been reserved

[2019-05-27 13:47] sschiessl-bcp commented on #2715
Needs evaluation if that number is easily available

[2019-05-27 13:52] sschiessl-bcp commented on #2698
iirc the little magnifying glass is added via an addon to the input in the UI, not styleguide.
![image](https://user-images.githubusercontent.com/33128181/58424123-fecfed00-8096-11e9-8402-b21d37278625.png)

The "x" should either appear non intrusive within the input, or replace the magnifying glass when content is present. The last option is only possible if the magnifying glass is not used as a b

[2019-05-27 13:53] sschiessl-bcp commented on #2713
Try to separately install `npm install webpack` and report the outcome.

[2019-05-27 14:09] sschiessl-bcp opened #2719 "Visualize transactions and display transaction hash"
Current explorer does not show transactions. Add a visual indent with transaction header information (transaction number in block and transaction id/hash)

[2019-05-27 14:45] froooze commented on #2719
Why not for all actions on the blockchain IDs?
Show only temporary, when clicked on or with a tooltipp, to not use extra space?

[2019-05-27 14:55] froooze commented on #2697
@sschiessl-bcp: Good idead, but we one dialog is enough, with an extra option **Full Send**  next to **Send**,  to overwrite protection.

The Send function is the only thing where it makes sense, to ask the user. For trading or margin position, this is not needed.

[2019-05-27 16:47] startailcoon commented on #2516
Sorry for being vague, I meant that we should find a color (depending on theme) that works for disabled fields. So no restriction to find just one for all.

[2019-05-27 16:48] startailcoon commented on #2699
This shouldn't be to difficult to create, but I agree that it's a tangled mess in that department. It's yours if you want @frooze

[2019-05-27 16:53] startailcoon commented on #2698
Making a non intrusive `X` to the right would be the most common usage I assume. Not sure if we should replace the magnifying glass, could be quite confusing.

Making a new component as `SearchInput` could be a good idea, to make it more search specific for these cases.

[2019-05-27 17:05] startailcoon commented on #2697
Agree

Either this, or a "Use all" text after that doesn't limit the amount. But this only makes sense when doing ops with BTS, so I'm more for the "Double Click" with warning you describe.

No real objection to this. We can set default value to 4.5 BTS. An optional extra task would be to make the default value, if the user hasn't set one by herself, dynamic to 10 x the current Transfer Fee amount

[2019-05-27 17:17] dot5enko commented on #2594
@startailcoon still work in progress

[2019-05-27 17:18] sschiessl-bcp commented on #2594
Work faster!

[2019-05-27 19:15] privatereal opened #2720 "Physical Coin Sent To hltbb"
Hello Bitshares,

In order to understand the issue, please refer to screen grab attached here. Link is below.

On February 24th, I attempted to send .5 worth of BTC off the exchange. In doing so, I errantly pressed the "Propose" button, thinking it was required to make this transaction. In doing so openlegder-dex created proposals for me, which I accepted not knowing what I was doing. A whole seri

[2019-05-27 19:41] MichelSantos opened #2721 "Create HTLC button is disabled"
**Describe the bug**
The "Create" button on the HTLC form is always disabled

**To Reproduce**
Steps to reproduce the behavior:

1. Load the wallet https://develop.bitshares.org.
2. Change the connection to one of the public testnet nodes
3. Log in with a cloud account
4. Click on Spotlight
5. Click on HTLC
6. Type in the name in the recipient account box.  Click on the suggested recipient name.
7

[2019-05-27 19:47] MichelSantos opened #2722 "HTLC SHA256 hash differs from sha256sum in Linux"
**Describe the bug**

The SHA256 of the preimage on the HTLC form differs from the sha256sum in Linux

**To Reproduce**

Steps to reproduce the behavior:

1. Load the wallet https://develop.bitshares.org.
2. Change the connection to one of the public testnet nodes
3. Log in with a cloud account
4. Click on Spotlight
5. Click on HTLC

The preimage that is automatically generated display a SHA256 ha

[2019-05-27 19:55] startailcoon commented on #2716
I would say that it shouldn't be a colon at the end of the text because it's a label, but that's just my view. Second opinions?

[2019-05-27 20:02] MichelSantos opened #2723 "HTLC preimage hash should be editable for second-stage of ACCS"
**Is your feature request related to a problem? Please describe.**

It is desirable to have an editable HTLC preimage **hash** to allow use of the reference wallet for atomic crosschain swaps (ACCS).

ACCS involve two stages.  The first stage occurs on one blockchain, and the second chain occurs on another blockchain.  This scenario is targetting when the second blockchain is BitShares.

During th

[2019-05-27 20:07] MichelSantos opened #2724 "HTLC preimage should be editable for first-stage of ACCS"
**Is your feature request related to a problem? Please describe.**

It is desirable to have an editable HTLC **preimage** for **some** use cases of the reference wallet for atomic crosschain swaps (ACCS).

ACCS involve two stages.  The first stage occurs on one blockchain, and the second chain occurs on another blockchain.  This scenario is targetting when the _first_ blockchain is BitShares.

Dur

[2019-05-27 20:13] startailcoon commented on #2720
I'm sorry to say that the account `openlegder-dex` (note that it's a misspelling of OpenLedger DEX) has sent a proposal to change your account authority. By accepting this proposal, you gave another user access to making transactions on your behalf. The proposer then moved your coins to another account.

On 2019-02-24 14:08, a proposal was sent to you for updating your account data.
On 2019-02-24

[2019-05-27 20:16] #2720 closed

[2019-05-27 20:30] startailcoon commented on #2712
I assume there is an update, I can't find one on their website, https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/

[2019-05-27 20:34] startailcoon opened #2725 "TradingView Library Update"
Update TradingView Chart Library to any latest version.

Related issues #2714, #2712

[Trading View Chart Library](https://www.tradingview.com/HTML5-stock-forex-bitcoin-charting-library/). Not sure who holds the access rights to the library, @svk31?

[2019-05-27 20:35] #2712 closed

[2019-05-27 20:40] sschiessl-bcp commented on #2725
We have access through the ui-dev email, all good. Need to move it to a private repo anyways, I ll look into upgrading

[2019-05-27 20:40] startailcoon commented on #2700
I like the possibility of your idea @sschiessl-bcp. Making this possible when you hover with a mouse I see no issues with. A mobile device is a but trickier. But if we can find a good way to do this, perhaps it can help with https://github.com/bitshares/bitshares-ui/issues/2563

[2019-05-27 20:42] startailcoon commented on #2563
@OpenLedgerApp , any ideas or inputs as you're interested in working on this issue? Perhaps #2700 can give some ideas? The issue we have is how to handle mobile devices as they don't do hover.

[2019-05-27 20:47] froooze commented on #2699
My idea was to use the code from BUY/SELL order click?

[2019-05-27 20:51] startailcoon commented on #2699
Yes, that's the place to start. Use the callbacks used on the order book and apply to the my open orders component.

[2019-05-27 20:57] abitmore commented on #2700
I thought I've fixed the rounding error, when you click on the order book you always get a price which is able to fill when you click. However, because some markets are moving quickly, when confirming the new order, perhaps it won't fill, that's why people want to manually adjust price after clicked.

A simple approach for the user is to click on an order deeper on the book but not the top ones. O

[2019-05-27 21:08] abitmore commented on #2715
That number is not directly available. However, because the first page of debt positions are on the same page, so at least we can estimate:

[code]

[2019-05-27 21:14] abitmore commented on #2715
If really need the exact total collateral amount, please submit a feature request in bitshares-core repository. It's not hard to maintain the data with a little performance penalty; it would need greater efforts to mitigate the performance penalty.

[2019-05-27 21:30] froooze commented on #2661
This is valid, because when I wanna withdraw coins to another exchange/gateway I need a personal memo, like in legacy withdraw.

Memo for withdraw is essential!

[2019-05-27 21:41] abitmore commented on #2719
By the way, please show current block ID as well.

[2019-05-27 22:03] abitmore commented on #2697
The "Send" button is a bit different. The old logic there was for people who trying to empty an account. Leaving 10 BTS would be annoying in that case.

[2019-05-27 22:10] abitmore commented on #2722
[code]

[2019-05-27 22:15] froooze opened #2726 "[0.5] No update for Dashboard pages after account reswitch"
**Describe the bug**
Changing the view to another account and back doesn't change the Dashboard view back.

**To Reproduce**
Steps to reproduce the behavior:
1. Start with own account A
1. Go to Dashboard (all sub pages get no update)
1. Visit account B (from Manage Accounts)
1. Click **VIEW MODE** to switch back
1. No update on UI

**Expected behavior**
Update on UI

**Desktop (please complete th

[2019-05-27 22:19] froooze commented on #2715
@abitmore: It would be enough to calculate the collateral once a day and use only a cached version for the UI.

[2019-05-27 22:40] abitmore commented on #2715
I think calculating once a day will cause more confusion.

[2019-05-27 22:41] froooze commented on #2563
@startailcoon: Power user will find out fast if the right click menu has some useful tools. Everything we add to the UI makes it not better.

[2019-05-27 23:02] froooze commented on #2700
Sometimes I am ahead of the clicked order, sometimes I am behind the clicked order

Doesn't solve the problem.

If I increase my buy order or decrese my sell order, my order will be matched more likely.

Or rethink the rounding ?

Please keep in mind (1+10⁻5)^100 is a increase of 0.1%

Options:
- Auto increase/decrease by 10^(-5) without any UI extras
- Increase/decrease by custom amount with UI o

[2019-05-27 23:46] abitmore commented on #2700
Current behavior is: if you click on a sell order on the order book, don't change the price, submit a buy order, then your order **will match** with the sell order. If your order didn't match, then it's a bug related to rounding, which should have been fixed in https://github.com/bitshares/bitshares-ui/pull/565.

@froooze I guess I got what you want. You clicked on a sell order on the order book,

[2019-05-28 00:05] abitmore commented on #2700
About UX:

When placing a new order, `price * amount1 = amount2`.

On many exchanges, traders input price and amount1, the amount2 is derived.

On BitShares, actually traders input 2 amounts, the price is derived.

So, for the feature requested in this issue, it's wise to lock the smaller (in Satoshi) amount and adjust the bigger amount by 1 Satoshi or a few Satoshis, let the price change by itsel

[2019-05-28 02:34] privatereal commented on #2720
Thanks for that. Hugely appreciated and glad I could help out in securing the site better by providing my example. I got the hit up for a proposal immediately after initiating a withdrawal off the exchange through openledger-dex. The proposal came within seconds of sending coin off the exchange by the hardly indistinguishable account "openlegder", as you know, and the rest is history. Pretty good

[2019-05-28 04:15] startailcoon commented on #2726
Yeah, this isn't good. The view of the current page should update with the new account data when you click "View Mode".

# Task

- Update current view when clicking `View Mode`

[2019-05-28 04:21] startailcoon commented on #2700
Regarding locking any of the inputs, like we have on the debt position we have issue #2075 on that. I guess that issue would solve this one, perhaps together with an easy way to increase/decrease the non-locked input field.

[2019-05-28 04:32] startailcoon commented on #2697
Perhaps we should limit the scope of this issue to only be the exchange for the moment.
The "Send" operation could go into a new issue if we want to make something for that one as well.

We should probably add a setting as default usage, if and when it's used elsewhere.

- Setting:
  - **Hold BTS for transactions**: ['0 (off)', '10 x Transfer Fee', '\<user defined\>']

[2019-05-28 04:42] startailcoon commented on #2715
A core issue has been submitted for this issue. I see no reason why this shouldn't be included in the asset bucket as it would be to much work for the UI to iterate all the margin positions by hand. The goal is that backed asset would have a lot of margin positions, which would be to much in the long run for the UI (and backend) to manually calculate.

[2019-05-28 04:48] startailcoon commented on #2695
This would impact the "Buy" modal when using Block Trades, which is at the moment the only one we support. This modal would require some changes as @sschiessl-bcp mentions.

When selecting a system for the buy order, it would need to support to view if a user is logged in or not, regardless of the case if the user can sign up within the UI or not. A user would still need a login option for the bri

[2019-05-28 06:47] sschiessl-bcp commented on #2695
Authentification keys can't / shouldn't be necessary. Gateway must / should recognize with the given bitshares account name if that account has KYC.

[2019-05-28 09:37] sschiessl-bcp commented on #2720
If the scammer does not give back control of that account, consider it lost
`prvtrl`

[2019-05-28 09:39] sschiessl-bcp commented on #2563
The mobile view is a mess and sluggish .. I would rather have two components (that reuse the functional components) to be honest instead of this one monster.

What I mean, don't be influenced too much by the need of responsive design.

[2019-05-28 09:39] sschiessl-bcp commented on #2722
@MichelSantos How did you calculate the hash exactly?

[2019-05-28 09:41] sschiessl-bcp commented on #2661
Not completely true. It depends on the support of the gateway. Some do allow that user specifies the memo, this is dynamically added. Does Rudex offer memo in Legacy?

[2019-05-28 09:44] sschiessl-bcp commented on #2712
TradingView requires access to their private github, code is not open source.

[2019-05-28 10:34] froooze commented on #2661
Rudex offers memo in legacy and others too, which was the only way to send my EOS to the exchange.

[2019-05-28 13:30] froooze opened #2728 "[0.5] Enable filter asset selector on SEND"
**Describe the bug**
Go to Send, searching for bitAssets or Gateway IUOs brings no search results

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Send
2. Browse through the list of available assets
3. Search for a bitAsset or Gateway IUO
4. no data

**Expected behavior**
List available coins, with prefix (bit, Open ...) and suffix (EUR, EOS).

**Screenshots**
![search](https://user-ima

[2019-05-28 14:40] OpenLedgerApp commented on #2726
@startailcoon, I can take this one.

[2019-05-28 15:35] MichelSantos commented on #2722
@sschiessl-bcp I was testing with

1. sha256sum -t
2. Entering text, and clicking Enter
3. Ctrl+D

I also tested by placing the pre-image into a file and then calling

1. sha256sum filename

But both approaches were inserting newlines.  After ensuring that no newlines were being inserted, according to the helpful tip by @abitmore, I was able to get the same hash as in the reference wallet.

I'm so

[2019-05-28 15:35] #2722 closed

[2019-05-28 15:47] genievot commented on #2701
Thanks to @sschiessl-bcp for pointing the file,
Can be solved with changing at line 193 to
let pingInMs = parseInt(this.props.node.ping);

[2019-05-28 19:03] startailcoon commented on #2728
Confirmed.

When you try to filter the asset list it will give you a "No Data" error when you click the list.
If there is only one asset, the list will directly give you a "No Data" error when you open it.

# Task

- Allow filtering of assets
- Create a new placeholder when there is nothing matching
- When only one asset is available, disable the list.

[2019-05-28 19:11] startailcoon commented on #2563
Good point. Still, how can we solve this on desktop if we set mobile functionality aside for the moment?

[2019-05-28 19:13] startailcoon commented on #2726
It's yours

[2019-05-28 19:17] startailcoon commented on #2288
Increased

[2019-05-28 19:26] startailcoon commented on #2695
Right, I was viewing this as a login with username and password. If it just goes by bitshares account name and a checked KYC for that account name, then there's no need. Lets see the requirements from BlockTrades.

[2019-05-28 19:47] startailcoon commented on #2473
@sschiessl-bcp you assinged yourself to this issue. Will you be clearing this issue?

[2019-05-28 19:48] startailcoon commented on #2714
Duplicate of #2473

[2019-05-28 19:48] #2714 closed

[2019-05-28 20:57] twksos commented on #2357
@startailcoon will work on replace the DateTime picker

[2019-05-29 00:24] froooze commented on #2656
I just found out, that Brainkey contains username and private key. For restoring Brainkey needs no username.

Where can I look at the files for new login ?

[2019-05-29 01:20] twksos commented on #2357
@startailcoon I just checked the latest code.
Commits in #2356 has already applied new AntD date picker and the jumping around issue has gone with the old date picker.

[2019-05-29 01:41] genievot commented on #2283
Can I pick this issue?

[2019-05-29 01:48] genievot commented on #1486
Can i pick this one as well @sschiessl-bcp ?

[2019-05-29 04:20] startailcoon commented on #502
If not mistaken, haven't tested though, es_objects does store feed price.

Relevant code bits are

https://github.com/bitshares/bitshares-core/blob/cdc2db30c2f06aaddbfda965ee270b99dc24e0aa/libraries/plugins/es_objects/es_objects.cpp#L307

https://github.com/bitshares/bitshares-core/blob/cdc2db30c2f06aaddbfda965ee270b99dc24e0aa/libraries/plugins/es_objects/es_objects.cpp#L256-L257

[2019-05-29 04:31] startailcoon commented on #1045
Waking this issue again. What we need is a section where we display all the data from object 2.0.0 in a nice and understandably manner. Perhaps as a section under explore, much like the Fees page we have today.

[2019-05-29 09:47] OpenLedgerApp commented on #2728
@startailcoon, could I claim this one?

[2019-05-29 12:06] OpenLedgerApp commented on #2657
@startailcoon Could you please clarify the following:

What info should be in the raw json? this object or trx object or smth else?
![image](https://user-images.githubusercontent.com/42674402/58555203-8fd2cf80-8221-11e9-8f36-d2290e13065b.png)

How should it be displayed?like this?
![image](https://user-images.githubusercontent.com/42674402/58555489-4931a500-8222-11e9-8a4d-c99f4c247107.png)

[2019-05-29 12:53] sschiessl-bcp opened #2731 "[HTLC Orderbook] swap.online"
palceholder, details later

[2019-05-29 12:53] sschiessl-bcp opened #2732 "[HTLC Orderbook] switcheo.network"
placeholder, details later

[2019-05-29 12:59] WilliamCruz opened #2733 "ZRX deposit not reflecting account"
On may 27, 2019; I made a deposit of −98.60542488 ZRX to my bitshares wallet from coinbase and this has not reflected my bitshares account. I have attached the transaction hash:

0x0dfb1e098d132dd669ac9dc68d7864b333ef7e900bb77831b4def6537082a3e6

Thank You.

[2019-05-29 13:18] sschiessl-bcp commented on #2733
You have used one of the gateways on the blockchain, presumably through OpenLedger. Please open a support ticket with them.

[2019-05-29 13:18] #2733 closed

[2019-05-29 21:44] dot5enko commented on #2594
@sschiessl-bcp  for some reason `Available in bitsharesjs@3.0.0-rc4` not contains that serialization in it.

[2019-05-30 04:42] shulthz opened #2734 "[1] Vertical order book width is sometimes to small"
![图片](https://user-images.githubusercontent.com/34892308/58608929-54dfa300-82d8-11e9-8fc0-56149a6a47ba.png)
![图片](https://user-images.githubusercontent.com/34892308/58635767-49649a00-8321-11e9-91c4-9989cb5e4575.png)

I think need to low the NUMBER OF DECIMAL POINTS and asjust the font.

https://www.huobi.co/en-us/exchange/btc_usdt/
![图片](https://user-images.githubusercontent.com/34892308/58609568-

[2019-05-30 13:19] abitmore commented on #2734
It's not due to number of decimals after the decimal point, but the numbers before the decimal point. HB's order book is not as thin as GDEX. For this kind of extreme case, I guess it's necessary to show the horizon scrollbar.

By the way, the `0.00001000` amount is clearly a bug, because GDEX.ETH's precision is 6, aka at most 6 decimals after the decimal point.

[2019-05-30 16:28] Keegan-lee commented on #2655
https://ant.design/components/table/#components-table-demo-fixed-columns

I think the fixed-columns would be a good way to accomplish what we're looking for. A subsection of the table would be scrollable, allowing for the fitting of every action we want to be there, all the while being mindful of the UI/UX and not having too many items in the table.

Thoughts?

@sschiessl-bcp

[2019-05-31 06:20] startailcoon commented on #2657
@OpenLedgerApp Exactly the spot. It's mainly to make it possible to view under the "Explorer -> View Block" section rather than when you make a new TX, which you probably know what it does.

The Raw TX should view the JSON object for the TX in question, just like when we don't have a pretty view for an operation. You can view how we do on that when we have no match for a "TX Translation".

I imagi

[2019-05-31 06:22] startailcoon commented on #2728
@OpenLedgerApp assigned

[2019-05-31 06:34] startailcoon commented on #2734
Indeed, when an orderbook is so narrow it displays all the obscure orders at the end of it we have a few markets with up to 10000x the market price, making the table unable to hold all the digits.

We need to look closer to the horizontal order book view for this. The vertical orderbook doesn't have this issue as it's limited to how many orders it displays initially.

[2019-05-31 06:38] startailcoon commented on #2719
Exactly where in the application are we talking?

[2019-05-31 06:53] startailcoon commented on #2661
Thanks for the information about these edge cases. I wasn't aware of them.

# Task

- Investigate cases when `Memo` is required to be specified by the user on withdraw
  - Includes all current Gateways and their assets
- Implement edge cases in `Withdraw Modal`
- Add new gateway setting for the cases to follow internal standard

[2019-05-31 12:25] OpenLedgerApp commented on #2657
@startailcoon ok, thanks for clarifying. Can i claim this one?

[2019-06-01 10:36] startailcoon opened #2736 "[5] Update Asset PriceFeed/MarginPosition with Style-Guide Table"
The Asset information page needs to be updated to the new Style-Guide table code.

# Tasks
- Replace old components with the new Style-Guide components
- Ensure we lacy load components (not done today)
- Include #2684

[2019-06-01 14:52] startailcoon commented on #2736
## Margin Positions

### Margin Warning
Margin positions now has an icon instead of previous filled background.
Danger icon = below MCR
Warning Icon = near MCR

![image](https://user-images.githubusercontent.com/12114550/58750052-5d2d0f00-848d-11e9-8503-72bec47544c4.png)

### Header
![image](https://user-images.githubusercontent.com/12114550/58750009-f3146a00-848c-11e9-9d49-5bd36517633a.png)

###

[2019-06-01 17:59] startailcoon commented on #2684
See issue #2736 for details

[2019-06-01 21:36] sschiessl-bcp commented on #2736
Did you account for collateral bid positions?

[2019-06-02 05:07] startailcoon commented on #2736
Indeed I did. There where also some fixes to some missing translation.

### Collateral Bids

![image](https://user-images.githubusercontent.com/12114550/58757057-f51a0f80-8504-11e9-8b3e-b68068c20a92.png)

[2019-06-02 06:26] startailcoon commented on #2370
Issue fixed.

There where a few issues with the code for this asset.

- We had Core asset as always the backing asset. Fixed
- Asset has no valid price data to calculate the ratios. Fixed
- Asset has no valid fees to display the feed table. Fixed

![image](https://user-images.githubusercontent.com/12114550/58757624-c05f8580-850f-11e9-9ae8-49327f2ea474.png)

![image](https://user-images.githubuserc

[2019-06-02 07:36] startailcoon commented on #2004
Issue #2005 and #2007 is in need of fixing, and would require most of this Modal to be converted to Ant components. I'm capable of fixing these issues, and move it over to Ant in the meantime. Wouldn't be a new UX for this, only code cleaning and fixing.

cc @gibbsfromncis @sschiessl-bcp as you've both said held on this issue.

[2019-06-02 07:52] heyasjack opened #2739 "Error cross-env: not found and npm ERR! code 128 and a lot error"
Now using node v9.11.2 (npm v5.6.0)

sh: 1: cross-env: not found
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! BitShares2-light@3.1.190604-rc1 start: `cross-env NODE_ENV=development node server.js`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the BitShares2-light@3.1.190604-rc1 start script.
npm ERR! This is probably not a problem with npm. Th

[2019-06-02 08:09] heyasjack commented on #2739
I think maybe it was something wrong in installing nvm node and npm.
How can I uninstall all the nvm node and npm things?

[2019-06-02 08:11] heyasjack commented on #2713
npm ERR! code 128
npm ERR! Command failed: /usr/bin/git clone --depth=1 -q -b master https://github.com/bitshares/alt.git /root/.npm/_cacache/tmp/git-clone-49f65053
npm ERR! fatal: could not create leading directories of '/root/.npm/_cacache/tmp/git-clone-49f65053': Permission denied
npm ERR!

npm ERR! A complete log of this run can be found in:
npm ERR!     /root/.npm/_logs/2019-06-02T08_05_41_63

[2019-06-02 11:44] startailcoon commented on #2004
After talking with Gibbs, we'll work on fixing the issues as well as moving to the new components in Style Guide. I will not work on a new UX design, but may bring in some changes based on the issues feedback.

[2019-06-02 12:41] heyasjack opened #2740 "ERROR in ./app/assets/stylesheets/app.scss"
Hello, I have some problems in npm install and npm start
npm -v
5.6.0
node -v
v9.11.2

When I connected to 0.0.0.0:8080 it reported:

ERROR in ./app/assets/stylesheets/app.scss (./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/src!./node_modules/sass-loader/lib/loader.js??ref--11-3!./app/assets/stylesheets/app.scss)
Module build failed (from ./node_modules/sass-loader/lib/loader

[2019-06-02 12:45] heyasjack commented on #2740
I check with `npm -v` then it reported
npm -v
5.6.0
node -v
v9.11.2

but why did it showed in the debug report that
 2 info using npm@3.5.2
3 info using node@v4.2.6

[2019-06-02 13:11] heyasjack commented on #2740
I got it!
I tried tried tried …… and tried.
run
npm install or
npm i -g npm@5.6.0

[2019-06-02 14:07] startailcoon commented on #2004
Here are a few updates that I will do

## Lockable Asset Amount field
All asset amount fields will be able to have a lock/unlock icon appended to them so it can be used for locking functionality elsewhere. Those without will look as normal

![image](https://user-images.githubusercontent.com/12114550/58762442-53b8ab00-8550-11e9-9154-792c72d017ed.png)

[2019-06-02 14:15] sschiessl-bcp commented on #2004
Since you are touching it, one thing you could ensure is that view and
business logic.is properly separated

Am 2. Juni 2019 4:08:02 nachm. schrieb startailcoon <notifications@github.com>:

[2019-06-02 21:10] startailcoon commented on #2004
If that is something we should do now, I could look into that.

[2019-06-03 04:17] startailcoon commented on #2577
Sorry, was I unclear about that? It is of course to allow the user to be able to enable the popup for "View Only Mode" again. If the user clicks "Never show", they should be able to revert that setting.

### Example
- User x goes to user y wallet
- User x is displayed the "View only mode" popup
- User x clicks "Never show" button
- User x wish to see the popup whenever they are on any other accoun

[2019-06-03 04:22] startailcoon commented on #2657
@OpenLedgerApp it's already assigned to you, so feel free to work and push a PR on it.

[2019-06-03 04:26] startailcoon commented on #2297
I see you added the links within () signs. That was just a way to explain which parts where supposed to be clickable. We should remove those again without the () around them.

[2019-06-03 05:38] startailcoon commented on #2005
I've started to work on this on, and what I've come to work best is the following

- Either Debt or Collateral is locked by default.
- Locking one unlocks the other
- Ratio can be locked, which overrides any locked Debt or Collateral fields. When either of these changes, ratio sticks and forces the other input to change accordingly. Ratio can still be moved manually, but will not change based on t

[2019-06-03 12:33] sschiessl-bcp opened #2742 "Further voting refactor"
<h1>Tasks</h1>
- Add more text in header
- Enhance visualization of rows (progress bar for workers, yes/no for polls, acceptance for committee/witnesses)

[2019-06-03 20:39] sschiessl-bcp commented on #2005
What is the current logic?

[2019-06-03 20:43] sschiessl-bcp commented on #2004
Could the icon be hovering outside on the left side of the input in blue? Not sure if better, the left prefix is not rocking my UX buds

[2019-06-03 20:48] sschiessl-bcp commented on #2740
Cool! So you might have had the old version user/locally installed.

[2019-06-03 20:48] #2740 closed

[2019-06-03 20:49] sschiessl-bcp commented on #2713
Are you accessing github with https and username/pw or with ssh and ssh key?

[2019-06-03 20:50] sschiessl-bcp commented on #2739
Duplicate of #2713

[2019-06-03 20:50] #2739 closed

[2019-06-04 02:05] froooze commented on #2005
@sschiessl-bcp: the actual logic drove me nuts

@startailcoon: Your logic looks good, and I want to add this:
* Collateral and Ratio needs to be default locked
* Default CR = 2*MCR
* Default Target Ratio = MCR
* Locking Debt should unlock Collateral and vice versa

[2019-06-04 02:17] froooze commented on #2004
@startailcoon:
The lock should as big as the box high.
I like the actual version, even a little bigger, without any boarder more with some white space between.

[2019-06-04 02:57] shulthz commented on #2734
https://olddex.cybex.io/market/JADE.BTC_JADE.USDT

[2019-06-04 07:51] #2702 closed

[2019-06-04 08:04] #2684 closed

[2019-06-04 08:04] #2736 closed

[2019-06-04 08:11] sschiessl-bcp commented on #1117
UX bounty exported to other issue

[2019-06-04 08:11] sschiessl-bcp opened #2745 "[ahdigital][4] UX for #1117"
https://github.com/bitshares/bitshares-ui/issues/1117#issuecomment-492209474

[2019-06-04 08:11] #2745 closed

[2019-06-04 08:14] #2577 closed

[2019-06-04 08:21] #2698 closed

[2019-06-04 08:26] #2726 closed

[2019-06-04 08:47] #2728 closed

[2019-06-04 09:19] dot5enko commented on #2594
@startailcoon can we adjust the bounty to 2.5h? it was a lot of investigation and stuff needed cause asset create/update components are a little bit hardcoded/copypasted. Also bitsahresjs was a little bit fixed https://github.com/bitshares/bitsharesjs/pull/52 in collaboration with @sschiessl-bcp

[2019-06-04 09:36] sschiessl-bcp opened #2746 "[15] Beet development (until 24th of May)"
- support for hackathon
 - several hotfixes for small bugs
 - building out examples for beet-js
 - inclusion of binance chain mainnet and bitshares testnet
 - fix raw transaction signing to enable reference UI integration
 - refactored connection handling and import option component handling
 - other minor bugfixes and refactorings

[2019-06-04 10:54] #2677 closed

[2019-06-04 11:23] froooze opened #2747 "[0.5] Withdraw function wrong ammount"
**Describe the bug**
I wanted to send 1 RUDEX.EOS, but in confirmation window the amount changed to 1.7 RUDEX.EOS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Withdraw
2. Select RUDEX.EOS
3. Withdraw 1 RUDEX.EOS
4. Withdraw amount is 1.7

**Expected behavior**
Same amount

**Desktop (please complete the following information):**
 - OS: MX-Linux
 - BitShares.190424

**Additional cont

[2019-06-04 11:29] froooze opened #2748 "Accept terms of service for CryptoBridge"
**Describe the bug**
Cryptobridge requires to accept the term of service to use their platform, now.
Using the Deposit function does not show this and coins do not show up in balance.

**Expected behavior**
Show a button to accept terms of service, if terms of service were not already accepted.

**Desktop (please complete the following information):**
- Bitshares.190424

**Additional context**
htt

[2019-06-04 11:42] sschiessl-bcp commented on #2677
Bounty request in PR https://github.com/bitshares/bitshares-ui/pull/2741#issue-284542766

[2019-06-04 11:43] froooze commented on #2716
At the second time, I like the one without colon more.

[2019-06-04 11:45] froooze commented on #2715
Why?

[2019-06-04 17:48] gibbsfromncis commented on #2671
@froooze it is the MVP and we do not design features you mentioned above at this point

[2019-06-04 18:52] gibbsfromncis commented on #2705
This one took `3h`:
- All changes separated to variables
- Changes apply to all themes

(It should took up to 2 hours but took 3 hours because I was confused about the bug related to tabs text align)

[2019-06-05 09:11] #2594 closed

[2019-06-05 09:18] CryptoKong opened #2750 "Customise account balance for each account"
Allow users to select a different asset for account balance to be measured in for each account in local wallets.

One of the reasons people use various accounts is because they are trading various markets, in many cases it makes sense to have these account balances measured differently. Allowing users to set different assets as the measure of account balance would be very helpful.

Ideally this wo

[2019-06-05 11:19] OpenLedgerApp commented on #2504
@startailcoon, if this task is unassigned, I can take it.

[2019-06-05 17:51] startailcoon commented on #2504
@OpenLedgerApp It's yours. Everything clear on the task?

[2019-06-05 18:14] manikey123 commented on #2504
Sorry for delay on this. I got sidetracked with bitshares boston hackathon and subsequently helping on beet tickets. I can resume on the task , if you dont mind.

[2019-06-06 06:29] #2705 closed

[2019-06-06 06:42] sschiessl-bcp commented on #2655
I was thinking a more sophisticated approach where we introduce a higher-level configurable table component that allows configuration of columns (e.g. as done here https://stackoverflow.com/questions/53952293/antd-ui-table-dynamically-add-delete-columns)

Example (not meant as a mockup):
![image](https://user-images.githubusercontent.com/33128181/59012072-d1bdd000-8836-11e9-85a9-341d2a3b1642.png)

[2019-06-06 07:40] #2721 closed

[2019-06-06 07:40] sschiessl-bcp commented on #2721
Bounty request: 1

[2019-06-06 10:34] #2723 closed

[2019-06-06 10:34] #2724 closed

[2019-06-06 10:41] sschiessl-bcp commented on #2748
@mindphlux1

[2019-06-06 11:05] sschiessl-bcp commented on #2723
Bounty requested: 1.25

[2019-06-06 11:05] sschiessl-bcp commented on #2724
Bounty requested: 1.25

[2019-06-06 11:28] OpenLedgerApp commented on #1045
@startailcoon, could you please clarify the folowing:
-what should the title be for this section?
![image](https://user-images.githubusercontent.com/42674402/59028380-2f1c4600-8864-11e9-83f2-6ebbb50c8013.png)
-do you want to show all the data from the object?(we can see the part of this information in these tabs)
![image](https://user-images.githubusercontent.com/42674402/59028858-4c9ddf80-8865-11