[2019-06-06 13:39] sschiessl-bcp commented on #1045
First step:
Please create a summary table (here in github) that explains what each parameter is doing. We need to make this comprehensive.

Then we can summarize them according to topics and display them like shown in your last picture.

[2019-06-06 21:17] Keegan-lee commented on #2655
@sschiessl-bcp - I do think this would be better suited in a different issue. The original issue is completed, and I'm 4-5 hours into the issue. I like your this suggestion though, thank you for the articulation. I'd be happy to take on the new issue once its created.

[2019-06-07 09:24] sschiessl-bcp commented on #1065
Adusted scope a bit, see PR.

Bounty request: 4.5
Hours worked: 8.5

[2019-06-07 14:01] startailcoon commented on #2005
The current logic is that when you change an input it will change the ratio, as either debt or collateral is locked. The problem is that you may want a specific ratio, like 2, and that is not possible today as any input will change the ratio.

So to set a dept of 10 and collateral of 100 with a ratio of 2 you may need to adjust one or more fields several times to get to the solution you desire.

W

[2019-06-07 14:03] startailcoon commented on #2004
The lock is indeed visually difficult to see, so I've added colors to them. But this is up to the style guide to change if needed.

[2019-06-07 17:20] startailcoon commented on #2004
Why doesn't this "rock your UX buds"? The lock is clearly a part of the input value, and having it hovering on the side of the input, as we have had, is to me much worse.
Could it be better if we didn't have the borderd box around it and just appended before the input?

### Preview

Attached is a preview of the new modal.
Also including separation of logic code.

![image](https://user-images.githu

[2019-06-07 18:47] startailcoon commented on #2747
This is indeed not right. Unless the UI displays the wrong gateway fee for RUDEX.EOS it should be 1 RUDEX.EOS. The fee for OPEN.EOS is 0.7, maybe this is interfering with it? It should be looked at.

[2019-06-08 09:24] startailcoon commented on #2504
@manikey123 I unassigned this from you after 4 weeks of no updates and it was that for another 10 days before it was re-assigned again. Please follow up on your issues in the future and post an update if there are delays. This is one of the requirements stated in [CONTRIBUTING.md](https://github.com/bitshares/bitshares-ui/blob/develop/CONTRIBUTING.md)

[2019-06-08 09:28] startailcoon commented on #2655
I would suggest that we merge the work today with the new fields completed by @Keegan-lee to finalize the current issue scope. A new component, as you suggest @sschiessl-bcp, should be made into a new issue and worked on there instead. It would allow the current task to finish and the new one to form before we start its work.

@sschiessl-bcp please create a new issue for the advanced table ideas.

[2019-06-08 09:32] #2107 closed

[2019-06-08 11:46] startailcoon commented on #2540
Currently we use the function `AccountStore.isMyAccount` on many places of the application. This function is not working very well on the cloud account level as it's only designed to analyze if the account has the proper owner/active keys (partial or full).

https://github.com/bitshares/bitshares-ui/blob/94497cd436da4955cd1831421a473c3fd2599e30/app/stores/AccountStore.js#L564-L568

When using this

[2019-06-08 11:51] froooze commented on #2656
The bin-file download does now trigger a redirect to the exchang.

This draft is added below our bin-file download button:

Text: I can fully restore my account with this brainkey, if I lose my bin-File or passwort
Button1: Show Brainkey!
Action1: Button1 is replaced by a text box with the brainkey and copy button
Action2: Button2 shows below text box
Button2: I have written down my Brainkey!
Acti

[2019-06-08 12:03] sschiessl-bcp commented on #2004
https://user-images.githubusercontent.com/12114550/59124940-42f9a200-8961-11e9-9b47-da61d9cdb765.png

This I like much better

[2019-06-08 13:24] startailcoon commented on #2716
According to [documentation](https://ant.design/components/form/) we should use `colon={false}`. This does not work for me though. Please have a look @gibbsfromncis

[2019-06-08 13:32] #2540 closed

[2019-06-08 19:40] froooze commented on #2005
@startailcoon:
- Using the default lock between Debt or Collateral is a personal preference. I second opinion is needed here, if a borrower starts with BTS or with Debt.

- The lock is needed at the beginning to prevent ratio changes during editing collateral or debt
- We have some consensus for default value of MCR = 3 (because BTS lost about 67% in a row on the hardest crashes)
- We have also a

[2019-06-08 19:42] froooze commented on #2004
@startailcoon
- The ratio slider should be below and as wide as possible to allow changes of 0.01.
- Ratio and TCR should be in the same line, next to each other

[2019-06-08 23:36] manikey123 commented on #2504
sorry about above. will take note going forward. resuming on the ticket.

[2019-06-09 06:22] startailcoon opened #2753 "[2][3.1.190618-rc1] Integration Testing"
Release notes of the corresponding candidate can be found here:
https://github.com/bitshares/bitshares-ui/issues/2641

<h1>Looking for Integration testers</h1>

This issue is to track integration tests of the mentioned release candidate. Targets are the most popular platforms
 - Mac
 - Windows 7 / 10
 - Linux
 - Android
 - iOS

and for each for the most popular browsers
 - Chrome
 - Firefox
 - Ope

[2019-06-09 06:25] startailcoon opened #2754 "[0.5][3.1.190618-rc1] Maintain Language"
Translations are done through transifex, please find the file here

https://www.transifex.com/bitshares/bitshares-ui-1

Bounties:
 - Translate per Word: Complete Chinese, Russian, German and Spanish. When assigning a language, please state before how many words are missing. Bounty $0.15/word, according to https://search.proz.com/employers/rates plus BitShares knowledge as bonus, open to discussion

[2019-06-09 06:54] shulthz commented on #2754
I will translate Chinese.

[2019-06-09 12:38] abitmore opened #2755 "[6.5] Show info about pending force-settlement orders in account info"
**Is your feature request related to a problem? Please describe.**
When a user requests a force-settlement, if the asset is not globally settled, the requested amount will be deducted from balance and be placed in a new settle order. But there is no easy way for the user to view all her pending settle orders.

**Describe the solution you'd like**
- [x] A tab listing all pending settle orders creat

[2019-06-09 12:42] abitmore commented on #2140
Replaced by #2655.

[2019-06-09 12:42] #2140 closed

[2019-06-09 16:48] bitcrab opened #2756 "[7] Account Selector should not auto-match on type-ahead version"
it's not a good design to auto list some candidates to-account while user type to-account

![image](https://user-images.githubusercontent.com/5886543/59161734-e8a34180-8b18-11e9-9819-087e5aed696e.png)

because of this, I have wrongly transfered to account "alpha" while acctually want to transfer to "alpha-go", several times.

![image](https://user-images.githubusercontent.com/5886543/59161777-6962

[2019-06-09 16:54] startailcoon opened #2757 "[3.1.190618-rc1] "View Only Mode" breaks settings"
The new option for "View only mode" in Settings breaks the entire settings section of the application.

Application: Firefox 67.0 (64-bit)
OS: Linux Ubuntu 16.04 LTE

## Errors
[code]

[code]

[2019-06-09 16:56] startailcoon commented on #2757
Assigned this to you @OpenLedgerApp as you did the PR for this.

[2019-06-09 17:04] startailcoon opened #2758 "[3.1.190618-rc1] Voting Section design issues"
The voting section for Workers have a blue border on the section of ` Proposed (13)Active (9)BSIPs/Polls (47)Expired `, see example below.

The  `Votes required to activate (BTS)` shouldn't break in my opinion.

![image](https://user-images.githubusercontent.com/12114550/59161923-08bb0c80-8ae9-11e9-9ac4-b40b6e06810e.png)

[2019-06-09 18:55] froooze commented on #2753
I can test on Linux:
- Light Client
- Firefox
- Chromium
- Opera

[2019-06-09 20:48] sschiessl-bcp commented on #2758
Fixed in develop

[2019-06-10 00:03] froooze commented on #2754
I wanna do German.

[2019-06-10 03:36] vanissoft commented on #1669
Can this error be related to the impossibility of saving templates?

`2vendors.fd8604c09abed9f6643a.js:29 POST https://saveload.tradingview.com/1.1/study_templates?client=tradingview.com&user=public_user_id 403
send @ vendors.fd8604c09abed9f6643a.js:29
ajax @ vendors.fd8604c09abed9f6643a.js:28
a.saveStudyTemplate @ library.19c99ed5d0307c67f071.js:265
a @ library.19c99ed5d0307c67f071.js:472
i @ lib

[2019-06-10 05:26] fycee opened #2759 "fill order took me more than a day to wait"
Order ID #371230267
--

Buy 678.6427 WEKUCOIN for 34 BTS
--

I sold ny BTS @ 0.0501 Price but waited for days and checked out that it is the latest price of BTS to Wekucoin the time I sold it.

I even shared this experience because it was a triumphant 200% trade.
https://deals.weku.io/trading/@fycee/i-have-doubled-my-weku-coins-on-wallet-bitshares-org-thru-rev-bank

[2019-06-10 09:36] OpenLedgerApp commented on #2747
@startailcoon, I can take this one.

[2019-06-10 10:15] allfory0u commented on #2754
I will translate Russian.

[2019-06-10 10:35] froooze commented on #2005
I did a poll on the Telegram Bitshares channel:
![Coll-debt](https://user-images.githubusercontent.com/40874087/59190104-22596400-8b7c-11e9-8f97-7c0038643a9d.png)

Most users start with the collateral. Therefore collateral should be first and default locked.

[2019-06-10 10:55] allfory0u commented on #2754
Could you also add Ukrainian to the list? Ukraine has a large cryptocommunity, which would be happy to see the Ukrainian language as the language of the interface on BitShares
I would help with this.

[2019-06-10 14:13] OpenLedgerApp commented on #1578
@startailcoon, do you want that depth chart will be redesigned with victory library and all charts written with react-highcharts library will be ported to victory?

[2019-06-10 15:38] OpenLedgerApp commented on #1045
| param  | description | type |
| ------------- | ------------- | -------------- |
| block_interval = GRAPHENE_DEFAULT_BLOCK_INTERVAL  | interval in seconds between blocks  | uint8_t |
| maintenance_interval = GRAPHENE_DEFAULT_MAINTENANCE_INTERVAL  | interval in sections between blockchain maintenance events  | uint32_t |
| maintenance_skip_slots = GRAPHENE_DEFAULT_MAINTENANCE_SKIP_SLOTS  | number

[2019-06-11 07:39] sschiessl-bcp commented on #2240
Both cases would require the user to have the wallet open. User should not have to login or enforce that the wallet remains unlocked when leaving it open for Stop-Loss/Take-Profit. In general the question is if that is even desirable for an everyday trader (need to leave wallet open), and if it is he would need to re-sign the Stop-Loss/Take-Profit every 24hours. When Custom Active is ready there w

[2019-06-11 07:40] sschiessl-bcp commented on #2716
I agree, no colon feels nicer.

[2019-06-11 07:43] sschiessl-bcp commented on #2357
Might have been a cross-issue resolution. Please state what efforts you had until now.

[2019-06-11 07:46] sschiessl-bcp commented on #1486
This needs investigation into technical possibilities first. Is the old feedprice available from backend, or immediately dropped when new price is published? In the latter case coloring does not make sense IMO because it would be a local, non-deterministic solution.

Please report
 - [ ] what backend calls are used to fetch feedprice?
 - [ ] what information is available from such a call?
 - [ ] i

[2019-06-11 07:48] sschiessl-bcp commented on #1486
The answer is already here: #502
No investigation necessary.

Will treat this issue within #502

[2019-06-11 07:48] #1486 closed

[2019-06-11 07:49] sschiessl-bcp commented on #502
It never occured to me that this might be usefull, but it certainly is!

Let's push it

[2019-06-11 07:51] sschiessl-bcp commented on #1045
Could you clarify please the use
`fee_liquidation_threshold = GRAPHENE_DEFAULT_FEE_LIQUIDATION_THRESHOLD`

That means that `fee_liquidation_threshold` is the variable name on the blockchain, and `GRAPHENE_DEFAULT_FEE_LIQUIDATION_THRESHOLD` the default value as named in bitshares-core?

[2019-06-11 07:54] sschiessl-bcp commented on #2734
Would introduction of scientific notation help in that case? Is that feasible towards traders minds?

[2019-06-11 07:56] OpenLedgerApp commented on #1045
@sschiessl-bcp , yes, that's right.

[2019-06-11 08:03] sschiessl-bcp commented on #2005
Thanks for your contribution @froooze. I suggest 0.5 bounty for those efforts @startailcoon

[2019-06-11 08:04] sschiessl-bcp commented on #2747
Thanks @OpenLedgerApp

[2019-06-11 08:17] sschiessl-bcp commented on #2489
Would it make sense to abandoned the double code to differentiate between cloud and local wallet and simply have one list-based approach (each entry in the list could have a `type` property that indicates cloud and localwallet, in typical usage cloud would then always have `length == 1`, nevertheless it could also have multiple accounts references or added)

[2019-06-11 08:18] sschiessl-bcp commented on #2656
https://wallet.bitshares.org/#/login
Plan is to have the mobile view as permanent view

[2019-06-11 08:23] sschiessl-bcp commented on #2755
Could you please comment which backend call is necessary to fetch those pending settle orders?

[2019-06-11 08:24] sschiessl-bcp opened #2761 "[4][Keegan-lee] Customizable Table Component"
As seen from discussion here https://github.com/bitshares/bitshares-ui/issues/2655#issuecomment-499369911

If @Keegan-lee takes this, the task is clear as already discussed.

[2019-06-11 08:25] sschiessl-bcp commented on #2655
I'd rather not change the UX twice towards the user. If @Keegan-lee is fine with it I would rather hold this issue until #2761 is completed and use that new component here right away.

[2019-06-11 08:28] sschiessl-bcp commented on #2756
You would prefer that the account is only shown for a complete match?

Funny enough this seems to be the case for me on wallet.bitshares.org
![image](https://user-images.githubusercontent.com/33128181/59256162-a4f12a80-8c33-11e9-82bb-b42a021fdb6b.png)

Did we change logic here @startailcoon ?

@bitcrab can you please let us know what version you are running?

[2019-06-11 08:33] sschiessl-bcp commented on #2759
You placed and order that was not filled immediately and price changed. All good on that part. Did you want to report a bug here? If so, please reopen.

[2019-06-11 08:33] #2759 closed

[2019-06-11 08:35] sschiessl-bcp commented on #1578
I'd rather check first if kapeer still has this, and also wait for @gibbsfromncis regarding new UX before tackling this.

[2019-06-11 09:02] sschiessl-bcp commented on #2754
@shulthz @froooze go ahead with translation

@allfory0u russian is maintained by BLCKCHND which I would offer first dibs on that, sorry about that. @DimaBLCKCHND please confirm.

[2019-06-11 09:03] sschiessl-bcp commented on #2754
The translations require somewhat in-depth knowledge of the ongoings and methodology of BitShares. How much experience do you bring to that?

[2019-06-11 09:08] sschiessl-bcp commented on #2753
@froooze please go ahead with light client and firefox

[2019-06-11 09:44] sschiessl-bcp opened #2762 "HTLC missing headrow entry"
![image](https://user-images.githubusercontent.com/33128181/59261699-40879880-8c3e-11e9-88f8-ff267fff16f2.png)

[2019-06-11 09:44] sschiessl-bcp opened #2763 "Set new headline: Proposal scam warning"
New headline (asset description of TEST)

[code]

[2019-06-11 09:49] sschiessl-bcp opened #2764 "[1] Exchange: More margin for order cancellation"
See screen, you accidently click on scroll bar. Maybe put checkbox in front of row?

![image](https://user-images.githubusercontent.com/33128181/59262145-f3f08d00-8c3e-11e9-8a52-17d214dda1e9.png)

[2019-06-11 10:04] sschiessl-bcp opened #2765 "[0.5] Volume lists are wrong"
![image](https://user-images.githubusercontent.com/33128181/59263288-0966b680-8c41-11e9-89ad-1db3e3ad41eb.png)

[2019-06-11 10:40] OpenLedgerApp commented on #2747
@sschiessl-bcp I added PR, could you check please?

[2019-06-11 10:54] allfory0u commented on #2754
I am an active member of Bitshares for 2 years. I used or tested most of the existing features and understand how they work. Now in my free time I am developing something like the BitShares explorer, which can be used in Telegram.

[2019-06-11 11:38] abitmore commented on #2755
`get_full_accounts` and (from next release) `get_settle_orders_by_account`.

[2019-06-11 12:23] froooze commented on #2005
#2004 to not loose overview

[2019-06-11 14:10] Keegan-lee commented on #2761
Yes, I would like this issue.

[2019-06-11 20:14] sschiessl-bcp opened #2767 "[12] Abstract Order Book - First Step"
In order to facilitate usage of HTLC we want to use the already existing exchange component and forge an HTLC order book into it.

In order to be able to do that and allow the user to switch between order book types, or even have them visible at once we need to abstract the order book to create an order book factory (design pattern).

First Step:
 - [ ] Analyze existing implementation: What calls

[2019-06-11 22:33] froooze opened #2768 "No balance update for Withdraw"
**Describe the bug**
When I have every amount of one assets in open orders and cancel one order, I can't withdraw the asset

**To Reproduce**
Steps to reproduce the behavior:
1. Get a gateway coin
2. Put all coins in open order
3. Go to withdraw -> no withdraw option
4. Cancel open order
5. Still no withdraw option
6. reload page
4. Now I can withdraw asset

**Expected behavior**
Make asset availa

[2019-06-11 22:53] froooze commented on #2753
Where can I find the download link for light client RC ?

[2019-06-12 00:04] bmess12 commented on #1810
I am running latest version. Under "local storage" the first fix option above lists different "graphene" options. I have tried- EVERYTHING many times over. Nothing is working. Both web and download version non pc or tablet. Please help

[2019-06-12 13:05] OpenLedgerApp commented on #2697
@startailcoon , I can take this one. But as first I want to clarify the folowing:
-Where should this setting be displayed?(in general settings?)
-What is the default value?(10 x Transfer Fee?)
-How should this select  ['0 (off)', '10 x Transfer Fee', '<user defined>'] be displayed? Could you provide the example please?

[2019-06-12 13:23] abitmore commented on #2655
@sschiessl-bcp I still think we can add the new columns first. Buttons are another issue, so we're not changing same thing twice.

[2019-06-12 14:45] DimaBLCKCHND commented on #2754
@sschiessl-bcp On it

[2019-06-13 01:10] froooze opened #2769 "[3.1.190618-rc1] Integration Tests by [frooze] for Firefox"
My OS:
  - MX-Linux

My Browser:
 - Firefox 67.0.2

General
 - [x] Wallet loads and connects
 - [x] Login via cloud login and local wallet
 - [x] Transfer between accounts (with and without memo)
 - [x] Exchange opens, orders are visible and limit orders can be put
 - [x] Margin creation and adjustment is possible
 - [x] Voting is possible (committee, witness, proposals)

Specific components:
 - [

[2019-06-13 06:32] sschiessl-bcp commented on #2697
Please hold.off for a bit, this might have nice synergies with the upcoming
default fee select mechanics. Possibly put the reserve balance amount in
that new modal

Am 12. Juni 2019 15:05:49 schrieb OpenLedger <notifications@github.com>:

[2019-06-14 07:09] sschiessl-bcp commented on #2753
Github releases

[2019-06-14 07:48] bitcrab opened #2770 "market fee sharing feature bug"
as the market fee sharing feature is already active, so I did some test.

set reward percent of asset GDP to 50.

trans.bot is the referrer of night-wolf, so I did some GDP/USD trading with user night-wolf.

after that, I see the vesting balance page of trans.bot is as below.

![image](https://user-images.githubusercontent.com/5886543/59492499-b0568700-8ebb-11e9-9778-4d733c53c8da.png)

in the mark

[2019-06-14 09:02] fycee commented on #2759
Thank you so much.

On Tue, Jun 11, 2019 at 4:33 PM Stefan Schießl <notifications@github.com>
wrote:

[2019-06-14 10:22] froooze opened #2771 "[5][3.1.190618-rc1] Integration Tests by [frooze] for Light client"
For #2753

My OS:
  - MX-Linux

My Browser:
 - Light client

General
 - [x] Wallet loads and connects
 - [x] Login via cloud login and local wallet
 - [x] Transfer between accounts (with and without memo)
 - [x] Exchange opens, orders are visible and limit orders can be put
 - [x] Margin creation and adjustment is possible
 - [x] Voting is possible (committee, witness, proposals)

Specific compone

[2019-06-14 10:46] #2770 closed

[2019-06-14 10:47] sschiessl-bcp commented on #2770
Fixed
![image](https://user-images.githubusercontent.com/33128181/59504128-86449b00-8ea2-11e9-84f0-c47d27d8f6b7.png)

[2019-06-16 09:39] startailcoon commented on #2768
Sounds like the modal doesn't get updated information after you cancel the order on the dashboard section.

I assume that you cancel the open order under the "Open Orders" tab on the dashboard.

[2019-06-16 09:42] startailcoon commented on #2765
Does all these *ETH* assets have volume then?

[2019-06-16 09:45] startailcoon commented on #2764
Agreed, tick-box could be in front of the row instead.

It also needs some minor work as the checked array doesn't reset properly at times, making it want to cancel orders that have been filled or removed elsewhere.

[2019-06-16 09:47] startailcoon commented on #2767
Please set an expected milestone for this to be completed at

[2019-06-16 09:48] startailcoon commented on #2763
Please provide some more details if you want anyone else to work on this @sschiessl-bcp, or please complete it so we can close it.

[2019-06-16 09:50] startailcoon commented on #2762
Please provide some more details @sschiessl-bcp if you want someone to pick this up. What exactly are we missing here? The screenshot doesn't give me any more information.

[2019-06-16 09:51] startailcoon commented on #2761
Assigned

[2019-06-16 09:52] #2758 closed

[2019-06-16 09:57] startailcoon commented on #2756
We do have a bad design on this component, when you type a name it will auto match as you type and stick to it if no match is done when you're done typing.

### Example

- You want to search for "bituser".
- As you've typed "bitu" a match is found and the component sets it.
- You type forward, but no match is found for "bituser", but the component is now set to "bitu" as it was found as you typed.

[2019-06-16 10:02] startailcoon commented on #2755
If this issue need longer time, due to core implementation delays, feel free to push it forward.

[2019-06-16 10:04] startailcoon commented on #2742
Expected time requirements for this?

[2019-06-16 10:08] startailcoon commented on #2734
I will take a closer look at this again. The panel has a fixed width, as it would grow when required, but never shrink, making the orderbooks with less space requirements be extremely stretched. The size only changed once reloaded.

[2019-06-16 10:17] startailcoon commented on #2661
Will take this task

[2019-06-16 10:21] startailcoon commented on #2005
@froooze  thanks for the details collected. Agreed with a 0.5 bounty for you on this.

[2019-06-16 10:23] startailcoon commented on #2004
Working on making something like this. I'll post an updated screen soon.

[2019-06-16 12:50] abitmore commented on #2756
This was an old bug (I didn't find the old issue though). I thought it's fixed already.

[2019-06-16 15:08] startailcoon commented on #2756
I'm not sure, but it sounds very familiar. Sorry if we've missed it before.

[2019-06-16 15:11] startailcoon commented on #2004
Here's an update on the view based on suggestions.

![image](https://user-images.githubusercontent.com/12114550/59565926-728f6500-9059-11e9-9471-13534458cbd3.png)

When no TCR is used, it will be blank, amaking it possible to tick the box if the asset allows it.

![image](https://user-images.githubusercontent.com/12114550/59565953-a2d70380-9059-11e9-917a-6d412f44f198.png)

The only problem I see w

[2019-06-16 16:26] startailcoon commented on #2005
Bounty for Frooze on this issue, total UI work on parent issue #2004

[2019-06-16 16:45] startailcoon commented on #2768
This does not happen to me.

1. Added asset `CITADEL.MONERO` to market.
2. Opened Dashbaord
3. Clicked Withdraw on asset ´CITADEL.MONEO` to view 0 in available
4. Opened Dashboard -> Open Orders
5. Canceled open order
6. Clicked Withdraw on asset  ´CITADEL.MONEO` to view total amount available again.

[2019-06-16 18:04] startailcoon commented on #2764
## Fixes
- Now aligned to the left.
- Checkbox update to style-guide.
- Checkbox logic improved

![image](https://user-images.githubusercontent.com/12114550/59567745-dd4c9a80-9071-11e9-8d7e-31d5ef396b3e.png)

[2019-06-16 18:36] froooze opened #2774 "[0.5][3.1.190618-rc1] - No Dashboard switch, after account switch"
**Describe the bug**
Account switch does not update Dashboard.
Problem with local wallet and cloud wallet

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Log out
3. Log in with new user
4. Dahsboard shows old account

**Expected behavior**
Update Dashboard and Voting page

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please compl

[2019-06-16 18:47] froooze opened #2775 "[0.1][3.1.190618-rc1] - Increase area for new delete button"
**Describe the bug**
The area for the new delete button should also include a 9px border.

**Expected behavior**
Support for the delete button on the edge

**Screenshots**
![Delte-button](https://user-images.githubusercontent.com/40874087/59568219-f3f5f000-9077-11e9-84af-d5a8861dbdd9.png)

[2019-06-16 18:54] froooze opened #2776 "[0.75][3.1.190618-rc1] - Include delete button to all search boxes"
**Describe the bug**
There are still some search boxes without the delete button:

**Dashboard:**
-> Portfolio
-> Open Orders

**Explore:**
-> Accounts
-> Witnesses

**Voteing**

**Expected behavior**
Support delete button for all search fields

[2019-06-16 19:10] froooze opened #2777 "[0.25][3.1.190618-rc1] - Prevent margin position columns from resizing"
**Describe the bug**
Clicking on the margin position columns to switch from normal to cumulative does resize the columns.

**Expected behavior**
- using the **Σ** sign before the description instead of the **(CUMULATIVE)** afterwards
- adding a blank before the description for normal mode to have same word length

[2019-06-16 19:20] froooze opened #2778 "[0.5][3.1.190618-rc1] - Include unity only in header of margin positons"
**Describe the bug**
The whole column uses the same unity. Why is the unity not in the header and excluded form the rows.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to margin positon list

**Expected behavior**
Put the unit only in header of table.
Could also be in a second row of the header, to save more space!

**Screenshots**
![margin-positions](https://user-images.githubuserconte

[2019-06-16 19:31] froooze opened #2779 "[0][3.1.190618-rc1] - Highlight RATIO column again"
**Describe the bug**
The RATIO column doesn't have a color background highlight anymore
I don't like the icon at the end of the table because:
-  it doesn't highlight the RATIO column
- it is confusing, needs extra space, is at the end, doesn't provide any action by clicking on it

**Expected behavior**
Use a color highlight for different RATIO: red, orange and green

[2019-06-16 19:39] froooze opened #2780 "[0.25][3.1.190618-rc1] - Save "group by asset" state"
**Describe the bug**
Using the group by asset function in open orders is not saved for revisit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard -> Open orders
2. Turn on group by asset
3. Go to margin position or any other side
4. No group by asset
4. See error

**Expected behavior**
Save group by asset state

**Desktop (please complete the following information):**
 - OS: MX

[2019-06-16 19:50] startailcoon commented on #2075
Will work on this soon, with base on how the Borrow Modal was made on #2004

[2019-06-16 19:52] startailcoon commented on #2774
Is this issue the same when you use Cloud Wallet *and* Local Wallet?

[2019-06-16 19:53] startailcoon commented on #2775
I assume you mean it should react on a click around the actual image, then I agree with you as I expected it did have that.

[2019-06-16 19:56] startailcoon commented on #2778
We would have some issues with long asset names. If possible, we could as suggested have a second sub-title row with the asset and asset pair.

[2019-06-16 19:58] startailcoon commented on #2779
Will take the background back again.

[2019-06-16 20:10] froooze commented on #2778
@startailcoon: Using two lines for the table header should do the trick!

[2019-06-16 20:13] froooze commented on #2774
Both make problems, but it could be a different issue.

[2019-06-16 20:33] sschiessl-bcp opened #2781 "Spotlight: Add Prediction Market [Coming soon]"

[2019-06-16 20:33] sschiessl-bcp commented on #2781
![image](https://user-images.githubusercontent.com/33128181/59569219-c5cbdc80-9086-11e9-89b4-9922fe4eee14.png)

[2019-06-16 20:34] #2781 closed

[2019-06-16 21:00] sschiessl-bcp opened #2782 "[2] Streamline Spotlight Icons"
The name of the icon is mentioned here in the list of Showcases (renamed to Spotlight)
https://github.com/bitshares/bitshares-ui/blob/47c7c8d4b175a5fc38223a3dd372072e52094ee2/app/components/Showcases/ShowcaseGrid.jsx#L32

And the actual icons are located here
https://github.com/bitshares/bitshares-ui/tree/develop/app/assets/icons

Task is to streamline their appearance for a consistent look & feel

[2019-06-17 07:19] pmconrad opened #2783 "[0.5] Wrong price while withdrawing"
**Describe the bug**
It seems that entering an amount in the "withdraw" dialog updates the BTS price of the asset to withdraw in the background. This price update seems to handle precision wrongly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard / Portfolio
2. Click on e. g. OPEN.BTC -> Withdraw
3. Enter amount to withdraw
4. The background dashboard updates the price of OPEN

[2019-06-17 09:07] CryptoKong opened #2784 "Rich list data"
One of the benefits to traders of trading crypto assets and using decentralised exchanges is being able to see what is happening on the blockchain. What are the whales doing? Who's buying and selling what? Etc. We should provide better information for users to be able to take advantage of this information.

Some will say that this is what block explorers are for but we should tailor this informati

[2019-06-17 09:22] OpenLedgerApp commented on #2765
@startailcoon, these pairs don't have volume, but the sorting works wrong. It works good on wallet.bitshares.org, but not good on develop.bitshares.org and you can also see 0 values on prod and null cells on develop

![image](https://user-images.githubusercontent.com/42674402/59592114-0e6fae00-90f8-11e9-8ff1-8d5a382b671a.png)

![image](https://user-images.githubusercontent.com/42674402/59592156-26

[2019-06-17 09:24] sschiessl-bcp commented on #2762
Direct Debit has head

[2019-06-17 09:26] sschiessl-bcp commented on #2763
This is for me and Lucifer to set the proper description for the TEST asset to display the scam warning.

[2019-06-17 11:13] froooze commented on #2768
What do you mean with adding asset to the market?
1. I bought RUDEX.EOS
2. I but all my EOS in open orders
3. reload client
4. no withdraw option now
5. cancel order
6. still now withdraw option
7. reload client, withdraw option now

[2019-06-17 13:12] froooze opened #2785 "[0] Can't update TCR"
**Describe the bug**
Updating only the TCR leads to an error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to margin positions
2. Change TCR
3. Save
4. See error

**Expected behavior**
Allow TCR change without changing debt or collateral

**Screenshots**
![margin-position-failed](https://user-images.githubusercontent.com/40874087/59606573-c493c180-9111-11e9-9d77-0ca05a59a930.png)

**Des

[2019-06-17 13:16] sschiessl-bcp commented on #2785
Needs validation

[2019-06-17 13:17] sschiessl-bcp commented on #2780
Add as viewSettings

[2019-06-17 13:27] sschiessl-bcp commented on #2742
Will be given when mockups come

[2019-06-17 13:31] sschiessl-bcp commented on #2778
This would be ideal

[2019-06-17 13:35] sschiessl-bcp commented on #2777
Agreed. This is the component in question
![image](https://user-images.githubusercontent.com/33128181/59608315-5fda6600-9115-11e9-8d95-379249f77e6a.png)

See e.g. https://develop.bitshares.org/#/asset/USD asset info on the bottom.

Put the blank after the description though, otherwise the normal view is not aligned.

[2019-06-17 13:35] sschiessl-bcp commented on #2775
Component in question is SearchInput

[2019-06-17 13:36] sschiessl-bcp commented on #2776
Agreed. All occurances of
![image](https://user-images.githubusercontent.com/33128181/59608435-a16b1100-9115-11e9-80e4-8be3d5b4283f.png)
should use the new SearchInput component

[2019-06-17 13:38] sschiessl-bcp commented on #2765
@OpenLedgerApp you wanna look into this? It's blocking RC

[2019-06-17 13:39] sschiessl-bcp commented on #2783
#2747

[2019-06-17 13:42] sschiessl-bcp commented on #2762
See `active` in `render` of `Header.jsx`

[2019-06-17 14:18] sschiessl-bcp commented on #2004
Can you make the yellow text have 100%?

[2019-06-17 14:19] sschiessl-bcp commented on #2756
#1984

[2019-06-17 14:24] sschiessl-bcp commented on #268
This is implemented now, but I forgot this issue ... let's use it for the UX payout (sorry @ahdigital I created a UX only bounty issue for another task and overlooked this one).

Can you please state your efforts for UX? The estimation [3] was meant for implementation for it iirc

[2019-06-17 14:30] startailcoon commented on #2756
That issue solved when there where no account at all, not the auto select when the input matches said account, at least that's what I understand.

Anyhow, we should probably change this. I agree with bitcrab

[2019-06-17 14:30] sschiessl-bcp commented on #268
Due to the refactoring and addition of witness, the bounty request is 5. Actual hours spent on coding this is 16.

[2019-06-17 14:32] startailcoon commented on #2762
Thanks 👍

[2019-06-17 14:39] startailcoon commented on #2785
Not possible. Either collateral or debt has to change.

If no change is made, but TCR does, we should change collateral with +1 of the lowest precision unit of the collateral asset.

[2019-06-17 14:42] startailcoon commented on #2768
add asset to market = put a sell order.

Sorry for cofusing you.

[2019-06-17 14:45] ahdigital commented on #268
UX is good for 1 hour. I saw a spelling mistake in the 2nd screenshot of yours.. "explaining why yo"

[2019-06-17 15:31] froooze commented on #2785
Therefore, I did not found an logic for this on UI.

This would be a quick fix from the UI!

[2019-06-17 17:45] startailcoon commented on #2785
Will fix this to enable near zero collateral change when it's not done by the user.

[2019-06-17 17:49] abitmore commented on #2785
It's a core "feature".

[2019-06-17 18:39] gades opened #2786 "[0.5] Scaled trade doesn't work"
**Describe the bug**
I'm trying to set scaled order for sale and price the same for all orders

**To Reproduce**
Steps to reproduce the behavior:
1. Go to trading
2. Click on Scaled
3. set Price Lower, Price Upper, Quantity, Order Count
3. Press the sell button
4. all orders will have the same rate

**Expected behavior**
The rate must be increased like it for buy action

**Screenshots**
<img width

[2019-06-17 19:01] startailcoon commented on #2786
Some investigation I did on this @gibbsfromncis

[2019-06-17 19:06] startailcoon commented on #2004
I think @gibbsfromncis needs to take this on another issue if we want this changed. This is the best I can make it for now.

[2019-06-17 19:56] startailcoon commented on #2779
![image](https://user-images.githubusercontent.com/12114550/59632510-a7c7b000-914a-11e9-8374-485339807d8a.png)

Back to as it was before with
- Below MCR = red
- Near MCR = orange
- Other = none colored

[2019-06-17 21:46] gades opened #2789 "[1] missing path 'assets/BTS' for locale 'ru'"
**Describe the bug**
Russian locale hat issues and hung interface

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Switch it to russian
3. Go to Инфопанель (Dashboard)-> Портфель (Portfolio) -> BTS
4. See error

**Expected behavior**
it must show information like on EN locale

**Screenshots**
![photo_2019-06-18_00-30-02](https://user-images.githubusercontent.com/4200730/5963

[2019-06-17 22:57] froooze commented on #2779
Better, what do you to color the other green ?

[2019-06-17 23:17] froooze opened #2790 "[0.25] [3.1.190618-rc1] Dashboard - margin position alignment"
**Describe the bug**
When the margin position window is in wide position the column Total BTS until Feed Price is not aligned on the right side

**To Reproduce**
Steps to reproduce the behavior:
1. Go to margin position
2. Put Window in max wide
3. See error

**Expected behavior**
Same alignment as other columns

**Screenshots**
![margin-position-layout](https://user-images.githubusercontent.com/4

[2019-06-17 23:39] froooze opened #2791 "[3.1.190618-rc1] - Open orders grouped alignment"
**Describe the bug**
There is a vertical orientation missing in the layout

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Open Orders
2. Group by assets
3. Use max wide window
4. See error

**Expected behavior**
Vertical alignment

**Screenshots**
![open-orders-group](https://user-images.githubusercontent.com/40874087/59643681-e9b41e80-9169-11e9-8078-2cf8f8505e22.png)

**Desktop (plea

[2019-06-18 05:52] sschiessl-bcp commented on #2790
Looks like content is centered

[2019-06-18 05:55] sschiessl-bcp commented on #2791
This is somewhat tricky because `Buy X for Y` are actually multiple columns instead of one.

Suggestion: Play around with fixed column size for all but the `Buy X for Y` column. Have Trade and Order Id be flushed left and Average Price Market Price and Value flush right and leave the `Buy X for Y` left aligned.

[2019-06-18 06:06] #2757 closed

[2019-06-18 06:14] sschiessl-bcp commented on #2783
Misread the issue, re-opening

[2019-06-18 06:21] #2747 closed

[2019-06-18 06:25] #2764 closed

[2019-06-18 06:27] #2785 closed

[2019-06-18 06:34] sschiessl-bcp commented on #2779
Please open a new issue to define new logic for coloring.

Currently
[code]

[2019-06-18 06:35] #2779 closed

[2019-06-18 07:55] manikey123 commented on #2504
extracted relevant collateral information from the react code and currently coding the UI mockup. I shall share the UI mockup over the PST weekend.

[2019-06-18 08:08] sschiessl-bcp opened #2792 "Review stealth branch for deletion"
https://github.com/bitshares/bitshares-ui/tree/stealth

[2019-06-18 08:16] sschiessl-bcp opened #2793 "[1.5][3.1.190618-rc1] Maintain Language: Russian"
![image](https://user-images.githubusercontent.com/33128181/59664700-d331b580-91b1-11e9-92cc-5f61c608bf51.png)

1208 words - 1.5 bounty

@DimaBLCKCHND

[2019-06-18 08:17] sschiessl-bcp opened #2794 "[1.5][3.1.190618-rc1] Maintain Language: Chinese"
![image](https://user-images.githubusercontent.com/33128181/59664946-45a29580-91b2-11e9-9b6c-6e30d943a72b.png)

1183 words = 1.5 bounty

@shulthz

[2019-06-18 08:22] #2793 closed

[2019-06-18 08:22] #2794 closed

[2019-06-18 08:55] OpenLedgerApp commented on #2765
@sschiessl-bcp yes, I can take this one.

[2019-06-18 08:57] sschiessl-bcp commented on #2650
https://github.com/bitshares/bitsharesjs-ws/releases/tag/3.1.0
https://github.com/bitshares/bitsharesjs/releases/tag/3.1.0

[2019-06-18 09:00] #2650 closed

[2019-06-18 09:01] sschiessl-bcp commented on #2650
Bounty request 0.75

[2019-06-18 11:07] OpenLedgerApp commented on #2774
@startailcoon I can take this issue, but I suppose it's not connected with #2726 , it's a separate issue.

[2019-06-18 11:08] OpenLedgerApp commented on #2783
@startailcoon, I can take this one.

[2019-06-18 13:05] sschiessl-bcp commented on #2783
Awesome, go ahead! Blocker issue

[2019-06-18 13:05] sschiessl-bcp commented on #2774
Awesome, go ahead! Blocker issue

[2019-06-18 15:10] sschiessl-bcp commented on #1810
Can you check what your browser console log says when whitescreen on pc please?

[2019-06-18 18:09] startailcoon commented on #2789
Needs to verify all Russian  locale 'ru' help files I think. Also, a missing help file should not hang the interface, it should change to default (en) as it say.

[2019-06-18 18:13] startailcoon commented on #2784
All good suggestion in my opinion. As all the information is in the chain, there is nothing stopping us from making good use of it, and making this directly inside the wallet client is a good feature.

The only issue here would be to collect the data, perhaps we need to ask the core team to add a few new API calls and data buckets?

[2019-06-18 18:31] startailcoon commented on #2762
We need to select a proper/good icon for this menu entry

[2019-06-18 18:33] startailcoon commented on #2701
@froooze ping

[2019-06-18 18:34] startailcoon commented on #2699
@froooze ping

[2019-06-18 18:40] startailcoon commented on #2630
Was this work done or was it an overlap of something else? I see the PR was closed.

[2019-06-18 18:41] startailcoon commented on #2498
@gibbsfromncis should we open this task to someone else to work on?

[2019-06-18 18:42] startailcoon commented on #2473
@sschiessl-bcp ping

[2019-06-18 18:47] startailcoon commented on #2244
@sschiessl-bcp ping

[2019-06-18 18:52] startailcoon commented on #2594
Adjusted

[2019-06-18 18:54] froooze opened #2797 "[3.1.190618-rc1] - History Cointracking Export"
**Describe the bug**
Number of commas is changing during iteration

**To Reproduce**
Steps to reproduce the behavior:
1. History Export -> Elasticsearch
2. Cointracking.info
3. Open file with text reader
4. See error

**Expected behavior**
only one comma

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: MX-Linux. Light client

[2019-06-18 18:59] startailcoon opened #2798 "Define Logic for Margin Position Status"
Applies to Asset Details -> Margin Positions for positions near or below the threshold.

Currently
[code]

_Originally posted by @sschiessl-bcp in https://github.com/bitshares/bitshares-ui/issues/2779#issuecomment-502967658_

[2019-06-18 19:55] froooze commented on #2798
`} else if (cr < mr * 1.309) {`

30.9% is the average of the two Fibonacci levels 23.6%, 38.2%

[2019-06-18 20:36] sschiessl-bcp commented on #2762
The spotlight one should do

[2019-06-18 22:10] froooze commented on #2630
@startailcoon: Yes this overlapped with another PR!

[2019-06-18 22:53] froooze commented on #2776
Voteing has now also a searchbox!

[2019-06-18 22:54] froooze commented on #2699
@startailcoon: Is it ok, when I do a PR next week?

[2019-06-18 22:56] froooze commented on #2701
@startailcoon: @genievot can do a pull request here?

[2019-06-18 23:33] froooze opened #2799 "[3.1.190618-rc1] - Problem importing Full Report to Libre Office"
**Describe the bug**
The old report provided multiple columns with a csv. Something looks broken.
No new lines?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Activity
2. Download full report
3. Import csv-file with Libre Office
4. No seperated columns

**Expected behavior**
Import with clear line and column structure!

**Screenshots**
![import-libre](https://user-images.githubusercon

[2019-06-19 00:16] froooze opened #2800 "[3.1.190618-rc1] - German Übersicht - White screen"
**Describe the bug**
Visiting "Übersicht" with German language gives a white screen!

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to German language
2. Visit **Übersicht**
4. White screen

**Expected behavior**
no white screen

**Desktop (please complete the following information):**
 - OS: MX-Linux, light client

**Additional context**
[german-lang-white.log](https://github.com/bi

[2019-06-19 00:24] froooze opened #2801 "[0.5][3.1.190618-rc1] - Overview - Whitescreen"
**Describe the bug**
Switching to committee-cnytrader and visiting Dashaboard gives a whitescreen

**To Reproduce**
Steps to reproduce the behavior:
1. Switch view to committee-cnytrader
2. Visit Dashboard
3. White screen

**Expected behavior**
No white screen

**Desktop (please complete the following information):**
 - OS: MX-LInux, Light client

**Additional context**
I only did get this problem

[2019-06-19 01:06] froooze opened #2802 "[3.1.190618-rc1] - Memory leak and freeze"
**Describe the bug**
At the exchange or login in window I get sometimes a client freeze, but can't realy reproduce it.
There is no log entry!

**Expected behavior**
No freeze

**Screenshots**
![memory-leak](https://user-images.githubusercontent.com/40874087/59729486-171ecc00-923f-11e9-83f5-3543388989d1.png)

**Desktop (please complete the following information):**
 - OS: MX-Linux, light client

[2019-06-19 07:29] sschiessl-bcp opened #2803 "[2] Refine explanation of referral rewards program"
![image](https://user-images.githubusercontent.com/33128181/59745283-c32eda00-9274-11e9-8c69-acbc78b9648d.png)

It's not as self-explanatory as it should be.

[2019-06-19 08:20] #2780 closed

[2019-06-19 08:22] #2777 closed

[2019-06-19 08:22] #2778 closed

[2019-06-19 08:38] sschiessl-bcp opened #2805 "Overview/Dashboard of referrals"
After finalizing investigations into technical details in #2803 we want to create an overview for referrers.

This should include:
 - list of accounts referred
 - list of referred accounts that did LTM  (needs ES)
 - how much total rewards are being brought in (normal rewards, market fee sharing rewards)
 - how much rewards are selected referred accounts bringing in (needs ES)
 - plot of accounts

[2019-06-19 09:33] sschiessl-bcp commented on #2765
I'd like a simple `0` (strike all those decimals)

[2019-06-19 12:43] froooze commented on #2803
- less text
- headlines bigger
- highlight key figures
- use icons next to figures
- integrate interactive graphic with circles and arrows
- max-wide and small-wide (mobile) friendly

[2019-06-19 13:30] froooze opened #2808 "[3.1.190618-rc1] Blockchain out of sync - no reconnect"
**Describe the bug**
I get on a regular base disconnects, but the client doesn't realize this and has no intention to auto reconnect

**Expected behavior**
Auto reconnect in the background

**Screenshots**
![out-of-synce](https://user-images.githubusercontent.com/40874087/59769678-ec685e00-92a6-11e9-8828-3530393bf9b3.png)

**Desktop (please complete the following information):**
 - OS: MX-Linux, L

[2019-06-19 14:02] froooze opened #2809 "Tooltips need more time threshold"
**Describe the bug**
Tooltip pop now up, when I move over by accident with mouse and this is annoying.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange/Dashboard
2. move over a tooltip

**Expected behavior**
Time threshold of 500ms

**Desktop (please complete the following information):**
 - OS: MX-Linux, Light client

[2019-06-19 17:22] OpenLedgerApp commented on #2783
@sschiessl-bcp, This issue is not so easy, unfortunately I haven't time to finish it today. I will try to complete it tommorow.

[2019-06-20 08:04] gades commented on #2789
it's working fine in case i running from `npm start` but it doesn't work after make bundle or app

[2019-06-20 08:22] gades opened #2811 "Issue with determinate count of symbols after comma (precision)"
**Describe the bug**
if you have two assets with different precision `PIRATE`  precision = 8 and `PIRATE.PIRATE` precision = 7

**To Reproduce**
Steps to reproduce the behavior:
1. Please create asset TEST with precision=8
2. Please create asses GATEWAY.TEST with precision=7
3. Please create a gateway - `GATEWAY`
4. please process some amount of GATEWAY.TEST to your account
5. Goto to NewWithdrawa

[2019-06-20 12:18] froooze opened #2813 "[0.5][3.1.190618-rc1] Send - missing translation"
**Describe the bug**
When I go to send, there is a translation missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to send
2. click on To
3. See error

**Expected behavior**
No error

**Screenshots**
![missing-translation](https://user-images.githubusercontent.com/40874087/59848675-061caa80-9366-11e9-8657-88c71894f1c1.png)

**Desktop (please complete the following information):**
 - O

[2019-06-20 13:38] OpenLedgerApp commented on #2790
@startailcoon I can take this one

[2019-06-20 14:47] OpenLedgerApp commented on #2789
@startailcoon I can take this one.

[2019-06-20 20:03] Agorise opened #2814 "grammar needs to be fixed on the new Prediction Markets card"
**Describe the bug**
the grammar on that card should be tweaked a bit imo. maybe something like this:

Create a collateralized Prediction Market whereby others can agree or disagree on the outcome.

https://develop.bitshares.org/#/spotlight

[2019-06-21 08:37] Kaspler commented on #951
Thanks to @robrigo tip about using an old version of the wallet!

I was able to claim tokens using this version of the wallet (Mac OS):
[https://github.com/bitshares/bitshares-ui/releases/tag/2.0.151119](https://github.com/bitshares/bitshares-ui/releases/tag/2.0.151119)

And these instructions:
[https://docslocalcoinis.readthedocs.io/en/latest/bitshares/migration/howto-importing-wallet.html](https

[2019-06-22 20:06] MindfulMe opened #2816 "Exchange UI/UX Upgrade"
**Is your feature request related to a problem? Please describe.**
The problem is that the Exchange Tab is highly inconvenient, especially scroll can't be used, the UX is very bad because of that.
**Describe the solution you'd like**
I suggest making the Exchange UI the same as on Binance (Advanced View). I will take care of the implementation

**Describe alternatives you've considered**
I have co

[2019-06-22 20:06] MindfulMe commented on #2816
I have started updating the UI of the exchange tab, will post my progress here every day

[2019-06-22 20:28] startailcoon commented on #2813
An account should not be undefined, there's something not working as expected here. Most likely a missing error check. Good catch.

[2019-06-22 20:32] startailcoon commented on #2811
Good catch. I will take care of this when I bundle some Gateway issues together soon.

[2019-06-22 20:36] startailcoon commented on #2809
It is indeed quick, and I've reacted the same. Component is this https://ant.design/components/tooltip.

@gibbsfromncis can we change this behavior?

[2019-06-22 20:38] startailcoon commented on #2808
Ideas here @sschiessl-bcp ? You wrote the auto connect parts, but I remember we've had some issues/discussions before about the client not reconnecting on disconnects after computer waking up and/or loss of internet for example.

[2019-06-22 20:44] sschiessl-bcp commented on #2816
Please consult with UI team first before diving in more.

[2019-06-22 20:54] startailcoon commented on #2816
The Exchange section is a huge part, which should be discussed before larger changes are made. We're interested in hearing any possible work, but please consult with the UI team, as noted by Stefan

[2019-06-22 20:55] MindfulMe commented on #2816
I will, okay

[2019-06-22 20:57] MindfulMe commented on #2816
I will start the discussion BitsharesDev telegram chat, Stefan already noticed the suggestion before - we will talk regarding that

[2019-06-23 15:38] startailcoon commented on #502
I was just going back to this today as I reflected on it again when trading and noticed your response. Making it possible to see feed price indications or historic events will make it possible to see how other markets goes based on the feeds. This would be valuable for the trading on the DEX I believe.

[2019-06-23 17:01] startailcoon commented on #2779
@sschiessl-bcp can you please elaborate on your wish on this task?

We take the status to color the field by class, danger or warning. We currently have this logic on the following to get the status.

https://github.com/bitshares/bitshares-ui/blob/636d381770b75413b6614e6638c3845a09f5a861/app/lib/common/MarketClasses.js#L997-L1012

[2019-06-23 17:02] startailcoon commented on #2798
@sschiessl-bcp can you please elaborate on your wish on this task?

We take the status to color the field by class, danger or warning. We currently have this logic on the following to get the status.

https://github.com/bitshares/bitshares-ui/blob/636d381770b75413b6614e6638c3845a09f5a861/app/lib/common/MarketClasses.js#L997-L1012

[2019-06-23 17:49] froooze opened #2817 "[3.1.190618-rc1] White screen - HTLC"
**Describe the bug**
White screen occurred in HTLC overview window.

**To Reproduce**
Steps to reproduce the behavior:
1. Go Spotlight
2. HTLC

**Expected behavior**
No white screen

**Desktop (please complete the following information):**
 - OS: MX-Linux

**Additional context**
[Whitescrenn-HTLC.log](https://github.com/bitshares/bitshares-ui/files/3318359/Whitescrenn-HTLC.log)

[2019-06-23 18:00] froooze opened #2818 "[3.1.190618-rc1] Could not redeem HTLC"
**Describe the bug**
Could not redeem HTLC. I used the preimage from the creator.

**To Reproduce**
Steps to reproduce the behavior:
1. Create HTLC
2. Switch account
3. Redeem HTLC

**Expected behavior**
Redeem HTLC

**Screenshots**
![HTLC](https://user-images.githubusercontent.com/40874087/59980110-49d71480-95f1-11e9-959f-9676ceec4b9b.png)

**Desktop (please complete the following information):**

[2019-06-23 18:18] froooze opened #2819 "[0.1][3.1.190618-rc1] Exchange - Overlay problem"
**Describe the bug**
MY MARKET underline is on top

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange
2. Click on the burger menu

**Expected behavior**
No underline visible in menu

**Screenshots**
![Exchange-overlay](https://user-images.githubusercontent.com/40874087/59980283-eb5f6580-95f3-11e9-9335-ef25003c5568.png)

**Desktop (please complete the following information):**
 -

[2019-06-23 20:04] startailcoon commented on #2818
Needs some investigating on why this happened. I've flagged it as critical prio to start with.

[2019-06-23 20:09] startailcoon commented on #2817
I can't reproduce. Could it be related to something else. Does it always do this for you when you go to the HTCL of the Spotlight section?

[2019-06-24 08:23] sschiessl-bcp commented on #2818
Please contact me via telegram @sschiessl-bcp to sort this out quickly.

[2019-06-24 08:24] sschiessl-bcp opened #2820 "Voting: Proposed workers needed voting is wrong"
Displayed as 0

[2019-06-24 09:39] #2774 closed

[2019-06-24 09:55] allfory0u opened #2821 "[3.1.190618-rc1] Help section - Broken internal links"
**Describe the bug**
Broken links to internal sections in the Help section.

**To Reproduce**
Steps to reproduce the behavior:
1.1 Go to [Bitshares](https://staging.bitshares.org/#/help/introduction/bitshares)
1.2 Click on ["BitAssets"](https://staging.bitshares.org/#/help//help/assets/mpa) or click on ["User-Issued Assets"](https://staging.bitshares.org/#/help//help/assets/uia) or click on ["The

[2019-06-24 11:29] #2765 closed

[2019-06-24 11:38] #2775 closed

[2019-06-24 11:38] #2776 closed

[2019-06-24 11:38] #2762 closed

[2019-06-24 11:39] #2790 closed

[2019-06-24 11:45] sschiessl-bcp commented on #2763
@murda_ra please confirm

[2019-06-24 11:46] sschiessl-bcp commented on #2763
The bounty for this issue will be reimbursement to my account `sschiessl` of the spent `BTS`, see here
https://develop.bitshares.org/#/block/37690276/1

[2019-06-24 11:49] dls-cipher commented on #2763
Confirmed.

[2019-06-24 12:00] dls-cipher commented on #2763
Approved on chain.

[2019-06-24 12:30] #2786 closed

[2019-06-24 12:36] sschiessl-bcp commented on #2814
I've changed the wording slightly, and added a meaningful comma:
`Create a prediction into the future that others can agree or disagree with, leveraged with collateral.`

The issue I see with your text is that it insinuates that the creator provides the collateral, which is not true. The person that creates the prediction asset and sells it provides the collateral.

[2019-06-24 13:13] froooze commented on #2817
Could be related to something else.

[2019-06-24 13:22] #2817 closed

[2019-06-24 13:22] sschiessl-bcp commented on #2817
Found an error in loading history

[2019-06-24 13:25] sschiessl-bcp commented on #2818
My guess is that the preimage was re-calculated (possibly due to bad UX)  .. Please try to re-create (put tx fee on your integration test ticket)

[2019-06-24 13:34] #2820 closed

[2019-06-24 13:46] sschiessl-bcp commented on #2821
Thanks

[2019-06-24 13:49] #2821 closed

[2019-06-24 13:58] sschiessl-bcp commented on #2783
Removed blocker label because it was mistaken for a different issue. This one is visual only.

[2019-06-24 14:16] froooze commented on #2818
I did two new HTLC, which worked!

[2019-06-24 14:21] froooze opened #2824 "[3.1.190618-rc1] Hash for HTLC not fully visible"
**Describe the bug**
The UI doesn't show the full hash

**To Reproduce**
1. Go HTLC
2. Create HTLC

**Expected behavior**
Show full hash

**Screenshots**
![Hash](https://user-images.githubusercontent.com/40874087/60026561-0d142780-969c-11e9-99f1-aced347c5eea.png)

**Desktop (please complete the following information):**
 - OS: MX-Linux

[2019-06-24 14:55] Agorise commented on #2814
Perfect! Thank you! :)

[2019-06-25 00:39] froooze opened #2825 "[0][3.1.190618-rc1] Exchange - Refine cancel feature"
<h1>1</h1>
**Describe the bug**
When the cancel order master box is set active and performed it is afterwards still active.

**To Reproduce**
Steps to reproduce the behavior:
1. Exchange
2. Create a order
3. Activate the master cancel box
4. Cancel selected orders
5. Create new orders
6. Master box is still active, but new orders are not selected

**Expected behavior**
Reset master checkbox after

[2019-06-25 05:58] manikey123 commented on #2504
Please find the three approaches to get Account level filtered and Asset level aggregated collateral information. IMO I prefer Approach 3>. Look forward to your feedback/suggestion.

Approach 1> ChainStore Approach as used in Margin Positions Page
ChainStore designed in bitsharesJS
ChainStore is used to get account level information and store in the account object in account overview page and is l

[2019-06-25 06:10] #2819 closed

[2019-06-25 06:17] #2783 closed

[2019-06-25 06:26] #2818 closed

[2019-06-25 06:29] sschiessl-bcp commented on #2824
Should we indicate the overflow? Intention is that user uses the copy button

[2019-06-25 07:50] sschiessl-bcp opened #2826 "[3] Remove charting library from github"
The charting library has to be removed from this repository due to the license agreement.

Following procedure:
 - [ ] Create script (`npm run package-charting-library`) that archives the source code content of the `charting_library` folder into one file (content as it is right now, .zip or .tar or whatever is easiest, I don't want many additional dependencies, and all dependencies should be devDe

[2019-06-25 08:26] #2763 closed

[2019-06-25 08:31] sschiessl-bcp commented on #2641
<h1>3.1.190618-rc1 Release Candidate</h1>
Please report any bugs using the Github issue system. Final release is expected on June 18th

<h2>Installation warning</h2>
This build will *replace* your old version of the BitShares UI, whether it's a release candidate or production release. If you want a stable version, use only the latest production release

<h2>Web deployment</h2>
This release candida

[2019-06-25 08:31] #2641 closed

[2019-06-25 08:34] #2753 closed

[2019-06-25 08:35] #2754 closed

[2019-06-25 10:31] froooze commented on #2824
@sschiessl-bcp: I think we should display the whole hash to be able to check it.
When I check hashes I look at the start and the end of a hash!

[2019-06-25 10:41] froooze opened #2827 "[3.1.190618-rc1] Select cancel order - language logic"
**Describe the bug**
Tooltip does describes wrong action

**To Reproduce**
Steps to reproduce the behavior:
1. Go Exchange
2. Hover on master cancel button

**Expected behavior**
Select order for cancel

**Screenshots**
![select-lang](https://user-images.githubusercontent.com/40874087/60092065-53be5c00-9746-11e9-81df-17be81192d24.png)

**Desktop (please complete the following information):**
 - OS

[2019-06-25 15:36] isamuelson commented on #2658
a correction needs to be made for all the accounts that where hacked and lost control.

1. restore control with weight to the public key (via concensus)
2. retrieve back the funds that were taken and still on the bitshares platform.
3. contact authorities for the funds that were withdrawals.

[2019-06-25 15:57] fycee opened #2828 "#378102910"
Buying BTS using my 2,555.6 Weku Coins was not yet filled. Thank you for being prompt with my issue the last time. I hope that this will be fixed the soonest as well. Have a great day!

[2019-06-25 18:05] HB1github commented on #2658
Please provide HOWTO

a correction needs to be made for all the accounts that where hacked and lost control.

1. restore control with weight to the public key (via concensus) -> not possible with weight (see attached)
![Control](https://user-images.githubusercontent.com/29228275/60121635-d285ba00-9783-11e9-88c0-c3aae58f0ed9.png)
![Control2](https://user-images.githubusercontent.com/29228275/601217

[2019-06-25 18:08] HB1github commented on #2658
Hacker is "putler666", he should be stopped and banned from ledger!
gdex-security created a proposal: Update account data for putler666
putler666 transfered everything in BTS to huibao000

[2019-06-25 18:10] isamuelson commented on #2658
1. it is possible as the 21 witnesses can agree on it or have the committee agree on it. same goes with the other bullets.
2. not all funds were moved. and if so then 3 is the way.
3. take responsibility on your side, make the community aware of the hack, put pressure, but don't put the blame on others before you took full responsibility on it.

[2019-06-25 18:23] HB1github commented on #2658
Do you how many times, I wrote them...
Please provide HOWTO for
1. restore control with weight to the public key (via concensus)?

[2019-06-25 18:25] isamuelson commented on #2658
create a new transaction approval type for that which requires the multi-sig of x commitee (even votes) to allow the ownership or weight of an account to be changed

[2019-06-25 19:56] TBAPI-0KA commented on #1908
I'd like to claim this one.

I've made some investigation of existing code to understand what dynamic menu items, submenu/alternate, etc are. Here are some questions/notes, and scope breakdown:
1. https://github.com/bitshares/bitshares-ui/blob/develop/app/components/Layout/Header.jsx#L1298
What is the purpose of this line? this is the only place where "submenu" variable is used (which is a pretty

[2019-06-26 07:17] sschiessl-bcp commented on #2828
An order must be matched by someone else that wants to sell BTS for that price. If you can't match at that price, try adjusting your price to current market rates.

[2019-06-26 07:17] #2828 closed

[2019-06-26 07:19] sschiessl-bcp commented on #2827
Moved into #2825

[2019-06-26 07:19] #2827 closed

[2019-06-26 07:19] #2814 closed

[2019-06-26 07:23] sschiessl-bcp opened #2829 "[2] Dashboard Portfolio sorting"
Must be sorted by BTS value, descending, accounting for all assets. Current behavior is only sorting the currently visible page when paginated.

Example: https://develop.bitshares.org/#/account/billbutler

[2019-06-26 08:44] sschiessl-bcp commented on #2661
Can you put it in a (then considered binding) Milestone, or release it?

We already have code for that, I've seen the memo popping up in new Modal. Should be a (possibly stupid) small error.

[2019-06-26 08:53] sschiessl-bcp commented on #2789
Does this issue reproduce on the latest wallet.bitshares.org, or the local install of it? You are using a private fork. @gades

[2019-06-26 08:56] sschiessl-bcp commented on #2504
How is it done in the current CollateralBid overview?

Are collateral bids included in the `get_full_account` return value?

[2019-06-26 09:10] sschiessl-bcp commented on #2658
On 1.: This would require a BSIP. Are you interested in helping work it out?

[2019-06-26 09:14] sschiessl-bcp opened #2830 "Streamline for core 3.2.0"
Task:
 - [ ] Resolve https://github.com/bitshares/bitsharesjs/issues/54
 - [ ] Check what input outputs have changed and what and where it impacts the UI
 - [ ] Suggest what fixes are required

[2019-06-26 11:01] HB1github commented on #2658
Please advice for BSIP? I am interested to get my funds back.

[2019-06-26 11:11] OpenLedgerApp commented on #2813
@startailcoon, I can take this one.

[2019-06-26 11:14] sschiessl-bcp commented on #2813
Go ahead

[2019-06-26 11:15] sschiessl-bcp commented on #2658
A BSIP won't get you your funds back unfortunately. It could restore access to accounts.

[2019-06-26 11:16] HB1github commented on #2658
Please start with 1st procedure to restore access to account. Thanks.

[2019-06-26 11:17] fycee commented on #2828
I even created a blog out of this process. I used the latest price of
WEKU_BTS that time.

Check it out!

https://deals.weku.io/community-deals/@fycee/buying-bts-using-my-1-880-wekucoin-earnings-from-my-blogs

Anyway, I cancelled that order already and created a new one. Order ID #
378455637
[image: image.png]

[image: image.png]

I used 0.06 BTS latest price.
The difference from yesterday's price

[2019-06-26 11:39] fycee commented on #2828
it was already filled. thanks! just disregard this one.

On Wed, Jun 26, 2019 at 7:16 PM eiron m <aaronaranez12@gmail.com> wrote:

[2019-06-26 12:00] abitmore commented on #2658
Just FYI this is a similar BSIP which restore access to accounts as well: https://github.com/bitshares/bsips/pull/149.

[2019-06-26 12:02] abitmore commented on #2658
And there is a discussion about this issue: https://github.com/bitshares/bsips/issues/154

[2019-06-26 12:08] HB1github commented on #2658
A lot of comments and communication to read.
Any available instruction/link to restore access to account will be helpful?

[2019-06-26 12:10] abitmore commented on #2658
It's impossible to restore access by now.

[2019-06-26 12:38] HB1github commented on #2658
I added new BSIP. Thanks.

[2019-06-26 13:08] sschiessl-bcp opened #2832 "[2.64] Publication for 190618 release"
In the past I did publication for releases in a quite raw format, see for example here
https://steemit.com/blockchain/@sschiessl/the-bitshares-blockchain-ui-release-20190410

For the [current release candidate](https://steemit.com/bitshares/@sschiessl/bitshares-ui-release-candidate-190618) I want a post crafted that is fun to read, informative and possible have side posts with it that include "How

[2019-06-26 14:46] gades commented on #2789
@sschiessl-bcp
<img width="1023" alt="Screen Shot 2019-06-26 at 17 45 32" src="https://user-images.githubusercontent.com/4200730/60189832-484c5d00-983a-11e9-8dbf-0ef649e582fa.png">

i able to reproduce it on your side and yes - I'm using own fork

[2019-06-26 14:49] gades commented on #2789
also, this issue can be reproduced only after building bundle or application and from dev mode it's working fine (I'm thinking that it's issue with compilation)

[2019-06-26 15:17] sschiessl-bcp commented on #2832
Reserved for Scott atm

[2019-06-26 16:09] startailcoon commented on #2825
Fixed by PR https://github.com/bitshares/bitshares-ui/pull/2773.

The second issue may still need to be checked. It could need another description.

[2019-06-26 16:11] startailcoon commented on #2824
I'd agree. I usually do the same check as frooze. And skim through middle parts to just make sure it looks correct. At least that's how I do addresses.

[2019-06-26 17:57] startailcoon opened #2834 "[0.5] Proposal object without owner breaks dashboard"
When an account has a Create proposal transaction and it miss the owner object it will break the dashboard as the transaction history can't load.

- 0.5h to find the exact cause of this breakage

[2019-06-26 21:39] ryanRfox opened #2837 "[mrugakshee][1.25] Unable to Import Key from WIF"
**Describe the bug**
Unable to import private key (WIF) to `BITSHARES 3.1.190618`

**To Reproduce**
1. Login with: key file (local wallet)
2. Navigate: Settings >> Restore/Import
3. Select: Import a private key
4. Paste: privKey (WIF)
5. Click: Submit

Result: no UI response. Same if the field is left blank and click submit.

**Expected behavior**
In the past, the privKey is added to the wallet an

[2019-06-26 22:46] AXS-WILSON opened #2838 "[0.5] Blocks freeze after a transaction occurs."
**Description**

Dashboard / Activity
Pending blocks display freezes after a transaction occurs.

**Version**
190618 - Master
Any browser.

[2019-06-26 23:56] abitmore commented on #2829
Not only default sorting. When clicked on the title, should sort all assets but not only current page.

[2019-06-27 07:03] sschiessl-bcp commented on #2834
Can you please give more insight into the error? Stack trace etc.? What exactly is owner object for you?

[2019-06-27 09:23] froooze commented on #2771
#2774
#2775
#2776
#2777
#2778
#2779
#2780
#2785
#2790
#2791
#2797
#2799
#2800
#2801
#2808
#2809
#2813
#2817
#2818
#2819
#2824
#2825
#2827

[2019-06-27 10:03] froooze opened #2839 "[0][3.1.190618-rc1] MCR should be MSSR"
**Describe the bug**
The MSSR column is also tagged with MCR

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Margin Positions
4. See error

**Expected behavior**
Show MSSR

**Screenshots**
![MSSR](https://user-images.githubusercontent.com/40874087/60257292-78940a00-98d3-11e9-811e-7265f605c1ce.png)

**Desktop (please complete the following information):**
 - OS: MX-Linux

[2019-06-27 10:22] froooze opened #2840 "Update notification on latest version"
**Describe the bug**
Update notification is active on latest version

**To Reproduce**
Steps to reproduce the behavior:
1. Lock on the left bottom corner
4. See error

**Expected behavior**
No update notification

**Screenshots**
![update](https://user-images.githubusercontent.com/40874087/60258763-1557a700-98d6-11e9-86b6-754d24f04f2f.png)

**Desktop (please complete the following information):**

[2019-06-27 10:24] froooze commented on #2802
I had one freeze at the login window again!

[2019-06-27 11:32] sschiessl-bcp commented on #2834
What account does that happen on?

[2019-06-27 11:38] #2370 closed

[2019-06-27 11:49] #1065 closed

[2019-06-27 12:18] sschiessl-bcp commented on #1669
Bounty request in https://github.com/bitshares/bitshares-ui/pull/2804/#issue-289595014

[2019-06-27 18:57] startailcoon commented on #2834
This happens on account `sc-trade`.
It happens when a proposal is to change active, but not owner.
Owner is null, and active is not null for the "Proposed Transaction" tab.

![image](https://user-images.githubusercontent.com/12114550/60292656-ecf39b00-991d-11e9-9e71-9059b92b5799.png)

#### Error Log
[code]

Op Object missing `Owner`

[code]

https://github.com/bitshares/bitshares-ui/blob/2f5076a3d

[2019-06-27 18:59] startailcoon commented on #2839
😱

[2019-06-27 19:38] startailcoon commented on #2661
### Solved

Sorry for the delay. It was indeed a simple missing flag that didn't enable memos on assets that had the flag "supportsMemos".

![image](https://user-images.githubusercontent.com/12114550/60295368-d6504280-9923-11e9-8e5b-dfdf62579c51.png)

[2019-06-27 19:43] startailcoon commented on #2837
This task has two goals

1. Fix UI breakage when importing WIF.
2. Alert user when an import fails due to any reason.

[2019-06-27 19:45] startailcoon commented on #2838
What type of a transaction are you doing when the UI freezes?
Please describe your steps so we can reproduce.

Thanks.

[2019-06-27 19:45] startailcoon commented on #2840
@sschiessl-bcp

[2019-06-27 23:56] liondani commented on #2840
Linux Mint 19.1

Same behaviour (Latest version installed but still mentioning "UPDATE AVAILABLE")

[2019-06-28 01:29] AXS-WILSON commented on #2838
Any type of transaction.
This happens when any transaction with an account is done. Trade, deposit or withdraw. Any.
Directly in the Activity tab. At the time of the transaction.
Just switching to Margin Positions and back helps update information.

![freezing](https://user-images.githubusercontent.com/35869952/60310816-33b4b580-995d-11e9-8c02-39f8e6b5d880.jpg)

[2019-06-28 07:11] sschiessl-bcp commented on #2821
We would like to offer you a bounty of 0.3 for integration testing. The release candidate is published, the integration tests for it were conducted through #2753

We would be happy if you come back for the next round of integration tests, or if you conduct more testing now (in the second case please contact us to see how that could be compensated)

[2019-06-28 07:18] sschiessl-bcp commented on #2762
This was done through https://github.com/blockchainprojects/bitshares-ui/issues/122 but not all hours were accounted for on the other issues (which is my fault for not requesting differently). Since the others are already finalized, I request a bounty of 1.

[2019-06-28 09:58] icsugti opened #2843 "GUI installed - Got this error."
[https://i.ibb.co/ZGCzxtc/image.png](url)

in ./app/components/Blockchain/Asset.jsx Module build failed (from ./node_modules/babel-loader/lib/index.js): Duplicate declaration "counterpart"   27 | import {Tab, Tabs} from "../Utility/Tabs";
  28 | import {Tooltip, Icon, Table, Tabs as AntTabs} from "bitshares-ui-style-guide";

     |        ^
  30 | // TODO: Replace remaining old style Tabs with new

[2019-06-28 12:06] swehman commented on #2832
Indeed, looking forward to getting involved.

[2019-06-28 14:30] #2826 closed

[2019-06-29 09:14] startailcoon commented on #2843
Fixed by commit https://github.com/bitshares/bitshares-ui/commit/0d54862aa12a3ba40dd69f7e25528afce8340d17#diff-92c45f254db82073dcae1e0b1b26322e

[2019-06-29 09:14] #2843 closed

[2019-06-29 09:33] startailcoon commented on #2838
The reason for this problem can be larger than what it seems. Adding 0.5h to locate the problem and supply a fix. If the issue is larger than expected (ie. needing some larger patch) the hours can be adjusted.

[2019-06-29 09:38] startailcoon commented on #2800
Can't reproduce. On what account does this happen?

[2019-06-29 10:13] startailcoon commented on #2840
This is most likely due to the fact that the latest tag was invalidly used as `2.0.190618` when in fact it should have been `3.1.190618` making the application assume there is a newer version available.

This will correct itself by the next version.

Code to be looked at if needed

https://github.com/bitshares/bitshares-ui/blob/1b5fbc85618d3903134b704f0d777ebf5aa62d24/app/components/Layout/Footer.

[2019-06-29 10:22] sschiessl-bcp commented on #1908
Can you please post an update to the structure
https://github.com/bitshares/bitshares-ui/issues/1908#issuecomment-430347304 accounting for all comments inbetween including any change you would suggest

[2019-06-29 15:24] startailcoon commented on #2761
I'd like to point out that I'm still not sold on the concept of solving the space issue with making it possible to view/hide different actions. An action that I seldom use would be much more convinient to have in a drop-down action so I can still access them, and still save space. After this change I have to enable it based on my need for the moment.

But if this is what we want to go, I'm not goi

[2019-06-30 05:26] WilliamCruz opened #2849 "Bitassets Buggy Price Feed"
When clicking on the following bitAssets from my dashboard I get a white screen:
Google, applecom, telsacom, boeing, microsft, ebay, etc all the major
companies  alibabba, and nickel

Steps to reproduce the behavior:
1. Go to dashboard
2. Click on 'google.com or any of the above mentioned bitAssets'
3. Get a white screen

You should get a white screen.

Macbook Pro
 - OS: [Mac OS ]
 - Browser [ ch

[2019-06-30 06:20] sschiessl-bcp commented on #2849
What version if the client are you using?

Am 30. Juni 2019 07:26:44 schrieb William M Cruz <notifications@github.com>:

[2019-06-30 10:15] gibbsfromncis opened #2850 "[1][Wallet Redesign] Dashboard final v1.0"
This is the final version of a Dashboard we are agreed after the first draft (#2702)

![Dashboard 1 0](https://user-images.githubusercontent.com/35899973/60395208-de350000-9b38-11e9-961b-9fd790d837e5.jpg)

[2019-06-30 10:17] gibbsfromncis commented on #2668
Latest updates:
**Design:**
The Final version of a Dashboard (#2850)

[2019-06-30 10:20] gibbsfromncis opened #2851 "[9.5][Wallet Redesign] Wallet"
This is the design of the wallet based on mockups from #2672

![Wallet](https://user-images.githubusercontent.com/35899973/60395269-a5e1f180-9b39-11e9-9afb-eddc593b1fb9.jpg)

The chart of summarized balance was removed due to decrease complexity of implementation for the current stage.

[2019-06-30 10:21] froooze opened #2852 "Dashboard - Activitiy refinements"
**Is your feature request related to a problem? Please describe.**
Some problems are from old builds, some are new from the RC:

- Action filter drop down menu without scroll bars
- Action filter drop down menu tooltip above, to not hide options

- Remove tooltip for Invert price and Go to market
- Add trading column/icon like in Open Orders
- Allow switching pairs by simple click, like in Open Or

[2019-06-30 10:27] gibbsfromncis opened #2853 "[4][Wallet Redesign] Style-Guide of Redesign. Phase I"
<img width="1400" alt="inputs" src="https://user-images.githubusercontent.com/35899973/60395355-ba72b980-9b3a-11e9-9417-4c590b355d36.png">
<img width="1400" alt="text" src="https://user-images.githubusercontent.com/35899973/60395356-ba72b980-9b3a-11e9-9a95-f60a2c484888.png">
<img width="1400" alt="tooltip" src="https://user-images.githubusercontent.com/35899973/60395357-ba72b980-9b3a-11e9-8340-d9f

[2019-06-30 10:32] gibbsfromncis opened #2854 "[Wallet Redesign] Exchange (Mobile)"
Exchange is the most complicated feature to use on mobile devices and its UX should be really clear and comfortable to satisfy all bitshares users needs.

The first important entrance point to Exchange is to list all markets.

[2019-06-30 11:08] froooze opened #2855 "Login refinements"
**Is your feature request related to a problem? Please describe.**
The actual login needs a lot of double click actions and does not guide the login process.

**Describe the solution you'd like**
- login type (local/cloud) with two buttons instead of drop down menu
- direct drop down menu for selecting bin-file list instead of **use different file**
- **Load bin-file** button (instead of the entry

[2019-06-30 11:12] gibbsfromncis opened #2856 "[Wallet Redesign] Sign Up Mobile"
Mobile version of sign up will look different from desktop. The reason is to make a better UX for people who decide to use bitshares from smartphones.

To help people understand the main key difference between bitshares accounts types (cloud/local) I would like to propose to use a slider with the following mechanism:

- First screen is a summary. We say our users we support 2 different types of ac

[2019-06-30 11:24] gibbsfromncis opened #2857 "[Wallet Redesign] Dashboard Mobile"
On a mobile devices dashboard looks the same as on a desktop (#2670) with a one key difference - all widgets fits 100% of screen width.

![E9FEF70D-8E6E-497F-ABD4-5FAB63B0C331](https://user-images.githubusercontent.com/35899973/60395870-9a46f880-9b42-11e9-86be-9696651f33de.png)

All widgets with charts or widgets which need more space will have a “full screen” icon and on click will rotate by 90 d

[2019-06-30 11:24] froooze opened #2858 "[0.25] Change order MY TRADES/MARKET TRADES"
**Describe the bug**
When I have MY TRADES and MARKET TRADES in one group, MY TRADES is always before MARKET TRADES, which does not make much sense for me.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange

**Expected behavior**
Change order in Personalize and Exchange for MY TRADES/MARKET TRADES

**Screenshots**
![Market trades](https://user-images.githubusercontent.com/4087408

[2019-06-30 11:32] froooze opened #2859 "Market tooltip should not hide stars"
**Describe the bug**
With the market tooltips the star icon is not accessible anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange
2. hover over a market

**Expected behavior**
Move the tooltip a little bit to the left side

**Screenshots**
![market-tooltip](https://user-images.githubusercontent.com/40874087/60395963-77fdac80-9b3b-11e9-9150-3d06562b8bf4.png)

[2019-06-30 11:51] froooze opened #2860 "[react-cat][1.5] Account switch tooltip should not hide user menu"
**Describe the bug**
Switching to a different account shows a toolip, which hides the user menu entry

**To Reproduce**
Steps to reproduce the behavior:
1. Click on username to switch account
2. Click on username to switch account again

**Expected behavior**
Move tooltip to the left to not hide user menu

**Screenshots**
![acc-switch-tooltip](https://user-images.githubusercontent.com/40874087/603

[2019-06-30 12:06] gibbsfromncis opened #2861 "[Wallet Redesign] Landing (Mobile)"
The Landing page is pretty the same as for Desktop version (#2669) but adapted for mobile devices with better UX.

### Entry Point (when a user is not logged in)

<img src="https://user-images.githubusercontent.com/35899973/60396263-d4ff5f80-9b47-11e9-9923-d56ec5744abd.png" width="250" >

All Bitshares benefits will be inside a slider with automatic switching. Also, it is possible to select next/p

[2019-06-30 12:07] froooze opened #2862 "[2] No scroll reset on Exchange"
**Describe the bug**
Scrolling down a list on the Exchange and switching to a different pair does not reset the scroll position.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange bitCNY/BTS
2. Scroll down MARKET TRADES list till bottom
3. Select a different market RUDEX.WLS/BTS
4. List looks empty, scrolling is needed to see entries

**Expected behavior**
Show the list from the

[2019-06-30 12:12] gibbsfromncis opened #2863 "[Wallet Redesign] Mobile Layout Menu"
<img src="https://user-images.githubusercontent.com/35899973/60396343-f745ad00-9b48-11e9-8333-92cf0532c36e.png" width="250">

The menu on mobile devices looks  a little bit complex because it displays few categories of information:
- Current account name & balance
- Account's related operations (this is the same menu as when user click on a profile icon)
- Application navigation

[2019-06-30 13:17] allfory0u commented on #2821
Thank you, @sschiessl-bcp

I will do both: come back for the next round of integration tests and conduct more testing now.

My bitshares account is **allforyou**.

[2019-06-30 13:20] gibbsfromncis opened #2864 "[Wallet Redesign] Wallet Mobile"
Mobile version of wallet looks a little bit different from Desktop version (#2617)

<img src="https://user-images.githubusercontent.com/35899973/60397103-fcf3c080-9b51-11e9-9ce5-ed58dabbb83e.png" width="250">

On the mobile version, the wallet is presented in a table view.
- All balances sorted by Favorite.
- Ability to find specific currency using search

When the user clicks on a specific balanc

[2019-06-30 14:07] allfory0u opened #2865 "[3.1.190618-rc2] Integration Tests by [allfory0u] for Firefox"
My OS:
  - Windows 10

My Browser:
 - Firefox 67.0.4

General
 - [x] Wallet loads and connects
 - [x] Login via cloud login and local wallet
 - [x] Transfer between accounts (with and without memo)
 - [x] Exchange opens, orders are visible and limit orders can be put
 - [x] Margin creation and adjustment is possible
 - [x] Voting is possible (committee, witness, proposals)

Specific components:
 -

[2019-06-30 14:07] allfory0u commented on #2865
Testing in progress

[2019-06-30 14:14] froooze commented on #2865
Final release is already out!

[2019-06-30 14:16] allfory0u commented on #2865
Not sure, but I already found some bugs in the testing process

[2019-06-30 14:21] allfory0u opened #2866 "[3.1.190618-rc2] Activity - Download history failed"
**Describe the bug**
Unable to download account history due to cross-origin resource sharing settings

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard' and then 'Activity'
2. Click on 'Download History'
3. Choose any type of report
4. See error message "Failed to download the account history, please try again"

![Screenshot_8](https://user-images.githubusercontent.com/1746202

[2019-06-30 14:37] allfory0u opened #2867 "[3.1.190618-rc2] HTLC - Incorrect information about fee"
**Describe the bug**
Incorrect information about fee when create or extend HTLC

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [HTLC](https://staging.bitshares.org/#/htlc)
2. Click on 'Create HTLC'
3. Fill out the forms
4. Click on 'Create'
5. See the difference between fee in the form of create or extend HTLC and in the form of confirming the transaction

**Expected behavior**
See th

[2019-06-30 15:07] allfory0u opened #2868 "[3.1.190618-rc2] HTLC - Problem with "Extend HTLC""
**Describe the bug**
When I want to extend HTLC and I click on "Expiration date - Two days" or "Expiration date - One week", I see the date changing from the current one to two days ahead or a week. But after updating the time of the HTLC action, I see that the value I specified was added to the previous value, and not replaced by it.

- Expiration date was "One day"
- I want to change it to "Two

[2019-06-30 15:52] startailcoon commented on #2859
I don't think we really need this, quite intrusive, tooltip on this place. It takes up to much space.
The reason is that there was an addition to the component used in multiple places to use the tooltip on assets.

[2019-06-30 16:02] startailcoon commented on #2858
Good suggestion, haven't really thought about it myself, but it makes sens to be able to change the order of these as well.

[2019-06-30 16:20] startailcoon commented on #2762
Approved

[2019-06-30 16:24] startailcoon commented on #2763
120 BTS = ~50 bitCNY

[2019-06-30 16:52] WilliamCruz commented on #2849
I have been using the web application at wallet.bitshares.org. I just
downloaded the latest Bitshares Client from Bitshares.org. I am able to
proceed. Thank you.

However, will the web application be fixed?

On Sun, Jun 30, 2019 at 1:20 AM Stefan Schießl <notifications@github.com>
wrote:

--

Respectfully Signed,
William Martin Cruz
*williammartincruz@gmail.com <williammartincruz@gmail.com>*
GitHu

[2019-06-30 16:53] startailcoon opened #2869 "Improvements to Exchange Components"
This issues it to track all surrounding issues for the Exchange Component(s).

There are multiple things that needs to be attended to on the exchange. The following is the goal of this Epic issue.

- Split code and UI in components on the exchange. [~10 hrs]
- Solve issues with mobile, tablet and desktop views. [~3 hrs]

[2019-06-30 17:32] froooze commented on #2858
@startailcoon: It would be enough to have MARKET TRADES before MY TRADES as default value.

[2019-06-30 17:44] froooze opened #2870 "Portfolio Price (BTS) column invertible"
**Is your feature request related to a problem? Please describe.**
The Price (BTS) column in the Portfolio tab does not support inverting the price by click, like in Open Orders

**Describe the solution you'd like**
Make column clickable to invert price.

[2019-06-30 18:04] froooze opened #2871 "[0.75] Open Orders Toolbar refinments"
**Is your feature request related to a problem? Please describe.**
The reset button before the Submit button is confusing.
Current location of button is also confusing

**Describe the solution you'd like**
All to the left!
Group by asset (different style) | Submit | Reset | Filter

**Screenshot**
![open-orders-toolbar](https://user-images.githubusercontent.com/40874087/60400329-97fc9280-9b72-11e9-

[2019-07-01 05:51] #2825 closed

[2019-07-01 05:54] #2839 closed

[2019-07-01 05:54] #2801 closed

[2019-07-01 06:05] sschiessl-bcp commented on #2798
Currently we have
 - `danger`
 - `warning`
 - nothing

This task is to discuss if we want the following below and what CR they should be tied to (suggestion in brackets)
 - `danger` (`cr < mr`)
 - `warning` (`cr < mr + (mr-1)*0.5`)
 - `adequate` (or some other wording, (`cr < mr + (mr-1)*1.5)`)
 - nothing

[2019-07-01 06:16] #2834 closed

[2019-07-01 06:20] #2829 closed

[2019-07-01 06:22] sschiessl-bcp commented on #2868
Ah .. yea that makes sense. Current logic is indeed "now + specified period" and not "current expiration date + specified period".

[2019-07-01 06:24] sschiessl-bcp commented on #2867
Assumption: Create/Extend modal only shows base fee and fails to update to actual fee taking the time into account. Should be resolved with #1117

[2019-07-01 06:26] sschiessl-bcp commented on #2871
For consitency with the remaining wallet the filter bar should be the most left, then place the `[x] Group by asset`. Action buttons could then be on the right.

[2019-07-01 07:27] #2661 closed

[2019-07-01 09:56] allfory0u opened #2873 "[0.75][3.1.190618-rc2] Barter - problem with entering amount of bartering asset"
**Describe the bug**
Interface elements are repaint when you try to enter the amount of bartering asset and memo field is open.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Barter](https://staging.bitshares.org/#/barter)
2. Click on icon for adding memo field
3. Click on "Bartering asset" field
4. Try to enter any number
5. As a result, the page was refreshed and all elements retur

[2019-07-01 11:56] allfory0u opened #2874 "[0.5][3.1.190618-rc2] HTLC - mismatch between "Expiration date" and "Expires""
**Describe the bug**
In the list of all HTLC data from the "Expires" column do not match the "Expiration date" in the form of "Extend HTLC". "Expiration date" in the called form "Extend HTLC" is always the same for all HTLC

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [HTLC](https://staging.bitshares.org/#/htlc)
2. Click on 'Extend'
3. See the difference between "Expiration date" an

[2019-07-01 12:34] allfory0u opened #2875 "[0.25][3.1.190618-rc2] Activity - incorrect information about the amount of locked BTS"
**Describe the bug**
If the amount of blocked in HTLC BTS is less than 0.5, then in Activity it is displayed as 0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [HTLC](https://staging.bitshares.org/#/htlc)
2. Click on 'CREATE HTLC'
3. Create HTLC with the amount of locked BTS is less than 0.5
4. Go to 'Dashboard' and 'Activity'
5. See "... account locked 0 BTS for account..."

**Expec

[2019-07-01 13:32] froooze commented on #2800
@startailcoon: I can't reproduce this bug with 3.1.190618 now. I do now further testing with German language.

[2019-07-01 14:53] sschiessl-bcp commented on #2874
Yes, it probably does the same logic there: Date in modal is now + one day.

[2019-07-01 14:55] sschiessl-bcp commented on #2859
I think a proper delay here will do.

[2019-07-01 17:43] froooze commented on #2859
#2809, but stars should not be hide by default

[2019-07-01 18:16] abitmore opened #2876 "[2] Missing vesting balances"
**Describe the bug**
The list displayed in the vesting balance page is incomplete.

For example, `temp-account` has these vesting balances:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://develop.bitshares.org/#/account/temp-account/vesting'

**Expected behavior**
Data match.

**Screenshots**
![image](https://user-images.githubusercontent.com/9946777/60457570-a6af7c00-9

[2019-07-01 18:17] allfory0u commented on #2865
Testing is complete

[2019-07-01 18:31] froooze opened #2877 "Invert Quantity/Total scaled order"
**Describe the bug**
The buying asset **Quantity** field and the selling asset **Total** field should have the inverted unit to fit the portfolio unit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange Scaled orders
2. Compare fields with portfolio unit

**Expected behavior**
Same unit use for one order type

**Screenshots**
![scaled](https://user-images.githubusercontent.com/40

[2019-07-01 18:31] allfory0u commented on #2876
After the page is loaded, nothing is really displayed.
But after some actions (I can’t determine what exactly helps), the vesting balances are displayed.
Or you can go to another page of the exchange, and then go back. Also balances are visible for a split second when the page is reloaded later.

[2019-07-01 18:39] froooze commented on #2802
@sschiessl-bcp :
From time to click on Select key file, cause the freeze.

[2019-07-01 18:52] allfory0u opened #2878 "[0.75] Spontaneous URL change after node change"
**Describe the bug**
Switching to another node changes the URL to the wrong one. If you change a node while on the develop.bitshares.org/#/account/temp-account/vesting page, then after changing the node, the URL will change to develop.bitshares.org/#/account//vesting

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://develop.bitshares.org/#/account/temp/vesting](https://develop.b

[2019-07-01 18:54] mrugakshee commented on #2837
I would like to take this issue.

[2019-07-02 05:53] sschiessl-bcp opened #2879 "Vesting Balance Loading"
Here is a collection of faucet accounts

https://wallet.bitshares.org/#/account/onboarding.bitshares.foundation/vesting
https://wallet.bitshares.org/#/account/cryptobridge/vesting
https://wallet.bitshares.org/#/account/openledger/vesting
https://wallet.bitshares.org/#/account/onboarding-sparkdex/vesting
https://wallet.bitshares.org/#/account/btsabc.reg/vesting
https://wallet.bitshares.org/#/accoun

[2019-07-02 09:07] allfory0u opened #2880 "[3.1.190618-rc1] Integration Tests by [allfory0u] for Chrome"
My OS:
  - Windows 7

My Browser:
 - Chrome 71

General
 - [x] Wallet loads and connects
 - [x] Login via cloud login and local wallet
 - [x] Transfer between accounts (with and without memo)
 - [x] Exchange opens, orders are visible and limit orders can be put
 - [x] Margin creation and adjustment is possible
 - [x] Voting is possible (committee, witness, proposals)

Specific components:
 - [x] T

[2019-07-02 09:24] allfory0u opened #2881 "[3.1.190618-rc1] Proposal - Incorrect information about fee"
**Describe the bug**
Incorrect information about fee when create proposal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to menu
2. Click on 'Send'
3. Click on 'Propose'
4. See the 'Regular Transaction Fee' for operation 'Transfer' (0.45468 BTS) instead ''Regular Transaction Fee' for operation 'Create proposal' (5.0 BTS)

**Expected behavior**
See the correct information about fee

**Scr

[2019-07-02 09:24] allfory0u commented on #2880
#2881

[2019-07-02 10:06] abitmore commented on #2879
#2876?

[2019-07-02 10:10] #2879 closed

[2019-07-02 10:11] sschiessl-bcp commented on #2876
https://github.com/bitshares/bitshares-ui/issues/2879#issue-463033748

[2019-07-02 12:54] abitmore opened #2882 "Headline style and translation"
**Is your feature request related to a problem? Please describe.**
![](https://user-images.githubusercontent.com/9946777/60457570-a6af7c00-9c3c-11e9-93c3-b5410286a637.png)

Current headline style looks like a browser warning (see below), careless users may totally ignore it, non-English users don't understand it.

![image](https://user-images.githubusercontent.com/9946777/60513699-2b030d00-9cd8-11

[2019-07-02 13:09] sschiessl-bcp commented on #2882
This would need to redefine the notification format to be able to include all supported languages. For the styling, I think the user should not be clicking away warnings at all, but I get your point.

If it is a user, that trained himself to click away warning, won't he also train himself to click away whatever new warning style we come up with?

[2019-07-02 14:35] OpenLedgerApp commented on #2838
@startailcoon I can take this one

[2019-07-02 15:10] startailcoon commented on #2881
Most likely missing to include any memo or other data that should be used to base the transaction size.

[2019-07-02 15:14] startailcoon commented on #2875
I assume this is a rounding issue, making it look like 0 as there are no decimals visible.

[2019-07-02 15:16] startailcoon commented on #2873
Seems like an re-render triggering issue.

[2019-07-02 15:19] startailcoon commented on #2878
Should be pretty obvious to fix once debugged. Setting .75 hrs to this to begin with.

[2019-07-02 15:29] startailcoon commented on #2877
I'm not really sure I understand what your idea is here. This is the same way, what I can see, as we do on the `Limit` tab.

On your screenshot you're Buying or Selling bitUSD. On the Buying side you're still buying a set of Quantity of bitUSD for a price for a total of BTS. Same on selling side, where you're selling a set of Quantity of bitUSD for a price for a total of BTS.

This is the same way

[2019-07-02 16:19] startailcoon commented on #2876
https://github.com/bitshares/bitshares-ui/issues/2879#issue-463033748

### Tasks
The task of this issue would be to make a non-intrusive loading indicator of the vesting balance page to let the user know the data is loading from the node.

[2019-07-02 18:06] allfory0u opened #2883 "[3.1.190618.1] Integration Tests by [allfory0u] for Light Client"
My OS:
  - Windows 10
  - Light Client - 3.1.190618.1

General
 - [x] Wallet loads and connects
 - [x] Login via cloud login and local wallet
 - [x] Transfer between accounts (with and without memo)
 - [x] Exchange opens, orders are visible and limit orders can be put
 - [x] Margin creation and adjustment is possible
 - [x] Voting is possible (committee, witness, proposals)

Specific components:

[2019-07-02 18:24] allfory0u commented on #2883
Some issues will be published a bit later.

[2019-07-02 22:30] froooze commented on #2877
@startailcoon :
You are right it is the same as Limit Order and other Exchanges.

When I wanna buy bitUSD, I do this with a certain amount of BTS from my balance. Therefore the input value is BTS not bitUSD.

Quantity (input) and Total (output) should also be inverted for the opposite direction.

[2019-07-02 23:03] froooze commented on #2697
Clicking on the BUY/SELL order should also respect the max. portfolio balance from each asset and default fee protection.

[2019-07-03 11:35] sschiessl-bcp commented on #2832
Awesome, go ahead!

[2019-07-03 12:23] allfory0u opened #2884 "[3.1.190618.1] Menu - links look inactive"
**Describe the bug**
When you first use a Light Client (or the web version in the browser), then most of the links in the menu look inactive, although this is not the case.

**To Reproduce**
Steps to reproduce the behavior:
1. Clear cookies
2. Go to [staging.bitshares.org](https://staging.bitshares.org) or install Light Client
3. Go to 'Menu'
4. See inactive links

**Expected behavior**
See active

[2019-07-03 12:40] froooze commented on #2884
Because you are not logged in.

[2019-07-03 12:51] allfory0u opened #2885 "[0.1][3.1.190618.1] - Exchange - wrong description"
**Describe the bug**
The description "No open orders" in sections 'My trades' or 'Market trades'  is wrong, if the account did not make any trades on the trading pair or/and if there was no trading on the pair.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org/#/market/BRIDGE.MONA_RUDEX.ETH](https://staging.bitshares.org/#/market/BRIDGE.MONA_RUDEX.ETH) (for example

[2019-07-03 12:56] allfory0u commented on #2884
In the video above you can see that although I’m not logged in, the links became active, but only when I clicked one of them.

[2019-07-03 13:22] allfory0u opened #2886 "[3.1.190618.1] HTLC - the HTLC list isn't updated after creating a new HTLC"
**Describe the bug**
The HTLC list isn`t updated after creating a new HTLC. Therefore, the user may think that the HTLC wasn't created because he doesn't see it in the list. In order to see the new HTLC, you need to refresh the page, which isn't obvious in the Light Client.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [HTLC](https://staging.bitshares.org/#/htlc)
2. Create HTLC
3. Se

[2019-07-03 14:24] allfory0u opened #2887 "[0.5][3.1.190618.2-rc1] - Portfolio - white screen when all assets are hidden"
**Describe the bug**
When all assets in Portfolio are hidden and you click on 'Visual', then you can see a white screen. Reloading the page doesn't help.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Portfolio' (https://staging.bitshares.org/#/account/your-account)
2. Hide all assets
3. Click on 'Visual'
4. See white screen

**Expected behavior**
Don`t see a white screen

**Screensh

[2019-07-03 14:37] allfory0u commented on #2887
Light Client will be tested later.

[2019-07-03 17:27] allfory0u commented on #2887
Light Client 3.1.190618.1
![White screen](https://user-images.githubusercontent.com/17462020/60612314-f9ba3800-9dd0-11e9-95b7-d530a14d8da4.gif)

[2019-07-03 18:18] startailcoon commented on #2887
Should be an easy fix. Good catch

[2019-07-03 18:21] startailcoon commented on #2838
@OpenLedgerApp please report back if the issue is larger than estimated

[2019-07-03 18:25] startailcoon commented on #2837
Hi @mrugakshee, welcome to the Bitshares UI project.

I'll assign you to this issue. Please make sure to read [CONTRIBUTING.md](https://github.com/bitshares/bitshares-ui/blob/develop/CONTRIBUTING.md) for any initial questions.

[2019-07-03 18:41] startailcoon commented on #268
Set this issue for 1 hour, as requested by ahdigital for the UX.
Sorry for the delay in updating this.

[2019-07-03 18:51] allfory0u opened #2888 "[0.5][3.1.190618.1] - Reset settings - white screen"
**Describe the bug**
White screen occurred after 'Reset Settings'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings' - 'Reset settings' in Light Client or [staging.bitshares.org/#/settings/reset](https://staging.bitshares.org/#/settings/reset)
2. Click on 'Reset settings'
3. See white screen

**Expected behavior**
Don`t see a white screen

**Screenshots**
Light Client:
![MxKlb

[2019-07-04 05:20] gades opened #2889 "Error: MD5 of downloaded file (6F0AAC4B3D4F478B37F9F57A3E502F1C) not matches expected (0F4B4F04A2BD6511722F666CA89248D1)"
**Describe the bug**
Can't install install-charting-library

**To Reproduce**
Steps to reproduce the behavior:
1. Clone latest code
2. npm install
3. See error

**Additional context**

/Users/hades/Documents/repos/bitshares-ui/charting_library/install-charting-library.js:27
        throw new Error("MD5 of downloaded file (" + actualDigest + ") not matches expected (" + expectedDigest + ")");

[2019-07-04 05:28] allfory0u commented on #2889
Maybe it's related with #2826?

[2019-07-04 06:12] gades commented on #2889
@allfory0u probably yes

[2019-07-04 11:16] mrugakshee commented on #2889
I have the same error.

[2019-07-04 12:13] allfory0u opened #2890 "[0.25][3.1.190618.2-rc1] - Asset BTS - white sreen"
**Describe the bug**
A white screen appears when opening the 'Asset BTS' page with an interface language other than English. Russian, Turkish, Spanish, etc.
Related with #2789, but there was a problem only with the Russian locale 'ru' help files (perhaps the problem with other languages remained unnoticed).

**To Reproduce**
Steps to reproduce the behavior:
1. Change the language
2. Go to [staging

[2019-07-04 12:13] allfory0u opened #2891 "Duplicate issue - please delete"
**Describe the bug**
A white screen appears when opening the 'Asset BTS' page with an interface language other than English. Russian, Turkish, Spanish, etc.
Related with #2789, but there was a problem only with the Russian locale 'ru' help files (perhaps the problem with other languages remained unnoticed).

**To Reproduce**
Steps to reproduce the behavior:
1. Change the language
2. Go to [staging

[2019-07-04 12:41] allfory0u opened #2892 "[3.1.190618.2-rc1] - Market whitelist - text overlap"
**Describe the bug**
When you enter a symbol to add an asset to the market whitelist, the informational message overlaps the text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org/#/account/test/update-asset/BTS](https://staging.bitshares.org/#/account/test/update-asset/BTS)
2. Start typing the asset symbol
3. See how the message overlaps the text

**Expected beha

[2019-07-04 13:56] allfory0u opened #2893 "[0.25][3.1.190618.2-rc1] - Update asset - white screen"
**Describe the bug**
White screen appears if you open a page 'Update Asset' using an asset symbol written in lower case.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org/#/account/test/update-asset/bts](https://staging.bitshares.org/#/account/test/update-asset/bts)
2. See white screen

**Expected behavior**
Don`t see a white screen.

**Screenshots**
![Update asset

[2019-07-04 17:08] #2891 closed

[2019-07-04 17:34] startailcoon commented on #2887
An empty balance prop made this crash. Thanks for reporting it

[2019-07-04 17:39] #2800 closed

[2019-07-04 17:42] startailcoon commented on #1999
This is an old bug and it's no longer present what I can see.

[2019-07-04 17:42] #1999 closed

[2019-07-04 18:25] startailcoon commented on #2890
This was actually due to a new function on the Asset page under actions sections for prediction market assets.

When an asset isn't a bitAsset (ie. BTS) it has no bitasset options and the component failed to load the data. Other assets that are bitAssets did not fail as they had the data, just that it was incorrectly loaded as it should only be active on bitassets with prediction market options.

[2019-07-04 18:46] startailcoon commented on #2892
This section should use the new style guide template to improve the user experience.

## Tasks
- Replace old components with new style-guide components

[2019-07-04 19:25] startailcoon commented on #2885
Good catch, should be "No order history".

[2019-07-04 19:31] startailcoon commented on #2888
Expect some prop/state misfire. Should be easy to fix.

[2019-07-04 19:54] startailcoon commented on #2889
This issue is related to the move of the charting library, as mentioned before here. For some reason the expected hash doesn't match the file hash of the download.

Does the hash error look the same to you @mrugakshee?

[2019-07-04 19:56] startailcoon commented on #2882
We could probably enhance this more with translation options, example
`{ en: "message", es: "message in Spanish" }`

We could also make a sub-page where you can read the previous chain messages. For example, if you've clicked away something or there have been multiple chain messages since your last start.

[2019-07-04 20:16] mrugakshee commented on #2889
Yes, it looks the same:

Error: MD5 of downloaded file (6F0AAC4B3D4F478B37F9F57A3E502F1C) not matches expected (0F4B4F04A2BD6511722F666CA89248D1)

at WriteStream.outputFile.on (/Users/mrugaksheepalwe/Documents/Git/bitshares-ui/charting_library/install-charting-library.js:27:15)
    at WriteStream.emit (events.js:185:15)
    at finishMaybe (_stream_writable.js:636:14)
    at afterWrite (_stream_wri

[2019-07-04 20:16] startailcoon commented on #2798
So You're looking at introducing another level of indication. I like frooze suggestion of using Fibonacci levels.

Let's look at the bitUSD asset then.

Level|sschiessl-bcp|frooze
-|-|-
danger| < 1.6| < 1.6
warning| < 1.9| < 1,9776 (23.6%)
adequate| < 2.5| < 2,2112 (38,2%) or < 2.4 (50%)

[2019-07-04 21:23] mrugakshee commented on #2889
I just pulled new changes and the md5 hash matched, no error anymore on npm install! @startailcoon
@gades

[2019-07-04 22:04] gades commented on #2889
@mrugakshee Thanks, it's working now.

[2019-07-04 22:06] #2889 closed

[2019-07-05 08:20] gades opened #2898 "White screen on mobile device after login to wallet.bitshares.org"
**Describe the bug**
White screen on mobile device after login to wallet.bitshares.org

**To Reproduce**
Steps to reproduce the behavior:
1. Open any browser (Chrome / Safari ) on your iPhone
2. Point your browser to wallet.bitshares.org
3. Please login to your account
4. You will see white screen

**Expected behavior**
Access to my account

**Screenshots**
![IMG_5988](https://user-images.githubus

[2019-07-05 09:14] sschiessl-bcp commented on #2874
Related #2868

[2019-07-05 13:06] allfory0u opened #2899 "[3.1.190618.2-rc1] - Integration Tests by [allfory0u] for standart Android browser"
My OS:
  - Android 5.1.1 (MIUI Global 7.2) / Android 9
  - Standart browser v10.4.5 / Chrome 75

General
 - [x] Wallet loads and connects
 - [x] Login via cloud login and local wallet
 - [ ] Transfer between accounts (with and without memo)
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, w

[2019-07-05 13:06] froooze commented on #2877
@startailcoon: I realized now, why I never complained about the wrong Limit Order form, because you can input in both fields your value and the scaled form only allows in one way.

[2019-07-06 11:29] froooze opened #2900 "[0.5] No auto focus for market picker input field"
**Describe the bug**
Market picker does not auto focus the input field

**To Reproduce**
Steps to reproduce the behavior:
1. Click on market picker
2. start typing
3. no input
4. See error

**Expected behavior**
Auto focus input field for market picker

**Desktop (please complete the following information):**
 - OS: MX-Linux
 - Bitshares 3.1.190618

[2019-07-06 15:42] sschiessl-bcp commented on #2892
We should rather redesign the whole layout here, not sure how much sense that makes atm.

@gibbsfromncis did redesign this, can you please point us to the issue? Also there is probably a mockup for the new wallet design for this?

[2019-07-06 16:21] sschiessl-bcp commented on #2717
- when user loads the PM overview for the first time, only show the top table with the assets
 - when user clicks on one of the rows in the first table or the action buttons, please highlight this selected row somehow and remove all other prediction market from the view. then load the second table below with opinions of the selected row. another click on the row deselects it, removes the second ta

[2019-07-06 20:01] startailcoon commented on #2892
@sschiessl-bcp true. We have a UX for this section that was prepared. UX was created as of #1604 and a code implementation was created by #2117 but was halted due to the pending wallet update.

My suggestion is to update this section with minor enhancements to remove the obvious issues, like overlapping text, with the new style-guide components. This would solve some of the current issues, while n

[2019-07-07 17:23] startailcoon commented on #2900
Good suggestion. I've enabled autofocus to the input, and also added tabbing the results list with changing market on pressing enter key.

[2019-07-07 21:41] startailcoon opened #2902 "[1.25]Enable switching asset for Total column on Exchange"
I propose that we make it possible to switch the "Total" column on the exchange order book.

Today we view the total amount of the Quote asset. For example, the BTS/bitUSD orderbook will have the Total column in bitUSD.

At some points it may be handy to be able to view the total amount in the Base asset, without having to invert the market.

This would make the order book columns "Price", "Base",

[2019-07-08 01:00] froooze opened #2903 "[0.25] COLLATERAL/DEBT column not fully clickable"
**Describe the bug**
Only the numbers, but not the whole column is clickable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go Margin Position
2. Click on the COLLATERAL/DEBT column next to the numbers
3. no switch between normal and sum

**Expected behavior**
Also switch columns, when clicking on the column next to the number

**Screenshots**
![margin-position](https://user-images.githubu

[2019-07-08 13:58] startailcoon commented on #2900
Accidently pushed this directly to Develop on Commit https://github.com/bitshares/bitshares-ui/commit/6e6d42adb039eff66640695f2c37d39a84cd2e7e

@sschiessl-bcp

[2019-07-08 17:55] startailcoon commented on #2862
Also includes some updates to code/view splitting.

[2019-07-08 18:38] startailcoon opened #2906 "[2] My Open Orders and Settle Tabs does not update on Market Change"
The same issue that was reported in https://github.com/bitshares/bitshares-ui/issues/2862 exists in the MyOpenOrders component that is used to render a users open orders and market settle orders.

This task is to apply the same fix to this component as done to the MarketHistory.

It will also handle code/view split.

[2019-07-08 19:30] startailcoon commented on #2858
Applied a fix to sort the tabs by key, which means:
1. Market History
2. My History
3. My Orders
4. Open Settle orders

This is not optimal imho. Ideally I'd like to see this to be fully customizable, perhaps on a drag and drop scale on the Personalize modal. This would be quite a task though, and we should probably wait and see what we can make.

[2019-07-08 21:20] startailcoon commented on #2756
Submitted a PR that fixes this on all sections of the app that uses the Account Selector component. Default, and so far only, behavior will be to require an active select in the list to select an account.

[2019-07-09 03:11] sschiessl-bcp commented on #2906
here interested

[2019-07-09 06:47] startailcoon commented on #2792
How is the status of the Stealth of Bitshares?
Didn't we have a worker to look over it again for possible implementation?

[2019-07-09 06:52] startailcoon commented on #2715
Will be enabled on Bitshares 3.3.0 by PR https://github.com/bitshares/bitshares-core/pull/1836

Testnet release will commence on TBD (2019-08-07?)

[2019-07-09 10:58] froooze opened #2909 "White screen - sending BTS"
**Describe the bug**
Could not send BTS because of white screen happened

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange
2. Click on Send
3. White screen

**Expected behavior**
No white screen

**Desktop (please complete the following information):**
 - OS: MX-Linux
 - Bitshares 3.1.190618

**Additional context**
Error does only come occasional.
[White-screen-send.log](https:/

[2019-07-09 15:40] MindfulMe commented on #2816
First day progress on Exchange UI Tab <img width="1680" alt="Screen Shot 2019-07-09 at 18 38 08" src="https://user-images.githubusercontent.com/26275425/60902762-d41daa80-a278-11e9-8248-819a804efaab.png">

[2019-07-09 15:58] startailcoon commented on #2909
I can't reproduce this issue.

As you mention you go to the Exchange first, I assume you pick "Send" from the drawer menu on the right. What market are you loading in the background?

[2019-07-09 19:13] allfory0u opened #2912 "[3.1.190618.2-rc1] - Voting - overlapping interface elements in mobile version"
**Describe the bug**
Overlapping interface elements in the mobile version of the site

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org/#/account/test/voting](https://staging.bitshares.org/#/account/test/voting) in mobile browser
2. See overlapping elements

**Expected behavior**
See the normal placement of interface elements

**Screenshots**
![Screenshot_14](https

[2019-07-09 19:13] allfory0u commented on #2899
#2912

[2019-07-09 19:18] allfory0u opened #2913 "[3.1.190618.2-rc1] - Barter - overlapping interface elements in mobile version"
**Describe the bug**
Overlapping interface elements in the mobile version

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org/#/barter](https://staging.bitshares.org/#/barter) in mobile browser
2. See overlapping elements

**Expected behavior**
See the normal placement of interface elements

**Screenshots**
![Screenshot_20190705_173504_com android chrome](https://use

[2019-07-09 19:22] allfory0u opened #2914 "[3.1.190618.2-rc1] - Spotlight - overlapping interface elements in mobile version"
**Describe the bug**
Overlapping interface elements in the mobile version

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org/#/spotlight](https://staging.bitshares.org/#/spotlight) in mobile browser
2. See overlapping elements

**Expected behavior**
See the normal placement of interface elements

**Screenshots**
![Screenshot_20190705_173754_com android chrome](https

[2019-07-10 00:18] shulthz commented on #2816
I think you can check:  https://olddex.cybex.io/market/CYB_JADE.USDT

[2019-07-10 06:54] MindfulMe commented on #2816
Bitshares has slow UI overall, so scrolling is better to remove at all, basic Binance exchange UI has scrolling generally so it is not that good solution for our case

[2019-07-10 07:32] MindfulMe commented on #2816
@shulthz thx very much, we have found open source version of binance advanced exchange on cybex dex repository. They already copied 1-1 everything from binance.
https://github.com/CybexDex/cybex-web-2.0
<img width="1680" alt="Screen Shot 2019-07-10 at 10 31 47" src="https://user-images.githubusercontent.com/26275425/60949511-07eee380-a2fe-11e9-9df5-92cea54c8f6d.png">

[2019-07-10 07:34] MindfulMe commented on #2816
It works pretty fine with Bitshares nodes as well, we will do some magic on it to match bitshares color themes

[2019-07-10 08:12] shulthz commented on #2816
en, that's nice

[2019-07-10 08:21] VladLypovyi commented on #2816
@shulthz Did you try to configure https://github.com/CybexDex/cybex-web-2.0 with Bitshares node.

[2019-07-10 08:37] shulthz commented on #2816
sorry about that

[2019-07-10 08:39] VladLypovyi commented on #2816
@shulthz Are you related to Cybex project?

[2019-07-10 08:51] shulthz commented on #2816
No

[2019-07-10 09:53] startailcoon opened #2916 "[1] My Order History Tooltip crashes UI"
An value was passed to the Tooltip component without first coveting it to a string. This caused the component to crash and reload the UI.

This issue is included in PR #2905 as part of commit https://github.com/bitshares/bitshares-ui/pull/2905/commits/969712b0cb91a5d9b4824d408777232662be2531 also including code cleanup.

- 0.5 hr for finding the cause of the issue
- 0.5 hr for code cleaning and fi

[2019-07-10 10:01] OpenLedgerApp commented on #2873
@startailcoon I can take this one.

[2019-07-10 10:19] OpenLedgerApp commented on #2875
@startailcoon I can take this one

[2019-07-10 10:22] efe-dev commented on #2837
I have the same issue and problem is in the
[code]

[2019-07-10 14:26] pengbaba19 opened #2917 "Vesting balance bitCNY withdraw Quantity error"
Quantity error

[2019-07-10 14:40] startailcoon commented on #2917
Can you please be more specific in your issue.

------

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help expla

[2019-07-10 14:45] startailcoon commented on #2065
I'm taking over this task @sschiessl-bcp

[2019-07-10 14:48] pengbaba19 commented on #2917
Go to    **Vesting balances**

find   **Balance #  1.13.24545**

Click on   **Claim now**

See error

**the Quantity error**

[2019-07-10 17:46] startailcoon opened #2920 "Allow user to opt-out on tooltips"
Many of the tooltips used in the application are explaining items that many experienced users may already know about. These can at times be in the way and pop up in times it's not really wanted.

We should find a good way to enable the user to opt-out of these tooltips.

[2019-07-10 18:03] startailcoon commented on #2065
So, we want three things here.

### 1. Allow the user to make a favorites list of nodes.

My idea here is to make this as easy as staring a market. We keep a consistent behavior for the user to recognize. A node that is a favorite is filled. These are not favorites. Any favorites will be at the top of the list at all times. This makes it easier for a user to access a specific node. We currently ha

[2019-07-10 18:09] sschiessl-bcp commented on #2920
Most tooltips are rendered instantly. First step of mitigation could be to set a default delay for it everywhere?

[2019-07-10 18:15] sschiessl-bcp commented on #2802
Will do some testing to see if replicable

[2019-07-10 18:25] allfory0u opened #2921 "[0.25][3.1.190618.2-rc1] - Restore/import - missing translation: en.settings.undefined"
**Describe the bug**
When I go to Restore/Import, there is a translation missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org/#/settings/general](https://staging.bitshares.org/#/settings/general) in mobile browser
2. Click on 'Menu'
3. Click on 'Menu' - 'Settings' - 'Restore/Import'
3. See error - 'missing translation: en.settings.undefined'

**Expected behavi

[2019-07-10 18:32] startailcoon commented on #2065
## Reflections

Another reflection is that we have quite a few icons on the right hand side. With "Disable", "Hide", "Remove" and "Connect".

![image](https://user-images.githubusercontent.com/12114550/60994846-96d91b80-a351-11e9-9a11-dbc28b495054.png)

We could minimize the clutter with a drop down action menu, where "Connect" is the default action, or kept with the icon we have today, while the

[2019-07-10 18:49] allfory0u opened #2922 "- HTLC - very hard to change fee asset in mobile version"
**Describe the bug**
It's almost impossible to change the fee asset due to the pop-up keyboard (standard and google keyboard).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org/#/htlc](https://staging.bitshares.org/#/htlc) in mobile browser
2. Click on 'Create HTLC'
3. Try to change fee asset

**Expected behavior**
Easy change of fee asset

**Screenshots**
![ezgif-

[2019-07-10 18:55] tiago-dynx opened #2923 "Vesting Balances Claim from market_fee_sharing"
**Describe the bug**
Cannot claim vesting balances from market_fee_sharing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Top right menu button'
2. Click on 'Vesting Balances'
3. Click on claim on a Vesting balance with value below 1, like 0.00250 for example
4. The quantity will show as 0.0000000 on the popup modal
5. When confirm, shows execution error

**Expected behavior**
The us

[2019-07-10 18:56] tiago-dynx commented on #2923
This was on testnet

[2019-07-10 19:05] allfory0u opened #2925 "[3.1.190618.2-rc1] - Borrow - unable to select borrowed asset in mobile browser"
**Describe the bug**
It's impossible to select a borrowed asset due to a pop-up keyboard (standard and google keyboard).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org/#/borrow](https://staging.bitshares.org/#/borrow) in mobile browser
2. Try to select a borrowed asset

**Expected behavior**
Chance to choose a loan asset

**Screenshots**
![ezgif-3-3b21b025f190](

[2019-07-10 19:25] allfory0u opened #2926 "[0.5][3.1.190618.2-rc1] - Borrow - text doesn't display the selected borrowed asset"
**Describe the bug**
Text 'BTS' in the list doesn't change after the choice of a borrowed asset

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org/#/borrow](https://staging.bitshares.org/#/borrow)
2. Click on list
3. Сhoose a borrowed asset
4. See that the text 'BTS' hasn't changed

**Expected behavior**
See that the text changes according to the selected asset

**S

[2019-07-10 20:08] sschiessl-bcp commented on #2065
I think a simple favorites way, with a checkbox use only favorites.

When any favorite is marked, use those first. If checkbox is unchecked, ping/connect to rest using normal strategy. If checkbox is checked, also only show those nodes

[2019-07-10 20:10] sschiessl-bcp commented on #2065
I haven't tackled this task yet because I wanted a new loading screen on first start with preference selection (e.g. mark all in chosen region as favorites, define location etc. before the UI is starting to ping). I simply didn't make the issue / mockup yet. Your way is very compatible so no blocker

[2019-07-10 20:10] sschiessl-bcp commented on #2065
And thanks for pushing

[2019-07-10 20:26] allfory0u commented on #2917
Confirm this
![Screenshot_20190710_232436](https://user-images.githubusercontent.com/17462020/61002392-2094e300-a36a-11e9-8406-1627f28f5b4d.jpg)

[2019-07-11 11:01] sschiessl-bcp commented on #2668
Please create issues that match the bounty assigned and work done as mentioned in the invoice, put it in the correct milestone and ping me in the new issue.

[2019-07-11 16:27] xiao93 commented on #2923
+1 @abitmore

[2019-07-11 16:44] froooze commented on #2802
@sschiessl-bcp: Did not have any problems since my reports with final version!

[2019-07-11 17:21] matle85 commented on #2784
Basically an integrated blockchain explorer?

Sounds like a really good idea, particularly considering the broad range of assets available on the DEX - it would be nice for people to be able to get some more details easily.

I would also like to see us becoming more of an ERC20 style 'token factory' so something like this would help people understand a little better the token they are looking at (

[2019-07-11 17:25] abitmore commented on #2784
IMHO don't duplicate efforts. All the blockchain explorers have such lists already, why implement it again in the wallet, especially, when we have lots of bugs waiting for fix?

[2019-07-11 17:37] startailcoon commented on #2917
I see, thanks for the report.

[2019-07-11 17:43] CryptoKong commented on #2784
Which blockchain explorer can I find a rich list of any given asset and see information such as whether they are accumulating/ or distributing over given periods etc

[2019-07-11 17:46] abitmore commented on #2784
No. It won't be in reference wallet either.

[2019-07-11 17:49] abitmore commented on #2917
https://github.com/bitshares/bitshares-ui/issues/2923 is a duplicate.

[2019-07-11 17:51] abitmore commented on #2923
Duplicate of #2917.

[2019-07-11 17:51] #2923 closed

[2019-07-11 17:53] CryptoKong commented on #2784
I dont know the details of the data mining worker but if that is what is required to provide a decent level of info then yes you are right. Is there not basic info we could add to asset pages fairly easily?

[2019-07-11 18:06] abitmore commented on #2784
There is a set of `asset_api` in core which can be used to fetch info about asset holders. However, the design/implementation has performance issues (no pagination or no limit) so it's not enabled by default, so most of API nodes don't provide this API set.

By the way, account balances are indexed (sorted) on chain already. However, it's a bit expensive to maintain the index. We've ever seek to r

[2019-07-11 18:50] startailcoon commented on #2917
Thanks @abitmore

[2019-07-11 19:43] abitmore commented on #2784
Alternatively, we can fetch data from ES, like https://open-explorer.io/#/assets/1.3.0

[2019-07-11 19:54] startailcoon commented on #2917
The problem is that the vesting type `market_fee_sharing` has no vesting period. The app calculates the balance by `earned / (vestingPeriod * balance)` for all other vesting objects.

A PR is supplied to fix this.

[2019-07-11 22:41] froooze opened #2928 "No TradingView chart update in VIEW MODE"
**Describe the bug**
Tradingview gets no update from Open Orders icon link

**To Reproduce**
Steps to reproduce the behavior:
1. Go to another user (VIEW MODE)
2. Click on RUDEX.EOS / BTS
3. Dashboard -> Open Orders -> Market icon (another market)
4. TradingView shows still RUDEX.EOS / BTS

**Expected behavior**
Update TradingView

**Desktop (please complete the following information):**
 - OS: MX

[2019-07-11 22:46] froooze opened #2929 "TradingView update resets order form"
**Describe the bug**
When Tradinview reloads, it also resets, what was put in the order form input

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange
2. BUY/SELL input form
3. Insert some numbers and wait until TradingView reloads
4. Input forms are cleared

**Expected behavior**
No reset for input order forms

**Desktop (please complete the following information):**
 - OS: MX-Li

[2019-07-11 23:00] froooze opened #2930 "[1] Make collateral positions easier accessable"
**Is your feature request related to a problem? Please describe.**
I think the collateral levels are too much hidden and not direct accessible.

**Describe the solution you'd like**
- Default retract **Permissions**, **Fee Pool**, **Price Feed**, **Settlement**
- Show **Margin Positions** as default before **Price Feed Data**

**Describe alternatives you've considered**
Save state of retract or no

[2019-07-11 23:20] froooze commented on #2928
similar to #2714

[2019-07-11 23:22] froooze commented on #2920
#2809

[2019-07-11 23:30] froooze opened #2931 "[1.5][react-cat] Market picker tooltip should not hide list"
**Describe the bug**
The tooltip hides the options list

**To Reproduce**
Steps to reproduce the behavior:
1. Go Market picker
2. Search
3. Hover over names
4. See tooltip

**Expected behavior**
Show tooltip next to the market picker or completely remove tooltip

**Screenshots**
![Market-picker-tooltip](https://user-images.githubusercontent.com/40874087/61091989-a4230280-a444-11e9-9071-5809ab73c60

[2019-07-12 03:58] cloud-8 opened #2932 "New voting tab for proxies?"
**Is your feature request related to a problem? Please describe.**
Proxies play an important role in Bitshares. Often users do not have time to analyze every single proposal and instead may opt to proxy their voting power to someone else who they believe can represent their interests in voting. The problem is knowing who these people are is difficult and there is no single location to get this inf

[2019-07-12 05:30] dls-cipher commented on #2784
I've mentioned somewhere in Telegram that block explorers and ES have such data that can be pulled into the WalletUI by creating new blank page with calls to the explorers/ES itself. Similar to bitshares.org have with blocktivity table list of blockchain activities.

Now, unfortunate part would be to have one reliable explorer/ES that will not have random replays or restarts we can't control, othe

[2019-07-12 07:39] dls-cipher opened #2933 "Organize localization for Reference UI"
**Is your feature request related to a problem? Please describe.**
WalletUI is missing proper translations management ever since I've joined BitShares 2017 (probably longer, but lets discuss facts).
Under the previous management of the team, inconsistency in the terms and data for translation it was just nasty. We did Slovenian and Thai translation in July 2018 and we're not planning to redo if so

[2019-07-12 07:42] sschiessl-bcp commented on #2933
https://www.transifex.com/bitshares/bitshares-ui-1/dashboard/#

[2019-07-12 07:42] #2933 closed

[2019-07-12 07:44] sschiessl-bcp commented on #2933
Last two rounds (in sync with release cycles):

 - https://github.com/bitshares/bitshares-ui/issues/2754
 - https://github.com/bitshares/bitshares-ui/issues/2558

All that is needed is active contributors.

[2019-07-12 07:51] dls-cipher commented on #2933
I'm very sorry, I haven't re-checked or followed back ever since July. Wasn't mean to fud and excellent work. Ill login and send requests for Slo, Srb and Thai.

Close and chee®s

[2019-07-12 11:00] abitmore commented on #2784
To get data from ES, we need https://github.com/bitshares/bitshares-ui/issues/1733.

[2019-07-12 11:36] sschiessl-bcp commented on #2933
What's your native language?

[2019-07-12 11:54] #1669 closed

[2019-07-12 11:56] #2789 closed

[2019-07-12 12:44] sschiessl-bcp commented on #1117
Bounty request in https://github.com/bitshares/bitshares-ui/pull/2924#issue-296302366

[2019-07-12 12:44] sschiessl-bcp opened #2934 "[4] Use new FeeSelectorComponent accross UI"
Use new component and remove duplicate code.

1. app/components/Dashboard/SimpleDepositWithdraw.jsx
2. app/components/Showcases/Barter.jsx
3. app/components/Modal/HtlcModal.jsx
4. app/components/Modal/WithdrawModalNew.jsx
5. app/components/Modal/DirectDebitModal.jsx
6. app/components/Modal/DirectDebitClaimModal.jsx

[2019-07-12 12:47] #2893 closed

[2019-07-12 12:48] #2885 closed

[2019-07-12 12:49] #2890 closed

[2019-07-12 12:50] #2903 closed

[2019-07-12 12:52] abitmore commented on #1117
@sschiessl-bcp there is no screenshot about canceling an limit order in the PR. Is this issue really fixed? Reopening so far.

[2019-07-12 12:55] #2858 closed

[2019-07-12 12:57] sschiessl-bcp commented on #2771
Include https://github.com/bitshares/bitshares-ui/issues/2769#issue-455489633 in here for bounty

[2019-07-12 12:58] #2769 closed

[2019-07-12 13:00] sschiessl-bcp commented on #2771
Thanks for extensive testing. All issues accepted for bounty, even if some of them might be closed due to being duplicates. Keep up the good work!

[2019-07-12 13:01] sschiessl-bcp commented on #2771
Two integration tests plus 40 issues. Total bounty: 5

[2019-07-12 13:01] #2771 closed

[2019-07-12 13:03] sschiessl-bcp commented on #2865
@froooze He approached me in telegram and I was happy to find someone willing to do extensive testing.

@allfory0u please make sure to link all issues you found during testing in here. Also please include #2880 #2883 and #2899 in here as a separate comment and close the other three issues.

[2019-07-12 13:29] sschiessl-bcp commented on #1117
Ah .. Apologies, we might have detached too much from the specific problem at hand and generalized it without revisiting what the actual cause was.

Will check.

[2019-07-12 13:37] sschiessl-bcp commented on #1117
![image](https://user-images.githubusercontent.com/33128181/61132019-cf483900-a4ba-11e9-90db-fa82cf78193a.png)

A hint was added that the default fee asset can be changed. We decided to not add the more intrusive feeselector component here.

Do you think that is sufficient, or should we have an option to allow selection of something else directly in the cancel modal?

[2019-07-12 14:50] gibbsfromncis opened #2936 "[30] UX Coordination 190607"
|task|hours|
|----|----|
|#2856 Mobile Sign up|4h|
|#2864 Mobile Wallet|6h|
|#2854 Mobile Exchange|18h|

[2019-07-12 14:50] #2936 closed

[2019-07-12 14:53] gibbsfromncis opened #2937 "UX Coordination"

[2019-07-12 14:53] #2937 closed

[2019-07-12 14:57] gibbsfromncis commented on #2668
@sschiessl-bcp
#2936 190607
#2937 190621

[2019-07-12 15:09] gibbsfromncis commented on #2898
I have the same on iPad and iPhone

[2019-07-12 15:24] gibbsfromncis commented on #2855
We already have a new login version. You can access it by https://wallet.bitshares.org/#/registration and https://wallet.bitshares.org/#/login

[2019-07-12 17:20] froooze commented on #2909
It already happened once. Some wired circumstances ...

[2019-07-12 17:23] froooze commented on #2920
Maybe an option to deactivate all tooltips?

[2019-07-12 17:33] froooze commented on #2855
@gibbsfromncis:
This post was addressed to the other login form.
Screenshot is added now!

[2019-07-12 17:48] froooze commented on #2871
@sschiessl-bcp : This?
Filter | Group by asset (different style) | Submit | Reset

[2019-07-12 17:57] froooze commented on #2004
@startailcoon : The yellow box should be as wide as the ratio slider.

[2019-07-12 20:01] gades commented on #2789
it still doesn't work.

For replicate this issue please:
- generate bundle **npm run package-mac**
- run app and go to dashboard->portfolio->bts

<img width="1165" alt="Screen Shot 2019-07-12 at 22 57 58" src="https://user-images.githubusercontent.com/4200730/61155196-f3c30600-a4f8-11e9-8c4d-491b8037ed9b.png">

[2019-07-12 20:08] gades commented on #2789
@sschiessl-bcp please reopen this ticket!

<img width="1112" alt="Screen Shot 2019-07-12 at 23 07 25" src="https://user-images.githubusercontent.com/4200730/61155562-e5c1b500-a4f9-11e9-8050-a509d63a2a21.png">

[2019-07-12 20:11] gades opened #2938 "infinite loops - missing path 'assets/BTS' for locale 'ru' #2789"
The issue still not fixed. please reopen ticket

<img width="1112" alt="Screen Shot 2019-07-12 at 23 07 25" src="https://user-images.githubusercontent.com/4200730/61155757-523cb400-a4fa-11e9-9110-30dccbcad193.png">

[2019-07-12 20:14] gades commented on #2938
For replicate this issue please:

generate bundle npm run package-mac
run app and go to dashboard->portfolio->bts

[2019-07-12 20:56] allfory0u opened #2939 "[3.1.190618.2-rc1] - White screen after login in standard mobile browser"
**Describe the bug**
White screen after logging into your account in a standard Android browser

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [staging.bitshares.org](https://staging.bitshares.org/#/)
2. Log in to your account
3. See white screen

**Expected behavior**
Don`t see a white screen

**Screenshots**
![ezgif-3-75d15b4e329c](https://user-images.githubusercontent.com/17462020/

[2019-07-12 21:01] allfory0u commented on #2939
Due to this, I can not continue testing

[2019-07-12 21:26] allfory0u opened #2940 "[3.1.190618.2-rc1] - Propose form - can't change fee asset or quantity of asset"
**Describe the bug**
In 'Propose' form you can't change fee asset or quantity of asset..It remains the same as was selected on the 'Send' form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Send/Propose' form
2. Choose a fee asset
3. Click in 'Propose'
4. See that you can`t change fee asset or quantity of asset in 'Propose' form

**Expected behavior**
Chance to change a fee asset

*

[2019-07-12 22:00] #2880 closed

[2019-07-12 22:01] #2883 closed

[2019-07-12 22:02] #2899 closed

[2019-07-12 22:03] allfory0u commented on #2865
#2880 - [3.1.190618-rc1] Integration Tests by [allfory0u] for Chrome
#2883 - [3.1.190618.1] Integration Tests by [allfory0u] for Light Client
#2899 - [3.1.190618.2-rc1] - Integration Tests by [allfory0u] for standard Android browser

[2019-07-12 22:26] allfory0u commented on #2865
#2940
#2939
#2926
#2925
#2922
#2921
#2914
#2913
#2912
#2893
#2892
#2890
#2888
#2887
#2886
#2885
#2884
#2881
#2878
#2875
#2874
#2873
#2868
#2867
#2866

[2019-07-12 22:36] allfory0u commented on #2865
@sschiessl-bcp Done.

[2019-07-13 05:21] gades opened #2941 "Withdrawal fee is using wrong asset"
**Describe the bug**
in case of withdrawal, you can choose BTS and other assets (BTS is working fine, but in case choose a different one it will use first asses from the list but not selected)

**To Reproduce**
1) create two asset
2) issue some coins to each asset
3) goto to withdraw and select as fee any asset
4) please check which asset will be used
5) try to select the new one for fees
6) pleas

[2019-07-13 07:54] gades commented on #2938
<img width="404" alt="Screen Shot 2019-07-13 at 10 54 17" src="https://user-images.githubusercontent.com/4200730/61168829-9791cd80-a55c-11e9-9fea-58a1c5619640.png">

`app.fa1c5856d7d37943d92e.js:1 Invariant Violation: Minified React error #185; visit https://reactjs.org/docs/error-decoder.html?invariant=185 for the full message or use the non-minified dev environment for full errors and additional

[2019-07-13 13:21] gibbsfromncis commented on #1908
@TBAPI-0KA

What is the purpose of this line? this is the only place where "submenu" variable is used (which is a pretty large piece of layout), but I wasn't able to find when this condition is true during a quick debug session. I have a feeling that it's some kind of obsolete code, but maybe I'm not just diving deep enough?

Try to scale your window and you will see how it works
<img width="277"

[2019-07-13 14:35] startailcoon commented on #2940
You need to select the "From" account first, as it's the account that dictates what assets that are available.

[2019-07-13 14:35] #2940 closed

[2019-07-13 14:37] startailcoon commented on #2939
Can you supply any debugging from your browser that can be used to track the cause of this?

[2019-07-13 15:15] react-cat commented on #2870
@startailcoon I'd like to take this task, but it seems to me that it's already done
![AwesomeScreenshot-BitShares-Account-react-cat-2019-07-13-18-07-70](https://user-images.githubusercontent.com/43940398/61173297-2b35bf00-a59a-11e9-9939-9db92043ed58.png)
![AwesomeScreenshot-BitShares-Account-react-cat-2019-07-13-18-07-52](https://user-images.githubusercontent.com/43940398/61173298-2c66ec00-a59a-11

[2019-07-13 15:19] allfory0u commented on #2939
@startailcoon No, unfortunately, I can't get any debug information from this browser

[2019-07-13 15:26] react-cat commented on #2860
@startailcoon I'd like to work on this task.
Also after reproduce I noticed that not only user menu is being hidden by notification popup, but manage accounts menu too.
![AwesomeScreenshot-BitShares-Account-react-cat-2019-07-13-18-07-65](https://user-images.githubusercontent.com/43940398/61173365-10177f00-a59b-11e9-93ce-47b6a341cb52.png)
![AwesomeScreenshot-BitShares-Account-react-cat-2019-07-13-1

[2019-07-13 23:54] mrugakshee commented on #2837
Hi @startailcoon
For clarification,
- Is the associated account(s) displayed in spot #1 or #2?
- For the alert upon failure of import, do you want a modal or an error message in spot #2 or an error below the WIF input box?

<img width="1280" alt="Screen Shot 2019-07-13 at 8 46 51 PM" src="https://user-images.githubusercontent.com/36647571/61177607-1c5a0700-a5b0-11e9-9e06-d6a0d41dd537.png">

[2019-07-14 09:55] #2939 closed

[2019-07-14 09:55] startailcoon commented on #2939
Closed as browser will be regarded as unsupported.

[2019-07-14 12:21] thul3 commented on #2917
Vesting period is also not moving.
It seems it just froze.

[2019-07-14 19:22] froooze commented on #2870
@react-cat : I mean the price with switched quote and base, not the order (like in Open Orders).

[2019-07-14 21:11] startailcoon commented on #2917
There is no vesting period for market_fee_sharing, it's instant.

[2019-07-14 21:18] startailcoon commented on #2004
Not possible today. An issue has been opened.

[2019-07-15 01:38] pengbaba19 commented on #2917
is this bug done ?

[2019-07-15 01:57] cloud-8 opened #2942 "[0.25] Default market for BitAssets should be the collateral (not always BTS)"
**Describe the bug**
The 'Market' button takes a user to the default market on the DEX for that smartcoin, for most (all?) smartcoins that is BTS as it is the backing asset, except stable.PHP or other private smartcoins that may be collateralized with an asset that is not BTS. In this case the backing asset in bitUSD and this should be the default market for this asset. The bug is that it still li

[2019-07-15 07:22] manikey123 commented on #2504
will update after going through the current release of core

[2019-07-15 11:26] sschiessl-bcp commented on #2287
<h1>Task</h1>

Scan the UI (just for the lolz) for appearances, and especially the TradingView library.

[2019-07-15 11:40] sschiessl-bcp commented on #1908
Thanks. What would be nice now (also thinking about the upcoming redesign) is the ability to define submenus (list of the same items). The `behavior` way is fine I think.

This https://github.com/bitshares/bitshares-ui/blob/develop/app/components/Layout/Header.jsx#L1298 would just be a submenu then, and all the submenu items have the parent settings header when active.

[2019-07-15 11:42] sschiessl-bcp commented on #2824
Any UX ideas?

[2019-07-15 11:43] sschiessl-bcp commented on #2837
The error should be shown within the panel (no popup). We so far dont have error popups.

Associated account of current import attempt should be shown in panel. In sport 1 is the currently active account of the UI

[2019-07-15 11:50] sschiessl-bcp commented on #2761
I agree @startailcoon , but the customization possibility will be helpful either way. We will ahve to re-iterate on the UX when completed.

[2019-07-15 11:51] sschiessl-bcp commented on #2850
Looking at the widgets, is the content already meant as design ready as well?

[2019-07-15 11:53] sschiessl-bcp commented on #2853
I think it will be beneficial to have a second styleguide version to allow maximum compatibility?
npm also allows tagging, thoughts?

[2019-07-15 11:55] sschiessl-bcp commented on #2855
The other login will be deprecated once the new one is live.

[2019-07-15 11:58] sschiessl-bcp commented on #2856
This seems very complicated, and no one ever reads those (imo).

How about defining the best "default" way for most users, and put the rest into "Advanced"?

[2019-07-15 12:10] abitmore commented on #2942
STABLE.PHP has this attribute:
[code]
It means no default market has been specified by the asset owner. An easy solution is to ask the asset owner to set a default market.

[2019-07-15 12:15] sschiessl-bcp commented on #2789
Are you using develop branch?

[2019-07-15 12:18] sschiessl-bcp commented on #2942
Exactly, you can set the default market in the UI under update asset or manually (but need to stick to the json payload).

So the discussion can be: Is BTS a feasible default for a non-BTS backed bitasset?

[2019-07-15 12:21] sschiessl-bcp commented on #2860
I think closing the notification if the user clicks on the menu while the notification is visible is acceptable. We could restrict it to only auto closing the active account switcher notification.

[2019-07-15 12:30] react-cat commented on #2870
@froooze Okay, I got it. I need a little more description to fully understand you.You want to have an ability to select in which currency see the price by clicking on this currency ? Like after clicking on BTC you see a column price(BTS) changed to price(BTC) ?

[2019-07-15 12:31] sschiessl-bcp commented on #2932
I generally like the idea, it brings a couple open questions as to the definition and way of presenting (e.g. how sorting affects setting).

Could you provide some more detail what you would have in mind?

[2019-07-15 12:32] sschiessl-bcp commented on #2870
See here e.g.
https://wallet.bitshares.org/#/asset/USD
![image](https://user-images.githubusercontent.com/33128181/61216363-6b697e80-a70d-11e9-8632-6f832420fc6e.png)

[2019-07-15 12:33] sschiessl-bcp commented on #2870
Depending on the use case and UX at the panel you can either

a) directly invert without the popup
b) show the popup on invert

[2019-07-15 12:39] abitmore opened #2943 "About new registration page"
**Is your feature request related to a problem? Please describe.**
https://wallet.bitshares.org/#/registration/local
![image](https://user-images.githubusercontent.com/9946777/61216487-c26f5380-a70d-11e9-8bce-2fb07fe71684.png)

When chose "create account by bin-file", we should make it clear that the password is for the bin-file, but not for the account.

Perhaps better avoid the word "wallet".

P

[2019-07-15 12:46] abitmore commented on #2943
@gibbsfromncis please voice your opinion.

[2019-07-15 12:54] abitmore commented on #2943
![image](https://user-images.githubusercontent.com/9946777/61217621-5fcb8700-a710-11e9-8a9a-3a9c9b97bdce.png)

[2019-07-15 13:01] sschiessl-bcp commented on #2930
I agree to all of that.

 - use a collapsible component from style guide (e.g. a + sign at the end of the front)
 - allow the collapsed component to display one in-line piece of information
   - permissions have no in-line information
   - price feed shows current price feed
   - fee pool shows current pool balance
   - settlment show current current force settlement price
- view needs to be respo

[2019-07-15 13:05] sschiessl-bcp commented on #2784
One hindrance is the availability of ES. Full dependency could only be done with a really distributed setup across the world.

@dls-cipher will you be hosting public ES instances as well?

[2019-07-15 13:10] sschiessl-bcp commented on #2816
@MindfulMe are you refactoring or redesigning? Please note that this task has no approved estimate (yet).

[2019-07-15 13:11] sschiessl-bcp commented on #2909
reopen if happens again

[2019-07-15 13:11] #2909 closed

[2019-07-15 13:38] #2813 closed

[2019-07-15 13:39] sschiessl-bcp opened #2944 "Promisify SendModal"
I always feel that the
`let account = ChainStore.getAccount(accountName);` is abusing the re-render and Promise premise. Very often you see afterwards ` if (account)` which then triggers the rendering, but this needs a possibly never happening re-render of the component.

I want the SendModal to use Promises in a proper way (e.g. through FetchChainObject or any of the other promisified functions).

[2019-07-15 13:46] startailcoon opened #2945 "[1.5] Asset page views wrong Global Settlement trigger price + Market Depth Enhancements"
The Asset details page currently has an issue that it views the Global Settlement price without MCR, which means it only views the predicted global settlement value price after an event.

To fix this we need to use the following to see when an event is triggered: `least collateralized position * MCR / MSSR`.

A few updates to the Market Depth will be done to make it view the event price as well.

[2019-07-15 14:00] #2838 closed

[2019-07-15 14:01] #2873 closed

[2019-07-15 14:04] #2875 closed

[2019-07-15 14:48] MindfulMe commented on #2816
Got it

[2019-07-15 14:49] MindfulMe commented on #2816
I have merged their UI but there is some work to keep original bitshares-ui functionality on exchange tab

[2019-07-15 15:28] startailcoon opened #2947 "[0.5] Sortable Feed Table w/ offset"
An assets Feed table wasn't possible to sort. This makes it difficult to view if any of the current feeders have issues. Having an easy way to view the current offset from the median price feed further makes it possible to view a witness feeds.

An offset of +/- 1% will view the value in a red-ish style.

### With offset

![image](https://user-images.githubusercontent.com/12114550/61228090-daeb680

[2019-07-15 16:44] gibbsfromncis commented on #2850
@sschiessl-bcp We will have separate tasks for each widget - how it should look like and how the user will interact with it. For now, you can see some random data and not final versions of widgets. We will use these sketches for the future design of widgets.

[2019-07-15 16:46] gibbsfromncis commented on #2943
@abitmore I agree with your comments.

@sschiessl-bcp @startailcoon do you have any other suggestions/ideas you want me to work on?

[2019-07-15 16:47] gibbsfromncis commented on #2855
@sschiessl-bcp If we are talking about the Login Modal (when account is locked and the user should type his password) I don't understand how it can be deprecated if we don't have any analogs to replace it.

[2019-07-15 16:52] gibbsfromncis commented on #2809
@startailcoon I'm not sure how can we change the default behavior but I guess we can change it for separate tooltips. ant component https://ant.design/components/tooltip/ is based on https://github.com/react-component/tooltip. So you can use this prop `mouseEnterDelay` to define delay before show tooltip

[2019-07-15 16:53] gibbsfromncis commented on #2498
@startailcoon I guess yes.

[2019-07-15 17:13] tbone-bts commented on #2943
I think it would also help to have something like a tooltip explaining what the "Bin file" actually is (e.g. "password-protected file that stores the private keys on your local computer").

[2019-07-15 18:40] abitmore commented on #2784
I think we can ask witnesses to host public ES instances when the UI started using it heavily.

[2019-07-15 18:52] startailcoon commented on #2941
Duplicate #2934

[2019-07-15 18:52] #2941 closed

[2019-07-15 18:59] startailcoon commented on #2929
This does not happen for me. How long do you wait for it to "reload"?

Switching between Market Depth and the Market History to force the TV graph to reload does nothing for me either.

[2019-07-15 19:03] startailcoon commented on #2928
I can not duplicate this.

Steps I did

1. Go to explore
2. Pick random new user
3. Pick random asset market
4. Trading View appears
5. Click Dashboard
6. Pick other random asset market
7. Trading View appears for that market

What type of account does you have, is it a cloud account or a wallet account? I think this makes a difference. When you go to another account, do you see your own account n

[2019-07-15 19:04] abitmore commented on #2816
Just FYI the layout doesn't work well on smaller screens. Please keep responsive design in mind.

[2019-07-15 19:04] startailcoon commented on #2926
Should be fairly simple to fix. I expect it to be a state that isn't properly fired.

[2019-07-15 19:07] startailcoon commented on #2925
Also includes https://github.com/bitshares/bitshares-ui/issues/2922 with the same issue.

[2019-07-15 19:09] startailcoon commented on #2925
Assigned 1.5 hrs for this to start with. It sounds like a problematic situation. The drop-down shouldn't close when loosing focus. Does the style-guide component have control over this behavior?

[2019-07-15 19:11] abitmore commented on #2816
@MindfulMe if your screen is big enough, perhaps your layout is better.

I think the best approach for this issue, is to add a new style, and show different default style on different detected screen sizes. Click "Personalize" at the top-right corner, you'll see what/how to add.

[2019-07-15 19:11] startailcoon commented on #2921
Looks like the translation is using a variable parameter to define what to view, and it's for some reason not set. Shouldn't be to difficult to investigate the reason for this.

[2019-07-15 19:15] startailcoon commented on #2917
@pengbaba19 yes

[2019-07-15 19:16] startailcoon commented on #2914
Also includes https://github.com/bitshares/bitshares-ui/issues/2912, https://github.com/bitshares/bitshares-ui/issues/2913

[2019-07-15 19:18] startailcoon commented on #2914
Mobile view is one of our headaches. Adding 1 hr for these issues to find a good placement of elements and fixes.

[2019-07-15 19:24] thul3 commented on #2917
im talking about vesting balance and not mfs

[2019-07-15 19:30] startailcoon commented on #2934
Please make sure the new component doesn't suffer from the same issue as reported in #2941

[2019-07-15 19:56] abitmore opened #2949 "Ability to receive any asset with a QR code"
**Is your feature request related to a problem? Please describe.**

If clicked "deposit", and chose "BTS", a QR code will show.

![image](https://user-images.githubusercontent.com/9946777/61243284-e780b800-a747-11e9-878d-2bb96db336b6.png)

However, I can not choose "CNY" or any asset that is not linked to a gateway (e.g. GAT or CNC which were created and only exist on BitShares blockchain).

By th

[2019-07-15 20:16] Agorise commented on #2949
wallet_merchant_protocol
we use it extensively in the palmpay point of sale, but we also need to be able to see an account's qr code as well as the jdenticon.

PalmPay uses qr codes extensively to generate the qr for the customer to pay them with bts, bitassets, etc. what i need though is a way to see other people's qr codes.

merchants have asked if they could print up a whole sheet of all of the

[2019-07-15 20:48] abitmore commented on #2917
@thul3 it's an old issue. See https://github.com/bitshares/bitshares-ui/issues/2532

[2019-07-15 20:49] abitmore commented on #2532
@startailcoon please assign someone / a milestone?

[2019-07-15 21:55] froooze commented on #2860
Closing every time the notification is not an option here, when switching between several accounts.

Tooltips should be placed to not hide important UI elements.

[2019-07-15 21:57] froooze commented on #2870
Version a) like in Open Orders (not grouped)

[2019-07-15 21:58] MindfulMe commented on #2816
****

Okay, I have rolled back to the original UI, Cybex-UI is not suitable for integration with bts-ui since it is highly slow, basic UI of cybex does not look that complex to copy though

[2019-07-15 21:59] MindfulMe commented on #2816
I will preserve the original UI code with further updates to styles and the further stuff with preserving all bts functionality looking more conveniently for users

[2019-07-15 22:01] froooze commented on #2809
@gibbsfromncis: There is no global setting for time threshold ?

[2019-07-15 22:02] froooze commented on #2929
@startailcoon: At a time frame around 5min.

[2019-07-15 23:28] pengbaba19 commented on #2917
still i CANT  withdraw bitCNY in ui !!!!

[2019-07-16 02:27] cloud-8 commented on #2942
Great ok asset issuer has updated default market.

Probably as an ease of use change the default should be the underlying collateral asset unless otherwise defined by issuer.

[2019-07-16 06:45] startailcoon commented on #2917
Hi,

The UI hasn't merged the patch yet. When the PR is merged you can use the develop.bitshares.org page. A release of the desktop app will be available soon. @pengbaba19

I will look at the issue of your problem related to #2532 as well soon @thul3

[2019-07-16 07:44] startailcoon commented on #2949
Just as a note on this, it was discussed heavily in https://github.com/bitshares/bitshares-ui/issues/775 and resulted in [BSIP-60](https://github.com/bitshares/bsips/blob/master/bsip-0060.md).

I still think we should have something like this, and your ideas are sound.

[2019-07-16 09:46] sschiessl-bcp commented on #2855
The mobile version of the new login screen should be used everywhere (like discussed in the issue), and intent is to also use that as the loginmodal

[2019-07-16 09:53] sschiessl-bcp commented on #2816
I would be sold on re-coding the whole thing with a nice clean reduced UX.

Have you checked the various gateway UIs how they are doing it?

[2019-07-16 09:53] sschiessl-bcp commented on #2809
The global setting would be what we add as default in the style-guide. Currently the default is 0.

[2019-07-16 09:59] sschiessl-bcp commented on #2860
@react-cat The account switch notification is the one most likely to be over the menu for local wallet users. So if the active notification is the account switch one, it can be closed automatically. Any other notification stays there to not miss it.

But maybe that distinction is not necessary, what are your thoughts?

[2019-07-16 10:10] sschiessl-bcp commented on #2921
How did that come back again? We fixed that already at some point ..

[2019-07-16 10:12] sschiessl-bcp commented on #2925
I would expect a flag that hinders keyboard to open automatically.

[2019-07-16 12:58] react-cat commented on #2860
@sschiessl-bcp I think that when notification appears, first of all user paying attention to it and then performs some actions, so at the moment when he clicks anywhere, he already read notification.
There is only one exception when user clicks multiple times in a row. In that case he could miss notification, cause it would be closed immediately after it appear.

We can make it only for account sw

[2019-07-16 13:06] react-cat commented on #2860
@sschiessl-bcp And also handling the case only with account notification would be easier to implement

[2019-07-16 13:07] sschiessl-bcp commented on #2832
<h1>The BitShares Blockchain: UI Release 20190618</h1>

The BitShares Blockchain is an industrial-grade and fully decentralized platform that is open source and maintained by its community. The BitShares UI serves as secure wallet for the private keys of your BitShares account and a point of entry to interact with the BitShares blockchain. Among many other features lies the natively built-in decen

[2019-07-16 13:12] sschiessl-bcp commented on #2832
https://whaleshares.io/@sschiessl/the-bitshares-blockchain-ui-release-20190618

https://steemit.com/blockchain/@sschiessl/the-bitshares-blockchain-ui-release-20190618

[2019-07-16 13:14] sschiessl-bcp commented on #2832
@swehman Will you be doing separate how-to articles (like a series) like mentioned in the initial description?

[2019-07-16 13:27] react-cat commented on #2860
@sschiessl-bcp So as a final suggestion I propose to handle only account notifications and force close it in case user click on menu or open account management dropdown. My estimate for this is 1.5 hours

[2019-07-16 15:15] dnotestein opened #2950 "Add dialog from transfer of BTS to BitShares EOS (BEOS) gateway"
**Is your feature request related to a problem? Please describe.**
Add dialog to simplify creating a formatted memo for sending BTS to BEOS gateway. Currently in the reference wallet, a user must construct a fairly complex and potentially errorprone memo to instruct the gateway how to credit the BTS it receives.

**Describe the solution you'd like**
We have an existing implementation that solves t

[2019-07-16 17:54] abitmore commented on #2832
@sschiessl-bcp why the version is 20190618? It's July now.

[2019-07-16 18:06] swehman commented on #2832
### Spotlight on: Direct Debit Authorization

Creating permissions to withdraw specific assets for accounts is now possible directly within the BitShares wallet. This application opens up a variety of possible applications such as automated distribution of salary or expense account funds, reward or referral payouts, even a weekly allowance for your children (a great way to incentivize learning abo

[2019-07-16 18:07] swehman commented on #2832
In the future I will have some suggestions for some of the additional text and formatting you've added if you wish to use this as a template @sschiessl-bcp

[2019-07-16 19:28] startailcoon commented on #2876
Please note that the issue https://github.com/bitshares/bitshares-ui/issues/2532 will do some changes to the files of this issue. I'm removing some unnecessary components, like `<Tabs>` and `<Tab>`.

[2019-07-16 19:28] startailcoon commented on #2532
I've managed to isolate the issue and it will be resolved in the coming days.

[2019-07-16 21:30] MindfulMe commented on #2816
There is already no scroll needs polishing on overall positioning of the rest of the components and tabs, styles, etc<img width="1680" alt="Screen Shot 2019-07-17 at 00 29 06" src="https://user-images.githubusercontent.com/26275425/61331152-0c4d5c00-a82a-11e9-9601-307e14e7011e.png">

[2019-07-16 21:31] MindfulMe commented on #2816
I have not changed much, tried to do it as clean as possible. Stay tuned on further updates

[2019-07-16 21:33] MindfulMe commented on #2816
Since we roll back from Cybex back to the version in which I have been modifying the original Bitshares-UI (Latest "develop" version)

[2019-07-16 21:33] MindfulMe commented on #2816
On mobile looks decent

[2019-07-16 23:47] dnotestein commented on #2695
With the recent hack of btsmd accounts, I think it's worth bringing back up this issue for possible inclusion in an update.

At the very least, it's a new use-case for when it could be useful for protecting buyers. And save some of bitshares reputation when such hacks take place.

I've been asked by abit to write a BSIP for this, but unfortunately I don't have the time for that. I took a quick loo

[2019-07-17 10:24] #2004 closed

[2019-07-17 10:24] #2005 closed

[2019-07-17 10:25] #2007 closed

[2019-07-17 10:29] #2862 closed

[2019-07-17 10:29] #2916 closed

[2019-07-17 10:39] sschiessl-bcp commented on #2816
We are currently discussing redesign as well, please have a look at mobile design here #2854

Desktop design is following as well. Maybe you could implement that one then?

[2019-07-17 10:40] sschiessl-bcp commented on #2816
I'm curious to see what you are cooking up.

@startailcoon should we add a bounty for his investigations? Currently, this task is not in a Milestone or has an estimate.

[2019-07-17 11:07] #2947 closed

[2019-07-17 11:08] sschiessl-bcp commented on #2947
@sschiessl-bcp
add different levels and add alert as well (5 yellow,10 red)

[2019-07-17 11:28] abitmore commented on #2695
I think @dnotestein replied to the wrong issue. The correct issue should be https://github.com/bitshares/bitshares-core/issues/1033

[2019-07-17 12:17] sschiessl-bcp commented on #2742
Splitting this up in several issues.

[2019-07-17 12:18] sschiessl-bcp opened #2951 "[2.8] Add Tabs support for Voting"
Include router similar to Explorer.

witness, committee and workers

[2019-07-17 12:18] sschiessl-bcp commented on #2951
Tracking issue https://github.com/bitshares/bitshares-ui/issues/2742

[2019-07-17 12:21] sschiessl-bcp commented on #2951
Hours spent: 8
Bounty request: 2.8

[2019-07-17 12:23] sschiessl-bcp opened #2953 "[1] Voting: Ensure filtering works across witness, committee and workers"
![image](https://user-images.githubusercontent.com/33128181/61375185-83243c80-a89e-11e9-8aa6-09d0b7446294.png)

[2019-07-17 12:24] sschiessl-bcp commented on #2953
Offspring of https://github.com/bitshares/bitshares-ui/issues/2742

[2019-07-17 12:24] #2742 closed

[2019-07-17 17:30] startailcoon commented on #2947
You mean that we should add additional colors when offset is +/- 5% and +/- 10% as well?

[2019-07-17 19:07] startailcoon commented on #2532
End result with BCO Staking being possible to claim

Chain Vesting type is "unspecified", which is why it states the type to be that.

![image](https://user-images.githubusercontent.com/12114550/61404029-d2865f00-a8d6-11e9-8fa0-cef39874ef4b.png)

[2019-07-17 19:37] startailcoon commented on #2816
I've been following your comments and progress. It doesn't have any bounty or milestone so far as I haven't seen it possible to refactor the whole thing, and we're still waiting for the new UI specs.

However, I do see some possible bounty for these testings, and with some help by the UI team, we could perhaps find a good optional layout that we could add as a "testing"?

[2019-07-17 19:40] MindfulMe commented on #2816
Whatever, I will finish the version of Exchange tab and submit as a new branch. I guess in 3 days will be ready

[2019-07-17 19:52] abitmore commented on #2532
@startailcoon I'm talking about this:

https://wallet.bitshares.org/#/account/bitcrab/vesting

![image](https://user-images.githubusercontent.com/9946777/61405934-27c46f80-a8db-11e9-9f32-84c1bf709689.png)

From cli_wallet:
[code]

`3174 BTS` vs `3231 BTS` allowed to withdraw. The reason is GUI calculates with `coin_seconds_earned` only but ignored `coin_seconds_earned_last_update`, but CLI calcula

[2019-07-18 05:13] sschiessl-bcp commented on #2832
It is indeed the publication post for the June version (delayed).

[2019-07-18 06:44] sschiessl-bcp commented on #2755
Spent hours: 17
Bounty request: 6.5

Required a bit digging around for Alex to find the `settle_orders`, and needed an update for `bitsharesjs` to have them included in full account.

[2019-07-18 07:27] sschiessl-bcp commented on #2871
Bounty request: 0.75

[2019-07-18 08:36] startailcoon commented on #2532
Thanks for the details @abitmore, didn't catch that issue. It's as you mention that the wallet UI simply didn't account for the last_update field, which mean it didn't allow the full amount to be claimed.

I'll supply a fix.

With the update the claim balance is what you want it to be while the last update is still `"coin_seconds_earned_last_update": "2019-07-17T06:00:00"`

![image](https://user-i

[2019-07-18 10:04] startailcoon commented on #1117
I see there's more work done after the comment from abit, do we have a change in the behavior afterwards?

My own opinion is that it would be nice to have a "change fee asset directly" when yo do a transaction, that doesn't stick to be the default, but just for that one op. But that's for a followup issue I think.

[2019-07-18 10:34] MindfulMe commented on #2816
<img width="1680" alt="Screen Shot 2019-07-18 at 13 30 11" src="https://user-images.githubusercontent.com/26275425/61450901-ccd55b80-a960-11e9-93e9-41708343ec2b.png">

[2019-07-18 11:04] sschiessl-bcp commented on #1117
That work was not done by us, but by someone who apparently is linking this issue.

[2019-07-18 11:05] sschiessl-bcp commented on #1117
I would consider this issue complete with the linked comment, and open a new one if a direct selection should be implemented. @startailcoon if you agree please close and open a new one

[2019-07-18 11:08] sschiessl-bcp commented on #2750
There are essentially two was to tackle this:

- make `unit` setting configurable for each account
- make all settings configurable for each account

Thoughts?

[2019-07-18 11:15] #2945 closed

[2019-07-18 11:56] VerevkinAlexander commented on #2287
I found GA scripts in
- charting_library\static\bundles\library.19c99ed5d0307c67f071.js
- node_modules\foundation-apps\docs\index.html,
- node_modules\react-tether\node_modules\tether\docs\welcome\index.html,
 - node_modules\tether\docs\welcome\index.html

[2019-07-18 11:58] sschiessl-bcp commented on #2950
The legacy withdraw will be removed in time, thus it would be feasible to create a generic way.

I have not checked the currently supplied PR, but following things come to mind:
 1. Any legal text should not be hardcoded in the wallet. A hardcoded link would be acceptable, or even better if the gateway api provides link(s) to the 3rd party entity (like T&C, liability notice or similar)
 2. The gat

[2019-07-18 12:08] sschiessl-bcp commented on #2947
Changed now to: median=white, below=red, above=green

[2019-07-18 12:13] sschiessl-bcp commented on #2816
Nice progress! Is it responsive for small screens too (not mobile / tiny)?

[2019-07-18 13:25] sschiessl-bcp opened #2960 "[4] Refine wallet merchant protocol"
Tasks:

1. Add to spotlight
2. Add QR code for payment (in the middle right of the screen). Add a toggle button that allows to switch between invoice QR code, and payment QR code. Default is payment QR code.
![image](https://user-images.githubusercontent.com/33128181/62054673-56671200-b21a-11e9-99fb-c4aad5b2ce77.png)
   - payment QR code contains `bitshares:operation/transfer?to=<pay_to_account>&f

[2019-07-18 13:29] sschiessl-bcp commented on #2244
Hours spent: 30:53
Bounty requested: 14.5

[2019-07-18 13:41] #2244 closed

[2019-07-18 13:45] #2755 closed

[2019-07-18 13:48] #2874 closed

[2019-07-18 13:54] #2871 closed

[2019-07-18 14:19] #2532 closed

[2019-07-18 14:29] sschiessl-bcp commented on #2244
To test
https://develop.bitshares.org/#/invoice/2r4TgkAmeFTNgDZi78ivaPDfX5vk9We7KyNjB3yCkXtKp5yJJYwDPdPfphScXvyAfTXXCVhJz1knGkDjFMkGp9yD23bHGT5MrtUj5VmBusaUwEYpw5GFEgwiuCSHwZnuC1uRb48MwJbjv186RmuGuUNhXBkH59A43KBNbofmF8Pv6hk2NfGRMiKyGx5xbF26jYEntn22yG8s8SChV1v3hptAN3HvF7k95ewzCgbE8hVxHyNajHHj2ymXYJSFnRWJYXiJNBjh4kbmH1Z

[2019-07-18 19:06] allfory0u opened #2962 "[0.25] develop.bitshares.org - HTLC/Direct debit - White screen"
**Describe the bug**
White screen occurred in HTLC/Direct debit overview window.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [develop.bitshares.org/#/spotlight](https://develop.bitshares.org/#/spotlight)
2. Click on [HTLC](https://develop.bitshares.org/#/htlc) or [Direct debit](https://develop.bitshares.org/#/direct-debit)
3. See white screen

**Expected behavior**
No white screen

[2019-07-18 19:25] abitmore commented on #1498
Perhaps @startailcoon can assign someone on this issue.

[2019-07-18 19:36] allfory0u opened #2963 "develop.bitshares.org - Market - web page is slowing down a browser"
**Describe the bug**
After the initial download, market page is slowing down my browser browser

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [develop.bitshares.org/#/market/BTS_CNY](https://develop.bitshares.org/#/market/BTS_CNY)
2. See the problem

**Expected behavior**
Normal page work

**Screenshots**
![P2vrD6zA1l](https://user-images.githubusercontent.com/17462020/61486396-08494

[2019-07-18 21:50] abitmore commented on #1117
I think it's fine. For best UX, please also check https://github.com/bitshares/bitshares-ui/issues/1498

[2019-07-18 21:54] abitmore commented on #2750
FWIW the core team is working on a feature that allows individual accounts to store data on-chain via `custom_operation`. An informational BSIP will be drafted, please join the discussion if have interest. See https://github.com/bitshares/bitshares-core/issues/1847

[2019-07-18 22:00] abitmore commented on #2960
BSIP60 compatible?

[2019-07-18 23:03] dnotestein commented on #2950
I think trying to integrate all gateways into a common withdrawal dailog isn't a viable solution, although it's desirable where its "easy". The way to encourage this is to provide an interface that makes it easy for a gateway to do that rather than make a custom solution.

BUT, it's not a viable solution for every use-case, and I don't think it should be required. The current "legacy" design tacit

[2019-07-18 23:06] dnotestein commented on #2950
This customized page also enables the gateway more control of "when" a user can take an action. For example, you suggest having "links" to legal terms. But it's certainly plausible that a gateway will want to design their pages in such a way that a user is certain to have seen it's terms before the user is allowed to transact on the gateway.

[2019-07-18 23:10] dnotestein commented on #2950
Note by the way, this is why I think these discussions are better handled in a chat window than here. We're located in different timezones and days are going by discussing something where we could at least find out if we're going to have a meeting of the minds in an hour or less rather than days.

[2019-07-18 23:11] dnotestein commented on #2950
Unless you're actively inviting others to join in the discussion, we can come to a resolution on this much quicker in a chat.

[2019-07-18 23:55] abitmore commented on #2950
@dnotestein It's true that chat is a good tool for more efficient communication. I think you can usually find @sschiessl-bcp on Telegram. It would be not too hard to arrange a meeting.

[2019-07-19 07:18] allfory0u commented on #2963
Google Chrome - the same problem

[2019-07-19 08:59] abitmore opened #2964 "Margin positions list in asset info page doesn't refresh when URL changed"
**Describe the bug**
Margin positions list in asset info page doesn't refresh when URL changed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/asset/CNY'
2. Scroll down to "margin positions"
![image](https://user-images.githubusercontent.com/9946777/61523116-ff8c5c00-aa13-11e9-83b4-cd4584e35a9d.png)

3. Go to 'https://wallet.bitshares.org/#/asset/USD' (c

[2019-07-19 09:08] abitmore opened #2965 "[0.5] Incorrect settle orders data in exchanges page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wallet.bitshares.org/#/market/BTS_CNY' (type URL in address bar)
2. Scroll down to 'settle orders'
![image](https://user-images.githubusercontent.com/9946777/61523440-abce4280-aa14-11e9-9823-bf47ae90a7dd.png)

3. click another market from the market list, e.

[2019-07-19 09:17] bitcrab commented on #502
in my view we need not only to include median feed price to the chart, but also need to include the feed price of each witness, which will greatly help voters to estimate the price feeding quality of each witness.

[2019-07-19 12:18] startailcoon commented on #2964
Perhaps I didn't experience this as I didn't use the # tag in the URL locally.

[2019-07-19 12:49] abitmore commented on #2964
1. Open https://wallet.bitshares.org
2. click "explore" -> "assets", search for "CNY", click "bitCNY" from the result,
3. I see https://wallet.bitshares.org/#/asset/CNY in address bar

[2019-07-19 12:57] sschiessl-bcp commented on #2950
Please kindly answer my questions 1.-3. above.

The current codebase of this repository gets streamed 1:1 on bitshares.org. Including third part legal texts immediately becomes a liability issue if hosted on bitshares.org. An external link is different in that regards (imo, but no expert). Ideally we have a disclaimer popup to highlight 3rd party external content, this was an idea discussed in oth

[2019-07-19 15:39] dnotestein commented on #2950
I don't think there's legal liability from replicating another entity's legal disclaimers. The legal liability is with the entity that is making the disclaimer (BLCA in this case). Even if it's an issue of the disclaimer going out of date, it's up to the entity making the disclaimer to update such disclaimers appropriately (or avoid them if it's concerned that such shouldn't be possible).

If you

[2019-07-20 17:48] startailcoon commented on #2963
The issue is found and there will be a fix.

[2019-07-21 08:46] startailcoon opened #2966 "Highlight the Market Fee Reward better"
With the introduction of the market fee reward there have been numerous assets taking advantage of this type of leverage to attract volume. However, the UI does not take advantage of this to guide the user to assets with high rewards. It's only visible on the asset details page.

We should find a good strategy to display this when users search for assets to trade. There are several places, while s

[2019-07-21 09:42] sschiessl-bcp commented on #2966
Only the reward is not enough information there. We could add something like effective market fee which takes it into account.

At the end the user wants to know how much it pays per trade in percent fee

[2019-07-21 12:01] startailcoon commented on #2966
True, a market with 80% return with a 1% fee is less good than a 20% return and 0.1% fee.

[2019-07-21 12:55] swehman commented on #2832
### Spotlight on: Hashed Time-Lock Contracts (HTLC)

HTLC operations (aka “atomic swaps”) are now possible on the BitShares blockchain, allowing for completely trustless digital asset trades with compatible blockchains! Below is a high-level overview and steps on how to create your own HTLC transaction.

### Overview

There are two parties (a depositor and recipient) involved in such a transaction

[2019-07-21 17:21] startailcoon opened #2967 "Require an active agreement before Proposals can be used in UI"
We've had many issues with proposals on the chain lately, and we've enabled various fail safes and requirements for users so they don't accidently accept a proposal. Many of the later cases have been users not upgrading the UI that has these countermeasures.

However, even with the requirement of a propose to be in the white-list and that approve is automatically disabled for these accounts I susp

[2019-07-21 17:34] startailcoon commented on #2965
I suspect that there's a state change that isn't firing. Should be small fix.

[2019-07-21 17:39] startailcoon commented on #2964
Requires some investigation on why this happens on the hosted pages. Seems the `#` makes it not recognize the change by the user.

[2019-07-21 17:41] startailcoon commented on #2962
Missing prop!

[2019-07-21 17:45] startailcoon commented on #2953
Adding an hour for this task.

[2019-07-21 17:49] startailcoon commented on #2950
When we move away from this section I expect that we will still need some kind of custom section for things like this. When it comes to that we would refactor it to work with any new way we handle it.

[2019-07-21 17:51] startailcoon commented on #2944
@OpenLedgerApp what's your estimation on this. As it needs some work I expect it to be a few hours at least. I'll set the estimation to 4 for now, let me know if it falls short.

[2019-07-21 17:54] startailcoon commented on #2942
I agree with @cloud-8 here, if the asset owner hasn't defined a specific market, the collateral asset defined should be the default market. I don't see why BTS should be the default if it's not the collateral asset.

User Issued Asset can have BTS, as they have no collateral.

[2019-07-21 17:58] startailcoon commented on #2938
You're using some other wallet on `wallet.piratecash.net`. I assume they haven't deployed the develop branch yet, as this has not on the main released yet.

It should be fixed on develop.bitshares.org.

[2019-07-21 18:00] startailcoon commented on #2938
You're using some other wallet on `wallet.piratecash.net`. I assume they haven't deployed the develop branch yet, as this has not on the main released yet.

It should be fixed on develop.bitshares.org.

[2019-07-21 18:39] abitmore opened #2968 "OPEN.EOS withdrawal issue"
https://steemit.com/cn/@tvb/bitshares-eos

* A user tried to withdraw OPEN.EOS on https://wallet.bitshares.org, in the end the funds sent to `openledger-dex` account, but she didn't receive on EOS network;
* Openleger support refunded her the funds, asked her to withdraw on https://dex.openledger.io, finally funds sent to `openledger-gateway` account;
* She tried to withdraw on https://wallet.bits

[2019-07-21 18:40] startailcoon commented on #502
I've thought about the same thing as @bitcrab here, that we should make it possible to see the witnesses feed prices visually as well, but this should in such case be in a different place and not on the exchange chart. Historic prices are of interest here I think, but in case we want to do something we can always pull the current ones and display them in a visual chart.

On the exchange chart I'd

[2019-07-21 18:51] startailcoon commented on #2750
It's an interesting idea. OP wants a more flexible asset selector than what we have today. Today we have a predefined list of assets that can be used to view the wallet balance, BTS, bitUSD, bitEUR, bitCNY, bitGBP, bitBTC. These all have (or had) volume to give a fair value estimation.

I see us having two requests here,

1. Being able to quickly select default value asset without having to go via

[2019-07-21 18:53] startailcoon commented on #1117
Agree. We'll continue on a new issue for further changes.

[2019-07-21 18:53] #1117 closed

[2019-07-21 18:56] startailcoon opened #2969 "Allow "single" change of Fee asset on TX"
My own opinion is that it would be nice to have a "change fee asset directly" when yo do a transaction, that doesn't stick to be the default, but just for that one op. But that's for a followup issue I think.

_Originally posted by @startailcoon in https://github.com/bitshares/bitshares-ui/issues/1117#issuecomment-512752150_

With the new Fee selection component we can now let the user select the

[2019-07-21 18:59] startailcoon commented on #1498
Worked on in #2969

[2019-07-21 19:03] startailcoon commented on #2695
@dnotestein do you have any updates for us?

[2019-07-21 19:06] startailcoon commented on #2968
Seems very strange that the wallet doesn't get the correct account from the API of OL.

[2019-07-21 20:40] abitmore commented on #2966
IMHO it's not a good idea to show the detailed info to normal users E.G. how their paid market fees would be split to whom at what percentages and why, because it will reduce their desire to trade thus will harm liquidity and volume.

Please consider showing different UI to LTMs and normal users.

Actually, I think it's as simple as showing a tip to LTMs "x% of fees paid will be refunded since you

[2019-07-21 20:52] abitmore commented on #2967
Generally this is good.

See Barter and etc in Spotlights, quite some of them make use of proposals.

It is an advanced feature for sure. But seldom used? IMHO no.

[2019-07-21 20:54] abitmore commented on #2964
Interestingly some data on the same page changes after URL changed.

[2019-07-21 23:07] TBAPI-0KA commented on #1908
@gibbsfromncis Seems like I've missed when this one appears.
@sschiessl-bcp I saw this in the code, and this was a most confusing thing I've found because I wasn't able to find it on UI during quick research. Thanks to @gibbsfromncis, it's clear now.

So, this way, I see that we have two things which are defined as "submenus" currently:
1. Link to "obsolete" features on the same menu item;
2. Real

[2019-07-22 08:17] startailcoon commented on #2967
The text can be adjusted. Generally I feel it's not used by new users, but I may be wrong. The goal here is to make users understand it's not something they have to use unless they expect it. I've read about users thinking it's something a gateway do, which is not the case.

[2019-07-22 08:30] startailcoon commented on #2966
It's not about showing to where the fee or fee reward goes. This should just view the current fee and reward share in more places than the current asset page. We shouldn't view anything like "x% of your fee goes to user a and user b", that is not relevant.

It would only be a small difference in the wording, and for normal users it would be more about "if you upgrade" notice. Having the fee percen

[2019-07-22 08:32] startailcoon commented on #2964
Seems everything except the margin list is updated. I guess there's a chain query not firing correctly.

[2019-07-22 08:51] OpenLedgerApp commented on #2938
@startailcoon let me check it

[2019-07-22 09:09] OpenLedgerApp commented on #2968
@startailcoon this is the issue in the old api, could you please look into this pr?
https://github.com/bitshares/bitshares-ui/pull/2573

[2019-07-22 09:37] sschiessl-bcp commented on #502
My suggestion: We add view-specific endpoints to the es-wrapper and use them just like a HTTP GET call with json body response.

Thoughts?

[2019-07-22 09:43] sschiessl-bcp commented on #2967
Agreed, a popup with links and reference to help would be a good addition.

[2019-07-22 09:48] sschiessl-bcp commented on #2968
We need to finalize standardization of new API, and your PR is delayed until then. If your old API is no longer working we need to disable it in the reference wallet until the standardization is completed.

What is your preferred way? Fix old API, or disable and wait until new is ready?

[2019-07-22 09:54] sschiessl-bcp commented on #1908
'alternative' is meant as a single drop-in replacement for deprecated menu items, whereas a `submenu` is something completly different. You could combine that behavior by checking the object type of the `submenu` like you suggest since I don't expect that we have alternative and submenu present for the same menu item

I don't understand what you mean with it?

Yes, the headrow is merely a shortcut

[2019-07-22 10:53] gades commented on #2938
@OpenLedgerApp it still doesn't work !!! PLEASE DOUBLE CHECK IT

<img width="1664" alt="Screen Shot 2019-07-22 at 13 52 35" src="https://user-images.githubusercontent.com/4200730/61627299-13d88f00-ac88-11e9-9e2e-b11cde9527cb.png">

[2019-07-22 11:35] #2951 closed

[2019-07-22 11:37] #2963 closed

[2019-07-22 11:41] #2926 closed

[2019-07-22 11:45] sschiessl-bcp commented on #2953
I accidently fixed it in the refactoring :)

[2019-07-22 11:45] #2953 closed

[2019-07-22 13:28] react-cat commented on #2870
@startailcoon I'd like to take this task. I will use existing component (FormattedPrice) and it has few cons. It doesn't support invert by click on price (in case symbols are hidden), only by click on button in popup. Inverting by click on price cell (not row like in open orders) should be written by myself. Also method shouldComponentUpdate should be supplemented with additional conditions and th

[2019-07-22 17:23] react-cat commented on #2931
@froooze If we will show tooltip below or on the side of market picker it might be bad UX cause on small screens it will get of the screen or simply user wouldn't see it in case it will appear below picker.

As a suggestion we can create a tooltip that will appear on the right side next to asset name and will contain first N symbols of current tooltip and three dots. There are few variants of what

[2019-07-22 17:33] react-cat commented on #2719
@sschiessl-bcp You are talking about Explore/Blockchain recent activity ? And the task is to create a "Transaction" indent like "create order"\"cancel order" ?

[2019-07-22 19:03] startailcoon commented on #2719
I assume @sschiessl-bcp is talking about HTCL Transactions?

https://github.com/bitshares/bitsharesjs/blob/master/lib/chain/src/ChainTypes.js#L102-L106
[code]

[2019-07-22 19:09] startailcoon commented on #2931
I'd say we should rather just remove the tooltip on that place. However, since the reword I still think we're missing a link to the asset details page.

The modal should rather have a Table structured something like the following in my opinion. It would also make it possible to sort it.

Asset|Owner|Info|Market
-|-|-|-
gdex.EOS|gdex-team|[Link]|[Link]
gdex.EOS|gdex-team|[Link]|[Link]
gdex.EOS|gdex

[2019-07-22 19:18] react-cat commented on #2719
![AwesomeScreenshot-BitShares-Explorer-Blockchain-2019-07-22-22-07-29](https://user-images.githubusercontent.com/43940398/61658683-8d936b80-acce-11e9-9be6-868d5a851520.png)
@startailcoon, @sschiessl-bcp so you mean this transactions should be splitted to create: count, redeem: count, redeemed: count, etc. ?

[2019-07-22 19:24] startailcoon commented on #2870
Inverting the price on the portfolio column would be very confusing. The price column is based on the settings selected asset, in the example above it's BTS. Inverting just one asset seems illogical.

I have two suggestions for making this possible, and still be logical for users.

1. We make it possible to switch Quote and Base price calculations. This would make all assets in the portfolio be in

[2019-07-22 19:38] startailcoon commented on #2938
@gades please let the developers try to look at it. You've reported the issue and the developers will look at fixing it.

[2019-07-22 19:40] gades commented on #2938
@startailcoon this issue can be reproduced only after build application, in case run this one from `npm start` is working fine. i'm thinking this is related to build application

[2019-07-22 19:41] react-cat commented on #2870
@startailcoon
1. In this case we should also add a button to invert it back to normal. It would be much simpler to invert it either they are all inverted or not and just add some sign to column header whether prices inverted or not.

2. Is this really so common case that someone needs to see inverted prices that we need to add a column ? Cause in case if most users would find this column useless f

[2019-07-22 19:43] startailcoon commented on #502
To populate a feed history graph, sounds about right yes.

[2019-07-22 19:47] startailcoon commented on #2938
@OpenLedgerApp will have an easier time finding it with that information. Sounds about right, based on the persistence of this.

[2019-07-22 21:07] react-cat commented on #2884
@froooze Also after testing, I noticed that send, deposit and withdraw button are really disabled, but buttons from Voting to Permissions have styles of disabled button, but still clickable.

Also you can get to Voting page for example by typing link directly, like https://wallet.bitshares.org/#/account/null/voting

If we really need those buttons to be disabled we should disable them in menu and

[2019-07-22 21:20] react-cat commented on #2809
@sschiessl-bcp as a solution we can create a HOC for ant tooltip. So behavior will be the next. That HOC would simply pass down all props to ant tooltip and add mouseEnterDelay with delay of 0.5ms in case if that prop wasn't already passed.
Pros: we will set a default dealy to all tooltips.
Cons: we would have change tooltip imports all over the project and import our tooltip except ant's tooltip

[2019-07-22 23:13] abitmore commented on #2719
I think this issue is about the blockchain explorer, e.g. https://wallet.bitshares.org/#/block/39402693/17

What to show in the page:
* [x] block info
  * [x] block number
  * [x] timestamp
  * [ ] block id / hash
  * [ ] signature
  * [ ] json of the block (see https://github.com/bitshares/bitshares-ui/issues/2657)
  * [x] witness
  * [x] previous block id / hash
  * [x] number of transactions
*

[2019-07-23 00:10] dot5enko commented on #2011
moved info from wiki to swagger
https://app.swaggerhub.com/apis-docs/home415/BitsharesGatewayRequirements/1.0.0

work in progress. need to collect some explanations of response fields

[2019-07-23 03:50] TBAPI-0KA commented on #1908
The thing that deprecated menu items are called `submenu` in existing code, and I was quite confused about what it is at all. With the latest information that I have, it's obviously better to separate these properties logically, even if we can merge them technically.

I've posted a scope breakdown in my first comment, for easier and clearer estimation on each point. I thought that only `alternate`

[2019-07-23 04:17] tbone-bts opened #2973 "Simplified order form for ordinary users (i.e. non-traders)"
It would be very useful and would promote adoption if the wallet offered a simplified form for ordinary users (i.e. non-traders) to convert one token to another WITHOUT an orderbook by simply specifying a) the token they have, b) the token they want, and c) a quantity.

To date, it has not been feasible to offer such a UI for the DEX due to lack of liquidity. However, with arbitrage / mirrored liq

[2019-07-23 07:18] clockworkgr commented on #2963
Hours for this @startailcoon  @sschiessl-bcp ?

[2019-07-23 07:31] startailcoon commented on #2963
None

[2019-07-23 08:00] clockworkgr commented on #2537
@xiaolujidan @sschiessl-bcp  ping again

[2019-07-23 08:07] startailcoon commented on #2973
Sounds like a good idea to me, I like it. As mentioned, the risk here is that the market has low liquidity, making the price divert from the actual price. I believe that this could easily be solved by a good design, and where we highlight the variation from median / last price on that market.

We could for example have that if a users market trade will result in more than x% of median / last price

[2019-07-23 08:12] startailcoon commented on #2968
You mean the old API does not work as expected any more? Please clarify, as you've stated the following in the PR #2573

I understand this comment as
1. All coins does not yet work with the new API
2. Current gateway works with both current and your new API structures

Is this not true?

[2019-07-23 08:14] startailcoon commented on #2876
@sschiessl-bcp how is work going on this?

I think we should move the vesting page to a nice table structure instead of today's list, but would like this to work first.

[2019-07-23 10:19] abitmore commented on #2011
Why move away from github? Github seems more "official".

[2019-07-23 10:22] sschiessl-bcp commented on #2011
At the end we want Wiki and Swagger. Swagger makes integration for newcomers very easy.

[2019-07-23 12:25] swehman commented on #2832
Supplement to the original post, per @sschiessl-bcp :

### Voting Panel

Several new navigation features have been integrated to make the process of locating and interacting with proposals more intuitive and enjoyable. The selection box for your voting proxy account is now placed more highly above the list of proposals and a filter box for proposals is in the previous location. You may easily save

[2019-07-23 12:52] OpenLedgerApp commented on #2968
@sschiessl-bcp we will fix old api.

[2019-07-23 13:49] sschiessl-bcp opened #2975 "[4] Implement new FeeSelect component"
New component introduced in https://github.com/bitshares/bitshares-ui/issues/1117.

This task is refactoring / code clean-up only.

1. app/components/Dashboard/SimpleDepositWithdraw.jsx
2. app/components/Showcases/Barter.jsx
3. app/components/Modal/HtlcModal.jsx
4. app/components/Modal/WithdrawModalNew.jsx
5. app/components/Modal/DirectDebitModal.jsx
6. app/components/Modal/DirectDebitClaimModal.j

[2019-07-24 07:16] manikey123 commented on #2504
How is it done in the current CollateralBid overview?

In the current view CollateralBid overview is done based on the asset value.
There is no way to get the collateral value based on the accont name or account id (2hrs effort)

Are collateral bids included in the get_full_account return value?
The colateral values for the executed call_orders are present just like margin orders
The open collater

[2019-07-24 08:24] startailcoon commented on #2504
If that is the best approach, making an issue in the core repository is in order so we can have it included.

[2019-07-24 09:58] OpenLedgerApp commented on #2969
@startailcoon I can take this one.

[2019-07-24 10:13] startailcoon commented on #2975
What is the difference from https://github.com/bitshares/bitshares-ui/issues/2934?

[2019-07-24 12:07] sschiessl-bcp commented on #2975
I forgot the other one existed ....

[2019-07-24 14:14] #2934 closed

[2019-07-24 14:16] startailcoon commented on #2975
Closed other one. Here's a comment I made on the other issues

[2019-07-24 15:40] froooze commented on #2931
@startailcoon:
- the info link column can be removed, when the asset name has the info link
- now the Asset column has the link to the market
- Market column should be named Trade, like the other columns

[2019-07-24 19:27] startailcoon commented on #2931
Sorry, of course you're right. We do not need the market column. But since we link to the market by clicking on the asset or owner today, I think that a asset info link is in order. And it would need some prettying up, I think we can do better.

[2019-07-24 19:28] startailcoon commented on #2969
Assigned you @OpenLedgerApp

[2019-07-24 19:38] startailcoon opened #2978 "[1.5] Remove automatic popup on Asset details"
The current `<Asset .../>` component has an automatic popup of the asset description.

This issue should:
1. Disable automatic popup of the asset description
2. Go through all instances of the usage of the `<Asset />` component and determine which ones require `viewPopup`.

Related to: #2902 #2931 among others

[2019-07-24 19:52] startailcoon opened #2979 "[3] Update Vesting Balances to Table Style"
Today we have the vesting balances in a uncomfortable list, mainly because it wasn't used by others than witnesses and workers, while LTM had usually just one object, their normal vesting balance.

Since we started with the market fee reward, a LTM will have one object per asset reward, which can be a very large number.

I feel that a table structure would be beneficial for the usage of this.

###

[2019-07-24 19:56] startailcoon commented on #2973
We could look on making an easy popup (not modal) like with the "Go to mark & Invert" popup we have. With a simple form that would calculate the conversion result and price difference from market.

![image](https://user-images.githubusercontent.com/12114550/61824225-c281f880-ae5d-11e9-9f9c-c5365bc5235d.png)

[2019-07-24 19:59] startailcoon commented on #2798
Does anyone think we need to change / add a third level to this? Otherwise I think we can close this.

[2019-07-24 20:04] startailcoon commented on #2850
@gibbsfromncis looking on the choices we did on https://github.com/bitshares/bitshares-ui/issues/2702 and the output here, I'm agreeing with @sschiessl-bcp about **Widgets border-radius**, it should be small. But it's a change we can take when it's set.

[2019-07-24 20:11] startailcoon commented on #2734
I propose that when the price of a bid/ask goes away from the median to much, it's not going to be visible. This problem only persists mainly because the market has to few bids, and the edges are either 0.0000001 or 10000000.

We should only allow +1 digit from the median price. If the median is 1.0 we allow up to 99.9 to be visible. If the median is 10, we allow up to 999 etc.

Markets that has e

[2019-07-24 20:13] startailcoon commented on #2725
Progress @sschiessl-bcp

[2019-07-24 20:15] startailcoon commented on #2473
@sschiessl-bcp ping again, related to #2725 ?

[2019-07-24 20:16] #2630 closed

[2019-07-24 20:20] startailcoon commented on #2406
Merged with https://github.com/bitshares/bitshares-core/pull/1673. @manikey123 what's your opinion, are we done?

[2019-07-24 20:21] startailcoon commented on #2230
Progress on this, can we merge it with our current repo? @gibbsfromncis

[2019-07-24 20:25] startailcoon commented on #2867
#1117 is closed, did it solve this issue @sschiessl-bcp ?

[2019-07-24 20:38] startailcoon commented on #2755
@sschiessl-bcp this does not view a users "Force Settlement" by being to low on collateral?

[2019-07-25 13:59] react-cat commented on #2719
@abitmore This task is about transactions and not about whole Explore/Blockchain page, so maybe it would be better to focus here on current task and split your checklist to different task and create an issues for them ?