[2018-12-15 20:34] wmbutler commented on #661
@oxarbitrage

[2018-12-15 20:34] wmbutler commented on #354
@nikandrovalex

[2018-12-15 20:35] wmbutler commented on #268
@nikandrovalex should have payments right?

[2018-12-15 21:03] Kennybll commented on #2322
I can take this

[2018-12-15 23:19] startailcoon opened #2352 "[6] Update AccountSelector with Style Guide components"
Required for issue #2205

- [x] Update `<AccountSelector>` with Style guide components.

## Sub-Tasks
- [x] #1984

[2018-12-17 08:36] akledirs commented on #2336
Again happen. Decide see in DevTool:
app.b2b113b921371e707ea6.js:1 TypeError: Cannot read property 'length' of null
    at t.value (exchange.b49decd02decedaf3b65.js:1)
    at Oi (vendor.83485443c01748da976f.js:63)
    at Ni (vendor.83485443c01748da976f.js:63)
    at da (vendor.83485443c01748da976f.js:63)
    at ha (vendor.83485443c01748da976f.js:63)
    at Ga (vendor.83485443c01748da976f.js:63)

[2018-12-17 10:52] clockworkgr commented on #1985
I'll have a look to see if I can...remember I'm not that well versed in React and my solution uses ES rather than the standard chain data

[2018-12-17 15:30] startailcoon commented on #2322
it's yours

[2018-12-17 20:42] startailcoon commented on #2310
+ .5 hrs to fix Margin Position section of wallet

[2018-12-17 21:04] startailcoon commented on #2278
@nikandrovalex I think we're missing your hours for this task.

[2018-12-17 21:40] nikandrovalex commented on #2278
@startailcoon Hi, I spent 8hr 23min for this task

[2018-12-18 01:21] wmbutler commented on #2075
Interactive here: https://share.proto.io/4BMCIS/

Screenshot:

![screen shot 2018-12-17 at 7 20 41 pm](https://user-images.githubusercontent.com/1254810/50126036-df53af00-0230-11e9-80eb-cbf5b504c48e.png)

[2018-12-18 01:46] wmbutler commented on #1975
Observations:

- [ ] It would be best to have only 1 option for picking a market. We currently have search and filter. Simply remove the option and let's follow the rules below.
- [ ] All bitassets must be searchable and be prioritized regardless of using USD or bitUSD, etc.
- [ ] Issuer should be displayed in the list after a user has filtered for an asset
- [ ] Filter should act on the entire as

[2018-12-18 03:36] TechsUsInc opened #2355 "[0.1][hldzlk] Datetime picker Expiration - expand datetime picker field"
**Describe the bug**
In some instances the datetime picker information does not show
Please see #2356

**To Reproduce**
Steps to reproduce the behavior:
1. Go the Exchange tab
2. Click on the BTS tab for BitCNY:BTS pair
3. Scroll down past the chart to buy/sell
4. Click on default expiration of 1 year
![181212rc-1_datetime_picker_1_1yr_capture](https://user-images.githubusercontent.com/18186497/50

[2018-12-18 03:37] TechsUsInc commented on #2276
Please see #2355

[2018-12-18 04:29] TechsUsInc opened #2356 "[1] Datetime picker Expiration - Missing tooltip"
**Describe the bug**
1. The Datetime picker expiration is missing the tooltip once the default (1year) is clicked.
![181212rc-1_datetime_picker_1_capture](https://user-images.githubusercontent.com/18186497/50130857-509d5d00-0245-11e9-8a11-28eb7406bc57.JPG)

2. It is not clear for the user that they can specify the expiry date and time outside of the specific pull
   down.
3. Clicking on specific l

[2018-12-18 04:30] TechsUsInc commented on #2276
Please see #2356

[2018-12-18 05:54] TechsUsInc opened #2357 "Timedate picker - Calendar jumping and other behavior"
**Describe the bug**
From the Datetime picker:
1. The calendar jumps around randomly while scrolling through months/years.
![181212-rc1_datetime_picker_calendar_1](https://user-images.githubusercontent.com/18186497/50134708-f0171b80-0256-11e9-8848-be4d38fa85b0.gif)

2. Please see #2355 #2356

**To Reproduce**
Steps to reproduce the behavior:
**Note that the jumping seems to be contingent on months

[2018-12-18 05:55] TechsUsInc commented on #2276
Please see #2357

[2018-12-18 06:09] TechsUsInc opened #2358 "[0.5] Datetime picker Expiration - default expiry does not reset after leaving an asset pair"
**Describe the bug**
From the Exchange, after buying an asset with a specified expiration outside the default expiration, the default expiration does not reset (back to 1 year default).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Exchange tab
2. Click on the BTS tab for BitCNY:BTS pair
3. Scroll down past the chart to buy/sell
4. Click on default expiration of 1 year
![181212rc-1_d

[2018-12-18 06:10] TechsUsInc commented on #2276
Please see #2358

[2018-12-18 08:11] TechsUsInc opened #2359 "[0.5] Explore Asset tab - clicking asset breaks the site"
**Describe the bug**
Clicking an asset breaks the page.
I checked most (broke the page) with the exception of Bit.xxx (committee-account)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Explore
2. Click on Assets
3. See that Smartcoins is selected (default)
4. Click on ABITS.CNY
![181212rc-1_explore_asset_1_capture](https://user-images.githubusercontent.com/18186497/50140323-f662c300-0

[2018-12-18 08:12] TechsUsInc commented on #2276
Please see #2359

[2018-12-18 08:50] MikhailKavalenka commented on #2344
@startailcoon , I can it

[2018-12-18 09:08] startailcoon commented on #2344
👍

[2018-12-18 13:42] yura5hem commented on #2150
@wmbutler yes, I'll do it

[2018-12-18 15:58] calvinfroedge commented on #2230
@sschiessl-bcp @startailcoon @gibbsfromncis

I have a proposed solution ready:

[code]

![update](https://user-images.githubusercontent.com/632938/50165744-8c6f0b80-02b3-11e9-8b9e-101a5b606839.gif)

Basically a breakpoint gets passed to the tooltip (default of 760) which determines whether it opens on click (mobile, below 760) or on hover (the default). Also as there are the ? icons for the inputs

[2018-12-18 17:20] startailcoon commented on #2359
The asset wasn't possible to load due to the missing in feed providers of the asset. As no feed where able, the code crashed when using feed price to calculate.

[2018-12-18 18:52] startailcoon commented on #2230
Looks great, but do we need the tooltip without the question mark symbol? I only see the usage of the first type. If extra info is available for an input, the icon is present, and it signals to the user that there is one.

[2018-12-18 18:56] startailcoon commented on #1984
Sub-Task of #2352

[2018-12-18 20:39] startailcoon commented on #1984
Updated AccountSelector.

- Favorite accounts first, starred
- Known Scam accounts with warning symbol
- Search input at the bottom
- Input not a valid account is not rendered

![accountselect](https://user-images.githubusercontent.com/12114550/50181591-1d260580-030d-11e9-8d43-df3c980aa5a7.gif)

[2018-12-18 21:11] calvinfroedge commented on #2230
If only the first type is used then that makes it easier =) I'll just make the positioning stuff adjustable via props. I thought maybe tooltips were available on non inputs as well. Thanks @startailcoon

[2018-12-18 21:12] calvinfroedge commented on #2230
@gibbsfromncis @startailcoon @wmbutler Can someone get me access to style guide repo so I can push my branch or should I fork it and PR?

[2018-12-18 21:20] wmbutler commented on #2230
@sschiessl-bcp can you grant access to @calvinfroedge ?

[2018-12-19 02:31] calvinfroedge commented on #2230
@startailcoon Took your advice, now just question mark, also allowed most of the special props to overwrite:

[code]

[2018-12-19 11:16] react-cat commented on #1963
@wmbutler Yes, sorry for late response

[2018-12-19 18:35] TechsUsInc commented on #2359
Yes Sir. Is it possible to have it load a blank synops with " missing feed price of asset" or something similar to avoid a code crash (customer support issue declination) so the user can continue (self help).

[2018-12-19 20:58] TechsUsInc opened #2366 "Exchange ETH tab - Obits, BTSR, other OL assets"
**Describe the bug**
Suddenly when clicking on an Openledger asset in the ETH market of the Exchange there is no chart, no price feed, no suggested buy/sell feed, no history or market trades.
For me on first time, it broke the site
Please see comments below

**To Reproduce**
Steps to reproduce the behavior:
1. Go Exchange ETH tab
2. Click on OBITS (for a pair of ETH:OBITS)
3. See errors
![181212rc

[2018-12-19 20:59] TechsUsInc commented on #2276
Please see #2366

[2018-12-20 04:23] bitcrab opened #2367 "Part of #2456 - GUI bug for attacking specific accounts"
at initial conecting, the GUI regard all the accounts with the same address as the accounts in the local wallet and get data accordingly, this provide chance for hacker to attack specific accounts to make it not able to connect, https://bitsharestalk.org/index.php?topic=27613.0 [4d]

[2018-12-20 09:12] clockworkgr commented on #2367
Interesting attack vector.

I'll think of ways to mitigate this.

Quick Fix:

Add a cloud-login key to your active authority, use that to login to the wallet, bypassing the multiple accounts loading. Is that right @sschiessl-bcp  ?

@abitmore Can we add a check on -core create account/update account where you can only create an account with EXISTING public key X authority or EXISTING  account auth

[2018-12-20 09:22] clockworkgr commented on #2367
if it's an attack however, the attacker will simply change the attack accounts to the new key so won't help much.

need a way to explicitly block get_key_references from being called

[2018-12-20 11:19] sschiessl-bcp commented on #1984
There seems to be another bug in fetching the account. When I search for an account I have never interacted with before, it also says 'Unknown account'
![image](https://user-images.githubusercontent.com/33128181/50281863-27511c80-0451-11e9-9a17-c81a52c43f9c.png)

The second time I search (now the cache is filled), it says "Basic Member".

My comment was with respect to the case when the account ac

[2018-12-20 11:38] sschiessl-bcp commented on #2230
@calvinfroedge You are part of ui-dev team, which has write access to style guide. What was the error?

[2018-12-20 12:17] #2336 closed

[2018-12-20 12:18] #2319 closed

[2018-12-20 12:36] gibbsfromncis commented on #2264
@startailcoon Nope. It wasn't yet

[2018-12-20 12:39] gibbsfromncis opened #2368 "Update style-guide font sizes"
Update font-sizes regarding this issue - https://github.com/bitshares/bitshares-ui/issues/2150#issuecomment-447593727

[2018-12-20 12:49] #2344 closed

[2018-12-20 12:51] #2290 closed

[2018-12-20 13:45] #2348 closed

[2018-12-20 13:46] #2324 closed

[2018-12-20 14:03] #2322 closed

[2018-12-20 14:05] #2359 closed

[2018-12-20 14:38] #2329 closed

[2018-12-20 17:38] calvinfroedge commented on #2230
@sschiessl-bcp Something is different...

bitshares-ui
[code]
success

bitshares-ui-style-guide
[code]
403

[2018-12-20 18:14] startailcoon commented on #2366
The reason the list is long is because it has all the Quote pairs. This means that the ETH tab has all *.ETH pairs like:
- bitETH/OBITS
- OPEN.ETH/OBITS
- GDEX.ETH/OBITS
- BRIDGE.ETH/OBITS
- ... etc

I believe that the WOD issue you have is when a market doesn't have a trading history and is fixed by PR https://github.com/bitshares/bitshares-ui/pull/2339

I've tried all the *ETH/OBITS markets avai

[2018-12-20 18:14] #2366 closed

[2018-12-20 20:15] manikey123 commented on #2350
claiming this
can u share the path to navigate to collateral tab ?

[2018-12-20 21:41] iamredbar opened #2369 "[0.1][iamredbar] GUI issue - Misspelling when depositing"
Description: There is a misspelling in the desktop wallet when going to deposit an asset. This goes for any asset that allows depositing.

**To Reproduce**
1. Go to BITUSD/BTS pair on desktop wallet under exchange.
2. Click on "Deposit BTS"
3. See error. The word Bridge is misspelled on the deposit page.

**Expected behavior**
Correct spelling.

**Screenshots**
![screen shot 2018-12-20 at 3 33 31

[2018-12-21 07:56] sschiessl-bcp commented on #2230
Please try again.

master is now also a protected branch

[2018-12-21 13:19] sschiessl-bcp opened #2370 "[1.5] Collateral bidding: Fix to work for non-BTS backed SmartCoins"
e.g. https://develop.bitshares.org/#/asset/COMPUMATRIX.USD

[2018-12-21 13:51] #2231 closed

[2018-12-21 23:18] iamredbar commented on #2369
I have also found the same error on staging.bitshares.org.

![screen shot 2018-12-21 at 5 14 02 pm](https://user-images.githubusercontent.com/16945982/50367214-48466a00-0544-11e9-92d2-7968b3ff1007.png)

[2018-12-22 00:10] iamredbar commented on #2369
I would like to claim this issue.

To make the changes, I pull from development branch and fix. Correct? This will be my first time contributing.

[2018-12-22 00:37] iamredbar commented on #2369
Please refer to Pull Request #2373 for completed issue. This took me less than an hour.

[2018-12-22 13:36] startailcoon commented on #2369
Thanks for your contribution @iamredbar

[2018-12-22 13:53] calvinfroedge commented on #2230
@sschiessl-bcp I'm sorry but I'm still getting a 403. This is the only repo I can't push a branch to so I don't think it's me.

[2018-12-22 19:42] calvinfroedge commented on #2230
PR is open on style guide... https://github.com/bitshares/bitshares-ui-style-guide/pull/5

[2018-12-22 19:46] calvinfroedge commented on #2298
@startailcoon Just verifying, this issue is to go through the entire UI in Spanish and make sure everything has a translation

[2018-12-22 20:01] #2369 closed

[2018-12-22 20:05] calvinfroedge commented on #2065
Is there UX defined for this task? @wmbutler

[2018-12-22 22:12] calvinfroedge commented on #661
bump @oxarbitrage @wmbutler

[2018-12-22 23:13] sschiessl-bcp commented on #2350
Go to Dashboard, find Margin Positions and click the Borrow icon

[2018-12-23 15:30] startailcoon opened #2375 "[0.5] Missing Market Fee on Exchange"
Market Fee on Exchange is not populated correctly when values are changed.
The value would always stay to 0.

[2018-12-23 15:48] startailcoon commented on #2298
@calvinfroedge yes.

Any other suggestions for change should be added to new issues, to simplify the workflow.

[2018-12-23 15:49] startailcoon commented on #2264
Fixed this as part of #2375

[2018-12-23 15:53] startailcoon commented on #2264
Order Fee should be looked over as it seems to be having a few issues.
PR #2316 has this fixed and should be implemented on the order form.

[2018-12-23 15:59] startailcoon commented on #1984
@sschiessl-bcp yes. There are some delay issues I guess, as well as when an account does not exists at all it's listed as "unknown account", which should not be rendered at all.

[2018-12-23 17:54] litepresence commented on #2189
regarding ether delta; coburn ran a website and collected fees.

**"all orders are stored in EtherDelta’s order book, which resides on a centralized server maintained by
EtherDelta and not on the Ethereum Blockchain"**

https://www.sec.gov/litigation/admin/2018/34-84553.pdf

that is a far cry from offering open source user interface software to connect to a distributed exchange network

additional

[2018-12-23 18:39] MindfulMe commented on #2375
@startailcoon I can take care of it

[2018-12-23 18:42] startailcoon commented on #2375
@MindfulMe this issue already has a PR waiting for merging.
An issue is free to claim if there are no assignees, or no name attached to the title.

[2018-12-23 20:49] erdonmez opened #2377 "Testnet does not work"
Testnet does not work
https://testnet.bitshares.eu/
![image](https://user-images.githubusercontent.com/9018170/50387437-63180a80-070d-11e9-8e24-ce221921e334.png)

[2018-12-24 11:43] startailcoon commented on #2377
This page has nothing to do with the Bitshares UI repository.
However, I'm able to use the testnet.bitshares.eu page.

![image](https://user-images.githubusercontent.com/12114550/50398637-706ade80-0779-11e9-8f21-1f8caa34e75c.png)

[2018-12-24 11:43] #2377 closed

[2018-12-24 13:20] litepresence opened #2378 "up/down nodes since 181127 vs UI master list"
These nodes have been live at some point since 181127 but are NOT in ui master:

14
['wss://altcap.io',
'wss://b.mrx.im',
'wss://bitshares.dacplay.org',
'wss://bitshares.dacplay.org:8089',
'wss://eu.openledger.info',
'wss://frankfurt8.daostreet.com',
'wss://ncali5.daostreet.com',
'wss://node.bitshares.eu',
'wss://paris7.daostreet.com',
'wss://relinked.com',
'wss://scali10.daostreet.com',
'wss://si

[2018-12-24 18:44] startailcoon commented on #2378
Thanks for your submitted list @litepresence
I will take care of the additions/removals of these

[2018-12-25 04:18] HarukaMa opened #2379 "Consider NOT using Ant Design library"
**Describe the bug**
Ant Design library may change the appearances of UI elements without prior notification on specific dates.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to initialization failed page
2. See retry button

Actually
1. Just use the UI for a while
2. Notice how some buttons change appearances

N.B. make sure the system date is 12/25.

**Expected behavior**
UI should be

[2018-12-25 08:02] hldzlk commented on #2355
I can take this.

[2018-12-25 09:00] startailcoon commented on #2378
The following nodes have been contacted to make sure their node are accessible by our next release `20190103`. Nodes that are still down or inaccessible will be removed from the list.

[code]

Node admins that are not in the master node list yet can contact us with their details for inclusion.

Please submit your nodes by the following standards

[code]

[2018-12-25 09:17] startailcoon commented on #2379
I to reacted on this and got very surprised about this "feature". Since Christmas isn't a "world wide event" I'd say that this was a very bad judgment by some of their developers. You can see that they've been pretty scolded by this on their repository https://github.com/ant-design/ant-design/issues/13098

Our issue #2241 is for updating this repository to the latest one.

[2018-12-25 09:19] startailcoon commented on #2241
Update ANT Build to latest one, `3.11.6` as of now due to silly features added by their developers. https://github.com/ant-design/ant-design/issues/13098

[2018-12-25 09:30] #2379 closed

[2018-12-25 09:38] HarukaMa commented on #2379
@startailcoon I was just trying to convince others that this specific library may not worth the trust, especially for a reference wallet implementation.

If just updating the library is your final decision, I will say nothing more on it.

[2018-12-25 11:46] startailcoon commented on #2355
It's your @hldzlk

[2018-12-25 15:00] startailcoon commented on #2379
We take your concern with highest respect.

While it's most unfortunate, the framework won't be changed short term. Once the UI is transitioned to use the new style guide everywhere, exchanging the underlying framework should be easier.

[2018-12-25 18:52] abitmore commented on #2367
IMHO better UI logic should be to **not** load all accounts at one time (aka do pagination or filtering) when detected that results is too big (too many accounts returned), while better core logic should be to **not** automatically subscribe to all accounts returned by `get_key_references` API when reached a threshold. Preventing certain accounts from setting certain keys is not the correct way to

[2018-12-26 02:53] iamredbar opened #2380 "[0.5] Market resolution date for Prediction Assets GUI bug in Dark mode"
**Describe the bug**
Market Resolution Date cannot be seen in GUI when creating a Prediction Market asset.

**To Reproduce**
1. Turn on Dark mode in settings
2. Go to "Assets" from hamburger menu
3. Click on "Create Asset"
4. Turn on "Smart Coin" flag
5. Turn on "Binary Prediction Market" flag
6. Click on "Description" tab
7. See issue

**Expected behavior**
This should be visible in any mode, not

[2018-12-26 04:39] manikey123 commented on #2350
Simulated the "value cannot be deleted scenario" and went through corresponding code.

Tried different combinations, finally after removing below filter existing in AmountSelector.jsx, the "value cannot be deleted scenario" is resolved
	                //amount: this.getNumericEventValue(e)

Impact:
The component AmountSelector.jsx is used at multiple places.
\bitshares-ui\app\components\Account\A

[2018-12-26 12:48] startailcoon commented on #2380
Thanks for the report. Even if this isn't a big of an issue for the "ordinary user", it's not good

[2018-12-29 18:37] startailcoon opened #2382 "Style Guide Replacement Tracker"
This issue is to track progress of the current style-guide implementation.
All components that can be replaced by bitshares-style-guide should be replaced.

### Phase 1 - JSX files to check of
Please check of files as they are completed.
Hours should be tracked in a separate task issue.

- [ ] ./Login/DecryptBackup.jsx
- [ ] ./Login/Login.jsx
- [ ] ./Login/AccountLogin.jsx
- [ ] ./Login/WalletLogi

[2018-12-29 19:30] nikandrovalex commented on #2158
@wmbutler Sorry, I did not see your message. I will be able to start on the 5th of January

[2018-12-29 19:35] nikandrovalex commented on #30
@startailcoon If it's ok, can I get paid? @sschiessl-bcp

[2018-12-29 19:44] nikandrovalex commented on #30
I spent 2hr 33min

[2018-12-30 09:56] sschiessl-bcp commented on #2367
Is the bitshares account that is being attacked "jademont" or another one? (can also PM me, is for testing)

[2018-12-30 16:41] jademont commented on #2367
account "jademont" is being attacked, and I am not sure whether there are more accounts affected.

[2019-01-01 07:53] Cryptrade-Dev opened #2385 "Can't switch to market trades when there isn't any history trades"
**Describe the bug**
Open a new trading pair without any history trades, then switch to market trades tab. An error occurs:
TypeError: Cannot read property 'length' of null

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://wallet.bitshares.org/#/market/CRYPTRADE.CRCO_CRYPTRADE.BTC
2. Switch to "MARKET TRADES"

**Expected behavior**
Can switch to "MARKET TRADES" tab.

**Screenshots

[2019-01-01 12:05] abitmore commented on #2367
Update:
(I believe) due to a bug, the core didn't subscribe to the accounts returned, so effectively this is only an UI issue.

[2019-01-01 22:05] pault70 commented on #2168
Any timeframe for when this fix will be deployed? As of now the export is still not working. I am guessing it's quite important now people need to think about tax reporting for 2018.

[2019-01-02 09:25] prettyCoders opened #2387 "My account can`t login"
Today! I try to login my account "bi-jie" ,But the GUI show me "Incorrect password"
![image](https://user-images.githubusercontent.com/36216120/50586151-44ef9e80-0eb3-11e9-984a-790df0e782d3.png)
I don`t know what happend! help me please!

[2019-01-02 13:09] calvinfroedge commented on #2298
@startailcoon @TechsUsInc Hey guys, just so you're aware I have pushed a branch with an updated Spanish translation file...as much as I could within allocated time I verified correct translations (I used Google translate and my own semi-fluent Spanish). Work is on this branch:

https://github.com/bitshares/bitshares-ui/tree/2298-spanish_translations

I will verify and cleanup soon.

[2019-01-02 20:40] startailcoon commented on #2387
I see your account was created by Open Ledger on 2018‎-‎04‎-‎19‎ ‎02‎:‎50‎:‎27, http://open-explorer.io/#/accounts/bi-jie

I'd avcise you to contact them directly on https://openledger.freshdesk.com/support/home and see if they can help you with your issue.

[2019-01-02 20:40] #2387 closed

[2019-01-02 21:05] startailcoon commented on #2367
When wallet is loaded it loads, and subscribes, to all related accounts.

Without knowing if it would solve anything I started looking at some solutions. I think this is the main issue here, where we are talking loading linked accounts.

1. We're first populating all ref accounts to the loaded keys
https://github.com/bitshares/bitshares-ui/blob/develop/app/stores/AccountStore.js#L307

2. Then we'r

[2019-01-03 07:22] CryptoKong opened #2388 "Add markets to home/ welcome page"
Feature request:

Add arbitrage enabling markets such as the following to the home page:

open.btc-bridge.btc
Gdex.eth-sparkdex.eth
Rudex.btc-bridge.btc

These markets are extremely important to bitshares as when they are liquid they allow and increase trade activity of arb bots. They affectively extend and combine liquidity accross our markets. More activity is more fees for exchanges and the blo

[2019-01-03 09:13] hldzlk commented on #2335
I can take this.

[2019-01-03 10:22] clockworkgr commented on #2367
@startailcoon 's changes are in the right direction but as discussed in Ui group during the holidays the whole thing needs some major refactoring as although things are much better, UI still oversubscribes/floods nodes with API calls. Def need some better client side caching.

[2019-01-03 10:32] TechsUsInc opened #2389 "Combine Market Depth chart with buy/sell orders chart"
**Is your feature request related to a problem? Please describe.**
Currently a user can either view the Tradingview chart, Market Depth, or hide them via the chart options via the Personalize menu but can't view the Tradingview chart, Market Depth, and orders at the same time like previous releases.

**Describe the solution you'd like**
For a better user experience and informed trading consider co

[2019-01-03 10:34] TechsUsInc commented on #2276
Please see #2389

[2019-01-03 14:48] startailcoon commented on #2367
@clockworkgr indeed. Though, I see a major refactoring taking a lot of time and effort to complete.

Would this solve at least part of the problems that we have to begin with?

We should probably start an epic issue to work on the problem.

[2019-01-04 03:21] hldzlk commented on #2335
`bitshares-ui/app/components/Wallet/WalletUnlockModal.jsx`
[code]

[2019-01-04 10:49] TechsUsInc opened #2390 "Add asset icons to the Market and Exchange"
**Is your feature request related to a problem? Please describe.**
The current method of listing market assets in the Exchange may or may not be an improvement compared to previous releases. It can be confusing, lead to mistakes, missed trades, or dissuade a user from trading at all, especially with so many new assets being added.
Please see the rough mock up below.

**Describe the solution you'd

[2019-01-04 10:50] TechsUsInc commented on #2276
Please see #2390

[2019-01-04 14:36] grctest commented on #2287
Looks like it's now blocked:

[code]

Good thing too, if it wasn't an analytics account owned by a BTS dev then who owned the account and what information were they able to exfiltrate?

[2019-01-04 14:38] grctest commented on #2390
Many assets don't have logos/icons though, including the thousands of UIA created by users.

[2019-01-04 14:46] grctest commented on #2043
Anyone experiencing this issue could workaround this by burning the asset-owner permissions, creating the same effect - effectively permanently disabling the "Allow issuer to force a global settling" permissions as there'd be no issuer capable of forcing the global settlement.

[2019-01-04 14:54] grctest commented on #1773
Sorry, I abandoned efforts due to related private testnet issues (white screen of death for one), If HTD pays out I might check it out again, I forwarded the request to update this documentation to the BTS docs team.

Perhaps, it would hang on attempted registration without producing any interesting/workable debug warnings.

 I can understand why the source/docs aren't perfect due to fears of losi

[2019-01-04 15:05] grctest opened #2391 "Label assets owned by 'known scammers' as scam assets"
**Is your feature request related to a problem? Please describe.**
I want to be warned of scam tokens when using the BTS DEX, I don't want to fall victim to them.

**Describe the solution you'd like**
If an asset is owned/issued by a known scammer (or perhaps even null-account owned but previously owned by a 'known scammer') then I want to be warned of this similar to how you're warned in the 'sen

[2019-01-04 19:19] CryptickCryptick1 commented on #2391
This is a complex, issue that can quickly become weighted down in corruption, paid ratings, and bickering. It will require a careful well-thought out response.

I think a trust based score or reputation ranking based would be best. Let's look at examples that have worked elsewhere.

Some crypto exchanges currently have a score ranking by each asset.
* S&P stock research reports have worked well in

[2019-01-04 22:45] TechsUsInc commented on #2390
In a way that quickly raises the bar and indirectly shows a level of project commitment.
Most assets with any volume or interest sorted in the market already have icons.
Those that don't have any volume usually don't have an icon either.
If an asset doesn't have an icon, it would simply be black (blank).

Plus, that opens an opportunity for icons to be created and sold to those that either don't h

[2019-01-05 18:46] gibbsfromncis commented on #2391
@CryptickCryptick1 Your suggestion looks interesting but requires changes not only on front-end side.  It is more difficult for implementation.

@grctest your vision is cool. Let's wait for other team members to post their thoughts.

@sschiessl-bcp what do you think about @grctest suggestion? Also can I ask you to clarify please how we define scam/not scam accounts for now. Is there some algorithm

[2019-01-05 20:45] manikey123 commented on #2350
Let me know any feedback @sschiessl-bcp @startailcoon

[2019-01-06 11:34] TechsUsInc commented on #2168
![181212-rc5_csv](https://user-images.githubusercontent.com/18186497/50735432-b90c9980-1174-11e9-9deb-1ed8d9b9bb6b.gif)

[2019-01-07 10:12] 200495 opened #2392 "[1] Chinese version bug"
Now I find a problem of bitshare-ui.The Chinese version of bitshare-ui can't be opened when there is claim asset fees.
![image](https://user-images.githubusercontent.com/23026128/50762379-b8285480-12a7-11e9-8e3f-7190ea07f926.png)

It can work in English version.But language change to  Chinese,the page can't be opened.
When the record doesn't have claim asset fees record,Chinese version page can be

[2019-01-07 15:05] #2375 closed

[2019-01-07 19:07] CryptickCryptick1 commented on #2391
@gibbsfromncis You make a great, point. I believe any solution implemented today, is far better than a great solution implemented a long way in the future.   How about about the following?

Cryptick1: Ribbons Plan Simplified

I could provide a manual list in a spreadsheet, rating everything into three groups.

Blue Ribbon:  Top (100?)  Traded Assets
Blank Ribbon: Unrated (blank)
Red  Ribbon: Scam

[2019-01-08 13:01] #2151 closed

[2019-01-08 13:12] #2355 closed

[2019-01-08 15:35] sschiessl-bcp commented on #2391
https://github.com/bitshares/bitshares-ui/blob/develop/app/lib/common/scamAccounts.js

[2019-01-08 15:39] gibbsfromncis commented on #2391
@CryptickCryptick1 I suppose we can make some script to prepare the list of required data each deploy to production. I suppose it would be fair.

@sschiessl-bcp got it. It is only UI responsibility :)

[2019-01-08 15:39] sschiessl-bcp commented on #2350
I'd assume that the event value should be allowed to be an empty string.

Can you check the history of that file what was changed in the past?

[2019-01-08 15:40] gibbsfromncis commented on #2391
@clockworkgr @startailcoon @wmbutler Guys, it would be great to hear your opinion about @CryptickCryptick1 proposal.

@CryptickCryptick1 Sounds interesting. Lets wait for feedback from other members

[2019-01-08 15:41] sschiessl-bcp commented on #1773
That is true, possibly @xeroc could offer free faucets for private testnets.

[2019-01-08 15:47] sschiessl-bcp commented on #2168
Please try again in develop.bitshares.org, has been moved to header
![image](https://user-images.githubusercontent.com/33128181/50841481-1ff0a500-1365-11e9-81a3-7e7cfee6b4b1.png)

[2019-01-08 18:16] vanissoft opened #2395 "[1] Paper wallet truncates at one page"
With version 181212, the paper wallet feature generates one page pdf which truncates the info that doesn't fit.
(I have 2 active keys.)

[2019-01-09 08:31] TechsUsInc opened #2396 "[3] Add login enhancement when account is locked"
**Is your feature request related to a problem? Please describe.**
Currently if a user initiates a function while the account is locked a password is required to unlock the account to proceed which works fine, but the process could be simplified for a better user experience. For example, if a user decides to make a buy/sell (or perform any function which requires the account to be unlocked) and cl

[2019-01-09 08:33] TechsUsInc commented on #2276
Please see #2396

[2019-01-09 10:36] pault70 commented on #2168
Awesome, it works! Thanks.

[2019-01-09 11:13] M-Zeeshan-Haider commented on #351
did you recolved this?  https://github.com/bitshares/bitshares-core/issues/1519

[2019-01-09 15:27] yfxwardy opened #2397 "Part of #2452 - Where are pgp signatures?"
Is this open source project?
asc sig pgp gpg - we need it

[2019-01-09 16:45] grctest commented on #2391
I feel that @CryptickCryptick1's proposal ventures towards investment advice and is opinion based, as opposed to the original proposal which just proposes to flag assets which are owned/issued by [known scammer accounts](https://github.com/bitshares/bitshares-ui/blob/develop/app/lib/common/scamAccounts.js) of which there are 1300+

[2019-01-09 17:04] grctest commented on #2397
For what, the client setup files?

[2019-01-09 17:24] Robespeler commented on #2397
Sure. For all release files.
But I cant find pgp signatures at all

[2019-01-09 17:42] clockworkgr commented on #2397
No signatures...just checksums i think

[2019-01-09 18:01] Robespeler commented on #2397
Are you developer or leader of project?
This is crypto project. Site or DNS or something else can be compromised. All true open source projects have pgp signatures by developers. Checksums are not enough.

[2019-01-09 20:00] sschiessl-bcp commented on #2397
What would you like to have signed?

[2019-01-09 20:00] sschiessl-bcp commented on #2274
Closed, thanks for all participants!

[2019-01-09 20:04] sschiessl-bcp commented on #2335
Please do a PR for this

[2019-01-09 20:07] sschiessl-bcp commented on #2334
Did you test this throughout all checkboxes?

[2019-01-09 20:10] sschiessl-bcp commented on #2281
Thank you

[2019-01-09 20:10] #2281 closed

[2019-01-09 20:16] sschiessl-bcp commented on #2298
Translations are maintained using transifex, see #1705 and #2201
and
https://www.transifex.com/bitshares/bitshares-ui-1/

There might have been some that are missing, I will cross-reference when you do your PR

[2019-01-09 20:18] sschiessl-bcp commented on #2303
I can't reproduce that, any settings changes?

[2019-01-09 20:20] sschiessl-bcp commented on #2311
Using style-guide table should resolve all that easily, right?

[2019-01-09 20:31] sschiessl-bcp commented on #2276
You were on fire, and thank you!

[2019-01-09 20:31] #2276 closed

[2019-01-09 20:34] #2274 closed

[2019-01-09 21:13] calvinfroedge commented on #2298
I have verified my translations @sschiessl-bcp

[2019-01-09 22:41] CryptickCryptick1 commented on #2391
Appreciate everyone’s feedback.

Coming from a customer service background, I know that taking care of the customer is very important. If we don’t take care of the customer, someone else will! People can leave us and trade at other exchanges. For every unhappy customer, it is reported that they will tell between 9 and 15 people.

I could see where if a more advanced rating system were developed -a

[2019-01-10 00:11] akledirs opened #2399 "Year on Chart"
2018 is displayed instead of 2019 on the graph
![image](https://user-images.githubusercontent.com/6587277/50937574-5de4ea80-1485-11e9-958b-2808934f92c8.png)

[2019-01-10 00:17] akledirs commented on #2277
This show only for borrower. I suggest show notification about low-collateralized active for holders.

[2019-01-10 02:24] gibbsfromncis opened #2400 "[3][twksos] Replace Market Picker"
UX and comments: https://github.com/bitshares/bitshares-ui/issues/1975#issuecomment-448065737

[2019-01-10 02:34] gibbsfromncis commented on #1939
@sschiessl-bcp do you see PR template when try to create an issue? I can't see it...

<img width="1161" alt="screenshot 2019-01-10 03 34 40" src="https://user-images.githubusercontent.com/35899973/50942351-abaf2200-1488-11e9-8b51-8a388d5f6856.png">

[2019-01-10 02:43] gibbsfromncis commented on #2190
Updated hours based on comments above.

[2019-01-10 02:53] gibbsfromncis commented on #1917
@arminnaderi please send us your bitshares account name you would like to receive bounty.

[2019-01-10 02:56] gibbsfromncis commented on #2150
@yura5hem please send us your bitshares account name which should receive your bounty.

[2019-01-10 02:57] gibbsfromncis commented on #2224
@oldbusdriver please send us your bitshares account name which should receive bounty

[2019-01-10 02:57] gibbsfromncis commented on #2084
@manikey123 please send us your bitshares account name which will receive bounty for this task

[2019-01-10 04:43] manikey123 commented on #2084
bitshares account name is betas-11. Thank you !!

[2019-01-10 06:35] TechsUsInc opened #2402 "Explore enhancement - Add State of Bitshares Network tab"
**Is your feature request related to a problem? Please describe.**
The number of platforms being built on top of Bitshares has and will continue to increase rapidly. Jumping from one platform to the next can be a chore, and even un-secure just trying to make comparisons or exchange.

**Describe the solution you'd like**

![181212-explore_enhancement_1](https://user-images.githubusercontent.com/181

[2019-01-10 06:36] TechsUsInc commented on #2276
thank you.
Please see #2402

[2019-01-10 07:32] oldbusdriver commented on #2224
bus-driver
Thank you.

[2019-01-10 08:19] TechsUsInc commented on #2303
No Sir, no settings changes. Most recent attempt just now on 181212-rc2 @ staging.bitshares.org.

![181212-rc2_staging_white_screen_capture](https://user-images.githubusercontent.com/18186497/50955190-1313a480-147e-11e9-8de5-3f4d5aeb881d.JPG)

[2019-01-10 08:36] sschiessl-bcp commented on #2303
Can you try on develop please?

Am 10. Januar 2019 09:19:09 schrieb TechsUsInc <notifications@github.com>:

[2019-01-10 08:50] TechsUsInc commented on #2303
Yes Sir, will do. Screenshot above is with Opera.
![181212-rc2_staging_white_screen_ff_capture](https://user-images.githubusercontent.com/18186497/50956840-52dc8b00-1482-11e9-9715-24e8de48db4b.JPG)
Works with Firefox but note errors.
![181212-rc2_staging_white_screen_google_mv](https://user-images.githubusercontent.com/18186497/50956859-62f46a80-1482-11e9-8bfc-551fe9ecda92.gif)
Whitescreen with Go

[2019-01-10 08:54] TechsUsInc commented on #2303
![181212-rc2_develop_white_screen_capture](https://user-images.githubusercontent.com/18186497/50957077-ea41de00-1482-11e9-8a60-78ab3c420c35.JPG)
Develop.bitshares.org

[2019-01-10 09:07] TechsUsInc commented on #2303
![181212-rc2_develop_white_screen_google_mv](https://user-images.githubusercontent.com/18186497/50957853-e31bcf80-1484-11e9-9c98-e2b7e14ea423.gif)
Develop.bitshares.org with Google

[2019-01-10 13:56] TheTaconator commented on #30
Agree.  @gibbsfromncis Until Core has a second version of recurring withdrawal operation, secular periods like months should be avoided **unless** a special description is added that defines how "month" will be interpreted.

Might discuss with Core Team about the availability of a second version.

[2019-01-10 14:12] TheTaconator commented on #30
Yes. For currentAccount !== authorizedFrom, proposed transaction is necessary when the recipient or anyone else initiates the recurring authorization. Then giver will need to be notified about the request, and will need a way to review the request.

[2019-01-10 14:17] TheTaconator commented on #30
This can be an option. Be cautious that if employee forgets to withdraw during a particular month then that month's withdrawal opportunity is lost.

[2019-01-11 12:32] sschiessl-bcp commented on #2311
Estimate for replacing with style guide is 6

[2019-01-12 22:40] sschiessl-bcp commented on #2350
I mean was there any change in the past that would cause this behavior? Or was it always like that?

I'd aim for a fix that either allows that the numeric input value is null (when string in field is "") or similar

[2019-01-12 23:01] manikey123 commented on #2350
thanks. will go through code and update !

[2019-01-13 07:18] arminnaderi commented on #1917
@gibbsfromncis I've sent it to Stefan

[2019-01-13 18:45] froooze commented on #1705
Update: Translation is finished now and can be reviewed!

[2019-01-13 23:28] grctest opened #2403 "[1.5] WSOD on asset details page"
**Describe the bug**
White screen of death triggers when you navigate to the following pages:

https://wallet.bitshares.org/#/asset/Verthandi
https://wallet.bitshares.org/#/asset/Skuld
https://wallet.bitshares.org/#/asset/Urthr

**To Reproduce**

From a blank web tab, or from the explore asset pane, navigate directly to the asset details page for one of the 3 above bitassets.

**Expected behavior*

[2019-01-13 23:38] grctest commented on #2402
Where would this data be sourced? It seems more of a "State of BTS centralized exchange trading volumes" than a state of the network, which was a successful news article series on steemit.

[2019-01-14 00:01] sschiessl-bcp commented on #2403
I'd have said the opposite on the wording, gnahaha

Either case, bug confirmed.

[2019-01-14 01:34] wmbutler commented on #2276
Please post your bts payment address.

[2019-01-14 01:35] wmbutler commented on #2274
@toi16 please post your bts payment address.

[2019-01-14 05:45] sschiessl-bcp commented on #2274
Some are listed in payouts (bottom of first post) here
https://github.com/bitshares/bitshares-ui/issues/2274#issuecomment-453884839

[2019-01-14 05:45] sschiessl-bcp commented on #2276
See here https://github.com/bitshares/bitshares-ui/issues/2274#issuecomment-453884839, bottom of first page

[2019-01-14 08:40] toi16 commented on #2274
Hi, my BTS address is : toi16

[2019-01-14 09:33] bert-hornback opened #2405 "Can't Log in to account using same password as before"
Can't log in even though my password has not changed and I have used the same password in fact I made a deposit to crypoto bridge exchange and  access2 minutes later I tried to log in with same password and it said incorrect password  can some one please help with this there must be a bug in the system because the password worked 2 minutes earlier I was sent to  https://wallet.bitshares.org/ and s

[2019-01-14 10:18] TechsUsInc commented on #2276
lil-bi.t-of-techs-us

[2019-01-14 10:46] TechsUsInc commented on #2402
That's a good question, requires more thought. Basically I was suggesting a Bitshares Ecosystem panel in real time (similar to above image) mindful of credit to the state of the network as you said, Fuzzy, and others that contributed towards that effort if it's even possible given so many variables.

[2019-01-14 17:15] grctest commented on #2405
Are you using the cloud login, or the 'bin' file login mechanism? Are you logging into the same interface which you registered on?

[2019-01-14 17:55] bert-hornback commented on #2405
Just got it to work I'm logged in

[2019-01-14 17:55] #2405 closed

[2019-01-15 00:05] TechsUsInc commented on #2402
@grctest I found these open source tools today if you are interested.
 Please take a look at https://blockmodo.com/quotes/EOS/markets

1.Released yesterday was developed with EOS in mind streaming real time pulse including
   market,social,and dev activity.
   Blockmodo EOS-Tab:  https://github.com/Blockmodo/eos_tab
2. Blockmodo Coin-registry:  https://github.com/Blockmodo/coin_registry
3. CCXT-A

[2019-01-15 06:54] manikey123 commented on #2350
From history file history file AmountSelector.jsx Line 91 8a92c6c#diff-059c22265510dbbbdd056857f0e4311d, there is a change "this.getNumericEventValue(e)" this causes the bug provided by @wmbutler "updating for me but this value cannot be deleted as shown here"
![image](https://user-images.githubusercontent.com/22608398/51163469-981c0680-184e-11e9-93da-17b3373eedb3.png)

Based on the fix of removin

[2019-01-15 08:06] manikey123 opened #2406 "Ensure back end changes reflected to front end"
**Is your feature request related to a problem? Please describe.**
Backend changes to config ini is being made and its reflection to frontend needs to be evaluated/fixed. Will work on this once core tickets complete ( approximately 3 weeks)
**Describe the solution you'd like**
Inspired from core ticket #782, 783
https://github.com/bitshares/bitshares-core/issues/782
https://github.com/bitshares/bi

[2019-01-15 08:17] manikey123 commented on #2406
claiming this. this would be available in February to evaluate.

[2019-01-15 10:02] sschiessl-bcp commented on #2350
My suggestion would be to check the event `e` and if it contains a valid null/empty string value as user input, forward `""` as value to `onChange`, otherwise `this.getNumericEventValue(e)`

[2019-01-15 14:41] sschiessl-bcp commented on #2215
Ping

[2019-01-15 15:26] sschiessl-bcp opened #2407 "[4] Edge Browser stuck on Loading, show Unsupported message"
Investigate if this is possible: https://github.com/bitshares/bitshares-ui/issues/2175#issuecomment-447593135

If the UI crashes before it can render anything, simply show a text or similar on plain html level

[2019-01-15 15:30] sschiessl-bcp commented on #2175
This issue is used to payout for investigation into the issue, hours spent is 4.

References for the interested dev
https://stackoverflow.com/questions/44455083/error-script-1028-expected-identifier-string-or-number-with-ie11
http://mikemclin.net/fixing-error-script1028-expected-identifier-string-or-number/
https://github.com/jsforum/jsforum/issues/5
https://github.com/rollup/rollup/issues/969

[2019-01-15 15:31] #2175 closed

[2019-01-15 15:32] gibbsfromncis commented on #2175
@sschiessl-bcp should I update hours to 4?

[2019-01-15 15:45] sschiessl-bcp commented on #2175
Jap, and change the label from estimated to finalized once you have reviewed

[2019-01-16 10:34] bitfanatic opened #2408 "[2] Add memo to every selector in the Barter proposal feature"
#2404 On Stefans @sschiessl-bcp request i have added this issue

Having the ability  to Add memo field to every selector in the barter proposal feature
Would greatly enhance the functionality for this feature

So that it could be possible for the feature to include other items than tokens

And for inexperienced people wanting to trade crypto using the barter function could add a custodian to overs

[2019-01-16 11:14] sschiessl-bcp commented on #2397
All maintainers of this repository have mandatory 2FA, not sure how big the security increase would be. master and staging are protected branches, nothing goes in there without approval.

I ll think on it anyways

[2019-01-16 13:16] bitfanatic commented on #1857
Could we integrate http://everprove.com/main into this for contracts

And Basically let any company have this and integrate with bitshares
That would be powerful stuff

A company would be able to run a large part of its business via bitshares and be very secure and save a ton of money in the process

Just brain storming :)

[2019-01-16 17:24] gibbsfromncis commented on #1857
@bitfanatic If you want to see this kind of feature I need ask you the following questions to understand why and who will need it:
- What is the main feature of  [ http://everprove.com/](http://everprove.com/)?
- How integration of Bitshares and Ever Prove will work? Can you describe how do you see it in details?
- What are the group of users  need it?
- What kind of problem ever prove help users

[2019-01-17 02:42] iamredbar opened #2410 "[2] Login issue with log in form"
**Describe the bug**
When logging in intermitently, an issue happens where the GUI will not let you type in your account name.

**To Reproduce**
1. Open desktop GUI
2. Click on text box 'Account Name'
3. Select all and start typing account name
4. See error

**Expected behavior**
Always allow entering of account name.

**Video**
![login bug](https://user-images.githubusercontent.com/16945982/51291

[2019-01-17 09:45] bitfanatic commented on #1857
Yes off course
Give me a little time to get it onto paper its pretty big ideas

And im not sure if bitshares can handle all off it

Because i have no experience in coding other than playing with swift coding on ipad

[2019-01-17 15:07] sschiessl-bcp commented on #1859
Merging this to show to people for testing

[2019-01-17 15:07] #1859 closed

[2019-01-17 22:06] #2232 closed

[2019-01-18 06:35] gibbsfromncis commented on #1857
@bitfanatic Unfortunately only small percentage of users are familiar with github and ready to share their ideas or post bugs there. We appreciate and open for any ideas, comments and objections.

I personally would be glad to hear your big ideas and discuss it 👍

[2019-01-18 06:54] manikey123 commented on #2350
added above logic and tested it out. Create PR #2412. Plz review
@sschiessl-bcp

[2019-01-18 16:21] sschiessl-bcp opened #2413 "Proposal containing an account twice break UI"
A proposal breaks UI if accounts appear twice
![image](https://user-images.githubusercontent.com/33128181/51399095-6acca280-1b45-11e9-9afb-d637957831e4.png)

Error
![image](https://user-images.githubusercontent.com/33128181/51398754-b29efa00-1b44-11e9-9388-a93c04d587fc.png)

[2019-01-18 20:40] sschiessl-bcp commented on #2413
Took 3 hours to figure out the component and derive a fix

[2019-01-18 20:41] #2413 closed

[2019-01-19 20:38] dmarks2061 opened #2415 "Quantity discrepancy"
I've been away during the crypto winter, and just reconnected.
There is a small discrepancy in total BTS shown (4981.14) and what I have in my records (4983.7)
Has there been a change, or a charge, since last I looked? Please advise.

[2019-01-21 12:11] sschiessl-bcp commented on #1705
Much appreciated

[2019-01-21 12:56] sschiessl-bcp commented on #1939
The way I did it only worked with `?template=...` query parameter,  I thought we get those fancy select buttons as with issues ...

So I switched to having only one template, which is now visible

[2019-01-21 12:56] #1939 closed

[2019-01-21 13:00] dls-cipher opened #2416 "Permissions issue (since latest release) with Active/Owner permissions Weight 1"
**Bug description**
Until latest release both develop* and wallet*  ( *.bitshares.org) are on any action with remote account that I have fully added both Active and Owner permissions throws error:

"Transaction was not signed. Do you have a private key? [no_signers]"

Steps to reproduce the behavior:
1. Pick account "A" and account "B" that you own.
2. Login as account "B" and go to **Burger Menu*

[2019-01-21 13:04] sschiessl-bcp commented on #2416
Can reproduce

[2019-01-21 13:13] sschiessl-bcp commented on #2230
What's the quickest why I can play around locally with that?

[2019-01-21 13:34] calvinfroedge commented on #2230
1) Download style guide repo https://github.com/bitshares/bitshares-ui-style-guid
2) Checkout branch `2230-mobile-tooltips`
3) Click on one of the themes and scroll down to tooltips demo

[2019-01-21 14:14] sschiessl-bcp commented on #2230
Zhe behavior if onHover or onClick depends on how the website was when it is first opened, and remains like that when resized. Is that on purpose?

Additionally, it looks misplaced on my end
![image](https://user-images.githubusercontent.com/33128181/51479640-1ae11c00-1d8f-11e9-8583-fa44fdaa160d.png)

[2019-01-21 15:09] calvinfroedge commented on #2230
The issue with tooltip width is I think an Ant issue. The Ant tooltips don't behave completely properly during resize.

But yes, onHover vs onClick is supposed to depend on the page width, and there is a param to give a mobile breakpoint.

[2019-01-21 17:56] startailcoon commented on #2415
Does the public explorers say the same thing, for example on http://open-explorer.io/#/accounts/{your-account-name}.

You need to give an account name, but it would be impossible to say the reason for the discrepancy if that says the same thing. If your records does match the explorer, then we need to take a look at the UI.

[2019-01-21 17:58] startailcoon commented on #2410
Do you mean it changes back while you're typing, without letting you finish?

[2019-01-21 18:03] startailcoon commented on #2406
@manikey123 I've added 2 hours to this task. Please ping if your estimates are larger

[2019-01-21 18:03] startailcoon commented on #2403
Seen the same thing on some of the older assets.

[2019-01-21 18:06] startailcoon commented on #2402
This is more of a "Trading state of BTS" than a state of the "Network". Cool idea, but not sure if I like it inside the client. It would also require a large amount of external requests to get the data, not sure everyone would like that.

`Needs More Discussion`

[2019-01-21 18:10] startailcoon commented on #2399
Can't see this on my client. Must have been some issue with TradingView API.

![image](https://user-images.githubusercontent.com/12114550/51491925-37418080-1db0-11e9-89c6-2fffa3405c35.png)

[2019-01-21 18:10] #2399 closed

[2019-01-21 18:15] startailcoon commented on #2396
Sounds like a reasonable request imho. We could add a `opRequest` (or similar) on the login to set the cursor to password field.

I'd like to add that it would be a nice feature to add the amount of to auto lock the wallet as well, with security notices of course. Running on a local machine with none other accessing it, extending the logout timer would sometimes be preferred.

[2019-01-21 19:40] iamredbar commented on #2410
@startailcoon Yes, correct. It is an intermittent issue, doesn't seem to happen every time. While typing it will default back to the original account that was remembered.

[2019-01-22 04:55] TechsUsInc commented on #2402
@startailcoon Agreed that it would be taxing on the client and may be could be used elsewhere.

[2019-01-22 12:46] #2298 closed

[2019-01-22 12:47] sschiessl-bcp commented on #2416
Resolved, account permissions were changed which fucked up the account

[2019-01-22 13:24] #2392 closed

[2019-01-22 13:24] sschiessl-bcp commented on #2392
Fixed, was translation error

[2019-01-22 15:41] TechsUsInc opened #2417 "Permissions enhancement - Committee invoked security measure"
**Is your feature request related to a problem? Please describe.**
Given the recent Random-k.com compromise of accounts, I think that it is possible to increase security measures within the client using global listeners.

A clear and concise description of what you want to happen.
1. If someone blacklists another account, nothing more happens (current state-P2P)

2. If someone blacklists another a

[2019-01-22 15:46] calvinfroedge commented on #2230
@sschiessl-bcp Bump

[2019-01-22 19:59] startailcoon commented on #2410
I remember noticing this myself, but never investigated it. Seem some component is updating, making the form reload to default state while you type.

[2019-01-22 20:03] startailcoon commented on #2415
You mention your balance is `4980`, which is the BTS value of your assets. As your portfolio consists of three asset types (BTS, SEED and BADCOIN) this is the reason of the value change you mention. As these other assets decrease in value against BTS, your portfolio decreases in value as well.

Your portfolio still consists of the same amount in the three assets, as no transactions have been made,

[2019-01-22 22:06] grctest commented on #2090
Sorting supply by descending sort doesn't sort correctly:
![image](https://user-images.githubusercontent.com/15861527/51568557-e3a76380-1e91-11e9-909e-04afe40f7d08.png)

[2019-01-22 23:33] dmarks2061 commented on #2415
It does, STC, thanks. I don't understand it fully, but it IS clearer.
But I didn't have any choice in SEED & BADCOIN; I didn't order them. So it's a little scary that the system automatically gave me those coins and debited my BTS balance. You say that's normal, so I guess I'll accept it (it DOES make life a little easier).
(If I wanted to pursue this, I'd question why those 2 xactions occurred la

[2019-01-23 10:37] sschiessl-bcp commented on #2090
It looks like it sorts by the integer value neglecting the decimal point. @alexandr-masl

[2019-01-23 10:47] #2335 closed

[2019-01-23 10:47] sschiessl-bcp commented on #2410
Duplicate of #2335

[2019-01-23 10:47] #2410 closed

[2019-01-23 12:44] sschiessl-bcp commented on #2137
Process described in the issue happened here
https://github.com/blockchainprojects/bitshares-ui/issues/53

[2019-01-23 13:37] sschiessl-bcp commented on #2367
@jademont

What happens on your end when you load your account? Hangs? Error messages?

[2019-01-23 13:52] sschiessl-bcp commented on #2230
Also the onClick / onHover behavior is different, and stays like that even if resized

[2019-01-23 13:53] sschiessl-bcp commented on #2230
Certainly! But can I cover all three cases I have described in the issue?

[2019-01-23 13:54] sschiessl-bcp commented on #2230
Agreed, might be cases that its usable

[2019-01-23 13:55] sschiessl-bcp commented on #2230
There are cases like described above where I want no question mark on desktop view, but I want one on mobile view

[2019-01-23 13:56] TechsUsInc commented on #2396
@sschiessl-bcp If you were asking me,my request is that when the login window appears (PW needed due to timeout) the cursor moves to the password field.
 I think @startailcoon defined the solution

![181212-login_3_capture](https://user-images.githubusercontent.com/18186497/51611084-f8144c00-1ee3-11e9-84e4-c04096aa5e27.JPG)
![1881212-login_1_capture](https://user-images.githubusercontent.com/18186

[2019-01-23 13:56] TechsUsInc commented on #2396
@sschiessl-bcp If you were asking me,my request is that when the login window appears (PW needed due to timeout) the cursor moves to the password field.
 I think @startailcoon defined the solution

![181212-login_3_capture](https://user-images.githubusercontent.com/18186497/51611084-f8144c00-1ee3-11e9-84e4-c04096aa5e27.JPG)
![1881212-login_1_capture](https://user-images.githubusercontent.com/18186

[2019-01-23 13:58] sschiessl-bcp commented on #2396
Yes, that is clear, any time you open login dialog with account preselected focus should be password.

What is not clear is the scope with the autolock

[2019-01-23 21:18] dougbebber opened #2421 "Pine Scripts for Tradingview charts"
**To add increased capability with charting on the Bitshares DEX**
I used TradingView for charting other markets before the Bitshares UI started using TradivingView and
I was very happy when Bitshares switched to TradingView for market charts. One thing I really liked about TradingView was the Pine script facility. With Pine scripting you are able to create your own custom indicators and generate

[2019-01-24 01:15] manikey123 commented on #2350
@sschiessl-bcp : let me know if any thing needs to be done on this ticket. otherwise we can close the ticket. Thanks.

[2019-01-24 05:38] #2350 closed

[2019-01-24 06:17] manikey123 commented on #2350
please update time spent to 4 hours
-3 hours spent on simulating, fixing and providing recommendation ( as mentioned on dec 25)
-1 hour spent on review note and history changes

[2019-01-24 07:46] #2395 closed

[2019-01-24 07:47] #2403 closed

[2019-01-24 07:52] #2137 closed

[2019-01-24 08:02] sschiessl-bcp commented on #1705
@froooze Where do I find the completed?
![image](https://user-images.githubusercontent.com/33128181/51663159-4f82ec80-1fb6-11e9-942c-bba35b2f66f6.png)

Is there a review necessary somewhere within transifex? I normally get notifications once resources are completed, e.g. for russian here
![image](https://user-images.githubusercontent.com/33128181/51663283-953fb500-1fb6-11e9-8761-424b8fe81e4b.png)

[2019-01-24 08:05] sschiessl-bcp commented on #2415
That might be due to poor UX. The fee is always paid by the account that triggered the action. In that case, the sender of the transfer paid the fee, not you.

[2019-01-24 13:18] froooze commented on #1705
@sschiessl-bcp:
I think this is a UI bug. Translation is 100% finished. If there are still untranslated strings, feel free to ask again.

[2019-01-24 22:35] bangzi1001 commented on #2417
This issue not relevant to UI.

Based on my observation, most if not all committee members have no intention to block any accounts.

[2019-01-24 23:13] TechsUsInc commented on #2417
With that said then, it is likely that this protocol would rarely if ever have a need to be implemented, but should the need arise, it would already be in place.
I agree that most if not all Committee members would/should not block any accounts, but that was the current resolution for CALLCNY05MARCH19 ATM iirc and random-k accessed a large number of accounts which is still ongoing to my knowledge.

[2019-01-25 15:21] dexy-dex opened #2422 "Private browsing mode and TOR-browser"
When i run bitshares-ui in the TOR-browser(based on Firefox 60.4.0esr) or in private mode in Firefox 64.0, it scans available nodes and stops after that with error "DOMException: A mutation operation was attempted on a database that did not allow mutations."
Perhaps it happens because of inaccessibility of the indexedDB (Context: IndexedDB doesn't work in private browsing mode https://bugzilla.moz

[2019-01-25 21:30] TechsUsInc opened #2423 "Whitelist tab enhancement - added features to whitelist/blacklist tabs"
**Is your feature request related to a problem? Please describe.**
1. Consider the enclosed mock-up to illustrate a way to improve the user experience by providing them
    with tools to avert threats or attacks from accounts and assets. Additionally, it allows BitShares an
    opportunity to display the decentralization that BitShares operates on by consensus and without
    interference and that

[2019-01-27 20:58] CryptoKong opened #2424 "add bridge assets automatically to my assets list in search function"
Bridge.xxx assets should be added automatically to the exchange pages search function, they are some of the most traded assets on the blockchain. When I create a bridge.btc tab it should automatically show its most traded pairs, users shouldn't have to add them all manually. In fact when any custom tab is created for an asset with a prefix, all other assets with the same prefix should automaticall

[2019-01-27 21:05] CryptoKong commented on #2424
another option could be to have a button to add all assets with a certain prefix, allowing users to quickly add all of say openledgers assets, cryptobridges assets etc. This would be a good way to add new listings and remove delistings.

[2019-01-28 07:32] sschiessl-bcp commented on #1705
@jademont still interested in updating chinese version? I ll put the new locale files up in transifex with next staging release

[2019-01-28 07:33] sschiessl-bcp opened #2426 "[4][frooze] Maintain German language"
Issue birthed from #1705 for german language

[2019-01-28 08:34] sschiessl-bcp opened #2428 "Indicate if proposal from unknown source"
In light of recent proposal scam attempts, change the indication to:

 - SCAM if from account in scamlist / blacklist
 - UNKNOWN if from an account not in whitelist or linked

[2019-01-28 10:20] #2428 closed

[2019-01-28 20:08] MindfulMe commented on #2380
@startailcoon Is there anyone assigned here? Can I submit the PR to fix the issue? Thx in advance

[2019-01-28 20:40] MindfulMe commented on #2380
I was able to reproduce the issue, I will submit PR now

[2019-01-28 20:57] MindfulMe commented on #2380
If anything we can apply the color only to the input, but I think due to the completely white color it can look bad in the future for this theme somewhere else too so please leave some feedback 🍪

[2019-01-28 20:58] MindfulMe commented on #2380
<img width="1680" alt="screen shot 2019-01-28 at 22 54 32" src="https://user-images.githubusercontent.com/26275425/51865871-3a101880-2350-11e9-978c-2bd3f43f81d6.png">

[2019-01-29 18:51] startailcoon commented on #2415
Nothing really changed during the time you where gone. The "fee" you see is the transaction fee, which was paid by the sender, not the receiver.

Your account always had the exact same amount of BTS, your two deposits, for the entire time. Then someone sent you BADCOIN and SEED, which was also always the same amount during the entire time.

What does confuse you though, is the way the wallet displ

[2019-01-29 19:09] dmarks2061 commented on #2415
OK. Thank you for the explanation. Can I opt out of receiving "free" coins?
(Really, I had a different value initially. Something got subtracted from my BTS value. Possibly the value of SEED & BADCOIN diminished total supply. If so I'd rather not receive them! I accept your idea of faulty UI more than this one, but I see no real choices in the matter. I WOULD like to make sure my possibly imaginar

[2019-01-30 10:52] grctest commented on #2421
Related: https://github.com/bitshares/bitshares-ui/issues/1714

[2019-01-30 16:13] TechsUsInc commented on #2421
#2346

[2019-01-30 20:17] sschiessl-bcp commented on #2302
"Your Decentralized Platform"

[2019-01-30 20:17] #2302 closed

[2019-02-01 01:42] xiaolujidan commented on #196
I don't know how to import the account,I used the command to create the account
[code]

[2019-02-01 02:14] xiaolujidan opened #2433 "How do I import an account created using a private chain"
### Set up the chain of private
[code]

Connect to private chain nodes using the latest bitshares

[2019-02-01 05:59] #2380 closed

[2019-02-01 08:15] #2396 closed

[2019-02-01 08:58] #2408 closed

[2019-02-01 10:19] Robespeler commented on #2397
2FA - I am glad to know that maintainers use 2FA security level. This is good.
PGP signatures is another kind of security. This is nessasary level of trust. It must be in any open sourse project.
If you don't understand this, than I don't understand your kitchen. Whrere is Dan Larimer? Why bitshares can't break new ground?

[2019-02-01 11:58] TechsUsInc commented on #2423
Also consider that if a basic _worker_ proposal fee is 289 BTS, and if a basic proposal fee were increased to 289 BTS as well, then it might be enough to deter the malicious proposer especially if their intent is multiple proposals. Then, later if the malicious proposer navigates to LTM proposals the fee for LTM proposals could be increased as well (and/or the LTM fee).

[2019-02-01 13:21] sschiessl-bcp opened #2436 "[2.0.190207-rc2] Integration tests"
<h1>Disclaimer</h1>

The UI worker is currently underfunded, a new one is one the way but not posted yet. Please be aware that any testing might end up being volunteer work.

Release notes of the corresponding candidate can be found here:
https://github.com/bitshares/bitshares-ui/releases/tag/2.0.190207-rc2

<h1>Looking for Integration testers</h1>

This issue is to track integration tests of the

[2019-02-02 13:48] TechsUsInc commented on #2436
My OS:
Windows, Version: 8.1 (Primary)
Windows, Version 10
Linux Ubuntu Version 16.04
Linux Ubuntu Version 18.04
Android 7.1.1 (Nougat)

My Browser:
Opera 56.0.3051.116 (Primary)
Google Version 70.0.3538.110 (Official Build) (64-bit)
Firefox Version 63.0.3(64-bit)
Brave Version 0.25.2 V8 6.9.427.23 OS Release 6.3.9600
Bitorrent Version 7.10.4.44847
General
 - [ ] Wallet loads and connects
 - [ ] L

[2019-02-03 12:52] abitmore opened #2437 "Not loading in Firefox"
**Describe the bug**
Firefox always shows "Application initialization issues" for me.

**To Reproduce**
Steps to reproduce the behavior:
0. Open a private browser window
1. Go to https://develop.bitshares.org/
2. Page shows "Application initialization issues" and status "Connected"
3. Click on 'RETRY'
4. Page still shows "Application initialization issues" and status "Connected"

**Expected behavi

[2019-02-03 13:44] grctest opened #2438 "Staging testing - Borrow spotlight login prompt"
**Describe the bug**

When not logged into the staging client, you can go through the 'Collateralized Debt Position' wizard & click 'Borrow -> Update Position' without getting a login prompt, instead it causes an error in the console.

**To Reproduce**

* Launch the staging client version 'BitShares.190207-rc2'.
* Navigate to the 'Collateralized Debt Position' spotlight wizard
* Proceed through th

[2019-02-03 13:52] grctest opened #2439 "Staging testing - not seeing 'view mode' when not logged in"
**Describe the bug**

When I navigated to the [staging environment](https://staging.bitshares.org/#/), I was not logged in and so most of the 'burger' side menu was blanked out.

I clicked on 'voting' which showed '404 page not found' due to not being logged in.

I added a known account name directly to the URL to get past the 404 error.

The web wallet now has this account name in the top bar wit

[2019-02-04 06:57] sschiessl-bcp commented on #2436
@TechsUsInc
Please go ahead with
 - Windows, Version 10, Brave
 - Linux Ubuntu Version 18.04, Brave
 - Linux Ubuntu Version 18.04, Version 10, Firefox
 - Android, any browser of your choosing

[2019-02-04 06:57] sschiessl-bcp opened #2440 "[2.0.190207-rc2] Integration tests by @TechUsInc"
For reference, #2436

[2019-02-04 07:00] sschiessl-bcp commented on #2437
Thanks! I'm using ArchLinux, and could use Firefox so far. Will investigate

[2019-02-04 07:01] sschiessl-bcp commented on #2438
Can you specify OS/Browser version please

[2019-02-04 07:02] sschiessl-bcp commented on #2439
Ah, that difference is due to cloud login / local wallet I think. Thanks

[2019-02-04 17:14] grctest commented on #2438
Windows 10 64bit
Firefox 66.0b4 (64-bit)

[2019-02-04 18:01] rokii666 opened #2441 "Can not register account"
Can not register account, dots gif just keeps rolling and nothing happens.
Fresh install Bitshares on Windows.
![camphoto_758783491](https://user-images.githubusercontent.com/11616598/52227221-9aa2d680-28b7-11e9-816f-f73864622bac.JPG)

[2019-02-05 02:31] TechsUsInc commented on #2436
Message received.

[2019-02-06 10:50] clockworkgr commented on #776
@abitmore will something like Beet integration cover the reasons why this was requested or do you still need the ability to sign on a separate air-gapped machine?

[2019-02-06 10:54] clockworkgr commented on #1132
@sschiessl-bcp can the barter w/escrow  UI be modified to cover this case?

[2019-02-07 12:14] sschiessl-bcp commented on #2288
Is the `fail_reason` directly in the proposal object? It seems to be absent there.

Both testnet and mainnet have that?

[2019-02-07 12:16] sschiessl-bcp commented on #1132
@degraffenried

What is your use case for this feature?

[2019-02-07 12:27] sschiessl-bcp commented on #2415
Opting out of free coins is not possible, as you receive them via transfer operation.

You can however burn those tokens in the asset overview, they will disappear then.

[2019-02-07 12:27] #2415 closed

[2019-02-08 08:36] clockworkgr commented on #1913
This seems to be faucet and API related not bitshares-ui.

Also OP has not responded.

Closing.

[2019-02-08 09:20] clockworkgr commented on #1803
@sschiessl-bcp I too like the wildcard approach.

Is this being worked on?

[2019-02-08 09:20] #1913 closed

[2019-02-08 09:21] clockworkgr commented on #1768
Could this be node-specific/subscriptions related?

[2019-02-08 09:24] clockworkgr commented on #1519
Should we remove the filter and leave it up to the user to choose/change resolution? @svk31  @startailcoon @sschiessl-bcp

If consensus says no, we can close this

[2019-02-08 09:27] clockworkgr commented on #1494
Quite impossible to track acquisitions properly after 1-2 trades & no further response from OP.

Closing.

[2019-02-08 09:27] #1494 closed

[2019-02-08 09:29] clockworkgr commented on #1445
Can't reproduce & No further OP response. Closing

[2019-02-08 09:29] #1445 closed

[2019-02-08 09:30] #1429 closed

[2019-02-08 13:57] szechem opened #2443 "Cannot send BTS with filled memo in develop branch"
1. Bug is possible with develop branch. It is not possible to send BTS with filled memo.

2. Go to send, type memo, fill 'to' and 'quantity' fields and click 'send'.

3. In console you will get 'Cannot read property 'transfer_op' of undefined'.

4.
 - Ubuntu 16.04 LTS
 - Chrome 70.0.3538.110

[2019-02-08 14:14] sschiessl-bcp commented on #1519
Will be possible with #2145

[2019-02-08 14:14] #1519 closed

[2019-02-08 14:15] dmarks2061 commented on #2415
I see that you have closed this ticket, and that will be fine with me. But I don't think you understand what I'm trying to communicate. Just knowing I haven't been heard is the main reason why I persist.
I am not complaining about a drop in value; that's happened with every coin since 2017. My point is that I bought 4983.7BTS in the summer of 2017. The amount had dropped to 4981.14BTS when I start

[2019-02-08 15:04] sschiessl-bcp commented on #2415
No one took anything from your account.

I looked in it:
- You received 4,980 BTS through poloniex
- You sold the free tokens for some gain
- You bought and sold BTC, incurring a small loss

Please note that every action on the blockchain costs a small transaction fee as well. Currently you hold 4,980.42 BTS.

Just receiving free token does not decrease your BTS amount.

[2019-02-08 15:07] sschiessl-bcp commented on #2415
This statement has not been true

If you don't actively use your account the total amount of BTS will not change, and NO one can do anything about that. No airdrop, no block producer, no nothing. Please watch your account and observe that your amount of BTS will not change.

[2019-02-08 15:35] dmarks2061 commented on #2415
OK. Thank you for more detail.
On the BTS blockchain explorer I see two transactions on 10/10/2017 for 85BTS (to test) and 4895BTS for a total of 4980 from poloniex. Perhaps this discrepancy is fees charged from poloniex to transfer the coins (4983.7-4980=3.7BTS).
I appreciate you hammering my head till I got this far, and retract my derogatory comments. Thank you, Stefan.
M___

    On Friday, Feb

[2019-02-08 16:53] grctest commented on #2438
[code]

[2019-02-09 00:37] TechsUsInc commented on #2436
My OS:
Windows, Version: 8.1 (Primary)
Windows, Version 10

My Browser:
 Brave Version 0.25.2 V8 6.9.427.23 OS Release 6.3.9600
General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (commi

[2019-02-09 00:47] TechsUsInc commented on #2436
My OS:
 Linux Ubuntu Version 18.04

My Browser:
Brave Version 0.25.2 V8 6.9.427.23 OS Release 6.3.9600

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals

[2019-02-09 00:54] TechsUsInc commented on #2440
My OS:
 Windows, Version: 8.1 (Primary)
Windows, Version 10

My Browser:
Brave Version 0.25.2 V8 6.9.427.23 OS Release 6.3.9600

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (comm

[2019-02-09 00:56] TechsUsInc commented on #2440
My OS:
  Linux Ubuntu Version 18.04

My Browser:
Firefox Version 63.0.3(64-bit)
Brave Version 0.25.2 V8 6.9.427.23 OS Release 6.3.9600

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possibl

[2019-02-09 00:58] TechsUsInc commented on #2440
My OS:
 Android 7.1.1 (Nougat)

My Browser:
Opera 56.0.3051.116 (Primary)

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee, witness, proposals)

Specific components:
 - [

[2019-02-09 01:09] TechsUsInc commented on #2440
My OS:
 - Linux Ubuntu Version: <Ubuntu18.04>

My Browser:
 - Brave Version: <Brave 0.25.2 V8 6.9.427.23 OS Release 6.3.9600>

General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (commit

[2019-02-09 11:12] TechsUsInc opened #2444 "Send asset operation - Inoperable"
**Describe the bug**
TX failed on both send and legacy send operation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Hamburger menu
2. Click on send or legacy send (tried both - failures were identical)
3. When the Send window pops up, input the from, to, quantity, and memo fields then click send
4. Enter password if account is locked
5. Click Confirm
6. See errors; The to, quantity,

[2019-02-09 18:37] froooze commented on #2426
Are the language files updated?
Should I download the source again?

[2019-02-10 16:51] hot-bit-git opened #2445 "Add 'State of the Gateways' feed in News section"
**Is your feature request related to a problem? Please describe.**
Several assets issued by gateways operators cannot be deposited / withdrawn using Bitshares wallet. Experience is very confusing for new users and disturbing or inconvenient also to experienced users.
Examples:
You can deposit rudex.STEEM using reference wallet, but withdraw only using rudex wallet.
You can deposit or withdraw rude

[2019-02-10 17:11] hot-bit-git opened #2446 "New Deposit / Withdraw modal u/s"
**Describe the bug**
Unable to withdraw funds using **new modal** while **legacy modal** still (in some cases) works. Proper gateway is not displayed, despite funds being available in the account.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Menu'
2. Click on 'Withdraw'
3. Choose Asset 'STEEM'

Probably only open.STEEM  is possible to choose
Message about  dysfunctional OpenLedger

[2019-02-11 08:56] sschiessl-bcp commented on #2426
https://github.com/bitshares/bitshares-ui/pull/2427

[2019-02-11 08:57] sschiessl-bcp commented on #1803
Not by me atm

[2019-02-11 12:46] sschiessl-bcp opened #2447 "Make header items configurable"
Through branding.js

[2019-02-11 12:46] sschiessl-bcp commented on #1908
Any life sign @kapeer42 ?

[2019-02-11 12:48] sschiessl-bcp commented on #2446
Can you reproduce this on staging.wallet.org?

[2019-02-11 12:48] sschiessl-bcp commented on #2444
Resolved in staging

[2019-02-11 12:48] #2444 closed

[2019-02-11 12:48] sschiessl-bcp commented on #2443
Please try again

[2019-02-11 14:33] szechem commented on #2443
![errors](https://user-images.githubusercontent.com/24317158/52569859-69278f00-2e12-11e9-9cd3-600240d3bdc9.png)

[2019-02-11 14:34] szechem commented on #2443
I have got new develop branch built and errors are like on above screenshot.

[2019-02-11 14:35] szechem commented on #2443
This error is only if memo is filled.

[2019-02-11 14:43] xiaolujidan commented on #2441
![image](https://user-images.githubusercontent.com/41559541/52570398-4a46ee00-2e4e-11e9-9d79-17d9596c9112.png)

This is regarded as registered success

[2019-02-11 14:50] xiaolujidan commented on #2440
Excuse me，Where can I find information for beginners，I don't know how to get started，Can I test the whole process

[2019-02-11 14:56] sschiessl-bcp commented on #2443
Does it work with the new send modal?

[2019-02-11 22:48] TechsUsInc commented on #2440
@xiaolujidan Welcome to the community where any and all contributions are encouraged. Good luck.

Please refer to the documentation at the following links firstly to gain a solid understanding. Additional resources available are provided from various sources and require doing your own research and validation.
http://how.bitshares.works/en/master/
Bitsharestalk.org
https://t.me/BitSharesDEX

Upon r

[2019-02-12 02:51] xiaolujidan commented on #2440
I went through all the documents,But I still couldn't figure out how to start testing
Still stay in their own private chain environment, failed to start process testing

[2019-02-12 08:06] xiaolujidan commented on #2440
@TechsUsInc
My knowledge in this field is superficial.I read the following
http://how.bitshares.works/en/master/
https://dev.bitshares.works
https://bitsharestalk.org/index.php
The test flow could not be found

[2019-02-12 08:41] xiaolujidan commented on #2436
@sschiessl-bcp
I know little about it
I can use  https://staging.bitshares.org Address of the test.
Or how to get started quickly.
Is there documentation of the testing process

[2019-02-12 08:49] szechem commented on #2443
No, problem is with ApplicationApi.js.

If I change (lines 143-145):

[code]
to
[code]
it works.
In line 116 there is:
`propose_account = null, // should be called memo_sender, but is not for compatibility reasons with transfer. Is set to "from_account" for non proposals`, maybe it is not solved

[2019-02-12 09:12] startailcoon commented on #2335
@hldzlk please submit a Bitshares account for the reward to be sent to. Thanks!

[2019-02-12 09:26] startailcoon commented on #1859
Based on information from PR:
- Hours: 27
- Devs: @sschiessl-bcp @clockworkgr
- Payment goes to @sschiessl-bcp as issue assignee and none other info supplied for dividence

[2019-02-12 09:27] hldzlk commented on #2335
@startailcoon  My Bitshares account is ``` hldzlk```. Thanks!

[2019-02-12 09:39] startailcoon commented on #2416
@sschiessl-bcp did this require any hours, I can't see a PR for any changes done?

[2019-02-12 09:40] sschiessl-bcp commented on #2416
No, none billable for the UI

[2019-02-12 09:44] startailcoon commented on #2378
Most opps responded on the call. Future releases will take another look at up/down times.

[2019-02-12 09:44] #2378 closed

[2019-02-12 11:15] sschiessl-bcp commented on #2443
Fixed with https://github.com/bitshares/bitshares-ui/commit/ce6e415a79a64a3996c65d698e2d81e8302aba6f

[2019-02-12 11:15] #2443 closed

[2019-02-12 11:21] sschiessl-bcp commented on #2436
The only documentation that exists right now is the [header of this issue](https://github.com/bitshares/bitshares-ui/issues/2436#issue-405699273).

What kind of introduction would you like, what questions do you have?

[2019-02-12 11:50] sschiessl-bcp opened #2449 "Market Trades to stop switching back to My Trades every time you click a different market"
See title

[2019-02-12 12:34] startailcoon commented on #2337
Requires additional review for PR

[2019-02-12 12:43] startailcoon commented on #1963
Moving this upwards to next month. @react-cat, still want to work on this?

[2019-02-12 12:55] startailcoon commented on #2065
There is no UX for this issue assigned, perhaps one would be needed?

[2019-02-12 12:59] startailcoon commented on #1578
Submitted PR needs review

[2019-02-12 13:19] #2449 closed

[2019-02-12 13:22] sschiessl-bcp commented on #2449
Took 0.75

[2019-02-12 13:35] sschiessl-bcp opened #2450 "Move chart control in chart header for easy access"
Will be superseded by new interval control when finished

[2019-02-12 18:20] startailcoon opened #2451 "BSIP58 activated on bitCNY"
**BSIP58: Global Settlement Protection Through Price Feeding**, has been voted through on bitCNY by the community. We should investigate what changes the UI need to handle these changes.

BSIP-58 details -> https://github.com/bitshares/bsips/blob/master/bsip-0058.md
Converstaion thread -> https://bitsharestalk.org/index.php?topic=27753.0

## Poll Results
poll worker|proposal|votes
-|-|-
1.14.160|P

[2019-02-12 18:26] startailcoon commented on #2446
Part of the following two issues
- https://github.com/bitshares/bitshares-ui/issues/1771, Gateway/Bridge Codebase Enhancements
- https://github.com/bitshares/bitshares-ui/issues/1872, Gateway Modal ANT Implementation

There are a number of weird issues that I will look over to hunt down. Some asses are missing on the new modal, while they are still visible in the old section, while some are missin

[2019-02-12 22:10] iamredbar commented on #2369
BitShares account name: iamredbar1

[2019-02-13 01:37] xiaolujidan commented on #2436
My OS:
  Windows, Version 10

My Browser:
 Google Version 69.0.3493.3 (official) (32-bit)
 Firefox Version  61.0.2 (64-bit)
General
 - [ ] Wallet loads and connects
 - [ ] Login via cloud login and local wallet
 - [ ] Transfer between accounts
 - [ ] Exchange opens, orders are visible and limit orders can be put
 - [ ] Margin creation and adjustment is possible
 - [ ] Voting is possible (committee

[2019-02-13 01:45] xiaolujidan commented on #2436
I create accounts directly through the main network.
![image](https://user-images.githubusercontent.com/41559541/52680580-e4548680-2f73-11e9-830f-df637a56fd2b.png)

What should I do next

[2019-02-13 07:37] xiaolujidan commented on #2436
The desktop version error
![image](https://user-images.githubusercontent.com/41559541/52694570-192d0180-2fa5-11e9-9614-e6c54a51f0f8.png)

[2019-02-13 08:18] clockworkgr commented on #2330
@react-cat Does this issue persist?

If noone can confirm/duplicate this we should close it.

[2019-02-13 08:19] clockworkgr commented on #41
After discussing with core team, it sounds like BSIP10 won't be installed so closign this.

If things change in the future we can reevaluate.

[2019-02-13 08:19] #41 closed

[2019-02-13 08:23] clockworkgr commented on #68
Is anyone working on this? With the increased chain size since OP creation this is impossible with the standard API.

Will either have to be done via ES calls or not at all.

Do we have an epic about integrating ES data ?

[2019-02-13 08:27] clockworkgr commented on #101
Anyone want to take this? The functionality is mostly there in code as the UI generates a fresh set of keys from the brainkey while checking on-chain that they're unused by incrementing the sequence number when creating a new account with Local Wallet. This is just a modified use case.

I'd estimate a couple of hours for this.

@sschiessl-bcp / @startailcoon ?

[2019-02-13 08:30] clockworkgr commented on #121
Are we going to re-add this functionality? Sounds like something for the spotlight @sschiessl-bcp

If not, let's close the issue

[2019-02-13 08:31] sschiessl-bcp commented on #68
Yes there is one, we have been mostly waiting to ensure that ES backend has matured and doesn't change interfaces / indices anymore. I suppose that could now be re-evaluated.

For the reference UI we would need reliable ES backends though, and right now the only one is the infrastructure worker (which is not active atm), plus 2 from the community with no guarantee of service. So in that state it i

[2019-02-13 08:32] sschiessl-bcp commented on #121
I didn't even know that exists xD

Yes, that would be an amazing spotlight!

[2019-02-13 08:33] sschiessl-bcp commented on #101
We have an issue to refine password change flow, this would be the counterpart for using a brain key. Find synergies?

[2019-02-13 08:44] clockworkgr commented on #264
I believe we need to sort this  one out soon. I've mentioned the need for a "clearer" management interface of the local wallet contents before.

This will need UX work. @gibbsfromncis / @nikandrovalex  Can you guys have a look to get an estimate?

My thoughts:

List of wallets stored in browser by name:
Under currently unlocked one, list (in table form) all accounts "accessible" through that walle

[2019-02-13 08:45] clockworkgr commented on #268
@gibbsfromncis you guys still working on this?

[2019-02-13 08:51] clockworkgr commented on #499
@gibbsfromncis Have you guys worked on the My Markets/Find Markets UX / do you have another issue tracking work on it? We should try and group discussion in one place

[2019-02-13 08:59] clockworkgr commented on #502
Don't think the nodes keep a history of this per se. They only keep a history of the various feeds submitted  (and limited one at that) + the current consensus median feed price.

This cannot be computed client side either because limited API history and different number of operations between feeders means you might end up with missing entries if trying to recreate past consensus client-side.

Thi

[2019-02-13 09:00] clockworkgr commented on #504
@startailcoon are you close to implementing this on all links?

[2019-02-13 09:07] clockworkgr commented on #595
I don't think it's possible to host the wallet on zeronet as currently designed.

Seeing as we HAVE a standalone local client, I don't think that's much of an issue. Being able to access API nodes via TOR combined with light wallet client would be even better.

[2019-02-13 09:07] #595 closed

[2019-02-13 09:11] clockworkgr commented on #606
this will cause more trouble than it's worth.

Can't remove bit because it's TOO well known and "bit$", "bit£", "bit€" just looks terrible.

[2019-02-13 09:11] #606 closed

[2019-02-13 09:15] clockworkgr commented on #611
I don't see any reason to change this at this point.

It's been the standard for 1.5 years on the UI, 2 decimals is "historically" adopted in general and I haven't seen any other requests for it.

[2019-02-13 09:15] #611 closed

[2019-02-13 09:18] clockworkgr commented on #614
Listing and voting on proposals are correctly implemented now.

@btsfav what do you mean by Add fee proposal? a fee schedule proposal? If so, that is WAY too complex for the reference UI imho. Especially since we've decided on USD based fees.

If that's what you mean, I'll be closing this issue

[2019-02-13 09:28] clockworkgr commented on #616
@gibbsfromncis Can we add asset icon to the asset details page somewhere? UI should check if <symbol>.png exists in app/assets/asset-symbols and if so display it.

That way we can simply accept PRs to asset-symbols.

[2019-02-13 09:29] clockworkgr commented on #657
@sschiessl-bcp something to consider for Beet?

[2019-02-13 09:30] clockworkgr commented on #704
@sschiessl-bcp we should create an Epic to track the chainstore/subscriptions/etc. refactoring stuff

[2019-02-13 09:30] sschiessl-bcp commented on #657
You are unearthing quite some gems here! Yes please. Give me 40hours in a day?

[2019-02-13 09:31] clockworkgr commented on #758
@pnomolos any progress?

[2019-02-13 09:42] clockworkgr commented on #688
@sschiessl-bcp wanna have a look at this? If not currently working, it should be easy to add shortcuts to the electron BrowserWindow instance

[2019-02-13 09:46] clockworkgr commented on #1391
No reason keeping this open.

Let's just make a note in the readme for witnesses to place a PR as needed.

[2019-02-13 09:46] #1391 closed

[2019-02-13 09:46] #1390 closed

[2019-02-13 09:48] clockworkgr commented on #1426
@sschiessl-bcp / @startailcoon Should we contemplate this or will the same through Beet be enough (Beet support for HW wallets is planned as it becomes available)

[2019-02-13 10:01] clockworkgr commented on #2397
AppVeyor/Travis should probably be able to do this as part of the publishing process easily. I'll research it a bit

[2019-02-13 10:03] clockworkgr commented on #2390
Related: https://github.com/bitshares/bitshares-ui/issues/616

Possibly implemented in a similar way?

Payment for icon creation is outside the scope of this project. Asset issuer and designer can short it out amongst themsevles and get a PR against the asset_symbols folder done.

[2019-02-13 10:11] #2279 closed

[2019-02-13 10:15] clockworkgr opened #2452 "Check & optimise publishing process."
Ensure hashes for all binaries, Checksum List and if possible PGP signign of all

[2019-02-13 10:16] clockworkgr commented on #2452
Related: https://github.com/bitshares/bitshares-ui/issues/2165 & https://github.com/bitshares/bitshares-ui/issues/2397

[2019-02-13 11:51] sschiessl-bcp commented on #2451
No change necessary, global settlement won't occur

[2019-02-13 11:52] #2451 closed

[2019-02-13 13:31] #2450 closed

[2019-02-13 13:31] sschiessl-bcp commented on #2450
Took 1.25

[2019-02-13 13:38] sschiessl-bcp commented on #2436
Please open a new issue and describe exactly what you did to get to that point

[2019-02-13 13:42] sschiessl-bcp commented on #2450
![image](https://user-images.githubusercontent.com/33128181/52715783-9eacb380-2f9d-11e9-83bb-8a51d601a945.png)

[2019-02-13 13:42] sschiessl-bcp commented on #2449
![image](https://user-images.githubusercontent.com/33128181/52715788-a4a29480-2f9d-11e9-816b-4e7ec9480d46.png)

[2019-02-13 13:43] sschiessl-bcp commented on #2450
I'm open to placement ideas

[2019-02-13 16:06] WilliamCruz opened #2453 "Derivatives"
When trying to trade derivatives on bitshares wallet screen turns white.
A clear and concise description of what the bug is.

click on any derivative on bitshares wallet.
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add s

[2019-02-13 18:46] bitfag commented on #2437
Isn't this a duplicate of #2422?

[2019-02-13 20:29] clockworkgr opened #2454 "Wallet management features and enhancements."
The way the reference UI is set-up, it can hold multiple wallets in the browser's storage each one with different accounts.

Although the import/export functionality works fine and all the account details are visible and accessible in various sections of the wallet, I believe it would be useful to have a section to manage all the wallets and accounts in one place.

Ideally this would be under the

[2019-02-13 20:36] clockworkgr opened #2455 "Suggestion to abstract away IndexedDB requirement"
Right now, the UI depends heavily on IndexedDB being available using it as a live DB during normal operation (and not only for persistance).

This causes problems in browsers that disable IndexedDB access in private/incognito mode such as Firefox.

I suggest we use an in-mem abstraction for data storage during normal operation and only use IndexedDB or localStorage for persistence between sessions

[2019-02-13 20:38] clockworkgr commented on #2437
Tracking discussion to fix this in #2455

[2019-02-13 20:39] clockworkgr commented on #2422
Tracking discussion to fix this in #2455

[2019-02-13 20:40] clockworkgr commented on #2455
Would like input/thoughts from @startailcoon  / @sschiessl-bcp  / @gibbsfromncis and even @svk31 if he notices.

[2019-02-13 20:49] clockworkgr opened #2456 "Optimize API usage"
Although a lot of optimisations have already been done over the past year, the UI still makes a very large number of calls and subscribes to an excessive number of objects during normal operation.

Furthermore, by never cancelling those subscriptions, extended usage leads to a bogged down wallet and an overloaded API node.

My idea is that upon the user FIRST loading the wallet with all relevant A

[2019-02-13 20:52] clockworkgr commented on #2367
Tracking this on #2456

[2019-02-13 20:54] clockworkgr commented on #704
Tracking this on #2456

[2019-02-13 20:56] clockworkgr commented on #2453
By derivatives you mean bitAssets?

Can you provide more details?

E.g. is this on web-wallet? if so , which one? wallet.bitshares.org / staging.bitshares.org or develop.bitshares.org?

Also, what browser & version and what OS ?

If it's the light client, which version and what OS?

[2019-02-13 20:58] clockworkgr commented on #2441
@rokii666  Can you check if this happens on the latest release? https://github.com/bitshares/bitshares-ui/releases/tag/2.0.181212

[2019-02-13 21:00] clockworkgr commented on #2433
I am not entirely sure what you mean?

Did you create an account using the cli_wallet and want to use it with the web UI?

[2019-02-13 21:26] clockworkgr commented on #2287
@sschiessl-bcp is there something to be done for this? According to @grctest it is now blocked.

Who got the TV license? Could we contact them and ask them if there is a way to get a "pure" build?

[2019-02-13 21:34] abitmore commented on #502
IIRC historical price feeds are stored in es_objects plugin. @oxarbitrage may know better.

[2019-02-13 21:38] abitmore commented on #776
I don't really *need* it, just think offline-signing is a good-to-have feature.

[2019-02-13 21:45] clockworkgr commented on #121
@sschiessl-bcp Feature was removed in https://github.com/bitshares/bitshares-ui/pull/2053

Duplicate request at #2244

[2019-02-13 21:45] #121 closed

[2019-02-13 21:46] clockworkgr commented on #2244
I believe this should be re-added. Right @sschiessl-bcp  ?

[2019-02-13 21:54] clockworkgr commented on #1498
This is old. Can someone confirm if the UI now works as Abit suggests and if not add it to their tasks?

Essentially UI should not disable action on user balance but only notify. Then we let the chain reject it if needed.

Seems like an easy thing to fix.

[2019-02-13 22:03] christophersanborn commented on #776
This is how I currently sign transactions with the Ledger Nano app, except via the cli_wallet.  But basically the same procedure described above:  Create transaction, export JSON, edit expiration date, send to Nano, get signature, add sig to JSON, strip whitespace so I can import back into cli_wallet, import into cli_wallet, broadcast.

This would definitely be a useful UI feature, although perhap

[2019-02-13 22:08] clockworkgr commented on #1622
@sschiessl-bcp If spotlight makes a wizard of this, we can simply modify the copy on the standard borrowing pop-up to redirect newbies to the spotlight instead.

[2019-02-13 22:13] clockworkgr commented on #776
Thanks guys. It's been a year and a half so I'll ping @fletchertyler914 first to see if he wants to wrap this up, other wise I'll make it claimable again.

@fletchertyler914 what info were you missing to complete this?

[2019-02-13 22:16] clockworkgr commented on #1954
Looks fine to me

[2019-02-13 22:16] #1954 closed

[2019-02-13 22:19] clockworkgr commented on #2042
@sschiessl-bcp Consider for spotlight

[2019-02-13 22:20] clockworkgr commented on #2154
no response. closing

[2019-02-13 22:20] #2154 closed

[2019-02-13 22:24] clockworkgr commented on #717
@gibbsfromncis can you check with your deisgners on their opinion on this?

On one hand it's nice. On the other it ONLY looks nice as part of a bordered thing (tab-header, market showcase box...etc.) and we cant use TWO different representations.

I'd vote for closing this but  up to the designers really.

[2019-02-13 22:30] #2072 closed

[2019-02-13 22:31] clockworkgr commented on #1209
@gibbsfromncis can you confirm if this is still the case? I remember you removing foundation dependencies.

[2019-02-13 22:37] clockworkgr commented on #1705
I don't like the format of tracking translation work in comments. Especially when individual issues exist.

Can we add the contact details about translations and translating guide to the readme instead?

[2019-02-14 01:53] xiaolujidan commented on #2433
I connect my private chain.But I can't create an account directly
I guess it's because there's no tap.
How to configure the faucet of illicit catenary.

[2019-02-14 02:05] fractalnode commented on #1503
I'm curious. What would be the max number of operations in one transaction, and what will happend when "Order Count" exceeds this number? Will the order itself be divided into several blocks?

[2019-02-14 02:10] gibbsfromncis commented on #1503
@fractalnode I suppose for the first version we will just limit amount of orders count but yes, it is possible to divide it by multiple transactions.

[2019-02-14 07:29] xiaolujidan commented on #2441
This page cannot be clicked
![image](https://user-images.githubusercontent.com/41559541/52770092-21507400-306d-11e9-88ae-9b229993c3ab.png)

[2019-02-14 07:32] xiaolujidan commented on #2441
can't click on the page，
![image](https://user-images.githubusercontent.com/41559541/52770092-21507400-306d-11e9-88ae-9b229993c3ab.png)
This bug appears in an endless loop
![image](https://user-images.githubusercontent.com/41559541/52770202-6ecce100-306d-11e9-952b-6df330c89929.png)

[2019-02-14 08:41] rokii666 commented on #2441
I tried on online wallet.bitshares.org with success. I wonder why I can not find link on the wallet on main page bitshares.org. It was there I remember.

[2019-02-14 08:50] WilliamCruz commented on #2453
Google, applecom, telsacom, boeing, microsft, ebay, etc all the major
companies  alibabba

On Wed, Feb 13, 2019 at 2:56 PM, Alex Megalokonomos <
notifications@github.com> wrote:

--

Respectfully Signed,
William Martin Cruz
*williammartincruz@gmail.com <williammartincruz@gmail.com>*
GitHub <https://github.com/WilliamCruz>
Linkedin <https://www.linkedin.com/in/wmcruz>
210.693.6468 Mobile
210.460.03

[2019-02-14 09:06] startailcoon commented on #2380
@MindfulMe we'll need a bitshares account name to pay out the Bounty of the issue. Thanks!

[2019-02-14 09:46] startailcoon opened #2457 "Recurring Payments Support"
### UX Drafted for Recurring Payments.
Please Review additional comments from https://github.com/bitshares/bitshares-ui/issues/30#issuecomment-445986847 and forward for cases with periods, authorizations etc.

![image](https://user-images.githubusercontent.com/43581164/49763701-0d3b6f80-fcd6-11e8-9ab1-4cdd265331fb.png)

_Originally posted by @nikandrovalex in https://github.com/bitshares/bitshares

[2019-02-14 09:49] startailcoon commented on #30
Closing UX issue, moving forward with UI implementation in #2457

[2019-02-14 09:49] #30 closed

[2019-02-14 10:30] clockworkgr commented on #2453
Thanks, please fill out the rest of the details (re: client, OS, browser) as I am unable to reproduce.

[2019-02-14 14:55] startailcoon commented on #2436
My OS:
  - Windows 10, Version: 1803, 17134.523

My Browser:
 - Firefox., Version: 65.0 (64-bit)

General
 - [x] Wallet loads and connects (see additional issues below)
 - [x] Login via cloud login and local wallet (see additional issues below)
 - [x] Transfer between accounts
 - [x] Exchange opens, orders are visible and limit orders can be put and canceled
 - [x] Margin creation and adjustment i

[2019-02-14 15:14] startailcoon commented on #2445
It's a good idea @hot-bit-git. I've added it to the list of features to improve overall gateway experience.

I've myself noticed that rudex.GRC isn't possible to either deposit nor withdraw through the reference wallet, and I'll investigate why this is the reason. Something makes it Believe it's disabled.

I'm not sure how much data we can get to display, like response times etc. But I'm taking th

[2019-02-14 16:00] clockworkgr commented on #2445
Don't think we can expect more data from the gateways than we already get, nor do I expect someone to keep this up to date manually.

Best we can do is pretty print the results from the available wallet calls to the gateways (same way we remove assets from the deposit/withdraw dropdowns)

[2019-02-14 16:05] WilliamCruz commented on #2453
Macbook pro 8 gigs
Browser brave and chrome
Os High Sierra 10.13.6

Thank you

On Thu, Feb 14, 2019 at 4:30 AM, Alex Megalokonomos <
notifications@github.com> wrote:

--

Respectfully Signed,
William Martin Cruz
*williammartincruz@gmail.com <williammartincruz@gmail.com>*
GitHub <https://github.com/WilliamCruz>
Linkedin <https://www.linkedin.com/in/wmcruz>
210.693.6468 Mobile
210.460.0334 Home
425.

[2019-02-14 20:48] fractalnode opened #2458 "the opportunity to sharedrop 3rd party tokens with the holders of my UIA"
It would be great if I could sharedrop some 3rd party tokens for the holders of my UIA.

![sharedrop](https://user-images.githubusercontent.com/20418259/52815734-b9ffe780-309f-11e9-913c-1605d3a655a4.gif)

########################################################

![image](https://user-images.githubusercontent.com/20418259/52816416-78703c00-30a1-11e9-9b31-d11d1f4748cb.png)

#########################

[2019-02-14 22:26] clockworkgr commented on #2458
This is more of a request for core rather than UI.

If core implements it, UI will have to support it.

I believe Peerplays has it implemented already so it's a case of adding it to BitShares too.

Try adding an issue there

[2019-02-14 22:29] clockworkgr commented on #2257
@sschiessl-bcp similar issue to https://github.com/bitshares/bitshares-ui/issues/2335 ?

Can you check?

[2019-02-14 22:31] clockworkgr commented on #2421
@startailcoon who worked on TV integration?

Reading through the docs it seems that this should be relatively simple to enable.

[2019-02-14 22:46] clockworkgr commented on #2458
I took the liberty of referencing this and bumping the relevant issue at core

[2019-02-15 00:09] pnomolos commented on #758
@clockworkgr Not really, work and real life has become far too busy.  I always hold out hope I'll get more time to get back to this but if you want to take it feel free to :)

[2019-02-15 05:22] MindfulMe commented on #2380
@startailcoon bitshares account: mindful-me

[2019-02-15 22:20] startailcoon commented on #2455
This sounds like a very good idea. We've had multiple instances in the past with users that have issues running the application in incognito mode or due to other browser specific issues.

However, AlaSQL states the following on their repository, making me wounder if it's really the best choice?

When we find a good alternative to how we do it today, there will be a few spaces to change the code, b

[2019-02-15 22:23] startailcoon commented on #2454
Yes! 👍

A pretty UX and good implemented functionality like this would nice to have for those powerusers that have multiple wallets in the client.

[2019-02-15 22:26] startailcoon commented on #2456
While this could take a while to sort out, it should stay in our near goals to find a solution to.

Your approach sounds reasonable to me.

[2019-02-15 22:29] startailcoon commented on #2452
Where are we on this, can it be automated on release or whill it just require to be one of those manual task on release?

Hashes and signatures should be published to ensure validity of the binaries.

[2019-02-15 22:37] startailcoon commented on #2330
Closed due to inactivity from submitter and can't be reproduced

[2019-02-15 22:37] #2330 closed

[2019-02-15 22:40] startailcoon commented on #2301
@MikhailKavalenka what is your progress?

[2019-02-15 22:45] startailcoon commented on #2406
@manikey123 any progress on the issue?

[2019-02-16 09:18] startailcoon opened #2460 "Increased user failsafe and security"
As we all know, the blockchain and Bitshares platform is a platform where no authority have mandate to do transaction rolebacks if a user does something unintended. A user can be tricked to do a type of action that will result in loss of funds for the user.

So far, we've done things in various places of the application to improve the experience and security for the user, and mitigate any type of

[2019-02-16 09:25] clockworkgr commented on #2452
I expect Travis/Appveyor to have tools/allow for this.

Just need to find some time to actually check.

[2019-02-16 18:00] TechsUsInc opened #2461 "Spotlight Barter - Real time balance validation issues"
**Describe the bug**
Using Spotlight Barter, it is possible to enter multiple assets of the same kind and quantity because the balance does not validate the assets as they are added to the barter. In this case, the proposal is approved but not executed. The Blockchain does not update with a canceled or failed execution. Understood off chain variance.

**To Reproduce**
Steps to reproduce the behavi

[2019-02-16 18:01] TechsUsInc commented on #2440
Please see #2461

[2019-02-16 18:02] TechsUsInc commented on #2440
approx 50 BTS testing lil-bi.t-of-techs-us

[2019-02-16 18:24] TechsUsInc opened #2462 "Spotlight Barter - Peer 2 memo"
**Describe the bug**
Peer 1 is able to create and edit a memo.
Peer 2 does not have the ability to create/edit a memo prior to approving a proposal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Hamburger menu
2. Click on Spotlight
3. Click on Barter
4. Enter the info for Peer 1 with memo and Peer 2 with memo
5. Submit proposal
6. Switch to Peer 2 account
7. Click Dashboard
8. Click

[2019-02-16 18:24] TechsUsInc commented on #2440
Please see #2462

[2019-02-16 18:48] TechsUsInc opened #2463 "Spotlight Barter - fair trade procedure"
**Describe the bug**
To ensure a better user experience, and taking into account that any user may not know how or where to find a reliable means of crypto conversion of assets to make an informed decision. For example, Peer One could offer to trade Peer Two 0.001 BTS for 2 BTS.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Hamburger menu
2. Click on Spotlight
3. Click on Barter
4. S

[2019-02-16 18:48] TechsUsInc commented on #2440
Please see #2463

[2019-02-16 19:37] TechsUsInc opened #2464 "Spotlight Collateral Debt Position - Assets list issues"
**Describe the bug**
From within the Spotlight Collateral Debt Position;
1. clicking the asset list populates assets which the user may _not_ be a holder of or has a zero balance.
2. Clicking the asset list excludes assets which the user may **be** a holder of or has more than a zero
   balance. When this is the case, the user must navigate to the Exchange tab for a applicable asset, then
   click

[2019-02-16 19:37] TechsUsInc commented on #2440
Please see #2464

[2019-02-16 20:00] TechsUsInc opened #2465 "Dashboard Margin Position tab - Asset list"
**Describe the bug**
From within the Dashboard Margin Position Tab;
1. Assets populated exclude assets which _can not_ be borrowed against unless accessed via the Exchange Tab using the Borrow Button.
2. Assets populated include assets which the user may not be a holder of or has a zero balance.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Click on Margin Positions
3. S

[2019-02-16 20:00] TechsUsInc commented on #2440
Please see #2465

[2019-02-16 20:25] TechsUsInc opened #2466 "Spotlight Collateralized Position Tab - Navigation"
**Describe the bug**
From within the Spotlight Collateralized Debt Position Wizard, navigation can get lost with the arrow keys. (up/down) emulates left/right.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Hamburger Menu
2. Click on Spotlight
3. Click on Collateralized Debt Position
4. See error when navigating through the wizard with up/down and left/right arrow keys.
    (Up/right

[2019-02-16 20:26] TechsUsInc commented on #2440
Please see #2466

[2019-02-16 20:54] TechsUsInc opened #2467 "Send or Legacy send tab - rename to Proposal or Send tab"
**Is your feature request related to a problem? Please describe.**
Proposals can be accessed from the Spotlight Wizard.
Proposals can also be accessed from the Send or Legacy send tab.
The Send or Legacy send tab could easily be renamed for clarity and easy navigation.

**Describe the solution you'd like**
Consider renaming (Send or Legacy Send) for a better user experience to (Proposal or Send) .

[2019-02-16 20:54] TechsUsInc commented on #2440
Please see #2467

[2019-02-16 20:59] TechsUsInc opened #2468 "[0.5] Withdraw or legacy withdraw operation - inoperable"
**Describe the bug**
Withdraw or Legacy Withdraw operation is inoperable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Hamburger Menu
2. Click Withdraw and/or Legacy Withdraw
3. See error- inoperable- no response

**Expected behavior**
Withdraw or Legacy Withdraw to operate.

**Desktop :**
 - OS: Windows 8.1
 - Browser Brave Version 0.25.2 V8 6.9.427.23 OS Release 6.3.9600
 - Versio

[2019-02-16 21:04] TechsUsInc opened #2469 "[0.5] Deposit operation - inoperable"
**Describe the bug**
Deposit tab is inoperable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go the Hamburger Menu
2. Click Deposit
3. See error of no response - inoperable

**Expected behavior**
Clicking Deposit opens the Deposit menu.

**Desktop :**
 - OS: Windows 8.1
 - Browser Brave Version 0.25.2 V8 6.9.427.23 OS Release 6.3.9600
 - Version 2.1902097-rc3

**Additional context**
Click

[2019-02-16 21:05] TechsUsInc commented on #2440
Please see #2468

[2019-02-16 21:05] TechsUsInc commented on #2440
Please see #2469

[2019-02-16 21:23] react-cat commented on #1963
@startailcoon Yes, I just returned to work

[2019-02-16 21:36] TechsUsInc opened #2470 "hambuger Menu Signed Messages - Missing tooltips"
**Describe the bug**
The purpose of this feature is unclear.
Missing tooltips to guide the user and for a better user experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Go the Hambuger Menu
2. Click on Signed Messages
3. Hover over the Signed Messages page
4. See error - no tooltips

**Expected behavior**
Tooltips to guide the user for a better user experience.

**Desktop :**
 - OS:

[2019-02-16 21:37] TechsUsInc commented on #2440
Please see #2470

[2019-02-17 09:26] startailcoon commented on #2453
@WilliamCruz Please fill in the following steps so the development team can target your issue properly

When does it happen, where does it happen and what is the error you recieve? Please paste logs or screenshots.

[2019-02-17 13:43] TechsUsInc opened #2471 "Login restoring from a back up key - double loads chose a file twice"
**Describe the bug**
Please see #2301
First time browser user experience emulates the same login behavior seen in #2301 of double loading the key upload after clicking open once already. Duplicated in the past with Opera, Google, Firefox (iirc), Brave.

**To Reproduce**
Steps to reproduce the behavior:
1. Browser login as if first time use or new device
2. Enter account name (local)
3. Scroll down

[2019-02-17 13:44] TechsUsInc commented on #2440
Please see #2471

[2019-02-17 15:23] TechsUsInc opened #2472 "TV"
**Describe the bug**
From within the Exchange Tab, selecting personal technical analytical indicators takes considerable time and calibrating. Once the Exchange pair is navigated away from, or, switching to Market Depth and then back to the Exchange page (where TA indicators were calibrated and saved as a template) the user finds none of their settings were saved (reverts to TV defaults).
Please s

[2019-02-17 15:23] TechsUsInc commented on #2440
Please see #2472

[2019-02-18 08:04] startailcoon commented on #2469
Thanks for the report. Added to the Epic of Improving usability of Gateway/Bridges.

[2019-02-18 08:17] startailcoon commented on #2467
I understand what your idea is here, but proposals aren't just for send operations, they can be applied to any kind of operation. Renaming Send to include proposal isn't nessesary in my opinion, as it should always be possible to do a proposal.

[2019-02-18 11:23] TechsUsInc commented on #2467
@startailcoon
I think we are in agreement here. Basically, I'm suggesting the rename to bring more attention to both sending and (if not more) proposing as opposed to sending and sending (current logical comprehension). Propose, Send, and Spotlight Barter are all unique in usage as well as data captured. The data in Send is not necessarily represented in Propose or Barter (i.e. Recent Activity).

[2019-02-18 12:26] WilliamCruz commented on #2453
Steps to reproduce the behavior:

Go to 'wallet.bitshares.org' login
Click on 'BOEINGCOM'

<https://wallet.bitshares.org/#/asset/BOEINGCOM/>At this point the browser
screen turns white.
See error

Expected behavior
screen turns white

On Sun, Feb 17, 2019 at 3:26 AM startailcoon <notifications@github.com>
wrote:

--

Respectfully Signed,
William Martin Cruz
*williammartincruz@gmail.com <williammar

[2019-02-18 13:57] TechsUsInc opened #2473 "[0.5] Dashboard Portfolio - Trade asset bug"
**Describe the bug**
From within the Dashboard Portfolio tab, clicking the Trade icon does not reflect the value of the asset properly in Tradingview. In fact, Tradingview shows the chosen market pairing is correct, however the value represented in the chart is actually carried over from what-ever asset was viewed lastly from the Exchange tab.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-02-18 13:58] TechsUsInc commented on #2440
Please see #2473

[2019-02-18 14:28] TechsUsInc opened #2474 "Exchange tab - Market tooltip react"
**Describe the bug**
From within the Exchange tab, hovering over assets in the Market list has changed;
1. Code is visible now in the tooltip immediately when hovered over.
2. Many assets missing a description/tooltip (should be mandatory or de-listed IMO).
3. Primary BTS missing tooltip/description (implied or otherwise)
4. At https://staging.bitshares.org once an asset is clicked on (ignoring th

[2019-02-18 14:29] TechsUsInc commented on #2440
Please see #2474

[2019-02-18 15:31] TechsUsInc opened #2475 "[0.75] Explore Assets - clicking asset breaks the site"
**Describe the bug**
Please see #2359  #1757 #2453
In regards to #2453 I see the same behavior seen in #1757 and I am able to reproduce his issue but only at https://wallet.bitshares.org (black screen though).
At https://staging.bitshares.org version 2.190297-rc3 it works fine.
Local wallet 2.190207-rc2 also works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Explore tab https:

[2019-02-18 15:32] TechsUsInc commented on #2440
Please see #2475

[2019-02-18 17:06] inoue-a opened #2476 "Export file contains the wrong format timestamp for Cointracking.info"
**Describe the bug**
Export file contains the wrong format timestamp for Cointracking.info
Cointracking.info uses this format `18.02.2019 hh:mm:ss GMT+xxxx`
but export file's timestamp format is `Mon Feb 18 2019 hh:mm:ss GMT+xxxx (timezone name)`

**Screenshots**
Import result:
![](https://i.imgur.com/Mfznynu.png)

**Desktop (please complete the following information):**
 - OS: Windows7
 - Browser

[2019-02-18 20:33] startailcoon opened #2477 "[3][dot5enko] New Gateway API Drafting"
Parent Task: Gateway/Bridge Codebase Enhancements - #2010

The current Gateway communication is built on a system that was used by OL in the start of the bitshares UI platform. While this most likley served its purpose in the start, it's becomming increasingly difficulty to both diagnose, opperate and add new gateways that are added to the application.

The purpose of this issue is to allocate a f

[2019-02-19 08:11] clockworkgr commented on #2460
Perhaps we should also maintain a list of LEGIT gateway and exchange accounts and use a fuzzy string matching filter to test recipient addresses against them?

So for example, if I try to send to open1edger-dex instead of openledger-dex, even if open1edger-dex does not exist in our scam account database, the filter would find a similarity score of >90% and notify/confirm with the user.

I like tha

[2019-02-19 08:14] clockworkgr commented on #2460
https://glench.github.io/fuzzyset.js/

[2019-02-19 08:20] clockworkgr commented on #2461
This is expected behaviour (sort of).

A proposal is only evaluated on execution if approved. You have every right to create a proposal with insufficient balances and ensure they're sufficient at time of execution.

However, I guess we could "tag" the potentially failing operations of the TX somehow as a UX hint.

@gibbsfromncis / @sschiessl-bcp ?

[2019-02-19 08:26] clockworkgr commented on #2462
What you are suggesting is not possible.

An on-chain proposal is fixed at time of submission to the chain. Memos are part of the ops contained in the TX proposal.

They cannot be modified after the fact.  A counter-offer would take the form of rejecting the proposal and creating a new one with the new suggested terms.

Again, this could be handled on a UX level by offering the ability for a user

[2019-02-19 08:28] clockworkgr commented on #2463
Although I understand your reasoning, I think this might be too much work/overprotection of the users.

I'd assume a user gets into a barter agreement as a SECONDARY option because he can't get a better price or enough liquidity for the amount to be traded.

@startailcoon  thoughts?

[2019-02-19 08:34] clockworkgr commented on #2465
Hmmm...good point

I'm not sure where/how that list is initialized.

My suggestion would be to ONLY show actual positiosn there (only what you've borrowed).

@sschiessl-bcp ?

[2019-02-19 08:37] clockworkgr commented on #2464
Spotlight section can't really show ALL MPAs...

a) Too many

b) Spotlight transfers some degree of trust/legitimacy to the assets showcased. As we have no control over 3rd party MPAs, we should not list them

The proper way is to only show bitAssets (committee-issued ones) but even those, some are inactive (e.g. bitOIL) so a selection needs to be made. I believe the current list is enough.

@ssch

[2019-02-19 08:40] clockworkgr commented on #2467
This would just cause more confusion IMHO.

Spotlight is for showcasing features to new users and providing a slightly better UX.

The option to make ANY operation a proposal is just a feature of any operation (including send) and should not describe or overshadow the operation itself

[2019-02-19 08:42] clockworkgr commented on #2468
Can duplicate on chrome...new modals appear inoperable

[2019-02-19 08:46] clockworkgr commented on #2470
I guess this page needs a small intro and tooltips.

The purpose is to sign an arbitrary message with your private key for verification purposes / to prove you own a specific account.

E.g. If you make a wrong deposit to binance and contact them, you will be asked to prove ownership of sending account.

I'm gonna make this one a community bounty.

1hr estimate @startailcoon ok with you?

Brief:
a)

[2019-02-19 08:49] clockworkgr opened #2478 "Trading View enhancements"
Holding issue to group TV enhancements.

Current requests:
- Settings persistence
- Pine scripts

[2019-02-19 09:36] sschiessl-bcp commented on #2426
In general the german translation is very weird and would need a complete overhaul IMO

[2019-02-19 09:36] #2426 closed

[2019-02-19 09:40] sschiessl-bcp commented on #2461
Agree with the notion

[2019-02-19 09:43] sschiessl-bcp commented on #2462
Yes, there will be a new panel that shows barter proposal with a nice UX within the spotlight, just not formulated as an issue yet. This could include "Counter offer", which automatically (permanently) rejects the current barter.

[2019-02-19 09:43] #2462 closed

[2019-02-19 09:45] sschiessl-bcp commented on #2465
The list that is always shown is hardcoded and contains the committee-owned SmartCoins. This is intended, extension could be discussed (or possible to add a "More"/"Search" button or similar)

[2019-02-19 09:47] sschiessl-bcp commented on #2464
Similar to #2465, agree to Alex. The list is hardcoded.

[2019-02-19 09:57] sschiessl-bcp commented on #2455
Related https://github.com/blockchainprojects/bitshares-ui/issues/79

[2019-02-19 10:01] sschiessl-bcp commented on #2257
When the auto ping is done, the UI may switch to a new node automatically (if a better one is found). This is intended, if this causes the UI to break the reconnection logic is broken. Needs investigation

[2019-02-19 10:07] sschiessl-bcp commented on #2437
Similar, but not exactly.

[2019-02-19 10:07] sschiessl-bcp commented on #2422
You may contact CITADEL in the meantime, they are also doing TOR

[2019-02-19 10:10] sschiessl-bcp commented on #1426
I'm in favor of allowing external sign ins.

Two tasks:
 - allow external service, or user, to define an account name to be logged in with, without giving credentials
 - refer all calls that need private key access to external service

Does not matter if its Beet or some other programm for the general framework

[2019-02-19 10:15] sschiessl-bcp commented on #2463
This is intentionally not done (I initially had the price of the barter included) because scam assets have a easily manipulated price feed that would give false security to the user.

[2019-02-19 10:15] #2463 closed

[2019-02-19 10:30] sschiessl-bcp commented on #2474
Tooltip behavior needs to be checked and made consistent. Also, delay should be reintroduced, as it breaks UX

[2019-02-19 10:32] sschiessl-bcp commented on #2473
Needs validation and investigation

[2019-02-19 10:33] sschiessl-bcp commented on #2471
Duplicate of #2301

[2019-02-19 10:33] #2471 closed

[2019-02-19 10:34] sschiessl-bcp commented on #2469
Can you clarify @startailcoon ? Does the deposit modal not work currently?

[2019-02-19 10:36] #2467 closed

[2019-02-19 10:36] clockworkgr commented on #2465
I know, but as mentioned in the referenced issue, it does not include ALL committee-owned MPAs. What's the selection filter?

[2019-02-19 10:38] clockworkgr commented on #2455
cool. didn't realise it was already semi-being worked on

[2019-02-19 10:38] sschiessl-bcp commented on #2465
Arbitrary I suppose (copy & paste **shame**)

[2019-02-19 10:39] sschiessl-bcp commented on #2460
We already have fuzzy matching logic in the UI (for hide legacy proposals)

[2019-02-19 10:41] clockworkgr commented on #2460
learn something new every day :)

[2019-02-19 10:49] clockworkgr commented on #2453
Confirmed:
![image](https://user-images.githubusercontent.com/6826762/53009685-b922d900-3444-11e9-92cc-d96b1312aeb8.png)

(whoever tackles this, please remove the asdasd console.log)

[2019-02-19 10:53] clockworkgr commented on #2453
Appears to be caused by a buggy price-feed. See: https://open-explorer.io/#/objects/2.4.228

Still, UI should not break.

[2019-02-19 11:04] clockworkgr commented on #2475
Duplicate : https://github.com/bitshares/bitshares-ui/issues/2453

[2019-02-19 11:05] clockworkgr commented on #2453
Duplicate of https://github.com/bitshares/bitshares-ui/issues/2475

[2019-02-19 11:05] #2453 closed

[2019-02-19 11:05] clockworkgr commented on #2475
https://github.com/bitshares/bitshares-core/issues/1602

[2019-02-19 17:00] froooze commented on #2472
#1669 - duplication

[2019-02-19 17:34] froooze commented on #2426
What do you think is weird? Maybe you are used the English word and don't expect the German version?
Found two errors in line 452 and 1896. Updated the file.

[2019-02-19 20:59] startailcoon commented on #2475
The following is thrown

`r = this._getFeedPrice();`

In _getFeedPrice the following fails

[code]

due to

[code]

All this is due to `let feedPrice = this._getFeedPrice();` returns null when there is no feeds.

[2019-02-19 21:22] startailcoon commented on #2468
For the record, I used wallet.bitshares.org today to withdraw some assets, and it worked just as expected. None the less, I will investigate. It could very well be due to an asset or some holdings of the account used that breaks the app.

Any logs when these errors occur would be appreciated.

[2019-02-19 21:44] clockworkgr commented on #2468
works for me on wallet. doesn't work on develop.

[2019-02-20 08:38] #2475 closed

[2019-02-20 08:41] sschiessl-bcp commented on #2426
Where did you adjust those errors? In transifex? The PR is merged and this issue is closed.

[2019-02-20 09:40] #2476 closed

[2019-02-20 09:41] sschiessl-bcp commented on #2476
Took 1

[2019-02-20 10:20] #2464 closed

[2019-02-20 10:20] #2465 closed

[2019-02-20 10:20] sschiessl-bcp commented on #2465
Restricted to commonly known bitassests. Might be worth to re-evaluate in the future

[2019-02-20 10:20] sschiessl-bcp commented on #2464
Restricted to commonly known bitassests. Might be worth to re-evaluate in the future

[2019-02-20 10:20] sschiessl-bcp commented on #2465
Hours only for #2465

[2019-02-20 10:21] sschiessl-bcp commented on #2464
Hours 0.75

[2019-02-20 10:23] sschiessl-bcp commented on #2476
@inoue-a

Please try again on develop.bitshares.org

[2019-02-20 10:25] sschiessl-bcp commented on #2436
Can you please specify (screenshot or permalink) what lines those are?

[2019-02-20 10:27] sschiessl-bcp opened #2480 "CDP Wizard error"
Open the new CDP wizard (in Spotlight) and click through all the way to the end until the asset select appears. Notice the warning:
[code]

Where does it come from?

[2019-02-20 10:31] sschiessl-bcp commented on #2436
![image](https://user-images.githubusercontent.com/33128181/53085378-01083580-3503-11e9-872d-57049345adeb.png)

Can you please specify how to reproduce?

[2019-02-20 10:32] startailcoon commented on #2468
k, will investigate

[2019-02-20 11:21] sschiessl-bcp opened #2481 "Boil down exchange introduction"
From integration tests #2436

Reduce the intro to avoid scrolling

[2019-02-20 11:22] #2481 closed

[2019-02-20 11:23] sschiessl-bcp opened #2482 "Streamline asset description tooltip"
The tooltip is incorrectly and inconsistently rendered, refactor the rendering and use Popover instead of tooltip, remove html from locales

[2019-02-20 11:37] #2482 closed

[2019-02-20 11:38] sschiessl-bcp commented on #2481
Took 0.25

[2019-02-20 11:39] sschiessl-bcp commented on #2482
Took 1

[2019-02-20 11:40] sschiessl-bcp commented on #2466
This is intended, you are allowed to create new margins there. I streamlined which assets have been shown and fixed the navigation.

[2019-02-20 11:40] #2466 closed

[2019-02-20 11:46] sschiessl-bcp commented on #2474
Tooltip streamlined with #2482.

Leaving this open solely with the task to check the electron behavior (downloaded and installed version)

[2019-02-20 12:13] TechsUsInc commented on #2303
2-20-19 attempt
Brave Browser
cleared cache
Loads with following issues but loads OK

![2 190207-rc3_brave_capture](https://user-images.githubusercontent.com/18186497/53090935-5bd76800-34d6-11e9-97bc-80ef2840cae8.JPG)
Last 20 logs
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
error: checkConnectionsFailed to connect to wss://bts-seoul.clockwork.gr
log: Checked 1 connecti

[2019-02-20 12:15] clockworkgr commented on #2303
those are just nodes that are offline ...unrelated

[2019-02-20 12:27] TechsUsInc commented on #2303
2-20-19 Attempt
Firefox Browser
Cache cleared
Loads with following last 20 log but NP loading
![2 190207-rc3_ff_capture](https://user-images.githubusercontent.com/18186497/53091748-6561cf80-34d8-11e9-9277-b360549d74c6.JPG)

Last 20 logs
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 co

[2019-02-20 12:37] TechsUsInc commented on #2303
2-20-19 Attempt
Opera Browser
Cache cleared
White screen with BU warning (don't recall seeing before)

![2 190207-rc3_opera_1_capture](https://user-images.githubusercontent.com/18186497/53092280-f5ecdf80-34d9-11e9-868d-89cb193b6bdf.JPG)

last 20 logs
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log

[2019-02-20 12:52] TechsUsInc commented on #2303
2-20-19 Attempt
Google Browser
Cache cleared
![2 190207-rc3-gg_capture](https://user-images.githubusercontent.com/18186497/53093077-08681880-34dc-11e9-87f8-c7d4b7347eb9.JPG)

Last 20 logs
log: fetchCoins error from https://dex-api.bitspark.io/api/v1/coins: TypeError: Failed to fetch
log: fetchTradingPairs error from https://dex-api.bitspark.io/api/v1/trading-pairs: TypeError: Failed to fetch
log:

[2019-02-20 12:53] TechsUsInc commented on #2303
Please note that I witnessed double load of BIN file on both Opera and Google (both had white screen) but did not see with FF, Brave

[2019-02-20 13:29] inoue-a commented on #2476
@sschiessl-bcp
It works. Thank you for your quick update :)

[2019-02-20 13:32] TechsUsInc commented on #2303
2-20-19 Attempt
Google@develop
version  90d3b1c
Cache cleared
Double load BIN
![90d3b1c-develop-gg-capture](https://user-images.githubusercontent.com/18186497/53095024-53d0f580-34e1-11e9-8eab-13b3eecc358f.JPG)
Last 20 logs
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 f

[2019-02-20 13:52] TechsUsInc commented on #2303
2-20-19 Attempt
FireFox@develop
version 90d3b1c
Cache cleared
No double load BIN
TV load messages in Yellow
![90d3b1c-develop-ff-capture](https://user-images.githubusercontent.com/18186497/53096203-32bdd400-34e4-11e9-8b1a-f3726048b778.JPG)
Last 20 logs
log: Checked 1 connections, 1 failed
error: checkConnectionsFailed to connect to wss://canada6.daostreet.com
log: Checked 1 connections, 1 failed
l

[2019-02-20 13:59] MikhailKavalenka commented on #1062
@startailcoon , Do we only need to show the depth chart representation on the order book sections in vertical mode? Or the scope of the issue is more then that?

[2019-02-20 14:04] TechsUsInc commented on #2303
2-20-19 Attempt
Opera@Develop
version  90d3b1c
Cache cleared
Double load BIN

![90d3b1c-develop-opera-capture](https://user-images.githubusercontent.com/18186497/53096977-fe4b1780-34e5-11e9-924c-eb85e0380341.JPG)
Last 20 logs
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections,

[2019-02-20 14:11] TechsUsInc commented on #2303
2-20-19 Attempt
Opera@Develop
Version 90d3b1c
Cache cleared
STD mode
Double load BIN
![90d3b1c-develop-opera-std-capture](https://user-images.githubusercontent.com/18186497/53097405-ff307900-34e6-11e9-96cf-050448db11f1.JPG)
Last 20 logs
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
error: checkConnectionsFailed to connect to wss://bts-seoul.clockwork.gr
log: Checked 1 co

[2019-02-20 14:28] TechsUsInc commented on #2303
2-20-19 Attempt
Brave@Develop
Version 90d3b1c
Cache cleared
In Private mode
Double load BIN
![90d3b1c-develop--brave-inpriv-capture](https://user-images.githubusercontent.com/18186497/53098518-6d763b00-34e9-11e9-9e06-368cfdb6e695.JPG)
Last 20 logs
log: Latency result:[object Object]
error: checkConnectionsFailed to connect to wss://btsfullnode.bangzi.info/ws
log: Checked 1 connections, 1 failed
lo

[2019-02-20 14:54] TechsUsInc commented on #2303
2-20-19 Attempt
Opera Developer version@Develop
Version 90d3b1c
Cache cleared
Double load BIN
Strangely loaded TV with Dev browser version
![90d3b1c-develop--operadev-inpriv-capture](https://user-images.githubusercontent.com/18186497/53100190-f5117900-34ec-11e9-9f85-56e2fbe496a6.JPG)
Last 20 logs
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
error: checkConnectionsFailed

[2019-02-20 15:03] TechsUsInc commented on #2303
2-20-19 Attempt
Opera-mini-version@Develop
Version 90d3b1c
Cache cleared
Double load BIN
![90d3b1c-develop--operamini-inpriv-capture](https://user-images.githubusercontent.com/18186497/53100865-39514900-34ee-11e9-8a1a-efecda73084f.JPG)
Last 20 logs
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log: Checked 1 connections, 0 failed
log: Latency result:[object Object]
log:

[2019-02-20 16:45] TechsUsInc commented on #2480
@sschiessl-bcp
So far, I have been unable to reproduce this issue, nor have I seen it on other browsers.
Testing @staging and @develop.
**Note**
I was able to set a CDP with account locked
After unlocking, I was able to confirm the OP without having set any parameters within the CDP wizard.

[2019-02-20 22:25] startailcoon commented on #2214
The modal doesn't check if `rememberMe` is true/false when rendering the Modal. If rememberMe is false, the name shouldn't be filled in.

[2019-02-20 22:31] startailcoon commented on #2480
I've seen the same message as well. It's probably due to a prop that is set as required for `<Select />` somewhere. I'm not sure where right now.

[2019-02-20 23:56] gibbsfromncis commented on #268
@clockworkgr not right now. Should we unassign ourselves or pay more attention to this one?

[2019-02-20 23:57] gibbsfromncis commented on #499
We do not have task to redesign it and we will work on its redesign later. For now we have only "migration to ant" task for my markets/find markets.

[2019-02-20 23:58] gibbsfromncis commented on #616
Sounds like a great idea. I suppose we can include it when start redesign.

[2019-02-20 23:59] gibbsfromncis commented on #717
@clockworkgr It looks like a nice idea and we can discuss it as a part of future redesign.

[2019-02-21 00:01] gibbsfromncis commented on #1209
@clockworkgr I did but only for UI elements. We still use grid and we will remove it when start redesign.

[2019-02-21 00:01] #1209 closed

[2019-02-21 00:32] clockworkgr commented on #268
depends...if you have the UX or part of it done, we could possibly offer it to the community for the rest of it

[2019-02-21 00:33] gibbsfromncis commented on #268
@clockworkgr I'll ask @nikandrovalex

[2019-02-21 02:19] gibbsfromncis commented on #1503
Adjusted to 28 hours. 1 hour was spent to fix comments on PR #2316

[2019-02-21 09:53] sschiessl-bcp commented on #2299
This is postponed. No feasible solution available.

The sign up page should be refactored to include the new login mask anyways, closing this.

[2019-02-21 09:53] #2299 closed

[2019-02-21 09:56] sschiessl-bcp commented on #2301
Duplicate, or related to #2282

[2019-02-21 11:47] sschiessl-bcp opened #2484 "Streamline updateGatewayBackers usage"
Investigate usage of updateGatewayBackers
 - ensure it is only called once, and only called lazily if the user accesses gateway functionality (button in exchange, deposit- or withdraw modal)
 - ensure it is called when error in gateway appears that could be resolved with calling it again (e.g. gateway down)

[2019-02-21 12:04] #2468 closed

[2019-02-21 12:04] #2469 closed

[2019-02-21 12:06] sschiessl-bcp commented on #2325
No response on latest ping from Winex, removing now.

[2019-02-21 12:07] sschiessl-bcp commented on #2469
Done through PR

[2019-02-21 12:07] sschiessl-bcp commented on #2468
Done through PR

[2019-02-21 12:11] #2325 closed

[2019-02-21 14:13] froooze commented on #2426
I changed only the transifex file.

[2019-02-22 10:14] sschiessl-bcp commented on #2282
Duplicate of #2301

[2019-02-22 10:14] #2282 closed

[2019-02-22 10:14] #2301 closed

[2019-02-22 10:23] sschiessl-bcp commented on #1705
Closing this issue, my management/language review time is depleted. Should move to ReadMe now like clockwork said.

Russian, german and spanish have been updated.

[2019-02-22 10:23] #1705 closed

[2019-02-22 10:41] sschiessl-bcp commented on #2303
This seems to be hard to reproduce, and as such points to being a local problem.

Could you try a different computer (if available)?

[2019-02-22 10:45] sschiessl-bcp commented on #2452
Note: Release candidate label is for issues blocking publication of it

[2019-02-22 12:36] #2214 closed

[2019-02-22 12:36] sschiessl-bcp commented on #2214
Took 0.25

[2019-02-22 13:10] sschiessl-bcp opened #2486 "Tracking Binance Chain UI and BitShares UI"
Issue to track evolution

[2019-02-22 13:11] sschiessl-bcp commented on #2486
<h2>22.02.2019</h2>

Binance Chain UI
![image](https://user-images.githubusercontent.com/33128181/53244613-af4edf00-36ab-11e9-9d21-1c247156f9f9.png)

BitShares UI
![image](https://user-images.githubusercontent.com/33128181/53244621-b970dd80-36ab-11e9-9b0d-cf8a37f40d75.png)

[2019-02-22 13:43] TechsUsInc commented on #2486
https://www.youtube.com/watch?v=wN1Uvor4Hd8
BinanceDEX Official video tour
https://www.newsbtc.com/2018/12/05/binance-posts-video-demo-of-its-decentralized-exchange-featuring-binance-chain/

![basic_binance_capture](https://user-images.githubusercontent.com/18186497/53245818-75aeb180-3674-11e9-973a-7708e5af648a.JPG)
Binance.com - Basic
![binance com_capture](https://user-images.githubusercontent.c

[2019-02-22 14:24] clockworkgr commented on #2452
ah ok...my bad

[2019-02-23 10:40] startailcoon opened #2487 "[3] Portfolio Deposit/Witdhraw/Buy Icons doesn't render on logged out Cloud Accounts"
When using a cloud account (non-binary account) the Dashboard Portfolio will not render the icons for Buy, Withdarw and Deposit modal actions. A cloud account has to be logged in to render these actions since the storage will return false for isMyAccount if it's logged out.

This will at times make cloud account users think that something is broken, as no warning or notification is visible let the

[2019-02-23 11:20] startailcoon commented on #2487
![bild](https://user-images.githubusercontent.com/12114550/53285800-68bdbb00-3765-11e9-8468-526e6ddb3740.png)

[2019-02-23 11:32] startailcoon commented on #2484
I've been working on this.

[2019-02-23 11:43] startailcoon opened #2489 "[2] Account selector, manage accounts and view mode performance on cloud accounts"
When using the wallet with a cloud account the top right account selector performs poorly.

You can't access manage accounts drop down, nor does it view the "View Mode" button when browsing an account that doesn't belong the the users cloud account (not in the auth store).

Some performance has to be made to enhance the performance of this and the checks of `isMyAccount` that only triggers when/af

[2019-02-23 11:52] startailcoon commented on #1872
Starting work on this issue

[2019-02-23 12:47] startailcoon commented on #2352
Work in Progress fork https://github.com/bitshares/bitshares-ui/tree/2352_AccountSelectorStyleGuide

[2019-02-23 16:09] TechsUsInc opened #2490 "New account creation enhancement - Screenshot button"
**Is your feature request related to a problem? Please describe.**
I noticed when creating both a new cloud or local account that an enhancement could be made for a better user experience, reduction on potential customer support issues, and ads support and features upon creation. The enhancement is supported by a bug which is void of critical information to a new user.

**Describe the solution you

[2019-02-23 16:21] TechsUsInc commented on #2440
Please see #2490

[2019-02-23 16:40] TechsUsInc opened #2491 "Price Alert Enhancement - Sent alerts to Beet"
**Is your feature request related to a problem? Please describe.**
I've done considerable research (see issues) regarding Tradingview(TV) and price alerts on BitShares.
The options vary with the most costliest being the BBF applying for an Enterprise Account.
Consider that TradingView Enterprise consists of 25 TV approved exchanges and BitShares should consider requesting to be added to that list

[2019-02-23 16:41] TechsUsInc commented on #2440
Please see #2491 2491

[2019-02-23 16:50] TechsUsInc opened #2492 "Price alert enhancement - Add audible/visual alert"
**Is your feature request related to a problem? Please describe.**
The current price alert feature is a great addition, however it it could be enhanced (see other reported issues).
- Currently, a user has to be logged in to their account to see an alert trigger.
- Currently, the user does not have an audible alert nor can they see the current alert if they navigate away from the browser (web) mini

[2019-02-23 16:50] TechsUsInc commented on #2440
Please see #2492

[2019-02-23 17:11] TechsUsInc opened #2493 "Exchange Enhancement - Rebuild the price chart"
**Is your feature request related to a problem? Please describe.**
There are features on Tradingview that I can not access or utilize on BitShares Dex.
The cost is a loss to the trader and the DEX.

**Describe the solution you'd like**
I love Tradingview. However, trading and the DEX experience is daily hampered with real losses without the ability to utilize the chart to it's full potential, TA p

[2019-02-23 17:11] TechsUsInc commented on #2440
Please see #2493

[2019-02-23 17:50] TechsUsInc opened #2494 "[0.5] Tradingview chart - full access to scale properties"
**Describe the bug**
Within Tradingview is a cog with multiple scale property settings.
- Once the cog is clicked, the list is very hard to grab and access the bottom preferences and conversely
   scroll back up.
- With web wallet, the list is dependent on the users screen truncation.
- With local wallet, the screen truncation requires additionally advanced steps.
- Adding chart width to the perso

[2019-02-23 17:50] TechsUsInc commented on #2440
Please see #2494

[2019-02-24 01:44] manikey123 commented on #2406
Core 782 , 783 is under code review and minor iterations are expected. this is part of april milestone release. so estimate would be meaningful around then. if anything changes will keep you posted.

[2019-02-24 14:10] startailcoon commented on #1872
## Preview

![image](https://user-images.githubusercontent.com/12114550/53300362-49e32580-3846-11e9-9d6a-6883d061ec55.png)

[2019-02-24 15:36] startailcoon commented on #2446
Fixed as part of #1872

[2019-02-24 15:36] #2446 closed

[2019-02-24 18:04] startailcoon commented on #2494
It seems there is to little padding between the scrollbar for the exchange section and the trading view charts. The menu you open is to far to the right to be able to properly view the scrollbar for it. The item you've rounded in with yellow is the scrollbar for the page itself.

We should add padding to the exchange section to make this possible to use better.

[2019-02-24 18:08] startailcoon commented on #2493
I've added this to the list of features for the TV integration. I think we should make sure TV works with all its bells and whistles and only consider building our own as an absolute last outcome if TV would not work as expected.

[2019-02-24 18:10] startailcoon commented on #2492
Very valid and good input. Should be explored to see what can be done to enhance the pirce alert features. How much work this would require is hard to estimate.

[2019-02-24 18:24] startailcoon commented on #2303
I've also never been able to get a completely white and unloaded TV session so far. We need some more data on this.

When posting the logs, can you do a code prettify and post the result from that, in close proximity of the error.

In firefox, you do it like this.
1. Click the error file link in console
2.
![image](https://user-images.githubusercontent.com/12114550/53303340-85431b80-3869-11e9-81ca

[2019-02-24 18:31] startailcoon commented on #1062
@MikhailKavalenka for me it would make sense to have this in the orderbook, regardless of position of it. So I would say it should be both cases.

[2019-02-24 18:47] startailcoon commented on #2424
One possible way to improve this section is to make one tab that has all asset pairs sorted by volume. It would be dynamic and ever changing.

[2019-02-25 09:39] clgc1972 opened #2496 "Missing funds at selling"
**Describe the bug**
A clear and concise description of what the bug is. Yesterday. I tried to sell all my funds (bitusd) to bts, when got it, it didn´t appearing like pending, simply lost or missing in my portfolio and total account funds

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.sell bitusd to bts..'
2. Click on '.sell...'
3. Scroll down to '....'
4. See error open orders lef

[2019-02-25 12:22] TechsUsInc commented on #2303
Yes. My sys had catastrophic failure. Rebuilding and will build a Win 10 or something else to test on ASAP.

[2019-02-25 12:40] sschiessl-bcp commented on #2496
It appears that you have been accepting a "Proposed transaction" that has given away control of your account to a third party. Is that correct?

[2019-02-25 14:05] TechsUsInc commented on #2303
- 2-25-19 Attempt
- Google In-Cognito @develop
- Version 3109f53
- Cache cleared
- Did not login; Did not create account
Once loaded, clicked Exchange
![90d3b1c-develop-gg-capture](https://user-images.githubusercontent.com/18186497/53337252-7b9bd100-38c6-11e9-8f48-b91f2435a237.JPG)

![90d3b1c-develop-gg-error-capture](https://user-images.githubusercontent.com/18186497/53338439-4d6bc080-38c9-11e9-9

[2019-02-25 14:14] TechsUsInc commented on #2303
Regarding SS above

[[2] White tradingview screen · Issue #2303 · bitshares_bitshares-ui.pdf](https://github.com/bitshares/bitshares-ui/files/2900891/2.White.tradingview.screen.Issue.2303.bitshares_bitshares-ui.pdf)

[2019-02-25 14:39] TechsUsInc commented on #2303
- 2-25-19 Attempt
-  Windows 8.1
* Google STD browser @develop
* Version  3109f53
* Cache cleared
* Did not login; Did not create account
  Once loaded, clicked Exchange

![3109f53-chrome-std-1-capture](https://user-images.githubusercontent.com/18186497/53344536-7f385380-38d8-11e9-8d05-4f555bbbf42f.JPG)

![3109f53-chrome-std-2-capture](https://user-images.githubusercontent.com/18186497/53344537-7f

[2019-02-25 15:25] TechsUsInc commented on #2303
- 2-25-19 Attempt
- Logged in with BIN
- Same STD Chrome browser above (browser was not closed but reloaded). Allowed notifications; clicked
  through new user
   tour wizard
- Before login- 22 errors; after login- 72 errors
- Windows 8.1
- Google STD browser @develop
- Version 109f53
- Cache cleared
- Did not login; Did not create account
 - Once loaded, clicked Exchange

![3109f53-chrome-std-3-c

[2019-02-25 16:44] clgc1972 commented on #2496
I don´t know.

Please, look at  4th, 5th, 6th, 7th and 8th transaction, which in adittion take more than 2600 bitusd and check it that I didn´t received any BTS in my account after selling since this date and hour.

Could you help to know what is happening with this transactions? and coming back cryptos to my account, a sum so high that I can not afford to lose.

Thank you for your attention
_____

[2019-02-25 18:55] TechsUsInc commented on #2303
- Please inspect
- 2-25-19 Attempt
- Windows 8.1
- Browser Chrome @ staging
- Version 190226-rc3
- Did not login; Did not create account
- Clicked through new user guide

[code]

[2019-02-25 19:17] TechsUsInc commented on #2303
- 2-25-19 Attempt
- Ubuntu Kylin 4.0.2 brand new install.
- First time Firefox browser use @ develop and @ staging to no avail
White screen with nonstop "loading..."

file:///home/joe/Downloads/Screenshot%20at%202019-2-25%2013-26-3.png
file:///home/joe/Downloads/Screenshot%20at%202019-2-25%2013-25-43.png
file:///home/joe/Downloads/jar:file:_usr_lib_firefox_browser_omni.ja!_modules_CustomizableUI.j

[2019-02-25 21:14] TechsUsInc commented on #2303
- I could not edit the post above.
file:///home/bts/Desktop/Screenshot%20at%202019-2-26%2011-3-31.png
- Browser console:

GET
https://wallet.bitshares.org/ [HTTP/2.0 304 Not Modified 109ms]
GET
https://wallet.bitshares.org/vendor.eaa036443428f56f67a0.css [HTTP/2.0 304 Not Modified 30ms]
GET
https://wallet.bitshares.org/app.1f695ace1cbad37e0441.css [HTTP/2.0 304 Not Modified 29ms]
GET
https://walle

[2019-02-26 02:07] TechsUsInc commented on #2494
Yes, please see the GIF.
- Note decimal prices when the scrollbar is hovered - missing digits - padding between price chart and
  market
- Note both scrollbars in use - padding between scrollbars
- Note behavior when the scale properties cog is clicked and the browser image is reduced

![3109f53-opera-](https://user-images.githubusercontent.com/18186497/53382141-d8d06a80-3938-11e9-9556-9c099a4fcb4

[2019-02-26 07:31] clockworkgr commented on #2491
What kind of cost are we talking about? Maybe could be funded by a WP

[2019-02-26 09:20] gibbsfromncis opened #2497 "[12] Scaled Orders UX improvements"
- [ ] Find the way for users to see Buy/Sell orders book
- [ ] Find the better way to display type of Distribution

[2019-02-26 09:29] gibbsfromncis commented on #1503
Adjusted to 29. 1 hour was spent for investigation why Scaled Order Modal doesn't open in some cases. The reason was that if bindActionToState is missing some of "ChainType.required" parameter the component won't render without any error.

[2019-02-26 09:31] gibbsfromncis opened #2498 "[2] BindToChainState doesn't render when required parameter is missed"
if some component wrapped to `BindToChainState` and has some required ChainType parameters:

[code]

component doesn't render if currentAccount is missed without any error/warning message.

The task is to display some kind of warning or error message to let developers know about the issue and save a lot of time for debugging process.

[2019-02-26 09:44] rahulpagada commented on #361
**_ERROR TypeError: Cannot read property 'UDFCompatibleDatafeed' of undefined_**

[2019-02-26 10:45] clockworkgr opened #2499 "[4] Clearly render proposal contents"
We need to CLEARLY display to the user the contents/actions to be taken as part of a proposed transaction.

Also possibly add an EXTRA notification when operation changes account authorities.

This is an urgent issue

[2019-02-26 11:14] sschiessl-bcp commented on #361
How can we reproduce it?

[2019-02-26 13:51] sschiessl-bcp commented on #2436
Closed, release is published

[2019-02-26 14:30] sschiessl-bcp opened #2500 "[1.5] Removing an api from apiConfig breaks any user (white screen) that has it as apiServer in local Storage"
[code]

[2019-02-26 14:31] clockworkgr commented on #2500
i thought we'd fixed that?

[2019-02-26 14:32] sschiessl-bcp commented on #2500
Me too ...

[2019-02-26 15:29] #1503 closed

[2019-02-26 19:36] TechsUsInc commented on #2303
- 2-26-19 Attempt
- Windows 8.1
- Browser Opera
- New UI release 190227
- login with BIN
[code]

[2019-02-26 19:40] startailcoon commented on #2500
Adding some buffering time to clearly find the issue here. Lets squish this thing.

[2019-02-26 19:50] TechsUsInc commented on #361
@sschiessl-bcp
![openexplorer_capture](https://user-images.githubusercontent.com/18186497/53441459-86408e00-39cc-11e9-9571-2db96e4e3e83.JPG)
![openexplorer_2-capture](https://user-images.githubusercontent.com/18186497/53441864-5f368c00-39cd-11e9-9b97-6ea5576c4fd3.JPG)

[code]

[2019-02-26 20:04] #2436 closed

[2019-02-26 20:28] clgc1972 commented on #2496
Good night stefan.

have you any notice in order to helping about my missed or bugged transactions to recover my funds? I don´t understand that it was happening with thiis one.

Thank you
________________________________
De: Azucena Márquez <stromean123@hotmail.com>
Enviado: lunes, 25 de febrero de 2019 17:44
Para: bitshares/bitshares-ui; bitshares/bitshares-ui
Cc: Author
Asunto: RE: [bitshares/bi

[2019-02-26 20:40] TechsUsInc commented on #2491
- Stan Bokov
Co-Founder, COO
founders@tradingview.com

- TV account price
average user - https://www.tradingview.com/gopro/
Commercial use- Can't seem to locate ATM but iirc it is around $1500 per month for an Enterprise Account

- ref links
 1. https://www.tradingview.com/crypto-order/
 2. https://blog.tradingview.com/en/new-exchanges-tradingview-6475/
 3. https://www.tradingview.com/HTML5-stock-

[2019-02-26 22:35] TechsUsInc commented on #2303
* 2-26-19 Attempt
* Windows 8.1
* Browser Opera Dev Version @ https://wallet.bitshares.org
* New UI release 190227
* Did not login or create account
TV loading on Dev browser
![190226-wallet_1_capture](https://user-images.githubusercontent.com/18186497/53449520-97df6100-39df-11e9-83f3-1df30b3e66e7.JPG)

![190226-wallet_2_capture](https://user-images.githubusercontent.com/18186497/53451283-0d4d3080

[2019-02-26 22:38] TechsUsInc commented on #2303
* 2-26-19 Attempt
* Windows 8.1
* Browser Opera Dev Version @ https://develop.bitshares.org
* New UI release 190227
* Did not login or create account
  TV loading on Dev browser
![190226-devopera_develop_1_capture](https://user-images.githubusercontent.com/18186497/53451590-c449ac00-39e4-11e9-9c49-e61ab859a71a.JPG)

[2019-02-26 22:41] TechsUsInc commented on #2303
* 2-26-19 Attempt
* Windows 8.1
* Browser Opera Dev Version @ https://staging.bitshares.org
* New UI release 190227
* Did not login or create account
  TV loading on Dev browser

![190226-devopera_staging_1_capture](https://user-images.githubusercontent.com/18186497/53451845-64073a00-39e5-11e9-8be7-c51d0ce0715e.JPG)

[2019-02-26 23:02] TechsUsInc commented on #2303
* 2-26-19 Attempt
* Windows 8.1
* Browser STD Opera @ https://staging.bitshares.org
* Logged in with BIN

![190226-stdopera_staging_1_capture](https://user-images.githubusercontent.com/18186497/53452372-bb59da00-39e6-11e9-8163-1aa7b46382b5.JPG)
![190226-stdopera_staging_2_capture](https://user-images.githubusercontent.com/18186497/53452373-bb59da00-39e6-11e9-94a0-defb714a6285.JPG)
![190226-stdoper

[2019-02-26 23:07] TechsUsInc commented on #2303
* 2-26-19 Attempt
* Windows 8.1
* Browser Opera Dev Version @ https://wallet.bitshares.org
* New UI release 190227
* Did not login or create account

![190226-stdopera_wallet_1_capture](https://user-images.githubusercontent.com/18186497/53453025-aaaa6380-39e8-11e9-844f-c3a5002d6ebe.JPG)

[code]

[2019-02-26 23:34] TechsUsInc commented on #2303
- 2-26-19 Attempt
- Browser Google Chrome
- Version 190226-rc3
- Windows 8.1

![190226-gg-develop-1-capture](https://user-images.githubusercontent.com/18186497/53454295-5c975f00-39ec-11e9-8973-49f1535a2185.JPG)
Google Chrome @ develop.bitshares.org
![190226-gg-staging-1-capture](https://user-images.githubusercontent.com/18186497/53454296-5c975f00-39ec-11e9-9304-bbcea79652e4.JPG)
Google Chrome @ st

[2019-02-27 06:33] clockworkgr opened #2501 "[25] - Beet Development (Dec/Jan/Feb)"
- Various bug fixes
- Implement Beet Branding and UX redesign using guide in:  https://github.com/bitshares/bitshares-ui/issues/2226
- PD4 https://github.com/bitshares/beet/issues/10
- Update Build scripts (appveyor/travis)
- Enable Copy/Paste Support https://github.com/bitshares/beet/issues/61
- Refactor beet-js library architecture

[2019-02-27 07:00] sschiessl-bcp opened #2502 "[18] Beet Development (Dec/Jan)"
Work on multi-chain support and abstraction of the inner mechanics to facilitate that process https://github.com/bitshares/beet/issues/18

Now supported:
 - Steem, WhaleShares and Smoke (full support through injection)
 - BitShares (partial support through defined calls)

[2019-02-27 07:02] sschiessl-bcp opened #2503 "[22] Beet development (Feb)"
Continuation of https://github.com/bitshares/bitshares-ui/issues/2502

Additional multi-chain support:
 - BitShares (full support through injection)
 - Peerplays (full support through injection)
 - EOS, TLOS (partial support through specific calls)

Refactored Popups usage

#71 #72 #74 #65 #62

[2019-02-27 10:13] apiekarczyk commented on #1669
Friendly remind that we still waiting for resolving this problem.

[2019-02-27 20:14] iamredbar opened #2504 "Add Collateral Bids to Dashboard"
**Is your feature request related to a problem? Please describe.**
It takes a few clicks to get to the collateral bids to monitor them. It would be nice to see those bids in the dashboard as an easy reference.

**Describe the solution you'd like**
I would like to see a tab in the dashboard for collateral bids (if applicable). Sort of like how proposals show up if they are present. This would also

[2019-03-01 01:39] dot5enko commented on #2477
Api structure
---

Don't think we need to add something to a list of possible interacting with gateway requests as everything is covered by available ones - from coin names to fees and min amounts. As the main purpose of gateways is getting coins in and out of bts system i think described scheme is fully capable of this.

Code
---
The other situation is with [code](https://github.com/bitshares/bit

[2019-03-01 11:29] clgc1972 opened #2505 "Possible serious mistake of the system in a sale"
Good morning,
For about a week, I am waiting to solve a serious problem due to a sale that I made from my account from bitusd to bts with all my funds and that has inexplicably been lost.

What I want to say, is that the amount of BTS has not appeared since more than approximately 2245 bitusd to exchange, I only have in my account currently about 30 bts.

When I see the transactions made (as you c

[2019-03-01 19:53] Agorise opened #2637 "New BSIP: Add Merchants & Tellers map to Spotlight"
BSIP: <BSIP number>
    Title: <BSIP title>
    Authors: Agorise, Ltd.
    Status: Draft
    Type: Informational
    Created: 2019-03-01
    Discussion: <url>

# Abstract
Getting mass adoption of the Bitshares blockchain is actually quite easy now that the tools for it have been built. What Bitshares needs now (in addition to more tools of course) is marketing.

PalmPay is not just a Point Of Sale

[2019-03-02 06:01] Cryptrade-Dev opened #2506 "AssetSelect in Burn Modal show null"
**Describe the bug**
see title

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Account > Portfolio > Burn
2. Click on 'Burn'
3. Open the Burn Modal
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![issue_burn_modal](https://user-images.githubusercontent.com/44422194/53677979-8786f900-3cf3-11e9-8cf7-9075e54fd6fa.png)

[2019-03-02 10:37] TechsUsInc commented on #2303
- 3-2-19 testing update
- New Release 190227
- Tested at:
1. staging.bitshares.org
2. wallet.bitshares.org
3. develop.bitshares.org

- Tested on standard,developers, and beta browsers with:
1. Firefox (Windows, Kylin, Ubuntu,Kali)
2. Brave
3. Edge
4. Google (Windows, Kylin, Ubuntu, Kali)
5. Opera
### **Mobile**
6. Android, and
7. Apple
### **Results**
- TradingView is loading on all browsers and o

[2019-03-03 12:52] startailcoon commented on #2506
Already addressed in PR https://github.com/bitshares/bitshares-ui/pull/2495

[2019-03-03 12:52] #2506 closed

[2019-03-03 12:53] startailcoon commented on #2506
Already addressed in PR #2495

[2019-03-03 12:56] startailcoon commented on #2504
It's a good idea. We would need to make sure that we can add a specifc users collateral bids to its own tab, like margin orders, if one has active orders on chain.

[2019-03-04 15:43] fractalnode commented on #2497
in my opinion, the Scaled Order should be placed in a separate tab, next to the currently default "Limit Order"
![screenshot_5](https://user-images.githubusercontent.com/20418259/53744047-75948a00-3e9c-11e9-9ec2-023171c398b4.jpg)

[2019-03-04 17:37] gibbsfromncis commented on #2497
@fractalnode I agree with your opinion. I'll think about it as one of possible solutions.

[2019-03-05 08:24] sschiessl-bcp commented on #2303
Thanks for this extensive report, it will be immensely helpful in the future. Closing this as its not reproducable anymore.

[2019-03-05 08:24] #2303 closed

[2019-03-05 08:26] sschiessl-bcp opened #2508 "Language breaks UI"
Can happen when arguments in the translation file are not properly marked (`%()s` or `{}` depending on usage)

From
https://bitsharestalk.org/index.php?topic=27861.0;topicseen#msg327802
https://drive.google.com/file/d/1v5GxV85YruofyJTYKZATbhHIiaoDRIGI/view

[2019-03-05 08:41] sschiessl-bcp commented on #2508
Fixed during review

[2019-03-05 08:42] #2508 closed

[2019-03-05 08:48] sschiessl-bcp commented on #2426
We have reviewed the work and also the extent of it and can offer a bounty of 9 (1125 bitUSD).

The limits of this task were given in the original issue, which was rated with 10. We have switched how the hours are distributed since then, apologies for not being precise in the formulation. The key comment [is this one](https://github.com/bitshares/bitshares-ui/issues/1705#issuecomment-421388431). I

[2019-03-05 10:32] sschiessl-bcp opened #2509 "[1][2.0.190410-rc1] Release notes"
Tracking changes for new release here

[2019-03-05 10:34] sschiessl-bcp commented on #2509
<h1>2.0.190326-rc1 Release Candidate</h1>
Please report any bugs using the Github issue system. Final release is expected on March 26th

<h2>Installation warning</h2>
This build will *replace* your old version of the BitShares UI, whether it's a release candidate or production release. If you want a stable version, use only the latest production release

<h2>Web deployment</h2>
This release candid

[2019-03-05 13:54] sschiessl-bcp commented on #2500
Reproduce:
 - add a node in apiConfig
 - connect to that node, close UI
 - remote that node from apiConfig
 - load UI, observer stuff breaking

[2019-03-05 13:55] sschiessl-bcp commented on #2505
Duplicate of #2496

[2019-03-05 13:55] #2505 closed

[2019-03-05 14:02] sschiessl-bcp commented on #2496
Unfortunately, recovery of funds is not possible since your account got hacked. The UI displays an additional necessary verification step when trying to approve a proposal from unknown source. From a developers perspective, this issue is done.

If there are any chances of recovery (unlikely imo), please come to telegram in the channel @btswallethelp

[2019-03-05 14:02] #2496 closed

[2019-03-05 14:19] sschiessl-bcp commented on #2438
Can't reproduce anymore ... 0.25 for investigations.

[2019-03-05 14:19] #2438 closed

[2019-03-05 14:21] sschiessl-bcp commented on #2480
So far 0.25 for investigations.

[2019-03-06 06:31] sschiessl-bcp opened #2511 "Dashboard - White Screen of Death"
Opening https://wallet.bitshares.org/#/account/gdex-team results in WSOD

![image](https://user-images.githubusercontent.com/33128181/53860624-e5605d00-3fe1-11e9-95a1-a1bbe524742b.png)

[2019-03-06 08:13] sschiessl-bcp commented on #2511
Took 2.

Was not reproducable in localhost environment and had to be deployed for testing. This is now solved by treating the symptom and adding more error logs to help in the future.

[2019-03-06 08:13] #2511 closed

[2019-03-06 14:56] sschiessl-bcp commented on #2111
@jcalfee Sorry for the late replay ..

Can you please try with the latest snap, 190227?

[2019-03-06 15:03] clockworkgr commented on #2426
@froooze I will need your BTS account for payment

[2019-03-06 15:58] clockworkgr commented on #2358
@sschiessl-bcp  was this fixed in integration tests?

[2019-03-06 15:59] clockworkgr commented on #2349
Yes please

[2019-03-06 16:00] clockworkgr commented on #2337
@sschiessl-bcp lets review and close this in this sprint

[2019-03-06 16:01] clockworkgr commented on #2328
@gibbsfromncis have a look at this

[2019-03-06 16:56] gibbsfromncis commented on #2349
@startailcoon can you please clarify what are the component should be updated?

[2019-03-06 16:58] gibbsfromncis commented on #2328
@startailcoon @sschiessl-bcp  what is the logic of "Remember Me" feature?

[2019-03-06 16:58] jcalfee commented on #2111
BitShares2-light_2.0.190227_amd64.snap works.

I like the snap because it sandboxes apps.  This snap will be much easier to use than my alternatives: nginx with a local https certificate (that was needed for the API to work reliably), docker..

 Thanks!

[2019-03-06 16:58] #2111 closed

[2019-03-06 17:00] jcalfee commented on #2111
By the way, are you publishing to snap's repo too?  That would need to be updated eventually.
[code]

[2019-03-07 09:56] sschiessl-bcp opened #2512 "Account history export with full details"
The current account history export explicitly maps operations to rows in the file and skips certain operations. This issue is meant to allow the requesting of
 -  the current report as is (cointracking compatible)
 - a full history of all operations (can be different format)

For that we need a ChoiceModal popping up when the user clicks the current export button that offers both choices.

[2019-03-07 10:07] sschiessl-bcp commented on #2111
Yes, every release. Are you maybe on latest release?
![image](https://user-images.githubusercontent.com/33128181/53948887-24b5a900-40c9-11e9-92ef-c1da5819584f.png)

[2019-03-07 12:06] loweherz commented on #2512
In testing the creation and selling of an asset, we saw no registration of it in the account history / .csv file. Please could you take this up as well.

[2019-03-07 12:13] sschiessl-bcp commented on #2512
What account have you been using?

[2019-03-07 12:23] loweherz commented on #2512
team1000

[2019-03-07 12:58] sschiessl-bcp commented on #2456
Started investigation to get clearer picture

[2019-03-07 15:11] jcalfee commented on #2111
Looks good

[2019-03-09 04:15] rich4231 opened #2513 "account hacked"
hello,
my bitshares account was hacked. I was sent a proposal from an unknown account and being a new user Iunknowingly accepted it. now I am locked out from my own account as my permissions has been changed. I still have all my money I just can withdraw it or trade it. the account was openledger-security which has been blacklisted in the past. the txid is
Tx b19978a52f50eccf23728695a4e98bf409c66e

[2019-03-09 07:31] abitmore commented on #2513
If you can still trade or withdraw your money, it's recommended that you create a new account and transfer all your money to the new account as soon as possible. It's you that approved the proposal with your private key, the blockchain can not undo it.

[2019-03-09 07:33] abitmore commented on #2513
Actually I don't think you are able to trade or withdraw. Your money has gone.

[2019-03-09 07:34] rich4231 commented on #2513
does bitshare really not have any control over there own exchange?

[2019-03-09 07:44] abitmore commented on #2513
Users control their accounts via private keys. Users are fully responsible for their accounts and private keys. The blockchain can not identify an account update operation is intended or due to phishing (in your word, others have no control).

[2019-03-09 09:13] startailcoon commented on #2477
## API Structure
Lets then keep the current system we have, though in the long run try to refine the code around it so it will be easier to understand for developers. Good documentation is key and the wiki article can be improved with more notes and examples.

## Code
There are currently two different code bases, one which will be removed.
1. Legacy Gateway, where each gateway had a single page (i

[2019-03-09 09:13] #2477 closed

[2019-03-09 09:21] startailcoon commented on #2328
When I see a "Remember Me" toggle and have it set to
1. **On**. Expect to not have to fill in username again, but prompt for password login.
2. **Off**. Expect that the application will not automatically fill in my username again, making the next usage not reviel who logged in last.

[2019-03-09 10:32] xeroc commented on #2513
SFYL, but there is nothing anyone can do to help you. It compares nicely with losing your bitcoin wallet -> no one can recover them.

closing

[2019-03-09 10:32] #2513 closed

[2019-03-09 15:52] remedycoin opened #2514 "Asset Disbursment Math Error"
When I created remedy.Destinia with 1 million shares I then dispersed 500000 of the tokens to my account Joe-baker. I later found that I was not able to disperse any more.  The client application seems to get the math wrong thinking that I am exceeding the maximum number of tokens. Maybe I'm doing something wrong. I'm reporting this from my phone so I don't have full access to screenshots and such

[2019-03-09 16:43] startailcoon commented on #2033
## Antified Buy Modal

- [x] Implemented the new Style Guide components to the Buy Modal.
- [x] Cleaned the code from redundant and/or unused code

### Normal Mode
![bild](https://user-images.githubusercontent.com/12114550/54074361-e8817480-4291-11e9-99e9-d96c33bfa957.png)

### Narrow Mode
![bild](https://user-images.githubusercontent.com/12114550/54074402-5168ec80-4292-11e9-9d4f-d8645949d8d3.png)

[2019-03-09 17:03] startailcoon opened #2516 "[0.5] Disabled Input/Select is difficult to read"
A Disabled Input or Select will be difficult to read by the user.

- [ ] Find a background color + text color that works on all themse for disabled fields that can still be read easily.

## Example
![bild](https://user-images.githubusercontent.com/12114550/54074653-76129380-4295-11e9-9bb4-f5e1f58b1f20.png)

[2019-03-09 17:06] startailcoon commented on #2514
If possible, can you reproduce this on the bitshares testnet and post some more details about it?

[2019-03-09 17:11] startailcoon commented on #2244
@clockworkgr Yes, it should be added in again as it looks like this was/is a used feature by the community. Can't see the reason for the removal of it.

[2019-03-09 17:25] startailcoon commented on #2293
@gibbsfromncis are you working on this?

[2019-03-09 17:28] startailcoon commented on #2487
Paid on invoice 190301, lets keep it there for now. It's final and will be merged soon.

[2019-03-10 09:32] startailcoon commented on #2205
# Antified Send Modal

Updated Send Modal to use the new Style Guide.
A few changes have been made to the design at this update

- Scam accounts can't be added to contacts directly when sending.
- Scam accounts will show a warning symbol on label (red) as well as in the list.
- Accounts that the user hold keys no longer display "remove contact". Instead it shows that the user has keys to mentioned

[2019-03-10 09:34] startailcoon commented on #1984
Fixed as part of #2205 and #2352

[2019-03-10 09:34] #1984 closed

[2019-03-10 09:36] startailcoon commented on #2352
#2205 uses the new Account Selector.

![SendModalAntified_Asset](https://user-images.githubusercontent.com/12114550/54083150-52485f80-4320-11e9-94b6-e07b0401ae08.gif)
![SendModalAntified_Voting](https://user-images.githubusercontent.com/12114550/54083151-52485f80-4320-11e9-9a8e-89e0928056dc.gif)
![SendModalAntified_Propose](https://user-images.githubusercontent.com/12114550/54083152-52e0f600-4320-

[2019-03-10 09:57] startailcoon commented on #1330
Fixed as part of #2205 and #2352 in PR #2517

[2019-03-10 09:57] #1330 closed

[2019-03-10 09:59] startailcoon commented on #1330
@clockworkgr @sschiessl-bcp @ahdigital Please check that the UX bounty was paid out towards this issue as it wasn't closed until today.

No implementation bounty required for this as it's part of another issue.

[2019-03-10 10:07] startailcoon commented on #801
I think we should enable human verification images again, as it does give an extra level of verification on usernames. Yes, addressbooks and contacts does give support, as @wmbutler mentiones in the thread, though it should still be possible to use security images.

Suggestion is to add an option in settings to turn on/off security images. When security images are on we display them as usual. We h

[2019-03-10 10:15] startailcoon commented on #2132
Issue still persists. Investigating

[2019-03-10 12:06] startailcoon commented on #2132
Page breaks as it doesn't load the balance object before trying to sort.
Adding ChainStore load of balance object on sort, and caching to eliminate redudant calls on re-sorting.

[2019-03-10 13:13] startailcoon commented on #2081
This is now possible. Closing

[2019-03-10 13:13] #2081 closed

[2019-03-10 13:28] startailcoon commented on #866
This was solved in #1859

[2019-03-10 13:28] #866 closed

[2019-03-10 14:20] litepresence opened #2519 "Price Labels in Quote Currency."
**PROBLEM**

Market prices are traditionally labeled in QUOTE CURRENCY
ie.
I want to buy a hammer at the hardware store:
`Price is $12.
`I want to buy bitcoin in a centralized exchange usd market:
`Price is 3900.00 USD`

The dex is labeled labeled (Base/Quote), so price for bitcoin market, priced in us dollars looks like:
`3900 BTC / USD`
A price is mathematically calculated in the opposite (Quote

[2019-03-10 14:47] startailcoon opened #2520 "[1] Antify Settlement Modal"
This task is to update the Settlement Modal to comply with the Style Guide.

## Current Modal
![bild](https://user-images.githubusercontent.com/12114550/54086599-11197500-434b-11e9-9a06-c6199b6b8aa2.png)

## New Modal w/ Market price in favour and not GS
![bild](https://user-images.githubusercontent.com/12114550/54086643-8422eb80-434b-11e9-943c-459d50100e1f.png)

## New Modal w/ Settle price in fa

[2019-03-10 15:09] startailcoon commented on #2519
I'm not really sure I fully understand the issue here.

Take for example the market of openBTC/bitUSD.

- We are trading openBTC for bitUSD (hence the openBTC/bitUSD tag)
- The Price is 4499 bitUSD (for 1 openBTC)
- The price is also clear at the Buy/Sell boxes, stating that the price is 4,499,99843 bitUSD per openBTC.

![bild](https://user-images.githubusercontent.com/12114550/54086965-cd286f00-4

[2019-03-10 15:13] litepresence commented on #2519
![Screenshot from 2019-03-10 11:12:51](https://user-images.githubusercontent.com/27382428/54087027-76f30600-4325-11e9-8d37-c08f9af10d7c.png)
here for example, we would like to see
`4,499.99843 bitUSD`
and anyplace else that a `price` is labelled

[2019-03-10 15:14] #2002 closed

[2019-03-10 15:20] startailcoon commented on #2519
The price of a trade in the activity list is inversable. Click on the underlined text to invert the price.

![InvertMarketTradeList](https://user-images.githubusercontent.com/12114550/54087133-5ab88e80-4350-11e9-843c-2350e093a6d4.gif)

[2019-03-10 15:22] litepresence commented on #2519
I get that it can be inverted.  But whatever it is inverted to...
the label should be the quote currency not the market pair

[2019-03-10 16:32] startailcoon opened #2522 "[2] Withdraw Modal Enhancements"
When using the Withdraw Modal there are a few enhancements that can be done to make it easier to use.

- When selecting an asset the dropdown list of gateways should also contain the amount the user owns. The user now have to also select a specific gateway to view the asset he/she owns. ([code note](https://github.com/bitshares/bitshares-ui/pull/2495/files#diff-aad1f3e8d4b5d2d9e6ad99b68f8aabb3R125

[2019-03-10 16:48] startailcoon commented on #504
@clockworkgr no. Never assigned myself to this task. It's free for grabs. I could take a look at it if none else wishes to work on it.

[2019-03-10 19:19] startailcoon commented on #2522
## Withdraw with Balance in Gateways List

When user select gateway for the asset, the list will now also display the current balance for that asset/gateway pair.

The list is also sorted alphabetically.

![WithdrawDepositWithBalance](https://user-images.githubusercontent.com/12114550/54090164-87c96900-4371-11e9-8f5a-121eb16cefbd.gif)

[2019-03-10 19:54] startailcoon commented on #2349
I'm unclear on the reason for this. Perhaps @clockworkgr can enlighten us as he seems to be experiencing the same problem as Bill?

It was first drafted by Bill, and I created the issue for it.

[2019-03-11 09:55] sschiessl-bcp commented on #2244
Does anyone have screenshots of old feature and common use-cases?

[2019-03-11 09:56] sschiessl-bcp commented on #2328
The remember me features, from the technical perspective, switches from a persistent localStorage implementation to an in-ram implementation.

[2019-03-11 10:50] #2407 closed

[2019-03-11 10:53] #2500 closed

[2019-03-11 12:19] dot5enko commented on #2477
@startailcoon ok, i'm ready to start with Legacy Gateway code removal as you mentioned above alongside with refactoring of rest code. We need either create new issue for this particular aim as a child of #2010 or i'll do this job directly in that task. So in any case you can assign that task to me

[2019-03-11 12:21] #2461 closed

[2019-03-11 12:47] sschiessl-bcp opened #2526 "[0] Exchange header 24hr change indicator broken"
https://wallet.bitshares.org/#/market/NOWCOIN_BTS

![image](https://user-images.githubusercontent.com/33128181/54124978-14bd0280-4404-11e9-89e2-b9590c151023.png)

I guess it happens on illiquid markets when there is no data available

[2019-03-12 09:04] #2033 closed

[2019-03-12 09:09] abitmore commented on #2526
Is this issue related to https://github.com/bitshares/bitshares-core/issues/1620? Try switch to an API server that is not running 2.0.190219?

[2019-03-12 09:33] abitmore opened #2527 "[1.5] Show required fee amount on permanently-reject-proposal page"
**Is your feature request related to a problem? Please describe.**
Users may hesitate when trying to permanently reject a proposal because the page shows a "pay with account" selection, although currently required fee amount is zero. (https://github.com/bitshares/bsips/issues/154#issuecomment-471645737)

![image](https://user-images.githubusercontent.com/9946777/54189183-8ef79080-44b1-11e9-8c2e-40

[2019-03-12 09:37] #2487 closed

[2019-03-12 09:41] sschiessl-bcp commented on #2526
Almost certain it is, thanks a lot for the pointer!

[2019-03-12 10:21] abitmore commented on #2526
OK. Anyway, it's harmless if UI tolerates back end bugs. ;)

[2019-03-12 16:06] twksos commented on #2327
request to work on this issue

[2019-03-12 18:26] startailcoon commented on #2327
@twksos it's yours

[2019-03-12 18:32] startailcoon commented on #2244
@sschiessl-bcp [RuDEX has it here](https://old.rudex.org/#/invoice/Ch8t3vKjc9Ydc6qskfBoDZAen1fdUAtukiLyoeeG2veD1Dv6DzGDctrDoQkUB4dBMoQn8qoon3TgbdKHdJP9yFK3r443uTpEUYHPSbwUiWJRnwi1qRumDUidzwGySGGgpb3bonKJTBeYHYvDkraz7C72RXaPFXLujCDioJMrSzqJgvL3Rd1ajA8i1GQYRf9YQZT7qhYDLPy44zEZiRmumcgS5EKZbdbXHxrQwnVh62F18Zf5fCct9CZ25xwEEHJsasLHR7Q8aVkSqtoJTzmFqse3LTijugrj3tpH34h4r1k1hnaZQUmhk2yUjgfyimnETTUasbkNtNTh)

[2019-03-12 18:50] gibbsfromncis commented on #2328
@sschiessl-bcp would you like to take this issue?

[2019-03-12 18:52] gibbsfromncis commented on #2293
@startailcoon Nope. I'll work on it before end of this sprint

[2019-03-12 18:56] #2368 closed

[2019-03-12 18:57] gibbsfromncis commented on #2317
@startailcoon I've unassigned myself

[2019-03-12 18:59] gibbsfromncis commented on #2204
@sschiessl-bcp @startailcoon do you want to take this one?

[2019-03-12 18:59] gibbsfromncis commented on #2117
@startailcoon no sense to work on it. I'm closing this task

[2019-03-12 19:02] #2030 closed

[2019-03-12 19:03] #2029 closed

[2019-03-12 19:03] gibbsfromncis commented on #2017
@startailcoon I'll close this task and keep in mind this issue when we will work on transactions confirmation window

[2019-03-12 19:07] #2117 closed

[2019-03-12 19:09] #2017 closed

[2019-03-12 19:09] #1982 closed

[2019-03-12 19:10] #1936 closed

[2019-03-12 19:10] #1925 closed

[2019-03-13 00:07] froooze commented on #2426
@clockworkgr: Can I DM you the next days?

[2019-03-13 04:06] bangzi1001 opened #2529 "Add Scam Alert"
**Is your feature request related to a problem? Please describe.**
Lot of scam going around Bitshares DEX causing lot of users losing money and also also reputation of Bitshares. The reason users get scammed easily because the reference UI and gateway UI does not deliver the message to users until they get scammed and then come to Telegram to see what is happening.

**Describe the solution you'd l

[2019-03-13 05:34] clockworkgr commented on #2426
sure...

[2019-03-13 06:27] clockworkgr commented on #2452
For reference: https://stackoverflow.com/questions/45188811/how-to-gpg-sign-a-file-that-is-built-by-travis-ci

[2019-03-13 06:50] TechsUsInc commented on #2276
@wmbutler Can you check the status please.
I pinged you because I don't think the above was followed upon iirc.

1. Integration testing 1 - comp received iirc
2. Integration testing 2 - see above comments; comp still pending
3. Integration testing 3 - status unknown

[2019-03-13 14:49] twksos commented on #2357
request to work on this one

[2019-03-13 16:05] grctest commented on #2529
I think a popup or extra steps required to transfer ownership of your account in a proposal is appropriate, but a generic scam warning could be too broad to prevent users from falling for such scams.

[2019-03-13 16:30] bangzi1001 commented on #2529
The proposal scam is sophisticated social engineering attack, thus even the UI add extra 3-5 steps also meaningless for users who are not aware it is a scam. What users see is security upgrade which is required and then they just press the buttons.

Information is Power. The scam Alert via Popup Message is the best way to inform and educate the users what kind of scam is happening now and thus eve

[2019-03-13 18:23] grctest commented on #2529
Who would have the power/authority to distribute these popup messages? If they dismiss the message without reading it will they see it again if they encounter a scam situation?

I think that if they're informed that by transferring their account keys/ownership to someone else that it's an irreversible action & that nobody from bitshares/gateways will ever ask them to do this and for them to go thr

[2019-03-13 21:27] twksos commented on #2357
@startailcoon
the 3 tasks in this story:
- make calender stationary
    done.

- move time close to right
    in pull request to bitshares/react-datepicker2

- save button
    in pull request to bitshares/react-datepicker2

This issue is blocked for now. I'll continue when the datepicker gets merged.

[2019-03-14 22:32] twksos commented on #2400
request to work on this one

[2019-03-14 23:44] gibbsfromncis commented on #2400
@twksos Can you please share your experience? What are the reasons moved you to request redesign? Your experience, suggestions or troubles of usage will help us to understand the problematic and put right priorities

[2019-03-15 00:44] twksos commented on #2400
@gibbsfromncis
If this card is for a redesign then its not for me.
I'm a full-stack developer.
I think the design has been done in #1975 and this one is for its implementation.

[2019-03-15 01:14] gibbsfromncis commented on #2400
@twksos Got it. My bad, I misunderstood you. Yep you get it correct. It is for implementation [UX from this comment](https://github.com/bitshares/bitshares-ui/issues/1975#issuecomment-448065737)

Our manager is @startailcoon. He is responsible to assign you to this task.

@startailcoon your turn.

[2019-03-15 16:12] startailcoon commented on #2400
@twksos you're welcome to work on it.

[2019-03-15 18:21] startailcoon commented on #2526
Should we find a better way to display this other than "NaN"?
It's not really a great identification for users what it means.

We should just replace "NaN" with 0 if it's empty I guess.

[2019-03-16 20:12] abitmore commented on #1674
We need to show it in **Proposed transactions page**.

[2019-03-16 20:17] abitmore commented on #1674
I'll open a new issue for this.

[2019-03-16 20:17] #1674 closed

[2019-03-16 20:22] abitmore opened #2531 "[2] Proposer doesn't show on proposals"
**Describe the bug**
On "proposed transactions" page, <del>when there is a translation error,</del> proposer name doesn't show.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://develop.bitshares.org/#/account/committee-account'
2. Click on 'Proposed transactions'
3. See error "missing translation: en.proposal.proposal_update "

**Screenshots**
![image](https://user-images.githu

[2019-03-16 20:26] abitmore commented on #2531
Actually, if there is no error, the proposer name still doesn't show. See https://develop.bitshares.org/#/account/static-checker . I only know the name was added in #1680 requested by #1674, when did it get removed?

[2019-03-16 23:56] iamredbar opened #2532 "[2.5] Coin Days not correctly displaying in Vesting Balance"
**Describe the bug**
In the desktop GUI and web wallet vesting balances that are not BTS do not correctly display coin days.

**To Reproduce**
Steps to reproduce the behavior:

(on desktop GUI or web wallet)
1. Go to hamburger menu, top right
2. Click on 'Vesting Balances'
3. See vesting balances
4. See incorrect coin days for assets other than BTS

(on wallet.crypto-bridge.org)
1. Click on 'Dashb

[2019-03-18 09:21] sschiessl-bcp commented on #2526
Proper replacement IMO would be to indicate that nothing happened, e.g. with a dash

[2019-03-19 08:35] #2205 closed

[2019-03-19 08:35] #2352 closed

[2019-03-19 08:56] #2132 closed

[2019-03-19 09:40] #2520 closed

[2019-03-19 10:00] #2327 closed

[2019-03-19 10:21] sschiessl-bcp commented on #1958
Resolved by updating dependencies like suggested in #2160 (done manually outside of PR)

[2019-03-19 10:21] #1958 closed

[2019-03-19 11:41] sschiessl-bcp commented on #1925
Please add a reason for closure. I assume due to redesign?

[2019-03-19 11:43] sschiessl-bcp commented on #2204
Would this Modal be transitionable to new layout?

[2019-03-19 11:47] sschiessl-bcp commented on #2328
IMO remember me on login dialog is enough

[2019-03-19 14:04] sschiessl-bcp commented on #2477
Can we work out specifications (for API) beforehand, and discuss if they make sense like they are?

Cutting out the legacy should be the last step in the refactoring, with grace period and notification to all involved gateways.

[2019-03-19 14:08] sschiessl-bcp commented on #2502
[8] paid in 0301

[2019-03-19 14:08] sschiessl-bcp commented on #2501
[8] paid in 0301

[2019-03-19 14:08] #2501 closed

[2019-03-19 14:09] #2503 closed

[2019-03-19 14:09] #2502 closed

[2019-03-20 07:44] sschiessl-bcp commented on #2291
Yes, it's the ping strategy. Depending on your location this might take a while. I'm closing this issue in favor of creating a new one, e.g. to introduce a geolocation based ping using an optional external service

[2019-03-20 07:44] #2291 closed

[2019-03-20 07:49] sschiessl-bcp commented on #2433
Faucet is an external service that allows account creation. Tapin is one example of an open source implementation of a faucet.

If you need one for a private chain and want as little hassle as possible, you can also contact BitShares.eu and use their services.

[2019-03-20 07:49] #2433 closed

[2019-03-20 07:50] sschiessl-bcp opened #2536 "[2.0.190207-rc2] Integration tests by @startail"
See https://github.com/bitshares/bitshares-ui/issues/2436#issuecomment-463656819

[2019-03-20 07:51] sschiessl-bcp opened #2537 "[2.0.190207-rc2] Integration tests by @xiaolujidan"
https://github.com/bitshares/bitshares-ui/issues/2436#issuecomment-463018223

[2019-03-20 07:53] sschiessl-bcp commented on #2536
Bounty: 0.5 (1 platform/browser) + 0.4 (reported issues)

[2019-03-20 07:53] #2536 closed

[2019-03-20 07:54] sschiessl-bcp commented on #2440
You have 4 reports in this issue, but 2 are not filled out. Were they done and did not work?

[2019-03-20 07:55] sschiessl-bcp commented on #2537
Bounty: 0.5 (1 platform/browser)

[2019-03-20 07:55] #2537 closed

[2019-03-20 07:55] sschiessl-bcp commented on #2537
@xiaolujidan please state your bitshares account in order to receive the bounty

[2019-03-20 07:59] TechsUsInc commented on #2440
Completed.
Any issues captured/reported.

[2019-03-20 08:08] sschiessl-bcp commented on #2440
Bounty: 2 (4 platforms/OS) + 1.8 (reported & accepted issues #2461 #2464 #2465 #2466 #2468 #2469 #2471 #2472 #2475 #2467 #2470 #2473 #2474 #2490 #2491 #2492 #2493 #2494) + 0.1 (transaction fee expenses for bartering)

[2019-03-20 08:08] #2440 closed

[2019-03-20 09:36] clockworkgr opened #2538 "[10] - Beet Development (01-15 March)"
Import BitShares Account via Pass.
Import BitShares Accounts via reference wallet .bin file.

[2019-03-20 09:36] #2538 closed

[2019-03-20 17:43] serdrdoor opened #2539 "[0.25] Incorrect links in the Membership section"
**Steps to reproduce the behavior:**
Being on page:
1. https://wallet.bitshares.org/#/account/ACCOUNT/member-stats
And if you follow the links that are listed below, then there is no transition to viewing your account.

Lifetime Referrer
Registrar
Affiliate Referrer

![image](https://user-images.githubusercontent.com/11815105/54706665-7ee64d80-4b50-11e9-8516-e44507b227b9.png)

Links are incorrect

[2019-03-20 18:10] startailcoon commented on #2539
Simple fix to this. Thanks for finding this

[2019-03-20 18:12] startailcoon commented on #2531
I thought we had this fixed :|
Would require some testing and making sure that proposer is working everywhere, still a higher priority at the current time.

[2019-03-20 18:36] startailcoon opened #2540 "[4] Deeper Analyze of Cloud Accounts vs Local Accounts handling in wallet"
The wallet has two different types of account types, one is the local account (binary-file) that allows one to have more than one account name attached to a single login. The second one is the cloud account (account + password) and only allows of one account per login.

### Current Issue
At the moment the wallet is heavily designed to use local account types. It uses this to for example
- Check if

[2019-03-20 18:38] startailcoon commented on #2514
No respons from reporter

[2019-03-20 18:38] #2514 closed

[2019-03-20 18:40] startailcoon commented on #2441
No new updates in 30 Days by reporter. No second cases reported. Closing

[2019-03-20 18:40] #2441 closed

[2019-03-20 18:42] startailcoon commented on #1892
Is this a feature requested by the community?

[2019-03-20 19:23] gibbsfromncis commented on #2328
@sschiessl-bcp I suppose @TechsUsInc means he wants to have some kind of "Logout" feature.

@TechsUsInc Am I correct?

[2019-03-20 19:24] gibbsfromncis commented on #2204
@sschiessl-bcp I'm not sure... Functionality - yes. Interface - Maybe...

[2019-03-20 19:25] gibbsfromncis commented on #1925
@sschiessl-bcp because I'll rethink how style-guide works when we start redesign, you're correct.

[2019-03-20 21:42] sschiessl-bcp commented on #1892
No, it's a feature that the backend has and is missing in UI. Maybe and due to the limited user base it could be for asset action site

[2019-03-21 01:04] TechsUsInc commented on #2328
Yes correct. I had assumed the easiest solution was to just offer secondary access to the same feature for security, a better user experience, and anticipating increased adoption consider the following use case examples:

- More than one BitShares user sharing a device such as (husband,wife,kids,Grandparents,etc); home computer, laptop, tablet. Applicable regardless if the whole family has a BitSh

[2019-03-21 06:20] sschiessl-bcp commented on #2204
Thanks, will assess

[2019-03-21 06:24] sschiessl-bcp commented on #2328
Ok, so you would like something like a logout feature. We have a separate issue for that one. Closing this

[2019-03-21 06:24] #2328 closed

[2019-03-21 06:32] #1872 closed

[2019-03-21 06:51] #2522 closed

[2019-03-21 06:54] #2233 closed

[2019-03-21 06:54] sschiessl-bcp commented on #2233
The actual bug was minor, please check/confirm the estimate @MikhailKavalenka

[2019-03-21 07:07] sschiessl-bcp commented on #2327
@twksos please state your bitshares account for bounty

[2019-03-21 08:49] MikhailKavalenka commented on #2233
@sschiessl-bcp , you can put an hour, thanks.

[2019-03-22 01:06] gibbsfromncis commented on #2497
Hours Reporting: 8:28:22

[2019-03-22 10:03] sschiessl-bcp commented on #2531
Checking this now, needs to be in next release

[2019-03-22 10:13] sschiessl-bcp commented on #2531
#1680 only added the proposer name if the first operation is a `transfer`. Generalizing now

[2019-03-22 10:32] #2531 closed

[2019-03-22 10:33] sschiessl-bcp commented on #2531
Took 0.5

[2019-03-22 10:35] sschiessl-bcp commented on #2531
Will be refactored within #2499 as well

[2019-03-22 10:39] sschiessl-bcp commented on #2529
What is the idea on the scam alert?

Should:
 - the UI recognize that something scammy is going on by itself and do a warning?
 - the UI connect to for example a dedicated github repositories where scam alerts can be pushed that will then be shown once in UI?

[2019-03-22 13:38] bangzi1001 commented on #2529
"the UI connect to for example a dedicated github repositories where scam alerts can be pushed that will then be shown once in UI?"

Something like this but only UI team(to prevent misuse by others) able push scam alert that show on UI. Not once but probably few times or a period of time.

[2019-03-23 06:53] manikey123 opened #2542 "balance summary enhancement feature as implemented in CEXs for traders who want to view portfolio closely in BTC, USD"
**Is your feature request related to a problem? Please describe.**
The feature is to facilitate frequent traders that need to view their portfolio counts , in terms of terms of BTC  and USD.
It is frustrating to see BTS count and not relate in terms of BTC and USD equivalence on the fly
Currently portfolio summary count is only BTS count.

**Describe the solution you'd like** **Describe alternativ

[2019-03-23 09:46] manikey123 commented on #2542
in top left corner of BTS screen, feel it would be meaningful to print BTScount , IIRC based bitUSD value or IIRC based bitBtc value

[2019-03-23 18:56] abitmore opened #2543 "[5][Keegan-lee] Account activities: Refine export function"
**Is your feature request related to a problem? Please describe.**
The export feature is not obvious enough.
![image](https://user-images.githubusercontent.com/9946777/54870354-aa15aa80-4da5-11e9-8367-5e0847b95455.png)

**Describe the solution you'd like**
Add text.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consider

[2019-03-24 16:59] CryptoKong opened #2544 "Search function doesnt work properly"
**Describe the bug**
The search function on my markets on the exchange page doesn't work properly. From a users perspective this is a pretty basic feature that everyone expects to work 100%. If a user comes to bitshares to trade a specific market, searches and it returns no results then we just lost a user. I don't know how much work is involved in fixing this but it needs doing. How can we market

[2019-03-24 18:24] startailcoon commented on #2544
Quote currency isn't designed to use prepending names, like "OPEN.".
I'd say it may be a design flaw, since you could wish to find markets with Quote of `OPEN.ETH` and Base of `GDEX`, where base is all GDEX markets.

Right now you can't do that. Base is wildcard, but Quote isn't.

We need to look on the resource impact of this and if we need to limit or optimise this feature better.

[2019-03-24 18:26] startailcoon commented on #2543
We have enough space to at least have a label to this, very true.

[2019-03-24 18:28] startailcoon commented on #2317
I will look on a feature for this

[2019-03-24 18:49] abitmore opened #2545 "[0.5] Update account history object sorting logic"
**Describe the bug**
Current code for sorting account history object will be obsolete after https://github.com/bitshares/bitshares-core/issues/1675 is done.
https://github.com/bitshares/bitshares-ui/blob/83edcc3a7bee73410d9efeee690ffbf86a70d6a9/app/components/Account/RecentTransactions.jsx#L22-L28

The correct logic is to compare all the 4 fields `(block_num, trx_in_block, op_in_trx, virtual_op)`

[2019-03-24 21:03] CryptoKong commented on #2544
Ok cool thanks for clarifying. One of bitshares unique selling points is that any asset is tradeable vs any other asset so really a user would expect to easily search (and find) any desired pairing.

[2019-03-24 23:05] adamvp commented on #1065
why this issue still open? nobody believes in potential of this solution?

[2019-03-25 07:16] manikey123 commented on #2504
claiming this ticket. do suggest

[2019-03-25 08:42] startailcoon commented on #2504
It's yours @manikey123

[2019-03-25 12:40] gibbsfromncis opened #2550 "[StyleGuide] Add DatePicker, DateTime Picker"
Add the picker components from antd to styleguide

[2019-03-26 12:19] CryptoKong opened #2551 "Favouriting a market should also add it"
This is also related to issue #2544

Seeing as the search function doesnt work and we have to go the long way round to find a market can we make the favourting function (clicking the star) also add the market to our list so it actually appears on my markets. Its ridiculous and very time consuming having to manually browse to find a market every time I switch to a different market.

These little fr

[2019-03-27 08:02] #2550 closed

[2019-03-27 08:10] gibbsfromncis commented on #2550
Adjust estimate for 1h

[2019-03-27 09:55] gibbsfromncis commented on #2497
Time adjusted to 12h

[2019-03-28 09:27] #2241 closed

[2019-03-28 09:27] #2539 closed

[2019-03-28 19:03] startailcoon commented on #2233
Assume you've tested it properly and the requirements to find the issue.

[2019-03-29 09:43] bangzi1001 opened #2555 "[0.25] Tracking Cookie for Lifetime Member Referral Program"
**Is your feature request related to a problem? Please describe.**
When lifetime member Mr. Apple bring new user Mr. Banana to Bitshares reference wallet via referral link eg. https://wallet.bitshares.org/?r=apple, the referral program only work if the Mr. Banana register within the session. If Mr. Banana visit and leave without register but come back next day via direct type in wallet.bitshares.o

[2019-03-29 14:12] #2497 closed

[2019-03-29 14:43] #2457 closed

[2019-03-29 14:53] sschiessl-bcp opened #2556 "Upgrade css-loader to newest version"
Getting this with 2.1.1 (we currently have 0.28.11)

`Error: Loading PostCSS Plugin failed: Cannot find module 'autoprefixer'`

[2019-03-29 22:48] sschiessl-bcp commented on #2436
Thanks to everyone for participating. Payouts should have been received now.